
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Use Case Based User Guide - How do I view all accounts for performing Account Management activities?</title>
<link href="../../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "../..";
gCommonRootRelPath = "../..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "3.0_2";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../../First_Topic.htm" class="homelink"><img src="../../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../../First_Topic.htm" class="homelink"><span>Use Case Based User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="3416">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../../First_Topic.htm"><img src="../../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>How do I view all accounts for performing Account Management activities?</h1>
     <p>&#160;</p>
     <p>A User Account contains the data about a user and is often associated 
 with an ID. These Accounts are used to record user details, track user 
 activities, and push organizational updates to related systems/devices. 
 In Tuebora , Accounts are used to identify users imported in to Tuebora 
 IAM activities.</p>
     <p>Each user is associated with an Account and identified by an Account 
 name.</p>
     <p>You can view all accounts for which account management by Help Desk 
 user is enabled in Tuebora from <span style="font-weight: bold;">All</span> 
 <span style="font-weight: bold;">Accounts</span> page.</p>
     <p class="list" style="margin-left: 0pt; font-weight: bold; color: VeryDarkBlue;"><span 
	 style="font-weight: bold; color: VeryDarkBlue;"><span><span style="font-weight: bold; 
	 color: VeryDarkBlue;"><span>Navigation</span></span></span></span></p>
     <table class="Navigation" style="border: Solid 1px #000000; margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">You can view all accounts from <span style="font-weight: bold;">Accounts 
		 &gt; All Accounts </span></p></td>
	</tr>
 </table>
 <h4>Types of Accounts</h4>
 <p>In the portal, there can be different types of Accounts, based on the 
 status, activity, and other such factors. The categorization of Accounts 
 in the portal, depend on the data obtained from the Assets. The Account 
 types categorized in the portal are as follows:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Accounts</span>&#160;- Accounts associated 
 with Users in the system and which are active in the system.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Locked</span> <span style="font-weight: bold;">Accounts</span>&#160;- 
 If a user exceeds the maximum number of failed login attempts during first 
 login to the portal for enrollment or subsequent login, the user Account 
 gets <span style="font-weight: bold;">locked</span>.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Orphaned Accounts</span> - Accounts that 
 are not associated with users.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Disabled Accounts</span> - Accounts that 
 are disabled in the target application.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Enabled Accounts</span> - Accounts that 
 are enabled in the system.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">To be Expired Accounts</span> -Accounts 
 with expiration date set. To be expired accounts considers any account 
 with expiry date set even if it is 20 years down the line.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Service Accounts</span> - Accounts used 
 by the applications to interact with other applications. If Accounts are 
 tagged as Service Accounts in Governance specification of an Asset then 
 those accounts are displayed as Service Accounts. For more information 
 on tagging Service Accounts, refer Tuebora IAM Suite Administrator Guide.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">System Accounts</span> - Accounts created 
 for the installation of the applications. If Accounts are tagged as System 
 Accounts in Governance specification of an Asset then those accounts are 
 displayed as System Accounts. For more information on tagging System Accounts, 
 refer Tuebora IAM Suite Administrator Guide.</p>
 <p style="margin-left: 100px; 
											 margin-top: 6pt; margin-bottom: 6pt; 
											 text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password Expired Accounts</span> - An Account 
 password expires based on the password age (expiration period) set in 
 the system. The password expiration date is calculated by considering 
 the date on which the password was last set. Those Accounts for which 
 the password age has crossed the set expiration period are displayed as 
 Password Expired Accounts. Users can reset Account passwords by specifying 
 new passwords, matching the password policy.<br />
<br />
Password Expired Accounts are displayed based on the collection. If password 
 was reset in AD and not collected, then date will not be shown correctly.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="../../Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText" style="font-weight: normal;"><span style="font-weight: bold;">Note</span>: 
		 The <span style="font-weight: bold;">Status</span> for the accounts 
		 are updated when the data is collected from the Asset. &#160;<br />
		<br />
		The Account status for <span style="font-weight: bold;">Disabled 
		 Accounts, Locked Accounts, Password Expired Accounts</span> is 
		 displayed based on the last data collection made from the Asset. 
		 In each deployment, you must be aware of &#160;the data collection 
		 frequency to ascertain the account status.</p></td>
	</tr>
 </table>
 <p>Help Desk user can perform the following from <span style="font-weight: bold;">All 
 Accounts</span> page:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Searching_Accounts">Search Accounts</a></p></li>
	<li>
 <p class="list"><a href="#Filtering_Accounts">Filter Accounts</a></p></li>
</ul>
<h2><a name="Searching_Accounts"></a>Searching Accounts</h2>
<p>Help Desk user can search the required accounts by specifying the search 
 criteria in the <span style="font-weight: bold;">Search</span> field provided 
 in <span style="font-weight: bold;">All Accounts</span> page.</p>
<h2><a name="Filtering_Accounts"></a>Filtering Accounts</h2>
<p>Help Desk can filter the accounts based on the Account Type. The Show 
 functionality provided in All Accounts page allows filtering the accounts. 
 The options provided to filter the accounts are:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">All Accounts</span> 
	 - Displays all types of accounts in the system. By default this filter 
	 option is applied to list the accounts on All Accounts page.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Disabled Accounts</span> 
	 - To view only the disabled accounts.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Enabled Accounts</span> 
	 - To view the accounts that are enabled in the system.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Expired Accounts</span> 
	 - To view the accounts that are expired.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Locked Accounts</span> 
	 - To view the accounts that are locked.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Orphaned Accounts</span> 
	 - To view the accounts that are not associated with the users.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Password Expired 
	 Accounts</span> - To view the accounts for which the password has 
	 expired.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">To be Expired 
	 Accounts</span> - To view the accounts which are going to expire based 
	 on the expiration date set.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Service Accounts</span> 
	 - To view the service accounts used for application integration.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">System Accounts</span> 
	 - To view the system accounts.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">User Accounts</span> 
	 - To view the accounts that are associated with users in the system.</p></li>
</ul>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
