
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Administrator Guide - Access Provisioning and Deprovisioning History</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "3.0_3";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>Administrator Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="104">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Password_Synchronization_Rules.htm" style="color: #008000;">Password 
		 Synchronization Rules</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="All_Workflows.htm" 
															 style="color: #008000;">All 
		 Workflows</a></p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h1>Access Provisioning History</h1>
 <p>Access Provisioning History page lists all completed provisioning and 
 Deprovisioning done to the user Accounts from the system.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">If 
		 you have migrated form V1.9.3 to V1.10, then the Provisioning 
		 History page lists the Failed provisioning and deprovisioning 
		 activities.</span></p></td>
	</tr>
 </table>
 <p style="margin-left: 0px; color: #003868; font-weight: bold;">Navigation</p>
 <table class="Table" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1st" style="height: 36px;">
		<td style="background-color: Transparent;">
  <p class="TableText" 
														 style="margin-bottom: 4.5pt; 
														 color: #000000; 
														 font-weight: normal;">To 
		 access the <span style="font-weight: bold;">Provisioning History</span> 
		 feature, select <span style="font-weight: bold;">MENU &gt; Workflows 
		 &gt; Provisioning History</span>.</p></td>
	</tr>
 </table>
 <h2>Using the Provisioning History Page</h2>
 <p>You can perform the following actions from the page:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;"><a 
	 href="#Viewing_Details">View details of tasks</a></p></li>
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;"><a 
	 href="#Filtering_Results">Filter results based on status</a></p></li>
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;"><a 
	 href="#Navigating_to_Details_pages">Navigate to Details pages</a></p></li>
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;"><a 
	 href="#Searching_Results">Search results</a></p></li>
</ul>
<br style="page-break-before: always;" />

<h3><a name="Viewing_Details" id="Viewing_Details"></a>Viewing Details</h3>
<p>The <span style="font-weight: bold;">Status</span> and <span style="font-weight: bold;">User</span> 
 columns provide an overview of status of the activity and user for whom 
 the activity is performed.</p>
<p><span style="font-size: 13.3333330154419px; line-height: normal; orphans: auto; 
		 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
		 float: none; background-color: #ffffff;">The</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-size: 13.3333330154419px; line-height: normal; orphans: auto; 
	 widows: 1; -webkit-text-stroke-width: 0px; font-weight: bold; background-color: #ffffff;">Activity</span><span 
	 class="Apple-converted-space">&#160;</span><span style="font-size: 13.3333330154419px; 
														 line-height: normal; 
														 orphans: auto; 
														 widows: 1; -webkit-text-stroke-width: 0px; 
														 display: inline	 ! important ; 
														 float: none; background-color: #ffffff;">column 
 explains what action is triggered and</span> <span style="font-size: 13.3333330154419px; 
													 line-height: normal; 
													 orphans: auto; widows: 1; 
													 -webkit-text-stroke-width: 0px; 
													 font-weight: bold; 
													 background-color: #ffffff;">Details</span><span 
	 class="Apple-converted-space">&#160;</span><span style="font-size: 13.3333330154419px; 
														 line-height: normal; 
														 orphans: auto; 
														 widows: 1; -webkit-text-stroke-width: 0px; 
														 display: inline	 ! important ; 
														 float: none; background-color: #ffffff;">column 
 lists all details of the action.</span></p>
<h3 style="-webkit-text-stroke-width: 0px;"><a name="Filtering_Results" 
												 id="Filtering_Results"></a>Filtering 
 Results</h3>
<p><span style="-webkit-text-stroke-width: 0px;">Y</span>ou can use the 
 drop down provided in the&#160;<span style="font-weight: bold;">Status</span>&#160;column 
 to filter activities, based on actions that were&#160;<span style="font-weight: bold;">Completed 
 and Failed</span>.</p>
<ul style="list-style: disc; line-height: normal; orphans: auto; widows: 1; 
		 -webkit-text-stroke-width: 0px;">
	<li>
 <p class="list"><span style="font-weight: bold;">Completed (</span><img src="Images/Icon_Completed.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" /><span 
	 style="font-weight: bold;">)</span> - Lists all the provisioning and 
	 deprovisioning actions that are completed.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Failed (</span><img src="Images/Icon_Failed.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /><span 
	 style="font-weight: bold;">)</span> - Lists all the provisioning and 
	 deprovisioning actions that were initiated, but failed to take effect.</p></li>
	
</ul>
<p><span style="font-size: 13.3333330154419px; line-height: normal; orphans: auto; 
		 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
		 float: none; background-color: #ffffff;">I</span><span style="font-size: 13.3333330154419px; 
	 line-height: normal; orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; 
	 display: inline	 ! important ; float: none; background-color: #ffffff;">cons 
 next to the records, indicate the status of the action.</span></p>
<h3><a name="Navigating_to_Details_pages" id="Navigating_to_Details_pages"></a>Navigating 
 to Details pages</h3>
<p>Click on the underlined clickable items to navigate to pages showing 
 details of the attributes/entities. For example, if you click a User Name, 
 the<span class="Apple-converted-space">&#160;</span><span style="font-size: 13.3333330154419px; 
															 line-height: normal; 
															 orphans: auto; 
															 widows: 1; 
															 -webkit-text-stroke-width: 0px; 
															 font-weight: bold; 
															 background-color: #ffffff;">User 
 Details</span><span class="Apple-converted-space">&#160;</span><span style="font-size: 13.3333330154419px; 
	 line-height: normal; orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; 
	 display: inline	 ! important ; float: none; background-color: #ffffff;">page 
 opens, and if you click an Asset Name, the</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-size: 13.3333330154419px; line-height: normal; orphans: auto; 
	 widows: 1; -webkit-text-stroke-width: 0px; font-weight: bold; background-color: #ffffff;">Asset 
 Details</span> page opens.</p>
<h3><a name="Searching_Results" id="Searching_Results"></a>Searching Results</h3>
<p>You can search for specific records from the History. For example, if 
 you want to view details of all provisioning and deprovisioning activities 
 done for a specific user, type the name of the user in the box, available 
 in <span style="font-weight: bold;">User</span> column. The page refreshes 
 to display all records for the specified user.</p>
<p>To search results in the <span style="font-weight: bold;">Activity</span> 
 column, specify the Assets or resources in which Access is granted. Some 
 examples are Account names, Assets, and Resources.</p>
<p>&#160;</p>
<table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Password_Synchronization_Rules.htm" style="color: #008000;">Password 
		 Synchronization Rules</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="All_Workflows.htm" 
															 style="color: #008000;">All 
		 Workflows</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
