
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Administrator Guide - Notification History</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "6.2.0_2";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>Administrator Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1088">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Email_Server_Configuration.htm" style="color: #008000;">Email 
		 Server Configuration</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Archived_Alters.htm" 
															 style="color: #008000;">Archived 
		 Alters</a></p></td>
	</tr>
 </table>
 <h1>Notification History</h1>
 <p>Tuebora Portal sends Email and SMS notifications to authorized users, 
 if Email and SMS settings are configured in the system. <span style="font-size: 13.3333330154419px; 
	 line-height: normal; orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; 
	 display: inline	 ! important ; float: none; background-color: #ffffff;">If 
 these settings are configured in Tuebora Portal, then the system maintains 
 a history of all Email and SMS notifications sent to users from the system.</span> 
 You can view details of all Email and SMS sent, by using the <span style="font-weight: bold;">Notification</span> 
 <span style="font-weight: bold;">History</span> feature.</p>
 <p>Notification History page shows details of notifications and allows 
 you to resend failed Emails and SMS. The feature also enables you to search 
 notifications, based on specified criteria and filter and view notifications 
 over a period of time.</p>
 <p>Following figure shows an example <span style="font-weight: bold;">Notification 
 History</span> page.</p>
 <p><img src="Images/NotificationHistory.png" alt="" style=" border:none; width:100%; max-width:1146px;" border="0" /></p>
 <p>In <span style="font-weight: bold;">Notification</span> <span style="font-weight: bold;">History</span> 
 page, the notifications are grouped based on the <span style="font-weight: bold;">Type</span> 
 - Emails and SMS, and <span style="font-weight: bold;">Status</span> - 
 Sent and Failed. When you navigate to this page, by default, <span style="font-weight: bold;">Sent 
 Emails</span> option is selected. To view Sent SMS notifications or Failed 
 Notifications, select the corresponding icons.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Notifications generated from the notification rules are also listed 
		 on the <span style="font-weight: bold;">Notification History</span> 
		 page.</p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h3>Graphical Representations</h3>
 <p>In Notification History page, following icons represent the specific 
 group of notifications:</p>
 <p><img src="Images/Icon_SentEmail.png" alt="" style=" border:none; width:100%; max-width:29px;" border="0" /> 
 &#160;- &#160;Sent Emails</p>
 <p><img src="Images/Icon_SentSMS.png" alt="" style=" border:none; width:100%; max-width:31px;" border="0" /> 
 &#160;- &#160;Sent SMS</p>
 <p><img src="Images/Icon_FailedEmail.png" alt="" style=" border:none; width:100%; max-width:29px;" border="0" /> &#160;- &#160;Failed Emails</p>
 <p><img src="Images/Icon_FailedSMS.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /> 
 &#160;- &#160;Failed SMS</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 If there are no failed notifications, then Tuebora Portal displays 
		 the grayed out Failed Emails <span style="font-size: 14pt;">(</span><img src="Images/Icon_FailedEmail_Gray.png" alt="" style=" border:none; width:100%; max-width:29px;" border="0" /><span style="font-size: 14pt;">)</span> &#160;and 
		 Failed SMS&#160;<span style="font-size: 14pt;">(</span><img src="Images/Icon_FailedSMS_Gray.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /><span style="font-size: 14pt;">)</span> 
		 &#160;icons.</p></td>
	</tr>
 </table>
 <h2>Using Notification History Feature</h2>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Viewing_Notification_Details">View Notification Details</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Searching_Notifications">Search Notifications</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Filtering_Notifications">Filter Notifications</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Resending_Failed_Notifications">Resend Failed Notifications</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Viewing_Resend_History">View Failure History</a></p></li>
</ul>
<p style="margin-left: 0px; font-weight: bold; color: #003868;">Navigation</p>
<table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">Notifications</span> 
		 <span style="font-weight: bold;">History</span> page, select <span 
		 style="font-weight: bold;">MENU &gt; System &gt; Notification 
		 &gt;</span> then click <span style="font-weight: bold;">History</span> 
		 tab.</p></td>
	</tr>
 </table>
 <h3><a name="Viewing_Notification_Details" id="Viewing_Notification_Details"></a>Viewing 
 Notification Details</h3>
 <p>Tuebora Portal Administrator can view details of all notifications sent 
 to users from the system.</p>
 <p>To view notification details, perform the following:</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the required Notification Type (<span style="font-weight: bold;">Example</span> 
 - Failed Emails).<br />
System lists all records available for the selected notification type, 
 on the right pane.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the required email notification from the right pane.<br />
The selected notification details are displayed on the right pane.<br />
<br />
<img src="Images/NotificationDetails.png" alt="" style=" border:none; width:100%; max-width:1356px;" border="0" /></p>
 <h3>Supported Activities in Notification Details Page</h3>
 <p>When you view details of a failed notification, system shows the following 
 buttons in the details section:</p>
 <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Resend Emails/SMS</span> - Use this to 
 resend failed notifications. For more information, see <a href="#Resending_Failed_Notifications">Resending 
 Failed Notifications</a>.</p>
 <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">History</span> - Use this to view the reason 
 for the notification failure. For more information, see <a href="#Viewing_Resend_History">Viewing 
 Notification Failure History</a></p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 System displays the History button for <span style="font-weight: bold;">Sent 
		 Notifications</span> which were failed in the first attempt and 
		 sent successfully in the follow-up resend(s).</p></td>
	</tr>
 </table>
 <h3><a name="Searching_Notifications" id="Searching_Notifications"></a>Searching 
 Notifications</h3>
 <p>When you select a specific type of notification (<span style="font-weight: bold;">Example</span> 
 - Sent Emails), the <span style="font-weight: bold;">Notification History</span> 
 page lists all the corresponding notifications in the system. At times, 
 it may be difficult to browse through all records to find the notification 
 details you require. <span style="line-height: normal; orphans: auto; 
							 widows: 1; -webkit-text-stroke-width: 0px;">Tuebora 
 Portal</span> provides the functionality to search for required Notifications 
 in the selected type of notifications.</p>
 <p>As an Administrator, you want to search for all SMS notifications sent 
 to a specific user, Sarah Anton. To view the notification records, perform 
 the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Sent SMS</span> <span style="font-size: 18pt;">(</span><img src="Images/Icon_SentSMS.png" alt="" style=" border:none; width:100%; max-width:31px;" border="0" /><span 
	 style="font-size: 18pt;">)</span>.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 search criteria, <span style="font-weight: bold;">Sarah</span> <span style="font-weight: bold;">Anton</span>, 
 in the <span style="font-weight: bold;">Search</span> box and click <img src="Images/Icon_Search.png" alt="" style=" border:none; width:100%; max-width:22px;" border="0" />.<br />
The page refreshes to show all the SMS notifications sent to Sarah Anton.<br />
<br />
<img src="Images/Search_NotifiHistory.png" alt="" style=" border:none; width:100%; max-width:1015px;" border="0" /></p>
 <p>To clear the criteria specified in Search box, click <img src="Images/Icon_SearchClear.png" alt="" style=" border:none; width:100%; max-width:9px;" border="0" /> 
 (clear) icon.</p>
 <h5>Search Criteria</h5>
 <p>To search a specific record, you must type the search criteria in the 
 Search box. Tuebora Portal supports the following search criteria for 
 Notification History search:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Notification 
	 Content</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Sent 
	 to User</p></li>
</ul>
<h3><a name="Filtering_Notifications" id="Filtering_Notifications"></a>Filtering 
 Notifications</h3>
<p>When you view the specific group of notifications, it may display too 
 many records. You may want to further drill down and view only the required 
 records. The feature provides options to narrow down results over a period 
 of time. The supported options to filter Notification History records 
 are as follows:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>All</p>
<p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Today</p>
<p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Last 
 7 Days</p>
<p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Last 
 30 Days</p>
<p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Last 
 90 Days</p>
<p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 Period</p>
<br style="page-break-before: always;" />

<p style="margin-top: 3pt; margin-bottom: 3pt; font-weight: bold;">Example</p>
<p style="margin-top: 3pt; margin-bottom: 3pt;">You want to view all email 
 notifications sent between 5 and 9 September, 2016. Click <span style="font-weight: bold;">Select</span> 
 <span style="font-weight: bold;">Period</span> option and specify the 
 <span style="font-weight: bold;">From</span> and <span style="font-weight: bold;">To 
 Date</span> and click <span style="font-weight: bold;">Search</span>.<br />
<br />
<img src="Images/SelectPeriod.png" alt="" style=" border:none; width:100%; max-width:555px;" border="0" /><br />
<br />
The page refreshes to show all notifications sent during 5 and 9 September, 
 2016.<span style="color: #ff0000; font-weight: bold;"><br />
</span></p>
<h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Resending_Failed_Notifications" 
													 id="Resending_Failed_Notifications"></a>Resending 
 Failed Notifications</h3>
<p>In Tuebora Portal, sending notifications to users can fail if the User 
 Email ID/Phone Number is not valid and Email/SMS Server configuration 
 in the system is wrong. Administrator can resend the failed notifications 
 to users from the system.</p>
<p>Supported methods to resend notification are as follows:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Resending_a_Failed_Notification">Resend a Failed Notification</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Resending_All_Failed_Notifications">Resend All Failed Notifications</a></p></li>
</ul>
<p style="margin-left: 0px;"><a name="Resending_a_Failed_Notification" 
								 id="Resending_a_Failed_Notification"></a><span 
	 style="font-size: 12pt; color: #003868;">Resending a Failed Notification</span></p>
<p style="font-weight: bold; margin-top: 5pt; margin-bottom: 5pt;">Example</p>
<p style="margin-top: 5pt; margin-bottom: 5pt;">You want to resend a failed 
 Email notification to notify the Asset Owner (<span style="font-weight: bold;">Example</span> 
 - Alan Butler) of Exchange Server Asset Health Report generated on 7 September 
 2016.</p>
<p style="margin-top: 5pt; margin-bottom: 5pt;">To resend a failed notification, 
 perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Failed</span> <span style="font-weight: bold;">Emails</span> 
 <span style="font-size: 12pt;">(</span><span style="font-size: 16pt;"><img src="Images/Icon_FailedEmail.png" alt="" style=" border:none; width:100%; max-width:22px;" border="0" /></span><span style="font-size: 12pt;">)</span>.<br />
System displays all failed email notifications.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Email notification that you want to resend.<br />
The selected notification details are displayed on the right pane.<br />
<br />
<img src="Images/ResendNotification.png" alt="" style=" border:none; width:100%; max-width:1196px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Resend</span> <span style="font-weight: bold;">Email</span>. 
 A pop up appears asking for confirmation on resending the notification.<br />
<br />
<img src="Images/ResndConfiramtion.png" alt="" style=" border:none; width:100%; max-width:407px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Resend</span> to confirm resending the 
 notification. System shows the message that the notification is resent 
 successfully.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">OK</span>.<br />
The notification that is resent successfully is removed from the list of 
 failed emails and you can view it in <span style="font-weight: bold;">Sent</span> 
 <span style="font-weight: bold;">Emails</span> section.</p>
<p style="font-size: 12pt; color: #003868;"><a name="Resending_All_Failed_Notifications" 
												 id="Resending_All_Failed_Notifications"></a>Resending 
 All Failed Notifications</p>
<p style="font-weight: bold;">Example</p>
<p style="font-weight: normal;">In an organization, to keep the mail server 
 credentials secured, server password is updated at regular intervals. 
 As per this policy, Administrator updated email server password on 10 
 September, 2016 and did not update it in Tuebora Portal. Because of this, 
 all notifications sent from Tuebora Portal on 10 September failed to deliver. 
 You can use the <span style="font-weight: bold;">Resend</span> <span style="font-weight: bold;">All</span> 
 option to resend all failed email notifications at once after updating 
 the email notification configuration.</p>
<p style="font-weight: normal;">To send all failed email notifications, 
 perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Failed</span> <span style="font-weight: bold;">Emails</span> 
 <span style="font-size: 16pt;">(</span><img src="Images/Icon_FailedEmail.png" alt="" style=" border:none; width:100%; max-width:29px;" border="0" /><span style="font-size: 16pt;">)</span>.<br />
System displays all failed email notifications.<span style="text-indent: -20px;"><br />
<br />
<img src="Images/ResendAllNotifications.png" alt="" style=" border:none; width:100%; max-width:1119px;" border="0" /></span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Resend</span> <span style="font-weight: bold;">All</span>. 
 A pop up appears asking for confirmation on resending all notifications.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Resend</span> <span style="font-weight: bold;">All</span> 
 to confirm resending all notifications. System shows the message that 
 all notifications are resent successfully.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">OK</span>.<br />
You can view the notifications that are resent successfully in <span style="font-weight: bold;">Sent</span> 
 <span style="font-weight: bold;">Emails</span> section.<br />
<br />
After all the failed emails are resent successfully, the Failed Emails 
 icon gets grayed out and you cannot click.</p>
<h3><a name="Viewing_Resend_History" id="Viewing_Resend_History"></a>Viewing 
 Notification Failure History</h3>
<p>When notifications sent to users fail to get delivered, Tuebora Portal 
 records the reason for the failure for reference. An administrator can 
 use <span style="font-weight: bold;">History</span> option to verify the 
 reason for the failure.</p>
<p>To view the notification failure history, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Failed</span> <span style="font-weight: bold;">SMS</span> 
 <span style="font-size: 16pt;">(</span><img src="Images/Icon_FailedSMS.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /><span style="font-size: 16pt;">)</span>.<br />
System displays all failed SMS notifications.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the SMS notification for which you want to verify the reason for failure.<br />
The selected notification details are displayed on the right pane.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">History</span>. The History subwindow 
 opens.<br />
<br />
<img src="Images/FailureHistory.png" alt="" style=" border:none; width:100%; max-width:405px;" border="0" /><br />
<br />
It shows when the notification sending failed and the reason for the failure.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>After 
 verifying the reason click <span style="font-weight: bold;">Close</span>.<br />
<br />
After verifying the failure reason, Administrator must make the required 
 corrections in the system and resend notifications to users.</p>
<br style="page-break-before: always;" />

<table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Email_Server_Configuration.htm" style="color: #008000;">Email 
		 Server Configuration</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Archived_Alters.htm" 
															 style="color: #008000;">Archived 
		 Alters</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
