
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Administrator Guide - Password Policy</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "4.1_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>Administrator Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1136">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


<br style="page-break-before: always;" />
     <h1>Password Policy</h1>
     <p style="margin-top: 8pt; margin-bottom: 8pt;">A password policy defines the requirements for a strong password in an organization. Enforcing the policy ensures that each Account password is strong enough and cannot be hacked easily. It also includes, requiring users to change their passwords regularly, specifying minimum number of characters for passwords and setting passwords to meet certain complexity requirements.</p>
     <p style="margin-top: 8pt; margin-bottom: 8pt;">In Tuebora Portal, a default Password Policy is provided for password management. This policy defines the password requirements for all accounts of all users in different Assets integrated with Tuebora Portal. Apart from this, system allows to create custom Asset-specific Password Policies by defining the Password Criteria and Assets.</p>
     <p style="margin-top: 8pt; margin-bottom: 8pt;">Administrator can use the <span style="font-weight: bold;">Password</span> <span style="font-weight: bold;">Policies</span> feature to configure Password Polices.</p>
     <p style="margin-top: 8pt; margin-bottom: 8pt;">In any Tuebora Portal deployment, if custom password policies are not created, then default password policy is enforced for all password management activities performed for all integrated Assets. If Asset-specific password policies are added, then system enforces the policy corresponding to the Asset for which the password management activity is performed. For more information on password policy enforcement in different scenarios, see <a href="#Use_Cases">Use Cases</a>.</p>
     <h2 style="margin-top: 8pt; margin-bottom: 8pt;">Using Password Policies Feature</h2>
     <p style="margin-top: 5pt; margin-bottom: 5pt;">You can use the Password Policies feature to perform the following:</p>
     <ul style="list-style: disc;">
      <li>
      <p class="list"><a href="#Viewing_Default_Password_Policy">View Default Password Policy</a></p>
</li>
      <li>
      <p class="list"><a href="#Configuring_Password_Policy">Configure Password Policy</a></p>
</li>
      <li>
      <p class="list"><a href="#Managing_Password_Policies">Manage Password Policies</a></p>
</li>
     </ul>
     <h4 style="font-size: 10pt; margin-top: 8pt; margin-bottom: 8pt;">Navigation</h4>
     <table class="Table" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
      <col style="width: 100%;" />
      <tr class="t1st" style="height: 21px;">
      <td style="background-color: Transparent; border-right-width: 1px;">
      <p class="TableText" style="color: #000000; font-weight: normal;">To access the <span style="font-weight: bold;">Password Policy</span> page, select <span style="font-weight: bold;">Settings &gt; Password Polices</span>.</p>
</td>
</tr>
     </table>
     <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Viewing_Default_Password_Policy" id="Viewing_Default_Password_Policy"></a>Viewing Default Password Policy</h3>
     <p style="margin-top: 8pt; margin-bottom: 8pt;">Tuebora Pass provides a default password policy. This policy is enforced for all Assets integrated with Tuebora Pass, before Asset-specific policies are added in the system. For default Password Policy, you can only update the password criteria.</p>
     <p style="margin-top: 8pt; margin-bottom: 8pt;">Following figure shows the <span style="font-weight: bold;">Password</span> <span style="font-weight: bold;">Policies</span> page listing the default policy.<br />
<br />
<img src="Images/PasswordPolicy1.png" alt="" style=" border:none; width:100%; max-width:864px;" border="0" /></p>
     <p>You can edit the password criteria set for the default policy. To edit the password criteria, click <img src="Images/Icon_EditPolicy.png" alt="" style=" border:none; width:100%; max-width:19px;" border="0" /> (Edit Criteria) icon in the <span style="font-weight: bold;">Policy</span> <span style="font-weight: bold;">Criteria</span> column. The <span style="font-weight: bold;">Edit Password Criteria - Default</span> subwindow opens. Make the required changes and click <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>.</p>
     <h3><a name="Configuring_Password_Policy" id="Configuring_Password_Policy"></a>Configuring Password Policy</h3>
     <p>Password Policies are defined to specify what password criteria must be enforced while resetting passwords for different Assets integrated with Tuebora Portal. For example, to reset Active Directory Account password, the new password must have one lower (a-z) and uppercase (A-Z), one special character, one number (0-9), and minimum password length must be 10 characters.</p>
     <p style="font-weight: normal; color: #000000;">Based on your organizational requirement, you can add a password policy specific to an Asset or applicable to multiple Assets.</p>
     <p>To add a new password policy, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click  (<span style="font-weight: bold;">Add Policy</span>) icon, next to the default configuration.<br />
A row to define the new policy appears.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">New Policy</span> <span style="font-weight: bold;">x</span> in the <span style="font-weight: bold;">Name</span> column.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <img src="Images/PasswordPolicy2.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" /> and type a name for the policy.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <img src="Images/Icon_SaveName.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" /> to accept the new name specified.</p>

     <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
      <col style="width: 4.082%;" />
      <col style="width: 95.918%;" />
      <tr>
      <td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
      <td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
      <p class="TableText"><span style="font-weight: bold;">Note</span>: &#160;Click <img src="Images/Icon_CancelName.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" /> to cancel the new name specified.</p>
</td>
</tr>
     </table>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Assets</span> in the <span style="font-weight: bold;">Applies to Assets</span> column to apply the password policy to specific Assets. The <span style="font-weight: bold;">Select</span> <span style="font-weight: bold;">Assets</span> subwindow opens.<br />
<br />
<img src="Images/PasswordPolicy3.png" alt="" style=" border:none; width:100%; max-width:538px;" border="0" /></p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To specify the Asset(s), perform the following:</p>

     <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Type the Asset name in the <span style="font-weight: bold;">Enter Name of Asset you want to Add</span> field.<br />
As you start typing, the system shows the matching Asset names. Select the required Asset.</p>

     <p class="list" style="margin-left: 130px; text-indent: -30px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Add</span>. The Asset is added to the <span style="font-weight: bold;">Selected Assets</span> section.<br />
<br />
You can select more than one Asset.</p>

     <p class="list" style="margin-left: 130px; text-indent: -30px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select the required Assets and click <span style="font-weight: bold;">Add</span>.</p>

     <p class="list" style="margin-left: 130px; text-indent: -30px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Save changes</span>. The subwindow closes.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Criteria</span> in the <span style="font-weight: bold;">Policy</span> <span style="font-weight: bold;">Criteria</span> column, to define the password policy criteria.<br />
The <span style="font-weight: bold;">Add Password Criteria - &lt;Policy Name&gt;</span> subwindow opens.<br />
<br />
<img src="Images/PasswordPolicy5.png" alt="" style=" border:none; width:100%; max-width:943px;" border="0" /></p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select one or more criteria, that you want to add for your password policy:</p>

     <ul style="list-style: disc;">
      <li>
      <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><span style="font-weight: bold;">Account Lockout and Recovery</span>: Specify the Account lockout duration or number of failed attempts before an Account gets locked.</p>
</li>
     </ul>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Failed Login attempts before Account is locked</span>: Specify the number of failed login attempts allowed before an Account is locked. For example, a value of 5 means that the system locks the account after 5 failed login attempts.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Account Lockout Duration</span>: Specify the Account lockout duration, if an Account gets locked after allowed number of failed login attempts. For example, a value 15 means that the Account will be locked for 15 minutes from the time when the Account gets locked.</p>

     <ul style="list-style: disc;">
      <li>
      <p class="list"><span style="font-weight: bold;">Password Complexity</span>: Select one or more of the following password complexity:</p>
</li>
     </ul>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Minimum number of Upper Case characters</span>: Specify the minimum number of upper case characters a password must have.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Minimum number of Lower Case characters</span>: Specify the minimum number of lower case characters a password must have.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Minimum number of special characters</span>: Specify the minimum number of special characters a password must have.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Minimum number of digits</span>: <span style="font-variant-ligatures: normal; font-variant-caps: normal; line-height: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; display: inline ! important ; float: none; background-color: #ffffff;">Specify the minimum number of digits a password must have.</span></p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Password cannot have consecutive digits</span>: This option restricts users from using digits consecutively in the password. For example, if you specify 12Access!@ as the value, system restricts the use of digits (12) consecutively in the password.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Password cannot have these characters<span style="font-weight: normal;">: This option restricts users from using specified characters in the password. For this option specify the characters a password must not have. You can specify more than one character in this field and use comma to separate the characters.</span></p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">P</span><span style="font-variant-ligatures: normal; font-variant-caps: normal; line-height: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; font-weight: bold; background-color: #ffffff;">assword cannot have the same characters consecutively</span><span style="font-variant-ligatures: normal; font-variant-caps: normal; line-height: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; display: inline ! important ; float: none; background-color: #ffffff;">: This option restricts users from using specified characters consecutively in the password. For example, if you specify</span><span class="Apple-converted-space">&#160;</span><span style="font-variant-ligatures: normal; font-variant-caps: normal; line-height: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; font-weight: bold; background-color: #ffffff;">aaa</span><span class="Apple-converted-space">&#160;</span><span style="font-variant-ligatures: normal; font-variant-caps: normal; line-height: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; display: inline ! important ; float: none; background-color: #ffffff;">as the value, system restricts the use of aaa consecutively in the password.</span></p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Exclude User/Account Name</span>: This option restricts u<span style="font-variant-ligatures: normal; font-variant-caps: normal; line-height: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; letter-spacing: -0.1pt; background-color: #ffffff;">sers</span> <span style="letter-spacing: -.05pt;">from using</span> <span style="font-variant-ligatures: normal; font-variant-caps: normal; line-height: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; letter-spacing: -0.1pt; background-color: #ffffff;">user or account information</span> <span style="font-variant-ligatures: normal; font-variant-caps: normal; line-height: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; letter-spacing: -0.15pt; background-color: #ffffff;">while creating a new password.</span></p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Not any of Last Passwords</span>: Prevents users from creating a new password that is the same as their current or a recently used password. To specify how many passwords are remembered by the system, provide a value. For example, a value of 1 means that the system remembers only the last password, and a value of 3 means that the system remembers the previous 3 passwords.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Duration (in months) in which Password was not used</span>: Prevents users from creating a new password that is the same as their current or recently used password. To specify how many previous months' passwords are remembered by the system, provide a value. For example, value 10 means that the system remembers the passwords used in the last 10 months.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Exclude Dictionary Words</span>: Prevents users from creating a new password that is the same as any dictionary word.</p>

     <ul style="list-style: disc;">
      <li>
      <p class="list" style="font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; widows: 2; margin-top: 4pt; margin-bottom: 4pt; -webkit-text-stroke-width: 0px;"><span style="font-weight: bold;">Password</span> <span style="font-weight: bold;">Expiration</span>: Specify the password expiration age.</p>
</li>
     </ul>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Maximum Password Age</span>: Sets the maximum period of time (in days) that a password can be used before the system requires users to change it.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Minimum Password Age</span>: Sets the minimum period of time (in days) that a password can be used before the system requires users to change it.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Password Expiration (in days)</span>: Sets the maximum number of days that a password is valid. After this number of days, users must change the passwords.</p>

     <ul style="list-style: disc;">
      <li>
      <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><span style="font-weight: bold;">Password Length</span>: <span style="font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-indent: -20px; widows: 2; -webkit-text-stroke-width: 0px; display: inline ! important ; float: none; background-color: #ffffff;">Select the options to define the number of characters a password must have.</span></p>
</li>
     </ul>

     <p style="font-variant-ligatures: normal; font-variant-caps: normal; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt; orphans: 2; widows: 2; text-indent: -20px; -webkit-text-stroke-width: 0px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Maximum Password Length</span>: Specify the maximum number of characters a password must have.</p>

     <p style="font-variant-ligatures: normal; font-variant-caps: normal; margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt; orphans: 2; widows: 2; text-indent: -20px; -webkit-text-stroke-width: 0px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Minimum Password Length</span>: Specify the minimum number of characters a password must have.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>After selecting the password policy criteria, click <span style="font-weight: bold;">Add Criteria</span>. The criteria is added under the <span style="font-weight: bold;">Criteria</span> section in the right pane.</p>

     <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
      <col style="width: 4.082%;" />
      <col style="width: 95.918%;" />
      <tr>
      <td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
      <td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
      <p class="TableText"><span style="font-weight: bold;">Note</span>: &#160;To delete a criterion for the password policy, click  for the criteria you want to delete in the right pane.</p>
</td>
</tr>
     </table>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>For the selected criterion, specify if it is mandatory or optional, on the right pane.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>In the <span style="font-weight: bold;">Any x of Optional must be satisfied</span> field select the number of optional password policy criteria that must be satisfied, from the drop-down list.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Save changes</span> to save the selected criteria. The <span style="font-weight: bold;">Add Criteria</span> subwindow closes.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">12.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span> in the Password Policy page. System shows the message that the password policy is updated successfully.</p>

     <h3><a name="Managing_Password_Policies" id="Managing_Password_Policies"></a>Managing Password Policies</h3>
     <p>To manage the Password Policies, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Add, delete, or edit the required policy, as follows:</p>

     <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To add a policy, click  and perform the operations mentioned in <a href="#Configuring_Password_Policy">Configuring Password Policy</a>.</p>

     <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To delete a policy, click  corresponding to the policy.</p>

     <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To edit the policy name specified in the <span style="font-weight: bold;">Name</span> column, click the name. The name field becomes editable. Make the required changes and click  to save the updated name.</p>

     <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To edit the Assets specified in the <span style="font-weight: bold;">Applies to Assets</span> column, click <span style="font-weight: bold;">Assets</span>. When you click <span style="font-weight: bold;">Assets</span>, the <span style="font-weight: bold;">Select</span> <span style="font-weight: bold;">Assets</span> subwindow opens and you can add or remove the Assets as required.</p>

     <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To edit the password criteria set in the <span style="font-weight: bold;">Policy Criteria</span> column, click <img src="Images/Icon_EditPolicy.png" alt="" style=" border:none; width:100%; max-width:19px;" border="0" /> for the required policy. The <span style="font-weight: bold;">Edit Password Criteria</span> subwindow opens. Make the required changes and click <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Save changes</span> in the Password Policy page to save the policy addition, deleting, or updates.</p>

     <ul style="list-style: disc;">
     </ul>
     <p class="list">&#160;</p>

    </div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
