
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Admin_User_Guide - Manage All Users</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "2.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_iGovernance_360.htm" class="homelink"><span>Admin_User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1016">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <span><a href="User_Management.htm" 
		 style="color: #008000;">User Management</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span><a href="Create_New_User_Record.htm" 
															 style="color: #008000;">Create 
		 New User Record</a></span></p></td>
	</tr>
 </table>
 <h1>Managing All Users</h1>
 <p>Users are employees of the organization and have different levels of 
 Access in different applications, based on their roles and responsibilities 
 in the organization. For Access Management, user data is imported into 
 Tuebora Portal from a User Repository, during System Setup. After importing 
 user data into the system, if user records are updated in the User Repository, 
 data is reimported into the system, when required or based on data import 
 schedules configured.</p>
 <p>User Management is the process of creating new users, viewing and editing 
 profiles of existing users, marking users as terminated, and deleting 
 unwanted user records. This helps in maintaining user records effectively. 
 In Tuebora Portal, you can use <span style="font-weight: bold;">All</span> 
 <span style="font-weight: bold;">Users</span> feature for user management.</p>
 <h2>Using All Users Features</h2>
 <p>You can perform the following operations on the All Users page:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Creating_a_New_User_Record">Create New User Record</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Viewing_User_Records">View User Records</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Viewing_User_Details__Profile_">View User Profile</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Modifying_a_User_Profile">Modify User Profile</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Terminating_User">Terminate User</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Deleting_a_User_Record">Delete User Record</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Generate_PDF_Excel_version_of_All_Users_Report">Generate All 
	 Users Report</a></p></li>
</ul>
<p style="margin-left: 0px; color: #003868; font-weight: bold;">Navigation</p>
<table class="Navigation" style="border: Solid 1px #000000; margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access <span style="font-weight: bold;">All</span> 
		 <span style="font-weight: bold;">Users </span>feature,<span style="font-weight: bold;"> 
		 </span>select <span style="font-weight: bold;">MENU &gt; User 
		 Management &gt; All Users</span>.</p></td>
	</tr>
 </table>
 <h2><a name="Creating_a_New_User_Record"></a>Creating a New User Record</h2>
 <p>As an Administrator, you can create new user records from Tuebora Portal. 
 To create a new user record navigate to All User page. Click Create User 
 button. The <span style="font-weight: bold;">New</span> <span style="font-weight: bold;">User</span> 
 page opens.</p>
 <p>For more information on creating a new user, see <a href="Create_New_User_Record.htm">Create 
 New User Record</a>.</p>
 <h2><a name="Viewing_User_Records"></a>Viewing User Records</h2>
 <p>As an Administrator, you can view all <span style="font-weight: bold;">User</span> 
 <span style="font-weight: bold;">Records</span> imported into Tuebora 
 Portal or created in the system, from the <span style="font-weight: bold;">All</span> 
 <span style="font-weight: bold;">Users</span> page.</p>
 <p>To view user records, navigate to All Users page by selecting <span 
	 style="font-weight: bold;">MENU &gt; User Management &gt; All Users</span>. 
 The All Users page opens. The page lists all the users records in the 
 system. From this page, you can view details, such as User name, Employee 
 Id, Access in Assets, Access category, Certification Age, Access Life, 
 and Supervisor for each user record.</p>
 <p>Following figure shows an example All Users page.</p>
 <p style="color: #ff0000; font-weight: normal;"><img src="Images/All_Users.png" alt="" style=" border:none; width:100%; max-width:1112px;" border="0" /></p>
 <p>To view specific user record(s), you can perform the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Search_User_Records">Search User Records</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Filter_User_Records">Filter User Records</a></p></li>
</ul>
<h4><a name="Search_User_Records"></a>Searching User Records</h4>
<p>In the <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Users</span> 
 page, you can search a required user by typing the <span style="font-weight: bold;">User</span> 
 <span style="font-weight: bold;">Name</span> or the <span style="font-weight: bold;">Employee</span> 
 <span style="font-weight: bold;">Id </span>in the <span style="font-weight: bold;">Search</span> 
 boxes provided in the respective columns.</p>
<h4><a name="Filter_User_Records"></a>Filtering User Records</h4>
<p>In the <span style="font-weight: bold;">All Users</span> page, you can 
 filter the user records based on the <span style="font-weight: bold;">User</span> 
 <span style="font-weight: bold;">Status</span> such as <span style="font-style: italic;">Active</span> 
 or <span style="font-style: italic;">Terminated</span>. </p>
<p>To filter user records, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the field corresponding to <span style="font-weight: bold;">Filter</span> 
 available at the top left corner of the <span style="font-weight: bold;">All</span> 
 <span style="font-weight: bold;">Users</span> page. The filter options 
 - <span style="font-style: italic;">Active</span> and <span style="font-style: italic;">Terminated</span> 
 are displayed. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required filter option. <br />
<span style="font-weight: bold;">Example</span>: Active.<br />
The page refreshes to show the user records matching the specified filter.</p>
<h2 style="margin-top: 4pt; margin-bottom: 4pt;"><a name="Viewing_User_Details__Profile_"></a>Viewing 
 User Profile</h2>
<p>As an Administrator, you can view the User Profile details, such as 
 First Name, Last Name, Job Title, Department, Email Address, Location, 
 Employee ID, and Access granted in different Assets from the <span style="font-weight: bold;">User</span> 
 <span style="font-weight: bold;">Details</span> page.</p>
<p style="margin-top: 5pt; margin-bottom: 5pt;">To view user details, perform 
 the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; User Management &gt; All Users</span>. 
 <br />
The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Users</span> 
 page opens.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the user, whose profile or details you want to view. <br />
The <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Details</span> 
 page opens.</p>
<p style="margin-top: 5pt; margin-bottom: 5pt;">Following figure shows 
 an example User Details page.</p>
<p><img src="Images/User_Details.png" alt="" style=" border:none; width:100%; max-width:758px;" border="0" /></p>
<p>The <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Details</span> 
 page displays details specific to the selected user. You can view the 
 following details:</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Analysis_of_User_Access">Analysis 
 of User Access</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Assets_to_which_user_has_access">Assets 
 where user has access</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Access_Granted_in_Different_Assets">Access 
 Granted in Different Assets</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Governance_History">Governance 
 History</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Change_History_">Change 
 History</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Escalation_History">Escalation 
 History</a></p>
<br style="page-break-before: always;" />

<h4><a name="Analysis_of_User_Access"></a>Analysis of User Access</h4>
<p>Tuebora Portal provides analysis of Access granted to users in different 
 integrated Assets. The <span style="font-weight: bold;">Analysis</span> 
 feature can be used for analyzing the Access granted to a user in different 
 Assets and to take corrective measures, if required.</p>
<p>After integrating the Asset with Tuebora Portal, the system performs 
 an analysis on the user Access data collected, categorizes it and presents 
 it to the Administrator. Data is categorized based on the <span style="font-style: italic;">Assets</span> 
 in which the user has Access and the <span style="font-style: italic;">type 
 of Access</span> (Privileged Access, Owner Access, Temporary Access, or 
 Expired Access) granted to users.</p>
<p>Following figure shows an example User Analysis.</p>
<p style="color: #ff0000;"><img src="Images/User_Analysis.png" alt="" style=" border:none; width:100%; max-width:747px;" border="0" /></p>
<p style="color: #000000;">To view the details corresponding to an analysis, 
 click the analysis bar or <img src="Images/Expand_icon.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" />. The bar expands to show 
 the details. &#160;</p>
<br style="page-break-before: always;" />

<h4><a name="Assets_to_which_user_has_access"></a>Assets where user has 
 access</h4>
<p>You can view the Assets where user has access from the <span style="font-weight: bold;">Asset</span> 
 tab in the <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Details</span> 
 page. Following figure shows an example of Assets to which team member 
 has access.</p>
<p><img src="Images/Assets_to_which_user_has_access.png" alt="" style=" border:none; width:100%; max-width:794px;" border="0" /></p>
<h4><a name="Access_Granted_in_Different_Assets"></a>Access Granted in 
 Different Assets</h4>
<p>Access refers to permission granted in Assets. You can view the Access 
 granted to a user from the <span style="font-weight: bold;">Access</span> 
 tab in the User Details page. Following figure shows an example of Access 
 granted to a user.</p>
<p style="color: #ff0000;"><img src="Images/User_Access_tab.png" alt="" style=" border:none; width:100%; max-width:692px;" border="0" /></p>
<p style="color: #000000;">To view the details of Access granted in Active 
 Directory, click the <span style="font-weight: bold;">Asset Name </span>or 
 <img src="Images/Expand_icon.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" />. 
 It expands to show the details. &#160;</p>
<p>By default, Access is grouped by <span style="font-weight: bold;">Asset</span>. 
 You can regroup it by using the following options:</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Access 
 Category</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Certification 
 Age</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Access 
 Life</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Access 
 Type.</p>
<p>You can <span style="font-weight: bold;">Filter</span> the results on 
 the page based on the attribute values - <span style="font-weight: bold;">Access 
 Category, Certification Age</span>, and <span style="font-weight: bold;">Access 
 Life</span>.</p>
<br style="page-break-before: always;" />

<h4><a name="Governance_History"></a>Governance History</h4>
<p>Governance History is a record of all Access Management activities, 
 such as Access Granted, More Info Requested for approving Access, User 
 Termination, and Access Removed performed on a user in Tuebora Portal.</p>
<p>You can view all the Access management activities taken on a user, from 
 the <span style="font-weight: bold;">Governance</span> <span style="font-weight: bold;">History</span> 
 tab in the User Details page. By default, records are grouped and displayed 
 based on the <span style="font-weight: bold;">Asset</span> for which the 
 user has Access. It can be grouped by Orphaned Account, Asset, Justification, 
 and Performed By.</p>
<p>Following figure shows an example of Governance History.</p>
<p style="color: #ff0000;"><img src="Images/User_Governance_History.png" alt="" style=" border:none; width:100%; max-width:962px;" border="0" /></p>
<p style="color: #000000;"><span>To view the Governance History corresponding 
 to a user in a specific Asset, Click the required </span><span style="font-weight: bold;">Asset 
 Name </span><span>or <img src="Images/Expand_icon.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" />. History record expands to show 
 the details. &#160;</span></p>
<br style="page-break-before: always;" />

<h4><a name="Change_History_"></a>Change History </h4>
<p>Change History is the record of all Access changes for a user. It shows 
 the details of new Access granted, Access modification, and Access granted. 
 You can view the Access changes for a user from the <span style="font-weight: bold;">Change</span> 
 <span style="font-weight: bold;">History</span> tab in the User<span style="font-weight: bold;"> 
 </span>Details page.</p>
<p>Following figure shows an example of Change History for a user.</p>
<p style="font-weight: normal; color: #ff0000;"><img src="Images/User_Change_History.png" alt="" style=" border:none; width:100%; max-width:742px;" border="0" /></p>
<p><span style="font-weight: bold;">Change</span> <span style="font-weight: bold;">History</span> 
 records are displayed only when the Asset has updated user Access data 
 and is imported into the system. After reimport, Tuebora Portal compares 
 the data with the previous data to verify Access changes. If the system 
 finds Access changes, it is recorded for further reference.</p>
<p>In Change History page, you can <span style="font-weight: bold;">Search</span> 
 records, <span style="font-weight: bold;">Filter</span> records and <span 
	 style="font-weight: bold;">Group</span> data by Change Type, Performed 
 On, and Period (Monthly, Daily, Yearly).</p>
<h4><a name="Escalation_History"></a>Escalation History</h4>
<p style="color: #000000;"><span><span style="color: #000000;">Escalation 
 History is the record of all escalations from a user and to who the tasks 
 were escalated. You can view the escalations from a user from the <span 
	 style="font-weight: bold;">Escalation</span> <span style="font-weight: bold;">History</span> 
 tab in the User Details page.</span></span></p>
<p style="orphans: auto; widows: 1; color: #000000; line-height: normal; 
	 -webkit-text-stroke-width: 0px;">Administrator can use the Escalation 
 History tab to view the number of tasks escalated from a user. This way 
 if the tasks exceed a allowed threshold, Administrator can inform the 
 users to ensure that they attend their pending tasks on-time to avoid 
 escalations. </p>
<p style="orphans: auto; widows: 1; color: #000000; line-height: normal; 
	 -webkit-text-stroke-width: 0px;">Following figure shows an example 
 for Escalation History for a user.<br />
<br />
<img src="Images/User_EscalationHistory.png" alt="" style=" border:none; width:100%; max-width:963px;" border="0" /></p>
<h2><span lang="EN-US" xml:lang="EN-US"><a name="Modifying_a_User_Profile"></a>Modifying 
 a </span>User Profile</h2>
<p>After creating user records or importing user data, you can edit the 
 records, if any update is required. To update the user profile, Administrator 
 can use the <span style="font-weight: bold;">Edit</span> <span style="font-weight: bold;">User</span> 
 feature.</p>
<p style="font-weight: bold;">Example</p>
<p>Alan Butler is transferred from Detroit to Boston and it must be updated 
 in the system. In Tuebora Portal, Administrator can identify the user 
 and update the new location name in the user profile.</p>
<p>Following table lists the user profile properties that can be updated 
 using <span style="font-weight: bold;">Edit User</span> feature.</p>
<table style=" border:Solid 1px #000000; left:0px; top:207px; margin-left:24px; width:100%; max-width:585px;" cellspacing="0">
	<col style="width: 32.173%;" />
	<col style="width: 29.648%;" />
	<col style="width: 38.179%;" />
	<tr style="height: 22px;">
		<td colspan="3" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold; text-align: center;">Property 
		 Names</p></td>
		
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">First Name</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Middle Name</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Last 
		 Name</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Employee ID</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Email Address</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Alternate 
		 Email Address</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Supervisor</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Department</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Job 
		 Title</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">Location</p></td>
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">Mobile</p></td>
		<td>
  <p class="TableText">Employee Type</p></td>
	</tr>
 </table>
 <p>To modify a user profile, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; User Management &gt; All Users</span>. 
 The <span style="font-weight: bold;">All Users</span> page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the user, for example, Alan Butler for 
 whom the changes must be updated.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The <span style="font-weight: bold;">Edit</span> <span style="font-weight: bold;">Profile</span> 
		 functionality is not applicable for a Terminated user.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Edit User</span>. The <span style="font-weight: bold;">Edit 
 User - Alan Butler</span> subwindow opens.<br />
Alternatively, click the user name for whom changes must be updated. The 
 <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Details</span> 
 page opens. Click <span style="font-weight: bold;">Edit</span> <span style="font-weight: bold;">User</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Edit the 
 required details and click <span style="font-weight: bold;">Edit User</span>. 
 The changes are updated in the user profile.</p>
 <p class="list">Tuebora Portal Administrator can view the updated user 
 profile in <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Details</span> 
 page. For more information on viewing user details, see <a href="#Viewing_User_Details__Profile_">Viewing 
 User Profile</a>.</p>
 <h2><a name="Terminating_User"></a>User Termination</h2>
 <p>Users can quit from the service of the company or be terminated immediately 
 from the organization, depending on personal reasons or organizational 
 policies. <span lang="EN-US" xml:lang="EN-US">When a user is marked for 
 termination in the system, the user Termination process starts and a</span>ll 
 Access granted to users <span lang="EN-US" xml:lang="EN-US">are revoked.</span></p>
 <p><span lang="EN-US" xml:lang="EN-US">As an </span>Administrator, you 
 can use the <span style="font-weight: bold;">Mark User as Terminated</span> 
 feature to specify the last working date of a user and initiate the termination 
 activities. After setting the termination date, the system considers the 
 specified date to mark the user as terminated, revoke all Access, and 
 disable the user Account in different Assets.</p>
 <p>After termination, Access granted to users are revoked based on the 
 Deprovisioning Rule defined in the system. For more information on removing 
 Access, see <a href="Deprovisioning.htm">Access Deprovisioning</a>.</p>
 <p>When a user is terminated and has some tasks assigned and are not completed, 
 system automatically reassigns the tasks to the authorised people configured 
 for reassignment of terminated user task. For more information on configuring 
 Tuebora Portal to reassign tasks of terminated users, refer <span style="font-weight: bold; 
	 font-style: italic;">Tuebora Portal Deployment Guide</span>.</p>
 <p>In Tuebora Portal, you can terminate an user using any of the following 
 options:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Terminating_a_User_Immediately">Terminate User Immediately</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 lang="EN-US" xml:lang="EN-US"><a href="#Terminating_a_User_on_Future_Date">Terminate 
	 User on Future Date</a></span></p></li>
</ul>
<h3><span lang="EN-US" xml:lang="EN-US"><a name="Terminating_a_User_Immediately"></a>Terminating 
 a User Immediately</span></h3>
<p><span style="font-size: 13.3333px; line-height: normal; orphans: auto; 
		 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
		 float: none; background-color: #ffffff;">When a user is Terminated, 
 all Access granted in different Assets must be revoked immediately and 
 the user Accounts must be disabled.</span> </p>
<p><span lang="EN-US" xml:lang="EN-US">For example, Alexander Davis is 
 terminated and </span><span lang="EN-US" xml:lang="EN-US" style="font-size: 13.3333px; 
							 line-height: normal; orphans: auto; widows: 1; 
							 -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
							 float: none; background-color: #ffffff;">he 
 is relieved from his duties immediately, on the current date (15 January, 
 2016) and time (4:00 PM). An Administrator can identify the user in Tuebora 
 Portal and terminate the user by setting current date and time for termination.</span><span 
	 lang="EN-US" xml:lang="EN-US"> </span></p>
<p><span lang="EN-US" xml:lang="EN-US">To terminate the user immediately, 
 perform the following:</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select </span><span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">MENU 
 &gt; User Management &gt; All Users</span><span lang="EN-US" xml:lang="EN-US">.</span><span 
	 lang="EN-US" xml:lang="EN-US" style="mso-spacerun: yes;">&#160;</span><span 
	 lang="EN-US" xml:lang="EN-US">The</span><span lang="EN-US" xml:lang="EN-US" 
													 style="font-weight: bold;"> 
 All Users</span><span lang="EN-US" xml:lang="EN-US"> page opens.</span><br />
You can also use the <a href="Product_Overview.htm#Search_Box"><span style="font-weight: normal;">Global 
 Search</span></a> provided on the top-right corner of the page, to search 
 the required user.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the check box corresponding to 
 the required User Name (Alexander Davis).</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click </span><span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Mark 
 User as Terminated</span><span lang="EN-US" xml:lang="EN-US">. The </span><span 
	 lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Mark User 
 as Terminated</span><span lang="EN-US" xml:lang="EN-US"> subwindow opens.</span><br />
<br />
<span lang="EN-US" xml:lang="EN-US">Alternatively, click the required </span><span 
	 lang="EN-US" xml:lang="EN-US" style="font-style: italic;">User Name</span><span 
	 lang="EN-US" xml:lang="EN-US"> from the </span><span lang="EN-US" 
															 xml:lang="EN-US" 
															 style="font-weight: bold;">All 
 Users</span><span lang="EN-US" xml:lang="EN-US"> page to open the </span><span 
	 lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">User Details</span><span 
	 lang="EN-US" xml:lang="EN-US"> page, and then click </span><span lang="EN-US" 
	 xml:lang="EN-US" style="font-weight: bold;">Mark User as Terminated</span><span 
	 lang="EN-US" xml:lang="EN-US">.</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the Termination Date and Time 
 in the </span><span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Terminated 
 Date</span><span lang="EN-US" xml:lang="EN-US"> field. </span><br />
<br />
<span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Example</span><span 
	 lang="EN-US" xml:lang="EN-US">: 15 January 2016, 4:00 PM</span><br />
<br />
<img src="Images/Mark_User_as_Terminated.png" alt="" style=" border:none; width:100%; max-width:544px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the reason for termination in the <span style="font-weight: bold;">Reason 
 for termination</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click </span><span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Mark 
 User as Terminated</span><span lang="EN-US" xml:lang="EN-US"> to save 
 the termination date.</span><span lang="EN-US" xml:lang="EN-US" style="mso-spacerun: yes;">&#160;</span><br />
<span lang="EN-US" xml:lang="EN-US">The user is terminated and indicated 
 by </span><span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Terminated</span><span 
	 lang="EN-US" xml:lang="EN-US"> icon </span><span lang="EN-US" xml:lang="EN-US" 
														 style="font-size: 14pt;">(<img src="Images/terminated_user.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" />)</span><span 
	 lang="EN-US" xml:lang="EN-US">. All Access granted to the terminated 
 user is revoked immediately.</span></p>
<h3><span lang="EN-US" xml:lang="EN-US"><a name="Terminating_a_User_on_Future_Date"></a>Terminating 
 a User on a Future Date</span></h3>
<p><span lang="EN-US" xml:lang="EN-US">Terminating a user on a future date 
 </span>is the process of revoking of all Access and privileges granted 
 to the user in different applications that are integrated with Tuebora 
 Portal, on the termination date.</p>
<p><span lang="EN-US" xml:lang="EN-US">For example, Andrew Green has resigned 
 from the service of the organization on 15 January, 2016. His last working 
 date (15 February, 2016) is approved by Supervisor. In Tuebora Portal, 
 Administrator can identify the user and set the last working date.</span></p>
<p><span lang="EN-US" xml:lang="EN-US">To terminate the user on a future 
 date, perform the following:</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select </span><span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">MENU 
 &gt; User Management &gt; All Users</span><span lang="EN-US" xml:lang="EN-US">.</span><span 
	 lang="EN-US" xml:lang="EN-US" style="mso-spacerun: yes;">&#160;</span><span 
	 lang="EN-US" xml:lang="EN-US">The </span><span lang="EN-US" xml:lang="EN-US" 
													 style="font-weight: bold;">All 
 Users</span><span lang="EN-US" xml:lang="EN-US"> page opens.</span><br />
You can also use the <a href="Product_Overview.htm#Search_Box" style="font-weight: normal;">Global 
 Search</a> provided on the top-right corner of the page, to search the 
 required user.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the check box corresponding to 
 the required User Name (Andrew Green).</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click </span><span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Mark 
 User as Terminated</span><span lang="EN-US" xml:lang="EN-US">.</span><span 
	 lang="EN-US" xml:lang="EN-US" style="mso-spacerun: yes;">&#160;</span><span 
	 lang="EN-US" xml:lang="EN-US">&#160;The </span><span lang="EN-US" 
															 xml:lang="EN-US" 
															 style="font-weight: bold;">Mark 
 User as Terminated</span><span lang="EN-US" xml:lang="EN-US"> subwindow 
 opens.</span><br />
<br />
<span lang="EN-US" xml:lang="EN-US">Alternatively, click the required </span><span 
	 lang="EN-US" xml:lang="EN-US" style="font-style: italic;">User Name</span><span 
	 lang="EN-US" xml:lang="EN-US"> from the </span><span lang="EN-US" 
															 xml:lang="EN-US" 
															 style="font-weight: bold;">All 
 Users</span><span lang="EN-US" xml:lang="EN-US"> page to open the </span><span 
	 lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">User Details</span><span 
	 lang="EN-US" xml:lang="EN-US"> page, and then click </span><span lang="EN-US" 
	 xml:lang="EN-US" style="font-weight: bold;">Mark User as Terminated</span><span 
	 lang="EN-US" xml:lang="EN-US">.</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the Termination Date and Time, 
 in the </span><span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Termination</span><span 
	 lang="EN-US" xml:lang="EN-US"> </span><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold;">Date</span><span 
	 lang="EN-US" xml:lang="EN-US"> field.</span><br />
<br />
<img src="Images/Mark_User_as_Terminated_Future_date.png" alt="" style=" border:none; width:100%; max-width:547px;" border="0" /></p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span lang="EN-US" xml:lang="EN-US">If the Termination Date selected 
		 is in future, then user will be marked Terminated on the specified 
		 date and time.</span></p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">S</span>pecify the reason for termination 
 in the <span style="font-weight: bold;">Reason for termination</span> 
 field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click </span><span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Mark 
 User as Terminated </span><span lang="EN-US" xml:lang="EN-US">to save 
 the termination date. <br />
User is indicated by </span><span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">To 
 be Terminated </span><span lang="EN-US" xml:lang="EN-US">icon</span><span 
	 lang="EN-US" xml:lang="EN-US" style="font-weight: bold;"> </span><span 
	 lang="EN-US" xml:lang="EN-US" style="font-size: 14pt;">(</span><span 
	 lang="EN-US" xml:lang="EN-US"><img src="Images/Terminated_user2.png" alt="" style=" border:none; width:100%; max-width:21px;" border="0" /></span><span 
	 lang="EN-US" xml:lang="EN-US" style="font-size: 14pt;">)</span><span 
	 lang="EN-US" xml:lang="EN-US">. On the specified termination date, 
 user is marked terminated in Tuebora Portal and all Access granted to 
 the user are revoked.</span></p>
 <h4><span lang="EN-US" xml:lang="EN-US">V</span>iewing Terminated User 
 Records</h4>
 <p style="color: #000000;">After marking user(s) as terminated in the User 
 Repository and importing the updated user data into Tuebora Portal or 
 if you terminate the user from the system, you can view the records for 
 all the terminated users in the <span style="font-weight: bold;">All</span> 
 <span style="font-weight: bold;">Users</span> page. Tuebora Portal shows 
 the <span style="font-weight: bold;">Terminated</span> <span style="font-weight: bold;">User</span> 
 icon (<img src="Images/terminated_user.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" />) &#160;for distinguishing the terminated users 
 from Active users. Move the cursor over the icon to view details of the 
 termination.</p>
 <h2><a name="Deleting_a_User_Record"></a>Deleting a User Record</h2>
 <p>To maintain only the required user records in Tuebora Portal, you can 
 delete the unwanted user records from the system. Use the <span style="font-weight: bold;">Delete</span> 
 <span style="font-weight: bold;">User</span> feature to delete the user 
 records that are not required. <br />
<br />
The <span style="font-weight: bold;">Delete</span> <span style="font-weight: bold;">User</span> 
 feature, allows only to delete the user records that are created directly 
 in Tuebora Portal. </p>
 <p>To delete a user record, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select </span><span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">MENU 
 &gt; User Management &gt; All Users</span><span lang="EN-US" xml:lang="EN-US">.</span><span 
	 lang="EN-US" xml:lang="EN-US" style="mso-spacerun: yes;">&#160;</span><span 
	 lang="EN-US" xml:lang="EN-US">The </span><span lang="EN-US" xml:lang="EN-US" 
													 style="font-weight: bold;">All 
 Users</span><span lang="EN-US" xml:lang="EN-US"> page opens.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the check box corresponding to 
 the user record that you want to delete.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click </span><span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Delete</span><span 
	 lang="EN-US" xml:lang="EN-US"> </span><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold;">User</span><span 
	 lang="EN-US" xml:lang="EN-US">. The </span><span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Delete</span><span 
	 lang="EN-US" xml:lang="EN-US"> </span><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold;">User</span><span 
	 lang="EN-US" xml:lang="EN-US"> subwindow opens.</span><br />
<br />
<img src="Images/Delete_user.png" alt="" style=" border:none; width:100%; max-width:670px;" border="0" /></p>
 <table class="TwoColumnNOTETable" style="left: 0px; top: 8993px; height: 26px;" 
		 cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">The 
		 </span><span style="font-weight: bold;">Delete</span><span style="mso-bidi-font-weight: normal; 
		 mso-add-space: auto;"> </span><span style="font-weight: bold;">User</span><span 
		 style="mso-bidi-font-weight: normal; mso-add-space: auto;"> button 
		 is enabled only if the selected user record is created directly 
		 in Tuebora Portal. &#160;</span></p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Yes, Delete User </span>to delete the 
 user record from the system.</p>
 <table class="TwoColumnNOTETable" style="left: 0px; top: 8993px; height: 26px;" 
		 cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">When 
		 you delete a user record, the user references are not deleted 
		 from the Tuebora Portal database. The system deletes the user 
		 record only from the </span><span style="font-weight: bold;">All</span><span 
		 style="mso-bidi-font-weight: normal; mso-add-space: auto;"> </span><span 
		 style="font-weight: bold;">Users</span><span style="mso-bidi-font-weight: normal; 
														 mso-add-space: auto;"> 
		 page. </span></p></td>
	</tr>
 </table>
 <h2><a name="Generate_PDF_Excel_version_of_All_Users_Report"></a>Generating 
 All Users Report</h2>
 <p>You can generate a PDF/Excel report of all users in the system from 
 the <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Users</span> 
 page.</p>
 <p>To generate the report, perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; All Users. </span>The <span 
	 style="font-weight: bold;">All Users </span>page opens.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_PDF.png" alt="" style=" border:none; width:100%; max-width:26px;" border="0" />or 
 <img src="Images/Icon_Excel_Alerts.png" alt="" style=" border:none; width:100%; max-width:25px;" border="0" /> 
 to generate a PDF or Excel version of the report, respectively. <br />
System displays a message that the report is being generated.<br />
After generating the report, it is saved on your system .</p>
 <table class="TwoColumnNOTETable" style="left: 0px; top: 9330px; height: 20px;" 
		 cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">If 
		 the report size exceeds the </span><span style="font-weight: bold;">Export</span><span 
		 style="mso-bidi-font-weight: normal; mso-add-space: auto;"> </span><span 
		 style="font-weight: bold;">Limit</span><span style="mso-bidi-font-weight: normal; 
														 mso-add-space: auto;">, 
		 a message appears and the report is emailed to the Administrator's 
		 Email Id.</span></p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 50px; 
											 margin-top: 7pt; margin-bottom: 7pt; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close</span> in the pop-up that appears 
 stating that the report is generated.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open 
 the report to view the contents.</p>
 <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="User_Management.htm" style="color: #008000;"><span>User 
		 Management</span></a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Create_New_User_Record.htm" style="color: #008000;"><span>Create 
		 New User Record</span></a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
