
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Admin_User_Guide - Sent SMS</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_iGovernance_360.htm" class="homelink"><span>Admin_User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1448">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Sent SMS</h1>
     <p>An iGovernance360 Administrator can view all SMS that were sent by the 
 system, in the <span style="font-weight: bold;">Sent</span> <span style="font-weight: bold;">SMS</span> 
 page. </p>
     <h5>Navigation</h5>
     <table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 37px;">
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">Sent 
		 SMS </span>page, select <span style="font-weight: bold;">MENU 
		 &gt; SMS Activity &gt; Sent SMS</span>.</p></td>
	</tr>
 </table>
 <p>In the <span style="font-weight: bold;">Sent</span> <span style="font-weight: bold;">SMS</span> 
 page, columns corresponding to each SMS shows the following details:</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Date 
 and time when the SMS is sent</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Name 
 of the user to whom the SMS is sent </p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Mobile 
 Number of the user</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>SMS activity 
 status</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 of SMS</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>SMS Content 
 </p>
 <p>Following figure shows an example <span style="font-weight: bold;">Sent 
 SMS</span> page.<br />
<br />
<img src="Images/Sent_SMS.png" alt="" style=" border:none; width:100%; max-width:1149px;" border="0" /></p>
 <p>Click on the underlined clickable User Names to navigate to the <span 
	 style="font-weight: bold;">User</span> <span style="font-weight: bold;">Details</span> 
 page.</p>
 <h2><span style="-webkit-text-stroke-width: 0px;">Using the Sent SMS Feature</span></h2>
 <p style="-webkit-text-stroke-width: 0px;">You can use the <span style="font-weight: bold;">Sent</span> 
 <span style="font-weight: bold;">SMS</span> feature to perform the following:</p>
 <p style="-webkit-text-stroke-width: 0px; 
											 margin-left: 100px; text-indent: -20px; 
											 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Resend_SMS">Resend SMS</a></p>
 <p style="-webkit-text-stroke-width: 0px; 
											 margin-left: 100px; text-indent: -20px; 
											 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Filtering_SMS">Filter SMS</a></p>
 <p style="-webkit-text-stroke-width: 0px; 
											 margin-left: 100px; text-indent: -20px; 
											 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Searching_Results">Search results</a></p>
 <p style="-webkit-text-stroke-width: 0px; 
											 margin-left: 100px; text-indent: -20px; 
											 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Generating_Sent_SMS_Report">Generate Sent SMS Report</a></p>
<br style="page-break-before: always;" />

 <h3><a name="Resend_SMS"></a>Resending SMS</h3>
 <p>Sometimes, due to technical/network issues, the system may fail to send 
 an SMS. As an iGovernance360 Administrator, you may be required to resend 
 the SMS that was not sent by the system. And, the SMS that was successfully 
 sent to the user, but user has deleted it accidently and has requested 
 to resend it. You can use the <span style="font-weight: bold;">Resend</span> 
 <span style="font-weight: bold;">SMS</span> option to send the SMS again 
 to the user.</p>
 <p>To resend an SMS, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the checkbox corresponding to the SMS that you want to resend. The SMS 
 is highlighted.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Resend</span> <span style="font-weight: bold;">SMS</span>. 
 <br />
System resends the SMS and updates the date and time when the SMS is resent 
 in <span style="font-weight: bold;">Sent</span> <span style="font-weight: bold;">On</span> 
 column. </p>
 <h3><a name="Filtering_SMS"></a>Filtering SMS</h3>
 <p style="-webkit-text-stroke-width: 0px;">In <span style="font-weight: bold;">Sent</span> 
 <span style="font-weight: bold;">SMS</span> page, you can filter SMS based 
 on the <a href="#Filtering_based_on_Status">Status</a> and <a href="#Filtering_based_on_SMS_Type">SMS 
 Type</a>. You can also use the combination of <span style="font-weight: bold;">Status</span> 
 and <span style="font-weight: bold;">SMS</span> <span style="font-weight: bold;">Type</span> 
 to filter SMS records. For example, an Administrator wants to filter the 
 SMS sent after the Access is approved but <span style="font-weight: bold;">failed</span> 
 to send. You can filter the required SMS by selecting the option <span 
	 style="font-weight: bold;">Failed</span> in <span style="font-weight: bold;">Status</span> 
 column and <span style="font-weight: bold;">Access</span> <span style="font-weight: bold;">Requested</span> 
 <span style="font-weight: bold;">Approved</span> in <span style="font-weight: bold;">Type</span> 
 column.</p>
 <h4><a name="Filtering_based_on_Status"></a>Filtering based on Status</h4>
 <p style="line-height: normal; orphans: auto; widows: 1; -webkit-text-stroke-width: 0px;"><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; font-weight: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-transform: none; white-space: normal; 
	 widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">You 
 can use the drop-down provided in the</span><span class="Apple-converted-space" 
													 style="font-size: 10pt; 
													 color: #000000; font-family: Arial; 
													 font-style: normal; 
													 font-variant: normal; 
													 font-weight: normal; 
													 letter-spacing: normal; 
													 line-height: normal; 
													 orphans: auto; text-transform: none; 
													 white-space: normal; 
													 widows: 1; word-spacing: 0px; 
													 -webkit-text-stroke-width: 0px;">&#160;</span><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-transform: none; white-space: normal; widows: 1; 
	 word-spacing: 0px; -webkit-text-stroke-width: 0px; font-weight: bold;">Status</span><span 
	 class="Apple-converted-space" style="font-size: 10pt; color: #000000; 
	 font-family: Arial; font-style: normal; font-variant: normal; font-weight: normal; 
	 letter-spacing: normal; line-height: normal; orphans: auto; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">&#160;</span><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; font-weight: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-transform: none; white-space: normal; 
	 widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">column 
 to filter SMS, based on actions that were</span><span class="Apple-converted-space" 
														 style="font-size: 10pt; 
														 color: #000000; 
														 font-family: Arial; 
														 font-style: normal; 
														 font-variant: normal; 
														 font-weight: normal; 
														 letter-spacing: normal; 
														 line-height: normal; 
														 orphans: auto; 
														 text-transform: none; 
														 white-space: normal; 
														 widows: 1; word-spacing: 0px; 
														 -webkit-text-stroke-width: 0px;">&#160;</span><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-transform: none; white-space: normal; widows: 1; 
	 word-spacing: 0px; -webkit-text-stroke-width: 0px; font-weight: bold;">Completed</span><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; font-weight: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-transform: none; white-space: normal; 
	 widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">,</span><span 
	 class="Apple-converted-space" style="font-size: 10pt; color: #000000; 
	 font-family: Arial; font-style: normal; font-variant: normal; font-weight: normal; 
	 letter-spacing: normal; line-height: normal; orphans: auto; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">&#160;</span><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-transform: none; white-space: normal; widows: 1; 
	 word-spacing: 0px; -webkit-text-stroke-width: 0px; font-weight: bold;">Failed</span><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; font-weight: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-transform: none; white-space: normal; 
	 widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">, or</span><span 
	 class="Apple-converted-space" style="font-size: 10pt; color: #000000; 
	 font-family: Arial; font-style: normal; font-variant: normal; font-weight: normal; 
	 letter-spacing: normal; line-height: normal; orphans: auto; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">&#160;</span><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-transform: none; white-space: normal; widows: 1; 
	 word-spacing: 0px; -webkit-text-stroke-width: 0px; font-weight: bold;">Pending</span><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; font-weight: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-transform: none; white-space: normal; 
	 widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">.</span></p>
 <ul style="list-style: disc; line-height: normal; orphans: auto; widows: 1; 
		 -webkit-text-stroke-width: 0px;">
	<li>
 <p class="list"><span style="font-weight: bold;">Completed (</span><img src="Images/Icon_Completed.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" /><span 
	 style="font-weight: bold;">)</span> - Lists all the SMS that are successfully 
	 sent to the user.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Failed (</span><img src="Images/Icon_Failed.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /><span 
	 style="font-weight: bold;">)</span> - Lists all the SMS that were 
	 initiated, but failed to send.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Pending (</span><img src="Images/Icon_Pending.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /><span 
	 style="font-weight: bold;">)</span> - Lists all the SMS that are initiated, 
	 but not completed yet.</p></li>
</ul>
<h4><a name="Filtering_based_on_SMS_Type"></a>Filtering based on SMS Type</h4>
<p>You can use the drop-down provided in the <span style="font-weight: bold;">Type</span> 
 column to sort records based on the SMS Type. The available <span style="font-weight: bold;">SMS</span> 
 <span style="font-weight: bold;">Types</span> are as follows: </p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Unapproved Access Detected</span>: Lists 
 all the SMS sent for unapproved access granted. </p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Access Request Approval Required</span>: 
 Lists all the SMS sent to Access Approver for approving/rejecting the 
 Access requested. </p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Access Requested</span>: Lists all the 
 SMS sent to Access Approvers notifying that requests are made by users.</p>
<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Access Request Approved</span>: Lists all 
 the SMS sent to the Access requestors after the Access are approved.</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Control Violation Detected</span>: Lists 
 all the SMS sent for Access granted which violates the Control Definitions. 
 </p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Access Request Rejected</span>: Lists all 
 the SMS sent to the Access requestors after the Access are rejected.</p>
<br style="page-break-before: always;" />

<h3><a name="Searching_Results"></a>Searching Results</h3>
<p>You can search for specific records from the <span style="font-weight: bold;">Sent</span> 
 <span style="font-weight: bold;">SMS</span> page. For example, if you 
 want to view details of all SMS sent to a specific user, type user name 
 in the search box, available in <span style="font-weight: bold;">Sent 
 To User </span>column. The page refreshes to display all records for the 
 specified user.</p>
<p>You can also search for SMS sent to a specific Mobile Number by specifying 
 the number in the search box, available in the <span style="font-weight: bold;">Sent 
 To Number</span> column.</p>
<p>To search SMS sent on specific date or time, type the date and/or time 
 in the search box, available in the <span style="font-weight: bold;">Sent 
 On</span> column.</p>
<p>To search results in the <span style="font-weight: bold;">Content </span>column, 
 specify User Name or ID references for the SMS. Some examples are User 
 Name, Grant ID,&#160;and Request ID.</p>
<h3><a name="Generating_Sent_SMS_Report"></a>Generating Sent SMS Report</h3>
<p>You can generate a PDF/Excel report of all sent SMS in the system from 
 the <span style="font-weight: bold;">Sent</span> <span style="font-weight: bold;">SMS</span> 
 page.</p>
<p>To generate the report, perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; SMS Activity &gt; Sent SMS</span>.<span 
	 style="font-weight: bold;"> </span>The <span style="font-weight: bold;">Sent 
 SMS </span>page opens.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_PDF.png" alt="" style=" border:none; width:100%; max-width:26px;" border="0" />or 
 <img src="Images/Icon_Excel_Alerts.png" alt="" style=" border:none; width:100%; max-width:25px;" border="0" /> 
 to generate a PDF or Excel version of the report, respectively. <br />
System displays a message that the report is being generated.<br />
After generating the report, it is saved on your system.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close</span> in the pop-up that appears 
 stating that the report is generated.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open 
 the report to view the details. </p>
<br style="page-break-before: always;" />

</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
