
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Admin_User_Guide - SMS Activity</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_iGovernance_360.htm" class="homelink"><span>Admin_User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1472">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <p>iGovernance360 sends SMS to authorized users, informing them of actions 
 taken in an Asset as well as actions they should perform. The system sends 
 SMS to users, if SMS settings are configured in iGovernance360. <span 
	 style="line-height: normal; orphans: auto; widows: 1; -webkit-text-stroke-width: 0px;">Following 
 table lists some scenarios when SMS notifications are sent to the authorized 
 people.</span></p>
     <table style="color: #000000; font-family: Arial; font-size: medium; font-style: normal; 
		 font-variant: normal; font-weight: normal; letter-spacing: normal; 
		 line-height: normal; orphans: auto; text-align: start; text-indent: 0px; 
		 text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; 
		 -webkit-text-stroke-width: 0px; border: 1px solid #000000; margin-left: 24px;" 
		 cellspacing="0" width="100%">
	<colgroup>	
 <col width="0" />
		<col width="0" />
	</colgroup>
	<tr style="height: 22px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="font-size: 10pt; 
									 margin-top: 2pt; margin-left: 5pt; 
									 margin-bottom: 2pt; color: #ffffff; 
									 font-weight: bold;">Scenarios</p></td>
		<td style="border-bottom: solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; color: #ffffff; font-weight: bold;">Authorized 
		 People</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt;">Access Requested &#160;</p></td>
		<td style="border-bottom: solid 1px #000000;">
  <p class="TableText" 
														 style="font-size: 10pt; 
														 margin-top: 2pt; 
														 margin-left: 5pt; 
														 margin-bottom: 2pt;">Access 
		 Approver to approve or reject the request</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt;">Access Approved</p></td>
		<td style="border-bottom: solid 1px #000000;">
  <p class="TableText" 
														 style="font-size: 10pt; 
														 margin-top: 2pt; 
														 margin-left: 5pt; 
														 margin-bottom: 2pt;">Access 
		 Requestor</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt;">Access Rejected</p></td>
		<td style="border-bottom: solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt;">Access Requestor</p></td>
	</tr>
	<tr style="height: 5px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt;">Access Control Violation 
		 detected</p></td>
		<td style="border-bottom: solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt;">User's Supervisor to 
		 remediate the violation</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-right: solid 1px #000000;">
  <p class="TableText" 
														 style="font-size: 10pt; 
														 margin-top: 2pt; 
														 margin-left: 5pt; 
														 margin-bottom: 2pt;">Access 
		 Granted without Approval</p></td>
		<td style="vertical-align: top;">
  <p class="TableText" style="font-size: 10pt; 
											 margin-top: 2pt; margin-left: 5pt; 
											 margin-bottom: 2pt;">User's 
		 Supervisor and Asset Owner</p></td>
	</tr>
 </table>
 <p><span style="widows: 1; -webkit-text-stroke-width: 0px;">I</span>n iGovernance360, 
 all SMS notifications (sent or received) are recorded for future reference. 
 Administrators can use the <span style="font-weight: bold;">SMS Activity</span> 
 feature to view the details of SMS notifications sent/received by the 
 system/users.</p>
 <h4 style="widows: 1;"><span style="-webkit-text-stroke-width: 0px;">Flow 
 of Operations</span></h4>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; 
	 text-indent: 0px; text-transform: none; white-space: normal; widows: 1; 
	 word-spacing: 0px; -webkit-text-stroke-width: 0px; font-weight: bold;">SMS 
 Scenario for Access Approval</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; 
	 text-indent: 0px; text-transform: none; white-space: normal; widows: 1; 
	 word-spacing: 0px; -webkit-text-stroke-width: 0px; font-weight: bold;"><span 
	 style="font-weight: normal;">Andrew Green wants Access to </span>HR 
 Documents<span style="font-weight: normal;"> folder in </span>Windows 
 FileShare<span style="font-weight: normal;">. Andrew has created an Access 
 Request in the system. The system creates an Approval Task and sends an 
 SMS to Andrew's Access Approver. Access Approver sends SMS to approve 
 the Access. </span></p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">Flow 
 of operations is as follows:</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt;
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Andrew 
 Green creates an Access Request in iGovernance360.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt;
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Access 
 Request workflow triggers to create Access Approval Tasks. </p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt;
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Approval 
 Tasks are created and assigned and <span style="font-weight: bold;">Access 
 Request Approval Required</span> SMS notification is sent to the Approver.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt;
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>SMS 
 is received in the system to approve the requested Access.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt;
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>System 
 sends an email, SMS, and system alert to Andrew, notifying that the Access 
 is approved.</p>
 <h3>Using SMS Activity Feature</h3>
 <p>You can use the SMS Activity feature to view details of the following 
 SMS activities:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="Sent_SMS.htm">Sent 
 SMS</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="Received_SMS.htm">Received 
 SMS</a> </p>
<br style="page-break-before: always;" />

</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
