
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Admin_User_Guide - System - Jobs</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "6.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_iGovernance_360.htm" class="homelink"><span>Admin_User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1544">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <span><a href="System-wide_Settings.htm" 
		 style="color: #008000;">System-wide Settings</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span><a href="Activity_History.htm" 
															 style="color: #008000;">Activity 
		 History</a></span></p></td>
	</tr>
 </table>
 <h1>System - Jobs</h1>
 <p>The activities performed by the system in the background are called 
 as <span style="font-weight: bold;">System</span> <span style="font-weight: bold;">Jobs</span>. 
 Administrators can use the <span style="font-weight: bold;">Jobs</span> 
 feature to view the details of jobs performed by the system.</p>
 <p style="color: #003868; margin-left: 0px; font-weight: bold;">Navigation</p>
 <table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">System 
		 - Jobs</span> feature, select <span style="font-weight: bold;">MENU 
		 &gt; System &gt; Jobs</span>.</p></td>
	</tr>
 </table>
 <h2>Using System - Jobs Feature</h2>
 <p>You can use the System - Jobs feature to perform the following:</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_System_Jobs">View 
 System Jobs</a></p>
 <p class="TableText" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_Job_Summary">View 
 Job Summary</a></p>
 <p class="TableText" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_Job_Steps">View 
 Job Steps</a></p>
 <p class="TableText" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Generate_PDF_Excel_version_of_System_Jobs_Report">Generate 
 System Jobs Report</a></p>
 <h3><a name="Viewing_System_Jobs"></a>Viewing System Jobs</h3>
 <p>You can view the tasks performed by the system from the <span style="font-weight: bold;">Jobs</span> 
 page. In Tuebora Portal, the following type of system jobs are recorded 
 for future reference: </p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Data Load</span> - For each data load (data 
 import) activity, you can view the details of data imported into the system 
 and the steps performed by the system during data import.</p>
 <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Access Control Runs</span> </p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Certification 
 Policy Runs</p>
 <p>Jobs page displays details, such as Job Name, Job Type, start time for 
 the Job, duration of the Job, Job Summary, and Job Steps.</p>
 <p>Following figure shows an example System - Jobs page.</p>
 <p><img src="Images/System_Jobs.png" alt="" style=" border:none; width:100%; max-width:1069px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h3><a name="Viewing_Job_Summary"></a>Viewing Job Summary</h3>
 <p>Job Summary provides detailed information about the data imported (having 
 valid data for mandatory fields) and the data that was not imported because 
 of not having data for mandatory fields.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">Job</span><span 
		 style="font-weight: bold;"> </span><span style="mso-bidi-font-weight: normal; 
													 mso-add-space: auto;">Summary 
		 is shown only for </span><span style="font-weight: bold;">Data</span><span 
		 style="mso-bidi-font-weight: normal; mso-add-space: auto;"> </span><span 
		 style="font-weight: bold;">Load</span><span style="mso-bidi-font-weight: normal; 
													 mso-add-space: auto;"> 
		 </span><span style="font-weight: bold;">Jobs</span><span style="mso-bidi-font-weight: normal; 
		 mso-add-space: auto;">.</span></p></td>
	</tr>
 </table>
 <p>To view a Job Summary, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; System &gt; Jobs</span>. <br />
The <span style="font-weight: bold;">System - Jobs</span> page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold; text-decoration: underline; ">View Summary</span> 
 link corresponding to the Job for which you want to view the summary, 
 in <span style="font-weight: bold;">Job</span> <span style="font-weight: bold;">Summary</span> 
 column.<br />
<br />
The <span style="font-weight: bold;">Job</span> <span style="font-weight: bold;">Summary</span> 
 subwindow opens.<br />
<br />
<img src="Images/Job_Summary.png" alt="" style=" border:none; width:100%; max-width:671px;" border="0" /><br />
You can verify details of the data that was imported and not imported for 
 an Asset. Data for an Asset is imported only when the records have data 
 for all mandatory properties and valid references in the system.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close</span> after viewing the details.</p>
<br style="page-break-before: always;" />

 <h3><a name="Viewing_Job_Steps"></a>Viewing Job Steps</h3>
 <p>Jobs Steps show the sequence of activities or steps performed by the 
 system to load data for an Asset. It also displays the <span style="font-style: italic;">Start</span> 
 and <span style="font-style: italic;">End</span> time and <span style="font-style: italic;">Duration</span> 
 of the activity corresponding to each Job Step. You can view the job steps, 
 from the <span style="font-weight: bold;">View</span> <span style="font-weight: bold;">Steps</span> 
 page. It also provides the information of sub-steps for each Job Step. 
 </p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">&#160;</span>Job<span 
		 style="font-weight: bold;"> </span>Steps<span style="mso-bidi-font-weight: normal; 
														 mso-add-space: auto;"> 
		 are shown only for </span><span style="font-weight: bold;">Data 
		 Load Jobs</span><span style="mso-bidi-font-weight: normal; mso-add-space: auto;">.</span></p></td>
	</tr>
 </table>
 <p>To view Job Steps, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; System &gt; Jobs</span>. <br />
The <span style="font-weight: bold;">System - Jobs</span> page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold; text-decoration: underline; ">View Steps</span> 
 link corresponding to the Job for which you want to view the Job Steps, 
 in <span style="font-weight: bold;">Job</span> <span style="font-weight: bold;">Steps 
 </span>column.<br />
<br />
The <span style="font-weight: bold;">View</span> <span style="font-weight: bold;">Steps</span> 
 page opens.<br />
<br />
<img src="Images/ViewJobSteps.png" alt="" style=" border:none; width:100%; max-width:826px;" border="0" /><br />
<br />
You can view type of data imported with start and end time and duration 
 of the activity. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>In the 
 <span style="font-weight: bold;">Job</span> <span style="font-weight: bold;">Steps</span> 
 column, click <span style="font-weight: bold; text-decoration: underline; ">View 
 Steps</span><span style="font-weight: bold;"> </span>link corresponding 
 the Data Type for which you want to view the steps (sub-steps for a Job 
 step). The <span style="font-weight: bold;">Job</span> <span style="font-weight: bold;">Steps</span> 
 subwindow opens. In the Job Steps subwindow you can view the step number, 
 step description, start time, duration and status for each step.<br />
<br />
<img src="Images/JobSubSteps.png" alt="" style=" border:none; width:100%; max-width:735px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close </span>to close the Job Steps.</p>
<br style="page-break-before: always;" />

 <h3><a name="Generate_PDF_Excel_version_of_System_Jobs_Report"></a>Generate 
 System Jobs Report</h3>
 <p>As an Administrator of Tuebora Portal, you can generate following reports 
 for System - Jobs feature:</p>
 <table style=" border:Solid 1px #000000; left:0px; top:207px; margin-left:24px; width:100%; max-width:675px;" cellspacing="0">
	<col style="width: 19.243%;" />
	<col style="width: 80.757%;" />
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Report</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Description</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">System - Jobs</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Lists 
		 all jobs, such as Certification Policy Run, Access Control Run, 
		 and Data Load performed by the system.</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">View 
		 Steps</p></td>
		<td>
  <p class="TableText">Lists all the steps performed by the system 
		 during Data Load jobs.</p></td>
	</tr>
 </table>
 <p>To generate the View Steps report, perform the following:</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; System &gt; Jobs</span>. The 
 <span style="font-weight: bold;">System - Jobs </span>page opens.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold; text-decoration: underline; ">View Steps</span> 
 link corresponding to the required Data Load job. The <span style="font-weight: bold;">View</span> 
 <span style="font-weight: bold;">Steps</span> page opens.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_PDF.png" alt="" style=" border:none; width:100%; max-width:26px;" border="0" /> 
 or <img src="Images/Icon_Excel_Alerts.png" alt="" style=" border:none; width:100%; max-width:25px;" border="0" /> to save a PDF or XLS version of the report, respectively.<br />
The system displays a message that the report is being generated.<br />
After generating the report, it is saved on your system.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close</span> in the pop-up that appears 
 stating that the report is generated.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open 
 the report to view the details.</p>
 <p>Similarly, you can generate <span style="font-style: italic;">System 
 - Jobs</span><span style="font-weight: bold;"> </span>report from <span 
	 style="font-weight: bold;">System -</span> <span style="font-weight: bold;">Jobs</span> 
 page.</p>
<br style="page-break-before: always;" />
<br />

 <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="System-wide_Settings.htm" style="color: #008000;"><span>System-wide 
		 Settings</span></a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Activity_History.htm" style="color: #008000;"><span>Activity 
		 History</span></a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
