﻿/**
	Color scheme:
		
	Red:							#ed3144
	Yellow:							#fab03b
	Blue:							#50c7d7
	Dark blue:						#0b9eae
	Special text:					#fff
	
	Fonts:
		Arial Black
		Gill Sans, regular
	
**/

/************

	Framework CSS
	
************/
html, body {/* Required to set a maximum width to make the sidebar look good. Do NOT change. */
	width: 100%;
	min-width: 920px;
}
a {
	color: #0b9eae;
	background-color: transparent;
}
a:hover {
	text-decoration: underline;
	background-color: transparent;
}
div.floatholder {
	width: 100%;
	min-width: 920px;
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/* Overflow twice for RH editor compatibility */
	overflow: visible;
	overflow: hidden;
}
div.sidebar {
	width: 20%;
	float: left;
	height: 100%;
	padding: 0 4%;
	margin: 0 0 0 2.5%;
}
div.sidebarhome {
	width: 95%;
	text-align: center;
	margin: 10pt 2.5% 15pt;
	background: transparent url(sidebarsplitter.png) repeat-x left bottom;
	padding-bottom: 5px;
}
div.sidebarhome img {
	border: none;
}
div.socialbuttons {
	width: 95%;
	text-align: left;
	margin: 10pt 2.5% 15pt;
	background: transparent url(sidebarsplitter.png) repeat-x left bottom;
	padding-bottom: 5px;
}
div.rh_fb {/* Holds the Facebook like button*/
	margin: 0 10% 0;
}
div.rh_tweet {/* Holds the tweet button*/
	width: 80%;
	margin: 10pt 10% 0;
}
div.sidebarsearch {
	width: 95%;
	text-align: center;
	margin: 10pt 2.5% 5pt;
	background: transparent url(sidebarsplitter.png) repeat-x left bottom;
	padding-bottom: 15px;
}
div.sidebartoc {
	width: 95%;
	text-align: center;
	margin: 0 2.5% 5pt;
	background: transparent url(sidebarsplitter.png) repeat-x left bottom;
	padding-bottom: 15px;
}
div.contentholder {
	width: 65%;
	float: left;/* Floated left for RH editor compatibility */
	height: 100%;
	position: relative;
	margin-left: 2.5%;
}
div.poweredby {
	width: 100%;
	text-align: center;
	padding: 15pt 0 10pt;
}
div.poweredby a {
	color: #000;
	text-decoration: none;
	background-color: transparent;
}
div.poweredby a:hover {
	text-decoration: underline;
	background-color: transparent;
}
div.header {
	width: 100%;
	height: 45pt;
	overflow: visible;
	padding: 0;
	margin: 0;
}
div.logo {
	float: right;
	width: 138px;
	height: 131px;
	text-align: center;
	/*background: transparent url(BackgroundLogo.png) no-repeat left top;*/
	padding-top: 15px;
	margin: 0 0 0 25px;
}
div.logo img {
	border: none;
}
div.title {
	float: left;
	font-family: "Arial Black", Arial, sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 24pt;
	margin-top: 15pt;
}
div.content {
	clear: both;
	overflow: visible;
	background: #fff;
	width: auto;
	margin: 5pt 57px 0 70px;
	-moz-box-shadow: 5px 20px #000;
	-webkit-box-shadow:0 5px 20px #000;
	box-shadow:0 5px 20px #000;
	min-height: 200pt;
}
div.contenttop {
	width: 700pt;
	min-width: 100%;
	max-width: 100%;
	overflow: visible;
	height: 68px;
	background: transparent url(RibbonRepeater.png) no-repeat left top;
	background-size: 100% 90px;/* Stretch the background horizontally. */
	position: relative;
	top: -20px;
}
div.contenttopleft {
	float: left;
	width: 57px;
	height: 90px;
	background: transparent url(RibbonLeft.png) no-repeat left top;
	position: relative;
	left: -57px;
}
div.contenttopright {
	float: right;
	width: 57px;
	height: 90px;
	background: transparent url(RibbonRight.png) no-repeat left top;
	position: relative;
	right: -57px;
}
div.contenttopmiddle {
	height: 27px;
	width: 100%;
	position: relative;
	top: 22px;
}
div.left { 
	float: left;
	width: 40%;
	position: relative;
	top: 4px;
	left: -57px;
	height: 22px;
}
div.right {
	float: right;
	width: 35%;
	text-align: right;
	position: relative;
	top: 4px;
	right: -57px;
	height: 22px;
}
/******

	Framework print

******/

@media print {
	body {
		background: #fff !important;
	}
	div.floatholder {
		width: 100% !important;
		margin: 0 !important;
	}
	div.sidebar {
		display: none;
	}
	div.contentholder {
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	div.content {
		width: 100% !important;
		margin: 0;
		padding: 0;
		border: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	div.contenttop {
		display: none;
	}
	div.contenttopic {
		width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	div.header {
		display: none;
	}
	div.poweredby {
		display: none;
	}
}

/****
	
	Topic contents
	
****/
div.contenttopic {
	clear: both;
	margin: 0 10pt;
	position: relative;
	top: -30px;
}

/****
	
	Home page
	
****/
div.contenttopmiddlewelcome {
	height: 27px;
	width: 100%;
	position: relative;
	top: 22px;
	font-family: "Arial Black", Arial, sans-serif;
	font-weight: bold;
	color: #fab03b;
	text-align: center;
	line-height: 27px;
	font-size: 20px;
}
div.featured {
	width: auto;
	margin: 25pt 57px 0 70px;
}
table.featuredtable {
	border-collapse: collapse;
	width: 100%;
}
table.featuredtable tr.featured {

}

table.featuredtable  tr.featured td {
	width: 25%;
	text-transform: uppercase;
	font-size: 14pt;
	font-weight: bold;
	font-family: "Arial Black", Arial, sans-serif;
	border-bottom: 2px solid #0b9eae;
	padding: 3pt 0;
}
table.featuredtable tr.description {
}

table.featuredtable  tr.description td {
	padding: 3pt 0;
	width: 25%;
}
/*************
	
	CSS for widgets

************/
* {
	outline-style: none;
}
body {
	font-size: 14px;
	margin: 0 !important;
	padding: 0 !important;
	font-family: "Gill Sans", Arial, sans-serif;
	
	/* Background on body to force the sidebar to the bottom of the screen. */
	background: #50C7D7 url(BackgroundMenubar.png) repeat-y 4% top !important;
	background-size: 29% auto !important;/* Set background here for optimal resizing */
}

/****** Topic ******/
div.wTopic {
	/* No position attributes allowed */
	
}

/****** Glossary ******/
div.wGlossary {/* Main holder div */
	/* No position attributes allowed */
	font-size: 11pt;
}
input.wGloFilter {/* Filter box */
	float: right;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #9ab3b0;
	padding: 3px 10px;
	max-width: 80%;
	margin-bottom: 5pt;
}
div.wGloTerm {/* Glossary term */
	cursor: pointer;
	color:#000;
}
div.wGloTermHover {/* Glossary term hover */
	cursor: pointer;
	text-decoration: underline;
	color:#000;
}
div.wGloTermSelected {/* Glossary term selected */
	cursor: pointer;
	color:#000;
}
span.wGloTermText {/* Glossary term text */
	
}
div.wGloDefinition {/* Glossary definition */
	margin-left: 15pt;
	margin-bottom: 8pt;
	font-size: 10pt;
	color:#000;
}
div.wGloDefinitionHover {/* Glossary defintion holder */
	margin-left: 15pt;
	margin-bottom: 8pt;
	font-size: 10pt;
	color:#000;
}
span.wGloDefinitionText {/* Definition text */
	
}
div.wGloAlphabet {/* Category (letter or sign) */
	clear: both;
	font-size: 13pt;
	border-bottom: 1px dashed #9ab3b0;
	margin: 8pt 0;
	color:#000;
}
span.wGloAlphabetText {/* Alphabet text */
	
}

/****** Index ******/
div.wIndex {/* Main index holder */
	/* No position attributes allowed */
	font-size: 11pt;
}
input.wIdxFilter {/* Index filter input */
	float: right;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #9ab3b0;
	padding: 3px 10px;
	max-width: 80%;
	margin-bottom: 5pt;
}
div.wIdxKeyword {/* Index keyword */
	cursor: pointer;
	color: #fff;
}
div.wIdxKeywordHover {/* Index keyword hover */
	cursor: pointer;
	text-decoration: underline;
	color: #fab03b;
}
span.wIdxKeywordText {/* Index keyword text */
	
}
div.wIdxChildBlock {/* Index child block */
	cursor: pointer;
	margin-left: 15pt;
}
span.wIdxLinkText {/* Index link entry */
	text-decoration: underline;
}
div.wIdxAlphabet {/* Category (letter or sign) */
	clear: both;
	font-size: 13pt;
	border-bottom: 1px dashed #9ab3b0;
	margin: 8pt 0;
	color:#000;
}
span.wIdxAlphabetText {/* Alphabet text */
	
}


/****** TOC Tree ******/
div.wTOCTreePage {/* Main tree holder */
	/* No position attributes allowed */
}
div.wTOCTreeCloseBook {/* Closed book */
	cursor: pointer;
	color: #000;
	min-height: 20px;
	margin-top: 6px;
}
div.wTOCTreeCloseBookHover {/* Closed book hover */
	text-decoration: underline;
	cursor: pointer;
	color: #fab03b;
	min-height: 20px;
	margin-top: 6px;
}
div.wTOCTreeCloseBookSelected {/* Closed book selected */
	cursor: pointer;
	color: #fff;
	min-height: 20px;
	margin-top: 6px;
}
span.wTOCTreeCloseBookText {/* Closed book text */
	margin-left: 5px;
}
img.wTOCTreeCloseBookIcon {/* Closed book icon */
	border: none;
	vertical-align: middle;
}
div.wTOCTreeOpenBook {/* Open book */
	cursor: pointer;
	color: #000;
	min-height: 20px;
	margin-top: 6px;
}
div.wTOCTreeOpenBookHover {/* Open book hover */
	text-decoration: underline;
	cursor: pointer;
	color: #fab03b;
	min-height: 20px;
	margin-top: 6px;
}
div.wTOCTreeOpenBookSelected {/* Open book selected */
	cursor: pointer;
	color: #fff;
	min-height: 20px;
	margin-top: 6px;
}
div.wTOCTreeOpenBookChildBlock {/* Open book child block */
	margin-left: 15pt;
	cursor: pointer;
}
span.wTOCTreeOpenBookText {/* Open book text */
	margin-left: 5px;
}
img.wTOCTreeOpenBookIcon {/* Open book image */
	border: none;
	vertical-align: middle;
}
div.wTOCTreePage {/* TOC page */
	cursor: pointer;
	color: #000;
	min-height: 20px;
	margin-top: 6px;
}
div.wTOCTreePageHover {/* TOC page hover */
	text-decoration: underline;
	cursor: pointer;
	color: #fab03b;
	min-height: 20px;
	margin-top: 6px;
}
div.wTOCTreePageSelected {/* TOC page selected */
	cursor: pointer;
	color: #fff;
	min-height: 20px;
	margin-top: 6px;
}
span.wTOCTreePageText {/* TOC page text */
	margin-left: 5px;
}
img.wTOCTreePageIcon {/* TOC page icon */
	border: none;
	vertical-align: middle;
}
div.wTOCTreeLink {/* TOC URL */
	cursor: pointer;
	color: #000;
	min-height: 20px;
	margin-top: 6px;
}
div.wTOCTreeLinkHover {/* TOC URL hover */
	text-decoration: underline;
	cursor: pointer;
	color: #fab03b;
	min-height: 20px;
	margin-top: 6px;
}
div.wTOCTreeLinkSelected {/* TOC URL selected */
	cursor: pointer;
	color: #fff;
	min-height: 20px;
	margin-top: 6px;
}
span.wTOCTreeLinkText {/* TOC URL text */
	margin-left: 5px;
}
img.wTOCTreeLinkIcon {/* TOC URL image */
	border: none;
	vertical-align: middle;
}

/****** TOC expanding node ******/
div.wTOCNode {/* Main TOC holder */
	/* No position attributes allowed */
	width: 100%;
	border: none;
	background-color: transparent;
	text-align: center;
}
div.wTOCNodeCloseBook {/* Closed book */
	cursor: pointer;
	border: 1px solid #0b9eae;
	height:24px;
    line-height:24px;
	width: 100%;
}
div.wTOCNodeCloseBookHover {/* Closed book hover */
	cursor: pointer;
	border: 1px solid #0b9eae;
	height:24px;
    line-height:24px;
	color: #fab03b;
	background-color: #0b9eae;
	width: 100%;
}
div.wTOCNodeCloseBookSelected {/* Closed book selected */
	cursor: pointer;
	border: 1px solid #0b9eae;
	height:24px;
    line-height:24px;
	color: #fff;
	background-color: #0b9eae;
	width: 100%;
}
span.wTOCNodeCloseBookText {/* Closed book text */
	text-decoration: none;
}
img.wTOCNodeCloseBookIcon {/* Closed book icon */
	border: none;
	float: right;
}
div.wTOCNodeOpenBook {/* Open book */
	cursor: pointer;
	border: 1px solid #0b9eae;
	height:24px;
    line-height:24px;
	width: 100%;
}
div.wTOCNodeOpenBookHover {/* Open book hover */
	cursor: pointer;
	border: 1px solid #0b9eae;
	height:24px;
    line-height:24px;
	color: #fab03b;
	background-color: #0b9eae;
	width: 100%;
}
div.wTOCNodeOpenBookSelected {/* Open book selected */
	cursor: pointer;
	border: 1px solid #0b9eae;
	height:24px;
    line-height:24px;
	color: #fff;
	background-color: #0b9eae;
	width: 100%;
}
span.wTOCNodeOpenBookText {/* Open book text */
	text-decoration: none;
}
img.wTOCNodeOpenBookIcon { /* Open book icon */
	border: none;
	float: right;
}
div.wTOCNodePage {/* TOC page */
	cursor: pointer;
	border: 1px solid #0b9eae;
	height:24px;
    line-height:24px;
	width: 100%;
}
div.wTOCNodePageHover {/* TOC page hover */
	cursor: pointer;
	border: 1px solid #0b9eae;
	height:24px;
    line-height:24px;
	color: #fab03b;
	background-color: #0b9eae;
	width: 100%;
}
div.wTOCNodePageSelected {/* TOC page selected */
	cursor: pointer;
	border: 1px solid #0b9eae;
	height:24px;
    line-height:24px;
	color: #fff;
	background-color: #0b9eae;
	width: 100%;
}
span.wTOCNodePageText {/* TOC page text */
	text-decoration: none;
}
img.wTOCNodePageIcon {/* TOC page image */
	border: none;
	float: right;
}
div.wTOCNodeLink {/* TOC URL */
	cursor: pointer;
	border: 1px solid #0b9eae;
	height:24px;
    line-height:24px;
	width: 100%;
}
div.wTOCNodeLinkHover {/* TOC URL hover */
	cursor: pointer;
	border: 1px solid #0b9eae;
	height:24px;
    line-height:24px;
	color: #fab03b;
	background-color: #0b9eae;
	width: 100%;
}
div.wTOCNodeLinkSelected {/* TOC URL selected */
	cursor: pointer;
	border: 1px solid #0b9eae;
	height:24px;
    line-height:24px;
	color: #fff;
	background-color: #0b9eae;
	width: 100%;
}
span.wTOCNodeLinkText {/* TOC URL text */
	text-decoration: none;
}
img.wTOCNodeLinkIcon {/* TOC URL image */
	border: none;
	float: right;
}
div.wTOCNodeUp {/* TOC up */
	border: none;
	height:24px;
    line-height:24px;
	text-align: left;
	width: 100%;
}
div.wTOCNodeUpHover {/* TOC up hover */
	border: none;
	cursor: pointer;
	height:24px;
    line-height:24px;
	text-align: left;
	width: 100%;
}
span.wTOCNodeUpText {/* TOC up text */
	text-decoration: none;
}
img.wTOCNodeUpIcon {/* TOC up image */
	border: none;
	float: left;
}


/****** Print link ******/
a.wPrintLink {
	background-color: transparent;
}

/****** Print button ******/
a.wPrintButton {
	margin-right: 8pt;
	background-color: transparent;
}
img.wPrintButton {
	border: none;
}

/****** Browse sequence links ******/
a.wBSBackLink {
	margin-right: 8pt;
	background-color: transparent;
}
a.wBSNextLink {
	margin-right: 8pt;
	background-color: transparent;
}

/****** Browse sequence buttons ******/
a.wBSBackButton {
	margin-right: 8pt;
	background-color: transparent;
}
img.wBSBackButton {
	border: none;
}
a.wBSNextButton {
	margin-right: 8pt;
	background-color: transparent;
}
img.wBSNextButton {
	border: none;
}

/****** Search results area ******/
div.wSearchResults {
	/* No position attributes allowed */
	clear: both;
	margin-top: 0;
	width: 100%;
}
div.wSearchResultSettings {
	height: auto;
	overflow: visible;
	overflow: hidden;
	width: 90%;
	margin: 0 5% 10pt;
}
div.wSearchHighlight {
	display: inline;
	float: left;
	position: relative;
	top: -2px;
}
input.wSearchHighlight {
	position: relative;
	top: 0.75pt;
}
span.wSearchHighlight {
	margin-left: 6pt;
}
div.wSearchCount {
	float: right;
}
select.wSearchCount {
	float: right;
}
span.wSearchCount {
	float: right;
	margin-right: 6pt;
}
div.wSearchMessage {
	clear: both;	
	width: 90%;
	border-bottom: 1px solid #fab03b;
	padding-bottom: 2pt;
	margin: 0 5%;
}
span.wSearchMessage {
	font-weight: bold;
}
div.wSearchResultItemsBlock {
	width: 90%;
	margin: 5pt 5% 0;
}
div.wSearchResultItem {
	margin-top: 10pt;
	width: 90%;
	margin-left: 5%;
}
div.wSearchResultTitle {
	cursor: pointer;
	text-decoration: underline;
	color: #ed3144;
}
div.wSearchResultTitleHover {
	cursor: pointer;
	text-decoration: underline;
	color: #ed3144;
}
span.wSearchURL {
	color: #c4c4c4;
}
span.wSearchContext {

}
div.wSearchNavigation {
	margin-top: 10pt;
	border-top: 1px solid #fab03b;
	padding-top: 5pt;
	padding-left: 5%;
	width: 95%;
}
div.wSearchBack {
	float:left;
    margin-right:5pt;
}
a.wSearchBack {
	text-decoration:none;
	margin:0;
	padding: 0 0 0 45px;
	height: 100%;
	min-height: 22px;
	width: 1px;
	color: transparent;
	background: transparent url(searchPrev.png) no-repeat center center;
}
a.wSearchBack:hover {
	background-image: url(searchPrevHover.png);
}
div.wSearchNext {
	float:left;
    margin-right:5pt;
}
a.wSearchNext {
	text-decoration:none;
	margin:0;
	padding: 0 0 0 45px;
	height: 100%;
	min-height: 22px;
	width: 1px;
	color: transparent;
	background: transparent url(searchNext.png) no-repeat center center;
}
a.wSearchNext:hover {
	background-image: url(searchNextHover.png);
}
div.wSearchPageNumbers {
	float:left;
	margin-right:5pt;
	margin-top:0;
}
li.wSearchPageNumberSelected {
	margin-right:3pt;
}
li.wSearchPageNumberLink {
    margin-right:3pt;
    color:#0b9eae;
}
span.wSearchPageNumberSelected {

}
a.wSearchPageNumberLink {
	background-color: transparent;
}

/****** Search results area for small screens ******/

div.wSearchResultsSmallScr {
	/* No position attributes allowed */
	margin-top: 10pt;
	width: 100%;
}
div.wSearchResultSettingsSmallScr {
	height: auto;
	overflow: visible;
	overflow: hidden;
	width: 90%;
	margin: 0 5%;
	position: relative;
	left: -40px;
	top: 4px;
}
div.wSearchHighlightSmallScr {
	display: inline;
	float: left;
}
input.wSearchHighlightSmallScr {
	display: inline;
	float: left;
	position: relative;
	top: -2px;
}
span.wSearchHighlightSmallScr {
	margin-left: 6pt;
}
div.wSearchCountSmallScr {
	float: right;
}
div.wSearchCountComboSmallScr {
	float: right;
}
select.wSearchCountSmallScr {
	float: right;
	margin-right: 6pt;
}
div.wSearchCountMsgSmallScr {

}
span.wSearchCountSmallScr {

}
div.wSearchMessageSmallScr {
	margin-top: 15pt;
	margin-left: 5%;
	width: 90%;
	border-bottom: 1px solid #fab03b;
	padding-bottom: 2pt;
}
span.wSearchMessageSmallScr {

}
div.wSearchResultItemsBlockSmallScr {
	margin-left: 5%;
	margin-top: 5pt;
	width: 90%;
}
div.wSearchResultItemSmallScr {
	margin-top: 10pt;
}
div.wSearchResultTitleSmallScr {
	cursor: pointer;
	text-decoration: underline;
	color: #ed3144;
}
div.wSearchResultTitleHoverSmallScr {
	cursor: pointer;
	text-decoration: underline;
	color: #ed3144;
}
span.wSearchURLSmallScr {
	color: #c4c4c4;
}
span.wSearchContextSmallScr {

}
div.wSearchBackSmallScr {
	float:left;
    margin-right:5pt;
}
a.wSearchBackSmallScr {
	text-decoration:none;
	margin:0;
	padding: 0 0 0 45px;
	height: 100%;
	min-height: 22px;
	width: 1px;
	color: transparent;
	background: transparent url(searchPrev.png) no-repeat center center;
}
a.wSearchBackSmallScr:hover {
	background-image: transparent url(searchPrevHover.png);
}
div.wSearchNextSmallScr {
	float:left;
    margin-right:5pt;
}
a.wSearchNextSmallScr {
	text-decoration:none;
	margin:0;
	padding: 0 0 0 45px;
	height: 100%;
	min-height: 22px;
	width: 1px;
	color: transparent;
	background: transparent url(searchNext.png) no-repeat center center;
}
a.wSearchNextSmallScr:hover {
	background-image: transparent url(searchNextHover.png);
}
div.wSearchPageNumbersSmallScr {
	float:left;
	margin-right:5pt;
	margin-top:0;
}
li.wSearchPageNumberSelectedSmallScr{
	margin-right:3pt;
}
li.wSearchPageNumberLinkSmallScr {
    margin-right:3pt;
    color:#0b9eae;
}
li.wSearchPageNumberLinkSmallScr:hover {
	text-decoration:underline;
}
span.wSearchPageNumberSelectedSmallScr {

}
a.wSearchPageNumberLinkSmallScr {
	background-color: transparent;
}


/****** Show/Hide ******/
a.wShowHide {
	background-color: transparent;
}

/****** Show/Hide toggle ******/
a.wShow {
	background-color: transparent;
}
a.wHide {
	background-color: transparent;
}

/****** Project title ******/
span.wProjTitle {

}

/****** Search options (with AND) ******/
div.wSearchField {
	display: block;
	width: 100%;
	min-width: 160px;
	white-space: nowrap;
	margin: 0 auto 10pt;
}
input.wSearchField {
	border: 1px solid #0b9eae;
	padding: 3px 35px 3px 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-appearance: none;
}
a.wSearchLink {
	position: relative;
	left: -20px;
	top: 2px;
}
img.wSearchLink {
	border: none;
}
input.wSearchAND {
	position: relative;
	top: 2pt;
}
span.wSearchAND {
	position: relative;
	top: 0.5pt;
	left: 3pt;
	color: #fff;
}

/****** Search options ******/
div.wSearchOptions {
	/* No position attributes allowed */
	
}
/****** Tabbed Panel - Horizontal (empty and not empty) ******/
div.wTabbedPanel {
	/* No position attributes allowed */
	width: 100%;
}
ul.wTabGroup {
	background-color: #0b9eae;
	font-size: 12pt;
	padding:0;
	text-align: center;
	height: auto;
	padding: 0 0 5px 0;
	border: none;
	border: 3px solid #0b9eae;
}
li.wTab {
	padding: 0 8pt;
	color: #fff;
	cursor: pointer;
	margin: 0 5pt;
	border-bottom: 3px d #0b9eae;
	white-space: nowrap;
}
li.wTabHover {
	padding: 0 8pt;
	color: #fab03b;
	cursor: pointer;
	margin: 0 5pt;
	border-bottom: 3px double #0b9eae;
	white-space: nowrap;
}
li.wTabSelected {
	padding: 0 8pt;
	color: #fab03b;
	margin: 0 5pt;
	border-bottom: 3px double #fab03b;
	white-space: nowrap;
}
span.wTabText {
	
}
div.wTabContentGroup {
	
}
div.wTabContent {
	margin: 15pt 5% 0;
	padding: 0 0 15pt 0;
	width: 90%;
	overflow-y: visible;
	overflow-x: auto;
}

/****** Tabbed pannel - Vertical (empty and not empty) ******/
div.wVTabbedPanel {
	/* No position attributes allowed */
	width: 100%;
	text-align: left;
}
ul.wVTabGroup {
	font-size: 12pt;
	width: 100%;
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
li.wVTab {
	white-space: nowrap;
	margin: 2pt 0;
	padding: 3pt 0;
	color: #fff;
	border-bottom: 1px solid #fff;
	height: 40px;
	line-height: 40px;
}
li.wVTabHover {
	cursor: pointer;
	white-space: nowrap;
	margin: 2pt 0;
	padding: 3pt 0;
	color: #fff;
	border-bottom: 1px solid #fff;
	height: 40px;
	line-height: 40px;
}
li.wVTabSelected {
	white-space: nowrap;
	margin: 2pt 0;
	padding: 3pt 0;
	color: #000;
	border-bottom: 1px solid #fff;
	height: 40px;
	line-height: 34px;
	background: transparent url(MenuHover.png) no-repeat center center;
	background-size: 100% 38px;
}
span.wVTabText {

}
div.wVTabContentGroup {
	overflow: auto;
}
div.wVTabContent {
	margin: 10pt 15pt;
}

/****** Loading ******/
div.wLoadingIcon {
	text-align: center;
	width: 100%;
}
div.loadingicon {

}
img.wLoadingIcon {
	border: none;
}
div.wLoadingText {
	text-align: center;
	width: 100%;
}
div.loadingtext {

}

/****** Internal widget styles ******/
.unclickable {/*Modifies the cursor on hover to default*/
	cursor: default;
}
.handcursor {/*Modifies the cursor on hover to hand*/
	cursor: pointer;
	cursor: hand;
}
.unselectable {/*Modifies the content unselectable by mouse*/
	-webkit-user-select: none;
	-moz-user-select: none;
}
div.treeitem {/*Used by TOC Tree widget*/
	clear: both;
	margin: 0px;
	padding: 0px;
}
li.hlist {/*Used to display horizontal list of page numbers in search results */
	display: inline;
}
a.nolink {/*Used to remove default styling of a hyperlink*/
	text-decoration: none;
	color: #fff;
	background-color: transparent;
}
a.nolink:hover {
	color: #fab03b;
	background-color: transparent;
}