
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Admin_User_Guide - Default Task Action Rules</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "6.3.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_iGovernance_360.htm" class="homelink"><span>Admin_User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="584">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText">&#160;</p>
		<p class="TableText"><span style="font-weight: bold;">Previous</span>: 
		 <a href="System_Settings.htm" style="color: #008000;">System Settings</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span><a href="Data_Import_Threshold.htm" 
															 style="color: #008000;">Data 
		 Import Threshold</a></span></p></td>
	</tr>
 </table>
 <h1>Default Task Action Rules</h1>
 <p>Tuebora Portal administrator you can create <span style="font-weight: bold;">Default 
 Task Action</span> rules if no actions are taken by assignees. Default 
 Task Action rules automatically retain or remove Access after a specified 
 time period. Default Task Action rules can be applied only to <span style="font-weight: bold;">Certification 
 Tasks</span> generated by Certification Policies and <span style="font-weight: bold;">Remediation 
 Tasks</span> generated when Access Control Definitions are run. You cannot 
 apply Default Task Action rules to unattended escalations for unattended 
 Access Approval Tasks. </p>
 <p>By default, Tuebora Portal contains two Default Task Action rules<span 
	 class="_Tgc">–</span>one that retains Access permanently for all unattended 
 Certification-related tasks and other that removes Access to Assets immediately 
 for all unattended Access Control Definitions-related tasks. You can also 
 create custom Default Task Action rules for the unattended tasks of Certification 
 Policies or Access Control Definitions.</p>
 <p>For example, an organization can create a Default Task Action rule which 
 specifies that Certification Tasks generated from a Certification Policy 
 to certify access to Finance applications (Assets) that are unattended 
 for 5 days will lead to users retaining Access to the Finance applications 
 for 7 days. The users who are part of these unattended Certification Policy 
 tasks will lose access on the 8th day. </p>
 <p style="color: #003868; margin-left: 0px; font-weight: bold;">Navigation</p>
 <table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="margin-top: 4pt; margin-bottom: 4pt;">To 
		 access the <span style="font-weight: bold;">Default Task Action</span> 
		 feature, select <span style="font-weight: bold;">MENU &gt; System 
		 &gt; Settings </span>and<span style="font-weight: bold;"> </span>then<span 
		 style="font-weight: bold;"> </span>click<span style="font-weight: bold;"> 
		 Default Task Action </span>tab.</p></td>
	</tr>
 </table>
 <h2>Using the Default Task Action Page</h2>
 <p>You can do the following on the Default Task Action page:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Creating_a_No_Action_Rule">Creating 
 a Default Task Action Rule</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Editing_a_No_Action_rule">Editing 
 a Default Task Action Rule</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Deleting_an_Escalation_Rule">Deleting 
 a Default Task Action Rule</a></p>
 <h3><a name="Creating_a_No_Action_Rule"></a>Creating a Default Task Action 
 Rule</h3>
 <p>You create a Default Task Action rule to retain or remove Access to 
 Assets by specifying the Certification Policies and/or Access Control 
 Definitions for which the escalations must be automatically addressed.</p>
 <p>To create a Default Task Action rule, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold;">Default Task Action</span> tab in 
 the <span style="font-weight: bold;">System - Settings </span>page.<br />
<br />
The <span style="font-weight: bold;">Default Task Action</span> page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Configuration</span> 
 icon <span style="font-size: 12pt;">(</span><img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /><span 
	 style="font-size: 12pt;">)</span> next to the Default Task Action 
 rule or the rule you last created.<br />
<br />
A new Default Task Action rule is added to the list of Default Task Action 
 rules, below the existing Default Task Action rules. Be default, this 
 Default Task Action rule is named New Rule and is applicable to all Certification 
 Policies and Access Control Definitions.<br />
<br />
You must specify the Certification Policies and/or Access Control Definitions 
 and the schedule to retain or remove Access.<br />
<br />
Following figure displays the Default Task Action page with a new rule.<br />
<br />
<img src="Images/default_task_action_rules.png" alt="" style=" border:none; width:100%; max-width:1332px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To rename 
 the Default Task Action rule:</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the name of the Default Task Action rule. </p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Enter 
 the new name of the Default Task Action rule.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold;">Tick</span> mark icon below the name.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>(Optional) 
 If you are creating the Default Task Action rule for Certification Policies, 
 select the names of the Certification Policies in the <span style="font-weight: bold;">Acting 
 on </span>column. <br />
<br />
Select one of the following options:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">All Certification Tasks</span>, if you 
 want to apply the Default Task Action rule to all Certification Policies. 
 </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span class="" style="font-weight: bold;">These Certification tasks in&#160;</span><span 
	 class="" style="font-weight: bold; text-decoration: underline; ">these 
 Policies</span>, if you want to apply the Default Task Action rule to 
 specific Certification Policies. <br />
<br />
To select the Certification Policies:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold; text-decoration: underline; ">these 
 Policies</span> hyperlink.<br />
<br />
The <span style="font-weight: bold;">Select Policies </span>subwindow opens. 
 </p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Enter 
 the name of the Certification Policy in the <span style="font-weight: bold;">Enter 
 Name of Policy you want to add </span>field and click <span style="font-weight: bold;">Add</span>.<br />
<br />
The Default Task Action rule is now applicable to the Certification Policy.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 step (ii) to add multiple Certification Policies.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>. 
 <br />
<br />
The subwindow closes and the Certification Policies you selected are shown 
 under the <span style="font-weight: bold; text-decoration: underline; ">these 
 Policies</span><span style="font-weight: bold;"> </span>hyperlink.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a name="_Optional__If_you_selected_a_remediation_task__select_the_type_of_control_to_which_this_escalation_rule_is_applicable__in_the_What_to_Escalate_column._Select_one_of_the_following_options:"></a>(Optional) 
 If you are creating the Default Task Action rule for Remediation Tasks, 
 select the Access Control Definitions in the <span style="font-weight: bold;">Acting 
 on </span>column. <br />
<br />
Select one of the following options:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">All Remediation Tasks</span>, if you 
 want to apply the Default Task Action rule to all Access Control Definitions. 
 </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span class="" style="font-weight: bold;">These </span><span style="font-weight: bold;">Remediation 
 tasks</span><span class="" style="font-weight: bold;"> in&#160;</span><span 
	 class="" style="font-weight: bold; text-decoration: underline; ">these 
 Controls</span>, if you want to apply the Default Task Action rule to 
 specific Access Control Definitions. <br />
<br />
To select the Access Control Definitions:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold; text-decoration: underline; ">these 
 Controls</span> hyperlink.<br />
<br />
The <span style="font-weight: bold;">Select Controls </span>subwindow opens. 
 </p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Enter 
 the name of the Access Control Definition in the <span style="font-weight: bold;">Enter 
 Name of Control you want to add </span>field and click <span style="font-weight: bold;">Add</span>.<br />
<br />
The Default Task Action rule is now applicable to the Access Control Definition.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 step (ii) to add multiple Access Control Definitions.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>. 
 <br />
<br />
The subwindow closes and the Access Control Definitions you selected are 
 shown under the <span style="font-weight: bold; text-decoration: underline; ">these 
 Controls</span><span style="font-weight: bold;"> </span>hyperlink.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>If you 
 are creating the Default Task Action rule for Certification Policies, 
 select the action that must be performed when escalations are not addressed. 
 <br />
<br />
Select one of the following options:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span class="" style="font-weight: bold;">Remove Access Immediately</span>, 
 if you want to remove Access specified in the Certification Policies. 
 </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span class="" style="font-weight: bold;">Retain Access Temporarily and 
 remove after Days </span><span class="">and enter a value to remove Access 
 specified in the Certification Policies after some days</span>. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span class="" style="font-weight: bold;">Retain Access Indefinitely</span>, 
 if you want retain Access specified in the Certification Policies permanently. 
 </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>If you 
 are creating the Default Task Action rule for Remediation Tasks, select 
 the action that must be performed when escalations are not addressed. 
 <br />
<br />
Select one of the following options:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span class="" style="font-weight: bold;">Remove Access Immediately</span>, 
 if you want to remove Access specified in the Access Control Definitions. 
 </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span class="" style="font-weight: bold;">Retain Access Temporarily and 
 remove after Days </span><span class="">and enter a value to remove Access 
 specified in the Access Control Definitions after some days</span>. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To save 
 the Default Task Action rule, click <span style="font-weight: bold;">Save 
 changes</span> at the lower left corner of the page.<br />
<br />
A subwindow confirms that the Default Task Action rule is created in Tuebora 
 Portal.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">OK</span> to close the subwindow.</p>
 <h3><a name="Editing_a_No_Action_rule"></a>Editing a Default Task Action 
 rule</h3>
 <p>You edit a Default Task Action rule when the parameters of the current 
 Default Task Action rule must be changed. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To edit 
 Default Task Action rule, select any field in the Default Task Action 
 rule and modify the value you entered earlier.</p>
 <h3><a name="Deleting_a_No_Actions_rule"></a>Deleting a Default Task Action 
 rule</h3>
 <p>You delete a Default Task Action rule when all unattended governance 
 tasks have been deleted and you no longer want the Default Task Action 
 rule on the Tuebora Portal setup. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To delete 
 a Default Task Action rule, click the <img src="Images/Icon_Failed.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> icon next to 
 the Default Task Action rule you want to delete. </p>
<br style="page-break-before: always;" />

 <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="System_Settings.htm" style="color: #008000;"><span>System 
		 Settings</span></a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Data_Import_Threshold.htm" style="color: #008000;"><span>Data 
		 Import Threshold</span></a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
