
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Admin_User_Guide - Mover Rule</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_iGovernance_360.htm" class="homelink"><span>Admin_User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1088">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


<br style="page-break-before: always;" />

     <h1 style="font-weight: bold;">Access Provisioning for Movers</h1>
     <p>When users move from one department to another department or when the 
 job role changes in the same department, the basic access granted to users 
 must be retained, the unwanted access must be removed and the new set 
 of access required to perform the job responsibilities of the new role. 
 If Access deprovisioning and provisioning is done manually, the task can 
 become complicated.</p>
     <p>Tuebora Portal automates the process of Access Provisioning for Movers. 
 You can use <span style="font-weight: bold;">JML Rules</span> feature 
 to create <span style="font-weight: bold;">Mover Rules</span> to automate 
 the removing of unwanted Access and granting new Access in Assets. Mover 
 Rules trigger Provisioning Tasks, which does the provisioning automatically 
 to movers when the set criteria is met. You can even set the mover rules 
 to grant Access only after approval by concerned Approvers.</p>
     <h2>Creating a Mover Rule</h2>
     <p>To create a Mover Rule in the system, perform the following:</p>
     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; Workflows &gt; JML Rules</span><span>.</span> 
 The <span style="font-weight: bold;">JML - Rules</span> page opens.</p>
     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Mover Rule</span> from the drop-down 
 list available in the <span style="font-weight: bold;">Create</span> field, 
 on the right-hand side of the page.<br />
The <span style="font-weight: bold;">Create Mover Provisioning Rule</span> 
 page opens.<br />
<br />
<img src="Images/MoverRule1.png" alt="" style=" border:none; width:100%; max-width:947px;" border="0" /></p>
     <p style="font-weight: bold; color: #003872; text-decoration: none; ">Step 
 1: Specify Name and Description</p>
     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 name for the rule in the <span style="font-weight: bold;">Rule Name</span> 
 field.</p>
     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 description to identify the rule in the <span style="font-weight: bold;">Rule 
 Description</span> field.</p>
     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the category of users for whom the rule is applicable. The available categories 
 are as follows:</p>
     <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All New Users</span> - Select this option 
 to apply the rule for all Users.</p>
     <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">New User(s) matching this criteria</span> 
 - Select this option to apply the rule for all Users matching a specific 
 criteria.<br />
<br />
To specify the criteria, perform the following:</p>
     <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold; text-decoration: underline; ">this criteria</span>.<br />
The <span style="font-weight: bold;">Select</span> <span style="font-weight: bold;">Users</span> 
 subwindow opens.<br />
<br />
<img src="Images/SelectUser_provisioningrule.png" alt="" style=" border:none; width:100%; max-width:539px;" border="0" /></p>
     <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop-down list available in <span 
	 style="font-weight: bold;">Include Users that match All/Any of the 
 following criteria</span>:</p>
     <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&#160;<span 
	 style="font-weight: bold;">All</span> - Select this option to include 
 the Users who match all the defined criteria.</p>
     <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Select this option to include 
 the Users who match any of the defined criteria.</p>
     <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom</span> <span style="font-weight: bold;">Filter</span>. 
 The fields to define the criteria appear.</p>
     <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 on the category to specify the criteria. For example, you can set the 
 criteria based on the Department, Employee Type - Employee or Contract, 
 Department, etc.</p>
     <p class="list" style=" margin-left: 160px; text-indent: -20px;">a.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop-down and create the filter.</p>
     <p class="list" style=" margin-left: 160px; text-indent: -20px;">b.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">To add rows, click <img src="Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.</span></p>
     <p class="list" style=" margin-left: 160px; text-indent: -20px;">c.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>.<br />
The subwindow closes and the selected criteria is shown under Users matching 
 <span style="font-weight: bold; text-decoration: underline; ">this criteria</span> 
 option.</p>
     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>.</p>
     <p><span style="font-weight: bold; color: #003872;">Step 2: Specify User 
 changes</span><span style="text-decoration: underline; "><br />
</span>Specify the user changes for which this rule is applicable.</p>
     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold; text-decoration: underline; ">these changes</span> 
 in the User(s) matching these changes option.<br />
The <span style="font-weight: bold;">Specify Access</span> subwindow opens.</p>
     <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop-down list available in <span 
	 style="font-weight: bold;">Include Users that match All/Any of the 
 following criteria</span>:</p>
     <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&#160;<span 
	 style="font-weight: bold;">All</span> - Select this option to include 
 the Users who match all the defined criteria.</p>
     <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Select this option to include 
 the Users who match any of the defined criteria.</p>
     <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom</span> <span style="font-weight: bold;">Filter</span>. 
 The fields to define the criteria appear.</p>
     <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 on the category to specify the criteria. For example, you can set the 
 criteria based on the Job Title, Department, Employee Type - Employee 
 or Contract, etc.</p>
     <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop-down and create the filter.</p>
     <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To add 
 rows, click <img src="Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.<br />
<br />
<img src="Images/MoverRule2.png" alt="" style=" border:none; width:100%; max-width:843px;" border="0" /></p>
     <p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>.<br />
The subwindow closes and the selected criteria is shown under User(s) matching 
 <span style="text-decoration: underline; ">these changes</span> option.</p>
     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>.</p>
     <p style="font-weight: bold; color: #003872; text-decoration: none; ">Step 
 3: Specify Access to be Granted</p>
     <p>Specify the access to be granted to the users.<br />
<br />
You can select the Access using any of the following options:</p>
     <ul>
	<li style="list-style: disc;">
 <p class="list"><span style="font-weight: bold;">Access 
	 Categories and Tags</span> - Lists all the access in all assets integrated 
	 with Tuebora Portal.<br />
	Use this option to select the access to be granted to users.<br />
	<br />
	To select the required Access perform the following:</p></li>
</ul>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required Access.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 when the Access must be granted in the <span style="font-weight: bold;">Specify 
 whether Access needs to be granted immediately or later</span> field. 
 The options available are as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Immediately</span> - Select this option 
 if the Access has to be granted immediately.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">After 'X' days</span> - Select this option 
 if the Access has to be granted after few days of user moving to the new 
 department/role. Replace <span style="font-style: italic; font-weight: bold;">x</span> 
 &#160;with the number of days, after which access must be granted to users.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 the duration for which the Access is required in the <span style="font-weight: bold;">Specify 
 how long the Access should be granted</span> field.<br />
<br />
The options available are as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Indefinite</span> - Select this option 
 if the user needs the Access for a very long period or always.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">For 'X' days</span> - Select this option 
 if the user needs the Access only for a few days. Replace <span style="font-style: italic; 
	 font-weight: bold;">x</span> &#160;with the number of days, the Access 
 is required.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 if there is any approval required to grant the Access. The options are 
 as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Yes</span> - Select this option if the 
 Access must be granted only after Approval.<br />
The Approval follows the same process as that for a similar Access Request 
 and settings defined. For more information on configuring the Access Request 
 settings, see <a href="Request_Access_Workflow.htm">Request Access Settings</a>.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">No, it will be granted immediately</span> 
 - Select this option if the Access must be granted as soon as the rule 
 is created.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span>.<br />
The selected Access is Added.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To select 
 Access listed in different pages, you can click the previous, next, and 
 page numbers buttons at the lower-right corner of the <b>Specify what 
 Access needs to be granted <span style="font-weight: normal;">section</span></b>.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add and Close</span>.</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Asset and Access 
	 Type</span> - Use this option, if you want to select the Access in 
	 specific Asset.</p></li>
</ul>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Asset and Access Type</span> tab.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Type 
 the Asset name in the <span style="font-weight: bold;">Specify</span> 
 <span style="font-weight: bold;">Asset</span> field. System filters and 
 displays the Assets matching the asset name specified.<br />
<br />
Click the Asset Name, the Access categories are listed. <span style="mso-add-space: auto;">&#160;</span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the required <b style="mso-bidi-font-weight: normal; 
															 font-weight: normal;">Access</b></span> 
 <span style="mso-bidi-font-weight: normal;">category</span> <span lang="EN-US" 
	 xml:lang="EN-US">to view the Access grouped under it.</span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the required Access from the 
 list.</span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 when the Access must be granted in the <span style="font-weight: bold;">Specify 
 whether Access needs to be granted immediately or later</span> field. 
 The options available are as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Immediately</span> - Select this option 
 if the Access has to be granted immediately.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">After 'X' days</span> - Select this option 
 if the Access has to be granted after few days of user moving to the new 
 department/role. Replace <span style="font-style: italic; font-weight: bold;">x</span> 
 &#160;with the number of days, after which access must be granted to the 
 user.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(vi)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 the duration for which the Access is required in the <span style="font-weight: bold;">Specify 
 how long the Access should be granted</span> field.<br />
<br />
The options available are as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Indefinite</span> - Select this option 
 if the user needs the Access for a very long period or always.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">For 'X' days</span> - Select this option 
 if the user needs the Access only for a few days. Replace <span style="font-style: italic; 
	 font-weight: bold;">x</span> &#160;with the number of days, the Access 
 is required.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(vii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 if there is any approval required to grant the Access. The options are 
 as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Yes</span> - Select this option if the 
 Access must be granted only after Approval.<br />
The Approval follows the same process as that for a similar Access Request 
 and settings defined. For more information on configuring the Access Request 
 settings, see <a href="Request_Access_Workflow.htm">Request Access Settings</a>.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">No, it will be granted immediately</span> 
 - Select this option if the Access must be granted as soon as the rule 
 is created.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(viii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span>. The selected Access is Added.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(ix)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To select 
 Access listed in different pages, you can click the previous, next, and 
 page numbers buttons at the lower-right corner of the <span style="font-weight: bold;">Search 
 for Access within Asset</span> <b><span style="font-weight: normal;">section</span></b>.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(x)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add and Close</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_RemoveAccess.png" alt="" style=" border:none; width:100%; max-width:15px;" border="0" /> 
 (Remove Access) icon to remove the Access if you have selected a wrong 
 Access.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_Edit_Access.png" alt="" style=" border:none; width:100%; max-width:17px;" border="0" /> 
 (Edit Access) icon to edit the Access Grant Date or Access Grant Duration 
 or the Access grant approval process specified while selecting the Access.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>.</p>
<p style="color: #003872; font-weight: bold; text-decoration: none; ">Step 
 4: Specify Access to be Removed</p>
<p>The Specify Access to be Removed section appears to define the Access 
 that must be removed when the users move from one department to another 
 or Job Title changes or in any other scenario.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">12.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Access</span> to specify what Access 
 must be removed.<br />
The <span style="font-weight: bold;">Specify Access</span> subwindow opens. 
 You can select the Access using any of the following options:</p>
<ul>
	<li style="list-style: disc;">
 <p class="list"><span style="font-weight: bold;">Assets</span>: 
	 Use this option to specify what Access must be removed in which Assets.<br />
	<br />
	To select the required Access perform the following:</p></li>
</ul>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Assets</span> tab.<br />
By default, this tab is selected when Specify Access subwindow opens.<br />
<br />
You can select the any of the following options:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All Access in All Assets</span>: Removes 
 all Access of users.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All Access from these Assets</span>: &#160;Removes 
 all Access of users in the specified Assets.</p>
<p class="list" style=" margin-left: 160px; text-indent: -20px;">a.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To specify 
 the Assets, select the Assets from the Asset list displayed after selecting 
 this option.</p>
<p class="list" style=" margin-left: 160px; text-indent: -20px;">b.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Specify when the Access must be removed 
 in the</span> <span style="text-indent: -20px; font-weight: bold;">Specify 
 whether Access needs to be removed immediately or later</span> <span style="text-indent: -20px;">field. 
 The options available are as follows:</span></p>
<p style=" margin-left: 160px;">i.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Immediately</span> - Select this option 
 if the Access has to be removed immediately.</p>
<p style=" margin-left: 160px;">ii.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">After 'X' days</span> - Select this option 
 if the Access has to be removed after few days of user moving to the new 
 department/role. Replace <span style="font-style: italic; font-weight: bold;">x</span> 
 &#160;with the number of days, after which access must be removed for 
 users.</p>
<p class="list" style=" margin-left: 160px; text-indent: -20px;">c.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> or <span style="font-weight: bold;">Add</span> 
 <span style="font-weight: bold;">and Close</span>.</p>
<ul>
	<li style="list-style: disc;">
 <p class="list"><span style="font-weight: bold;">Access 
	 Categories and Tags</span> - Lists all the access in all assets integrated 
	 with Tuebora Portal.<br />
	Use this option to select the access that must be to be removed from 
	 Assets when the users move to the new department/role.<br />
	<br />
	To select the required Access perform the following:</p></li>
</ul>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Access Categories and Tags</span> tab.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required Access.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 when the Access must be removed in the <span style="font-weight: bold;">Specify 
 whether Access needs to be removed immediately or later</span> field. 
 The options available are as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Immediately</span> - Select this option 
 if the Access has to be removed immediately.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">After 'X' days</span> - Select this option 
 if the Access has to be removed after few days of user moving to the new 
 department/role. Replace <span style="font-style: italic; font-weight: bold;">x</span> 
 &#160;with the number of days, after which access must be removed for 
 users.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span>.<br />
The selected Access is Added.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To select 
 Access listed in different pages, you can click the previous, next, and 
 page numbers buttons at the lower-right corner of the <b>Specify what 
 Access needs to be granted <span style="font-weight: normal;">section</span></b>.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> or <span style="font-weight: bold;">Add 
 and Close</span>.</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Asset and Access 
	 Type</span> - Use this option, if you want to select the Access that 
	 must be removed in specific Asset .</p></li>
</ul>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Asset and Access Type</span> tab.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Type 
 the Asset name in the <span style="font-weight: bold;">Specify</span> 
 <span style="font-weight: bold;">Asset</span> field. System filters and 
 displays the Assets matching the asset name specified.<br />
<br />
Click the Asset Name, the Access categories are listed. <span style="mso-add-space: auto;">&#160;</span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the required <b style="mso-bidi-font-weight: normal; 
															 font-weight: normal;">Access</b></span> 
 <span style="mso-bidi-font-weight: normal;">category</span> <span lang="EN-US" 
	 xml:lang="EN-US">to view the Access grouped under it.</span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the required Access from the 
 list.</span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 when the Access must be removed in the <span style="font-weight: bold;">Specify 
 whether Access needs to be removed immediately or later</span> field. 
 The options available are as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Immediately</span> - Select this option 
 if the Access has to be removed immediately.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">After 'X' days</span> - Select this option 
 if the Access has to be removed after few days of user moving to the new 
 department/role. Replace <span style="font-style: italic; font-weight: bold;">x</span> 
 &#160;with the number of days, after which access must be removed for 
 users.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span>. The selected Access is Added.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To select 
 Access listed in different pages, you can click the previous, next, and 
 page numbers buttons at the lower-right corner of the <span style="font-weight: bold;">Search 
 for Access within Asset</span> <b><span style="font-weight: normal;">section</span></b>.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> or <span style="font-weight: bold;">Add 
 and Close</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">13.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_RemoveAccess.png" alt="" style=" border:none; width:100%; max-width:15px;" border="0" /> 
 (Remove Access) icon to remove the Access if you have selected a wrong 
 Access.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">14.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Finish</span>.<br />
The Mover <span>rule is created and you can view it from the</span> <span 
	 style="font-weight: bold;">JML - Rules</span> <span>page.</span></p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
