
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Admin_User_Guide - Notification Rules</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "6.2";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_iGovernance_360.htm" class="homelink"><span>Admin_User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1160">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a href="Escalation_History.htm" 
														 style="color: #008000;">Escalation 
		 History</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span><a href="Email_Server_Configuration.htm" 
															 style="color: #008000;">Email 
		 Server Configuration</a></span></p></td>
	</tr>
 </table>
 <h1>Notification</h1>
 <p>Tuebora Portal generates notifications for tasks such as Access approval, 
 certifying Access, and remediation. These notifications can be viewed 
 on the <span style="font-weight: bold;">Notification</span> <span style="font-weight: bold;">History</span> 
 page in the History tab. Organizations may need to intimate some users 
 about mission-critical activities in Tuebora Portal or critical tasks 
 that must be attended on-time.<span style="color: #ff0000;"> </span>Intimating 
 users on-time may reduce the need to regenerate or escalate tasks related 
 to these activities. This can be accomplished by creating additional notifications 
 and notifying users about these activities. </p>
 <p>In addition to the notifications generated by default, Tuebora Portal 
 administrator you can configure <span style="font-weight: bold;">Notification 
 Rules</span> that generate notifications for specific scenarios. The notifications 
 generated by these Notification rules can be sent to all or specific users 
 to intimate them about business-critical activities. The Notifications 
 feature also allows you to send notifications on a daily, weekly, monthly, 
 and quarterly basis in a specified time period. You can also send a specific 
 number of notifications till the specified time period. </p>
 <p>By default, a notification rule that applies to all users with one level 
 of notification that sends notifications every weekday to the assignee's 
 supervisor, after two days of creating the task is made available for 
 the following: </p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">All Governance Tasks</p></li>
	<li>
 <p class="list">All category of Access</p></li>
	<li>
 <p class="list">All Assets</p></li>
	<li>
 <p class="list">Sends notifications indefinitely</p></li>
</ul>
<p>You can also create custom notification rules by specifying the following: 
 users, Assets, type of tasks, types of Access, how frequently to notify 
 and when to start notifying. </p>
<p>For example, an organization can create a notification rule with two 
 levels of notifications that notifies a group of managers (level 1 notification) 
 every day and notifies senior managers (level 2 notification) every week 
 about Access Approvals, three days after the Approval tasks are generated.</p>
<p>To create a notification rule in Tuebora Portal, go to the <span style="font-weight: bold;">System 
 &gt; Settings</span> page and click the <span style="font-weight: bold;">Notifications</span> 
 tab.</p>
<p style="color: #003868; margin-left: 0px; font-weight: bold;">Navigation</p>
<table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="margin-top: 4pt; margin-bottom: 4pt;">To 
		 access the <span style="font-weight: bold;">Notifications </span>feature, 
		 select <span style="font-weight: bold;">MENU &gt; System &gt; 
		 Notification &gt; </span>then<span style="font-weight: bold;"> 
		 </span>click<span style="font-weight: bold;"> Rules </span>tab.</p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h2>Using the Notifications Rules Page</h2>
 <p>You can do the following on the Notifications page:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Creating_an_Escalation_Rule">Creating 
 a Notification Rule</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Editing_a_Notification_Rule">Editing 
 a Notification Rule</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Deleting_a_Notification_Rule">Deleting 
 a Notification Rule</a></p>
 <h3>Creating a Notification Rule</h3>
 <p>You create a notification rule to notify users who require to know when 
 certain tasks are generated. </p>
 <p>To create a notification rule, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold;">Rule </span>tab in the<span style="font-weight: bold;"> 
 Notifications </span>page.<br />
<br />
The <span style="font-weight: bold;">Notifications</span> page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Notification 
 Rule</span> icon <span style="font-size: 12pt;">(</span><img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /><span style="font-size: 12pt;">)</span> 
 next to the notification rule you last created.<br />
<br />
A new notification rule is added to the list of notification rules, below 
 the existing notification rules. By default, this notification rule is 
 applicable to all users.<br />
<br />
You must specify the users, Access, Assets, tasks, frequency of notifications, 
 and when notifications are generated, as per your requirements.<br />
<br />
Following figure displays the Notifications page with a new rule.<br />
<br />
<img src="Images/notifications.png" alt="" style=" border:none; width:100%; max-width:1331px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To rename 
 the notification rule:</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>In the 
 <span style="font-weight: bold;">Name</span> column, click the name of 
 the notification rule. </p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Enter 
 the new name of the notification rule.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold;">Tick</span> mark icon below the name.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the users to whom the notification rule is applicable, in the <span style="font-weight: bold;">Users 
 to whom this Notification Rule applies </span>column. <br />
<br />
Select one of the following options:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All Users, </span>if you want this notification 
 rule to apply to all users. Be default, this option is checked. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Users matching </span><span style="font-weight: bold; 
															 text-decoration: underline; ">this 
 criteria</span>, if you want this notification rule to apply to only selected 
 users.<br />
<br />
To specify the users based on a criteria, perform the following:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold; text-decoration: underline; ">this 
 criteria</span> hyperlink.<br />
<br />
The Select Users subwindow opens.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop-down list available in <span 
	 style="font-weight: bold;">Include Users that match All/Any of the 
 following criteria</span>:</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All</span> - Select this option to include 
 users who match all the defined criteria.</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Select this option to include 
 users who match any of the defined criteria.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom</span> <span style="font-weight: bold;">Filter</span>. 
 <br />
<br />
The fields to define the criteria appear.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop-down and create the filter.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To add 
 rows, click <img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(vi)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">c</span><span 
	 style="font-weight: bold;">hanges</span>. <br />
<br />
The subwindow closes and the selected criteria is shown under the <span 
	 style="font-weight: bold;">Users matching </span><span style="font-weight: bold; 
															 text-decoration: underline; ">this 
 criteria</span><span style="font-weight: bold;"> </span>option.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 what tasks, Assets, types of Access should generate notifications, in 
 the <span style="font-weight: bold;">Notify about </span>column. </p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the type of task for which you want to generate notifications. <br />
<br />
Select one of the following options:</p>
 <p style=" margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">A</span><span style="font-weight: bold;">ll</span>, 
 if you want to apply the notification rule to all types of tasks. </p>
 <p style=" margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">T</span><span style="font-weight: bold;">hese</span>, 
 if you want to apply the notification rule to a specific type of task. 
 </p>
 <p style="margin-left: 104px;"><span style="text-indent: -20px;">To select 
 the tasks:</span></p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold; text-decoration: underline; ">Tasks</span> 
 hyperlink.<br />
<br />
The <span style="font-weight: bold;">Governance Task for Notification Rule 
 </span>subwindow opens. It shows the type of tasks to which the notification 
 rule can be applied. </p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 an appropriate option button. The options available are <span style="font-weight: bold;">Approval 
 Task</span>, <span style="font-weight: bold;">Certification Task</span>, 
 and <span style="font-weight: bold;">Remediation Task</span>.<br />
<br />
Select the appropriate option from the list.</p>
 <p style="margin-left: 104px;">If you selected <span style="font-weight: bold;">Certification 
 Task</span> or <span style="font-weight: bold;">Remediation Task</span>, 
 you must specify the policy or controls. </p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>If you 
 selected <span style="font-weight: bold;">Certification Task</span>, by 
 default the notification rule is applicable to all Certification Policies 
 for selected users, Access, and Assets. <br />
<br />
If you want to apply the rule to specific policies, refer <a href="#_Optional__If_you_selected_a_certification_task__select_the_names_of_the_certification_policies_to_which_this_escalation_rule_is_applicable__in_the_What_to_Escalate_column._Select_one_of_the_following_options:">Step 
 7</a>.</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>If you 
 selected <span style="font-weight: bold;">Remediation Task</span>, by 
 default the notification rule is applicable to Remediation Tasks generated 
 by all Access Control Definitions for selected users, Access, and Assets. 
 <br />
<br />
If you want to apply the rule to specific Access Control Definitions, refer 
 <a href="#_Optional__If_you_selected_a_remediation_task__select_the_type_of_control_to_which_this_escalation_rule_is_applicable__in_the_What_to_Escalate_column._Select_one_of_the_following_options:">Step 
 8</a>. </p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the status of the task when notifications must be sent, from the <span 
	 style="font-weight: bold;">Task Status</span> drop-down list. </p>
 <ul>
	<ul>
		<li style="list-style: disc;">
  <p class="list">For Approval tasks 
		 the available status are - Open, Approval Completed, Closed, Rejected, 
		 Access Granted Without Approval, and Rejected but Fulfilled.</p></li>
		<li style="list-style: disc;">
  <p class="list">For Certification 
		 Tasks the available status are: Open and Closed.</p></li>
		<li style="list-style: disc;">
  <p class="list">For Remediation Tasks 
		 the available status are: Open and Closed.</p></li>
	</ul>
</ul>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">c</span><span 
	 style="font-weight: bold;">hanges</span>. <br />
<br />
The subwindow closes and the task you selected is shown.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the type of Access for which you want to send notifications. <br />
<br />
Select one of the following options:</p>
<p style=" margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">all</span>, if you want to apply the 
 notification rule to all types of Access. </p>
<p style=" margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">these</span>, if you want to apply the 
 notification rule to a specific type of Access. </p>
<p style="margin-left: 104px;">To select the Access:</p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold; text-decoration: underline; ">Access</span> 
 hyperlink.<br />
<br />
The <span style="font-weight: bold;">Access Categories for Notification 
 Rule </span>subwindow opens. It shows the type of Access to which the 
 notification rule can be applied. </p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 an appropriate option button. The options available are <span style="font-weight: bold;">Administrator</span>, 
 <span style="font-weight: bold;">Access that has</span> <span style="font-weight: bold;">Control 
 Violation</span>, <span style="font-weight: bold;">Exception Access</span>, 
 <span style="font-weight: bold;">Owner Access</span>, <span style="font-weight: bold;">Privileged 
 Access</span>, <span style="font-weight: bold;">Regular Access</span>, 
 <span style="font-weight: bold;">Temporary Access</span>, and <span style="font-weight: bold;">Unapproved 
 Access</span>.<br />
<br />
Select the appropriate option from the list.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">c</span><span 
	 style="font-weight: bold;">hanges</span>. <br />
<br />
The subwindow closes and the Access you selected are shown.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the asset to which this notification rule is applicable. <br />
<br />
Select one of the following options:</p>
<p style=" margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">all</span>, if you want to apply the 
 notification rule to all Assets. </p>
<p style=" margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">these</span>, if you want to apply the 
 notification rule to specific Assets. </p>
<p style="margin-left: 104px;">To select the Assets:</p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold; text-decoration: underline; ">Assets</span> 
 hyperlink.<br />
<br />
The <span style="font-weight: bold;">Select Assets </span>subwindow opens. 
 </p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Enter 
 the name of the Asset in the <span style="font-weight: bold;">Enter Name 
 of Asset you want to add </span>field and click <span style="font-weight: bold;">Add</span>.<br />
<br />
The notification rule is now applicable to the Asset.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 step <span style="font-weight: bold;">(ii)</span> to add multiple Assets.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">c</span><span 
	 style="font-weight: bold;">hanges</span>. <br />
<br />
The subwindow closes and the Assets you selected are shown.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a name="_Optional__If_you_selected_a_certification_task__select_the_names_of_the_certification_policies_to_which_this_escalation_rule_is_applicable__in_the_What_to_Escalate_column._Select_one_of_the_following_options:"></a>(Optional) 
 If you selected a Certification Task, select the names of the Certification 
 Policies to which this notification rule is applicable, in the <span style="font-weight: bold;">Notify 
 about </span>column. <br />
<br />
Select one of the following options:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">all</span>, if you want to apply the 
 notification rule to all Certification Policies. </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">these</span>, if you want to apply the 
 notification rule to specific Certification Policies. <br />
<br />
To select the Certification Policies:</p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold; text-decoration: underline; ">Policies</span> 
 hyperlink.<br />
<br />
The <span style="font-weight: bold;">Select Policies </span>subwindow opens. 
 </p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Enter 
 the name of the Certification Policy in the <span style="font-weight: bold;">Enter 
 Name of Policy you want to add </span>field and click <span style="font-weight: bold;">Add</span>.<br />
<br />
The notification rule is now applicable to the Certification Policy.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 step <span style="font-weight: bold;">(ii)</span> to add multiple Certification 
 Policies.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">c</span><span 
	 style="font-weight: bold;">hanges</span>. <br />
<br />
The subwindow closes and the Certification Policies you selected are shown 
 in the Notify About column.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a name="_Optional__If_you_selected_a_remediation_task__select_the_type_of_control_to_which_this_escalation_rule_is_applicable__in_the_What_to_Escalate_column._Select_one_of_the_following_options:"></a>(Optional) 
 If you selected a Remediation Task, select the Access Control Definition 
 to which this notification rule is applicable, in the <span style="font-weight: bold;">Notify 
 about </span>column. <br />
<br />
Select one of the following options:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">all</span>, if you want to apply the 
 notification rule to all Access Control Definitions. </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">these</span>, if you want to apply the 
 notification rule to specific Access Control Definitions. <br />
<br />
To select the Access Control Definitions:</p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold; text-decoration: underline; ">Controls</span> 
 hyperlink.<br />
<br />
The <span style="font-weight: bold;">Select Controls </span>subwindow opens. 
 </p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Enter 
 the name of the Access Control Definition in the <span style="font-weight: bold;">Enter 
 Name of Control you want to add </span>field and click <span style="font-weight: bold;">Add</span>.<br />
<br />
The notification rule is now applicable to the Access Control Definition.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 step <span style="font-weight: bold;">(ii)</span> to add multiple Access 
 Control Definitions.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">C</span><span 
	 style="font-weight: bold;">hanges</span>. <br />
<br />
The subwindow closes and the Access Control Definitions you selected are 
 shown in the Notify About column.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the number of notifications to be sent, from the <span style="font-weight: bold;">Number 
 of Notifications </span>drop-down list in the <span style="font-weight: bold;">Notification 
 Schedule</span> column. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a name="Select_the_recipients_who_will_receive_the_notification_and_the_schedule_to_send_the_notification__in_the_Notification_Schedule_column.___To_do_so__perform_the_following:"></a>Select 
 the recipients who will receive the notification and the schedule to send 
 the notification, in the <span style="font-weight: bold;">Notification 
 Schedule</span> column. <br />
<br />
To do so, perform the following:</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add </span>next to <span class="red" 
															 style="font-weight: bold;">First 
 Notification will be sent on</span>.<br />
<br />
The <span style="font-weight: bold;">Notification Frequency and Recurrence</span> 
 subwindow opens. The subwindow contains two tabs-<span style="font-weight: bold;">Notification 
 Schedule</span> and <span style="font-weight: bold;">Whom to Send Notification</span>.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>In the 
 <span style="font-weight: bold;">Notification Schedule</span> tab, perform 
 the following:</p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the frequency at which this level of notification should be sent in the 
 <span style="font-weight: bold;">Notification Frequency and Recurrence</span> 
 section. <br />
<br />
The options available are-<span style="font-weight: bold;">Daily</span>,<span 
	 style="font-weight: bold;"> Weekly</span>,<span style="font-weight: bold;"> 
 Monthly</span>,<span style="font-weight: bold;"> </span>and<span style="font-weight: bold;"> 
 Quarterly</span>.</p>
<p style=" margin-left: 160px; text-indent: -20px;">a.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>(Optional) 
 If you select <span style="font-weight: bold;">Daily</span>, select one 
 from the following options: </p>
<ul>
	<ul>
		<li style="list-style: disc;">
  <p><span style="font-weight: bold;">Every 
		 'X' Day(s)</span>- Select this and enter a numerical value in 
		 the blank field if you want Tuebora Portal to send notifications 
		 once every 'X' days.<br />
		<br />
		For example, if you enter '3', Tuebora Portal sends notifications 
		 once every three days.</p></li>
		<li style="list-style: disc;">
  <p><span style="font-weight: bold;">Every 
		 Weekday</span> - Select this if you want Tuebora Portal to send 
		 notifications on weekdays (Monday, Tuesday, Wednesday, Thursday 
		 and Friday) only. </p></li>
	</ul>
</ul>
<p class="list" style=" margin-left: 160px; text-indent: -20px;">b.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>(Optional) 
 If you select <span style="font-weight: bold;">Weekly</span>, perform 
 the following:</p>
<p class="list" style=" margin-left: 160px;">i.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Enter 
 a numerical value in the blank field next to the <span style="font-weight: bold;">Recur 
 Every 'X' week on</span> option button.</p>
<p class="list" style=" margin-left: 160px;">ii.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check boxes next to the days of the week for Tuebora Portal to send 
 notifications on the selected days every 'X' weeks.</p>
<p class="list" style=" margin-left: 160px; text-indent: -20px;">c.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>(Optional) 
 If you select <span style="font-weight: bold;">Monthly</span>, select 
 one from the following options:</p>
<p class="list" style=" margin-left: 160px;">i.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Day 'X' of every 'Y' Month - </span>Select 
 this and enter numerical values in the blank fields for Tuebora Portal 
 to send notifications on the 'Xth' day of a month, once every 'Y' months.<br />
<br />
For example, if you enter '25' as 'X' and '3' as 'Y', Tuebora Portal sends 
 notifications on the 25th day of a month, once every three months.</p>
<p class="list" style=" margin-left: 160px;">ii.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">The 'X' 'Day' of every 'Y' Month(s) - </span>Select 
 this option and select appropriate values from the drop-down lists and 
 enter a numerical value in the blank field if you want Tuebora Portal 
 to send notifications on a specific day once every 'Y' months. <br />
The options available for the first drop-down list are: <span style="font-weight: bold;">first, 
 second, third, fourth, </span>and<span style="font-weight: bold;"> last</span>.<span 
	 style="font-weight: bold;"><br />
<br />
</span>The options available for the second drop-down list are:<span style="font-weight: bold;"> 
 Day, Weekday, Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, </span>and<span 
	 style="font-weight: bold;"> Saturday</span>.<span style="font-weight: bold;"><br />
<br />
</span>For example, if you select third from the first drop-down list, 
 Wednesday from the second drop-down list, and enter '3' as 'Y', Tuebora 
 Portal sends notifications on the third Wednesday of a month, once every 
 three months.</p>
<p class="list" style=" margin-left: 160px; text-indent: -20px;">d.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>(Optional) 
 Select <span style="font-weight: bold;">Quarterly</span> if you want Tuebora 
 Portal to send notifications once every three months.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 when to start sending this level of notification from the <span style="font-weight: bold;">Notification 
 Schedule</span> section. <br />
<br />
The options available are: </p>
<ul>
	<ul>
		<li style="list-style: disc;">
  <p class="list">Current date and 
		 time</p></li>
		<li style="list-style: disc;">
  <p class="list">&#160;<span style="font-weight: bold;">'X' 
		 days or hours after Task Creation</span> - Select this if you 
		 want Tuebora Portal to send notifications 'X' days or hours after 
		 the task was created.</p></li>
		<li style="list-style: disc;">
  <p class="list"><span style="font-weight: bold;">'X' 
		 days &#160;or hours before Task Due Date</span> - Select this 
		 if you want Tuebora Portal to send notifications 'X' days or hours 
		 before the task's due date.</p></li>
		<li style="list-style: disc;">
  <p class="list"><span style="font-weight: bold;">On 
		 Task Creation</span> - Select this if you want Tuebora Portal 
		 to send notifications on the day when the task is created.</p></li>
		<li style="list-style: disc;">
  <p class="list"><span style="font-weight: bold;">On 
		 Task Due Date</span> - Select this if you want Tuebora Portal 
		 to send notifications on the day when the task is due.</p></li>
	</ul>
</ul>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 when to stop sending this level of notification. <br />
<br />
The options available are: <span style="font-weight: bold;">No end date 
 </span>and<span style="font-weight: bold;"> End by </span>a specific date.<br />
<br />
Following figure displays the <span style="font-weight: bold;">Notification 
 Schedule</span> tab.<br />
<br />
<img src="Images/notification_schedule.png" alt="" style=" border:none; width:100%; max-width:641px;" border="0" /></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>In the 
 <span style="font-weight: bold;">Whom to Send Notification</span> tab, 
 perform the following:</p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the option button corresponding to the recipient.<br />
<br />
The options available are <span style="font-weight: bold;">Owner of the 
 Access</span>, <span style="font-weight: bold;">Assignee</span>, <span 
	 style="font-weight: bold;">Owner of the Resource</span>, <span style="font-weight: bold;">Any 
 Owner of Asset</span>, and <span style="font-weight: bold;">Assignee</span> 
 <span style="font-weight: bold;">Supervisor</span>.<br />
<br />
You can also notify Tuebora groups and other users. </p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To notify 
 Tuebora groups:</p>
<p style=" margin-left: 160px; text-indent: -20px;">a.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Enter 
 the name of the Tuebora group in the <span style="font-weight: bold;">Users 
 belonging to these Tuebora Groups</span> field.<br />
<br />
When you start typing, Tuebora Portal shows the list of Tuebora groups 
 that match the text entered.</p>
<p style=" margin-left: 160px; text-indent: -20px;">b.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the appropriate Tuebora group. &#160;<br />
<br />
Groups are added.</p>
<p style=" margin-left: 160px; text-indent: -20px;">c.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Repeat 
 step <span style="font-weight: bold;">(a)</span> and <span style="font-weight: bold;">(b)</span> 
 to add more Tuebora groups. </p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To notify 
 other users:</p>
<p style=" margin-left: 160px; text-indent: -20px;">a.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Enter 
 the name of the user in the <span style="font-weight: bold;">These Users</span> 
 field.<br />
<br />
When you start typing, the system shows the list of users who match the 
 text entered.</p>
<p style=" margin-left: 160px; text-indent: -20px;">b.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the appropriate user. &#160;<br />
<br />
Users are added. </p>
<p style=" margin-left: 160px; text-indent: -20px;">c.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Repeat 
 step <span style="font-weight: bold;">(a)</span> and <span style="font-weight: bold;">(b)</span> 
 to add more users. </p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>From 
 the <span style="font-weight: bold;">Notification Type</span> drop-down 
 list, select <span style="font-weight: bold;">Email</span>. <br />
<br />
Email is sent to the recipient you selected in <a href="#Specify_one_or_more_check_boxes_corresponding_to_the_recipients.__The_options_available_are_Owner_of_the_Access__Any_Administrator_of_the_Asset__Owner_of_the_Resource__Any_Owner_of_Asset__Supervisor__and_Supervisor_or_Supervisor.__You_can_also_notify_Tuebora_groups_and_other_users._">step 
 (i)</a>. </p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>From 
 the <span style="font-weight: bold;">Template</span> drop-down list, select 
 the template that will be applied to the notification email. <br />
<br />
The options available are: <span style="font-weight: bold;">Access Certification 
 Escalation for Supervisor, Access Certification Reminder for Assignee, 
 Access Certification Mail, Access Approval Escalation for Supervisor, 
 Access Approval Reminder for Assignee, </span>and<span style="font-weight: bold;"> 
 Access Approval Mail</span>.<br />
The template you selected is used to send notifications to the recipient 
 you selected in <a href="#Specify_one_or_more_check_boxes_corresponding_to_the_recipients.__The_options_available_are_Owner_of_the_Access__Any_Administrator_of_the_Asset__Owner_of_the_Resource__Any_Owner_of_Asset__Supervisor__and_Supervisor_or_Supervisor.__You_can_also_notify_Tuebora_groups_and_other_users._">step 
 (i)</a>. </p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Recipient</span>.<br />
<br />
A combination of recipients, type of notification, and template you selected 
 is displayed in a table below the <span style="font-weight: bold;">Add 
 Recipient</span> button.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 steps <span style="font-weight: bold;">(i)</span> through <span style="font-weight: bold;">(iv)</span> 
 to add more combinations of recipients, notification types, and templates. 
 </p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;">(vi)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>(Optional) 
 To delete any combination, click the <span style="font-weight: bold;">Remove 
 Recipient</span> icon corresponding to the combination in the Action column.<br />
<br style="page-break-before: always;" />
<br />
Following figure displays the <span style="font-weight: bold;">Whom to 
 Send Notification</span> tab.<br />
<br />
<img src="Images/whom_to_send_notification.png" alt="" style=" border:none; width:100%; max-width:713px;" border="0" /></p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 80px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>.<br />
<br />
The frequency you set for the notifications, start date, and end date is 
 displayed in the <span style="font-weight: bold;">Notification Schedule</span> 
 column.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>(Optional) 
 Repeat <a href="#Select_the_recipients_who_will_receive_the_notification_and_the_schedule_to_send_the_notification__in_the_Notification_Schedule_column.___To_do_so__perform_the_following:">Step 
 10</a> to schedule and add recipients for the second level of notifications.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>(Optional) 
 Repeat <a href="#Select_the_recipients_who_will_receive_the_notification_and_the_schedule_to_send_the_notification__in_the_Notification_Schedule_column.___To_do_so__perform_the_following:">Step 
 10</a> to schedule and add recipients for the third level of notifications.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">12.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>(Optional) 
 Click the <span style="font-weight: bold; text-decoration: underline; ">View 
 Recipients </span>hyperlink next to any of the levels to view the recipients, 
 type of notifications and the template used for the notifications.<br />
<br />
The <span style="font-weight: bold;">Notification Recipients</span> subwindow 
 opens. <br />
<br style="page-break-before: always;" />
<br />
Following figure displays the Notification Recipients subwindow.<br />
<br />
<img src="Images/notification_recipients.png" alt="" style=" border:none; width:100%; max-width:497px;" border="0" /></p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close</span> to close the <span style="font-weight: bold;">Notification 
 Recipients</span> subwindow.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">13.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To save 
 the notification rule, click <span style="font-weight: bold;">Save changes</span> 
 at the lower-left corner of the page.<br />
<br />
A subwindow confirms that the notification rule is created in Tuebora Portal.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">14.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">OK</span> to close the subwindow.</p>
<h3><a name="Editing_a_Notification_Rule"></a>Editing a Notification Rule</h3>
<p style="color: Transparent;">You edit a notification rule when the parameters 
 of the current notification rule must be changed. </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To edit 
 a notification rule, select any field in the notification rule and modify 
 the value you entered earlier.</p>
<h3><a name="Deleting_a_Notification_Rule"></a>Deleting a Notification 
 Rule</h3>
<p>You delete a notification rule when you no longer want the rule on the 
 Tuebora Portal setup. </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To delete 
 a notification rule, click the <span style="font-weight: bold;">Delete</span> 
 icon next to the notification rule you want to delete.</p>
<br style="page-break-before: always;" />

<table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Escalation_History.htm" style="color: #008000;">Escalation 
		 History</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Email_Server_Configuration.htm" style="color: #008000;"><span>Email 
		 Server Configuration</span></a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
