
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Admin_User_Guide - Product Overview</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "0_3";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_iGovernance_360.htm" class="homelink"><span>Admin_User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1256">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <span style="color: #008000;"><a 
		 href="Getting_Started.htm" style="color: #008000;">Getting Started</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span style="color: #008000;"><a 
		 href="Dashboard.htm" style="color: #008000;">Dashboard</a></span></p></td>
	</tr>
 </table>
 <h1>Product Overview</h1>
 <p>You can navigate to all features of Tuebora Portal from the home page. 
 The page is optimized for easy access to all features and the Dashboard 
 provides an overview of the environment at a glance.</p>
 <p>Following figure shows an overview of Tuebora Portal home page for an 
 Administrator log in.</p>
 <p><img src="Images/HomePage.png" alt="" style=" border:Solid 1px #808080; width:100%; max-width:750px;" border="1" /></p>
 <p>Following table lists the UI features and corresponding descriptions.</p>
 <table style="border: Solid 1px #000000; left: 0px; top: 293px;" cellspacing="0">
	<col width="148" />
	<col width="690" />
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="font-weight: bold; 
									 color: #ffffff;">UI Item</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="font-weight: bold; color: #ffffff;">Description</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="color: #000000; font-weight: normal;"><a 
		 name="Search_Box"></a>Global Search <span style="font-size: 12pt;">(<img src="Images/GlobalSearch.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />)</span></p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="margin-bottom: 2pt; 
														 color: #000000;">Use 
		 the Global Search to search for Users, Accounts, Groups, Assets, 
		 and Resources by name.</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="color: #000000; font-weight: normal;">Quick 
		 Access<span style="font-size: 12pt;"> (</span><img src="Images/Icon_QuickAccess.png" alt="" style=" border:none; width:100%; max-width:27px;" border="0" /><span 
		 style="font-size: 12pt;">)</span></p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="margin-top: 4pt; 
														 margin-bottom: 4pt; 
														 color: #000000;">Click 
		 to access the top features available for your profile. The available 
		 options are:</p>
		<ul style="list-style: disc; color: #000000;">
			<li style="color: #000000;">
   <p class="list" style="margin-top: 4pt; 
											 margin-bottom: 4pt; color: #000000;"><a 
			 href="Asset_Management.htm#Creating_New_Asset">Create Asset</a></p></li>
			<li style="color: #000000;">
   <p class="list" style="margin-top: 4pt; 
											 margin-bottom: 4pt; color: #000000;"><a 
			 href="Manage_All_Users.htm#Creating_a_New_User_Record">Create 
			 User</a></p></li>
			<li style="color: #000000;">
   <p class="list" style="margin-top: 4pt; 
											 margin-bottom: 4pt; color: #000000;"><a 
			 href="Create_Certification_Policy.htm">Create Certification 
			 Policy</a></p></li>
			<li style="color: #000000;">
   <p class="list" style="margin-top: 4pt; 
											 margin-bottom: 4pt; color: #000000;"><a 
			 href="Access_Controls.htm#Creating_an_Access_Control_Definition">Create 
			 Access Control</a></p></li>
			<li style="color: #000000;">
   <p class="list" style="margin-top: 4pt; 
											 margin-bottom: 4pt; color: #000000;">My 
			 Profile - To <a href="Getting_Started.htm#Changing_Password_from_My_Profile">Change 
			 Password</a> and update the Enrollment Data.</p></li>
		</ul></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="color: #000000; font-weight: normal;"><a 
		 href="Dashboard.htm" style="font-weight: normal;">Dashboard</a></p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="color: #000000;">Provides 
		 widgets and graphical representation of certain reports for quick 
		 analysis of the environment. You can click on the graph bars to 
		 navigate to the corresponding detailed pages.</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="color: #000000; font-weight: normal;">MENU</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="margin-bottom: 3pt; 
														 font-size: 13px; 
														 line-height: normal; 
														 orphans: auto; 
														 widows: auto; 
														 display: inline	 ! important ; 
														 background-color: #ffffff; 
														 -webkit-text-stroke-width: 0px; 
														 color: #000000;">Select 
		 to view and access the features available for your profile.</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText" 
														 style="color: #000000; 
														 font-weight: normal;">Logout 
		 <span style="font-size: 12pt;">(</span><img src="Images/Icon_logout.png" alt="" style=" border:none; width:100%; max-width:27px;" border="0" /><span 
		 style="font-size: 12pt;">)</span></p></td>
		<td>
  <p class="TableText" style="margin-bottom: 3pt; font-size: 13px; 
				 line-height: normal; orphans: auto; widows: auto; display: inline	 ! important ; 
				 background-color: #ffffff; -webkit-text-stroke-width: 0px; 
				 color: #000000;">Click to log out from the system.</p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h2><a name="Global_Search"></a>Global Search</h2>
 <p>Global Search allows a User with Administrator role to search the following 
 entities in Tuebora Portal:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">Users</p></li>
	<li>
 <p class="list">Accounts</p></li>
	<li>
 <p class="list">Groups</p></li>
	<li>
 <p class="list">Assets</p></li>
	<li>
 <p class="list">Resources</p></li>
</ul>
<p>Following figure shows the Global Search icon available on the top-right 
 corner of the Tuebora Portal UI.<br />
<br />
<img src="Images/GlobalSearch1.png" alt="" style=" border:none; width:100%; max-width:271px;" border="0" /></p>
<h4 class="list">How does Global Search work?</h4>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold;">Global</span> <span style="font-weight: bold;">Search</span> 
 icon displayed next to the name of the user logged in on the top-right 
 corner of the Tuebora Portal UI.<br />
The <span style="font-weight: bold;">Global Search</span> page opens.<br />
<br />
<img src="Images/GlobalSearch2.png" alt="" style=" border:none; width:100%; max-width:1019px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 search term into the box that appears on the <span style="font-weight: bold;">Global</span> 
 <span style="font-weight: bold;">Search</span> page and click <img src="GlobalSearch.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> 
 (search) icon or press <span style="font-weight: bold;">Enter</span> key 
 on the keyboard.<br />
<br />
You will then see results displayed from all areas (users, accounts, groups, 
 assets, and resources) of Tuebora Portal.<br />
<br style="page-break-before: always;" />
<br />
Following figure shows the results for search term <span style="font-weight: bold;">'AD'</span>. 
 <br />
<br />
<img src="Images/GlobalSearch3.png" alt="" style=" border:none; width:100%; max-width:700px;" border="0" /><br />
<br />
On the Global Search page, the results displayed will be grouped based 
 on <span style="font-weight: bold;">Entities</span>. The <span style="font-weight: bold;">All</span> 
 tab lists the top 10 results across all the entities.<br />
<br />
To view the results specific to an entity click the required entity hyperlink. 
 The page refreshes to show the search records corresponding to the entity 
 selected. Under each entity, top 10 results are displayed. To further 
 refine the search results, you must use the appropriate search term.<br />
<br />
Following figure shows the search results for the users entity.<br />
<br />
<span style="color: #e54f00;"><img src="Images/GlobalSearch4.png" alt="" style=" border:none; width:100%; max-width:700px;" border="0" /></span><br />
<br />
In search results, the data displayed for each entity depends on the data 
 collected for entities in your Tuebora deployment. <br />
<br />
The search results will also include the terminated users and disabled 
 accounts that match the searched term.<br />
<br />
If the search term contains Multiple Words and there is space between them, 
 then Tuebora considers this search term as <span style="font-weight: bold;">AND</span> 
 condition and displays the entities that match the search term. For example, 
 the search term specified is <span style="font-weight: bold;">andrew green</span>.<span 
	 style="font-weight: bold;"> </span>Tuebora searches all entities and 
 if it finds entities containing both the words then that record will be 
 displayed as search result.<br />
<br />
Click on the underlined clickable items to navigate to pages showing details 
 of the searched records.</p>
<br style="page-break-before: always;" />

<h2 class="list">The Entity Picker</h2>
<p>The <span style="font-weight: bold;">Entity Picker</span> is the drop-down 
 that appears in the <span style="font-weight: bold;">List-Entity </span>field 
 of a <span style="font-weight: bold;">Form</span>. For example, you can 
 find the List-Entity field in <a href="../UserGuide/My_Team_-_Users.htm#Creating_a_Record_for_a_New_Team_Member">Create 
 User/Edit User</a> form to specify the Supervisor, <a href="../UserGuide/Access_Request.htm#SelectUser">Create 
 Asset</a> form to specify Asset owner and in many more forms.</p>
<p><span style="color: #000000;">Following figure shows the List-Entity 
 field in a Form.<br />
<br />
<img src="UserPicker1.png" alt="" style=" border:none; width:100%; max-width:655px;" border="0" /></span></p>
<h4>Which Users Appear in a List-Entity field of a Form</h4>
<p>All <span style="font-weight: bold;">Active</span> <span style="font-weight: bold;">Users</span> 
 available in Tuebora application appear in the List-User field of a form.</p>
<h4>How Entity Picker Woks?</h4>
<p>Just start typing a first or last name to show matching entity. </p>
<p>If the entity you are searching for is available then system shows the 
 matching records in the list. If a entity search returns multiple matching 
 records then the system shows the additional attributes for records based 
 on which you can select the appropriate entity.</p>
<p style="color: #000000;"><img src="UserPicker2.png" alt="" style=" border:none; width:100%; max-width:937px;" border="0" /></p>
<p>If the user, you are searching for is not available, then the system 
 show the message - <span style="font-weight: bold;">No data available 
 with search criteria</span>.</p>
<br style="page-break-before: always;" />

<h4>Selecting Users from Entity Picker and Viewing Selected User Information</h4>
<p>To select a user and view user information perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 first or last name in the <span style="font-weight: bold;">User-List</span> 
 field in a Form.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Search</span> (<img src="GlobalSearch.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />) 
 icon.<br />
<br />
The users matching the keyword is listed.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required user(s).</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Selected</span>.<br />
The User list gets closed.<br />
<br />
The selected users are listed for the user-list field.<br />
<br />
<img src="UserPicker3.png" alt="" style=" border:none; width:100%; max-width:309px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the <img src="Icon_info.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" /> 
 (Info) icon displayed next to the selected user name to view the user 
 information.<br />
<br />
Following figure shows the information displayed for a selected user.<br />
<br />
<img src="UserPicker4.png" alt="" style=" border:none; width:100%; max-width:784px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close</span> (<img src="icon_infoclose.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" />) icon 
 after viewing the information.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To remove 
 a selected user click Remove (<img src="icon_infoclose.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" />) icon displayed for 
 the selected user. The selected user is removed.</p>
<h4>Viewing Information related to an Entity</h4>
<p>In Tuebora portal, <span style="font-weight: bold;">Information</span> 
 (<img src="Images/Icon_info.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" />) 
 icon is displayed for all Entities, such as - Users, Groups, Assets, Tuebora 
 Groups.<br />
<br />
Following figure shows the All Assets page where information icon is displayed 
 for all Assets added in Tuebora.<br />
<br />
<img src="Images/ViewingInformation.png" alt="" style=" border:none; width:100%; max-width:617px;" border="0" /><br />
To view information, click the <span style="font-weight: bold;">Information</span> 
 icon displayed for the entity. Information for entities that are collected 
 from different Assets is displayed based on the data collected for that 
 entity in a particular deployment environment. For example, in a deployment, 
 for User entity 5 attributes - First Name, Last Name, Supervisor, Email 
 Address, and Mobile number are collected. In this case, when you view 
 information for a User, Tuebora displays data for 5 attributes collected. 
 </p>
<p>&#160;</p>
<table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Getting_Started.htm" style="color: #008000;"><span>Getting 
		 Started</span></a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Dashboard.htm" style="color: #008000;"><span>Dashboard</span></a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
