
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Admin_User_Guide - Provisioning</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_iGovernance_360.htm" class="homelink"><span>Admin_User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1304">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


<br style="page-break-before: always;" />

     <h1 style="font-weight: bold;">Access Provisioning for New Joiners</h1>
     <p>The joiner phase includes on-boarding new user process. When new users 
 join an organization, user Accounts must be created, email accounts configured, 
 and Access granted in the required Assets, based on their job roles and 
 responsibilities. If Access provisioning is done manually, when there 
 are mass joiners or Access need to be granted to new Assets, the task 
 can become complicated.</p>
     <p>Tuebora Portal automates the process of Access Provisioning for new 
 users. You can use <span style="font-weight: bold;">JML Rules</span> feature 
 to create <span style="font-weight: bold;">Joiner</span> <span style="font-weight: bold;">Rules</span> 
 to automate the user Account creation and granting of Access in Assets. 
 Joiner Rules trigger Provisioning Tasks, which does the provisioning automatically 
 when new users are detected, or the set criteria is met. You can even 
 set the joiner rules to grant Access only after approval by concerned 
 Approvers. For information on creating new user records in the system, 
 see <a href="Manage_All_Users.htm#Creating_a_New_User_Record">Creating 
 New Users</a>.</p>
     <p style="font-weight: bold;">Example - <span style="font-weight: normal;">In 
 an organization, user accounts must be created for all New Users in Microsoft 
 Active Directory, Exchange Server, and a set of Access granted to an internal 
 application. You can create a Joiner Rule for this and define the Access 
 levels for each Asset. When a new user is detected in the system, the 
 system automatically grants the Access to the users, based on the Rule 
 definition.</span></p>
     <p>You can also use the Rule to provide Access to a group of employees 
 for a particular time period.</p>
     <p><span style="font-weight: bold;">Example</span> - If the organization 
 has an internal survey happening and you want all employees to have Access 
 to the Survey Tool for the next 30 days, you can create a Joiner Rule 
 to enable the Access.</p>
     <p>Joiner Rules help save time by automating these processes, which would 
 otherwise require lot of manual intervention.</p>
     <h3>Flow of Operations</h3>
     <p style="font-weight: bold;">Access Provisioning&#160;Scenario when On-boarding 
 a New User</p>
     <p>Andrew Green is a new employee in the organization. User details are 
 imported from the HR application. When the new user is detected in Tuebora 
 Portal, Access Provisioning happens. </p>
     <p>Flow of operations is as follows:</p>
     <p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Data 
 is imported from HR Application and new user profile of Andrew Green is 
 detected.</p>
     <p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Joiner 
 Rule triggers a new Account creation in Microsoft Active Directory.</p>
     <p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>An 
 Account is created in Microsoft Exchange Server.</p>
     <p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Access 
 is granted to some internal applications, based on Andrew's role and department.</p>
     <p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>System 
 sends an email to the Supervisor, notifying the User ID and password of 
 the new user.</p>
<br style="page-break-before: always;" />

     <p>Following figure shows an example flow of operations for a Joiner Rule.</p>
     <p><img src="Images/Day_0_Provisioning_workflow.png" alt="" style=" border:none; width:100%; max-width:629px;" border="0" /></p>
     <p style="margin-left: 0px; font-weight: bold; color: #003868;">Navigation</p>
     <table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 31px;">
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">JML 
		 Rules</span> page, select <span style="font-weight: bold;">MENU 
		 &gt; Workflows &gt; JML Rules</span>.</p></td>
	</tr>
 </table>
 <h3><a name="Creating_Provisioning_Rules" id="Creating_Provisioning_Rules"></a><span 
	 style="text-indent: -20px;">C</span>reating a Joiner Rule</h3>
 <p>To create a Joiner Rule in the system, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; Workflows &gt; JML Rules</span><span>. 
 </span>The <span style="font-weight: bold;">JML - Rules</span> page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Joiner Rule</span> from the drop-down 
 list available in the <span style="font-weight: bold;">Create</span> field, 
 on the right-hand side of the page. <br />
The <span style="font-weight: bold;">Create Joiner Provisioning Rule</span> 
 page opens.<br />
<br />
<img src="ProvisioningRule_Create.png" alt="" style=" border:none; width:100%; max-width:607px;" border="0" /></p>
 <p style="font-weight: bold; color: #003868; text-decoration: none; ">Step 
 1: Specify Name and Description</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 name for the rule in the <span style="font-weight: bold;">Rule Name</span> 
 field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 description to identify the rule in the <span style="font-weight: bold;">Rule 
 Description</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the category of users for whom the rule is applicable. The available categories 
 are as follows:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All New Users</span> - Select this option 
 to apply the rule for all New Users.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">New User(s) matching this criteria</span> 
 - Select this option to apply the rule for all New Users matching a specific 
 criteria.<br />
<br />
To specify the criteria, perform the following:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold; text-decoration: underline; ">this criteria</span>.<br />
The <span style="font-weight: bold;">Select</span> <span style="font-weight: bold;">Users 
 </span>subwindow opens.<br />
<br />
<img src="SelectUser_provisioningrule.png" alt="" style=" border:none; width:100%; max-width:539px;" border="0" /></p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop-down list available in <span 
	 style="font-weight: bold;">Include Users that match All/Any of the 
 following criteria</span>:</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&#160;<span 
	 style="font-weight: bold;">All</span> - Select this option to include 
 the Users who match all the defined criteria.</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Select this option to include 
 the Users who match any of the defined criteria.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom</span> <span style="font-weight: bold;">Filter</span>. 
 The fields to define the criteria appear.</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 on the category to specify the criteria. For example, you can set the 
 criteria based on the Employee Type - Employee or Contract, Department, 
 User ID, etc.</p>
 <p class="list" style=" margin-left: 160px; text-indent: -20px;">a.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop-down and create the filter.</p>
 <p class="list" style=" margin-left: 160px; text-indent: -20px;">b.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">To add rows, click <img src="Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.</span></p>
 <p class="list" style=" margin-left: 160px; text-indent: -20px;">c.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>.<br />
The subwindow closes and the selected criteria is shown under Users matching 
 <span style="font-weight: bold; text-decoration: underline; ">this criteria</span> 
 option.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>.</p>
 <p style="font-weight: bold; color: #003868; text-decoration: none; ">Step 
 2: Specify Access</p>
 <p class="list" style="margin-left: 43px;">Specify Access section appears 
 to define the Access that must be granted to the new joiners.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Access</span>.<br />
The <span style="font-weight: bold;">Specify Access</span> subwindow opens.<br />
<br />
You can select the Access using any of the following options:</p>
 <ul>
	<li style="list-style: disc;">
 <p class="list"><span style="font-weight: bold;">Access 
	 Categories and Tags</span> - Lists all the access in all assets integrated 
	 with Tuebora Portal.<br />
	Use this option to select the access to be granted to new users. <br />
	<br />
	To select the required Access perform the following:</p></li>
</ul>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required Access. </p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 when the Access must be granted in the <span style="font-weight: bold;">Specify 
 whether Access needs to be granted immediately or later</span> field. 
 The options available are as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Immediately</span> - Select this option 
 if the Access has to be granted immediately.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">After 'X' days</span> - Select this option 
 if the Access has to be granted after few days of user joining to the 
 employment. Replace <span style="font-style: italic; font-weight: bold;">x</span> 
 &#160;with the number of days, after which access must be granted to users.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 the duration for which the Access is required in the <span style="font-weight: bold;">Specify 
 how long the Access should be granted</span> field.<br />
<br />
The options available are as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Indefinite</span> - Select this option 
 if the user needs the Access for a very long period or always.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">For 'X' days</span> - Select this option 
 if the user needs the Access only for a few days. Replace <span style="font-style: italic; 
	 font-weight: bold;">x</span> &#160;with the number of days, the Access 
 is required.<br />
<br />
For example, all new users would need Access to the On-boarding tool for 
 the first 30 days to track their activities and share feedback. Select 
 this option and type <span style="font-weight: bold;">30</span> in the 
 field provided.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 if there is any approval required to grant the Access. The options are 
 as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Yes</span> - Select this option if the 
 Access must be granted only after Approval.<br />
The Approval follows the same process as that for a similar Access Request 
 and settings defined. For more information on configuring the Access Request 
 settings, see <a href="../Version1.10_Deployment GuideRevamp/Request_Access_Workflow.htm">Request 
 Access Settings</a>.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">No, it will be granted immediately</span> 
 - Select this option if the Access must be granted as soon as the rule 
 is created.<br />
<br />
<img src="Provisioning_Rules_SpecifyAccess1.png" alt="" style=" border:none; width:100%; max-width:514px;" border="0" /></p>
<p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span>.<br />
The selected Access is Added.<span style="font-weight: bold;"> </span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(vi)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To select 
 Access listed in different pages, you can click the previous, next, and 
 page numbers buttons at the lower-right corner of the <b>Specify what 
 Access needs to be granted <span style="font-weight: normal;">section</span></b>.</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Asset and Access 
	 Type </span>- Use this option, if you want to select the Access in 
	 specific Asset.</p></li>
</ul>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Asset and Access Type</span> tab.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Type 
 the Asset name in the <span style="font-weight: bold;">Specify</span> 
 <span style="font-weight: bold;">Asset</span> field. System filters and 
 displays the Assets matching the asset name specified. <br />
<br />
Click the Asset Name, the Access categories are listed.<span style="mso-add-space: auto;"> 
 &#160;</span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the required <b style="mso-bidi-font-weight: normal; 
															 font-weight: normal;">Access</b></span> 
 <span style="mso-bidi-font-weight: normal;">category </span><span lang="EN-US" 
	 xml:lang="EN-US">to view the Access grouped under it.</span><br />
<br />
<img src="Provisioning_Rules_SpecifyAccess2.png" alt="" style=" border:none; width:100%; max-width:504px;" border="0" /></p>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the required Access from the 
 list.</span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 when the Access must be granted in the <span style="font-weight: bold;">Specify 
 whether Access needs to be granted immediately or later</span> field. 
 The options available are as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Immediately</span> - Select this option 
 if the Access has to be granted immediately.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">After 'X' days</span> - Select this option 
 if the Access has to be granted after few days of user joining to the 
 employment. Replace <span style="font-style: italic; font-weight: bold;">x</span> 
 &#160;with the number of days, after which access must be granted to the 
 user.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(vi)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 the duration for which the Access is required in the <span style="font-weight: bold;">Specify 
 how long the Access should be granted</span> field.<br />
<br />
The options available are as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Indefinite</span> - Select this option 
 if the user needs the Access for a very long period or always.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">For 'X' days</span> - Select this option 
 if the user needs the Access only for a few days. Replace <span style="font-style: italic; 
	 font-weight: bold;">x</span> &#160;with the number of days, the Access 
 is required.<br />
<br />
For example, all new users would need Access to the On-boarding tool for 
 the first 30 days to track their activities and share feedback. Select 
 this option and type <span style="font-weight: bold;">30</span> in the 
 field provided.</p>
<p style="margin-left: 120px; 
											 text-indent: -20px;">(vii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 if there is any approval required to grant the Access. The options are 
 as follows:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Yes</span> - Select this option if the 
 Access must be granted only after Approval.<br />
The Approval follows the same process as that for a similar Access Request 
 and settings defined. For more information on configuring the Access Request 
 settings, see <a href="../Version1.10_Deployment GuideRevamp/Request_Access_Workflow.htm">Request 
 Access Settings</a>.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">No, it will be granted immediately</span> 
 - Select this option if the Access must be granted as soon as the rule 
 is created.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(viii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span>. The selected Access is Added.<span 
	 style="font-weight: bold;"> </span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(ix)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To select 
 Access listed in different pages, you can click the previous, next, and 
 page numbers buttons at the lower-right corner of the<span style="font-weight: bold;"> 
 Search for Access within Asset</span><b> <span style="font-weight: normal;">section</span></b>.</p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr style="height: 14px;">
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 </p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">Add</span>: Click this button to 
			 add the selected Access in the current page and continue to 
			 select some more access by navigating to different pages. 
			 </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-weight: bold;">Add 
			 and Close<span style="font-weight: normal;">: Click this button 
			 to Add the selected Access and close the Specify Access subwindow.</span></p></li>
		</ul></td>
	</tr>
</table>
<p style=" margin-left: 120px; text-indent: -20px;">(x)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add and Close</span> to close the Specify 
 Access subwindow.<br />
The selected Access is displayed in Specify Access page.<br />
<br />
<img src="Provisioning_Rules_SpecifyAccess3.png" alt="" style=" border:none; width:100%; max-width:832px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Icon_RemoveAccess.png" alt="" style=" border:none; width:100%; max-width:15px;" border="0" /> 
 (Remove Access) icon to remove the Access if you have selected a wrong 
 Access.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Icon_Edit_Access.png" alt="" style=" border:none; width:100%; max-width:17px;" border="0" /> 
 (Edit Access) icon to edit the Access Grant Date or Access Grant Duration 
 or the Access grant approval process specified while selecting the Access. 
 </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Finish</span>.<br />
The Joiner <span>rule is created and you can view it from the </span><span 
	 style="font-weight: bold;">JML - Rules</span><span> page.</span></p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
