
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora REST API - Appendix</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "12_2";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_API.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_API.htm" class="homelink"><span>Tuebora REST API</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="512">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_API.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Appendix</h1>
     <h4><span lang="X-NONE" xml:lang="X-NONE"><a name="Generate_Tuebora_Authentication_API_Credentials"></a>Generate 
 Tuebora Authentication API Credentials</span></h4>
     <p><span style="mso-ansi-language: EN-US;">Tuebora supports Basic Authentication 
 which sends User ID and Password pairs, encoded using base64 for authorizing 
 APIs. You must generate the Tuebora API Credentials to authenticate the 
 requests to execute APIs.</span></p>
     <p><span style="mso-ansi-language: EN-US;">In your environment, if Tuebora 
 is deployed in multiple legs, you can use the following approach to create 
 the Tuebora Authentication API credentials:</span></p>
     <ul style="list-style: disc; margin-top: 0in;">
	<li class="MsoNormal" style="mso-list: l3 level1 lfo3; margin-left: -20px;">
 <p><b 
	 style="mso-bidi-font-weight: normal;"><span style="mso-ansi-language: EN-US;">One 
	 Tuebora Authentication API credentials for all legs</span></b><span 
	 style="mso-ansi-language: EN-US;">- In this case the Tuebora Authentication 
	 API credentials is replicated in all other legs databases.</span></p></li>
	<li class="MsoNormal" style="mso-list: l3 level1 lfo3; margin-left: -20px;">
 <p><b 
	 style="mso-bidi-font-weight: normal;"><span style="mso-ansi-language: EN-US;">Separate 
	 Tuebora Authentication API credentials for each leg</span></b> <span 
	 style="mso-ansi-language: EN-US;">- In this case, you must create 
	 separate Tuebora Authentication API credentials for each leg.</span></p></li>
</ul>
<p><span style="mso-ansi-language: EN-US;">To generate Tuebora Authentication 
 API Credentials, perform the following:</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-ansi-language: EN-US;">Open the <b style="mso-bidi-font-weight: normal;">RESTClient</b> 
 and select <b style="mso-bidi-font-weight: normal;">Headers</b> tab.</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-ansi-language: EN-US; font-family: Verdana, sans-serif;">Define 
 the following Headers Key and Value:</span> </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b style="mso-bidi-font-weight: normal;"><span 
	 style="mso-ansi-language: EN-US;">Content-Type</span></b><span style="mso-ansi-language: EN-US;">: 
 Select <b style="mso-bidi-font-weight: normal;">application/x-www-form-urlencoded</b></span></p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b style="mso-bidi-font-weight: normal;"><span 
	 style="mso-ansi-language: EN-US;">clientipaddress</span></b><span 
	 style="mso-ansi-language: EN-US;">: Specify the IP address of the 
 system where <b style="mso-bidi-font-weight: normal;">Tuebora Main Server</b> 
 is running.<br />
Example:192.168.1.123</span></p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText" style="mso-ansi-language: EN-US; mso-bidi-font-weight: normal; 
			 mso-bidi-font-style: normal; font-style: normal;"><i style="font-style: normal;"><b 
		 style="font-style: normal;">Note</b>: If the Tuebora installation 
		 strategy used is Two-system or Three-system deployment, then specify 
		 the IP address of the system on which the Tuebora Service components 
		 are installed.</i></p></td>
	</tr>
 </table>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-ansi-language: EN-US;"><b style="mso-bidi-font-weight: normal;">customerkey</b>: 
 Specify the <b style="mso-bidi-font-weight: normal;">Organization</b> 
 <b style="mso-bidi-font-weight: normal;">name</b> specified during Tuebora 
 deployment in your environment.<br />
<br />
</span><span style="mso-ansi-language: EN-US; font-weight: bold;">Example</span><span 
	 style="mso-ansi-language: EN-US;">: xanadu</span></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-ansi-language: EN-US;"><b style="mso-bidi-font-weight: normal;">loginid</b>: 
 Specify <b style="mso-bidi-font-weight: normal;">Base64</b> encoded value 
 of the <b style="mso-bidi-font-weight: normal;">Tuebora account</b> (any 
 active user account).<br />
<br />
</span><span style="mso-ansi-language: EN-US; font-weight: bold;">Example</span><span 
	 style="mso-ansi-language: EN-US;">: Base64 encoded value of a user 
 account ZWhpbGwNCg==</span></p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText" style="mso-ansi-language: EN-US; mso-bidi-font-weight: normal; 
			 mso-bidi-font-style: normal; font-style: normal;"><i style="font-style: normal;"><b 
		 style="font-style: normal;">Note</b>: You can use any BASE64 Encoding 
		 Tool to encode the Tuebora User Account and its Password. This 
		 is an example Base64 encoding tool <a href="https://www.base64decode.org/" 
												 id="a1" style="font-style: normal;">https://www.base64decode.org/</a> 
		 which can used for encoding.</i></p></td>
	</tr>
 </table>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b style="mso-bidi-font-weight: normal;"><span 
	 style="mso-ansi-language: EN-US;">password</span></b><span style="mso-ansi-language: EN-US;">: 
 Specify <b style="mso-bidi-font-weight: normal;">Base64</b> encoded value 
 of the <b style="mso-bidi-font-weight: normal;">Tuebora</b> <b style="mso-bidi-font-weight: normal;">account</b> 
 <b style="mso-bidi-font-weight: normal;">password</b>.<br />
Example: Base64 encoded value of user account password VGVzdCFAMzQNCg==</span></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; font-family: Verdana, sans-serif;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-ansi-language: EN-US;">Select <b style="mso-bidi-font-weight: normal;">POST</b> 
 in the <b style="mso-bidi-font-weight: normal;">Method</b> field.</span></p>
 <p class="list" style="
mso-ansi-language:EN-US; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family: Verdana, sans-serif;">Type 
 the following URL to register a SCIM Server in the URL field:</span><span 
	 style="mso-spacerun: yes; font-family: Verdana, sans-serif;">&#160;</span><span 
	 style="font-family: Verdana, sans-serif;">&#160;<a href="http://%3cTuebora" 
														 id="a2" style="font-family: Verdana, sans-serif;">http://&lt;Tuebora</a> 
 Application URL&gt;:8080/accessnirvana-&lt;organization name&gt;/api/clientcredentials/</span><br />
<br />
<span style="font-family: Verdana, sans-serif;">Example: <a href="http://xanadu.tuebora.com:8080/accessnirvana-xanadu/api/clientcredentials/" 
															 id="a3" style="font-family: Verdana, sans-serif;">http://xanadu.tuebora.com:8080/accessnirvana-xanadu/api/clientcredentials/</a></span></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; font-family: Verdana, sans-serif;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-ansi-language: EN-US;">Select <b style="mso-bidi-font-weight: normal;">Body</b> 
 tab and click the option <b style="mso-bidi-font-weight: normal;">x-www-form-urlencoded</b>.<br />
Specify the following details:</span></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; font-family: Verdana, sans-serif;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-ansi-language: EN-US;">In <b style="mso-bidi-font-weight: normal;">Key</b> 
 field, type name.</span></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; font-family: Verdana, sans-serif;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-ansi-language: EN-US;">In <b style="mso-bidi-font-weight: normal;">Value</b> 
 field, type a name to identify the Tuebora Authentication API Credentials.<br />
<br />
</span><span style="mso-ansi-language: EN-US; font-weight: bold;">Example</span><span 
	 style="mso-ansi-language: EN-US;">: <b style="mso-bidi-font-weight: normal;">TueboraClientAPI</b></span></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; font-family: Verdana, sans-serif;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-ansi-language: EN-US;">Click <b style="mso-bidi-font-weight: normal;">Send</b>.<br />
The RestClient shows </span><span style="mso-ansi-language: EN-US; font-weight: bold;">Status 
 Code 200 OK</span><span style="mso-ansi-language: EN-US;"> if the request 
 is processed successfully.</span><span style="mso-ansi-language: EN-US; 
										 mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
	 style="mso-ansi-language: EN-US;"><br />
<br />
You have to note the Tuebora Authentication API Credentials. Currently, 
 you cannot view these details from the Tuebora Portal UI. These credentials 
 are required for authenticating the API requests made to Tuebora.</span></p>
 <h3 class="list"><span style="mso-ansi-language: EN-US;"><a name="Details_of_Data_Parameters"></a>D</span>etails 
 of Data Parameters</h3>
 <table class="Table" cellspacing="0" width="100%">
	<col style="width: 22.502%;" />
	<col style="width: 18.336%;" />
	<col style="width: 59.162%;" />
	<tr class="t1st">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Parameter</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Is Mandatory</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">Description</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">filter</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="color: #000000;">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Filter 
		 to restrict the data being returned. <br />
		</p>
		<p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 &quot;filter&quot;: &quot;requestSrc eq \&quot;passwordfilter\&quot;&quot;, 
		 </p>
		<p class="TableText">&#160;</p>
		<p class="TableText" style="color: #000000; font-weight: normal;">If 
		 value for the filter is not present, then API returns all records.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">startIndex</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">1 
		 based index of records to be fetched. If value is not present 
		 it will default to 1</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">count</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the number of records to be returned per page. </p>
		<p class="TableText">System will have a global upper limit to override. 
		 Also if no value is passed, system default of 10 records will 
		 be returned.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">sortBy</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specification 
		 of the attribute of the resource based on which the data must 
		 be searched. If sortby parameter is not present, then API does 
		 not sort the data.</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">sortOrder</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the sort order - Ascending or Descending.<br />
		<br />
		Specify one of the sort order to get the data.</p></td>
	</tr>
 </table>
 <h3><a name="Supported_Operators"></a>Supported Operators</h3>
 <table class="Table" cellspacing="0" width="100%">
	<col style="width: 19.495%;" />
	<col style="width: 80.505%;" />
	<tr class="t1st">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Operator</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">Description</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText"><span style="font-family: Verdana, sans-serif;">eq</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText"><span 
		 style="font-family: Verdana, sans-serif;">Equal</span></p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText"><span style="font-family: Verdana, sans-serif;">ne</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText"><span 
		 style="font-family: Verdana, sans-serif;">Not Equal</span></p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText"><span style="font-family: Verdana, sans-serif;">co</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText"><span 
		 style="font-family: Verdana, sans-serif;">Contains</span></p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText"><span style="font-family: Verdana, sans-serif;">sw</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText"><span 
		 style="font-family: Verdana, sans-serif;">Starts with</span></p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText"><span style="font-family: Verdana, sans-serif;">ew</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText"><span 
		 style="font-family: Verdana, sans-serif;">Ends with</span></p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText"><span style="font-family: Verdana, sans-serif;">pr</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText"><span 
		 style="font-family: Verdana, sans-serif;">Present value</span></p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText"><span style="font-family: Verdana, sans-serif;">gt</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText"><span 
		 style="font-family: Verdana, sans-serif;">Greater than</span></p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText"><span style="font-family: Verdana, sans-serif;">ge</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText"><span 
		 style="font-family: Verdana, sans-serif;">Greater than or equal 
		 to</span></p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText"><span style="font-family: Verdana, sans-serif;">lt</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText"><span 
		 style="font-family: Verdana, sans-serif;">Less than</span></p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">le</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Less 
		 than or equal to</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
