
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora REST API - Bulk Email API</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "9_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_API.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_API.htm" class="homelink"><span>Tuebora REST API</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="776">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_API.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Bulk Email API</h1>
     <p style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
	 font-family: Verdana, sans-serif;">This API can be used to configure 
 settings to sends bulk emails to users.</p>
     <table class="Table" cellspacing="0" width="100%">
	<col style="width: 23.424%;" />
	<col style="width: 38.288%;" />
	<col style="width: 38.288%;" />
	<tr class="t1st">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter" style="color: #000000; 
										 font-family: Verdana, sans-serif;">URL</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="font-family: Verdana, sans-serif; font-weight: bold;">/api/v1/email/bulk</p></td>
		
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter" style="font-family: Verdana, sans-serif;">HTTP 
		 Method</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="font-family: Verdana, sans-serif;">POST</p></td>
		
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter" style="font-family: Verdana, sans-serif;">Headers</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 style="font-weight: bold;">Content-Type</span>: application/json</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 style="font-weight: bold;">Authorization</span>: Basic Authorization. 
			 Use Tuebora API Authentication Credentials as Basic Authorization 
			 Credentials.</p></li>
		</ul></td>
		
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter" style="font-family: Verdana, sans-serif;">Data 
		 Type</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="font-family: Verdana, sans-serif;">Request Body</p></td>
		
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter" style="font-family: Verdana, sans-serif;">Data 
		 Parameters</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="font-family: Verdana, sans-serif;"><span style="font-family: Verdana, sans-serif;">{</span></p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">&quot;to&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 87px;">&quot;type&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 87px;">&quot;value&quot;: 
		 </p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">&quot;cc&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 87px;">&quot;type&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 87px;">&quot;value&quot;: 
		 </p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">&quot;bcc&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 87px;">&quot;type&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 87px;">&quot;value&quot;: 
		 </p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">&quot;subject&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">&quot;body&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">&quot;data&quot;: 
		 [{}],</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">&quot;sendType&quot;: 
		 &quot;&quot;</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">}</p></td>
		
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter" style="font-family: Verdana, sans-serif;">Success 
		 Response Code and Response Data</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="color: #000000; font-family: Verdana, sans-serif;">200 
		 OK</p>
		<p class="TableText" style="color: #000000; font-family: Verdana, sans-serif;">&#160;</p>
		<p class="TableText" style="color: #000000; font-family: Verdana, sans-serif;">If 
		 API call gets 200 OK, does not mean that emails have been delivered 
		 to Users. &#160;It means, emails are generated and will be sent 
		 through separate thread.<span style="color: #ff0000;"> </span></p></td>
		
	</tr>
	<tr class="t1Row">
		<td rowspan="5" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter" style="font-family: Verdana, sans-serif;">Error 
		 Response</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="color: #000000; 
														 font-family: Verdana, sans-serif; 
														 mso-ansi-language: EN-IN; 
														 mso-fareast-language: EN-IN; 
														 mso-bidi-language: AR-SA;"><span 
		 lang="EN-IN" xml:lang="EN-IN">Passing a userID which is not available 
		 returns an error</span></p>
		<p class="TableText" style="color: #000000; font-family: Verdana, sans-serif; 
			 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;"><span 
		 lang="EN-IN" xml:lang="EN-IN">Passing a request without specifying 
		 the value for &quot;email&quot; recipient type returns an error</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="color: #000000; 
														 font-family: Verdana, sans-serif;"><span 
		 style="color: #000000; font-family: Verdana, sans-serif;">{&quot;errorCode&quot;: 
		 &quot;email_missing_recipient&quot;,</span></p>
		<p class="TableText" style="color: #000000; font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;To Email Address cannot be null or empty&quot;<span style="color: #000000; 
		 font-family: Verdana, sans-serif;">}</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 0px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">Passing request without subject 
		 returns an error</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 style="color: #000000; font-family: Verdana, sans-serif;">{&quot;errorCode&quot;: 
		 &quot;email_missing_subject&quot;,</span></p>
		<p class="TableText" style="color: #000000; font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Email Subject cannot be empty&quot;<span style="color: #000000; 
														 font-family: Verdana, sans-serif;">}</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 0px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;">Passing 
		 request by specifying the wrong email template name in the body 
		 returns an error</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 style="color: #000000; font-family: Verdana, sans-serif;">{&quot;errorCode&quot;: 
		 &quot;email_missing_body_template&quot;,</span></p>
		<p class="TableText" style="color: #000000; font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Template provided for email body doesn't exists&quot;<span 
		 style="color: #000000; font-family: Verdana, sans-serif;">}</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 0px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;">Passing 
		 request by specifying the wrong email template name in the subject 
		 returns an error</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 style="color: #000000; font-family: Verdana, sans-serif;">{&quot;errorCode&quot;: 
		 &quot;email_missing_subject_template&quot;,</span></p>
		<p class="TableText" style="color: #000000; font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Template provided for email subject doesn't exists&quot;<span 
		 style="color: #000000; font-family: Verdana, sans-serif;">}</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 0px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;">Passing 
		 request by without specifying recipient type or wrong recipient 
		 type for the &quot;TO&quot;, CC, BCC returns an error</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 style="color: #000000; font-family: Verdana, sans-serif;">{&quot;errorCode&quot;: 
		 &quot;email_invalid_to_recipient_type&quot;,</span></p>
		<p class="TableText" style="color: #000000; font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;To recipient type can be one of email, userId or expression&quot;<span 
		 style="color: #000000; font-family: Verdana, sans-serif;">}</span></p></td>
	</tr>
 </table>
 <h2>Details of Data Parameters</h2>
 <table class="Table" cellspacing="0" width="100%">
	<col style="width: 0;" />
	<col style="width: 0;" />
	<col style="width: 18.336%;" />
	<col style="width: 59.162%;" />
	<tr class="t1st">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Parameter</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Is Mandatory</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">Description</p></td>
	</tr>
	<tr class="t2Row">
		<td rowspan="3" style="border-right: Solid 1px #c0c0c0; vertical-align: top;">
  <p 
			 class="TableText">to</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">&#160;</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; ">
  <p class="TableText">Container 
		 to define to whom the email must be sent.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent; ">
  <p class="TableText">type</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent; ">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent; 
			 ">
  <p class="TableText">Indicates the <span style="font-family: Verdana, sans-serif;">recipient 
		 type parameter </span>used for passing the value. For more information 
		 on types supported refer <a href="#Supported_Parameter_Types">Supported 
		 Parameter Types</a> section.</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">value</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; ">
  <p class="TableText">Specify 
		 the value based on the parameter selected. For sample values refer 
		 the <a href="#Supported_Parameter_Types">Supported Parameter Types</a> 
		 section</p></td>
	</tr>
	<tr class="t1Row">
		<td rowspan="3" style="border-right: Solid 1px #c0c0c0; vertical-align: top;">
  <p 
			 class="TableText">cc</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">&#160;</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; ">
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 " bgcolor="#A5C6E0">
  <p class="TableText">type</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 " bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; " bgcolor="#A5C6E0">
  <p 
			 class="TableText">Indicates the <span style="font-family: Verdana, sans-serif;">recipient 
		 type parameter </span>used for passing the value. For more information 
		 on types supported refer <a href="#Supported_Parameter_Types">Supported 
		 Parameter Types</a> section.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">value</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; ">
  <p class="TableText">Specify 
		 the value based on the parameter selected. For sample values refer 
		 the <a href="#Supported_Parameter_Types">Supported Parameter Types</a> 
		 section.</p></td>
	</tr>
	<tr class="t2Row">
		<td rowspan="3" style="border-right: Solid 1px #c0c0c0; vertical-align: top;">
  <p 
			 class="TableText">bcc</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">&#160;</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; ">
  <p class="TableText">Container 
		 to define to whom the email must be BCCed.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent; ">
  <p class="TableText">type</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent; ">
  <p class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent; 
			 ">
  <p class="TableText">Indicates the <span style="font-family: Verdana, sans-serif;">recipient 
		 type parameter </span>used for passing the value. For more information 
		 on types supported refer <a href="#Supported_Parameter_Types">Supported 
		 Parameter Types</a> section.</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">value</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; ">
  <p class="TableText">Specify 
		 the value based on the parameter selected. For sample values refer 
		 the <a href="#Supported_Parameter_Types">Supported Parameter Types</a> 
		 section.</p></td>
	</tr>
	<tr class="t1Row">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">subject</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">You 
		 can specify:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Text which 
			 may or may not have json path expressions </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Velocity 
			 template file name. Please make sure file name provided ends 
			 with .vm</p></li>
		</ul></td>
	</tr>
	<tr class="t2Row">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">body</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">You 
		 can specify:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Text which 
			 may or may not have json path expressions </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Velocity 
			 template file name. Please make sure file name provided ends 
			 with .vm</p></li>
		</ul></td>
	</tr>
	<tr class="t1Row">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">data</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">This 
		 is an array of data to be used in email sending. If there are 
		 more than 1 records, separate emails will be built for each entry 
		 in data section.</p>
		<p class="TableText" style="color: #ff0000;">&#160;</p></td>
	</tr>
	<tr class="t2Row">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">send type</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Supports 
		 the following send types:</p>
		<ul style="list-style: disc;">
			<li>
   <p class="TableText"><span style="font-weight: bold;">onepertorecipient</span> 
			 &#160;- Separate email will be sent to each entry in TO list.</p></li>
			<li>
   <p class="TableText"><span style="font-weight: bold;">oneforalltorecipient</span> 
			 - One email is sent to all entries in TO list.</p></li>
		</ul>
		<p>All emails in both the send types will have same set of CC or 
		 BCC addresses.</p></td>
	</tr>
 </table>
 <h3><a name="Supported_Parameter_Types"></a>Supported Parameter Types</h3>
 <table class="Table" cellspacing="0" width="100%">
	<col style="width: 11.48%;" />
	<col style="width: 48.963%;" />
	<col style="width: 39.557%;" />
	<tr class="t1st">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Parameter Type</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Value</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">Sample</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">expression</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">The JSON path expression will be evaluated 
		 against single element in data section passed in the body of the 
		 request</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">$account.user.emailAddress</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">In the data section of this Email API body, 
		 there is element called account with user attribute. Picks email 
		 Address field from that.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">email</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Specific email addresses to which email 
		 has to be sent</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">eric.hill@xanadufinancials.com</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">userId</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">ID of the user to whom the email has to 
		 be sent</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">[204, 
		 225]</p>
		<p class="TableText">&#160;</p>
		<p class="TableText" style="font-style: italic;"><span style="font-weight: bold;">Note</span>: 
		 When value is passed in array, the value should not be specified 
		 in <span style="font-weight: bold;">double quotes(&quot;&quot;).</span></p></td>
	</tr>
 </table>
 <p class="Request"><img src="Images/Image_left.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Request 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">curl -v -X POST \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-H &quot;Accept: application/json&quot; 
		 \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-H &quot;Content-Type: application/json&quot; 
		 \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-H &quot;Authorization: Basic ${basic_authentication_header}&quot; 
		 \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-d '</span><span lang="EN-IN" xml:lang="EN-IN" 
														 style="mso-fareast-font-family: 'Times New Roman'; 
														 mso-ansi-language: EN-IN; 
														 mso-fareast-language: EN-IN; 
														 mso-bidi-language: AR-SA;">{</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;to&quot;: 
		 {</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;email&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;value&quot;: 
		 [&quot;eric.hill@xanadufinancials.com&quot;, &quot;abcheek@xanadufinancials.com&quot;]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">},</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;cc&quot;: 
		 {</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;email&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;value&quot;: 
		 [&quot;adam.grey@xanadufinancials.com&quot;]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">},</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;bcc&quot;: 
		 {</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;email&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;value&quot;: 
		 [&quot;andrew.green@xanadufinancials.com&quot;]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">},</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;subject&quot;: 
		 &quot;accountpwdexpirationremindersubj.vm&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;body&quot;: 
		 &quot;accountpwdexpirationreminder.vm&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;data&quot;: 
		 [{}],</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;sendType&quot;: 
		 &quot;onepertorecipient&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif;">}</span><span lang="EN-IN" 
															 xml:lang="EN-IN" 
															 style="mso-bidi-font-weight: bold; 
															 font-family: Verdana, sans-serif; 
															 mso-fareast-font-family: 'Times New Roman'; 
															 mso-ansi-language: EN-IN; 
															 mso-fareast-language: EN-IN; 
															 mso-bidi-language: AR-SA;">' 
		 &quot;https://</span><span lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
									 font-family: Verdana, sans-serif; 
									 font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
									 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
									 mso-bidi-language: AR-SA;">{</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">yourTenantURL</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">}</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">/</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">api/v1/email/bulk</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">&quot;</span><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"> 
		 </span></p></td>
	</tr>
 </table>
 <p class="Request" style="font-family: Verdana, sans-serif;">Request Example 
 for Expression Parameter type</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">{</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;to&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;expression&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;value&quot;: 
		 [&quot;$user.email&quot;]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}],</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;subject&quot;: 
		 &quot;Test Email&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;body&quot;: 
		 &quot;accountpwdexpirationremindersubj.vm&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;sendType&quot;: 
		 &quot;onepertorecipient&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;data&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;user&quot;: 
		 {</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;email&quot;: 
		 &quot;andrew.green@xanadufinancials.com&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">{</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;to&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;expression&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;value&quot;: 
		 [&quot;$.user.email&quot;]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}],</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;cc&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;expression&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;value&quot;: 
		 [&quot;$.user.alternateemail&quot;]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}],</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;subject&quot;: 
		 &quot;Test Mail with Expression&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;body&quot;: 
		 &quot;Test Mail with Expression Body&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;sendType&quot;: 
		 &quot;onepertorecipient&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;data&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;user&quot;: 
		 {</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;email&quot;: 
		 &quot;andrew.green@xanadufinancials.com&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;alternateemail&quot;: 
		 &quot;andrew.green@gmail.com&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">{</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;to&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;expression&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;value&quot;: 
		 &quot;$user.email&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}],</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;subject&quot;: 
		 &quot;Test Mail&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;body&quot;: 
		 &quot;accountpwdexpirationremindersubj.vm&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;sendType&quot;: 
		 &quot;onepertorecipient&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;data&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;user&quot;: 
		 {</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;email&quot;: 
		 &quot;andrew.green@xanadufinancials.com&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}, 
		 {</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;user&quot;: 
		 {</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;email&quot;: 
		 &quot;adam.grey@xanadufinancials.com&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}, 
		 {</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;user&quot;: 
		 {</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;email&quot;: 
		 &quot;eric.hill@xanadufinancials.com&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p></td>
	</tr>
 </table>
 <p class="Request">Request Example for UserId Parameter Type</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">{</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;to&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;userId&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;value&quot;: 
		 [206]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}],</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;cc&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;userId&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;value&quot;: 
		 [2]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}],</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;subject&quot;: 
		 &quot;Password Expiry Notification&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;body&quot;: 
		 &quot;accountpwdexpirationreminder.vm&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;sendType&quot;: 
		 &quot;onepertorecipient&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;data&quot;: 
		 [{}]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">{</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;to&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;userId&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;value&quot;: 
		 [156, 175]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}],</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;cc&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;userId&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;value&quot;: 
		 [2, 8]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}],</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;subject&quot;: 
		 &quot;Password Expiry Notification&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;body&quot;: 
		 &quot;accountpwdexpirationreminder.vm&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;sendType&quot;: 
		 &quot;onepertorecipient&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;data&quot;: 
		 [{}]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p></td>
	</tr>
 </table>
 <p class="Request">Request Example for Email Parameter Type</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">{</span></span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;to&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;email&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;value&quot;: 
		 &quot;eric.hill@xanadufinancials.com&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}],</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;subject&quot;: 
		 &quot;Notification for Supervisor Updated&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;body&quot;: 
		 &quot;Test Email Body&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;sendType&quot;: 
		 &quot;onepertorecipient&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">{</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;to&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;email&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;value&quot;: 
		 &quot;eric.hill@xanadufinancials.com&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}],</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;subject&quot;: 
		 &quot;useraccountsubject.vm&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;body&quot;: 
		 &quot;useraccountsubject.vm&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;sendType&quot;: 
		 &quot;onepertorecipient&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;data&quot;: 
		 [{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;assetName&quot;: 
		 &quot;Corporate Active Directory&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;userName&quot;: 
		 &quot;Andrew Green&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
