
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora REST API - Create Asset</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "4.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_API.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_API.htm" class="homelink"><span>Tuebora REST API</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1064">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_API.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


<br style="page-break-before: always;" />

     <h1>Create Asset</h1>
     <p><span lang="EN-IN" xml:lang="EN-IN">Create a new Asset<b style="mso-bidi-font-weight: normal;">.</b></span></p>
     <table class="Table" cellspacing="0" width="100%">
	<col style="width: 23.424%;" />
	<col style="width: 38.288%;" />
	<col style="width: 38.288%;" />
	<tr class="t1st" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter" style="color: #000000;">URL</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText"><span 
		 style="font-weight: bold;">/api/v1/assets</span></p></td>
		
	</tr>
	<tr class="t2Row" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">HTTP Method</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">POST</p></td>
		
	</tr>
	<tr class="t1Row" style="height: 54px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">Headers</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-weight: normal;"><span 
			 style="font-weight: bold;">Content-Type</span>: application/json</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">Authorization</span>: Basic Authorization. 
			 Use the credentials of the Client added on SCIM Server as 
			 Basic Authorization Credentials.</p></li>
		</ul></td>
		
	</tr>
	<tr class="t2Row" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">Data Type</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Request 
		 Body</p></td>
		
	</tr>
	<tr class="t1Row" style="height: 259px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter"><a href="#Details_of_Data_Parameters">Data 
		 Parameters</a></p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="tabletext" 
			 style="margin-top: 1.5pt; margin-right: 0in; margin-bottom: 1.5pt; 
			 margin-left: 5.1pt;">{</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;name&quot;: 
		 &quot;&quot;,</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;type&quot;: 
		 &quot;&quot;,</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;purpose&quot;: 
		 &quot;&quot;,</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;manageAccess&quot;: 
		 ,</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;authenticatedBy&quot;: 
		 &quot;&quot;,</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;dataImportedBy&quot;: 
		 &quot;&quot;,</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;owners&quot;: 
		 [&quot;&quot;],</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;connectionProperties&quot;: 
		 {</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;url&quot;: 
		 &quot;&quot;,</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;userName&quot;: 
		 &quot;&quot;,</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;password&quot;: 
		 &quot;&quot;</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">}</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">}</p></td>
		
	</tr>
	<tr class="t2Row" style="height: 38px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">Success Response 
		 Code and Response Data</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="color: #000000;">201 Created</p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN">All success 
		 responses</span> return the created Asset data. The response contains 
		 the unique identifier of the newly created Asset. </p></td>
		
	</tr>
	<tr class="t1Row" style="height: 36px;">
		<td rowspan="12" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">Error Response</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="color: #000000;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 font-size: 10pt;">For data passed without specifying asset name</span><span 
		 style="font-family: Verdana, sans-serif;"> </span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="color: #000000;"><span 
		 style="color: #000000;">{&quot;errorCode&quot;: &quot;1112&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Asset Name is missing&quot;<span style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 36px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">For data passed with duplicate asset name</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">{&quot;errorCode&quot;: &quot;1100&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;An Asset with given name is already present&quot;}</p></td>
	</tr>
	<tr class="t1Row" style="height: 36px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;"><span lang="EN-IN" 
															 xml:lang="EN-IN" 
															 style="mso-fareast-font-family: 'Times New Roman'; 
															 mso-ansi-language: EN-IN; 
															 mso-fareast-language: EN-IN; 
															 mso-bidi-language: AR-SA; 
															 font-size: 10pt;">For 
		 data passed without specifying Asset Type name</span><span style="font-family: Verdana, sans-serif;"> 
		 </span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;1050&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Asset Type Name is missing<span style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 36px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;">For data password 
		 with wrong Asset Type name</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;1053&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Asset Type with specified name is not present&quot;<span 
		 style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 48px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;"><span lang="EN-IN" 
															 xml:lang="EN-IN" 
															 style="mso-fareast-font-family: 'Times New Roman'; 
															 mso-ansi-language: EN-IN; 
															 mso-fareast-language: EN-IN; 
															 mso-bidi-language: AR-SA; 
															 font-size: 10pt;">For 
		 data passed without specifying asset Purpose</span><span style="font-family: Verdana, sans-serif;"> 
		 </span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;1114&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Asset Purpose is missing&quot;<span style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 64px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;">For data passed 
		 with invalid asset purpose </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;1120&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Asset Purpose is invalid. &#160;It should be one of user-repository, 
		 authentication-source, business-application, global-role-repository, 
		 ticketing-system&quot;<span style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 50px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;">For data passed 
		 without specifying authentication asset name</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;1115&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Asset Authentication Info is missing&quot;<span style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 50px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;">For data passed 
		 with invalid authentication application name </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;1121&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Asset specified in Authenticated By Info is not present<span 
		 style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 36px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;">For data passed 
		 without specifying data import method for the asset</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;1117&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Asset Data Imported By Info is missing&quot;<span style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 57px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;">For data passed 
		 with invalid data import method for the asset </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;1123&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Data Imported By is invalid. &#160;It should be one of manual-file-upload, 
		 manual-zip-upload, connecting-to-scim-server&quot;<span style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 36px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;">For data passed 
		 with invalid user id for the owner of the asset </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;1124&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Asset Owner specified is not found&quot;<span style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 36px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;">For data passed 
		 without specifying the owner parameter in the JSON body</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;1116&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Asset Owner Info is missing&quot;<span style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 31px;">
		<td>&#160;</td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;">When the ID of a 
		 Terminated user is specified for <span>Asset Owner parameter</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;1125&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Asset Owner specified is a terminated user. &#160;Only active 
		 users can be Owners&quot;<span style="color: #000000;">}</span></p></td>
	</tr>
 </table>
 <h3 class="Request"><a name="Details_of_Data_Parameters"></a>Details of 
 Data Parameters</h3>
 <table class="Table" cellspacing="0" width="100%">
	<col style="width: 22.502%;" />
	<col style="width: 18.336%;" />
	<col style="width: 59.162%;" />
	<tr class="t1st">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Parameter</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Is Mandatory</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">Description</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">name</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the name for the Asset.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">type</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the Asset type for which Asset instance is being created.</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">purpose</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the <span style="font-weight: bold;">purpose</span> of integration 
		 of Asset. The purpose can be one of the following:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">user-repository</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">authentication-source</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">business-application</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">global-role-repository</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">ticketing-system</p></li>
		</ul></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">manageAccess</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the whether the Access of the Asset will be managed or not. Set 
		 the following value:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">true</span> - If the access is 
			 managed for the Asset</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">false</span> - If the access is 
			 not managed for the Asset</p></li>
		</ul></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">authenticatedBy</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the name of the Authentication application created in Tuebora 
		 which will be used for authenticating the Asset. </p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">dataImportedBy</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 how data is imported for the Asset. The data import methods can 
		 be one of the following:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">manual-file-upload</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">manual-zip-upload</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">connecting-to-scim-server</p></li>
		</ul></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">owners</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the <span style="font-weight: bold;">ID of the Users</span> who 
		 must be associated as <span style="font-weight: bold;">Owners</span> 
		 for the Asset. &#160;Specify User Id as <span style="font-weight: bold;">comma 
		 separated</span> value to assign more than one owner for the Asset.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">connection properties*</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the connection parameters and value for each parameter.</p></td>
	</tr>
	<tr class="t2Row">
		<td colspan="3" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">* &#160;In Tuebora, Assets types could have 
		 been integrated using different mode of integration which needs 
		 you to specify the appropriate connection properties. Hence, the 
		 <span style="font-weight: bold;">&#160;Parameters</span> in <span 
		 style="font-weight: bold;">Connection</span> <span style="font-weight: bold;">Properties</span> 
		 section will vary based on the Asset Type selected for creating 
		 the Asset.</p></td>
		
	</tr>
 </table>
 <p class="Request"><img src="Images/Image_left.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Request 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">curl -v -X POST \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-H &quot;Accept: application/json&quot; 
		 \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-H &quot;Content-Type: application/json&quot; 
		 \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-H &quot;Authorization: Basic ${basic_authentication_header}&quot; 
		 \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-d '</span><span lang="EN-IN" xml:lang="EN-IN" 
														 style="mso-fareast-font-family: 'Times New Roman'; 
														 mso-ansi-language: EN-IN; 
														 mso-fareast-language: EN-IN; 
														 mso-bidi-language: AR-SA;">{</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;name&quot;: 
		 &quot;Xanadu User Repository&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;Orange HRM&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;purpose&quot;: 
		 &quot;user-repository&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;manageAccess&quot;: 
		 false,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;authenticatedBy&quot;: 
		 &quot;Corporate Active Directory&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;dataImportedBy&quot;: 
		 &quot;manual-file-upload&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;owners&quot;: 
		 [</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;8&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">],</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;connectionProperties&quot;: 
		 {</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;url&quot;: 
		 &quot;jdbc:mysql://192.168.2.130:3306/orangehrm_mysql&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;userName&quot;: 
		 &quot;orangehrm&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;password&quot;: 
		 &quot;Tu3bor@123&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;"><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">}</span></span>' &quot;https://</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">{</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">yourTenantURL</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">}</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">/</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">api/v1/assets</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">&quot;</span><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"> 
		 </span></p></td>
	</tr>
 </table>
 <p class="Request"><img src="Images/Image_Right.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Response 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;mobileApplicationType&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;totalLicenses&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;displayName&quot;: 
		 &quot;Xanadu User Repository&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;criticality&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;description&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;uRL&quot;: null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;referenceID&quot;: 
		 &quot;Xanadu User Repository&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;apiPathName&quot;: 
		 &quot;xanaduuserrepository&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;tags&quot;: 
		 [],</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;owner&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 null</p>
		<p class="TableText">&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;meta&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;resourceType&quot;: 
		 &quot;App&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;isEnabled&quot;: 
		 false,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;name&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;logo&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;id&quot;: &quot;1183&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;category&quot;: 
		 null</p>
		<p class="TableText">}</p></td>
	</tr>
 </table>
 <h3 class="Request" style="font-family: Verdana, sans-serif;"><span style="font-family: Verdana, sans-serif;">Request 
 example for creating Business Application</span></h3>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">{</p>
		<p class="TableText">&quot;name&quot;: &quot;AWS East 1&quot;,</p>
		<p class="TableText">&quot;type&quot;: &quot;AWS&quot;,</p>
		<p class="TableText">&quot;purpose&quot;: &quot;business-application&quot;,</p>
		<p class="TableText">&quot;manageAccess&quot;: false,</p>
		<p class="TableText">&quot;authenticatedBy&quot;: &quot;Corporate 
		 Active Directory&quot;,</p>
		<p class="TableText">&quot;dataImportedBy&quot;: &quot;connecting-to-scim-server&quot;,</p>
		<p class="TableText">&quot;owners&quot;: [</p>
		<p class="TableText">&quot;6&quot;</p>
		<p class="TableText">],</p>
		<p class="TableText">&quot;connectionProperties&quot;: {</p>
		<p class="TableText">&quot;authenticator&quot;: &quot;aws&quot;,</p>
		<p class="TableText">&quot;authenticatorData&quot;: {</p>
		<p class="TableText">&quot;accessKey&quot;: &quot;AKIAWTZFOWZFA76O3JEQ&quot;,</p>
		<p class="TableText">&quot;secretKey&quot;: &quot;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&quot;,</p>
		<p class="TableText">&quot;awsRegion&quot;: &quot;us-east-1&quot;,</p>
		<p class="TableText">&quot;serviceName&quot;: &quot;iam&quot;</p>
		<p class="TableText">}</p>
		<p class="TableText">}</p>
		<p class="TableText">}</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
