
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Certifications To Be Fulfilled</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "3.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="440">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="My_Tasks_History.htm" style="color: #008000;">My Task History</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Certifications_Fulfilled.htm" 
														 style="color: #008000;">Certifications 
		 Fulfilled</a></p></td>
	</tr>
 </table>
 <h1>Certifications To be Fulfilled</h1>
 <p>The <span style="font-weight: bold;">My Task History - Certifications 
 To be Fulfilled</span> page displays the Access Certification tasks where 
 you recommended removing Access in an Asset and the change needs to be 
 updated or fulfilled in the Asset. When this change is updated in the 
 Asset, the Access entry is moved to the <span style="font-weight: bold;">My 
 Task History - Certifications Fulfilled</span> page.<br />
<br />
You can perform the following tasks on the <span style="font-weight: bold;">My 
 Task History - Certifications To Be Fulfilled </span>page:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Grouping_the_Access_Certification_Tasks_That_Must_be_Fulfilled">Grouping 
	 the Access Certification Tasks that must be Fulfilled</a></p></li>
	<li>
 <p class="list"><a href="#Sorting_the_Access_Certification_Tasks_That_Must_be_Fulfilled">Sorting 
	 the Access Certification Tasks that must be Fulfilled</a></p></li>
	<li>
 <p class="list"><a href="#Filtering_the_Access_Certification_Tasks_That_Must_be_Fulfilled">Filtering 
	 the Access Certification Tasks that must be Fulfilled</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_List_of__Access_Certification_Tasks_in_an_Access">Viewing 
	 the list of &#160;Access Certification Tasks in an Access</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Details_of_the_Access_Certification_Task_That_Must_be_Fulfilled">Viewing 
	 the Details of the Access Certification Task that must be Fulfilled</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Access_Analysis_of_the_Access_Certification_Task_That_Must_be_Fulfilled">Viewing 
	 the Access Analysis of the Access Certification Task that must be 
	 Fulfilled</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Governance_History_of_the_Access_Certification_Task_That_Must_be_Fulfilled">Viewing 
	 the Governance History of the Access Certification Task that must 
	 be Fulfilled</a></p></li>
	<li>
 <p class="list"><a href="#Exporting_Access_Certification_Tasks_in_PDF_and_Excel_formats">Exporting 
	 Access Certification Tasks in PDF and Excel formats</a></p></li>
</ul>
<p style="margin-left: 0pt; color: #003a6b; font-weight: bold;">Navigation</p>
<table class="Navigation" style="border: Solid 1px #000000; margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access <span style="font-weight: bold;">Certifications 
		 To be Fulfilled </span>feature, select <span style="font-weight: bold;">MENU 
		 &gt; My Task History &gt; Certifications To be Fulfilled</span>.</p></td>
	</tr>
 </table>
 <h3 style="margin-top: 6pt; margin-bottom: 6pt;"><a name="Grouping_the_Access_Certification_Tasks_That_Must_be_Fulfilled"></a>Grouping 
 the Access Certification Tasks that must be Fulfilled</h3>
 <p style="margin-top: 5pt; margin-bottom: 5pt;">You can use the <span style="font-weight: bold;">Group 
 by</span> feature to group the Access Certification tasks that must be 
 fulfilled. The <span style="font-weight: bold;">Group by</span> options 
 available are - </p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="font-weight: bold;">User <br />
	<br />
	<span style="font-weight: normal;">The options available for grouping 
	 the Certification Tasks using user attributes are:</span></p></li>
</ul>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Name 
 - Groups the tasks based on First Name and Last Name of the user</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Department 
 - Groups the tasks based on Department of the user</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Location 
 - Groups the tasks based on Location of the user</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Supervisor 
 - Groups the tasks based on Supervisor of the user</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Orphaned Account</span> 
	 <br />
	<br />
	The option available for grouping the Certification Tasks using Orphaned 
	 Account attributes is:</p></li>
</ul>
<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Name- 
 Groups the tasks based on Orphaned Account Name</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Group</span> - 
	 Groups the Access Certification tasks based on Name of the Group</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Policy</span> 
	 - Groups the Access Certification tasks based on the Certification 
	 policies.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Asset</span> - 
	 Groups the Access Certification tasks based on the Assets that are 
	 part of the Certification Policies.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Justification</span> 
	 - Groups based on the Justification provided while creating the access.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Recommendation</span> 
	 - Groups based on the Recommendation made during Access Certification.</p></li>
</ul>
<p style="margin-top: 5pt; margin-bottom: 5pt;">To group the Access Certification 
 tasks:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the appropriate <span style="font-weight: bold;">Group by</span> option.</p>
<h3 style="margin-top: 6pt; margin-bottom: 6pt;"><a name="Sorting_the_Access_Certification_Tasks_That_Must_be_Fulfilled"></a>Sorting 
 the Access Certification Tasks that must be Fulfilled</h3>
<p style="margin-top: 5pt; margin-bottom: 5pt;">You can use the <span style="font-weight: bold;">Sort 
 by</span> feature to sort the Access Certification tasks that must be 
 fulfilled, in the ascending or descending order. The <span style="font-weight: bold;">Sort 
 by</span> feature is available only when you group the Access Certification 
 tasks by using any of the Group by options.</p>
<p style="margin-top: 5pt; margin-bottom: 5pt;">To sort the Access Certification 
 tasks:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold;">Sort by</span> option on the top-right 
 corner of the page.<br />
<br />
For example, when you grouped the page by Policy, click the <span style="font-weight: bold;">Sort 
 by</span> option to sort the Access Certification tasks in the ascending 
 or descending order of alphabets.</p>
<h3><a name="Filtering_the_Access_Certification_Tasks_That_Must_be_Fulfilled"></a>Filtering 
 the Access Certification Tasks that must be Fulfilled</h3>
<p>You can use the <span style="font-weight: bold;">Filter</span> feature 
 to filter the Access Certification tasks that must be fulfilled. You can 
 filter based on the categories such as - Access Category, Certification 
 Age, and Access Life. </p>
<p>The following table displays the options available under each filter 
 category.</p>
<table class="Table" cellspacing="0px" width="100%">
	<col style="width: 34.933%;" />
	<col style="width: 65.067%;" />
	<tr class="t1st">
		<td>
  <p class="TableText" style="font-weight: bold;">Filter Category</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Available Options</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Access Category</p></td>
		<td>
  <p class="TableText">- Administrator Access<br />
		- Privileged Access<br />
		- Owner Access<br />
		- Anomaly Access<br />
		- Exceptional Access<br />
		- Violation Access<br />
		- Regular Access</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Certification Age</p></td>
		<td>
  <p class="TableText">- Less than 30 days<br />
		- Between 30 and 60 days<br />
		- More than 30 days<br />
		- Never Certified</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Access Life</p></td>
		<td>
  <p class="TableText">- Indefinite Access<br />
		- Temporary Access<br />
		- Expired Access</p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <p>To filter the Access Certification tasks:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the appropriate Filter option.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check boxes corresponding to the appropriate categories, in the Filter 
 option you selected.</p>
 <h3><a name="Viewing_the_List_of__Access_Certification_Tasks_in_an_Access"></a>Viewing 
 the List of Access Certification Tasks in an Access</h3>
 <p>Click the '<span style="font-weight: bold;">+</span>' icon to the right 
 of an Access group to view the details of the Access Certification tasks 
 that must be fulfilled. A table appears displaying the columns such as 
 Task Action - Access Certified, Justification, and Analysis. The Access 
 Certification tasks are displayed as rows.</p>
 <p>Select an Access Certification task and click the more hyperlink to 
 view the analysis of an Access.</p>
 <h3><a name="Viewing_the_Details_of_the_Access_Certification_Task_That_Must_be_Fulfilled"></a>Viewing 
 the Details of the Access Certification Task that must be Fulfilled</h3>
 <p>You can view the details of an Access Certification task that must be 
 fulfilled, from the <span style="font-weight: bold;">View &gt; View Task 
 Detail</span> menu. The resultant <span style="font-weight: bold;">Certification 
 Task</span> page displays the details of task, when the Access was last 
 certified, Access Analysis, Governance History, and Escalation History. 
 &#160;&#160;</p>
 <p>For more information, refer to <a href="Viewing_the_Task_Details.htm">Viewing 
 the Task Details of an Certification Task</a>.</p>
 <h3><a name="Viewing_the_Access_Analysis_of_the_Access_Certification_Task_That_Must_be_Fulfilled"></a>Viewing 
 the Access Analysis of the Access Certification Task That Must be Fulfilled</h3>
 <p>You can view the analysis of an Access Certification task that must 
 be fulfilled, from the <span style="font-weight: bold;">View &gt; View 
 Access Analysis</span> menu. The resultant <span style="font-weight: bold;">Analysis</span> 
 subwindow displays the analysis of the Access.</p>
 <p>&#160;For more information, refer to <a href="Viewing_the_Analysis_of_Access.htm">Viewing 
 the Analysis of Access Certification Task</a>.</p>
 <h3><a name="Viewing_the_Governance_History_of_the_Access_Certification_Task_That_Must_be_Fulfilled"></a>Viewing 
 the Governance History of the Access Certification Task That Must be Fulfilled</h3>
 <p>You can view the governance history of an Access Certification task 
 that must be fulfilled, from the<span style="font-weight: bold;"> View 
 &gt; View Access Governance History</span> menu. The resultant <span style="font-weight: bold;">Governance 
 History</span> subwindow displays the governance history of the Access.</p>
 <p>&#160;For more information, refer to <a href="Viewing_the_Governance_History_of_an_Access.htm">Viewing 
 the Governance History of an Access Certification Task</a>.</p>
 <h3><a name="Exporting_Access_Certification_Tasks_in_PDF_and_Excel_formats"></a>Exporting 
 Access Certification Tasks in PDF and Excel formats</h3>
 <p>You can export the details of the Access Certification Tasks in PDF 
 and Excel formats. For more information, refer to <a href="Common_Tasks.htm#Exporting_Reports_to_PDF_or_Excel_Format">Exporting 
 Reports to PDF or Excel Format</a>.</p>
 <p>For more information about Access Certification, refer to <a href="Certification_Policies.htm">Certification 
 Policies</a>. </p>
<br style="page-break-before: always;" />

 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="My_Tasks_History.htm" style="color: #008000;">My Task History</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Certifications_Fulfilled.htm" style="color: #008000;">Certifications 
		 Fulfilled</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
