
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Remediation</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="920">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <h1>Remediation</h1>
     <p>The <span style="font-weight: bold;">My Task History - Remediation </span>page 
 displays all the Remediation Tasks which were remediated by you. The Remediation 
 Tasks are classified as hyperlinks, as follows:</p>
     <ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Marked as Exception 
	 Access</span> - Access that is granted in spite of a violation.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Removed and To 
	 be Fulfilled</span> - Access is removed but must be fulfilled in the 
	 Asset.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Removed and Fulfilled</span> 
	 - Access is removed and this is fulfilled in the Asset.</p></li>
</ul>
<p>You can perform the following tasks on the <span style="font-weight: bold;">My 
 Task History - Remediation </span>page:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Viewing_the_List_of_Remediation_Tasks">Viewing 
	 the List of Remediation Tasks</a> </p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Details_of_a_Remediation_Task">Viewing 
	 the Details of a Remediation Task</a> </p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Escalation_History_of_a_Remediation_Task_">Viewing 
	 the Escalation History of a Remediation Task</a> </p></li>
	<li>
 <p class="list"><a href="#Exporting_Remediation_Tasks_in_PDF_and_Excel_Formats">Exporting 
	 Remediation Tasks in PDF and Excel Formats</a></p></li>
</ul>
<p class="list" style="margin-left: 0pt; font-weight: bold; color: #003a6b;"><span><span 
	 style="font-weight: bold; color: #003a6b;">Navigation</span></span></p>
<table class="Navigation" style="border: Solid 1px #000000; margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access <span style="font-weight: bold;">Remediations</span> 
		 feature, select <span style="font-weight: bold;">MENU &gt; MY 
		 Task History &gt; Remediations</span>.</p></td>
	</tr>
 </table>
 <h3 class="list" style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Viewing_the_List_of_Remediation_Tasks"></a>Viewing 
 the List of Remediation Tasks</h3>
 <p>Click the '<span style="font-weight: bold;">+</span>' icon to the right 
 of an Remediation task group to view the details of the a Remediation 
 tasks. A table appears displaying the columns such as User, Task Action 
 - Access To Be Remediated, and Analysis. The Remediation tasks are displayed 
 as rows.</p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Viewing_the_Details_of_a_Remediation_Task"></a>Viewing 
 the Details of a Remediation Task</h3>
 <p>You can view the details of a Remediation task from the <span style="font-weight: bold;">View 
 &gt; Task Detail</span> menu. The resultant <span style="font-weight: bold;">Task 
 Details</span> page displays the details of the Remediation task.<br />
<br />
From Remediation <span style="font-weight: bold;">Task Details</span> page 
 you can view when the SOD control violation was detected, when the certifier 
 acted on the task, Access details, and Access Governance History.</p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Viewing_the_Escalation_History_of_a_Remediation_Task_"></a>Viewing 
 the Escalation History of a Remediation Task </h3>
 <p>You can view the escalation history of an Remediation task, from the 
 <span style="font-weight: bold;">View &gt; View Escalation History</span> 
 menu. The resultant <span style="font-weight: bold;">Escalation History</span> 
 subwindow displays all escalations related to this task.</p>
 <p>&#160;For more information, refer to <a href="Viewing_the_Escalation_History.htm">Viewing 
 the Escalation History of an Access Approval Task</a>.</p>
 <p><br style="page-break-before: always;" />
 </p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Exporting_Remediation_Tasks_in_PDF_and_Excel_Formats"></a>Exporting 
 Remediation Tasks in PDF and Excel Formats</h3>
 <p>You can export the details of the Remediation tasks in PDF and Excel 
 formats. For more information, refer to <a href="Exporting_Reports_to_PDF_or_Excel_Format.htm">Exporting 
 Reports to PDF or Excel Format</a>. For more information about Access 
 Control Definition, refer to <a href="Access_Controls.htm">Access Controls</a>. 
 </p>
 <p>&#160;</p>

</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
