
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Request Access for Team Members</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1568">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <h1>Requesting Access for Team Member</h1>
     <p style="margin-top: 6pt; margin-bottom: 6pt;">A Supervisor can log into 
 Tuebora Portal and request Access for team members from the <span style="font-weight: bold;">New 
 Request </span>page. </p>
     <p style="margin-top: 6pt; margin-bottom: 6pt; margin-left: 0pt; font-weight: bold; 
	 color: #003a6b;">Navigation</p>
     <table class="Navigation" style="margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 106px;">
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">Access</span> 
		 <span style="font-weight: bold;">Request</span> feature, select 
		 any <span style="font-weight: bold;">ONE</span><span style="font-style: italic;"> 
		 </span>of the following:</p>
		<ul style="list-style: disc;">
			<li>
   <p class="list" style="margin-top: 5pt; margin-bottom: 5pt; 
					 font-weight: bold;">Quick Access (<img src="Images/Icon_QuickAccess.gif" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />) 
			 &gt; New Request</p></li>
			<li>
   <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
			 style="font-weight: bold;">MENU &gt; My Requests &gt; Open</span> 
			 or <span style="font-weight: bold;">Rejected</span> or <span 
			 style="font-weight: bold;">Approved and not Fulfilled</span> 
			 or <span style="font-weight: bold;">Approved and Fulfilled 
			 </span>page<span style="font-weight: bold;"> &gt;</span> click 
			 <span style="font-weight: bold;">New Request</span></p></li>
		</ul></td>
	</tr>
</table>
<h2><a name="RequestAccess_1Acc"></a>Requesting Access for Team Members</h2>
<p style="font-weight: bold;">Scenario</p>
<p style="font-weight: bold;">Meg A Rich <span style="font-weight: normal;">is 
 Supervisor to - Andrew Green, Adam Grey and Alice Shuck. Supervisor is 
 requesting membership in </span>Equity<span style="font-weight: normal;"> 
 </span>Researchers<span style="font-weight: normal;"> Group in Corporate 
 Active Directory for the team members.</span></p>
<p style="font-weight: bold;"><span style="font-weight: normal;">In Corporate 
 Active Directory Asset, Andrew Green and Adam Grey have Two accounts. 
 Supervisor is requesting access that must be granted to </span>Andrew<span 
	 style="font-weight: normal;"> through - </span>AGEMP01 <span style="font-weight: normal;">account 
 and</span> Adam <span style="font-weight: normal;">through</span> - adamg 
 <span style="font-weight: normal;">account. Whereas Alice Shuck has only 
 one account and the Access is requested for that account.</span></p>
<p>To request Access for self, perform the following:</p>
<p class="list" style="margin-left: 50px; 
											 margin-top: 6pt; margin-bottom: 6pt; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">New Request </span>at the top right corner 
 of the page. <br />
<br />
<b style="font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" style="mso-bidi-font-weight: normal; 
										 font-weight: normal;">The</span> 
 <span style="font-weight: bold;">New Request</span> <span lang="EN-US" 
															 xml:lang="EN-US" 
															 style="mso-bidi-font-weight: normal; 
															 font-weight: normal;">page 
 opens.</span></b></p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the team members for whom the access must be requested in the <span style="font-weight: bold;">Specify 
 for whom Request is being made</span> section.<br />
Click <span style="font-weight: bold; text-decoration: underline; ">These 
 Users</span> link in the <span style="font-weight: bold;">These users 
 in my Team</span> option. The <span style="font-weight: bold;">Select 
 Users</span> subwindow opens.<br />
<br />
To select users, perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 80px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 search criteria in the <span style="font-weight: bold;">Search by Name, 
 Department, Email Address, Employee ID, Employee Type, Job Title </span>field 
 and click <span style="font-weight: bold;">Search</span> icon.<br />
The users matching the criteria are listed.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 80px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 check box corresponding to the required team members and click <span style="font-weight: bold;">Add</span> 
 <span style="font-weight: bold;">Selected</span>.<br />
<br />
<img src="Images/User_Picker_Search_Screen.png" alt="" style=" border:Solid 1px #808080; width:100%; max-width:337px;" border="1" /></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>.<br />
The selected users are added and displayed for<span style="font-weight: bold;"> 
 </span><span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">These 
 Users in my Team </span><span lang="EN-US" xml:lang="EN-US">option.</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 what you want to request, in the <span style="font-weight: bold;">Specify 
 what you want to Request</span> section.<br />
Currently, you can request only <span style="font-weight: bold;">Access 
 in one or more Assets</span>. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">S</span>elect the type of Access to 
 be requested, in the <span style="font-weight: bold;">Specify Access you 
 want to Request</span> section. <br />
<b style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: normal;">Click</span></b> 
 <b style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold; 
												 text-decoration: underline; ">These 
 Access in these Assets</span><span lang="EN-US" xml:lang="EN-US" style="font-weight: normal;">.</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: normal;">The</span></b> 
 <span lang="EN-US" xml:lang="EN-US"><b style="mso-bidi-font-weight: normal;">Specify 
 Access in Assets</b> subwindow opens.</span><br />
<br />
This subwindow lists all access in all assets that are integrated with 
 Tuebora Portal and access details are imported for those Assets. <span 
	 style="text-indent: -20px;"><br />
<br />
To select the required Access perform the following:</span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required Access and click <span style="font-weight: bold;">Add 
 Selected Access</span>. <br />
<br />
Added access are displayed in Selected Access section.<br />
<br />
<span style="color: #ff0000;"><img src="Images/AccessRequest21.png" alt="" style=" border:none; width:100%; max-width:877px;" border="0" /></span></p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 To remove an added Access, click <img src="Images/Icon_Remove.png" alt="" style=" border:none; width:100%; max-width:17px;" border="0" /> displayed 
		 next to the added Access. If you want to remove all the added 
		 Access at once, click <img src="Images/Icon_Remove.png" alt="" style=" border:none; width:100%; max-width:17px;" border="0" />displayed 
		 next to <span style="font-weight: bold;">Access</span> column.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Save</span> 
 <span style="font-weight: bold;">c</span><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold;">hanges</span> 
 <b style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: normal;">to 
 save the configuration</span></b><span lang="EN-US" xml:lang="EN-US">. 
 The subwindow closes.</span><br />
The Access is added and displayed for <span lang="EN-US" xml:lang="EN-US" 
											 style="font-weight: bold;">These 
 Access in these Assets</span> <span lang="EN-US" xml:lang="EN-US">option.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the justification for the Access 
 requested in the</span> <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Specify 
 Justification for this Request</span> <span lang="EN-US" xml:lang="EN-US">section. 
 The options available are as follows:</span></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Required to perform Job Function</span> 
 - Select this option, if the Access is required for performing job functions.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the duration for which the Access in required in the <span style="font-weight: bold;">Specify 
 Duration for which this Access is Requested</span> field.<br />
You can request Access for <span style="font-weight: bold;">Indefinite</span> 
 or <span style="font-weight: bold;">Temporary</span> period.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Indefinite period</span> - If you want 
 the Access for a very long period or always, perform the following:</p>
 <p style="text-indent: -20px; 
											 margin-left: 130px; margin-top: 5pt; 
											 margin-bottom: 5pt;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;"><b 
	 style="mso-bidi-font-weight: normal; font-weight: bold;">Now</b>/</span><b 
	 style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold;">Date</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: normal;">in</span> 
 </b><span lang="EN-US" xml:lang="EN-US">the <b style="mso-bidi-font-weight: normal;">From</b> 
 field.</span><br />
<span lang="EN-US" xml:lang="EN-US">If you select <b style="mso-bidi-font-weight: normal;">Date</b></span><b 
	 style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: normal;">, 
 a</span></b> <span lang="EN-US" xml:lang="EN-US">field appears. Click 
 the field to view the calendar.</span> <span lang="EN-US" xml:lang="EN-US" 
												 style="mso-bidi-font-weight: normal;">S</span><span 
	 lang="EN-US" xml:lang="EN-US"><b style="mso-bidi-font-weight: normal; 
										 font-weight: normal;">elect</b></span> 
 <span lang="EN-US" xml:lang="EN-US">the d<b style="mso-bidi-font-weight: normal; 
											 font-weight: normal;">ate</b> 
 and time</span> <span lang="EN-US" xml:lang="EN-US">from when the Access 
 is required.</span></p>
 <p style="text-indent: -20px; 
											 margin-left: 130px; margin-top: 5pt; 
											 margin-bottom: 5pt;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US" style="mso-list: l0 level1 lfo1;">Select 
 <b style="mso-bidi-font-weight: normal;">Indefinite</b></span> <b style="mso-bidi-font-weight: normal;"><span 
	 lang="EN-US" xml:lang="EN-US" style="mso-list: l0 level1 lfo1; font-weight: normal;">in 
 the</span> <span lang="EN-US" xml:lang="EN-US" style="mso-list: l0 level1 lfo1; 
					 font-weight: bold;">until</span> <span lang="EN-US" 
															 xml:lang="EN-US" 
															 style="mso-list: l0 level1 lfo1; 
															 font-weight: normal;">field.</span> 
 </b></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Temporary period</span> - If you want the 
 Access for few days, perform the following:</p>
 <p style="text-indent: -20px; 
											 margin-left: 130px; margin-top: 5pt; 
											 margin-bottom: 5pt;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;"><b 
	 style="mso-bidi-font-weight: normal; font-weight: bold;">Now</b>/</span><b 
	 style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold;">Date</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: normal;">in</span> 
 </b><span lang="EN-US" xml:lang="EN-US">the <b style="mso-bidi-font-weight: normal;">From</b> 
 field.</span><br />
<span lang="EN-US" xml:lang="EN-US">If you select <b style="mso-bidi-font-weight: normal;">Date</b></span><b 
	 style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: normal;">, 
 a</span></b> <span lang="EN-US" xml:lang="EN-US">field appears. Click 
 the field to view the calendar.</span> <span lang="EN-US" xml:lang="EN-US" 
												 style="mso-bidi-font-weight: normal;">S</span><span 
	 lang="EN-US" xml:lang="EN-US"><b style="mso-bidi-font-weight: normal; 
										 font-weight: normal;">elect</b></span> 
 <span lang="EN-US" xml:lang="EN-US">the d<b style="mso-bidi-font-weight: normal; 
											 font-weight: normal;">ate</b> 
 and time from when the Access is required.</span></p>
 <p style="text-indent: -20px; 
											 margin-left: 130px; margin-top: 5pt; 
											 margin-bottom: 5pt;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Date</span> 
 <span lang="EN-US" xml:lang="EN-US">in the</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">until</span> 
 <span lang="EN-US" xml:lang="EN-US">filed.</span><br />
<span lang="EN-US" xml:lang="EN-US">If you select <b style="mso-bidi-font-weight: normal;">Date</b></span><b 
	 style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: normal;">, 
 a</span></b> <span lang="EN-US" xml:lang="EN-US">field appears. Click 
 the field to view the calendar.</span> <span lang="EN-US" xml:lang="EN-US" 
												 style="mso-bidi-font-weight: normal;">S</span><span 
	 lang="EN-US" xml:lang="EN-US"><b style="mso-bidi-font-weight: normal; 
										 font-weight: normal;">elect</b></span> 
 <span lang="EN-US" xml:lang="EN-US">the d<b style="mso-bidi-font-weight: normal; 
											 font-weight: normal;">ate</b> 
 and time till when the Access is required.</span></p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="mso-add-space: auto;">In</span> <span style="mso-add-space: auto; 
															 font-weight: bold;">From</span> 
		 <span style="mso-add-space: auto; font-weight: bold;">Date</span> 
		 <span style="mso-add-space: auto;">field, if you select the option:</span></p>
		<ul style="list-style: disc;">
			<li style="font-size: 9pt;">
   <p class="list" style="margin-top: 2pt; 
											 margin-bottom: 2pt; font-size: 9pt;"><span 
			 style="font-weight: bold;">Now</span> - System grants Access 
			 to user immediately after the Access is approved.</p></li>
			<li style="font-size: 9pt;">
   <p class="list" style="margin-top: 2pt; 
											 margin-bottom: 2pt; font-size: 9pt;"><span 
			 style="font-weight: bold;">Date</span> - System grants Access 
			 to the user on the specified date.</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Provide 
 additional information, if required, in <span style="font-weight: bold;">Specify 
 Additional Info for this Request</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>C<span 
	 lang="EN-US" xml:lang="EN-US">lick </span><span lang="EN-US" xml:lang="EN-US" 
													 style="mso-bidi-font-weight: normal; 
													 font-weight: bold;">Submit</span><span 
	 lang="EN-US" xml:lang="EN-US" style="mso-bidi-font-weight: normal;"> 
 </span><span lang="EN-US" xml:lang="EN-US" style="mso-bidi-font-weight: normal; 
				 font-weight: bold;">Request</span><span lang="EN-US" xml:lang="EN-US">.</span> 
 <br />
<br />
If Supervisor is requesting Access for team members and if the team members 
 have more than one account in the Asset in which Access being requested, 
 then system prompts the user to select the Account for which the request 
 must be made. <br />
<br />
In <span style="font-weight: bold;">Select Account </span>subwindow, the 
 data is by default grouped based on <span style="font-weight: bold;">Asset</span>. 
 You can group the data based on the <span style="font-weight: bold;">Asset, 
 User, </span>or<span style="font-weight: bold;"> Access</span>. <span>To 
 group the data, select the radio button corresponding to the required 
 option in the </span><span style="font-weight: bold;">Group By</span><span> 
 field. </span></p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 In <span style="font-weight: bold;">Select Account </span>window,</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">If the 
			 number of Access requested in different Assets is <span style="font-weight: bold;">less 
			 than 5</span>, all Access will be grouped based on Asset and 
			 you will see the flat list of Access.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="margin-bottom: 7pt;">If 
			 the number of Access requested in different Assets is <span 
			 style="font-weight: bold;">more than 5</span>, all Access 
			 will be grouped based on Asset and will be displayed in <span 
			 style="font-weight: bold;">accordion view</span> (show/hide 
			 operation of the band).<br />
			<br />
			<img src="Images/AccessRequest_AccordianView.png" alt="" style=" border:none; width:100%; max-width:475px;" border="0" /></p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style="margin-left: 43px; margin-top: 7pt;">To select Account 
 through which the Access must be granted, perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 80px; margin-top: 7pt;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the appropriate Account in the <span style="font-weight: bold;">Account</span> 
 column for all Access selected for requesting.</p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You must select the appropriate Accounts for each Access.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">If an access is already granted to an Account, 
		 system shows the<span style="font-weight: bold;"> green tick mark</span> 
		 corresponding to the account to which Access is granted and the 
		 radio button to select the account will be not displayed for that 
		 account.</p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <p class="list" style="margin-left: 43px;"><br />
Following figure shown is an example of Select Account subwindow.<br />
<br />
<img src="Images/AccessRequest22.png" alt="" style=" border:none; width:100%; max-width:740px;" border="0" /></p>
 <p class="list" style="margin-left: 43px;">In Select Account window, system 
 shows the Accounts for only those users who have more than one account 
 in the Governed Asset. In this scenario, only Adam Grey and Andrew Green 
 have two accounts in Corporate Active Directory. Where as Alice has one 
 account, so automatically system considers that account for requesting 
 Access for the user.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>click 
 <span style="font-weight: bold;">Submit</span> <span style="font-weight: bold;">Request</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>A pop-up 
 appears stating that the system is evaluating the request.<br />
<br />
After evaluating the request, system creates the Access Request. To view 
 the Access requested created in the system, see <a href="#Viewing_Status_of_Requested_Access">Viewing 
 Status of Requested Access</a>.<br />
<br />
After creating the Access Request, system assigns the Access Approval tasks 
 to authorized users specified in the Access Request workflow configured 
 in the system. For more information on access approval process, see <a 
	 href="Approval.htm">Access Approval</a>. </p>
 <p class="list"><br style="page-break-before: always;" />
</p>

</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
