
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - User Enrollment</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "2";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1712">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="User_Roles.htm" style="color: #008000;">User Roles</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>:<span 
		 style="color: #008000;"> <a 
		 href="Provide_responses_to_all_MFA_options.htm" style="color: #008000;">Provide 
		 responses to all MFA options</a></span></p></td>
	</tr>
 </table>

 <p>For a newly provisioned user, to start using Tuebora Portal, user must 
 enroll for Access Management. User Enrollment is the process of user logging 
 into the portal and fulfilling the defined enrollment criteria.</p>
 <p>In some deployments, When user log into Tuebora Portal for the first 
 time, system prompts to change the default password. This enhances the 
 secured access to the portal. Also, based on MFA defined by the Administrator, 
 system prompts users to set the required details during first time login 
 to the portal. For example, if Challenge Questions and Google Key is configured 
 in the portal, when user logs in to Tuebora Portal for the first time, 
 system displays the Challenge Response Questions to set answers and register 
 the Google Key with the system. </p>
 <p>Your Tuebora Portal Administrator can configure MFA options for the 
 following activities:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Forgot 
	 Password</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Unlock 
	 Account</p></li>
</ul>
<h3 style="margin-top: 5pt; margin-bottom: 5pt;">Tuebora Portal Login Credentials</h3>
<p>Tuebora Portal sends an email with subject - Your joining access details 
 which contains the temporary credentials to login to Tuebora Portal. To 
 log in, you must use the credentials received in the email.<br />
<br />
Following figure shows an example portal account created email sent to 
 a user.<br />
<br />
<img src="Images/User_Enrollment1.png" alt="" style=" border:none; width:100%; max-width:626px;" border="0" /></p>
<br style="page-break-before: always;" />

<h4>Login Credentials When Portal Authentication is Delegated</h4>
<p>For ease of using the same login credentials across applications, organizations 
 use common Microsoft Active Directory or LDAP credentials to log in to 
 all applications. If an external application is used for authenticating 
 users' portal login, then users must use the login credentials of the 
 specified application to log in to the portal. This method of authentication 
 is known as <span style="font-weight: bold;">Delegated</span> <span style="font-weight: bold;">Authentication</span>.</p>
<p>In case of delegated authentication, you must use the login credentials 
 of the authentication application to log in to the portal. <br />
<br />
Following figure shows an example portal account created email sent to 
 users, when the users' portal login is authenticated by an external authentication 
 application. <br />
<br />
<img src="Images/User_Enrollment2.png" alt="" style=" border:none; width:100%; max-width:794px;" border="0" /></p>
<h3>Google Authenticator Registration</h3>
<p>Tuebora Portal supports Google Authenticator as an option for MFA for 
 access management activities in the portal.</p>
<h4>Prerequisites</h4>
<p>Prerequisites to enroll in Google Authenticator Application are as follows:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Install 
	 the Google Authenticator Application on your smartphone, if it is 
	 not installed.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Install 
	 the bar code scanner application on your smartphone, if you want to 
	 scan the bar code displayed on your computer screen.</p></li>
</ul>
<p>You can register in Google Authenticator using the displayed <span style="font-weight: bold;">Key</span> 
 or <span style="font-weight: bold;">QR</span> <span style="font-weight: bold;">Code</span>.</p>
<br style="page-break-before: always;" />

<h4><a name="Registering_in_Google_Authenticator_Application"></a>Registering 
 in Google Authenticator Application</h4>
<p>To enroll in the portal by registering the Google Key, perform the following: 
 </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 URL to access Tuebora Portal, in the address bar of a supported web browser.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Type the user name in the </span><span 
	 style="text-indent: -20px; font-weight: bold;">User</span><span style="text-indent: -20px;"> 
 </span><span style="text-indent: -20px; font-weight: bold;">Name</span><span 
	 style="text-indent: -20px;"> field.</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 password in the <span style="font-weight: bold;">Password</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Sign in</span>. The <span style="font-weight: bold;">Welcome 
 to the Tuebora Portal</span> page appears.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Scroll 
 to the Google Authenticator section.<br />
<br />
<img src="Images/User_Enrollment3.png" alt="" style=" border:none; width:100%; max-width:685px;" border="0" /></p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To register, 
 perform either of the following: </p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Key</span>: To 
	 register using Key, select <span style="font-weight: bold;">Setup 
	 Account &gt; Enter Key </span>provided<span style="font-weight: bold;"> 
	 </span>in the Google Authenticator application on the smartphone. 
	 The <span style="font-weight: bold;">Manual account entry</span> screen 
	 opens. Specify the following details:</p></li>
</ul>
<p class="list" style="text-indent: -20px; 
											 margin-left: 96px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type your 
 name in the <span style="font-weight: bold;">Specify account name</span> 
 field.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 96px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 sixteen digit key displayed on the Tuebora Portal, in the <span style="font-weight: bold;">Enter 
 your key </span>field.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 96px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click/tap 
 <span style="font-weight: bold;">Add </span>to add the account.<span style="font-weight: bold;"> 
 </span></p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">QR Code</span>: 
	 To register using QR Code, select <span style="font-weight: bold;">Setup 
	 Account &gt; Scan a barcode </span>in the Google Authenticator application 
	 on the smartphone. Barcode Scanner opens. S<strong style="color: #ff0000;"><span 
	 style="color: #000000; font-weight: normal;">can the QR code displayed 
	 on your computer screen.</span><br />
	<br />
	<br style="page-break-before: always;" />
	<span style="color: #000000; font-weight: normal;">Following figure 
	 shows an example QR code scanned from Tuebora Portal enrollment page.</span> 
	 </strong><br />
	<br />
	<img src="Images/Barcode_ScannedinSmartphone.png" alt="" style=" border:none; width:100%; max-width:1082px;" border="0" /></p></li>
</ul>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>After 
 registering, type the QR code displayed in your Google Authenticator applications, 
 in the <span style="font-weight: bold;">Enter verification code</span> 
 field. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Complete 
 the enrollment activity.</p>
<h2><a name="Enroling_in_the_Portal" id="Enroling_in_the_Portal"></a>Enrolling 
 in the Portal</h2>
<p>To start accessing the product features, you must enroll in Tuebora 
 Portal. Only after enrollment, users can perform the required access management 
 activities in the integrated applications.</p>
<p>Supported enrollment scenarios are as follows:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="Provide_responses_to_all_MFA_options.htm">Scenario 1 - Users 
	 must provide responses to all MFA options presented</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="Skip_some_MFA_options_presented.htm">Scenario 2 - Users can 
	 skip some MFA options presented</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="Enroll_after_Changing_Temporary_Password.htm">Scenario 3: Users 
	 can Enroll after Changing Password</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="Provide_responses_to_additional_MFA_options_presented.htm">Scenario 
	 4: Users must provide responses to additional MFA options presented</a> 
	 </p></li>
</ul>
<br style="page-break-before: always;" />

<table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="User_Roles.htm" style="color: #008000;">User Roles</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>:<span 
		 style="color: #008000;"> <a 
		 href="Provide_responses_to_all_MFA_options.htm" style="color: #008000;">Provide 
		 responses to all MFA options</a></span></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
