
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Asset Onboarding - Create Account Linking Rules</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1.1.0_8";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../Asset_Onboarding.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../Asset_Onboarding.htm" class="homelink"><span>Asset Onboarding</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="368">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../Asset_Onboarding.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Register Account Linking Rules</h1>
     <p>For linking accounts in an Asset with user identities, while creating 
 an Asset in Tuebora, system mandates you to define the attribute that 
 is unique for Accounts and can be mapped to the user identities.</p>
     <h3 class="list" style="font-size: 12pt;"><span style="font-size: 12pt;">Prerequisites</span></h3>
     <ul style="list-style: disc;">
	<li>
 <p class="list">You must have generated <a href="Generate_Tuebora_Authentication_API_Credentials.htm">Tuebora 
	 Authentication API credentials</a>.</p></li>
	<li>
 <p class="list">You must have a <span style="font-weight: bold;">RESTClient</span> 
	 installed on the system where you are registering the SCIM Server.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Tuebora Main Server</span> 
	 must be running.</p></li>
</ul>
<p>To create a new Account Linking Rule, perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers</span> 
 tab.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the <span style="font-weight: bold;"><a 
	 href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
 ID</a></span> generated for Tuebora Authentication API Credentials.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the <span style="font-weight: bold;"><a 
	 href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
 Secret</a></span> generated for Tuebora Authentication API Credentials.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Post</span> in the <span style="font-weight: bold;">Method</span> 
 field.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to create a linking rule.<br />
<br />
<span style="font-style: italic;">http://&lt;YourTenantURL&gt;/api/v1/accountlinkingrules</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://xanadu.tuebora.com/api/v1/accountlinkingrules<br />
<br />
You can also specify the <span style="font-weight: bold;">IP Address of 
 the system on which the Tuebora Application is running</span>.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section:<br />
</p>
<table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:102.956%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p style="margin-top: 5pt; margin-bottom: 5pt; 
							 margin-left: 0px;">{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;name&quot;: 
		 &quot;Rule for Corporate Active Directory&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;type&quot;: 
		 &quot;asset&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;assetId&quot;: 
		 &quot;6&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;userFilter&quot;: 
		 {</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&quot;joinOperator&quot;: 
		 &quot;and&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&quot;filters&quot;: 
		 [{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;values&quot;: 
		 &quot;&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;}, 
		 {</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;values&quot;: 
		 &quot;&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;}]</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;},</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;accountFilter&quot;: 
		 {</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&quot;joinOperator&quot;: 
		 &quot;and&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&quot;filters&quot;: 
		 [{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;values&quot;: 
		 &quot;&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;}, 
		 {</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;values&quot;: 
		 &quot;&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;}]</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;},</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;linkClause&quot;: 
		 &quot;User.Email Address=Account.Email Address&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
	</tr>
 </table>
 <p>For more information on what and how to define values for different 
 keys available in the above Account Linking Rule JSON structure, see <a 
	 href="#Authentication_Policies_JSON_Structure_Reference">Account Linking 
 Rule JSON Structure Reference</a> topic.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>.<br />
The RestClient shows <span style="font-weight: bold;">Status Code 200 OK</span> 
 if the request is processed successfully.<br />
<br />
You will see the response of the request to create account linking rule. 
 The Response section displays the rule created in Tuebora and the <span 
	 style="font-weight: bold;">rule ID</span>. This ID is required to 
 update a rule, get specific rule or delete a rule which is not used.<br />
<br />
For more information click the below links:</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a href="../Appendix.htm#Account_Linking_Rule_JSON_Structure">Details 
 on Account Linking Rule JSON Structure</a></p>
 <p class="list" style="margin-left: 80px; 
											 text-indent: -20px; font-weight: normal;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><b 
	 style="font-weight: normal;"><span lang="X-NONE" xml:lang="X-NONE" 
										 style="font-weight: normal;"><a 
	 href="../Appendix.htm#User_Property">Searchable User Property and 
 Account Property Display Names</a> </span></b></p>
 <p class="list" style="margin-left: 80px; 
											 text-indent: -20px; font-weight: normal;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><b 
	 style="font-weight: normal;"><span lang="X-NONE" xml:lang="X-NONE" 
										 style="font-weight: normal;"><a 
	 href="../Appendix.htm#Sample_JSON">Sample Linking Rule JSON</a></span></b></p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
