
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Asset Onboarding - Register Connector Operations</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1.1.0_7";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../Asset_Onboarding.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../Asset_Onboarding.htm" class="homelink"><span>Asset Onboarding</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="536">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../Asset_Onboarding.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <h1>Register SCIM Operations</h1>
     <p>After associating the SCIM Connectors with the Assets added in Tuebora 
 portal, you have to register the following SCIM Operations that you want 
 the connector to perform:</p>
     <ul style="list-style: disc;">
	<li>
 <p class="list"><a class="dropspot" href="javascript:TextPopup(this)" id="a1">Data Import</a></p>
	<div class="droptext" id="POPUP488648880" style="display: none;">
		<p>Data Import operation is used for collecting data from the target 
		 application into Tuebora.</p>
		<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
			<col style="width: 4.082%;" />
			<col style="width: 95.918%;" />
			<tr>
				<td style="vertical-align: top;"><img src="../Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
				<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
    <p 
					 class="TableText"><span style="font-weight: bold;">Note</span>: 
				 For Data Import operation to work, the connector used 
				 for integrating the Asset must have Data collection details 
				 defined in it.</p></td>
			</tr>
		</table>
		<p>To register data import SCIM operation, firstly you must identify 
		 the ID of the Asset for which this operation must be registered. 
		 </p>
		<p>This topic explains the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a 
		 href="#Obtaining_Asset_ID">Obtain ID of the Asset</a></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a 
		 href="#Registering_Data_Import_Operation">Register Data Import 
		 Operation</a> </p>
		<h4><a name="Obtaining_Asset_ID"></a>Obtaining Asset ID</h4>
		<p>The Asset for which the SCIM Operation has to be registered, 
		 you have identified the ID associated with it in Tuebora Database.</p>
		<p>You can Connect to Tuebora Database using Read-only user created 
		 during product installation and identify the Asset ID in <span 
		 style="font-weight: bold;">t_asset_repository</span> table.</p>
		<h4><a name="Registering_Data_Import_Operation"></a>Registering 
		 Data Import Operation</h4>
		<p>To register data import SCIM operation, perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open 
		 the <span style="font-weight: bold;">RESTClient</span> and select 
		 <span style="font-weight: bold;">Headers </span>tab. </p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
		 the following Headers Key and Value:</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
		 the Authorization</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Type</span>: Basic Auth</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">User Name</span>: Specify the Tuebora 
		 Authentication API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
		 ID</a> </span>generated for your deployment.</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Password</span>: Specify the Tuebora 
		 Authentication API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
		 Secret</a> </span>generated for your deployment.</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">PUT </span>in the <span style="font-weight: bold;">Method</span> 
		 field.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL <span style="font-weight: bold;">http://&lt;YourTenantURL&gt;/api/v1/assets/&lt;Asset 
		 ID&gt;/addoperationmapping</span><br />
		<br />
		Example: <span style="font-weight: bold;">http://xanadu.tuebora.com/api/v1/assets/9/addoperationmapping</span></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
		 the following request body in the <span style="font-weight: bold;">Body</span> 
		 section:</p>
		<table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:67.241%;" cellspacing="0px">
			<col style="width: 100%;" />
			<tr class="t1Row">
				<td class="t1st">
    <p style="margin-top: 5pt; margin-bottom: 5pt; 
									 margin-left: 0px;">{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 24px;">&quot;assetOperation&quot;: 
				 &quot;datacollection&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 24px;">&quot;connectorName&quot;: 
				 &quot;&lt;Connector Name&gt;&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 24px;">&quot;operationType&quot;: 
				 &quot;datacollection&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 24px;">&quot;connectorURL&quot;: 
				 &quot;/&lt;ConnectorName&gt;/collect&quot;</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
			</tr>
		</table>
		<p class="list">&#160;</p>
		<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
			<col style="width: 4.082%;" />
			<col style="width: 95.918%;" />
			<tr>
				<td style="vertical-align: top;"><img src="../Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
				<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
    <p 
					 class="TableText"><span style="font-weight: bold;">Note</span>: 
				 Update the value for the following details JSON specified 
				 to register the SCIM operation:</p>
				<ul style="list-style: disc;">
					<li style="margin-left: -20px;">
     <p class="TableText" 
														 style="font-weight: bold;">&quot;assetOperation&quot;<span 
					 style="font-weight: normal;">: Retain the value &quot;datacollection&quot;.</span></p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;connectorName&quot;</span>: 
					 Specify the connector name. <br />
					<br />
					The name specified for this property must match the 
					 connector name (name specified here is not case sensitive). 
					 If the connector name contains space, then you must 
					 specify the name that matches the connector name.</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;operationType&quot;</span>: 
					 Retain the value &quot;datacollection&quot;.</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;connectorURL&quot;</span>: 
					 Replace &lt;ConnectorName&gt; with the name of the 
					 connector.<br />
					<br />
					If the connector name contains space, while specifying 
					 the connector name for this property you must truncate 
					 the space in the connector name. Name specified for 
					 this element is not case sensitive. &#160;</p></li>
				</ul></td>
			</tr>
		</table>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send</span>. <br />
		<span style="text-indent: -20px;">If you get the Status Code</span><span 
		 style="text-indent: -20px; font-weight: bold;"> 200 OK</span><span 
		 style="text-indent: -20px;">, it means the request is successfully 
		 processed.</span></p>
 </div></li>
	<li>
 <p class="list"><a class="dropspot" href="javascript:TextPopup(this)" id="a2">Reset Password</a></p>
	<div class="droptext" id="POPUP488822661" style="display: none;">
		<p>If you want to use the Password Reset functionality available 
		 in Tuebora for an Asset, you must register Reset Password operation 
		 for that specific Asset. Reset Password operation is used for 
		 synchronizing the passwords that are reset from Tuebora Portal 
		 into user accounts in the target applications.</p>
		<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
			<col style="width: 4.082%;" />
			<col style="width: 95.918%;" />
			<tr>
				<td style="vertical-align: top;"><img src="../Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
				<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
    <p 
					 class="TableText"><span style="font-weight: bold;">Note</span>: 
				 For Reset operation to work, the connector used for integrating 
				 the Asset for which Reset operation is registered must 
				 contain Reset Password operation defined in it.</p></td>
			</tr>
		</table>
		<p>To register reset password SCIM operation, firstly you must 
		 identify the ID of the Asset for which this operation must be 
		 registered. </p>
		<p>This topic explains the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a 
		 href="#Obtaining_Asset_ID">Obtain ID of the Asset</a></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a 
		 href="#Registering_Reset_Password_Operation">Register Reset Password 
		 Operation</a> </p>
		<h4 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Registering_Reset_Password_Operation"></a>Registering 
		 Reset Password Operation</h4>
		<p>To register Reset Password SCIM operation for an Asset, perform 
		 the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open 
		 the <span style="font-weight: bold;">RESTClient</span> and select 
		 <span style="font-weight: bold;">Headers </span>tab. </p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
		 the following Headers Key and Value:</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
		 the Authorization</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Type</span>: Basic Auth</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">User Name</span>: Specify the Tuebora 
		 Authentication API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
		 ID</a></span> generated for your deployment.</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Password</span>: Specify the Tuebora 
		 Authentication API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
		 Secret</a></span> generated for your deployment.</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">PUT </span>in the <span style="font-weight: bold;">Method</span> 
		 field.</p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL <span style="font-weight: bold;">http://&lt;YourTenantURL&gt;/api/v1/assets/&lt;Asset 
		 ID&gt;/addoperationmapping</span><br />
		Example: <span style="font-weight: bold;">http://xanadu.tuebora.com/api/v1/assets/9/addoperationmapping</span></p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
		 the following request body in the <span style="font-weight: bold;">Body</span> 
		 section:</p>
		<table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:67.241%;" cellspacing="0px">
			<col style="width: 100%;" />
			<tr class="t1Row">
				<td class="t1st">
    <p style="margin-top: 5pt; margin-bottom: 5pt; 
									 margin-left: 0px;">{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;assetOperation&quot;:&quot;resetpwd&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;connectorName&quot;:&quot;&lt;Connector 
				 Name&gt;&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;operationType&quot;:&quot;resetpwd&quot; 
				 ,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;connectorURL&quot;:&quot;/&lt;ConnectorName&gt;/Users/&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;resource&quot;:&quot;Account&quot;</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
			</tr>
		</table>
		<p class="list">&#160;</p>
		<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
			<col style="width: 4.082%;" />
			<col style="width: 95.918%;" />
			<tr>
				<td style="vertical-align: top;"><img src="../Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
				<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
    <p 
					 class="TableText"><span style="font-weight: bold;">Note</span>: 
				 Update the value for the following details JSON specified 
				 to register the SCIM operation:</p>
				<ul style="list-style: disc;">
					<li style="margin-left: -20px;">
     <p class="TableText" 
														 style="font-weight: bold;">&quot;assetOperation&quot;<span 
					 style="font-weight: normal;">: Retain the value &quot;resetpwd&quot;.</span></p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;connectorName&quot;</span>: 
					 Specify the connector name. <br />
					<br />
					The name specified for this property must match the 
					 connector name (name specified here is not case sensitive). 
					 If the connector name contains space, then you must 
					 specify the name that matches the connector name.</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;operationType&quot;</span>: 
					 Retain the value &quot;resetpwd&quot;.</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;connectorURL&quot;</span>: 
					 Replace &lt;ConnectorName&gt; with the name of the 
					 connector.<br />
					<br />
					If the connector name contains space, while specifying 
					 the connector name for this property you must truncate 
					 the space in the connector name. Name specified for 
					 this element is not case sensitive. </p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;resource&quot;</span>: 
					 Retain the value &quot;Account&quot;.</p></li>
				</ul></td>
			</tr>
		</table>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send</span>. <br />
		The RestClient shows the processing message. <br />
		<br />
		After the request is processed, you see the response <span style="font-weight: bold;">Status 
		 Code 200 OK</span>.</p>
 </div></li>
	<li>
 <p class="list"><a class="dropspot" href="javascript:TextPopup(this)" id="a3">Unlock Account</a></p>
	<div class="droptext" id="POPUP489106525" style="display: none;">
		<p>In any deployment, if you have delegated user authentication 
		 on Tuebora portal to an external application and that external 
		 application has a password policy to lock the account when any 
		 user provides wrong login credentials for certain number of attempts. 
		 In this scenario, if you want the user to use the Unlock Account 
		 functionality available in Tuebora, you must register the unlock 
		 account operation for the Asset to which Tuebora portal authentication 
		 is delegated.</p>
		<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
			<col style="width: 4.082%;" />
			<col style="width: 95.918%;" />
			<tr>
				<td style="vertical-align: top;"><img src="../Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
				<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
    <p 
					 class="TableText"><span style="font-weight: bold;">Note</span>: 
				 For Unlock Account operation to work, the connector used 
				 for integrating an Asset must have Unlock Account operation 
				 defined in it.</p></td>
			</tr>
		</table>
		<p>To register unlock account SCIM operation, firstly you must 
		 identify the ID of the Asset for which this operation must be 
		 registered. </p>
		<p>This topic explains the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a 
		 href="#Obtaining_Asset_ID">Obtain ID of the Asset</a></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a 
		 href="#Registering_Unlock_Account_Operation">Register Unlock Account 
		 Operation</a> </p>
		<h4><a name="Registering_Unlock_Account_Operation"></a>Registering 
		 Unlock Account Operation</h4>
		<p>To register Test Connection scim operation for an Asset:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open 
		 the <span style="font-weight: bold;">RESTClient</span> and select 
		 <span style="font-weight: bold;">Headers </span>tab. </p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
		 the following Headers Key and Value:</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
		 the Authorization</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Type</span>: Basic Auth</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">User Name</span>: Specify the Tuebora 
		 Authentication API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
		 ID</a></span> generated for your deployment.</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Password</span>: Specify the Tuebora 
		 Authentication API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
		 Secret</a></span> generated for your deployment.</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
		 style="text-indent: -20px;">Select </span><span style="text-indent: -20px; 
														 font-weight: bold;">PUT 
		 </span><span style="text-indent: -20px;">in the </span><span style="text-indent: -20px; 
		 font-weight: bold;">Method</span><span style="text-indent: -20px;"> 
		 field.</span></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL <span style="font-weight: bold;">http://&lt;YourTenantURL&gt;/api/v1/assets/&lt;Asset 
		 ID&gt;/addoperationmapping</span><br />
		<br />
		Example: <span style="font-weight: bold;">http://xanadu.tuebora.com/api/v1/assets/9/addoperationmapping</span></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
		 the following request body in the <span style="font-weight: bold;">Body</span> 
		 section:</p>
		<table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:67.241%;" cellspacing="0px">
			<col style="width: 100%;" />
			<tr class="t1Row">
				<td class="t1st">
    <p style="margin-top: 5pt; margin-bottom: 5pt; 
									 margin-left: 0px;">{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;assetOperation&quot;:&quot;UnlockAccount&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;connectorName&quot;:&quot;&lt;Connector 
				 Name&gt;&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;operationType&quot;:&quot;unlockaccount&quot; 
				 ,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;connectorURL&quot;:&quot;/&lt;ConnectorName&gt;/users/&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;resource&quot;:&quot;Account&quot;</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
			</tr>
		</table>
		<p class="list">&#160;</p>
		<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
			<col style="width: 4.082%;" />
			<col style="width: 95.918%;" />
			<tr>
				<td style="vertical-align: top;"><img src="../Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
				<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
    <p 
					 class="TableText"><span style="font-weight: bold;">Note</span>: 
				 Update the value for the following details JSON specified 
				 to register the SCIM operation:</p>
				<ul style="list-style: disc;">
					<li style="margin-left: -20px;">
     <p class="TableText" 
														 style="font-weight: bold;">&quot;assetOperation&quot;<span 
					 style="font-weight: normal;">: Retain the value &quot;UnlockAccount&quot;.</span></p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;connectorName&quot;</span>: 
					 Specify the connector name. <br />
					<br />
					The name specified for this property must match the 
					 connector name (name specified here is not case sensitive). 
					 If the connector name contains space, then you must 
					 specify the name that matches the connector name.</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;operationType&quot;</span>: 
					 Retain the value &quot;unlockaccount&quot;.</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;connectorURL&quot;</span>: 
					 Replace &lt;ConnectorName&gt; with the name of the 
					 connector.<br />
					<br />
					<span style="font-weight: bold;">Example</span>: &quot;/ActiveDirectoy/users/&quot;<br />
					<br />
					If the connector name contains space, while specifying 
					 the connector name for this property you must truncate 
					 the space in the connector name. Name specified for 
					 this element is not case sensitive. &#160;</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;resource&quot;</span>: 
					 Retain the value &quot;Account&quot;.</p></li>
				</ul></td>
			</tr>
		</table>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send</span>. <br />
		The RestClient shows the processing message. <br />
		<br />
		After the request is processed, you see the response <span style="font-weight: bold;">Status 
		 Code 200 OK</span>.</p>
 </div></li>
	<li>
 <p class="list"><a class="dropspot" href="javascript:TextPopup(this)" id="a4">Test Connection</a></p>
	<div class="droptext" id="POPUP489088095" style="display: none;">
		<p>Test Connection operation is used for testing the connection 
		 with the target applications. This operation must be registered 
		 for those applications that are used as authentication source 
		 in Tuebora and all other applications in which access or user 
		 attribute changes must be updated. </p>
		<p>&#160;For more information on how to configure the delegated 
		 authentication, Refer the topic <a href="../../Governance/V1.11.8/DeploymentGuide/Tuebora_Authentication.htm#DirectorybasedAuthentication">Enabling 
		 Directory-based Delegated Authentication</a> in <span style="font-weight: bold; 
		 font-style: italic;">Tuebora Deployment Guide</span>.</p>
		<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
			<col style="width: 4.082%;" />
			<col style="width: 95.918%;" />
			<tr>
				<td style="vertical-align: top;"><img src="../Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
				<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
    <p 
					 class="TableText"><span style="font-weight: bold;">Note</span>: 
				 For Test Connection to work, the connector used for integrating 
				 an Asset must have Test Connection operation defined in 
				 it.</p></td>
			</tr>
		</table>
		<p>To register test connection SCIM operation, firstly you must 
		 identify the ID of the Asset for which this operation must be 
		 registered. </p>
		<p>This topic explains the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a 
		 href="#Obtaining_Asset_ID">Obtain ID of the Asset</a></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a 
		 href="#Registering_Test_Connection_Operation">Register Test Connection 
		 Operation</a> </p>
		<h4><a name="Registering_Test_Connection_Operation"></a>Registering 
		 Test Connection Operation</h4>
		<p>To register Test Connection scim operation for an Asset:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open 
		 the <span style="font-weight: bold;">RESTClient</span> and select 
		 <span style="font-weight: bold;">Headers </span>tab. </p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
		 the following Headers Key and Value:</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
		 the Authorization</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Type</span>: Basic Auth</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">User Name</span>: Specify the Tuebora 
		 Authentication API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
		 ID</a></span> generated for your deployment.</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Password</span>: Specify the Tuebora 
		 Authentication API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
		 Secret</a></span> generated for your deployment.</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
		 style="text-indent: -20px;">Select </span><span style="text-indent: -20px; 
														 font-weight: bold;">PUT 
		 </span><span style="text-indent: -20px;">in the </span><span style="text-indent: -20px; 
		 font-weight: bold;">Method</span><span style="text-indent: -20px;"> 
		 field.</span></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL <span style="font-weight: bold;">http://&lt;YourTenantURL&gt;/api/v1/assets/&lt;Asset 
		 ID&gt;/addoperationmapping</span><br />
		<br />
		Example: <span style="font-weight: bold;">http://xanadu.tuebora.com/api/v1/assets/9/addoperationmapping</span></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
		 the following request body in the <span style="font-weight: bold;">Body</span> 
		 section:</p>
		<table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:67.241%;" cellspacing="0px">
			<col style="width: 100%;" />
			<tr class="t1Row">
				<td class="t1st">
    <p style="margin-top: 5pt; margin-bottom: 5pt; 
									 margin-left: 0px;">{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;assetOperation&quot;:&quot;testconnection&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;connectorName&quot;:&quot;&lt;Connector 
				 Name&gt;&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;operationType&quot;:&quot;testconnection&quot; 
				 ,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;connectorURL&quot;:&quot;/&lt;ConnectorName&gt;/users/&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;resource&quot;:&quot;Account&quot;</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
			</tr>
		</table>
		<p class="list">&#160;</p>
		<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
			<col style="width: 4.082%;" />
			<col style="width: 95.918%;" />
			<tr>
				<td style="vertical-align: top;"><img src="../Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
				<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
    <p 
					 class="TableText"><span style="font-weight: bold;">Note</span>: 
				 Update the value for the following details JSON specified 
				 to register the SCIM operation:</p>
				<ul style="list-style: disc;">
					<li style="margin-left: -20px;">
     <p class="TableText" 
														 style="font-weight: bold;">&quot;assetOperation&quot;<span 
					 style="font-weight: normal;">: Retain the value &quot;testconnection&quot;.</span></p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;connectorName&quot;</span>: 
					 Specify the connector name. <br />
					<br />
					The name specified for this property must match the 
					 connector name (name specified here is not case sensitive). 
					 If the connector name contains space, then you must 
					 specify the name that matches the connector name.</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;operationType&quot;</span>: 
					 Retain the value &quot;testconnection&quot;.</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;connectorURL&quot;</span>: 
					 Replace &lt;ConnectorName&gt; with the name of the 
					 connector.<br />
					<br />
					If the connector name contains space, while specifying 
					 the connector name for this property you must truncate 
					 the space in the connector name. Name specified for 
					 this element is not case sensitive. &#160;</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">&quot;resource&quot;</span>: 
					 Retain the value &quot;Account&quot;.</p></li>
				</ul></td>
			</tr>
		</table>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send</span>. <br />
		The RestClient shows the processing message. <br />
		<br />
		After the request is processed, you see the response <span style="font-weight: bold;">Status 
		 Code 200 OK</span>.</p>
 </div></li>
</ul>
<h3>&#160;</h3>
<p class="list">&#160;</p>
<h3 class="list">&#160;</h3>
<p class="list">&#160;</p>
<h3 class="list"><a name="Registering_SCIM_Operation_-_Unlock_Account"></a>Registering 
 SCIM Operation - Unlock Account</h3>
<p class="list">&#160;</p>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( TextPopupInit ) != 'function' ) TextPopupInit = new Function();
	TextPopupInit('a1','POPUP488648880');
	TextPopupInit('a2','POPUP488822661');
	TextPopupInit('a3','POPUP489106525');
	TextPopupInit('a4','POPUP489088095');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
