
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Use Case Based User Guide - Create Custom Forms</title>
<link href="../../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "../..";
gCommonRootRelPath = "../..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../../First_Topic.htm" class="homelink"><img src="../../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../../First_Topic.htm" class="homelink"><span>Use Case Based User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="32">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../../First_Topic.htm"><img src="../../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>How to Create Custom Form?</h1>
     <h3>Prerequisite</h3>
     <ul style="list-style: disc;">
	<li>
 <p class="list">You must have generated <span style="font-weight: bold;">Tuebora 
	 Authentication API credentials</span>.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Tuebora Main Server</span> 
	 must be running.</p></li>
</ul>
<h3>Creating Custom Form</h3>
<p>To create a new Custom Form, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers</span> 
 tab.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the <span style="font-weight: bold;">Client 
 ID</span> generated for Tuebora Authentication API Credentials.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the <span style="font-weight: bold;">Client 
 Secret</span> generated for Tuebora Authentication API Credentials.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Post</span> in the <span style="font-weight: bold;">Method</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to create Custom Form in the <span style="font-weight: bold;">URL</span> 
 field:<br />
<br />
<span style="font-style: italic;">http://&lt;Tuebora Application URL&gt;/api/v1/customforms</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://xanadu.tuebora.com/api/v1/customforms<br />
<br />
You can also specify the <span style="font-weight: bold;">IP Address of 
 the system on which the Tuebora Application is running</span>.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section.</p>
<table class="Note" style="border: Solid 1px #000000;" width="100%" cellspacing="0px">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="TableText">{</p>
		<p class="TableText">&quot;name&quot;: &quot;Create Group in Active 
		 Directory&quot;,</p>
		<p class="TableText">&quot;description&quot;: &quot;Form for capturing 
		 fields for creating Group in Active Directory&quot;,</p>
		<p class="TableText">&quot;operation&quot;: &quot;creategroup-In 
		 AD Application&quot;,</p>
		<p class="TableText">&quot;displayType&quot;: &quot;a&quot;,</p>
		<p class="TableText">&quot;entityType&quot;: &quot;Asset&quot;,</p>
		<p class="TableText">&quot;entityReference&quot;: [{</p>
		<p class="TableText">&quot;entityName&quot;: &quot;Corporate Active 
		 Directory&quot;</p>
		<p class="TableText">}],</p>
		<p class="TableText">&quot;config&quot;: [{</p>
		<p class="TableText">&quot;name&quot;: &quot;Group Name&quot;,</p>
		<p class="TableText">&quot;label&quot;: &quot;Group Name&quot;,</p>
		<p class="TableText">&quot;controlType&quot;: &quot;textbox&quot;,</p>
		<p class="TableText">&quot;mutability&quot;: &quot;readwrite&quot;,</p>
		<p class="TableText">&quot;mandatory&quot;: true,</p>
		<p class="TableText">&quot;displayOrder&quot;: 1,</p>
		<p class="TableText">&quot;hint&quot;: &quot;Maximum group name 
		 length allowed is 24 characters&quot;,</p>
		<p class="TableText">&quot;metadata&quot;: {</p>
		<p class="TableText">&quot;minLength&quot;: 0,</p>
		<p class="TableText">&quot;maxLength&quot;: 24,</p>
		<p class="TableText">&quot;regularExpression&quot;: &quot;^[A-Za-z0-9-]*$&quot;,</p>
		<p class="TableText">&quot;width&quot;: &quot;400&quot;</p>
		<p class="TableText">}</p>
		<p class="TableText">}, {</p>
		<p class="TableText">&quot;name&quot;: &quot;Group Description&quot;,</p>
		<p class="TableText">&quot;label&quot;: &quot;Group Description&quot;,</p>
		<p class="TableText">&quot;controlType&quot;: &quot;textarea&quot;,</p>
		<p class="TableText">&quot;mutability&quot;: &quot;readwrite&quot;,</p>
		<p class="TableText">&quot;mandatory&quot;: true,</p>
		<p class="TableText">&quot;displayOrder&quot;:2,</p>
		<p class="TableText">&quot;hint&quot;: &quot;Provide description 
		 for the group.&quot;,</p>
		<p class="TableText">&quot;metadata&quot;: {</p>
		<p class="TableText">&quot;minLength&quot;: 0,</p>
		<p class="TableText">&quot;maxLength&quot;: 255,</p>
		<p class="TableText">&quot;regularExpression&quot;: &quot;^[A-Za-z0-9-_&amp; 
		 ]*$&quot;,</p>
		<p class="TableText">&quot;width&quot;: &quot;400&quot;</p>
		<p class="TableText">}</p>
		<p class="TableText">}, {</p>
		<p class="TableText">&quot;name&quot;: &quot;Path to folder&quot;,</p>
		<p class="TableText">&quot;label&quot;: &quot;Path to folder&quot;,</p>
		<p class="TableText">&quot;controlType&quot;: &quot;textarea&quot;,</p>
		<p class="TableText">&quot;mutability&quot;: &quot;readwrite&quot;,</p>
		<p class="TableText">&quot;mandatory&quot;: true,</p>
		<p class="TableText">&quot;displayOrder&quot;: 6,</p>
		<p class="TableText">&quot;hint&quot;: null,</p>
		<p class="TableText">&quot;metadata&quot;: {</p>
		<p class="TableText">&quot;minLength&quot;: 0,</p>
		<p class="TableText">&quot;maxLength&quot;: 255,</p>
		<p class="TableText">&quot;regularExpression&quot;: null,</p>
		<p class="TableText">&quot;width&quot;: &quot;400&quot;</p>
		<p class="TableText">}</p>
		<p class="TableText">}, {</p>
		<p class="TableText">&quot;name&quot;: &quot;Owner1&quot;,</p>
		<p class="TableText">&quot;label&quot;: &quot;Owner1&quot;,</p>
		<p class="TableText">&quot;controlType&quot;: &quot;tueborasearch&quot;,</p>
		<p class="TableText">&quot;mutability&quot;: &quot;readwrite&quot;,</p>
		<p class="TableText">&quot;mandatory&quot;: true,</p>
		<p class="TableText">&quot;displayOrder&quot;: 8,</p>
		<p class="TableText">&quot;metadata&quot;: {</p>
		<p class="TableText">&quot;url&quot;: &quot;/data/searchUser?_filter={\&quot;entityName\&quot;:\&quot;User\&quot;,\&quot;joinOperator\&quot;:\&quot;and\&quot;,</p>
		<p class="TableText">\&quot;joinOperatorDisplay\&quot;:\&quot;AND\&quot;,\&quot;filters\&quot;:[{\&quot;type\&quot;:\&quot;propfilter\&quot;,\&quot;entityName\&quot;:</p>
		<p class="TableText">\&quot;User\&quot;,\&quot;prop\&quot;:\&quot;estr9\&quot;,\&quot;propDispName\&quot;:\&quot;EmployeeType\&quot;,\&quot;dataType\&quot;:</p>
		<p class="TableText">\&quot;string\&quot;,\&quot;oper\&quot;:\&quot;of\&quot;,\&quot;operDispName\&quot;:\&quot;in\&quot;,\&quot;values\&quot;:\&quot;Domestic_Employee,</p>
		<p class="TableText">International_Employee\&quot;,\&quot;valueids\&quot;:\&quot;Domestic_Employee,International_Employee</p>
		<p class="TableText">\&quot;}],\&quot;bitmaskFilters\&quot;:null}&quot;,</p>
		<p class="TableText">&quot;allowMultiselect&quot;: false,</p>
		<p class="TableText">&quot;entityName&quot;: &quot;User&quot;,</p>
		<p class="TableText">&quot;width&quot;: &quot;200&quot;</p>
		<p class="TableText">}</p>
		<p class="TableText">}, {</p>
		<p class="TableText">&quot;name&quot;: &quot;Owner2&quot;,</p>
		<p class="TableText">&quot;label&quot;: &quot;Owner2&quot;,</p>
		<p class="TableText">&quot;controlType&quot;: &quot;tueborasearch&quot;,</p>
		<p class="TableText">&quot;mutability&quot;: &quot;readwrite&quot;,</p>
		<p class="TableText">&quot;mandatory&quot;: true,</p>
		<p class="TableText">&quot;displayOrder&quot;: 9,</p>
		<p class="TableText">&quot;metadata&quot;: {</p>
		<p class="TableText">&quot;url&quot;: &quot;/data/searchUser?_filter={\&quot;entityName\&quot;:\&quot;User\&quot;,\&quot;joinOperator\&quot;:\&quot;and\&quot;,</p>
		<p class="TableText">\&quot;joinOperatorDisplay\&quot;:\&quot;AND\&quot;,\&quot;filters\&quot;:[{\&quot;type\&quot;:\&quot;propfilter\&quot;,\&quot;entityName\&quot;:</p>
		<p class="TableText">\&quot;User\&quot;,\&quot;prop\&quot;:\&quot;estr9\&quot;,\&quot;propDispName\&quot;:\&quot;Employee 
		 Type\&quot;,\&quot;dataType\&quot;:</p>
		<p class="TableText">\&quot;string\&quot;,\&quot;oper\&quot;:\&quot;of\&quot;,\&quot;operDispName\&quot;:\&quot;in\&quot;,\&quot;values\&quot;:\&quot;Domestic_Employee,</p>
		<p class="TableText">International_Employee\&quot;,\&quot;valueids\&quot;:\&quot;Domestic_Employee,International_Employee\&quot;}],</p>
		<p class="TableText">\&quot;bitmaskFilters\&quot;:null}&quot;,</p>
		<p class="TableText">&quot;allowMultiselect&quot;: false,</p>
		<p class="TableText">&quot;entityName&quot;: &quot;User&quot;,</p>
		<p class="TableText">&quot;width&quot;: &quot;200&quot;</p>
		<p class="TableText">}</p>
		<p class="TableText">}, {</p>
		<p class="TableText">&quot;name&quot;: &quot;Organizational Unit&quot;,</p>
		<p class="TableText">&quot;label&quot;: &quot;Organizational Unit&quot;,</p>
		<p class="TableText">&quot;hint&quot;: null,</p>
		<p class="TableText">&quot;controlType&quot;: &quot;dropdown&quot;,</p>
		<p class="TableText">&quot;mutability&quot;: &quot;readwrite&quot;,</p>
		<p class="TableText">&quot;mandatory&quot;: true,</p>
		<p class="TableText">&quot;displayOrder&quot;: 11,</p>
		<p class="TableText">&quot;metadata&quot;: {</p>
		<p class="TableText">&quot;defaultValue&quot;: null,</p>
		<p class="TableText">&quot;values&quot;: {</p>
		<p class="TableText">&quot;Health&quot;: &quot;Health&quot;,</p>
		<p class="TableText">&quot;IT&quot;: &quot;IT&quot;,</p>
		<p class="TableText">&quot;Corporate&quot;: &quot;Corporate&quot;</p>
		<p class="TableText">},</p>
		<p class="TableText">&quot;width&quot;: &quot;200&quot;</p>
		<p class="TableText">}</p>
		<p class="TableText">}, {</p>
		<p class="TableText">&quot;name&quot;: &quot;Risk Rating&quot;,</p>
		<p class="TableText">&quot;label&quot;: &quot;Risk Rating&quot;,</p>
		<p class="TableText">&quot;controlType&quot;: &quot;dropdown&quot;,</p>
		<p class="TableText">&quot;mutability&quot;: &quot;readwrite&quot;,</p>
		<p class="TableText">&quot;mandatory&quot;: true,</p>
		<p class="TableText">&quot;displayOrder&quot;: 12,</p>
		<p class="TableText">&quot;metadata&quot;: {</p>
		<p class="TableText">&quot;values&quot;: {</p>
		<p class="TableText">&quot;High&quot;: &quot;High&quot;,</p>
		<p class="TableText">&quot;Medium&quot;: &quot;Medium&quot;,</p>
		<p class="TableText">&quot;Low&quot;: &quot;Low&quot;</p>
		<p class="TableText">},</p>
		<p class="TableText">&quot;width&quot;: &quot;200&quot;</p>
		<p class="TableText">}</p>
		<p class="TableText">}]</p>
		<p class="TableText">}</p></td>
	</tr>
 </table>
 <p class="list">For more information on what and how to define values for 
 different keys available in the above custom form JSON structure, see 
 <span style="font-weight: bold;">Custom Form JSON Structure Reference</span> 
 topic.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>.<br />
The RestClient shows <span style="font-weight: bold;">Status Code 200 OK</span> 
 if the request is processed successfully.<br />
<br />
You will see the response of the request to create Custom Form. The Response 
 section displays the custom form created in Tuebora and the <span style="font-weight: bold;">ID</span> 
 of the form. This ID is required to update a form or delete a form which 
 is not used.</p>
 <h3>Custom Form JSON Parameters</h3>
 <p>The following table lists the elements in the JSON and description:</p>
 <table class="Table" style="border-left: Solid 1px #c0c0c0; border-right: Solid 1px #c0c0c0; 
		 border-bottom: Solid 1px #c0c0c0; left: 0px; top: 1925px;" cellspacing="0px" width="100%">
	<col style="width: 15.736%;" />
	<col style="width: 11.801%;" />
	<col style="width: 34.973%;" />
	<col style="width: 37.49%;" />
	<tr class="t1st" style="height: 73px;">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">JSON Element</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Description</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">Value</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">name</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Specify the name of the custom form</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Name 
		 must be Alpha Numeric.</p></td>
	</tr>
	<tr class="t1Row" style="height: 31px;">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">description</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Specify the description of the custom form</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Description 
		 must be Alpha Numeric.</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">operation</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Specify the type of operation for which 
		 the custom form is being used.</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Create 
		 Group Request, Request Access in an Asset etc.</p></td>
	</tr>
	<tr class="t1Row" style="height: 31px;">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">displaytype</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Specify the fields to be displayed in one 
		 of the three column formats</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Value 
		 must be- <span style="font-weight: bold;">a, aa, aaa</span> (one 
		 column, two column or three column layout)</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">entityType</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Specify the Entity to which the form is 
		 associated with.</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Entity 
		 can be Asset, Entitlement, Resource etc.</p></td>
	</tr>
	<tr class="t1Row" style="height: 73px;">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">entityReference</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Reference to the Entity for which the form 
		 is being created</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">If 
		 the entityType specified is <span style="font-weight: bold;">Asset</span> 
		 then specify the name of the Asset for which the custom form is 
		 created.<br />
		<br />
		<span style="font-weight: bold;">Example</span>: Corporate Active 
		 Directory</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td rowspan="9" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">config</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">&#160;</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Container to define the configuration parameters.</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold; 
														 font-style: italic;">&#160;</p></td>
	</tr>
	<tr class="t1Row" style="height: 32px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">name</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText"><span>Specify 
		 the relevant name to the field element.</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Group Name</p></td>
	</tr>
	<tr class="t2Row" style="height: 73px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">label</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Specify 
		 the label that must be displayed on the UI for the field.</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Group Name</p></td>
	</tr>
	<tr class="t1Row" style="height: 92px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">hint</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText"><span>Specify 
		 the hint message to be shown on the field.</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText">For Example: Name can contain only A-Z,a-z,0-9, 
		 Maximum number of characters allowed is 25.</p>
		<p class="TableText"><br />
		You can also use HTML hint</p>
		<p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 &quot;hint&quot;: &quot;&lt;h1&gt;Name&lt;/h1&gt;&lt;p &gt;Enter 
		 the name&lt;/p&gt;&quot;,</p></td>
	</tr>
	<tr class="t2Row" style="height: 73px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText"><span>controlType</span></p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Specify 
		 the type of the field</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText">Value for this element can be &#160;textbox, 
		 dropdown etc.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Refer <a href="#Control_Types_with_metadata_values">Control 
		 Types</a> table.</p></td>
	</tr>
	<tr class="t1Row" style="height: 73px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">mutability</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">readwrite</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText">&#160;</p></td>
	</tr>
	<tr class="t2Row" style="height: 73px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">isMandatory</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Specify 
		 if the field is mandatory or not</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText">The value specified for this parameter is 
		 true or false</p></td>
	</tr>
	<tr class="t1Row" style="height: 73px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">displayOrder</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Specify 
		 the order &#160;in which the field must be displayed on the Custom 
		 Form.</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText">The value for this parameter starts from 
		 1</p></td>
	</tr>
	<tr class="t2Row" style="height: 41px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">metadata</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText"><span 
		 style="font-weight: normal;">Specify the metadata values applicable 
		 for each element in custom form.</span></p>
		<p class="TableText">&#160;</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText">For textbox control type, You can define 
		 the below metadata values:</p>
		<ul style="list-style: disc;">
			<li>
   <p class="TableText">&quot;minLength&quot;:&lt;integer 
			 value&gt;</p></li>
			<li>
   <p class="TableText">&quot;maxLength&quot;:&lt;integer 
			 value&gt;</p></li>
			<li>
   <p class="TableText">&quot;alllowOnlyNumbers&quot;: true 
			 OR false</p></li>
		</ul></td>
	</tr>
</table>
<h3><a name="Control_Types_with_metadata_values" id="Control_Types_with_metadata_values"></a>Control 
 Types with metadata values</h3>
<table class="Table" cellspacing="0px" width="100%">
	<col style="width: 17.486%;" />
	<col style="width: 22.853%;" />
	<col style="width: 16.164%;" />
	<col style="width: 43.497%;" />
	<tr class="t1st">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Control Types</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold; font-family: Verdana, sans-serif;">Metadata</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold; font-family: Verdana, sans-serif;">Is 
		 Mandatory</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold; font-family: Verdana, sans-serif;">Description</p></td>
	</tr>
	<tr class="t2Row">
		<td rowspan="5" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">textbox</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText"><span style="font-weight: normal;">minLength</span></p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText"><span>Min allowed length</span></p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">maxLength</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Maximum 
		 allowed length</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">allowOnlyNumbers</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Allow only numbers</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Regular 
		 Expression</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Validate 
		 against any one of the expressions provided</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">width</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Width 
		 of the text box</p></td>
	</tr>
	<tr class="t1Row">
		<td rowspan="4" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">textarea</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText"><span><span style="font-weight: normal;">minLength</span></span></p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText"><span>Min allowed length</span></p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">maxLength</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Maximum allowed length</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Regular Expression</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Validate against any 
		 one of the expressions provided</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">width</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Width of the text box</p></td>
	</tr>
	<tr class="t1Row">
		<td rowspan="3" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">password</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText"><span><span 
		 style="font-weight: normal;">minLength</span></span></p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText"><span>Min 
		 allowed length</span></p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">maxLength</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Maximum 
		 allowed length</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">width</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Width 
		 of the text box</p></td>
	</tr>
	<tr class="t2Row">
		<td rowspan="6" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">datetimepicker</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText"><span><span style="font-weight: normal;">lowerRangeType</span></span></p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText"><span>one of day/month/year</span></p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">lowerRangeValue</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Allow user to pick 
		 date not older than this value from now</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">upperRangeType</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">one of day/month/year</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">upperRangeValue</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Allow user to pick 
		 date no later than this value from now</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">showTime</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Show time selection 
		 or not. Default value is true</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">width</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Width of the text box</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText"><span 
		 style="font-weight: normal;">Dropdown (with static value)</span></p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText"><span>values</span></p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">&#160;Map 
		 of key:value should be non-empty</p></td>
	</tr>
	<tr class="t1Row">
		<td rowspan="6" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">AutoComplete</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">URL</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">URL to get the data</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Min Characters Required 
		 for Search &#160;</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Defaults to 1</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Allow Multiselect &#160;</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Defaults to false. 
		 (If set to True, you can select multiple values)</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Hint Text &#160;</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Defaults to Searching...</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Search Text</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Defaults to Enter</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">width</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Width of the text box</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText"><span>radio 
		 button</span></p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText"><span>values</span></p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Map of 
		 key:value should be non-empty</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText"><span>checkbox</span></p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText"><span>values</span></p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Map of key:value should 
		 be non-empty</p></td>
	</tr>
	<tr class="t1Row">
		<td rowspan="5" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">tueborasearch</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText"><span 
		 style="font-weight: normal;">URL</span></p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">URL to 
		 Search the data</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Allow 
		 Multiselect</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Defaults 
		 to false (If set to True, you can select multiple values)</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Tuebora 
		 Entity Name</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Specify 
		 the Tuebora Entity that is allowed for Search</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">width</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">Width 
		 of the text box</p></td>
	</tr>
	<tr class="t1Row">
		<td colspan="3" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText"><span 
		 style="font-weight: bold;">Note:</span></p>
		<p class="TableText">The custom form must contain one element with 
		 the control type as (&quot;controlType&quot;: &quot;tueborasearch&quot;) 
		 with &quot;entityName&quot;:&quot;User&quot;, &#160;or &quot;Account 
		 Group&quot;.</p></td>
		
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText"><span>editabledropdown</span></p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText"><span style="font-weight: normal;">values</span></p>
		<p class="TableText">&#160;</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">Map of key:value should 
		 be non-empty</p>
		<p class="TableText">&#160;</p>
		<p class="TableText"><span style="font-weight: bold;">Example</span>:</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;values&quot;: 
		 [</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;APAC&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;America&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;]</p></td>
	</tr>
 </table>
 <h3>Viewing the Created Custom Form from the Tuebora Portal UI</h3>
 <p>Administrator can view all the custom forms created in Tuebora from 
 Custom Forms page.</p>
 <p>To view the created custom forms:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 Tuebora Product URL in the Browser address bar.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Log in 
 as the user having Administrator role into Tuebora.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Quick Access &gt; Administrator Console</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; Custom Forms</span>.<br />
<br />
The <span style="font-weight: bold;">Custom Forms</span> page opens. It 
 lists all the custom forms created in the system.<br />
<br />
<img src="../Images/Custom_Forms_1.png" alt="" style=" border:none; width:100%; max-width:750px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the newly created Custom Form.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Preview</span>.<br />
System previews the custom form. Following is an example custom form preview.<br />
<br />
<img src="../Images/Custom_Forms_2.png" alt="" style=" border:none; width:100%; max-width:750px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>After 
 viewing the preview click the <span style="font-weight: bold;">Close</span> 
 button. </p>
<br style="page-break-before: always;" />

</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
