
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Pagination Type - Start Index in Response Body</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "5.0_3";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../Tuebora_SCIM.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="128">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../Tuebora_SCIM.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <h1>Pagination Type - Start Index in Response Body</h1>
     <p>This section explains the pagination type <span style="font-weight: bold;">Start 
 Index in Response Body</span> where API will send the following data in 
 the response body</p>
     <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Start 
 Index</p>
     <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Maximum 
 Results</p>
     <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Total 
 Results</p>
     <p>Consider an example of PingOne Application. PingOne supports HTTP REST 
 based Web services for getting the list of users.</p>
     <h4>Prerequisites</h4>
     <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-bottom: 0pt; margin-top: 4.5pt;">Basic 
	 Authorization - Client ID and Client Secret</p></li>
	<li>
 <p class="list" style="margin-bottom: 0pt; margin-top: 4.5pt;">OneLogin 
	 Application URL</p></li>
</ul>
<h4 class="list">Getting the list of users (Example Application: OneLogin)</h4>
<p class="list" style="margin-bottom: 0pt; margin-top: 4.5pt;">1. Login 
 to SCIM Server &#160;<a title="https://scim.tuebora.com/user" href="https://scim.tuebora.com/user" 
						 id="a71111" style="position: relative;">https://scim.tuebora.com/user</a></p>
<p class="list" style="margin-bottom: 0pt; margin-top: 4.5pt;">2. Deploy 
 OOTB PingOne Connector. <span style="text-indent: 21px;">For information 
 on how to deploy the connector on SCIM server, refer <a href="../Deployed_Connectors.htm#Deploying_Connector_When_Developed_for_Using_with_Third" 
														 id="a101111" style="position: relative;">Deploy 
 a Connector</a>.</span></p>
<p>After the connector is deployed, you must specify the Token and Pagination 
 type in the connection properties of the connector.</p>
<h4>Updating the Connector Connection Properties</h4>
<p><span style="text-indent: -3px;">Edit the connection properties of the 
 deployed connector and specify the following parameters -</span></p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="text-indent: -3px; margin-left: 0px;">Specify 
	 the Basic Authorization value as <span style="font-weight: bold;">Authorization 
	 </span>(Note: Client ID and Client Secret is updated as Basic Authorization 
	 in the REST Client. The value obtained in the header is specified 
	 here.)</p></li>
	<li>
 <p class="list" style="text-indent: -3px; margin-left: 0px;">Select 
	 the following pagination type in the <span style="font-weight: bold;">Pagination</span> 
	 <span style="font-weight: bold;">Types</span> field.</p></li>
	<li style="list-style: square;">
 <p class="list" style="margin-left: 0px; 
										 text-indent: 72px;"><span style="font-weight: bold;">Start 
	 Index in Response Body</span> </p></li>
	<li>
 <p class="list" style="text-indent: -3px; margin-left: 0px;"><span 
	 style="font-weight: bold;">Start Index JSON Expression:</span> Type 
	 the JSON Expression to get the first item returned in the Response 
	 ($.startIndex)</p></li>
	<li>
 <p class="list" style="text-indent: -3px; margin-left: 0px;"><span 
	 style="font-weight: bold;">Maximum Result Count JSON Expression:</span> 
	 Type the JSON Expression to get the maximum number of items retuned 
	 per page ($.count)</p></li>
	<li>
 <p class="list" style="text-indent: -3px; margin-left: 0px;"><span 
	 style="font-weight: bold;">Total Result Count JSON Expression:</span> 
	 &#160;Type the JSON Expression to get the total number of items contained 
	 in all pages ($.totalResults)</p></li>
	<li>
 <p class="list" style="text-indent: -3px; margin-left: 0px;"><span 
	 style="font-weight: bold;">Start Index Query Parameter Name:</span> 
	 Type the query parameter to identify the first item to be returned 
	 in the subsequent calls after considering the last item returned in 
	 the previous call (startIndex)</p></li>
	<li>
 <p class="list" style="text-indent: -3px; margin-left: 0px;"><span 
	 style="font-weight: bold;">Maximum Result Query Parameter Name:</span> 
	 Type the query parameter to get the maximum number of items retuned 
	 in subsequent calls (count)</p></li>
	<li>
 <p class="list" style="text-indent: -3px; margin-left: 0px;"><span 
	 style="font-weight: bold;">Maximum # of Record to return:</span> By 
	 default 10 is displayed. Application's each API endpoints may have 
	 a different limit for the number of items returned. Consider these 
	 limitations and specify the maximum number of records to be returned 
	 per page in the response.</p></li>
</ul>
<p><img src="../Images/PingOne.png" alt="" style=" border:Solid 1px #808080; width:100%; max-width:876px;" border="1" /></p>
<h4>Getting the users</h4>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">GET</span> in the <span style="font-weight: bold;">Method</span> 
 field on the RESTClient page.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 URL for getting the users from PingOne in the <span style="font-weight: bold;">URL</span> 
 field.<br />
<br />
The format of the URL is - <span style="font-style: italic;">https://&lt;system 
 where the SCIM server is running/scim/v2/&lt;connector name&gt;/alldata.zip</span><br />
<br />
<span style="font-weight: bold;">Example</span>: <span style="font-variant-ligatures: normal; 
														 font-variant-caps: normal; 
														 orphans: 2; text-indent: 0px; 
														 widows: 2; -webkit-text-stroke-width: 0px; 
														 background-color: rgb(250, 250, 250); 
														 display: inline	 ! important ; 
														 float: none; font-family: Arial, sans-serif;">http://xanadu.tuebora.com/scim/v2/pingone/alldata.zip</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Basic Auth</span> Type in <span style="font-weight: bold;">Authorization</span> 
 field and enter the Client ID and Client Secret as Username and Password 
 &#160;which are used to authorize SCIM server calls. Click <span style="font-weight: bold;">Update 
 Request</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the <span style="font-weight: bold;">Content-Type</span> as <span style="font-weight: bold;">application/json</span> 
 in <span style="font-weight: bold;">Headers</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send.</span><br />
The RestClient shows the processing message.<br />
<br />
After the request is processed, you can see the response in the <span style="font-weight: bold;">Response</span> 
 section. The <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
 shows the response.<br />
If you get the <span style="font-weight: bold;">Status Code 200 OK</span>, 
 it means the request is successfully processed.</p>
<p class="list" style="margin-left: 48px;">The SCIM server implements pagination 
 and displays the records using startIndex and count passed as query parameter.</p>
<h2>Testing Pagination in PingOne for GET Operation using REST client</h2>
<p>To test Pagination from PingOne, perform the following -</p>
<h3>First Request</h3>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">GET</span> in the <span style="font-weight: bold;">Method</span> 
 field on the RESTClient page.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 URL for getting the users from PingOne in the <span style="font-weight: bold;">URL</span> 
 field (<span style="font-weight: bold;">https://directory-api.pingone.com:443/api/directory?startIndex=3&amp;count=2) 
 </span>OR You can fetch 1000 users at a time and then apply pagination 
 in the next request.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the <span style="font-weight: bold;">Authorization</span> as <span style="font-weight: bold;">Bearer 
 Token</span> and provide the <span style="font-weight: bold;">Token</span>. 
 Click <span style="font-weight: bold;">Update Request</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send.</span><br />
The RestClient shows the processing message.<br />
<br />
After the request is processed, you can see the response in the <span style="font-weight: bold;">Response</span> 
 section. The <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
 shows the response.with after_cursor value which will be passed as query 
 parameter for pagination in the subsequent requests.</p>
<p class="list" style="margin-left: 24px;">The response message will include 
 a pagination element like the one shown here:</p>
<p style="margin-left: 24px;"><span style="-webkit-text-stroke-width: 0px; 
									 text-decoration-style: initial; text-decoration-color: initial;">PingOne 
 GetUser Api only returns 1000 records at a time. It maintains three variables 
 startIndex, count, totalResults. Based on this, we can get next set of 
 records.</span></p>
<p>startIndex -&gt; starting Index from which, we will get user data.</p>
<p>count-&gt; Fetch {count} no of users , from startIndex. Maximum=1000 
 and default is 10.</p>
<p>totalResults-&gt; Total No of users exists in pingone directory</p>
<p><span style="text-indent: -20px;">If you get the </span><span style="text-indent: -20px; 
	 font-weight: bold;">Status Code 200 OK</span><span style="text-indent: -20px;">, 
 it means the request is successfully processed. </span></p>
<p class="list" style="margin-left: 43px;"><span style="font-weight: bold; 
												 text-indent: 45px;">Response 
 Body</span></p>
<table style="left: 0px; top: 1527px; margin-left: 72px; border-collapse: separate; 
		 border-collapse: separate;" width="100%" cellspacing="0" border="1">
	<col style="width: 100%;" />
	<tr style="height: 0px;">
		<td>
  <p class="TableText">{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;count&quot;: 
		 2,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;itemsPerPage&quot;: 
		 0,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;startIndex&quot;: 
		 3,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;schemas&quot;: 
		 [</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;urn:scim:schemas:core:1.0&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;],</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;totalResults&quot;: 
		 10,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;resources&quot;: 
		 [</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;emails&quot;: 
		 [</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;type&quot;: 
		 &quot;work&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;value&quot;: 
		 &quot;chandan.singh@xanadufinancials.com&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;],</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;meta&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;created&quot;: 
		 &quot;2018-10-30T01:28:16.700-06:00&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;location&quot;: 
		 &quot;https://directory-api.pingone.com/v1/user/f794edac-8666-4e61-a0cb-f01fe0fc35d7&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;lastModified&quot;: 
		 &quot;2018-10-30T01:28:16.700-06:00&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;schemas&quot;: 
		 [</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;urn:scim:schemas:core:1.0&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;urn:scim:schemas:internal:1.0&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;urn:scim:schemas:com_pingone:1.0&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;],</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;name&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;givenName&quot;: 
		 &quot;Chandan&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;familyName&quot;: 
		 &quot;Singh&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;groups&quot;: 
		 [</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;display&quot;: 
		 &quot;Users&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;value&quot;: 
		 &quot;b94426ff-d210-4f5e-96d7-0bcb556049cd&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;],</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;active&quot;: 
		 true,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 &quot;f794edac-8666-4e61-a0cb-f01fe0fc35d7&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;userName&quot;: 
		 &quot;chandans&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;urn:scim:schemas:com_pingone:1.0&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;lastModifiedTimeStamp&quot;: 
		 1540884496700,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;accountId&quot;: 
		 &quot;0c9a5440-7f6c-4ee7-9b62-b050b3ac27b8&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;createTimeStamp&quot;: 
		 1540884496700,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;directoryId&quot;: 
		 &quot;9baaba61-3b3b-4767-a750-d5f10b27721c&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;state&quot;: 
		 &quot;ACTIVE&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;emails&quot;: 
		 [</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;type&quot;: 
		 &quot;work&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;value&quot;: 
		 &quot;chandan.singh12@xanadufinancials.com&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;],</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;meta&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;created&quot;: 
		 &quot;2018-10-30T01:34:14.686-06:00&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;location&quot;: 
		 &quot;https://directory-api.pingone.com/v1/user/384d7ed5-212c-4914-82a0-7f17791b1fd5&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;lastModified&quot;: 
		 &quot;2018-10-30T06:56:02.451-06:00&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;schemas&quot;: 
		 [</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;urn:scim:schemas:core:1.0&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;urn:scim:schemas:internal:1.0&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;urn:scim:schemas:com_pingone:1.0&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;],</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;name&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;givenName&quot;: 
		 &quot;Chandan&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;familyName&quot;: 
		 &quot;Singh&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;groups&quot;: 
		 [</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;display&quot;: 
		 &quot;Development&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;value&quot;: 
		 &quot;568865cc-3dfa-41aa-98b9-1c14b2896043&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;display&quot;: 
		 &quot;Users&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;value&quot;: 
		 &quot;b94426ff-d210-4f5e-96d7-0bcb556049cd&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;],</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;active&quot;: 
		 true,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 &quot;384d7ed5-212c-4914-82a0-7f17791b1fd5&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;userName&quot;: 
		 &quot;chandans12&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;urn:scim:schemas:com_pingone:1.0&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;lastModifiedTimeStamp&quot;: 
		 1540904162451,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;accountId&quot;: 
		 &quot;0c9a5440-7f6c-4ee7-9b62-b050b3ac27b8&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;createTimeStamp&quot;: 
		 1540884854686,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;directoryId&quot;: 
		 &quot;9baaba61-3b3b-4767-a750-d5f10b27721c&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;state&quot;: 
		 &quot;ACTIVE&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
		<p class="TableText">&#160;&#160;&#160;&#160;]</p>
		<p class="TableText">}</p></td>
	</tr>
 </table>
 <h3 class="list">For all subsequent requests</h3>
 <p style="text-decoration-style: initial; text-decoration-color: initial;"><span 
	 style="color: rgb(28, 31, 42);">You can use the&#160;</span><span 
	 style="color: rgb(9, 30, 66); font-family: Arial, sans-serif; font-weight: bold;">startIndex 
 </span><span style="color: rgb(9, 30, 66); font-family: Arial, sans-serif;">and</span><span 
	 style="color: rgb(9, 30, 66); font-family: Arial, sans-serif; font-weight: bold;"> 
 count</span><span style="color: rgb(28, 31, 42);">&#160;value as a query 
 parameter to make a call to retrieve the next page. </span></p>
 <p><span style="text-indent: -20px;">The URL for second request will be</span><span 
	 style="text-indent: -20px; font-weight: bold;"> </span><span style="font-weight: bold;">https://directory-api.pingone.com:443/api/directory?startIndex=5&amp;count=2</span></p>
 <p>You can specify the startIndex as the query parameter till the totalResults 
 value in the Response Body reaches the total number of users in PingOne 
 directory.</p>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	InitEffects('a101111','');
	InitEffects('a71111','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
