
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>iPass_User Guide - Account Management</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "0_7";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>iPass_User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="8">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Account Management</h1>
     <p>A User Account contains the data about a user and is often associated 
 with an ID. These Accounts are used to record user details, track user 
 activities, and push organizational updates to related systems/devices. 
 In Tuebora Pass, Accounts are used to identify users and perform password 
 management activities.</p>
     <p>Each user is associated with an Account and identified by an Account 
 name.</p>
     <p>During portal configuration, user data is imported into the portal. 
 Then the Assets in which password management must be done are integrated 
 and account information of the user in the Assets are imported. This enables 
 users to perform password management activities in the integrated Assets.</p>
     <p>As an end user, when you log in to the portal, you can view all your 
 Accounts in the integrated Assets.</p>
     <h4>Types of Accounts</h4>
     <p>In the portal, there can be different types of Accounts, based on the 
 status, activity, and other such factors. The categorization of Accounts 
 in the portal, depend on the data obtained from the Assets. The Account 
 types categorized in the portal are as follows:</p>
     <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Active</span> <span style="font-weight: bold;">Accounts</span> 
 (<img src="Images/Icon_ActiveAccount.png" alt="" style=" border:none; width:100%; max-width:11px;" border="0" />) - Accounts of Users, who are active in the system.</p>
     <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Locked</span> <span style="font-weight: bold;">Accounts</span> 
 (<img src="Images/Icon_LockedAccount.png" alt="" style=" border:none; width:100%; max-width:15px;" border="0" />) - If a user exceeds the maximum number of failed 
 login attempts during first login to the portal for enrollment or subsequent 
 login, the user Account gets <span style="font-weight: bold;">locked</span>.</p>
     <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Blocked</span> <span style="font-weight: bold;">Accounts</span> 
 (<img src="Images/Icon_blockedaccounts.png" alt="" style=" border:none; width:100%; max-width:17px;" border="0" />) - When a user exceeds the maximum number of attempts 
 allowed to provide correct responses for the challenge questions while 
 resetting a forgotten password or unlocking an Account, the user Account 
 gets <span style="font-weight: bold;">blocked </span>in the portal.</p>
     <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password Expired Accounts </span>(<img src="Images/Icon_PasswordExpiredAccount.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" />) - An Account password expires based on the password 
 age (expiration period) set in the system. The password expiration date 
 is calculated by considering the date on which the password was last set. 
 Those Accounts for which the password age has crossed the set expiration 
 period are displayed as Password Expired Accounts. Users can reset Account 
 passwords by specifying new passwords, matching the password policy.</p>
     <p style="margin-top: 6pt; margin-bottom: 6pt;">Only an Administrator or 
 Service Desk User can view All Accounts in the system.</p>
<br style="page-break-before: always;" />

     <h2><a name="My_Accounts" id="My_Accounts"></a>Viewing Accounts of Self</h2>
     <p><span>The Home page displays details of all Accounts belonging to you. 
 </span></p>
     <p>Following figure shows an example of details on the Home page.</p>
     <p><img src="Images/HomePage.png" alt="" style=" border:none; width:100%; max-width:768px;" border="0" /></p>
     <p>For more information, see <a href="Home_page.htm">Home page</a>.</p>
     <h2><a name="All_Accounts" id="All_Accounts"></a>All Accounts for Service 
 Desk User</h2>
     <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">The<span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">All</span><span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Accounts</span><span 
	 class="Apple-converted-space">&#160;</span>tab is available only for 
 the Service Desk users. This tab lists all user Accounts available in 
 all Assets integrated in the portal.</p>
     <h4 style="font-size: 10pt;"><span style="font-size: 10pt;">Navigation</span></h4>
     <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">You can access the <span style="font-weight: bold;">All 
		 Accounts</span> page by selecting <span style="font-weight: bold;">All 
		 Accounts</span> tab.</p></td>
	</tr>
 </table>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">As 
 a Service Desk user, you can perform the following tasks from the<span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">All</span><span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Accounts</span><span 
	 class="Apple-converted-space">&#160;</span>page:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Searching_for_Accounts_to_Rest_Password">Search 
 Accounts</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Filtering_Results">Filter 
 Results</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Synchronizing_Account_Data_from_BT_AD">Synchronize 
 Account Data</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_Account_Details">View 
 User Details</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="Unlock_Account_by_Help_Desk_User.htm">Unlock/Unblock 
 Account</a></p>
<br style="page-break-before: always;" />

 <h3><a name="Searching_for_Accounts_to_Rest_Password" id="Searching_for_Accounts_to_Rest_Password"></a>Searching 
 for Accounts</h3>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">The 
 All Accounts page lists all the Accounts that are active, locked, or blocked 
 or password is expired in the defined environment.<span style="font-size: 10pt; 
														 color: #000000; 
														 font-family: Arial; 
														 font-style: normal; 
														 font-variant: normal; 
														 font-weight: normal; 
														 letter-spacing: normal; 
														 line-height: normal; 
														 orphans: auto; 
														 text-align: start; 
														 text-indent: 0px; 
														 text-transform: none; 
														 white-space: normal; 
														 widows: 1; word-spacing: 0px; 
														 -webkit-text-stroke-width: 0px;"> 
 At times, it may be difficult to browse through all records to find a 
 required Account. The page has a</span><span class="Apple-converted-space" 
												 style="font-size: 10pt; 
												 color: #000000; font-family: Arial; 
												 font-style: normal; font-variant: normal; 
												 font-weight: normal; letter-spacing: normal; 
												 line-height: normal; orphans: auto; 
												 text-align: start; text-indent: 0px; 
												 text-transform: none; 
												 white-space: normal; widows: 1; 
												 word-spacing: 0px; -webkit-text-stroke-width: 0px;">&#160;</span><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; 
	 font-weight: bold;">Search</span><span class="Apple-converted-space" 
											 style="font-size: 10pt; color: #000000; 
											 font-family: Arial; font-style: normal; 
											 font-variant: normal; font-weight: normal; 
											 letter-spacing: normal; line-height: normal; 
											 orphans: auto; text-align: start; 
											 text-indent: 0px; text-transform: none; 
											 white-space: normal; widows: 1; 
											 word-spacing: 0px; -webkit-text-stroke-width: 0px;">&#160;</span><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; font-weight: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-align: start; text-indent: 0px; 
	 text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; 
	 -webkit-text-stroke-width: 0px;">box, where you can provide the search 
 criteria. When a valid search criteria is provided, the page refreshes 
 to display only those Accounts matching the search criteria.</span></p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; 
	 text-indent: 0px; text-transform: none; white-space: normal; widows: 1; 
	 word-spacing: 0px; -webkit-text-stroke-width: 0px; font-weight: bold;">Example</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 font-family: Arial; font-style: normal; font-variant: normal; font-weight: normal; 
	 letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; 
	 text-indent: 0px; text-transform: none; white-space: normal; widows: 1; 
	 word-spacing: 0px; -webkit-text-stroke-width: 0px; color: #ff0000;"><span 
	 style="color: #000000;">Andrew Green's Active Directory Account is 
 locked and the user has contacted Service Desk to unlock the Account. 
 As a Service Desk user, you can unlock the Account. To view the user Account, 
 type the User Name in the</span><span class="Apple-converted-space">&#160;</span><span 
	 style="color: #000000; font-weight: bold;">Search</span><span class="Apple-converted-space">&#160;</span><span 
	 style="color: #000000;">box. The page refreshes to show the user Account 
 matching the search criteria.</span></p>
 <h4><img src="Images/AllAccounts.png" alt="" style=" border:none; width:100%; max-width:1018px;" border="0" /></h4>
 <h4>Search Criteria</h4>
 <p style="font-size: 10pt; margin-top: 4pt; margin-left: 18pt; margin-bottom: 4pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">The 
 portal supports the following search criteria for all Accounts search:</p>
 <p 
	 class="list" style="text-indent: -20px; margin-left: 96px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Account 
 Id</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 96px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Asset 
 (Application Name)</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 96px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>User Name</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 96px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Email 
 Address</p>
 <h3><a name="Filtering_Results" id="Filtering_Results"></a>Filtering Results</h3>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">When 
 you search Accounts that are locked/blocked, it may display too many records, 
 based on the number of records to display. You may want to further drill 
 down and view only the required records. The portal provides the <span 
	 style="font-weight: bold;">Show</span><span class="Apple-converted-space">&#160;</span>functionality 
 to narrow down results. The supported options to filter records are as 
 follows:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Accounts</span><span class="Apple-converted-space">&#160;</span>- 
 System displays all the Accounts in the Assets.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Blocked</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Accounts</span><span class="Apple-converted-space">&#160;</span>- 
 System displays only the Blocked Accounts.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Locked</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Accounts</span><span class="Apple-converted-space">&#160;</span>- 
 System displays only the Locked Accounts.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password Expired Accounts</span><span class="Apple-converted-space">&#160;</span>- 
 System displays only the Disabled Accounts.</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">You 
 can select more than one filtering option to view Account details.</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; 
	 text-indent: 0px; text-transform: none; white-space: normal; widows: 1; 
	 word-spacing: 0px; -webkit-text-stroke-width: 0px; font-weight: bold;">Example</p>
<br style="page-break-before: always;" />

 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">You 
 want to view all the Accounts that are blocked and locked in the system. 
 Select<span class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Blocked 
 Accounts</span><span class="Apple-converted-space">&#160;</span>and<span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Unlocked</span><span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Accounts</span><span 
	 class="Apple-converted-space">&#160;</span>from the drop-down list 
 available in the <span style="font-weight: bold;">Show</span><span class="Apple-converted-space">&#160;</span>field.</p>
 <h3><a name="Synchronizing_Account_Data_from_BT_AD" id="Synchronizing_Account_Data_from_BT_AD"></a>Synchronizing 
 Account Data</h3>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">Account 
 Synchronization is the process of synchronizing data in the system from 
 Assets integrated in the environment.</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">If 
 there are any updates in the Assets after a data import, the updated records 
 must be synchronized with the data in the system. Using<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Synchronize Account Data</span><span class="Apple-converted-space">&#160;</span><span 
	 class="st">feature, you can synchronize the Account</span><span class="Apple-converted-space">&#160;</span><span 
	 class="st"><em style="font-style: normal;">data</em></span><span class="Apple-converted-space">&#160;</span><span 
	 class="st">from Assets, w</span>henever required.</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">To 
 synchronize Account data, select the required Asset from the drop-down 
 list displayed in the<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Synchronize Account Data from</span>&#160;field 
 and click<span class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Go</span>. 
 &#160;</p>
 <p style="margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; widows: 1; 
	 -webkit-text-stroke-width: 0px; font-size: 10pt; color: #000000; font-family: Arial; 
	 font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-align: start; text-indent: 0px; 
	 text-transform: none; white-space: normal; word-spacing: 0px;"><img src="Images/SyncAccount.png" alt="" style=" border:none; width:100%; max-width:880px;" border="0" /></p>
 <p style="margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; widows: 1; 
	 -webkit-text-stroke-width: 0px; font-size: 10pt; color: #000000; font-family: Arial; 
	 font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-align: start; text-indent: 0px; 
	 text-transform: none; white-space: normal; word-spacing: 0px;">When 
 you synchronize Account data, system imports the updated data from the 
 specified Asset and displays a summary of the data import.</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;"><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; font-weight: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-align: start; text-indent: 0px; 
	 text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; 
	 -webkit-text-stroke-width: 0px;">Following figure shows an example 
 summary of the data imported into the system.</span></p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 font-family: Arial; font-variant: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-align: start; text-indent: 0px; 
	 text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; 
	 -webkit-text-stroke-width: 0px; color: #ff0000; font-weight: bold; 
	 font-style: italic;"><img src="Images/Synchronize_Data.png" alt="" style=" border:none; width:100%; max-width:592px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h3><a name="Viewing_Account_Details" id="Viewing_Account_Details"></a>Viewing 
 Account Details</h3>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">You 
 can view detailed information of user Accounts in the system. To view 
 the details, click the user name (<span style="font-weight: bold;">Example</span><span 
	 class="Apple-converted-space">&#160;</span>-<span class="Apple-converted-space">&#160;</span><span 
	 class="green">Bennett, Louis)</span><span class="Apple-converted-space">&#160;</span>displayed 
 in the<span class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">User</span><span 
	 class="Apple-converted-space">&#160;</span>column. The<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">User</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Details</span><span class="Apple-converted-space">&#160;</span>page 
 appears. </p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">Following 
 figure shows an example<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">User</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Details</span><span class="Apple-converted-space">&#160;</span>page.</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 font-family: Arial; font-variant: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-align: start; text-indent: 0px; 
	 text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; 
	 -webkit-text-stroke-width: 0px; color: #ff0000; font-weight: bold; 
	 font-style: italic;"><img src="Images/UserAccountDetails.png" alt="" style=" border:none; width:100%; max-width:822px;" border="0" /></p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">The<span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">User 
 Details</span><span class="Apple-converted-space">&#160;</span>page has 
 the following two tabs:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_Accounts_in_Assets">Assets</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_Activity_History">Activity 
 History</a></p>
 <h4><a name="Viewing_Accounts_in_Assets" id="Viewing_Accounts_in_Assets"></a>Accounts 
 in Assets</h4>
 <p>Applications integrated with the portal for password management are 
 termed as <span style="font-weight: bold;">Assets</span> in the portal.</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">When 
 the<span class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">User</span><span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Details</span><span 
	 class="Apple-converted-space">&#160;</span>page opens, by default<span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Asset</span><span 
	 class="Apple-converted-space">&#160;</span>tab is selected. The tab 
 lists all Assets in which the user has an Account and the number of days 
 in which the Account password expires for the Accounts. The icons next 
 to the Account Id, indicate the status of the Account. Move the cursor 
 on the icon to view the Account status. &#160;</p>
 <h4><a name="Viewing_Activity_History" id="Viewing_Activity_History"></a>User-specific 
 Activity History</h4>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">Tuebora 
 Pass maintains a record of the password management activities performed 
 in the system. The<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Activity</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">History</span><span class="Apple-converted-space">&#160;</span>feature 
 of the portal enables you to search and view activity records of a user 
 over a period of time. The feature also allows you to filter and view 
 records, based on a specified criteria. The portal provides the<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Search</span><span class="Apple-converted-space">&#160;</span>and<span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Limit 
 To</span><span class="Apple-converted-space">&#160;</span>functionality 
 to narrow down results.</p>
 <h5>Searching User-specific Activity History</h5>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">The<span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Activity</span><span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">History</span><span 
	 class="Apple-converted-space">&#160;</span>tab lists all the password 
 management activities performed in the system. At times, it may be difficult 
 to browse through all records to find the activity details you require. 
 The portal provides the functionality to search for required password 
 management activities in the system. The page has a<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Search</span><span class="Apple-converted-space">&#160;</span>box, 
 where you can provide the search criteria. When a valid search criteria 
 is provided, the page refreshes to display only those activities matching 
 the search criteria. You can also choose to search activities performed 
 in a specific time period.</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; 
	 text-indent: 0px; text-transform: none; white-space: normal; widows: 1; 
	 word-spacing: 0px; -webkit-text-stroke-width: 0px; font-weight: bold;">Example</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">You 
 want to view all the password management activities performed for the 
 Active Directory Account in the last 24 hours. To view the activity records, 
 type<span class="Apple-converted-space">&#160;&#160;</span><span class="Apple-converted-space" 
	 style="font-weight: bold;">Corporate</span><span class="Apple-converted-space"> 
 </span><span style="font-weight: bold;">Active Directory</span><span class="Apple-converted-space">&#160;</span>in 
 the<span class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Search</span><span 
	 class="Apple-converted-space">&#160;</span>box and select <span style="font-weight: bold;">Activities 
 in last 24 Hours</span><span class="Apple-converted-space">&#160;</span>from 
 the<span class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Limit 
 To</span><span class="Apple-converted-space">&#160;</span>drop-down list. 
 The page refreshes to show all the activities performed for Active Directory 
 Account in the last 24 hours.</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; 
	 text-indent: 0px; text-transform: none; white-space: normal; widows: 1; 
	 word-spacing: 0px; -webkit-text-stroke-width: 0px; font-weight: bold;">Options 
 to Filter Records</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">The 
 supported options to filter Activity History records are as follows:</p>
 <p style="line-height: normal; 
	 orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; margin-left: 100px; 
	 text-indent: -20px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>All Activities</p>
 <p style="line-height: normal; 
	 orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; margin-left: 100px; 
	 text-indent: -20px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Activities 
 in last 24 Hours</p>
 <p style="line-height: normal; 
	 orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; margin-left: 100px; 
	 text-indent: -20px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Activities 
 in last 1 Week</p>
 <p style="line-height: normal; 
	 orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; margin-left: 100px; 
	 text-indent: -20px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Activities 
 in last 15 Days</p>
 <p style="line-height: normal; 
	 orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; margin-left: 100px; 
	 text-indent: -20px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Activities 
 in last 30 Days</p>
 <p style="line-height: normal; 
	 orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; margin-left: 100px; 
	 text-indent: -20px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Activities 
 in last 60 Days</p>
 <p style="line-height: normal; 
	 orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; margin-left: 100px; 
	 text-indent: -20px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Activities 
 beyond 60 Days</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; 
	 text-indent: 0px; text-transform: none; white-space: normal; widows: 1; 
	 word-spacing: 0px; -webkit-text-stroke-width: 0px; font-weight: bold;">Example</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">As 
 a Service Desk user, you want to filter activities performed by Bentley 
 Brush in last 30 days for the Corporate Active Directory Account. In the<span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Search</span><span 
	 class="Apple-converted-space">&#160;</span>box, provide the search 
 criteria<span class="Apple-converted-space">&#160;</span><span class="Apple-converted-space" 
	 style="font-weight: bold;">Corporate </span><span style="font-weight: bold;">Active 
 Directory</span>, select <span style="font-weight: bold;">Activities in 
 last 30 Days</span><span class="Apple-converted-space">&#160;</span>from 
 the<span class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Limit 
 To</span><span class="Apple-converted-space">&#160;</span>drop-down list 
 and click<span class="Apple-converted-space">&#160;</span><img src="Images/Icon_Search.png" alt="" style=" border:none; width:100%; max-width:17px;" border="0" />.</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">Click 
 the<span class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Activity</span><span 
	 class="Apple-converted-space">&#160;</span>or<span class="Apple-converted-space">&#160;<img src="Images/Icon_Expand.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" />&#160;</span>to 
 view the list of activities. </p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;"><img src="Images/User_AH.png" alt="" style=" border:none; width:100%; max-width:780px;" border="0" /></p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">Click<span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Details</span><span 
	 class="Apple-converted-space">&#160;</span>corresponding to the Activity 
 for which you want to view the details. The<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Activity</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Details</span><span class="Apple-converted-space">&#160;</span>subwindow 
 opens. After viewing the details, click<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Close</span><span class="Apple-converted-space">&#160;</span>to 
 exit the subwindow.</p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
