
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>iPass_User Guide - Enroll in Password Reset and Synchronization Tool</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "0_4";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>iPass_User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="56">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>User Enrollment</h1>
     <p>The system sends Tuebora Pass Portal Enrollment emails to users in the 
 system to enroll in the portal.</p>
     <p>To start accessing the product features, you must enroll in the Tuebora 
 Pass portal. <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Enrollment</span> 
 is the process of users logging in to the portal and fulfilling the defined 
 enrollment criteria. </p>
     <p>When you log in to Tuebora Pass for the first time, system may prompt 
 you to change the default password, depending on the configuration. This 
 enhances your secured access to the portal and also synchronizes the newly 
 set password to other integrated Assets, if password synchronization is 
 configured. Also, system may display the <a href="Getting_Started.htm#Multi_Factor_Authentication">MFA 
 options</a>, if configured for activities in the portal. </p>
     <h4>Login Credentials</h4>
     <p style="color: #000000;">To log in, use the credentials received in the 
 <span style="font-weight: bold;">Portal Enrollment </span>email you received 
 from the portal. Tuebora Pass authenticates users on each login. </p>
     <p style="color: #000000;">In your organizational environment, if users 
 are authenticated by Tuebora Pass, <span style="font-weight: bold;">Login</span> 
 <span style="font-weight: bold;">Credentials</span> are provided in the 
 Portal Account Created email. Use the login credentials to log in to the 
 portal.</p>
     <p>Following figure shows an example Portal Enrollment email sent to users.<br />
<br />
<img src="Images/AccountCreatedEmail.png" alt="" style=" border:none; width:100%; max-width:737px;" border="0" /></p>
     <h5>Login Credentials When Portal Authentication is Delegated</h5>
     <p>For ease of using the same login credentials across Assets, organizations 
 use common Microsoft Active Directory or LDAP credentials to log in to 
 all applications. If an external Asset is used for authenticating users' 
 portal login, then users must use the login credentials of the specified 
 Asset to log in to the portal. This method of authentication is known 
 as <span style="font-weight: bold;">Delegated</span> <span style="font-weight: bold;">Authentication</span>.</p>
     <p>In case of delegated authentication, the email sent to users for enrollment 
 in the portal contains information about portal authentication delegated 
 to an external authentication application. You must use the login credentials 
 of the authentication application to log in to the portal. <br />
<br style="page-break-before: always;" />
<br />
Following figure shows an example Portal Enrollment email sent to users, 
 when the users' portal login is authenticated by an external authentication 
 application.<br />
<br />
<img src="Images/AccountCreatedEmail_External_Authentication.png" alt="" style=" border:none; width:100%; max-width:701px;" border="0" /></p>
     <h4>Flow of Operations</h4>
     <p>Following figure shows an example flow of operations for User Enrollment 
 in Tuebora Pass.</p>
     <p><img src="Images/EnrolmentSteps.png" alt="" style=" border:none; width:100%; max-width:483px;" border="0" /></p>
     <h3><a name="Google_Authenticator_Registration"></a>Google Authenticator 
 Registration</h3>
     <p>Tuebora Pass supports Google Authenticator as an option for MFA for 
 password management activities. </p>
     <h4 style="margin-top: 6pt; margin-bottom: 6pt;"><span style="font-size: 10pt;">Prerequisites</span></h4>
     <p>Prerequisites to register in Google Authenticator Application are as 
 follows: </p>
     <ul style="list-style: disc;">
	<li>
 <p class="list">Install the Google Authenticator Application on 
	 your smartphone, if it is not installed. </p></li>
	<li>
 <p class="list">Install the bar code scanner application on your 
	 smartphone, if you want to scan the bar code displayed on your computer 
	 screen. </p></li>
</ul>
<p>You can register in Google Authenticator using the displayed <span style="font-weight: bold;">Key</span> 
 or <span style="font-weight: bold;">QR Code</span>.</p>
<br style="page-break-before: always;" />

<h4><a name="Enrolling_in_the_Google_Authenticator_Application"></a>Registering 
 in Google Authenticator Application</h4>
<p>To enroll in the portal by registering the Google Key, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the URL to access 
 Tuebora Pass, in the address bar of a supported web browser.<br />
<br />
<span style="font-weight: bold;">Tuebora Pass </span>Portal opens in the 
 web browser and displays the <span style="font-weight: bold;">Login</span> 
 page.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 user name in the <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Name</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 password in the <span style="font-weight: bold;">Password</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to <span style="font-weight: bold;">Remember 
 my User Name</span> if you want the system to remember your user name.<br />
<br />
If this check box is selected, from the next login onwards, you need not 
 type in the user name. System automatically fills the user name.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Sign</span> <span style="font-weight: bold;">in</span>. 
 The <span style="font-weight: bold;">Welcome to the Password Self-Service 
 Portal</span> page appears. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Scroll 
 to the <span style="font-weight: bold;">Google Authenticator</span> section.<br />
<br />
<img src="Images/GoogleAuthenticator.png" alt="" style=" border:none; width:100%; max-width:545px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To register, 
 perform either of the following:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Key</span>: To 
	 register using Key, select <span style="font-weight: bold;">Setup 
	 Account &gt; Enter Key</span> provided in the Google Authenticator 
	 application on your smartphone. The <span style="font-weight: bold;">Manual 
	 account entry</span> screen opens. Specify the following details:</p></li>
</ul>
<p class="list" style="text-indent: -20px; 
											 margin-left: 108px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 a name to identify the Account in the <span style="font-weight: bold;">Specify 
 account name</span> field. </p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 108px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log in 
 to Tuebora Pass and type the 16-digit key displayed on the Tuebora Pass 
 welcome page, in the <span style="font-weight: bold;">Enter your key</span> 
 field. </p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 108px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click/tap 
 <span style="font-weight: bold;">Add</span> to add the account.</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">QR Code</span>: 
	 To register using QR Code, select <span style="font-weight: bold;">Setup 
	 Account &gt; Scan a barcode</span> in the Google Authenticator application 
	 on your smartphone. Barcode Scanner opens. Scan the bar code displayed 
	 on your computer screen.<span style="text-indent: -20px;"><br />
	<br />
	Following figure shows an example bar code scanned from Tuebora Pass 
	 enrollment page.<br />
	<br />
	<img src="Images/Barcode_ScannedinSmartphone.png" alt="" style=" border:none; width:100%; max-width:734px;" border="0" /></span></p></li>
</ul>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>After 
 registering, type the QR code displayed in your Google Authenticator application, 
 in the <span style="font-weight: bold;">Please enter generated code to 
 verify</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Complete 
 the enrollment or password management activity. </p>
<h2><a name="Enroling_in_the_Portal" id="Enroling_in_the_Portal"></a>Enrolling 
 in the Portal</h2>
<p>To start accessing the product features, you must enroll in the Tuebora 
 Pass portal. Only after enrollment, users can perform the required password 
 management activities in the integrated Assets.</p>
<p>Supported enrollment scenarios are as follows: </p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Scenario_1">Scenario 1</a> - Users must 
	 provide responses to all MFA options presented.</p></li>
	<li>
 <p class="list"><a href="#Scenario_2">Scenario 2</a> - Users can 
	 skip some MFA options presented.</p></li>
</ul>
<h4><a name="Scenario_1"></a>Scenario 1 - Answering ALL MFA Options Presented</h4>
<p>To enroll in the portal by providing responses to all MFA options presented, 
 perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 URL to access Tuebora Pass, in the address bar of a supported web browser.<br />
<br />
Tuebora Pass<span style="font-weight: bold;"> </span>Portal opens in the 
 web browser and displays the <span style="font-weight: bold;">Login</span> 
 page. <br />
<br />
<span style="font-weight: bold; font-style: italic; color: #ff0000;"><img src="Images/LoginPage.png" alt="" style=" border:none; width:100%; max-width:477px;" border="0" /></span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 user name in the <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Name</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 password in the <span style="font-weight: bold;">Password</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to <span style="font-weight: bold;">Remember 
 my User Name</span> if you want the system to remember your user name.<br />
<br />
If this check box is selected, from the next login onwards, you need not 
 type in the user name. System automatically fills the user name.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Sign</span> <span style="font-weight: bold;">in</span>. 
 The <span style="font-weight: bold;">Welcome to the Tuebora Pass</span><span 
	 style="font-weight: bold; color: #ff0000;"> </span><span style="font-weight: bold;">Portal</span> 
 page appears.<span style="color: #ff0000;"> </span><br />
<br />
<span style="font-weight: bold; font-style: italic; color: #ff0000;"><img src="Images/EnrolAND.png" alt="" style=" border:none; width:100%; max-width:860px;" border="0" /></span><br />
In the preceding example, user must mandatorily provide responses for the 
 <span style="font-weight: bold;">Email</span> <span style="font-weight: bold;">OTP</span> 
 and <span style="font-weight: bold;">Challenge Questions</span> sections.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Provide 
 responses to all the MFA options presented.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Change 
 your account password in the <span style="font-weight: bold;">Reset Password</span> 
 section:</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 94px;">
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="font-weight: bold;">Reset Password</span> section 
		 is displayed in the following scenarios:</p>
		<ul style="list-style: disc;">
			<li>
   <p class="TableText">Users are authenticated by Tuebora 
			 Pass.</p></li>
			<li>
   <p class="TableText">Tuebora Pass authentication is delegated 
			 (Example - Active Directory/LDAP) and the authentication application 
			 mandates users to change passwords at next logon.</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style="text-indent: -20px; 
											 margin-left: 80px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type a 
 new password in the <span style="font-weight: bold;">New</span> <span 
	 style="font-weight: bold;">Password</span> field.<br />
Ensure that the password meets the password requirements.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 80px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Retype 
 the new password in the <span style="font-weight: bold;">Confirm</span> 
 <span style="font-weight: bold;">New</span> <span style="font-weight: bold;">Password</span> 
 field.</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The system shows a suggested password in the <span style="font-weight: bold;">Recommended</span> 
		 <span style="font-weight: bold;">Password</span> field. If you 
		 wish to use the system-recommended password, select the check 
		 box corresponding to <span style="font-weight: bold;">Use Recommended 
		 </span>field. System automatically fills the displayed password 
		 in the New Password and Confirm New Password fields. To use a 
		 new system-recommended password than the one displayed, click 
		 <img src="Images/Icon_Refresh.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" />.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Click <img src="Images/Icon_ShowCharacter.png" alt="" style=" border:none; width:100%; max-width:28px;" border="0" /> 
		 (Show Characters) icon available in New Password and Confirm New 
		 Password fields, to view the hidden passwords. Click <img src="Images/Icon_HideCharacters.png" alt="" style=" border:none; width:100%; max-width:26px;" border="0" /> (Hide Characters) icon 
		 to hide the characters in the password fields.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Finish </span>after specifying the new 
 password and confirming it.<br />
The <span style="font-weight: bold;">Home </span>page appears and shows 
 the password synchronization status for your Accounts in different Assets 
 integrated with Tuebora Pass. </p>
 <h4><a name="Scenario_2"></a>Scenario 2 - Answering only SOME MFA Options 
 Presented</h4>
 <p>An Tuebora Pass Administrator can configure the system to present only 
 some MFA options during a password reset or unlock Account activity. In 
 such scenarios, users need to provide responses to only specified number 
 of MFA options, as specified on the UI.</p>
 <p>To enroll in the portal by providing responses to some MFA options presented, 
 perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 URL to access Tuebora Pass, in the address bar of a supported web browser.<br />
<br />
Tuebora Pass<span style="font-weight: bold;"> </span>Portal opens in the 
 web browser and displays the <span style="font-weight: bold;">Login</span> 
 page. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 user name in the <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Name</span> 
 field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 password in the <span style="font-weight: bold;">Password</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to <span style="font-weight: bold;">Remember 
 my User Name</span> if you want the system to remember your user name.<br />
<br />
If this check box is selected, from the next login onwards, you need not 
 type in the user name. System automatically fills the user name.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Sign</span> <span style="font-weight: bold;">in</span>. 
 The <span style="font-weight: bold;">Welcome to the Tuebora Pass Portal</span> 
 page appears.<span style="color: #ff0000;"> </span><br />
<br />
<span style="font-weight: bold; font-style: italic; color: #ff0000;"><img src="Images/EnrolOR.png" alt="" style=" border:none; width:100%; max-width:634px;" border="0" /></span><br />
<br />
In the preceding example, user must provide responses for Email OTP or 
 SMS OTP.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Provide 
 responses to required MFA options.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Change 
 your account password in the <span style="font-weight: bold;">Reset Password</span> 
 section:</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 94px;">
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="font-weight: bold;">Reset Password</span> section 
		 is displayed in the following scenarios:</p>
		<ul style="list-style: disc;">
			<li>
   <p class="TableText">Users are authenticated by Tuebora 
			 Pass.</p></li>
			<li>
   <p class="TableText">Tuebora Pass authentication is delegated 
			 (<span style="font-weight: bold;">Example</span> - Active 
			 Directory/LDAP) and the authentication application mandates 
			 users to change passwords at next logon.</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style="text-indent: -20px; 
											 margin-left: 80px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type a 
 new password in the <span style="font-weight: bold;">New</span> <span 
	 style="font-weight: bold;">Password</span> field.<br />
Ensure that the password meets the password requirements.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 80px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Retype 
 the new password in the <span style="font-weight: bold;">Confirm</span> 
 <span style="font-weight: bold;">New</span> <span style="font-weight: bold;">Password</span> 
 field.</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The system shows a suggested password in the <span style="font-weight: bold;">Recommended</span> 
		 <span style="font-weight: bold;">Password</span> field. If you 
		 wish to use the system-recommended password, select the check 
		 box corresponding to <span style="font-weight: bold;">Use Recommended 
		 </span>field. System automatically fills the displayed password 
		 in the New Password and Confirm New Password fields. To use a 
		 new system-recommended password than the one displayed, click 
		 <img src="Images/Icon_Refresh.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" />.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Click <img src="Images/Icon_ShowCharacter.png" alt="" style=" border:none; width:100%; max-width:28px;" border="0" /> 
		 (Show Characters) icon available in<span style="font-weight: bold;"> 
		 New Password</span> and <span style="font-weight: bold;">Confirm 
		 New Password</span> fields, to view the hidden passwords. Click 
		 <img src="Images/Icon_HideCharacters.png" alt="" style=" border:none; width:100%; max-width:26px;" border="0" /> (Hide Characters) icon to hide the characters 
		 in the password fields.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Finish </span>after specifying the new 
 password and confirming it.<br />
The <span style="font-weight: bold;">Home </span>page appears and shows 
 the password synchronization status for your Accounts in different Assets 
 integrated with Tuebora Pass. </p>
 <h4>Email Notifications</h4>
 <p style="color: #000000;">After the user is successfully enrolled in Tuebora 
 Pass, system sends an email to the user stating that the enrollment is 
 completed. <br />
<br />
Following figure shows an example email sent for successful enrollment 
 by resetting the password.</p>
 <p style="font-weight: bold; font-style: italic; color: #000000;"><img src="Images/Enrolment_Completed_mail.png" alt="" style=" border:none; width:100%; max-width:460px;" border="0" /></p>
<br style="page-break-before: always;" />

 <p style="color: #000000; font-style: normal; font-weight: normal;">Following 
 figure shows an example email sent for successful enrollment without resetting 
 the password.</p>
 <p style="color: #000000; font-style: normal; font-weight: normal;"><img src="Images/Enrollmentcompleted_withoutresettingpassword.png" alt="" style=" border:none; width:100%; max-width:615px;" border="0" /></p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
