
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>iPass_User Guide - Getting Started</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "0_2";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>iPass_User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="80">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Getting Started</h1>
     <p>Users can log in to <span style="font-size: 13.3333px; float: none; 
							 display: inline	 ! important ; background-color: #ffffff;">Tuebora 
 Pass </span>when they get an enrollment email from the system. For more 
 information, see <a href="Enroll_in_Password_Reset_and_Synchronization_Tool.htm">User 
 Enrollment</a>.</p>
     <p>This chapter details the following:</p>
     <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Accessing_the_Portal">Accessing <span 
	 style="font-size: 13.3333px; float: none; display: inline	 ! important ; 
	 background-color: #ffffff;">Tuebora Pass User Interface</span></a></p></li>
	<li>
 <p class="list"><a href="#Portal_Overview"><span style="font-size: 13.3333px; 
														 float: none; display: inline	 ! important ; 
														 background-color: #ffffff;">Tuebora 
	 Pass</span> Portal Overview</a></p></li>
</ul>
<h2><a name="Accessing_the_Portal" id="Accessing_the_Portal"></a>Accessing 
 Tuebora Pass</h2>
<p><span style="font-size: 13.3333px; float: none; display: inline	 ! important ; 
		 background-color: #ffffff;">Tuebora Pass is a web-based product 
 and y</span>ou can access the <span style="font-size: 13.3333px; float: none; 
									 display: inline	 ! important ; 
									 background-color: #ffffff;">User Interface 
 (UI) </span>from a web browser. <span style="line-height: normal; orphans: auto; 
										 widows: 1; -webkit-text-stroke-width: 0px;">Supported 
 web browsers are as follows:</span></p>
<ul style="margin-bottom: 0px; font-family: Arial; font-size: 11pt; margin-top: 12px; 
		 list-style: disc; margin-left: 73px; color: #000000; font-style: normal; 
		 font-variant: normal; font-weight: normal; letter-spacing: normal; 
		 line-height: normal; orphans: auto; text-align: start; text-indent: 0px; 
		 text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; 
		 -webkit-text-stroke-width: 0px;">
	<li class="Unordered" style="font-size: 10pt; margin-left: 1px; list-style: disc;">
 <p 
		 class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Internet 
	 Explorer (9 and above)</p></li>
	<li class="Unordered" style="font-size: 10pt; margin-left: 1px; list-style: disc;">
 <p 
		 class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Mozilla 
	 Firefox (40 and above)</p></li>
	<li class="Unordered" style="font-size: 10pt; margin-left: 1px; list-style: disc;">
 <p 
		 class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Google 
	 Chrome (16 and above)</p></li>
	<li class="Unordered" style="font-size: 10pt; margin-left: 1px; list-style: disc;">
 <p 
		 class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Safari 
	 (5 and above)</p></li>
</ul>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 Java script must be enabled on the web browser to use all the 
		 product features.</p></td>
	</tr>
 </table>
 <h3>Logging In</h3>
 <p>To log in to Tuebora Pass, use the URL provided in the User Enrollment 
 email you receive. For steps on how to enroll in the system, see <a href="Enroll_in_Password_Reset_and_Synchronization_Tool.htm">User 
 Enrollment</a>.</p>
 <p>For subsequent login, provide your User Name and updated Password.</p>
 <h3>Password Management from Login Page</h3>
 <p>Tuebora Pass provides the functionality to reset a forgotten password 
 from the <span style="font-weight: bold;">Login</span> page. If you forget 
 your Account password to login to Tuebora Pass, you can use the <span 
	 style="font-weight: bold;">Forgot Password</span><span style="font-weight: bold; 
															 color: #ff0000;"> 
 </span>link, from the <span style="font-weight: bold;">Login</span> page, 
 to reset the password.</p>
 <p>For more information, see <a href="Password_Change.htm#Resetting_a_Forgotten_Password">Resetting 
 a Forgotten Password</a>.</p>
 <h3>Unlock Account from Login Page</h3>
 <p style="color: Transparent;">Your Tuebora Pass portal account gets locked 
 if you cannot provide the correct account password for a predefined number 
 of login attempts. This is to secure your account from any unwanted users 
 accessing it. You can use the <span style="font-weight: bold;">Unlock</span> 
 <span style="font-weight: bold;">Account</span> feature, from the <span 
	 style="font-weight: bold;">Login</span> page, to unlock the Account. 
 For more information, see <a href="Unlock_Account.htm#Unlocking_Account_from_Portal_Login_page">Unlocking 
 Account from Portal Login page</a>. </p>
<br style="page-break-before: always;" />

 <h3 style="margin-top: 8pt; margin-bottom: 8pt;">Captcha for Secure Login 
 and Reset Forgot Password/Unlock Account</h3>
 <p>Tuebora Pass supports Google reCAPTCHA to protect the portal from spam 
 and attacks from bots, when the portal is exposed to Internet. In Tuebora 
 Pass, the Administrator can enable Captcha and configure a specific group 
 of IP addresses for which Captcha is not displayed. </p>
 <p>In some Tuebora Pass deployment scenarios, you may need to attest yourself 
 as human using Captcha, if it is configured by your Administrator. Captcha 
 is displayed after a specific number of failed log in attempts or when 
 you try to reset the forgotten password/unlocks the account using the 
 <span style="font-style: italic;">Forgot Password/Locked Account</span> 
 link on the Login page. </p>
 <p>For example, an Tuebora Pass administrator has enabled Captcha and configured 
 to display it after 2 failed attempts. In this scenario, after 2 failed 
 attempts while logging in to the portal or resetting the forgotten password/unlocking 
 the Account from Login page Captcha is displayed to the user to confirm 
 as human. </p>
 <h4>Captcha Login Authentication</h4>
 <p><span style="font-weight: bold;">Scenario</span> - User entered credentials 
 incorrectly for TWO times during portal login and by using the Captcha 
 was able to login with correct credentials. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 URL to access Tuebora Pass, in the address bar of a supported web browser.<br />
<br />
<span style="font-weight: bold;">Tuebora Pass </span>Portal opens in the 
 web browser and displays the <span style="font-weight: bold;">Login</span> 
 page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 <span style="font-weight: bold;">User Name</span> and <span style="font-weight: bold;">Password</span>.<br />
<br />
The user name or password specified is wrong, system shows the message 
 <span style="font-weight: bold;">Invalid User Name or Password</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 correct <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Name</span> 
 and <span style="font-weight: bold;">Password</span> again.<br />
<br />
If the login credential specified are incorrect, system shows Captcha for 
 your authentication.<br />
<br />
<br style="page-break-before: always;" />
Following figure shows Captcha displayed on Login page.<br />
<br />
<img src="Images/Portallogin_Captcha.png" alt="" style=" border:none; width:100%; max-width:447px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 correct login credentials and select <span style="font-weight: bold;">I'm 
 not a robot</span>.<br />
Captcha validates the user and if it is successful, it shows success response. 
 <br />
<br />
Sometimes, if Captcha can't associate the activities on login page as human-like 
 activity, then it prompts for image verification.<br />
<br />
<br style="page-break-before: always;" />
Following is an example Captcha image verification pop-up.<br />
<br />
<img src="Images/recaptcha_imageverification.png" alt="" style=" border:none; width:100%; max-width:493px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the appropriate images and click <span style="font-weight: bold;">VERIFY</span>.<br />
Captcha validates the user and if it is successful, it shows success response.<br />
<br />
<img src="Images/SuccessResponse.png" alt="" style=" border:none; width:100%; max-width:318px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Sign in</span>. The Home page appears.<br />
<br />
If you have failed to log in to Tuebora Pass portal after multiple attempts, 
 you must use the Forgot Password link on the Login page to reset the forgotten 
 password. For more information, see <a href="Password_Change.htm#Resetting_a_Forgotten_Password">Resetting 
 a Forgotten Password</a>.</p>
<br style="page-break-before: always;" />

 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Multi_Factor_Authentication"></a>Multi 
 Factor Authentication</h3>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">Multi 
 Factor Authentication (MFA) is an enhanced security system where a user 
 must authenticate in multiple ways to prove the user identity. For example, 
 to reset a forgotten password, a user must answer the challenge questions 
 presented as well as provide the One Time Password (OTP) generated and 
 sent to the user's registered email address. This reduces chances of Accounts 
 getting hacked.</p>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">Tuebora 
 Pass provides four MFA options. Organizations can choose the required 
 options for the corresponding operations (Reset Password and Unlock Account. 
 The provided options are as follows:</p>
 <p style="line-height: normal; 
											 orphans: auto; widows: 1; 
											 -webkit-text-stroke-width: 0px; 
											 text-indent: -20px; margin-left: 100px; 
											 margin-top: 4px; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Challenge_Questions">Challenge Questions</a></p>
 <p style="line-height: normal; 
											 orphans: auto; widows: 1; 
											 -webkit-text-stroke-width: 0px; 
											 text-indent: -20px; margin-left: 100px; 
											 margin-top: 4px; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Google_Key">Google Key</a></p>
 <p style="line-height: normal; 
											 orphans: auto; widows: 1; 
											 -webkit-text-stroke-width: 0px; 
											 text-indent: -20px; margin-left: 100px; 
											 margin-top: 4px; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#OTP">Email OTP</a></p>
 <p style="line-height: normal; 
											 orphans: auto; widows: 1; 
											 -webkit-text-stroke-width: 0px; 
											 text-indent: -20px; margin-left: 100px; 
											 margin-top: 4px; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#OTP">SMS OTP</a></p>
 <h4 style="margin-top: 6pt; margin-bottom: 6pt;"><a name="Challenge_Questions"></a>Challenge 
 Questions</h4>
 <p>Challenge Questions enhance your secured access to the portal Account. 
 It is mandatory to set answers for the Challenge Questions during enrollment, 
 as these are required to retrieve your Account password, if you forget 
 it.</p>
 <h4 style="margin-top: 6pt; margin-bottom: 6pt;"><a name="Google_Key"></a>Google 
 Key</h4>
 <p>Google Key authentication is a method to secure your access to the portal 
 Account. Google Key application must be downloaded on your smartphone 
 and registered with the portal Account. While performing password management 
 activities, you may need to provide the application-generated key in the 
 system to verify your identity. The system proceeds with the activity 
 only if the keys match. For more information on registering with Google 
 Authenticator, see <a href="Enroll_in_Password_Reset_and_Synchronization_Tool.htm#Google_Authenticator_Registration">Google 
 Authenticator Registration</a>.</p>
 <h4 style="margin-top: 6pt; margin-bottom: 6pt;"><a name="OTP"></a>OTP</h4>
 <p>One Time Password is a unique code sent to your registered email address/mobile 
 when you are performing password management activities. This code helps 
 to validate your identity in the system to complete the activity being 
 performed. You can select the email address/mobile number to which the 
 OTP must be sent, if you have provided multiple addresses/numbers.</p>
 <p><img src="Images/OTP.png" alt="" style=" border:none; width:100%; max-width:454px;" border="0" /></p>
 <p>If you do not receive an OTP, click <span style="font-weight: bold;">Didn't 
 get the code?</span> and system sends you the OTP.</p>
<br style="page-break-before: always;" />

 <h2><a name="Portal_Overview" id="Portal_Overview"></a>Tuebora Pass UI 
 Overview</h2>
 <p>Following figure shows an overview of the home page for an End User 
 login.</p>
 <p><img src="Images/HomePage.png" alt="" style=" border:none; width:100%; max-width:992px;" border="0" /></p>
 <p>Following table lists the tabs and features on Tuebora Pass home page. 
 </p>
 <table style="border: Solid 1px #000000; left: 0px; top: 293px; margin-left: 24px;" 
		 cellspacing="0">
	<col width="175" />
	<col width="646" />
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold; margin-top: 3pt; 
									 margin-bottom: 3pt;">Tab/Feature</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Description</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="Activity_History.htm">My Activities</a></p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Click 
		 to view the password management activities performed by you, in 
		 Tuebora Pass.</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="Profile_Management.htm">My Profile</a> 
		 (<img src="Images/Icon_Profile.png" alt="" style=" border:none; width:100%; max-width:28px;" border="0" />)</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Click 
		 to view your profile details, set language preferences, and update 
		 responses to the challenge questions, email ID, or mobile number 
		 provided during enrollment.</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">Logout 
		 (<img src="Images/Icon_Logout.png" alt="" style=" border:none; width:100%; max-width:28px;" border="0" />)</p></td>
		<td>
  <p class="TableText">Click to logout from Tuebora Pass.</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
