
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>iPass_User Guide - Home page</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "0_5";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>iPass_User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="104">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Home Page</h1>
     <p style="color: #000000;">Tuebora Pass<span style="font-weight: bold;"> 
 Home</span> page is the first page that appears after the enrollment to 
 the portal is complete. Also, if you perform any password management activities 
 from the portal, system redirects you to the Home page. In this page, 
 you can view the current Password Management status across all Assets 
 to which the password is synchronized. </p>
     <p style="color: #ff0000;"><span style="color: #000000;">Following figure 
 shows an example Home page displayed for an End User.</span> </p>
     <p style="font-weight: bold; font-style: italic; color: #000000;"><img src="Images/HomePage.png" alt="" style=" border:none; width:100%; max-width:992px;" border="0" /></p>
     <table class="Note" style="margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 57px;">
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 If Tuebora Pass authentication is delegated to an external application 
		 (<span style="font-weight: bold;">Example</span> - Active Directory) 
		 and Password Synchronization Rule is defined to synchronize the 
		 Active Directory password to other integrated applications (<span 
		 style="font-weight: bold;">Example</span> - Okta, SalesForce, 
		 or Google Apps), then system updates passwords of the specified 
		 Assets to the password that you provided to log in to the portal 
		 or specified during enrollment. </p></td>
	</tr>
 </table>
 <p>From Home page, you can view the following details:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">Locked Accounts, if any</p></li>
	<li>
 <p class="list">Accounts for which passwords are expiring soon</p></li>
	<li>
 <p class="list">Names of All Assets for which password synchronization 
	 is configured in the portal</p></li>
	<li style="color: #000000;">
 <p class="list">Password Synchronization 
	 Status - <span style="font-weight: bold;">Completed</span> <span style="font-size: 14pt;">(</span><img src="Icon_Completed.png" alt="" style=" border:none; width:100%; max-width:21px;" border="0" /><span 
	 style="font-size: 14pt;">)</span> /<span style="font-weight: bold;">Pending</span> 
	 <span style="font-size: 14pt;">(<img src="Images/Icon_InProgress.png" alt="" style=" border:none; width:100%; max-width:17px;" border="0" />)</span></p></li>
	<li style="color: #000000;">
 <p class="list">Last Login date and time 
	 for all Assets</p></li>
	<li style="color: #000000;">
 <p class="list">Password expiration date 
	 and time</p></li>
	<li style="color: #000000;">
 <p class="list">Date and time stamp for 
	 password last changed</p></li>
	<li style="color: #000000;">
 <p class="list">Date and time stamp for 
	 password last synchronized</p></li>
</ul>
<br style="page-break-before: always;" />

<h3><a name="Notifications"></a>Notifications</h3>
<p>The page notifies you of Locked Accounts and Password Expiration. </p>
<h5><a name="Locked_Accounts"></a>Locked Accounts</h5>
<p>If there are Locked Accounts, it lists the Accounts that are locked 
 and you can Unlock it from the notification. For more information, see 
 <a href="Unlock_Account.htm">Unlock Account</a>.</p>
<p>Following figure shows an example notification for a Locked Account.</p>
<p><img src="Images/HomePage_Unlock.png" alt="" style=" border:none; width:100%; max-width:463px;" border="0" /></p>
<h5><a name="Password_Expiration"></a>Password Expiration</h5>
<p>If any Accounts passwords are to expire in the next 15 days, system 
 shows a notification. For more information on resetting password, see 
 <a href="Password_Change.htm#Changing_Password">Changing Password</a>.</p>
<p>Following figure shows an example notification for password expiration.</p>
<p><img src="Images/HomePage_Password.png" alt="" style=" border:none; width:100%; max-width:840px;" border="0" /></p>
<h3>Refreshing Account Status</h3>
<p>Tuebora Pass shows the password management status, based on the activities 
 performed in the portal. For your Account in an Asset, if the password 
 change is already synchronized but the portal does not show the updated 
 status, you can refresh the Account status. </p>
<p>To refresh an Account, click <img src="Images/Icon_Refresh_Homepage.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> 
 corresponding to the Account band. The <span style="font-weight: bold;">Account 
 Refresh for - &lt;User Account ID&gt;</span> subwindow opens and system 
 performs Account refresh. If Account refresh fails, system shows the status 
 as Failed in the subwindow. Click <span style="font-weight: bold;">Close</span> 
 to close the subwindow. After successful Account refresh subwindow is 
 closed automatically.</p>
<p>To refresh all Accounts at once, click <span style="font-weight: bold;">Refresh 
 All Accounts</span><span>. </span></p>
<p>If the Account refresh is successful, you can view the updated status 
 on the Home page.</p>
<br style="page-break-before: always;" />

<h3>Retrying Reset Password</h3>
<p>Tuebora Pass shows the password reset status on the Home page. For your 
 Account in an Asset, if you have reset the password and it has failed, 
 you can retry the password reset. </p>
<p>Password reset for an Account can fail, if Remote Agent is down or the 
 Asset in which you have your Account is down.</p>
<p>Following figure shows an example Reset Password failed for an Account 
 in Active Directory Asset.</p>
<p><img src="Images/RetryPasswordResetFail.png" alt="" style=" border:none; width:100%; max-width:994px;" border="0" /></p>
<p>To retry a password reset for an Account, click <span style="font-weight: bold;">Retry 
 Password Rest</span> button available in the Account band. The <span style="font-weight: bold;">Retry 
 Reset Password in- &lt;Asset Name&gt;</span> subwindow opens and system 
 tries to reset password for the Account. After reset password retry, system 
 closes the subwindow. If the password reset for an Account is successful, 
 the details for <span style="font-weight: bold;">Password Last Changed</span> 
 is updated with the current date and time.</p>
<p>If the password reset has failed even after retry, you must try resetting 
 password after sometime.</p>
<h3>Unlock Account</h3>
<p>If an Account is locked, you can use the <span style="font-weight: bold;">Unlock 
 Account</span> feature to unlock it. Click <span style="font-weight: bold;">Unlock 
 Account</span> corresponding to the required Asset. The<span style="font-weight: bold;"> 
 Unlock Account</span> subwindow opens. <span style="text-indent: -20px;">Alternatively, 
 you can also click the link </span><span style="text-indent: -20px; font-weight: bold;">here</span><span 
	 style="text-indent: -20px;"> in the <a href="#Locked_Accounts">Notification</a> 
 section. </span>For more information, see <a href="Unlock_Account.htm">Unlock 
 Account</a>.</p>
<h3>Change Password</h3>
<p>From the Home page, you can change password of your Accounts. To change 
 the password, c<span style="text-indent: -20px;">lick </span><span style="text-indent: -20px; 
	 font-weight: bold;">Reset Password</span><span style="text-indent: -20px;"> 
 corresponding to the required Asset. The </span><span style="text-indent: -20px; 
														 font-weight: bold;">Reset 
 Password</span><span style="text-indent: -20px;"> subwindow opens. Alternatively, 
 you can also click the link </span><span style="text-indent: -20px; font-weight: bold;">here</span><span 
	 style="text-indent: -20px;"> in the <a href="#Password_Expiration">Notification</a> 
 section. For more information, see <a href="Password_Change.htm#Changing_Password">Changing 
 Password</a>.</span></p>
<p>If Password Reset has failed for an Asset, it shows the <span style="font-weight: bold;">Retry 
 Reset Password</span> button. Click this and system retries to reset your 
 password for the corresponding Asset.</p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
