
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>iPass_User Guide - Password Change</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "0_8";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>iPass_User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="152">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Password Management</h1>
     <p>User Accounts in Assets in an environment are always password protected. 
 This ensures secured login to the Accounts, only by the rightful owners. 
 Secured login eliminates chances of risk and fraudulent activities in 
 the system. To enhance the security, password policies are set in organizations. 
 These policies ensure that the passwords meet the password strength and 
 history requirements.</p>
     <p>When users reset<span style="color: #ff0000;"> </span>passwords from 
 the Tuebora Pass Portal, it enforces the mandatory password policies. 
 The policies are already defined in the system and shown to users when 
 they try to change passwords.</p>
     <p>Users can log in to the portal to reset passwords. You can select the 
 Accounts of which you want to reset the password and the changes are reflected 
 in the Assets immediately. The <span style="font-weight: bold;">Reset 
 Password</span> feature helps to manage passwords in different Assets 
 from a single portal.</p>
     <p>This chapter explains the following topics:</p>
     <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Password_Synchronization">Password Synchronization</a></p></li>
	<li>
 <p class="list"><a href="#Password_Policy">Password Policy</a></p></li>
	<li>
 <p class="list"><a href="#Resetting_a_Forgotten_Password">Reset 
	 a Forgotten Password</a></p></li>
	<li>
 <p class="list"><a href="#Scenario_2_-_Reset_Password_from_Home_Page">Reset 
	 Password for an Asset</a></p></li>
	<li>
 <p class="list"><a href="#Email_Notifications">Email Notifications</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_Password_Change_Activity_History">View 
	 Password Reset Activity in History</a></p></li>
</ul>
<h3><a name="Password_Synchronization" id="Password_Synchronization"></a>Password 
 Synchronization</h3>
<p>The portal is configured to synchronize the passwords of user Accounts 
 in all integrated Assets. For example, if you change your Corporate Active 
 Directory domain password from the portal, the new password is synced 
 to all your integrated Asset Accounts. If your login to the portal Account 
 is delegated to an Asset, and if you change the Asset password, then your 
 portal Account password also changes. You must use the new password to 
 log in to the portal Account.</p>
<h3><a name="Password_Policy" id="Password_Policy"></a>Password Policy</h3>
<p>A password policy defines the requirements for a strong password in 
 an organization. Enforcing the policy ensures that each Account password 
 is strong enough and cannot be hacked easily. The Password Policy is defined 
 in the system during configuration and it enforces this policy for password 
 reset activity from the portal.</p>
<br style="page-break-before: always;" />

<p><a name="PasswordPolicy" id="PasswordPolicy"></a>Following table lists 
 an example Password Policy in an organization.</p>
<table style="border: Solid 1px #000000; left: 0px; top: 154px; margin-left: 48px;" 
		 cellspacing="0">
	<col />
	<col />
	<col />
	<tr style="height: 31px;">
		<td colspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold; margin-left: 12px;">Password 
		 Policy Parameters</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 style="color: #ffffff; font-weight: bold; margin-left: 0px;">Value</p></td>
	</tr>
	<tr style="height: 26px;">
		<td colspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="margin-left: 12px;">Password length 
		 (minimum number of characters)</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">8</p></td>
	</tr>
	<tr style="height: 25px;">
		<td rowspan="5" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="margin-left: 12px;">Password Complexity</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Fulfil 
		 any <span style="font-weight: bold; font-style: italic;">TWO</span> 
		 <span style="font-style: italic;">of the</span> following criteria:</p></td>
		
	</tr>
	<tr style="height: 26px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">1. Minimum <span style="font-weight: bold;">uppercase</span> 
		 letters&#160;(A-Z) </p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">1</p></td>
	</tr>
	<tr style="height: 26px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">2. Minimum <span style="font-weight: bold;">lowercase</span> 
		 letters (a-z)</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">1</p></td>
	</tr>
	<tr style="height: 26px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">3. Minimum numerals (0-9)</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">1</p></td>
	</tr>
	<tr style="height: 27px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">4. Minimum special characters (Example - 
		 !, ?, &amp;, %)</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">1</p></td>
	</tr>
	<tr style="height: 26px;">
		<td colspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="margin-left: 12px;">Password Age/Expiration 
		 (number of days)</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">90</p></td>
	</tr>
	<tr style="height: 26px;">
		<td colspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="margin-left: 12px;">Number of failed 
		 login attempts before Account is Locked</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">10</p></td>
	</tr>
	<tr style="height: 26px;">
		<td rowspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="margin-left: 12px;">Password history</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Number of previously used passwords that 
		 cannot be reused</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">5</p></td>
	</tr>
	<tr style="height: 26px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Cannot reuse passwords from the past months</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">12</p></td>
	</tr>
	<tr style="height: 26px;">
		<td colspan="3">
  <p class="TableText" style="margin-left: 12px;"><span 
		 style="mso-list: l0 level2 lfo1; tab-stops: 81.7pt;">Password 
		 should </span><span lang="EN-US" xml:lang="EN-US" style="mso-list: l0 level2 lfo1; 
							 tab-stops: 81.7pt; letter-spacing: -.05pt;">not</span><span 
		 style="mso-list: l0 level2 lfo1; tab-stops: 81.7pt;"> </span><span 
		 lang="EN-US" xml:lang="EN-US" style="mso-list: l0 level2 lfo1; 
		 tab-stops: 81.7pt; letter-spacing: -.15pt;">contain</span><span 
		 style="mso-list: l0 level2 lfo1; tab-stops: 81.7pt;"> </span><span 
		 lang="EN-US" xml:lang="EN-US" style="mso-list: l0 level2 lfo1; 
		 tab-stops: 81.7pt; letter-spacing: -.05pt;">parts</span><span 
		 style="mso-list: l0 level2 lfo1; tab-stops: 81.7pt;"> of U</span><span 
		 style="mso-list: l0 level2 lfo1; tab-stops: 81.7pt; letter-spacing: -.15pt;">ser/Account 
		 name</span></p></td>
		
	</tr>
 </table>
 <h3><a name="Resetting_a_Forgotten_Password" id="Resetting_a_Forgotten_Password"></a>Resetting 
 a Forgotten Password</h3>
 <p>If you forget your portal Account password, you cannot log in to the 
 portal. You can reset the Account password from the <span style="font-weight: bold;">Login</span> 
 Page, if you forget it.</p>
 <p>If your portal login is delegated to an Asset and if you forget the 
 Asset Account password, then you cannot log in to the portal as well. 
 You must use the <span style="font-weight: bold;">Forgot Password</span> 
 feature on the Login page to reset the Account password.</p>
 <p>To reset your portal Account password, you need to authenticate your 
 login, depending on the Multi Factor Authentication set in your environment. 
 </p>
 <p>To reset your portal Account or delegated Asset Account password from 
 the Login page, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Open the 
 portal login page in a web browser.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Forgot Password</span>.<br />
The page refreshes to show the <span style="font-weight: bold;">Reset Password</span> 
 page.<br />
<br />
<img src="Images/ForgotPassword.png" alt="" style=" border:none; width:100%; max-width:620px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type your 
 user name in the <span style="font-weight: bold;">User Name</span> field 
 and click <span style="font-weight: bold;">Next</span>.<br />
<br />
If the user name specified is incorrect after a specified number of attempts, 
 system shows Captcha for user authentication.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 If you are trying to reset the forgotten password after few failed 
		 login attempts, then system displays Captcha on the first attempt 
		 of specifying user name on Reset Password page.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 correct user name and &#160;select <span style="font-weight: bold;">I'm 
 not a robot</span>.<br />
&#160;Captcha validates the user and if it is successful, it shows success 
 response.<br />
<br />
Sometimes, if Captcha can't associate the activities on reset password 
 page as human-like activity, then it prompts for image verification.<br />
<br />
<br style="page-break-before: always;" />
Following is an example Captcha image verification pop-up.<br />
<br />
<img src="Images/recaptcha_imageverification.png" alt="" style=" border:none; width:100%; max-width:493px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the appropriate images and click <span style="font-weight: bold;">VERIFY</span>.<br />
Captcha validates the user and if it is successful, it shows success response.<br />
<br />
<img src="Images/SuccessResponse.png" alt="" style=" border:none; width:100%; max-width:318px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>. The page refreshes to show 
 the <span style="font-weight: bold;">Multi Factor Authentication</span> 
 page.<br />
<br style="page-break-before: always;" />
<br />
Following figure shows an example <span style="font-weight: bold;">Multi 
 Factor Authentication</span> page.<br />
<br />
<img src="Images/ResetPassMFA_Scnr1.png" alt="" style=" border:none; width:100%; max-width:589px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Provide 
 answers to the MFA options presented as follows:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>If you 
 need to respond to all options, complete each option and click the next 
 option.<br />
In the preceding scenario, perform the following:</p>
 <p style="margin-left: 100px; 
											 margin-top: 4pt; margin-bottom: 4pt;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the Email OTP received in the Enter OTP field.</p>
 <p style="margin-left: 100px; 
											 margin-top: 4pt; margin-bottom: 4pt;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 Challenge Questions.</p>
 <p style="margin-left: 100px; 
											 margin-top: 4pt; margin-bottom: 4pt;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Provide 
 responses to the Challenge Questions presented.</p>
 <p style="margin-left: 100px; 
											 margin-top: 4pt; margin-bottom: 4pt;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 SMS OTP.</p>
 <p style="margin-left: 100px; 
											 margin-top: 4pt; margin-bottom: 4pt;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the SMS OTP received in the Enter OTP field.</p>
 <table class="Note" style="margin-left: 48px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 For <span style="font-weight: bold;">Email</span> and <span style="font-weight: bold;">SMS</span> 
		 OTP verification, if you have provided an alternate <span style="font-weight: bold;">Email</span> 
		 or <span style="font-weight: bold;">Mobile</span> number, you 
		 can select the address or number to which the OTP must be sent.</p></td>
	</tr>
 </table>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>If you 
 need to respond to only some options, select the required option and provide 
 responses.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>.<br />
The page refreshes to show the <span style="font-weight: bold;">Reset Password</span> 
 fields.<br />
<br />
<img src="Images/PolicyEnforcer.png" alt="" style=" border:none; width:100%; max-width:565px;" border="0" /></p>
 <table class="Note" style="margin-left: 48px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 The system shows a suggested password in the <span style="font-weight: bold;">Recommended 
		 Password</span> field. If you wish to use the system-generated 
		 password, select the <span style="font-weight: bold;">Use Recommended</span> 
		 check box. The password is automatically filled in the new password 
		 fields on the page.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 new password and retype to confirm it.<br />
The system displays the password policy and you can set a password matching 
 the policy requirements.</p>
 <table class="Note" style="margin-left: 48px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 Click the <span style="font-weight: bold;">Show Characters</span> 
		 icon (<img src="Images/Icon_Eye.png" alt="" style=" border:none; width:100%; max-width:26px;" border="0" />) to view the password characters as 
		 you type.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Reset Password</span>.<br />
The user is logged in to the portal and the <span style="font-weight: bold;">Home 
 </span>page appears showing the status of the password change and the 
 applications in which the password is updated. </p>
<br style="page-break-before: always;" />

 <h3><a name="Scenario_2_-_Reset_Password_from_Home_Page"></a> Resetting 
 Password for an Asset</h3>
 <p>To reset your portal Account or delegated Asset Account password from 
 the Home page, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log in 
 to Tuebora Pass portal. The <span style="font-weight: bold;">Home</span> 
 page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Reset Password </span>corresponding to 
 the required Asset. <br />
The <span style="font-weight: bold;">Reset Password</span> subwindow opens.<br />
<br />
<img src="Images/ResetPass_HomePage.png" alt="" style=" border:none; width:100%; max-width:930px;" border="0" /></p>
 <table class="Note" style="margin-left: 48px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 The page displays the Accounts for which the new password will 
		 be synchronized, if Password Synchronization is applicable for 
		 the selected Account.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>. The <span style="font-weight: bold;">Multi 
 Factor Authentication</span> page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Provide 
 responses for the required MFA options presented and click <span style="font-weight: bold;">Next</span>.<span><br />
The page refreshes to show the </span><span style="font-weight: bold;">Reset 
 Password</span><span> fields.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 new password and retype to confirm it.<br />
The system displays the password policy and you can set a password matching 
 the policy requirements.</p>
 <table class="Note" style="margin-left: 48px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 The system shows a suggested password in the <span style="font-weight: bold;">Recommended 
		 Password</span> field. If you wish to use the system-generated 
		 password, select the <span style="font-weight: bold;">Use Recommended</span> 
		 check box. The password is automatically filled in the new password 
		 fields on the page.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Reset Password</span>.<br />
The user is logged in to the portal and the <span style="font-weight: bold;">Home 
 </span>page appears showing the status of the password change and the 
 applications in which the password is updated. </p>
 <table class="Note" style="margin-left: 48px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 The system updates your Account passwords in all the integrated 
		 Assets, if Password Synchronization is configured.</p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h3><a name="Email_Notifications" id="Email_Notifications"></a>Email Notifications</h3>
 <p>When you update a password for an Account from the portal, system sends 
 an email notification to the user. This email contains the status of the 
 password change.<br />
<br />
Following figure shows an example Password Reset Status email sent to an 
 End User.</p>
 <p><img src="Images/PasswordResetStatusEmail.png" alt="" style=" border:none; width:100%; max-width:609px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h3><a name="Viewing_Password_Change_Activity_History" id="Viewing_Password_Change_Activity_History"></a>Viewing 
 Password Reset Activity History</h3>
 <p>You can view details of the password reset activities you have done 
 in the system from the <span style="font-weight: bold;">My Activities</span> 
 page. For more information on the page, see <a href="Activity_History.htm">Activity 
 History</a>. To view the password change activities history, you can use 
 the <span style="font-weight: bold;">Group by</span> feature.</p>
 <p>The <span style="font-weight: bold;">Activity Type</span> for password 
 reset is <span style="font-weight: bold;">Reset Password</span>.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 0px;">
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 Based on the Password Synchronization feature, when you reset 
		 an Account password, your Account passwords for the integrated 
		 Asset are also updated. This activity is also logged under the 
		 <span style="font-weight: bold;">Reset Password</span> Activity 
		 Type.</p></td>
	</tr>
 </table>
 <p>Following figure shows an example activity history for password reset.</p>
 <p><img src="Images/ActHistory_Password.png" alt="" style=" border:none; width:100%; max-width:788px;" border="0" /></p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
