
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>iPass_User Guide - Password Management When not Connected to BT Intranet</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "0_9";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>iPass_User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="248">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Change Password - Not Connected to Organization's Intranet</h1>
     <p>Tuebora Pass is a web-based product and can be installed on the cloud 
 or on premises based on the organizational requirement. In your organization, 
 if the product is installed on premise, then you can access the User Interface 
 (UI) when you are connected to your organization's intranet. When users 
 are connected to organization's intranet, they can log in to Tuebora Pass 
 to perform Password Reset and Unlock Account activities. </p>
     <p>Where Tuebora Pass is deployed on premise, if users are not connected 
 to organization's intranet, they cannot access Tuebora Pass to perform 
 the required activities. In this scenario, to reset password or unlock 
 Account in the portal, Tuebora provides an add-on component - <span style="font-weight: bold;">Password 
 Recovery Account</span> which can be installed on Windows Operating System 
 all the user systems (Desktop/Laptop).</p>
     <p>Password Recovery Account is a special account on your system that gives 
 access to a locked-down version of desktop without specifying the password 
 and allows you to reset password using Tuebora Pass. In this case, the 
 Password Recovery Account uses available network to connect to the portal.</p>
     <p>Using the Password Recovery Account you can reset password for your 
 Portal Account. The changed password is synchronized to your Accounts 
 in other integrated Assets.</p>
     <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You can use <span style="font-weight: bold;">Password Recovery 
		 Account</span> to&#160;reset password even when you are connected 
		 to your organization's intranet. You can use this option when 
		 you do not want to log in to Tuebora Pass portal to perform password 
		 management activities.</p></td>
	</tr>
 </table>
 <h3>Resetting Password Using Password Recovery Account</h3>
 <p>While resetting password, you may have to provide response to Challenge 
 Questions or One Time Password (OTP) received on your mobile phone, if 
 Multi Factor Authentication (MFA) is set for these activities in the Tuebora 
 Pass portal.</p>
 <p>The supported scenarios are as follows: </p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Scenario_1">Scenario 1</a> - Challenge 
	 Questions</p></li>
	<li>
 <p class="list"><a href="#Scenario_2">Scenario 2</a> - OTP in SMS</p></li>
</ul>
<br style="page-break-before: always;" />

<h4><a name="Scenario_1"></a>Scenario 1 - Challenge Questions</h4>
<p>To reset password through Password Recovery Account by providing response 
 to Challenge Questions, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Start 
 your systems (Desktop/Laptop).<br />
The Windows Login page appears. The screen shows the <span style="font-weight: bold;">Tuebora</span> 
 <span style="font-weight: bold;">Pass Kiosk Account</span> tile.<br />
<br />
<span style="color: #ff0000;"><img src="Images/KioskAccount_1.png" alt="" style=" border:none; width:100%; max-width:551px;" border="0" /></span></p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The systems in which Windows XP operating system are installed, 
		 do not show the Tuebora Pass Kiosk Account tile, instead it shows 
		 the <span style="font-weight: bold;">Text</span> <span style="font-weight: bold;">Link</span>. 
		 Click the Text Link to reset password.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Tuebora</span> <span style="font-weight: bold;">Pass 
 Kiosk Account</span> tile.<br />
The <span style="font-weight: bold;">Network</span> <span style="font-weight: bold;">list</span> 
 window appears. It shows all the available networks.<br />
<br />
<img src="Images/Network_Connector_window.png" alt="" style=" border:none; width:100%; max-width:349px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the required network to connect to Tuebora Pass Portal.<br />
The Internet Explorer (IE) browser in kiosk mode opens the Tuebora Pass 
 Portal. The <span style="font-weight: bold;">Reset Password</span> page 
 opens.<br />
<br />
<img src="Images/KioskAccount_2.png" alt="" style=" border:none; width:100%; max-width:528px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type your 
 user name in the <span style="font-weight: bold;">User Name</span> field 
 and click <span style="font-weight: bold;">Next</span>.<br />
The page refreshes to show two random Challenge Questions.<br />
<br />
<img src="Images/KioskAccount_3.png" alt="" style=" border:none; width:100%; max-width:525px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 correct answers for the questions.<br />
You provided answers to this question during your enrollment to the portal.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>.<br />
The page refreshes to show the <span style="font-weight: bold;">Change 
 Password</span> fields.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 new password in the <span style="font-weight: bold;">New</span> <span 
	 style="font-weight: bold;">Password</span> field.<br />
System displays the password policy and you can set a password matching 
 the policy requirements.<br />
<br />
<img src="Images/KioskAccount_4.png" alt="" style=" border:none; width:100%; max-width:646px;" border="0" /></p>
 <table class="Note" style="margin-left: 48px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="font-weight: bold;">Note:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">To use 
			 the system recommended password, select the check box corresponding 
			 to <span style="font-weight: bold;">Use</span> <span style="font-weight: bold;">Recommended</span>. 
			 System automatically fills the displayed password in the <span 
			 style="font-weight: bold;">New</span> <span style="font-weight: bold;">Password</span> 
			 and <span style="font-weight: bold;">Confirm</span> <span 
			 style="font-weight: bold;">New</span> <span style="font-weight: bold;">Password</span> 
			 fields. To use a new system recommended password than the 
			 one displayed, click <img src="Images/Icon_Refresh.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" />.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Click 
			 <span style="font-weight: bold;">Reset</span> if you want 
			 to clear the values provided in all the fields at once.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Click 
			 <img src="Images/Icon_ShowCharacter.png" alt="" style=" border:none; width:100%; max-width:28px;" border="0" /> (Show Characters) icon available in 
			 New Password and Confirm New Password fields, to view the 
			 passwords hidden behind dots. Click <img src="Images/Icon_HideCharacters.png" alt="" style=" border:none; width:100%; max-width:26px;" border="0" /> 
			 (Hide Characters) icon to hide the characters in the password 
			 fields.</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Reset</span> <span style="font-weight: bold;">Password</span>.<br />
The <span style="font-weight: bold;">Activity</span> <span style="font-weight: bold;">Summary</span> 
 appears showing the status of the password reset and the applications 
 in which the password is updated.<br />
<br />
<img src="Images/KioskAccount_5.png" alt="" style=" border:none; width:100%; max-width:959px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close</span> to exit the portal page. 
 The Windows login page appears.<br />
Tuebora Pass portal updates your Accounts in all the integrated Assets 
 as well to the newly set password.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 your user Account tile and log in by providing your user name and updated 
 password.<br />
<br />
The portal maintains the record of the password management activities performed 
 from the Password Recovery Account. You can view the details from <a href="Activity_History.htm">Activity 
 History</a>.</p>
<h4><a name="Scenario_2"></a>Scenario 2 - OTP in SMS</h4>
<p>To reset password/unlock Account through Password Recovery Account by 
 specifying OTP, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Start 
 your systems (Desktop/Laptop).<br />
The Windows Login page appears. The screen shows the <span style="font-weight: bold;">Tuebora</span> 
 <span style="font-weight: bold;">Pass Kiosk Account</span> tile.</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The systems in which Windows XP operating system are installed, 
		 do not show the Tuebora Pass Kiosk Account tile, instead it shows 
		 the <span style="font-weight: bold;">Text</span> <span style="font-weight: bold;">Link</span>. 
		 Click the Text Link to reset password.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Tuebora</span> <span style="font-weight: bold;">Pass 
 Kiosk Account</span> tile.<br />
The <span style="font-weight: bold;">Network</span> <span style="font-weight: bold;">list</span> 
 window appears. It shows all the available networks.<br />
<br />
<img src="Images/Network_Connector_window.png" alt="" style=" border:none; width:100%; max-width:468px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the required network to connect to Tuebora Pass Portal.<br />
The Internet Explorer (IE) browser in kiosk mode opens the Tuebora Pass 
 Portal. The <span style="font-weight: bold;">Reset Password</span> page 
 opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type your 
 user name in the <span style="font-weight: bold;">User Name</span> field 
 and click <span style="font-weight: bold;">Next</span>.<br />
The page refreshes to show MFA section.</p>
 <table class="Note" style="margin-left: 48px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 For <span style="font-weight: bold;">SMS </span>OTP verification, 
		 if you have provided an alternate <span style="font-weight: bold;">Mobile</span> 
		 number, you can select the number to which the OTP must be sent.</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 43px;"><br />
<img src="Images/KioskAccount_6_OTP.png" alt="" style=" border:none; width:100%; max-width:1193px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 received OTP in the <span style="font-weight: bold;">Enter OTP</span> 
 field and click <span style="font-weight: bold;">Next</span>.<br />
The page refreshes to show the <span style="font-weight: bold;">Reset Password</span> 
 fields.</p>
 <table class="Note" style="margin-left: 12px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 If you have not received the OTP verification email click <span 
		 style="font-weight: bold;">Didn't get the code</span> link.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 new password and retype to confirm it.<br />
The system displays the password policy and you can set a password matching 
 the policy requirements.</p>
 <table class="Note" style="margin-left: 48px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="font-weight: bold;">Note:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">To use 
			 the system recommended password, select the check box corresponding 
			 to <span style="font-weight: bold;">Use</span> <span style="font-weight: bold;">Recommended</span>. 
			 System automatically fills the displayed password in the <span 
			 style="font-weight: bold;">New</span> <span style="font-weight: bold;">Password</span> 
			 and <span style="font-weight: bold;">Confirm</span> <span 
			 style="font-weight: bold;">New</span> <span style="font-weight: bold;">Password</span> 
			 fields. To use a new system recommended password than the 
			 one displayed, click <img src="Images/Icon_Refresh.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" />.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Click 
			 <img src="Images/Icon_ShowCharacter.png" alt="" style=" border:none; width:100%; max-width:28px;" border="0" /> (Show Characters) icon available in 
			 New Password and Confirm New Password fields, to view the 
			 passwords hidden behind dots. Click <img src="Images/Icon_HideCharacters.png" alt="" style=" border:none; width:100%; max-width:26px;" border="0" /> 
			 (Hide Characters) icon to hide the characters in the password 
			 fields.</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Reset Password</span>.<br />
The <span style="font-weight: bold;">Activity</span> <span style="font-weight: bold;">Summary</span> 
 appears showing the status of the password change and the applications 
 in which the password is updated.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Click </span><span style="text-indent: -20px; 
													 font-weight: bold;">Close</span><span 
	 style="text-indent: -20px;"> to exit the portal page. The Windows 
 login page appears.<br />
Tuebora Pass portal updates your Accounts in all the integrated Assets 
 as well to the newly set password.</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 your user Account tile and log in by providing your user name and updated 
 password.</p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
