
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>iPass_User Guide - Profile Management</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "0_6";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>iPass_User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="272">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Profile Management</h1>
     <p>Tuebora Pass maintains your Account and Profile details in the system. 
 The Profile details contain your personal/professional information, details 
 specified for MFA during portal enrollment, and language preferences set 
 for the portal. You can view the profile details from <span style="font-weight: bold;">My 
 Profile</span> page. </p>
     <h4 style="font-size: 10pt; margin-top: 6pt; margin-bottom: 6pt;">Navigation</h4>
     <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">You can access the <span style="font-weight: bold;">My 
		 Profile</span> page by selecting <span style="font-weight: bold;">My 
		 Profile</span> (<img src="Images/Icon_Profile.png" alt="" style=" border:none; width:100%; max-width:28px;" border="0" />) on the top right of the 
		 portal UI.</p></td>
	</tr>
 </table>
 <p>The page consists of three tabs - <span style="font-weight: bold;">My 
 Enrollment Data, My Profile,</span> and <span style="font-weight: bold;">My 
 Preferences</span>. Click on the respective tabs to update the enrollment 
 data, view profile details, and update language preferences.</p>
 <p>Following figure shows an example <span style="font-weight: bold;">My 
 Profile</span> page.<br />
<br />
<span style="font-weight: bold; font-style: italic; color: #ff0000;"><img src="Images/ChallengeQns.png" alt="" style=" border:none; width:100%; max-width:893px;" border="0" /></span></p>
 <h2>Using My Profile Feature</h2>
 <p>You can perform the following actions from this page:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Updating_Responses_to_Challenge_Questions">Update 
	 Enrollment Data</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_Profile_Details">View Profile 
	 Details</a></p></li>
	<li>
 <p class="list"><a href="#Updating_Preferences">Update Language 
	 Preference</a> </p></li>
</ul>
<br style="page-break-before: always;" />

<h3><a name="Updating_Responses_to_Challenge_Questions" id="Updating_Responses_to_Challenge_Questions"></a>Update 
 Enrollment Data</h3>
<p>Users who wants to perform password management activities in Tuebora 
 Pass must enroll to the portal. The data specified for different forms 
 of authentication during the enrollment can be updated in Tuebora Pass 
 from My Enrollment Data tab.</p>
<p>In <span style="font-weight: bold;">My Enrollment Data</span> page, 
 the MFA tabs available to end users of Tuebora Pass depends on the MFA 
 policy defined in the system for authenticating users during password 
 management activities in the system. </p>
<p>For example, an Tuebora Pass Administrator has defined MFA policy by 
 selecting THREE forms of authentication - Challenge Questions, Google 
 Key, and Email OTP. In this case, system displays only three tabs - Challenge 
 Questions, Google Key, and Email OTP to end users.</p>
<p>From My Enrollment Data page,<span style="font-weight: bold;"> </span>users 
 can also update data for an MFA which they had skipped during portal enrollment. 
 For example, while enrolling to the portal, Eric Hill had specified data 
 only for Challenge Questions and Email OTP and had skipped registering 
 Google Key. In this scenario, Eric can register the Google key from My 
 Enrollment Data page.</p>
<p>You can perform the following from My Enrollment Data tab:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#ChallengeQuestions">Update Response to 
	 Challenge Questions</a></p></li>
	<li>
 <p class="list"><a href="#Updating_Email_Address_to_receive_OTP">Update 
	 Email Address</a></p></li>
	<li>
 <p class="list"><a href="#Managing_Google_Key">Manage Google Key</a></p></li>
	<li>
 <p class="list"><a href="#Updating_Mobile_Number_to_receive_OTP">Update 
	 Mobile Number</a></p></li>
</ul>
<h4><a name="ChallengeQuestions"></a>Updating Responses to Challenge Questions</h4>
<p>The system prompts you to set answers for the Challenge Questions during 
 User Enrollment. You can change answers provided for the challenge questions 
 at a later point of time from the portal.</p>
<p>To update responses provided for the challenge questions, perform the 
 following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My Enrollment Data &gt; Challenge Questions 
 </span>tab on the <span style="font-weight: bold;">My Profile</span> page.<br />
The tab is selected by default, when the page opens.<br />
<br />
Page displays the challenge questions.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Update 
 answers for the required questions.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>. The answers are 
 updated. <br />
Page shows the message that the details are updated successfully.</p>
<h4><a name="Updating_Email_Address_to_receive_OTP"></a>Updating Email 
 Address to receive OTP</h4>
<p class="list">From the portal, you can update the email address specified 
 during portal enrollment, if required.</p>
<p class="list">To update the email address, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My Enrollment Data &gt;</span> <span 
	 style="font-weight: bold;">Email OTP</span> tab on the <span style="font-weight: bold;">My</span> 
 <span style="font-weight: bold;">Profile</span> page.<br />
The page refreshes to show email address specified during enrollment.<br />
<br />
<img src="Images/MyEnroll_EmailOTP.png" alt="" style=" border:none; width:100%; max-width:732px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Update 
 email address in the <span style="font-weight: bold;">Email</span> <span 
	 style="font-weight: bold;">Address</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>. The email address 
 is updated. <br />
Page shows the message that the email address is updated successfully.</p>
<h3><a name="Managing_Google_Key"></a>Managing Google Key</h3>
<p>From the portal, you can unregister the key registered with the Google 
 Authenticator, during User Enrollment, if required. </p>
<p>To unregister Google key, perform the following: </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My Enrollment Data &gt;</span> <span 
	 style="font-weight: bold;">Google</span> <span style="font-weight: bold;">key</span> 
 tab on the <span style="font-weight: bold;">My</span> <span style="font-weight: bold;">Profile</span> 
 page. <br />
Page refreshes to show the option to unregister Google key.<br />
<br />
<img src="Images/MyEnroll_GoogleKey.png" alt="" style=" border:none; width:100%; max-width:747px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Unregister</span>. The Manage Google 
 key subwindow opens. <br />
System asks for confirmation to unregister the Google key.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Click </span><span style="text-indent: -20px; 
													 font-weight: bold;">Yes</span><span 
	 style="text-indent: -20px;"> to unregister the Google key. After unregistering 
 the Google key, the page refreshes to display the new Key and QR Code.<br />
<br />
<img src="Images/ManageGoogleKey_NewKey.png" alt="" style=" border:none; width:100%; max-width:567px;" border="0" /></span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the Google key or scan the bar code to enroll in the Google Authenticator 
 installed on your smartphone. <br />
For more information on registering Google Key, see <a href="Enroll_in_Password_Reset_and_Synchronization_Tool.htm#Enrolling_in_the_Google_Authenticator_Application">Enrolling 
 Using Google Authenticator Application</a>. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the passcode generated in the Google Authenticator application in the 
 <span style="font-weight: bold;">Please enter generated code to verify</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>. 
 System verifies the passcode against the Google key registered for the 
 user. On the successful verification, page refreshes to show the message 
 that the Google key is updated successfully.</p>
<br style="page-break-before: always;" />

<h4><a name="Updating_Mobile_Number_to_receive_OTP"></a>Updating Mobile 
 Number to receive OTP</h4>
<p class="list">From the portal, you can update the Mobile Number specified 
 during portal enrollment, if required.</p>
<p class="list">To update the mobile number, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My Enrollment Data &gt;</span> <span 
	 style="font-weight: bold;">SMS OTP</span> tab on the <span style="font-weight: bold;">My</span> 
 <span style="font-weight: bold;">Profile</span> page.<br />
The page refreshes to show phone number specified during enrollment.<br />
<br />
<img src="Images/MyEnroll_SMSOTP.png" alt="" style=" border:none; width:100%; max-width:735px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Update 
 mobile number in the <span style="font-weight: bold;">Mobile</span> <span 
	 style="font-weight: bold;">Number</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>. The mobile number 
 is updated. <br />
Page shows the message that the mobile number is updated successfully.</p>
<h3><a name="Viewing_Profile_Details" id="Viewing_Profile_Details"></a>Viewing 
 Profile Details</h3>
<p>To view details of your profile in the system, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My Profile</span> tab on the <span style="font-weight: bold;">My 
 Profile</span> page.<br />
Page refreshes to show your profile details.<br />
<br />
<span style="font-weight: bold; font-style: italic; color: #ff0000;"><img src="Images/My_Profile_page.png" alt="" style=" border:none; width:100%; max-width:873px;" border="0" /></span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>View the 
 required details on the page.</p>
<table class="Note" style="margin-left: 48px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 You cannot edit any details from this page. This page allows you 
		 to only view your profile details.</p></td>
	</tr>
 </table>
 <h3 style="font-weight: bold; font-size: 14pt; color: rgb(2, 59, 109); 
	 font-family: Arial; font-style: normal; font-variant: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-align: start; text-indent: 0px; 
	 text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; 
	 -webkit-text-stroke-width: 0px;"><a name="Updating_Preferences"></a>Updating 
 Language Preferences</h3>
 <p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">As 
 an End User, you may want Tuebora Pass to show pages in a specific language. 
 Tuebora Pass allows you to set the language preference to any of the supported 
 languages. The supported languages are as follows:</p>
 <ul style="margin-bottom: 0px; font-family: Arial; font-size: 11pt; margin-top: 12px; 
		 list-style: disc; margin-left: 73px; color: #000000; font-style: normal; 
		 font-variant: normal; font-weight: normal; letter-spacing: normal; 
		 line-height: normal; orphans: auto; text-align: start; text-indent: 0px; 
		 text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; 
		 -webkit-text-stroke-width: 0px;">
	<li>
 <p class="list" style="font-size: 10pt; margin-top: 5pt; margin-left: 2pt; 
			 margin-bottom: 5pt; line-height: normal;">English</p></li>
	<li>
 <p class="list" style="font-size: 10pt; margin-top: 5pt; margin-left: 2pt; 
			 margin-bottom: 5pt; line-height: normal;">French</p></li>
	<li>
 <p class="list" style="font-size: 10pt; margin-top: 5pt; margin-left: 2pt; 
			 margin-bottom: 5pt; line-height: normal;">German</p></li>
</ul>
<p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">To 
 update the language preference, perform the following:</p>
<ol style="margin-bottom: 0px; font-family: Arial; font-size: 11pt; margin-top: 12px; 
		 list-style: decimal; margin-left: 73px; color: #000000; font-style: normal; 
		 font-variant: normal; font-weight: normal; letter-spacing: normal; 
		 line-height: normal; orphans: auto; text-align: start; text-indent: 0px; 
		 text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; 
		 -webkit-text-stroke-width: 0px;">
	<li>
 <p class="list" style="font-size: 10pt; margin-top: 5pt; margin-left: 2pt; 
			 margin-bottom: 5pt; line-height: normal;">Click<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">My Preferences</span><span class="Apple-converted-space">&#160;</span>tab 
	 on the<span class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">My 
	 Profile</span><span class="Apple-converted-space">&#160;</span>page.<br />
	Page refreshes to show your language preference details.<br />
	<br />
	<img src="Images/LangPref.png" alt="" style=" border:none; width:100%; max-width:499px;" border="0" /></p></li>
	<li>
 <p class="list" style="font-size: 10pt; margin-top: 5pt; margin-left: 2pt; 
			 margin-bottom: 5pt; line-height: normal;">Select the required 
	 language from the values available in the drop-down list.</p></li>
	<li>
 <p class="list" style="font-size: 10pt; margin-top: 5pt; margin-left: 2pt; 
			 margin-bottom: 5pt; line-height: normal;">Click<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Save Preference</span><span class="Apple-converted-space">&#160;</span>to 
	 save the selection. The portal language changes to the selected language.</p></li>
</ol>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
