
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>iPass_User Guide - Unlock Account</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "0_10";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>iPass_User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="320">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Unlock Account</h1>
     <p>User Accounts in Tuebora Pass are always password protected. This ensures 
 secured login to the Accounts, only by the rightful owners. Secured login 
 eliminates chances of risk and fraudulent activities in the system.</p>
     <p>Tuebora Pass uses the <a href="Password_Change.htm#Password_Policy">password 
 policy</a> to secure access to the system. Password policy defines the 
 maximum number of failed log in attempts allowed in the system, before 
 the Account gets locked. For example, if the maximum number of failed 
 login attempts allowed is configured as 10 in the portal, and a user exceeds 
 the allowed 10 attempts, the portal Account gets locked.</p>
     <p>Account lockout keeps the Account secure by preventing unauthorized 
 users accessing the Account. You can access the Accounts only after unlocking 
 the Accounts.</p>
     <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 If your login to the portal is delegated through one of the integrated 
		 Assets,&#160;then Account lockout in Tuebora Pass portal means 
		 that your Account in delegated Asset is also locked. For example, 
		 If your portal login is delegated through Active Directory Account 
		 credentials, then Account lockout in Tuebora Pass portal means 
		 that your Active Directory Account is also locked.</p></td>
	</tr>
 </table>
 <p>Following table lists the scenarios in which user Accounts are locked 
 in the portal, if users cannot provide the correct account password for 
 a predefined number of login attempts. </p>
 <table style="border: Solid 1px #000000; margin-left: 24px;" cellspacing="0" 
		 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr style="height: 26px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Account Lockout 
		 Scenario</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Resolution</p></td>
	</tr>
	<tr style="height: 26px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="color: #000000;">Failed to log in 
		 to the portal for enrollment (First-time login)</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Service 
		 Desk users can unlock Account by resetting password</p></td>
	</tr>
	<tr style="height: 20px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">Failed 
		 to log in to the portal after enrollment</p></td>
		<td>
  <p class="TableText">User can unlock Account from portal Login 
		 page</p></td>
	</tr>
 </table>
 <p>To enhance the security, Account lockout policies are set in organizations. 
 These policies ensure that user Accounts are locked when the users exceed 
 the number of failed login attempts allowed.</p>
 <p>To unlock an Account, use the <span style="font-weight: bold;">Unlock</span> 
 <span style="font-weight: bold;">Account</span> feature in Tuebora Pass, 
 </p>
 <h3>Multi Factor Authentication for Unlocking Account</h3>
 <p>Based on the portal administration settings, to unlock the portal Account, 
 you may need to provide Multi Factor Authentication (MFA) credentials. 
 System uses MFA to enhance the user identity validation process. The supported 
 MFA methods are as follows:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Scenario_1_-_Challenge_Questions" style="font-weight: normal;">Challenge 
	 Response Questions</a> - Provide the correct answers for the random 
	 Challenge Questions. Answers to Challenge Questions are provided during 
	 user enrollment to the portal or can be updated after enrollment.</p></li>
	<li style="color: #000000;">
 <p class="list"><a href="#Scenario_2_-_Google_Key">Verification 
	 code in Google Authenticator</a> - Generated in Google Authenticator 
	 application.</p></li>
	<li style="color: #000000;">
 <p class="list"><a href="#Scenario_2_-_OTP_in_Email">One 
	 Time Password (OTP) in Email</a> - Generated and sent to user's registered 
	 email address.</p></li>
	<li>
 <p class="list" style="color: #000000;"><a href="#Scenario_3_-_OTP_in_SMS" 
													 style="font-weight: normal;">One 
	 Time Password (OTP) in SMS</a> - Generated and sent to user's registered 
	 mobile number.</p></li>
</ul>
<br style="page-break-before: always;" />

<h2 style="margin-top: 6pt; margin-bottom: 6pt;">Using Unlock Account Feature</h2>
<p>Using Unlock Account feature you can perform the following:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 2pt; 
											 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Unlocking_Account_from_Portal_Login_page">Unlock 
 Account from portal Login page</a> - If your login to the portal is delegated 
 to one of the integrated Asset, then to unlock portal Account and Account 
 in delegated Asset.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 2pt; 
											 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Unlock_Account_in_other_assets">Unlock 
 Accounts in other Assets</a> </p>
<p>In case of Accounts locked while trying to log in to the portal for 
 enrollment or Accounts blocked because of incorrect responses provided 
 for the challenge questions while resetting forgotten passwords or unlocking 
 Accounts, users cannot unblock or unlock the Accounts. <br />
<br />
In these scenarios, users are directed to contact the Service Desk to get 
 the Account unlocked or unblocked. After the Account is unlocked/unblocked 
 by the Service Desk users, end users are provided the new password to 
 login to the portal. For more information on logging in to portal after 
 the Account is unlocked/unblocked by Service Desk user, see <a href="User_Login_After_Unlock_or_Unblock_by_Service_Desk_User.htm">User 
 Login After Unlock/Unblock Account by Service Desk Users</a>.</p>
<h3 style="margin-top: 6pt; margin-bottom: 6pt;"><a name="Unlocking_Account_from_Portal_Login_page" 
													 id="Unlocking_Account_from_Portal_Login_page"></a>Unlocking 
 Account from Login Page</h3>
<p>If your Tuebora Pass Account is locked, you cannot log in to the portal 
 to perform password management activities. The portal allows you to unlock 
 your portal Account from the <span style="font-weight: bold;">Login</span> 
 Page, if it is locked. Based on the portal administration settings, to 
 unlock an Account, you may need to provide Multi Factor Authentication 
 (MFA) credentials. When an Account is locked, the system shows the message 
 <span style="font-weight: bold;">Your Account has been locked. Please 
 unlock your Account</span>.<br />
<br />
<img src="Images/Locked_Account_Message_-_Copy.png" alt="" style=" border:none; width:100%; max-width:301px;" border="0" /></p>
<span style="font-weight: bold;"><br style="page-break-before: always;" />
</span> 
<h4><a name="Scenario_1_-_Challenge_Questions"></a>Scenario 1 - Challenge 
 Questions</h4>
<p>Users must provide responses to Challenge Questions to unlock Accounts.</p>
<p>To unlock the Account from the Login page by providing response to Challenge 
 Questions, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Unlock Account</span> link in the portal 
 <span style="font-weight: bold;">Login</span> page.<br />
<br />
The <span style="font-weight: bold;">Unlock Account </span>page appears.<br />
<br />
<span style="color: #ff0000;"><img src="Images/Unlock_Account_page.png" alt="" style=" border:none; width:100%; max-width:573px;" border="0" /></span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type your 
 user name in the <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Name</span> 
 field and click <span style="font-weight: bold;">Next</span>.<br />
<br />
If the user name specified is incorrect after a specified number of attempts, 
 system shows Captcha for user authentication. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 correct user name and &#160;select <span style="font-weight: bold;">I'm 
 not a robot</span>.<br />
&#160;Captcha validates the user and if it is successful, it shows success 
 response.<br />
<br />
Sometimes, if Captcha can't associate the activities on reset password 
 page as human-like activity, then it prompts for image verification.<br />
<br />
<br style="page-break-before: always;" />
Following is an example Captcha image verification pop-up.<br />
<br />
<img src="Images/recaptcha_imageverification.png" alt="" style=" border:none; width:100%; max-width:493px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the appropriate images and click <span style="font-weight: bold;">VERIFY</span>.<br />
Captcha validates the user and if it is successful, it shows success response.<br />
<br />
<img src="Images/SuccessResponse.png" alt="" style=" border:none; width:100%; max-width:318px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>. <span style="text-indent: -20px;">The 
 page refreshes to show the random Challenge Questions.<br />
<br />
<img src="Images/UnlockAccount_MFApage.png" alt="" style=" border:none; width:100%; max-width:855px;" border="0" /></span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type answers 
 to all the challenge questions in the <span style="font-weight: bold;">Multi 
 Factor Authentication</span> section.<br />
You provided answers to this question during enrollment to the portal.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Unlock Account</span>. The message - 
 <span style="font-weight: bold;">Your Account has been unlocked. You will 
 now be redirected to the login page in a few seconds</span> is displayed 
 to confirm the unlocking of the Account.</p>
<h4><a name="Scenario_2_-_Google_Key"></a>Scenario 2 - Google Key</h4>
<p>Users must provide Google verification code received in registered mobile 
 phone to unlock Accounts.</p>
<p>To unlock the Account from the Login page by specifying Google verification 
 code, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Unlock Account </span>link in the portal 
 <span style="font-weight: bold;">Login</span> page.<br />
<br />
The <span style="font-weight: bold;">Unlock Account </span>page appears.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type your 
 user name in the <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Name</span> 
 field.</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="font-weight: bold;">Note<span style="font-weight: normal;">: 
		 </span><span style="font-weight: normal; text-indent: -20px;">If 
		 the user name specified is incorrect after a specified number 
		 of attempts, system shows Captcha for user authentication. </span><span 
		 style="text-indent: -20px; font-weight: normal;">S</span><span 
		 style="font-weight: normal;">elect </span>I'm not a robot<span 
		 style="font-weight: normal;"> to attest yourself as human. </span></p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next.</span> The page refreshes to show 
 the MFA section.</p>
 <p><img src="Images/unlockaccount_googleauthenticator.png" alt="" style=" border:none; width:100%; max-width:849px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 Google key in the <span style="font-weight: bold;">Enter verification 
 code</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Unlock Account</span>. The message - 
 <span style="font-weight: bold;">Your Account has been unlocked. You will 
 now be redirected to the login page in a few seconds</span> is displayed 
 to confirm the unlocking of the Account.</p>
 <h4><a name="Scenario_2_-_OTP_in_Email"></a>Scenario 3 - OTP in Email</h4>
 <p>Users must provide OTP received in registered email to unlock Accounts.</p>
 <p>To unlock the Account from the Login page by specifying OTP, perform 
 the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Unlock Account</span> link in the portal 
 <span style="font-weight: bold;">Login</span> page.<br />
<br />
The <span style="font-weight: bold;">Unlock Account </span>page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type your 
 user name in the <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Name</span> 
 field.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="font-weight: bold;">Note<span style="font-weight: normal;">: 
		 </span><span style="font-weight: normal; text-indent: -20px;">If 
		 the user name specified is incorrect after a specified number 
		 of attempts, system shows Captcha for user authentication. </span><span 
		 style="text-indent: -20px; font-weight: normal;">S</span><span 
		 style="font-weight: normal;">elect </span>I'm not a robot<span 
		 style="font-weight: normal;"> to attest yourself as human. </span></p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next.</span> The page refreshes to show 
 the MFA section.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 For <span style="font-weight: bold;">Email</span> OTP verification, 
		 if you have provided an alternate <span style="font-weight: bold;">Email</span> 
		 address, you can select the address to which the OTP must be sent.</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 43px;"><br />
<img src="Images/UnlockAccount_OTPSection.png" alt="" style=" border:none; width:100%; max-width:1256px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To view 
 the OTP, check the inbox of the email address which is selected for sending 
 the OTP.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 If you have not received the OTP verification email click <span 
		 style="font-weight: bold;">Didn't get the code</span> link.</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 43px;"><br />
Following figure shows an example email received for the OTP Verification.<br />
<br />
<img src="Images/Email_OTP.png" alt="" style=" border:none; width:100%; max-width:528px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 received OTP in the <span style="font-weight: bold;">Enter OTP</span> 
 field.<br />
</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Unlock Account</span>. The message - 
 <span style="font-weight: bold;">Your Account has been unlocked. You will 
 now be redirected to the login page in a few seconds</span> is displayed 
 to confirm the unlocking of the Account.</p>
 <h4><a name="Scenario_3_-_OTP_in_SMS"></a>Scenario 4 - OTP in SMS</h4>
 <p>Users must provide OTP received in registered email to unlock Accounts.</p>
 <p>To unlock the Account from the Login page by specifying OTP, perform 
 the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Unlock Account</span> link in the portal 
 <span style="font-weight: bold;">Login</span> page.<br />
<br />
The <span style="font-weight: bold;">Unlock Account </span>page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type your 
 user name in the <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Name</span> 
 field.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="font-weight: bold;">Note<span style="font-weight: normal;">: 
		 </span><span style="font-weight: normal; text-indent: -20px;">If 
		 the user name specified is incorrect after a specified number 
		 of attempts, system shows Captcha for user authentication. </span><span 
		 style="text-indent: -20px; font-weight: normal;">S</span><span 
		 style="font-weight: normal;">elect </span>I'm not a robot<span 
		 style="font-weight: normal;"> to attest yourself as human. </span></p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next.</span> The page refreshes to show 
 the MFA section.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 For <span style="font-weight: bold;">SMS </span>OTP verification, 
		 if you have provided an alternate <span style="font-weight: bold;">Mobile</span> 
		 address, you can select the mobile number to which the OTP must 
		 be sent.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 received OTP in the <span style="font-weight: bold;">Enter OTP</span> 
 field.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 If you have not received the OTP verification email click <span 
		 style="font-weight: bold;">Didn't get the code</span> link.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Unlock Account</span>.<span style="font-weight: bold;"> 
 Password</span>. The message - <span style="font-weight: bold;">Your Account 
 has been unlocked. You will now be redirected to the login page in a few 
 seconds</span> is displayed to confirm the unlocking of the Account.</p>
 <h4>Email Notifications</h4>
 <p>After unlocking the Account successfully, the system sends <span style="font-weight: bold;">Unlock 
 Account Status</span> email notification to the user.</p>
 <p>Following figure shows an example email sent when an Account is unlocked.<br />
<br />
<img src="Images/Account_Unlocking_Email.png" alt="" style=" border:none; width:100%; max-width:700px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h2><a name="Unlock_Account_in_other_assets" id="Unlock_Account_in_other_assets"></a>Unlock 
 Accounts from Home Page</h2>
 <p>Tuebora Pass allows you to unlock the Accounts in other Assets integrated 
 in the system for password management. </p>
 <p>For example, <span style="font-weight: bold;">Salesforce</span> is integrated 
 with Tuebora Pass for password management and a user's Salesforce Account 
 is locked. The user can log in to the portal and unlock the Account.</p>
 <p style="color: #000000;">The MFA supported for unlocking an Account from 
 Home page are as follows:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">Challenge Questions</p></li>
	<li>
 <p class="list">OTP in Email</p></li>
	<li>
 <p class="list">OTP in SMS</p></li>
	<li>
 <p class="list">Google Key Verification</p></li>
</ul>
<h5 style="margin-top: 9pt; margin-bottom: 9pt;"><a name="UnlockAccountPageScenario_1_-_Challenge_Questions"></a>Scenario 
 - Users must provide responses to Challenge Questions and OTP in Email.</h5>
<p>In this scenario, users must provide response to Challenge Questions 
 and OTP received in email to unlock Accounts in other Assets. To unlock 
 an Account from the <span style="font-weight: bold;">Home</span> page, 
 perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log in 
 to the portal. The <span style="font-weight: bold;">Home</span> page appears.<br />
If an Account is locked, system shows details of the locked Account and 
 you can unlock it from Home page.<br />
<br />
<img src="Images/UnlockAccount_homepage.png" alt="" style=" border:none; width:100%; max-width:925px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>In the 
 Account band, click<span style="font-weight: bold;"> Unlock</span> <span 
	 style="font-weight: bold;">Account</span>. The page refreshes to <span 
	 style="font-weight: bold;">Unlock Account &lt;Account Name&gt; in 
 &lt;Asset Name&gt;</span> subwindow.<br />
<br />
<br style="page-break-before: always;" />
Following figure shows an example <span style="font-weight: bold;">MFA</span> 
 page for unlocking an Account.<br />
<br />
<img src="Images/UnlockAccount_MFA.png" alt="" style=" border:none; width:100%; max-width:673px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Provide 
 answers to the MFA options presented as follows:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>If 
 you need to respond to all options, complete each option and click the 
 next option.<br />
In the preceding scenario, perform the following:</p>
<p style="margin-left: 100px; 
											 margin-top: 4pt; margin-bottom: 4pt;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the Email OTP received in the <span style="font-weight: bold;">Enter OTP</span> 
 field.</p>
<p style="margin-left: 100px; 
											 margin-top: 4pt; margin-bottom: 4pt;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Challenge</span> <span style="font-weight: bold;">Questions</span>.</p>
<p style="margin-left: 100px; 
											 margin-top: 4pt; margin-bottom: 4pt;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Provide 
 responses to the Challenge Questions presented.</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 For <span style="font-weight: bold;">Emai</span> OTP verification, 
		 if you have provided an alternate <span style="font-weight: bold;">Email</span> 
		 address, you can select the address to which the OTP must be sent.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>&#160;Click 
 <span style="font-weight: bold;">Unlock</span> <span style="font-weight: bold;">Account</span>. 
 The subwindow closes and Home page refreshes to show the updated Account 
 status.<br />
<br />
After unlocking an Account from the portal, the user must specify the correct 
 user credentials to log in to the Asset.</p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
