
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora REST API - Update Schedule</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "9.0_3";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../Tuebora_API.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../Tuebora_API.htm" class="homelink"><span>Tuebora REST API</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1880">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../Tuebora_API.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


<br style="page-break-before: always;" />

     <h1>Update Schedule</h1>
     <p>Update the configuration for a specific Asset based on the Asset ID. 
 </p>
     <table class="Table" cellspacing="0" width="100%">
	<col style="width: 23.424%;" />
	<col style="width: 38.288%;" />
	<col style="width: 38.288%;" />
	<tr class="t1st" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter" style="color: #000000;">URL</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText"><span 
		 style="font-weight: bold;">/api/v1/tuebora/schedules/&lt;ID of 
		 the schedule&gt;</span></p></td>
		
	</tr>
	<tr class="t2Row" style="height: 20px;">
		<th style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">&#160;</th>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">PUT</p></td>
		
	</tr>
	<tr class="t1Row" style="height: 54px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">Headers</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-weight: normal;"><span 
			 style="font-weight: bold;">Content-Type</span>: application/json</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">Authorization</span>: Basic Authorization. 
			 Use the credentials of the Client added on SCIM Server as 
			 Basic Authorization Credentials.</p></li>
		</ul></td>
		
	</tr>
	<tr class="t2Row" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">Data Type</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Request 
		 Body</p></td>
		
	</tr>
	<tr class="t1Row" style="height: 403px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">Data Parameters</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="font-family: Verdana, sans-serif;"><span><span style="font-family: Verdana, sans-serif;">{</span></span></p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;name&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;configuration&quot;:{</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;startSpec&quot;:{</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;startDate&quot;:&quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;intervalType&quot;:&quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;interval&quot;:</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;endSpec&quot;:{</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;endAfterRecurrenceCount&quot;:</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;recurrenceSpec&quot;:{</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;type&quot;:&quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;dayNumber&quot;:&quot;&quot;</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">}</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;eventData&quot;:{</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;eventName&quot;:&quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;entity&quot;:[{</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;entityName&quot;:&quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;entityId&quot;:</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">}]</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">}</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">}</p></td>
		
	</tr>
	<tr class="t2Row" style="height: 38px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">Success Response 
		 Code and Response Data</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="color: #000000;">200 OK </p>
		<p class="TableText" style="color: #000000;"><span lang="EN-IN" 
															 xml:lang="EN-IN">All 
		 success responses</span> return the updated Asset data. The response 
		 contains the unique identifier of the updated Asset. </p></td>
		
	</tr>
	<tr class="t1Row" style="height: 52px;">
		<td rowspan="11" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">Error Response</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="color: #000000; 
														 font-family: Verdana, sans-serif; 
														 font-size: 10.0pt; 
														 mso-fareast-font-family: 'Times New Roman';"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Passing 
		 a duplicate authentication policy name returns an error</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText"><span 
		 lang="EN-IN" xml:lang="EN-IN">{&quot;errorCode&quot;: &quot;duplicate_policy_name&quot;,</span></p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN">&#160;&quot;errorDescription&quot;: 
		 &quot;Authentication Policy with same name is already present&quot;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 font-family: Verdana, sans-serif;">}</span><span style="font-family: Verdana, sans-serif;"> 
		 </span></p></td>
	</tr>
	<tr class="t2Row" style="height: 52px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Passing 
		 special characters for policy name returns an error</span> </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText"><span lang="EN-IN" xml:lang="EN-IN">{&quot;errorCode&quot;: 
		 &quot;714&quot;,</span></p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN">&#160;&quot;errorDescription&quot;: 
		 &quot;Invalid text used for name field. Has to be alphanumeric 
		 under 255 characters in length&quot;</span><span lang="EN-IN" 
															 xml:lang="EN-IN" 
															 style="font-size: 10.0pt; 
															 mso-fareast-font-family: 'Times New Roman'; 
															 mso-ansi-language: EN-IN; 
															 mso-fareast-language: EN-IN; 
															 mso-bidi-language: AR-SA; 
															 font-family: Verdana, sans-serif;">}</span><span 
		 style="font-family: Verdana, sans-serif;"> </span></p></td>
	</tr>
	<tr class="t1Row" style="height: 52px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; 
									 mso-fareast-font-family: 'Times New Roman'; 
									 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
									 mso-bidi-language: AR-SA; font-family: Verdana, sans-serif;">Passing 
		 invalid operation type returns an error</span><span style="font-family: Verdana, sans-serif;"> 
		 </span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText"><span lang="EN-IN" xml:lang="EN-IN">{&quot;errorCode&quot;: 
		 &quot;invalid_operation_type&quot;,</span></p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN">&#160;&quot;errorDescription&quot;: 
		 &quot;Multifactor authentication is not supported for this operation&quot;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 font-family: Verdana, sans-serif;">}</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 38px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Passing 
		 an invalid Multi-Factor Authentication type returns an error</span> 
		 </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText"><span lang="EN-IN" xml:lang="EN-IN">{&quot;errorCode&quot;: 
		 &quot;invalid_mfa_type&quot;,</span></p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN">&#160;&quot;errorDescription&quot;: 
		 &quot;Authentication Type is not supported&quot;</span><span lang="EN-IN" 
		 xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 font-family: Verdana, sans-serif;">}</span><span style="font-family: Verdana, sans-serif;"> 
		 </span></p></td>
	</tr>
	<tr class="t1Row" style="height: 38px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText"><span lang="EN-IN" xml:lang="EN-IN">If the 
		 name for an Authentication Policy is missing <b style="mso-bidi-font-weight: normal;">OR</b></span></p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; 
									 mso-fareast-font-family: 'Times New Roman'; 
									 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
									 mso-bidi-language: AR-SA; font-family: Verdana, sans-serif;">Body 
		 for the request is blank</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText"><span lang="EN-IN" xml:lang="EN-IN">{&quot;errorCode&quot;: 
		 &quot;700&quot;,</span></p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN">&#160;&quot;errorDescription&quot;: 
		 &quot;A required method parameter is missing&quot;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 font-family: Verdana, sans-serif;">}</span><span style="font-family: Verdana, sans-serif;"> 
		 </span></p></td>
	</tr>
	<tr class="t2Row" style="height: 52px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Passing 
		 a Multifactor Authentication Type that</span><span style="mso-spacerun: yes;">&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">&#160;is 
		 not enabled in Tuebora returns an error</span> </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText"><span lang="EN-IN" xml:lang="EN-IN">{&quot;errorCode&quot;: 
		 &quot;disabled_mfa_type&quot;,</span></p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN">&#160;&quot;errorDescription&quot;: 
		 &quot;Authentication Type provided in the policy is currently 
		 disabled &quot;</span><span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; 
									 mso-fareast-font-family: 'Times New Roman'; 
									 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
									 mso-bidi-language: AR-SA; font-family: Verdana, sans-serif;">}</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 66px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Passing 
		 <b style="mso-bidi-font-weight: normal;">0</b> or <b style="mso-bidi-font-weight: normal;">null</b> 
		 for the <b style="mso-bidi-font-weight: normal;">&quot;minRequire&quot;</b> 
		 parameter returns an error</span> </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText"><span lang="EN-IN" xml:lang="EN-IN">{&quot;errorCode&quot;: 
		 &quot;invalid_num_of_min_auth_to_validate&quot;,</span></p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN">&#160;&quot;errorDescription&quot;: 
		 &quot;Minimum number of authentication should be greater than 
		 zero and less than the number of authentication passed in the 
		 policy&quot;</span><span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; 
									 mso-fareast-font-family: 'Times New Roman'; 
									 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
									 mso-bidi-language: AR-SA; font-family: Verdana, sans-serif;">}</span><span 
		 style="font-family: Verdana, sans-serif;"> </span></p></td>
	</tr>
	<tr class="t2Row" style="height: 66px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Passing 
		 <b style="mso-bidi-font-weight: normal;">0</b> or <b style="mso-bidi-font-weight: normal;">null</b> 
		 for the <b style="mso-bidi-font-weight: normal;">&quot;showCount&quot;</b> 
		 parameter returns an error</span> </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText"><span lang="EN-IN" xml:lang="EN-IN">{&quot;errorCode&quot;: 
		 &quot;invalid_num_of_min_auth_presented_to_user&quot;,</span></p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN">&#160;&quot;errorDescription&quot;: 
		 &quot;Minimum number of authentication present to user should 
		 be greater than zero and less than the number of authentication 
		 passed in the policy&quot;</span><span lang="EN-IN" xml:lang="EN-IN" 
												 style="font-size: 10.0pt; 
												 mso-fareast-font-family: 'Times New Roman'; 
												 mso-ansi-language: EN-IN; 
												 mso-fareast-language: EN-IN; 
												 mso-bidi-language: AR-SA; 
												 font-family: Verdana, sans-serif;">}</span><span 
		 style="font-family: Verdana, sans-serif;"> </span></p></td>
	</tr>
	<tr class="t1Row" style="height: 38px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Passing 
		 invalid filter other than <b style="mso-bidi-font-weight: normal;">“all”</b> 
		 or <b style="mso-bidi-font-weight: normal;">“specific”</b> for 
		 Account Filter Type returns an error</span> </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText"><span lang="EN-IN" xml:lang="EN-IN">{&quot;errorCode&quot;: 
		 &quot;invalid_account_filter_type&quot;,</span></p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN">&#160;&quot;errorDescription&quot;: 
		 &quot;Account Filter Type can either be all or specific&quot;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 font-family: Verdana, sans-serif;">}</span><span style="font-family: Verdana, sans-serif;"> 
		 </span></p></td>
	</tr>
	<tr class="t2Row" style="height: 38px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Passing 
		 <b style="mso-bidi-font-weight: normal;">null</b> for the <b style="mso-bidi-font-weight: normal;">&quot;userFilter&quot;</b> 
		 parameter returns an error</span> </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText"><span lang="EN-IN" xml:lang="EN-IN">{&quot;errorCode&quot;: 
		 &quot;invalid_user_filter&quot;,</span></p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN">&#160;&quot;errorDescription&quot;: 
		 &quot;User Filter is required for specific user filter type&quot;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 font-family: Verdana, sans-serif;">}</span><span style="font-family: Verdana, sans-serif;"> 
		 </span></p></td>
	</tr>
	<tr class="t1Row" style="height: 19px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Passing 
		 <b style="mso-bidi-font-weight: normal;">null</b> for the <b style="mso-bidi-font-weight: normal;">&quot;accountFilter&quot;</b> 
		 parameter returns an error</span> </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText"><span lang="EN-IN" xml:lang="EN-IN">{&quot;errorCode&quot;: 
		 &quot;invalid_account_filter&quot;,</span></p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN">&#160;&quot;errorDescription&quot;: 
		 &quot;Account Filter is required for specific account filter type&quot;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 font-family: Verdana, sans-serif;">}</span></p></td>
	</tr>
 </table>
 <h2 class="Request">Details of Data Parameters</h2>
 <table class="Table" cellspacing="0" width="100%">
	<col width="191" />
	<col width="83" />
	<col style="width: 18.336%;" />
	<col style="width: 59.162%;" />
	<tr class="t1st">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Parameter</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Is Mandatory</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">Description</p></td>
	</tr>
	<tr class="t2Row">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">name</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 a name for the schedule.</p></td>
	</tr>
	<tr class="t1Row">
		<td colspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">configuration </p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Container 
		 to define the following:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Start 
			 Specification</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">End Specification</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Recurrence 
			 Specification</p></li>
		</ul></td>
	</tr>
	<tr class="t2Row" style="height: 0px;">
		<td rowspan="4" style="border-right: Solid 1px #c0c0c0; vertical-align: top; 
			 border-bottom-width: 1px;">
  <p class="TableText">startspec</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">&#160;</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; ">
  <p class="TableText">Container 
		 to define the following:</p>
		<ul style="list-style: disc;">
			<li>
   <p class="TableText">Start Date</p></li>
			<li>
   <p class="TableText">Interval Type </p></li>
			<li>
   <p class="TableText">Interval</p></li>
		</ul></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent; ">
  <p class="TableText">startDate</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent; ">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent; 
			 ">
  <p class="TableText">Specify the date which complies the 
		 ISO-8601 date format. The date pattern is - yyyy-MM-dd'T'HH:mm:ssZ. 
		 For example: 2020-03-09T11:58:38Z</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">intervalType</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; ">
  <p class="TableText">Specify 
		 the value that represents the span of time, which must be considered 
		 to trigger the schedule from the start date and time. &#160;<br />
		<br />
		For example, schedule must trigger after 2 days from the start 
		 date and time specified. In this case the interval type is <span 
		 style="font-weight: bold;">day. </span><br />
		<br />
		For more information on Interval Type, refer the <a href="#Supported_Interval_Types">Supported 
		 Interval Types</a> section.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent; ">
  <p class="TableText">interval</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent; ">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent; 
			 ">
  <p class="TableText">Specify the wait time from the start 
		 date. This value is dependent on Interval Type</p></td>
	</tr>
	<tr class="t2Row">
		<td rowspan="2" style="border-right: Solid 1px #c0c0c0; vertical-align: top;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">endSpec</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 " bgcolor="#A5C6E0">
  <p class="TableText">&#160;</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 " bgcolor="#A5C6E0">
  <p class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; " bgcolor="#A5C6E0">Container 
		 to specify the end specification<br />
		<br />
		<span style="font-weight: bold; font-style: italic;">Note: If you 
		 want to have the End Specification for a Schedule then you can 
		 include this container</span></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 " bgcolor="#A5C6E0">
  <p class="TableText">endAfterRecurrenceCount</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 " bgcolor="#A5C6E0">
  <p class="TableText">No</p>
		<p class="TableText">&#160;</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; " bgcolor="#A5C6E0">Specify 
		 the recurrence count after which the schedule should stop triggering.<br />
		<br />
		<span style="font-weight: bold; font-style: italic;">Note: if endSpec 
		 container is part of a schedule then it is mandatory to specify 
		 value for end after recurrence count.</span> </td>
	</tr>
	<tr class="t2Row">
		<td rowspan="2" style="border-right: Solid 1px #c0c0c0; vertical-align: top;">
  <p 
			 class="TableText">recurrenceSpec</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">&#160;</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; ">
  <p class="TableText">Container 
		 to specify the recurrence specification for the schedule.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent; ">
  <p class="TableText">type</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent; ">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent; 
			 ">
  <p class="TableText">Specify the recurrence type. </p>
		<p class="TableText">For more information on Recurrence Type, refer 
		 the <a href="#Supported_Recurrence_Types">Supported Recurrence 
		 Types</a></p></td>
	</tr>
	<tr class="t2Row">
		<td rowspan="2" style="border-right: Solid 1px #c0c0c0; vertical-align: top;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">eventData</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 " bgcolor="#A5C6E0">
  <p class="TableText">&#160;</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 " bgcolor="#A5C6E0">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; " bgcolor="#A5C6E0">
  <p 
			 class="TableText">Container to specify event data</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 " bgcolor="#A5C6E0">
  <p class="TableText">eventName</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 " bgcolor="#A5C6E0">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; " bgcolor="#A5C6E0">
  <p 
			 class="TableText">Specify the name of the event with which 
		 this schedule must be associated.</p></td>
	</tr>
	<tr class="t2Row">
		<td rowspan="3" style="border-right: Solid 1px #c0c0c0; vertical-align: top;">
  <p 
			 class="TableText">entity</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">&#160;</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; ">
  <p class="TableText">Container 
		 to specify entity information</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent; ">
  <p class="TableText">entityName</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent; ">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent; 
			 ">
  <p class="TableText">Specify the name of the entity to which 
		 the schedule is associated. For example, AcctGrp, User, Asset, 
		 Account</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">entityId</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; ">
  <p class="TableText">Specify 
		 the id of the entity specified in entity name</p></td>
	</tr>
 </table>
 <h3><a name="Supported_Interval_Types"></a>Supported Interval Types</h3>
 <table class="Table" cellspacing="0" width="100%">
	<col style="width: 36.747%;" />
	<col style="width: 63.253%;" />
	<tr class="t1st">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Interval Type</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">Valid 
		 Entry</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">minute</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">A 
		 number of minutes</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">hour</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">A 
		 number of hours</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">day</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">A 
		 number of days</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">week</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">A 
		 number of weeks</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">month</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">A 
		 number of months</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">year</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">A 
		 number of years</p></td>
	</tr>
 </table>
 <h3><a name="Supported_Recurrence_Types"></a>Supported Recurrence Types</h3>
 <table class="Table" cellspacing="0" width="100%">
	<col style="width: 19.157%;" />
	<col style="width: 80.843%;" />
	<tr class="t1st">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Recurrence Type</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText"><span 
		 style="font-weight: bold;">Recurrence Specification Sample</span></p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">specificdates</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">&quot;recurrenceSpec&quot;: 
		 {</p>
		<p class="TableText">&quot;type&quot;: &quot;specificdates&quot;,</p>
		<p class="TableText">&quot;dates&quot;: [&quot;2019-06-25T18:10:48Z&quot;]</p>
		<p class="TableText">}</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">minute</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">&quot;recurrenceSpec&quot;: 
		 {</p>
		<p class="TableText">&quot;type&quot;: &quot;minute&quot;,</p>
		<p class="TableText">&quot;recurrenceInterval&quot;: 60</p>
		<p class="TableText">}</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">hourly</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">&quot;recurrenceSpec&quot;: 
		 {</p>
		<p class="TableText">&quot;type&quot;: &quot;hourly&quot;,</p>
		<p class="TableText">&quot;recurrenceInterval&quot;: 10</p>
		<p class="TableText">}</p></td>
	</tr>
	<tr class="t1Row">
		<td rowspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">daily</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">&quot;recurrenceSpec&quot;:{</p>
		<p class="TableText">&quot;type&quot;:&quot;daily&quot;,</p>
		<p class="TableText">&quot;recurrenceType&quot;:&quot;everynthday&quot;,</p>
		<p class="TableText">&quot;recurrenceInterval&quot;:12</p>
		<p class="TableText">}</p></td>
	</tr>
	<tr class="t2Row" style="height: 0px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;recurrenceSpec&quot;:{</p>
		<p class="TableText">&quot;type&quot;:&quot;daily&quot;,</p>
		<p class="TableText">&quot;recurrenceType&quot;:&quot;everyweekday&quot;,</p>
		<p class="TableText">&quot;dayOfWeek&quot;: &quot;MON&quot;</p>
		<p class="TableText">}</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">weekly</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText">&quot;recurrenceSpec&quot;: {</p>
		<p class="TableText">&quot;type&quot;: &quot;weekly&quot;,</p>
		<p class="TableText">&quot;dayOfTheWeeks&quot;: [&quot;wednesday&quot;, 
		 &quot;thursday&quot;]</p>
		<p class="TableText">}</p></td>
	</tr>
	<tr class="t2Row">
		<td rowspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">monthly</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;recurrenceSpec&quot;: {</p>
		<p class="TableText">&quot;type&quot;: &quot;monthly&quot;,</p>
		<p class="TableText">&quot;recurrenceType&quot;: &quot;everynthdayofnthmonth&quot;,</p>
		<p class="TableText">&quot;recurrenceInterval&quot;: 3,</p>
		<p class="TableText">&quot;dayNumber&quot;: 23,</p>
		<p class="TableText">}</p></td>
	</tr>
	<tr class="t1Row" style="height: 0px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;recurrenceSpec&quot;: {</p>
		<p class="TableText">&quot;type&quot;: &quot;monthly&quot;,</p>
		<p class="TableText">&quot;recurrenceType&quot;: &quot;everynthdayofweekofnthmonth&quot;,</p>
		<p class="TableText">&quot;recurrenceInterval&quot;: 3,</p>
		<p class="TableText">&quot;dayTypeRecurrence&quot;: &quot;second&quot;,</p>
		<p class="TableText">&quot;dayType&quot;: &quot;monday&quot;</p>
		<p class="TableText">}</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">quarterly</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText" style="font-family: Verdana, sans-serif;"><span 
		 style="font-family: Verdana, sans-serif;">&quot;recurrenceSpec&quot;:{</span></p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;type&quot;:&quot;quarterly&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;dayNumber&quot;:&quot;40&quot;</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">}</p></td>
	</tr>
	<tr class="t1Row">
		<td rowspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">yearly</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="font-family: Verdana, sans-serif;"><span><span 
		 style="font-family: Verdana, sans-serif;">&quot;recurrenceSpec&quot;:{</span></span></p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;type&quot;:&quot;yearly&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;dayNumber&quot;:&quot;130&quot;</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">}</p></td>
	</tr>
	<tr class="t2Row" style="height: 0px;">
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="font-family: Verdana, sans-serif;"><span 
		 style="font-family: Verdana, sans-serif;">&quot;recurrenceSpec&quot;: 
		 {</span></p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;yearly&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;month&quot;: 
		 &quot;march&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;dayNumber&quot;: 
		 23</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">}</p></td>
	</tr>
 </table>
 <p>&#160;</p>
 <p class="Request"><img src="../Images/Image_left.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Request 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">curl -v -X PUT\</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-H &quot;Accept: application/json&quot; 
		 \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-H &quot;Content-Type: application/json&quot; 
		 \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-H &quot;Authorization: Basic ${basic_authentication_header}&quot; 
		 \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-d '</span><span lang="EN-IN" xml:lang="EN-IN" 
														 style="mso-fareast-font-family: 'Times New Roman'; 
														 mso-ansi-language: EN-IN; 
														 mso-fareast-language: EN-IN; 
														 mso-bidi-language: AR-SA;">{</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;name&quot;: 
		 &quot;Account Group Scheduler Test&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;configuration&quot;:{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;startSpec&quot;:{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;startDate&quot;:&quot;2020-03-09T11:58:38Z&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;intervalType&quot;:&quot;day&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;interval&quot;:23</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">},</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;endSpec&quot;:{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;endAfterRecurrenceCount&quot;:10</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">},</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;recurrenceSpec&quot;:{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;type&quot;:&quot;quarterly&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;dayNumber&quot;:&quot;23&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">},</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;eventData&quot;:{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;eventName&quot;:&quot;Test&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;entity&quot;:[{</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;entityName&quot;:&quot;AcctGrp&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;entityId&quot;:2323</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}]</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;"><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">}</span></span>' &quot;https://</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">{</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">yourTenantURL</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">}</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">/</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">api/v1/schedules/573</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">&quot;</span><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"> 
		 </span></p></td>
	</tr>
 </table>
 <p class="Request"><img src="../Images/Image_Right.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Response 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;id&quot;: 573,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;name&quot;: 
		 &quot;Account Group Scheduler Test&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;creationDate&quot;: 
		 &quot;2019-06-06T08:22:55Z&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;configuration&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;startSpec&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;startDate&quot;: 
		 &quot;2020-03-09T11:58:38Z&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;intervalType&quot;: 
		 &quot;day&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;interval&quot;: 
		 23</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;endSpec&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;endDate&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;endAfterRecurrenceCount&quot;: 
		 10</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;recurrenceSpec&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;type&quot;: 
		 &quot;quarterly&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;dayNumber&quot;: 
		 23</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
		<p class="TableText">&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;eventData&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eventName&quot;: 
		 &quot;Test&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;entity&quot;: 
		 [</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;entityName&quot;: 
		 &quot;AcctGrp&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;entityId&quot;: 
		 &quot;2323&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;],</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;additionalData&quot;: 
		 null</p>
		<p class="TableText">&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;schedulePattern&quot;: 
		 &quot;0 0 0 23 1/3 ? *&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;recurrenceCount&quot;: 
		 0,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;startDate&quot;: 
		 &quot;2020-04-01T11:58:38Z&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;endDate&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;endAfterRecurrence&quot;: 
		 10,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;lastOccurenceDate&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;nextScheduleDate&quot;: 
		 null</p>
		<p class="TableText">}</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
