
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Use Case Based User Guide - How do I Reset Password when Entropy is used for deciding the Password Strength and Expiration?</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "2.0_8";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../First_Topic.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../First_Topic.htm" class="homelink"><span>Use Case Based User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="3584">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../First_Topic.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>How do I Change Password when Entropy is used for deciding the Password 
 Strength and Expiration?</h1>
     <p style="font-weight: bold;"><span><span style="font-weight: bold;">Scenario</span></span></p>
     <p style="font-weight: normal;">In an organization, Tuebora administrator 
 has created a Password Policy for Corporate Active Directory by defining 
 a set of criteria. The Criteria includes Minimum Entropy criterion where 
 password reset for the accounts from the portal must meet the minimum 
 Entropy of 30 bits. Also, based on the entropy the password expiration 
 is configured as follows:</p>
     <ul style="list-style: disc;">
	<li>
 <p class="list">If the entropy range is between 31 and 60, password 
	 expires in 30 days</p></li>
	<li>
 <p class="list">If the entropy range is between 61 to 90, password 
	 expires in 60 days</p></li>
	<li>
 <p class="list">If the entropy is greater than 91, password will 
	 never expire</p></li>
</ul>
<p>You can use <span style="font-weight: bold;">Reset</span> <span style="font-weight: bold;">Password</span> 
 feature to change the password for an account.</p>
<p class="list" style="margin-left: 0pt; font-weight: bold; color: VeryDarkBlue;"><span 
	 style="font-weight: bold; color: VeryDarkBlue;"><span>Navigation</span></span></p>
<table class="Navigation" style="border: Solid 1px #000000; margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">You can change password for an account 
		 from <span style="font-weight: bold;">My Accounts &#160;&gt; Summary 
		 View</span> OR <span style="font-weight: bold;">My Accounts &gt; 
		 Tabular View</span></p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <p class="list">To change password for an Asset when entropy is configured 
 to check password strength and expiration, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Log in 
 to Tuebora portal. The <span style="font-weight: bold;">My Accounts </span>page 
 appears.<br />
The page displays the <span style="font-weight: bold;">Summary view</span> 
 of accounts.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Reset Password</span> button displayed 
 in Asset tile.<br />
The <span style="font-weight: bold;">Reset Password for &lt;User Name&gt; 
 in &lt; Asset Name&gt;</span> sub-window opens.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 3.242%;" />
	<col style="width: 96.758%;" />
	<tr>
		<td style="vertical-align: top;"><img src="../Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>:&#160;The 
		 page displays the Account from which the new password will be 
		 synchronized, if Password Synchronization is applicable for the 
		 selected Account.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>. The <span style="font-weight: bold;">Multi 
 Factor Authentication</span> page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Provide 
 responses for the required MFA options presented and click <span style="font-weight: bold;">Next</span>.<br />
The page refreshes to show the <span style="font-weight: bold;">Reset Password</span> 
 fields.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 new password in the <span style="font-weight: bold;">New</span> <span 
	 style="font-weight: bold;">Password</span> field.<br />
You can specify New Password by:</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Typing 
 your preferred password in <span style="font-weight: bold;">New Password</span> 
 field. <span style="font-weight: bold;">OR</span></p>
 <table width="100%">
	<col style="width: 3.067%;" />
	<col style="width: 96.933%;" />
	<tr>
		<td style="vertical-align: top;"><img src="../Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText" style="font-weight: normal;"><span style="font-weight: bold;">Note</span>:&#160;Your 
		 preferred password must meet the password policy requirements.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Clicking 
 the <span style="font-weight: bold;">Generate Password</span> button to 
 use the system suggested pass phrase as new password.<br />
The system generated pass phrase meets all the password requirements.<br />
<br />
When you click the <span style="font-weight: bold;">Generate Password</span> 
 button, system generates the pass phrase and auto fills in <span style="font-weight: bold;">New</span> 
 <span style="font-weight: bold;">Password</span> and <span style="font-weight: bold;">Confirm</span> 
 <span style="font-weight: bold;">New</span> <span style="font-weight: bold;">Password</span> 
 fields and shows the new pass phrase in clear text in <span style="font-weight: bold;">New 
 Password</span> field.</p>
 <table >
	<tr>
		<td style="vertical-align: top;"><img src="../Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText" style="font-weight: normal;"><span style="font-weight: bold;">Note</span>:&#160;If 
		 you used the option <span style="font-weight: bold;">Generate 
		 Password</span> to auto-generate the password while resetting 
		 password, then the system generated password meets the entropy 
		 requirement. </p></td>
	</tr>
 </table>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Type 
 the password in <span style="font-weight: bold;">New Password</span> field.<br />
If the new password does not satisfy the entropy requirement, then system 
 does not allow to reset the password. <br />
<br />
Following figure shows an example where the password <span style="font-weight: bold;">Entropy 
 range is between 31 to 60</span>. System shows the password expiration 
 information based on the Entropy range.<br />
<br />
<img src="Images/PasswordReset_Entropyexpiration.png" alt="" style=" border:none; width:100%; max-width:747px;" border="0" /><br />
<br />
Following figure shows an example where the password Entropy range is between 
 61 to 90. System shows the password expiration information based on Entropy 
 range.<br />
<br />
<img src="Images/PasswordReset_Entropyexpiration1.png" alt="" style=" border:none; width:100%; max-width:726px;" border="0" /><br />
<br />
Following figure shows an example where the password Entropy range is grater 
 than 91. System shows the message that the password never expires.<br />
<br />
<img src="Images/PasswordReset_Entropyexpiration2.png" alt="" style=" border:none; width:100%; max-width:707px;" border="0" /></p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Retype the password in </span><span style="text-indent: -20px; 
	 font-weight: bold;">Confirm New Password</span><span style="text-indent: -20px;"> 
 field. <br />
System displays the criteria that are satisfied by the new password and 
 shows the password strength and entropy.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Submit</span>.<br />
System closes the Reset Password window. </p>
 <h2 class="list"><span style="text-indent: -20px;">W</span>hat Happens?</h2>
 <p>After you change password for an account the following will happen:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>If the 
 Password change operation is successful, the account for which password 
 is reset, the <span style="font-weight: bold;">Password Last Changed</span> 
 is updated with the latest password changed date and time.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>System 
 synchronizes the new password to other applications based on the password 
 synchronization rule defined in the portal. The Account for which password 
 is synchronized, the <span style="font-weight: bold;">Password Last Synchronized</span> 
 is updated with the latest password sync date and time.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Password 
 Reset Status email is sent to an End User.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Audit log is recorded for the activity. 
 You can view the activity information from My Activities. The </span><span 
	 style="text-indent: -20px; font-weight: bold;">Activity Type</span><span 
	 style="text-indent: -20px;"> for password reset is </span><span style="text-indent: -20px; 
	 font-weight: bold;">Reset Password</span><span style="text-indent: -20px;">.</span></p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
