
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Use Case Based User Guide - Request Type and Custom Forms</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../First_Topic.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../First_Topic.htm" class="homelink"><span>Use Case Based User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="176">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../First_Topic.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <p><span style="font-weight: bold;">Tuebora Request Management</span> delivers 
 employee self-service through <span style="font-weight: bold;">OOTB Request 
 Types</span>, <span style="font-weight: bold;">Request Approval</span> 
 and <span style="font-weight: bold;">Workflows</span> for automated fulfilment.<span 
	 style="mso-spacerun: yes;">&#160;</span>&#160;System provides the 
 capability to request any access and get automated status updates to ensure 
 the expectations are met.</p>
     <h2>Analyze Request Requirements</h2>
     <p>Before implementing Request service in any deployment, you must consider 
 the following:</p>
     <h3><span style="mso-bidi-font-weight: normal;"><a name="Access_Items_that_will_be_requested"></a>Access/Items</span> 
 that will be requested</h3>
     <p>You must identify the things that will be requested in a deployment.<span 
	 style="mso-spacerun: yes;">&#160;</span>&#160;In any deployment, Employee 
 can request for -</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l6 level2 lfo1; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Account 
 in an Asset</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l6 level2 lfo1; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Grant Membership in an existing 
 Group</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l6 level2 lfo1; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Create a New Group in an Asset</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l6 level2 lfo1; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Create a New Group in an Asset 
 and make few users as Owners and Members of the Group</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l6 level2 lfo1; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Grant Permission on Folder/File</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l6 level2 lfo1; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Create a New Role in an Asset</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l6 level2 lfo1; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Grant an existing role in 
 an Asset. Etc.<br />
<br />
You have to collect details on the data that must be provided by users 
 while requesting different request item. <span style="mso-spacerun: yes;">&#160;</span>Refer 
 <b style="mso-bidi-font-weight: normal;"><a href="#Types_of_Request">Types 
 of Request</a></b> section for more information.</p>
     <h2><span class="Heading3Char">Users allowed to request</span></h2>
     <p>You must identify who can submit new requests and for whom. In any deployment 
 employee can request for -</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l1 level1 lfo2; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Self 
 – Allows all employees to request for self.</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l1 level1 lfo2; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Peer – Allow employee to request 
 access for his/her team members and manager.</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l1 level1 lfo2; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Team Members – Allow employee, 
 who is a manager, to request for his/her team members.</p>
     <p class="list" style="
mso-list:l1 level1 lfo2;
mso-add-space:auto; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>All Users</p>
     <p class="list" style="
mso-list:l1 level1 lfo2;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-add-space: auto; mso-text-indent-alt: -9.0pt; mso-list: l6 level3 lfo1;">Allow 
 any employee to request for any user in the company.</span></p>
     <p class="list" style="
mso-list:l1 level1 lfo2;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-add-space: auto; text-indent: -108.0pt; mso-text-indent-alt: -9.0pt; 
	 mso-list: l6 level3 lfo1;">Allow employee, who is an owner of the 
 Asset, to request for any user in the company.</span></p>
     <h3>Restriction on requests</h3>
     <p>You have to lay down whether there are any restrictions on employee 
 requests.<br />
<br />
Some organizations follow Role-based Access Control where employees with 
 certain role are allowed to request certain access or access in certain 
 Asset.</p>
     <h3>Request Approval process</h3>
     <p>Identify the Request Access Approval process for requests.<br />
<br />
Companies can have requirements where:</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l4 level1 lfo3; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>High 
 risk, Privileged and Owner <span style="mso-spacerun: yes;">&#160;</span>access 
 requests must go through multiple level approvals</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l4 level1 lfo3; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Low Risk and regular access 
 requests must go through one level approval.</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l4 level1 lfo3; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Some access requests by users 
 with specific role are auto-approved</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l4 level1 lfo3; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>For users matching certain 
 criteria requesting specific type of request must go through multiple 
 levels of approval.</p>
     <h3>Request fulfilment</h3>
     <p class="MsoNormal">Gather information on how the request fulfilment must 
 happen in different target applications. Some companies may have requirements 
 like:</p>
     <p class="list" style="
mso-list:l2 level1 lfo4; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Fulfilment via ticketing system</span> 
 - After request approval, Tuebora must create Ticket in ServiceNow. <span 
	 style="mso-spacerun: yes;">&#160;</span>Later the requests will be 
 fulfilled manually and ticket will be closed. After ticket is closed, 
 in Tuebora Request must be marked as completed and access must be granted.</p>
     <p class="list" style="
mso-list:l2 level1 lfo4; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Manual Fulfilment</span> 
 - After request approval in Tuebora, Application owners manually fulfil 
 the requests in Target application. When data is collected from the target 
 application new access granted is detected and a request is marked as 
 completed.</p>
     <p class="list" style="
mso-list:l2 level1 lfo4; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Automatic Fulfilment</span> 
 - After request approval, Tuebora must complete the fulfilment in the 
 Target application.<br />
<br />
After getting snapshot of Request Requirements, you must <a href="#Types_of_Request">collect 
 detailed information on different Access/Items that will be requested</a>. 
 <span style="mso-spacerun: yes;">&#160;</span></p>
     <h2><a name="Types_of_Request"></a>Types of Request</h2>
     <p class="MsoNormal">Based on the requirements collected on the items that 
 will be allowed for employees to request, you must collect information 
 on what data must be provided by employees for requesting different Request 
 Item/Type.</p>
     <p class="MsoNormal">Let’s discuss an example scenario. A company has identified 
 the following Request Types that will be allowed for requesting by its 
 employees:</p>
     <p style="
mso-list:l5 level1 lfo5; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Request 
 for Account in an Application</p>
     <p style="
mso-list:l5 level1 lfo5; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Request 
 for creating a new Group in an Application</p>
     <p style="
mso-list:l5 level1 lfo5; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Request 
 for membership in a Group in an Application</p>
     <p style="
mso-list:l5 level1 lfo5; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Request 
 for an access</p>
     <p style="
mso-list:l5 level1 lfo5; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Request 
 for Remove a Group</p>
     <p style="
mso-list:l5 level1 lfo5; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Request 
 for Remove an Access</p>
     <p style="mso-bidi-font-weight: normal;"><b><a name="Request_for_Account_in_an_Application"></a>Request 
 for Account in an Application</b></p>
     <p class="MsoNormal">The request flow must be:</p>
     <p class="list" style="
mso-list:l11 level1 lfo6; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>This 
 request type must be displayed for all Users</p>
     <p class="list" style="
mso-list:l11 level1 lfo6; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Allow End User to request for self</p>
     <p class="list" style="
mso-list:l11 level1 lfo6; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Allow Users to request for any user in the system.</p>
     <p class="list" style="
mso-list:l11 level1 lfo6; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the Create application account in X Application</p>
     <p class="list" style="
mso-list:l11 level1 lfo6; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Provide the justification why user wants the application 
 account</p>
     <p class="list" style="
mso-list:l11 level1 lfo6;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-list: l11 level2 lfo6;">Performing additional responsibilities 
 assigned to him/her</span></p>
     <p class="list" style="
mso-list:l11 level1 lfo6;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-list: l11 level2 lfo6;">Performing </span><span style="mso-list: l11 level2 lfo6; 
	 mso-spacerun: yes;">&#160;</span><span style="mso-list: l11 level2 lfo6;">someone 
 else’s </span><span style="mso-list: l11 level2 lfo6; mso-spacerun: yes;">&#160;</span><span 
	 style="mso-list: l11 level2 lfo6;">job assigned to him/her</span></p>
     <p class="list" style="
mso-list:l11 level1 lfo6; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the duration for which the application account</p>
     <p class="list" style="
mso-list:l11 level2 lfo6;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Support 
 to request from current date and time</p>
     <p class="list" style="
mso-list:l11 level2 lfo6;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Support 
 to request for indefinite period</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l11 level2 lfo6; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Support 
 to select specific period<span style="mso-spacerun: yes;">&#160;</span>&#160;- 
 From and To date</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l11 level2 lfo6; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Support 
 to request by selecting future date</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l11 level2 lfo6; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -18.0pt; mso-list: l11 level1 lfo6;">Specify the 
 additional details for requesting.</span></p>
     <p style="mso-bidi-font-weight: normal;"><b><a name="Request_for_creating_a_new_Group_in_an_Application"></a>Request 
 for creating a new Group in an Application</b></p>
     <p>The request flow must be:</p>
     <p class="list" style="
mso-list:l9 level1 lfo7; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>The 
 request type must be displayed <span style="mso-spacerun: yes;">&#160;</span>for 
 user having Group Administrators role</p>
     <p class="list" style="
mso-list:l9 level1 lfo7; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Provide the Name for new Group. Group name must 
 not exceed 25 characters</p>
     <p class="list" style="
mso-list:l9 level1 lfo7; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Provide Description for the Group. Group Description 
 should not include special characters</p>
     <p class="list" style="
mso-list:l9 level1 lfo7; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the Asset/Server in which the Group must 
 be created.</p>
     <p class="list" style="
mso-list:l9 level1 lfo7; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify the Path where the Group must be created</p>
     <p class="list" style="mso-list: l9 level1 lfo7; 
											 margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Group Owners.<br />
<br />
System must allow to select multiple Owners</p>
     <p class="MsoListParagraphCxSpMiddle" 
											 style="mso-add-space: auto; 
											 mso-list: l9 level2 lfo7; 
											 margin-left: 100px; text-indent: -20px; 
											 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Owner 
 1</p>
     <p class="MsoListParagraphCxSpMiddle" 
											 style="mso-add-space: auto; 
											 mso-list: l9 level2 lfo7; 
											 margin-left: 100px; text-indent: -20px; 
											 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Owner 
 2</p>
     <p class="MsoListParagraphCxSpMiddle" 
											 style="mso-add-space: auto; 
											 mso-list: l9 level2 lfo7; 
											 margin-left: 100px; text-indent: -20px; 
											 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Owner 
 3</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l9 level1 lfo7; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 Risk Rating for Access – Rating must be Low, Medium, High</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l9 level2 lfo7; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -18.0pt; mso-list: l9 level1 lfo7;">Specify whether 
 the Group </span><span style="text-indent: -18.0pt; mso-list: l9 level1 lfo7; 
						 mso-spacerun: yes;">&#160;</span><span style="text-indent: -18.0pt; 
	 mso-list: l9 level1 lfo7;">is Privileged or not – Options </span><span 
	 style="text-indent: -18.0pt; mso-list: l9 level1 lfo7; mso-spacerun: yes;">&#160;</span><span 
	 style="text-indent: -18.0pt; mso-list: l9 level1 lfo7;">available 
 must be Yes or No</span></p>
     <p style="mso-bidi-font-weight: normal;"><b><a name="Request_for_membership_in_a_Group_in_an_Application"></a>Request 
 for membership in a Group in an Application</b></p>
     <p>The request flow must be:</p>
     <p class="list" style="
mso-list:l7 level1 lfo8; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>The 
 request type must be displayed for all Users</p>
     <p class="list" style="
mso-list:l7 level1 lfo8; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Allow End User to request for self</p>
     <p class="list" style="
mso-list:l7 level1 lfo8; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Allow Users to request for any user in the system.</p>
     <p class="list" style="
mso-list:l7 level1 lfo8; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the Group Access in X Application</p>
     <p class="list" style="
mso-list:l7 level1 lfo8; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Provide the justification why user wants the application 
 account</p>
     <p class="list" style="
mso-list:l7 level1 lfo8;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-list: l7 level2 lfo8;">Performing additional responsibilities 
 assigned to him/her</span></p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l7 level2 lfo8; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Performing 
 <span style="mso-spacerun: yes;">&#160;</span>someone else’s <span style="mso-spacerun: yes;">&#160;</span>job 
 assigned to him/her</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l7 level1 lfo8; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the duration for which the application account</p>
     <p class="list" style="
mso-list:l7 level2 lfo8;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Support 
 to request from current date and time</p>
     <p class="list" style="
mso-list:l7 level2 lfo8;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Support 
 to request for indefinite period</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l7 level2 lfo8; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Support 
 to select specific period<span style="mso-spacerun: yes;">&#160;</span>&#160;- 
 From and To date</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l7 level2 lfo8; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Support 
 to request by selecting future date</p>
     <p class="list" style="
mso-add-space:auto;
mso-list:l7 level2 lfo8; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -18.0pt; mso-list: l7 level1 lfo8;">Specify the 
 additional details for requesting.</span></p>
     <p><b><a name="Request_for_a_new_access_in_an_Application"></a>Request 
 for a new access in an Application</b></p>
     <p>The request flow must be:</p>
     <p class="list" style="
mso-list:l10 level1 lfo9; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>This 
 request type must be displayed for all Users</p>
     <p class="list" style="
mso-list:l10 level1 lfo9; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Allow End User to request for self</p>
     <p class="list" style="
mso-list:l10 level1 lfo9; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Allow Users to request for any user in the system.</p>
     <p class="list" style="
mso-list:l10 level1 lfo9; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the Access in X Application</p>
     <p class="list" style="
mso-list:l10 level2 lfo9;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>When Role 
 based Access control is applicable</p>
     <p style="
mso-add-space:auto;
mso-list:l10 level2 lfo9; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-add-space: auto; text-indent: -108.0pt; mso-text-indent-alt: -9.0pt; 
	 mso-list: l10 level3 lfo9;">System must</span><span style="mso-add-space: auto; 
														 text-indent: -108.0pt; 
														 mso-text-indent-alt: -9.0pt; 
														 mso-list: l10 level3 lfo9; 
														 mso-spacerun: yes;">&#160;</span><span 
	 style="mso-add-space: auto; text-indent: -108.0pt; mso-text-indent-alt: -9.0pt; 
	 mso-list: l10 level3 lfo9;">&#160;show message that the user cannot 
 request the selected access</span></p>
     <p class="list" style="mso-list: l10 level1 lfo9; 
											 mso-add-space: auto; margin-left: 100px; 
											 text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-add-space: auto; text-indent: -108.0pt; mso-text-indent-alt: -9.0pt; 
	 mso-list: l10 level3 lfo9;">For some access, user must select the 
 following additional information:</span></p>
     <p class="MsoListParagraphCxSpMiddle" 
											 style="mso-add-space: auto; 
											 mso-list: l10 level4 lfo9; 
											 margin-left: 120px; text-indent: -20px; 
											 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Server 
 Name</p>
     <p class="MsoListParagraphCxSpMiddle" 
											 style="mso-add-space: auto; 
											 mso-list: l10 level4 lfo9; 
											 margin-left: 120px; text-indent: -20px; 
											 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Cost 
 Center etc.</p>
     <p class="list" style="
mso-list:l10 level1 lfo9; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Provide 
 the justification why user wants the application account</p>
     <p class="list" style="
mso-list:l10 level1 lfo9;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-list: l10 level2 lfo9;">Performing additional responsibilities 
 assigned to him/her</span></p>
     <p class="list" style="
mso-list:l10 level1 lfo9;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-list: l10 level2 lfo9;">Performing </span><span style="mso-list: l10 level2 lfo9; 
	 mso-spacerun: yes;">&#160;</span><span style="mso-list: l10 level2 lfo9;">someone 
 else’s </span><span style="mso-list: l10 level2 lfo9; mso-spacerun: yes;">&#160;</span><span 
	 style="mso-list: l10 level2 lfo9;">job assigned to him/her</span></p>
     <p class="list" style="
mso-list:l10 level1 lfo9; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the duration for which the application account</p>
     <p class="list" style="
mso-list:l10 level1 lfo9;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-list: l10 level2 lfo9;">Support to request from current 
 date and time</span></p>
     <p class="list" style="
mso-list:l10 level1 lfo9;
mso-add-space:auto; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-list: l10 level2 lfo9;">Support to request for indefinite 
 period</span></p>
     <p class="list" style="
mso-add-space:auto;
mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin;
mso-list:Ignore; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Support 
 to select specific period<span style="mso-spacerun: yes;">&#160;</span>&#160;- 
 From and To date</p>
     <p class="list" style="
mso-add-space:auto;
mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin;
mso-list:l10 level2 lfo9; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Support 
 to request by selecting future date</p>
     <p class="list" style="
mso-add-space:auto;
mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin;
mso-list:Ignore; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -18.0pt; mso-bidi-font-family: Calibri; mso-bidi-theme-font: minor-latin; 
	 mso-list: Ignore;">Specify the additional details for requesting.</span></p>
     <p><b><a name="Request_to_Remove_an_Access"></a>Request to Remove an Access</b></p>
     <p>The request flow must be:</p>
     <p class="list" style="
mso-list:l3 level1 lfo10; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>This 
 request type must be displayed for all Users</p>
     <p class="list" style="
mso-list:l3 level1 lfo10; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Allow End User to request for self</p>
     <p class="list" style="
mso-list:l3 level1 lfo10; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Allow Users to request for any user in the system.</p>
     <p class="list" style="
mso-list:l3 level1 lfo10; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the Access in X Application</p>
     <p class="list" style="
mso-list:l3 level1 lfo10; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the date on which the access must be removed</p>
     <p class="list" style="
mso-list:l3 level1 lfo10; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Reason for requesting to remove the Access</p>
     <p class="MsoNormal">After collecting the detailed flow for each request 
 type you have to decide how the request flows must be implemented in Tuebora.</p>
     <h1>Implement Request Flows</h1>
     <p>To implement request flows, you must identify:</p>
     <ul style="list-style: disc;">
	<li>
 <p class="list"><b style="mso-bidi-font-weight: normal;">The request 
	 items that can be implemented using the OOTB/exiting Request Type</b><br />
	Means that request flow captures the same details as supported in OOTB/existing 
	 Request Type. Hence there is no need to extend or create a custom 
	 request type.</p></li>
	<li>
 <p class="list"><b style="mso-bidi-font-weight: normal;">The request 
	 items that need extension to the OOTB/existing Request Type</b><br />
	Means that request flow captures all the details supported in OOTB/existing 
	 Request Type and one additional form needs to be added to capture 
	 some additional details.<br />
	<br />
	In this case, for the OOTB/existing Request Type an additional form 
	 needs to be added. When an Access is selected for which the additional 
	 data must be captured then system displays the additional form to 
	 provide the details.</p></li>
	<li>
 <p class="list"><b style="mso-bidi-font-weight: normal;">The request 
	 items that need a Custom Request Type</b><br />
	Means that request flow captures details that are not supported in 
	 the OOTB/exiting Request type. Then a custom Request Type must be 
	 added to capture the appropriate data.<br />
	<br />
	After identifying the implementation procedure:</p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>If any 
 request item needs a custom request type to be added, then follow the 
 steps provided in <a href="Add_New_Request_Type.htm">Add New Request Type</a> 
 topic.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>If any 
 request item needs extending the OOTB request type, then follow the steps 
 provided in <a href="Extending_OOTB_Request_Type.htm">Extending OOTB/existing 
 Request Type</a> topic. </p>
<br style="page-break-before: always;" />

</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
