
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora REST API - Create Account Linking Rule</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "3.0_3";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../Tuebora_API.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../Tuebora_API.htm" class="homelink"><span>Tuebora REST API</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="344">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../Tuebora_API.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


<br style="page-break-before: always;" />

     <h1>Create Account Linking Rule</h1>
     <p><span lang="EN-IN" xml:lang="EN-IN">Create a new Account Linking Rule 
 in Tuebora.</span></p>
     <table class="Table" cellspacing="0" width="100%">
	<col style="width: 23.424%;" />
	<col style="width: 38.288%;" />
	<col style="width: 38.288%;" />
	<tr class="t1st" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter" style="color: #000000;">URL</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="font-weight: bold;">api/v1/accountlinkingrules</p></td>
		
	</tr>
	<tr class="t2Row" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter">HTTP Method</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">POST</p></td>
		
	</tr>
	<tr class="t1Row" style="height: 54px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter">Headers</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">Content-Type</span>: application/json</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">Authorization</span>: Basic Authorization. 
			 Use Tuebora API Authentication Credentials as Basic Authorization 
			 Credentials.</p></li>
		</ul></td>
		
	</tr>
	<tr class="t2Row" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter">Data Type</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Request 
		 Body</p></td>
		
	</tr>
	<tr class="t1Row" style="height: 138px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter"><a href="#Details_of_Data_Parameters">Data 
		 Parameters</a></p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="tabletext"><span 
		 lang="EN-IN" xml:lang="EN-IN">{</span></p>
		<p class="tabletext"><span lang="EN-IN" xml:lang="EN-IN"><span 
		 style="mso-spacerun: yes;">&#160;</span>&quot;name&quot;: &quot;&quot;,</span></p>
		<p class="tabletext"><span lang="EN-IN" xml:lang="EN-IN"><span 
		 style="mso-spacerun: yes;">&#160;</span>&#160;&quot;type&quot;: 
		 &quot;&quot;,</span></p>
		<p class="tabletext"><span lang="EN-IN" xml:lang="EN-IN"><span 
		 style="mso-spacerun: yes;">&#160;</span>&#160;&quot;assetId&quot;: 
		 &quot;&quot;,</span></p>
		<p class="tabletext"><span lang="EN-IN" xml:lang="EN-IN"><span 
		 style="mso-spacerun: yes;">&#160;</span>&#160;&quot;userFilter&quot;: 
		 null,</span></p>
		<p class="tabletext"><span lang="EN-IN" xml:lang="EN-IN"><span 
		 style="mso-spacerun: yes;">&#160;</span>&#160;&quot;accountFilter&quot;: 
		 null,</span></p>
		<p class="tabletext"><span lang="EN-IN" xml:lang="EN-IN"><span 
		 style="mso-spacerun: yes;">&#160;</span>&#160;&quot;linkClause&quot;: 
		 &quot;&quot;</span></p>
		<span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; font-family: Arial, sans-serif; 
				 mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-IN; 
				 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">}</span> 
		 </td>
		
	</tr>
	<tr class="t2Row" style="height: 38px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="APIParameter">Success 
		 Response Code and Response Data</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText">200 OK</p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN">All success 
		 responses return the Linking Rule created.</span></p></td>
		
	</tr>
	<tr class="t1Row" style="height: 36px;">
		<td rowspan="5" style="border-right: Solid 1px #c0c0c0; border-bottom-width: 1px;" 
			 bgcolor="#A5C6E0">
  <p class="APIParameter">Error Response</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom-width: 1px;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="color: #000000;">For 
		 passing a request without specifying account linking rule name</p></td>
		<td style="border-bottom-width: 1px;" bgcolor="#A5C6E0">
  <p class="TableText" 
			 style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;817&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Account Linking Rule name is missing.&quot;<span style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 44px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom-width: 1px;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="color: #000000;">For 
		 passing a request where the Account Linking Rule name is same 
		 as an existing rule</p></td>
		<td style="border-bottom-width: 1px;" bgcolor="#A5C6E0">
  <p class="TableText" 
			 style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;818&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Account Linking Rule with this name already exists.&quot;<span 
		 style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 60px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom-width: 1px;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="color: #000000;">For 
		 passing a request without rule type property</p></td>
		<td style="border-bottom-width: 1px;" bgcolor="#A5C6E0">
  <p class="TableText" 
			 style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;819&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Type is not valid. &#160;It should be either 'global' or 
		 'asset'.&quot;<span style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 50px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom-width: 1px;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="color: #000000;">For 
		 passing a request to create asset-specific rule and the Asset 
		 Id mentioned does not match with the Assets available in Tuebora</p></td>
		<td style="border-bottom-width: 1px;" bgcolor="#A5C6E0">
  <p class="TableText" 
			 style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;821&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;There is no Asset matching the ID given in the Rule.&quot;<span 
		 style="color: #000000;">}</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 53px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom-width: 1px;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="color: #000000;">For 
		 passing a request without specifying link criteria</p></td>
		<td style="border-bottom-width: 1px;" bgcolor="#A5C6E0">
  <p class="TableText" 
			 style="color: #000000;"><span style="color: #000000;">{&quot;errorCode&quot;: 
		 &quot;822&quot;,</span></p>
		<p class="TableText" style="color: #000000;">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Account Linking Rule does not have link criteria.&quot;<span 
		 style="color: #000000;">}</span></p></td>
	</tr>
 </table>
 <h3 class="Request"><a name="Details_of_Data_Parameters"></a>Details of 
 Data Parameters</h3>
 <table class="Table" cellspacing="0" width="100%">
	<col width="237" />
	<col width="194" />
	<col width="941" />
	<tr class="t1st" style="height: 20px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Parameter</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Is Mandatory</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">Description</p></td>
	</tr>
	<tr class="t2Row" style="height: 20px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: normal;">name</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 a Name for the Account Linking Rule.</p></td>
	</tr>
	<tr class="t1Row" style="height: 70px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: normal;">type</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">You 
		 can create Global or Asset specific Account linking Rules. </p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Specify 
			 <span style="font-weight: bold;">global</span> to create global 
			 rules</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Specify 
			 <span style="font-weight: bold;">asset</span> to create asset-specific 
			 rules</p></li>
		</ul></td>
	</tr>
	<tr class="t2Row" style="height: 21px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: normal;">assetId</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the ID of the Asset for which the policy is created.</p></td>
	</tr>
	<tr class="t1Row" style="height: 34px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: normal;">userFilter</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 filters on users, if you want the rule to be applied to users 
		 meeting the criteria specified. You can specify more than one 
		 user filter.</p></td>
	</tr>
	<tr class="t2Row" style="height: 29px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: normal;">accountFilter</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 filters on account, if you want the rule to be applied to accounts 
		 meeting the criteria specified. You can specify more than one 
		 account filter.</p></td>
	</tr>
	<tr class="t1Row" style="height: 29px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: normal;">linkClause</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the clause based on which user must be mapped to accounts. The 
		 format that must be used for defining the link clause is - &lt;User.{AttributeName}=Account.{AttributName}<br />
		<br />
		Example: <span style="font-weight: bold;">User.Email Address=Account.Email 
		 Address</span></p></td>
	</tr>
 </table>
 <p class="Request"><img src="../Images/Image_left.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Request 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
				 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">curl 
		 -v -X POST \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Accept: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Content-Type: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Authorization: Basic ${basic_authentication_header}&quot; 
		 \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-d 
		 '{</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;name&quot;: 
		 &quot;Rule for Corporate Active Directory&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;type&quot;: 
		 &quot;asset&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;assetId&quot;: 
		 &quot;6&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;userFilter&quot;: 
		 null,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;accountFilter&quot;: 
		 null,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;linkClause&quot;: 
		 &quot;User.Email Address=Account.Email Address&quot;</span></p>
		<p class="TableText" style="font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 mso-bidi-font-weight: bold;">}' &quot;https://{yourTenantURL}/</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">api/v1/accountlinkingrules</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 mso-bidi-font-weight: bold;">&quot;</span></p></td>
	</tr>
 </table>
 <p class="Request"><img src="../Images/Image_Right.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Response 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
				 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">{</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;id&quot;: 
		 &quot;3fbb0e46-779a-4db5-8ad2-d48982909710&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;creationDate&quot;: 
		 1537956108673,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;createdBy&quot;: 
		 &quot;TueboraClientAPI2&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;lastModifiedDate&quot;: 
		 1537956108673,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;lastModifiedBy&quot;: 
		 &quot;TueboraClientAPI2&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;name&quot;: 
		 &quot;Rule for Corporate Active Directory&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;type&quot;: 
		 &quot;asset&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;assetId&quot;: 
		 6,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">&#160;&quot;definitionJson&quot;: 
		 &quot;{\&quot;name\&quot;:\&quot;Rule for Corporate Active Directory\&quot;,\&quot;type\&quot;:\&quot;asset\&quot;,\&quot;userFilter\&quot;:null,\&quot;accountFilter\&quot;:null,\&quot;assetId\&quot;:6,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">\&quot;definitionJSON\&quot;:null,\&quot;linkCriteria\&quot;:\&quot;User.Email 
		 Address=Account.Email Address\&quot;}&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">&quot;linkCriteria&quot;: 
		 &quot;User.Email Address=Account.Email Address&quot;</span></p></td>
	</tr>
 </table>
<b><span lang="EN-IN" xml:lang="EN-IN"><br style="page-break-before: always;" />
</span></b> 
 <p class="Request" style="font-size: 12.0pt;"><b style="font-weight: bold;"><span 
	 lang="EN-IN" xml:lang="EN-IN">Sample Requests and Response</span></b></p>
 <ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="tabletext" style="margin-left: 41.0pt; 
										 text-indent: -.25in; mso-list: l0 level1 lfo1;"><span 
	 lang="EN-IN" xml:lang="EN-IN"><a href="#Global_Account_Linking_Rule">Global 
	 Account Linking Rule</a></span></p></li>
	<li style="margin-left: -20px;">
 <p class="tabletext" style="margin-left: 41.0pt; 
										 text-indent: -.25in; mso-list: l0 level1 lfo1;"><span 
	 lang="EN-IN" xml:lang="EN-IN"><a href="#Account_Linking_Rule_with_User_Filter">Account 
	 Linking Rule with User Filter</a></span></p></li>
	<li style="margin-left: -20px;">
 <p class="tabletext" style="margin-left: 41.0pt; 
										 text-indent: -.25in; mso-list: l0 level1 lfo1;"><span 
	 lang="EN-IN" xml:lang="EN-IN"><a href="#Account_Linking_Rule_with_Account_Filter">Account 
	 Linking Rule with Account Filter</a></span></p></li>
</ul>
<h3><b><span lang="EN-IN" xml:lang="EN-IN"><a name="Global_Account_Linking_Rule"></a>Global 
 Account Linking Rule</span></b></h3>
<p class="Request"><img src="../Images/Image_left.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Request 
 Example</p>
<table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
				 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">curl 
		 -v -X POST \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Accept: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Content-Type: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Authorization: Basic ${basic_authentication_header}&quot; 
		 \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-d 
		 '{</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;name&quot;: 
		 &quot;Global Rule for Corporate AD&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;type&quot;: 
		 &quot;global&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;assetId&quot;: 
		 null,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;userFilter&quot;: 
		 null,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;accountFilter&quot;: 
		 null,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;linkClause&quot;: 
		 &quot;User.Email Address=Account.Email Address&quot;</span></p>
		<p class="TableText" style="font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 mso-bidi-font-weight: bold;">}' &quot;https://{yourTenantURL}/</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">api/v1/accountlinkingrules</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 mso-bidi-font-weight: bold;">&quot;</span> </p></td>
	</tr>
 </table>
 <p class="Request"><img src="../Images/Image_Right.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Response 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
				 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">{</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;id&quot;: 
		 &quot;67ebcd6c-36fa-4e4b-8541-0185a90387b0&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;creationDate&quot;: 
		 1537962220571,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;createdBy&quot;: 
		 &quot;TueboraClientAPI2&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;lastModifiedDate&quot;: 
		 1537962220571,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;lastModifiedBy&quot;: 
		 &quot;TueboraClientAPI2&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;name&quot;: 
		 &quot;Global Rule for Corporate AD&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;type&quot;: 
		 &quot;global&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;assetId&quot;: 
		 null,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">&#160;&quot;definitionJson&quot;: 
		 &quot;{\&quot;name\&quot;:\&quot;Global Rule for Corporate AD\&quot;,\&quot;type\&quot;:\&quot;global\&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;userFilter\&quot;:null,\&quot;accountFilter\&quot;:null,\&quot;assetId\&quot;:null,\&quot;definitionJSON\&quot;:null,\&quot;linkCriteria\&quot;:</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">\&quot;User.Email 
		 Address=Account.Email Address\&quot;}&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;linkCriteria&quot;: 
		 &quot;User.Email Address=Account.Email Address&quot;</span></p>
		<span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; font-family: Arial, sans-serif; 
				 mso-fareast-font-family: 'Times New Roman'; color: #000000; 
				 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
				 mso-bidi-language: AR-SA; mso-bidi-font-weight: bold;">}</span> 
		 </td>
	</tr>
 </table>
<span lang="EN-IN" xml:lang="EN-IN"><br style="page-break-before: always;" />
</span> 
 <h3><span lang="EN-IN" xml:lang="EN-IN"><a name="Account_Linking_Rule_with_User_Filter"></a>Account 
 Linking Rule with User Filter</span></h3>
 <p class="Request"><span lang="EN-IN" xml:lang="EN-IN"><img src="../Images/Image_left.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /></span> 
 &#160;Request Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
				 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">curl 
		 -v -X POST \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Accept: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Content-Type: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Authorization: Basic ${basic_authentication_header}&quot; 
		 \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-d 
		 '{</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;name&quot;: 
		 &quot;Rule for Corporate AD&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;type&quot;: 
		 &quot;asset&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;assetId&quot;: 
		 &quot;6&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;userFilter&quot;: 
		 {</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 2;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;joinOperator&quot;: 
		 &quot;and&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 2;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;filters&quot;: 
		 [{</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 3;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;propDispName&quot;: 
		 &quot;Department&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 3;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;operDispName&quot;: 
		 &quot;Is&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 2;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;values&quot;: 
		 &quot;Human Resources&quot;</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 2;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;}, 
		 {</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 3;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;propDispName&quot;: 
		 &quot;Job Title&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 3;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;operDispName&quot;: 
		 &quot;is&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 3;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;values&quot;: 
		 &quot;HR&quot;</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 2;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;}]</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;},</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;accountFilter&quot;: 
		 null,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;linkClause&quot;: 
		 &quot;User.Email Address=Account.Email Address&quot;</span></p>
		<p class="TableText" style="font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 mso-bidi-font-weight: bold;">}' &quot;https://{yourTenantURL}/</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">api/v1/accountlinkingrules</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 mso-bidi-font-weight: bold;">&quot;</span> </p></td>
	</tr>
 </table>
 <p class="Request"><img src="../Images/Image_Right.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Response 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
				 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">{</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;id&quot;: 
		 &quot;5e2f8629-bf9f-4fa8-8edf-0c2a080ab5e8&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;creationDate&quot;: 
		 1537961667664,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;createdBy&quot;: 
		 &quot;TueboraClientAPI2&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;lastModifiedDate&quot;: 
		 1537961667664,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;lastModifiedBy&quot;: 
		 &quot;TueboraClientAPI2&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;name&quot;: 
		 &quot;Rule for Corporate AD&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;type&quot;: 
		 &quot;asset&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;assetId&quot;: 
		 6,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">&#160;&quot;definitionJson&quot;: 
		 &quot;{\&quot;name\&quot;:\&quot;Rule for Corporate AD\&quot;,\&quot;type\&quot;:\&quot;asset\&quot;,\&quot;userFilter</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;:{\&quot;entityName\&quot;:null,\&quot;assets\&quot;:null,</span><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;assetids\&quot;:null,\&quot;joinOperator\&quot;:\&quot;and\&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;joinOperatorDisplay\&quot;:null,\&quot;filters\&quot;:[{\&quot;type\&quot;:null,\&quot;entityName\&quot;:null,\&quot;prop</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;:null,\&quot;propDispName\&quot;:\&quot;Department\&quot;,\&quot;dataType\&quot;:null,\&quot;oper\&quot;:null,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;operDispName\&quot;:\&quot;Is\&quot;,\&quot;values\&quot;:\&quot;Human 
		 Resources\&quot;,\&quot;valueids\&quot;:null,\&quot;assets</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;:null,\&quot;assetids\&quot;:null,\&quot;alias\&quot;:null},{\&quot;type\&quot;:null,\&quot;entityName\&quot;:null,\&quot;prop\&quot;</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">:null,\&quot;propDispName\&quot;:\&quot;Job 
		 Title\&quot;,\&quot;dataType\&quot;:null,\&quot;oper\&quot;:null,\&quot;operDispName\&quot;</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">:\&quot;is\&quot;,\&quot;values\&quot;:\&quot;HR\&quot;,\&quot;valueids\&quot;:null,\&quot;assets\&quot;:null,\&quot;assetids\&quot;:null,\&quot;alias\&quot;:null}],</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;bitmaskFilters\&quot;:null},\&quot;accountFilter\&quot;:null,\&quot;assetId\&quot;:6,\&quot;definitionJSON\&quot;:null,\&quot;linkCriteria\&quot;:</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">\&quot;User.Email 
		 Address=Account.Email Address\&quot;}&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;linkCriteria&quot;: 
		 &quot;User.Email Address=Account.Email Address&quot;</span></p>
		<span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; font-family: Arial, sans-serif; 
				 mso-fareast-font-family: 'Times New Roman'; color: #000000; 
				 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
				 mso-bidi-language: AR-SA; mso-bidi-font-weight: bold;">}</span> 
		 </td>
	</tr>
 </table>
 <h3><span lang="EN-IN" xml:lang="EN-IN"><a name="Account_Linking_Rule_with_Account_Filter"></a>Account 
 Linking Rule with Account Filter</span></h3>
 <p class="Request"><img src="../Images/Image_left.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Request 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
				 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">curl 
		 -v -X POST \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Accept: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Content-Type: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Authorization: Basic ${basic_authentication_header}&quot; 
		 \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-d 
		 '{</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;name&quot;: 
		 &quot;Rule for AD2 Updated2&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;type&quot;: 
		 &quot;asset&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;assetId&quot;: 
		 &quot;6&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;userFilter&quot;: 
		 null,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;accountFilter&quot;: 
		 {</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 2;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;joinOperator&quot;: 
		 &quot;and&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 2;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;filters&quot;: 
		 [{</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 3;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;propDispName&quot;: 
		 &quot;Id&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 3;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;operDispName&quot;: 
		 &quot;Is Greater Than&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 3;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;values&quot;: 
		 &quot;2&quot;</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 2;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;}, 
		 {</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 3;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;propDispName&quot;: 
		 &quot;Name&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 3;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;operDispName&quot;: 
		 &quot;Starts With&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 3;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;values&quot;: 
		 &quot;A&quot;&#160;</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 2;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;}]&#160;</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;},</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-tab-count: 1;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&#160;&quot;linkClause&quot;: 
		 &quot;User.Employee ID=Account.Employee ID&quot;</span></p>
		<p class="TableText" style="font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 mso-bidi-font-weight: bold;">}' &quot;https://{yourTenantURL}/</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">api/v1/accountlinkingrules</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 mso-bidi-font-weight: bold;">&quot;</span> </p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <p class="Request"><img src="../Images/Image_Right.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Response 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
				 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">{</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;id&quot;: 
		 &quot;b8f8f74b-d16f-42af-b812-47a97d70b803&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;creationDate&quot;: 
		 1537961984749,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;createdBy&quot;: 
		 &quot;TueboraClientAPI2&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;lastModifiedDate&quot;: 
		 1537961984749,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;lastModifiedBy&quot;: 
		 &quot;TueboraClientAPI2&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;name&quot;: 
		 &quot;Rule for AD2 Updated2&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;type&quot;: 
		 &quot;asset&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;assetId&quot;: 
		 6,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">&#160;&quot;definitionJson&quot;: 
		 &quot;{\&quot;name\&quot;:\&quot;Rule for AD2 Updated2\&quot;,\&quot;type\&quot;:\&quot;asset\&quot;,\&quot;userFilter\&quot;</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">:null,\&quot;accountFilter\&quot;:{\&quot;entityName\&quot;:null,\&quot;assets\&quot;:null,\&quot;assetids\&quot;:null,\&quot;joinOperator\&quot;</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">:\&quot;and\&quot;,\&quot;joinOperatorDisplay\&quot;:null,\&quot;filters\&quot;:[{\&quot;type\&quot;:null,\&quot;entityName\&quot;:null,\&quot;prop\&quot;</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">:null,\&quot;propDispName\&quot;:\&quot;Id\&quot;,\&quot;dataType\&quot;:null,\&quot;oper\&quot;:null,\&quot;operDispName\&quot;:\&quot;Is 
		 Greater </span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">Than\&quot;,\&quot;values\&quot;:\&quot;2\&quot;,\&quot;valueids\&quot;:null,\&quot;assets\&quot;:null,\&quot;assetids\&quot;:null,\&quot;alias\&quot;:null},</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">{\&quot;type\&quot;:null,\&quot;entityName\&quot;:null,\&quot;prop\&quot;:null,\&quot;propDispName\&quot;:\&quot;Name\&quot;,\&quot;dataType\&quot;</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">:null,\&quot;oper\&quot;:null,\&quot;operDispName\&quot;:\&quot;Starts 
		 With\&quot;,\&quot;values\&quot;:\&quot;A\&quot;,\&quot;valueids\&quot;:null,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;assets\&quot;:null,\&quot;assetids\&quot;:null,\&quot;alias\&quot;:null}],\&quot;bitmaskFilters\&quot;:null},\&quot;assetId\&quot;:6,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">\&quot;definitionJSON\&quot;:null,\&quot;linkCriteria\&quot;:\&quot;User.Employee 
		 ID=Account.Employee ID\&quot;}&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;linkCriteria&quot;: 
		 &quot;User.Employee ID=Account.Employee ID&quot;</span></p>
		<span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; font-family: Arial, sans-serif; 
				 mso-fareast-font-family: 'Times New Roman'; color: #000000; 
				 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
				 mso-bidi-language: AR-SA; mso-bidi-font-weight: bold;">}</span> 
		 </td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
