
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora REST API - Get all Account Linking Rules</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "3.0_5";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../Tuebora_API.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../Tuebora_API.htm" class="homelink"><span>Tuebora REST API</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="392">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../Tuebora_API.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


<br style="page-break-before: always;" />

     <h1>Get all Account Linking Rules</h1>
     <p><span lang="EN-IN" xml:lang="EN-IN">Get all Account Linking Rules created 
 in Tuebora.</span></p>
     <table class="Table" cellspacing="0" width="100%">
	<col style="width: 23.424%;" />
	<col style="width: 76.576%;" />
	<tr class="t1st" style="height: 5px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter" style="color: #000000;">URL</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">api/v1/accountlinkingrules</p></td>
	</tr>
	<tr class="t2Row" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter">HTTP Method</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">GET</p></td>
	</tr>
	<tr class="t1Row" style="height: 54px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter">Headers</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">Content-Type</span>: application/json</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">Authorization</span>: Basic Authorization. 
			 Use Tuebora API Authentication Credentials as Basic Authorization 
			 Credentials.</p></li>
		</ul></td>
	</tr>
	<tr class="t2Row" style="height: 38px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="APIParameter">Success 
		 Response Code and Response Data</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText">200 OK</p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN">All success 
		 responses return the details of all Account Linking Rules created 
		 in Tuebora.</span></p></td>
	</tr>
 </table>
 <p class="Request"><img src="../Images/Image_left.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Request 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
				 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">curl 
		 -v -X GET \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Accept: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Content-Type: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Authorization: Basic ${basic_authentication_header}&quot; 
		 \</span></p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; 
									 font-family: Arial, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
									 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
									 mso-bidi-language: AR-SA; mso-bidi-font-weight: bold;">&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;https://{yourTenantURL}</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 font-family: Verdana, sans-serif;">/api/v1/</span><span lang="EN-IN" 
		 xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-bidi-font-family: 'Times New Roman'; mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; font-family: Verdana, sans-serif;">accountlinkingrules</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;</span> 
		 </p></td>
	</tr>
 </table>
 <p class="Request"><img src="../Images/Image_Right.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Response 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
				 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">{</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;id&quot;: 
		 &quot;0624d663-c172-11e8-9ffd-000c29922bc9&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;creationDate&quot;: 
		 1537955610000,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;createdBy&quot;: 
		 &quot;999999999&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;lastModifiedDate&quot;: 
		 1537955610000,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;lastModifiedBy&quot;: 
		 &quot;999999999&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;name&quot;: 
		 &quot;Account Link for Asset New&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;type&quot;: 
		 &quot;asset&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;assetId&quot;: 
		 11,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">&#160;&quot;definitionJson&quot;: 
		 &quot;{\&quot;name\&quot;:\&quot;Account Link for Asset New\&quot;,\&quot;type\&quot;:\&quot;asset\&quot;,\&quot;userFilter\&quot;:null,\&quot;accountFilter\&quot;:null,\&quot;assetId\&quot;:11,\</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">&quot;linkCriteria\&quot;:\&quot;User.Email 
		 Address=Account.Unique Id\&quot;}&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;linkCriteria&quot;: 
		 &quot;User.Email Address=Account.Unique Id&quot;</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;},</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;{</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;id&quot;: 
		 &quot;150a8f18-cab1-4d20-8443-1ea0bd2ab1ea&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;creationDate&quot;: 
		 1537956398000,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;createdBy&quot;: 
		 &quot;TueboraClientAPI&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;lastModifiedDate&quot;: 
		 1537956398000,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;lastModifiedBy&quot;: 
		 &quot;TueboraClientAPI&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;name&quot;: 
		 &quot;Rule for AD2 Updated1&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;type&quot;: 
		 &quot;asset&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;assetId&quot;: 
		 6,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">&#160;&quot;definitionJson&quot;: 
		 &quot;{\&quot;name\&quot;:\&quot;Rule for AD2 Updated1\&quot;,\&quot;type\&quot;:\&quot;asset\&quot;,\</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">&quot;userFilter\&quot;:{\&quot;entityName\&quot;:null,\&quot;assets\&quot;:null,\&quot;assetids\&quot;:null,\&quot;joinOperator\&quot;:</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;and\&quot;,\&quot;joinOperatorDisplay\&quot;:null,\&quot;filters\&quot;:[{\&quot;type\&quot;:null,\&quot;entityName\</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">&quot;:null,\&quot;prop\&quot;:null,\&quot;propDispName\&quot;:\&quot;Department\&quot;,\&quot;dataType\&quot;:null,\&quot;oper</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;:null,\&quot;operDispName\&quot;:\&quot;Is\&quot;,\&quot;values\&quot;:\&quot;Human 
		 Resources\&quot;,\&quot;valueids\&quot;:null,\</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">&quot;assets\&quot;:null,\&quot;assetids\&quot;:null,\&quot;alias\&quot;:null},{\&quot;type\&quot;:null,\&quot;entityName\&quot;:null,\&quot;prop</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;:null,\&quot;propDispName\&quot;:\&quot;Job 
		 Title\&quot;,\&quot;dataType\&quot;:null,\&quot;oper\&quot;:null,\&quot;operDispName\&quot;</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">:\&quot;is\&quot;,\&quot;values\&quot;:\&quot;HR\&quot;,\&quot;valueids\&quot;:null,\&quot;assets\&quot;:null,\&quot;assetids\&quot;:null,\&quot;alias\&quot;:null}],</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;bitmaskFilters\&quot;:null},\&quot;accountFilter\&quot;:null,\&quot;assetId\&quot;:6,\&quot;definitionJSON\&quot;:null,\&quot;linkCriteria\</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">&quot;:\&quot;User.Email 
		 Address=Account.Email Address\&quot;}&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;linkCriteria&quot;: 
		 &quot;User.Email Address=Account.Email Address&quot;</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;},</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;{</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;id&quot;: 
		 &quot;24fe31f7-73fc-445f-82b0-f416ffa1fcb3&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;creationDate&quot;: 
		 1537956431000,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;createdBy&quot;: 
		 &quot;TueboraClientAPI2&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;lastModifiedDate&quot;: 
		 1537956431000,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;lastModifiedBy&quot;: 
		 &quot;TueboraClientAPI2&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;name&quot;: 
		 &quot;Rule for Corporate Active Directory22&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;type&quot;: 
		 &quot;asset&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;assetId&quot;: 
		 6,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">&#160;&quot;definitionJson&quot;: 
		 &quot;{\&quot;name\&quot;:\&quot;Rule for Corporate Active Directory22\&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\&quot;type\&quot;:\&quot;asset\&quot;,\&quot;userFilter\&quot;:null,\&quot;accountFilter\&quot;:null,\&quot;assetId\&quot;:6,\&quot;definitionJSON\</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">&quot;:null,\&quot;linkCriteria\&quot;:\&quot;User.Email 
		 Address=Account.Email Address\&quot;}&quot;,</span></p>
		<p class="tabletext" style="margin-top: 3.0pt; margin-right: 0in; 
			 margin-bottom: 3.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>&#160;&quot;linkCriteria&quot;: 
		 &quot;User.Email Address=Account.Email Address&quot;</span></p>
		<span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; font-family: Arial, sans-serif; 
				 mso-fareast-font-family: 'Times New Roman'; color: #000000; 
				 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
				 mso-bidi-language: AR-SA; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;}</span> 
		 </td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
