@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
* { margin:0px; padding:0px;}
body {font-family: 'Open Sans', sans-serif;font-size: 100%;width:100%;padding:0px;margin:0px;}
#newapp {white-space: wrap;text-overflow: ellipsis;margin: 3% 3% -3% 3%;background-color: #fff;border: 1px solid #ddd;border-radius: 0px 0px 4px 4px;float:none;}
li{cursor:pointer}
#newapp h4{margin-top: 0;background: #f5fafe;padding: 7px;font-size: 13px;}
#newapp h4 img{padding-right: 7px;vertical-align: sub;}
.green{color: #458f03;text-shadow: none;font-weight: 600;}
input:focus{outline:0px;}
.main_wrapper{min-width: 298px;padding:0px;font-size: 13px;background:#fff;text-align:center;}
.main_wrapper .header{height:63px;border-bottom:2px solid #d9dee4;background:#f5fafe;padding:0.5% 3% 1% 3%;}	
.main_wrapper #logo{width:60%;text-align:left;}  
.main_wrapper #login_ext{white-space: wrap;text-overflow: ellipsis;margin:  4% 3% -3% 3%;padding: 0% 2% 2% 2%;background-color:transparent;border: 0px solid #ddd;border-radius: 4px;float:none;}
.main_wrapper #login_ext input:not([type=submit]){border: 1px solid #ccc;border-radius: 4px;display: block;width: 100%;height: 33px;padding: 3px 8px 5px 8px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;font-family: 'Open Sans', sans-serif;    margin: 5px auto;   float:none;}
.main_wrapper #login_ext input[type=submit]{background-color: #5cb85c;border: 1px solid #4cae4c;padding: 5px 12px;font-size: 14px;font-family: 'Open Sans', sans-serif;border-radius: 4px;color: #fff;cursor:pointer;float:left;margin-top: 1px;}
.main_wrapper #login_ext input[type=submit]:hover{background-color: #449d44;border-color: #398439;}
.main_wrapper #login_ext{}

.user{float:left;margin:8px 0px;display:none;}
.user b{font-weight:600;color:#1a4483;}
.appLinks{float:left;}
.appLinks li{display:inline-block;list-style:none;}
.appLinks a:hover{text-decoration:none !important;}
.appLinks img{width:43px;margin-right:7px;margin-bottom:10px;}
.logout_link{background:#003666;color:#e74c3c;border-radius:4px;padding:2px 5px;float:right;text-decoration:none;margin-left:25px;position: absolute;    right: 7px;top:6px;}
.header_links{position:absolute;top:17px;right:3%;}
.header_links a{margin-left:5px;}

.als-container {position: relative;width: 100%;margin: 0px auto;z-index: 0;}
.als-viewport {position: relative;overflow: hidden;height:158px !important;}
.als-wrapper {position: relative;list-style: none;}
.als-item {position: relative;display: block;text-align: center;cursor: pointer;float: left;width:268px;}
.als-item a:last-of-type img{margin-right:0px;}
.als-prev, .als-next {cursor: pointer;}
.als-prev img, .als-next img{width:13px;}
.als-prev{margin-right:5px;}
.als-next{margin-left:5px;}
.scroll_nav{width: 63px;height: 18px;margin: 5px auto;}

.slide_container {
  margin: 0px auto;
 width: 271px !important;
 padding: 3% 2% 0% 2%;
}

.slide_container .slider {
  width: 100%;
  height: 185px;
  border-radius: 10px;
  color: #fff;
  margin: 0px auto
}
.slide_container .slider li a:nth-of-type(5n+5) img{margin-right:0px;}
.slide_container .slider li{width:271px !important;}
		
		