
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Activity History</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "3.0_4";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="8">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Deployed_Connectors.htm" 
												 id="a4" style="color: #008000; 
												 position: relative;">Deployed 
		 Connectors</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Change_Password.htm" id="a5" style="color: #008000; position: relative;">Change 
		 Password</a></p></td>
	</tr>
 </table>
 <h1>Activity History</h1>
 <p>Tuebora SCIM Server maintains a record of all activities performed on 
 SCIM Server as well as Target Applications. This helps to track and analyze 
 the required activities and create report. The <span style="font-weight: bold;">Activity</span> 
 <span style="font-weight: bold;">History</span> feature enables you to 
 search and view activity records over a period of time. </p>
 <p>You can view all activities performed on SCIM Server UI from <span style="font-weight: bold;">Server 
 Activities</span> page.</p>
 <p>You can view all the activities performed on the target applications 
 from the <span style="font-weight: bold;">Application</span> <span style="font-weight: bold;">Activities</span> 
 page.</p>
 <p>Following figure shows the <span style="font-weight: bold;">Server Activities 
 </span>page.<br />
<br />
<img src="Images/ActivityHistory.png" alt="" style=" border:none; width:100%; max-width:750px;" border="0" /></p>
 <p>You can perform the following actions from the <span style="font-weight: bold;">Server 
 Activities or Application Activities </span>page:</p>
 <ul style="list-style: disc;">
	<li>
 <h4 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a1" style="position: relative;">Search Activities performed</a></h4>
	<div class="droptext" id="POPUP567610770" style="display: none;">
		<p>The <span style="font-weight: bold;">Server Activities and Application 
		 Activities </span>page lists all the activities performed on the 
		 SCIM Server and target applications respectively. At times, it 
		 may be difficult to browse through all records to find the activity 
		 details you require. The portal provides the functionality to 
		 search for required activities in the portal or the target applications. 
		 The page has a <span style="font-weight: bold;">Search</span> 
		 box, where you can provide the search criteria. When a valid search 
		 criteria is provided, the page refreshes to display only those 
		 activities matching the search criteria.</p>
		<p style="font-weight: bold;">Example</p>
		<p>You want to view all the connector deployment activities performed 
		 in the SCIM Server. To view the activity records, type Deploy 
		 in the <span style="font-weight: bold;">Search</span> box.</p>
		<p>The page refreshes to show all Deploy Connector activities performed 
		 in SCIM Server.<br />
		<br />
		<img src="Images/ActivityHistory_Search.png" alt="" style=" border:none; width:100%; max-width:1141px;" border="0" /></p>
 </div></li>
	<li>
 <h4 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a2" style="position: relative;">Filter Activity records</a></h4>
	<div class="droptext" id="POPUP567614490" style="display: none;">
		<p>When you search activity records, it may display too many records, 
		 based on the number of records to display. You can further drill 
		 down and view only the required records. The portal provides the 
		 <span style="font-weight: bold;">Limit To</span> functionality 
		 to narrow down results. </p>
		<h4>Options to Filter Records</h4>
		<p>The supported options to filter Activity History records are 
		 as follows:</p>
		<p 
			 style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; 
			 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>All Activities</p>
		<p style="margin-left: 100px; 
													 text-indent: -20px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Activities 
		 in the last 24 Hours</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Activities 
		 in the last 1 Week</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Activities 
		 in the last 15 Days</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Activities 
		 in the last 30 Days</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Activities 
		 in the last 60 Days</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="text-indent: -20px;">Activities beyond 60 Days</span></p>
		<p style="font-weight: bold;">Example</p>
		<p>You want to view activities performed in Corporate Active Directory 
		 Asset in the past 15 Days. To view the activity records, type 
		 <span style="font-weight: bold;">Active</span> <span style="font-weight: bold;">Directory</span> 
		 in the <span style="font-weight: bold;">Search</span> box and 
		 select <span style="font-weight: bold;">Activities in the last 
		 15 Days</span> from the <span style="font-weight: bold;">Limit</span> 
		 <span style="font-weight: bold;">To</span> drop-down list.</p>
 </div></li>
	<li>
 <h4 style="margin-top: 5pt; margin-bottom: 5pt; position: relative;"><a class="dropspot" href="javascript:TextPopup(this)" id="a3" style="position: relative;">View Activity Details</a></h4>
	<div class="droptext" id="POPUP567651998" style="display: none;">
		<p>You can view detailed information of each activity record displayed 
		 in the portal. To view the details, click <span style="font-weight: bold;">Details</span> 
		 corresponding to the required record. The <span style="font-weight: bold;">Activity</span> 
		 <span style="font-weight: bold;">Details</span> subwindow opens.</p>
		<p>Following figure shows an example Activity Details subwindow 
		 displayed for the Deploy Connector activity.</p>
		<p><img src="Images/DeployConnectorActivityDetails.png" alt="" style=" border:none; width:100%; max-width:517px;" border="0" /></p>
 </div></li>
	<li>
 <h4 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a8" style="position: relative;">Delete Activities</a></h4>
	<div class="droptext" id="POPUP566596711" style="display: none;">
		<p>SCIM Supports deletion of activities from Server and Application 
		 Activities page. The Delete Activity supports the following:</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
		 href="#a9" id="a12" style="position: relative; ">Delete All Activities</a></p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
		 href="#a10" id="a13" style="position: relative; ">Delete Selected 
		 Activities</a> </p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
		 href="#a11" id="a14" style="position: relative; ">Delete All Matching 
		 Activities</a></p>
		<h3><a name="Delete_All_Activities" id="a9" style="position: relative; "></a>Delete 
		 All Activities</h3>
		<p>To delete all activities, perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">Activity History &gt; Server 
		 Activities/Application Activities</span>.<br />
		The <span style="font-weight: bold;">Server Activitie</span>s<span 
		 style="font-weight: bold;">/Application Activities</span> page 
		 opens.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 the <span style="font-weight: bold;">Delete All Activities</span> 
		 button available on top-right corner of the page.<br />
		<br />
		<img src="Images/DeleteAllActivities.png" alt="" style=" border:none; width:100%; max-width:1235px;" border="0" /><br />
		<br />
		System shows the confirmation message to delete all the activities.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Yes</span> to delete the activities. 
		 </p>
		<table class="Note" cellspacing="0px" width="100%">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p class="TableText"><span style="font-weight: bold;">Note</span>: 
				 When you delete activities from <span style="font-weight: bold;">Server 
				 Activities or Application Activities </span>page, system 
				 logs a new activity named as - <span style="font-weight: bold;">Delete 
				 Activities</span> in Server Activities.</p></td>
			</tr>
		</table>
		<h3><a name="Delete_Selected_Activities" id="a10" style="position: relative; "></a>Delete 
		 Selected Activities</h3>
		<p>To delete selected activities, perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">Activity History &gt; Server 
		 Activities/Application Activities</span>.<br />
		The <span style="font-weight: bold;">Server Activitie</span>s<span 
		 style="font-weight: bold;">/Application Activities</span> page 
		 opens.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 the check box corresponding to the activities that must be deleted.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 the option <span style="font-weight: bold;">View Action &gt; Delete 
		 Selected Activities</span>.<br />
		<br />
		<img src="Images/SelectedActivities.png" alt="" style=" border:none; width:100%; max-width:1396px;" border="0" /><br />
		<br />
		System shows the confirmation message to delete the selected activities.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Yes</span> to delete the activities. 
		 </p>
		<h3><a name="Delete_All_Matching_Activities" id="a11" style="position: relative; "></a>Delete 
		 All Matching Activities</h3>
		<p>To delete matching activities, perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">Activity History &gt; Server 
		 Activities/Application Activities</span>.<br />
		The <span style="font-weight: bold;">Server Activitie</span>s<span 
		 style="font-weight: bold;">/Application Activities</span> page 
		 opens.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the <span style="font-weight: bold;">Search</span> criteria in 
		 Search field or apply the <span style="font-weight: bold;">Limit 
		 to</span> filter.<br />
		System shows the records matching the criteria/filter.<br />
		<br />
		The Delete All Activities button gets changed to <span style="font-weight: bold;">Delete 
		 All Matching Activities</span>.<br />
		<br />
		<img src="Images/MatchingActivities.png" alt="" style=" border:none; width:100%; max-width:1416px;" border="0" /></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 the Delete All Matching Activities button available on top-right 
		 corner of the page. <span style="text-indent: -20px;"><br />
		System shows the confirmation message to delete the all the matching 
		 activities.</span></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Yes</span> to delete the activities.</p>
		<p>&#160;</p>
 </div></li>
</ul>
<p>&#160;</p>
<table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Deployed_Connectors.htm" 
												 id="a6" style="color: #008000; 
												 position: relative;">Deployed 
		 Connectors</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Change_Password.htm" id="a7" style="color: #008000; position: relative;">Change 
		 Password</a></p></td>
	</tr>
 </table>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	if( typeof( TextPopupInit ) != 'function' ) TextPopupInit = new Function();
	TextPopupInit('a1','POPUP567610770');
	TextPopupInit('a2','POPUP567614490');
	TextPopupInit('a3','POPUP567651998');
	TextPopupInit('a8','POPUP566596711');
	InitEffects('a8','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a9','');
	InitEffects('a11','');
	InitEffects('a2','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a10','');
	InitEffects('a3','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a13','');
	InitEffects('a12','');
	InitEffects('a1','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a6','');
	InitEffects('a7','');
	InitEffects('a14','');
	InitEffects('a4','');
	InitEffects('a5','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
