
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Connector for Windows File Sharing</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "4.0_8";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="440">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Tuebora_Connectors.htm" 
												 id="a1" style="color: #008000; 
												 position: relative;">Tuebora 
		 Connectors</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Connector_for_Odoo.htm" id="a10" style="color: #008000; 
		 position: relative;">Connector for Odoo</a></p></td>
	</tr>
 </table>
 <h1>Connector for Windows File Sharing</h1>
 <p>File Sharing is the practise of sharing files and folders on a system 
 with others in a network. Organizations often have common working folders, 
 which users can access and view or make edits, as required. An Administrator 
 or authorized person can set the levels of Access each user must have 
 to the folders. It is important to govern the access to the folders as 
 the files can contain business critical data.</p>
 <p>To integrate Windows File Sharing with IAM or any other solutions, you 
 can create a connector using Tuebora Connector Design Tool. </p>
 <p>Tuebora provides an out-of-the-box (OOTB) connector for integrating 
 Windows File Sharing.</p>
 <p>This chapter explains the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#OOTB_Windows_File_Sharing_Connector_Details" id="a7" style="position: relative;">OOTB 
	 Windows File Sharing Connector Details</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Testing_OOTB_Windows_File_Sharing_Connector" id="a8" style="position: relative;">Testing 
	 OOTB Windows File Sharing Connector</a></p></li>
</ul>
<h3><span>U</span>se Case Scenario</h3>
<table class="Note" style="border-left-color: #000000; border-right-color: #000000; 
		 border-top-color: #000000; border-bottom-color: #000000;" cellspacing="0px" width="100%" bgcolor="#FFDFDF">
	<col style="width: 100%;" />
	<tr style="height: 141px;">
		<td>
  <p class="TableText">Xanadufinancials practices sharing files 
		 and folders on a windows system with others in a network. It has 
		 some working folders, which users can access and view or make 
		 edits, as required. Authorized persons are setting the levels 
		 of Access each user must have to the folders and files.</p>
		<p class="TableText"><br />
		Xanadufinancials wants to integrate Windows File Sharing with its 
		 IAM Solution to govern the access granted to the folders.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText"><span style="font-weight: bold;">Requirements</span> 
		 to develop a <span style="font-weight: bold;">Connector for Windows 
		 File Sharing </span>are as follows:</p>
		<p 
			 style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; 
			 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Develop a Powershell Script Connector.</p>
		<p 
			 style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; 
			 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Connector is used for <span style="font-weight: bold;">Data 
		 Collection</span>.</p>
		<p 
			 style="text-indent: -20px; margin-left: 100px; margin-top: 2pt; 
			 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Using the connector Xanadufinancials 
		 want to manage <span style="font-weight: bold;">Folders </span>and<span 
		 style="font-weight: bold;"> Files</span>.</p></td>
	</tr>
 </table>
 <h2><a name="OOTB_Windows_File_Sharing_Connector_Details" id="OOTB_Windows_File_Sharing_Connector_Details" 
		 style="position: relative;"></a>OOTB Windows File Sharing Connector 
 Details</h2>
 <p>This topic explains the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Windows_File_Sharing_Access_Model" id="a6" style="position: relative;">Windows 
	 File Sharing Access Model</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt; position: relative;"><a 
	 href="#Integration_Mode" id="a54" style="position: relative;">Windows 
	 File Sharing Integration Mode</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Authentication_Details" id="a3" style="position: relative;">Authentication 
	 Details</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt; position: relative;"><a 
	 href="#Operation_System_Dependencies" id="a2" style="position: relative;">Operating 
	 System Dependencies</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Data_Collection" id="a4" style="position: relative;">Data Collection</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt; position: relative;"><a 
	 href="#Supported_Operations" id="a56" style="position: relative;">Supported 
	 Operations</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Operations_Not_Supported" id="a5" style="position: relative;">Operations 
	 Not Supported</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Connector_Deployment_Dependencies" id="a60" style="position: relative;">Connector 
	 Deployment Dependencies</a></p></li>
</ul>
<h3><a name="Windows_File_Sharing_Access_Model" id="Windows_File_Sharing_Access_Model" 
		 style="position: relative;"></a>Windows File Sharing Access Model</h3>
<p>Windows File Sharing entities are:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Folder</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">File</p></li>
</ul>
<p>Access in Windows File Sharing is managed by granting the appropriate 
 permissions - Read, Read/Write, or Full Control to a user or a group. 
 </p>
<h3><a name="Windows_File_Sharing_Integration_Mode" id="Windows_File_Sharing_Integration_Mode" 
		 style="position: relative;"></a>Windows File Sharing Integration 
 Mode</h3>
<p>Windows File Sharing is integrated using <span style="font-weight: bold;">Windows 
 Powershell APIs</span>. OOTB Windows File Sharing connector is a <span 
	 style="font-weight: bold;">Powershell Script Connector</span>. To 
 integrate Windows File Sharing, operations scripts - &#160;<span style="font-weight: bold;">fileshareoperations.ps1</span> 
 and<span style="font-weight: bold;"> fileshareParams.xml</span> have been 
 developed. </p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">fileshareoperations.ps1</span> - Contains 
 the Powershell commands to perform the operations. </p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">fileshareParams.xml </span>- Contains the 
 tags for collecting data.</p>
<h3><a name="Authentication_Details" id="Authentication_Details" style="position: relative;"></a>Authentication 
 Details</h3>
<p>Parameters required to connect to Windows File Sharing are as follows:</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;"><span style="font-weight: bold;">Working 
	 Directory </span>- Specify the path of the directory where the <span 
	 style="font-weight: bold;">Windows File Sharing Operations Script</span> 
	 is located.</p></li>
	<li style="margin-left: -20px;">
 <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;"><span style="font-weight: bold;">Operating 
	 System </span>- Specify the operating system on which the folders 
	 and files are shared. <br />
	<span style="font-weight: bold;">Example</span>: Windows</p></li>
	<li style="margin-left: -20px;">
 <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;"><span style="font-weight: bold;">User 
	 Name</span> - Service account to connect to the computer where the 
	 shared folders exist and&#160;you want to collect data or perform 
	 provisioning and deprovisioning operations on the shared folders.</p></li>
	<li style="margin-left: -20px;">
 <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;"><span style="font-weight: bold;">Password</span> 
	 - Password for the corresponding service account to connect to the 
	 computer.</p></li>
	<li style="margin-left: -20px;">
 <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;"><span style="font-weight: bold;">Computer</span> 
	 <span style="font-weight: bold;">Name</span> - Name of the Computer 
	 on which file sharing is done.</p></li>
</ul>
<h3><a name="Operation_System_Dependencies" id="Operation_System_Dependencies" 
		 style="position: relative;"></a>Operation System Dependencies</h3>
<p>To integrate Windows File Sharing, OOTB connector supports the following 
 operating systems:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Microsoft 
	 Windows Server 2008 SP2</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Microsoft 
	 Windows Server 2008 R2 SP1</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Microsoft 
	 Windows Server 2012 R2</p></li>
</ul>
<h3><a name="Data_Collection" id="Data_Collection" style="position: relative;"></a>Data 
 Collection</h3>
<p>Following table lists the data collection supported in the OOTB Connector 
 provided for Windows File Sharing.</p>
<table class="navigationhyperlink" style="border: Solid 1px #000000; left: 0px; 
		 top: 761px;" cellspacing="0px" width="100%">
	<col style="width: 18.586%;" />
	<col style="width: 23.966%;" />
	<col style="width: 29.367%;" />
	<col style="width: 28.081%;" />
	<tr style="height: 25px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;" bgcolor="#003A6B">
  <p class="TableText" 
														 style="color: #ffffff; 
														 font-weight: bold;">Type 
		 of Data</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;" bgcolor="#003A6B">
  <p class="TableText" 
														 style="font-weight: bold; 
														 color: #ffffff;">File 
		 Name</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #000000; vertical-align: top;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="font-weight: bold; 
									 color: #ffffff;">Details of Data Collected 
		 </p></td>
		
	</tr>
	<tr style="height: 5px;">
		<td rowspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">File/Folder</p></td>
		<td rowspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">resources.csv</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">The CSV 
		 file contains the data related to:</p></td>
		
	</tr>
	<tr style="height: 5px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Owner 
			 Group</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Allow 
			 Maximum</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Owner 
			 Account</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Resource 
			 Parent</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Resource 
			 Name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Last Write 
			 Time </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Resource 
			 Full Name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Description</p></li>
		</ul></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Resource 
			 Type</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Share 
			 Name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Creation 
			 Time</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Access 
			 Rules Protected</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Maximum 
			 Allowed</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Computer</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Last Access 
			 Time</p></li>
		</ul>
		<p class="TableText">&#160;</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-right: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Permissions 
		 on File/Folder</p></td>
		<td style="border-right: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p>resourceperm.csv</p></td>
		<td colspan="2" style="vertical-align: top; background-color: Transparent;">
  <p 
			 class="TableText">The CSV file contains the data related to:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Resource 
			 Type</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Inheritance 
			 Flags</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Identity</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Resource 
			 Full Name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Propagation 
			 Full Name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Permission</p></li>
		</ul></td>
		
	</tr>
</table>
<h3><a name="Supported_Operations" id="Supported_Operations" style="position: relative;"></a>Supported 
 Operations</h3>
<p>Following table lists the operations supported in the OOTB Connector 
 provided for Windows File Sharing.</p>
<table class="navigationhyperlink" style=" border:Solid 1px #000000; left:0px; top:761px; width:100%; max-width:637px;" cellspacing="0px">
	<col style="width: 54.636%;" />
	<col style="width: 45.364%;" />
	<tr style="height: 25px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;" bgcolor="#003A6B">
  <p class="list" style="margin-top: 5pt; 
														 margin-bottom: 5pt; 
														 font-weight: bold; 
														 margin-left: 60px; 
														 color: #ffffff; 
														 text-decoration: none; ">Operation</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top;" 
			 bgcolor="#003A6B">
  <p class="list" style="margin-top: 5pt; 
									 margin-bottom: 5pt; text-align: center; 
									 font-weight: bold; color: #ffffff; 
									 text-decoration: none; ">File Operation</p></td>
	</tr>
	<tr style="height: 5px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Create 
		 Folder</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Create 
		 File</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Update 
		 Folder Name</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Update 
		 File Name</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Enable 
		 Sharing</p></td>
		<td rowspan="4" style="vertical-align: top; background-color: Transparent;">
  <p 
			 class="TableText">Delete File</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Disable 
		 Sharing</p></td>
		
	</tr>
	<tr style="height: 21px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Grant 
		 Access to Folder</p></td>
		
	</tr>
	<tr style="height: 21px;">
		<td style="border-right: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Remove 
		 Access to Folder</p></td>
		
	</tr>
 </table>
 <h3><a name="Operations_Not_Supported" id="Operations_Not_Supported" style="position: relative;"></a>Operations 
 Not Supported</h3>
 <p>Get and Search operations on resources are not supported.</p>
 <h3><a name="Connector_Deployment_Dependencies" id="Connector_Deployment_Dependencies" 
		 style="position: relative;"></a>Connector Deployment Dependencies</h3>
 <p>The OOTB Windows File Sharing connector has the following deployment 
 dependencies:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Connect Windows File Sharing to SCIM Server</span> 
	 - &#160;For collecting data or to provision or deprovision access 
	 on the files/folders. the OOTB connector supports both:</p></li>
</ul>
<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Local</span> <span style="font-weight: bold;">Connection 
 -</span> Where<span style="font-weight: bold;"> </span>SCIM Server is 
 running on the same computer where file sharing is done and deploy the 
 connector on this SCIM Server.</p>
<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Remote Connection</span> - When SCIM Server 
 is connecting remotely to the system on which the Windows File Sharing 
 is done, ensure the computers on which SCIM Server and Windows File Sharing 
 is done are running in the same Domain.</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Powershell Version 
	 3.0</span> or above must be installed on the computer where SCIM Server 
	 is running.</p></li>
</ul>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Windows PowerShell 
	 Execution Policy</span> must be enabled on the computer where &#160;SCIM 
	 Server is running. <br />
	<br />
	To enable Powershell Execution Policy, run the command <span style="font-weight: bold;">Set-ExecutionPolicy 
	 RemoteSigned </span>in the Windows Powershell terminal.</p></li>
</ul>
<h2><a name="Testing_OOTB_Windows_File_Sharing_Connector" id="Testing_OOTB_Windows_File_Sharing_Connector" 
		 style="position: relative;"></a>Testing OOTB Windows File Sharing 
 Connector</h2>
<p>You can test the OOTB Windows File Sharing connector to ensure that 
 the connector works as expected.</p>
<p>You can use the RESTClient to point to the target application and perform 
 the operations that are configured in the connector. When you use RESTClient 
 to test the connector, the RESTClient hits the specified URL and performs 
 the operation in the target application and returns the response for it.</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The connector for Windows File Sharing does not support remote 
		 connection. You must run SCIM Server on the computer where Windows 
		 File Sharing is done.</p></td>
	</tr>
 </table>
 <p>This topic explains the following:</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Prerequisites" 
	 id="a40" style="position: relative;">Prerequisites</a></p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Preparing_RESTClient_for_Testing_a_Connector" 
	 id="a41" style="position: relative;">Preparing RESTClient for Testing 
 a Connector</a></p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Testing_Data_Collection" 
	 id="a43" style="position: relative;">Testing Data Collection</a></p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Testing_Operations" 
	 id="a44" style="position: relative;">Testing Operations</a></p>
 <h4><a name="Prerequisites" id="Prerequisites" style="position: relative;"></a>Prerequisites</h4>
 <p>Prerequisites to test a connector using RESTClient are as follows:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You must 
 have a RESTClient installed on the computer where you have installed the 
 SCIM Server.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Powershell Version 3.0</span> or above 
 must be installed on the computer where the shared folders exists and 
 you want to collect data or perform provisioning and deprovisioning operations 
 on the shared folders.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Windows 
 PowerShell execution policy must be enabled. Run the command <span style="font-weight: bold;">Set-ExecutionPolicy 
 RemoteSigned </span>in the Windows Powershell terminal. <br />
<br />
To set this execution policy run the Windows Powershell terminal as Administrator.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>SCIM 
 Server must be installed on the computer where the shared folders exists 
 and you want to collect data or perform provisioning and deprovisioning 
 operations on the shared folders.</p>
 <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You 
 must download the execution script - <span style="font-weight: bold;">fileshareoperations.ps1 
 </span>and data collection XML<span style="font-weight: bold;"> - fileshareParams.xml 
 </span>from the SCIM Portal.</p>
 <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Working 
 Directory must be created on the computer where Windows File Sharing is 
 done. The directory name must be <span style="font-weight: bold;">windows_file_shares 
 </span>and the following files must be copied to this folder:</p>
 <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">fileshareoperations.ps1</span></p>
 <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>fileshareParams.xml</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Update 
 the working directory and other connection details of OOTB Windows File 
 Sharing connector and download the Windows File Sharing connector from 
 the SCIM Portal.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You must 
 have deployed the connector that you want to test on the SCIM Server.</p>
 <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The 
 SCIM Server must be running.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You must 
 have correct URLs, Headers, and data in JSON format for the operations 
 that you want to test.</p>
 <h3><a name="Preparing_RESTClient_for_Testing_a_Connector" id="Preparing_RESTClient_for_Testing_a_Connector" 
		 style="position: relative;"></a>Preparing RESTClient for Testing 
 a Connector</h3>
 <p>To test the connectors the following custom headers must be added in 
 the RESTClient.</p>

 <table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
		 top: 834px;" cellspacing="0" width="100%">
	<col style="width: 26.267%;" />
	<col style="width: 31.835%;" />
	<col style="width: 41.898%;" />
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Request Header 
		 Name</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Request Header 
		 Value</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Header 
		 Description</p></td>
	</tr>
	<tr style="height: 55px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Content-Type</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">application/json</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Header 
		 sends the http json header to the browser to inform what is the 
		 kind of data that is expected.</p></td>
	</tr>
	<tr style="height: 53px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Authorization</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">You must specify <span style="font-weight: bold;">Client 
		 Name </span>and<span style="font-weight: bold;"> Client Secret 
		 </span>as <span style="font-weight: bold;">Basic Authorization</span>.</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Header 
		 validates the <span style="font-weight: bold;">Client Name </span>and<span 
		 style="font-weight: bold;"> Client Secret </span>for API calls.</p></td>
	</tr>
 </table>

 <h4 class="list">Defining Basic Authorization</h4>
 <p>To add Basic Authorization in Firefox RESTClient, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Open RestClient 
 in Firefox browser.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Basic</span> <span style="font-weight: bold;">Authentication</span>.<br />
The Basic Authentication subwindow opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 <span style="font-weight: bold;"><a href="Client_Management.htm#Add_Client" 
									 id="a9" style="position: relative;">Secret 
 Id</a></span> in <span style="font-weight: bold;">Username</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 <span style="font-weight: bold;"><a href="Client_Management.htm#Add_Client" 
									 id="a12" style="position: relative;">Secret 
 Key</a></span> in <span style="font-weight: bold;">Password </span>field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Okay</span>.</p>
 <h3><a name="Testing_Data_Collection" id="Testing_Data_Collection" style="position: relative;"></a>Testing 
 Data Collection</h3>
 <p>To test Data Collection from Windows File Sharing, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">POST </span>in the <span style="font-weight: bold;">Method</span> 
 field on the RESTClient page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 URL for collecting data from Okta in the <span style="font-weight: bold;">URL</span> 
 field. For more information on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
													 id="a112" style="position: relative;">Supported 
 HTTP Methods.</a><br />
<br />
The format of the URL for data collection is - <span style="font-style: italic;">http://{IP 
 Address of computer on which SCIM Server is running:SCIM Server Port}/scim/v2/{connectorName}/collect</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
	 style="font-style: italic;">/scim/v2/</span>windowsfilesharing/collect</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send.</span><br />
The RestClient shows the Request ID in the response.<br />
<br />
Copy the Response ID to check the Status of the Data Collection. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">GET </span>in the <span style="font-weight: bold;">Method</span> 
 field on the RESTClient page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 URL to check the status of Data collection. <br />
<br />
The format of the URL to check the status of data collection - <span style="font-style: italic;">http://{IP 
 Address of computer on which SCIM Server is running:SCIM Server Port}/scim/v2/{connectorName}/collect/{requestID}</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
	 style="font-style: italic;">scim/v2/</span>windowsfilesharing/collect/d33da040-cddd-4af0-ac02-8857a6f0557c</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send.</span><br />
The RestClient shows the processing message. <br />
<br />
After the request is processed, you can see the response in the <span style="font-weight: bold;">Response</span> 
 section. The <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
 shows the response. If you get the <span style="font-weight: bold;">Status 
 Code 200 OK</span>, it means the request is successfully processed.<br />
<br />
<br />
Data collected for different resources from Windows File Sharing is saved 
 in <span style="font-weight: bold;">upload</span> folder in <span style="font-weight: bold;">SCIM</span> 
 <span style="font-weight: bold;">Server</span> folder.<br />
<br />
Following figure shows an example data collected from Windows File Sharing.<br />
<br />
<img src="Images/Downloaded_Data_windowsfilesharing.png" alt="" style=" border:none; width:100%; max-width:813px;" border="0" /><br />
Open the CSV files to view the details of shared folders and files data 
 collected.</p>
 <h2><a name="Testing_Operations" id="Testing_Operations" style="position: relative;"></a>Testing 
 Operations</h2>
 <p>When you test different operations configured in Windows File Sharing 
 connector, you can view the newly created resources and the updates made 
 to resource attributes by accessing the shared folders and files.</p>
 <ul style="list-style: disc;">
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Create_Folder" 
															 id="Create_Folder" 
															 style="position: relative;"></a><a class="dropspot" href="javascript:TextPopup(this)" id="a15" style="position: relative;">Create Folder</a></h3>
	<div class="droptext" id="POPUP535212869" style="display: none;">
		<p>To test Create Folder operation in Windows File Sharing, perform 
		 the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">POST </span>in the <span style="font-weight: bold;">Method</span> 
		 field on the RESTClient page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL for creating folder in Windows File Sharing in the <span 
		 style="font-weight: bold;">URL</span> field. For more information 
		 on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
								 id="a131" style="position: relative;">Supported 
		 HTTP Methods.</a><br />
		<br />
		The format of the URL to create folder is - <span style="font-style: italic;">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{ConnectorName}/{Resource}</span><br />
		<br />
		<span style="font-weight: bold;">Example</span>: http://localhost:9090<span 
		 style="font-style: italic;">/scim/v2/</span>windowsfilesharing/filefolders</p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the request body in <span style="font-weight: bold;">Body</span> 
		 field.</p>
		<table class="Note" style=" border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; margin-left:48px; width:100%; max-width:70.729%;" cellspacing="0px">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p style="margin-top: 5pt; margin-bottom: 5pt;">{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt;">&#160;&#160;&#160;&quot;name&quot;: 
				 &quot;d:\\Working Folder\TestSCIMFolder&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt;">&#160;&#160;&#160;&quot;type&quot;: 
				 &quot;directory&quot;</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt;">}</p></td>
			</tr>
		</table>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send.</span><br />
		The RestClient shows the processing message. <br />
		<br />
		After the request is processed, you can see the response in the 
		 <span style="font-weight: bold;">Response</span> section. The 
		 <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
		 shows the response. If you get the <span style="font-weight: bold;">Status 
		 Code 201 Created</span>, it means the request is successfully 
		 processed.<br />
		<br />
		<span style="font-weight: bold;">Response Body (Preview)</span> 
		 to shows the folder id and the SCIM schema associated with the 
		 folder created and the type of Resource.<br />
		<br />
		Following figure shows an example create folder request processed 
		 successfully.<br />
		<br />
		<img src="Images/CreateFolder_Testing.png" alt="" style=" border:none; width:100%; max-width:728px;" border="0" /></p>
		<h4>Checking Folder Created in Windows File Sharing</h4>
		<p>To check the folder created in Windows File Sharing, <span style="text-indent: -20px;">navigate 
		 to the Directory Folder under which the folder is created.</span></p>
 </div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Create_File" 
															 id="Create_File" 
															 style="position: relative;"></a><a class="dropspot" href="javascript:TextPopup(this)" id="a14" style="position: relative;">Create File</a> </h3>
	<div class="droptext" id="POPUP536994531" style="display: none;">
		<p>To test Create File operation in Windows File Sharing, perform 
		 the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">POST </span>in the <span style="font-weight: bold;">Method</span> 
		 field on the RESTClient page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL for creating file in Windows File Sharing in the <span 
		 style="font-weight: bold;">URL</span> field. For more information 
		 on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
								 id="a13111" style="position: relative;">Supported 
		 HTTP Methods.</a><br />
		<br />
		The format of the URL to create file is - <span style="font-style: italic;">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{ConnectorName}/{Resource}</span><br />
		<br />
		<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
		 style="font-style: italic;">scim/v2/</span>windowsfilesharing/filefolders</p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the request body in <span style="font-weight: bold;">Body</span> 
		 field.</p>
		<table class="Note" style=" border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; margin-left:48px; width:100%; max-width:71.496%;" cellspacing="0px">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p style="margin-top: 5pt; margin-bottom: 5pt;">{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt;">&#160;&#160;&#160;&quot;name&quot;: 
				 &quot;d:\\Working Folder\TestSCIMFolder\logfile.txt&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt;">&#160;&#160;&#160;&quot;type&quot;: 
				 &quot;file&quot;</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt;">}</p></td>
			</tr>
		</table>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send.</span><br />
		The RestClient shows the processing message. <br />
		<br />
		After the request is processed, you can see the response in the 
		 <span style="font-weight: bold;">Response</span> section. The 
		 <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
		 shows the response.<br />
		If you get the <span style="font-weight: bold;">Status Code 201 
		 Created</span>, it means the request is successfully processed.</p>
		<h4>Checking File Created in Windows File Sharing</h4>
		<p>To check the file created in Windows File Sharing, <span style="text-indent: -20px;">navigate 
		 to the Directory Folder under which the file is created.</span></p>
 </div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Update_File_Name" 
															 id="Update_File_Name" 
															 style="position: relative;"></a><a class="dropspot" href="javascript:TextPopup(this)" id="a16" style="position: relative;">Update File Name</a></h3>
	<div class="droptext" id="POPUP538013718" style="display: none;">
		<p>To test Update File Name operation in Windows File Sharing, 
		 perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">PATCH </span>in the <span style="font-weight: bold;">Method</span> 
		 field on the RESTClient page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL for updating file name in Windows File Sharing in the 
		 <span style="font-weight: bold;">URL</span> field. For more information 
		 on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
								 id="a13113" style="position: relative;">Supported 
		 HTTP Methods.</a><br />
		<br />
		The format of the URL to update file name is - <span style="font-style: italic;">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{ConnectorName}/{Resource}/{id}</span><br />
		<br />
		<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
		 style="font-style: italic;">scim/v2/</span>windowsfilesharing/filefolders/4971149134179779455162200250118136972212311316180234120189147125901020155115226761</p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the request body in <span style="font-weight: bold;">Body</span> 
		 field.<br />
		<br />
		The value specified for <span style="font-weight: bold;">path</span> 
		 attribute must be the <span style="font-weight: bold;">custom 
		 operation</span> <span style="font-weight: bold;">name</span> 
		 specified in the connector.</p>
		<table class="Note" style=" border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; margin-left:48px; width:100%; max-width:85.407%;" cellspacing="0px">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p style="margin-top: 5pt; margin-bottom: 5pt;">{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 36px;">&quot;schemas&quot;: 
				 [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 36px;">&quot;Operations&quot;: 
				 [{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;op&quot;: 
				 &quot;custom&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;path&quot;: 
				 &quot;Update FileFolder Name&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;value&quot;: 
				 [{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;resName&quot;: 
				 &quot;d:\\Working Folder/TestSCIMFolder/logfile.txt&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;updatedResName&quot;: 
				 &quot;d://Working Folder/TestSCIMFolder/logfile_new.txt&quot;</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">}]</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">}]</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt;">}</p></td>
			</tr>
		</table>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send.</span><br />
		The RestClient shows the processing message. <br />
		<br />
		After the request is processed, you can see the response in the 
		 <span style="font-weight: bold;">Response</span> section. The 
		 <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
		 shows the response. If you get the <span style="font-weight: bold;">Status 
		 Code 200 OK</span>, it means the request is successfully processed.</p>
		<p class="list" style="text-align: right; font-weight: bold;"><a 
		 href="#Update_File_Name" id="a18" style="font-weight: bold; position: relative;">Back 
		 to top</a></p>
 </div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Update_Folder_Name" 
															 id="Update_Folder_Name" 
															 style="position: relative;"></a><a class="dropspot" href="javascript:TextPopup(this)" id="a19" style="position: relative;">Update Folder Name</a></h3>
	<div class="droptext" id="POPUP538001578" style="display: none;">
		<p>To test Update Folder Name operation in Windows File Sharing, 
		 perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">PATCH </span>in the <span style="font-weight: bold;">Method</span> 
		 field on the RESTClient page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL for updating folder name in Windows File Sharing in the 
		 <span style="font-weight: bold;">URL</span> field. For more information 
		 on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
								 id="a13112" style="position: relative;">Supported 
		 HTTP Methods.</a><br />
		<br />
		The format of the URL to update folder name is - <span style="font-style: italic;">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{ConnectorName}/{Resource}/{id}</span><br />
		<br />
		<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
		 style="font-style: italic;">scim/v2/</span>windowsfilesharing/filefolders/24464161103222186161226125193248524916540139165143811626214118766216622210118052191118</p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the request body in <span style="font-weight: bold;">Body</span> 
		 field.<br />
		<br />
		The value specified for <span style="font-weight: bold;">path</span> 
		 attribute must be the <span style="font-weight: bold;">custom 
		 operation</span> <span style="font-weight: bold;">name</span> 
		 specified in the connector.</p>
		<table class="Note" style=" border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; margin-left:48px; width:100%; max-width:57.692%;" cellspacing="0px">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p style="margin-top: 5pt; margin-bottom: 5pt;">{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 36px;">&quot;schemas&quot;: 
				 [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 36px;">&quot;Operations&quot;: 
				 [{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;op&quot;: 
				 &quot;custom&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;path&quot;: 
				 &quot;Update FileFolder Name&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;value&quot;: 
				 [{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;resName&quot;: 
				 &quot;d://Working Folder/TestSCIMFolder&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;updatedResName&quot;: 
				 &quot;d://Working Folder/TestSCIMFolder_new&quot;</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">}]</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">}]</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt;">}</p></td>
			</tr>
		</table>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send.</span><br />
		The RestClient shows the processing message. <br />
		<br />
		After the request is processed, you can see the response in the 
		 <span style="font-weight: bold;">Response</span> section. The 
		 <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
		 shows the response. If you get the <span style="font-weight: bold;">Status 
		 Code 200 OK</span>, it means the request is successfully processed.</p>
		<p style="text-align: right; font-weight: bold;"><a href="#Update_Folder_Name" 
															 id="a36" style="font-weight: bold; 
															 position: relative;">Back 
		 to top</a></p>
 </div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Enable_Sharing_for_Folder" 
															 id="Enable_Sharing_for_Folder" 
															 style="position: relative;"></a><a class="dropspot" href="javascript:TextPopup(this)" id="a23" style="position: relative;">Enable Sharing for Folder</a></h3>
	<div class="droptext" id="POPUP537040304" style="display: none;">
		<p>To test Enable Sharing for Folder operation in Windows File 
		 Sharing, perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">PATCH </span>in the <span style="font-weight: bold;">Method</span> 
		 field on the RESTClient page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL for enabling share for folder in Windows File Sharing 
		 in the <span style="font-weight: bold;">URL</span> field. For 
		 more information on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
												 id="a13114" style="position: relative;">Supported 
		 HTTP Methods.</a><br />
		<br />
		The format of the URL to enable share for folder is - <span style="font-style: italic;">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{ConnectorName}/{Resource}/{id}</span><br />
		<br />
		<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
		 style="font-style: italic;">scim/v2/</span>windowsfilesharing/filefolders/149228181200034236127224175136312009572205221386211522262791351188212151499911951</p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the request body in <span style="font-weight: bold;">Body</span> 
		 field.<br />
		<br />
		The value specified for <span style="font-weight: bold;">path</span> 
		 attribute must be the <span style="font-weight: bold;">custom 
		 operation</span> <span style="font-weight: bold;">name</span> 
		 specified in the connector.</p>
		<table class="Note" style=" border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; margin-left:48px; width:100%; max-width:57.692%;" cellspacing="0px">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p style="margin-top: 5pt; margin-bottom: 5pt;">{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 36px;">&quot;schemas&quot;: 
				 [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 36px;">&quot;Operations&quot;: 
				 [{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;op&quot;: 
				 &quot;custom&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;path&quot;: 
				 &quot;Enable Sharing for Folder&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;value&quot;: 
				 [{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;resName&quot;: 
				 &quot;d://Working Folder/TestSCIMFolder_new&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;shareName&quot;: 
				 &quot;SCIMTest&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;type&quot;: 
				 &quot;0&quot;</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 96px;">}]</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">}]</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt;">}</p></td>
			</tr>
		</table>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send.</span><br />
		The RestClient shows the processing message. <br />
		<br />
		After the request is processed, you can see the response in the 
		 <span style="font-weight: bold;">Response</span> section. The 
		 <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
		 shows the response. If you get the <span style="font-weight: bold;">Status 
		 Code 200 OK</span>, it means the request is successfully processed.</p>
		<p class="list" style="text-align: right; font-weight: bold;"><a 
		 href="#Enable_Sharing_for_Folder" id="a24" style="font-weight: bold; 
		 position: relative;">Back to top</a></p>
 </div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Disable_Sharing_of_Folder" 
															 id="Disable_Sharing_of_Folder" 
															 style="position: relative;"></a><a class="dropspot" href="javascript:TextPopup(this)" id="a22" style="position: relative;">Disable Sharing of Folder</a></h3>
	<div class="droptext" id="POPUP436257035" style="display: none;">
		<p>To test Disable Sharing for Folder operation in Windows File 
		 Sharing, perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">PATCH </span>in the <span style="font-weight: bold;">Method</span> 
		 field on the RESTClient page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL for disabling share of folder in Windows File Sharing 
		 in the <span style="font-weight: bold;">URL</span> field. For 
		 more information on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
												 id="a13115" style="position: relative;">Supported 
		 HTTP Methods.</a><br />
		<br />
		The format of the URL to disable share of folder is - <span style="font-style: italic;">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{ConnectorName}/{Resource}/{id}</span><br />
		<br />
		<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
		 style="font-style: italic;">scim/v2/</span>windowsfilesharing/filefolders/24464161103222186161226125193248524916540139165143811626214118766216622210118052191118</p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the request body in <span style="font-weight: bold;">Body</span> 
		 field.<br />
		<br />
		The value specified for <span style="font-weight: bold;">path</span> 
		 attribute must be the <span style="font-weight: bold;">custom 
		 operation</span> <span style="font-weight: bold;">name</span> 
		 specified in the connector.</p>
		<table class="Note" style=" border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; margin-left:48px; width:100%; max-width:57.692%;" cellspacing="0px">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p style="margin-top: 5pt; margin-bottom: 5pt;">{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 36px;">&quot;schemas&quot;: 
				 [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 36px;">&quot;Operations&quot;: 
				 [{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;op&quot;: 
				 &quot;replace&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;path&quot;: 
				 &quot;share&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;value&quot;: 
				 [{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 60px;">&quot;value&quot;: 
				 &quot;myscimtestshare&quot;</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">}]</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">}]</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt;">}</p></td>
			</tr>
		</table>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send.</span><br />
		The RestClient shows the processing message. <br />
		<br />
		After the request is processed, you can see the response in the 
		 <span style="font-weight: bold;">Response</span> section. The 
		 <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
		 shows the response. If you get the <span style="font-weight: bold;">Status 
		 Code 200 OK</span>, it means the request is successfully processed.</p>
		<p class="list" style="text-align: right; font-weight: bold;"><a 
		 href="#Disable_Sharing_of_Folder" id="a25" style="font-weight: bold; 
		 position: relative;">Back to top</a></p>
 </div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Grant_Access_to_File_or_Folder" 
															 id="Grant_Access_to_File_or_Folder" 
															 style="position: relative;"></a><a class="dropspot" href="javascript:TextPopup(this)" id="a26" style="position: relative;">Grant Access to File or Folder</a></h3>
	<div class="droptext" id="POPUP436673617" style="display: none;">
		<p>To test Grant Access to Folder operation in Windows File Sharing, 
		 perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">PATCH </span>in the <span style="font-weight: bold;">Method</span> 
		 field on the RESTClient page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL for granting access to folder in Windows File Sharing 
		 in the <span style="font-weight: bold;">URL</span> field. For 
		 more information on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
												 id="a13116" style="position: relative;">Supported 
		 HTTP Methods.</a><br />
		<br />
		The format of the URL to grant access to folder is - <span style="font-style: italic;">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{ConnectorName}/{Resource}/{id}</span><br />
		<br />
		<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
		 style="font-style: italic;">scim/v2/</span>windowsfilesharing/filefolders/24464161103222186161226125193248524916540139165143811626214118766216622210118052191118</p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the request body in <span style="font-weight: bold;">Body</span> 
		 field.<br />
		<br />
		The value specified for <span style="font-weight: bold;">path</span> 
		 attribute must be the <span style="font-weight: bold;">custom 
		 operation</span> <span style="font-weight: bold;">name</span> 
		 specified in the connector development.</p>
		<table class="Note" style=" border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; margin-left:48px; width:100%; max-width:57.692%;" cellspacing="0px">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p style="margin-top: 5pt; margin-bottom: 5pt;">{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 36px;">&quot;schemas&quot;: 
				 [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 36px;">&quot;Operations&quot;: 
				 [{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;op&quot;: 
				 &quot;custom&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;path&quot;: 
				 &quot;Grant Access to FileFolder&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;value&quot;: 
				 [{</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;userName&quot;: 
				 &quot;EveryOne&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;resName&quot;: 
				 &quot;c:\\gauravtest&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;permission&quot;: 
				 &quot;FullControl(NTFS)&quot;,</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;ctrlType&quot;: 
				 &quot;Allow&quot;</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">}]</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">}]</p>
				<p style="margin-top: 5pt; margin-bottom: 5pt;">}</p></td>
			</tr>
		</table>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send.</span><br />
		The RestClient shows the processing message. <br />
		<br />
		After the request is processed, you can see the response in the 
		 <span style="font-weight: bold;">Response</span> section. The 
		 <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
		 shows the response. If you get the <span style="font-weight: bold;">Status 
		 Code 200 OK</span>, it means the request is successfully processed.</p>
		<p class="list" style="text-align: right; font-weight: bold;"><a 
		 href="#Grant_Access_to_File_or_Folder" id="a27" style="font-weight: bold; 
		 position: relative;">Back to top</a></p>
 </div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Remove_Access_to_File_or_Folder" 
															 id="Remove_Access_to_File_or_Folder" 
															 style="position: relative;"></a><a class="dropspot" href="javascript:TextPopup(this)" id="a28" style="position: relative;">Remove Access to File or Folder</a></h3>
	<div class="droptext" id="POPUP436715367" style="display: none;">
		<p>To test Remove Access to Folder operation in Windows File Sharing, 
		 perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">PATCH </span>in the <span style="font-weight: bold;">Method</span> 
		 field on the RESTClient page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL for removing access to folder in Windows File Sharing 
		 in the <span style="font-weight: bold;">URL</span> field. For 
		 more information on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
												 id="a13117" style="position: relative;">Supported 
		 HTTP Methods.</a><br />
		<br />
		The format of the URL to remove access to folder is - <span style="font-style: italic;">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{ConnectorName}/{Resource}/{id}</span><br />
		<br />
		<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
		 style="font-style: italic;">scim/v2/</span>windowsfilesharing/filefolders/24464161103222186161226125193248524916540139165143811626214118766216622210118052191118</p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the request body in <span style="font-weight: bold;">Body</span> 
		 field.s<br />
		<br />
		The value specified for <span style="font-weight: bold;">path</span> 
		 attribute must be the <span style="font-weight: bold;">custom 
		 operation</span> <span style="font-weight: bold;">name</span> 
		 specified in the connector.</p>
		<table class="Note" style=" border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; margin-left:48px; width:100%; max-width:57.692%;" cellspacing="0px">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p>{</p>
				<p style="margin-left: 36px;">&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p style="margin-left: 36px;">&quot;Operations&quot;: [{</p>
				<p style="margin-left: 60px;">&quot;op&quot;: &quot;custom&quot;,</p>
				<p style="margin-left: 60px;">&quot;path&quot;: &quot;RemoveAccess&quot;,</p>
				<p style="margin-left: 60px;">&quot;value&quot;: [{</p>
				<p style="margin-left: 60px;">&quot;userName&quot;: &quot;EveryOne&quot;,</p>
				<p style="margin-left: 60px;">&quot;resName&quot;: &quot;c:\\scimtest6&quot;,</p>
				<p style="margin-left: 60px;">&quot;permission&quot;: &quot;FullControl(NTFS)&quot;,</p>
				<p style="margin-left: 60px;">&quot;ctrlType&quot;: &quot;Allow&quot;</p>
				<p style="margin-left: 60px;">}]</p>
				<p style="margin-left: 36px;">}]</p>
				<p>}</p></td>
			</tr>
		</table>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send.</span><br />
		The RestClient shows the processing message. <br />
		<br />
		After the request is processed, you can see the response in the 
		 <span style="font-weight: bold;">Response</span> section. The 
		 <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
		 shows the response. If you get the <span style="font-weight: bold;">Status 
		 Code 200 OK</span>, it means the request is successfully processed.</p>
		<p class="list" style="text-align: right; font-weight: bold;"><a 
		 href="#Remove_Access_to_File_or_Folder" id="a29" style="font-weight: bold; 
		 position: relative;">Back to top</a></p>
 </div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Delete_File" 
															 id="Delete_File" 
															 style="position: relative;"></a><a class="dropspot" href="javascript:TextPopup(this)" id="a34" style="position: relative;">Delete File</a></h3>
	<div class="droptext" id="POPUP437461159" style="display: none;">
		<p>To test Delete File operation in Windows File Sharing, perform 
		 the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">DELETE </span>in the <span style="font-weight: bold;">Method</span> 
		 field on the RESTClient page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL for deleting file in Windows File Sharing in the <span 
		 style="font-weight: bold;">URL</span> field. For more information 
		 on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
								 id="a13119" style="position: relative;">Supported 
		 HTTP Methods.</a><br />
		<br />
		The format of the URL to delete file is - <span style="font-style: italic;">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{ConnectorName}/{Resource}/{id}</span><br />
		<br />
		<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
		 style="font-style: italic;">scim/v2/</span>windowsfilesharing/filefolders/72199180225232922171124615024738133164124572291812462192551201921361191441351231994199218</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send.</span><br />
		The RestClient shows the processing message. <br />
		<br />
		After the request is processed, you can see the response in the 
		 <span style="font-weight: bold;">Response</span> section. The 
		 <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
		 shows the response. If you get the <span style="font-weight: bold;">Status 
		 Code 204</span>, it means the request is successfully processed.</p>
		<p class="list" style="text-align: right; font-weight: bold;"><a 
		 href="#Delete_File" id="a35" style="font-weight: bold; position: relative;">Back 
		 to top</a></p>
 </div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Delete_Folder" 
															 id="Delete_Folder" 
															 style="position: relative;"></a><a class="dropspot" href="javascript:TextPopup(this)" id="a37" style="position: relative;">Delete Folder</a></h3>
	<div class="droptext" id="POPUP437386307" style="display: none;">
		<p>To test Delete Folder operation in Windows File Sharing, perform 
		 the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">DELETE </span>in the <span style="font-weight: bold;">Method</span> 
		 field on the RESTClient page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
		 the URL for deleting folder in Windows File Sharing in the <span 
		 style="font-weight: bold;">URL</span> field. For more information 
		 on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
								 id="a13118" style="position: relative;">Supported 
		 HTTP Methods.</a><br />
		<br />
		The format of the URL to delete folder is - <span style="font-style: italic;">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{ConnectorName}/{Resource}/{id}</span><br />
		<br />
		<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
		 style="font-style: italic;">scim/v2/</span>windowsfilesharing/filefolders/24464161103222186161226125193248524916540139165143811626214118766216622210118052191118</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Send.</span><br />
		The RestClient shows the processing message. <br />
		<br />
		After the request is processed, you can see the response in the 
		 <span style="font-weight: bold;">Response</span> section. The 
		 <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
		 shows the response. If you get the <span style="font-weight: bold;">Status 
		 Code 204</span>, it means the request is successfully processed.</p>
		<p class="list" style="text-align: right; font-weight: bold;"><a 
		 href="#Delete_Folder" id="a32" style="font-weight: bold; position: relative;">Back 
		 to top</a></p>
 </div></li>
</ul>
<table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Tuebora_Connectors.htm" 
												 id="a17" style="color: #008000; 
												 position: relative;">Tuebora 
		 Connectors</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Connector_for_Odoo.htm" id="a20" style="color: #008000; 
		 position: relative;">Connector for Odoo</a></p></td>
	</tr>
 </table>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	if( typeof( TextPopupInit ) != 'function' ) TextPopupInit = new Function();
	TextPopupInit('a15','POPUP535212869');
	TextPopupInit('a14','POPUP536994531');
	TextPopupInit('a16','POPUP538013718');
	TextPopupInit('a19','POPUP538001578');
	TextPopupInit('a23','POPUP537040304');
	TextPopupInit('a22','POPUP436257035');
	TextPopupInit('a26','POPUP436673617');
	TextPopupInit('a28','POPUP436715367');
	TextPopupInit('a34','POPUP437461159');
	TextPopupInit('a37','POPUP437386307');
	InitEffects('Delete_File','');
	InitEffects('Testing_Operations','');
	InitEffects('a112','');
	InitEffects('a8','');
	InitEffects('a9','');
	InitEffects('a20','');
	InitEffects('Create_File','');
	InitEffects('Testing_Data_Collection','');
	InitEffects('Connector_Deployment_Dependencies','');
	InitEffects('Operation_System_Dependencies','');
	InitEffects('Create_Folder','');
	InitEffects('a13118','');
	InitEffects('Grant_Access_to_File_or_Folder','');
	InitEffects('a22','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a54','');
	InitEffects('a13119','');
	InitEffects('a23','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('Operations_Not_Supported','');
	InitEffects('Windows_File_Sharing_Access_Model','');
	InitEffects('OOTB_Windows_File_Sharing_Connector_Details','');
	InitEffects('a24','');
	InitEffects('a56','');
	InitEffects('a2','');
	InitEffects('a32','');
	InitEffects('a25','');
	InitEffects('Update_File_Name','');
	InitEffects('a3','');
	InitEffects('a10','');
	InitEffects('Delete_Folder','');
	InitEffects('Remove_Access_to_File_or_Folder','');
	InitEffects('a26','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a13114','');
	InitEffects('a27','');
	InitEffects('a13115','');
	InitEffects('a12','');
	InitEffects('a43','');
	InitEffects('Windows_File_Sharing_Integration_Mode','');
	InitEffects('a1','');
	InitEffects('a37','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a13116','');
	InitEffects('a15','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a40','');
	InitEffects('Data_Collection','');
	InitEffects('a6','');
	InitEffects('a13117','');
	InitEffects('a28','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a36','');
	InitEffects('a14','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('Preparing_RESTClient_for_Testing_a_Connector','');
	InitEffects('Prerequisites','');
	InitEffects('a41','');
	InitEffects('a7','');
	InitEffects('a17','');
	InitEffects('a35','');
	InitEffects('a29','');
	InitEffects('Enable_Sharing_for_Folder','');
	InitEffects('a131','');
	InitEffects('Testing_OOTB_Windows_File_Sharing_Connector','');
	InitEffects('Authentication_Details','');
	InitEffects('a4','');
	InitEffects('a34','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a16','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a13111','');
	InitEffects('a5','');
	InitEffects('Disable_Sharing_of_Folder','');
	InitEffects('a13112','');
	InitEffects('a19','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a44','');
	InitEffects('a60','');
	InitEffects('Update_Folder_Name','');
	InitEffects('a18','');
	InitEffects('a13113','');
	InitEffects('Supported_Operations','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
