
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Connector for PingOne</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "4.0_6";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="392">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Connector_for_Salesforce.htm" 
												 id="a13" style="color: #008000; 
												 position: relative;">Connector 
		 for Salesforce</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span><a href="Troubleshooting.htm" 
															 id="a27" style="color: #008000; 
															 position: relative;">Troubleshooting</a></span> 
		 </p></td>
	</tr>
 </table>
 <h1>Connector for PingOne</h1>
 <p>PingOne is a cloud-based identity as a service (IDaaS) framework for 
 secure Identity Access Management. You can use PingOne to give employees 
 of your organization secure single sign-on (SSO) to cloud applications.</p>
 <p>To integrate PingOne with other solutions, you can create a connector 
 using Tuebora Connector Design Tool. </p>
 <p>Tuebora provides an out-of-the-box (OOTB) connector for integrating 
 PingOne.</p>
 <p>This chapter explains the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#OOTB_PingOne_Connector_Details" id="a1" style="position: relative;">OOTB 
	 PingOneConnector Details</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt; position: relative;"><a 
	 href="#Testing_OOTB_PingOne_Connector" id="a2" style="position: relative;">Testing 
	 OOTB PingOne Connector</a></p></li>
</ul>
<h2><a name="OOTB_PingOne_Connector_Details" id="OOTB_PingOne_Connector_Details" 
		 style="position: relative;"></a>OOTB PingOne Connector Details</h2>
<p>This topic explains the following:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#PingOne_Access_Model" id="a3" style="position: relative;">PingOne 
	 Access Model</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#PingOne_Integration_Mode" id="a4" style="position: relative;">PingOne 
	 Integration Mode</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Authentication_Details" id="a5" style="position: relative;">Authentication 
	 Details</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Pagination_Strategy" id="a6" style="position: relative;">Pagination 
	 Strategy</a></p></li>
	<li>
 <p class="list" style="position: relative; margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Data_Collection" id="a7" style="position: relative;">Data Collection</a></p></li>
	<li>
 <p class="list" style="position: relative; margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Supported_Operations" id="a8" style="position: relative;">Supported 
	 Operations</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Operations_Not_Supported" id="a10" style="position: relative;">Operations 
	 Not Supported</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt; position: relative;"><a 
	 href="#Connector_Deployment_Dependencies" id="a9" style="position: relative;">Connector 
	 Deployment Dependencies</a></p></li>
</ul>
<h3><a name="PingOne_Access_Model" id="PingOne_Access_Model" style="position: relative;"></a>PingOne 
 Access Model</h3>
<p>Following are the entities in PingOne:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">User 
	 </p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Group</p></li>
</ul>
<h4>Access Management</h4>
<p>PingOne groups correspond to groups in the user repository associated 
 with your identity bridge. When a user signs on (SSO), their group information 
 from the identity bridge is matched to a corresponding PingOne group. 
 This enables you to authorize user access to cloud applications based 
 on their group membership.</p>
<h3><a name="PingOne_Integration_Mode" id="PingOne_Integration_Mode" style="position: relative;"></a>PingOne 
 Integration Mode</h3>
<p>Integration Mode used for PingOne is <span style="font-weight: bold;">HTTP</span> 
 <span style="font-weight: bold;">REST</span>. PingOne is integrated using 
 PingOne <span style="font-weight: bold;">REST API</span>. OOTB PingOne 
 connector provided in the Tuebora SCIM Portal is a <span style="font-weight: bold;">REST 
 Connector</span>. </p>
<h3><a name="Authentication_Details" id="Authentication_Details" style="position: relative;"></a>Authentication 
 Details</h3>
<p>Parameter required to connect to PingOne are as follows:</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Username</span> - Service Account to connect 
	 to PingOne.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Password</span> - Password of the corresponding 
	 service account.</p></li>
</ul>
<h3><a name="Pagination_Strategy" id="Pagination_Strategy" style="position: relative;"></a>Pagination 
 Strategy</h3>
<p>PingOne GetUser API returns only 1000 records at a time. API maintains 
 three variables startIndex, count, totalResults. </p>
<p>Can get next set of records based on:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">startIndex</span> - starting Index from 
	 which, we will get user data.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">count</span> - Fetch {count} no of users 
	 from startIndex. Maximum=1000 and default is 10.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">totalResults</span> - Total No of users 
	 available in pingone directory.</p></li>
</ul>
<h3><a name="Data_Collection" id="Data_Collection" style="position: relative;"></a>Data 
 Collection</h3>
<p>Following table lists the data collection supported in the OOTB Connector 
 provided for PingOne.</p>
<table class="navigationhyperlink" style="border: Solid 1px #000000; left: 0px; 
		 top: 761px;" cellspacing="0px" width="100%">
	<col style="width: 25%;" />
	<col style="width: 25%;" />
	<col style="width: 25%;" />
	<col style="width: 25%;" />
	<tr style="height: 25px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;" bgcolor="#003A6B">
  <p class="TableText" 
														 style="color: #ffffff; 
														 font-weight: bold;">Type 
		 of Data</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;" bgcolor="#003A6B">
  <p class="TableText" 
														 style="font-weight: bold; 
														 color: #ffffff;">File 
		 Name</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #000000; vertical-align: top;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="font-weight: bold; 
									 color: #ffffff;">Details of Data Collected 
		 </p></td>
		
	</tr>
	<tr style="height: 22px;">
		<td rowspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">User</p></td>
		<td rowspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">user.csv</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText" style="color: #000000;">The 
		 CSV file contains following data:</p></td>
		
	</tr>
	<tr style="height: 98px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">userName</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">creationDate</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">lastModifieddate</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">firstName</p></li>
		</ul></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">lastName</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">id</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">emails</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">isActive</p></li>
		</ul></td>
	</tr>
	<tr style="height: 79px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText"><span 
		 style="orphans: 2; widows: 2; text-decoration-style: initial; 
		 text-decoration-color: initial;">Group</span></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">group.csv</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">The CSV 
		 file contains following data:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">id</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">displayName</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">creationTime</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">lastModifiedTime</p></li>
		</ul></td>
		
	</tr>
	<tr style="height: 76px;">
		<td style="border-right: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">User 
		 to Group Association</p></td>
		<td style="border-right: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">groupmembership.csv 
		 </p></td>
		<td colspan="2" style="vertical-align: top; background-color: Transparent;">
  <p 
			 class="TableText" style="color: #000000;">The CSV file contains 
		 following data:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">groupId</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">memberId</p></li>
		</ul></td>
		
	</tr>
</table>
<h3><a name="Supported_Operations" id="Supported_Operations" style="position: relative;"></a>Supported 
 Operations</h3>
<p>Following table lists the operations that are supported in the OOTB 
 PingOne Connector. </p>
<table class="navigationhyperlink" style="border: Solid 1px #000000; left: 0px; 
		 top: 761px;" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr style="height: 31px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;" bgcolor="#003A6B">
  <p class="list" style="margin-top: 5pt; 
														 margin-bottom: 5pt; 
														 font-weight: bold; 
														 margin-left: 60px; 
														 color: #ffffff; 
														 text-decoration: none; ">User</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top;" 
			 bgcolor="#003A6B">
  <p style="color: #ffffff; font-weight: bold;">Group</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Create 
		 User</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Create 
		 Group</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Update 
		 all attributes of User</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Update 
		 all attributes of Group</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Update 
		 specific attribute of User</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Add Member 
		 to Group</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Disable 
		 User</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Remove 
		 Member from Group</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Enable 
		 User</p></td>
		<td rowspan="3" style="vertical-align: top; background-color: Transparent;">
  <p 
			 class="TableText">Delete Group</p></td>
	</tr>
	<tr style="height: 20px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Change 
		 Password</p></td>
		
	</tr>
	<tr style="height: 21px;">
		<td style="border-right: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Delete 
		 User</p></td>
		
	</tr>
 </table>
 <h3><a name="Operations_Not_Supported" id="Operations_Not_Supported" style="position: relative;"></a>Operations 
 Not Supported</h3>
 <p><span style="font-weight: bold;">Get</span> and <span style="font-weight: bold;">Search</span> 
 operations on resources are not supported. </p>
 <p>You can extend the connector to add any of the missing operations, if 
 required.</p>
 <h3><a name="Connector_Deployment_Dependencies" id="Connector_Deployment_Dependencies" 
		 style="position: relative;"></a>Connector Deployment Dependencies</h3>
 <p>The OOTB PingOne connector has the following deployment dependencies:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Service 
	 Account with Global Admin or Directory Admin permissions.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Internet 
	 access from the machine where SCIM server is running to connect Salesforce.</p></li>
</ul>
<h2><a name="Testing_OOTB_PingOne_Connector" id="Testing_OOTB_PingOne_Connector" 
		 style="position: relative;"></a>Testing OOTB PingOne Connector</h2>
<p>You can test the OOTB PingOne connector to ensure that the connector 
 works as expected.</p>
<p>You can use the RESTClient to point to the target application and perform 
 the operations that you have configured in the connector. When you use 
 RESTClient to test the connector, the RESTClient hits the specified URL 
 and performs the operation in the target application and returns the response 
 for it.</p>
<p>This topic explains the following:</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Prerequisites" 
	 id="a14" style="position: relative;">Prerequisites</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Preparing_RESTClient_for_Testing_a_Connector" 
	 id="a16" style="position: relative;">Preparing RESTClient for Testing 
 a Connector</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt; position: relative;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Testing_Data_Collection" id="a18" style="position: relative;">Testing 
 Data Collection</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Testing_Operations" 
	 id="a20" style="position: relative;">Testing Operations</a></p>
<h3><a name="Prerequisites" id="Prerequisites" style="position: relative;"></a>Prerequisites</h3>
<p>Prerequisites to test a connector using RESTClient are as follows:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You must 
 have a RESTClient installed on the computer where you have installed the 
 SCIM Server.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The SCIM 
 Server must be running.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You must 
 have deployed the connector that you want to test on the SCIM Server.</p>
<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You 
 must have correct URLs, Headers, and data in JSON format for the operations 
 that you want to test.</p>
<h3><a name="Preparing_RESTClient_for_Testing_a_Connector" id="Preparing_RESTClient_for_Testing_a_Connector" 
		 style="position: relative;"></a>Preparing RESTClient for Testing 
 a Connector</h3>
<p>To test the connectors the following custom headers must be added in 
 the RESTClient.</p>

<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
		 top: 834px;" cellspacing="0" width="100%">
	<col style="width: 26.267%;" />
	<col style="width: 31.835%;" />
	<col style="width: 41.898%;" />
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Request Header 
		 Name</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Request Header 
		 Value</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Header 
		 Description</p></td>
	</tr>
	<tr style="height: 55px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Content-Type</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">application/json</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Header 
		 sends the http json header to the browser to inform what is the 
		 kind of data that is expected.</p></td>
	</tr>
	<tr style="height: 53px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Authorization</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">You must specify Basic Authentication details 
		 - Username and Password</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Header 
		 validates the User ID and Password for API calls.</p></td>
	</tr>
 </table>

 <h4 class="list">Defining Basic Authorization</h4>
 <p>To add Basic Authorization in Firefox RESTClient, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Open RestClient 
 in Firefox browser.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Basic</span> <span style="font-weight: bold;">Authentication</span>.<br />
The Basic Authentication subwindow opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 <span style="font-weight: bold;"><a href="Client_Management.htm#Add_Client" 
									 id="a91" style="position: relative;">Secret 
 Id</a></span> in <span style="font-weight: bold;">Username</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 <span style="font-weight: bold;"><a href="Client_Management.htm#Add_Client" 
									 id="a121" style="position: relative;">Secret 
 Key</a></span> in <span style="font-weight: bold;">Password</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Okay</span>.</p>
 <h3><a name="Testing_Data_Collection" id="Testing_Data_Collection" style="position: relative;"></a>Testing 
 Data Collection</h3>

 <table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
		 top: 834px;" cellspacing="0" width="100%">
	<col style="width: 16.743%;" />
	<col style="width: 61.694%;" />
	<col style="width: 21.563%;" />
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Request Method</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">URL</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
		 Status Code</p></td>
	</tr>
	<tr style="height: 55px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">POST</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-style: italic;">http://{IP Address 
		 of computer on which SCIM Server is running:SCIM Server Port}/scim/v2/{ConnectorName}/collect<br />
		</p>
		<p class="TableText" style="font-style: italic;"><span style="font-weight: bold;">Example</span>: 
		 http://localhost:9090/scim/v2/pingone/collect</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">200 
		 and gives the Response ID</p></td>
	</tr>
	<tr style="height: 55px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">GET</p></td>
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText" 
														 style="font-style: italic;">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{ConnectorName}/collect/{requestID}</p>
		<p class="TableText" style="font-style: italic;">http://localhost:9090/scim/v2/pingone/collect/d33da040-cddd-4af0-ac02-8857a6f0557c</p></td>
		<td>
  <p class="TableText">200</p></td>
	</tr>
 </table>

 <h4>Viewing the Data Collected from Azure AD</h4>
 <p>Data collected for different resources from PingOne is saved in <span 
	 style="font-weight: bold;">upload</span> folder in <span style="font-weight: bold;">SCIM</span> 
 <span style="font-weight: bold;">Server</span> folder.</p>
 <p>Open the CSV files to view the details of data collected from PingOne.</p>
 <h3><a name="Testing_Operations" id="Testing_Operations" style="position: relative;"></a>Testing 
 Operations</h3>
 <p>When you test different operations configured in PingOne connector, 
 you can view the newly created resources and the updates made for resource 
 attributes by connecting to PingOne application.</p>
 <h3 style="color: #000000;">1. User Operations</h3>
 <ul style="list-style: disc;">
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a11" style="position: relative;">Create User</a></h3>
	<div class="droptext" id="POPUP437473417" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">POST</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}<br />
				</p>
				<p class="TableText" style="font-style: italic;"><span 
				 style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/pingone/users</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;name&quot;: {</p>
				<p class="TableText">&quot;givenName&quot;: &quot;Christopher&quot;,</p>
				<p class="TableText">&quot;familyName&quot;: &quot;Thomas&quot;</p>
				<p class="TableText">},</p>
				<p class="TableText">&quot;password&quot;: &quot;Secret!@34&quot;,</p>
				<p class="TableText">&quot;userName&quot;: &quot;Christophert&quot;,</p>
				<p class="TableText">&quot;emails&quot;: {</p>
				<p class="TableText">&quot;value&quot;: &quot;christopher.thomas@xanadufinancials.com&quot;</p>
				<p class="TableText">}</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">201</p></td>
			</tr>
		</table>
		
		</div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a12" style="position: relative;">Update all attributes of User</a></h3>
	<div class="droptext" id="POPUP437485223" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PUT</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}<br />
				</p>
				<p class="TableText" style="font-style: italic;"><span 
				 style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/pingone/users/5b408f82-971f-4911-90d7-519dc5bdfb70</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;userName&quot;: &quot;Christophert&quot;,</p>
				<p class="TableText">&quot;emails&quot;: {</p>
				<p class="TableText">&quot;value&quot;: &quot;christopher.thomas_updatetoday@xanadufinancials.com&quot;</p>
				<p class="TableText">},</p>
				<p class="TableText">&quot;name&quot;: {</p>
				<p class="TableText">&quot;familyName&quot;: &quot;Thomas 
				 Updated&quot;,</p>
				<p class="TableText">&quot;givenName&quot;: &quot;Christopher 
				 Updated&quot;</p>
				<p class="TableText">},</p>
				<p class="TableText">&quot;displayName&quot;: &quot;Christopher 
				 Thomas updated&quot;,</p>
				<p class="TableText">&quot;title&quot;: &quot;Developer&quot;,</p>
				<p class="TableText">&quot;preferredLanguage&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;nickName&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;phoneNumbers&quot;: {</p>
				<p class="TableText">&quot;value&quot;: &quot;&quot;</p>
				<p class="TableText">},</p>
				<p class="TableText">&quot;addresses&quot;: {</p>
				<p class="TableText">&quot;streetAddress&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;locality&quot;: &quot;SunCity 
				 Apartments&quot;,</p>
				<p class="TableText">&quot;region&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;postalCode&quot;: &quot;560103&quot;,</p>
				<p class="TableText">&quot;country&quot;: &quot;India&quot;</p>
				<p class="TableText">},</p>
				<p class="TableText">&quot;active&quot;: true</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		</div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a15" style="position: relative;">Disable User</a></h3>
	<div class="droptext" id="POPUP437467556" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 45.51%;" />
			<col style="width: 17.787%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}<br />
				</p>
				<p class="TableText" style="font-style: italic;"><span 
				 style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/pingone/users/fd7df3cc-d88b-4a45-921e-21f5754c4a98</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p class="TableText">&quot;Operations&quot;: [{</p>
				<p class="TableText">&quot;op&quot;: &quot;replace&quot;,</p>
				<p class="TableText">&quot;path&quot;: &quot;active&quot;,</p>
				<p class="TableText">&quot;value&quot;: [{</p>
				<p class="TableText">&quot;value&quot;: &quot;true&quot;</p>
				<p class="TableText">}]</p>
				<p class="TableText">}]</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		</div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a17" style="position: relative;">Enable User</a></h3>
	<div class="droptext" id="POPUP435338944" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 45.51%;" />
			<col style="width: 17.787%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}<br />
				</p>
				<p class="TableText" style="font-style: italic;"><span 
				 style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/pingone/users/fd7df3cc-d88b-4a45-921e-21f5754c4a98</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p class="TableText">&quot;Operations&quot;: [{</p>
				<p class="TableText">&quot;op&quot;: &quot;replace&quot;,</p>
				<p class="TableText">&quot;path&quot;: &quot;active&quot;,</p>
				<p class="TableText">&quot;value&quot;: [{</p>
				<p class="TableText">&quot;value&quot;: &quot;false&quot;</p>
				<p class="TableText">}]</p>
				<p class="TableText">}]</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		</div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a19" style="position: relative;">Change Password</a></h3>
	<div class="droptext" id="POPUP435320406" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 45.51%;" />
			<col style="width: 17.787%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}<br />
				</p>
				<p class="TableText" style="font-style: italic;"><span 
				 style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/pingone/users/5b408f82-971f-4911-90d7-519dc5bdfb70</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p class="TableText">&quot;Operations&quot;: [{</p>
				<p class="TableText">&quot;op&quot;: &quot;custom&quot;,</p>
				<p class="TableText">&quot;path&quot;: &quot;Change Password&quot;,</p>
				<p class="TableText">&quot;value&quot;: [{</p>
				<p class="TableText">&quot;id&quot;: &quot;5b408f82-971f-4911-90d7-519dc5bdfb70&quot;,</p>
				<p class="TableText">&quot;newPassword&quot;: &quot;Access!@34567&quot;,</p>
				<p class="TableText">&quot;oldPassword&quot;: &quot;Access!@3456&quot;</p>
				<p class="TableText">}]</p>
				<p class="TableText">}]</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		<p>&#160;</p>
		<table class="Note" cellspacing="0px" width="100%">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p class="TableText"><span style="font-weight: bold;">Note</span>: 
				 The value specified for <span style="font-weight: bold;">path</span> 
				 attribute must be the <span style="font-weight: bold;">custom 
				 operation</span> <span style="font-weight: bold;">name</span> 
				 specified in the connector.</p></td>
			</tr>
		</table>
 </div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a21" style="position: relative;">Delete User</a></h3>
	<div class="droptext" id="POPUP435330959" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 13.164%;" />
			<col style="width: 69.91%;" />
			<col style="width: 16.926%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">DELETE</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}<br />
				</p>
				<p class="TableText" style="font-style: italic;"><span 
				 style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/pingone/users/5b408f82-971f-4911-90d7-519dc5bdfb70</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">204</p></td>
			</tr>
		</table>
		
		</div></li>
</ul>
<h3 style="color: #000000;">2. Group Operations</h3>
<ul style="list-style: disc;">
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a22" style="position: relative;">Create Group</a></h3>
	<div class="droptext" id="POPUP435358593" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 45.51%;" />
			<col style="width: 17.787%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">POST</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/{ConnectorName}/{Resource Name}<br />
				</p>
				<p class="TableText" style="font-style: italic;"><span 
				 style="font-weight: bold;">Example</span>:http://localhost:8080/pingone/groups</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;displayName&quot;: &quot;Group4&quot;</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">201</p></td>
			</tr>
		</table>
		
		</div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a23" style="position: relative;">Update all attributes of Group</a></h3>
	<div class="droptext" id="POPUP435353340" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 45.51%;" />
			<col style="width: 17.787%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PUT</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}<br />
				</p>
				<p class="TableText" style="font-style: italic;"><span 
				 style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/pingone/groups/f439a224-56d6-4cdf-9301-136547b48ad1</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;displayName&quot;: &quot;Group5_Updated&quot;</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		</div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a24" style="position: relative;">Add Member to Group</a></h3>
	<div class="droptext" id="POPUP435347708" style="display: none;">
		<p style="font-weight: bold;">Add User to Group</p>
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 45.51%;" />
			<col style="width: 17.787%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}<br />
				</p>
				<p class="TableText" style="font-style: italic;"><span 
				 style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/pingone/groups/fe9ee818-2f0b-46b7-abcc-b6aa578fc54a</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p class="TableText">&quot;Operations&quot;: [{</p>
				<p class="TableText">&quot;op&quot;: &quot;add&quot;,</p>
				<p class="TableText">&quot;path&quot;: &quot;members&quot;,</p>
				<p class="TableText">&quot;value&quot;: [{</p>
				<p class="TableText">&quot;value&quot;: &quot;40f89bd1-88cc-45ad-931d-3b510f7526d4&quot;,</p>
				<p class="TableText">&quot;type&quot;: &quot;User&quot;</p>
				<p class="TableText">}]</p>
				<p class="TableText">}]</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		<p style="font-weight: bold;">Add Sub-Group to Group</p>
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 45.51%;" />
			<col style="width: 17.787%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/{Application Name}/{Resource Name}/{Id}<br />
				</p>
				<p class="TableText" style="font-style: italic;"><span 
				 style="font-weight: bold;">Example</span>:http://localhost:8080/pingone/group/fe9ee818-2f0b-46b7-abcc-b6aa578fc54a</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p class="TableText">&quot;Operations&quot;: [{</p>
				<p class="TableText">&quot;op&quot;: &quot;add&quot;,</p>
				<p class="TableText">&quot;path&quot;: &quot;members&quot;,</p>
				<p class="TableText">&quot;value&quot;: [{</p>
				<p class="TableText">&quot;value&quot;: &quot;3d5c9465-7da8-4963-aa62-313a846d21e9&quot;,</p>
				<p class="TableText">&quot;type&quot;: &quot;Group&quot;</p>
				<p class="TableText">}]</p>
				<p class="TableText">}]</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		</div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a25" style="position: relative;">Remove Member from Group</a></h3>
	<div class="droptext" id="POPUP435366710" style="display: none;">
		<p style="font-weight: bold;">Remove User from Group Membership</p>
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 45.51%;" />
			<col style="width: 17.787%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}<br />
				</p>
				<p class="TableText" style="font-style: italic;"><span 
				 style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/pingone/groups/fe9ee818-2f0b-46b7-abcc-b6aa578fc54a</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p class="TableText">&quot;Operations&quot;: [{</p>
				<p class="TableText">&quot;op&quot;: &quot;remove&quot;,</p>
				<p class="TableText">&quot;path&quot;: &quot;members&quot;,</p>
				<p class="TableText">&quot;value&quot;: [{</p>
				<p class="TableText">&quot;value&quot;: &quot;40f89bd1-88cc-45ad-931d-3b510f7526d4&quot;,</p>
				<p class="TableText">&quot;type&quot;: &quot;User&quot;</p>
				<p class="TableText">}]</p>
				<p class="TableText">}]</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		<p style="font-weight: bold;">Remove Sub-Group from Group</p>
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 45.51%;" />
			<col style="width: 17.787%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/{Application Name}/{Resource Name}/{Id}<br />
				</p>
				<p class="TableText" style="font-style: italic;"><span 
				 style="font-weight: bold;">Example</span>:http://localhost:8080/pingone/group/fe9ee818-2f0b-46b7-abcc-b6aa578fc54a</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p class="TableText">&quot;Operations&quot;: [{</p>
				<p class="TableText">&quot;op&quot;: &quot;remove&quot;,</p>
				<p class="TableText">&quot;path&quot;: &quot;members&quot;,</p>
				<p class="TableText">&quot;value&quot;: [{</p>
				<p class="TableText">&quot;value&quot;: &quot;3d5c9465-7da8-4963-aa62-313a846d21e9&quot;,</p>
				<p class="TableText">&quot;type&quot;: &quot;Group&quot;</p>
				<p class="TableText">}]</p>
				<p class="TableText">}]</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		</div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt; position: relative;"><a class="dropspot" href="javascript:TextPopup(this)" id="a26" style="position: relative;">Delete Group</a></h3>
	<div class="droptext" id="POPUP435348625" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 13.164%;" />
			<col style="width: 69.91%;" />
			<col style="width: 16.926%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">DELETE</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}<br />
				</p>
				<p class="TableText" style="font-style: italic;"><span 
				 style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/pingone/groups/527d3ee6-f126-435f-9511-990a2892425e</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">204</p></td>
			</tr>
		</table>
		
		</div></li>
</ul>
<table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Connector_for_Salesforce.htm" 
												 id="a28" style="color: #008000; 
												 position: relative;">Connector 
		 for Salesforce</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Troubleshooting.htm" id="a29" style="color: #008000; position: relative;">Troubleshooting</a></p></td>
	</tr>
 </table>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	if( typeof( TextPopupInit ) != 'function' ) TextPopupInit = new Function();
	TextPopupInit('a11','POPUP437473417');
	TextPopupInit('a12','POPUP437485223');
	TextPopupInit('a15','POPUP437467556');
	TextPopupInit('a17','POPUP435338944');
	TextPopupInit('a19','POPUP435320406');
	TextPopupInit('a21','POPUP435330959');
	TextPopupInit('a22','POPUP435358593');
	TextPopupInit('a23','POPUP435353340');
	TextPopupInit('a24','POPUP435347708');
	TextPopupInit('a25','POPUP435366710');
	TextPopupInit('a26','POPUP435348625');
	InitEffects('Testing_Operations','');
	InitEffects('a91','');
	InitEffects('a8','');
	InitEffects('a9','');
	InitEffects('Testing_Data_Collection','');
	InitEffects('a20','');
	InitEffects('Testing_OOTB_PingOne_Connector','');
	InitEffects('Connector_Deployment_Dependencies','');
	InitEffects('a21','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('Pagination_Strategy','');
	InitEffects('a22','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a23','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('Operations_Not_Supported','');
	InitEffects('a24','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a11','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('PingOne_Access_Model','');
	InitEffects('a2','');
	InitEffects('a25','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a10','');
	InitEffects('a3','');
	InitEffects('a26','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a121','');
	InitEffects('a13','');
	InitEffects('a12','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a1','');
	InitEffects('a27','');
	InitEffects('a15','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('Data_Collection','');
	InitEffects('a6','');
	InitEffects('OOTB_PingOne_Connector_Details','');
	InitEffects('a28','');
	InitEffects('Preparing_RESTClient_for_Testing_a_Connector','');
	InitEffects('Prerequisites','');
	InitEffects('a14','');
	InitEffects('a7','');
	InitEffects('a29','');
	InitEffects('a17','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('Authentication_Details','');
	InitEffects('a4','');
	InitEffects('a16','');
	InitEffects('a5','');
	InitEffects('a19','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('PingOne_Integration_Mode','');
	InitEffects('a18','');
	InitEffects('Supported_Operations','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
