
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Connector for OneLogin</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "4.0_5";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="368">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Connector_for_AS400.htm" id="a13" style="color: #008000; 
			 position: relative;">Connector for AS400</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Connector_for_Salesforce.htm" id="a17" style="color: #008000; 
		 position: relative;">Connector for Salesforce</a></p></td>
	</tr>
 </table>
 <h1>Connector for OneLogin</h1>
 <p>OneLogin is a cloud based Identity and Access Management solution. It 
 offers automated user provisioning, access management, multi-factor authentication, 
 single sign-on and other such features.</p>
 <p>To integrate OneLogin with other solutions, you can create a connector 
 using Tuebora Connector Design Tool. </p>
 <p>Tuebora provides an out-of-the-box (OOTB) connector for integrating 
 OneLogin.</p>
 <p>This chapter explains the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#OOTB_OneLogin_Connector_Details" id="a1" style="position: relative;">OOTB 
	 OneLogin Connector Details</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt; position: relative;"><a 
	 href="#Testing_OOTB_OneLogin_Connector" id="a2" style="position: relative;">Testing 
	 OOTB OneLogin Connector</a></p></li>
</ul>
<h2><a name="OOTB_OneLogin_Connector_Details" id="OOTB_OneLogin_Connector_Details" 
		 style="position: relative;"></a>OOTB OneLogin Connector Details</h2>
<p>This topic explains the following:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#OneLogin_Access_Model" id="a3" style="position: relative;">OneLogin 
	 Access Model</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#OneLogin_Integration_Mode" id="a4" style="position: relative;">OneLogin 
	 Integration Mode</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Authentication_Details" id="a5" style="position: relative;">Authentication 
	 Details</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Pagination_Strategy" id="a6" style="position: relative;">Pagination 
	 Strategy</a></p></li>
	<li>
 <p class="list" style="position: relative; margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Data_Collection" id="a7" style="position: relative;">Data Collection</a></p></li>
	<li>
 <p class="list" style="position: relative; margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Supported_Operations" id="a8" style="position: relative;">Supported 
	 Operations</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Operations_Not_Supported" id="a9" style="position: relative;">Operations 
	 Not Supported</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt; position: relative;"><a 
	 href="#Connector_Deployment_Dependencies" id="a10" style="position: relative;">Connector 
	 Deployment Dependencies</a></p></li>
</ul>
<h3><a name="OneLogin_Access_Model" id="OneLogin_Access_Model" style="position: relative;"></a>OneLogin 
 Access Model</h3>
<p>Following are the entities in OneLogin:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Users</span>: Users are employees or contractors 
	 who use applications and have no administrative privileges.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Roles</span>: Roles are used to define 
	 which applications users of a given type use.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Groups</span>: Groups are used to delegate 
	 administration of users. &#160;&#160;</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Application</span>: Applications are instances 
	 of connectors, which define OneLogin capabilities with respect to 
	 an Application.</p></li>
</ul>
<h4>Access Management</h4>
<p>In OneLogin Access are managed as follows:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Policies</span>: Policies allow for security 
	 restrictions and protocols to be applied to users or applications. 
	 Policies define everything from password specifications, session activity 
	 controls, multi-factor authentication.</p></li>
</ul>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Policies</span>: User Policies allow 
 to define security restrictions and protocols to be applied to users or 
 group basis in order to provide another level of account security. </p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Application Policies</span>: This allows 
 to associate applications with their own security policies. These policies 
 define, whether one-time password (OTP) is required for authentication 
 when users sign into a specific application or IP addresses from which 
 users can access the application</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Privileges</span>: By default, users have 
	 access to the portal (&quot;App Home&quot;), where they can log into 
	 applications, view their own user profile, change their password, 
	 register secondary authentication factors, and create and view secure 
	 notes. <br />
	<br />
	OneLogin provides different types of administrative privileges, which 
	 can be assigned to users to access additional functionality.</p></li>
</ul>
<h3><a name="OneLogin_Integration_Mode" id="OneLogin_Integration_Mode" 
		 style="position: relative;"></a>OneLogin Integration Mode</h3>
<p>Integration Mode used for OneLogin is <span style="font-weight: bold;">HTTP</span> 
 <span style="font-weight: bold;">REST</span>. OneLogin is integrated using 
 OneLogin <span style="font-weight: bold;">REST API Version/1</span>. OOTB 
 OneLogin connector provided in the Tuebora SCIM Portal is a <span style="font-weight: bold;">REST 
 Connector</span>. </p>
<h3><a name="Authentication_Details" id="Authentication_Details" style="position: relative;"></a>Authentication 
 Details</h3>
<p>OneLogin uses OAuth 2.0 to authenticate connections that use the OneLogin 
 REST APIs. Every use of OneLogin APIs requires authentication so that 
 OneLogin can ensure that only authorized users are allowed to interact 
 with OneLogin.</p>
<p>OAuth 2 is a protocol for authentication used with web, mobile, and 
 desktop applications.</p>
<p>Parameter required to connect to OneLogin are as follows:</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p style="margin-top: 5pt; margin-bottom: 5pt;">Authentication/Access 
	 Token</p></li>
	<li style="margin-left: -20px;">
 <p style="margin-top: 5pt; margin-bottom: 5pt;">Client 
	 Id</p></li>
	<li style="margin-left: -20px;">
 <p style="margin-top: 5pt; margin-bottom: 5pt;">Client 
	 Secret</p></li>
</ul>
<h3><a name="Pagination_Strategy" id="Pagination_Strategy" style="position: relative;"></a>Pagination 
 Strategy</h3>
<p>Pagination is used when there is more data to load than the data source 
 provides in a single load. You have to specify how the connector must 
 page through the entire set of data that you want to load.</p>
<p>Box APIs use <span style="font-weight: bold;">Token in Response Body</span> 
 as the pagination strategy.</p>
<p>For the pagination type - <span style="font-weight: bold;">Token in 
 Response Body</span> you must specify the following values:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Token 
	 JSON Expression<br />
	<span style="font-weight: bold;">Example</span>: $.pagination.after_cursor</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Token 
	 Query Parameter Name <br />
	<span style="font-weight: bold;">Example</span>: after_cursor</p></li>
</ul>
<h3><a name="Data_Collection" id="Data_Collection" style="position: relative;"></a>Data 
 Collection</h3>
<p>Following table lists the data collection supported in the OOTB Connector 
 provided for OneLogin.</p>
<table class="navigationhyperlink" style="border: Solid 1px #000000; left: 0px; 
		 top: 761px;" cellspacing="0px" width="100%">
	<col style="width: 25%;" />
	<col style="width: 25%;" />
	<col style="width: 25%;" />
	<col style="width: 25%;" />
	<tr style="height: 25px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;" bgcolor="#003A6B">
  <p class="TableText" 
														 style="color: #ffffff; 
														 font-weight: bold;">Type 
		 of Data</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;" bgcolor="#003A6B">
  <p class="TableText" 
														 style="font-weight: bold; 
														 color: #ffffff;">File 
		 Name</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #000000; vertical-align: top;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="font-weight: bold; 
									 color: #ffffff;">Details of Data Collected 
		 </p></td>
		
	</tr>
	<tr style="height: 22px;">
		<td rowspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Users</p></td>
		<td rowspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">users.csv</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">The CSV 
		 file contains following data:</p></td>
		
	</tr>
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Activation 
			 Date</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Creation 
			 Date</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Email 
			 Address</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">First 
			 Name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Unique 
			 Id</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Invitation 
			 Sent Date</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Last Login 
			 Date</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Last Name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Locked 
			 Until</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Comment 
			 </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Open Id 
			 Name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Locale</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Password 
			 Change Date </p></li>
		</ul></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Phone 
			 Number</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Status</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Updation 
			 Date</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Distinguished 
			 Name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">External 
			 Id</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Directory 
			 Id</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Member 
			 Of</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Sam Account 
			 Name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">User Principle 
			 Name </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Manager 
			 AD Id </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Company 
			 </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Department</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Title 
			 </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">State</p></li>
		</ul></td>
	</tr>
	<tr style="height: 27px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Group</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">groups.csv</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">The CSV 
		 file contains following data:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Unique 
			 Id</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Name</p></li>
		</ul></td>
		
	</tr>
	<tr style="height: 49px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Group 
		 Membership</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">groupmembership.csv</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">The CSV 
		 file contains following data:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Account 
			 Unique Id </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Group 
			 Unique Id</p></li>
		</ul></td>
		
	</tr>
	<tr style="height: 46px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Role</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">role.csv</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">The CSV 
		 file contains following data:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Unique 
			 Id </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Name</p></li>
		</ul></td>
		
	</tr>
	<tr style="height: 35px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">User 
		 to Roles</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">usertoroles.csv</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">The CSV 
		 file contains following data:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Role Unique 
			 Id</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Account 
			 Unique Id</p></li>
		</ul></td>
		
	</tr>
	<tr style="height: 40px;">
		<td style="border-right: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">User 
		 to Applications</p></td>
		<td style="border-right: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">usertoapplications.csv</p></td>
		<td colspan="2" style="vertical-align: top; background-color: Transparent;">
  <p 
			 class="TableText">The CSV file contains following data:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Account 
			 Unique Id</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">App Unique 
			 Id</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">App Name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">App Login 
			 Id</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Is Personal</p></li>
		</ul></td>
		
	</tr>
</table>
<h3><a name="Supported_Operations" id="Supported_Operations" style="position: relative;"></a>Supported 
 Operations</h3>
<p>Following table lists the operations that are supported in the OOTB 
 OneLogin Connector. </p>
<table class="navigationhyperlink" style="border: Solid 1px #000000; left: 0px; 
		 top: 761px;" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr style="height: 31px;">
		<td colspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;" bgcolor="#003A6B">
  <p class="list" style="margin-top: 5pt; 
														 margin-bottom: 5pt; 
														 font-weight: bold; 
														 margin-left: 60px; 
														 color: #ffffff; 
														 text-align: center;">User 
		 Operation</p></td>
		
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Create 
		 User</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Disable 
		 or Enable User</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Update 
		 all attributes of User</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Assign 
		 Role to User</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Update 
		 specific attribute</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Remove 
		 Role from User</p></td>
	</tr>
	<tr style="height: 10px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Change 
		 Password</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Lock 
		 User Account</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Add 
		 User to Group</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Set Custom 
		 attribute</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top; background-color: Transparent;">
  <p class="TableText">Remove 
		 User from Group</p></td>
		<td rowspan="2" style="vertical-align: top; background-color: Transparent;">
  <p 
			 class="TableText">Logout User</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; vertical-align: top; 
			 background-color: Transparent;">
  <p class="TableText">Delete 
		 User</p></td>
		
	</tr>
 </table>
 <h3><a name="Operations_Not_Supported" id="Operations_Not_Supported" style="position: relative;"></a>Operations 
 Not Supported</h3>
 <p><span style="font-weight: bold;">Get</span> and <span style="font-weight: bold;">Search</span> 
 operations on resources are not supported. </p>
 <p>You can extend the connector to add any of the missing operations, if 
 required.</p>
 <h3><a name="Connector_Deployment_Dependencies" id="Connector_Deployment_Dependencies" 
		 style="position: relative;"></a>Connector Deployment Dependencies</h3>
 <p>The OOTB OneLogin connector has the following deployment dependencies:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Service 
	 Account with Client ID and Client Secret.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Service 
	 Account must have Manage All API permission to perform CRUD operations.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Internet 
	 access from the machine where SCIM server is running to connect OneLogin.</p></li>
</ul>
<h2><a name="Testing_OOTB_OneLogin_Connector" id="Testing_OOTB_OneLogin_Connector" 
		 style="position: relative;"></a>Testing OOTB OneLogin Connector</h2>
<p>You can test the OOTB OneLogin connector to ensure that the connector 
 works as expected.</p>
<p>You can use the RESTClient to point to the target application and perform 
 the operations that you have configured in the connector. When you use 
 RESTClient to test the connector, the RESTClient hits the specified URL 
 and performs the operation in the target application and returns the response 
 for it.</p>
<p>This topic explains the following:</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Prerequisites" 
	 id="a14" style="position: relative;">Prerequisites</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Preparing_RESTClient_for_Testing_a_Connector" 
	 id="a16" style="position: relative;">Preparing RESTClient for Testing 
 a Connector</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt; position: relative;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Testing_Data_Collection" id="a18" style="position: relative;">Testing 
 Data Collection</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Testing_Operations" 
	 id="a20" style="position: relative;">Testing Operations</a></p>
<h3><a name="Prerequisites" id="Prerequisites" style="position: relative;"></a>Prerequisites</h3>
<p>Prerequisites to test a connector using RESTClient are as follows:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You must 
 have a RESTClient installed on the computer where you have installed the 
 SCIM Server.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The SCIM 
 Server must be running.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You must 
 have deployed the connector that you want to test on the SCIM Server.</p>
<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You 
 must have correct URLs, Headers, and data in JSON format for the operations 
 that you want to test.</p>
<h3><a name="Preparing_RESTClient_for_Testing_a_Connector" id="Preparing_RESTClient_for_Testing_a_Connector" 
		 style="position: relative;"></a>Preparing RESTClient for Testing 
 a Connector</h3>
<p>To test the connectors the following custom headers must be added in 
 the RESTClient.</p>

<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
		 top: 834px;" cellspacing="0" width="100%">
	<col style="width: 26.267%;" />
	<col style="width: 31.835%;" />
	<col style="width: 41.898%;" />
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Request Header 
		 Name</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Request Header 
		 Value</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Header 
		 Description</p></td>
	</tr>
	<tr style="height: 55px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Content-Type</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">application/json</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Header 
		 sends the http json header to the browser to inform what is the 
		 kind of data that is expected.</p></td>
	</tr>
	<tr style="height: 53px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Authorization</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">You must specify <span style="font-weight: bold;">Client 
		 Name </span>and<span style="font-weight: bold;"> Client Secret 
		 </span>as <span style="font-weight: bold;">Basic Authorization</span>.</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Header 
		 validates the <span style="font-weight: bold;">Client Name </span>and<span 
		 style="font-weight: bold;"> Client Secret </span>for API calls.</p></td>
	</tr>
 </table>

 <h4 class="list">Defining Basic Authorization</h4>
 <p>To add Basic Authorization in Firefox RESTClient, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Open RestClient 
 in Firefox browser.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Basic</span> <span style="font-weight: bold;">Authentication</span>.<br />
The Basic Authentication subwindow opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 <span style="font-weight: bold;"><a href="Client_Management.htm#Add_Client" 
									 id="a91" style="position: relative;">Secret 
 Id</a></span> in <span style="font-weight: bold;">Username</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 <span style="font-weight: bold;"><a href="Client_Management.htm#Add_Client" 
									 id="a121" style="position: relative;">Secret 
 Key</a></span> in <span style="font-weight: bold;">Password</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Okay</span>.</p>
 <h3><a name="Testing_Data_Collection" id="Testing_Data_Collection" style="position: relative;"></a>Testing 
 Data Collection</h3>

 <table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
		 top: 834px;" cellspacing="0" width="100%">
	<col style="width: 16.743%;" />
	<col style="width: 61.694%;" />
	<col style="width: 21.563%;" />
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Request Method</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">URL</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
		 Status Code</p></td>
	</tr>
	<tr style="height: 55px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">POST</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-style: italic;">http://{IP Address 
		 of computer on which SCIM Server is running:SCIM Server Port}/scim/v2/{ConnectorName}/collect<br />
		</p>
		<p class="TableText" style="font-style: italic;"><span style="font-weight: bold;">Example</span>: 
		 http://localhost:9090/scim/v2/onelogin/collect</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">200 
		 and gives the Response ID</p></td>
	</tr>
	<tr style="height: 55px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">GET</p></td>
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText" 
														 style="font-style: italic;">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{ConnectorName}/collect/{requestID}</p>
		<p class="TableText" style="font-style: italic;">http://localhost:9090/scim/v2/onelogin/collect/d33da040-cddd-4af0-ac02-8857a6f0557c</p></td>
		<td>
  <p class="TableText">200</p></td>
	</tr>
 </table>

 <h4>Viewing the Data Collected from OneLogin</h4>
 <p>Data collected for different resources from OneLogin is saved in <span 
	 style="font-weight: bold;">upload</span> folder in <span style="font-weight: bold;">SCIM</span> 
 <span style="font-weight: bold;">Server</span> folder.</p>
 <p>Open the CSV files to view the details of data collected from OneLogin.</p>
 <h3><a name="Testing_Operations" id="Testing_Operations" style="position: relative;"></a>Testing 
 Operations</h3>
 <p>When you test different operations configured in OneLogin &#160;connector, 
 you can view the newly created resources and the updates made for resource 
 attributes by connecting to OneLogin application.</p>
 <ul style="list-style: disc;">
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a11" style="position: relative;">Create User</a></h3>
	<div class="droptext" id="POPUP431193635" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">POST</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}<br />
				<span style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/onelogin/oneloginusers</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;name&quot;: {</p>
				<p class="TableText">&quot;givenName&quot;: &quot;Chris&quot;,</p>
				<p class="TableText">&quot;familyName&quot;: &quot;Thomas&quot;</p>
				<p class="TableText">},</p>
				<p class="TableText">&quot;emails&quot;: {</p>
				<p class="TableText">&quot;value&quot;: &quot;chris.thomas@tuebora1.com&quot;</p>
				<p class="TableText">},</p>
				<p class="TableText">&quot;userName&quot;: &quot;chris.thomas&quot;,</p>
				<p class="TableText">&quot;title&quot;: &quot;UI Developer&quot;,</p>
				<p class="TableText">&quot;phoneNumbers&quot;: {</p>
				<p class="TableText">&quot;value&quot;: &quot;9963408180&quot;</p>
				<p class="TableText">},</p>
				<p class="TableText">&quot;status&quot;: 1,</p>
				<p class="TableText">&quot;organization&quot;: &quot;Tuebora&quot;,</p>
				<p class="TableText">&quot;department&quot;: &quot;Engineering&quot;,</p>
				<p class="TableText">&quot;directoryId&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;distinguishedName&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;externalId&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;locale&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;managerADId&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;memberOf&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;openidName&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;samaccountname&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;userPrincipleName&quot;: &quot;&quot;</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">201</p></td>
			</tr>
		</table>
		
		</div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a12" style="position: relative;">Update all attributes of User</a></h3>
	<div class="droptext" id="POPUP431200984" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PUT</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}</p>
				<p class="TableText" style="font-style: italic;"><br />
				<span style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/onelogin/oneloginusers/34295729</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;name&quot;: {</p>
				<p class="TableText">&quot;givenName&quot;: &quot;Chris&quot;,</p>
				<p class="TableText">&quot;familyName&quot;: &quot;Thomas&quot;</p>
				<p class="TableText">},</p>
				<p class="TableText">&quot;emails&quot;: {</p>
				<p class="TableText">&quot;value&quot;: &quot;chris.thomas@tuebora1.com&quot;</p>
				<p class="TableText">},</p>
				<p class="TableText">&#160;</p>
				<p class="TableText">&quot;title&quot;: &quot;UI Developer 
				 Updated&quot;,</p>
				<p class="TableText">&quot;phoneNumbers&quot;: {</p>
				<p class="TableText">&quot;value&quot;: &quot;9963408180&quot;</p>
				<p class="TableText">},</p>
				<p class="TableText">&quot;status&quot;: 1,</p>
				<p class="TableText">&quot;organization&quot;: &quot;Tuebora&quot;,</p>
				<p class="TableText">&quot;department&quot;: &quot;Engineering 
				 Updated&quot;,</p>
				<p class="TableText">&quot;directoryId&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;distinguishedName&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;externalId&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;locale&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;managerADId&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;memberOf&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;openidName&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;samaccountname&quot;: &quot;&quot;,</p>
				<p class="TableText">&quot;userPrincipleName&quot;: &quot;&quot;</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		</div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a15" style="position: relative;">Change Password</a></h3>
	<div class="droptext" id="POPUP431208566" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}</p>
				<p class="TableText" style="font-style: italic;"><br />
				<span style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/onelogin/oneloginusers/3429572</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&#160;&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p class="TableText">&#160;&quot;Operations&quot;: [{</p>
				<p class="TableText">&#160;&#160;&quot;op&quot;: &quot;replace&quot;,</p>
				<p class="TableText">&#160;&#160;&quot;path&quot;: &quot;password&quot;,</p>
				<p class="TableText">&#160;&#160;&quot;value&quot;: [{</p>
				<p class="TableText">&#160;&#160;&#160;&#160;&quot;value&quot;:&quot;Access!@34&quot;</p>
				<p class="TableText">&#160;&#160;}]</p>
				<p class="TableText">&#160;}]</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		</div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a21" style="position: relative;">Disable or Enable User</a></h3>
	<div class="droptext" id="POPUP431228526" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}</p>
				<p class="TableText" style="font-style: italic;"><br />
				<span style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/onelogin/oneloginusers/34295729</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&#160;&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p class="TableText">&#160;&quot;Operations&quot;: [{</p>
				<p class="TableText">&#160;&#160;&quot;op&quot;: &quot;replace&quot;,</p>
				<p class="TableText">&#160;&#160;&quot;path&quot;: &quot;status&quot;,</p>
				<p class="TableText">&#160;&#160;&quot;value&quot;: [{</p>
				<p class="TableText">&#160;&#160;&#160;&#160;&quot;value&quot;:11</p>
				<p class="TableText">&#160;&#160;}]</p>
				<p class="TableText">&#160;}]</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		<p>&#160;</p>
 </div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a22" style="position: relative;">Assign Role to User</a></h3>
	<div class="droptext" id="POPUP431231292" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}</p>
				<p class="TableText" style="font-style: italic;"><br />
				<span style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/onelogin/oneloginusers/34295333</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&#160;&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p class="TableText">&#160;&quot;Operations&quot;: [{</p>
				<p class="TableText">&#160;&#160;&quot;op&quot;: &quot;add&quot;,</p>
				<p class="TableText">&#160;&#160;&quot;path&quot;: &quot;roles&quot;,</p>
				<p class="TableText">&#160;&#160;&quot;value&quot;: [{</p>
				<p class="TableText">&#160;&#160;&#160;&#160;&quot;value&quot;:1234</p>
				<p class="TableText">&#160;&#160;}]</p>
				<p class="TableText">&#160;}]</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		</div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a24" style="position: relative;">Lock User Account</a></h3>
	<div class="droptext" id="POPUP431216204" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}</p>
				<p class="TableText" style="font-style: italic;"><br />
				<span style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/onelogin/oneloginusers/34247510</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p class="TableText">&quot;Operations&quot;: [{</p>
				<p class="TableText">&quot;op&quot;: &quot;replace&quot;,</p>
				<p class="TableText">&quot;path&quot;: &quot;lockUntil&quot;,</p>
				<p class="TableText">&quot;value&quot;: [{</p>
				<p class="TableText">&quot;value&quot;: 30</p>
				<p class="TableText">}]</p>
				<p class="TableText">}</p>
				<p class="TableText">]</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		</div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a25" style="position: relative;">Set Custom attribute</a></h3>
	<div class="droptext" id="POPUP431235035" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}</p>
				<p class="TableText" style="font-style: italic;"><br />
				<span style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/onelogin/oneloginusers/34295729</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&#160;&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p class="TableText">&#160;&quot;Operations&quot;: [{</p>
				<p class="TableText">&#160;&#160;&quot;op&quot;: &quot;custom&quot;,</p>
				<p class="TableText">&#160;&#160;&quot;path&quot;: &quot;Set 
				 Custom Attributes&quot;,</p>
				<p class="TableText">&#160;&#160;&quot;value&quot;: [{</p>
				<p class="TableText">&#160;&#160;&#160;&#160;&quot;name&quot;:&quot;test&quot;,</p>
				<p class="TableText">&#160;&#160;&#160;&#160;&quot;value&quot;:&quot;&quot;</p>
				<p class="TableText">&#160;&#160;}]</p>
				<p class="TableText">&#160;}]</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		<p>&#160;</p>
		<table class="Note" cellspacing="0px" width="100%">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p class="TableText"><span style="font-weight: bold;">Note</span>: 
				 The value specified for <span style="font-weight: bold;">path</span> 
				 attribute must be the <span style="font-weight: bold;">custom 
				 operation</span> <span style="font-weight: bold;">name</span> 
				 specified in the connector.</p></td>
			</tr>
		</table>
 </div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a26" style="position: relative;">Logout User</a></h3>
	<div class="droptext" id="POPUP431233621" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<col style="width: 25%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Sample 
				 Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}</p>
				<p class="TableText" style="font-style: italic;"><br />
				<span style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/onelogin/oneloginusers/3429572</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">{</p>
				<p class="TableText">&#160;&quot;schemas&quot;: [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
				<p class="TableText">&#160;&quot;Operations&quot;: [{</p>
				<p class="TableText">&#160;&#160;&quot;op&quot;: &quot;custom&quot;,</p>
				<p class="TableText">&#160;&#160;&quot;path&quot;: &quot;Logout 
				 User&quot;,</p>
				<p class="TableText">&#160;&#160;&quot;value&quot;: [{</p>
				<p class="TableText">&#160;&#160;</p>
				<p class="TableText">&#160;&#160;}]</p>
				<p class="TableText">&#160;}]</p>
				<p class="TableText">}</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">200</p></td>
			</tr>
		</table>
		
		<p>&#160;</p>
		<table class="Note" cellspacing="0px" width="100%">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p class="TableText"><span style="font-weight: bold;">Note</span>: 
				 The value specified for <span style="font-weight: bold;">path</span> 
				 attribute must be the <span style="font-weight: bold;">custom 
				 operation</span> <span style="font-weight: bold;">name</span> 
				 specified in the connector.</p></td>
			</tr>
		</table>
 </div></li>
	<li>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt; position: relative;"><a class="dropspot" href="javascript:TextPopup(this)" id="a27" style="position: relative;">Delete User</a></h3>
	<div class="droptext" id="POPUP431240695" style="display: none;">
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 834px;" cellspacing="0" width="100%">
			<col style="width: 15.773%;" />
			<col style="width: 72.589%;" />
			<col style="width: 11.638%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Request 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">URL</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Success 
				 Status Code</p></td>
			</tr>
			<tr style="height: 55px;">
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText">PATCH</p></td>
				<td style="border-right: Solid 1px #000000; vertical-align: top;">
    <p 
					 class="TableText" style="font-style: italic;">http://{IP 
				 Address of computer on which SCIM Server is running:SCIM 
				 Server Port}/scim/v2/{ConnectorName}/{Resource Name}/{Id}</p>
				<p class="TableText" style="font-style: italic;"><br />
				<span style="font-weight: bold;">Example</span>:http://localhost:9090/scim/v2/onelogin/oneloginusers/34247510</p></td>
				<td style="vertical-align: top;">
    <p class="TableText">204</p></td>
			</tr>
		</table>
		
		</div></li>
</ul>
<table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Connector_for_AS400.htm" id="a19" style="color: #008000; 
			 position: relative;">Connector for AS400</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Connector_for_Salesforce.htm" id="a23" style="color: #008000; 
		 position: relative;">Connector for Salesforce</a></p></td>
	</tr>
 </table>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	if( typeof( TextPopupInit ) != 'function' ) TextPopupInit = new Function();
	TextPopupInit('a11','POPUP431193635');
	TextPopupInit('a12','POPUP431200984');
	TextPopupInit('a15','POPUP431208566');
	TextPopupInit('a21','POPUP431228526');
	TextPopupInit('a22','POPUP431231292');
	TextPopupInit('a24','POPUP431216204');
	TextPopupInit('a25','POPUP431235035');
	TextPopupInit('a26','POPUP431233621');
	TextPopupInit('a27','POPUP431240695');
	InitEffects('Testing_Operations','');
	InitEffects('a91','');
	InitEffects('a8','');
	InitEffects('a9','');
	InitEffects('Testing_Data_Collection','');
	InitEffects('a20','');
	InitEffects('Testing_OOTB_OneLogin_Connector','');
	InitEffects('Connector_Deployment_Dependencies','');
	InitEffects('a21','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('Pagination_Strategy','');
	InitEffects('OOTB_OneLogin_Connector_Details','');
	InitEffects('a22','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a23','');
	InitEffects('Operations_Not_Supported','');
	InitEffects('OneLogin_Integration_Mode','');
	InitEffects('a24','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a11','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a2','');
	InitEffects('a25','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('OneLogin_Access_Model','');
	InitEffects('a10','');
	InitEffects('a3','');
	InitEffects('a26','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a121','');
	InitEffects('a13','');
	InitEffects('a27','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a12','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a1','');
	InitEffects('a15','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('Data_Collection','');
	InitEffects('a6','');
	InitEffects('Preparing_RESTClient_for_Testing_a_Connector','');
	InitEffects('Prerequisites','');
	InitEffects('a14','');
	InitEffects('a7','');
	InitEffects('Authentication_Details','');
	InitEffects('a4','');
	InitEffects('a17','');
	InitEffects('a16','');
	InitEffects('a5','');
	InitEffects('a19','');
	InitEffects('a18','');
	InitEffects('Supported_Operations','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
