
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Deployed Connectors</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "3.0_3";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="488">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Client_Management.htm" 
												 id="a1" style="color: #008000; 
												 position: relative;">Client 
		 Management</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Activity_History.htm" id="a2" style="color: #008000; position: relative;">Activity 
		 History</a></p></td>
	</tr>
 </table>
 <h1>Deployed Connectors</h1>
 <p>You can use the <span style="font-weight: bold;">Deployed</span> <span 
	 style="font-weight: bold;">Connectors</span> page to deploy new connectors 
 on SCIM Server and manage the connectors that are already deployed on 
 the SCIM Server.</p>
 <h4 class="list" style="font-size: 10pt;"><span><span><span style="font-size: 10pt;">Navigation</span></span></span></h4>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">You can access the <span style="font-weight: bold;">Deployed 
		 Connectors &#160;</span>page by selecting the <span style="font-weight: bold;">Deployed 
		 Connectors</span> tab available on the portal UI.</p></td>
	</tr>
 </table>
 <p>There are three actions available to manage connectors. They are:</p>
 <ul style="list-style: disc;">
	<li>
 <h4 style="margin-top: 4pt; margin-bottom: 4pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a5" style="position: relative;">Deploy a Connector</a></h4>
	<div class="droptext" id="POPUP622593509" style="display: none;">
		<p>The deployment of connector on SCIM Server changes based on 
		 whether the connector will be used with:</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Tuebora 
		 IAM Solution OR</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
		 href="#Deploying_Connector_When_Developed_for_Third-party_IAM" 
		 id="a13" style="position: relative;">Third-party IAM or ITSM or 
		 GRC Solution</a> </p>
		<h4>Prerequisites</h4>
		<p>Prerequisites to deploy connector on SCIM Server are as follows:</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You 
		 must have downloaded the SCIM Server from the Tuebora SCIM Designer 
		 Portal and have setup the server for connector deployment.</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You 
		 must have developed and downloaded the Connector.</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Tuebora 
		 SCIM Server must be running.</p>
		<h4><a name="Deploying_Connector_When_Developed_for_Using_with_Third" 
				 id="Deploying_Connector_When_Developed_for_Using_with_Third" 
				 style="position: relative;"></a>Deploying Connector When 
		 Developed for Using with Third-party IAM/ITSM/GRC</h4>
		<table class="Example" style="margin-left: 12px;" cellspacing="0" 
				 width="100%">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p class="TableText" style="font-weight: bold;">Example</p>
				<p class="TableText" style="font-weight: normal;">Xanadufinancials 
				 wants to deploy <span style="font-weight: bold;">AWS </span><span 
				 style="font-weight: bold;">Connector</span> on SCIM Server 
				 which is installed as stand-alone server to be used with 
				 SailPoint IAM.</p></td>
			</tr>
		</table>
		<p>To deploy the connector on SCIM Server, perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log 
		 in to SCIM Server UI.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span>.<br />
		The <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span> 
		 page appears.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Deploy</span> <span style="font-weight: bold;">Connector</span>. 
		 <br />
		The <span style="font-weight: bold;">Deploy</span> <span style="font-weight: bold;">Connector</span> 
		 subwindow opens.<br />
		<br />
		<img src="Images/DeployConnector.png" alt="" style=" border:none; width:100%; max-width:463px;" border="0" /></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Browse</span> to select the connector 
		 zip file downloaded from the Tuebora SCIM Designer Portal.<br />
		<br />
		Browse to the location where the connector zip file is available, 
		 select the file, and click <span style="font-weight: bold;">Open</span>. 
		 <br />
		<br />
		Name of the connector file selected for deployment is displayed 
		 next to the <span style="font-weight: bold;">Browse</span> button.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Deploy</span> <span style="font-weight: bold;">Connector</span>. 
		 <br />
		<br />
		Portal displays a message that the connector is deployed successfully 
		 on the SCIM Server.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Ok</span> to close the subwindow.</p>
 </div></li>
	<li>
 <h4 style="margin-top: 4pt; margin-bottom: 4pt;"><a class="dropspot" href="javascript:TextPopup(this)" id="a6" style="position: relative;">Edit Connection Properties</a></h4>
	<div class="droptext" id="POPUP622624327" style="display: none;">
		<p>You can use the <span style="font-weight: bold;">Edit Connection 
		 Properties</span> option to update the connection details specified 
		 for a connector. For example, Xanadufinancials has deployed connector 
		 to integrate AS400. The password of the AS400 service account 
		 is changed and wants to update new password in the connector connection 
		 properties. SCIM Server Portal administrator can use the <span 
		 style="font-weight: bold;">Edit Connection Properties</span> option 
		 to update the details.</p>
		<p>Properties displayed in Edit Connection Properties vary based 
		 on the connection type defined for the Connector.</p>
		<h2>Updating Connection Properties for LDAP Connectors</h2>
		<p>To update the connection properties, perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log 
		 in to SCIM Server UI.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span>.<br />
		The <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span> 
		 page appears.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 the connector for which the connection properties must be updated 
		 from left panel on the page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 Settings (<img src="Images/Icon_Settings.png" alt="" style=" border:none; width:100%; max-width:21px;" border="0" />) icon and select <span style="font-weight: bold;">Edit 
		 Connection Properties</span>.<br />
		The <span style="font-weight: bold;">Edit Connection properties 
		 - &lt;Connector Name&gt;</span> subwindow opens.<br />
		<br />
		<img src="Images/ConnectionProperties_LDAP_Connectors.png" alt="" style=" border:none; width:100%; max-width:1074px;" border="0" /></p>
		<p class="list" style="text-indent: -20px; 
													 margin-left: 50px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the connection details based on the type of LDAP connector you 
		 have selected for updating connection details.<br />
		<br />
		Following table provides the information about the connection properties 
		 that must be updated.</p>
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 147px;" cellspacing="0" width="100%">
			<col style="width: 22.135%;" />
			<col style="width: 77.865%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Type of 
				 LDAP Application</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Specify 
				 Connection Properties</p></td>
			</tr>
			<tr style="height: 54px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText"><a name="LDAP__Active_Directory_" 
											 id="a61" style="position: relative;"></a>LDAP 
				 (Active Directory)</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Is SSL Enabled</span> - Select 
				 <span style="font-weight: bold;">Yes</span> or <span style="font-weight: bold;">No</span>, 
				 depending on the SSL configuration done for Active Directory 
				 application in your organization.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Primary Server</span> - &#160;Type 
				 the<span style="font-weight: bold;"> IP Address</span> 
				 or the <span style="font-weight: bold;">Computer</span> 
				 <span style="font-weight: bold;">Name</span> where the 
				 Active Directory's primary server is hosted.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Primary Server Port</span> 
				 - Type the port number of the Active Directory's primary 
				 server in the <span style="font-weight: bold;">Port</span> 
				 field, depending on the SSL configuration done in your 
				 organization.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">636</span> - for SSL environment</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">389</span> - for non-SSL environment</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Failover Server</span> - Type 
				 the<span style="font-weight: bold;"> IP Address</span> 
				 or the <span style="font-weight: bold;">Computer</span> 
				 <span style="font-weight: bold;">Name</span> where the 
				 Active Directory's failover server is hosted.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Failover Server Port</span> 
				 - Type the port number of the Active Directory's failover 
				 server in the <span style="font-weight: bold;">Port</span> 
				 field, depending on the SSL configuration done in your 
				 organization.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Username</span> - Type the 
				 distinguished name of the service account to connect to 
				 the system where the Active Directory is hosted.<br />
				<span style="font-weight: bold;">Example</span>: CN=ServiceAccount,CN=User,DC=xanadufinancials,DC=com</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Password</span> - Type the 
				 password of the service account specified in Username 
				 field to connect to the system where the Active Directory 
				 is hosted.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Base Distinguished Name</span> 
				 - Type the distinguished name of the Domain or the Organizational 
				 Unit (OU) &#160;from which you want to collect data or 
				 perform provisioning and deprovisioning operations.<br />
				<br />
				<span style="font-weight: bold;">Example</span>: <br />
				<br />
				<span style="font-weight: bold;">DC=xanadufinancials,DC=com</span> 
				 (Specify value in this format if you want to collect data 
				 or perform provisioning and deprovisioning operations 
				 for the domain or multiple OU in the domain.<br />
				<br />
				<span style="font-weight: bold;">OU=Finance,DC=xanadufinancials,DC=com</span> 
				 (Specify value in this format if you want to collect data 
				 or perform provisioning and deprovisioning operations 
				 for particular OU in the domain)</p></td>
			</tr>
			<tr style="height: 49px;">
				<td style="border-right: Solid 1px #000000;">
    <p class="TableText"><a 
				 name="LDAP__Other_" id="a8" style="position: relative;"></a>LDAP 
				 (Other)</p></td>
				<td>
    <p class="TableText" 
					 style="text-indent: -20px; margin-left: 36px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Is SSL Enabled</span> - Select 
				 <span style="font-weight: bold;">Yes</span> or <span style="font-weight: bold;">No</span>, 
				 depending on the SSL configuration done for the LDAP application 
				 in your organization.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Primary Server</span> - &#160;Type 
				 the<span style="font-weight: bold;"> IP Address</span> 
				 or the <span style="font-weight: bold;">Computer</span> 
				 <span style="font-weight: bold;">Name</span> where the 
				 LDAP application's primary server is hosted.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Primary Server Port</span> 
				 - Type the port number of the LDAP application's server 
				 in the <span style="font-weight: bold;">Port</span> field, 
				 depending on the SSL configuration done in your organization.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Failover Server</span> - Type 
				 the<span style="font-weight: bold;"> IP Address</span> 
				 or the <span style="font-weight: bold;">Computer</span> 
				 <span style="font-weight: bold;">Name</span> where the 
				 LDAP application's failover server is hosted.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Failover Server Port</span> 
				 - Type the port number of the LDAP application's server 
				 in the <span style="font-weight: bold;">Port</span> field, 
				 depending on the SSL configuration done in your organization.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(vi)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Username</span> - Type the 
				 distinguished name of the service account to connect to 
				 the system where the LDAP application is hosted.<br />
				<span style="font-weight: bold;">Example</span>: CN=ServiceAccount,CN=User,DC=xanadufinancials,DC=com</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(vii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Password</span> - Type the 
				 password of the service account specified in Username 
				 field to connect to the system where the LDAP application 
				 is hosted.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(viii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Base Distinguished Name</span> 
				 - Type the distinguished name of the Domain from which 
				 you want to collect data or perform provisioning and deprovisioning 
				 operations.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(ix)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Distinguished Name Attribute</span> 
				 - Type the name of the attribute that represents the distinguished 
				 name of different objects in the LDAP Application.</p>
				<p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(x)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">Account Name Attribute</span> 
				 - Type the name of the attribute that represents the user 
				 account name in the LDAP application. </p></td>
			</tr>
		</table>
		
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>. 
		 The connection details are updated.</p>
		<h3>Updating Connection Properties for OOTB SCRIPT Connectors</h3>
		<p>The OOTB (Tueboa) SCRIPT Connectors come with OOTB executable 
		 scripts and parameters and data collection XMLs. These scripts 
		 are available in <span style="font-weight: bold;">scripts</span> 
		 folder in <span style="font-weight: bold;">SCIM</span> <span style="font-weight: bold;">Server</span> 
		 folder. You must specify the location where the Powershell executable 
		 script and the data collection XML are located in the Working 
		 Directory field in Connection Properties.</p>
		<p>To update the connection properties, perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log 
		 in to SCIM Server UI.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span>.<br />
		The <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span> 
		 page appears.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 the connector for which the connection properties must be updated 
		 from left panel on the page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 Settings (<img src="Images/Icon_Settings.png" alt="" style=" border:none; width:100%; max-width:21px;" border="0" />) icon and select <span style="font-weight: bold;">Edit 
		 Connection Properties</span>.<br />
		The <span style="font-weight: bold;">Edit Connection properties 
		 - &lt;Connector Name&gt;</span> subwindow opens.<br />
		<br />
		<img src="Images/ConnectionProperties_Script.png" alt="" style=" border:none; width:100%; max-width:1059px;" border="0" /></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the path of the directory where the OOTB<span style="font-weight: bold;"> 
		 </span>scripts are<span style="font-weight: bold;"> </span>located 
		 in the <span style="font-weight: bold;">Working</span> <span style="font-weight: bold;">Directory</span> 
		 field.<br />
		The scripts are available in <span style="font-weight: bold;">{SCIM 
		 Server Directory} &gt; tuebora connectors &gt; scripts </span>folder.<span 
		 style="font-weight: bold;"><br />
		</span><br />
		Example: <span style="font-weight: bold;">C:\scimserver\tueboraconnectors\scripts</span></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the operating system on which the server is installed in the <span 
		 style="font-weight: bold;">Operating</span> <span style="font-weight: bold;">System</span> 
		 field.<br />
		Example: <span style="font-weight: bold;">Windows</span></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
		 service account name to connect to the computer where the shared 
		 folders exist in the <span style="font-weight: bold;">Username</span> 
		 field.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
		 password for the corresponding service account to connect to the 
		 computer in the <span style="font-weight: bold;">Password</span> 
		 field.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the required wait time in <span style="font-weight: bold;">Execution 
		 Timeout in Mins </span>field. <br />
		While collecting data from an Application, SCIM Server waits for 
		 the response from that application based on the value specified 
		 in <span style="font-weight: bold;">Execution Timeout in Mins 
		 </span>field. If SCIM Server does not get the response/could not 
		 collect the data with in the minutes specified in this field, 
		 then data import fails.<br />
		<br />
		The default value set for this field is 5 Minutes.<br />
		<br />
		In your deployment environment, if you want the SCIM Server to 
		 wait for more number of minutes for response from target application, 
		 then specify the required value in the <span style="font-weight: bold;">Execution 
		 Timeout in Mins </span>field.<span style="font-weight: bold;"> 
		 </span></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
		 the<span style="font-weight: bold;"> </span>Computer's full name 
		 from which the shared files must be collected in the <span style="font-weight: bold;">computerName</span> 
		 field.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>. 
		 The connection details are updated.</p>
		<h3>Updating Connection Properties for REST Connector</h3>
		<p>Tuebora SCIM Server supports to<span style="font-weight: bold;"> 
		 API Token/Key</span> and <span style="font-weight: bold;">OAuth</span> 
		 for authenticating applications integrated using Rest Connectors.</p>
		<p>To update the connection properties, perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log 
		 in to SCIM Server UI.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span>.<br />
		The <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span> 
		 page appears.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 the connector for which the connection properties must be updated 
		 from left panel on the page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 Settings (<img src="Images/Icon_Settings.png" alt="" style=" border:none; width:100%; max-width:21px;" border="0" />) icon and select <span style="font-weight: bold;">Edit 
		 Connection Properties</span>.<br />
		The <span style="font-weight: bold;">Edit Connection properties 
		 - &lt;Connector Name&gt;</span> subwindow opens.<br />
		<br />
		<img src="Images/ConnectionProperties_REST_Connector.png" alt="" style=" border:none; width:100%; max-width:698px;" border="0" /></p>
		<p class="list" style="margin-left: 50px; 
													 text-indent: -20px; 
													 margin-top: 4pt; margin-bottom: 4pt;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 the appropriate content type accepted by the application in the 
		 <span style="font-weight: bold;">Accept</span> field.<br />
		The options available are:</p>
		<p 
			 class="list" style="margin-left: 100px; text-indent: -20px; 
			 margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>application/json</p>
		<p 
			 class="list" style="margin-left: 100px; text-indent: -20px; 
			 margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>application/xml</p>
		<p 
			 class="list" style="margin-left: 100px; margin-top: 4pt; margin-bottom: 4pt; 
			 text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>text/plain</p>
		<p class="list" style="
margin-top:4pt;
margin-bottom:4pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 the method used for authenticating the application supported API 
		 in the <span style="font-weight: bold;">How do you Authenticate 
		 with the API</span> field, from the drop-down list.<br />
		<br />
		Following table lists the options available and the details to 
		 be provided for the option selected.</p>
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 147px;" cellspacing="0" width="100%">
			<col style="width: 20.262%;" />
			<col style="width: 79.738%;" />
			<tr style="height: 23px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Authentication 
				 Method</p></td>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Details 
				 to be provided</p></td>
			</tr>
			<tr style="height: 69px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText">API Key</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <ul style="list-style: disc;">
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">Authorization</span> - 
					 &#160;Specify the API Token or the Key generated for 
					 the application integration.<br />
					<br />
					<span style="font-weight: bold;">Example</span>: The 
					 API token generated to integrate Okta is - SSWS &#160;00pDxQCiGF5tvXxzvibUkPAWEMCGsmBEiTa56U0QUq</p></li>
				</ul></td>
			</tr>
			<tr style="height: 56px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText">Client Credentials Grant OAuth</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <ul style="list-style: disc;">
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">Token URL</span> - Specify 
					 the Application's Authentication endpoint URL.<br />
					<br />
					<span style="font-weight: bold;">Example</span>: https://login.microsoftonline.com/&lt;Azure 
					 AD Tenant ID&gt;/oauth2/token</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">Client ID</span> - Specify 
					 the Client ID (Application ID) of the application 
					 that is created on the target application.</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">Client Secret</span> - 
					 Specify the Client Secret (Application Secret). </p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">Resource URL</span> - Specify 
					 the name of the resource that you like to access<br />
					<br />
					<span style="font-weight: bold;">Example</span>:<span 
					 style="font-weight: bold;"> </span>https://graph.microsoft.com 
					 </p></li>
				</ul></td>
			</tr>
			<tr style="height: 110px;">
				<td style="border-right: Solid 1px #000000;">
    <p class="TableText">Resource 
				 Owner Credentials Grants OAuth</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <ul style="list-style: disc;">
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">Token URL</span> - Specify 
					 the Application's Authentication endpoint URL.<br />
					<br />
					<span style="font-weight: bold;">Example</span>: https://login.microsoftonline.com/&lt;Azure 
					 AD Tenant ID&gt;/oauth2/token</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">Client ID</span> - Specify 
					 the Client ID (Application ID) of the application 
					 that is created on the target application.</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">Client Secret</span> - 
					 Specify the Client Secret (Application Secret). </p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">Resource URL</span> - Specify 
					 the name of the resource that you like to access<br />
					<br />
					<span style="font-weight: bold;">Example</span>:<span 
					 style="font-weight: bold;"> </span>https://graph.microsoft.com 
					 </p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">Name</span> - Specify full 
					 username of the user, including the domain.<br />
					<br />
					<span style="font-weight: bold;">Example</span>: adam@gray.onmicrosoft.com</p></li>
					<li style="margin-left: -20px;">
     <p class="TableText"><span 
					 style="font-weight: bold;">Password</span><span style="font-weight: normal;"> 
					 - Specify user's password.</span></p></li>
				</ul></td>
			</tr>
		</table>
		
		<p class="list" style="margin-top: 4pt; margin-bottom: 4pt;">&#160;</p>
		<p class="list" style="margin-left: 50px; 
													 margin-top: 5pt; margin-bottom: 5pt; 
													 text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the pagination method supported by the application in the <span 
		 style="font-weight: bold;">Pagination</span> <span style="font-weight: bold;">Types</span> 
		 field.<br />
		<br />
		Following table lists the options available and the details to 
		 be provided for the option selected.</p>
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 147px;" cellspacing="0" width="100%">
			<col style="width: 26.834%;" />
			<col style="width: 73.166%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Pagination 
				 Type</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Specify 
				 Value for Pagination</p></td>
			</tr>
			<tr style="height: 30px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText">Link in Response Header</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <p class="TableText"><span 
				 style="font-weight: bold;">Header Value</span> - Type 
				 the paging option in this field.<br />
				<br />
				<span style="font-weight: bold;">Example</span>: &quot;next&quot;</p></td>
			</tr>
			<tr style="height: 49px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText">Token in Response Body</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <p class="TableText"><span 
				 style="font-weight: bold;">Token JSON Expression</span> 
				 - Type the JSON Expression for the Token.</p>
				<p class="TableText"><span style="font-weight: bold;">Token 
				 Query Parameter Name</span> - Type the token query parameter 
				 name in this field.</p></td>
			</tr>
			<tr style="height: 5px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText">URL in Response Body</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <p class="TableText"><span 
				 style="font-weight: bold;">Next Page URL JSON Expression</span> 
				 - Type the JSON expression for the Next Page URL.<br />
				<br />
				<span style="font-weight: bold;">Example</span>: @odata.nextLink, 
				 </p></td>
			</tr>
			<tr style="height: 5px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText">Start Index in Response Body</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <p class="TableText">- 
				 <span style="font-weight: bold;">Start Index JSON Expression</span> 
				 - Type the JSON Expression to get the first item returned 
				 in the Response.</p>
				<p class="TableText">- <span style="font-weight: bold;">Maximum 
				 Result Count JSON Expression</span> - Type the JSON Expression 
				 to get the maximum number of items retuned per page</p>
				<p class="TableText">- <span style="font-weight: bold;">Total 
				 Result Count JSON Expression</span> - &#160;Type the JSON 
				 Expression to get the total number of items contained 
				 in all pages.</p>
				<p class="TableText">- <span style="font-weight: bold;">Start 
				 Index Query Parameter Name</span> - Type the query parameter 
				 to identify the first item returned in the subsequent 
				 calls after considering the last item returned in the 
				 previous call.</p>
				<p class="TableText">- <span style="font-weight: bold;">Maximum 
				 Result Query Parameter Name</span> - Type the query parameter 
				 to get the maximum number of items retuned in subsequent 
				 calls.</p>
				<p class="TableText">- <span style="font-weight: bold;">Maximum 
				 # of Record to return</span> - By default 10 is displayed. 
				 Application's each API endpoints may have a different 
				 limit for the number of items returned. Consider these 
				 limitations and specify the maximum number of records 
				 to be returned per page in the response.</p></td>
			</tr>
			<tr style="height: 5px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText" style="font-weight: normal;">Page 
				 Number in Request Body</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <p class="TableText">- 
				 <span style="font-weight: bold;">Result Data Field Name</span>: 
				 Type the name of field in the JSON array which contains 
				 the response data.<span style="font-weight: bold;"> &#160;</span></p>
				<p class="TableText">- <span style="font-weight: bold;">Page 
				 Number Post Parameter Name: </span>Type the name of the 
				 field in the <span style="font-weight: bold;">request 
				 JSON array</span> which contains the page number. </p>
				<p class="TableText">- <span style="font-weight: bold;">Maximum 
				 Result Post Parameter Name</span>: Type the name of field 
				 in the request JSON array which is used to specify the 
				 maximum number of results to be returned in the response. 
				 <span style="font-weight: bold;">&#160;&#160;</span>&#160;</p>
				<p class="TableText">- <span style="font-weight: bold;">Maximum 
				 # of Records to Return: </span>By default 10 is displayed. 
				 Application's each API endpoints may have a different 
				 limit for the number of items returned. Consider these 
				 limitations and specify the maximum number of records 
				 to be returned per page in the response.</p></td>
			</tr>
			<tr style="height: 5px;">
				<td style="border-right: Solid 1px #000000;">
    <p class="TableText" 
					 style="font-weight: normal;">SCIM Specification Pagination</p></td>
				<td>
    <p class="TableText">- <span style="font-weight: bold;">Start 
				 Index Field Name: </span>Type the name of the field in 
				 the JSON response which identifies the first item from 
				 where the data is returned.</p>
				<p class="TableText">- <span style="font-weight: bold;">Start 
				 Index Query Parameter Name:</span> Type the query parameter 
				 to identify the first item to be returned.</p>
				<p class="TableText">-<span style="font-weight: bold;"> 
				 # of Items Per Page Field Name: </span>Type the name of 
				 the field in the <span style="font-weight: bold;">JSON 
				 response </span>which contains the number of items returned 
				 in the response. </p>
				<p class="TableText">- <span style="font-weight: bold;">Maximum 
				 Result Query Parameter Name:</span> Type the query parameter 
				 to get the maximum number of items returned in subsequent 
				 calls.</p>
				<p class="TableText">- <span style="font-weight: bold;">Result 
				 Data Field Name: </span>Type the name of field in the 
				 JSON array which contains the response data.<span style="font-weight: bold;"> 
				 &#160;</span></p>
				<p class="TableText">- <span style="font-weight: bold;">Maximum 
				 # of Records to Return:</span> By default 10 is displayed. 
				 Application's each API endpoints may have a different 
				 limit for the number of items returned. Consider these 
				 limitations and specify the maximum number of records 
				 to be returned per page in the response.</p></td>
			</tr>
		</table>
		
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>. 
		 The connection details are updated.</p>
		<h3>Updating Connection Properties for DATABASE Connector</h3>
		<p>To update the connection properties for a Database Connector, 
		 perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log 
		 in to SCIM Server UI.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span>.<br />
		The <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span> 
		 page appears.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 the connector for which the connection properties must be updated 
		 from left panel on the page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 Settings (<img src="Images/Icon_Settings.png" alt="" style=" border:none; width:100%; max-width:21px;" border="0" />) icon and select <span style="font-weight: bold;">Edit 
		 Connection Properties</span>.<br />
		The <span style="font-weight: bold;">Edit Connection properties 
		 - &lt;Connector Name&gt;</span> subwindow opens.<br />
		<br />
		<img src="Images/ConnectionProperties_Database_Connector.png" alt="" style=" border:none; width:100%; max-width:1072px;" border="0" /></p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="text-indent: -20px;">Specify the URL to connect to the 
		 database.<br />
		<br />
		Following table lists the details to be provided different database 
		 connectors URL</span></p>
		
		<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
				 top: 147px;" cellspacing="0" width="100%">
			<col style="width: 21.815%;" />
			<col style="width: 78.185%;" />
			<tr style="height: 38px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#003A6B">
    <p class="TableText" style="color: #ffffff; 
											 font-weight: bold;">Type of 
				 Database</p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
    <p 
					 class="TableText" style="color: #ffffff; font-weight: bold;">Specify 
				 Connection Properties</p></td>
			</tr>
			<tr style="height: 54px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText"><a name="AS400" id="AS400" style="position: relative;"></a>JDBC 
				 (AS400)</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px; 
					 margin-top: 3pt; margin-bottom: 3pt;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">URL</span> 
				 - Specify the <span style="font-weight: bold;">URL</span> 
				 to connect to the database of the application to collect 
				 data and provision or deprovision. <br />
				The format - <span style="font-style: italic; font-weight: bold;">jdbc:as400://&lt;HOST&gt;/&lt;DB&gt;;naming=system;date 
				 format=USA</span> in which the URL must be specified is 
				 displayed in the field.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;Host&gt;</span>: 
				 Specify the IP Address of the computer on which the application 
				 Database is installed.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;DB&gt;</span>: 
				 Specify the application database name.</p></td>
			</tr>
			<tr style="height: 49px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText"><a name="JDBC__DB2" id="JDBC__DB2" 
											 style="position: relative;"></a>JDBC 
				 (DB2)</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">URL</span> - Specify the <span 
				 style="font-weight: bold;">URL</span> to connect to the 
				 database of the application to collect data and provision 
				 or deprovision. <br />
				The format - <span style="font-weight: bold; font-style: italic;">jdbc:db2://&lt;host&gt;[:&lt;port&gt;]/&lt;database_name&gt;</span> 
				 in which the URL must be specified is displayed in the 
				 field.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;host&gt;</span>: 
				 Specify the IP Address of the computer on which the application 
				 Database is installed.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;port&gt;</span>: 
				 Specify the port number to connect to the system, where 
				 the application Database is installed.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;databaase_name&gt;</span>: 
				 Specify the application database name.</p></td>
			</tr>
			<tr style="height: 49px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText"><a name="JDBC__MySQL" id="JDBC__MySQL" 
											 style="position: relative;"></a>JDBC 
				 (MySQL)</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">URL</span> - Specify the <span 
				 style="font-weight: bold;">URL</span> to connect to the 
				 database of the application to collect data and provision 
				 or deprovision. <br />
				The format - <span style="font-weight: bold; font-style: italic;">jdbc:mysql://&lt;HOST&gt;:&lt;PORT&gt;/&lt;DB&gt;</span> 
				 in which the URL must be specified is displayed in the 
				 field.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;HOST&gt;</span>: 
				 Specify the IP Address of the computer on which the application 
				 Database is installed.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;PORT&gt;</span>: 
				 Specify the port number to connect to the system, where 
				 the application Database is installed.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;DB&gt;</span>: 
				 Specify the application database name.</p></td>
			</tr>
			<tr style="height: 51px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText"><a name="JDBC_Oracle" id="JDBC_Oracle" 
											 style="position: relative;"></a>JDBC 
				 (Oracle)</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">URL</span> - Specify the <span 
				 style="font-weight: bold;">URL</span> to connect to the 
				 database of the application to collect data and provision 
				 or deprovision. <br />
				The format - <span style="font-weight: bold; font-style: italic;">jdbc:oracle:thin:@&lt;HOST&gt;:&lt;PORT&gt;:&lt;SID&gt;</span> 
				 in which the URL must be specified is displayed in the 
				 field.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;HOST&gt;</span>: 
				 Specify the IP Address of the computer on which the Database 
				 instance is installed.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;PORT&gt;</span>: 
				 Specify the port number to connect to the system, where 
				 <span>the database instance installed.</span></p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;SID&gt;</span>: 
				 Specify the unique name of the database instance running 
				 on the computer.</p></td>
			</tr>
			<tr style="height: 54px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText" style="font-weight: normal;"><a 
				 name="JDBC__Postgres" id="JDBC__Postgres" style="position: relative;"></a>JDBC 
				 (Postgres)</p></td>
				<td style="border-bottom: Solid 1px #000000;">
    <p 
					 class="TableText" style="text-indent: -20px; margin-left: 36px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">URL</span> - Specify the <span 
				 style="font-weight: bold;">URL</span> to connect to the 
				 database of the application to collect data and provision 
				 or deprovision. <br />
				The format - <span style="font-weight: bold; font-style: italic;">jdbc:postgresql://&lt;HOST&gt;:&lt;PORT&gt;/&lt;DB&gt;</span> 
				 in which the URL must be specified is displayed in the 
				 field.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;HOST&gt;</span>: 
				 Specify the IP Address of the computer on which the Database 
				 instance is installed.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;PORT&gt;</span>: 
				 Specify the port number to connect to the system, where 
				 <span>the database instance installed.</span></p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&lt;DB&gt;<span 
				 style="font-weight: normal;">: Specify the application 
				 database name.</span></p></td>
			</tr>
			<tr style="height: 49px;">
				<td style="border-right: Solid 1px #000000;">
    <p class="TableText"><a 
				 name="JDBC_Sql_Server" id="JDBC_Sql_Server" style="position: relative;"></a>JDBC 
				 (SQL Server)<br />
				</p></td>
				<td>
    <p class="TableText" 
					 style="text-indent: -20px; margin-left: 36px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
				 style="font-weight: bold;">URL</span> - Specify the <span 
				 style="font-weight: bold;">URL</span> to connect to the 
				 database of the application to collect data and provision 
				 or deprovision. <br />
				The format - <span style="font-weight: bold; font-style: italic;">jdbc:microsoft:sqlserver://&lt;HOST&gt;:&lt;PORT&gt;[;DatabaseName=&lt;DB&gt;]</span> 
				 in which the URL must be specified is displayed in the 
				 field.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;HOST&gt;</span>: 
				 Specify the IP Address of the computer on which the Database 
				 instance is installed.</p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&lt;PORT&gt;</span>: 
				 Specify the port number to connect to the system, where 
				 <span>the database instance installed.</span></p>
				<p 
					 style="text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt; 
					 margin-left: 72px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&lt;DB&gt;<span 
				 style="font-weight: normal;">: Specify the application 
				 database name.</span></p></td>
			</tr>
		</table>
		
		<p class="list" style="margin-left: 50px; 
													 margin-top: 5pt; margin-bottom: 5pt; 
													 text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Specify the </span>user name to connect 
		 to the database in the <span style="font-weight: bold;">Username</span> 
		 field.</p>
		<p class="list" style="margin-left: 50px; 
													 margin-top: 5pt; margin-bottom: 5pt; 
													 text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
		 the password of the user in the <span style="font-weight: bold;">Password</span> 
		 field.</p>
		<p class="list" style="margin-left: 50px; 
													 margin-top: 5pt; margin-bottom: 5pt; 
													 text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="text-indent: -20px;">Click </span><span style="text-indent: -20px; 
														 font-weight: bold;">Save</span><span 
		 style="text-indent: -20px;"> </span><span style="text-indent: -20px; 
													 font-weight: bold;">changes</span><span 
		 style="text-indent: -20px;">. The connection details are updated.</span></p>
 </div></li>
	<li>
 <h4 style="margin-top: 4pt; margin-bottom: 4pt; position: relative;"><a class="dropspot" href="javascript:TextPopup(this)" id="a7" style="position: relative;">Delete a Deployed Connector</a></h4>
	<div class="droptext" id="POPUP622610863" style="display: none;">
		<p>If you are no longer using a connector which is deployed on 
		 SCIM Server, you can delete it from the SCIM Server.</p>
		<p>To delete a deployed connector, perform the following:</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log 
		 in to SCIM Server Portal.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span>.<br />
		The <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span> 
		 page appears.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 the connector that you want to delete from left panel on the page.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 Settings (<img src="Images/Icon_Settings.png" alt="" style=" border:none; width:100%; max-width:21px;" border="0" />) icon and select <span style="font-weight: bold;">Delete</span> 
		 <span style="font-weight: bold;">Connector</span>. A subwindow 
		 opens asking for confirmation to delete the connector.</p>
		<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Yes</span>. The connector is 
		 deleted from the list of deployed connectors.</p>
 </div></li>
</ul>
<p>&#160;</p>
<table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Client_Management.htm" 
												 id="a3" style="color: #008000; 
												 position: relative;">Client 
		 Management</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Activity_History.htm" id="a4" style="color: #008000; position: relative;">Activity 
		 History</a></p></td>
	</tr>
 </table>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	if( typeof( TextPopupInit ) != 'function' ) TextPopupInit = new Function();
	TextPopupInit('a5','POPUP622593509');
	TextPopupInit('a6','POPUP622624327');
	TextPopupInit('a7','POPUP622610863');
	InitEffects('a8','');
	InitEffects('JDBC__DB2','');
	InitEffects('JDBC_Sql_Server','');
	InitEffects('JDBC__MySQL','');
	InitEffects('a2','');
	InitEffects('a3','');
	InitEffects('Deploying_Connector_When_Developed_for_Using_with_Third','');
	InitEffects('a13','');
	InitEffects('a1','');
	InitEffects('a6','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a7','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('JDBC_Oracle','');
	InitEffects('a4','');
	InitEffects('AS400','');
	InitEffects('a5','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('JDBC__Postgres','');
	InitEffects('a61','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
