
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Develop LDAP Connector</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1.0_4";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="584">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Develop_Script_Connector.htm" id="a13" style="color: #008000; 
			 position: relative;">Develop Script Connector</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Download_the_Connector.htm" id="a62" style="color: #008000; 
		 position: relative;">Download the Connector</a> 
		 </p></td>
	</tr>
 </table>
 <h1>Develop LDAP Connector</h1>
 <p>Tuebora Connector Design Tool enables you to develop LDAP connectors 
 to integrate applications for data collection or to provision/deprovision.</p>
 <h3>Use Case Scenario</h3>
 <table class="Note" style="border-left-color: #000000; border-right-color: #000000; 
		 border-top-color: #000000; border-bottom-color: #000000;" cellspacing="0px" width="100%" bgcolor="#FFDFDF">
	<col style="width: 100%;" />
	<tr style="height: 141px;">
		<td>
  <p class="TableText">Xanadufinancials wants to integrate Windows 
		 Active Directory with its IAM Solution to manage user accounts 
		 and grant group membership and govern the access granted to users. 
		 </p>
		<p class="TableText">&#160;</p>
		<p class="TableText"><span style="font-weight: bold;">Requirements</span> 
		 to develop a <span style="font-weight: bold;">Connector for Windows 
		 Active Directory </span>are as follows:</p>
		<p 
			 style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; 
			 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Develop a LDAP Connector.</p>
		<p 
			 style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; 
			 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Connector is used for <span style="font-weight: bold;">Data 
		 Collection</span>.</p>
		<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>User 
		 Accounts</p>
		<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Groups 
		 </p>
		<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Group 
		 Memberships</p>
		<p 
			 style="text-indent: -20px; margin-left: 100px; margin-top: 2pt; 
			 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Using the connector Xanadufinancials 
		 want to manage <span style="font-weight: bold;">User Accounts 
		 </span>and<span style="font-weight: bold;"> Groups</span>.</p>
		<table class="navigationhyperlink" style=" left:0px; top:462px; width:100%; max-width:553px;" cellspacing="0px">
			<col style="width: 58.721%;" />
			<col style="width: 41.279%;" />
			<tr style="height: 143px;">
				<td style="vertical-align: top;" bgcolor="#FFDFDF">
    <p class="list" 
					 style="margin-top: 5pt; margin-bottom: 5pt; text-align: center; 
					 font-weight: bold; text-decoration: underline; ">User 
				 Operation</p>
				<p 
					 class="list" style="margin-left: 120px; text-indent: -20px; 
					 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Create User</p>
				<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Update 
				 all attributes of User</p>
				<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Enable 
				 User</p>
				<p 
					 class="list" style="margin-left: 120px; text-indent: -20px; 
					 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Disable User</p>
				<p 
					 class="list" style="margin-left: 120px; text-indent: -20px; 
					 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Unlock Account</p>
				<p 
					 class="list" style="margin-left: 120px; text-indent: -20px; 
					 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Get User ID</p>
				<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Update 
				 specific attribute of User - Password, Employee Number, 
				 Department</p>
				<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Delete 
				 User</p></td>
				<td style="vertical-align: top;" bgcolor="#FFDFDF">
    <p class="list" 
					 style="margin-top: 5pt; margin-bottom: 5pt; text-align: center; 
					 font-weight: bold; text-decoration: underline; ">Group 
				 Operation</p>
				<p 
					 class="list" style="margin-top: 5pt; margin-bottom: 5pt; 
					 margin-left: 48px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Create Group</p>
				<p 
					 class="list" style="margin-top: 5pt; margin-bottom: 5pt; 
					 margin-left: 48px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Update all 
				 attributes of Group Details</p>
				<p 
					 class="list" style="margin-top: 5pt; margin-bottom: 5pt; 
					 margin-left: 48px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Add Members 
				 to Group</p>
				<p 
					 class="list" style="margin-top: 5pt; margin-bottom: 5pt; 
					 margin-left: 48px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="text-indent: -20px;">Remove 
				 Members to Group</span></p>
				<p 
					 class="list" style="margin-top: 5pt; margin-bottom: 5pt; 
					 margin-left: 48px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Delete Group</p></td>
			</tr>
		</table></td>
	</tr>
</table>
<h3>Prerequisites for Developing Script Connectors</h3>
<p class="TableText">Following are the prerequisites for Connector Development:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Decide 
 the type of connection protocol supported and decide the type of connector 
 to be developed. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Decide 
 the <span style="font-weight: bold;">Resources</span> to be managed using 
 the connector. For example, Users, Company, Groups, Roles, Policies, etc.<br />
<span style="font-weight: bold;">Scenario</span> - Xanadufinancials wants 
 to manage Users and Groups in the application.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Based 
 on the Resources decided, you must verify the out-of-the-box (OOTB) resources 
 available in the system. <br />
<span style="font-weight: bold;">Scenario</span> - Check whether the out-of-the-box 
 resources for Users and Groups is available or not.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>If the 
 required <span style="font-weight: bold;">Resource</span> is available 
 in the portal, then check the schema associated with the resource. <span 
	 style="text-indent: -20px;">Verify whether the attributes provided 
 in the schema meets the following requirement:</span></p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The schema 
 contains all the required attributes.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The Meta 
 data specified for the attribute meets the requirements of your application's 
 resource Meta data.<br />
<br />
<span style="font-weight: bold;">Scenario</span> 1 - OOTB User Schema does 
 not contain Four attributes that you want to update for the user resource 
 in the target application. In this scenario, you must extend the schema 
 to add the required attributes. To extend a schema, first add a resource 
 and then create a schema by mapping it with the new resource that you 
 added for extending the schema. <br />
<br />
<span style="font-weight: bold;">Scenario 2</span> - the OOTB user schema 
 contains the attribute firstName but the Meta data for this attribute 
 does not restrict the number of characters. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>If the 
 required <span style="font-weight: bold;">Resource</span> is not available 
 in the portal or the resource schema does not meet your requirements, 
 then create a New Resource and Schema (with the required attributes and 
 Meta data).<br />
<br />
For more information in adding/extending the Schema, see <a href="Schemas_Management.htm" 
															 id="a1" style="position: relative;">Schemas 
 Management</a>.<br />
<br />
For more information on adding/extending the resource, see <a href="Resources_Management.htm" 
	 id="a2" style="position: relative;">Resources Management</a>. </p>
<h2 class="TableText">Developing Connector</h2>
<p>The steps to develop a Database Connector are as follows:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Beginning_New_Connector_Setup" 
	 id="a11" style="position: relative;">Begin New Connector Setup</a></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Step_1:_Specifying_Connector_Connection_Details" 
	 id="a21" style="position: relative;">Specify Connection Details</a></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Step_2:_Specifying_Data_Collection_Details" 
	 id="a3" style="position: relative;">Specify Data Collection Details</a></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Step_3:_Resources_and_Actions" 
	 id="a4" style="position: relative;">Specify Resources and Operations</a></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Step_4:_Verifying_Connector_Configuration_and_Submit_the_Setup" 
	 id="a5" style="position: relative;">Verify Connector design and submit 
 the setup</a></p>
<h3><a name="Beginning_New_Connector_Setup" id="Beginning_New_Connector_Setup" 
		 style="position: relative;"></a>Beginning New Connector Setup</h3>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log in 
 to Tuebora SCIM Designer Portal - <a href="https://scim.tuebora.com" target="_blank" 
										 id="a7" style="font-weight: normal; 
										 position: relative;">https://scim.tuebora.com</a> 
 using your portal account credentials.<br />
<br />
If you are logging in to the portal for the first time or there are no 
 connector drafts or the completed connectors, then the <span style="font-weight: bold;">Welcome 
 to Tuebora SCIM Connector Design Tool</span> page appears.<br />
<br />
If you have connector Drafts, then <span style="font-weight: bold;">Drafts</span> 
 page appears.<br />
<br />
If you don't have drafts and have only completed connectors then <span 
	 style="font-weight: bold;">My</span> <span style="font-weight: bold;">Connectors</span> 
 (My Connectors &gt; Completed) page appears.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To develop 
 LDAP connector, </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>From 
 <span style="font-weight: bold;">Welcome to Tuebora SCIM Connector Design 
 Tool</span> page, click <span style="font-weight: bold;">Begin New Connector 
 Setup</span>.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>From 
 <span style="font-weight: bold;">Drafts</span> page, click <span style="font-weight: bold;">My 
 Connectors &gt; New</span>. </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>From 
 <span style="font-weight: bold;">My Connectors </span>page, click <span 
	 style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Connector</span>.<br />
<br />
The <span style="font-weight: bold;">SCIM Connector Wizard</span> appears.</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 To configure a Connector, you must define either <span style="font-weight: bold;">Data 
		 Collection</span> or <span style="font-weight: bold;">Operations 
		 </span>details. </p></td>
	</tr>
 </table>
 <h3><a name="Step_1:_Specifying_Connector_Connection_Details" id="Step_1:_Specifying_Connector_Connection_Details" 
		 style="position: relative;"></a>Step 1: Specifying Connector Connection 
 Details</h3>
 <p>SCIM Connector Wizard to specify Connector Connection details appears.<br />
<br />
<span style="color: #ff0000;"><img src="Images/Connector_ConnectionDetails.png" alt="" style=" border:none; width:100%; max-width:997px;" border="0" /></span></p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 name of the application for which the connector is being developed in 
 <span style="font-weight: bold;">Application</span> field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:38.601%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 CorporateActiveDirectory</p></td>
	</tr>
 </table>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">&#160;</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The application name should start with alphabetic character.</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the applicable connection method to connect to the application to collect 
 data or provision/deprovision, in the <span style="font-weight: bold;">How 
 will you connect to this Application</span> field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:38.601%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 LDAP (Active Directory)</p></td>
	</tr>
 </table>
 <p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 64px;">The 
 available options are as follows:</p>
 <p style="
margin-top:5pt;
margin-bottom:5pt;
position:relative; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#LDAP__Active_Directory_" 
	 id="a9" style="position: relative;">LDAP (Active Directory)</a> - 
 Use this option to develop connector for Active Directory application.</p>
 <p style="
margin-top:5pt;
margin-bottom:5pt;
position:relative; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#LDAP__Other_" 
	 id="a15" style="position: relative;">LDAP (Other)</a> - Use this option 
 to develop connector for any LDAP application.</p>

 <table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
		 top: 147px;" cellspacing="0" width="100%">
	<col style="width: 21.815%;" />
	<col style="width: 78.185%;" />
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Type of LDAP Application</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Specify 
		 Connection Properties</p></td>
	</tr>
	<tr style="height: 54px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a name="LDAP__Active_Directory_" id="a6" 
									 style="position: relative;"></a>LDAP 
		 (Active Directory)</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" style="text-indent: -20px; 
										 margin-left: 36px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Is 
		 SSL Enabled</span> - Select <span style="font-weight: bold;">Yes</span> 
		 or <span style="font-weight: bold;">No</span>, depending on the 
		 SSL configuration done for Active Directory application in your 
		 organization.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Primary Server</span> - &#160;Type 
		 the<span style="font-weight: bold;"> IP Address</span> or the 
		 <span style="font-weight: bold;">Computer</span> <span style="font-weight: bold;">Name</span> 
		 where the Active Directory's primary server is hosted.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Primary Server Port</span> - Type the 
		 port number of the Active Directory's primary server in the <span 
		 style="font-weight: bold;">Port</span> field, depending on the 
		 SSL configuration done in your organization.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">636</span> - for SSL environment</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 72px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">389</span> - for non-SSL environment</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Failover Server</span> - Type the<span 
		 style="font-weight: bold;"> IP Address</span> or the <span style="font-weight: bold;">Computer</span> 
		 <span style="font-weight: bold;">Name</span> where the Active 
		 Directory's failover server is hosted.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Failover Server Port</span> - Type 
		 the port number of the Active Directory's failover server in the 
		 <span style="font-weight: bold;">Port</span> field, depending 
		 on the SSL configuration done in your organization.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Username</span> - Type the distinguished 
		 name of the service account to connect to the system where the 
		 Active Directory is hosted.<br />
		<span style="font-weight: bold;">Example</span>: CN=ServiceAccount,CN=User,DC=xanadufinancials,DC=com</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Password</span> - Type the password 
		 of the service account specified in Username field to connect 
		 to the system where the Active Directory is hosted.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Base Distinguished Name</span> - Type 
		 the distinguished name of the Domain or the Organizational Unit 
		 (OU) &#160;from which you want to collect data or perform provisioning 
		 and deprovisioning operations.<br />
		<br />
		<span style="font-weight: bold;">Example</span>: <br />
		<br />
		<span style="font-weight: bold;">DC=xanadufinancials,DC=com</span> 
		 (Specify value in this format if you want to collect data or perform 
		 provisioning and deprovisioning operations for the domain or multiple 
		 OU in the domain.<br />
		<br />
		<span style="font-weight: bold;">OU=Finance,DC=xanadufinancials,DC=com</span> 
		 (Specify value in this format if you want to collect data or perform 
		 provisioning and deprovisioning operations for particular OU in 
		 the domain)</p></td>
	</tr>
	<tr style="height: 49px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText"><a 
		 name="LDAP__Other_" id="a8" style="position: relative;"></a>LDAP 
		 (Other)</p></td>
		<td>
  <p class="TableText" 
														 style="text-indent: -20px; 
														 margin-left: 36px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Is SSL Enabled</span> - Select <span 
		 style="font-weight: bold;">Yes</span> or <span style="font-weight: bold;">No</span>, 
		 depending on the SSL configuration done for the LDAP application 
		 in your organization.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Primary Server</span> - &#160;Type 
		 the<span style="font-weight: bold;"> IP Address</span> or the 
		 <span style="font-weight: bold;">Computer</span> <span style="font-weight: bold;">Name</span> 
		 where the LDAP application's primary server is hosted.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Primary Server Port</span> - Type the 
		 port number of the LDAP application's server in the <span style="font-weight: bold;">Port</span> 
		 field, depending on the SSL configuration done in your organization.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Failover Server</span> - Type the<span 
		 style="font-weight: bold;"> IP Address</span> or the <span style="font-weight: bold;">Computer</span> 
		 <span style="font-weight: bold;">Name</span> where the LDAP application's 
		 failover server is hosted.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Failover Server Port</span> - Type 
		 the port number of the LDAP application's server in the <span 
		 style="font-weight: bold;">Port</span> field, depending on the 
		 SSL configuration done in your organization.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(vi)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Username</span> - Type the distinguished 
		 name of the service account to connect to the system where the 
		 LDAP application is hosted.<br />
		<span style="font-weight: bold;">Example</span>: CN=ServiceAccount,CN=User,DC=xanadufinancials,DC=com</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(vii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Password</span> - Type the password 
		 of the service account specified in Username field to connect 
		 to the system where the LDAP application is hosted.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(viii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Base Distinguished Name</span> - Type 
		 the distinguished name of the Domain from which you want to collect 
		 data or perform provisioning and deprovisioning operations.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(ix)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Distinguished Name Attribute</span> 
		 - Type the name of the attribute that represents the distinguished 
		 name of different objects in the LDAP Application.</p>
		<p 
			 class="TableText" style="text-indent: -20px; margin-left: 36px;">(x)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Account Name Attribute</span> - Type 
		 the name of the attribute that represents the user account name 
		 in the LDAP application. </p></td>
	</tr>
 </table>

 <p class="list" style="margin-left: 43px;">Following figure shows an example 
 connection parameters defined for LDAP (Active Directory) connector.<br />
<br />
<img src="Images/LDAPConnector1.png" alt="" style=" border:none; width:100%; max-width:1103px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span> available at the end of the 
 <span style="font-weight: bold;">Step 1 Connection</span> page.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 When you are working on a new connector, that you have not submitted, 
		 SCIM Portal saves the changes every two minutes and creates it 
		 as a draft. If you get interrupted and close the Connector Development 
		 Wizard, your connector is saved and listed on <span style="font-weight: bold;">Drafts</span> 
		 page. You can resume editing or submit it to complete the connector 
		 development.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Along with auto-save, the portal also provides 
		 the option to save the connector draft manually. To save the connector 
		 draft, click <span style="font-weight: bold;">Save as Draft</span> 
		 button available on the Connector Development Wizard. A draft 
		 is created and you can view the connector draft from <span style="font-weight: bold;"><a 
		 href="My_Connectors_Management.htm#My_Connectors_-_Drafts" id="a22" 
		 style="position: relative;">Drafts</a></span> page.</p></td>
	</tr>
 </table>
 <h3><a name="Step_2:_Specifying_Data_Collection_Details" id="Step_2:_Specifying_Data_Collection_Details" 
		 style="position: relative;"></a>Step 2: Specifying Data Collection 
 Details</h3>
 <p>SCIM Connector Wizard to specify Data Collection details appears. </p>
 <p style="color: #ff0000;"><img src="Images/DataCollection.png" alt="" style=" border:none; width:100%; max-width:1111px;" border="0" /></p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 This step can be optional, if you are not using the Connector 
		 for Data Collection.</p></td>
	</tr>
 </table>
 <p>In the current usecase scenario, Xanadufinancials wants to collect data 
 from LDAP application. Hence, data collection details must be specified. 
 </p>
 <p>To specify data collection details perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Data to be collected</span>. <br />
The <span style="font-weight: bold;">Specify information about data to 
 be collected</span> window opens. <br />
<br />
<img src="Images/DataCollection_LDAP.png" alt="" style=" border:none; width:100%; max-width:700px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 a name for the data being collected using this connector in the <span 
	 style="font-weight: bold;">Specify Name for Data</span> field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Users</p></td>
	</tr>
 </table>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the name of the file to which the data being collected using this connector 
 to be written, in the <span style="font-weight: bold;">Specify Name of 
 the File to which Data will be written into </span>field.<br />
<br />
By default, the name specified for data being collected will be auto-populated 
 in the <span style="font-weight: bold;">Specify Name of the File to which 
 Data will be written into </span>field. If required, you can type the 
 required file name.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 account.csv</p></td>
	</tr>
 </table>
 <p class="list" style="margin-top: 2pt; margin-bottom: 2pt;">&#160;</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 If you are specifying the file name, ensure the file name does 
		 not contain Capital Letters, Special Characters, and Space. The 
		 data file will be saved only in CSV file format.</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 50px; 
											 margin-top: 5pt; margin-bottom: 5pt; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the type of data to be collected in the <span style="font-weight: bold;">Specify 
 data that is being collected</span> section. The options available for 
 data collection are: </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;"><a href="Glossary.htm#Master_Master-details" 
									 id="a1010" style="position: relative;">Master/</a>Master-Detail 
 Data collected by single command</span> - Use this option to collect master 
 and master details data using a single command.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;"><a href="Glossary.htm#Master_Master-details" 
									 id="a610" style="position: relative;">Master-Detail</a> 
 Data collected by iterating through Master data</span> <span style="font-weight: bold;">and 
 invoking other commands </span>- Use this option to collect master details 
 data after specifying the data collection for master.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 When you are defining the first data collection details, only 
		 the <span style="font-weight: bold;">Master/Master-Detail Data 
		 collected by single command</span> option<span style="font-weight: bold;"> 
		 </span>is enabled.<br />
		<br />
		The <span style="font-weight: bold;">Master-Detail Data collected 
		 by iterating through Master data and invoking other commands </span>option 
		 is enabled for selection only when a data collection details is 
		 already specified in the tool.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">For any connector, if you want to collect 
		 both master data and master-details, first specify data collection 
		 for master data and then specify the data collection for master-details 
		 by providing reference of the master data. </p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Master and Master-detail categorization does 
		 not apply to<span style="font-weight: bold;"> LDAP applications</span>. 
		 While creating LDAP connector you can directly write a LDAP query 
		 to get data from any object in the LDAP application.</p></td>
	</tr>
 </table>
 <p style="margin-top: 5pt; margin-bottom: 5pt;"><br />
In the current use case scenario, Xanadufinancials is collecting Master 
 data using LDAP query. Specify the command to be invoked for collecting 
 User data from the LDAP application in the <span style="font-weight: bold;">Master/Master-Detail 
 Data collected by single command</span> field.<br />
</p>
 <table class="Example" style=" margin-left:48px; left:0px; top:6307px; width:100%; max-width:739px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr style="height: 17px;">
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 (&amp;(objectCategory=person)(objectClass=user))</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the <span style="font-weight: bold;">Distinguished Name</span> of the 
 <span style="font-weight: bold;">Domain</span> or the <span style="font-weight: bold;">Organizational</span> 
 <span style="font-weight: bold;">Unit (OU)</span> that must be searched 
 in the LDAP application to collect data, in the <span style="font-weight: bold;">Search 
 Base Distinguished Name</span> field.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>If you 
 want to collect data from the LDAP application Domain then specify the 
 Base Distinguished Name of the Domain.<br />
<span style="font-weight: bold;">Example</span>: DC=xanadufinancials,DC=com</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>If you 
 want to collect data from a specific OU in the Domain then specify the 
 Base Distinguished Name of that OU.<br />
<br />
<span style="font-weight: bold;">Example</span>: OU=Finance,DC=xanadufinancials,DC=com</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>If you 
 want to collect data from multiple OUs in the Domain then specify the 
 Base Distinguished Name of those OUs. Use <span style="font-weight: bold;">Comma</span> 
 to separate the names. <br />
<br />
<span style="font-weight: bold;">Example</span>: OU=Finance,DC=xanadufinancials,DC=com,OU=Human 
 Resources,DC=xanadufinancials,DC=com</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>In <span 
	 style="font-weight: bold;">Attributes to Return</span> field specify 
 the attributes of the object that must be returned in the CSV file created 
 for data collection.<br />
If you are collecting user account data, then you may want to collect values 
 for different attributes, such as First Name, Last Name, Location, Department, 
 Email Address and many more. You can specify the attributes that you want 
 to collect for the object in the Attributes to Return field.<br />
<br />
In this field, you can specify multiple attributes of an object (Entity). 
 Use <span style="font-weight: bold;">Comma</span> to separate the attribute 
 names.<br />
<br />
<span style="font-weight: bold;">Example</span>: givenName,sn,employeeID,mail,sAMAccountName,whenCreated</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The attribute names that you mentioned in the <span style="font-weight: bold;">Attributes 
		 to Return</span> field must be identical as the attribute names 
		 found on the LDAP application.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>In <span 
	 style="font-weight: bold;">Search</span> <span style="font-weight: bold;">Scope</span> 
 field specify the scope for searching the object (Entity) data in the 
 specified Distinguished Name. The options available for defining the search 
 scope are:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Base Distinguished Name</span> - Select 
 this option if you want the system to search the Base Distinguished Name 
 and its immediate subordinates for data collection. &#160;</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Immediate subordinates of Base Distinguished 
 Name excluding Base Distinguished Name</span> - Select this option if 
 you want the system to search only the immediate subordinates of the Distinguished 
 Name and exclude the Base Distinguished Name for data collection.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All Subordinates of Base Distinguished 
 Name excluding Base Distinguished Name</span> - Select this option if 
 you want the system to search all subordinates of the Distinguished Name 
 by excluding the Base Distinguished Name for data collection.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All Subordinates of Base Distinguished 
 Name excluding Base Distinguished Name</span> - &#160;Select this option 
 if you want the system to search all subordinates of the Distinguished 
 Name and also the Base Distinguished Name for data collection.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-style: italic;">(Optional)</span> In <span style="font-weight: bold;">What 
 are the headers in the file to which data will be returned </span>field 
 specify the header names and the corresponding values to be returned in 
 the CSV file created for data collection.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">File Header Name</span> - Specify the Name 
 of the Header of the column. <br />
<span style="font-weight: bold;">Example</span>: First Name</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">File Header Value</span> - Specify what 
 value to be returned in the column. <br />
<span style="font-weight: bold;">Example</span>: $.givenName<br />
<br />
While specifying the attribute prefix <span style="font-weight: bold;">$.</span> 
 to the attribute for which value that must be collected in the column.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Specifying Header Names for LDAP Connector is <span style="font-weight: bold;">Optional</span>. 
		 LDAP connectors collect data based on the attributes defined in 
		 <span style="font-weight: bold;">Attributes to Return</span> filed. 
		 </p>
		<p class="TableText"><br />
		If you want Custom Headers in CSV file, ensure that you specify 
		 the Custom Header Name for all attributes for which data must 
		 be retuned in the CSV file. If you specify custom headers only 
		 for few attributes then the connector collects data only for the 
		 attributes for which custom header is defined and skips other 
		 attributes for which custom headers are not found.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">For example, If want to collect value for 
		 ten attributes then you must specify custom header for all ten 
		 attributes. If custom header is defined for five attributes, then 
		 connector collects data only for 5 attributes for which custom 
		 headers are defined and skips the other five attributes for which 
		 the headers are not found.</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 43px;"><img src="Images/Completed_userdatacollection.png" alt="" style=" border:none; width:100%; max-width:845px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Data to be Collected</span>. <br />
The subwindow closes and the details of the data to be collected is displayed 
 on the <span style="font-weight: bold;">Data Collection</span> page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 the <span style="font-weight: bold;">step 1</span> to <span style="font-weight: bold;">Step 
 6</span> to add details to collect data of other resources.</p>
 <h4>Editing or Deleting the Data Collection Configuration</h4>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-style: italic;">(Optional)</span> Click <img src="Images/Icon_Edit.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" /> 
 (Edit icon) corresponding to the information that you want to edit in 
 the <span style="font-weight: bold;">Data</span> <span style="font-weight: bold;">Collection</span> 
 page.<br />
The <span style="font-weight: bold;">Specify information about data to 
 be collected</span> window opens.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Make the 
 required updates.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-style: italic;">(Optional)</span> Click <img src="Images/Icon_Delete.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" /> 
 (Delete icon) corresponding to the information that you want to delete 
 in the <span style="font-weight: bold;">Data</span> <span style="font-weight: bold;">Collection</span> 
 page.</p>
 <h4>Moving to Next Step</h4>
 <p>After configuring data collection, click <span style="font-weight: bold;">Next</span> 
 available at the end of the <span style="font-weight: bold;">Step 2 Data 
 Collection</span> page.</p>
 <h3><a name="Step_3:_Resources_and_Actions" id="a12" style="position: relative;"></a>Step 
 3: Resources and Operations</h3>
 <p>SCIM Connector Wizard to specify Resources and Operations appears.<br />
<br />
<img src="Images/ResourcesAndActions.png" alt="" style=" border:none; width:100%; max-width:1153px;" border="0" /></p>
 <h3>Add Create Resource (User) Operation</h3>
 <p>To add an create user account operation for a connector, perform the 
 following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Operation</span>.<br />
The <span style="font-weight: bold;">Add Operation</span> subwindow opens.<br />
<br />
<img src="Images/LDAPOperation1.png" alt="" style=" border:none; width:100%; max-width:810px;" border="0" /></p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the resource from the drop-down list available in the <span style="font-weight: bold;">On 
 which Resource is this Operation performe</span>d field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 User</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the type of operation from the drop-down list available in the <span style="font-weight: bold;">What 
 is the type of Operation </span>field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Create User</p></td>
	</tr>
 </table>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">&#160;</p>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 43px;">Based 
 on the <span style="font-weight: bold;">Resource</span> selected, the 
 type of operations allowed on the resource is listed in the <span style="font-weight: bold;">What 
 is the type of Operation</span> field. For example, if the resource selected 
 is User, then the tool displays only those operations that are allowed 
 on User.</p>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 43px;"><br />
For more information on the type of operations allowed on different Resources, 
 see <a href="Appendix.htm#Resources_and_Operations" id="a131" style="position: relative;">Resources 
 and Operations</a>.<br />
</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 49px;">
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The operation that you want to add for a resource in the connector 
		 is not available in the <a href="Appendix.htm#Resources_and_Operations" 
									 id="a191" style="position: relative;">out-of-the-box 
		 operations list</a>, then you can add that operation as a <span 
		 style="font-weight: bold;">Custom</span> <span style="font-weight: bold;">Operation</span>.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">To add custom operations, SCIM Designer tool 
		 provides the option - <span style="font-weight: bold;">Custom</span> 
		 <span style="font-weight: bold;">Operation</span> in the list 
		 of operations. To add a custom operation, select the option <span 
		 style="font-weight: bold;">Custom Operation</span> from the drop-down 
		 list. For more information on adding custom operation, see <a 
		 href="#Adding_Custom_Operation" id="a19" style="position: relative;">Adding 
		 Custom Operation</a>.</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the LDAP attributes and values required for the operation in the JSON 
 format in the <span style="font-weight: bold;">Specify LDAP attributes 
 and Values to be set as JSON</span> field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:93.98%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 To create a User Account in Active Directory, the following attributes 
		 are used: </p>
		<p class="TableText" style="margin-top: 3pt; margin-bottom: 3pt;">&#160;</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">[{</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;attribute&quot;: 
		 &quot;distinguishedName&quot;,</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;value&quot;: 
		 &quot;$!distinguishedName&quot;</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">}, 
		 {</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;attribute&quot;: 
		 &quot;givenName&quot;,</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;value&quot;: 
		 &quot;$!firstName&quot;</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">}, 
		 {</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;attribute&quot;: 
		 &quot;sn&quot;,</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;value&quot;: 
		 &quot;$!lastName&quot;</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">}, 
		 {</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;attribute&quot;: 
		 &quot;middleName&quot;,</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;value&quot;: 
		 &quot;$!middleName&quot;</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">}, 
		 {</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;attribute&quot;: 
		 &quot;samAccountName&quot;,</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;value&quot;: 
		 &quot;$!acctName&quot;</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">}, 
		 {</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;attribute&quot;: 
		 &quot;displayName&quot;,</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;value&quot;: 
		 &quot;$!displayName&quot;</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">}, 
		 {</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;attribute&quot;: 
		 &quot;unicodePwd&quot;,</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;value&quot;: 
		 &quot;$!password&quot;</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">},{</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;attribute&quot;: 
		 &quot;objectClass&quot;,</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;value&quot;: 
		 &quot;user&quot;</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">}, 
		 {</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;attribute&quot;: 
		 &quot;mail&quot;,</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;value&quot;: 
		 &quot;$!emailAddress&quot;</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">}, 
		 {</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;attribute&quot;: 
		 &quot;userPrincipalName&quot;,</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;value&quot;: 
		 &quot;$!userPrincipalName&quot;</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">}, 
		 {</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;attribute&quot;: 
		 &quot;manager&quot;,</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 36px;">&quot;value&quot;: 
		 &quot;$!manager&quot;</p>
		<p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">}]</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 43px; margin-top: 5pt; margin-bottom: 5pt;">&#160;</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 While specifying the JSON to perform the operation in the application, 
		 use <span style="font-weight: bold;">Dollar sign ($)</span> and 
		 Exclamation mark (!) for the parameters for which the value must 
		 be updated.<br />
		<br />
		<span style="font-weight: bold;">Exclamation mark</span> is used 
		 to <span style="font-weight: bold;">skip</span> updating the value 
		 for attributes, if the value is null. If you don't specify Exclamation 
		 mark and the value for an attribute is null, then the connector 
		 inserts the parameter specified for value of an attribute as the 
		 value. </p>
		<p class="TableText">For example, for the attribute <span style="font-weight: bold;">Middle 
		 Name</span> the value specified is&quot;<span style="font-weight: bold;">$middleName</span>&quot; 
		 (without exclamation mark) and while creating an user in AD, the 
		 connector does not find the value for this attribute then it inserts 
		 <span style="font-weight: bold;">$middleName</span> as the value 
		 for Middle Name for the newly created user in AD.</p></td>
	</tr>
 </table>
 <p class="list"><img src="Images/LDAPOperation2.png" alt="" style=" border:none; width:100%; max-width:819px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the parameters in the JSON that are used to invoke the operation in the 
 target application and map them to corresponding SCIM Schema attribute 
 in <span style="font-weight: bold;">What are the Parameters for this Operation</span> 
 section.</p>
 <p style="
margin-top:4pt;
margin-bottom:4pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Parameters</span> - These are variables 
 prefixed with Dollar sign and Exclamation mark in the JSON used to invoke 
 the operation in the target application.</p>
 <p style="
margin-top:4pt;
margin-bottom:4pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Value for Parameters</span> - SCIM User 
 Schema attributes or valid JSON path expression to extract the value from 
 the incoming request.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Defining parameters for some operations may not be required. Hence 
		 this section is not marked as mandatory. You must specify the 
		 parameters for all operations which need parameters.</p></td>
	</tr>
 </table>
 <p style="margin-left: 64px; margin-top: 3pt; margin-bottom: 3pt;">In the 
 current scenario, for parameters- <span style="font-weight: bold;">distinguishedName, 
 emailAddress, userPrincipalName, and manager </span>JSON path expression 
 is specified as the matching attribute for these attributes is not available 
 in the core schema of User Resource. For other parameters the the SCIM 
 Schema attribute is mapped. <br />
<br />
If you don't find the matching SCIM Schema attribute, specify the appropriate 
 JSON path expression as the value for the parameter.</p>
 <p style="margin-left: 64px; margin-top: 3pt; margin-bottom: 3pt;">&#160;</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:93.98%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 To create users in Active Directory, following Parameters are 
		 specified.</p>
		<p class="TableText">&#160;</p>
		<table class="Note" style=" margin-left:24px; left:0px; top:19px; border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; width:100%; max-width:62.399%;" cellspacing="0px">
			<col />
			<col width="364" />
			<tr>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#8080C0">
    <p class="TableText"><span style="color: #ffffff; 
				 font-weight: bold;">Parameter</span></p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#8080C0">
    <p 
					 class="TableText"><span style="color: #ffffff; font-weight: bold;">SCIM 
				 User Schema Attribute/JSON Expression</span></p></td>
			</tr>
			<tr>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
					 background-color: Transparent;">
    <p class="TableText">distinguishedName</p></td>
				<td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText">$.customProperties.distinguishedName</p></td>
			</tr>
			<tr>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
					 background-color: Transparent;">
    <p class="TableText">firstName</p></td>
				<td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText">$.name.givenName</p></td>
			</tr>
			<tr>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
					 background-color: Transparent;">
    <p class="TableText">lastName</p></td>
				<td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText">$.name.familyName</p></td>
			</tr>
			<tr>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
					 background-color: Transparent;">
    <p class="TableText">middleName</p></td>
				<td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText">$.name.middleName</p></td>
			</tr>
			<tr>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
					 background-color: Transparent;">
    <p class="TableText">acctName</p></td>
				<td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText">$.userName</p></td>
			</tr>
			<tr>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
					 background-color: Transparent;">
    <p class="TableText">displayName</p></td>
				<td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText">$.displayName</p></td>
			</tr>
			<tr>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
					 background-color: Transparent;">
    <p class="TableText">password</p></td>
				<td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText">$.password</p></td>
			</tr>
			<tr>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
					 background-color: Transparent;">
    <p class="TableText">emailAddress</p></td>
				<td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText">$.emails[?(@.type=='work')].value</p></td>
			</tr>
			<tr>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
					 background-color: Transparent;">
    <p class="TableText">userPrincipalName</p></td>
				<td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText">$.customProperties.userPrincipalName</p></td>
			</tr>
			<tr>
				<td style="border-right: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText">manager</p></td>
				<td style="background-color: Transparent;">
    <p class="TableText">$.customProperties.managerId</p></td>
			</tr>
		</table></td>
	</tr>
</table>
<p style="margin-left: 64px;"><span style="text-indent: -20px;">To specify 
 parameters in </span><span style="font-weight: bold;">What are the Parameters 
 for this Operation </span>section<span style="text-indent: -20px;">, perform 
 the following:</span></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 parameter in the <span style="font-weight: bold;">Name of the Parameter</span> 
 field</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the value corresponding to the parameter from the SCIM user schema attributes 
 drop-down list in the <span style="font-weight: bold;">Value for the Parameter</span> 
 field.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_AddParameter.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />. A new row of fields is displayed to 
 specify the parameter.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Repeat 
 <span style="font-weight: bold;">Step a, Step b,</span> and <span style="font-weight: bold;">Step 
 c</span> to specify all parameters required for the operation. </p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px; font-style: italic;">(Optional)</span><span 
	 style="text-indent: -20px;"> Click <img src="Images/icon_cancel.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> 
 to remove the parameter added.</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Mapping</span> 
 for the operation. The Response Mapping section is displayed for <span 
	 style="font-weight: bold;">Create</span> and <span style="font-weight: bold;">Get 
 Specific attribute of a Resource</span> operations.<br />
<br />
When user is created, the response is sent by the SCIM Server in JSON format.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Name of the Attribute</span> - Select the 
 <span style="font-weight: bold;">SCIM schema attribute</span> which matches 
 the unique identifier that must be returned as response from the target 
 application. <br />
<br />
<span style="font-weight: bold;">Example</span>: id</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 For <span style="font-weight: bold;">Create</span> <span style="font-weight: bold;">Operation</span>, 
		 you can map only <span style="font-weight: bold;">One</span> attribute 
		 in the <span style="font-weight: bold;">Response</span> <span 
		 style="font-weight: bold;">mapping</span>.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">When the response mapping is defined, &#160;and 
		 the attribute key name specified is ID then ensure the attribute 
		 key specified is in <span style="font-weight: bold;">lowercase 
		 (id)</span>.</p></td>
	</tr>
 </table>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Value of the Attribute</span> - Specify 
 the value that must be returned for the attribute. The Value is specified 
 as JSON path expression.<br />
<br />
<span style="font-weight: bold;">Example</span>: <span style="font-weight: bold;">$.id</span>.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 If the attribute from which value must be returned contains any 
		 reserved character, like <span style="font-weight: bold;">dot(.), 
		 Square brackets [ ], </span>or<span style="font-weight: bold;"> 
		 colon (:) </span>, then you must specify name of that attribute 
		 with in the <span style="font-weight: bold;">double quotes (&quot; 
		 &quot;)</span> in the JSON Path Expression to escape the reserved 
		 character and to get the value.<br />
		</p>
		<p class="TableText">If you want to fetch the value from the attribute 
		 <span style="font-weight: bold;">.id</span>, then you must define 
		 the JSON Path Expression as <span style="font-weight: bold;">$.&quot;.id&quot;</span> 
		 in the <span style="font-weight: bold;">Value for the Attribute</span> 
		 field in the <span style="font-weight: bold;">Response Mapping</span> 
		 section. </p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Operation</span>. 
 <br />
The subwindow closes and the details of the Resource and the Operation 
 is displayed on the Resources and Operations page.</p>
 <h3><a name="Adding_Custom_Operation" id="Adding_Custom_Operation" style="position: relative;"></a>Adding 
 Custom Operation</h3>
 <p>The operation that you want to add for a resource is not listed in the 
 <a href="Appendix.htm#Resources_and_Operations" id="a91" style="position: relative;">out-of-the-box 
 operations list</a>, then you can add that operation as a <span style="font-weight: bold;">Custom</span> 
 <span style="font-weight: bold;">Operation</span>.<br />
<br />
<span style="font-weight: bold;">Scenario</span>:</p>
 <p>Xanadufinancials wants to add <span style="font-weight: bold;">Unlock 
 Account</span> operation in a Script connector. The integrator has not 
 found the matching operation in the out-of-the-box operations list. &#160;<br />
<br />
In this scenario, integrator can select the operation type - <span style="font-weight: bold;">Custom</span> 
 <span style="font-weight: bold;">Operation</span> and define the operation 
 name and other required details to add the operation for a resource in 
 a connector.</p>
 <p>To add <span style="font-weight: bold;">Unlock Account </span>operation, 
 perform the following: </p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click<span 
	 style="font-weight: bold;"> Add Operation</span> in <span style="font-weight: bold;">Resources 
 and Operations</span> page.<br />
The <span style="font-weight: bold;">Add Operation</span> subwindow opens.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the resource from the drop-down list available in the <span style="font-weight: bold;">On 
 which Resource is this Operation performe</span>d field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 User</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select the type of operation from the drop-down 
 list available in the <span style="font-weight: bold;">What is the type 
 of Operation </span>field.<br />
Based on the <span style="font-weight: bold;">Resource</span> selected, 
 the type of operations allowed on the resource is listed in the <span 
	 style="font-weight: bold;">What is the type of Operation</span> field.</p>
 <table class="Example" style=" left:0px; top:11695px; margin-left:48px; width:100%; max-width:445px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Custom Operation</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 43px;">When you select this option, 
 system displays <span style="font-weight: bold;">Name of the Operation</span> 
 field to specify name for the operation. <br />
<br />
<img src="Images/AddCustomOperation.png" alt="" style=" border:none; width:100%; max-width:655px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a name="CustomOperation_DisableUser" 
	 id="a1241" style="position: relative;"></a>Type a name for the operation 
 in the <span style="font-weight: bold;">Name of the Operation</span> field.</p>
 <table class="Example" style=" left:0px; top:11695px; margin-left:48px; width:100%; max-width:445px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 UnlockAccount</p></td>
	</tr>
 </table>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the command to invoke the operation in the target application in the <span 
	 style="font-weight: bold;">How do you invoke the Operation in the 
 target Application </span>field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:93.98%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 [{&quot;attribute&quot;:&quot;LockOutTime&quot;,&quot;value&quot;:&quot;0&quot;}]</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the parameters in the command used to invoke the operation in the target 
 application, if required and map them to corresponding SCIM Schema attribute 
 in <span style="font-weight: bold;">What are the Parameters for this Operation</span> 
 section.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Operation</span> to save the configuration.<br />
The subwindow closes and the operation added is displayed on the Resources 
 and Operations page.</p>
 <h4>Editing or Deleting the Operation Configuration</h4>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-style: italic;">(Optional)</span> To edit an Operation, 
 move the mouse on the required operation listed in the <span style="font-weight: bold;">Operations</span> 
 column and click <img src="Images/Icon_OperationEdit.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.<br />
The <span style="font-weight: bold;">Edit Operation &lt; Operation Name&gt;</span> 
 opens. </p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Make the 
 required updates.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>. </p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-style: italic;">(Optional) </span>To 
 delete an Operation move the mouse on the required operation listed in 
 the <span style="font-weight: bold;">Operation</span> column and click 
 <img src="Images/Icon_OperationDelete.png" alt="" style=" border:none; width:100%; max-width:15px;" border="0" />.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-style: italic;">(Optional) </span>To 
 delete a Resource and all Operations at once click <img src="Images/Icon_Delete.png" alt="" style=" border:none; width:100%; max-width:23px;" border="0" /> 
 corresponding to the resource.</p>
 <h4>Moving to Next Step</h4>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">After configuring 
 Operations, click <span style="font-weight: bold;">Next</span> available 
 at the end of the <span style="font-weight: bold;">Step 3 Resources and 
 Operations</span> page.</p>
 <h3><a name="Step_4:_Verifying_Connector_Configuration_and_Submit_the_Setup" 
		 id="a16" style="position: relative;"></a>Step 4: Verifying Connector 
 Design and Submit the Setup</h3>
 <p>SCIM Connector Wizard to verify the Connector details appears. </p>
 <p><img src="Images/LDAPOperation3.png" alt="" style=" border:none; width:100%; max-width:700px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Verify 
 the Connector configuration.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To change 
 any setting, click <span style="font-weight: bold;">Previous</span> or 
 the <span style="font-weight: bold;">Steps</span> at the top of the SCIM 
 Connector Wizard &#160;to navigate to the page and make the edits.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Submit</span> after verifying all the 
 settings.<br />
The wizard shows a message that you have successfully developed a SCIM 
 Connector. From this page you can download the Connector that is created, 
 preview the REST APIs created for the connector or add another connector. 
 <br />
<br />
<img src="Images/ConnectorSuccessMessage.png" alt="" style=" border:none; width:100%; max-width:926px;" border="0" /></p>
 <p>For more information on downloading and installing SCIM Server, see 
 SCIM Server Installation.</p>
 <p>For more information on downloading connector from the Tuebora SCIM 
 Designer Portal, see <a href="Download_the_Connector.htm" id="a17" style="position: relative;">Download 
 the Connector</a>.</p>
 <p>For more information on deploying connector on SCIM Server, see <a href="Deployed_Connectors.htm" 
	 id="a10" style="position: relative;">Deploy Connector on SCIM Server</a>.</p>
 <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Develop_Script_Connector.htm" id="a14" style="color: #008000; 
			 position: relative;">Develop Script Connector</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>:<span style="font-weight: bold;"> 
		 </span><span><a href="Download_the_Connector.htm" id="a18" style="color: #008000; 
						 position: relative;">Download the Connector</a></span> 
		 &#160;</p></td>
	</tr>
 </table>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	InitEffects('a91','');
	InitEffects('a1010','');
	InitEffects('a8','');
	InitEffects('a9','');
	InitEffects('a191','');
	InitEffects('a21','');
	InitEffects('a22','');
	InitEffects('Step_1:_Specifying_Connector_Connection_Details','');
	InitEffects('a11','');
	InitEffects('a2','');
	InitEffects('a10','');
	InitEffects('a3','');
	InitEffects('Adding_Custom_Operation','');
	InitEffects('Step_2:_Specifying_Data_Collection_Details','');
	InitEffects('a13','');
	InitEffects('a12','');
	InitEffects('a1','');
	InitEffects('a1241','');
	InitEffects('a6','');
	InitEffects('a15','');
	InitEffects('a14','');
	InitEffects('a7','');
	InitEffects('a17','');
	InitEffects('a131','');
	InitEffects('a610','');
	InitEffects('a4','');
	InitEffects('a16','');
	InitEffects('a5','');
	InitEffects('a19','');
	InitEffects('Beginning_New_Connector_Setup','');
	InitEffects('a18','');
	InitEffects('a62','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
