
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Develop Script Connector</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1.0_3";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="632">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 </span><a href="Develop_HTTP_REST_Connector.htm" 
														 id="a13" style="color: #008000; 
														 position: relative;">Develop 
		 HTTP REST Connector</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span><a href="Develop_LDAP_Connector.htm" 
															 id="a6" style="color: #008000; 
															 position: relative;">Develop 
		 LDAP Connector</a></span> &#160;</p></td>
	</tr>
 </table>
 <h1>Develop Script Connector</h1>
 <p>Script Connectors are developed using Scripts and used to connect with 
 applications supporting connections through proprietary scripts. Some 
 example scripts are .NET, PowerShell, and executable JAR scripts.</p>
 <p>Tuebora Connector Design Tool enables you to develop Script connectors 
 to integrate applications for data collection or to provision/deprovision.</p>
 <h3>Use Case Scenario</h3>
 <table class="Note" style="border-left-color: #000000; border-right-color: #000000; 
		 border-top-color: #000000; border-bottom-color: #000000;" cellspacing="0px" width="100%" bgcolor="#FFDFDF">
	<col style="width: 100%;" />
	<tr style="height: 141px;">
		<td>
  <p class="TableText">Xanadufinancials practices sharing files 
		 and folders on a windows system with others in a network. It has 
		 some working folders, which users can access and view or make 
		 edits, as required. Authorized persons are setting the levels 
		 of Access each user must have to the folders and files.</p>
		<p class="TableText"><br />
		Xanadufinancials wants to integrate Windows File Sharing with its 
		 IAM Solution to govern the access granted to users on the shared 
		 folders.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText"><span style="font-weight: bold;">Requirements</span> 
		 to develop a <span style="font-weight: bold;">Connector for Windows 
		 File Sharing </span>are as follows:</p>
		<p 
			 style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; 
			 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Develop a Powershell Script Connector.</p>
		<p 
			 style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; 
			 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Connector is used for <span style="font-weight: bold;">Data 
		 Collection</span>.</p>
		<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Files</p>
		<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Folders</p>
		<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Resource 
		 (Files/Folders) Permissions</p>
		<p 
			 style="text-indent: -20px; margin-left: 100px; margin-top: 2pt; 
			 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Using the connector Xanadufinancials 
		 want to manage <span style="font-weight: bold;">Folders </span>and<span 
		 style="font-weight: bold;"> Files</span>.</p>
		<table class="navigationhyperlink" style="left: 0px; top: 462px;" cellspacing="0px">
			<col />
			<col />
			<tr style="height: 143px;">
				<td style="vertical-align: top;" bgcolor="#FFDFDF">
    <p class="list" 
					 style="margin-top: 5pt; margin-bottom: 5pt; text-align: center; 
					 font-weight: bold; text-decoration: underline; ">Folder 
				 Operation</p>
				<p 
					 class="list" style="margin-left: 120px; text-indent: -20px; 
					 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Create Folder</p>
				<p 
					 class="list" style="margin-left: 120px; text-indent: -20px; 
					 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Update Folder 
				 Name</p>
				<p 
					 class="list" style="margin-left: 120px; text-indent: -20px; 
					 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Enable Sharing</p>
				<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Grant 
				 Access to Folder</p></td>
				<td style="vertical-align: top;" bgcolor="#FFDFDF">
    <p class="list" 
					 style="margin-top: 5pt; margin-bottom: 5pt; text-align: center; 
					 font-weight: bold; text-decoration: underline; ">File 
				 Operation</p>
				<p 
					 class="list" style="margin-top: 5pt; margin-bottom: 5pt; 
					 margin-left: 48px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Create File</p>
				<p 
					 class="list" style="margin-top: 5pt; margin-bottom: 5pt; 
					 margin-left: 48px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="text-indent: -20px;">Update 
				 File Name</span></p>
				<p 
					 class="list" style="margin-top: 5pt; margin-bottom: 5pt; 
					 margin-left: 48px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Delete File</p></td>
			</tr>
		</table></td>
	</tr>
</table>
<h3>Prerequisites for Developing Script Connectors</h3>
<p>Following are the prerequisites to develop script connectors:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">Following are the prerequisites for Connector Development:</p></li>
</ul>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Decide 
 the type of connection protocol supported and decide the type of connector 
 to be developed. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Decide 
 the <span style="font-weight: bold;">Resources</span> to be managed using 
 the connector. For example, Users, Company, Groups, Roles, Policies, etc.<br />
<span style="font-weight: bold;">Scenario</span> - Xanadufinancials wants 
 to manage Users and Roles in the application.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Based 
 on the Resources decided, you must verify the out-of-the-box (OOTB) resources 
 available in the system. <br />
<span style="font-weight: bold;">Scenario</span> - Check whether the out-of-the-box 
 resources for Users and Roles is available or not.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>If the 
 required <span style="font-weight: bold;">Resource</span> is available 
 in the portal, then check the schema associated with the resource. <span 
	 style="text-indent: -20px;">Verify whether the attributes provided 
 in the schema meets the following requirement:</span></p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The schema 
 contains all the required attributes.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The Meta 
 data specified for the attribute meets the requirements of your application's 
 resource Meta data.<br />
<br />
<span style="font-weight: bold;">Scenario</span> 1 - OOTB User Schema does 
 not contain Four attributes that you want to update for the user resource 
 in the target application. In this scenario, you must extend the schema 
 to add the required attributes. To extend a schema, first add a resource 
 and then create a schema by mapping it with the new resource that you 
 added for extending the schema. <br />
<br />
<span style="font-weight: bold;">Scenario 2</span> - the OOTB user schema 
 contains the attribute firstName but the Meta data for this attribute 
 does not restrict the number of characters. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>If the 
 required <span style="font-weight: bold;">Resource</span> is not available 
 in the portal or the resource schema does not meet your requirements, 
 then create a New Resource and Schema (with the required attributes and 
 Meta data).<br />
<br />
For more information in adding/extending the Schema, see <a href="Schemas_Management.htm" 
															 id="a1" style="position: relative;">Schemas 
 Management</a>.<br />
<br />
For more information on adding/extending the resource, see <a href="Resources_Management.htm" 
	 id="a2" style="position: relative;">Resources Management</a>. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To create 
 a Script connector, you can use the executable script to perform operations 
 in the target application. Before developing connector, develop the executable 
 script. </p>
<h2 class="TableText">Developing Connector</h2>
<p>The steps to develop a Script Connector are as follows:</p>
<p class="list" style="
position:relative; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Beginning_New_Connector_Setup" id="a11" style="position: relative;">Begin 
 New Connector Setup</a></p>
<p class="list" style="
position:relative; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Step_1:_Specifying_Connector_Connection_Details" id="a21" style="position: relative;">Specify 
 Connection Details</a></p>
<p class="list" style="
position:relative; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Step_2:_Specifying_Data_Collection_Details" id="a3" style="position: relative;">Specify 
 Data Collection Details</a></p>
<p class="list" style="
position:relative; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Step_3:_Resources_and_Operations" id="a4" style="position: relative;">Specify 
 Resources and Operations</a></p>
<p class="list" style="
position:relative; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Step_4:_Verifying_Connector_Configuration_and_Submit_the_Setup" 
	 id="a5" style="position: relative;">Verify Connector design and submit 
 the setup</a></p>
<h3><a name="Beginning_New_Connector_Setup" id="Beginning_New_Connector_Setup" 
		 style="position: relative;"></a>Beginning New Connector Setup</h3>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log in 
 to Tuebora SCIM Designer Portal - <a href="https://scim.tuebora.com" target="_blank" 
										 id="a7" style="position: relative;">https://scim.tuebora.com</a> 
 using your portal account credentials.<br />
<br />
If you are logging in to the portal for the first time or there are no 
 connector drafts or the completed connectors, then the <span style="font-weight: bold;">Welcome 
 to Tuebora SCIM Connector Design Tool</span> page appears.<br />
<br />
If you have connector Drafts, then <span style="font-weight: bold;">Drafts</span> 
 page appears.<br />
<br />
If you don't have drafts and have only completed connectors then <span 
	 style="font-weight: bold;">My</span> <span style="font-weight: bold;">Connectors</span> 
 (My Connectors &gt; Completed) page appears.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To develop 
 script connector, </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>From 
 <span style="font-weight: bold;">Welcome to Tuebora SCIM Connector Design 
 Tool</span> page, click <span style="font-weight: bold;">Begin New Connector 
 Setup</span>.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>From 
 <span style="font-weight: bold;">Drafts</span> page, click <span style="font-weight: bold;">My 
 Connectors &gt; New</span>. </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>From 
 <span style="font-weight: bold;">My Connectors </span>page, click <span 
	 style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Connector</span>.</p>
<p class="list" style="margin-left: 83px;">The <span style="font-weight: bold;">SCIM 
 Connector Wizard</span> appears.<br />
</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 To configure a Connector, you must define either the <span style="font-weight: bold;">Data 
		 Collection</span> or <span style="font-weight: bold;">Operations 
		 </span>details. </p></td>
	</tr>
 </table>
 <h3><a name="Step_1:_Specifying_Connector_Connection_Details" id="Step_1:_Specifying_Connector_Connection_Details" 
		 style="position: relative;"></a>Step 1: Specifying Connector Connection 
 Details</h3>
 <p>SCIM Connector Wizard to specify Connector Connection details appears.<br />
<br />
<span style="color: #ff0000;"><img src="Images/Connector_ConnectionDetails.png" alt="" style=" border:none; width:100%; max-width:997px;" border="0" /></span></p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 name of the application for which the connector is being setup in <span 
	 style="font-weight: bold;">Application</span> field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:38.601%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Windows File Sharing</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the applicable connection method to connect to the application to collect 
 data or provision/deprovision, in the <span style="font-weight: bold;">How 
 will you connect to this Application</span> field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:38.601%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Script</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 43px;">In the current scenario, we 
 are developing connector for Windows File Sharing. We are using to Powershell 
 Script to connect to Windows File Sharing.<br />
The fields to provide the connection details appear. Define the following 
 connection details:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Working</span> <span style="font-weight: bold;">Directory</span> 
 - Specify the location where the Powershell executable script and the 
 data collection XML are located.</p>
 <table class="Example" style=" margin-left:96px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>:C:\windows_file_shares</p></td>
	</tr>
 </table>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Operating System</span> - Specify the operating 
 system on which the files are shared.</p>
 <table class="Example" style=" margin-left:96px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Windows</p></td>
	</tr>
 </table>
 <p 
	 class="list" style="margin-left: 100px; text-indent: -20px; margin-top: 5pt; 
	 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click <img src="Images/Icon_AddParameter.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> (Add icon). 
 Text boxes are displayed to specify the parameter and the corresponding 
 value.</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the name of the parameter in the <span style="font-weight: bold;">Name 
 of the Parameter</span> field.</p>
 <table class="Example" style=" margin-top:5pt; margin-bottom:5pt; margin-left:96px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 username</p></td>
	</tr>
 </table>
 <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the value for username Parameter in the <span style="font-weight: bold;">Value 
 of the Parameter</span> field.</p>
 <table class="Example" style=" margin-top:5pt; margin-bottom:5pt; margin-left:96px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 administrator</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_AddParameter.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> (Add icon). Text boxes are displayed 
 to specify the parameter and the corresponding value.</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the name of the parameter in the <span style="font-weight: bold;">Name 
 of the Parameter</span> field.</p>
 <table class="Example" style=" margin-top:5pt; margin-bottom:5pt; margin-left:96px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 password</p></td>
	</tr>
 </table>
 <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the value for password Parameter in the <span style="font-weight: bold;">Value 
 of the Parameter</span> field.</p>
 <table class="Example" style=" margin-top:5pt; margin-bottom:5pt; margin-left:96px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 secret</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_AddParameter.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> (Add icon). Text boxes are displayed 
 to specify the parameter and the corresponding value.</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the name of the parameter in the <span style="font-weight: bold;">Name 
 of the Parameter</span> field.</p>
 <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the value for the Parameter in the <span style="font-weight: bold;">Value 
 of the Parameter</span> field.</p>
 <p class="list" style="margin-left: 83px;">Following figure shows the connection 
 details defined for Windows File Sharing.<br />
<br />
<img src="Images/ConnectionParametersforWindowsFileSharing.png" alt="" style=" border:none; width:100%; max-width:823px;" border="0" /></p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span> available at the end of the 
 <span style="font-weight: bold;">Step 1 Connection</span> page.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 When you are working on a new connector, that you have not submitted, 
		 SCIM Portal saves the changes every two minutes and creates it 
		 as a draft. If you get interrupted and close the Connector development 
		 Wizard, your connector is saved in your <span style="font-weight: bold;">Drafts</span> 
		 page. You can resume editing or submit it to complete connector 
		 development.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Along with auto-save, the portal also provides 
		 the option to save the connector draft manually. To save the connector 
		 draft, click <span style="font-weight: bold;">Save as Draft</span> 
		 button available on the Connector Development Wizard. A draft 
		 is created and you can view the draft of a connector from <span 
		 style="font-weight: bold;">Drafts</span> page.</p></td>
	</tr>
 </table>
 <h3><a name="Step_2:_Specifying_Data_Collection_Details" id="Step_2:_Specifying_Data_Collection_Details" 
		 style="position: relative;"></a>Step 2: Specifying Data Collection 
 Details</h3>
 <p>SCIM Connector Wizard to specify Data Collection details appears. </p>
 <p style="color: #ff0000;"><img src="Images/DataCollection.png" alt="" style=" border:none; width:100%; max-width:1111px;" border="0" /></p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 This step can be optional, if you are not using the Connector 
		 for Data Collection.</p></td>
	</tr>
 </table>
 <p>In the current use case scenario, Xanadufinancials wants to collect 
 data from Windows File Sharing. Hence, data collection details must be 
 specified.</p>
 <p>To specify data collection details perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Data to be collected</span>. <br />
The <span style="font-weight: bold;">Specify information about data to 
 be collected</span> window opens. <br />
<br />
<img src="Images/DataCollection_Script.png" alt="" style=" border:none; width:100%; max-width:863px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 a name for the data collected using this connector in the <span style="font-weight: bold;">Specify 
 Name for Data</span> field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 FileFolders</p></td>
	</tr>
 </table>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the name of the file to which the data collected using this connector 
 to be written in the <span style="font-weight: bold;">Specify Name of 
 the File to which Data will be written into </span>field.<br />
<br />
By default, the name specified for data will be auto-populated in the <span 
	 style="font-weight: bold;">Specify Name of the File to which Data 
 will be written into </span>field. If required, you can type the required 
 file name.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 filefolders.csv</p></td>
	</tr>
 </table>
 <p class="list" style="margin-top: 2pt; margin-bottom: 2pt;">&#160;</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The file name should not contain Capital Letters, Special Characters, 
		 and Space. The data file will be saved only in CSV file format.</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 50px; 
											 margin-top: 5pt; margin-bottom: 5pt; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the type of data to be collected in the <span style="font-weight: bold;">Specify 
 data that is being collected</span> section. The options available for 
 data collection are: </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;"><a href="Glossary.htm#Master_Master-details" 
									 id="a28111" style="position: relative;">Master</a>/Master-Detail 
 Data collected by single command</span> - Use this option to collect master 
 and master details data using a single command.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;"><a href="Glossary.htm#Master_Master-details" 
									 id="a29111" style="position: relative;">Master-Detail</a> 
 Data collected by iterating through Master data and invoking other commands</span> 
 - Use this option to collect master details data after specifying the 
 data collection for master.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 When you are defining the first data collection details, only 
		 the <span style="font-weight: bold;">Master/Master-Detail Data 
		 collected by single command</span> option<span style="font-weight: bold;"> 
		 </span>is enabled.<br />
		<br />
		The <span style="font-weight: bold;">Master-Detail Data collected 
		 by iterating through Master data and invoking other commands </span>option 
		 is enabled when a data collection details is already specified 
		 in the tool.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">For any connector, if you want to collect 
		 both master data and master-details, first specify data collection 
		 for master data and then specify the data collection for master-details 
		 by providing reference of the master data.</p></td>
	</tr>
 </table>
 <p style="margin-top: 5pt; margin-bottom: 5pt;"><br />
In the current scenario, Xanadufinancials is collecting <span style="font-weight: bold;">Master 
 data of Files and Folders</span>. Specify the command to be invoked for 
 collecting User data from the database in the <span style="font-weight: bold;">Master/Master-detail 
 data collected by single command</span> field.<br />
</p>
 <table class="Example" style=" margin-left:48px; left:0px; top:4911px; width:100%; max-width:827px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr style="height: 34px;">
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 powershell -command.\fileshareoperations.ps1 -assetType 'Windows 
		 File Shares' -actionToPerform 'CreateResource' -connParams @{username='$cfg_username;password='$cfg_password';computerName='$computerName'} 
		 -taskParams @{resourceName= '$resName';resourceType='$resType'}</p></td>
	</tr>
 </table>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">&#160;</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 151px;">
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 </p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">While 
			 writing the commands to invoke data collection from Windows 
			 File Sharing, you can pass the <span style="font-weight: bold;">Parameters</span> 
			 using <span style="font-weight: bold;">$</span>. Values for 
			 <span style="font-weight: bold;">Connection Parameters</span> 
			 are replaced from connection details specified for the connector.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">cfg_username</span> and <span style="font-weight: bold;">cfg_password</span> 
			 are the two out-of-the-box variable available to dynamically 
			 replace the value for user name and password of the service 
			 account in the target application.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">&#160;The 
			 name of the <span style="font-weight: bold;">parameter</span> 
			 specified in the command to get the value for any other custom 
			 properties must match the<span style="font-weight: bold;"> 
			 Name of the Property </span>defined<span style="font-weight: bold;"> 
			 </span>in the <span style="font-weight: bold;">Connection</span> 
			 step in a Scripted connector.<br />
			<br />
			<span style="font-weight: bold;">Example</span>: A custom connection 
			 property - <span style="font-weight: bold;">ComputerName</span> 
			 is defined in a Scripted connector. The parameter passed to 
			 collect this data must match the property name.</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Data to be Collected</span>. <br />
The subwindow closes and the details of the data to be collected is displayed 
 on the <span style="font-weight: bold;">Data Collection</span> page.</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Specifying Header Names for Script Connector in the <span style="font-weight: bold;">What 
		 are the headers in the file to which data will be returned </span>field 
		 is not applicable. Script connectors collect data based on the 
		 attributes defined in the data collection script. </p>
		<p class="TableText">&#160;</p>
		<p class="TableText">If you specify the headers and map the appropriate 
		 attributes the script connector does not consider the configuration 
		 defined for headers for returning the data in the file.</p></td>
	</tr>
 </table>
 <h4>Editing or Deleting the Data Collection Configuration</h4>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">(Optional)</span> Click <img src="Images/Icon_Edit.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" /> 
 (Edit icon) corresponding to the information that you want to edit in 
 the <span style="font-weight: bold;">Data</span> <span style="font-weight: bold;">Collection</span> 
 page.<br />
The <span style="font-weight: bold;">Specify information about data to 
 be collected</span> window opens.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Make the 
 required updates.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">(Optional)</span> Click <img src="Images/Icon_Delete.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" /> 
 (Delete icon) corresponding to the information that you want to delete 
 in the <span style="font-weight: bold;">Data</span> <span style="font-weight: bold;">Collection</span> 
 page.</p>
 <h4>Moving to Next Step</h4>
 <p>After configuring data collection, click <span style="font-weight: bold;">Next</span> 
 available at the end of the <span style="font-weight: bold;">Step 2 Data 
 Collection</span> page.</p>
 <h3><a name="Step_3:_Resources_and_Operations" id="Step_3:_Resources_and_Operations" 
		 style="position: relative;"></a>Step 3: Resources and Operations</h3>
 <p>SCIM Connector Wizard to specify Resources and Operations appears.<br />
<br />
<img src="Images/ResourcesAndActions.png" alt="" style=" border:none; width:100%; max-width:1153px;" border="0" /></p>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;">Add Create Resource (File 
 or Folder) Operation</h3>
 <p>To add create resource operation, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Operation</span>.<br />
The <span style="font-weight: bold;">Add Operation</span> subwindow opens.<br />
<br />
<img src="Images/AddOperation.png" alt="" style=" border:none; width:100%; max-width:792px;" border="0" /></p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the resource from the drop-down list available in the <span style="font-weight: bold;">On 
 which Resource is this Operation performe</span>d field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 FileFolder</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the type of operation from the drop-down list available in the <span style="font-weight: bold;">What 
 is the type of Operation </span>field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Create FileFolder</p></td>
	</tr>
 </table>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">&#160;</p>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 43px;">Based 
 on the <span style="font-weight: bold;">Resource</span> selected, the 
 type of operations allowed on the resource is listed in the <span style="font-weight: bold;">What 
 is the type of Operation</span> field. For example, if the resource selected 
 is FileFolder, then the tool displays only those operations that are allowed 
 on Files and Folders.</p>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt; margin-left: 43px;"><br />
For more information on the type of Operations allowed on different Resources, 
 see <a href="Appendix.htm#Resources_and_Operations" id="a13111" style="position: relative;">Resources 
 and Operations</a>.<br />
</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 49px;">
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The operation that you want to add for a resource in the connector 
		 is not available in the <a href="Appendix.htm#Resources_and_Operations" 
									 id="a191" style="position: relative;">out-of-the-box 
		 operations list</a>, then you can add that operation as a <span 
		 style="font-weight: bold;">Custom</span> <span style="font-weight: bold;">Operation</span>.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">To add custom operations, SCIM Designer tool 
		 provides the option - <span style="font-weight: bold;">Custom</span> 
		 <span style="font-weight: bold;">Operation</span> in the list 
		 of operations. To add a custom operation, select the option <span 
		 style="font-weight: bold;">Custom Operation</span> from the drop-down 
		 list. For more information on adding custom operation, see<a href="#Adding_Custom_Operation" 
		 id="a8" style="position: relative;"> <span style="position: relative;">Adding 
		 Custom Operation</span></a>.</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 command to invoke the operation in the target application in the <span 
	 style="font-weight: bold;">How do you invoke the Operation in the 
 target Application</span> field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:93.98%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 powershell -command .\fileshareoperations.ps1 -assetType 'Windows 
		 File Shares' -actionToPerform 'CreateResource' -connParams @{username='$cfg_username';password='$cfg_password';computerName='$computerName'} 
		 -taskParams @{resourceName= '$resName';resourceType='$resType'}</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 43px; margin-top: 5pt; margin-bottom: 5pt;">&#160;</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 </p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">While 
			 writing the commands to invoke operations in the application, 
			 use <span style="font-weight: bold;">Dollar sign</span> <span 
			 style="font-weight: bold;">$</span> for the parameters for 
			 which the values must be updated.<br />
			<br />
			Values for <span style="font-weight: bold;">Connection Parameters</span> 
			 are replaced from connection details specified for the connector.</p></li>
		</ul>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">cfg_username</span> and <span style="font-weight: bold;">cfg_password</span> 
			 are the two out-of-the-box variable available to dynamically 
			 replace the value for user name and password of the service 
			 account in the target application.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">&#160;The 
			 name of the <span style="font-weight: bold;">parameter</span> 
			 specified in the command to get the value for any other custom 
			 properties must match the<span style="font-weight: bold;"> 
			 Name of the Property </span>defined<span style="font-weight: bold;"> 
			 </span>in the <span style="font-weight: bold;">Connection</span> 
			 step in a Scripted connector.<br />
			<br />
			<span style="font-weight: bold;">Example</span>: A custom connection 
			 property - <span style="font-weight: bold;">ComputerName</span> 
			 is defined in a Scripted connector. The parameter passed to 
			 collect this data must match the property name.</p></li>
		</ul>
		<p class="TableText">&#160;</p></td>
	</tr>
 </table>
 <p class="list"><br />
<img src="Images/AddOperation_WindowsFileshare.png" alt="" style=" border:none; width:100%; max-width:815px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the parameters in the command used to invoke the operation in the target 
 application and map them to corresponding SCIM Schema attribute in <span 
	 style="font-weight: bold;">What are the Parameters for this Operation</span> 
 section.</p>
 <p style="
margin-top:4pt;
margin-bottom:4pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Parameters</span> - These are variables 
 prefixed with dollar sign $ in each of the command used to invoke the 
 operation in the target application.</p>
 <p style="
margin-top:4pt;
margin-bottom:4pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Value for Parameters</span> - SCIM FileFolder 
 Schema attributes or valid JSON path expression to extract the value from 
 the incoming request.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Defining parameters for some operations may not be required. Hence 
		 this section is not marked as mandatory. You must specify the 
		 parameters for all other operations which need parameters.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">If you don't find the matching SCIM Schema 
		 attribute, specify the appropriate JSON path expression as the 
		 value for the parameter.</p></td>
	</tr>
 </table>
 <p style="margin-left: 64px; margin-top: 3pt; margin-bottom: 3pt;">In the 
 current scenario, for parameters- <span style="font-weight: bold;">resName 
 </span>and<span style="font-weight: bold;"> resType </span>the SCIM Schema 
 attribute is mapped. <br />
</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:93.98%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 To create folders or files in Windows File Sharing, following 
		 Parameters must be specified.</p>
		<p class="TableText">&#160;</p>
		<table class="Note" style=" margin-left:24px; left:0px; top:19px; border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; width:100%; max-width:63.75%;" cellspacing="0px">
			<col />
			<col width="407" />
			<tr>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#8080C0">
    <p class="TableText"><span style="color: #ffffff; 
				 font-weight: bold;">Parameter</span></p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#8080C0">
    <p 
					 class="TableText"><span style="color: #ffffff; font-weight: bold;">SCIM 
				 FileFolder Schema Attribute/JSON Expression</span></p></td>
			</tr>
			<tr>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
					 background-color: Transparent;">
    <p class="TableText">resName</p></td>
				<td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText">$.name</p></td>
			</tr>
			<tr>
				<td style="border-right: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText">resType</p></td>
				<td style="background-color: Transparent;">
    <p class="TableText">$.type</p></td>
			</tr>
		</table></td>
	</tr>
</table>
<p style="margin-left: 64px;"><span style="text-indent: -20px;">To specify 
 parameters in </span><span style="font-weight: bold;">What are the Parameters 
 for this Operation </span>section<span style="text-indent: -20px;">, perform 
 the following:</span></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 parameter in the <span style="font-weight: bold;">Name of the Parameter</span> 
 field</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the value corresponding to the parameter from the SCIM user schema attributes 
 drop-down list in the <span style="font-weight: bold;">Value for the Parameter</span> 
 field.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_AddParameter.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />. A new row of fields is displayed to 
 specify the parameter.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Repeat 
 <span style="font-weight: bold;">Step a, Step b,</span> and <span style="font-weight: bold;">Step 
 c</span> to specify all parameters required for the operation. <br />
<br />
<img src="Images/Parameters_createfilefolder.png" alt="" style=" border:none; width:100%; max-width:603px;" border="0" /></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-style: italic;">(Optional)</span> Click <img src="Images/icon_cancel.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> 
 to remove the parameter added.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Mapping</span> 
 for the operation. The Response Mapping section is displayed for <span 
	 style="font-weight: bold;">Create</span> and <span style="font-weight: bold;">Get 
 Specific attribute of a Resource</span> operations.<br />
<br />
When user is created, the response is sent by the SCIM Server in JSON format.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Name of the Attribute</span> - Select the 
 <span style="font-weight: bold;">SCIM schema attribute</span> which matches 
 the unique identifier that must be returned as response from the target 
 application. <br />
<br />
<span style="font-weight: bold;">Example</span>: id</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 For <span style="font-weight: bold;">Create</span> <span style="font-weight: bold;">Operation</span>, 
		 you can map only <span style="font-weight: bold;">One</span> attribute 
		 in the <span style="font-weight: bold;">Response</span> <span 
		 style="font-weight: bold;">mapping</span>.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">When the response mapping is defined, &#160;and 
		 the attribute key name specified is ID then ensure the attribute 
		 key specified is in <span style="font-weight: bold;">lowercase 
		 (id)</span>.</p></td>
	</tr>
 </table>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Value of the Attribute</span> - Specify 
 the value that must be returned for the attribute. The Value is specified 
 as JSON path expression. <br />
<br />
<span style="font-weight: bold;">Example</span>: <span style="font-weight: bold;">$.id</span>.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 If the attribute from which value must be returned contains any 
		 reserved character, like <span style="font-weight: bold;">dot(.), 
		 Square brackets [ ], </span>or<span style="font-weight: bold;"> 
		 colon (:) </span>, then you must specify name of that attribute 
		 with in the <span style="font-weight: bold;">double quotes (&quot; 
		 &quot;)</span> in the JSON Path Expression to escape the reserved 
		 character and to get the value.<br />
		</p>
		<p class="TableText">If you want to fetch the value from the attribute 
		 <span style="font-weight: bold;">.id</span>, then you must define 
		 the JSON Path Expression as <span style="font-weight: bold;">$.&quot;.id&quot;</span> 
		 in the <span style="font-weight: bold;">Value for the Attribute</span> 
		 field in the <span style="font-weight: bold;">Response Mapping</span> 
		 section. </p></td>
	</tr>
 </table>
 <p>&#160;</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Operation</span>. 
 <br />
The subwindow closes and the details of the Resource and the Operation 
 is displayed on the Resources and Operations page.</p>
 <h3><a name="Adding_Custom_Operation" id="Adding_Custom_Operation" style="position: relative;"></a>Adding 
 Custom Operation</h3>
 <p>The operation that you want to add for a resource is not listed in the 
 <a href="Appendix.htm#Resources_and_Operations" id="a91" style="position: relative;">out-of-the-box 
 operations list</a>, then you can add that operation as a <span style="font-weight: bold;">Custom</span> 
 <span style="font-weight: bold;">Operation</span>.<br />
<br />
<span style="font-weight: bold;">Scenario</span>:</p>
 <p>Xanadufinancials wants to add <span style="font-weight: bold;">Grant 
 Access to Folder</span> operation in a Script connector. The integrator 
 has not found the matching operation in the out-of-the-box operations 
 list. &#160;<br />
<br />
In this scenario, integrator can select the operation type - <span style="font-weight: bold;">Custom</span> 
 <span style="font-weight: bold;">Operation</span> and define the operation 
 name and other required details to add the operation for a resource in 
 a connector.</p>
 <p>To add custom operation - <span style="font-weight: bold;">Grant Access 
 to Folder</span>, perform the following: </p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click<span 
	 style="font-weight: bold;"> Add Operation</span> in <span style="font-weight: bold;">Resources 
 and Operations</span> page.<br />
The <span style="font-weight: bold;">Add Operation</span> subwindow opens.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the resource from the drop-down list available in the <span style="font-weight: bold;">On 
 which Resource is this Operation performe</span>d field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 User</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select the type of operation from the drop-down 
 list available in the <span style="font-weight: bold;">What is the type 
 of Operation </span>field.<br />
Based on the <span style="font-weight: bold;">Resource</span> selected, 
 the type of operations allowed on the resource is listed in the <span 
	 style="font-weight: bold;">What is the type of Operation</span> field.</p>
 <table class="Example" style=" left:0px; top:11695px; margin-left:48px; width:100%; max-width:445px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Custom Operation</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 43px;">When you select this option, 
 system displays <span style="font-weight: bold;">Name of the Operation</span> 
 field to specify name for the operation. <br />
<br />
<img src="Images/AddCustomOperation.png" alt="" style=" border:none; width:100%; max-width:655px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a name="CustomOperation_DisableUser" 
	 id="a1241" style="position: relative;"></a>Type a name for the operation 
 in the <span style="font-weight: bold;">Name of the Operation</span> field.</p>
 <table class="Example" style=" left:0px; top:11695px; margin-left:48px; width:100%; max-width:445px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Grant Access to FileFolder</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 command to invoke the operation in the target application in the <span 
	 style="font-weight: bold;">How do you invoke the Operation in the 
 target Application</span> field.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 While writing the commands to invoke operations in the application, 
		 use <span style="font-weight: bold;">Dollar sign</span> <span 
		 style="font-weight: bold;">$</span> for the parameters for which 
		 the values must be updated.</p></td>
	</tr>
 </table>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">&#160;</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:93.98%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 powershell -command .\fileshareoperations.ps1 -assetType 'Windows 
		 File Shares' -actionToPerform GrantAccess -connParams @{username='$cfg_username';password='$cfg_password';computerName='$computerName'} 
		 -taskParams @{SamAccountName='$userName';ResFullName='$resName'; 
		 Permission='$permission';CtrlType='$ctrlType'}</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 43px; margin-top: 5pt; margin-bottom: 5pt;">&#160;</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 </p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">While 
			 writing the commands to invoke operations in the application, 
			 use <span style="font-weight: bold;">Dollar sign</span> <span 
			 style="font-weight: bold;">$</span> for the parameters for 
			 which the values must be updated. Values for <span style="font-weight: bold;">Connection 
			 Parameters</span> are replaced from connection details specified 
			 for the connector.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">cfg_username</span> and <span style="font-weight: bold;">cfg_password</span> 
			 are the two out-of-the-box variable available to dynamically 
			 replace the value for user name and password of the service 
			 account in the target application.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">&#160;The 
			 name of the <span style="font-weight: bold;">parameter</span> 
			 specified in the command to get the value for any other custom 
			 properties must match the<span style="font-weight: bold;"> 
			 Name of the Property </span>defined<span style="font-weight: bold;"> 
			 </span>in the <span style="font-weight: bold;">Connection</span> 
			 step in a Scripted connector.<br />
			<br />
			<span style="font-weight: bold;">Example</span>: A custom connection 
			 property - <span style="font-weight: bold;">ComputerName</span> 
			 is defined in a Scripted connector. The parameter passed to 
			 collect this data must match the property name.</p></li>
		</ul></td>
	</tr>
</table>
<p>Some commands does not require Parameter(s) to invoke the operation 
 in the target application. The required details can be passed in the command 
 used for invoking the operation in the target application. In those cases, 
 it is not necessary to define the parameters.</p>
<p>For the above command, required details are passed in the command. Hence, 
 parameters are not defined. </p>
<p>If a Custom Operation's command requires Parameters, then you must specify 
 the Parameters and map it with the SCIM attribute or specify the JSON 
 Path Expression, if the matching SCIM attribute is not available.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Operation</span>. 
 <br />
The subwindow closes and the details of the Resource and the Operation 
 is displayed on the Resources and Operations page.</p>
<h3>Adding Update Specific Attribute Operation</h3>
<p>To add Disable Sharing for Folder operation, perform the following:</p>
<p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Operation</span>.<br />
The <span style="font-weight: bold;">Add Operation</span> subwindow opens.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Select the resource from the drop-down 
 list available in the </span><span style="text-indent: -20px; font-weight: bold;">On 
 which Resource is this Operation performe</span><span style="text-indent: -20px;">d 
 field.</span></p>
<table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 FileFolder</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the type of operation from the drop-down list available in the <span style="font-weight: bold;">What 
 is the type of Operation </span>field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Update specific attribute of FileFolder</p></td>
	</tr>
 </table>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the SCIM schema attribute which needs to be updated in the <span style="font-weight: bold;">Specify 
 attribute to perform Operation</span> field.</p>
 <table class="Example" style=" left:0px; top:11695px; margin-left:48px; width:100%; max-width:445px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 share</p></td>
	</tr>
 </table>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">&#160;</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 135px;">
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 If you specify multi-valued attribute, tool displays the an additional 
		 section to specify the type of operation to be performed on the 
		 attribute.<br />
		<br />
		<span style="text-indent: -20px;">The options displayed are:</span></p>
		<p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Add</span> - To add data to the attribute, 
		 if the data is not available.</p>
		<p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Remove</span> - To remove the existing 
		 data.</p>
		<p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
		 style="font-weight: bold;">Replace</span> - To replace the existing 
		 data with the new data</p>
		<p style="margin-top: 3pt; margin-bottom: 3pt;">Select the applicable 
		 option and configure the operation.</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the command to invoke the operation in the 
 target application in the <span style="font-weight: bold;">How do you 
 invoke the Operation in the target Application</span> field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:93.98%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 powershell -command .\fileshareoperations.ps1 -assetType 'Windows 
		 File Shares' -actionToPerform 'DisableSharing' -connParams @{username='$cfg_username';password='$cfg_password';computerName='$computerName'} 
		 -taskParams @{shareName='$share'}</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 43px; margin-top: 5pt; margin-bottom: 5pt;">&#160;</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 </p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">While 
			 writing the commands to invoke operations in the application, 
			 use <span style="font-weight: bold;">Dollar sign</span> <span 
			 style="font-weight: bold;">$</span> for the parameters for 
			 which the values must be updated.<br />
			Values for <span style="font-weight: bold;">Connection Parameters</span> 
			 are replaced from connection details specified for the connector.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">cfg_username</span> and <span style="font-weight: bold;">cfg_password</span> 
			 are the two out-of-the-box variable available to dynamically 
			 replace the value for user name and password of the service 
			 account in the target application.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">&#160;The 
			 name of the <span style="font-weight: bold;">parameter</span> 
			 specified in the command to get the value for any other custom 
			 properties must match the<span style="font-weight: bold;"> 
			 Name of the Property </span>defined<span style="font-weight: bold;"> 
			 </span>in the <span style="font-weight: bold;">Connection</span> 
			 step in a Scripted connector.<br />
			<br />
			<span style="font-weight: bold;">Example</span>: A custom connection 
			 property - <span style="font-weight: bold;">ComputerName</span> 
			 is defined in a Scripted connector. The parameter passed to 
			 collect this data must match the property name.</p></li>
		</ul>
		<p class="TableText">&#160;</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the parameters in the command used to invoke the operation in the target 
 application and map them to corresponding SCIM Schema attribute or JSON 
 expression in <span style="font-weight: bold;">What are the Parameters 
 for this Operation</span> section.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:93.98%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 To disable sharing of folders, following Parameter must be specified.</p>
		<p class="TableText">&#160;</p>
		<table class="Note" style=" margin-left:24px; left:0px; top:19px; border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; width:100%; max-width:30.268%;" cellspacing="0px">
			<col />
			<col width="150" />
			<tr>
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#8080C0">
    <p class="TableText"><span style="color: #ffffff; 
				 font-weight: bold;">Parameter</span></p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#8080C0">
    <p 
					 class="TableText"><span style="color: #ffffff; font-weight: bold;">JSON 
				 Expression</span></p></td>
			</tr>
			<tr>
				<td style="border-right: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText">share</p></td>
				<td style="background-color: Transparent;">
    <p class="TableText">$.value</p></td>
			</tr>
		</table></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Operation</span>. 
 <br />
The subwindow closes and the details of the Resource and the Operation 
 is displayed on the Resources and Operations page.</p>
<h4>Editing or Deleting the Operation Configuration</h4>
<p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-style: italic;">(Optional)</span> To edit an Operation, 
 move the mouse on the required operation listed in the <span style="font-weight: bold;">Operations</span> 
 column and click <img src="Images/Icon_OperationEdit.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.<br />
The <span style="font-weight: bold;">Edit Operation &lt; Operation Name&gt;</span> 
 opens. </p>
<p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Make the 
 required updates.</p>
<p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>. </p>
<p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-style: italic;">(Optional) </span>To 
 delete an Operation move the mouse on the required operation listed in 
 the <span style="font-weight: bold;">Operation</span> column and click 
 <img src="Images/Icon_OperationDelete.png" alt="" style=" border:none; width:100%; max-width:15px;" border="0" />.</p>
<p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-style: italic;">(Optional) </span>To 
 delete a Resource and all Operations at once click <img src="Images/Icon_Delete.png" alt="" style=" border:none; width:100%; max-width:23px;" border="0" /> 
 corresponding to the resource.</p>
<h4>Moving to Next Step</h4>
<p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">After configuring 
 Operations, click <span style="font-weight: bold;">Next</span> available 
 at the end of the <span style="font-weight: bold;">Step 3 Resources and 
 Operations</span> page.</p>
<h3><a name="Step_4:_Verifying_Connector_Design_and_Submit_the_Setup" id="Step_4:_Verifying_Connector_Design_and_Submit_the_Setup" 
		 style="position: relative;"></a>Step 4: Verifying Connector Design 
 and Submit the Setup</h3>
<p>SCIM Connector Wizard to verify the Connector details appears. </p>
<p><img src="Images/ScriptConnector1.png" alt="" style=" border:none; width:100%; max-width:1009px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Verify 
 the Connector configuration.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To change 
 any setting, click <span style="font-weight: bold;">Previous</span> or 
 the <span style="font-weight: bold;">Steps</span> at the top of the SCIM 
 Connector Wizard &#160;to navigate to the page and make the edits.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Submit</span> after verifying all the 
 settings.<br />
The wizard shows a message that you have successfully developed a SCIM 
 Connector. From this page you can download the Connector that is created, 
 preview the REST APIs created for the connector or add another connector. 
 <br />
<br />
<img src="Images/ConnectorSuccessMessage.png" alt="" style=" border:none; width:100%; max-width:926px;" border="0" /></p>
<p>For more information on downloading and installing SCIM Server, see 
 SCIM Server Installation.</p>
<p>For more information on downloading connector from the Tuebora SCIM 
 Designer Portal, see <a href="Download_the_Connector.htm" id="a171" style="position: relative;">Download 
 the Connector</a>.</p>
<p>For more information on deploying connector on SCIM Server, see <a href="Deployed_Connectors.htm" 
	 id="a10" style="position: relative;">Deploy Connector on SCIM Server</a>.</p>
<p>For more information on testing connector, see <a href="Test_Connectors_Independently.htm" 
													 id="a9" style="position: relative;">Testing 
 the connector</a>.</p>
<table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 </span><a href="Develop_HTTP_REST_Connector.htm" 
														 id="a131" style="color: #008000; 
														 position: relative;">Develop 
		 HTTP REST Connector</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span><a href="Develop_LDAP_Connector.htm" 
															 id="a12" style="color: #008000; 
															 position: relative;">Develop 
		 LDAP Connector</a></span></p></td>
	</tr>
 </table>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	InitEffects('a91','');
	InitEffects('a8','');
	InitEffects('a9','');
	InitEffects('a191','');
	InitEffects('a28111','');
	InitEffects('a21','');
	InitEffects('Step_4:_Verifying_Connector_Design_and_Submit_the_Setup','');
	InitEffects('Step_1:_Specifying_Connector_Connection_Details','');
	InitEffects('a11','');
	InitEffects('a2','');
	InitEffects('a10','');
	InitEffects('a3','');
	InitEffects('Adding_Custom_Operation','');
	InitEffects('Step_2:_Specifying_Data_Collection_Details','');
	InitEffects('a13','');
	InitEffects('a12','');
	InitEffects('a1','');
	InitEffects('a1241','');
	InitEffects('a6','');
	InitEffects('a7','');
	InitEffects('a131','');
	InitEffects('a4','');
	InitEffects('a13111','');
	InitEffects('a5','');
	InitEffects('a29111','');
	InitEffects('Beginning_New_Connector_Setup','');
	InitEffects('a171','');
	InitEffects('Step_3:_Resources_and_Operations','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
