
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Glossary</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "5_2";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="728">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Appendix.htm" id="a5" 
												 style="color: #008000; 
												 position: relative;">Appendix</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;">&#160;</p></td>
	</tr>
 </table>
 <h1>Glossary</h1>
 <p class="GlossaryAlphabet">A</p>
 <p class="GlossaryHeading">Applications </p>
 <p>An Application is a repository or an application that contains structured 
 or unstructured, logical or physical data. Applications can directories 
 or file shares that contain data about users, resources, and permissions 
 granted to users. The data in an Application can be documents, reports, 
 or files.</p>
 <p class="GlossaryHeading">Account</p>
 <p>User Access is administered through an Account in Tuebora SCIM Portal. 
 For each user, an account is mapped that authorizes the user to permissions 
 in the portal.</p>
 <p class="GlossaryHeading">API Token (Okta)</p>
 <p class="TueboraGlossaryText">API Token is a bearer token used by Okta 
 for API authentication requests received from Clients.</p>
 <p class="TueboraGlossaryText">To integrate Okta with any Client (Tuebora 
 or Third Party IAM), API Token must be created in Okta. API tokens will 
 have the API access of the user who creates them. Hence create a “service 
 account” user with only the permission levels you need for the token to 
 perform the API tasks you require.</p>
 <p class="GlossaryHeading"><a name="AWS_SDK" id="AWS_SDK" style="position: relative;"></a>AWS 
 SDK</p>
 <p class="TueboraGlossaryText">AWS SDK consist of libraries and sample 
 code for various programming languages and platforms (Java, Ruby, .NET, 
 iOS, Android, etc.). The SDKs provide a convenient way to create programmatic 
 access to IAM and AWS.</p>
 <p class="GlossaryAlphabet">C</p>
 <p class="GlossaryHeading">Command</p>
 <p class="TueboraGlossaryText">A command is an instruction given to an 
 application to perform some task or operation, such as create a user or 
 update attributes of a group.</p>
 <p class="GlossaryHeading"><a name="Complex_Attribute" id="a8" style="position: relative;"></a>Complex 
 Attribute</p>
 <p class="TueboraGlossaryText">Complex attribute is a Singular or Multi-valued 
 Attribute whose value is a composition of one or more Simple Attributes. 
 For example, emails, name, address. For more information on SCIM attribute 
 definitions, refer <a href="http://www.simplecloud.info/specs/draft-scim-core-schema-01.html" 
						 target="_blank" id="a7" style="position: relative;">SCIM 
 Documentation</a>.</p>
 <p class="GlossaryHeading">CSV File</p>
 <p>A comma-separated values (CSV) (also called character-separated values) 
 file stores tabular data (numbers and text) in plain-text form.</p>
 <p class="GlossaryAlphabet">D</p>
 <p class="GlossaryHeading">Data Collection</p>
 <p>It is the process of collecting data into Tuebora IAM or Third-party 
 IAM from the target application.</p>
 <p class="GlossaryHeading">Database</p>
 <p class="TueboraGlossaryText">Database is an organized collection of data 
 or information so that it can be easily accessed, managed and updated. 
 Well-known Database Management Systems include MySQL, Postgres, IBM DB2, 
 Microsoft SQL, Oracle. </p>
 <p class="GlossaryAlphabet">G</p>
 <p class="GlossaryHeading">GRC</p>
 <p>Acronym for Governance, Risk, and Compliance.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Governance 
 refers to the process of organizations taking timely decisions to achieve 
 its objectives.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Risk 
 refers to infrastructural, financial, technological, security issues that 
 might come in the way of realizing business objectives.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Compliance 
 refers to the adherence to stated guidelines &amp; regulations.</p>
 <p class="GlossaryHeading">Group</p>
 <p>It is a container of users and sub-groups.</p>
 <p class="GlossaryAlphabet">I</p>
 <p class="GlossaryHeading">IAM</p>
 <p>Identity and Access Management (IAM) is a process or methodology to 
 manage identities and user access to various applications and resources 
 in an enterprise.</p>
 <p class="GlossaryHeading">IP Address</p>
 <p>An Internet Protocol address (IP address) is a numerical label assigned 
 to each device (such as computer or printer) participating in a computer 
 network that uses the Internet Protocol for communication.</p>
 <p class="GlossaryHeading">ITSM &#160;</p>
 <p class="TueboraGlossaryText">Information Technology Service Management 
 (ITSM) refers to the managerial aspects of Information Technology businesses. 
 It includes IT planning, support, delivery for better customer services.</p>
 <p class="GlossaryAlphabet">L</p>
 <p class="GlossaryHeading">LDAP </p>
 <p>Lightweight Directory Access Protocol (LDAP) is a directory service 
 protocol. It provides a mechanism, that allows clients and servers to 
 communicate. The LDAP provider allows access to the hierarchical structure 
 of Active Directory, or any LDAP compliant database.</p>
 <p class="GlossaryAlphabet">M</p>
 <p class="GlossaryHeading"><a name="Master_Master-details" id="a1" style="position: relative;"></a>Master/Master-details</p>
 <p><span style="font-weight: bold;">Master Data</span> means the data related 
 to an objects in an application. For example Group is a Master in a web 
 based single-signon (SSO) application. While collecting data from this 
 applications, it allows to collect only the master data (i.e, Group) and 
 if you want to collect any other data, like Group membership it does provide 
 the data without reference of the Master data. </p>
 <p><span style="font-weight: bold;">Master Details</span> - The data which 
 is fetched (Ex, group membership) based on the Master data reference is 
 called as <span style="font-weight: bold;">Master-details</span>.</p>
 <p class="GlossaryAlphabet">P</p>
 <p class="GlossaryHeading"><a name="Pagination" id="a2" style="position: relative;"></a>Pagination</p>
 <p>Pagination is used when there is more data to load than the data source 
 provides in a single load. You have to specify how the connector must 
 page through the entire set of data that you want to load. </p>
 <p>Tuebora's SCIM supports the following pagination types:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Link in Response Header</span> - API will 
 send the pagination details as the link in the response header.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Token in Response Body</span> - In this 
 case, the API will sends the pagination details in a token inside response 
 body. Which is then passed as query parameter in subsequent calls.</p>
 <p class="GlossaryHeading">Parameters</p>
 <p class="TueboraGlossaryText">Parameters are the <span style="font-weight: bold;">Formal 
 Parameters</span> which will be substituted by the actual value. In SCIM 
 Tool, the commands which contain formal parameters are prefixed with colon 
 (:).</p>
 <p class="TueboraGlossaryText"><span style="font-weight: bold;">Example</span> 
 - select id from res_users where login=<span style="font-weight: bold;">:email</span></p>
 <p class="GlossaryHeading">Password</p>
 <p>Word or string of characters used for user authentication to prove identity 
 or access approval to gain access to a resource or an application.</p>
 <p class="GlossaryHeading">Path (in the JSON structure of Patch Request)</p>
 <p class="TueboraGlossaryText">It describes the attribute (for which the 
 value must be updated) path in the target application.</p>
 <p class="GlossaryAlphabet">R</p>
 <p class="GlossaryHeading">Role</p>
 <p>Role describe user functions in an organization. For example, in an 
 organization, users can have roles such as Stock Brokers, Finance Managers, 
 or Software Testing Engineers. Based on the organizational roles, users 
 have different capabilities in different applications, to perform the 
 job functions. For example, the Finance Controller Role can have Administrator 
 Access in the Finance Applications.</p>
 <p class="GlossaryHeading"><a name="Resource" id="a3" style="position: relative;"></a>Resource</p>
 <p>The Resource<span style="font-weight: bold;"> </span>is&#160;an object 
 in the application containing one or more attributes. For example, User 
 or Group.</p>
 <p class="GlossaryHeading">REST</p>
 <p class="TueboraGlossaryText">REST is an acronym for <span style="font-weight: bold;">Representational 
 State Transfer</span>. &#160;</p>
 <p class="GlossaryHeading"><a name="Request_Body_Message_Body" id="a4" 
								 style="position: relative;"></a>Request 
 Body</p>
 <p class="TueboraGlossaryText">In Tuebora SCIM Design Tool, for POST, PUT 
 and PATCH requests you have to define the request body (payload), such 
 as JSON format. The POST/PUT/Patch variables are stored as key-value pairs 
 in the body.</p>
 <p class="TueboraGlossaryText">The values are defined in the request body, 
 in the format that the Content-Type specifies.</p>
 <p class="GlossaryAlphabet">S</p>
 <p class="GlossaryHeading">SCIM</p>
 <p>SCIM stands for <span style="font-weight: bold;">System for Cross-Domain 
 Identity Management</span>. It is an open standard for automating the 
 exchange of user identity information between identity domains, or IT 
 systems.</p>
 <p class="GlossaryHeading">SCIM Server</p>
 <p>SCIM Server is used to process the SCIM requests received from Clients 
 (Tuebora Sailpoint, RSA, Oracle, or any other IAM vendor’s application 
 or any IT Service Managment (ITSM) solution, or any Governance, risk management, 
 and compliance (GRC) solution) to update the details in Target Applications. 
 SCIM Server uses SCIM connectors to connect to target applications. SCIM 
 Connectors are created to integrate the application with the solution 
 providers.</p>
 <p>Application-specific connectors are deployed on the SCIM Server. SCIM 
 Server receives SCIM requests on behalf of the Application-specific connector 
 from Caller (Tuebora IAM/Third-party IAM) servers. After the connector 
 completes processing the request, SCIM Server sends the status to the 
 Caller Server. </p>
 <p class="GlossaryHeading">SCIM User Schema</p>
 <p>It is a schema provided by SCIM for representing Users, identified using 
 the URI: 'urn:scim:schemas:core:1.0'. </p>
 <p class="GlossaryHeading">SOAP</p>
 <p class="TueboraGlossaryText">It is an acronym for Simple Object Access 
 Protocol. &#160;It is an XML-based messaging protocol.</p>
 <p class="GlossaryHeading">SSL</p>
 <p>Acronym for Secure Sockets Layer. It is a protocol developed for transmitting 
 private documents via the Internet.</p>
 <p class="GlossaryAlphabet">T</p>
 <p class="GlossaryHeading">Target Application</p>
 <p class="TueboraGlossaryText">It is the application for which the connector 
 is being developed using the Tuebora SCIM Connector Design tool.</p>
 <p class="GlossaryAlphabet">U</p>
 <p class="GlossaryHeading">URI</p>
 <p class="TueboraGlossaryText">In information technology, a <span style="font-weight: bold;">Uniform 
 Resource Identifier (URI)</span> is a string of characters used to identify 
 a resource. </p>
 <p class="GlossaryHeading">User</p>
 <p>A user represents a physical person. In an enterprise, users have accounts 
 through which they access various Applications</p>
 <p class="GlossaryHeading">User Name</p>
 <p>A user is a person who uses a computer or network service. A user often 
 has a user account and is identified by a user name (also username). It 
 is the identification used by an user to access a computer, network, online 
 service, or application. For example, Robert William's user name to access 
 Tuebora SCIM Connector Tool is robert.williams@xanadufinancials.com.</p>
 <p class="GlossaryAlphabet">Z</p>
 <p class="GlossaryHeading">ZIP (file format)</p>
 <p>.ZIP is an archive file format that supports data compression. A .ZIP 
 file may contain one or more files or folders that may have been compressed.</p>
 <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Appendix.htm" id="a6" 
												 style="color: #008000; 
												 position: relative;">Appendix</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;">&#160;</p></td>
	</tr>
 </table>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	InitEffects('a8','');
	InitEffects('a2','');
	InitEffects('a3','');
	InitEffects('a1','');
	InitEffects('a6','');
	InitEffects('a7','');
	InitEffects('AWS_SDK','');
	InitEffects('a4','');
	InitEffects('a5','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
