
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />

<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader1.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader1.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader1.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels1.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img id="wLogoImage" src="template/Theme1_Standard/logo.png" alt="Logo" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a>
					</div></td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="9">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="brsNext">
					<p>&#160;</p>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					<p>&#160;</p>
				</div>
			</div>
			<div class="contentholder">
				<div class="specialpagetitle">
					<span>Glossary</span>
				</div>
				<div id="glo" class="wGlossary">
					<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
					
					
					
				</div>
			</div>
		</div>
	</div>
	<div class="buttonbar">
		<div class="buttonbarholder">
			<div class="bar_toc" id="xmlEditorButtonBarTOC" title="Table of Contents">
				<a href="table_of_contents.htm">&#160;</a> 
			</div>
			<div class="bar_index" id="xmlEditorButtonBarIDX" title="Index">
				<a href="index1.htm">&#160;</a> 
			</div>
			<div class="bar_glossary_active" id="xmlEditorButtonBarGLO" 
				 title="Glossary">
				&#160; 
			</div>
			<div class="bar_search" title="Search">
				<a href="searchresults.htm">&#160;</a> 
			</div>
			<div class="bar_topic" title="Back to topic">
				<a href="Tuebora_SCIM.htm" class="back_to_last_topic">&#160;</a> 
				 
			</div>
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
</body>
</html>
