
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Installing SCIM Server on Windows</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "2.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="776">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="SCIM_Server.htm" id="a3" style="color: #008000; position: relative;">SCIM 
		 Server</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Installing_SCIM_Server_on_Linux_or_Mac.htm" id="a5" style="color: #008000; 
		 position: relative;">Installing SCIM Server on Linux or Mac</a></p></td>
	</tr>
 </table>
 <h1>Installing SCIM Server On Windows</h1>
 <p>This topic provides information on how to install SCIM Server on Windows.</p>
 <h2>Prerequisites</h2>
 <p>Following are the prerequisites to install SCIM Server:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Get the 
 SCIM Server Installation File from:</p>
 <ul>
	<li style="list-style: disc;">
 <p class="list">Tuebora Team. OR</p></li>
	<li style="list-style: disc;">
 <p class="list"><a href="SCIM_Server.htm#Downloading_SCIM_Server" 
													 id="a2" style="position: relative;">Download 
	 the SCIM Server Installation File</a> from the SCIM Designer Portal. 
	 </p></li>
</ul>






<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Java Runtime Environment 8</span><br />
<br />
You must have Java Runtime Environment (JRE) 
 8 installed on your computer to use the Tuebora SCIM Server. If you do 
 not have JRE 8 installed, a warning message 
 is displayed when you try to setup the Tuebora SCIM Server.<br />
<br />
The error displayed is - <span style="font-weight: bold;">Neither the JAVA_HOME nor the JRE_HOME environment variable 
 is defined. </span><span style="text-indent: -20px; font-weight: bold;">At 
 least one of the these environment variable is needed to run this program 
 and it should be set to Java 8</span><span style="text-indent: -20px; 
											 font-weight: normal;"> </span><span 
	 style="text-indent: -20px;"><br />
<br />
Download JRE 8 at <a href="http://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html" 
					 target="_blank" id="a111" style="position: relative;">http://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html</a>.</span></p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">JRE_HOME</span> must be set in the Environment 
 Variables.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 Windows <span style="font-weight: bold;">Start</span>.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Right-click 
 <span style="font-weight: bold;">My Computer/Computer</span> and select 
 <span style="font-weight: bold;">Properties</span>.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>On the<span 
	 style="font-weight: bold;"> Advanced/Advanced system settings</span> 
 tab, select <span style="font-weight: bold;">Environment</span> <span 
	 style="font-weight: bold;">Variables</span>, and then edit JRE_HOME 
 under System variables section to point to where the JRE software is located.<br />
<br />
Example: <span style="font-style: italic; font-weight: bold;">C:\Program 
 Files\Java\jre1.8.0_45</span></p>
<p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Create 
 a <span style="font-weight: bold;">Service</span> <span style="font-weight: bold;">Account</span> 
 (standard user) on the computer on which you want to install the server. 
 This account is used for installing the server.</p>
<p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Service 
 Account must have Read, Execute, and Write permissions on SCIM Server 
 folder. <br />
To grant permission, perform the following:</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Navigate 
 to the location where the SCIM Server folder is available.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Right-click 
 and select <span style="font-weight: bold;">Properties</span>.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Security</span> tab and click <span style="font-weight: bold;">Add</span> 
 to add the user to whom permission on the folder to be granted.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the Service Account Name in <span style="font-weight: bold;">Enter the 
 object names</span> to field in <span style="font-weight: bold;">Select 
 Users or Groups</span> window.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>After 
 selecting the Service Account click <span style="font-weight: bold;">OK</span>. 
 Subwindow closes. The Service Account added is listed on <span style="font-weight: bold;">Security</span> 
 window </p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">f.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the Service Account and in <span style="font-weight: bold;">Permissions</span> 
 section select - <span style="font-weight: bold;">Full Control</span>.<span 
	 style="font-weight: bold;"> </span>This<span style="font-weight: bold;"> 
 </span>permission<span style="font-weight: bold;"> </span>enables -<span 
	 style="font-weight: bold;"> &#160;Modify, Read &amp; Execute, List 
 folder contents, Read, and Write</span> permissions.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">g.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Apply</span>. The permission is granted.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">h.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">OK</span> to close the Security window. 
 </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Add the 
 service account to <span style="font-weight: bold;">Logon as Batch Job 
 </span>policy<span style="font-weight: bold;"> </span>in <span style="font-weight: bold;">Local 
 Security Policy</span> settings on the<span style="font-weight: bold;"> 
 </span>computer on which you want to install the server.<br />
<br />
<span style="font-weight: bold; text-decoration: underline; ">On Windows 
 7</span><br />
<br />
To add service account to local security policy, perform the following,</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 Windows <span style="font-weight: bold;">Start &gt;</span> run <span style="font-weight: bold;">secpol.msc</span><br />
The <span style="font-weight: bold;">Local Security Policy</span> subwindow 
 opens.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Local Policies &gt; User Rights Assignments</span> 
 available on left-pane.<br />
The right-pane shows the policies.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Locate 
 <span style="font-weight: bold;">Logon as Batch Job</span> settings and 
 double-click on it.<br />
The <span style="font-weight: bold;">Logon as Batch Job Properties</span> 
 window opens.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add User or Group. </span><br />
The <span style="font-weight: bold;">Select Users and Group </span>window 
 opens.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 service account name in the <span style="font-weight: bold;">Enter the 
 object names to select</span> field.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">f.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">OK</span>. The Service Account is added. 
 </p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">g.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Apply</span> to save the changes and 
 click <span style="font-weight: bold;">OK</span> to close the subwindow.</p>
<p class="list" style="margin-left: 48px;"><span style="font-weight: bold; 
												 text-decoration: underline; ">On 
 Windows Server 2008 R2</span> </p>
<p class="list" style="margin-left: 48px;">To add service account to local 
 security policy, perform the following,</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Windows Start &gt; Administrative Tools 
 &gt; Group Policy Management</span>.<br />
<br />
The Group Policy Management application opens.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Navigate 
 and locate the required <span style="font-weight: bold;">Domain</span>.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Group Policy Objects</span>. Window displays 
 the Group Policy Objects available in the domain, on the right pane.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Right-click 
 <span style="font-weight: bold;">Default Domain Policy</span> and select 
 <span style="font-weight: bold;">Edit</span>. The <span style="font-weight: bold;">Group 
 Policy Management Editor</span> opens.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>From the 
 tree on the left pane, navigate to<span style="font-weight: bold;"> Computer 
 Configuration &gt; Policies &gt; Windows Settings &gt; Security Settings 
 &gt; Local Policies &gt; User Rights Assignments</span>.<br />
<br />
The corresponding policies appear on the right pane.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">f.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Locate 
 <span style="font-weight: bold;">Logon as Batch Job</span> settings and 
 double-click on it.<br />
The <span style="font-weight: bold;">Logon as Batch Job Properties</span> 
 window opens.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">g.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check box for <span style="font-weight: bold;">Define these policy 
 settings</span>.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">h.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add User or Group. </span><br />
The <span style="font-weight: bold;">Add Users and Group </span>window 
 opens.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">i.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 service account name in the <span style="font-weight: bold;">User and 
 Group names</span> field and click <span style="font-weight: bold;">Browse</span>.<br />
Select <span style="font-weight: bold;">Users, Computers, Service Accounts, 
 or Groups</span> window opens.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">j.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 service account name in the Enter the object names to select field and 
 click Check names. Windows shows the user found in system.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">k.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">OK</span>,<span style="font-weight: bold;"> 
 i</span>f the user name displayed is correct. The Service Account is added. 
 <br />
Else, select <span style="font-weight: bold;">Advanced</span> to select 
 the user.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">l.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Apply</span> to save the changes and 
 click <span style="font-weight: bold;">OK</span> to close the subwindow.</p>
<p style="font-weight: bold; margin-left: 48px; text-decoration: underline; ">On 
 Windows Server 2012 R2</p>
<p class="list" style="margin-left: 48px;">To add service account to local 
 security policy, perform the following,</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>In Windows<span 
	 style="font-weight: bold;"> Start</span>,<span style="font-weight: bold;"> 
 </span>click<span style="font-weight: bold;"> Administrative Tools &gt; 
 Local Security Policy</span>.<br />
The <span style="font-weight: bold;">Local Security Policy</span> window 
 opens.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click<span 
	 style="font-weight: bold;"> Local Policies &gt; User Rights Assignments</span> 
 available on left-pane.<br />
The right-pane shows the policies.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Locate 
 <span style="font-weight: bold;">Logon as Batch Job</span> settings and 
 double-click on it.<br />
The <span style="font-weight: bold;">Logon as Batch Job Properties</span> 
 window opens.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add User or Group. </span><br />
The <span style="font-weight: bold;">Select Users and Group </span>window 
 opens.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 service account name in the <span style="font-weight: bold;">Enter the 
 object names to select</span> field.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">f.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">OK</span>. The Service Account is added. 
 </p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">g.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Apply</span> to save the changes and 
 click <span style="font-weight: bold;">OK</span> to close the subwindow.</p>
<br style="page-break-before: always;" />

<h2>Installing SCIM Server</h2>
<p>To install SCIM Server, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Navigate 
 to the location where the <span style="font-weight: bold;">scimserver&lt;versionnumber&gt;.zip</span> 
 file is available on your computer.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Copy the 
 <span style="font-weight: bold;">scimserver&lt;versionnumber&gt;.zip</span> 
 file to the required location and extract the contents to a folder.</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The name specified for SCIM Server folder (where the content of 
		 the SCIM Server is extracted) must not contain space. </p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">Command</span> <span style="font-weight: bold;">Prompt</span> 
 <span style="font-weight: bold;">as Administrator</span> (use <span style="font-weight: bold;">Run 
 as Administrator</span> option) and navigate to the location of the folder 
 where the contents of the <span style="font-weight: bold;">scimserverV1.2.zip 
 </span>file is extracted.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Run the 
 command <span style="font-weight: bold; font-style: italic;">installserver.bat 
 &lt;Service Account Name&gt; &lt;Service Account Password&gt;</span></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Service Account Name</span> - Service Account 
 under whose context the SCIM Server will run<span style="color: rgb(34, 34, 34); 
													 font-family: Calibri, sans-serif; 
													 font-size: 14.6667px; 
													 font-variant-ligatures: normal; 
													 font-variant-caps: normal; 
													 orphans: 2; text-indent: 0px; 
													 widows: 2; -webkit-text-stroke-width: 0px; 
													 background-color: #ffffff; 
													 text-decoration-style: initial; 
													 text-decoration-color: initial; 
													 display: inline	 ! important ; 
													 float: none;">.</span></p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Specify the Service Account Name without prefixing the domain. 
		 Installer obtains the domain information from the computer directly. 
		 </p></td>
	</tr>
 </table>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Service Account Password</span> - Password 
 of the corresponding Service Account.<br />
<br />
Example: <span style="font-weight: bold; font-style: italic;">installserver.bat 
 tuebora Secret!@34</span><br />
<br />
After the installation is completed, the command prompt shows the message 
 <span style="font-weight: bold;">Tuebora SCIM Server installation completed</span>. 
 For Tuebora SCIM Server, a task is created in the Task Scheduler and automatically 
 started.<span style="font-weight: bold;"> </span></p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 If the SCIM Server folder contains space, then the Tuebora SCIM 
		 Server task in Task Scheduler does not start automatically. You 
		 must run the task manually. </p></td>
	</tr>
 </table>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;">Accessing SCIM Server 
 UI</h3>
 <p>To verify whether the SCIM Server installation is completed successfully, 
 you must access the SCIM Server UI. When you access the SCIM Server UI 
 for the first time, system prompts you to change the default password. 
 Specify the new password to log in to the SCIM Server UI. </p>
 <p>For more information accessing the server UI, see <a href="SCIM_Server_UI.htm" 
														 id="a1" style="position: relative;">SCIM 
 Server UI</a>.<br />
<br />
</p>

<br style="page-break-before: always;" />

 <h3>Viewing Tuebora SCIM Server Task Schedule</h3>
 <p>To view the Tuebora SCIM Server task scheduled, perform the following</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click<span 
	 style="font-weight: bold;"> Windows Start &gt;</span> open <span style="font-weight: bold;">Task 
 Scheduler</span>.<br />
The <span style="font-weight: bold;">Task</span> <span style="font-weight: bold;">Scheduler</span> 
 opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Task Scheduler Library</span> available 
 on the left-panel.<br />
The scheduled tasks are displayed on right-panel. You can view a schedule 
 - <span style="font-weight: bold;">Tuebora SCIM Server</span> listed in 
 the library.<br />
<br />
Following figure shows an example Task Scheduler with Tuebora SCIM Server 
 task.<br />
<br />
<img src="Images/Task_Scheduler.png" alt="" style=" border:none; width:100%; max-width:845px;" border="0" /></p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 If the SCIM Server folder contains space, then the Tuebora SCIM 
		 Server task in Task Scheduler does not start automatically. The 
		 task status is displayed as <span style="font-weight: bold;">Ready</span>.</p>
		<p class="TableText">You must start the task manually. To run the 
		 task, right-click on Tuebora SCIM Server task and select <span 
		 style="font-weight: bold;">Run</span>.</p></td>
	</tr>
 </table>
 <h2>Uninstalling SCIM Server</h2>
 <p>If you want to uninstall the SCIM Server, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click<span 
	 style="font-weight: bold;"> </span>Windows<span style="font-weight: bold;"> 
 Start &gt;</span> open <span style="font-weight: bold;">Task Scheduler</span>.<br />
The <span style="font-weight: bold;">Task</span> <span style="font-weight: bold;">Scheduler</span> 
 opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Task Scheduler Library</span> available 
 on the left-panel.<br />
The scheduled tasks are displayed on right-panel.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Right-click</span> on the <span style="font-weight: bold;">Tuebora 
 SCIM Server</span> task and select <span style="font-weight: bold;">End</span> 
 to stop the service.<br />
Task Scheduler displays a confirmation message to stop the task. Click 
 <span style="font-weight: bold;">Yes</span> to confirm.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Right-click</span> on the <span style="font-weight: bold;">Tuebora 
 SCIM Server</span> task and select <span style="font-weight: bold;">Delete</span>.<br />
The task is deleted from the library of tasks and SCIM Server is uninstalled.</p>














&#160; 
 <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="SCIM_Server.htm" id="a6" style="color: #008000; position: relative;">SCIM 
		 Server</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Installing_SCIM_Server_on_Linux_or_Mac.htm" id="a7" style="color: #008000; 
		 position: relative;">Installing SCIM Server on Linux or Mac</a></p></td>
	</tr>
 </table>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	InitEffects('a112','');
	InitEffects('a2','');
	InitEffects('a3','');
	InitEffects('a1','');
	InitEffects('a6','');
	InitEffects('a7','');
	InitEffects('a4','');
	InitEffects('a5','');
	InitEffects('a111','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
