
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - My Connectors Management</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1_2";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="848">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Download_the_Connector.htm" id="a28" style="color: #008000; 
		 position: relative;">Download the Connector</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="My_Company_Connectors.htm" id="a29" style="color: #008000; 
		 position: relative;">My Company Connectors Management</a></p></td>
	</tr>
 </table>
 <h1>My Connectors Management</h1>
 <p>Tuebora provides the SCIM Connector Designer Tool to develop connectors 
 for integration with different kinds of application in an organization. 
 A connector enables exchange of data between the Client (Tuebora or Third 
 Party IAM or ITSM or GRC solutions) and a Target Application.</p>
 <p>Tuebora SCIM Server uses connectors to perform operations on target 
 applications. Tuebora provides connectors for common enterprise applications. 
 You can develop custom connectors for your own applications.</p>
 <p>To create and manage connectors in the Tuebora SCIM Designer Portal, 
 you can use the following features:</p>
 <ul style="list-style: disc;">
	<li style="margin-left: -20px; font-weight: normal;">
 <p class="list" 
															 style="margin-top: 5pt; 
															 margin-bottom: 5pt;"><a 
	 href="#My_Connectors_-_New" id="a31" style="position: relative;">New</a> 
	 </p></li>
	<li style="margin-left: -20px;">
 <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;"><a href="#My_Connectors_-_Drafts" 
	 id="a32" style="position: relative;">Drafts</a></p></li>
	<li style="margin-left: -20px; font-weight: normal;">
 <p class="list" 
															 style="margin-top: 5pt; 
															 margin-bottom: 5pt;"><a 
	 href="#My_Connectors_-_Completed" id="a33" style="position: relative;">Completed</a></p></li>
</ul>
<h2><a name="My_Connectors_-_New" id="My_Connectors_-_New" style="position: relative;"></a>My 
 Connectors - New</h2>
<p>If you want to create a new connector to integrate an application, you 
 can use the <span style="font-weight: bold;">My Connector - New</span> 
 option. To develop a connector, you must decide the type of the connector, 
 based on the connection protocol supported by the application. </p>
<p>The SCIM Connector Design tool supports the following application connection 
 mechanisms:</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Web Service 
 - REST Protocol</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Database 
 connection (JDBC)</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Scripted 
 - Powershell, Shellscript,</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Lightweight 
 Directory Access Protocol (LDAP)</p>
<p>For more information on developing connectors based on the protocol 
 supported by the application, see</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Web Service</p>
<p style="text-indent: -20px; 
											 margin-left: 120px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="Develop_HTTP_REST_Connector.htm" 
	 id="a34" style="position: relative;">REST Protocol</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="Develop_Database_Connector.htm" 
	 id="a35" style="position: relative;">Database Connection</a>: You 
 can create connectors for the databases,</p>
<p style="text-indent: -20px; 
											 margin-left: 120px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>MySQL 
 </p>
<p style="text-indent: -20px; 
											 margin-left: 120px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>AS400</p>
<p style="text-indent: -20px; 
											 margin-left: 120px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Oracle</p>
<p style="text-indent: -20px; 
											 margin-left: 120px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Postgres</p>
<p style="text-indent: -20px; 
											 margin-left: 120px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Microsoft 
 SQL Server</p>
<p style="text-indent: -20px; 
											 margin-left: 120px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>IBM DB2</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="Develop_Script_Connector.htm" 
	 id="a36" style="position: relative;">Scripted</a> </p>
<p style="text-indent: -20px; 
											 margin-left: 120px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Powershell 
 </p>
<p style="text-indent: -20px; 
											 margin-left: 120px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Other 
 (Script connector for proprietary APIs)</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="Develop_LDAP_Connector.htm" 
	 id="a41" style="position: relative;">Lightweight Directory Access 
 Protocol (LDAP)</a></p>
<h2><a name="My_Connectors_-_Drafts" id="My_Connectors_-_Drafts" style="position: relative;"></a>My 
 Connectors - Drafts</h2>
<p>A draft is a version of a connector which is not submitted. Tuebora 
 SCIM Connector Portal creates a draft whenever you add a new connector 
 buy you have not submitted the connector.</p>
<p>In portal, drafts are created by:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Auto-save</span> 
	 - When you are working on a new connector, that you have not submitted, 
	 SCIM Portal saves the changes every 2 minutes and creates it as a 
	 draft. If you get interrupted and close the Connector development 
	 Wizard, your connector is saved in your <span style="font-weight: bold;">Drafts</span> 
	 page and you can resume editing or submit.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Manually</span> 
	 - &#160;You can save the connector draft manually by clicking <span 
	 style="font-weight: bold;">Save as Draft</span> button available on 
	 the Connector Development Wizard.</p></li>
</ul>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Under <span style="font-weight: bold;">My Connectors </span>menu, 
		 <span style="font-weight: bold;">Drafts</span> menu is displayed 
		 only when there are drafts saved in the portal.</p></td>
	</tr>
 </table>
 <p class="list">&#160;This topic provides information about features available 
 in <span style="font-weight: bold;">My</span> <span style="font-weight: bold;">Connectors</span> 
 <span style="font-weight: bold;">- Drafts </span>page. It is divided into 
 the following sections:</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Editing_Drafts" 
	 id="a3" style="position: relative;">Edit Draft - Resume your work</a></p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Deleting_Drafts" 
	 id="a8" style="position: relative;">Delete Draft</a> </p>
 <h4 style="font-size: 10pt;"><span style="font-size: 10pt;">Navigation</span></h4>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">You can access the <span style="font-weight: bold;">Drafts 
		 </span>page by selecting <span style="font-weight: bold;">My Connectors 
		 &gt; Drafts</span>.</p></td>
	</tr>
 </table>
 <h3><a name="Editing_Drafts" id="Editing_Drafts" style="position: relative;"></a>Editing 
 Drafts</h3>
 <p>To resume working on your not submitted connector, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My Connectors &#160;&gt; Drafts</span>.<br />
The <span style="font-weight: bold;">My Drafts </span>page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the connector that you want to edit.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">View</span> <span style="font-weight: bold;">Actions 
 &gt; Edit Draft</span>.<br />
The SCIM Connector Wizard appears. The wizard displays the step when the 
 draft was last saved.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Edit the 
 connector as required.<span style="text-indent: -20px;"> The updates are 
 saved as draft till you submit it.</span></p>
 <h3><a name="Deleting_Drafts" id="Deleting_Drafts" style="position: relative;"></a>Deleting 
 Drafts</h3>
 <p>If you are not resuming work on connector saved as draft, you can delete 
 it from the Tuebora SCIM Designer Portal.</p>
 <p>To delete a draft, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My Connectors &#160;&gt; Drafts</span>.<br />
The <span style="font-weight: bold;">My Drafts </span>page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the connector that you want to edit.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">View</span> <span style="font-weight: bold;">Actions 
 &gt; Delete Draft</span>. A subwindow opens asking for confirmation to 
 delete the connector.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Click </span><span style="text-indent: -20px; 
													 font-weight: bold;">Yes</span><span 
	 style="text-indent: -20px;">. The draft is deleted from the list of 
 available drafts.</span></p>
 <h2><a name="My_Connectors_-_Completed" id="My_Connectors_-_Completed" 
		 style="position: relative;"></a>My Connectors - Completed</h2>
 <p>This section provides information about features available in <span 
	 style="font-weight: bold;">My</span> <span style="font-weight: bold;">Connectors</span> 
 <span style="font-weight: bold;">- Completed</span> page. It is divided 
 into the following sections:</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Add_Connector" 
	 id="a1" style="position: relative;">Add Connector</a></p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Editing_Connector" 
	 id="a2" style="position: relative;">Edit Connector - Connection Details</a></p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Editing_Data_Collection" 
	 id="a26" style="position: relative;">Edit a Data Collection</a></p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Editing_Operations" 
	 id="a27" style="position: relative;">Edit an Operation</a></p>
 <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Adding_Data_to_be_Collected" id="a4" style="position: relative;">Add 
 Data to be Collected</a></p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Adding_Operations" 
	 id="a5" style="position: relative;">Add Operation</a></p>
 <p style="margin-left: 100px; 
	 text-indent: -20px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#CopyConnector" 
	 id="a6" style="position: relative; ">Copy Connector</a></p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Downloading_Connector" 
	 id="a7" style="position: relative;">Download Connector</a></p>
 <p style="margin-left: 100px; 
											 margin-top: 5pt; margin-bottom: 5pt; 
											 text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Deleting_a_Data_Collection" 
	 id="a37" style="position: relative;">Delete a Data Collection</a></p>
 <p style="margin-left: 100px; 
											 margin-top: 5pt; margin-bottom: 5pt; 
											 text-indent: -20px; position: relative;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Deleting_an_Operation_" id="a38" style="position: relative;">Delete 
 an Operation</a></p>
 <p style="margin-left: 100px; 
											 margin-top: 5pt; margin-bottom: 5pt; 
											 text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Deleting_Connector_" 
	 id="a9" style="position: relative;">Delete Connector</a></p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt; position: relative;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Viewing_API_Documentation" id="a10" style="position: relative;">View 
 REST API Documentation</a></p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_JAVA_Documentation" 
	 id="a39" style="position: relative;">View JAVA Documentation</a></p>
 <h4 style="font-size: 10pt;">Navigation</h4>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">You can access the <span style="font-weight: bold;">My 
		 Connectors </span>page by selecting <span style="font-weight: bold;">My 
		 Connectors &gt; Completed</span>.</p></td>
	</tr>
 </table>
 <h3><a name="Add_Connector" id="a11" style="position: relative;"></a>Adding 
 Connector</h3>
 <p>If you want to create a new connector to integrate an application, you 
 can use the <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Connector</span> 
 option. To develop a connector, you must decide the type of the connector, 
 based on the connection protocol supported by the application. </p>
 <h3><a name="Editing_Connector" id="a13" style="position: relative;"></a>Editing 
 Connector</h3>
 <p>You can edit the <span style="font-weight: bold;">Connection</span> 
 details provided for a connector using the <span style="font-weight: bold;">Edit</span> 
 <span style="font-weight: bold;">Connector</span> option. For more information 
 on updating the details of the existing connector operations and data 
 to be collected, see <a href="#Editing_Operations" id="a14" style="position: relative;">Editing 
 Operations</a> and <a href="#Editing_Data_Collection" id="a23" style="position: relative;">Editing 
 Data Collections</a>.</p>
 <p>To edit the connection details, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My</span> <span style="font-weight: bold;">Connectors 
 &gt; Completed</span>.<br />
The <span style="font-weight: bold;">My Connectors</span> page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the connector that you want to edit from the left navigation menu.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Settings</span> (<img src="Images/Icon_Settings.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" />) 
 icon and select <span style="font-weight: bold;">Edit</span> <span style="font-weight: bold;">Connector</span>.<br />
The <span style="font-weight: bold;">Edit Connector - &lt;connector name&gt;</span> 
 window opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Edit the 
 details as required.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>. 
 The connection details of the connector are updated.</p>
 <h3><a name="Editing_Data_Collection" id="Editing_Data_Collection" style="position: relative;"></a>Editing 
 Data Collections</h3>
 <p>To edit the existing data collection configured for a connector, perform 
 the following:</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My</span> <span style="font-weight: bold;">Connectors 
 &gt; Completed</span>.<br />
The <span style="font-weight: bold;">My Connectors</span> page appears. 
 </p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click the <span style="font-weight: bold;">Connector 
 Name</span> listed on the left panel on the page.<br />
The operations, data collection, REST API, Java documentation related to 
 the connector is displayed on the right panel.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Data</span> 
 <span style="font-weight: bold;">Collection</span> on the right panel.<br />
By default, this tab is selected when you select a connector to view details.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To edit a data collection, click <img src="Images/Icon_Edit.png" alt="" style=" border:none; width:100%; max-width:24px;" border="0" /> corresponding to the data 
 collection. <br />
The <span style="font-weight: bold;">Specify information about Data to 
 be collected</span> opens. </p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Make the required updates.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="text-indent: -20px;">Click </span><span 
	 style="text-indent: -20px; font-weight: bold;">Save changes</span><span 
	 style="text-indent: -20px;">.</span></p>
 <h3><a name="Editing_Operations" id="Editing_Operations" style="position: relative;"></a>Editing 
 Operations</h3>
 <p>To edit the existing operations configured for a connector, perform 
 the following:</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My</span> <span style="font-weight: bold;">Connectors 
 &gt; Completed</span>.<br />
The <span style="font-weight: bold;">My Connectors</span> page appears. 
 </p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click the <span style="font-weight: bold;">Connector 
 Name</span> listed on the left panel on the page.<br />
The operations, data collection, REST API, Java documentation related to 
 the connector is displayed on the right panel.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Operations</span> 
 on the right panel.<br />
The operations configured for the connector are displayed.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To edit an operation, click <img src="Images/Icon_Edit.png" alt="" style=" border:none; width:100%; max-width:24px;" border="0" /> 
 corresponding to the operation. <br />
The <span style="font-weight: bold;">Edit Operation &lt; Operation Name&gt;</span> 
 opens. </p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Make the required updates.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Save changes</span>. 
 </p>
 <h3><a name="Adding_Data_to_be_Collected" id="a16" style="position: relative;"></a>Adding 
 Data to be Collected</h3>
 <p>If you want to add information about a new data to be collected for 
 an existing connector, you can use <span style="font-weight: bold;">Add 
 Data to be Collected</span> option.</p>
 <table class="Note" style="border-left-color: #000000; border-right-color: #000000; 
		 border-top-color: #000000; border-bottom-color: #000000; left: 0px; 
		 top: 407px;" cellspacing="0px" width="100%" bgcolor="#FFDFDF">
	<col style="width: 100%;" />
	<tr style="height: 59px;">
		<td>
  <h3 style="margin-top: 5pt;">Scenario</h3>
		<p class="TableText">Xanadufinancials initially created a connector 
		 for their CRM application - Odoo for collecting only User data. 
		 Now wants to extend the Connector for collecting Group Data.</p></td>
	</tr>
 </table>
 <p>To add information about a data to be collected for a connector, perform 
 the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 My <span style="font-weight: bold;">Connectors</span> <span style="font-weight: bold;">&gt; 
 Completed</span>.<br />
The <span style="font-weight: bold;">My Connectors</span> page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold;">Connector Name</span> listed on the 
 left panel on the page.<br />
The operations, data collection, REST API, Java documentation related to 
 the connector is displayed on the right panel.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Data</span> <span style="font-weight: bold;">Collection</span> 
 on the right panel.<br />
By default, this tab is selected when you select a connector to view details.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Data to be Collected</span>.<br />
The <span style="font-weight: bold;">Specify information about Data to 
 be collected</span> window opens.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type a name for the data collected using this 
 connector in the <span style="font-weight: bold;">Specify Name for Data</span> 
 field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Groups</p></td>
	</tr>
 </table>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the name of the file to which the data collected using this connector 
 to be written in the <span style="font-weight: bold;">Specify Name of 
 the File to which Data will be written into </span>field.<br />
<br />
By default, the name specified for data will be auto-populated in the <span 
	 style="font-weight: bold;">Specify Name of the File to which Data 
 will be written into </span>field. If required, you can type the required 
 file name.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 groups.csv</p></td>
	</tr>
 </table>
 <p class="list" style="margin-top: 2pt; margin-bottom: 2pt;">&#160;</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The file name should not contain Capital Letters, Special Characters, 
		 and Space. The data file will be saved only in CSV file format.</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select the option <span style="font-weight: bold;"><a 
	 href="Glossary.htm#Master_Master-details" id="a17" style="position: relative;">Master/Master-Detail</a> 
 Data collected by single command </span>in the <span style="font-weight: bold;">Specify 
 data that is being collected</span> section. </p>
 <p class="list" style="margin-left: 50px; 
											 margin-top: 5pt; margin-bottom: 5pt; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the command to be invoked for collecting Group data from the database 
 in the <span style="font-weight: bold;">Master/Master-Detail Data collected 
 by single command </span>field.</p>
 <table class="Example" style=" margin-left:48px; left:0px; top:6491px; width:100%; max-width:827px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr style="height: 24px;">
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 SELECT gr.id as unique_id,gr.name as name,gr.comment as description,gr.create_date 
		 as created_on,gr.write_date as last_modified_on,is_portal,share 
		 FROM res_groups gr</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>In <span 
	 style="font-weight: bold;">What are the headers in the file to which 
 data will be returned </span>field specify the header names and the corresponding 
 values to be returned in the csv file created for data collection, if 
 required.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Data to be Collected</span>. <br />
The subwindow closes and the details of the data to be collected is listed 
 in the <span style="font-weight: bold;">Data Collection</span> page.</p>
 <h3><a name="Adding_Operations" id="a18" style="position: relative;"></a>Adding 
 Operations</h3>
 <p>If you want to add new Operations for an existing connector, you can 
 use <span style="font-weight: bold;">Add Operations </span>option.</p>
 <table class="Note" style="border-left-color: #000000; border-right-color: #000000; 
		 border-top-color: #000000; border-bottom-color: #000000; left: 0px; 
		 top: 407px;" cellspacing="0px" width="100%" bgcolor="#FFDFDF">
	<col style="width: 100%;" />
	<tr style="height: 59px;">
		<td>
  <h3 style="margin-top: 5pt;">Scenario</h3>
		<p class="TableText">Xanadufinancials wants to add the operation 
		 - <span style="font-weight: bold;">Update all attributes of User</span> 
		 for the connector created for integrating Okta. </p></td>
	</tr>
 </table>
 <p>To add new operation, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My</span> <span style="font-weight: bold;">Connectors 
 &gt; Completed</span>.<br />
The <span style="font-weight: bold;">My Connectors</span> page appears. 
 </p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click the <span style="font-weight: bold;">Connector 
 Name</span> listed on the left panel on the page.<br />
The operations, data collection, REST API, Java documentation related to 
 the connector is displayed on the right panel.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Operations</span> 
 on the right panel.<br />
The operations configured for the connector are displayed.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Operation</span>.<br />
The <span style="font-weight: bold;">Add Operation</span> window opens.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The fields displayed in <span style="font-weight: bold;">Add Operations</span> 
		 window will differ based on the connection protocol specified 
		 for a Connector for which you are adding a new operation. In the 
		 current scenario we are adding new operation for a REST Connector.</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select the resource from the drop-down list available 
 in the <span style="font-weight: bold;">On which Resource is this Operation 
 performe</span>d field.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:40.594%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 User</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the type of operation from the drop-down list available in the <span style="font-weight: bold;">What 
 is the type of Operation </span>field.</p>
 <table class="Example" style=" left:0px; top:11695px; margin-left:48px; width:100%; max-width:445px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Update all attribute of User</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>In the 
 <span style="font-weight: bold;">Specify command to be invoked for this 
 operation</span> field, specify the following details:</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Command</span> to invoke the Operation.</p>
 <table class="Example" style=" left:0px; top:12423px; margin-left:84px; width:100%; max-width:451px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 https://xanadufinancials.okta.com/api/v1/users/&lt;id&gt;</p></td>
	</tr>
 </table>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 80px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold;">HTTP</span> <span style="font-weight: bold;">Method</span> 
 supported by the target application to perform the operation.</p>
 <table class="Example" style=" left:0px; top:12490px; margin-left:84px; width:100%; max-width:454px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 PUT</p></td>
	</tr>
 </table>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 80px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold;">Content-Type</span> Header. </p>
 <table class="Example" style=" left:0px; top:12490px; margin-left:84px; width:100%; max-width:454px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 applcation/json</p></td>
	</tr>
 </table>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 80px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Raw Headers</span> - The Content-Type selected 
 for the operation is displayed in this field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 80px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Headers Form</span> - The Content-Type 
 selected for the operation is displayed in this field</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the <a href="Glossary.htm#Request_Body_Message_Body" id="a19" style="position: relative;">message 
 body</a> required for performing the operation in <span style="font-weight: bold;">Specify 
 request body for this operation </span>field.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Depending on the type of the connector for which you are adding 
		 the operation, you must use the applicable <span style="font-weight: bold;">bind</span> 
		 <span style="font-weight: bold;">variables</span> for parameters 
		 for which values must be updated. </p>
		<p class="TableText">&#160;</p>
		<p class="TableText" style="font-weight: bold;">Example</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">For developing 
			 Database connectors to invoke operations in the application, 
			 you must use SQL query rules. Use <span style="font-weight: bold;">Single 
			 Quote (' ')</span> for fixed value separation and <span style="font-weight: bold;">Colon 
			 (:)</span> for parameters.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">For REST 
			 Connectors, while specifying the request body for an operation 
			 for REST Connector, use <span style="font-weight: bold;">Angle 
			 Brackets &lt; &gt;</span> for the parameters for which the 
			 values must be updated. </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">For developing 
			 Script connectors to invoke operations in the application, 
			 you must use <span style="font-weight: bold;">Dollar sign</span> 
			 <span style="font-weight: bold;">$</span> for the parameters 
			 for which the values must be updated.</p></li>
		</ul>
		<p class="TableText">&#160;</p>
		<p class="TableText">In the current scenario, we are adding new 
		 operation for REST connector. Hence, <span style="font-weight: bold;">Angle 
		 Brackets &lt; &gt; </span>are used for<span style="font-weight: bold;"> 
		 </span>the parameters for which the values must be updated.</p></td>
	</tr>
 </table>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">&#160;</p>
 <table class="Example" style=" left:0px; top:12490px; margin-left:48px; width:100%; max-width:454px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 {</p>
		<p class="TableText">&quot;profile&quot;: {</p>
		<p class="TableText">&quot;lastName&quot;: &quot;&lt;lastName&gt;&quot;,</p>
		<p class="TableText">&quot;email&quot;: &quot;&lt;email&gt;&quot;,</p>
		<p class="TableText">&quot;login&quot;: &quot;&lt;login&gt;&quot;,</p>
		<p class="TableText">&quot;firstName&quot;: &quot;&lt;firstName&gt;&quot;</p>
		<p class="TableText">}</p>
		<p class="TableText">}</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the parameters that are part of the request body and their mapping to 
 corresponding SCIM Schema attribute in <span style="font-weight: bold;">What 
 are the Parameters for this Operation</span> section.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Some commands specified for invoking operations in the target 
		 application may not require Parameter(s). In such scenarios, you 
		 can skip defining parameters for the operation.</p></td>
	</tr>
 </table>
 <p>In the current scenario, to updated attributes of users, you must specify 
 parameters and map the attribute to the SCIM schema attribute.</p>
 <table class="Example" style=" margin-left:48px; width:100%; max-width:93.98%;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 To update specific attribute of user in Okta following Parameters 
		 must be specified and mapped to SCIM Schema attributes.</p>
		<p class="TableText">&#160;</p>
		<table class="Note" style="margin-left: 24px; left: 0px; top: 19px; 
				 border-left-color: #000000; border-right-color: #000000; 
				 border-top-color: #000000; border-bottom-color: #000000;" cellspacing="0px">
			<col width="167" />
			<col width="255" />
			<tr style="height: 31px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
					 bgcolor="#8080C0">
    <p class="TableText"><span style="color: #ffffff; 
				 font-weight: bold;">Parameter</span></p></td>
				<td style="border-bottom: Solid 1px #000000;" bgcolor="#8080C0">
    <p 
					 class="TableText"><span style="color: #ffffff; font-weight: bold;">SCIM 
				 User Schema Attribute</span></p></td>
			</tr>
			<tr style="height: 31px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
					 background-color: Transparent;">
    <p class="TableText">firstName</p></td>
				<td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText" style="color: #000000;">$.name.givenName</p></td>
			</tr>
			<tr style="height: 31px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
					 background-color: Transparent;">
    <p class="TableText" 
														 style="color: #000000;">lastName</p></td>
				<td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText" style="color: #000000;">$.name.familyName</p></td>
			</tr>
			<tr style="height: 34px;">
				<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
					 background-color: Transparent;">
    <p class="TableText" 
														 style="color: #000000;">email</p></td>
				<td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText" style="color: #000000;">$.emails.value</p></td>
			</tr>
			<tr style="height: 31px;">
				<td style="border-right: Solid 1px #000000; background-color: Transparent;">
    <p 
					 class="TableText" style="color: #000000;">secondEmail</p></td>
				<td style="background-color: Transparent;">
    <p class="TableText" 
					 style="color: #000000;">$.emails.primary</p></td>
			</tr>
		</table></td>
	</tr>
</table>
<p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Operation</span>. 
 <br />
The subwindow closes and the operation added is displayed on the <span 
	 style="font-weight: bold;">Resources and Operations</span> page.</p>
<h3><a name="CopyConnector" id="CopyConnector" style="position: relative; "></a>Creating 
 a Connector Copy</h3>
<p>If you want to create a new connector with same set of entities from 
 which data must be collected and same set of operations to performed on 
 target application as that of an existing connector, then you can use 
 the <span style="font-weight: bold;">Copy</span> <span style="font-weight: bold;">Connector</span> 
 option.<br />
<br />
After copying the connector, you can edit it to add or delete the operations 
 and entities from which the data must be collected. </p>
<p>&#160;</p>
<table class="Example" style=" left:0px; top:1519px; margin-left:24px; width:100%; max-width:802px;" cellspacing="0">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="font-weight: bold;">Example</p>
		<p class="TableText">Xanadufinancials uses Active Directory for 
		 user account management and they have <span style="font-weight: bold;">Three 
		 Domains</span> and there is no trust between these Domains. They 
		 want to integrate all three domains with Tuebora for access management.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Xanadufinancials has developed a custom connector 
		 to integrate Domain 1. Now,wants to develop connector for Domain 
		 2 and Domain 3. For the new connectors the operations that must 
		 be performed are same as Domain 1. Hence it wants to copy the 
		 custom connector and update it as per the requirement.</p></td>
	</tr>
 </table>
 <p>To create a connector copy, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To 
 create a connector copy, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Login 
 to <a href="https://scim.tuebora.com" target="_blank" id="a161" style="font-weight: normal; 
		 position: relative;">https://scim.tuebora.com</a> by specifying 
 your SCIM portal account credentials.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My Connectors &gt; Completed</span> tab.<br />
The <span style="font-weight: bold;">My Connectors </span>page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the connector that you want to edit from the left navigation menu.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Settings</span> (<img src="Images/Icon_Settings.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" />) 
 icon and select <span style="font-weight: bold;">Copy Connector</span>.<br />
The <span style="font-weight: bold;">Copy Connector - &lt;Connector Name&gt;</span> 
 subwindow opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>By default, 
 the Application name for the connector will be displayed. If you want 
 to type specific name, then type the value in the <span style="font-weight: bold;">Application</span> 
 field.<br />
<br />
<span style="font-weight: bold;">Example</span>: OneLogin1</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Copy</span> <span style="font-weight: bold;">Connector</span> 
 to make a copy of the connector.<br />
The subwindow closes. The copied connector is displayed on <span style="font-weight: bold;">My</span> 
 <span style="font-weight: bold;">Connectors</span> page.</p>
 <h3><a name="Downloading_Connector" id="a21" style="position: relative;"></a>Downloading 
 Connector</h3>
 <p>To deploy the connector on SCIM Server, you must download the connector 
 from the Tuebora SCIM Designer Portal.</p>
 <p>To download the connector when required, perform the following</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log in 
 to Tuebora SCIM Designer Portal - <a href="http://scim.tuebora.com" target="_blank" 
										 id="a22" style="font-weight: normal; 
										 position: relative;">https://scim.tuebora.com</a> 
 using your portal account credentials.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 My <span style="font-weight: bold;">Connectors</span> <span style="font-weight: bold;">&gt; 
 Completed</span>.<br />
The <span style="font-weight: bold;">My Connectors</span> page appears. 
 </p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold;">Connector</span> that you want to 
 download from left panel on the page.<br />
The operations, data collection, REST API, Java documentation related to 
 the connector is displayed on the right panel.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Settings</span> (<img src="Images/Icon_Settings.png" alt="" style=" border:none; width:100%; max-width:21px;" border="0" />) 
 icon and select <span style="font-weight: bold;">Download Connector</span>.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>SCIM 
 Portal prompts you to save or open the file.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">File 
 &gt; OK</span>. File downloads on your computer. Copy the ZIP file to 
 the required location.</p>
 <h3><a name="Deleting_a_Data_Collection" id="Deleting_a_Data_Collection" 
		 style="position: relative;"></a>Deleting a Data Collection</h3>
 <p>If an data collection configured for connector in no longer required, 
 you can delete that data collection.</p>
 <p>To delete a data collection, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My</span> <span style="font-weight: bold;">Connectors 
 &gt; Completed</span>.<br />
The <span style="font-weight: bold;">My Connectors</span> page appears. 
 </p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click the <span style="font-weight: bold;">Connector 
 Name</span> listed on the left panel on the page.<br />
The operations, data collection, REST API, Java documentation related to 
 the connector is displayed on the right panel.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Data</span> 
 <span style="font-weight: bold;">Collection</span> on the right panel.<br />
By default, this tab is selected when you select a connector to view details.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To delete a data collection, click <img src="Images/Icon_Delete.png" alt="" style=" border:none; width:100%; max-width:23px;" border="0" /> corresponding to the data 
 collection. A subwindow opens asking for confirmation to delete the data 
 collection.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Yes</span>. 
 The data collection is deleted from the list of data collection displayed 
 for the connector.</p>
 <h3><a name="Deleting_an_Operation_" id="Deleting_an_Operation_" style="position: relative;"></a>Deleting 
 an Operation </h3>
 <p>If an operation or data collection configured for connector in no longer 
 required, you can delete that operation or data collection.</p>
 <p>To delete an operation or data collection, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My</span> <span style="font-weight: bold;">Connectors 
 &gt; Completed</span>.<br />
The <span style="font-weight: bold;">My Connectors</span> page appears. 
 </p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click the <span style="font-weight: bold;">Connector 
 Name</span> listed on the left panel on the page.<br />
The operations, data collection, REST API, Java documentation related to 
 the connector is displayed on the right panel.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Operations 
 </span>on the right panel.<br />
The operations configured for the connector are displayed.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To delete an operation, click <img src="Images/Icon_Delete.png" alt="" style=" border:none; width:100%; max-width:23px;" border="0" /> 
 corresponding to the operation. A subwindow opens asking for confirmation 
 to delete the operation.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Yes</span>. 
 The operation is deleted from the list of operations displayed for the 
 connector.</p>
 <h3><a name="Deleting_Connector_" id="a24" style="position: relative;"></a>Deleting 
 Connector </h3>
 <p>If you are no longer using a connector developed for integration an 
 application, you can delete it from the Tuebora SCIM Designer Portal.<br />
<br />
To delete a connector, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 My <span style="font-weight: bold;">Connectors &gt; Completed</span>.<br />
The <span style="font-weight: bold;">My Connectors</span> page appears. 
 </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold;">Connector</span> that you want to 
 delete from left panel on the page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Settings</span> (<img src="Images/Icon_Settings.png" alt="" style=" border:none; width:100%; max-width:21px;" border="0" />) 
 icon and select <span style="font-weight: bold;">Delete Connector</span>. 
 A subwindow opens asking for confirmation to delete the connector.<br />
<br />
<img src="Images/DeleteConnector_Confirmation.png" alt="" style=" border:none; width:100%; max-width:471px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Click </span><span style="text-indent: -20px; 
													 font-weight: bold;">Yes</span><span 
	 style="text-indent: -20px;">. The connector is deleted from the list 
 of available connectors.</span></p>
 <h3><a name="Viewing_API_Documentation" id="a25" style="position: relative;"></a>Viewing 
 REST API Documentation</h3>
 <p>When you develop connectors in Tuebora SCIM Designer Portal the REST 
 API documentation is created for each of the connector:</p>
 <p style="margin-top: 5pt; margin-bottom: 5pt;">To view the REST API documentation 
 related to a connector, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My</span> <span style="font-weight: bold;">Connectors 
 &gt; Completed</span>.<br />
The <span style="font-weight: bold;">My Connectors</span> page appears. 
 </p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the connector for which you want to view REST API documentation from left 
 panel on the page.<br />
The operations, data collection, REST API, Java documentation related to 
 the connector is displayed on the right panel.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">REST API</span>.<br />
It shows the API documentation related to the selected connector.<br />
<br />
For more information on how to use REST API documentation, see <a href="Viewing_API_Documentation.htm" 
	 id="a12" style="position: relative;">API and Java Documentation</a>.</p>
 <h3><a name="Viewing_JAVA_Documentation" id="a15" style="position: relative;"></a>Viewing 
 JAVA Documentation</h3>
 <p style="margin-top: 5pt; margin-bottom: 5pt;">To view the Java documentation 
 related to a connector, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">My</span> <span style="font-weight: bold;">Connectors 
 &gt; Completed</span>.<br />
The <span style="font-weight: bold;">My Connectors</span> page appears. 
 </p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the connector for which you want to view Java documentation from left 
 panel on the page.<br />
The operations, data collection, REST API, Java documentation related to 
 the connector is displayed on the right panel.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Java Documentation</span>.<br />
It shows the Java documentation related to the selected connector.<br />
<br />
For more information on how to use Java documentation, see <a href="Viewing_API_Documentation.htm" 
	 id="a121" style="position: relative;">API and Java Documentation</a>.</p>
 <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Download_the_Connector.htm" id="a30" style="color: #008000; 
		 position: relative;">Download the Connector</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="My_Company_Connectors.htm" id="a40" style="color: #008000; 
		 position: relative;">My Company Connectors Management</a></p></td>
	</tr>
 </table>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	InitEffects('a39','');
	InitEffects('Editing_Drafts','');
	InitEffects('a8','');
	InitEffects('a9','');
	InitEffects('a38','');
	InitEffects('a21','');
	InitEffects('a161','');
	InitEffects('Deleting_Drafts','');
	InitEffects('My_Connectors_-_New','');
	InitEffects('a22','');
	InitEffects('a23','');
	InitEffects('a24','');
	InitEffects('a11','');
	InitEffects('a2','');
	InitEffects('My_Connectors_-_Completed','');
	InitEffects('a33','');
	InitEffects('a25','');
	InitEffects('a10','');
	InitEffects('a3','');
	InitEffects('a32','');
	InitEffects('a121','');
	InitEffects('a13','');
	InitEffects('a26','');
	InitEffects('a31','');
	InitEffects('a30','');
	InitEffects('a12','');
	InitEffects('a27','');
	InitEffects('a1','');
	InitEffects('a40','');
	InitEffects('a15','');
	InitEffects('Editing_Operations','');
	InitEffects('a37','');
	InitEffects('a6','');
	InitEffects('a14','');
	InitEffects('a7','');
	InitEffects('a41','');
	InitEffects('a36','');
	InitEffects('a28','');
	InitEffects('a17','');
	InitEffects('a4','');
	InitEffects('a35','');
	InitEffects('a29','');
	InitEffects('Deleting_a_Data_Collection','');
	InitEffects('a16','');
	InitEffects('a5','');
	InitEffects('My_Connectors_-_Drafts','');
	InitEffects('a34','');
	InitEffects('Deleting_an_Operation_','');
	InitEffects('CopyConnector','');
	InitEffects('a19','');
	InitEffects('Editing_Data_Collection','');
	InitEffects('a18','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
