
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Resources Management</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1_5";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="896">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">




     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Schemas_Management.htm" 
												 id="a7" style="color: #008000; 
												 position: relative;">Schemas 
		 Management</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Password_Management.htm" id="a8" style="color: #008000; 
		 position: relative;">Password Management</a> </p></td>
	</tr>
 </table>

 <h1>Resources Management</h1>
 <p>Resource<span style="font-weight: bold;"> </span>is&#160;an object in 
 the application containing one or more attributes. For example, User, 
 Group, Applications, Entitlements.</p>
 <p>SCIM Connector Design Tool provides 2 out-of-the-box (OOTB) resources 
 - <span style="font-weight: bold;">User, FileFolder,</span> and <span 
	 style="font-weight: bold;">Group</span>. If required, you can add 
 the required resources for developing connectors to integrate different 
 applications.</p>
 <p><span style="font-weight: bold;">Resources</span> <span style="font-weight: bold;">Management</span> 
 is the process of adding new resources, editing the user defined resources, 
 and deleting unwanted user defined resources. In Tuebora SCIM portal, 
 you can use the <span style="font-weight: bold;">Resources</span> feature 
 to add and manage resources.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You cannot edit or delete system defined (OOTB) resources.</p></td>
	</tr>
 </table>
 <p>This chapter provides information about <span style="font-weight: bold;">Resources</span> 
 <span style="font-weight: bold;">Management</span> features. It is divided 
 into the following sections:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Creating_a_New_Resource" 
	 id="a1" style="position: relative;">Add New Resource</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_Resource_Specification" 
	 id="a10" style="position: relative;">View Resource Specification</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt; position: relative;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Editing_a_User_Defined_Resource" id="a2" style="position: relative;">Edit 
 User Defined Resource</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt; position: relative;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Deleting_a_User_Defined_Resource" id="a3" style="position: relative;">Delete 
 User Defined Resource</a></p>
 <h4 style="font-size: 10pt;"><span style="font-size: 10pt;">Navigation</span></h4>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">You can access the <span style="font-weight: bold;">All</span> 
		 <span style="font-weight: bold;">Resources</span> page by selecting 
		 the <span style="font-weight: bold;">Resources </span>tab available 
		 on the portal UI.</p></td>
	</tr>
 </table>
 <h2><a name="Creating_a_New_Resource" id="a4" style="position: relative;"></a>Adding 
 a New Resource</h2>
 <p>Using the SCIM Connector Design Tool, you can define new classes of 
 resources by defining a resource.</p>
 <table class="Note" style="border-left-color: #000000; border-right-color: #000000; 
		 border-top-color: #000000; border-bottom-color: #000000; left: 0px; 
		 top: 407px; height: 167px;" cellspacing="0px" width="100%" bgcolor="#FFDFDF">
	<col style="width: 100%;" />
	<tr style="height: 165px;">
		<td>
  <h3 style="margin-top: 5pt;">Scenario</h3>
		<p class="TableText">Xanadufinancials wants to develop connector 
		 to integrate Okta with their IAM Solution. Xanadufinancials is 
		 using Tuebora Connector Design Tool to develop all the required 
		 connectors.</p>
		<p class="TableText">To develop Okta connector, Xanadufinancials 
		 analyzed the connector requirements. As per the requirement, connector 
		 will be used to perform operations related to the following Resources:</p>
		<p 
			 class="TableText" style="margin-left: 100px; text-indent: -20px; 
			 font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>User</p>
		<p 
			 class="TableText" style="margin-left: 100px; text-indent: -20px; 
			 font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Group</p>
		<p 
			 class="TableText" style="margin-left: 100px; text-indent: -20px; 
			 font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Application</p>
		<p class="TableText">Resource - <span style="font-weight: bold;">Application</span> 
		 is not available in the tool. The Developer, who is developing 
		 connector for Okta must add the <span style="font-weight: bold;">Resource</span> 
		 - <span style="font-weight: bold;">Application</span> in the portal.</p></td>
	</tr>
 </table>
 <p>To add a resource, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Resources </span>tab on the Tuebora SCIM 
 Designer Portal UI.<br />
The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Resources 
 </span>page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Resource</span>. 
 <br />
The <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Resource</span> 
 window opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the following JSON representation in the <span style="font-weight: bold;">Resource</span> 
 <span style="font-weight: bold;">Specification</span> field.</p>
 <table class="Note" style=" border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; margin-left:48px; width:100%; max-width:69.978%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p style="margin-top: 4pt; margin-bottom: 4pt;">{</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;schemas&quot;: 
		 [&quot;urn:ietf:params:scim:schemas:core:2.0:Application&quot;],</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;id&quot;: 
		 &quot;Application&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;name&quot;: 
		 &quot;Application&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;description&quot;: 
		 &quot;An Application&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;schema&quot;: 
		 &quot;urn:ietf:params:scim:schemas:core:2.0:Application&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;schemaExtentions&quot;: 
		 [],</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;meta&quot;: 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;resourceType&quot;: 
		 &quot;ResourceType&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;created&quot;: 
		 null,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;lastModified&quot;: 
		 null,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;location&quot;: 
		 null,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;version&quot;: 
		 null,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;definedBy&quot;: 
		 &quot;user&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">},</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;customOperations&quot;: 
		 []</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt;">}</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 43px;"><img src="Images/AddResource.png" alt="" style=" border:none; width:100%; max-width:678px;" border="0" /><br />
<br />
Ensure the following details are specified in the JSON representation for 
 the resource:</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Schemas 
 associated with the Resource</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You must create SCIM Schema to define the attributes associated 
		 with the new resource. You can create the schema before or after 
		 creating the resource. </p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">If you 
			 have already created the <span style="font-weight: bold;">Schema</span> 
			 for the new resource that you are adding, then mention that 
			 schema id in the <span style="font-weight: bold;">Schemas</span> 
			 property in the JSON representation. </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Incase 
			 the <span style="font-weight: bold;">Schema</span> is not 
			 created before adding the resource then specify the schema 
			 id that you are going to define while creating the schema 
			 for this resource. </p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Resource 
 ID</p>
<p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Resource 
 Name</p>
<p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Resource 
 Description</p>
<p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Core 
 Schema associated with the Resource</p>
<p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The Schema 
 Extensions associated with the Resource</p>
<p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Who has 
 defined the Resource. <br />
<span style="font-weight: bold;">Example</span>: user</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The OOTB resources will have <span style="font-weight: bold;">system</span> 
		 as the value for <span style="font-weight: bold;">definedBy</span> 
		 parameter in the JSON representation of the resource. </p>
		<p class="TableText">&#160;</p>
		<p class="TableText">While creating a new resource, you must mention 
		 <span style="font-weight: bold;">user</span> as the value for 
		 <span style="font-weight: bold;">definedBy</span> parameter. If 
		 you specify, the value as <span style="font-weight: bold;">system</span>, 
		 then the resource added is considered as system defined and you 
		 cannot edit the resource.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Resource</span>. 
 <br />
The subwindow closes. The <span style="font-weight: bold;">All Resources</span> 
 page displays the newly added resource.<br />
<br />
<img src="Images/AllResourcesPage.png" alt="" style=" border:none; width:100%; max-width:1051px;" border="0" /></p>
 <h2><a name="Viewing_Resource_Specification" id="Viewing_Resource_Specification" 
		 style="position: relative;"></a>Viewing Resource Specification</h2>
 <p>You can view the specification for a system or user defined resource 
 using the <span style="font-weight: bold;">View</span> <span style="font-weight: bold;">Resource</span> 
 option.</p>
 <p>To view the specification of a resource, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Resources </span>tab on the Tuebora SCIM 
 Designer Portal UI.<br />
The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Resources 
 </span>page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the resource for which you want to view 
 the specification.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">View Actions &gt; View Resource</span>.<br />
The <span style="font-weight: bold;">View Resource - &lt;Resource Name&gt;</span> 
 subwindow opens.<br />
<br />
View the specification of the resource.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close</span> to close the subwindow.</p>
 <h2><a name="Editing_a_User_Defined_Resource" id="a5" style="position: relative;"></a>Editing 
 a User Defined Resource</h2>
 <p>You can edit the specification provided for a resource using the <span 
	 style="font-weight: bold;">Edit</span> <span style="font-weight: bold;">Resource</span> 
 option. You can edit only the user defined resources.</p>
 <table class="Note" style="border-left-color: #000000; border-right-color: #000000; 
		 border-top-color: #000000; border-bottom-color: #000000; left: 0px; 
		 top: 407px;" cellspacing="0px" width="100%" bgcolor="#FFDFDF">
	<col style="width: 100%;" />
	<tr style="height: 59px;">
		<td>
  <h3 style="margin-top: 5pt;">Scenario</h3>
		<p class="TableText">Xanadufinancials has extended the Schema for 
		 Application Resource and wants to update the Schema ID in the 
		 resource.</p></td>
	</tr>
 </table>
 <p>To edit a resource to update the extended Schema ID, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Resources </span>tab on the Tuebora SCIM 
 Designer Portal UI.<br />
The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Resources 
 </span>page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the resource that you want to edit. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">View</span> <span style="font-weight: bold;">Actions 
 &gt; Edit Resource</span>.<br />
The <span style="font-weight: bold;">Edit Resource - &lt;resource name&gt;</span> 
 window opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the extended Schema ID in the following format. The Schema ID of the extended 
 schema is marked in <span style="color: #ff0000; font-weight: bold;">RED</span>.</p>
 <table class="Note" style="border-left-color: #000000; border-right-color: #000000; 
		 border-top-color: #000000; border-bottom-color: #000000; margin-left: 48px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p style="margin-top: 4pt; margin-bottom: 4pt;">{</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 60px;">&quot;schemas&quot;: 
		 [&quot;urn:ietf:params:scim:schemas:core:2.0:Application&quot;, 
		 <span style="color: #ff0000;">&quot;urn:params:scim:schemas:extension:enterprise:2.0:Application&quot;</span>],</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 60px;">&quot;id&quot;: 
		 &quot;Application&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 60px;">&quot;name&quot;: 
		 &quot;Application&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 60px;">&quot;description&quot;: 
		 &quot;An Application&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 60px;">&quot;schema&quot;: 
		 &quot;urn:ietf:params:scim:schemas:core:2.0:Application&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 60px;">&quot;schemaExtentions&quot;: 
		 <span style="color: #ff0000;">[{</span></p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 96px; 
			 color: #ff0000;">&quot;schema&quot;: &quot;urn:params:scim:schemas:extension:enterprise:2.0:Application&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 96px; 
			 color: #ff0000;">&quot;required&quot;: true</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 96px; 
			 color: #ff0000;">}],</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 60px;">&quot;meta&quot;: 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 96px;">&quot;resourceType&quot;: 
		 &quot;ResourceType&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 96px;">&quot;created&quot;: 
		 null,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 96px;">&quot;lastModified&quot;: 
		 null,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 96px;">&quot;location&quot;: 
		 null,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 96px;">&quot;version&quot;: 
		 null,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 96px;">&quot;definedBy&quot;: 
		 &quot;user&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 60px;">},</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 60px;">&quot;customOperations&quot;: 
		 []</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt;">}</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>. 
 The resource specification is updated. </p>
 <h2><a name="Deleting_a_User_Defined_Resource" id="a6" style="position: relative;"></a>Deleting 
 a User Defined Resource</h2>
 <p>If you are no longer need a resource type added, you can delete it from 
 the Tuebora SCIM Designer Portal.<br />
<br />
To delete a resource, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Resources </span>tab on the Tuebora SCIM 
 Designer Portal UI.<br />
The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Resources 
 </span>page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the resource that you want to delete. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">View</span> <span style="font-weight: bold;">Actions 
 &gt; Delete Resource</span>. <br />
A subwindow opens asking for confirmation to delete the resource.<br />
<br />
<img src="Images/DeleteResource.png" alt="" style=" border:none; width:100%; max-width:472px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Yes</span>. The resource is deleted from 
 the list of available resources.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You must not delete a user defined resource that is already used 
		 in connectors developed in the portal.</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>

 <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Schemas_Management.htm" 
												 id="a9" style="color: #008000; 
												 position: relative;">Schemas 
		 Management</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Password_Management.htm" id="a11" style="color: #008000; 
		 position: relative;">Password Management</a> </p></td>
	</tr>
 </table>



<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	InitEffects('a8','');
	InitEffects('a9','');
	InitEffects('a11','');
	InitEffects('a2','');
	InitEffects('a3','');
	InitEffects('a10','');
	InitEffects('Viewing_Resource_Specification','');
	InitEffects('a1','');
	InitEffects('a6','');
	InitEffects('a7','');
	InitEffects('a4','');
	InitEffects('a5','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
