
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Schemas Management</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1_4";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="920">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="My_Company_Connectors.htm" 
												 id="a8" style="color: #008000; 
												 position: relative;">My 
		 Company Connectors Management</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Resources_Management.htm" id="a9" style="color: #008000; 
		 position: relative;">Resources Management</a></p></td>
	</tr>
 </table>
 <h1>Schemas Management</h1>
 <p>Schema is a collection of attribute definitions that describe the contents 
 of an entire or partial resource. The attribute definitions in the schema 
 specify the name of the attribute and metadata, such as type (e.g., string, 
 binary), cardinality (singular, multi-valued, complex attribute), mutability, 
 and returnability.</p>
 <p>SCIM Connector Design Tool provides 3 out-of-the-box (OOTB) schemas 
 - <span style="font-weight: bold;">User, FileFolder, </span>and<span style="font-weight: bold;"> 
 Group</span>. If required, you can add the required schemas for resources. 
 <br />
<br />
To know more about the set of attributes that are part of OOTB schema, 
 <a class="dropspot" href="javascript:TextPopup(this)" id="a12" style="position: relative;">Click 
 here</a>.</p>
 <div class="droptext" id="POPUP568055711" style="display: none;">
	<p>Following table lists the OOTB schemas and the set of attributes 
	 that are part of each schema.</p>
	
	<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
			 top: 186px;" cellspacing="0" width="100%">
		<col style="width: 25%;" />
		<col style="width: 18.749%;" />
		<col style="width: 27.1%;" />
		<col style="width: 25%;" />
		<tr style="height: 38px;">
			<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
				 bgcolor="#003A6B">
   <p class="TableText" style="color: #ffffff; 
										 font-weight: bold;">Schema ID</p></td>
			<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
				 bgcolor="#003A6B">
   <p class="TableText" style="color: #ffffff; 
										 font-weight: bold;">Name of the 
			 Schema</p></td>
			<td colspan="2" style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
   <p 
				 class="TableText" style="color: #ffffff; font-weight: bold;">Attributes</p></td>
			
		</tr>
		<tr style="height: 207px;">
			<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
				 vertical-align: top;">
   <p class="TableText">urn:ietf:params:scim:schemas:core:2.0:FileFolder</p></td>
			<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
				 vertical-align: top;">
   <p class="TableText">FileFolder</p></td>
			<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
   <ul 
					 style="list-style: disc;">
				<li style="margin-left: -20px;">
    <p class="TableText">id</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">externalId</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">name</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">type</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">description</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">parent</p></li>
				<li style="list-style: circle;">
    <p class="TableText">parentId</p></li>
				<li style="list-style: circle;">
    <p class="TableText">$ref</p></li>
				<li style="list-style: circle;">
    <p class="TableText">name</p></li>
			</ul></td>
			<td style="border-bottom: Solid 1px #000000;">
   <ul style="list-style: disc;">
				<li style="margin-left: -20px;">
    <p class="TableText">path</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">ownerUser</p></li>
				<li style="list-style: circle;">
    <p class="TableText">userId</p></li>
				<li style="list-style: circle;">
    <p class="TableText">$ref</p></li>
				<li style="list-style: circle;">
    <p class="TableText">displayName</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">ownerGroup</p></li>
				<li style="list-style: circle;">
    <p class="TableText">groupId</p></li>
				<li style="list-style: circle;">
    <p class="TableText">$ref</p></li>
				<li style="list-style: circle;">
    <p class="TableText">displayName</p></li>
			</ul></td>
		</tr>
		<tr style="height: 164px;">
			<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
				 vertical-align: top;">
   <p class="TableText">urn:ietf:params:scim:schemas:core:2.0:Group</p></td>
			<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
				 vertical-align: top;">
   <p class="TableText">Group</p></td>
			<td colspan="2" style="border-bottom: Solid 1px #000000;">
   <ul 
					 style="list-style: disc;">
				<li style="margin-left: -20px;">
    <p class="TableText">id</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">externalId</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">displayName</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">members</p></li>
				<li style="list-style: circle;">
    <p class="TableText">value</p></li>
				<li style="list-style: circle;">
    <p class="TableText">$ref</p></li>
				<li style="list-style: circle;">
    <p class="TableText">type</p></li>
			</ul></td>
			
		</tr>
		<tr style="height: 228px;">
			<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
				 vertical-align: top;">
   <p class="TableText">urn:ietf:params:scim:schemas:core:2.0:EnterpriseGroup</p></td>
			<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
				 vertical-align: top;">
   <p class="TableText">Group</p></td>
			<td colspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
				 vertical-align: top;">
   <ul style="list-style: disc;">
				<li style="margin-left: -20px;">
    <p class="TableText">entitlements</p></li>
				<li style="list-style: circle;">
    <p class="TableText">value</p></li>
				<li style="list-style: circle;">
    <p class="TableText">display</p></li>
				<li style="list-style: circle;">
    <p class="TableText">type</p></li>
				<li style="list-style: circle;">
    <p class="TableText">primary</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">roles</p></li>
				<li style="list-style: circle;">
    <p class="TableText">value</p></li>
				<li style="list-style: circle;">
    <p class="TableText">display</p></li>
				<li style="list-style: circle;">
    <p class="TableText">type</p></li>
				<li style="list-style: circle;">
    <p class="TableText">primary</p></li>
			</ul></td>
			
		</tr>
		<tr style="height: 762px;">
			<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
				 vertical-align: top;">
   <p class="TableText">urn:scim:schemas:core:2.0:User</p></td>
			<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
				 vertical-align: top;">
   <p class="TableText">User</p></td>
			<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
				 vertical-align: top;">
   <ul style="list-style: disc;">
				<li style="margin-left: -20px;">
    <p class="TableText">id</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">externalId</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">userName</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">joiningDate</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">name</p></li>
				<li style="list-style: circle;">
    <p class="TableText">formatted</p></li>
				<li style="list-style: circle;">
    <p class="TableText">familyName</p></li>
				<li style="list-style: circle;">
    <p class="TableText">givenName</p></li>
				<li style="list-style: circle;">
    <p class="TableText">middleName</p></li>
				<li style="list-style: circle;">
    <p class="TableText">honorificPrefix</p></li>
				<li style="list-style: circle;">
    <p class="TableText">honorificSuffix</p></li>
				<li style="list-style: circle;">
    <p class="TableText">aliases</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">displayName</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">nickName</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">profileUrl</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">title</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">projects</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">userType</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">preferredLanguage</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">locale</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">timezone</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">active</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">password</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText" style="margin-top: 1pt; 
													 margin-bottom: 1pt;">emails</p></li>
				<li style="list-style: circle;">
    <p class="TableText" style="margin-top: 1pt; 
													 margin-bottom: 1pt;">value</p></li>
				<li style="list-style: circle;">
    <p class="TableText" style="margin-top: 1pt; 
													 margin-bottom: 1pt;">display</p></li>
				<li style="list-style: circle;">
    <p class="TableText" style="margin-top: 1pt; 
													 margin-bottom: 1pt;">type</p></li>
				<li style="list-style: circle;">
    <p class="TableText" style="margin-top: 1pt; 
													 margin-bottom: 1pt;">primary</p></li>
			</ul>
			<ul style="list-style: disc;">
				<li style="margin-left: -20px;">
    <p class="TableText">phoneNumbers</p></li>
				<li style="list-style: circle;">
    <p class="TableText">value</p></li>
				<li style="list-style: circle;">
    <p class="TableText">display</p></li>
				<li style="list-style: circle;">
    <p class="TableText">type</p></li>
				<li style="list-style: circle;">
    <p class="TableText">primary</p></li>
			</ul>
			<ul style="list-style: disc;">
				<li style="margin-left: -20px;">
    <p class="TableText">ims</p></li>
				<li style="list-style: circle;">
    <p class="TableText">value</p></li>
				<li style="list-style: circle;">
    <p class="TableText">display</p></li>
				<li style="list-style: circle;">
    <p class="TableText">type</p></li>
				<li style="list-style: circle;">
    <p class="TableText">primary</p></li>
			</ul></td>
			<td style="border-bottom: Solid 1px #000000; vertical-align: top;">
   <ul 
					 style="list-style: disc;">
				<li style="margin-left: -20px;">
    <p class="TableText">photos</p></li>
				<li style="list-style: circle;">
    <p class="TableText">value</p></li>
				<li style="list-style: circle;">
    <p class="TableText">display</p></li>
				<li style="list-style: circle;">
    <p class="TableText">type</p></li>
				<li style="list-style: circle;">
    <p class="TableText">primary</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">addresses</p></li>
				<li style="list-style: circle;">
    <p class="TableText">formatted</p></li>
				<li style="list-style: circle;">
    <p class="TableText">streetAddress</p></li>
				<li style="list-style: circle;">
    <p class="TableText">locality</p></li>
				<li style="list-style: circle;">
    <p class="TableText">region</p></li>
				<li style="list-style: circle;">
    <p class="TableText">postalCode</p></li>
				<li style="list-style: circle;">
    <p class="TableText">country</p></li>
				<li style="list-style: circle;">
    <p class="TableText">type</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">groups</p></li>
				<li style="list-style: circle;">
    <p class="TableText">value</p></li>
				<li style="list-style: circle;">
    <p class="TableText">$ref</p></li>
				<li style="list-style: circle;">
    <p class="TableText">display</p></li>
				<li style="list-style: circle;">
    <p class="TableText">type</p></li>
				<li style="list-style: circle;">
    <p class="TableText">primary</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">entitlements</p></li>
				<li style="list-style: circle;">
    <p class="TableText">value</p></li>
				<li style="list-style: circle;">
    <p class="TableText">display</p></li>
				<li style="list-style: circle;">
    <p class="TableText">type</p></li>
				<li style="list-style: circle;">
    <p class="TableText">primary</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">roles</p></li>
				<li style="list-style: circle;">
    <p class="TableText">value</p></li>
				<li style="list-style: circle;">
    <p class="TableText">display</p></li>
				<li style="list-style: circle;">
    <p class="TableText">type</p></li>
				<li style="list-style: circle;">
    <p class="TableText">primary</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">x509Certificates</p></li>
				<li style="list-style: circle;">
    <p class="TableText">value</p></li>
				<li style="list-style: circle;">
    <p class="TableText">display</p></li>
				<li style="list-style: circle;">
    <p class="TableText">type</p></li>
				<li style="list-style: circle;">
    <p class="TableText">primary</p></li>
			</ul></td>
		</tr>
		<tr style="height: 206px;">
			<td style="border-right: Solid 1px #000000; vertical-align: top;">
   <p 
				 class="TableText">urn:scim:schemas:extension:enterprise:2.0:User</p></td>
			<td style="border-right: Solid 1px #000000; vertical-align: top;">
   <p 
				 class="TableText">EnterpriseUser</p></td>
			<td colspan="2">
   <ul style="list-style: disc;">
				<li style="margin-left: -20px;">
    <p class="TableText">employeeNumber</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">costCenter</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">organization</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">division</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">department</p></li>
				<li style="margin-left: -20px;">
    <p class="TableText">manager</p></li>
				<li style="list-style: circle;">
    <p class="TableText">managerId</p></li>
				<li style="list-style: circle;">
    <p class="TableText">$ref</p></li>
				<li style="list-style: circle;">
    <p class="TableText">displayName</p></li>
			</ul></td>
			
		</tr>
	</table>
	
	</div>
<p><span style="font-weight: bold;">Schemas Management</span> is the process 
 of adding new schema, editing the user defined schema, and deleting unwanted 
 user defined schema. In Tuebora SCIM portal, you can use the <span style="font-weight: bold;">Schemas</span> 
 feature to add and manage Schemas.</p>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You cannot edit or delete system defined (OOTB) Schemas.</p></td>
	</tr>
 </table>
 <p>This chapter provides information about <span style="font-weight: bold;">Schemas</span> 
 <span style="font-weight: bold;">Management</span> features. It is divided 
 into the following sections:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Adding_Core_Schema_for_a_New_Resource" 
	 id="a5" style="position: relative;">Add core or extended Schema for 
 a New Resource</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_Schema_Specification" 
	 id="a13" style="position: relative;">View Schema Specification</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt; position: relative;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Editing_a_User_Defined_Schema" id="a6" style="position: relative;">Edit 
 User Defined Schema</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Deleting_a_User_Defined_Schema" 
	 id="a7" style="position: relative;">Delete User Defined Schema</a></p>
 <h4 style="font-size: 10pt;"><span style="font-size: 10pt;">Navigation</span></h4>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">You can access the <span style="font-weight: bold;">All</span> 
		 <span style="font-weight: bold;">Schemas </span>page by selecting 
		 the <span style="font-weight: bold;">Schemas </span>tab available 
		 on the portal UI.</p></td>
	</tr>
 </table>
 <h2><a name="Adding_Core_Schema_for_a_New_Resource" id="a1" style="position: relative;"></a>Adding 
 Core or Extended Schema for a New Resource</h2>
 <p>Using the SCIM Connector Design Tool, you can add schema for a new resource.<br />
</p>
 <table class="Note" style="border-left-color: #000000; border-right-color: #000000; 
		 border-top-color: #000000; border-bottom-color: #000000; left: 0px; 
		 top: 407px;" cellspacing="0px" width="100%" bgcolor="#FFDFDF">
	<col style="width: 100%;" />
	<tr style="height: 28px;">
		<td>
  <h3 style="margin-top: 5pt;">Scenario</h3>
		<p class="TableText">For developing connector for Okta, Xanadufinancials 
		 has added a new Resource - <span style="font-weight: bold;">Application 
		 </span>in the portal. For this resource, developer must define 
		 the core schema. </p></td>
	</tr>
 </table>
 <p>To add a core schema for a new resource, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Schemas </span>tab on the Tuebora SCIM 
 Designer Portal UI.<br />
The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Schemas 
 </span>page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Schema</span>. 
 <br />
The <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Schema 
 </span>window opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the JSON representation for schema in the <span style="font-weight: bold;">Schema 
 Specification</span> field.<br />
<br />
Following is an example schema defined for Application Resource.</p>
 <table class="Note" style="border-left-color: #000000; border-right-color: #000000; 
		 border-top-color: #000000; border-bottom-color: #000000; margin-left: 48px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p style="margin-top: 4pt; margin-bottom: 4pt;">{</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;id&quot;: 
		 &quot;urn:ietf:params:scim:schemas:core:2.0:Application&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;name&quot;: 
		 &quot;Application&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;description&quot;: 
		 &quot;Application&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;attributes&quot;: 
		 [{</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;name&quot;: 
		 &quot;id&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;type&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;description&quot;: 
		 &quot;Unique identifier for the SCIM resource as defined by the 
		 Service Provider. Each representation of the resource MUST include 
		 a non-empty id value. This identifier MUST be unique across the 
		 Service Provider's entire set of resources. It MUST be a stable, 
		 non-reassignable identifier that does not change when the same 
		 resource is returned in subsequent requests. The value of the 
		 id attribute is always issued by the Service Provider and MUST 
		 never be specified by the Service Consumer. REQUIRED.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;required&quot;: 
		 true,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;caseExact&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;mutability&quot;: 
		 &quot;readOnly&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;returned&quot;: 
		 &quot;always&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;uniqueness&quot;: 
		 &quot;server&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">}, 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;name&quot;: 
		 &quot;externalId&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;type&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;description&quot;: 
		 &quot;An identifier for the Resource as defined by the Service 
		 Consumer.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;required&quot;: 
		 true,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;caseExact&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;mutability&quot;: 
		 &quot;readWrite&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;returned&quot;: 
		 &quot;default&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;uniqueness&quot;: 
		 &quot;none&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">}, 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;name&quot;: 
		 &quot;name&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;type&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;description&quot;: 
		 &quot;A human-readable name for the Application. REQUIRED.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;required&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;caseExact&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;mutability&quot;: 
		 &quot;readWrite&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;returned&quot;: 
		 &quot;default&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;uniqueness&quot;: 
		 &quot;none&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">}, 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;name&quot;: 
		 &quot;status&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;type&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;description&quot;: 
		 &quot;A human-readable status for the Application. REQUIRED.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;required&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;caseExact&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;mutability&quot;: 
		 &quot;readWrite&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;returned&quot;: 
		 &quot;default&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;uniqueness&quot;: 
		 &quot;none&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">}, 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;name&quot;: 
		 &quot;signOnMode&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;type&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;description&quot;: 
		 &quot;A human-readable signOnMode for the Application. REQUIRED.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;required&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;caseExact&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;mutability&quot;: 
		 &quot;readWrite&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;returned&quot;: 
		 &quot;default&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;uniqueness&quot;: 
		 &quot;none&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">}, 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;name&quot;: 
		 &quot;settings&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;type&quot;: 
		 &quot;complex&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;description&quot;: 
		 &quot;Settings for Application.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;required&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">&quot;subAttributes&quot;: 
		 [{</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;name&quot;: 
		 &quot;url&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;type&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;description&quot;: 
		 &quot;URL of this Application.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;required&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;caseExact&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;mutability&quot;: 
		 &quot;immutable&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;returned&quot;: 
		 &quot;default&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;uniqueness&quot;: 
		 &quot;none&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">}, 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;name&quot;: 
		 &quot;authURL&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;type&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;description&quot;: 
		 &quot;Authentication URL of this Application.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;required&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;caseExact&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;mutability&quot;: 
		 &quot;immutable&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;returned&quot;: 
		 &quot;default&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;uniqueness&quot;: 
		 &quot;none&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">}, 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;name&quot;: 
		 &quot;requestIntegration&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;type&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;description&quot;: 
		 &quot;Request Integration of this Application.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;required&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;caseExact&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;mutability&quot;: 
		 &quot;immutable&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;returned&quot;: 
		 &quot;default&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;uniqueness&quot;: 
		 &quot;none&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">}, 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;name&quot;: 
		 &quot;buttonField&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;type&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;description&quot;: 
		 &quot;ButtonField of this Application.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;required&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;caseExact&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;mutability&quot;: 
		 &quot;immutable&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;returned&quot;: 
		 &quot;default&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;uniqueness&quot;: 
		 &quot;none&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">}, 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;name&quot;: 
		 &quot;passwordField&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;type&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;description&quot;: 
		 &quot;PasswordField of this Application.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;required&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;caseExact&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;mutability&quot;: 
		 &quot;immutable&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;returned&quot;: 
		 &quot;default&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;uniqueness&quot;: 
		 &quot;none&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">}, 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;name&quot;: 
		 &quot;usernameField&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;type&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;description&quot;: 
		 &quot;UsernameField of this Application.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;required&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;caseExact&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;mutability&quot;: 
		 &quot;immutable&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;returned&quot;: 
		 &quot;default&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;uniqueness&quot;: 
		 &quot;none&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">}, 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;name&quot;: 
		 &quot;extraFieldSelector&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;type&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;description&quot;: 
		 &quot;ExtraFieldSelector of this Application.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;required&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;caseExact&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;mutability&quot;: 
		 &quot;immutable&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;returned&quot;: 
		 &quot;default&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;uniqueness&quot;: 
		 &quot;none&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">}, 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;name&quot;: 
		 &quot;extraFieldValue&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;type&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;multiValued&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;description&quot;: 
		 &quot;ExtraFieldValue of this Application.&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;required&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;caseExact&quot;: 
		 false,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;mutability&quot;: 
		 &quot;immutable&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;returned&quot;: 
		 &quot;default&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 120px;">&quot;uniqueness&quot;: 
		 &quot;none&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 96px;">}</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">],</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;mutability&quot;: 
		 &quot;readWrite&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;returned&quot;: 
		 &quot;default&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 72px;">}</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 60px;">],</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 60px;">&quot;meta&quot;: 
		 {</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;resourceType&quot;: 
		 &quot;Schema&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;location&quot;: 
		 &quot;/v2/Schemas/urn:ietf:params:scim:schemas:core:2.0:Application&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;definedBy&quot;: 
		 &quot;user&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 60px;">}</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt;">}</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 43px;"><img src="Images/AddSchema.png" alt="" style=" border:none; width:100%; max-width:652px;" border="0" /><br />
<br />
Ensure the following details are specified in the JSON representation for 
 the Schema:</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Schema 
 ID<br />
<br />
<span style="font-weight: bold;">Example</span>: </p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>For 
 core resource schema - &quot;urn:ietf:params:scim:schemas:core:2.0:Application&quot;</p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>For 
 extension of schema - &quot;urn:scim:schemas:extension:enterprise:2.0:Application&quot;</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 ID of a Schema is specified in the resource with which the schema 
		 is associated. </p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Schema 
 Name</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Schema 
 Description</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Attributes 
 - Singular or Multi-valued attributes</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Mutability 
 of the attributes specified in the Schema</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 Resource Type - Schema</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Location 
 of the Schema</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Who has 
 defined the Schema <br />
<span style="font-weight: bold;">Example</span>: user</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The OOTB schema will have <span style="font-weight: bold;">system</span> 
		 as the value for <span style="font-weight: bold;">definedBy</span> 
		 parameter in the JSON representation of the resource schema. </p>
		<p class="TableText">&#160;</p>
		<p class="TableText">While creating a new schema, you must mention 
		 <span style="font-weight: bold;">user</span> as the value for 
		 <span style="font-weight: bold;">definedBy</span> parameter. If 
		 you specify, the value as <span style="font-weight: bold;">system</span>, 
		 then the schema added is considered as system defined and you 
		 cannot edit the schema.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Schema</span>. 
 <br />
The subwindow closes. The <span style="font-weight: bold;">All Schemas 
 </span>page displays the newly added schema.<br />
<br />
<img src="Images/AllSchemaspage.png" alt="" style=" border:none; width:100%; max-width:871px;" border="0" /></p>
 <p class="list">After adding the a core/extension schema for a resource, 
 you must <a href="Resources_Management.htm#Editing_a_User_Defined_Resource" 
			 id="a2" style="position: relative;">edit the resource</a> 
 to specify the Schema ID associated with it.</p>
 <h2><a name="Viewing_Schema_Specification" id="Viewing_Schema_Specification" 
		 style="position: relative;"></a>Viewing Schema Specification</h2>
 <p>You can view the specification for a system or user defined schema using 
 the <span style="font-weight: bold;">View</span> <span style="font-weight: bold;">Schema 
 </span>option.</p>
 <p>To view the specification of a schema, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Schemas </span>tab on the Tuebora SCIM 
 Designer Portal UI.<br />
The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Schemas 
 </span>page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the schema for which you want to view the 
 specification.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">View Actions &gt; View Schema</span>.<br />
The <span style="font-weight: bold;">View Resource - &lt;Schema Name&gt;</span> 
 subwindow opens.<br />
<br />
View the specification of the schema.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close</span> to close the subwindow.</p>
 <h2><a name="Editing_a_User_Defined_Schema" id="a3" style="position: relative;"></a>Editing 
 a User Defined Schema</h2>
 <p>You can edit the specification provided for a schema using the <span 
	 style="font-weight: bold;">Edit</span> <span style="font-weight: bold;">Schema 
 </span>option. You can edit only the user defined schemas.<br />
<br />
To edit a schema, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Schemas </span>tab on the Tuebora SCIM 
 Designer Portal UI.<br />
The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Schemas 
 </span>page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the schema that you want to edit. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">View</span> <span style="font-weight: bold;">Actions 
 &gt; Edit Schema</span>.<br />
The <span style="font-weight: bold;">Edit Schema- &lt;schema name&gt;</span> 
 window opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Edit the 
 details as required.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>. 
 The schema specification is updated. </p>
 <h2><a name="Deleting_a_User_Defined_Schema" id="a4" style="position: relative;"></a>Deleting 
 a User Defined Schema</h2>
 <p>If you are no longer need a user defined schema specified for a resource 
 type, you can delete it from the Tuebora SCIM Designer Portal.<br />
<br />
To delete a schema, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Schemas</span> tab on the Tuebora SCIM 
 Designer Portal UI.<br />
The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Schemas</span> 
 page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the schema that you want to delete. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">View</span> <span style="font-weight: bold;">Actions 
 &gt; Delete Schema</span>. A subwindow opens asking for confirmation to 
 delete the resource.<br />
<br />
<img src="Images/DeleteSchema.png" alt="" style=" border:none; width:100%; max-width:476px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Yes</span>. The resource is deleted from 
 the list of available policies.</p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You must not delete a user defined schema that is already is used 
		 in connectors developed in the portal. &#160;</p></td>
	</tr>
 </table>
 <p class="list" style="text-indent: -20px; margin-left: 50px;">&#160;</p>
 <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="My_Company_Connectors.htm" 
												 id="a10" style="color: #008000; 
												 position: relative;">My 
		 Company Connectors Management</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Resources_Management.htm" id="a11" style="color: #008000; 
		 position: relative;">Resources Management</a></p></td>
	</tr>
 </table>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	if( typeof( TextPopupInit ) != 'function' ) TextPopupInit = new Function();
	TextPopupInit('a12','POPUP568055711');
	InitEffects('a8','');
	InitEffects('a9','');
	InitEffects('a11','');
	InitEffects('a2','');
	InitEffects('a10','');
	InitEffects('a3','');
	InitEffects('a13','');
	InitEffects('a1','');
	InitEffects('a12','x-on-hover: fontchange(underline=on, color=#a6c9e2);');
	InitEffects('a6','');
	InitEffects('a7','');
	InitEffects('a4','');
	InitEffects('a5','');
	InitEffects('Viewing_Schema_Specification','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
