
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Test Connectors Independently</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "3_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="992">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Change_Password.htm" 
												 id="a4" style="color: #008000; 
												 position: relative;">Change 
		 Password</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Tuebora_Connectors.htm" id="a12" style="color: #008000; 
		 position: relative;">Tuebora Connectors</a></p></td>
	</tr>
 </table>
 <h1>Test Connectors Independently</h1>
 <p>After developing a connector, you can test the connector before deploying 
 it in production environment. </p>
 <p>This chapter explains the following:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#REST_Clients_to_Test_the_Connector" 
	 id="a1" style="position: relative;">RESTClients to Test Connectors</a> 
 </p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Supported_HTTP_Methods" 
	 id="a2" style="position: relative;">Supported HTTP Methods</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Testing_the_Connector" 
	 id="a14" style="position: relative;">Test the Connector</a></p>
 <h2><a name="REST_Clients_to_Test_the_Connector" id="a5" style="position: relative;"></a>RESTClients 
 to Test Connectors</h2>
 <p>You can test the connector using RestClients. You can use any of the 
 following free RestClients to test the connectors: </p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="https://addons.mozilla.org/en-us/firefox/addon/restclient/" 
							 target="_blank" id="a6" style="position: relative;">Firefox 
	 RestClient</a></p></li>
	<li>
 <p class="list"><a href="https://chrome.google.com/webstore/detail/advanced-rest-client/hgmloofddffdnphfgcellkdfbfbjeloo" 
							 target="_blank" id="a7" style="position: relative;">Chrome 
	 RestClient</a></p></li>
	<li>
 <p class="list"><a href="https://client.restlet.com/" target="_blank" 
							 id="a8" style="position: relative;">https://client.restlet.com/</a></p></li>
	<li>
 <p class="list"><a href="https://insomnia.rest/" target="_blank" 
							 id="a9" style="position: relative;">https://insomnia.rest/</a> 
	 (Standalone RestClient)</p></li>
</ul>
<h2><a name="Supported_HTTP_Methods" id="a10" style="position: relative;"></a>Supported 
 HTTP Methods</h2>
<p>Following table list the HTTP methods that are supported in Tuebora 
 SCIM.</p>

<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
		 top: 147px;" cellspacing="0" width="100%">
	<col style="width: 9.071%;" />
	<col style="width: 9.071%;" />
	<col style="width: 34.8%;" />
	<col style="width: 47.028%;" />
	<tr style="height: 38px;">
		<td colspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Operations and 
		 HTTP Methods</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Usage</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Example 
		 URL</p></td>
	</tr>
	<tr style="height: 54px;">
		<td rowspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Data Collection</span> 
		 </p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">POST</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Used for data collection. </p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{connectorname}/collect</p></td>
	</tr>
	<tr style="height: 54px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">GET</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Used to check the status of the Data Collection</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{connectorname}/collect/{requestID}</p></td>
	</tr>
	<tr style="height: 49px;">
		<td colspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Create</span> 
		 = POST </p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Used for creating Resources (Users, Groups, 
		 Roles)</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{connectorname}/{resource}</p></td>
	</tr>
	<tr style="height: 49px;">
		<td colspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Read</span> 
		 = GET</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Request a resource and get its content information</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{connectorname}/{resource}/{id}</p></td>
	</tr>
	<tr style="height: 51px;">
		<td colspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Replace 
		 </span>= PUT</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Used for replacing existing content of Resources 
		 </p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{connectorname}/{resource}/{id}</p></td>
	</tr>
	<tr style="height: 54px;">
		<td colspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Delete</span> 
		 = DELETE</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Used for deleting Resources </p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{connectorname}/{resource}/{id} </p></td>
	</tr>
	<tr style="height: 49px;">
		<td colspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Update</span> 
		 = PATCH <br />
		</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Used for updating specific content of Resources</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">http://{IP 
		 Address of computer on which SCIM Server is running:SCIM Server 
		 Port}/scim/v2/{connectorname}/{resource}/{id}</p></td>
	</tr>
	
		
		
	
 </table>

 <h2><a name="Testing_the_Connector" id="Testing_the_Connector" style="position: relative;"></a>Testing 
 the Connector</h2>
 <p>After you develop a connector to integrate an application, you must 
 test it to ensure that it functions as expected.</p>
 <p>You can use the RESTClient to point to the target application and perform 
 the operations that you have configured in the connector. When you use 
 RESTClient to test the connector, the RESTClient hits the specified URL 
 and performs the operation in the target application and returns the response 
 for it.</p>
 <h3>Prerequisites</h3>
 <p>Prerequisites to test a connector using RESTClient are as follows:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You must 
 have a RESTClient installed on the computer where you have installed the 
 SCIM Server.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You must 
 have developed, downloaded it from SCIM Portal and deployed the connector 
 that you want to test on the SCIM Server.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The SCIM 
 Server must be running.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You must 
 have correct URLs, Headers, and data in JSON format for the operations 
 that you want to test.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>If the 
 connector has dependencies like Powershell Version, Operating System, 
 Type of Connection (Local), ensure the dependencies are managed.</p>
 <h3>Preparing RESTClient for Testing a Connector</h3>
 <p>To test the connectors the following custom headers must be added in 
 the RESTClient.</p>

 <table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
		 top: 834px;" cellspacing="0" width="100%">
	<col style="width: 26.267%;" />
	<col style="width: 31.835%;" />
	<col style="width: 41.898%;" />
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Request Header 
		 Name</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Request Header 
		 Value</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Header 
		 Description</p></td>
	</tr>
	<tr style="height: 55px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Content-Type</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">application/json</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Header 
		 sends the http json header to the browser to inform what is the 
		 kind of data that is expected.</p></td>
	</tr>
	
		
		
	
	
		
		
	
	<tr style="height: 53px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Authorization</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">You must specify <span style="font-weight: bold;">Client 
		 Name </span>and<span style="font-weight: bold;"> Client Secret 
		 </span>as <span style="font-weight: bold;">Basic Authorization</span>.</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Header 
		 validates the <span style="font-weight: bold;">Client Name </span>and<span 
		 style="font-weight: bold;"> Client Secret </span>for API calls.</p></td>
	</tr>
	
		
	
 </table>











 <h4>Defining Basic Authorization</h4>
 <p>To add Basic Authorization in Firefox RESTClient, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Open RestClient 
 in Firefox browser.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Basic</span> <span style="font-weight: bold;">Authentication</span>.<br />
The Basic Authentication subwindow opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 <span style="font-weight: bold;">Client Name</span> in <span style="font-weight: bold;">Username</span> 
 field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 <span style="font-weight: bold;">Client</span> <span style="font-weight: bold;">Secret 
 </span>in <span style="font-weight: bold;">Password </span>field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Okay</span>.</p>
 <h3><a name="Testing_Data_Collection" id="a101" style="position: relative;"></a>Testing 
 Data Collection</h3>
 <p>To test Data Collection from Okta, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">POST </span>in the <span style="font-weight: bold;">Method</span> 
 field on the RESTClient page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 URL for collecting data from Okta in the <span style="font-weight: bold;">URL</span> 
 field. For more information on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
													 id="a112" style="position: relative;">Supported 
 HTTP Methods.</a><br />
<br />
The format of the URL for data collection is - <span style="font-style: italic;">http://{IP 
 Address of computer on which SCIM Server is running:SCIM Server Port}/scim/v2/{connectorName}/collect</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
	 style="font-style: italic;">scim/v2/</span>okta/collect</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send.</span><br />
The RestClient shows the Request ID in the response.<br />
<br />
Copy the Response ID to check the Status of the Data Collection. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">GET </span>in the <span style="font-weight: bold;">Method</span> 
 field on the RESTClient page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 URL to check the status of Data collection. <br />
<br />
The format of the URL to check the status of data collection - <span style="font-style: italic;">http://{IP 
 Address of computer on which SCIM Server is running:SCIM Server Port}/scim/v2/{connectorName}/collect/{requestID}</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
	 style="font-style: italic;">scim/v2/</span>okta/collect/d33da040-cddd-4af0-ac02-8857a6f0557c<br />
<br />
After the request is processed, you can see the response in the <span style="font-weight: bold;">Response</span> 
 section. The <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
 shows the response.<br />
If you get the <span style="font-weight: bold;">Status Code 200 OK</span>, 
 it means the request is successfully processed.<br />
<br />
Data collected for different resources from Okta is saved in <span style="font-weight: bold;">upload</span> 
 folder in <span style="font-weight: bold;">SCIM</span> <span style="font-weight: bold;">Server</span> 
 folder.<br />
<br />
Following figure shows an example data collected from Okta.<br />
<br />
<img src="Images/Downloaded_Data.png" alt="" style=" border:none; width:100%; max-width:817px;" border="0" /></p>
 <h3>Testing Operations</h3>
 <p>When you test different operations configured in a connector developed 
 for an application, you can view the newly created resources and the updates 
 made for resource attributes by logging into the application. </p>
 <h4>Testing Create Resource Operation</h4>
 <p>To test Create User operation in Okta, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">POST </span>in the <span style="font-weight: bold;">Method</span> 
 field on the RESTClient page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 URL for creating user in Okta in the <span style="font-weight: bold;">URL</span> 
 field. For more information on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
													 id="a1311" style="position: relative;">Supported 
 HTTP Methods.</a><br />
<br />
The format of the URL to create user is - <span style="font-style: italic;">http://{IP 
 Address of computer on which SCIM Server is running:SCIM Server Port}/scim/v2/{ConnectorName}/{Resource}</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
	 style="font-style: italic;">scim/v2/</span>okta/user</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the request body in <span style="font-weight: bold;">Body</span> field.<br />
<br />
You must specify values for all the parameters that are mandatory to create 
 a user. Also, if the value for any attribute must be unique, ensure the 
 value specified is unique.</p>
 <table class="Note" style=" border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; margin-left:48px; width:100%; max-width:57.692%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p style="margin-top: 5pt; margin-bottom: 5pt;">{</p>
		<p style="margin-left: 60px; margin-top: 5pt; margin-bottom: 5pt;">&quot;name&quot;: 
		 {</p>
		<p style="margin-left: 60px; margin-top: 5pt; margin-bottom: 5pt;">&quot;familyName&quot;: 
		 &quot;Adam&quot;,</p>
		<p style="margin-left: 60px; margin-top: 5pt; margin-bottom: 5pt;">&quot;givenName&quot;: 
		 &quot;Thomas&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt;">},</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt;">&quot;emails&quot;: 
		 {</p>
		<p style="margin-left: 60px; margin-top: 5pt; margin-bottom: 5pt;">&quot;value&quot;: 
		 &quot;adam.thomas@xanadufinancials.com&quot;</p>
		<p style="margin-left: 60px; margin-top: 5pt; margin-bottom: 5pt;">}</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt;">}</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send.</span><br />
The RestClient shows the processing message. <br />
<br />
After the request is processed, you can see the response in the <span style="font-weight: bold;">Response</span> 
 section. The <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
 shows the response. If you get the <span style="font-weight: bold;">Status 
 Code 201 Created</span>, it means the request is successfully processed.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Response Body (Preview)</span> to view 
 the user id and the SCIM schema associated with the user created and the 
 type of Resource.<br />
<br />
Following figure shows an example Response body displayed for user created.<br />
<br />
<img src="Images/RestClient_forCreateUser_withUserID.png" alt="" style=" border:none; width:100%; max-width:605px;" border="0" /></p>
 <h4>Checking User Created in Okta</h4>
 <p>To check the user created in Okta, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log in 
 to your <span style="font-weight: bold;">Okta</span> <span style="font-weight: bold;">Account 
 </span>as a service account that has privilege to manage users.<br />
The <span style="font-weight: bold;">Welcome to Okta Developer Edition</span> 
 page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Admin &gt; Directory &gt; People</span>. 
 <br />
<br />
The new user created is listed on the page. You can use <span style="font-weight: bold;">Search</span> 
 feature to quickly find the user, if the number of users are more.<br />
<br />
<img src="Images/Okta_peoplepage.png" alt="" style=" border:none; width:100%; max-width:1038px;" border="0" /></p>
 <h4>Testing Update Specific Attribute of a Resource Operation</h4>
 <p>To test add member to group in Okta, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">PATCH </span>in the <span style="font-weight: bold;">Method</span> 
 field on the RESTClient page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 URL for adding member to group in Okta in the <span style="font-weight: bold;">URL</span> 
 field. For more information on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
													 id="a1911" style="position: relative;">Supported 
 HTTP Methods.</a><br />
<br />
The format of the URL to add members to group is - <span style="font-style: italic;">http://{IP 
 Address of computer on which SCIM Server is running:SCIM Server Port}/scim/v2/{ConnectorName}/{Resource}/{id}</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
	 style="font-style: italic;">scim/v2/</span>okta/user/00u2k48aa0jqKLny61t7</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the request body in <span style="font-weight: bold;">Body</span> field.<br />
<br />
For PATCH request specify the Schema, Operation Type, Path to attribute 
 that needs modification, and id of the group to which member to be added.</p>
 <table class="Note" style=" border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; margin-left:48px; width:100%; max-width:69.978%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p style="margin-top: 4pt; margin-bottom: 4pt;">{</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;schemas&quot;: 
		 [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 48px;">&quot;Operations&quot;: 
		 [{</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;op&quot;: 
		 &quot;add&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;path&quot;: 
		 &quot;groups&quot;,</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 84px;">&quot;value&quot;: 
		 [{</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 132px;">&quot;value&quot;: 
		 &quot;00g2cm1lq0on3cwBW1t7&quot;</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 132px;">}]</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt; margin-left: 108px;">}]</p>
		<p style="margin-top: 4pt; margin-bottom: 4pt;">}</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send.</span><br />
The RestClient shows the processing message. <br />
<br />
After the request is processed, you can see the response in the <span style="font-weight: bold;">Response</span> 
 section. The <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
 shows the response. If you get the <span style="font-weight: bold;">Status 
 Code 200 OK</span>, it means the request is successfully processed and 
 user is updated.</p>
 <h4>Testing Delete Resource Operation</h4>
 <p>In Okta, you can delete only <span style="font-weight: bold;">inactive</span> 
 <span style="font-weight: bold;">users</span>. To test delete application 
 operation, provide the id of the application which is deactivated in Okta 
 or to delete a active user, you must send the delete user request twice. 
 When you send the first request, the user gets deactivated and on the 
 second request the user gets deleted from Okta. </p>
 <p>To test Delete User operation in Okta, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">DELETE </span>in the <span style="font-weight: bold;">Method</span> 
 field on the RESTClient page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 URL for deleting user in Okta in the <span style="font-weight: bold;">URL</span> 
 field. For more information on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
													 id="a1311331" style="position: relative;">Supported 
 HTTP Methods.</a><br />
<br />
The format of the URL to delete user is - <span style="font-style: italic;">http://{IP 
 Address of computer on which SCIM Server is running:SCIM Server Port}/scim/v2/{ConnectorName}/{Resource}/{id}</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://localhost:9090/<span 
	 style="font-style: italic;">scim/v2/</span>okta/user/00ucwq0eVLzNap2pt2p5</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send.</span><br />
The RestClient shows the processing message. <br />
<br />
After the request is processed, you can see the response in the <span style="font-weight: bold;">Response</span> 
 section. The <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
 shows the response. If you get the <span style="font-weight: bold;">Status 
 Code 204</span>, it means the request is successfully processed.</p>
 <h4>Testing Custom Operation </h4>
 <p class="list">To test enroll user for authentication factor operation 
 in Okta, you must enable the Multifactor Authentication in your Okta account. 
 To enable multi factor authentication in Okta perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Log in 
 to Okta account.<br />
Okta Home page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Admin</span>.<br />
The <span style="font-weight: bold;">Admin</span> <span style="font-weight: bold;">Dashboard</span> 
 appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Security &gt; Authentication</span>.<br />
The <span style="font-weight: bold;">Authentication</span> page appears.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Multifactor</span>. The <span style="font-weight: bold;">Factor</span> 
 <span style="font-weight: bold;">Types</span> are displayed.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Edit</span> and select the check box 
 corresponding to <span style="font-weight: bold;">Okta Verify, Google 
 Authenticator, SMS Authentication </span>and any other authentication 
 form required.</p>
 <p class="list">To test enroll user for authentication factor operation 
 in Okta, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">PATCH </span>in the <span style="font-weight: bold;">Method</span> 
 field on the RESTClient page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 URL for enrolling user for multifactor authentication in Okta in the <span 
	 style="font-weight: bold;">URL</span> field. For more information 
 on URL formats, see <a href="Test_Connectors_Independently.htm#Supported_HTTP_Methods" 
						 id="a1311341" style="position: relative;">Supported 
 HTTP Methods.</a><br />
<br />
The format of the URL for enrolling user for multifactor authentication 
 is - <span style="font-style: italic;">http://{IP Address of computer 
 on which SCIM Server is running:SCIM Server Port}/scim/v2/{ConnectorName}/{Resource}/{id}</span><br />
<br />
<span style="font-weight: bold;">Example</span>: <span style="font-style: italic;">http://localhost:9090/scim/v2/okta/user/00ucw98kymVvVfAwl2p5</span></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the request body in <span style="font-weight: bold;">Body</span> field.<br />
<br />
The value specified for <span style="font-weight: bold;">path</span> attribute 
 must be the <a href="Develop_HTTP_REST_Connector.htm#Custom_Operation_name" 
				 id="a3" style="position: relative;"><span style="font-weight: bold;">custom 
 operation</span> <span style="font-weight: bold;">name</span></a> specified 
 during connector development.</p>
 <table class="Note" style=" border-left-color:#000000; border-right-color:#000000; border-top-color:#000000; border-bottom-color:#000000; margin-left:48px; width:100%; max-width:57.692%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 24px;">{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;schemas&quot;: 
		 [&quot;urn:ietf:params:scim:api:messages:2.0:PatchOp&quot;],</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 48px;">&quot;Operations&quot;: 
		 [{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;op&quot;: 
		 &quot;custom&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;path&quot;: 
		 &quot;Enroll User for Authentication Factor&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">&quot;value&quot;: 
		 [{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 108px;">&quot;factorType&quot;: 
		 &quot;sms&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 108px;">&quot;provider&quot;: 
		 &quot;OKTA&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 108px;">&quot;phoneNumber&quot;: 
		 &quot;+1-555-415-1337&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 108px;">}]</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 72px;">}]</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 24px;">}</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send.</span><br />
The RestClient shows the processing message. <br />
<br />
After the request is processed, you can see the response in the <span style="font-weight: bold;">Response</span> 
 section. The <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
 shows the response. If you get the <span style="font-weight: bold;">Status 
 Code 200 OK</span>, it means the request is successfully processed.</p>
 <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 </span><a href="Change_Password.htm" 
														 id="a13" style="color: #008000; 
														 position: relative;">Change 
		 Password</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Tuebora_Connectors.htm" id="a15" style="color: #008000; 
		 position: relative;">Tuebora Connectors</a></p></td>
	</tr>
 </table>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	InitEffects('a112','');
	InitEffects('a8','');
	InitEffects('a1311','');
	InitEffects('a9','');
	InitEffects('a1911','');
	InitEffects('a2','');
	InitEffects('a3','');
	InitEffects('a10','');
	InitEffects('a13','');
	InitEffects('a1','');
	InitEffects('a12','');
	InitEffects('a15','');
	InitEffects('a6','');
	InitEffects('a1311341','');
	InitEffects('a7','');
	InitEffects('a14','');
	InitEffects('a101','');
	InitEffects('Testing_the_Connector','');
	InitEffects('a4','');
	InitEffects('a5','');
	InitEffects('a1311331','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
