
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora SCIM Connector Design Tool - Viewing API Documentation</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1_7";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Tuebora_SCIM.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Tuebora_SCIM.htm" class="homelink"><span>Tuebora SCIM Connector Design Tool</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1088">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Tuebora_SCIM.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Password_Management.htm" 
												 id="a5" style="color: #008000; 
												 position: relative;">Password 
		 Management</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>:<span style="color: #008000;"> 
		 <a href="SCIM_Server.htm" id="a6" 
												 style="color: #008000; 
												 position: relative;">SCIM 
		 Server</a></span></p></td>
	</tr>
 </table>
 <h1>REST API and Java Documentation</h1>
 <p>Tuebora SCIM Connector Design Tool automatically generates API Documentation 
 for each of the connector developed in the portal. Tool provides the following 
 API Documentation:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#REST_API_Documentation" id="a2" style="position: relative;">REST 
	 API Documentation</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Javadocs" id="a4" style="position: relative;">Java Documentation</a></p></li>
</ul>
<h2><a name="REST_API_Documentation" id="a1" style="position: relative;"></a>REST 
 API Documentation</h2>
<p>The SCIM Server REST APIs are built on SCIM protocol (which is a HTTP-based 
 protocol). Each API defines the resources and the operations defined in 
 a connector developed for an application.</p>
<h4>Key Facts about the REST API</h4>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;">SCIM Server 
	 is a client-server service implemented on SCIM Protocol (which is 
	 a HTTP-based protocol).</p></li>
	<li style="margin-left: -20px;">
 <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;">&#160;SCIM 
	 Server requests are stateless. Each request contains the data required 
	 to perform the requested operation.</p></li>
	<li style="margin-left: -20px;">
 <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;">&#160;In 
	 SCIM Server, each Resources are mapped to consistent resource identifiers 
	 (URIs) &#160;</p></li>
	<li style="margin-left: -20px;">
 <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;">&#160;SCIM 
	 server responses include a numeric status code that describes the 
	 result of the operation. For example, 200 for &quot;Success&quot; 
	 or 404 for &quot;Handler (Connector) does not exist.&quot;</p></li>
	<li style="margin-left: -20px;">
 <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;"><span>&#160;A 
	 request can have a payload in JSON format.</span></p></li>
</ul>
<h3>Using REST API Documentation</h3>
<p>View REST API Documentation for each connector developed in the portal.</p>
<p>To view the REST API documentation for a connector click <span style="font-weight: bold;">My 
 Connector &gt; Completed</span>. Select the connector for which you want 
 to view REST API documentation from left panel on the page. Click <span 
	 style="font-weight: bold;">REST API</span>.<br />
<span style="text-indent: -20px;"><br />
Following figure shows the REST API documentation for Odoo where the data 
 collection and User resource is expanded to view the list of operations.<br />
<br />
<img src="Images/Okta_APIDocumentation.png" alt="" style=" border:none; width:100%; max-width:1066px;" border="0" /></span></p>
<p><span style="font-family: Arial, Verdana, sans-serif; font-size: 13.3333px; 
		 font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; 
		 widows: 2; -webkit-text-stroke-width: 0px; background-color: #ffffff; 
		 text-decoration-style: initial; text-decoration-color: initial; 
		 display: inline	 ! important ; float: none;">REST APIs related 
 to a connector are grouped based on resources (User/Group/Any New Resources 
 Added in the portal)and data collection configured. Each command in the 
 API is summarized on one line with three parts:</span> </p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Operation</span> - The HTTP operation: 
	 POST, DELETE, PATCH commands are displayed in unique colour.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">URI</span> - Location of the resource on 
	 SCIM Server. The value in the curly bracket { } will be replaced with 
	 the resource id for which the operation is performed.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Description</span> - Summary of the command.</p></li>
</ul>
<p>Click an operation to expand it and view detailed documentation.<br />
<br />
Following figure shows the Create a User operation expanded to view details.</p>
<p><img src="Images/CreateUserAPI_Expanded.png" alt="" style=" border:none; width:100%; max-width:953px;" border="0" /></p>
<p>The expanded documentation begins with description of the operation. 
 The details of the HTTP request and response are described in the sections 
 after the description.<br />
</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Response Class</span> 
	 - <span style="font-family: Arial, Verdana, sans-serif; font-size: 13.3333px; 
			 font-variant-ligatures: normal; font-variant-caps: normal; 
			 orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; 
			 text-decoration-color: initial; background-color: #ffffff;">The 
	 Response Class section lists HTTP response codes returned for successful 
	 requests. </span><span style="font-family: Arial, Verdana, sans-serif; 
							 font-size: 13.3333px; font-variant-ligatures: normal; 
							 font-variant-caps: normal; orphans: 2; widows: 2; 
							 -webkit-text-stroke-width: 0px; text-decoration-style: initial; 
							 text-decoration-color: initial;">A 201 response 
	 code is returned when the server has created a resource.</span></p></li>
	<li>
 <p class="list" style="font-family: Arial, Verdana, sans-serif; 
			 font-size: 13.3333px; font-variant-ligatures: normal; font-variant-caps: normal;"><span 
	 style="orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; 
	 text-decoration-color: initial; font-weight: bold;">Model</span><span 
	 style="orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; 
	 text-decoration-color: initial;"> - Click this to view details of 
	 the Schema attributes. This section displays value type supported 
	 for the attributes and whether the attributes are optional or mandatory. 
	 </span></p></li>
	<li>
 <p class="list"><span style="font-family: Arial, Verdana, sans-serif; 
								 font-size: 13.3333px; font-variant-ligatures: normal; 
								 font-variant-caps: normal; orphans: 2; 
								 widows: 2; -webkit-text-stroke-width: 0px; 
								 text-decoration-style: initial; text-decoration-color: initial; 
								 font-weight: bold;">Model Schema</span><span 
	 style="orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; 
	 text-decoration-color: initial;"> - This section displays the response 
	 Schema for an operation. By default, this tab is selected.</span></p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Response Content 
	 Type</span> - This section shows the response content type - <span 
	 style="font-weight: bold;">application/json</span>.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Parameters</span> 
	 - Operations can have parameters that can be passed via URL path or 
	 request body. You can define the parameters for the operations in 
	 the <span style="font-weight: bold;">Parameters</span> section. The 
	 sample model schema is provided under <span style="font-weight: bold;">Model</span> 
	 <span style="font-weight: bold;">Schema</span> in <span style="font-weight: bold;">Parameters</span> 
	 section. <br />
	<br />
	Click on the values displayed in the Model Schema field in Parameter 
	 section, if you want to insert the model schema as the request body.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Response Messages</span> 
	 - This section lists the HTTP response code when a request fails.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Try it out!</span> 
	 - Use this button, if you want to test the operation by providing 
	 the correct parameters required for performing the operation<br />
	<br />
	If you try the operation, portal shows the response for the operation 
	 in <span style="font-weight: bold;">Response</span> section. Response 
	 section is displayed only when you try the operation.</p></li>
</ul>
<h2><a name="Javadocs" id="a3" style="position: relative;"></a>Java Documentation</h2>
<p>The Java documentation provided in SCIM Designer tool source code are 
 generated and presented in HTML format.</p>
<p>To view Java documentation for a connector, <span style="text-indent: -20px;">c</span>lick 
 <span style="font-weight: bold;">My Connector &gt; Completed</span>. Select 
 the connector for which you want to view Java documentation from left 
 panel on the page. Click <span style="font-weight: bold;">Java Documentation</span>.<span 
	 style="text-indent: -20px;"><br />
<br />
Following is the Java documentation displayed for Odoo connector.<br />
<br />
<img src="Images/Javadocs_odoo.png" alt="" style=" border:none; width:100%; max-width:1231px;" border="0" /><br />
Refer HELP in Javadocs to understand how the API documentation is organized. 
 <br />
<br />
<img src="Images/Javadocs_help.png" alt="" style=" border:none; width:100%; max-width:999px;" border="0" /></span></p>
<p>&#160;</p>
<table class="navigationhyperlink" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText" style="background-color: #ffffff;"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Password_Management.htm" 
												 id="a7" style="color: #008000; 
												 position: relative;">Password 
		 Management</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>:<span style="color: #008000;"> 
		 <a href="SCIM_Server.htm" id="a8" 
												 style="color: #008000; 
												 position: relative;">SCIM 
		 Server</a></span></p></td>
	</tr>
 </table>


<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
	if( typeof( InitEffects ) != 'function' ) InitEffects = new Function();
	InitEffects('a8','');
	InitEffects('a2','');
	InitEffects('a3','');
	InitEffects('a1','');
	InitEffects('a6','');
	InitEffects('a7','');
	InitEffects('a4','');
	InitEffects('a5','');
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary1.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
