
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Admin_User_Guide - Escalation History</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "6.1.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_iGovernance_360.htm" class="homelink"><span>Admin_User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="776">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a href="Escalations.htm" 
														 style="color: #008000;">Escalations</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span><a href="Notification_Rules.htm" 
															 style="color: #008000;">Notification</a></span> 
		 &#160;</p></td>
	</tr>
 </table>
 <h1>Escalation History</h1>
 <p><span style="line-height: normal; orphans: auto; widows: 1; -webkit-text-stroke-width: 0px;">Tuebora 
 Portal</span> maintains a record of all the escalations generated by escalation 
 rules. This helps you to analyze and track required escalations, trends, 
 to create reports. The <span style="font-weight: bold;">Escalation History</span> 
 feature allows you to search escalations performed in Tuebora Portal. 
 You can filter escalations by time period and type of task (Certification, 
 Remediation, or Access Request), and group escalations.</p>
 <p>Following figure shows the <span style="font-weight: bold;">Escalation 
 History</span> page.</p>
 <p><img src="Images/Escalation_History.png" alt="" style=" border:none; width:100%; max-width:1043px;" border="0" /></p>
 <h2>Using Escalation History Page</h2>
 <p>Since the <span style="font-weight: bold;">Escalation History</span> 
 page lists all the escalations in the system, which are performed by using 
 escalation rules, at times it may be difficult to find specific escalations. 
 You may need to browse through all escalations to find a specific escalation 
 or a specific set of escalations. <span style="line-height: normal; orphans: auto; 
										 widows: 1; -webkit-text-stroke-width: 0px;">To 
 help you narrow down to specific escalations, y</span>ou can perform the 
 following operations on the <span style="font-weight: bold;">Escalation 
 History</span> page:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Searching_for_Password_Management_Activities_Performed">Searching 
	 for Escalations</a></p></li>
	<li>
 <p class="list"><a href="#Filtering_Escalations_by_Time_Period">Filtering 
	 Escalations by Time Period</a></p></li>
	<li>
 <p class="list"><a href="#Grouping_Displayed_Results">Grouping 
	 Escalations</a></p></li>
	<li>
 <p class="list"><a href="#Filtering_Results">Filtering Escalations 
	 by the Type of Task</a></p></li>
</ul>
<p style="color: #003868; margin-left: 0px; font-weight: bold;">Navigation</p>
<table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">Escalation 
		 History</span> feature, select <span style="font-weight: bold;">MENU 
		 &gt; System &gt; Escalation &gt;</span> then click<span style="font-weight: bold;"> 
		 History</span> tab.</p></td>
	</tr>
 </table>
 <h3><a name="Searching_for_Password_Management_Activities_Performed" id="Searching_for_Password_Management_Activities_Performed"></a>Searching 
 for Escalations</h3>
 <p>Use the <span style="font-weight: bold;">Search</span> box on the <span 
	 style="font-weight: bold;">Escalation History</span> page to search 
 for specific escalations. Enter a valid search criteria and press <span 
	 style="font-weight: bold;">Enter</span>.</p>
 <p>The page refreshes to display the escalations that match the search 
 criteria.</p>
 <p style="font-weight: bold;">Example</p>
 <p>You want to view all escalations performed in the Human Resources department. 
 Enter <span style="font-weight: bold;">Human Resources</span> in the <span 
	 style="font-weight: bold;">Search</span> box and the page displays 
 escalations from or to employees in the Human Resources department.</p>
 <h3><a name="Filtering_Escalations_by_Time_Period" id="Filtering_Escalations_by_Time_Period"></a>Filtering 
 Escalations by Time Period</h3>
 <p>You can filter escalations by time period, by using the <span style="font-weight: bold;">Limit 
 To</span> drop-down list. This drop-down list has the following options:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>All Escalations</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Escalations 
 in last 24 Hours</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Escalations 
 in last 1 Week</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Escalations 
 in last 15 Days</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Escalations 
 in last 30 Days</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Escalations 
 in last 60 Days</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Escalations 
 beyond 60 Days</p>
 <h3><a name="Grouping_Displayed_Results" id="Grouping_Displayed_Results"></a>Grouping 
 Escalations</h3>
 <p>You can group escalations by specific attribute, by using the appropriate 
 option in the <span style="font-weight: bold;">Group By</span> area. Escalations 
 can be grouped by using the following options:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="font-weight: bold; margin-top: 5pt; margin-bottom: 5pt;">Escalated 
	 From - <span style="font-weight: normal;">Grouped based on the users 
	 from whom the governance tasks were escalated.</span></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Escalated To</span> - Grouped based on 
	 the users to whom the governance tasks were escalated.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Escalation Level</span> - Grouped based 
	 on the three levels of escalation.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Policy</span> - Grouped based on the Certification 
	 Policies to which escalation rules are applicable.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Access Control</span> - Grouped based on 
	 the Access Controls to which escalation rules are applicable.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Access Request</span> - Grouped based on 
	 the Access Requests to which escalation rules are applicable.</p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Daily/Monthly/Yearly</span> <span style="font-weight: bold;">Activities</span> 
	 - Selecting an appropriate option from the drop-down list groups escalations 
	 generated daily, monthly, or yearly.</p></li>
</ul>
<p style="font-weight: bold;"><span style="font-weight: bold;">Example</span></p>
<p>You want to view all the escalations performed at the first level of 
 the escalation rules in your organization. Select <span style="font-weight: bold;">Escalation 
 Level</span> in the Group by area.</p>
<h3><a name="Filtering_Results" id="Filtering_Results"></a>Filtering Escalations 
 by the Type of Task</h3>
<p>When you search or group escalations, a long list of escalations related 
 to all governance tasks may be displayed if there are too many escalations 
 performed on your Tuebora Portal setup. You can drill down further by 
 using the <span style="font-weight: bold;">Show by</span> drop-down list. 
 Escalations can be filtered by using the <span style="font-weight: bold;">Show 
 by</span> drop-down list using the following options:</p>
<ul style="list-style: disc;">
	<li style="color: Transparent;">
 <p class="list" style="margin-top: 4pt; 
										 margin-bottom: 4pt;"><span style="font-weight: bold;">Certification</span> 
	 - Grouped based on the users from whom Certification Tasks were escalated.</p></li>
	<li style="color: Transparent;">
 <p class="list" style="margin-top: 4pt; 
										 margin-bottom: 4pt;"><span style="font-weight: bold;">Remediation</span> 
	 - Grouped based on the users from whom Remediation Tasks were escalated.</p></li>
	<li style="color: Transparent;">
 <p class="list" style="margin-top: 4pt; 
										 margin-bottom: 4pt;"><span style="font-weight: bold;">Request 
	 -</span> Grouped based on the users from whom Access Requests were 
	 escalated.</p></li>
</ul>
<br style="page-break-before: always;" />

<p class="list" style="margin-top: 4pt; margin-bottom: 4pt;">&#160;</p>
<table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Escalations.htm" style="color: #008000;">Escalations</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Notification_Rules.htm" style="color: #008000;"><span>Notification</span></a> 
		 &#160;</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
