
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Admin_User_Guide - SMS Notifications</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_iGovernance_360.htm" class="homelink"><span>Admin_User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1496">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>SMS Notifications</h1>
     <p>Messaging or SMS is the fast way to connect to employees, as most carry 
 their mobile phones at all times. So organizations have a greater chance 
 of reaching them through SMS than Email. SMS also eliminates the need 
 of accessing the Tuebora Portal UI to take the required action in the 
 system.</p>
     <p>Tuebora Portal can send SMS to users, informing them of actions taken 
 in an Asset as well as actions they should perform. If your environment 
 needs SMS notifications for the actions taken in the system, then you 
 must configure Tuebora Portal for sending SMS.</p>
     <p>SMS templates are defined for sending messages for different actions 
 taken in the system. Tuebora Portal, uses these templates to send the 
 messages to the Stakeholders. Based on the organization requirement, the 
 SMS templates can be customized.</p>
     <p>Following table lists the scenarios when SMS notifications are sent 
 to the Stakeholders.</p>
     <table style="border: Solid 1px #000000; margin-left: 24px;" cellspacing="0">
	<col />
	<col />
	<tr>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p style="color: #ffffff; font-weight: bold;">Scenarios</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 style="color: #ffffff; font-weight: bold;">Stakeholders</p></td>
	</tr>
	<tr>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Access Requested &#160;</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Access 
		 Approver to approve or reject the request</p></td>
	</tr>
	<tr>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Access Approved</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Access 
		 Requestor</p></td>
	</tr>
	<tr>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Access Rejected</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">Access Requestor</p></td>
	</tr>
	<tr>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Access Control Violation detected</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">User's Supervisor to remediate the violation</p></td>
	</tr>
	<tr>
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">Access 
		 Granted without Approval</p></td>
		<td style="vertical-align: top;">
  <p class="TableText">User's Supervisor 
		 and Asset Owner</p></td>
	</tr>
 </table>
 <h2>Configuring Tuebora Portal to send SMS</h2>
 <p>You can configure Tuebora Portal to send SMS by adding the required 
 JSON command in the Tuebora Portal (Server) Database. The JSON command 
 must be updated in Column - <span style="font-weight: bold;">data</span> 
 of the Table - <span style="font-weight: bold;">t_sms_config</span> in 
 the Database.</p>
 <h3>Connection to SMS Gateway with Proxy Server</h3>
 <p>Following figure shows a representation of Tuebora Portal Sever connection 
 to SMS Gateway.</p>
 <p><img src="Images/proxy.png" alt="" style=" border:none; width:100%; max-width:747px;" border="0" /></p>
<br style="page-break-before: always;" />

 <p>To configure the Server for SMS, perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-bottom: 0pt; 
											 margin-top: 4px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Add the 
 following JSON command in Tuebora Portal database in Column - <span style="font-weight: bold;">data</span> 
 of the Table - <span style="font-weight: bold;">t_sms_config</span>.<br />
<span style="font-style: italic;">{</span><br />
<span style="font-style: italic;">&#160;&#160;&#160;&quot;url&quot;: &quot;{url}&quot;,</span></p>
 <p style="margin-bottom: 0pt; margin-top: 4px; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;workingkey&quot;: 
 &quot;{workingkey}&quot;,</p>
 <p style="margin-bottom: 0pt; margin-top: 4px; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;sender&quot;: 
 &quot;{sender}&quot;,</p>
 <p style="margin-bottom: 0pt; margin-top: 4px; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;messagetxtkey&quot;: 
 &quot;message&quot;,</p>
 <p style="margin-bottom: 0pt; margin-top: 4px; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;senttokey&quot;: 
 &quot;to&quot;,</p>
 <p style="margin-bottom: 0pt; margin-top: 4px; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;proxyType&quot;: 
 &quot;basic&quot;,</p>
 <p style="margin-bottom: 0pt; margin-top: 4px; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;proxyserver&quot;: 
 &quot;{proxyserver IP}&quot;,</p>
 <p style="margin-bottom: 0pt; margin-top: 4px; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;proxyUserId&quot;: 
 &quot;{proxy user name}&quot;,</p>
 <p style="margin-bottom: 0pt; margin-top: 4px; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;proxypwd&quot;: 
 &quot;{proxy user pwd}&quot;,</p>
 <p style="margin-bottom: 0pt; margin-top: 4px; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;proxyhostname&quot;: 
 &quot;{proxy host name}&quot;,</p>
 <p style="margin-bottom: 0pt; margin-top: 4px; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;proxydomain&quot;: 
 &quot;{proxy domain name}&quot;</p>
 <p style="margin-bottom: 0pt; margin-top: 4px; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the information in the following fields:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Url</span>: Type the URL provided by the 
 SMS Service Provider.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Sender</span>: Type the SMS Sender Name.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Proxyserver</span>: Type the IP Address 
 of the Proxy Server.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">ProxyUserId</span>: Type the Proxy User 
 ID for authenticating the Proxy Server.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Proxypwd</span>: Type the Proxy Password 
 for authenticating the Proxy Server.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Proxyhostname</span>: Type the Proxy Host 
 Name.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">proxydomainname</span>: Type the Proxy 
 Domain Name.</p>
 <h3>Connection to SMS Gateway without Proxy Server</h3>
 <p>Following figure shows a representation of Tuebora Portal Sever connection 
 to SMS Gateway.</p>
 <p><img src="Images/Direct.png" alt="" style=" border:none; width:100%; max-width:667px;" border="0" /></p>
<br style="page-break-before: always;" />

 <p>To configure the Tuebora Portal Server to start sending SMS, perform 
 the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 4px; 
											 margin-bottom: 0pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Add the 
 following JSON command in Tuebora Portal database in Column - <span style="font-weight: bold;">data</span> 
 of the Table - <span style="font-weight: bold;">t_sms_config</span>.<br />
<br />
<span style="font-style: italic;">{</span></p>
 <p style="margin-top: 4px; margin-bottom: 0pt; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;url&quot;: 
 &#160;&quot;{url}&quot;,</p>
 <p style="margin-top: 4px; margin-bottom: 0pt; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;sender&quot;: 
 &quot;{sender}&quot;,</p>
 <p style="margin-top: 4px; margin-bottom: 0pt; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;messagetxtkey&quot;: 
 &quot;message&quot;,</p>
 <p style="margin-top: 4px; margin-bottom: 0pt; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;senttokey&quot;: 
 &quot;to&quot;,</p>
 <p style="margin-top: 4px; margin-bottom: 0pt; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;useproxy&quot;: 
 &quot;false&quot;,</p>
 <p style="margin-top: 4px; margin-bottom: 0pt; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&quot;proxyserver&quot;: 
 &quot;&quot;,</p>
 <p style="margin-top: 4px; margin-bottom: 0pt; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&quot;proxyUserId&quot;: 
 &quot;&quot;,</p>
 <p style="margin-top: 4px; margin-bottom: 0pt; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&quot;proxypwd&quot;: 
 &quot;&quot;,</p>
 <p style="margin-top: 4px; margin-bottom: 0pt; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&quot;proxyhostname&quot;: 
 &quot;&quot;,</p>
 <p style="margin-top: 4px; margin-bottom: 0pt; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&quot;proxydomain&quot;: 
 &quot;&quot;</p>
 <p style="margin-top: 4px; margin-bottom: 0pt; font-style: italic;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the information in the following fields:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Url</span>: Type the URL provided by the 
 SMS Service Provider.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Sender</span>: Type the SMS Sender Name.</p>
<br style="page-break-before: always;" />

</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
