
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Admin_User_Guide - UI Customization</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "6.3_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_iGovernance_360.htm" class="homelink"><span>Admin_User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1736">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <span><a href="Data_Import_Threshold.htm" 
		 style="color: #008000;">Data Import Threshold</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span><a href="License_Details.htm" 
															 style="color: #008000;">License 
		 Details</a></span></p></td>
	</tr>
 </table>
 <h1>Customizing User Interface</h1>
 <p>As an Administrator, you can customize Tuebora Portal features (services) 
 to match the business requirements. </p>
 <h2><a name="Tuebora_Service_Customization" id="Tuebora_Service_Customization"></a>Tuebora 
 Service Customizing</h2>
 <p>Organizations use Tuebora Portal to monitor and govern Access granted 
 to users in different Asset. The product provides features such as Access 
 Provisioning and Deprovisioning, Certification, Access Requests and Controls, 
 Password management, Alerting, and Reporting.</p>
 <p>Organizations can use Tuebora Portal only for Access Certification, 
 Access Request, as User Repository Database, or as a tool for alerting 
 and reporting Access changes in the environment. In that case, there are 
 other product features which would not be used by them. In these scenarios, 
 instead of having all the unused features displayed on product UI, organizations 
 may want to enable only the required features and disable other features 
 that are not used.</p>
 <p>Tuebora Portal provides the capability to enable/disable product features 
 to show/hide on the UI. When you disable a feature in Tuebora Portal, 
 the product UI gets customized and only the enabled features are displayed 
 for the users in the system.</p>
 <p style="font-weight: bold;">Example</p>
 <p style="font-weight: normal;">An organization uses Tuebora Portal as 
 a tool for <span style="font-weight: bold;">Access</span> <span style="font-weight: bold;">Certification</span> 
 in the environment. In that case, there are other product features which 
 would not be used by the organization. During Tuebora Portal deployment, 
 Administrator can keep only Access Certification feature enabled and disable 
 other features that are not used or required.</p>
 <p>An Administrator can use the <span style="font-weight: bold;">UI Customization</span> 
 feature to customize (enable or disable) Tuebora Portal features as per 
 the organizational requirement. The Tuebora Portal features are collectively 
 called as <span style="font-weight: bold;">Tuebora</span> <span style="font-weight: bold;">Services</span>.</p>
 <p>Following table lists the Tuebora Services which can be customized from 
 Tuebora Portal UI.</p>
 <table style=" border:Solid 1px #000000; margin-left:24px; left:0px; top:472px; width:100%; max-width:77.937%;" cellspacing="0">
	<col style="width: 55.653%;" />
	<col style="width: 44.347%;" />
	<tr style="height: 30px;">
		<td colspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold; text-align: center;">Tuebora 
		 Services</p></td>
		
	</tr>
	<tr style="height: 12px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Access Certification</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Access 
		 Controls</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Access Request</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Account 
		 Management</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Data Synchronization</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">Delegation</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Escalation</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">Password Management</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Provisioning/Deprovisioning</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">Notification</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Role Management</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">SMS Notification</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">User 
		 Management</p></td>
		<td style="vertical-align: top;">
  <p class="TableText">&#160;</p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <p style="margin-left: 0px; color: #003868; font-weight: bold;">Navigation</p>
 <table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">UI 
		 Customization</span> feature, select <span style="font-weight: bold;">MENU 
		 &gt; System &gt; UI Customization</span>.</p></td>
	</tr>
 </table>
 <h3>Viewing/Updating Tuebora Services</h3>
 <p style="font-weight: bold;">Example</p>
 <p>In an organization, during Tuebora Portal deployment all Tuebora Services 
 were enabled. As per the new Access Governance policy, Access Certification, 
 Access Control, and Access Request features will not be used and must 
 be disabled in the product. Tuebora Portal Administrator can disable the 
 required services to hide the features on the UI.</p>
 <p>To enable/disable Tuebora Services, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Tuebora</span> <span style="font-weight: bold;">Services</span> 
 tab. By default, the <span style="font-weight: bold;">Tuebora</span> <span 
	 style="font-weight: bold;">Services</span> tab is selected in <span 
	 style="font-weight: bold;">System - UI Customization</span> page.<br />
<br />
<img src="Images/UICustomization_page.png" alt="" style=" border:none; width:100%; max-width:787px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the toggle button corresponding to the Tuebora Service that you want to 
 disable/enable.</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><img src="Images/Icon_Disable2.png" alt="" style=" border:none; width:100%; max-width:57px;" border="0" /> 
 - Represents a Disabled Service</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><img src="Images/Icon_Enable.png" alt="" style=" border:none; width:100%; max-width:55px;" border="0" /> 
 - Represents an Enabled Service</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes 
 </span>after disabling the required services. A pop up appears stating 
 that the policies/definitions/Access requests/tasks related to disabled 
 services are created in the system and if you save the changes, data will 
 remain in the system but it will be processed further. <br />
<br />
<img src="Images/UICustomization_SuccessMessage.png" alt="" style=" border:none; width:100%; max-width:513px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span> 
 to proceed and save the configuration. A pop up appears stating that the 
 Tuebora Service Configuration is updated successfully.<br />
<br />
<img src="Images/UICustomization_SuccessMessage_2.png" alt="" style=" border:none; width:100%; max-width:406px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">OK</span>.</p>
 <p class="list">&#160;</p>
 <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Data_Import_Threshold.htm" style="color: #008000;"><span>Data 
		 Import Threshold</span></a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="License_Details.htm" style="color: #008000;"><span>License 
		 Details</span></a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
