
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora REST API - Create Delegation Rule</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "12.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../Tuebora_API.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../Tuebora_API.htm" class="homelink"><span>Tuebora REST API</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1352">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../Tuebora_API.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Create Delegation Rule</h1>
     <p><span lang="EN-IN" xml:lang="EN-IN">Create a tasks Delegation Rule. 
 </span></p>
     <table class="Table" cellspacing="0" width="100%">
	<col style="width: 23.424%;" />
	<col style="width: 38.288%;" />
	<col style="width: 38.288%;" />
	<tr class="t1st" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter" style="color: #000000;">URL</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="font-weight: bold;">/api/v1/delegationrules/</p></td>
		
	</tr>
	<tr class="t2Row" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">HTTP Method</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">POST</p></td>
		
	</tr>
	<tr class="t1Row" style="height: 54px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">Headers</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-weight: normal;"><span 
			 style="font-weight: bold;">Content-Type</span>: application/json</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">Authorization</span>: Basic Authorization. 
			 Use the credentials of the Client added on SCIM Server as 
			 Basic Authorization Credentials.</p></li>
		</ul></td>
		
	</tr>
	<tr class="t2Row" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">Data Type</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Request 
		 Body</p></td>
		
	</tr>
	<tr class="t1Row" style="height: 163px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter"><a href="#Details_of_Data_Parameters">Data 
		 Parameters</a></p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="tabletext" 
			 style="margin-top: 1.5pt; margin-right: 0in; margin-bottom: 1.5pt; 
			 margin-left: 5.1pt;">{</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;name&quot;: 
		 &quot;&quot;,</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;delegatedByUserId&quot;: 
		 , &#160;&#160;&#160;</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;toBeDelegated&quot;: 
		 {&quot;&quot;:&quot;&quot;},</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;delegatedTo&quot;:[], 
		 &#160;&#160;&#160;</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;fromDate&quot;: 
		 &quot;&quot;, &#160;</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;toDate&quot;: 
		 &quot;&quot;, &#160;</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;reason&quot;:&quot;&quot;, 
		 &#160;&#160;</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">&quot;reasonDetails&quot;:&quot;&quot;</p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;">}</p></td>
		
	</tr>
	<tr class="t2Row" style="height: 50px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 vertical-align: top;">
  <p class="APIParameter">Success Response 
		 Code and Response Data</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="color: #000000;">200 OK</p>
		<p class="TableText" style="color: #000000;"><span lang="EN-IN" 
															 xml:lang="EN-IN">All 
		 success responses</span> return the created Delegation Rule data. 
		 The response contains the unique identifier of the newly created 
		 Delegation Rule. </p></td>
		
	</tr>
	<tr class="t1Row" style="height: 50px;">
		<td rowspan="17" style="border-right: Solid 1px #c0c0c0; vertical-align: top;">
  <p 
			 class="APIParameter">Error Response</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
									 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
									 mso-bidi-language: AR-SA;">For passing 
		 duplicate rule name</span><span style="font-family: Verdana, sans-serif;"> 
		 for a user</span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">&quot;errorCode&quot;: 
		 &quot;delegation_rule_name_delegated_by_exists&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;Delegation 
		 Rule with the same name for this user already exists.&quot;</p></td>
	</tr>
	<tr class="t2Row" style="height: 39px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For data passed without 
		 rule name</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 dir="ltr" class="TableText" style="line-height: 1.38;">&quot;errorCode&quot;: 
		 &quot;delegation_rule_name_missing&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;Delegation 
		 Rule Name is missing.&quot;</p></td>
	</tr>
	<tr class="t1Row" style="height: 50px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For long rule name 
		 and rule name containing special characters </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 dir="ltr" class="TableText">&quot;errorCode&quot;: &quot;delegation_rule_name_invalid&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;Delegation 
		 Rule Name can have only alphanumeric and '-','_' characters and 
		 its length cannot exceed 256 characters.&quot;</p></td>
	</tr>
	<tr class="t2Row" style="height: 48px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For not specifying 
		 the delegated by user</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;errorCode&quot;: &quot;delegated_by_user_missing&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;Delegated 
		 By User is missing.&quot;</p></td>
	</tr>
	<tr class="t1Row" style="height: 35px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">If the User Id specified 
		 for delegated by user in invalid</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;errorCode&quot;: &quot;delegated_by_user_not_found&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;Delegated 
		 By User is not found.&quot;</p></td>
	</tr>
	<tr class="t2Row" style="height: 50px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For specifying inactive 
		 User Id as delegated by user</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;errorCode&quot;: &quot;delegated_by_user_inactive&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;Delegated 
		 By User is Inactive.&quot;</p></td>
	</tr>
	<tr class="t1Row" style="height: 50px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For not specifying 
		 what tasks need to be delegated</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;errorCode&quot;: &quot;to_be_delegated_info_missing&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;What needs 
		 to be delegated information is missing.&quot;</p></td>
	</tr>
	<tr class="t2Row" style="height: 50px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For specifying wrong 
		 key for what tasks need to be delegated</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;errorCode&quot;: &quot;to_be_delegated_info_invalid&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;What needs 
		 to be delegated information is invalid.&quot;</p></td>
	</tr>
	<tr class="t1Row" style="height: 57px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For not specifying 
		 the delegated to user</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;errorCode&quot;: &quot;delegated_to_info_missing&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;To whom 
		 it should be delegated information is missing.&quot;</p></td>
	</tr>
	<tr class="t2Row" style="height: 36px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">If the User Id specified 
		 for delegated to user in invalid</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;errorCode&quot;: &quot;delegated_to_user_not_found&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;Delegated 
		 To User is Not Found.&quot;</p></td>
	</tr>
	<tr class="t1Row" style="height: 36px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For specifying inactive 
		 User Id as delegated to user</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;errorCode&quot;: &quot;delegated_to_user_inactive&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;Delegated 
		 To User is Inactive.&quot;</p></td>
	</tr>
	<tr class="t2Row" style="height: 50px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">If the User ID specified 
		 for Delegated by User and Delegated to User</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;errorCode&quot;: &quot;delegated_by_user_to_user_same&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;Delegated 
		 By and Delegated To User is the same.&quot;</p></td>
	</tr>
	<tr class="t1Row" style="height: 36px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For not specifying 
		 delegation start date</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;errorCode&quot;: &quot;delegation_rule_from_date_missing&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;Delegation 
		 Rule From Date is missing.&quot;</p></td>
	</tr>
	<tr class="t2Row" style="height: 50px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For specifying today's 
		 or past date as delegation start date</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;errorCode&quot;: &quot;delegation_rule_from_date_invalid&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;Delegation 
		 Rule From Date is before tomorrow. &#160;It must be tomorrow's 
		 date or a future date.&quot;</p></td>
	</tr>
	<tr class="t1Row" style="height: 50px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For specifying delegation 
		 date before the start date</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;errorCode&quot;: &quot;delegation_rule_to_date_invalid&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;Delegation 
		 Rule To Date is invalid. &#160;It needs to be after From Date.&quot;</p></td>
	</tr>
	<tr class="t2Row" style="height: 50px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For creating a rule 
		 which matches an existing rule definition</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">&quot;errorCode&quot;: &quot;delegation_rule_conflict&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;There 
		 is conflict in Rule Definition with another Rule.&quot;</p></td>
	</tr>
	<tr class="t1Row" style="height: 50px;">
		<td style="border-right: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">For not specifying the reason for delegation</p></td>
		<td bgcolor="#A5C6E0">
  <p class="TableText">&quot;errorCode&quot;: 
		 &quot;delegation_rule_reason_missing&quot;,</p>
		<p class="TableText">&quot;errorDescription&quot;: &quot;Delegation 
		 Rule Reason is missing.&quot;</p></td>
	</tr>
 </table>
 <h3 class="Request"><a name="Details_of_Data_Parameters"></a>Details of 
 Data Parameters</h3>
 <table class="Table" cellspacing="0" width="100%">
	<col style="width: 15.1%;" />
	<col style="width: 11.356%;" />
	<col style="width: 35.15%;" />
	<col style="width: 38.394%;" />
	<tr class="t1st">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Parameter</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Is Mandatory</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Description</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">Additional 
		 Information</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">name</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Specify name for the delegation rule.</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Name 
		 should not exceed 256 characters.<br />
		<br />
		Name can be alphanumeric and contain &quot;_&quot; and &quot;-&quot;</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">delegatedByUserId</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Specify the ID of the User whose tasks must 
		 be delegated.</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">toBeDelegated</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Specify what tasks to be delegated.</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">The 
		 keys allowed for delegating tasks are:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="background-color: #ffffff; 
									 font-family: Verdana, sans-serif; 
									 font-weight: 400; font-size: 9pt;"><b 
			 id="docs-internal-guid-b249113e-7fff-50f9-a9fa-a39bc93f0058"><span 
			 style="font-weight: 400;">“Request” - Delegates all the request 
			 approval tasks</span></b></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><b id="docs-internal-guid-b249113e-7fff-50f9-a9fa-a39bc93f0058"><span 
			 style="font-weight: 400;">”Certification” - Delegates the 
			 certification tasks</span></b></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><b id="docs-internal-guid-b249113e-7fff-50f9-a9fa-a39bc93f0058"><span 
			 style="font-weight: 400;">”Remediation” - Delegates the remediation 
			 tasks</span></b></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><b id="docs-internal-guid-b249113e-7fff-50f9-a9fa-a39bc93f0058"><span 
			 style="font-size: 11pt; font-family: Arial; background-color: #ffffff; 
			 font-weight: 400;">”</span><span style="background-color: #ffffff; 
												 font-weight: 400; font-family: Verdana, sans-serif;">Comment” 
			 - Deletes the provide info tasks</span></b> </p></li>
		</ul>
		<p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 Request&quot;:&quot;all&quot;. &#160;This delegates all request 
		 tasks.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">delegatedTo</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Specify the ID of the Users to whom tasks 
		 must be delegated</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">You 
		 can specify more than one user ID. </p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Specify the ID as comma separated values.</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">fromDate</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Specify the date from which the tasks must 
		 be delegated.</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">At 
		 the time of rule creation, the date specified must be tomorrow's 
		 or future date.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Format to be used for specifying date is - 
		 <span style="font-weight: bold;">2020-05-01T00:00:00Z</span></p>
		<p class="TableText"><br />
		<span style="font-style: italic; font-weight: bold;">Note</span><span 
		 style="font-style: italic;">: Caller must not send the &quot;time&quot;. 
		 &quot;time&quot; should always be sent as </span><span style="font-style: italic; 
		 font-weight: bold;">00:00:00</span><span style="font-style: italic;">.</span></p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">toDate</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Specify the date until which the tasks must 
		 be delegated.</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">The 
		 date specified must be after <span style="font-weight: bold;">fromDate</span> 
		 or empty. &#160;If empty, it is treated as <span style="font-weight: bold;">forever</span>.</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">reason</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Specify the reason for task delegation.</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">The 
		 OOTB reasons allowed are:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">“planned-leave”</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">“unplanned-leave”</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">”other”</p></li>
		</ul></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0;">
  <p class="TableText">reasonDetails</p></td>
		<td style="border-right: Solid 1px #c0c0c0;">
  <p class="TableText">No</p></td>
		<td style="border-right: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 additional information for delegating tasks.</p></td>
		<td>
  <p class="TableText">The additional information provided should 
		 not be greater than 100 characters.</p></td>
	</tr>
 </table>
 <p class="Request"><img src="../Images/Image_left.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Request 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">curl -v -X POST \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-H &quot;Accept: application/json&quot; 
		 \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-H &quot;Content-Type: application/json&quot; 
		 \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-H &quot;Authorization: Basic ${basic_authentication_header}&quot; 
		 \</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">-d '</span><span lang="EN-IN" xml:lang="EN-IN" 
														 style="mso-fareast-font-family: 'Times New Roman'; 
														 mso-ansi-language: EN-IN; 
														 mso-fareast-language: EN-IN; 
														 mso-bidi-language: AR-SA;">{</span></p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;name&quot;: 
		 &quot;My Certification Rule&quot;, </p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;delegatedByUserId&quot;: 
		 2,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;toBeDelegated&quot;: 
		 {&quot;Certification&quot;:&quot;all&quot;},</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;delegatedTo&quot;:[75, 
		 3],</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;fromDate&quot;: 
		 &quot;2020-05-06T00:00:00Z&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;toDate&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;reason&quot;:&quot;planned-leave&quot;,</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;reasonDetails&quot;:&quot;&quot;</p>
		<p class="TableText" style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;"><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">}</span></span>' &quot;https://</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">{</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">yourTenantURL</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">}</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">/</span><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif; 
		 mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">api/v1/delegationrules</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">&quot;</span><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"> 
		 </span></p></td>
	</tr>
 </table>
 <p class="Request"><img src="../Images/Image_Right.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Response 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;id&quot;: &quot;5249a538-64a2-4720-8a4a-c4ab72d7f110&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;creationDate&quot;: 
		 &quot;2020-05-05T04:18:00Z&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;createdBy&quot;: 
		 &quot;TueboraClientAPI&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;lastModifiedDate&quot;: 
		 &quot;2020-05-05T04:18:00Z&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;lastModifiedBy&quot;: 
		 &quot;TueboraClientAPI&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;name&quot;: 
		 &quot;My Certification Rule&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;delegatedByUserId&quot;: 
		 &quot;2&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;toBeDelegated&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;Certification&quot;: 
		 &quot;all&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;delegatedTo&quot;: 
		 [</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;75,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;3</p>
		<p class="TableText">&#160;&#160;&#160;&#160;],</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;fromDate&quot;: 
		 &quot;2020-05-06T00:00:00Z&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;toDate&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;reason&quot;: 
		 &quot;planned-leave&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;reasonDetails&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;definition&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;name&quot;: 
		 &quot;My Certification Rule&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;delegatedByUserId&quot;: 
		 &quot;2&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;toBeDelegated&quot;: 
		 {</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;Certification&quot;: 
		 &quot;all&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;delegatedTo&quot;: 
		 [</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;75,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;3</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;],</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;fromDate&quot;: 
		 &quot;2020-05-06T00:00:00.000Z&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;toDate&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;reason&quot;: 
		 &quot;planned-leave&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;reasonDetails&quot;: 
		 &quot;&quot;</p>
		<p class="TableText">&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;active&quot;: 
		 true,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;delegatedByUserName&quot;: 
		 &quot;Adam George&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;delegatedToUsers&quot;: 
		 [</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;entityTypeName&quot;: 
		 &quot;User&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;lastModifiedOn&quot;: 
		 &quot;2020-03-24T06:45:10Z&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;lastModifiedByUserId&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;lastModifiedByAccountId&quot;: 
		 13,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;lastModifiedByProc&quot;: 
		 &quot;manual&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;firstSeenOn&quot;: 
		 &quot;2020-03-24T06:45:10Z&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;tag&quot;: 
		 0,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;filters&quot;: 
		 0,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr1&quot;: 
		 &quot;aaron&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr2&quot;: 
		 &quot;bennett&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr3&quot;: 
		 &quot;Employee3&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr7&quot;: 
		 &quot;Aaron.Bennett@xanadufinancials.com&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr8&quot;: 
		 &quot;Operations&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr9&quot;: 
		 &quot;Employee&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr10&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr11&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr12&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr13&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr14&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr15&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr16&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr17&quot;: 
		 &quot;Active&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr18&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr19&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr20&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eint1&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eint2&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eint3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eint4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eint5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eint6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate1&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate2&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eflag1&quot;: 
		 false,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eflag2&quot;: 
		 false,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eflag3&quot;: 
		 false,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eflag4&quot;: 
		 false,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eflag5&quot;: 
		 false,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereal1&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereal2&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereal3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereal4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereal5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext1&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext2&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext7&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext8&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext9&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext10&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext11&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext12&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext13&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext14&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext15&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref1&quot;: 
		 3,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype1&quot;: 
		 1,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname1&quot;: 
		 &quot;Andrew Green&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref2&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype2&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname2&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref7&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype7&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname7&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref8&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype8&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname8&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref9&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype9&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname9&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref10&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype10&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname10&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;entityTypeId&quot;: 
		 1,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;scopeId&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;scopeEntityTypeId&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;scopeRef&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;deletionDetectedOn&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;isDeleted&quot;: 
		 false,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;assetType&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;assetTypeId&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;assetId&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;shortName&quot;: 
		 &quot;aaron bennett&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;name&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;fullName&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;scopeName&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;assetName&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;scopeType&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;type&quot;: 
		 &quot;User&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr21&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr22&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr23&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr24&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr25&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr26&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr27&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr28&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr29&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr30&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr31&quot;: 
		 &quot;Employee3&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr32&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr33&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr34&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr35&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate7&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate8&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate9&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate10&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 75,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext16&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext17&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext18&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext19&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext20&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;riskScore&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;isDeprovProcessed&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;isProvisioningMailSent&quot;: 
		 null</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;},</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;entityTypeName&quot;: 
		 &quot;User&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;lastModifiedOn&quot;: 
		 &quot;2020-04-21T06:35:04Z&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;lastModifiedByUserId&quot;: 
		 0,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;lastModifiedByAccountId&quot;: 
		 13,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;lastModifiedByProc&quot;: 
		 &quot;manual&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;firstSeenOn&quot;: 
		 &quot;2020-04-21T04:10:10Z&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;tag&quot;: 
		 144115188075855872,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;filters&quot;: 
		 0,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr1&quot;: 
		 &quot;Andrew&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr2&quot;: 
		 &quot;Green&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr3&quot;: 
		 &quot;Test123&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr7&quot;: 
		 &quot;Andrew.Green@xanadufinancials.com&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr8&quot;: 
		 &quot;Employee&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr9&quot;: 
		 &quot;Employee&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr10&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr11&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr12&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr13&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr14&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr15&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr16&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr17&quot;: 
		 &quot;Active&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr18&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr19&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr20&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eint1&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eint2&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eint3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eint4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eint5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eint6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate1&quot;: 
		 &quot;2020-04-20T12:00:00Z&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate2&quot;: 
		 &quot;2020-04-21T05:58:00Z&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eflag1&quot;: 
		 true,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eflag2&quot;: 
		 false,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eflag3&quot;: 
		 false,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eflag4&quot;: 
		 false,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eflag5&quot;: 
		 false,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereal1&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereal2&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereal3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereal4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereal5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext1&quot;: 
		 &quot;terminating&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext2&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext7&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext8&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext9&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext10&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext11&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext12&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext13&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext14&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext15&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref1&quot;: 
		 75,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype1&quot;: 
		 1,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname1&quot;: 
		 &quot;aaron bennett&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref2&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype2&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname2&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname3&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname4&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname5&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref7&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype7&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname7&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref8&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype8&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname8&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref9&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype9&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname9&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;eref10&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;ereftype10&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;erefname10&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;entityTypeId&quot;: 
		 1,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;scopeId&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;scopeEntityTypeId&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;scopeRef&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;deletionDetectedOn&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;isDeleted&quot;: 
		 false,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;assetType&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;assetTypeId&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;assetId&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;shortName&quot;: 
		 &quot;Andrew Green&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;name&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;fullName&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;scopeName&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;assetName&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;scopeType&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;type&quot;: 
		 &quot;User&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr21&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr22&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr23&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr24&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr25&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr26&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr27&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr28&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr29&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr30&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr31&quot;: 
		 &quot;Test123&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr32&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr33&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr34&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;estr35&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate6&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate7&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate8&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate9&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;edate10&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 3,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext16&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext17&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext18&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext19&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;etext20&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;riskScore&quot;: 
		 null,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;isDeprovProcessed&quot;: 
		 true,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;isProvisioningMailSent&quot;: 
		 null</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
		<p class="TableText">&#160;&#160;&#160;&#160;]</p>
		<p class="TableText">}</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
