
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>SSOSocialLoginIntegratioGuide - Facebook_Integration</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="stylesheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Facebook_Integration.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Facebook_Integration.htm" class="homelink"><span>SSOSocialLoginIntegratioGuide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="8">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Facebook_Integration.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>How do I add Facebook for Social Login?</h1>
<hr align="center" />
     <h2>Introduction</h2>
     <p>Tuebora SSO is a Single Sign-on solution for applications across an 
 organization. The product makes it possible for organizations to enable 
 access of users to applications in the most secured and fast manner. Tuebora 
 SSO portal serves as a single point of entry from where registered users 
 can log in to multiple configured applications.</p>
     <h2>Facebook for Social Login</h2>
     <p>Social Login allows users to register or sign into web applications 
 using their existing social network identities instead of creating a new 
 Account specifically for that application. In Tuebora SSO, to provide 
 simplified sing-in process for end users, we have provided the ability 
 to add Facebook application for social login.</p>
     <h3>Adding Facebook for Social Login</h3>
     <p>To add Facebook for social login, perform the following steps: </p>
     <table cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText">1. Log in to Facebook.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td colspan="2">
  <p class="TableText">2. Go to the URL - <a href="http://developers.facebook.com/" 
		 target="_blank">http://developers.facebook.com</a></p>
		<table class="Note" cellspacing="0px" width="100%">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p class="TableText"><span style="font-weight: bold;">Note</span>: 
				 Skip the step 4 and 5, if you are already registered as 
				 Facebook Developer.</p></td>
			</tr>
		</table></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">3. Click <span style="font-weight: bold;">Log 
		 In </span>to log in to Facebook account.<br />
		Facebook login page appears.</p></td>
		<td>
  <p style="text-align: center;">&#160;&#160;<img src="Images/Facebook1.png" alt="" style=" border:none; width:100%; max-width:225px;" border="0" /></p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText" style="margin-left: 24px;">a. Specify 
		 Facebook <span style="font-weight: bold;">Login ID</span> and 
		 <span style="font-weight: bold;">Password</span>.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText" style="margin-left: 24px;">b. Click <span 
		 style="font-weight: bold;">Login</span>. The Facebook login page 
		 closes and the Facebook developer page gets reloaded. </p>
		<p class="TableText" style="margin-left: 24px;"><br />
		Now, you will see the <span style="font-weight: bold;">Get</span> 
		 <span style="font-weight: bold;">Started</span> link in place 
		 of <span style="font-weight: bold;">Log</span> <span style="font-weight: bold;">In</span>.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td colspan="2">
  <table class="Note" cellspacing="0px" width="100%">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p class="TableText"><span style="font-weight: bold;">Note</span>: 
				 If you already have a Facebook Developer Account, then 
				 <span style="font-weight: bold;">Get Started</span> link 
				 will not be displayed. In this place, you will see <span 
				 style="font-weight: bold;">My Apps</span> option. Using 
				 which you can add the required applications.</p></td>
			</tr>
		</table></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">4. Click <span style="font-weight: bold;">Get</span> 
		 <span style="font-weight: bold;">Started</span>. The <span style="font-weight: bold;">Welcome 
		 to Facebook for Developers</span> window opens.</p></td>
		<td>
  <p class="TableText" style="text-align: center;"><img src="Images/Facebook2.png" alt="" style=" border:none; width:100%; max-width:225px;" border="0" /></p></td>
	</tr>
	<tr>
		<td style="vertical-align: top;">
  <p class="TableText">5. Click 
		 <span style="font-weight: bold;">Next</span> to create a Facebook 
		 for Developer account.</p>
		<p class="TableText">In the <span style="font-weight: bold;">Welcome 
		 to Facebook for Developers</span> window the <span style="font-weight: bold;">Registration</span> 
		 step is indicated as completed.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">In the same window, you can continue to add 
		 a new app or you can add an app later.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">In this guide we will create the app later. 
		 Click <img src="Images/Facebook3.png" alt="" style=" border:none; width:100%; max-width:15px;" border="0" /> (Close) icon 
		 to close the window. </p></td>
		<td style="vertical-align: top;">
  <p class="TableText" style="text-align: center;"><img src="Images/Facebook4.png" alt="" style=" border:none; width:100%; max-width:225px;" border="0" /></p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">6. Click <span style="font-weight: bold;">My</span> 
		 <span style="font-weight: bold;">Apps </span>menu option available 
		 in the top right corner of the Facebook Developers page.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">7. Select <span style="font-weight: bold;">Add 
		 a New App</span> from the drop-down list.</p>
		<p class="TableText">The <span style="font-weight: bold;">Create 
		 a New App ID</span> window opens.</p></td>
		<td>
  <p class="TableText" style="text-align: center;"><img src="Images/Facebook6.png" alt="" style=" border:none; width:100%; max-width:225px;" border="0" /></p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">8. Type the Application display name in 
		 the <span style="font-weight: bold;">Display Name</span> field.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td colspan="2">
  <p class="TableText">9. Type the contact email 
		 address in the <span style="font-weight: bold;">Contact</span> 
		 <span style="font-weight: bold;">Email</span> field.</p></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">10. Click <span style="font-weight: bold;">Create 
		 App ID</span> button.</p>
		<p class="TableText">The subwindow closes. The Dashboard the application 
		 that you added appears. &#160;<br />
		</p></td>
		<td>
  <p class="TableText" style="text-align: center;"><img src="Images/Facebook5.png" alt="" style=" border:none; width:100%; max-width:225px;" border="0" /></p></td>
	</tr>
	<tr>
		<td colspan="2">
  <h2>Obtain App ID and App Secret of the App</h2></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">You must note down the App ID and App 
		 Secret of the Application that you added for TueboraSSO. </p>
		<p class="TableText">The App ID and App Secret is used for integrating 
		 Facebook login to Tuebora SSO and give the end users an ability 
		 to log in with their facebook account. </p>
		<p class="TableText">&#160;</p>
		<p class="TableText">To obtain the App ID and App Secret, perform 
		 the following:</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">1. Click the option <span style="font-weight: bold;">Settings</span> 
		 <span style="font-weight: bold;">&gt; Basic</span> displayed on 
		 the Application page.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">The page refreshes to display the options 
		 to define the basic settings</p>
		<p class="TableText">&#160;</p></td>
		<td rowspan="3">
  <p style="text-align: center;"><img src="Images/Facebook7.png" alt="" style=" border:none; width:100%; max-width:225px;" border="0" /></p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">2. Copy the ID of the Application from 
		 the <span style="font-weight: bold;">App ID</span> field</p></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">3. Click <span style="font-weight: bold;">Show</span> 
		 in the <span style="font-weight: bold;">App Secret</span> field. 
		 The application secret is displayed. Copy the value displayed 
		 in the App Secret field.</p></td>
		
	</tr>
	<tr>
		<td>
  <h2>App Settings</h2></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">For users to login to Tuebora SSO using 
		 the Facebook login credentials, you must specify the Tuebora SSO 
		 Login page URL for the application that you added for Tuebora 
		 SSO and enable Client OAuth Settings.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">To define settings, perform the following:</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">1. Click the option <span style="font-weight: bold;">Settings</span> 
		 <span style="font-weight: bold;">&gt; Basic</span> displayed on 
		 the Application page.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">The page refreshes to display the options 
		 to define the basic settings</p></td>
		<td rowspan="4">
  <p style="text-align: center;"><img src="Images/Facebook8.png" alt="" style=" border:none; width:100%; max-width:225px;" border="0" /></p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">2. Click the option <span style="font-weight: bold;">+ 
		 Add Platform </span>displayed on the page.</p>
		<p class="TableText">The <span style="font-weight: bold;">Select 
		 Platform</span> subwindow opens.</p></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">3. Click the platform - <span style="font-weight: bold;">Website</span>.</p>
		<p class="TableText">The subwindow closes and a new section Website 
		 is displayed on the Basic Settings page.</p></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">4. Type the Tuebora SSO Login URL in the 
		 <span style="font-weight: bold;">Site URL</span> field.</p></td>
		
	</tr>
	<tr>
		<td colspan="2">
  <table class="Note" cellspacing="0px" width="100%">
			<col style="width: 100%;" />
			<tr>
				<td>
    <p class="TableText"><span style="font-weight: bold;">Note</span>: 
				 You must add '<span style="font-weight: bold;">/</span>'at 
				 the end of the Tuebora SSO login URL. Example - http://sso.test.com/</p></td>
			</tr>
		</table></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">5. Click <span style="font-weight: bold;">Save</span> 
		 <span style="font-weight: bold;">Changes</span>. The basic settings 
		 are saved.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">6. Click &#160;<span style="font-weight: bold;">Dashboard</span>. 
		 The Application Dashboard appears.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">7. Scroll the page to view <span style="font-weight: bold;">Add 
		 a Product</span> section.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">8. Click <span style="font-weight: bold;">Set 
		 Up</span> button available for <span style="font-weight: bold;">Facebook</span> 
		 <span style="font-weight: bold;">Login</span> product.</p>
		<p class="TableText">Facebook Login product gets added to the App. 
		 You can view the product added to the App in Left navigation panel.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">9. Click <span style="font-weight: bold;">Settings</span> 
		 option displayed for <span style="font-weight: bold;">Facebook</span> 
		 <span style="font-weight: bold;">Login</span> product.</p>
		<p class="TableText">The page refreshes and shows the <span style="font-weight: bold;">Client 
		 OAuth Setting</span> options in the Right-panel.</p></td>
		<td rowspan="4">
  <p style="text-align: center;"><img src="Images/Facebook9.png" alt="" style=" border:none; width:100%; max-width:225px;" border="0" /></p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">10. Set <span style="font-weight: bold;">Yes</span> 
		 to the option <span style="font-weight: bold;">Client OAuth Login</span>.</p></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">11. Set <span style="font-weight: bold;">Yes</span> 
		 to the option <span style="font-weight: bold;">Web OAuth Login</span></p></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">12. Specify the <span style="font-weight: bold;">Tuebora 
		 SSO URL</span> in the <span style="font-weight: bold;">Valid OAuth 
		 Redirect URIs</span> field.</p></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">13. Click <span style="font-weight: bold;">Save</span> 
		 <span style="font-weight: bold;">Changes</span> in the <span style="font-weight: bold;">Client 
		 OAuth Setting</span> page.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td colspan="2">
  <h2>Configure Facebook App ID and App Secret in 
		 Tuebora SSO</h2></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">1. Connect to the system on which Tuebora 
		 web components are installed. </p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">2. Login as the user account used for 
		 installing Tuebora on Linux system.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">3. Navigate to the Tuebora Installation 
		 Base Directory by running the command <span style="font-weight: bold; 
													 font-style: italic;">cd 
		 /&lt;base install directory&gt;</span><br />
		<span style="font-weight: bold;">Example</span>: cd /opt/tuebora.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">4. Navigate to <span style="font-weight: bold;">config</span> 
		 folder in <span style="font-weight: bold;">Apache2</span> folder 
		 by running the command <span style="font-weight: bold; font-style: italic;">cd 
		 /apache2/htdocs/&lt;deployed Tenant Name&gt;/protected/config</span>&#160;</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Replace value for <span style="font-weight: bold; 
													 font-style: italic;">&lt;deployed 
		 Tenant Name&gt;.</span></p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">3. Run the command <span style="font-weight: bold;">vi 
		 main.php </span>to open the file in edit mode.</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">4. Type <span style="font-weight: bold;">/Facebook</span> 
		 to locate the Facebook configuration section.</p></td>
		<td rowspan="3">
  <p style="text-align: center;"><img src="Images/Facebook10.png" alt="" style=" border:none; width:100%; max-width:225px;" border="0" /></p></td>
	</tr>
	<tr>
		<td>
  <p class="TableText">5. Specify the <span style="font-weight: bold;">App 
		 ID</span> against <span style="font-weight: bold;">id</span> key.</p></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">6. Specify the <span style="font-weight: bold;">App 
		 Secret</span> against <span style="font-weight: bold;">secret</span> 
		 key.</p></td>
		
	</tr>
	<tr>
		<td>
  <p class="TableText">7. Ensure the value set for <span style="font-weight: bold;">Enabled</span> 
		 key is <span style="font-weight: bold;">true</span>.</p></td>
		<td>&#160;</td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
