<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Sample 3</title>
<link rel="StyleSheet" href="default.css" type="text/css" />
</head>

<body>
<br style="page-break-before: always;" />

<h1>Provisioning an Access to a New User by Getting Values Dynamically 
 from Event Data</h1>
<p>This walkthrough illustrates the flow of operations defined in workflow 
 to provision access to New User.</p>
<h3>Story</h3>
<p>Simon is a System Integrator working for Xanadufinancial Ltd. He has 
 to create a workflow to implement the business process followed to provision 
 access to new user. The requirement to create a workflow is:</p>
<ul style="list-style: disc;">
	<li><p class="list">Workflow must run when a new user is detected in 
	 Tuebora.</p></li>
	<li><p class="list">Workflow must get values for all attributes dynamically 
	 from New User Event data.</p></li>
	<li><p class="list">Workflow must create account in Active Directory 
	 for a new user.</p></li>
</ul>
<h3>&#160;&#160;Flow of Operations in Access Provisioning Workflow</h3>
<p>Simon creates a workflow to provision an access in AD and it contains 
 the following information and steps:</p>
<?rh-list_start class="basicnumber" start="1" style="list-style: rh-list; 
				 list-style: rh-list;" ?><p class="list" style="text-indent: -20px; 
											 margin-left: 50px;">Name, 
 Description, Event Type for the Workflow</p><?rh-list_end ?>
<?rh-list_start class="basicnumber" style="list-style: rh-list; list-style: rh-list;" ?><p 
	 class="list" style="text-indent: -20px; margin-left: 50px;">Following 
 process definition code is written:</p><?rh-list_end ?>
<?rh-list_start class="basicnumber" level="2" style="list-style: rh-list; 
				 list-style: rh-list;" ?><p class="list" style="text-indent: -20px; 
											 margin-left: 80px;">Defines 
 the Variables that must be used to create account in AD</p><?rh-list_end ?>
<?rh-list_start class="basicnumber" level="2" style="list-style: rh-list; 
				 list-style: rh-list;" ?><p class="list" style="text-indent: -20px; 
											 margin-left: 80px;">Defines 
 the steps that must be executed to create account in AD</p><?rh-list_end ?>
<p class="list">Following is the provisioning an Approved Department Access 
 to a New User workflow schema representation in JSON format.</p>
<table style="border: Solid 1px #000000; left: 0px; top: 1583px;" cellspacing="0" 
		 width="100%">
	<col style="width: 100%;" />
	<tr>
		<td bgcolor="#C0C0C0"><p style="margin-top: 5pt; margin-bottom: 5pt; 
								 margin-left: 12px;">&#160;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">{{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;name&quot;: 
		 &quot;Provision HR Dept Access&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;description&quot;: 
		 &quot;Provision HR Dept Access for NewUser&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;eventNotificationURL&quot;: 
		 null,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;triggers&quot;: 
		 [{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;name&quot;: 
		 &quot;NewUser&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;predicate&quot;: 
		 Null</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">}],</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;tasks&quot;: 
		 [{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;name&quot;: 
		 &quot;WayToGetValueForVariablesDirectlyFromEventData&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;description&quot;: 
		 &quot;Get the value for the variables directly from event data&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;type&quot;: 
		 &quot;task&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;data&quot;: 
		 {</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;steps&quot;: 
		 [{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;name&quot;: 
		 &quot;createAD&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;description&quot;: 
		 &quot;createStep&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;type&quot;: 
		 &quot;httpStep&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;data&quot;: 
		 {</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;url&quot;: 
		 &quot;ep://tuebora-scim-url/activedirectory/users/$trigger.user.id&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;headers&quot;: 
		 {},</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;method&quot;: 
		 &quot;put&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;charSet&quot;: 
		 &quot;utf-8&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;contentType&quot;: 
		 &quot;application/json&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">&quot;body&quot;: 
		 &quot;{ \&quot;name\&quot;: \&quot;$trigger.user.Short_Name\&quot;, 
		 \&quot;email\&quot;: \&quot;$trigger.user.Email_Address\&quot;, 
		 \&quot;uniqueID\&quot;: \&quot;$steps.getUniqueID.response.id\&quot; 
		 }&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">}</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">}]</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">}</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 12px;">}</p></td>
	</tr>
</table>
</body>
</html>
