
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Asset Onboarding - Appendix</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Asset_Onboarding.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Asset_Onboarding.htm" class="homelink"><span>Asset Onboarding</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="8">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Asset_Onboarding.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Appendix</h1>
     <h3><a name="Account_Linking_Rule_JSON_Structure"></a>Account Linking Rule 
 JSON Structure</h3>
     <p>The following table lists the elements in the JSON and description:</p>
     <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 21.024%;" />
	<col style="width: 36.379%;" />
	<col style="width: 42.597%;" />
	<tr class="t1st">
		<td>
  <p class="TableText" style="font-weight: bold;">JSON Element</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Description</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Value</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">name</p></td>
		<td>
  <p class="TableText">Short Descriptive name for the Account 
		 Linking Rule</p></td>
		<td>
  <p class="TableText">Name must be Alpha Numeric and it must 
		 be below 255 characters in length.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">UserFilter</p></td>
		<td>
  <p class="TableText">Specify the filter for users</p></td>
		<td>
  <p class="TableText">The filter criteria must be specified 
		 in this element.<br />
		</p>
		<p class="TableText">To specify user filter you must define:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">User property 
			 display name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Operation 
			 supported on the user property</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Property 
			 Value</p></li>
		</ul>
		<p class="TableText">See the supported <a href="#User_Property">User 
		 Property Display Names</a> before specifying the filter.</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">AccountFilter</p></td>
		<td>
  <p class="TableText">Specify the filter for service accounts</p></td>
		<td>
  <p class="TableText">The filter criteria must be specified 
		 in this element.</p>
		<p class="TableText">To specify account filter you must define 
		 :</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Account 
			 property display name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Operation 
			 supported on the account property</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Property 
			 Value</p></li>
		</ul>
		<p class="TableText">See the supported <a href="#User_Property">Account 
		 &#160;Property Display Names</a> before specifying the filter.</p></td>
	</tr>
 </table>
 <h4 style="font-size: 11.0pt;"><b><span lang="X-NONE" xml:lang="X-NONE"><a 
	 name="User_Property" id="User_Property"></a>User Property and Account 
 Property Display Names which can be searched are in the following table:</span></b></h4>
 <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 21.024%;" />
	<col style="width: 36.379%;" />
	<col style="width: 42.597%;" />
	<tr class="t1st">
		<td>
  <p class="TableText" style="font-weight: bold;">Entity</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Property</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Data Type</p></td>
	</tr>
	<tr class="t2Row">
		<td rowspan="7" style="border-bottom-width: 1px;">
  <p class="TableText">User</p></td>
		<td>
  <p class="TableText">Id</p></td>
		<td>
  <p class="TableText">Integer</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Name</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Employee ID</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Job Title</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Email Address</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Department</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Status</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t1Row">
		<td rowspan="5" style="background-color: Transparent; border-bottom-width: 1px;">
  <p 
			 class="TableText">Account</p></td>
		<td>
  <p class="TableText">Id</p></td>
		<td>
  <p class="TableText">Integer</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Name</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Is Disabled</p></td>
		<td>
  <p class="TableText">Boolean</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Is Locked</p></td>
		<td>
  <p class="TableText">Boolean</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Email Address</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
 </table>
 <h4><span lang="X-NONE" xml:lang="X-NONE" style="font-size: 11.0pt; mso-bidi-font-family: 'Times New Roman'; 
			 mso-ansi-language: X-NONE; mso-fareast-language: X-NONE; mso-bidi-font-style: italic;"><b>Possible 
 Operators for data type</b></span> <b><span style="font-size: 11.0pt; 
											 mso-bidi-font-family: 'Times New Roman'; 
											 mso-ansi-language: EN-US; 
											 mso-fareast-language: X-NONE; 
											 mso-bidi-font-style: italic;">are</span></b><b><span 
	 lang="X-NONE" xml:lang="X-NONE" style="font-size: 11.0pt; mso-bidi-font-family: 'Times New Roman'; 
	 mso-ansi-language: X-NONE; mso-fareast-language: X-NONE; mso-bidi-font-style: italic;">:</span></b></h4>
 <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr class="t1st">
		<td>
  <p style="text-align: left;"><b style="mso-bidi-font-weight: normal;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: Calibri;">Data 
		 Type</span></b></p></td>
		<td>
  <p class="TableText"><b style="mso-bidi-font-weight: normal;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: Calibri;">Operators</span></b></p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: Calibri;">Integer</span></p></td>
		<td>
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText" style="mso-margin-top-alt: auto; 
												 mso-add-space: auto; line-height: normal; 
												 font-family: Verdana, sans-serif; 
												 mso-list: l2 level1 lfo1; 
												 font-size: 9pt;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Equal to</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Not Equal To</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Less Than</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Less Than or Equal</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Greater Than</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Greater Than or Equal To</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Between</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Not Present</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Present</span></p></li>
		</ul></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: Calibri;">String</span></p></td>
		<td>
  <ul style="list-style: disc;">
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="mso-margin-top-alt: auto; 
									 mso-add-space: auto; line-height: normal; 
									 font-family: Verdana, sans-serif; 
									 mso-list: l0 level1 lfo2; font-size: 9pt;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Is 
			 Not</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Starts 
			 With</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Does 
			 Not Starts With</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Ends 
			 With</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Does 
			 Not End With</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Contains</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Is 
			 One Of</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Is 
			 Not One Of</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Is 
			 Not Present</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Is 
			 Present</span></p></li>
		</ul></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: Calibri;">Boolean</span></p></td>
		<td>
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Is</p></li>
		</ul></td>
	</tr>
</table>
<h3><a name="Sample_JSON"></a>Account Linking Rules Request Examples</h3>
<ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Creating_rule_without_defining_user_and_account_filters">Rule 
	 created without defining user and account filters</a></p></li>
	<li>
 <p class="list"><a href="#Creating_rule_defining_user_filters">Rule 
	 created defining user filters</a></p></li>
	<li>
 <p class="list"><a href="#Creating_rule_defining_account_filters">Rule 
	 created defining account filters</a></p></li>
</ul>
<h3 style="font-size: 12pt;"><a name="Creating_rule_without_defining_user_and_account_filters" 
								 id="Creating_rule_without_defining_user_and_account_filters"></a>Creating 
 rule without defining user and account filters</h3>
<table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="tabletext">{</p>
		<p class="tabletext">&#160;&quot;name&quot;: &quot;Rule for AD2 
		 Updated3&quot;,</p>
		<p class="tabletext">&#160;&#160;&quot;type&quot;: &quot;asset&quot;,</p>
		<p class="tabletext">&#160;&#160;&quot;assetId&quot;: &quot;6&quot;,</p>
		<p class="tabletext">&#160;&#160;&quot;userFilter&quot;: null,</p>
		<p class="tabletext">&#160;&#160;&quot;accountFilter&quot;: null,</p>
		<p class="tabletext">&#160;&#160;&quot;linkClause&quot;: &quot;User.Email 
		 Address=Account.Email Address&quot;</p>
		<p class="tabletext">}</p></td>
	</tr>
 </table>
 <h3 style="font-size: 12pt;"><span lang="EN-IN" xml:lang="EN-IN"><a name="Creating_rule_defining_user_filters" 
	 id="Creating_rule_defining_user_filters"></a>Creating rule defining 
 user filters</span></h3>
 <table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="tabletext">{</p>
		<p class="tabletext">&#160;&quot;name&quot;: &quot;Rule for AD2 
		 Updated1&quot;,</p>
		<p class="tabletext">&#160;&quot;type&quot;: &quot;asset&quot;,</p>
		<p class="tabletext">&#160;&quot;assetId&quot;: &quot;6&quot;,</p>
		<p class="tabletext">&#160;&quot;userFilter&quot;: {</p>
		<p class="tabletext">&#160;&#160;&quot;joinOperator&quot;: &quot;and&quot;,</p>
		<p class="tabletext">&#160;&#160;&quot;filters&quot;: [{</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;Department&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;Is&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;values&quot;: &quot;Human 
		 Resources&quot;</p>
		<p class="tabletext">&#160;&#160;}, {</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;Job Title&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;is&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;values&quot;: &quot;HR&quot;</p>
		<p class="tabletext">&#160;&#160;}]</p>
		<p class="tabletext">&#160;},</p>
		<p class="tabletext">&#160;&quot;accountFilter&quot;: null,</p>
		<p class="tabletext">&#160;&quot;linkClause&quot;: &quot;User.Email 
		 Address=Account.Email Address&quot;</p>
		<p class="tabletext">}</p></td>
	</tr>
 </table>
 <h3 style="font-size: 12pt;"><a name="Creating_rule_defining_account_filters" 
								 id="Creating_rule_defining_account_filters"></a>Creating 
 rule defining account filters</h3>
 <table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="tabletext">{</p>
		<p class="tabletext">&#160;&quot;name&quot;: &quot;Rule for AD2 
		 Updated2&quot;,</p>
		<p class="tabletext">&#160;&quot;type&quot;: &quot;asset&quot;,</p>
		<p class="tabletext">&#160;&quot;assetId&quot;: &quot;6&quot;,</p>
		<p class="tabletext">&#160;&quot;userFilter&quot;: null,</p>
		<p class="tabletext">&#160;&quot;accountFilter&quot;: {</p>
		<p class="tabletext">&#160;&#160;&quot;joinOperator&quot;: &quot;and&quot;,</p>
		<p class="tabletext">&#160;&#160;&quot;filters&quot;: [{</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;Id&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;Is Greater Than&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;values&quot;: &quot;2&quot;</p>
		<p class="tabletext">&#160;&#160;}, {</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;Name&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;Starts With&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;values&quot;: &quot;A&quot;</p>
		<p class="tabletext">&#160;&#160;}]</p>
		<p class="tabletext">&#160;},</p>
		<p class="tabletext">&#160;&quot;linkClause&quot;: &quot;User.Employee 
		 ID=Account.Employee ID&quot;</p>
		<p class="tabletext">}</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
