
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Administrator Guide - Access Certification Setting</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>Administrator Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="8">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <h1>Access Certification Setting</h1>
     <p>Certification is the process of certifying the Access of users in different 
 Governed Assets. Organizations require that different types of Access 
 granted to Accounts, Account Groups, and Users are certified. The Certification 
 Process ensures that the Access granted are certified by the authorized 
 people, and users have only the entitled Access.</p>
     <p>Using Tuebora Portal, the process of authorized people certifying the 
 Access granted to Accounts, Account Groups, and users can be automated 
 by configuring an <span style="font-weight: bold;">Access Certification 
 Setting</span>. The system provides the following <span style="font-style: italic;">THREE</span> 
 default configurations, one each for:</p>
     <ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Account</span> 
	 <span style="font-weight: bold;">Groups</span> (Certifier specified 
	 is any Owner of the Asset)</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">User</span> (Certifier 
	 specified is Supervisor)</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Accounts</span> 
	 (Certifier specified is any Owner of the Asset).</p></li>
</ul>
<p style="margin-left: 64px;">Following figure shows the default Access 
 Certification setting provided in the system.</p>
<p style="margin-left: 64px;"><img src="Images/Default_CertificationWorkflows.png" alt="" style=" border:none; width:100%; max-width:1333px;" border="0" /></p>
<p>Apart from the default setting, custom Access Certification settings 
 can be added by defining the Account, Account Group, Users, Type of Access, 
 Certification Levels, and the Certifiers.</p>
<p style="color: #003868; margin-left: 0px; font-weight: bold;">Navigation</p>
<table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="margin-top: 4pt; margin-bottom: 4pt;">To 
		 access the <span style="font-weight: bold;">Access Certification 
		 Settings</span> feature, select <span style="font-weight: bold;">MENU 
		 &gt; Governance &gt; Certification Policies &gt;</span> then click 
		 <span style="font-weight: bold;">Settings</span> tab.</p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h2 style="color: #000000;">Supervisor Change Certification</h2>
 <p style="color: #000000;">The Access Certification settings can also be 
 used to create a Certification tasks to approve or reject users' Access 
 when users start reporting to a different supervisor. The new supervisor 
 must certify the users' Access within a specified number of days.</p>
 <p style="color: #000000;">For more information, refer to <a href="Certification_Policies.htm#Supervisor_Change_Certification">Supervisor 
 Change Certification</a>.</p>
 <p style="color: #000000;">To enable supervisor change certification, perform 
 the following:</p>
 <p class="list" 
	 style="margin-left: 50px; text-indent: -20px; color: #000000;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Settings</span> tab in the <span style="font-weight: bold;">Certifications</span> 
 page.</p>
 <p class="list" 
	 style="margin-left: 50px; text-indent: -20px; color: #000000;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold;">User's Access needs to be certified 
 within 'X' days of Supervisor change</span> check box.</p>
 <p class="list" 
	 style="margin-left: 50px; text-indent: -20px; color: #000000;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Enter 
 a value in the blank field to specify the number of days within which 
 the new supervisor must certify all Access.</p>
 <p class="list" 
	 style="margin-left: 50px; text-indent: -20px; color: #000000;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>.</p>
 <h2>Configuring Access Certification Setting</h2>
 <p>Access Certification Setting specifies <span style="font-style: italic;">whose 
 Access is certified, what Access is certified, number of levels of certification, 
 and who is the certifier</span>. The Access certification setting is configured 
 to regulate the certification activities in an organization. If an Access 
 certification setting is configured, the setting is automatically applied 
 to certify the relevant Access and certification tasks are created against 
 the specified certifiers for certification. &#160;</p>
 <p><span style="font-weight: bold;">Example</span> - Only <span style="font-style: italic;">Supervisors</span> 
 can certify the <span style="font-weight: bold;">Exception Access</span> 
 granted to users in their team in an organization. As an Administrator 
 you can configure the Access certification setting for this, by selecting 
 the appropriate users, type of Access, and certifier.</p>
 <p>To configure the Access certification setting, you can either edit the 
 default configuration or add a new configuration.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You can change only the <span style="font-weight: bold;">Approvers</span> 
		 specified for the default Access certification settings.</p></td>
	</tr>
 </table>
 <p>To add a new Access certification setting, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Settings</span> tab in the <span style="font-weight: bold;">Certifications</span> 
 page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>In the 
 <span style="font-weight: bold;">Certifier Settings</span> section, click 
 the <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Configuration</span> 
 icon <span style="font-size: 12pt;">(</span><img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /><span 
	 style="font-size: 12pt;">)</span> next to the last default configuration.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Users, Accounts, or Account Groups, whose Access must be certified, 
 in the <span style="font-weight: bold;">For whom to Certify</span> column. 
 Select the appropriate option from the list:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All</span> <span style="font-weight: bold;">Accounts</span> 
 - Select this option to apply the Access certification setting for all 
 user Accounts.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Accounts matching</span> <span style="font-weight: bold; 
	 text-decoration: underline; ">this criteria</span> - Select this option 
 to apply the access certification setting for Accounts matching a specific 
 criteria.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold; text-decoration: underline; ">this criteria</span>.<br />
The <span style="font-weight: bold;">Select</span> <span style="font-weight: bold;">Accounts</span> 
 subwindow opens.<br />
<br />
<img src="Images/CertificationSettingAccountsselection.png" alt="" style=" border:none; width:100%; max-width:541px;" border="0" /></p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop-down list available in <span 
	 style="font-weight: bold;">Include Users that match All/Any of the 
 following criteria</span>:</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&#160;<span 
	 style="font-weight: bold;">All</span> - Select this option to include 
 the Accounts who match all the defined criteria.</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Select this option to include 
 the Accounts who match any of the defined criteria.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">System Accounts</span> - Select this option 
 if you want the Access Certification setting to be applied to certify 
 access of all System Accounts.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Service Accounts</span> - Select this option 
 if you want the Access Certification setting to be applied to certify 
 access of all Service Accounts.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom</span> <span style="font-weight: bold;">Filter</span>. 
 The fields to define the criteria appear.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(vi)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop-down and create the filter.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(vii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To add 
 rows, click <img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(viii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>.<br />
The subwindow closes and the selected criteria is shown under <span style="font-weight: bold;">Accounts 
 matching</span> <span style="font-weight: bold; text-decoration: underline; ">this 
 criteria</span> option.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All Account Groups</span> - Select this 
 option to apply the Access certification setting for all Account Groups.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All Users</span> - Select this option to 
 apply the Access certification setting for All Users.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Users matching</span> <span style="font-weight: bold; 
															 text-decoration: underline; ">this 
 criteria</span> - Select this option to apply the Access certification 
 setting for users matching a specific criteria.<br />
<br />
To specify the criteria, perform the following:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold; text-decoration: underline; ">this criteria</span>.<br />
The <span style="font-weight: bold;">Select</span> <span style="font-weight: bold;">Users</span> 
 subwindow opens.<br />
<br />
<img src="Images/AccessRequestWorkFlow-setting_Criteria.png" alt="" style=" border:none; width:100%; max-width:730px;" border="0" /></p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop-down list available in <span 
	 style="font-weight: bold;">Include Users that match All/Any of the 
 following criteria</span>:</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&#160;<span 
	 style="font-weight: bold;">All</span> - Select this option to include 
 the users who match all the defined criteria.</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Select this option to include 
 the users who match any of the defined criteria.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom</span> <span style="font-weight: bold;">Filter</span>. 
 The fields to define the criteria appear.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop-down and create the filter.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To add 
 rows, click <img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(vi)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>.<br />
The subwindow closes and the selected criteria is shown under <span style="font-weight: bold;">Users 
 matching</span> <span style="font-weight: bold; text-decoration: underline; ">this 
 criteria</span> option.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Access Type that must be approved, in the <span style="font-weight: bold;">What 
 to Certify</span> column.<br />
<br />
To select the Access Type, perform the following:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>All Access 
 in <span style="font-weight: bold;">all</span> or <span style="font-weight: bold;">these</span> 
 Assets - Select this option if you want to apply the Access certification 
 setting for all Access in selected or all Assets.</p>
 <p style=" margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold; text-decoration: underline; ">these</span> 
 Assets, if you want to apply the Access certification setting for all 
 Access in specified Assets.</p>
 <p style=" margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold; text-decoration: underline; ">all</span> 
 Assets, if you want to apply the Access certification setting for all 
 Access in all Assets.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold; text-decoration: underline; ">These</span> 
 Access in <span style="font-weight: bold;">all</span> or <span style="font-weight: bold;">these</span> 
 Assets - Select this option if you want to specify the Access in selected 
 or all Assets for which the Access Certification setting is applicable.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold; text-decoration: underline; ">These</span>.<br />
The <span style="font-weight: bold;">What to Certify</span> subwindow opens. 
 It shows the Access Types. Select the appropriate option from the lis<br />
<br />
<img src="Images/CertificationWorkflow-What_to_Certify.png" alt="" style=" border:none; width:100%; max-width:471px;" border="0" /></p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>:<span 
		 style="mso-bidi-font-weight: normal; mso-add-space: auto;">You 
		 can configure the setting by selecting</span> <span style="font-weight: bold;">all</span> 
		 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">or 
		 the required Access Types. If you configure the setting by selecting 
		 a specific Access -&#160;Exception Access, then the system applies 
		 this Access certification setting only to certify the</span> <span 
		 style="font-weight: bold;">Exception Access</span> <span style="mso-bidi-font-weight: normal; 
		 mso-add-space: auto;">of Users/Accounts/Account Groups.</span></p></td>
	</tr>
 </table>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Change</span> <span style="font-weight: bold;">Criteria</span>. 
 The subwindow closes and the selected Access types are shown in <span 
	 style="font-weight: bold;">What to Certify</span> column.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>For the 
 <span style="font-weight: bold;">Number of Levels of Certification</span>, 
 by default <span style="font-weight: bold;">ONE</span> is selected in 
 the <span style="font-weight: bold;">Who will Certify</span> column. Currently, 
 the system supports <span style="font-style: italic;">ONE</span> Level 
 of Approval for Access Certification.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the first level certifier(s), in the <span style="font-weight: bold;">First 
 Level Certification will be done by</span> field.<br />
To select the certifier, perform the following:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span>.<br />
The <span style="font-weight: bold;">First Level Certifiers</span> subwindow 
 opens.<br />
<br />
<img src="Images/CertificationWorkflow-FirstLevelCertifiers.png" alt="" style=" border:none; width:100%; max-width:511px;" border="0" /></p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the certifier(s) from the available certifiers list or select the users 
 of specific Tuebora Groups as certifiers or specify any users as certifiers.<br />
<br />
<span style="mso-bidi-font-weight: normal; mso-add-space: auto;">You can 
 select</span> <span style="mso-bidi-font-weight: normal; mso-add-space: auto; 
					 font-style: italic;">more than one certifier</span> 
 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">for a 
 First level Certification.</span><br />
<br />
<span style="mso-add-space: auto; mso-bidi-font-weight: normal; text-align: justify; 
		 font-weight: bold;">Example</span> <span style="mso-add-space: auto; 
													 mso-bidi-font-weight: normal; 
													 text-align: justify;">- 
 An Administrator has configured a setting by selecting</span> <span style="mso-add-space: auto; 
	 mso-bidi-font-weight: normal; text-align: justify; font-style: italic;">two</span> 
 <span style="font-style: italic; mso-add-space: auto; mso-bidi-font-weight: normal; 
		 text-align: justify;">Certifiers</span> <span style="mso-add-space: auto; 
														 mso-bidi-font-weight: normal; 
														 text-align: justify;">-</span> 
 <span style="mso-add-space: auto; mso-bidi-font-weight: normal; text-align: justify; 
		 font-weight: bold;">Supervisor</span> <span style="mso-add-space: auto; 
													 mso-bidi-font-weight: normal; 
													 text-align: justify;">and</span> 
 <span style="mso-add-space: auto; mso-bidi-font-weight: normal; text-align: justify; 
		 font-weight: bold;">Supervisor of Supervisor</span> <span style="mso-add-space: auto; 
	 mso-bidi-font-weight: normal; text-align: justify;">as first level 
 certifiers. When a Certification Policy is run, the system creates the 
 Certification Tasks against all the selected certifiers. All certifiers 
 can approve the tasks. When a certification task is certified by one of 
 the certifiers (Supervisor), the corresponding task created against other 
 certifiers (Supervisor of Supervisor) are removed from their Account (as 
 the tasks are</span> deemed as certified and they are not required to 
 act on those tasks).</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Certifiers</span>. 
 The subwindow closes and the selected certifiers are shown in <span style="font-weight: bold;">Who 
 will Certify</span> column.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>When the 
 Access Certification configuration is complete, click <span style="font-weight: bold;">Save</span> 
 <span style="font-weight: bold;">Changes</span>. A pop up appears stating 
 that the Certification Configuration is updated successfully.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">OK</span> to view the newly added Access 
 Certification setting.</p>
 <p class="list">&#160;</p>

 <p class="list">&#160;</p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
