
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Administrator Guide - Access Request Setting</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "5.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>Administrator Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="128">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Previous</span>: 
		 <span style="color: #008000;">Access Governance Settings</span></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="System-wide_Settings.htm" 
													 style="color: #008000;">System-wide 
		 Settings</a>&#160;</p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h1>Access Request Settings</h1>
 <p>Access Request is the process of users requesting the Access in different 
 Governed Assets. Organizations require that Access is granted to users 
 after going through an Approval Process, as it ensures highest level of 
 compliance.</p>
 <p>Using Tuebora Portal, the process of approving Access Request can be 
 automated by configuring an Access Request Setting. A default Access Request 
 Setting configuration is provided to approve <span style="font-style: italic;">all 
 types of Access requests of</span> <span style="font-style: italic;">all 
 Users,</span> where the number of levels of approval is set to <span style="font-style: italic;">One</span> 
 and <span style="font-style: italic;">Supervisor</span> is selected as 
 Approver. Apart from this, custom Access Request Settings can be added 
 by defining the Users or Accounts, Type of Access, Approval Levels and 
 the Approvers.</p>
 <p style="color: #000000;">Additionally, you can create escalation rules 
 that escalate the unattended Access Requests to different user(s). An 
 <a href="Escalations.htm">escalation rule</a> can ensure that the Access 
 Requests are attended by the new approver if the original approver is 
 unavailable or terminated.</p>
 <p>For example, an organization wants <span style="font-style: italic;">two</span> 
 levels of approval for Administrator and Owner Access Requests of all 
 employees. Where the <span style="font-style: italic;">Supervisors are</span> 
 the <span style="font-style: italic;">level one</span> Approvers and <span 
	 style="font-style: italic;">Asset Owners</span> are the <span style="font-style: italic;">level 
 two</span> Approvers. As an Administrator you can configure the Access 
 Request Setting for this, by setting the approval levels and selecting 
 the appropriate Approvers.</p>
 <p>&#160;You can use the <span style="font-weight: bold;">Access Request</span> 
 feature to define the Access Request Setting.</p>
 <p style="color: #003868; font-weight: bold; margin-left: 0px;">Navigation</p>
 <table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="margin-top: 4pt; margin-bottom: 4pt;">To 
		 access the <span style="font-weight: bold;">Access Request</span> 
		 feature, select <span style="font-weight: bold;">MENU &gt; Governance 
		 &gt; Access Request</span>.</p></td>
	</tr>
 </table>
 <h2>Defining Access Request Setting</h2>
 <p>Access Request Settings specify <span style="font-style: italic;">whose 
 Access request is approved, what Access is approved, number of levels 
 of approvals</span> <span style="font-style: italic;">and who is the approver</span>. 
 The Access Request setting is defined to regulate the Access approval 
 activities in an organization. If an Access Request setting is defined, 
 the setting is automatically applied to all Access Requests and Approval 
 tasks are created against the Access approvers for taking necessary action. 
 &#160;</p>
 <p style="margin-left: 24px;">To configure the Access Request setting, 
 you can either edit the default configuration or add a new configuration.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 For default Access Request workflow you can only change the <span 
		 style="font-weight: bold;">Number of Levels of Approval</span> 
		 and select the appropriate <span style="font-weight: bold;">Access</span> 
		 <span style="font-weight: bold;">Approvers</span> at different 
		 approval levels.</p></td>
	</tr>
 </table>
 <p>To add a new Access Request workflow, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Settings</span> tab in the <span style="font-weight: bold;">Access 
 Request</span> page. By default, Settings tab is selected when the <span 
	 style="font-weight: bold;">Access Request</span> page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Configuration</span> 
 icon <span style="font-size: 12pt;">(</span><img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /><span 
	 style="font-size: 12pt;">)</span> next to the default configuration.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the users, whose Access Requests must be approved, in the <span style="font-weight: bold;">For 
 whom to Approve</span> column. Select the appropriate option from the 
 list:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All Accounts</span> - Select this option 
 to apply the Access Request setting for all accounts</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Accounts matching</span> <span style="font-weight: bold; 
	 text-decoration: underline; ">this criteria</span> - Select this option 
 to apply the Access Request settings for accounts matching a specific 
 criteria.<br />
<br />
To specify the criteria, perform the following:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold; text-decoration: underline; ">this criteria</span>.<br />
The <span style="font-weight: bold;">Select</span> <span style="font-weight: bold;">Accounts</span> 
 subwindow opens.<br />
<br />
<img src="Images/AccessRequest_SelectAccount.png" alt="" style=" border:none; width:100%; max-width:538px;" border="0" /></p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop-down list available in <span 
	 style="font-weight: bold;">Include Users that match All/Any of the 
 following criteria</span>:</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&#160;<span 
	 style="font-weight: bold;">All</span> - Select this option to include 
 the Account who match all the defined criteria.</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Select this option to include 
 the Account who match any of the defined criteria.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">System Accounts</span> - Select this option 
 if you want the Access Request setting to be applied for all access requests 
 made by the System Accounts.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Service Accounts</span> - Select this option 
 if you want the Access Request setting to be applied for all access requests 
 made by the Service Accounts.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom</span> <span style="font-weight: bold;">Filter</span>. 
 The fields to define the criteria appear.</p>
 <p class="list" style=" margin-left: 160px; text-indent: -20px;">a.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop-down and create the filter.</p>
 <p class="list" style=" margin-left: 160px; text-indent: -20px;">b.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">To add rows, click <img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.</span></p>
 <p class="list" style=" margin-left: 160px; text-indent: -20px;">c.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>.<br />
The subwindow closes and the selected criteria is shown under Users matching 
 <span style="font-weight: bold; text-decoration: underline; ">this criteria</span> 
 option.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All</span> <span style="font-weight: bold;">Users</span> 
 - Select this option to apply the Access Request setting for all users.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Users matching</span> <span style="font-weight: bold; 
															 text-decoration: underline; ">this 
 criteria</span> - Select this option to apply the Access Request settings 
 for users matching a specific criteria.<br />
To specify the criteria, perform the following:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold; text-decoration: underline; ">this criteria</span>.<br />
The <span style="font-weight: bold;">Select</span> <span style="font-weight: bold;">Users</span> 
 subwindow opens.<br />
<br />
<img src="Images/AccessRequestWorkFlow-setting_Criteria.png" alt="" style=" border:none; width:100%; max-width:730px;" border="0" /></p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop-down list available in <span 
	 style="font-weight: bold;">Include Users that match All/Any of the 
 following criteria</span>:</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&#160;<span 
	 style="font-weight: bold;">All</span> - Select this option to include 
 the users who match all the defined criteria.</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Select this option to include 
 the users who match any of the defined criteria.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom</span> <span style="font-weight: bold;">Filter</span>. 
 The fields to define the criteria appear.</p>
 <p style=" margin-left: 160px; text-indent: -20px;">a.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Define the criteria by specifying values 
 from the drop-down and create the filter.</span></p>
 <p style=" margin-left: 160px; text-indent: -20px;">b.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To add 
 rows, click <img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.</p>
 <p style=" margin-left: 160px; text-indent: -20px;">c.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>.<br />
The subwindow closes and the selected criteria is shown under Users matching 
 <span style="font-weight: bold; text-decoration: underline; ">this criteria</span> 
 option.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Access Type that must be approved, in the <span style="font-weight: bold;">What 
 to Approve</span> column.<br />
To select the Access Type, perform the following:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>All Access 
 in <span style="font-weight: bold;">all</span> or <span style="font-weight: bold;">these</span> 
 Assets - Select this option if you want to apply the Access Request setting 
 for all Access in selected or all Assets.</p>
 <p style=" margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold; text-decoration: underline; ">these</span> 
 Assets, if you want to apply the Access Request setting for all Access 
 in specified Assets.</p>
 <p style=" margin-left: 120px; text-indent: -20px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold; text-decoration: underline; ">all</span> 
 Assets, if you want to apply the Access Request setting for all Access 
 in all Assets.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold; text-decoration: underline; ">These</span> 
 Access in <span style="font-weight: bold;">all</span> or <span style="font-weight: bold;">these</span> 
 Assets - Select this option if you want to specify the Access in selected 
 or all Assets for which the Access Request setting is applicable.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold; text-decoration: underline; ">These</span>.<br />
The <span style="font-weight: bold;">What to Approve</span> subwindow opens. 
 It shows the Access Types. Select the appropriate option from the list.<br />
<br />
<img src="Images/AccessRequest-WhattoApprove.png" alt="" style=" border:none; width:100%; max-width:377px;" border="0" /></p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">You 
		 can configure the workflow by selecting</span> <span style="font-weight: bold;">all</span> 
		 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">or 
		 the</span> <span style="font-weight: bold;">required</span> <span 
		 style="font-weight: bold;">Access</span> <span style="font-weight: bold;">Types</span><span 
		 style="mso-bidi-font-weight: normal; mso-add-space: auto;">. If 
		 you configure the workflow by selecting a specific Access - Administrator 
		 Access, then the system applies this Access Request Workflow only 
		 to approve</span> <span style="font-weight: bold;">Administrator 
		 Access Requests</span><span style="mso-bidi-font-weight: normal; 
									 mso-add-space: auto;">.</span></p></td>
	</tr>
 </table>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 the check box corresponding to the <span style="font-weight: bold;">Access</span> 
 <span style="font-weight: bold;">Type(s)</span> which you want to select.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Change</span> <span style="font-weight: bold;">Criteria</span>. 
 The subwindow closes and the selected Access types are shown in <span 
	 style="font-weight: bold;">What to Approve</span> column.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold; text-decoration: underline; ">these</span> 
 Assets, if you want to apply the Access Request setting for specified 
 Access in specified Assets.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Select</span> <span style="text-indent: -20px; 
													 font-weight: bold; 
													 text-decoration: underline; ">all</span> 
 <span style="text-indent: -20px;">Assets, if you want to apply the Access 
 Request setting for specified Access in all Assets.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold;">Number of Levels of Approval</span>, 
 in the <span style="font-weight: bold;">Who will Approve</span> column. 
 The system supports maximum of 3 levels of approval for Access Requests.<br />
<br />
Based on the number of levels of approval, the system shows the option 
 to select the Approvers. For example, if you have selected <span style="font-style: italic;">Two</span> 
 as the number of levels of approval, then system shows the options to 
 select <span style="font-weight: bold;">First</span> and <span style="font-weight: bold;">Second</span> 
 level Approvers.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the First Level Approvers, in the <span style="font-weight: bold;">First 
 Level Approvals will be done by</span> field.<br />
To select the Approver, perform the following.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> shown next to <span style="font-weight: bold;">First 
 Level Approvals will be done by</span> field.<br />
The <span style="font-weight: bold;">First Level Approvers</span> subwindow 
 opens.<br />
<br />
<img src="Images/AccessRequest-FirstLevelApprovers.png" alt="" style=" border:none; width:100%; max-width:540px;" border="0" /></p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the approver from the approvers list or select the users of specific Tuebora 
 Groups as approvers or specify any user(s) as approvers.<br />
<br />
<span style="mso-bidi-font-weight: normal; mso-add-space: auto;">You can 
 select more than one Approver for a particular level.</span><br />
<br />
<span style="mso-add-space: auto; mso-bidi-font-weight: normal; text-align: justify;">For 
 example, an Administrator has configured a setting by selecting</span> 
 <span style="mso-add-space: auto; mso-bidi-font-weight: normal; text-align: justify; 
		 font-style: italic;">Three</span> <span style="mso-add-space: auto; 
												 mso-bidi-font-weight: normal; 
												 text-align: justify;">approvers 
 -</span> <span style="mso-add-space: auto; mso-bidi-font-weight: normal; 
				 text-align: justify; font-weight: bold;">Supervisor, Any 
 Owner of the Asset,</span> <span style="mso-add-space: auto; mso-bidi-font-weight: normal; 
									 text-align: justify;">and</span> <span 
	 style="mso-add-space: auto; mso-bidi-font-weight: normal; text-align: justify; 
	 font-weight: bold;">Supervisor of Supervisor</span> <span style="mso-add-space: auto; 
	 mso-bidi-font-weight: normal; text-align: justify;">as first level 
 approvers. When an Access Request is made, the system creates Approval 
 Tasks against all the selected approvers. All approvers can approve the 
 tasks. When an approval task is approved by one of the approver (Supervisor), 
 the corresponding task created against other approvers (Any Asset Owner 
 and Supervisor of Supervisor) are removed from their Account (as the tasks 
 are</span> deemed as approved and they are not required to act on those 
 tasks).</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Click</span> <span style="text-indent: -20px; 
													 font-weight: bold;">Add</span> 
 <span style="text-indent: -20px; font-weight: bold;">Approvers</span><span 
	 style="text-indent: -20px;">. The subwindow closes and the selected 
 approvers are shown in</span> <span style="text-indent: -20px; font-weight: bold;">Who 
 will Approve</span> <span style="text-indent: -20px;">column.<br />
<br />
If you have selected more than one level of approval, specify the approvers 
 for all the levels.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>When the 
 Access Request setting is complete, click <span style="font-weight: bold;">Save</span> 
 <span style="font-weight: bold;">changes</span>. A pop up appears stating 
 that the Access Request Configuration is updated successfully.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">OK</span> to view the newly added Access 
 Request setting.</p>
<br style="page-break-before: always;" />

 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Previous</span>: 
		 Access Governance Settings</p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="System-wide_Settings.htm" 
													 style="color: #008000;">System-wide 
		 Settings</a>&#160;</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
