
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Administrator Guide - Account Linking Rules Management</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1.0_2";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>Administrator Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="176">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="SCIM_Server.htm" style="color: #008000;">SCIM Servers</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Data_Import.htm" 
															 style="color: #008000;">Data 
		 Import</a></p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h1>Account Linking Rules Management</h1>
 <p>Account Linking mechanism allows association or mapping of user identity 
 to the Orphaned Account in the Asset. This feature ensures the account 
 information in the system is up-to-date by linking the identity of the 
 user with the right user account. The data integrity is maintained with 
 the account linking functionality where it offers accuracy and consistency 
 of data for any system which stores, processes or retrieves data.</p>
 <p>For linking accounts in an Asset with user identities, while creating 
 an Asset in Tuebora, system mandates you to define the attribute that 
 is unique for Accounts and can be mapped to the user identities. But in 
 some scenarios, setting one account attribute for mapping user identities 
 is not enough as organizations might have used multiple account attributes 
 to map the user identities based on the organizational policies. For example, 
 an organization uses Active Directory for user account Management. This 
 organization initially adopted a policy that used the account linking 
 feature to link the identity of the user based on Email Address. At a 
 later stage, the policy was changed and the mapping was performed based 
 on Employee ID. Organization has now streamlined the process and would 
 like to consider both Email Address and Employee ID attribute for account 
 mapping with user identities.</p>
 <p>To meet these type of requirements, Tuebora provides the capability 
 to create <span style="font-weight: bold;">Account</span> <span style="font-weight: bold;">Linking 
 Rules</span>. This feature allows you:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">To create multiple rules for an Asset by specifying 
	 different attributes based on which accounts in the Asset must be 
	 evaluated and mapped to the user identities.</p></li>
	<li>
 <p class="list">To Create Global rules for specifying different 
	 attributes based on which accounts must be evaluated and mapped to 
	 the user identities.</p></li>
</ul>
<p>When <span style="font-weight: bold;">Account</span> <span style="font-weight: bold;">Linking 
 Rules</span> are set for an <span style="font-weight: bold;">Asset</span> 
 in Tuebora, while importing data from that Asset, system picks the linking 
 rules applicable to that Asset and considers the applicable attributes 
 (such as Email Address, Employee ID, Unique ID, etc) to map the user identity 
 to the user accounts.</p>
<p>If there are any non-matching accounts, then these accounts are considered 
 as an <span style="font-weight: bold;">Orphaned Accounts</span>. These 
 non-matching accounts needs to be manually linked. For more information 
 on how to link Orphaned Accounts to user identities, see <a href="Linking_Orphaned_Accounts.htm">Linking 
 Orphaned Account with User Identity</a>.</p>
<p>If there are any accounts that are wrongly linked, the system allows 
 to manually unlink the accounts and also link to the right user. For more 
 information on how to unlink a wrongly linked account, see <a href="Unlinking_Accounts_from_User_Identities.htm">Unlinking 
 Account from a User Identity</a>.</p>
<p>These manual linking updates will be fulfilled or honored on subsequent 
 data imports. The system will maintain the overrides across multiple data 
 imports done for Assets.</p>
<p>For each manually linked account, Tuebora Governance system maintains 
 <span style="font-weight: bold;">Audit History</span> that provides information 
 on the linking history (Who did the linking, When was the linking performed, 
 justification provided, etc).</p>
<br style="page-break-before: always;" />

<h2>Managing Account Linking Rules</h2>
<p>You can use <span style="font-weight: bold;">Account Linking API</span> 
 to:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Creating_a_Linking_Rule">Create Linking 
	 Rule</a></p></li>
	<li>
 <p class="list"><a href="#Get_All_Rules">Get all Linking Rules</a></p></li>
	<li>
 <p class="list"><a href="#Getspecific_rule">Get Linking Rule based 
	 on Rule ID</a></p></li>
	<li>
 <p class="list"><a href="#updaterule">Update Linking Rule</a></p></li>
	<li>
 <p class="list"><a href="#deleterule">Delete Linking Rule</a></p></li>
</ul>
<h3><a name="Creating_a_Linking_Rule" id="Creating_a_Linking_Rule"></a>Creating 
 a Linking Rule</h3>
<h3 class="list" style="font-size: 12pt;"><span style="font-size: 12pt;">Prerequisites</span></h3>
<ul style="list-style: disc;">
	<li>
 <p class="list">You must have generated Tuebora Authentication 
	 API credentials.</p></li>
	<li>
 <p class="list">You must have a <span style="font-weight: bold;">RESTClient</span> 
	 installed on the system where you are registering the SCIM Server.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Tuebora Main Server</span> 
	 must be running.</p></li>
</ul>
<p>To create a new Account Linking Rule, perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers</span> 
 tab.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the <span style="font-weight: bold;">Client 
 ID</span> generated for Tuebora Authentication API Credentials.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the <span style="font-weight: bold;">Client 
 Secret</span> generated for Tuebora Authentication API Credentials.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Post</span> in the <span style="font-weight: bold;">Method</span> 
 field.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to create a linking rule.<br />
<br />
<span style="font-style: italic;">http://&lt;Tuebora Application URL&gt;/api/v1/accountlinkingrules</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://xanadu.tuebora.com/api/v1/accountlinkingrules<br />
<br />
You can also specify the <span style="font-weight: bold;">IP Address of 
 the system on which the Tuebora Application is running</span>.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section:<br />
</p>
<table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:102.956%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p style="margin-top: 5pt; margin-bottom: 5pt; 
							 margin-left: 0px;">{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;name&quot;: 
		 &quot;Rule for Corporate Active Directory&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;type&quot;: 
		 &quot;asset&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;assetId&quot;: 
		 &quot;6&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;userFilter&quot;: 
		 {</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&quot;joinOperator&quot;: 
		 &quot;and&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&quot;filters&quot;: 
		 [{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;values&quot;: 
		 &quot;&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;}, 
		 {</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;values&quot;: 
		 &quot;&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;}]</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;},</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;accountFilter&quot;: 
		 {</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&quot;joinOperator&quot;: 
		 &quot;and&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&quot;filters&quot;: 
		 [{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;values&quot;: 
		 &quot;&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;}, 
		 {</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;&#160;&quot;values&quot;: 
		 &quot;&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&#160;}]</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;},</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;linkClause&quot;: 
		 &quot;User.Email Address=Account.Email Address&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
	</tr>
 </table>
 <p>For more information on what and how to define values for different 
 keys available in the above Account Linking Rule JSON structure, see <a 
	 href="#Authentication_Policies_JSON_Structure_Reference">Account Linking 
 Rule JSON Structure Reference</a> topic.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>.<br />
The RestClient shows <span style="font-weight: bold;">Status Code 200 OK</span> 
 if the request is processed successfully.<br />
<br />
You will see the response of the request to create account linking rule. 
 The Response section displays the rule created in Tuebora and the <span 
	 style="font-weight: bold;">rule ID</span>. This ID is required to 
 update a rule, get specific rule or delete a rule which is not used.</p>
 <h3><a name="Authentication_Policies_JSON_Structure_Reference" id="Authentication_Policies_JSON_Structure_Reference"></a>Account 
 Linking Rule JSON Structure Reference</h3>
 <p>The following table lists the elements in the JSON and description:</p>
 <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 21.024%;" />
	<col style="width: 36.379%;" />
	<col style="width: 42.597%;" />
	<tr class="t1st">
		<td>
  <p class="TableText" style="font-weight: bold;">JSON Element</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Description</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Value</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">name</p></td>
		<td>
  <p class="TableText">Short Descriptive name for the Account 
		 Linking Rule</p></td>
		<td>
  <p class="TableText">Name must be Alpha Numeric and it must 
		 be below 255 characters in length.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">UserFilter</p></td>
		<td>
  <p class="TableText">Specify the filter for users</p></td>
		<td>
  <p class="TableText">The filter criteria must be specified 
		 in this element.<br />
		</p>
		<p class="TableText">To specify user filter you must define:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">User property 
			 display name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Operation 
			 supported on the user property</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Property 
			 Value</p></li>
		</ul>
		<p class="TableText">See the supported <a href="#User_Property">User 
		 Property Display Names</a> before specifying the filter.</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">AccountFilter</p></td>
		<td>
  <p class="TableText">Specify the filter for service accounts</p></td>
		<td>
  <p class="TableText">The filter criteria must be specified 
		 in this element.</p>
		<p class="TableText">To specify account filter you must define 
		 :</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Account 
			 property display name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Operation 
			 supported on the account property</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Property 
			 Value</p></li>
		</ul>
		<p class="TableText">See the supported <a href="#User_Property">Account 
		 &#160;Property Display Names</a> before specifying the filter.</p></td>
	</tr>
 </table>
 <h4 style="font-size: 11.0pt;"><b><span lang="X-NONE" xml:lang="X-NONE"><a 
	 name="User_Property" id="User_Property"></a>User Property and Account 
 Property Display Names which can be searched are in the following table:</span></b></h4>
 <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 21.024%;" />
	<col style="width: 36.379%;" />
	<col style="width: 42.597%;" />
	<tr class="t1st">
		<td>
  <p class="TableText" style="font-weight: bold;">Entity</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Property</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Data Type</p></td>
	</tr>
	<tr class="t2Row">
		<td rowspan="7" style="border-bottom-width: 1px;">
  <p class="TableText">User</p></td>
		<td>
  <p class="TableText">Id</p></td>
		<td>
  <p class="TableText">Integer</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Name</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Employee ID</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Job Title</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Email Address</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Department</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Status</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t1Row">
		<td rowspan="5" style="background-color: Transparent; border-bottom-width: 1px;">
  <p 
			 class="TableText">Account</p></td>
		<td>
  <p class="TableText">Id</p></td>
		<td>
  <p class="TableText">Integer</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Name</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Is Disabled</p></td>
		<td>
  <p class="TableText">Boolean</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Is Locked</p></td>
		<td>
  <p class="TableText">Boolean</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Email Address</p></td>
		<td>
  <p class="TableText">String</p></td>
	</tr>
 </table>
 <h4><span lang="X-NONE" xml:lang="X-NONE" style="font-size: 11.0pt; mso-bidi-font-family: 'Times New Roman'; 
			 mso-ansi-language: X-NONE; mso-fareast-language: X-NONE; mso-bidi-font-style: italic;"><b>Possible 
 Operators for data type</b></span> <b><span style="font-size: 11.0pt; 
											 mso-bidi-font-family: 'Times New Roman'; 
											 mso-ansi-language: EN-US; 
											 mso-fareast-language: X-NONE; 
											 mso-bidi-font-style: italic;">are</span></b><b><span 
	 lang="X-NONE" xml:lang="X-NONE" style="font-size: 11.0pt; mso-bidi-font-family: 'Times New Roman'; 
	 mso-ansi-language: X-NONE; mso-fareast-language: X-NONE; mso-bidi-font-style: italic;">:</span></b></h4>
 <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr class="t1st">
		<td>
  <p style="text-align: left;"><b style="mso-bidi-font-weight: normal;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: Calibri;">Data 
		 Type</span></b></p></td>
		<td>
  <p class="TableText"><b style="mso-bidi-font-weight: normal;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: Calibri;">Operators</span></b></p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: Calibri;">Integer</span></p></td>
		<td>
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText" style="mso-margin-top-alt: auto; 
												 mso-add-space: auto; line-height: normal; 
												 font-family: Verdana, sans-serif; 
												 mso-list: l2 level1 lfo1; 
												 font-size: 9pt;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Equal to</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Not Equal To</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Less Than</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Less Than or Equal</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Greater Than</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Greater Than or Equal To</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Between</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Not Present</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is Present</span></p></li>
		</ul></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: Calibri;">String</span></p></td>
		<td>
  <ul style="list-style: disc;">
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="mso-margin-top-alt: auto; 
									 mso-add-space: auto; line-height: normal; 
									 font-family: Verdana, sans-serif; 
									 mso-list: l0 level1 lfo2; font-size: 9pt;"><span 
			 lang="EN-IN" xml:lang="EN-IN">Is</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Is 
			 Not</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Starts 
			 With</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Does 
			 Not Starts With</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Ends 
			 With</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Does 
			 Not End With</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Contains</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Is 
			 One Of</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Is 
			 Not One Of</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Is 
			 Not Present</span></p></li>
			<li style="margin-left: -20px; font-family: Verdana, sans-serif; 
				 font-size: 9pt;">
   <p class="TableText" style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;"><span lang="EN-IN" 
															 xml:lang="EN-IN">Is 
			 Present</span></p></li>
		</ul></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: Calibri;">Boolean</span></p></td>
		<td>
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Is</p></li>
		</ul></td>
	</tr>
</table>
<br style="page-break-before: always;" />

<h3><a name="MFA_Policies_Request_Examples" id="MFA_Policies_Request_Examples"></a>Account 
 Linking Rules Request Examples</h3>
<ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Creating_rule_without_defining_user_and_account_filters">Rule 
	 created without defining user and account filters</a></p></li>
	<li>
 <p class="list"><a href="#Creating_rule_defining_user_filters">Rule 
	 created defining user filters</a></p></li>
	<li>
 <p class="list"><a href="#Creating_rule_defining_account_filters">Rule 
	 created defining account filters</a></p></li>
</ul>
<h3 style="font-size: 12pt;"><a name="Creating_rule_without_defining_user_and_account_filters" 
								 id="Creating_rule_without_defining_user_and_account_filters"></a>Creating 
 rule without defining user and account filters</h3>
<table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="tabletext">{</p>
		<p class="tabletext">&#160;&quot;name&quot;: &quot;Rule for AD2 
		 Updated3&quot;,</p>
		<p class="tabletext">&#160;&#160;&quot;type&quot;: &quot;asset&quot;,</p>
		<p class="tabletext">&#160;&#160;&quot;assetId&quot;: &quot;6&quot;,</p>
		<p class="tabletext">&#160;&#160;&quot;userFilter&quot;: null,</p>
		<p class="tabletext">&#160;&#160;&quot;accountFilter&quot;: null,</p>
		<p class="tabletext">&#160;&#160;&quot;linkClause&quot;: &quot;User.Email 
		 Address=Account.Email Address&quot;</p>
		<p class="tabletext">}</p></td>
	</tr>
 </table>
 <h3 style="font-size: 12pt;"><span lang="EN-IN" xml:lang="EN-IN"><a name="Creating_rule_defining_user_filters" 
	 id="Creating_rule_defining_user_filters"></a>Creating rule defining 
 user filters</span></h3>
 <table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="tabletext">{</p>
		<p class="tabletext">&#160;&quot;name&quot;: &quot;Rule for AD2 
		 Updated1&quot;,</p>
		<p class="tabletext">&#160;&quot;type&quot;: &quot;asset&quot;,</p>
		<p class="tabletext">&#160;&quot;assetId&quot;: &quot;6&quot;,</p>
		<p class="tabletext">&#160;&quot;userFilter&quot;: {</p>
		<p class="tabletext">&#160;&#160;&quot;joinOperator&quot;: &quot;and&quot;,</p>
		<p class="tabletext">&#160;&#160;&quot;filters&quot;: [{</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;Department&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;Is&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;values&quot;: &quot;Human 
		 Resources&quot;</p>
		<p class="tabletext">&#160;&#160;}, {</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;Job Title&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;is&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;values&quot;: &quot;HR&quot;</p>
		<p class="tabletext">&#160;&#160;}]</p>
		<p class="tabletext">&#160;},</p>
		<p class="tabletext">&#160;&quot;accountFilter&quot;: null,</p>
		<p class="tabletext">&#160;&quot;linkClause&quot;: &quot;User.Email 
		 Address=Account.Email Address&quot;</p>
		<p class="tabletext">}</p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h3 style="font-size: 12pt;"><a name="Creating_rule_defining_account_filters" 
								 id="Creating_rule_defining_account_filters"></a>Creating 
 rule defining account filters</h3>
 <table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="tabletext">{</p>
		<p class="tabletext">&#160;&quot;name&quot;: &quot;Rule for AD2 
		 Updated2&quot;,</p>
		<p class="tabletext">&#160;&quot;type&quot;: &quot;asset&quot;,</p>
		<p class="tabletext">&#160;&quot;assetId&quot;: &quot;6&quot;,</p>
		<p class="tabletext">&#160;&quot;userFilter&quot;: null,</p>
		<p class="tabletext">&#160;&quot;accountFilter&quot;: {</p>
		<p class="tabletext">&#160;&#160;&quot;joinOperator&quot;: &quot;and&quot;,</p>
		<p class="tabletext">&#160;&#160;&quot;filters&quot;: [{</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;Id&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;Is Greater Than&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;values&quot;: &quot;2&quot;</p>
		<p class="tabletext">&#160;&#160;}, {</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;Name&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;Starts With&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;values&quot;: &quot;A&quot;</p>
		<p class="tabletext">&#160;&#160;}]</p>
		<p class="tabletext">&#160;},</p>
		<p class="tabletext">&#160;&quot;linkClause&quot;: &quot;User.Employee 
		 ID=Account.Employee ID&quot;</p>
		<p class="tabletext">}</p></td>
	</tr>
 </table>
 <h2 class="list"><a name="Get_All_Rules" id="Get_All_Rules"></a>Getting 
 details of all Account Linking Rules</h2>
 <p>To obtain the details of all rules available in the system, perform 
 the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers</span> 
 tab.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Define the Authorization</span></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the <span style="font-weight: bold;">Client 
 ID</span> generated for Tuebora Authentication API Credentials.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the <span style="font-weight: bold;">Client 
 Secret</span> generated for Tuebora Authentication API Credentials.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">GET</span> in the <span style="font-weight: bold;">Method</span> 
 field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to get all account linking rules in the <span style="font-weight: bold;">URL</span> 
 field:<br />
<br />
<span style="font-style: italic;">http://&lt;Tuebora Application URL&gt;/api/v1/accountlinkingrules</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://xanadu.tuebora.com/api/v1/accountlinkingrules</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>.<br />
The RestClient shows <span style="font-weight: bold;">Status Code 200 OK</span> 
 if the request is processed successfully.</p>
 <h2 class="list"><a name="Getspecific_rule" id="Getspecific_rule"></a>Getting 
 details of a specific Account Linking Rule</h2>
 <p>To obtain the details of a specific Linking Rule, you must have the 
 Rule ID.</p>
 <p>To gat the Rule details, perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers</span> 
 tab.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the <span style="font-weight: bold;">Client 
 ID</span> generated for Tuebora Authentication API Credentials.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the <span style="font-weight: bold;">Client 
 Secret</span> generated for Tuebora Authentication API Credentials.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">GET</span> in the <span style="font-weight: bold;">Method</span> 
 field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to get specific account linking rule in the <span style="font-weight: bold;">URL</span> 
 field:<br />
<br />
<span style="font-style: italic;">http://&lt;Tuebora Application URL&gt;/api/v1/accountlinkingrules/&lt;Account 
 Linking Rule Id&gt;</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://xanadu.tuebora.com/api/v1/accountlinkingrules/0623f478-c172-11e8-9ffd-000c29922bc9</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>.<br />
The RestClient shows <span style="font-weight: bold;">Status Code 200 OK</span> 
 if the request is processed successfully.</p>
 <h3><a name="updaterule" id="updaterule"></a>Updating an Account Linking 
 Rule</h3>
 <p class="list">To update a rule, you need to pass the ID of the rule that 
 you want to update in the request URL. So to update an existing Linking 
 Rule, perform the following steps</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Get_All_Rules">Getting the Rule ID</a></p></li>
	<li>
 <p class="list"><a href="#Updating_the_Linking_Rule">Updating the 
	 Linking Rule</a></p></li>
</ul>
<h3><a name="Updating_the_Linking_Rule" id="Updating_the_Linking_Rule"></a>Updating 
 the Linking Rule</h3>
<p>To update a rule, perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers</span> 
 tab.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the <span style="font-weight: bold;">Client 
 ID</span> generated for Tuebora Authentication API Credentials.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the <span style="font-weight: bold;">Client 
 Secret</span> generated for Tuebora Authentication API Credentials.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">PUT</span> in the <span style="font-weight: bold;">Method</span> 
 field.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to update the account linking rule in the <span style="font-weight: bold;">URL</span> 
 field:<br />
<br />
<span style="font-style: italic;">http://&lt;Tuebora Application URL&gt;/api/v1/accountlinkingrules/&lt;Account 
 Linking Rule ID&gt;</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://xanadu.tuebora.com<span 
	 style="font-style: italic;">/api/v1/accountlinkingrules/</span>50960ccf-b0a5-406b-82e9-9fd63b65fc3a<br />
<br />
You can also specify the <span style="font-weight: bold;">IP Address of 
 the system on which the Tuebora Application is running</span>.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section:<br />
</p>
<table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:102.956%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="tabletext">{</p>
		<p class="tabletext">&#160;&quot;name&quot;: &quot;Rule for AD2 
		 Updated2&quot;,</p>
		<p class="tabletext">&#160;&quot;type&quot;: &quot;asset&quot;,</p>
		<p class="tabletext">&#160;&quot;assetId&quot;: &quot;6&quot;,</p>
		<p class="tabletext">&#160;&quot;userFilter&quot;: null,</p>
		<p class="tabletext">&#160;&quot;accountFilter&quot;: {</p>
		<p class="tabletext">&#160;&#160;&quot;joinOperator&quot;: &quot;and&quot;,</p>
		<p class="tabletext">&#160;&#160;&quot;filters&quot;: [{</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;Id&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;Is Greater Than&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;values&quot;: &quot;11&quot;</p>
		<p class="tabletext">&#160;&#160;}, {</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;propDispName&quot;: 
		 &quot;Name&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;operDispName&quot;: 
		 &quot;Starts With&quot;,</p>
		<p class="tabletext">&#160;&#160;&#160;&quot;values&quot;: &quot;A&quot;</p>
		<p class="tabletext">&#160;&#160;}]</p>
		<p class="tabletext">&#160;},</p>
		<p class="tabletext">&#160;&quot;linkClause&quot;: &quot;User.Employee 
		 ID=Account.Employee ID&quot;</p>
		<p class="tabletext">}</p></td>
	</tr>
 </table>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>.<br />
The RestClient shows <span style="font-weight: bold;">Status Code 200 OK</span> 
 if the request is processed successfully.</p>
<br style="page-break-before: always;" />

 <h3><a name="deleterule" id="deleterule"></a>Deleting an Existing Account 
 Linking Rule</h3>
 <p>If you don't need a rule, you can delete it from Tuebora through API. 
 You can delete a rule using account linking rule ID. To get the ID of 
 the linking rule that you want to delete, see <a href="#Get_All_Rules">Getting 
 Rule ID</a>.</p>
 <p>To delete an Account Linking Rule, perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers</span> 
 tab.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the <span style="font-weight: bold;">Client 
 ID</span> generated for Tuebora Authentication API Credentials.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the <span style="font-weight: bold;">Client 
 Secret</span> generated for Tuebora Authentication API Credentials.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">DELETE</span> in the <span style="font-weight: bold;">Method</span> 
 field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to delete the account linking rules in the <span style="font-weight: bold;">URL</span> 
 field:<br />
<br />
<span style="font-style: italic;">http://&lt;Tuebora Application URL&gt;/api/v1/accountlinkingrules/&lt;Account 
 Linking Rule ID&gt;</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://xanadu.tuebora.com/api/v1/accountlinkingrules/50960ccf-b0a5-406b-82e9-9fd63b65fc3a</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>.<br />
The RestClient shows <span style="font-weight: bold;">Status Code 200 OK</span> 
 if the request is processed successfully.</p>
 <h3>Viewing Audit History for Create and Delete Account Linking Rules Activities</h3>
 <p class="list">Tuebora maintains record for the Account Linking Rules 
 Created or Deleted using API. You can view the audit information from 
 <a href="#ViewAuditHistory">Activity History</a> page.<br />
</p>
 <p class="list">The Activity Type:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Create Account 
	 Linking Rule -</span> lists all Account Linking Rules created in Tuebora.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Delete Account 
	 Linking Rule</span> - lists all Account Linking Rules deleted.</p></li>
</ul>
<p class="list">&#160;</p>
<table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="SCIM_Server.htm" style="color: #008000;">SCIM Servers</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Data_Import.htm" 
															 style="color: #008000;">Data 
		 Import</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
