
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Administrator Guide - Administrator Tasks</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "0_5";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>Administrator Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="224">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Dashboard.htm" style="color: #008000;">Dashboard</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Asset_Management.htm" 
															 style="color: #008000;">Asset 
		 Management</a></p></td>
	</tr>
 </table>
 <h1 style="margin-top: 6pt; margin-bottom: 6pt;">Administrator Tasks</h1>
 <p style="margin-top: 4pt; margin-bottom: 4pt;">Following table lists the 
 tasks you can perform as Tuebora Portal Administrator.</p>
 <table style="font-size: medium; line-height: normal; orphans: auto; widows: 1; 
		 -webkit-text-stroke-width: 0px; border: 1px solid #000000; left: 0px; 
		 top: 293px;" cellspacing="0">
	<tr style="height: 23px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="font-size: 10pt; 
									 margin-top: 3pt; margin-left: 5pt; 
									 margin-bottom: 3pt; color: #ffffff; 
									 font-weight: bold;">Task/Feature</p></td>
		<td style="border-bottom: solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; color: #ffffff; font-weight: bold;">Description</p></td>
	</tr>
	<tr style="height: 53px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText"><a href="Asset_Management.htm">Asset Management</a></p></td>
		<td style="border-bottom: solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText"><a href="Asset_Management.htm">All Assets</a> 
		 - Create new Assets and manage existing Assets in the system.</p>
		
		<p class="TableText"><a href="SCIM_Server.htm">SCIM Servers</a> 
		 - View and Associate Asset with the SCIM Server.</p></td>
	</tr>
	<tr style="height: 34px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText"><a href="Account_Linking_Rules_Management.htm">Account 
		 Linking Rules Management</a></p></td>
		<td style="border-bottom: solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">Create and manage Account Linking Rules.</p></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText"><a href="Data_Import.htm">Import Data</a></p></td>
		<td style="border-bottom: solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">View Asset data import methods, configure 
		 schedules, and import data.</p></td>
	</tr>
	<tr style="height: 87px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText"><a href="User_Management.htm">User Management</a></p></td>
		<td style="border-bottom: solid 1px #000000; vertical-align: top;">
  <ul 
				 style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Manage_All_Users.htm">Manage 
			 All Users</a> - Create, view, and manage details of users 
			 in the system.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="User_Termination_Settings.htm">User 
			 Termination Settings</a> - Configure settings to assign the 
			 pending tasks of terminated users.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Tuebora_Groups.htm">Tuebora 
			 Groups</a> - Create and manage groups in Tuebora.</p></li>
		</ul></td>
	</tr>
	<tr style="height: 22px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText"><a href="Role_Management.htm">Role Management</a></p></td>
		<td style="border-bottom: solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">Create and manage roles in the system.</p></td>
	</tr>
	<tr style="height: 118px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText"><a href="Workflows_Management.htm">Workflows 
		 Management</a></p></td>
		<td style="border-bottom: solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">Create, view, and manage workflows for:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Data_Synchronization.htm">Data 
			 Synchronization</a></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Password_Synchronization_Rules.htm">Password 
			 Synchronization</a></p></li>
		</ul>
		<p class="TableText">View <a href="Access_Provisioning_and_Deprovisioning_History.htm">Provisioning 
		 history</a>.</p>
		<p class="TableText">View <a href="All_Workflows.htm">All Workflows</a></p>
		<p class="TableText">View <a href="Workflow_Execution_History.htm">Execution 
		 History</a></p></td>
	</tr>
	<tr style="height: 109px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText"><a href="Portal_Security_Management.htm">Portal 
		 Security Management</a></p></td>
		<td style="border-bottom: solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">Configure and manage the following:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Tuebora_Portal_Authentication.htm">Portal 
			 Authentication</a></p></li>
			
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Multi-Factor_Authentication.htm">Multi-Factor 
			 Authentication</a></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Password_Policy.htm">Password 
			 Policy</a></p></li>
		</ul></td>
	</tr>
	<tr style="height: 5px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText">Access Governance Settings</p></td>
		<td style="border-bottom: solid 1px #000000; vertical-align: top;">
		<p class="TableText"><a 
		 href="Access_Request_Setting.htm">Access Requests</a> - Configure 
		 and manage the Governance settings</p></td>
	</tr>
	<tr style="height: 178px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText"><a href="System-wide_Settings.htm">System-wide 
		 settings</a></p></td>
		<td style="border-bottom: solid 1px #000000; vertical-align: top;">
  <ul 
				 style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="System_Jobs.htm">System 
			 Jobs</a> -View details of jobs performed by Tuebora Portal.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Activity_History.htm">Activity 
			 History</a> - View details of access management activities 
			 performed in Tuebora Portal</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Escalations.htm">Escalation</a> 
			 - Configure and manage Escalation Rules. View Escalation History.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Notification_Rules.htm">Notification</a> 
			 - Configure and manage Notification Rules, Manage Email Server. 
			 View Notification History and Archived Alerts.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="System_Settings.htm">Settings</a> 
			 - Configure and manage Default Task Action and Data Import 
			 Threshold Riles.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Customizing_User_Interface.htm">UI 
			 Customization</a> - Customize Tuebora Portal features (services).</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="License_Details.htm">License 
			 Details</a> - View Tuebora license details.</p></li>
		</ul></td>
	</tr>
	
		
	
	<tr style="height: 22px;">
		<td style="border-right: solid 1px #000000; border-bottom: solid 1px #000000;">
  <p 
			 class="TableText"><a href="Alerts.htm">Alerts</a></p></td>
		<td style="border-bottom: solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText"><span style="font-size: 13.3333px; display: inline	 ! important ; 
									 float: none; background-color: #ffffff;">View 
		 and act on alerts generated in the system.</span></p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-right: solid 1px #000000;">
  <p class="TableText"><a 
		 href="Reports.htm">Reports</a></p></td>
		<td style="vertical-align: top;">
  <p class="TableText"><span style="font-size: 13.3333px; 
		 display: inline	 ! important ; float: none; background-color: #ffffff;">View 
		 and generate reports.</span></p></td>
	</tr>
 </table>
 <p style="margin-top: 4pt; margin-bottom: 4pt;">&#160;</p>
 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Dashboard.htm" style="color: #008000;">Dashboard</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Asset_Management.htm" 
															 style="color: #008000;">Asset 
		 Management</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
