
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Administrator Guide - Data Import</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1.0_3";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>Administrator Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="560">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" 
													 cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Account_Linking_Rules_Management.htm" style="color: #008000;">Account 
		 Linking Rules Management</a></p></td>
		<td>
  <p class="TableText" 
															 style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Linking_Orphaned_Accounts.htm" style="color: #008000;">Linking 
		 Orphaned Accounts</a></p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h1>Data Import</h1>
 <p>In Tuebora Portal, details of users having Access to different Assets 
 are imported into the system from the User Repository. The details of 
 Access each user has in the Assets are imported from the respective Governed 
 Assets. After System Setup and adding all the Assets to be governed, based 
 on the configuration, Tuebora Portal imports data from the Assets.</p>
 <h3>Data Import Methods</h3>
 <p>The method by which data is collected from different Assets can be different. 
 This depends on the type of Asset. In Tuebora Portal, you can import data 
 from Assets in the following ways:</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Connecting directly from Server</span> 
 - Connect directly to integrated Assets from Tuebora Portal and import 
 data.</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Connecting to Database from Server</span> 
 - Connect to the database of supported Assets to import data.</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Connecting through SCIM Server</span> - 
 Connect to integrated Assets through SCIM Server and import data.</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Uploading a .ZIP File Extracted by Tuebora 
 Data Extraction Too</span>l - To use this option you must have the .ZIP 
 file extracted using the Tuebora Data Extraction Tool.</p>
 <p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Uploading a CSV file</span> - Import data 
 into Tuebora Portal from a CSV file.</p>
 <h2>Import Data for Assets</h2>
 <p>Data import depends on the method specified for an Asset in Tuebora 
 Portal. If you want to import data for the first time after creating an 
 Asset or want to reimport the data, you can use the <span style="font-weight: bold;">Data 
 Import</span> feature.</p>
 <p>To import data for Assets, you can use the following options in Tuebora 
 Portal:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Importing_Data_Manually" style="font-weight: normal;">Import 
	 Data On Demand</a><br />
	<br />
	For example, Tuebora Portal Administrator in an organization&#160;imports 
	 user data on demand, if the User Repository has the updated user records.</p></li>
	<li>
 <p class="list"><a href="#Importing_Data_Automatically" style="font-weight: normal;"><span 
	 style="font-weight: normal;">Scheduled</span> or <span style="font-weight: normal;">Automatic 
	 Data Import</span></a><br />
	<br />
	For example, for Office 365, Data Import happens automatically at 5:00 
	 PM on every Sunday.</p></li>
</ul>
<span style="font-weight: bold; font-size: 10pt;"><br style="page-break-before: always;" />
</span> 
<h4><span style="font-weight: bold; font-size: 10pt;">Navigation</span></h4>
<table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">Import</span> 
		 <span style="font-weight: bold;">Data</span> feature, select <span 
		 style="font-style: italic;">ANY</span> of the following:</p>
		<ul style="list-style: disc;">
			<li>
   <p class="TableText" style="margin-top: 3pt; margin-bottom: 3pt;"><span 
			 style="font-weight: bold;">MENU &gt; Asset Management &gt; 
			 All Assets</span>. Select an <span style="font-weight: bold;">Asset</span> 
			 and click <span style="font-weight: bold;">Import</span> <span 
			 style="font-weight: bold;">Data</span>.</p></li>
			<li>
   <p class="TableText" style="margin-top: 3pt; margin-bottom: 3pt;"><span 
			 style="font-weight: bold;">MENU</span> <span style="font-weight: bold;">&gt; 
			 Asset Management &gt; All</span> <span style="font-weight: bold;">Assets</span> 
			 and click the <span style="font-weight: bold;">Asset</span> 
			 <span style="font-weight: bold;">Name</span>. Click <span 
			 style="font-weight: bold;">Import</span> <span style="font-weight: bold;">Data</span> 
			 in <span style="font-weight: bold;">Asset</span> <span style="font-weight: bold;">Details</span> 
			 page.</p></li>
			<li>
   <p class="TableText" style="margin-top: 3pt; margin-bottom: 3pt;"><span 
			 style="font-weight: bold;">Dashboard &gt;</span> <span style="font-weight: bold;">All</span> 
			 <span style="font-weight: bold;">Assets</span> widget. Select 
			 an <span style="font-weight: bold;">Asset</span> and click 
			 <span style="font-weight: bold;">Import</span> <span style="font-weight: bold;">Data</span>.</p></li>
			<li>
   <p class="TableText" style="margin-top: 3pt; margin-bottom: 3pt;"><span 
			 style="font-weight: bold;">Dashboard &gt;</span> <span style="font-weight: bold;">All</span> 
			 <span style="font-weight: bold;">Assets</span> widget and 
			 click the <span style="font-weight: bold;">Asset</span> <span 
			 style="font-weight: bold;">Name</span>. Click <span style="font-weight: bold;">Import</span> 
			 <span style="font-weight: bold;">Data</span> in <span style="font-weight: bold;">Asset</span> 
			 <span style="font-weight: bold;">Details</span> page.</p></li>
		</ul></td>
	</tr>
</table>
<h3><a name="Importing_Data_Manually" id="Importing_Data_Manually"></a>Importing 
 Data On Demand</h3>
<p>To import data on demand for an Asset, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Go to 
 <span style="font-weight: bold;">MENU &gt; Asset Management &gt; All Assets</span>. 
 The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Assets</span> 
 page opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required Asset.<br />
<br />
Following figure shows an example Asset selected to import data.<br />
<br />
<img src="Images/Import_Data_manually.png" alt="" style=" border:none; width:100%; max-width:703px;" border="0" /></p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">Alternatively, 
		 you can select the required Asset from the</span> <span style="font-weight: bold;">All</span> 
		 <span style="font-weight: bold;">Assets</span> <span style="mso-bidi-font-weight: normal; 
		 mso-add-space: auto;">page to open the</span> <span style="font-weight: bold;">Asset</span> 
		 <span style="font-weight: bold;">Details</span> <span style="mso-bidi-font-weight: normal; 
		 mso-add-space: auto;">page, and then click</span> <span style="font-weight: bold;">Import</span> 
		 <span style="font-weight: bold;">Data</span><span style="mso-bidi-font-weight: normal; 
															 mso-add-space: auto;">.</span></p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Import</span> <span style="font-weight: bold;">Data</span>. 
 Based on the <span style="font-weight: bold;">Data Import Method</span> 
 specified for the Asset, the <span style="font-weight: bold;">Import Data</span> 
 page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the source for importing the data.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">The 
		 system will not prompt you to select the source, if you have configured</span> 
		 <span style="font-weight: bold;">Connecting directly from Server 
		 or Connecting to Database from Server</span> <span style="mso-bidi-font-weight: normal; 
															 mso-add-space: auto;">as</span> 
		 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">the 
		 import method, for an Asset. It connects directly to the Asset 
		 and starts importing the data.</span></p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To import 
 data from CSV File perform the following:</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>In Data 
 Selection page click <span style="font-weight: bold;">Browse</span> <span 
	 style="font-weight: bold;">File</span>.<br />
The File Upload window appears.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Browse 
 to the location where the CSV file is available, select the file, and 
 click Open.<br />
The page refreshes to show the Data Mapping section and the details of 
 the file selected.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the labels from the lists to map the corresponding field values. Following 
 figure shows an example User data mapping.<br />
<br />
<img src="Images/Data_Mapping.gif" alt="" style=" border:none; width:100%; max-width:1309px;" border="0" />In 
 the preceding figure, the field label for <span style="font-weight: bold;">Field 
 7</span> is not mapped.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 Ignore Header if you want to ignore the header values in the CSV file.<br />
These values can be the field labels which need not be imported.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Reload.gif" alt="" style=" border:none; width:100%; max-width:25px;" border="0" /> 
 if you want to load the next rows from the CSV file to verify if you are 
 mapping the correct Field Labels.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">f.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Use the 
 navigation icons (<img src="Images/navigation_icon.png" alt="" style=" border:none; width:100%; max-width:42px;" border="0" />) to view the next and previous fields 
 in the file.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">g.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Continue</span> to import the data.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">h.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>The <span 
	 style="font-weight: bold;">Imported Data Details</span> page shows 
 the details of the import.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">i.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Continue</span> to publish the data to 
 Tuebora Portal.</p>
 <h3><a name="Importing_Data_Automatically" id="Importing_Data_Automatically"></a>Scheduled 
 or Automatic Data Import</h3>
 <p>In Tuebora Portal, you can configure a schedule to import data from 
 different Governed Assets. Use the <span style="font-weight: bold;">Create</span> 
 <span style="font-weight: bold;">Schedule</span> feature to create a <span 
	 style="font-weight: bold;">Data</span> <span style="font-weight: bold;">Load</span> 
 <span style="font-weight: bold;">Schedule</span> for importing data automatically 
 from different Assets into the system at specified time intervals.</p>
 <p>You can use the Create Schedule feature to perform the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 2pt; margin-bottom: 2pt;"><a 
	 href="#Creating_Data_Load_Schedule">Create Data Load Schedule</a></p></li>
	<li>
 <p class="list" style="margin-top: 2pt; margin-bottom: 2pt;"><a 
	 href="#Changing_or_Removing_Data_Load_Schedule">Change or Remove Data 
	 Load Schedule</a></p></li>
</ul>
<h4><a name="Creating_Data_Load_Schedule" id="Creating_Data_Load_Schedule"></a>Creating 
 Data Load Schedule</h4>
<p>To create a data load schedule, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Go to 
 <span style="font-weight: bold;">MENU &gt; Asset Management &gt; All Assets</span>.<br />
The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Assets</span> 
 page opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the required Asset from the <span style="font-weight: bold;">All</span> 
 <span style="font-weight: bold;">Assets</span> page.<br />
The corresponding <span style="font-weight: bold;">Asset</span> <span style="font-weight: bold;">Details</span> 
 page opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Create</span> <span style="font-weight: bold;">Schedule</span>. 
 The <span style="font-weight: bold;">Data</span> <span style="font-weight: bold;">Load</span> 
 <span style="font-weight: bold;">Schedule</span> subwindow opens.<br />
<br />
Following figure shows the Data Load Schedule subwindow.<br />
<br />
<img src="Images/Data_load_schedule.png" alt="" style=" border:none; width:100%; max-width:536px;" border="0" /></p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the frequency at which the data must be imported, in the <span style="font-weight: bold;">Recurrence</span> 
 <span style="font-weight: bold;">Pattern</span> section. Select the appropriate 
 option from the list:</p>
<p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 2pt; 
											 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Daily</p>
<p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 2pt; 
											 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Weekly</p>
<p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 2pt; 
											 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Monthly</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the date and time from when the data must be imported, in the <span style="font-weight: bold;">Start 
 Date</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 till when the data must be imported, in the <span style="font-weight: bold;">End 
 Date</span> field. Select the appropriate option from the list:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">No End Date</span> - Select this option 
 if data must be imported for an indefinite period.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">End After</span>: <span style="font-weight: bold;">x 
 occurrences</span> - Type the number of occurrences after which the data 
 load schedule must end, in the field provided.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">End by</span> - Specify the date and time 
 till when data must be imported.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Create</span> <span style="font-weight: bold;">Schedule</span>. 
 The Data Load Schedule is created and the Create Schedule button is no 
 longer available, instead the new button - <span style="font-weight: bold;">Change</span> 
 <span style="font-weight: bold;">Schedule</span> is displayed.<br />
<br />
Using the Change Schedule, you can <a href="#Changing_or_Removing_Data_Load_Schedule">change 
 or remove</a> the data load schedule for an Asset.</p>
<br style="page-break-before: always;" />

<h4><a name="Changing_or_Removing_Data_Load_Schedule" id="Changing_or_Removing_Data_Load_Schedule"></a>Changing 
 or Removing Data Load Schedule</h4>
<p>Data load schedule can be updated based on organizational data import 
 policy changes. Tuebora Portal provides the option to change or remove 
 an already created schedule for an Asset.</p>
<p>To change or remove the schedule to import data for an Asset, perform 
 the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; Asset Management &gt; All Assets</span>.<br />
The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Assets</span> 
 page opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Asset</span> for which you have already 
 defined a Data Load Schedule.<br />
The <span style="font-weight: bold;">Asset Details</span> page opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Change</span> <span style="font-weight: bold;">Schedule</span>.<br />
The <span style="font-weight: bold;">Data Load Schedule</span> subwindow 
 opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 one of the following:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Change</span> 
	 <span style="font-weight: bold;">Schedule</span> - To change the data 
	 load schedule for the Asset. Make the required changes.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Remove</span> 
	 <span style="font-weight: bold;">Schedule</span> - To remove the data 
	 load schedule created for the Asset.</p></li>
</ul>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Apply</span> <span style="font-weight: bold;">Changes</span>.<br />
The updates are applied and the data loading for the Asset happens based 
 on the updated settings.</p>
<h3>Data Reconciliation</h3>
<p>For every data import, system does the data reconciliation and imports 
 only the new records and changed records. While data reconciliation, if 
 system finds any manual overrides done for <a href="Linking_Orphaned_Accounts.htm">Account 
 linking</a> or <a href="Unlinking_Accounts_from_User_Identities.htm">unlinking</a>, 
 it retains the manual overrides intact and imports other data changes.</p>


































<p class="list">&#160;</p>
<table class="navigationhyperlink" 
													 cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Account_Linking_Rules_Management.htm" style="color: #008000;">Account 
		 Linking Rules Management</a></p></td>
		<td>
  <p class="TableText" 
															 style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Linking_Orphaned_Accounts.htm" style="color: #008000;">Linking 
		 Orphaned Accounts</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
