
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Administrator Guide - Data Synchronization</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "3.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>Administrator Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="608">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Workflows_Management.htm" style="color: #008000;">Workflows 
		 Management</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Password_Synchronization_Rules.htm" 
															 style="color: #008000;">Password 
		 Synchronization Rules</a></p></td>
	</tr>
 </table>
 <h1>Data Synchronization</h1>
 <p>Data Synchronization is the process of synchronizing data in one or 
 multiple target Assets, based on updates in a source Asset. You may want 
 to update the details of a user or associated Account properties in Tuebora 
 Portal. So this updated data must be reflected in the other Assets in 
 the environment. If it is not updated, there can be a data mismatch when 
 the next data load happens.</p>
 <p><span style="font-size: 13.3333px; line-height: normal; orphans: auto; 
		 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
		 float: none; background-color: #ffffff;">The status of data synchronization 
 tasks can be tracked through</span><span class="Apple-converted-space">&#160;</span><a 
	 href="Access_Provisioning_and_Deprovisioning_History.htm" style="font-family: Arial; 
	 font-size: 13.3333px; font-style: normal; font-variant: normal; font-weight: normal; 
	 letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; 
	 text-indent: 0px; text-transform: none; white-space: normal; widows: 1; 
	 word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff;">Provisioning/Deprovisioning 
 History</a><span class="Apple-converted-space">&#160;</span><span style="font-size: 13.3333px; 
	 line-height: normal; orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; 
	 display: inline	 ! important ; float: none; background-color: #ffffff;">page. 
 Each task has a Provisioning task created.</span></p>
 <p><span style="font-size: 13.3333px; line-height: normal; orphans: auto; 
		 widows: 1; -webkit-text-stroke-width: 0px; background-color: #ffffff;">Tuebora 
 Portal</span> <span style="font-size: 13.3333px; line-height: normal; 
					 orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; 
					 display: inline	 ! important ; float: none; background-color: #ffffff;">supports</span><span 
	 class="Apple-converted-space">&#160;</span><span style="font-size: 13.3333px; 
														 line-height: normal; 
														 orphans: auto; 
														 widows: 1; -webkit-text-stroke-width: 0px; 
														 font-weight: bold; 
														 background-color: #ffffff;">User</span><span 
	 class="Apple-converted-space">&#160;</span><span style="font-size: 13.3333px; 
														 line-height: normal; 
														 orphans: auto; 
														 widows: 1; -webkit-text-stroke-width: 0px; 
														 display: inline	 ! important ; 
														 float: none; background-color: #ffffff;">and</span><span 
	 class="Apple-converted-space">&#160;</span><span style="font-size: 13.3333px; 
														 line-height: normal; 
														 orphans: auto; 
														 widows: 1; -webkit-text-stroke-width: 0px; 
														 font-weight: bold; 
														 background-color: #ffffff;">Account</span><span 
	 class="Apple-converted-space">&#160;</span><span style="font-size: 13.3333px; 
														 line-height: normal; 
														 orphans: auto; 
														 widows: 1; -webkit-text-stroke-width: 0px; 
														 display: inline	 ! important ; 
														 float: none; background-color: #ffffff;">data 
 synchronization. It uses Synchronization Rules to define the source and 
 target properties for data synchronization.</span></p>
 <p style="margin-left: 0px; color: #003868; font-weight: bold;">Navigation</p>
 <table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 31px;">
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">Data 
		 Synchronization Rules</span> page, select <span style="font-weight: bold;">MENU 
		 &gt; Workflows &gt; Data Synchronization Rules</span>.</p></td>
	</tr>
 </table>
 <h3 style="font-weight: bold; font-size: 14pt; color: rgb(2, 59, 109); 
	 font-family: Arial; font-style: normal; font-variant: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-align: start; text-indent: 0px; 
	 text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; 
	 -webkit-text-stroke-width: 0px;">User Data Synchronization</h3>
 <p>The user data imported from the User Repository is mapped to the corresponding 
 Accounts in other Assets. Other Assets also maintain some user properties 
 of the Accounts. So if a user property, mapped with a user as well as 
 Account is updated in any Asset, it must be reflected in the other Assets 
 as well. If the user data synchronization does not happen, next time a 
 data load is done, there would be a mismatch of the properties and it 
 may result in errors.</p>
 <p>Tuebora Portal uses&#160;User Synchronization Rules&#160;to define the&#160;properties 
 and Assets <span style="font-family: Arial; line-height: normal; orphans: auto; 
					 text-align: start; widows: 1; -webkit-text-stroke-width: 0px;">mapping 
 for user data synchronization.</span></p>
 <p>User Synchronization Rules define the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Target 
	 Asset(s) and corresponding attribute that must be updated.</p></li>
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">User 
	 or set of users for whom the rule is applicable.</p></li>
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Target 
	 value that must be updated.</p></li>
</ul>
<h3 style="font-weight: bold; font-size: 14pt; color: rgb(2, 59, 109); 
	 font-family: Arial; font-style: normal; font-variant: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-align: start; text-indent: 0px; 
	 text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; 
	 -webkit-text-stroke-width: 0px;"><span style="font-weight: bold; font-size: 14pt; 
											 color: rgb(2, 59, 109); font-family: Arial; 
											 font-style: normal; font-variant: normal; 
											 letter-spacing: normal; line-height: normal; 
											 orphans: auto; text-transform: none; 
											 white-space: normal; widows: 1; 
											 word-spacing: 0px; -webkit-text-stroke-width: 0px;">Account 
 Data Synchronization</span></h3>
<p>The Account data imported from one Asset is mapped to corresponding 
 user Accounts in other Assets. For example, If a property, mapped with 
 an Account is updated in a Active Directory, it must be reflected for 
 the corresponding Account in the Microsoft SharePoint as well. If the 
 Account data synchronization does not happen, next time a data load is 
 done, there would be a mismatch of the properties and it may result in 
 errors.</p>
<p>Tuebora Portal uses<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Account Synchronization Rules</span><span 
	 class="Apple-converted-space">&#160;</span>to define the<span class="Apple-converted-space">&#160;</span><span 
	 style="font-size: 13.3333px; float: none; display: inline	 ! important ; 
	 background-color: #ffffff;">propertie</span>s and Assets mapping for 
 Account data synchronization.</p>
<br style="page-break-before: always;" />

<p>Account Synchronization Rules define the following:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Target 
	 Asset(s) and corresponding attribute that must be updated.</p></li>
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Account(s) 
	 for which the rule is applicable.</p></li>
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Target 
	 value that must be updated.</p></li>
</ul>
<h4>Flow of Operations</h4>
<p>User and Account Synchronization Rules are defined in the system. Some 
 strategic changes are implemented in the organization and Job Titles and 
 Department names are changed to align to the new policies.</p>
<p>Flow of operations is as follows:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>All affected 
 Job Titles and Department names are updated for the corresponding users 
 in the HR System.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>HR data 
 is imported into Tuebora Portal and the user attributes are updated in 
 the system.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Data 
 Synchronization Rules are triggered and the user attribute values are 
 updated in all defined Assets (for example, Microsoft Active Directory, 
 Exchange Server, and Self Service Portal).</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Administrator 
 can view the status of tasks from the <span style="font-weight: bold;">Provisioning 
 History</span> page.</p>
<h4>Using the Data Synchronization Rules Page</h4>
<p style="color: #000000; font-weight: normal; font-style: normal;">You 
 can perform the following operations on the Data Synchronization Rules 
 page:</p>
<ul style="list-style: disc;">
	<li style="color: #000000;">
 <p class="list" style="margin-top: 3pt; 
									 margin-bottom: 3pt;"><a href="#Creating_User_Synchronization_Rule">Create 
	 User Synchronization Rule</a></p></li>
	<li style="color: #000000;">
 <p class="list" style="margin-top: 3pt; 
									 margin-bottom: 3pt;"><a href="#Creating_Account_Synchronization_Rule">Create 
	 Account Synchronization Rule</a></p></li>
	<li style="color: #000000;">
 <p class="list" style="margin-top: 3pt; 
									 margin-bottom: 3pt;"><a href="#Editing_User_Synchronization_Rule">Edit 
	 Data Synchronization Rule</a></p></li>
	<li style="color: #000000;">
 <p class="list" style="margin-top: 3pt; 
									 margin-bottom: 3pt;"><a href="#Deleting_User_Synchronization_Rule">Delete 
	 Data Synchronization Rule</a></p></li>
</ul>
<h3><a name="Creating_User_Synchronization_Rule" id="Creating_User_Synchronization_Rule"></a>Creating 
 User Synchronization Rule</h3>
<p>To create a new rule, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Go to 
 <span style="font-weight: bold;">MENU &gt; Workflows &gt; Data Synchronization 
 Rules</span>.<br />
The <span style="font-weight: bold;">Data Synchronization Rules</span> 
 page opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">User Synchronization Rule</span> from 
 the drop-down list available in the <span style="font-weight: bold;">Create</span> 
 field, on the right side of the page.<br />
<br />
The <span style="font-weight: bold;">Create User Synchronization Rule</span> 
 page opens.<br />
<br style="page-break-before: always;" />
Following figure shows a <span style="font-weight: bold;">Create User Synchronization 
 Rule</span> page.<br />
<br />
<img src="Images/User_Synch_Rules.png" alt="" style=" border:none; width:100%; max-width:424px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 name for the rule in the <span style="font-weight: bold;">Rule Name</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 description for the rule in the <span style="font-weight: bold;">Rule 
 Description</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the users for whom the rule is applicable in the <span style="font-weight: bold;">Specify 
 Users for whom this Rule Applies</span> section. Available options are 
 as follows:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">All Users</span> 
	 - Rule is applicable for all users in the system.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">User(s) matching</span> 
	 <span style="font-weight: bold; text-decoration: underline; ">this 
	 criteria</span> - You can specify the users for whom the rule is applicable. 
	 Click <span style="font-weight: bold; text-decoration: underline; ">this 
	 criteria</span> to specify. The <span style="font-weight: bold;">Select 
	 Users</span> subwindow opens.<br />
	<br />
	<img src="Images/User_Synch_Rules_Select_User.png" alt="" style=" border:none; width:100%; max-width:561px;" border="0" /></p></li>
</ul>
<br style="page-break-before: always;" />

<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop down list available in <span 
	 style="font-weight: bold;">Include Users that match All/Any of the 
 following criteria</span>:</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All</span> - Applies the rule to users 
 who match all the defined criteria.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Applies the rule to users 
 who match any of the defined criteria.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom Filter</span>. The fields to define 
 the criteria appear.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop down and create the filter.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To add 
 rows, click <img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>. The subwindow closes.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Criteria</span> in the <span style="font-weight: bold;">Specify 
 Synchronization Targets and Conditions</span> section.<br />
The <span style="font-weight: bold;">Add Synchronization Targets and Conditions</span> 
 subwindow opens.<br />
<br />
<img src="Images/User_Synch_Rules_Add.png" alt="" style=" border:none; width:100%; max-width:379px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the source user <span style="font-size: 13.3333px; orphans: auto; text-indent: 0px; 
						 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
						 float: none; background-color: #ffffff;">property</span>. 
 When the value for this <span style="font-size: 13.3333px; orphans: auto; 
								 text-indent: 0px; widows: 1; -webkit-text-stroke-width: 0px; 
								 display: inline	 ! important ; float: none; 
								 background-color: #ffffff;">property</span> 
 is updated, it must be reflected for the corresponding <span style="font-size: 13.3333px; 
	 orphans: auto; text-indent: 0px; widows: 1; -webkit-text-stroke-width: 0px; 
	 display: inline	 ! important ; float: none; background-color: #ffffff;">property</span> 
 in the Target Assets, from the drop down available in the <span style="font-weight: bold;">Specify 
 Source</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 Asset Name of the Target Asset in the <span style="font-weight: bold;">Specify 
 Target</span> field. The field displays matching values as you start typing. 
 Select the required value.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the <span style="font-weight: bold;">target value</span> that must be 
 updated in the target Asset. Available options are as follows:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Target value is same as source</span> - 
 The same value as in the source Asset is reflected in the target Asset.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Target value is an expression</span> - 
 A modified value is reflected in the target Asset, based on an expression 
 specified. Select this value to specify the expression. A field appears 
 where you can provide the expression.<br />
<br />
For example, i<span style="font-size: 13.3333px; orphans: auto; text-indent: 0px; 
					 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
					 float: none; background-color: #ffffff;">f you want 
 to append</span><span class="Apple-converted-space">&#160;</span><span 
	 class="Apple-converted-space" style="font-size: 13.3333px; orphans: auto; 
	 text-indent: 0px; widows: 1; -webkit-text-stroke-width: 0px; font-weight: bold; 
	 background-color: #ffffff;">_Role</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-size: 13.3333px; orphans: auto; text-indent: 0px; widows: 1; 
	 -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
	 float: none; background-color: #ffffff;">to a property value, when 
 defining the rule, specify the expression -</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-size: 13.3333px; orphans: auto; text-indent: 0px; widows: 1; 
	 -webkit-text-stroke-width: 0px; font-weight: bold; background-color: #ffffff;">entity.getPropertyValue(entProperty)+&quot;_Role&quot;</span><span 
	 style="font-size: 13.3333px; orphans: auto; text-indent: 0px; widows: 1; 
	 -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
	 float: none; background-color: #ffffff;">.</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span>. The subwindow closes.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To add 
 more criteria to the rule, click <span style="font-weight: bold;">Add 
 Criteria</span> and specify the next set.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">12.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Create</span>.<br />
The rule is created and it appears on the <span style="font-weight: bold;">Data 
 Synchronization Rules</span> page.</p>
<h3><a name="Creating_Account_Synchronization_Rule" id="Creating_Account_Synchronization_Rule"></a>Creating 
 Account Synchronization Rule</h3>
<p>To create a new rule, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Go to 
 <span style="font-weight: bold;">MENU &gt; Workflows &gt; Data Synchronization 
 Rules</span>.<br />
The <span style="font-weight: bold;">Data Synchronization Rules</span> 
 page opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Account Synchronization Rule</span> from 
 the drop-down list available in the <span style="font-weight: bold;">Create</span> 
 field, on the right side of the page.<br />
The <span style="font-weight: bold;">Create Account Synchronization Rule</span> 
 page opens.</p>
<p class="list" style="margin-left: 43px;">Following figure shows a <span 
	 style="font-weight: bold;">Create Account Synchronization Rule</span> 
 page.<br />
<br />
<img src="Images/Account_Synch_Rules.png" alt="" style=" border:none; width:100%; max-width:721px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 name for the rule in the <span style="font-weight: bold;">Rule Name</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 description for the rule in the <span style="font-weight: bold;">Rule 
 Description</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 an Asset for whom the rule is applicable in the <span style="font-weight: bold;">Specify 
 Asset Source for which this Rule Applies</span> field.</p>
<br style="page-break-before: always;" />

<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the accounts for whom the rule is applicable in the <span style="font-weight: bold;">Specify 
 Accounts &#160;for whom this Rule Applies</span> section. Available options 
 are as follows:</p>
<ul>
	<li style="list-style: disc;">
 <p class="list" style="margin-top: 3pt; 
									 margin-bottom: 3pt;"><span style="font-weight: bold;">All 
	 Accounts -</span> Rule is applicable for all Accounts in the system.</p></li>
	<li style="list-style: disc;">
 <p class="list" style="margin-top: 3pt; 
									 margin-bottom: 3pt;"><span style="font-weight: bold;">All 
	 Accounts belonging to Users</span> - Specify this option, if the Rule 
	 is applicable for all Accounts belonging to users in the system and 
	 you do not want to include Orphaned Accounts.</p></li>
	<li style="list-style: disc;">
 <p class="list" style="margin-top: 3pt; 
									 margin-bottom: 3pt;"><span style="font-weight: bold;">Accounts 
	 belonging to Users matching</span> <span style="font-weight: bold; 
												 text-decoration: underline; ">this 
	 criteria</span> - You can specify the accounts belonging to the users 
	 for whom the rule is applicable. Click <span style="font-weight: bold; 
													 text-decoration: underline; ">this 
	 criteria</span> to specify. The <span style="font-weight: bold;">Select 
	 Users</span> subwindow opens.<br />
	<br />
	<img src="Images/User_Synch_Rules_Select_User.png" alt="" style=" border:none; width:100%; max-width:561px;" border="0" /></p></li>
</ul>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop down list available in <span 
	 style="font-weight: bold;">Include Users that match All/Any of the 
 following criteria:</span></p>
<p style="text-indent: -20px; 
											 margin-left: 140px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All</span> - Applies the rule to users 
 who match all the defined criteria.</p>
<p style="text-indent: -20px; 
											 margin-left: 140px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Applies the rule to users 
 who match any of the defined criteria.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom Filter</span>. The fields to define 
 the criteria appear.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop down and create the filter.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To add 
 rows, click <img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>. The subwindow closes.</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Accounts matching</span> 
	 <span style="font-weight: bold; text-decoration: underline; ">this 
	 criteria</span> - You can specify the accounts for whom the rule is 
	 applicable. Click <span style="font-weight: bold; text-decoration: underline; ">this 
	 criteria</span> to specify.<br />
	The <span style="font-weight: bold;">Select Users</span> subwindow 
	 opens.<br />
	<br />
	<img alt="" src="Images/Account_Synch_Rules_Select_Account.png" style=" border:none; width:100%; max-width:723px;" border="0" /></p></li>
</ul>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop-down list available in <span 
	 style="font-weight: bold;">Include Accounts that match All/Any of 
 the following criteria:</span></p>
<p style="text-indent: -20px; 
											 margin-left: 140px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All</span> - Applies the rule to accounts 
 matching all the defined criteria.</p>
<p style="text-indent: -20px; 
											 margin-left: 140px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Applies the rule to accounts 
 matching any of the defined criteria.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom Filter</span>. The fields to define 
 the criteria appear.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop down and create the filter.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To add 
 rows, click <img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>. The subwindow closes.</p>
<ul>
	<li style="list-style: disc;">
 <p class="list">these Accounts - You 
	 can specify the accounts for whom the rule is applicable. Click <span 
	 style="font-weight: bold; text-decoration: underline; ">these</span> 
	 to specify Accounts.<br />
	The Select Accounts subwindow opens.</p></li>
</ul>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 Account name in the <span style="font-weight: bold;">Enter Name of Account 
 you want to Add</span> field.<br />
As you type system lists the Account names matching the value specified.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span>.<br />
Account is added and displayed in <span style="font-weight: bold;">Selected</span> 
 <span style="font-weight: bold;">Accounts</span> section.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Add Accounts, 
 as required.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Criteria</span> in the <span style="font-weight: bold;">Specify 
 Synchronization Targets and Conditions</span> section.<br />
The <span style="font-weight: bold;">Add Synchronization Targets and Conditions</span> 
 subwindow opens.<br />
<br />
<img src="Images/Account_Synch_Rules_Targets.png" alt="" style=" border:none; width:100%; max-width:387px;" border="0" /></p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the source Account <span style="font-size: 13.3333px; orphans: auto; text-indent: 0px; 
							 widows: 1; -webkit-text-stroke-width: 0px; 
							 display: inline	 ! important ; float: none; 
							 background-color: #ffffff;">property</span>. 
 When the value for this <span style="font-size: 13.3333px; orphans: auto; 
								 text-indent: 0px; widows: 1; -webkit-text-stroke-width: 0px; 
								 display: inline	 ! important ; float: none; 
								 background-color: #ffffff;">property</span> 
 is updated, it must be reflected for the corresponding <span style="font-size: 13.3333px; 
	 orphans: auto; text-indent: 0px; widows: 1; -webkit-text-stroke-width: 0px; 
	 display: inline	 ! important ; float: none; background-color: #ffffff;">property</span> 
 in the Target Assets, from the drop-down available in the <span style="font-weight: bold;">Specify 
 Source</span> field.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type 
 the Asset Name of the Target Asset in the <span style="font-weight: bold;">Specify 
 Target</span> field. The field displays matching values as you start typing. 
 Select the required value.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 the <span style="font-weight: bold;">target value</span> that must be 
 updated in the target Asset. Available options are as follows:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Target value is same as source</span> - 
 The same value as in the source Asset is reflected in the target Asset.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Target value is an expression</span> - 
 A modified value is reflected in the target Asset, based on an expression 
 specified. Select this value to specify the expression. A field appears 
 where you can provide the expression.<br />
<br />
For example, i<span style="font-size: 13.3333px; orphans: auto; text-indent: 0px; 
					 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
					 float: none; background-color: #ffffff;">f you want 
 to append</span><span class="Apple-converted-space">&#160;</span><span 
	 class="Apple-converted-space" style="font-size: 13.3333px; orphans: auto; 
	 text-indent: 0px; widows: 1; -webkit-text-stroke-width: 0px; font-weight: bold; 
	 background-color: #ffffff;">_ACRole</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-size: 13.3333px; orphans: auto; text-indent: 0px; widows: 1; 
	 -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
	 float: none; background-color: #ffffff;">to a property value, when 
 defining the rule, specify the expression -</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-size: 13.3333px; orphans: auto; text-indent: 0px; widows: 1; 
	 -webkit-text-stroke-width: 0px; font-weight: bold; background-color: #ffffff;">entity.getPropertyValue(entProperty)+&quot;_ACRole&quot;</span><span 
	 style="font-size: 13.3333px; orphans: auto; text-indent: 0px; widows: 1; 
	 -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
	 float: none; background-color: #ffffff;">.</span></p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 Source and Target Account correlation that must be updated in the target 
 Asset. Available options are follows:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Associated User is the Same</span> - &#160;Associates 
 the account in the source Asset with the target Asset based on the user.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Account Name is Same</span> - Associates 
 the account in the source Asset with the target Asset based on the account 
 name.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">12.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span>. The subwindow closes.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">13.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To add 
 more criteria to the rule, click <span style="font-weight: bold;">Add 
 Criteria</span> and specify the next set.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">14.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Create</span>. The rule is created and 
 it appears on the <span style="font-weight: bold;">Data Synchronization 
 Rules</span> page.</p>
<h3><a name="Editing_User_Synchronization_Rule" id="Editing_User_Synchronization_Rule"></a>Editing 
 a Data Synchronization Rule</h3>
<p>To edit an existing Data Synchronization Rule, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Go to 
 <span style="font-weight: bold;">MENU &gt; Workflows &gt; Data Synchronization 
 Rules</span>.<br />
The <span style="font-weight: bold;">Data Synchronization Rules</span> 
 page opens and lists all the available rules.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the rule that you want to modify.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Edit Data Synchronization Rule</span>.<br />
The <span style="font-weight: bold;">Edit User Synchronization Rule</span> 
 page opens.<br />
<br />
<img src="Images/User_Synch_Rules_EditRule.png" alt="" style=" border:none; width:100%; max-width:673px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Edit the 
 values as required.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To add 
 a new criteria, click <span style="font-weight: bold;">Add Criteria</span> 
 and provide the details in the subwindow that opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To edit 
 an existing criteria, click <img src="Images/User_Synch_Rules_Edit.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" /> 
 corresponding to the required criteria. The <span style="font-weight: bold;">Edit 
 Synchronization Targets and Conditions</span> subwindow opens.<br />
<br />
<img src="Images/User_Synch_Rules_EditCriteria.png" alt="" style=" border:none; width:100%; max-width:384px;" border="0" /><br />
<br />
In the subwindow, perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 80px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Edit 
 the required values.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 80px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span>. The subwindow closes.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To delete 
 a defined criteria, click <img src="Images/Delete.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" /> corresponding to the required 
 criteria.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> to save the updated rule.</p>
<h3><a name="Deleting_User_Synchronization_Rule" id="Deleting_User_Synchronization_Rule"></a>Deleting 
 Data Synchronization Rule</h3>
<p>You can delete a rule that is no longer required in the system. To delete 
 a rule, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Go to 
 <span style="font-weight: bold;">MENU &gt; Workflows &gt; Data Synchronization 
 Rules</span>.<br />
The <span style="font-weight: bold;">Data Synchronization Rules</span> 
 page opens and lists all the available rules.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the rule that you want to delete.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Delete Data Synchronization Rule</span>. 
 A subwindow opens asking for confirmation to delete the rule.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Delete</span>. The rule is deleted from 
 the system. The <span style="font-weight: bold;">Data Synchronization 
 Rules</span> page refreshes to show the existing rules.</p>
<p class="list">&#160;</p>
<table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Workflows_Management.htm" style="color: #008000;">Workflows 
		 Management</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Password_Synchronization_Rules.htm" 
															 style="color: #008000;">Password 
		 Synchronization Rules</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
