
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Administrator Guide - Enabled Certification Policies</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>Administrator Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="728">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <h1>Enabled Certification Policies</h1>
     <p>The Certification Policies created in Tuebora Portal are listed on Enabled Policies page. After running a Certification Policy, Tuebora Portal creates Certification Tasks and assigns it against <span style="font-weight: bold;">Certifiers</span> for each User, Account, or Group. You can view the overall status and detailed summary of the policy from the <span style="font-weight: bold;">Certification Policies - Enabled</span> page.</p>
     <p>You can view the details of the Certification Status and Action for current as well as completed policies.</p>
     <h2>Using the Enabled Policies Page</h2>
     <p>You can use the Enabled Policies page to perform the following:</p>
     <ul style="color: #000000;">
      <li style="list-style: disc; color: #000000;">
      <p style="margin-top: 3pt; margin-bottom: 3pt; color: #000000;"><a href="#Creating_a_Certification_Policy">Create Certification Policies</a></p>
</li>
      <li style="list-style: disc; color: #000000;">
      <p style="margin-top: 3pt; margin-bottom: 3pt;"><a href="#Editing_a_Certification_Policy">Edit</a> and <a href="#Delete_Certification_Policies">Delete</a> Policies</p>
</li>
      <li style="list-style: disc; color: #000000;">
      <p style="margin-top: 3pt; margin-bottom: 3pt;"><a href="#Disable_Certification_Policies">Disable Policies</a></p>
</li>
      <li style="list-style: disc; color: #000000;">
      <p style="margin-top: 3pt; margin-bottom: 3pt; color: #000000;"><a href="#Run_Certification_Policies">Run the Policies</a></p>
</li>

      <li style="list-style: disc; color: #000000;">
      <p style="margin-top: 3pt; margin-bottom: 3pt; color: #000000;"><a href="#Certification_Status_and_Action_Details">View Certification Status and Actions</a></p>
</li>
      <li style="list-style: disc; color: #000000;">
      <p style="margin-top: 3pt; margin-bottom: 3pt; color: #000000;"><a href="#Policy_Summary">View Certification Policy Details</a></p>
</li>
      <li style="list-style: disc; color: #000000;">
      <p style="margin-top: 3pt; margin-bottom: 3pt; color: #000000;"><a href="#Mark_Certification_Policy_Run_as_Completed">Mark Certification Policy Run as Completed</a></p>
</li>
     </ul>
     <p style="font-weight: bold; color: #003868; margin-left: 0px;">Navigation</p>
     <table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
      <col style="width: 100%;" />
      <tr>
      <td>
      <p class="TableText" style="margin-top: 4pt; margin-bottom: 4pt;">To access the <span style="font-weight: bold;">Certification</span> <span style="font-weight: bold;">Policies - Enabled</span> page, select <span style="font-weight: bold;">MENU &gt; Governance &gt; Certification Polices &gt;</span> then click <span style="font-weight: bold;">Enabled Policies</span> tab.</p>
</td>
</tr>
     </table>
     <h3><a name="Creating_a_Certification_Policy" id="Creating_a_Certification_Policy"></a>Creating a Certification Policy</h3>
     <p>As per organizational requirement, you create the certification policies. For more information, see <a href="Create_Certification_Policy.htm">Create Certification Policy</a>.</p>

     <h3><a name="Editing_a_Certification_Policy" id="Editing_a_Certification_Policy"></a>Editing a Certification Policy</h3>
     <p>To edit a Certification Policy, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the check box corresponding to the required policy in the <span style="font-weight: bold;">Certifications Policies - Enabled</span> page. The policy is highlighted.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select <span style="font-weight: bold;">Actions &gt; Edit</span>. The <span style="font-weight: bold;">Edit Certification Policy</span> page opens.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Make the required changes to the policy and click <span style="font-weight: bold;">Save changes</span>. The tab closes after saving the changes.</p>

     <h3><a name="Run_Certification_Policies" id="Run_Certification_Policies"></a>Run Certification Policies</h3>
     <p>After creating Certification Policies, you must run the policies for it to trigger Certification Tasks in the system. You can run the policies immediately after creating it. If you want to have Access Certifications on a regular interval, you can create schedules. If you want to certify the Access on a need-basis, you can run it when required. The system also provides the option to define recurring schedules for policies.</p>
     <p>When you run the policies, the system creates Certification Tasks against the Certifiers to certify the Access.</p>
     <p style="font-weight: bold;">Example</p>
     <p>In a department, where users deal with highly confidential data, users need Access to Windows File Shares only on need basis. A Supervisor must keep certifying the user Access to the Asset on a daily basis. A Certification Policy is created to certify the Access and it is scheduled to run daily, so that the Supervisor, certifies the Access of the users to the Asset daily.</p>
<br style="page-break-before: always;" />
     <h3 style="font-size: 12pt;">Running Certification Policies Immediately</h3>
     <p>To run Certification Policies immediately, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the check box corresponding to the required policy in the <span style="font-weight: bold;">Certifications Policies - Enabled</span> page. The policy is highlighted.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select <span style="font-weight: bold;">Actions &gt; Run Now.</span> The <span style="font-weight: bold;">Run Policy Now</span> <span style="font-weight: bold;">-&lt;Policy Name&gt;</span> subwindow opens.<br />
<br />
<img src="Images/EnabledPolicies1.png" alt="" style=" border:none; width:100%; max-width:536px;" border="0" /></p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify the date by which the Certification Task must be completed in the available field.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Run Policy Now</span> to run the policy immediately. The subwindow closes. The policy runs in the background and displays a message on completion.<br />
<br />
The fields corresponding to the policy are updated with details for <span style="font-weight: bold;">Due date</span>, <span style="font-weight: bold;">Certification Status</span>, and <span style="font-weight: bold;">Certification Recommendation</span>.</p>

     <h3 style="font-size: 12pt;">Creating a Schedule for Certification</h3>
     <p>After creating a required Certification Policy, you can create a schedule to specify when the Certification Policy must be run. If you create a schedule for a policy, the policy would automatically run at the specified schedule and create the Certification Tasks against the Certifiers.</p>
     <p><span style="font-weight: bold;">Example</span> - An Insurance Company has an internal Transaction and Billing Application and wants all Access to the Application to be certified once every month, as it contains confidential data. As an Administrator, you can create a policy for this. And then you can create a schedule to run the policy on a specified date each month.</p>
     <p>To create a schedule for running a Certification Policy, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the check box corresponding to the required policy in the <span style="font-weight: bold;">Certifications Policies - Enabled</span> page. The policy is highlighted.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select <span style="font-weight: bold;">Actions &gt; Create Run Schedule</span>. The <span style="font-weight: bold;">Create Run Schedule</span> subwindow opens.<br />
<br />
<img src="Images/CertPol_RunSchedule.png" alt="" style=" border:none; width:100%; max-width:567px;" border="0" /></p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the frequency at which the policy must run, in the <span style="font-weight: bold;">Recurrence Pattern</span> section:</p>

     <p class="list" style="margin-left: 100px; text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Daily</p>

     <p class="list" style="margin-left: 100px; text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Weekly</p>

     <p class="list" style="margin-left: 100px; text-indent: -20px; margin-top: 3pt; margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Monthly</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify the date and time from when the policy must run, in the <span style="font-weight: bold;">Start Date</span> field.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify till when the policy must run. Select the appropriate option from the list:</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 3pt; margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">No End Date</span> - Select this option if the policy must keep running for an indefinite period.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 3pt; margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">End After:</span> <span style="font-style: italic;">x</span> <span style="font-weight: bold;">occurrences</span> - Type the number of occurrences after which the policy must end, in the field provided.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 3pt; margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">End by</span> - Specify the date and time till when the policy must run.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Create Schedule</span>. The subwindow closes and the <span style="font-weight: bold;">Certification Policies</span> page refreshes to show the schedule icon (<img src="Images/Icon_Schedule.gif" alt="" style=" border:none; width:100%; max-width:18px;" border="0" />) next to the policy.<br />
Bring the cursor over the icon to view the summary of the schedule.</p>

     <h3 style="font-size: 12pt;">Changing or Removing Run Schedule of a Certification Policy</h3>
     <p>Certification policies might change based on organizational or policy changes. Similarly, the run schedules also can change. Tuebora Portal provides the option to change an already created schedule for a Certification Policy.</p>
     <p>To change the schedule to run a policy, perform the following:</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click the band displayed on the <span style="font-weight: bold;">Enabled</span> <span style="font-weight: bold;">Policies</span> page.<br />
The band expands to show the Certification Policy.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the check box corresponding to the policy for which you have already defined a schedule. The policy is highlighted.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select <span style="font-weight: bold;">Actions &gt; Change Run Policy Schedule.</span> The <span style="font-weight: bold;">Change</span> <span style="font-weight: bold;">Run Policy Schedule</span> subwindow opens.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select one of the following:</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 3pt; margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Change Schedule</span>, if you want to change the run schedule of the policy. Make the required changes.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 3pt; margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Remove Schedule</span>, if you want to remove the run schedule created for the policy.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Apply Changes</span>.</p>

     <ul style="list-style: disc;">
     </ul>
     <h3><a name="Delete_Certification_Policies" id="Delete_Certification_Policies"></a>Delete Certification Policies</h3>
     <p>Some Certification Policies might be run only for a specific period of time. After the period, you can remove it from the system. You can either remove the policy completely from the system or delete the Certification Tasks that were created as part of the policy, and reuse the policy.</p>
     <p style="font-weight: bold;">Example - &#160;<span style="font-weight: normal;">An organization has stopped using the services of an Asset and does not want to certify the Access in the Asset. So you can delete the obsolete policies.</span></p>
     <h3 style="font-size: 12pt;">Deleting a Certification Policy</h3>
     <p>To delete a Certification Policy, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the check box corresponding to the required policy in the <span style="font-weight: bold;">Certifications Policies - Enabled</span> page. The policy is highlighted.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select <span style="font-weight: bold;">Actions &gt; Delete</span>. A subwindow opens asking for confirmation on deleting the policy.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Delete</span>. The policy is deleted from the list of available policies.</p>
<br style="page-break-before: always;" />
     <h3 style="font-size: 14pt;">Deleting a Run for a Certification Policy</h3>
     <p>To delete an already run Certification Policy, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the check box corresponding to the required policy in the <span style="font-weight: bold;">Certifications Policies - Enabled</span> page. The policy is highlighted.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select <span style="font-weight: bold;">Actions &gt; Delete Run</span>. A subwindow opens asking for confirmation on deleting the policy.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Delete Run.</span> The subwindow closes and the page refreshes to display the Certification Status and Certification Recommendation against the policy as <span style="font-weight: bold;">Not Running</span>. The system also deletes any pending tasks against the policy from the Certification Tasks list of the Certifiers.</p>

     <h3><a name="Disable_Certification_Policies" id="Disable_Certification_Policies"></a>Disable Certification Policies</h3>
     <p>You can disable Certification Policies in Tuebora Portal. The policy might not be required currently and you may want to keep it disabled till required. For this you can select the required policy and select <span style="font-weight: bold;">Actions &gt; Disable</span>.</p>
     <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
      <col style="width: 4.082%;" />
      <col style="width: 95.918%;" />
      <tr>
      <td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
      <td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
      <p class="TableText"><span style="font-weight: bold;">Note</span>: You can disable only those Certification Policies that are not run. If you want to disable a policy that is run, delete the run for the policy using <span style="font-weight: bold;">Delete Run</span> and then disable the policy.</p>
</td>
</tr>
     </table>
     <h3><a name="Certification_Status_and_Action_Details" id="Certification_Status_and_Action_Details"></a>Certification Status and Action Details</h3>
     <p>After running a Certification Policy, the system creates Certification Tasks and assigns it against the <span style="font-weight: bold;">Certifier</span> for each user, Account, or Group. You can view the overall status and detailed summary of the policy from the page.</p>
     <p>You can view the Certification Status and Recommendations details corresponding to current as well as completed policies.</p>
     <h3 style="font-size: 12pt;">Viewing Certification Status Details</h3>
     <p>The <span style="font-weight: bold;">Certification Policies - Enabled</span> page shows the Certification Status of the policies.</p>
     <p><img src="Images/Cert_Status.gif" alt="" style=" border:none; width:100%; max-width:821px;" border="0" /></p>
     <p>Move the cursor over the bars to view details corresponding to the status. Click on the appropriate colors to navigate to the respective details pages.</p>
     <p style="font-weight: bold;">Example</p>
     <p>If the Governance Team Member wants to view details of the items that are not yet certified, the user clicks on the orange bar. The page refreshes to show the <a href="#Certification_Tasks_Page">Certification Tasks</a> page for those items that are not certified yet.</p>
     <h3 style="font-size: 12pt;">Viewing Certification Recommendation Details</h3>
     <p>The <span style="font-weight: bold;">Certification Policies - Enabled</span> page also shows the Certification Recommendation for the policies. If you move the cursor over the color bars corresponding each policy, it displays the summary of the Certification actions taken for the tasks. You can view the details of the Certification actions by clicking the color bars. The page refreshes to show the <a href="#Certification_Tasks_Page">Certification Tasks</a> page.</p>
     <h3><a name="Certification_Tasks_Page" id="Certification_Tasks_Page"></a><span style="font-size: 12pt;">Certification Tasks Page</span></h3>
     <p>The <span style="font-weight: bold;">Certification Tasks</span> page shows the Certification Status and Action details corresponding to the policies.</p>
     <p>Following figure shows an example <span style="font-weight: bold;">Certification Tasks</span> page with the <span style="font-weight: bold;">status</span> as <span style="font-weight: bold;">To be Certified</span>.</p>
     <p><img src="Images/Cert_TasksPage.gif" alt="" style=" border:none; width:100%; max-width:974px;" border="0" /></p>
     <p class="list">From the page, you can view the following:</p>
     <ul style="list-style: disc; color: #000000;">
      <li style="color: #000000;">
      <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">User for whom the Access must be certified</p>
</li>
      <li style="color: #000000;">
      <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Details of the Task</p>
</li>
      <li style="color: #000000;">
      <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Detailed analysis of the Access of the user</p>
</li>
      <li style="color: #000000;">
      <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Access Governance History</p>
</li>
     </ul>
<br style="page-break-before: always;" />
     <h3><a name="Policy_Summary" id="Policy_Summary"></a>Policy Summary</h3>
     <p>Tuebora Portal provides you the option to view the graphical representation of the summary of the policies. The summary is represented in the form of different types of charts, such as, bar, linear, and pie. The graphical representation helps in getting an overview of the policy summary quickly.</p>
     <p>To view the <span style="font-weight: bold;">Policy Summary</span> page, select the required policy and then select <span style="font-weight: bold;">View &gt; View Summary</span>.</p>
     <p>Following figure shows an example <span style="font-weight: bold;">Policy Summary</span> page.</p>
     <p><img src="Images/Cert_Pol_Summary.gif" alt="" style=" border:none; width:100%; max-width:965px;" border="0" /></p>
     <h3 style="font-size: 12pt;">Using the Policy Summary</h3>
     <p>Following table describes the different charts used and the details represented.</p>
     <table class="Table" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
      <col style="width: 33.333%;" />
      <col style="width: 33.333%;" />
      <col style="width: 33.333%;" />
      <tr class="t1st">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
      <p class="TableText" style="font-weight: bold; color: #ffffff;">Attribute</p>
</td>
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
      <p class="TableText" style="font-weight: bold; color: #ffffff;">Details</p>
</td>
      <td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B"><span>Actions</span></td>
</tr>
      <tr class="t2Row">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText">Overall Certification Policy Status</p>
</td>
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText">Represents the number of Certification Tasks, based on the following:</p>

      <p class="TableText"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To be Certified</p>

      <p class="TableText"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Certified but not Fulfilled</p>

      <p class="TableText"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Certified and Fulfilled</p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Click on the legend items to enable or disable the attributes in the pie chart.</p>
      <p class="TableText"><span style="font-weight: bold;">Example</span></p>
      <p class="TableText">&#160;If you want to see the pie chart representing only the Certifications Tasks that are <span style="font-weight: bold;">To be Certified</span> and <span style="font-weight: bold;">Certified but not Fulfilled,</span> click and disable <span style="font-weight: bold;">Certified and Fulfilled</span>. The chart refreshes to show data only for the enabled attributes.</p>
</td>
</tr>
      <tr class="t1Row">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText">Certification Details</p>
</td>
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText">Represents the Certification Action, based on numbers.</p>
      <p class="TableText">For example, it&#160;shows the number of user Access that are removed temporarily and retained indefinitely.</p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Click on the legend items to enable or disable the attributes in the pie chart.</p>
</td>
</tr>
      <tr class="t2Row">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; background-color: Transparent;">
      <p class="TableText" style="color: #000000; font-weight: normal;">Retain Justification Details</p>
</td>
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; background-color: Transparent;">
      <p class="TableText" style="color: #000000; font-weight: normal;">Represents the number of Certification Actions to retain the Access, based on the justification provided.</p>
</td>
      <td style="border-bottom: Solid 1px #000000; background-color: Transparent;">
      <p class="TableText" style="color: #000000; font-weight: normal;">Click the bars to navigate to the Certification Tasks page and view details of the Certification tasks.</p>
</td>
</tr>
      <tr class="t1Row">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText">Remove Justification Details</p>
</td>
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText">Represents the number of&#160;Certification Actions to remove the Access, based on the justification provided.</p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Click the bars to navigate to the <span style="font-weight: bold;">Certification Tasks</span> page and view details of the Certification tasks.</p>
</td>
</tr>
      <tr class="t2Row">
      <td style="border-right: Solid 1px #000000; border-bottom-width: 1px;">
      <p class="TableText">Daily Certification Trend</p>
</td>
      <td style="border-right: Solid 1px #000000; border-bottom-width: 1px;">
      <p class="TableText">Shows the daily trend of Certification Actions performed.</p>
</td>
      <td style="border-bottom-width: 1px;">
      <p class="TableText">Move the cursor over the points to view the number of Certification Actions performed for the particular day.</p>
      <p class="TableText">Click to navigate to the <span style="font-weight: bold;">Certification Tasks</span> page.</p>
</td>
</tr>
     </table>
     <h3 style="font-size: 12pt;">Exporting the Data</h3>
     <p>You can export the Policy Summary as a <span style="font-weight: bold;">PDF</span> file, if required. This can be used for analysis and sharing within organization, based on requirements.</p>
     <p>To export the details to a PDF file, click <span style="font-weight: bold;">Export Policy Status as PDF</span>, available at the top right corner of the <span style="font-weight: bold;">Policy Summary</span> page.</p>
     <h3><a name="Mark_Certification_Policy_Run_as_Completed" id="Mark_Certification_Policy_Run_as_Completed"></a>Mark Certification Policy Run as Completed</h3>
     <p>As a Governance Team Member, you may be required to keep the historic data of Certification Policy Run carried out at different time period for further reference, based on the organizational policy. You can mark the Certification Policy Run as Completed for:</p>
     <ul style="list-style: disc;">
      <li>
      <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Certification Policy where all Tasks Completed</p>
</li>
      <li>
      <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Certification Policy with Open Tasks</p>
</li>
     </ul>
     <h3><a name="Marking_Run_as_Completed__for_Certification_Policy_where_all_Tasks_Completed" id="Marking_Run_as_Completed__for_Certification_Policy_where_all_Tasks_Completed"></a>Marking Run as Completed &#160;for Certification Policy where all Tasks Completed</h3>
     <p>To mark run as completed for a certification policy where all tasks completed, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the check box corresponding to the required policy in the <span style="font-weight: bold;">Certification Policies - Enabled</span> page. The policy is highlighted.<br />
You must select a running policy to mark as completed.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Actions &gt; Mark Run as Completed</span>.<br />
The <span style="font-weight: bold;">Mark Run as Completed - &lt; Policy Name&gt;</span> subwindow opens.<br />
<br />
<img src="Images/MarkRunasCompleted_CompletedPolicy.png" alt="" style=" border:none; width:100%; max-width:670px;" border="0" /></p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify comment in the <span style="font-weight: bold;">Comments</span> field.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Mark Run as Completed</span>. The subwindow closes and Certification Polices - Enabled page refreshes.<br />
<br />
The details of certification tasks displayed in <span style="font-weight: bold;">Certification Status</span> and <span style="font-weight: bold;">Certification Recommendation</span> column is cleared and shows the policy status as <span style="font-weight: bold;">Not</span> <span style="font-weight: bold;">Running</span>.</p>

     <h3><a name="Marking_Run_as_Completed_for_a_Certification_Policy_with_Open_Tasks" id="Marking_Run_as_Completed_for_a_Certification_Policy_with_Open_Tasks"></a>Marking Run as Completed for a Certification Policy with Open Tasks</h3>
     <p>When marking a Certification Policy with Open Tasks as completed, you can select the appropriate recommendation - <span style="font-weight: bold;">Remove Access Immediately</span>, <span style="font-weight: bold;">Retain Access Indefinitely</span>, or <span style="font-weight: bold;">Retain Access Temporarily and remove after X days</span> to mark the open tasks.</p>
     <p>To mark run as completed for a certification policy with open tasks, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the check box corresponding to the required policy in the <span style="font-weight: bold;">Certification Policies - Enabled</span> page. The policy is highlighted.<br />
You must select a running policy to mark as completed.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Actions &gt; Mark Run as Completed</span>.<br />
The <span style="font-weight: bold;">Mark Run as Completed - &lt; Policy Name&gt;</span> subwindow opens.<br />
<br />
<img src="Images/MarkRunasCompleted_withOpenTasks.png" alt="" style=" border:none; width:100%; max-width:668px;" border="0" /></p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the appropriate recommendation that must be marked for the open tasks. The available recommendations are:</p>

     <p class="list" style="margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Remove Access Immediately</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Retain Access Temporarily and remove after X days</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Retain Access Indefinitely</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify comment in the <span style="font-weight: bold;">Comments</span> field.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Mark Run as Completed</span>. The subwindow closes and Certification Polices - Enabled page refreshes.<br />
<br />
The details of certification tasks displayed in <span style="font-weight: bold;">Certification Status</span> and <span style="font-weight: bold;">Certification Recommendation</span> column is cleared and shows the policy status as <span style="font-weight: bold;">Not</span> <span style="font-weight: bold;">Running</span>.<br />
<br />
You can view the recommendation made for the open tasks in <span style="font-weight: bold;">Governance</span> <span style="font-weight: bold;">History</span> of an Access.<br />
<br />
<img src="Images/MarkRunasCompleted_GovernanceHistory.png" alt="" style=" border:none; width:100%; max-width:670px;" border="0" /></p>

     <p>Also, email notifications are sent to all assignees of Open Tasks notifying that the open tasks are marked as completed.</p>
<br style="page-break-before: always;" />
<br />

    </div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
