
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Administrator Guide - Tuebora Groups</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>Administrator Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1448">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


<br style="page-break-before: always;" />
     <h1>Tuebora Groups</h1>
     <p>Tuebora Groups are the groups created and maintained in Tuebora Portal. These user groups can be used as Approvers, Certifiers, Task Assignees while configuring Access Request workflows and Certification workflows, and defining Terminated User Task Reassignment settings in the system.</p>
     <p>For example, an organization follows the system that the Privileged Access Requests must be approved by a set of users from Risk Management Team. The organization needs a group with specific users of Risk Management Team as its members and use this group while creating the Access Request Workflow. You can create the custom groups, using the <span style="font-weight: bold;">Tuebora</span> <span style="font-weight: bold;">Groups</span> feature.</p>
     <p>Tuebora Portal provides a default User Group to assign the tasks which have no assignees <span style="font-style: italic;">and All Asset Owners</span> are selected as members of this group. Apart from this, custom User Groups can be created by defining the group name, description and specifying the members of the group.</p>
     <p style="margin-left: 0px; color: #003868; font-weight: bold;">Navigation</p>
     <table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
      <col style="width: 100%;" />
      <tr>
      <td>
      <p class="TableText">To access the <span style="font-weight: bold;">Tuebora Groups</span> feature, select <span style="font-weight: bold;">MENU &gt; User Management &gt; Tuebora Groups</span>.</p>
</td>
</tr>
     </table>
     <p>Following figure shows an example Tuebora Groups page.<br />
<br />
<img src="Images/Tuebora_Groups.png" alt="" style=" border:none; width:100%; max-width:1080px;" border="0" /></p>
     <p>Out-of-the-box one Tuebora Group - <span style="font-weight: bold;">Backup Task Assignees</span> is provided in the Tuebora Portal. The members of this groups will be Owners of the Assets that are integrated with Tuebora Portal. You can only view the members of the Out-of-the-box one Tuebora Group and you cannot edit or delete this group.</p>
     <p>If you need additional Tuebora Groups you can create the groups as required.</p>
     <h2>Using Tuebora Groups Feature</h2>
     <p>You can perform the following operations on the Tuebora Groups page:</p>
     <ul style="list-style: disc;">
      <li>
      <p class="list"><a href="#Creating_Tuebora_Groups">Create Tuebora Group</a></p>
</li>
      <li>
      <p class="list"><a href="#Viewing_Members_of_Tuebora_Group">View Members of Tuebora Group</a></p>
</li>
      <li>
      <p class="list"><a href="#Editing_a_Tuebora_Group">Edit Tuebora Group</a></p>
</li>
      <li>
      <p class="list"><a href="#Deleting_a_Tuebora_Group">Delete Tuebora Group</a></p>
</li>
     </ul>
<br style="page-break-before: always;" />
     <h3><a name="Creating_Tuebora_Groups" id="Creating_Tuebora_Groups"></a>Creating a Tuebora Group</h3>
     <p>To create a new Tuebora Group, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select <span style="font-weight: bold;">MENU &gt; User Management &gt; Tuebora Groups</span><br />
The <span style="font-weight: bold;">Tuebora</span> <span style="font-weight: bold;">Groups</span> page opens.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Create</span> <span style="font-weight: bold;">Tuebora</span> <span style="font-weight: bold;">Group</span>.<br />
The <span style="font-weight: bold;">Create Tuebora Group</span> page opens.<br />
<br />
<img src="Images/Create_Tuebora_Group.png" alt="" style=" border:none; width:100%; max-width:446px;" border="0" /></p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a name for the group in the <span style="font-weight: bold;">Name</span> field.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a description to identify the group in the <span style="font-weight: bold;">Description</span> field.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify the Members of the Group as follows:</p>

     <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">These Users</span> - Select this option to select the users who would be part of this group.<br />
To specify the users for a group, perform the following:</p>

     <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click <span style="font-weight: bold; text-decoration: underline;">These Users</span>. The <span style="font-weight: bold;">Select</span> <span style="font-weight: bold;">Users</span> subwindow opens.<br />
<br />
<img src="Images/Selectuser_temination.png" alt="" style=" border:none; width:100%; max-width:401px;" border="0" /></p>

     <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Type the name of the person, whom you want <b><span style="font-weight: normal;">to specify as the authorized person in the</span> <span style="font-weight: bold;">Enter First-Name, Last-Name of User you want to select</span> <span style="font-weight: normal;">field and click</span> <span style="font-weight: bold;">Search</span> <span style="font-weight: normal;">icon.</span></b><br />
<br />
The system lists the user names matching the name specified.</p>

     <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select the appropriate user from the list and click <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Selected</span>.<br />
The added users are displayed on the UI.<span style="text-indent: -20px;"><br />
<br />
Similarly, add more users, if required.</span></p>

     <p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>.<br />
The subwindow closes and the selected users are shown under <span style="font-weight: bold;">These</span> <span style="font-weight: bold;">Users</span> option.</p>

     <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Users matching this criteria</span> - Select this option to select users matching a specific criteria as members of this group.<br />
To specify the criteria, perform the following:</p>

     <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click <span style="font-weight: bold; text-decoration: underline;">this criteria</span>.<br />
The <span style="font-weight: bold;">Select</span> <span style="font-weight: bold;">Users</span> subwindow opens.<br />
<br />
<img src="Images/Select_users_Tuebora_Groups_SetCriteria.png" alt="" style=" border:none; width:100%; max-width:730px;" border="0" /></p>
<br style="page-break-before: always;" />

     <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify how the criteria is applied, from the drop-down list available in <span style="font-weight: bold;">Include Users that match All/Any of the following criteria</span>:</p>

     <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&#160;<span style="font-weight: bold;">All</span> - Select this option to include the users who match all the defined criteria.</p>

     <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Any</span> - Select this option to include the users who match any of the defined criteria.</p>

     <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select <span style="font-weight: bold;">Custom</span> <span style="font-weight: bold;">Filter</span>. The fields to define the criteria appear.</p>

     <p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Define the criteria by specifying values from the drop-down and create the filter.</p>

     <p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To add rows, click <img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.</p>

     <p style=" margin-left: 120px; text-indent: -20px;">(vi)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span style="text-indent: -20px;">Click</span> <span style="text-indent: -20px; font-weight: bold;">Save</span> <span style="text-indent: -20px; font-weight: bold;">Changes</span><span style="text-indent: -20px;">.<br />
The subwindow closes and the selected criteria is shown under</span> <span style="text-indent: -20px; font-weight: bold;">Users matching</span> <span style="text-indent: -20px; font-weight: bold; text-decoration: underline;">this criteria</span> <span style="text-indent: -20px;">option.</span></p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Create</span> <span style="font-weight: bold;">Tuebora</span> <span style="font-weight: bold;">Group</span>. The group is added and you can view it from <span style="font-weight: bold;">System - Tuebora Groups</span> page.</p>

     <h3><a name="Viewing_Members_of_Tuebora_Group" id="Viewing_Members_of_Tuebora_Group"></a>Viewing Members of a Tuebora Group</h3>
     <p>You can view the users who are members of a Tuebora group using <span style="font-weight: bold;">View</span> <span style="font-weight: bold;">Members</span> option on the Tuebora Groups page.</p>
     <p>To view members of a Tuebora Group, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select <span style="font-weight: bold;">MENU &gt; User Management &gt; Tuebora Groups</span>.<br />
The <span style="font-weight: bold;">Tuebora Groups</span> page opens.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the check box corresponding to the Tuebora Group for which you want to view the members.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">View</span> <span style="font-weight: bold;">Members</span>.<br />
The <span style="font-weight: bold;">Members - &lt;Tuebora Group Name&gt;</span> page opens. It lists all the user who are members of the specified Tuebora Groups.<br />
<br />
<img src="Images/Tuebora_Groups_ViewMembers.png" alt="" style=" border:none; width:100%; max-width:1066px;" border="0" /></p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Close</span> to close the page after viewing members of a Tuebora Group.</p>

     <h3><a name="Editing_a_Tuebora_Group" id="Editing_a_Tuebora_Group"></a>Editing a Tuebora Group</h3>
     <p>You can edit the details of Tuebora Group and add or delete the members as required by using the <span style="font-weight: bold;">Edit</span> <span style="font-weight: bold;">Group</span> option on the Tuebora Groups page.</p>
     <p>To edit a Tuebora Group, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select <span style="font-weight: bold;">MENU &gt; User Management &gt; Tuebora Groups</span>.<br />
The <span style="font-weight: bold;">Tuebora Groups</span> page opens.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the check box corresponding to the Tuebora Group that you want to edit.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Edit Group</span>.<br />
The <span style="font-weight: bold;">Edit Tuebora Group - &lt;Tuebora Group Name&gt;</span> page opens.<br />
<br />
<img src="Images/Tuebora_Groups_EditGroup.png" alt="" style=" border:none; width:100%; max-width:437px;" border="0" /></p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Edit the values as required and click <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>.<br />
The update to the Tuebora Group is saved.</p>

     <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Deleting_a_Tuebora_Group" id="Deleting_a_Tuebora_Group"></a>Deleting a Tuebora Group</h3>
     <p>To maintain only the required Tuebora Groups in Tuebora Portal, you can delete the unwanted Tuebora Groups from the system. Use the <span style="font-weight: bold;">Delete</span> <span style="font-weight: bold;">Groups</span> option on the Tuebora Groups page to delete Tuebora Groups.</p>
     <p>To edit a Tuebora Group, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select <span style="font-weight: bold;">MENU &gt; User Management &gt; Tuebora Groups</span>.<br />
The <span style="font-weight: bold;">Tuebora Groups</span> page opens.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the check box corresponding to the Tuebora Group that you want to delete.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Delete Group</span>.<br />
The Delete Group subwindow opens asking for confirmation on deleting the Tuebora Group.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Delete</span> <span style="font-weight: bold;">Group</span>.<br />
The Tuebora Group is deleted from Tuebora Portal.</p>

    </div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
