
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora REST API - Get Users</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><style type="text/css">
<!--
body { background-color:#a5c6e0; }
-->
</style><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1.0_2";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../Tuebora_API.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../Tuebora_API.htm" class="homelink"><span>Tuebora REST API</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="2288">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../Tuebora_API.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


<br style="page-break-before: always;" />

     <h1 style="font-family: Verdana, sans-serif;">Get Users</h1>
     <p style="font-family: Verdana, sans-serif;"><span lang="EN-IN" xml:lang="EN-IN" 
													 style="font-size: 10.0pt; 
													 mso-fareast-font-family: 'Times New Roman'; 
													 mso-ansi-language: EN-IN; 
													 mso-fareast-language: EN-IN; 
													 mso-bidi-language: AR-SA;">Get 
 information about the filtered User.</span> </p>
     <table class="Table" cellspacing="0" width="100%">
	<col style="width: 23.424%;" />
	<col style="width: 38.288%;" />
	<col style="width: 38.288%;" />
	<tr class="t1st">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter" style="color: #000000; font-family: Verdana, sans-serif;">URL</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="font-family: Verdana, sans-serif;"><span style="font-weight: bold;">api/v1/tuebora/users?filter=name=&lt;User 
		 Name&gt;</span> &#160;</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">This 
		 request fetches 10 records per request. If you have more than 
		 10 records, you must specify more specific user filter.</p></td>
		
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter" style="font-family: Verdana, sans-serif;">HTTP 
		 Method</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="font-family: Verdana, sans-serif;">GET</p></td>
		
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter" style="font-family: Verdana, sans-serif;">Headers</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-weight: normal; 
												 font-family: Verdana, sans-serif;"><span 
			 style="font-weight: bold;">Content-Type</span>: application/json</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
			 style="font-weight: bold;">Authorization</span>: Basic Authorization. 
			 Use Tuebora API Authentication Credentials as Basic Authorization 
			 Credentials.</p></li>
		</ul></td>
		
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter" style="font-family: Verdana, sans-serif;">Data 
		 Type</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="font-family: Verdana, sans-serif;">String</p></td>
		
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter" style="font-family: Verdana, sans-serif;">Data 
		 Parameters</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <ul style="list-style: disc; 
				 font-family: Verdana, sans-serif;">
			<li style="font-family: Verdana, sans-serif; font-weight: bold;">
   <p 
				 class="list" style="margin-left: -0.25in; margin-top: 6px; 
				 font-family: Verdana, sans-serif;">filter</p></li>
			<li style="font-family: Verdana, sans-serif;">
   <p class="list" 
															 style="margin-left: -0.25in; 
															 margin-top: 6px; 
															 font-family: Verdana, sans-serif;"><span 
			 style="font-weight: bold;">startIndex</span> - It is an optional 
			 parameter. The default value is 0. If the startIndex is not 
			 defined, the API fetches the records from the first account.</p></li>
			<li style="font-family: Verdana, sans-serif;">
   <p class="list" 
															 style="margin-left: -0.25in; 
															 margin-top: 6px; 
															 font-family: Verdana, sans-serif;"><span 
			 style="font-weight: bold;">count</span> - It is an optional 
			 parameter. The default count of records that are fetched is 
			 10. The maximum max number of records returned in a call is 
			 500. If the count specified is greater than 500 API trims 
			 &#160;the count to 500.</p></li>
		</ul></td>
		
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter" style="font-family: Verdana, sans-serif;">Success 
		 Response Code and Response Data</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="color: #000000; font-family: Verdana, sans-serif;">200 
		 OK</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">All 
		 success responses fetches information about the filtered users.</p></td>
		
	</tr>
	<tr class="t1Row">
		<td rowspan="2" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter" style="font-family: Verdana, sans-serif;">Error 
		 Response</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Passing 
		 an invalid id returns an error</span> </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="tabletext" 
														 style="font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">{</span></p>
		<p class="tabletext" style="font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">&#160;&quot;errorCode&quot;:&quot;user_not_found_in_asset&quot;,</span></p>
		<p class="tabletext" style="font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN">&quot;errorDescription&quot;:&quot;No 
		 user present in given asset&quot;</span></p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="color: #000000; 
									 font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Passing 
		 an invalid asset name returns an error</span> </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="tabletext" style="margin: 0in; margin-bottom: .0001pt; 
			 font-family: Verdana, sans-serif;"><span lang="EN-IN" xml:lang="EN-IN">{</span></p>
		<p class="tabletext" style="margin: 0in; margin-bottom: .0001pt; 
			 font-family: Verdana, sans-serif;"><span lang="EN-IN" xml:lang="EN-IN">&#160;&quot;errorCode&quot;:&quot;asset_not_found&quot;,</span></p>
		<p class="tabletext" style="margin: 0in; margin-bottom: .0001pt; 
			 font-family: Verdana, sans-serif;"><span lang="EN-IN" xml:lang="EN-IN">&quot;errorDescription&quot;:&quot;No 
		 asset present with given name&quot;</span></p>
		<span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
				 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
				 mso-bidi-language: AR-SA; font-family: Verdana, sans-serif;">}</span><span 
		 style="font-family: Verdana, sans-serif;"> </span></td>
	</tr>
 </table>
 <p class="Request">Sample URLs</p>
 <table class="Table" cellspacing="0" width="100%">
	<col style="width: 28.043%;" />
	<col style="width: 71.957%;" />
	<tr class="t1st">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 " bgcolor="#A5C6E0">
  <p class="TableText" style="font-family: Verdana, sans-serif;"><b><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Scenario</span></b> 
		 </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; " bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="font-family: Verdana, sans-serif; 
			 font-weight: bold;">URL</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 ">
  <p class="TableText" style="font-family: Verdana, sans-serif; 
					 mso-fareast-font-family: 'Times New Roman';"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">URL with 
		 startIndex to fetch users from 11<sup>th</sup> record</span><span 
		 style="mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
		 mso-bidi-language: AR-SA;"> </span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; ">
  <p class="TableText" 
															 style="font-family: Verdana, sans-serif; 
															 mso-fareast-font-family: 'Times New Roman';"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="color: #222222; background: #ffffff; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">api/v1/tuebora/users?filter=name=</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Adam Gray&amp;startIndex=11</span><span 
		 style="mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
		 mso-bidi-language: AR-SA;"> </span></p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">URL 
		 with count to fetch 25 records</span> </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText" style="font-family: Verdana, sans-serif; 
			 font-size: 9pt;"><span style="font-family: Verdana, sans-serif; 
									 font-size: 9pt;">api/v1/tuebora/users?filter=name=Adam 
		 Gray&amp;count=25</span></p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; background-color: Transparent; 
			 border-bottom-width: 1px;">
  <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">URL 
		 with start Index and count</span></p></td>
		<td style="background-color: Transparent; border-bottom-width: 1px;">
  <p 
			 class="TableText" style="font-family: Verdana, sans-serif; 
			 mso-fareast-font-family: 'Times New Roman';"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #222222; background: #ffffff; mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">api/v1/tuebora/users?filter=name=</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">Adam Gray&amp;startIndex=21&amp;count=25</span><span 
		 style="mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
		 mso-bidi-language: AR-SA;"> </span></p></td>
	</tr>
 </table>
 <p class="Request" style="font-family: Verdana, sans-serif;"><img src="../Images/Image_left.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> 
 &#160;Request Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="font-family: Verdana, sans-serif;">curl 
		 -v -X PATCH \</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">-H 
		 &quot;Accept: application/json&quot; \</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">-H 
		 &quot;Content-Type: application/json&quot; \</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">-H 
		 &quot;Authorization: Basic ${basic_authentication_header}&quot; 
		 \</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;https://{yourTenantURL}/api/v1/tuebora/users?filter=name=PerfUser10 
		 Last10&quot;</p></td>
	</tr>
 </table>
 <p class="Request" style="font-family: Verdana, sans-serif;"><img src="../Images/Image_Right.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> 
 &#160;Response Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="font-family: Verdana, sans-serif;">{</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;schemas&quot;: 
		 [],</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;totalResults&quot;: 
		 1,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;Resources&quot;: 
		 [</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;country&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;emails&quot;: 
		 [</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;value&quot;: 
		 &quot;PerfUser10.Last10@xanadufinancials.com&quot;</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;],</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;city&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;isTerminated&quot;: 
		 false,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;profile&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 null</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;displayName&quot;: 
		 &quot;PerfUser10 Last10&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;name&quot;: 
		 &quot;PerfUser10 Last10&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;alternateEmailAddress&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;jobCode&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;title&quot;: 
		 &quot;Accountant&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;employeeNumber&quot;: 
		 &quot;EMPPerf10&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;terminationDate&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;company&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;phoneNumbers&quot;: 
		 [</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;value&quot;: 
		 null</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;],</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;loginUserID&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 &quot;2794&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;department&quot;: 
		 &quot;Sales&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;terminationReason&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;hireDate&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;entityType&quot;: 
		 &quot;User&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;externalId&quot;: 
		 &quot;2794&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;userName&quot;: 
		 &quot;EMPPerf10&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;externalCategory&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;tags&quot;: 
		 0,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;supervisor&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 41</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;userType&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;uniqueId&quot;: 
		 &quot;EMPSAMP10&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;startDate&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;businessUnit&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 null</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;status&quot;: 
		 &quot;Active&quot;</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;}</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;],</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;startIndex&quot;: 
		 0,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;itemsPerPage&quot;: 
		 10</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">}</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
