﻿/**
	Color scheme:
		
	Dark blue:						#406b7e
	Green:							#9ab3b0
	Light blue/green:				#98b3b1
	Dark blue/green:				#366a7e
	Special text:					#ffffff
	
	Fonts:
		Palatino, bold
		Verdana, regular
	
**/

* {
	outline-style: none;
}
body {
	font-size: 87.5%;
	background-color: #ffffff;
	background-image: url(background_grid.png);
	background-position: left top;
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
}

/************

	Framework CSS
	
************/
a {
	color: #406b7e;
	background-color: transparent;
}
a:hover {
	text-decoration: underline;
	background-color: transparent;
}
/* Hide localisation div */
div#localisation {
	display: none;
}
/* Disable webkit additions to search field */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="search"]::-ms-clear{display: none;}
/**
	Main Framework
	
	
**/

div.header {
	width: 90%;
	margin: 0 5%;
	height: 116px;
	background-color: transparent;
	background-image: url(banner_repeater.png);
	background-repeat: repeat-x;
	background-position: left top;
	text-align: center;
	min-width: 53.21em;
	-moz-box-shadow: .357em 1.1428em #a3a3a3;
	-webkit-box-shadow:0 .357em 1.1428em #a3a3a3;
	box-shadow:0 .357em 1.1428em #a3a3a3;
}
div.agora {
	width: 100%;
	height: 116px;
	margin: 0;
	background-color: transparent;
	/*
	background-image: url(banner.png);
	background-repeat: no-repeat;
	background-position: center top;
	*/
}
div.agora img {
	width: auto !important;	
	height: auto;
	max-height: 116px !important;
}
div.agora p {
	display: none;/* Hide empty paragraphs inserted by RoboHelp editor */
}
div.projecttitle {
	font-family: Palatino, sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	height: 25px;
	line-height: 24px;
	font-size: 1.1428em;
	position: relative;
	top: -27px;
	overflow: auto;
}
div.mobile_back {
	font-family: Palatino, sans-serif;
}
div.phone_brs_holder {
	display: none;
}
div.contentholder {
	background-color: #ffffff;
	height: auto;
	overflow: visible;
	padding-bottom: 1em;
	-moz-box-shadow: .357em .357em #a3a3a3;
	-webkit-box-shadow:0 .357em 1.1428em #a3a3a3;
	box-shadow:0 .357em 1.1428em #a3a3a3;
}
div.contenttop {
	height: 2.4em;
	overflow: visible;
}
div.logo {
	height: 4.5em;
	width: 4.5em;
	text-align: center;
	overflow: hidden;
	background: #ffffff;
	border-width: .25em;
	border-style: double;
	border-color: #9ab3b0;
	padding: .357em;
	position: relative;
	top: 50%;
	left: 10%;
	line-height: 4.5em;
}
div.logo a {
	border: none;
	display: inline;
	width: auto !important;
	max-width: 100% !important;
	max-height: 100% !important;
}
div.logo img {
	border: none;
	width: auto !important;
	max-width: 100% !important;
	max-height: 100% !important;
}
div.contentbanner {
	width: 100%;
	height: 3.3em;
	background-color: #9ab3b0;
	overflow: visible;
}
table.contentbannertable a {
	background-color: transparent !important;/* Do not let topic style overwrite transparency in the content bar. */
}
table.contentbannertable {
	width: 100%;
	height: 3.3em;
	overflow: visible;
}
table.contentbannertable img { 
	width: auto !important;
	max-height: 3.3em !important;
}
table.contentbannertable td.logo {
	width: 30%;
	vertical-align: middle;
	height: 3.3em;
	text-align: right;
	overflow: visible;
}
table.contentbannertable td.search {
	width: 30%;
	vertical-align: middle;
	height: 3.3em;
	text-align: right;
}
table.contentbannertable td.options {
	vertical-align: middle;
	height: 3.3em;
	text-align: left;
}
table.contentbannertable td.home {
	width: 1.1428em;
	padding-right: 1.1428em;
	vertical-align: middle;
}
table.contentbannertable td.home img {
	border: none;
}
div.content {
	clear: none;
	width: 100%;
	height: auto;
}
/* Style checkboxes to on/off switches */
.hidden {
	display: none;
}
div.switch {
	min-height: 50px;
	line-height: 50px;
}
label.switch-toggle {
	background-image: url('switch.png');
	background-repeat: repeat-y;
	height: 21px;
	width: 52px;
	line-height: 21px;
	padding: 0 12px;
	font-size: 15px;
	display: block !important;
	font-weight: bold;
	cursor: pointer;
	display: none;
	float: left;
	font-family: "Arial Black", Arial, sans-serif;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
div.switch {
	min-height: 1.2em;
	line-height: 1.2em;
}
label.switch-toggle.on {
	text-align: left;
	background-position: 0px 21px;
	color: #ffffff;
}
label.switch-toggle.off {
	text-align: right;
	background-position: 0px 0px;
	color: #a99f95;
	padding: 0 24px 0 0;
}
label.switch-toggle.hidden {
	display: none;
}
/****
	
	Topic contents
	
****/
div.contenttoc {
	max-width: 28%;
	width: 28%;
	margin: 0 2% 0 2%;
	float: left;
	overflow: auto;
	display: none;
	height: auto;
	padding: 0;
}
div.contenttoc > *:first-child {
	margin-top: 20pt !important;
}
div.contenttopic {
	margin: 20pt 2% 0;
	padding: 0 2%;
	min-height: 25em;
	float: none;/* No float on this element to make it size automatically when the contenttoc is hidden/shown */	
}
/* Page title of special pages */
div.specialpagetitle {
	font-family: Palatino, sans-serif;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: #98b3b1;
	margin: 0;
	padding: .5em 0;
}
/**
	Mobile button navigation
**/
div.buttonbar {
	background-color: #366a7e;
	clear: both;
}
div.buttonbarholder {
	width: 80%;
	height: 5em;
	margin: 0 6% 0 14%;
}
div.buttonbarholder > div {
	width: 22%;
	height: 5em;
	margin: 0;/* Different media queries do specify different margins! */
	padding: 0;
	float: left;
	cursor: pointer;
	border-width: .1em;
	border-style: solid;
	border-left-color: #366a7e;
	border-top-color: #366a7e;
	border-bottom-color: #366a7e;
	border-right-color: #ffffff;
}
div.buttonbarholder > div:first-child {
	border-left-color: #ffffff;
}
div.buttonbar div img {
	max-width: 100%;
}
div.buttonbar div p {
	display: none;/* Hide RH inserted empty paragraphs. */
}
div.buttonbar a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
div.bar_toc {
	background-color: transparent;
	background-image: url(toc.png);
	background-repeat: no-repeat;
	background-position: center center;
	
}
div.bar_toc:hover,
div.bar_toc:active,
div.bar_toc_active {
	border-left-color: #366a7e !important;/* Override first child setting */
	background-color: #ffffff;
	background-image: url(toc_hover.png);
	background-repeat: no-repeat;
	background-position: center center;
}
div.bar_index {
	background-color: transparent;
	background-image: url(index.png);
	background-repeat: no-repeat;
	background-position: center center;
}
div.bar_index:hover,
div.bar_index:active,
div.bar_index_active {
	background-color: #ffffff;
	background-image: url(index_hover.png);
	background-repeat: no-repeat;
	background-position: center center;
}
div.bar_glossary {
	background-color: transparent;
	background-image: url(glo.png);
	background-repeat: no-repeat;
	background-position: center center;
}
div.bar_glossary:hover,
div.bar_glossary:active,
div.bar_glossary_active {
	background-color: #ffffff;
	background-image: url(glo_hover.png);
	background-repeat: no-repeat;
	background-position: center center;
}
div.bar_search {
	background-color: transparent;
	background-image: url(search_buttonbar.png);
	background-repeat: no-repeat;
	background-position: center center;
}
div.bar_search:hover,
div.bar_search:active,
div.bar_search_active {
	background-color: #ffffff;
	background-image: url(search_hover_buttonbar.png);
	background-repeat: no-repeat;
	background-position: center center;
}
div.mobile_back {
	background-color: #98b3b1;
	height: 3.3em;
	margin: 0 0 .5em 0;
	padding: 0;
	
}
div.bar_topic {
	float: left;
	height: 3.3em;
	width: 3.3em;
	background-color: transparent;
	background-image: url(topic_buttonbar_small.png);
	background-repeat: no-repeat;
	background-position: center center;
}
div.bar_topic:hover,
div.bar_topic:active {
	background-color: transparent;
	background-image: url(topic_hover_buttonbar_small.png);
	background-repeat: no-repeat;
	background-position: center center;
}
div.bar_topic_text {
	height: 3.3em;
	line-height: 3.3em;
	padding-left: .5em;
}
div.bar_topic a,
div.bar_topic_text a{
	display: block;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	height: 100%;
}
div.bar_topic_text a:hover,
div.bar_topic_text a:active {
	text-decoration: underline;
}
div.bar_topic_text {
	float: left;
}
/**
	Phone Framework
**/
@media screen and (max-width: 43.68em) { /* max-width: 699px */
	div.header {
		display: none;
	}
	div.logo {
		display: none;
	}
	div.contentbanner {
		display: none;
	}
	div.contentholder {
		margin: 0;
		padding: 0 0 1em 0;
		margin-bottom: 3.1em;
		overflow: auto;
	}
	div.phone_brs_holder {
		display: block;
		width: 100%;
		height: auto;
		border: none;
		border-collapse: collapse;
		background-color: #98b3b1;
	}
	table.phone_brs {
		width: 100%;
	}
	table.phone_brs td.brs_button {
		width: 40px;
		min-height: 40px;
		vertical-align: middle;
		text-align: center;
	}
	table.phone_brs td.right a {
		display: block;
		width: 40px;
		min-height: 40px;
		background-color: transparent;
		background-image: url(BSNextButton_large.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	table.phone_brs td.right a:hover,
	table.phone_brs td.right a:active {
		background-image: url(BSNextButton_large_hover.png);
	}
	table.phone_brs td.left a {
		display: block;
		width: 40px;
		min-height: 40px;
		background-color: transparent;
		background-image: url(BSPrevButton_large.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	table.phone_brs td.left a:hover,
	table.phone_brs td.left a:active {
		background-image: url(BSPrevButton_large_hover.png);
	}
	table.phone_brs td.brs_button img {
		display: none;
	}
	table.phone_brs td.title {
		text-align: center;
		vertical-align: middle;
		font-size: 1.5em;
		color: #ffffff;
		padding: .25em 0;
	}
	div.specialpagetitle {
		font-size: 1.5em;
	}
	div.contenttop {
		display: none;
	}
	div.contenttopic {
		width: 98%;
		margin: 0 1%;
		padding: 0;
		min-height: 2em;
	}
	/* Phone buttonbar */
	div.buttonbar {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 3.1em;
	}
	div.buttonbar > div {
		width: 100%;
		height: 3em;
		margin: 0 auto;
	}
	div.buttonbarholder > div {
		border: none !important;
	}
	div.buttonbar > div > div {
		width: 25%;
		margin: 0;
		padding: 0;
		height: 3em;
		float: left;
		border-bottom: none;
	}
	div.bar_toc {
		background-image: url(toc_buttonbar_small.png);
	}
	div.bar_toc:hover,
	div.bar_toc:active,
	div.bar_toc_active {
		background-image: url(toc_hover_buttonbar_small.png);
	}
	div.bar_index {
		background-image: url(index_buttonbar_small.png);
	}
	div.bar_index:hover,
	div.bar_index:active,
	div.bar_index_active {
		background-image: url(index_hover_buttonbar_small.png);
	}
	div.bar_glossary {
		background-image: url(glo_buttonbar_small.png);
	}
	div.bar_glossary:hover,
	div.bar_glossary:active,
	div.bar_glossary_active {
		background-image: url(glo_hover_buttonbar_small.png);
	}
	div.bar_search {
		background-image: url(search_buttonbar_small.png);
	}
	div.bar_search:hover,
	div.bar_search:active,
	div.bar_search_active {
		background-image: url(search_hover_buttonbar_small.png);
	}
}
/**
	Tablet portrait Framework
**/
@media screen and (min-width: 43.69em) and (max-width: 59.49em) {/* min-width: 700px & max-width: 950px */
	div.phone_scrollarea {
		margin-bottom: 6em;
	}
	div.header {
		width: 95%;
		margin: 0 auto;
	}
	div.contentholder {
		width: 95%;
		margin: 0 auto 1em auto;
	}
	div.contentbanner table {
		
	}
	div.contentbanner table td.options {
		text-align: right;
	}
	div.contentbanner td.options a.wPrintButton,
	div.contentbanner td.options a.wShow,
	div.contentbanner td.options a.wHide{
		display: none !important;
	}
	div.contentbanner table td.options a.wBSBackButton {
		display: inline-block;
		width: 40px;
		height: 40px;
		background-color: transparent;
		background-image: url(BSPrevButton_large.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	div.contentbanner table td.options a.wBSBackButton:hover,
	div.contentbanner table td.options a.wBSBackButton:active {
		background-image: url(BSPrevButton_large_hover.png);
	}
	div.contentbanner table td.options a.wBSBackButton img {
		display: none;
	}
	div.contentbanner table td.options a.wBSNextButton {
		display: inline-block;
		width: 40px;
		height: 40px;
		background-color: transparent;
		background-image: url(BSNextButton_large.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	div.contentbanner table td.options a.wBSNextButton:hover,
	div.contentbanner table td.options a.wBSNextButton:active {
		/*background-image: url(BSNextButton_large_hover.png);*/
	}
	div.contentbanner table td.options a.wBSNextButton img {
		display: none;
	}
	div.contentbanner table td.search,
	div.contentbanner table td.home {
		display: none;
	}
	div.buttonbar {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 5em;
		overflow: hidden;
	}
	div.mobile_back {
		height: 3em;
		margin-right: .5em;
		float: right;
	}
}
/**
	Tablet landscape Framework
**/
@media screen and (min-width: 59.5em) and (max-width: 80.99em) {/* min-width: 951px & max-width: 1295px */
	div.header {
		position: fixed;
		top: 0;
		left: 2em;
		right: 2em;
		width: auto;/* Fix width for fixed position */
		margin: 0;
		padding: 0;
		background-color: white;
		z-index: 20;
	}
	div.contentholder {
		margin-top: 130px;
		margin-left: 2em;
		margin-right: 7em;
		overflow: auto;
		padding-right: 1em;
		margin-bottom: 1em;
	}
	div.buttonbar {
		position: fixed;
		top: 130px;
		right: 2em;
		bottom: 1em;
		width: 5em;
		overflow: hidden;
		margin: 0;
		padding: 0;
		-moz-box-shadow: .357em .357em #a3a3a3;
		-webkit-box-shadow:0 .357em 1.1428em #a3a3a3;
		box-shadow:0 .357em 1.1428em #a3a3a3;
	}
	div.buttonbar > div {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
	div.buttonbar > div > div {
		border-left: none !important;
		border-right: none !important;
		float: none;
		width: 5em;
		height: 22%;
		min-height: 60px;
		margin: 0;
		padding: 0;
		border-bottom-color: #ffffff;
		border-top: none;
	}
	div.contentbanner table {
		
	}
	div.contentbanner table td.options {
		text-align: right;
	}
	div.contentbanner td.options a.wPrintButton,
	div.contentbanner td.options a.wShow,
	div.contentbanner td.options a.wHide{
		display: none !important;
	}
	div.contentbanner table td.options a.wBSBackButton {
		display: inline-block;
		width: 40px;
		height: 40px;
		background-color: transparent;
		background-image: url(BSPrevButton_large.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	div.contentbanner table td.options a.wBSBackButton:hover,
	div.contentbanner table td.options a.wBSBackButton:active {
		/*background-image: url(BSPrevButton_large_hover.png);*/
	}
	div.contentbanner table td.options a.wBSBackButton img {
		display: none;
	}
	div.contentbanner table td.options a.wBSNextButton {
		display: inline-block;
		width: 40px;
		height: 40px;
		background-color: transparent;
		background-image: url(BSNextButton_large.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	div.contentbanner table td.options a.wBSNextButton:hover,
	div.contentbanner table td.options a.wBSNextButton:active {
		background-image: url(BSNextButton_large_hover.png);
	}
	div.contentbanner table td.options a.wBSNextButton img {
		display: none;
	}
	div.contentbanner table td.search,
	div.contentbanner table td.home {
		display: none;
	}
	div.mobile_back {
		height: 3em;
		margin-right: .5em;
		float: right;
	}
}
/**
	Desktop Framework
**/
@media screen and (min-width: 81em) {/* min-width: 1295px */
	div.contentholder {
		min-width: 53.21em;
		width: 90%;
		margin-top: .75em;
		margin-left: 5%;
	}
	div.content {
		width: auto;
	}
	div.mobile_back {
		display: none;
	}
	div.specialpagetitle {
		display: none;
	}
	div.contentbanner {
		display: block;
	}
	div.contenttoc {
		display: block;
	}
	div.contenttopic {
		display: table;
		width: auto;
	}
	div.clearer {
		margin: 0;
		padding: 0;
		height: 0px;
		clear: both;
	}
	div.buttonbar {
		display: none;
	}
}

/**
	Framework print
**/
@media print {
	div.header {
		display: none;
	}
	div.poweredby {
		display: none;
	}
	div.contenttop {
		display: none;
	}
	div.contentbanner {
		display: none;
	}
	div.contentholder {
		width: 100%;
		padding: 0;
		margin: 0;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	div.content {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	div.contenttopic {
		float: none;
		width: 90% !important;
		margin: 0 5% !important;
		padding: 0;
		border: none !important;
	}
	div.wTopic {
		margin: 0;
		width: 100%;
		padding: 0;
	}
}

/*************
	
	CSS for widgets

************/

/****** Topic ******/
div.wTopic {
	/* No position attributes allowed */
	padding: 0;
	margin: 0;
}

/****** Glossary ******/

div.wGlossary {/* Main holder div */
	/* No position attributes allowed */
	
}
input.wGloFilter {/* Filter box */
	font-size: 1.4em;
	-webkit-border-radius: 1.071em;
	-moz-border-radius: 1.071em;
	border-radius: 1.071em;
	border-width: .1em;
	border-style: solid;
	border-color: #9ab3b0;
	padding: .2em .72em;
	width: 80%;
	height: auto;
	line-height: 1em;
	margin: 1em 0 1em 10%;
}
div.wGloTerm {/* Glossary term */
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #9ab3b0;
	padding: 1em 0;
	cursor: pointer;
	color: #000000;
}
div.wGloTermHover {/* Glossary term hover */
	cursor: pointer;
	text-decoration: underline;
	color: #000000;
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #9ab3b0;
	padding: 1em 0;
}
div.wGloTermSelected {/* Glossary term selected */
	cursor: pointer;
	text-decoration: underline;
	color: #000000;
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #9ab3b0;
	padding: 1em 0;
}
span.wGloTermText {/* Glossary term text */
	
}
div.wGloDefinition {/* Glossary definition */
	margin: 0 2em 1em;
	color: #000000;
}
div.wGloDefinitionHover {/* Glossary defintion holder */
	margin: 0 2em 1em;
	cursor: pointer;
	color: #000000;
}
span.wGloDefinitionText {/* Definition text */
	
}
div.wGloAlphabet {/* Category (letter or sign) */
	margin: 1em 0;
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
	color: #000000;
	padding: 1em 0;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #9ab3b0;
}
span.wGloAlphabetText {/* Alphabet text */
	
}
@media screen and (max-width: 43.68em) {
	input.wGloFilter {/* Filter box */
		font-size: 1.2em;
		margin-top: 0;
	}
	div.wGloAlphabet {/* Category (letter or sign) */
		display: none;
	}
	div.wGloTerm {/* Glossary term */
		font-size: 1.1em;
		padding: .25em 0;
	}
	div.wGloTermHover {/* Glossary term hover */
		font-size: 1.1em;
		padding: .25em 0;
	}
	div.wGloTermSelected {/* Glossary term selected */
		font-size: 1.1em;
		padding: .25em 0;
	}
	div.wGloDefinition {/* Glossary definition */
		margin: 0 .5em 0;
	}
	div.wGloDefinitionHover {/* Glossary defintion holder */
		margin: 0 .5em 0;
	}
}
@media screen and (min-width: 81em) {
	div.wGlossary {/* Main holder div */
		/* No position attributes allowed */
		
	}
	input.wGloFilter {/* Filter box */
		float: right;
		padding: .2em .72em;
		max-width: 80%;
		width: 80%;
		margin-right: 10%;
		font-size: 1em;
	}
	div.wGloTerm {/* Glossary term */
		text-align: left;
		font-weight: normal;
		font-size: 1em;
		color: #000000;
		border: none;
		margin: .5em 0;
		padding: 0;
	}
	div.wGloTermHover {/* Glossary term hover */
		text-align: left;
		font-weight: normal;
		font-size: 1em;
		color: #000000;
		border: none;
		margin: .5em 0;
		padding: 0;
	}
	div.wGloTermSelected {/* Glossary term selected */
		text-align: left;
		font-weight: normal;
		font-size: 1em;
		color: #000000;
		border: none;
		margin: .5em 0;
		padding: 0;
	}
	span.wGloTermText {
		
	}
	div.wGloDefinition {/* Glossary definition */
		font-size: 1em;
		color: #000000;
	}
	div.wGloDefinitionHover {/* Glossary defintion holder */
		font-size: 1em;
	}
	div.wGloAlphabet {/* Category (letter or sign) */
		font-size: 1.2em;
		text-align: left;
		border-top: none;
		border-bottom-width: .1em;
		border-bottom-style: dashed;
		border-bottom-color: #9ab3b0;
		margin: 1em 0 0;
		color: #000000;
		padding: .2em 0;
	}
}

/****** Index ******/
div.wIndex {/* Main index holder */
	/* No position attributes allowed */
	
}
input.wIdxFilter {/* Index filter input */
	font-size: 1.4em;
	-webkit-border-radius: 1.071em;
	-moz-border-radius: 1.071em;
	border-radius: 1.071em;
	border-width: .1em;
	border-style: solid;
	border-color: #9ab3b0;
	padding: .2em .72em;
	width: 80%;
	height: auto;
	line-height: 1em;
	margin: 1em 0 1em 10%;
}
div.wIdxKeyword {/* Index keyword */
	font-weight: bold;
	text-align: left;
	font-size: 1.2em;
	border-top-width: .15em;
	border-top-style: solid;
	border-top-color: #9ab3b0;
	padding: 1em 1em 1em 50px;
	min-height: 33px;
	line-height: 33px;
	background-color: transparent;
	background-image: url(TOCNodeOpenBook.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
div.wIdxKeywordHover {/* Index keyword hover */
	font-weight: bold;
	text-align: left;
	font-size: 1.2em;
	text-decoration: underline;
	border-top-width: .15em;
	border-top-style: solid;
	border-top-color: #9ab3b0;
	padding: 1em 1em 1em 50px;
	min-height: 33px;
	line-height: 33px;
	background-color: transparent;
	background-image: url(TOCNodeOpenBook.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
span.wIdxKeywordText {/* Index keyword text */
	color: #406b7e;
}
div.wIdxChildBlock {/* Index child block */
	cursor: pointer;
	width: 95%;
	margin: 0 0 0 5%;
}
div.wIdxLink {
	text-align: left;
	font-size: 1.2em;
	border-top-width: .15em;
	border-top-style: solid;
	border-top-color: #9ab3b0;
	padding: 1em 1em 1em 50px;
	min-height: 33px;
	line-height: 33px;
	background-color: transparent;
	background-image: url(TOCNodePage.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
div.wIdxLinkHover {
	text-align: left;
	font-size: 1.2em;
	border-top-width: .15em;
	border-top-style: solid;
	border-top-color: #9ab3b0;
	padding: 1em 1em 1em 50px;
	min-height: 33px;
	line-height: 33px;
	background-color: transparent;
	background-image: url(TOCNodePage.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
span.wIdxLinkText {/* Index link entry */
	color: #406b7e;
}
span.wIdxLinkText:hover {
	text-decoration: underline;
}
div.wIdxAlphabet {/* Category (letter or sign) */
	margin: 1em 0;
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
	color: #000000;
	padding: 1em 0;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #9ab3b0;
}
span.wIdxAlphabetText {/* Alphabet text */
	
}
@media screen and (max-width: 43.68em) {
	input.wIdxFilter {/* Filter box */
		margin-top: 0;
	}
	div.wIdxAlphabet {/* Category (letter or sign) */
		display: none;
	}
	div.wIdxKeyword {
		font-size: 1.1em;
		padding: .25em 0 0 30px;
		background-position: 2px center;
	}
	div.wIdxKeywordHover {
		font-size: 1.1em;
		padding: .25em 0 0 30px;
		background-position: 2px center;
	}
	div.wIdxKeywordSelected {
		font-size: 1.1em;
		padding: .25em 0 0 30px;
		background-position: 2px center;
	}
	div.wIdxLink {
		font-size: 1.1em;
		padding: .25em 0 0 30px;
		background-position: 2px center;
	}
	div.wIdxLinkHover {
		font-size: 1.1em;
		padding: .25em 0 0 30px;
		background-position: 2px center;
	}
}
@media screen and (min-width: 81em) {
	input.wIdxFilter {/* Filter box */
		float: right;
		padding: .2em .72em;
		max-width: 80%;
		width: 80%;
		margin-right: 10%;
		font-size: 1em;
	}
	div.wIdxKeyword {
		text-align: left;
		font-weight: normal;
		font-size: 1em;
		border: none;
		margin: .25em 0;
		padding: 0;
		background-image: none;
		line-height: 1.1em;
		min-height: 1.1em;
	}
	div.wIdxKeywordHover {
		text-align: left;
		font-weight: normal;
		font-size: 1em;
		border: none;
		margin: .25em 0;
		padding: 0;
		background-image: none;
		line-height: 1.1em;
		min-height: 1.1em;
	}
	div.wIdxKeywordSelected {
		text-align: left;
		font-weight: normal;
		font-size: 1em;
		border: none;
		margin: .25em 0;
		padding: 0;
		background-image: none;
		line-height: 1.1em;
		min-height: 1.1em;
	}
	span.wIdxKeywordText {/* Index keyword text */
		color: #000000;
	}
	div.wIdxLink {
		text-align: left;
		font-weight: normal;
		font-size: 1em;
		border: none;
		margin: .25em 0;
		padding: 0;
		background-image: none;
		line-height: 1.1em;
		min-height: 1.1em;
	}
	div.wIdxLinkHover {
		text-align: left;
		font-weight: normal;
		font-size: 1em;
		border: none;
		margin: .25em 0;
		padding: 0;
		background-image: none;
		line-height: 1.1em;
		min-height: 1.1em;
	}
	span.wIdxLinkText {/* Index link entry */
		color: #406b7e;
	}
	div.wIdxAlphabet {/* Category (letter or sign) */
		color: #000000;
		font-size: 1.2em;
		text-align: left;
		border-top: none;
		border-bottom-width: .1em;
		border-bottom-style: dashed;
		border-bottom-color: #9ab3b0;
		margin: 1em 0 0;
		padding: .2em 0;
	}
}
/****** TOC Tree ******/
div.wTOCTreePage {/* Main tree holder */
	/* No position attributes allowed */
}
div.wTOCTreeCloseBook {/* Closed book */
	cursor: pointer;
	color: #000000;
	min-height: 1.1428em;
	margin-top: .42em;
	padding: 0 0 0 2em;
	text-indent: -2em;
}
div.wTOCTreeCloseBookHover {/* Closed book hover */
	text-decoration: underline;
	cursor: pointer;
	color: #9ab3b0;
	min-height: 1.1428em;
	margin-top: .42em;
	padding: 0 0 0 2em;
	text-indent: -2em;
}
div.wTOCTreeCloseBookSelected {/* Closed book selected */
	cursor: pointer;
	color: #406b7e;
	min-height: 1.1428em;
	margin-top: .42em;
	padding: 0 0 0 2em;
	text-indent: -2em;
}
span.wTOCTreeCloseBookText {/* Closed book text */
	margin-left: .5em;
}
img.wTOCTreeCloseBookIcon {/* Closed book icon */
	border: none;
	vertical-align: middle;
	width: auto;
	height: auto;
	max-width: 20px;
	max-height: 20px;
}
div.wTOCTreeOpenBook {/* Open book */
	cursor: pointer;
	color:  #000000;
	min-height: 1.1428em;
	margin-top: .42em;
	padding: 0 0 0 2em;
	text-indent: -2em;
}
div.wTOCTreeOpenBookHover {/* Open book hover */
	text-decoration: underline;
	cursor: pointer;
	color: #9ab3b0;
	min-height: 1.1428em;
	margin-top: .42em;
	padding: 0 0 0 2em;
	text-indent: -2em;
}
div.wTOCTreeOpenBookSelected {/* Open book selected */
	cursor: pointer;
	color: #406b7e;
	min-height: 1.1428em;
	margin-top: .42em;
	padding: 0 0 0 2em;
	text-indent: -2em;
}
div.wTOCTreeOpenBookChildBlock {/* Open book child block */
	margin-left: 15pt;
	cursor: pointer;
}
span.wTOCTreeOpenBookText {/* Open book text */
	margin-left: .5em;
}
img.wTOCTreeOpenBookIcon {/* Open book image */
	border: none;
	vertical-align: middle;
}
div.wTOCTreePage {/* TOC page */
	cursor: pointer;
	color:  #000000;
	min-height: 1.1428em;
	margin-top: .42em;
	padding: 0 0 0 2em;
	text-indent: -2em;
}
div.wTOCTreePageHover {/* TOC page hover */
	text-decoration: underline;
	cursor: pointer;
	color: #9ab3b0;
	min-height: 1.1428em;
	margin-top: .42em;
	padding: 0 0 0 2em;
	text-indent: -2em;
}
div.wTOCTreePageSelected {/* TOC page selected */
	cursor: pointer;
	color: #406b7e;
	min-height: 1.1428em;
	margin-top: .42em;
	padding: 0 0 0 2em;
	text-indent: -2em;
}
span.wTOCTreePageText {/* TOC page text */
	margin-left: .5em;
}
img.wTOCTreePageIcon {/* TOC page icon */
	border: none;
	vertical-align: middle;
}
div.wTOCTreeLink {/* TOC URL */
	cursor: pointer;
	color:  #000000;
	min-height: 1.1428em;
	margin-top: .42em;
	padding: 0 0 0 2em;
	text-indent: -2em;
}
div.wTOCTreeLinkHover {/* TOC URL hover */
	text-decoration: underline;
	cursor: pointer;
	color: #9ab3b0;
	min-height: 1.1428em;
	margin-top: .42em;
	padding: 0 0 0 2em;
	text-indent: -2em;
}
div.wTOCTreeLinkSelected {/* TOC URL selected */
	cursor: pointer;
	color: #406b7e;
	min-height: 1.1428em;
	margin-top: .42em;
	padding: 0 0 0 2em;
	text-indent: -2em;
}
span.wTOCTreeLinkText {/* TOC URL text */
	margin-left: .5em;
}
img.wTOCTreeLinkIcon {/* TOC URL image */
	border: none;
	vertical-align: middle;
}

/****** TOC expanding node ******/
div.wTOCNode {/* Main TOC holder */
	/* No position attributes allowed */
	width: 100%;
	border: none;
	background-color: transparent;
	text-align: center;
}
div.wTOCNodeCloseBook {/* Closed book */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #406b7e;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	color: #406b7e
}
div.wTOCNodeCloseBookHover {/* Closed book hover */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #406b7e;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	color: #ffffff;
	background-color: #406b7e;
}
div.wTOCNodeCloseBookSelected {/* Closed book selected */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #406b7e;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	color: #ffffff;
	background-color: #406b7e;
}
span.wTOCNodeCloseBookText {/* Closed book text */
	text-decoration: none;
}
img.wTOCNodeCloseBookIcon {/* Closed book icon */
	border: none;
	float: right;
}
div.wTOCNodeOpenBook {/* Open book */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #406b7e;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	color: #406b7e
}
div.wTOCNodeOpenBookHover {/* Open book hover */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #406b7e;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	color: #ffffff;
	background-color: #406b7e;
}
div.wTOCNodeOpenBookSelected {/* Open book selected */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #406b7e;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	color: #ffffff;
	background-color: #406b7e;
}
span.wTOCNodeOpenBookText {/* Open book text */
	text-decoration: none;
}
img.wTOCNodeOpenBookIcon { /* Open book icon */
	border: none;
	float: right;
}
div.wTOCNodePage {/* TOC page */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #406b7e;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	color: #406b7e
}
div.wTOCNodePageHover {/* TOC page hover */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #406b7e;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	color: #ffffff;
	background-color: #406b7e;
}
div.wTOCNodePageSelected {/* TOC page selected */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #406b7e;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	color: #ffffff;
	background-color: #406b7e;
}
span.wTOCNodePageText {/* TOC page text */
	color: inherit;
	text-decoration: none;
}
img.wTOCNodePageIcon {/* TOC page image */
	border: none;
	float: right;
}
div.wTOCNodeLink {/* TOC URL */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #406b7e;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	color: #406b7e
}
div.wTOCNodeLinkHover {/* TOC URL hover */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #406b7e;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	color: #ffffff;
	background-color: #406b7e;
}
div.wTOCNodeLinkSelected {/* TOC URL selected */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	border-top-width: .1em;
	border-top-style: solid;
	border-top-color: #406b7e;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	color: #ffffff;
	background-color: #406b7e;
}
span.wTOCNodeLinkText {/* TOC URL text */
	text-decoration: none;
}
img.wTOCNodeLinkIcon {/* TOC URL image */
	border: none;
	float: right;
}
div.wTOCNodeUp {/* TOC up */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	border: none;
	text-align: left;
}
div.wTOCNodeUpHover {/* TOC up hover */
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	min-height: 1.8em;
    line-height: 1.8em;
	padding: 1em 0;
	width: 100%;
	border: none;
	text-align: left;
}
span.wTOCNodeUpText {/* TOC up text */
	text-decoration: none;
	position: relative;
	top: -.2em;
	color: #406b7e;
}
img.wTOCNodeUpIcon {/* TOC up image */
	border: none;
	float: left;
	margin-right: 1em;
}


/****** Print link ******/
a.wPrintLink {
	background-color: transparent;
}

/****** Print button ******/
a.wPrintButton {
	margin-right: 1em;
	background-color: transparent;
}
img.wPrintButton {
	border: none;
}

/****** Browse sequence links ******/
a.wBSBackLink {
	margin-right: 1em;
	background-color: transparent;
}
a.wBSNextLink {
	margin-right: 1em;
	background-color: transparent;
}

/****** Browse sequence buttons ******/
a.wBSBackButton {
	margin-right: 1em;
	background-color: transparent;
}
img.wBSBackButton {
	border: none;
}
a.wBSNextButton {
	margin-right: 1em;
	background-color: transparent;
}
img.wBSNextButton {
	border: none;
}

/****** Search results area ******/
div.wSearchResults {
	/* No position attributes allowed */
	margin-top: 2em;
	width: 100%;
	font-size: 1.1em;
}
div.wSearchResultSettings {
	height: auto;
	overflow: visible;
	overflow: hidden;
	width: 90%;
	margin-left: 5%;
	
}
div.wSearchHighlight {
	margin: .5em 0;
}
input.wSearchHighlight {
	
}
span.wSearchHighlight {
	margin-left: .5em;
}
div.wSearchCount {
	margin: 1em 0 .5em .25em;
}
select.wSearchCount {
	margin-left: -.2em;
}
span.wSearchCount {
	
	margin-right: .5em;
}
div.wSearchMessage {
	margin-top: 15pt;
	width: 95%;
	border-bottom-width: .1em;
	border-bottom-style: solid;
	border-bottom-color: #406b7e;
	padding-bottom: 2pt;
	padding-left: 5%;
}
span.wSearchMessage {
	
}
div.wSearchResultItemsBlock {
	margin-top: .5em;
	width: 100%;
	font-size: 1.1em;
}
div.wSearchResultItem {
	margin-top: .75em;
	width: 90%;
	margin-left: 5%;
}
div.wSearchResultTitle {
	cursor: pointer;
	text-decoration: underline;
	color: #406b7e;
}
div.wSearchResultTitleHover {
	cursor: pointer;
	text-decoration: underline;
	color: #406b7e;
}
span.wSearchURL {
	color: #555555;
	word-break:break-all;
}
span.wSearchContext {
	color: #000000;
}
div.wSearchNavigation {
	font-size: 3em;
	overflow: hidden;
	margin-bottom: .5em;
}
div.wSearchBack {
	float:left;
    margin-left: 1em;
}
a.wSearchBack {
	text-decoration: none;
	margin-right:.5em;
	padding-right: .5em;
	color: transparent !important;
	background-image: url(BSPrevButton_large.png);
	background-repeat: no-repeat;
	background-position: left center;
}
a.wSearchBack:hover,
a.wSearchBack:active {
	text-decoration: underline;
	background-image: url(BSPrevButton_large_hover.png);
}
div.wSearchNext {
	float: right;
	margin-right:1em;
}
a.wSearchNext {
	text-decoration: none;
	padding-left: .5em;
	color: transparent !important;
	background-image: url(BSNextButton_large.png);
	background-repeat: no-repeat;
	background-position: left center;
}
a.wSearchNext:hover,
a.wSearchNext:active {
	text-decoration: underline;
	/*background-image: url(BSNextButton_large_hover.png);*/
}
div.wSearchPageNumbers {
	display: none;
	float:left;
	margin-right:.75em;
	margin-top:.75em;
}
li.wSearchPageNumberSelected {
	margin-right: .5em;
	color: #000000;
}
li.wSearchPageNumberLink {
    margin-right: .5em;
    color:#406b7e;
}
span.wSearchPageNumberSelected {

}
a.wSearchPageNumberLink {
	background-color: transparent;
}
@media screen and (min-width: 81em) {
	div.wSearchNavigation {
		font-size: 1em;
		margin-top: 1em;
		border-bottom-width: .1em;
		border-bottom-style: solid;
		border-bottom-color: #406b7e;
		padding-top: .75em;
		padding-left: 5%;
		width: 95%;
	}
	div.wSearchBack {
		float:left;
		margin-right:.75em;
		margin-top: .75em;
	}
	a.wSearchBack {
		text-decoration:none;
		margin:0;
		padding: 0 0 0 1.1428em;
		height: 100%;
		width: 1px;
		color: transparent !important;
		background-color: transparent;
		background-image: url(searchPrev.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	a.wSearchBack:hover,
	a.wSearchBack:active {
		/*background-image: url(searchPrev.png);*/
	}
	div.wSearchNext {
		float:left;
		margin-right:.75em;
		margin-top: .75em;
	}
	a.wSearchNext {
		text-decoration:none;
		margin:0;
		padding: 0 0 0 1.1428em;
		height: 100%;
		width: 1px;
		color: transparent !important;
		background-color: transparent;
		background-image: url(searchNext.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	a.wSearchNext:hover,
	a.wSearchNext:active {
		background-image: url(searchNext.png);
	}
	div.wSearchPageNumbers {
		display: block;
		float:left;
		margin-right:.75em;
		margin-top:.75em;
	}
	li.wSearchPageNumberSelected {
		margin-right: .5em;
	}
	li.wSearchPageNumberLink {
		margin-right: .5em;
	}
	span.wSearchPageNumberSelected {

	}
	a.wSearchPageNumberLink {
		background-color: transparent;
	}
}
/****** Search results area for small screens ******/

div.wSearchResultsSmallScr {
	/* No position attributes allowed */
	margin-top: 10pt;
	width: 100%;
}
div.wSearchResultSettingsSmallScr {
	height: auto;
	overflow: visible;
	overflow: hidden;
	width: 90%;
	margin-left: 5%;
}
div.wSearchHighlightSmallScr {
	display: inline;
	float: left;
}
input.wSearchHighlightSmallScr {
	position: relative;
	top: 0.75pt;
}
span.wSearchHighlightSmallScr {
	margin-left: 6pt;
}
div.wSearchCountSmallScr {
	float: right;
}
div.wSearchCountComboSmallScr {
	float: right;
}
select.wSearchCountSmallScr {
	float: right;
	margin-right: 6pt;
}
div.wSearchCountMsgSmallScr {

}
span.wSearchCountSmallScr {

}
div.wSearchMessageSmallScr {
	margin-top: 15pt;
	margin-left: 5%;
	width: 90%;
	border-bottom: 1px solid #406b7e;
	padding-bottom: 2pt;
}
span.wSearchMessageSmallScr {

}
div.wSearchResultItemsBlockSmallScr {
	margin-left: 5%;
	margin-top: 5pt;
	width: 90%;
}
div.wSearchResultItemSmallScr {
	margin-top: 10pt;
}
div.wSearchResultTitleSmallScr {
	cursor: pointer;
	text-decoration: underline;
}
div.wSearchResultTitleHoverSmallScr {
	cursor: pointer;
	text-decoration: underline;
}
span.wSearchURLSmallScr {
	color: #c4c4c4;
}
span.wSearchContextSmallScr {

}
div.wSearchBackSmallScr {
	float:left;
    margin-right:5pt;
}
a.wSearchBackSmallScr {
	text-decoration:none;
	margin:0;
	padding: 0 0 0 28px;
	height: 100%;
	width: px;
	color: transparent;
	background: transparent url(searchPrev.png) no-repeat center center;
}
a.wSearchBackSmallScr:hover {
	background-image: transparent url(searchPrevHover.png);
}
div.wSearchNextSmallScr {
	float:left;
    margin-right:5pt;
}
a.wSearchNextSmallScr {
	text-decoration:none;
	margin:0;
	padding: 0 0 0 28px;
	height: 100%;
	width: 1px;
	color: transparent;
	background: transparent url(searchNext.png) no-repeat center center;
}
a.wSearchNextSmallScr:hover {
	background-image: transparent url(searchNextHover.png);
}
div.wSearchPageNumbersSmallScr {
	float:left;
	margin-right:5pt;
	margin-top:0;
}
li.wSearchPageNumberSelectedSmallScr{
	margin-right:3pt;
}
li.wSearchPageNumberLinkSmallScr {
    margin-right:3pt;
    color:#406b7e;
}
li.wSearchPageNumberLinkSmallScr:hover {
	text-decoration:underline;
}
span.wSearchPageNumberSelectedSmallScr {

}
a.wSearchPageNumberLinkSmallScr {
	background-color: transparent;
}


/****** Show/Hide ******/
a.wShowHide {
	color: #ffffff;
	margin: 0 0 0 8pt;
	padding: 0;
	position: relative;
	top: -5px;
	text-decoration: none !important;
	background-color: transparent;
}

/****** Show/Hide toggle ******/
a.wShow {
	color: #ffffff;
	margin: 0 0 0 8pt;
	padding: 0;
	position: relative;
	top: -5px;
	text-decoration: none !important;
	background-color: transparent;
}
a.wHide {
	color: #ffffff;
	margin: 0 0 0 8pt;
	padding: 0;
	position: relative;
	top: -5px;
	text-decoration: none !important;
	background-color: transparent;
}

/****** Project title ******/
span.wProjTitle {

}

/****** Search options (with AND) ******/
div.wSearchField {
	display: inline;
}
div.content div.wSearchField {/** Search page search bar **/
	display: block;
	height: 2em;
	width: 90%;
	margin: 1.5em auto .5em;
	max-width: 50em;
	position: relative;
}
input.wSearchField {
	border-width: .1em;
	border-style: solid;
	border-color: #406b7e;
	padding: 3px 35px 3px 1.071em;
	-webkit-border-radius: 1.071em;
	-moz-border-radius: 1.071em;
	border-radius: 1.071em;
	-webkit-appearance: none;
}
div.content input.wSearchField {
	padding: 0 2%;
	width: 96%;
	-moz-box-sizing: border-box;
     box-sizing: border-box;
}
a.wSearchLink {
	position: relative;
	top: 0;
	right: 1.1428em;
}
a.wSearchLink img {
	max-width: 10px !important;
	max-height: 10px !important;
}
div.content a.wSearchLink img {
	max-width: 22px !important;
	max-height: 22px !important;
}
div.content input.wSearchField {
	width: 90%;
	margin-left: 5%;
	font-size: 1.5em;
}
div.content a.wSearchLink {
	position: absolute;
	font-size: 1.5em;
	top: .25em;
	right: 6%;
}
img.wSearchLink {
	border: none;
}
div.cSearchAND {/* Custom Search AND container */
	margin-top: 1em;
}
input.wSearchAND {
	position: relative;
	top: 2pt;
}
span.wSearchAND {
	position: relative;
	top: 0.5pt;
	left: 3pt;
}

/****** Search options ******/
div.wSearchOptions {
	/* No position attributes allowed */
	
}
/****** Tabbed Panel - Horizontal (empty and not empty) ******/
div.wTabbedPanel {
	/* No position attributes allowed */
	width: 100%;
}
ul.wTabGroup {
	background-color: #9ab3b0;
	font-size: 12pt;
	padding:0;
	text-align: center;
	height: auto;
	padding: 0 0 .357em 0;
	border-width: 3px;
	border-style:solid;
	border-color: #9ab3b0;
}
li.wTab {
	padding: 0 8pt;
	color: #ffffff;
	cursor: pointer;
	margin: 0 5pt;
	border-bottom-width: 3px;
	border-bottom-style:solid;
	border-bottom-color: #9ab3b0;
	white-space: nowrap;
}
li.wTabHover {
	padding: 0 8pt;
	color: #ffffff;
	cursor: pointer;
	margin: 0 5pt;
	border-bottom-width: 3px;
	border-bottom-style:solid;
	border-bottom-color: #9ab3b0;
	white-space: nowrap;
}
li.wTabSelected {
	padding: 0 8pt;
	color: #ffffff;
	margin: 0 5pt;
	border-bottom-width: 3px;
	border-bottom-style:double;
	border-bottom-color: #ffffff;
	white-space: nowrap;
}
span.wTabText {
	
}
div.wTabContentGroup {
	
}
div.wTabContent {
	margin: 15pt 5% 0;
	padding: 0 0 15pt 0;
	width: 90%;
	overflow-y: visible;
	overflow-x: auto;
	display: none;
}

/****** Tabbed pannel - Vertical (empty and not empty) ******/
div.wVTabbedPanel {
	/* No position attributes allowed */
	border: 1px solid #406b7e;
	background: #ffffff;
	width: 100%;
}
ul.wVTabGroup {
	border-top: 1px solid #406b7e;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12pt;
}
li.wVTab {
	cursor: pointer;
	background: #406b7e;
	text-align: center;
	width: 100%;
	color: #ffffff;
	padding: 4pt 0;
}
li.wVTabHover {
	cursor: pointer;
	background: #406b7e;
	text-align: center;
	width: 100%;
	color: #ffffff;
	padding: 4pt 0;
}
li.wVTabSelected {
	cursor: pointer;
	background: #ffffff;
	text-align: center;
	width: 100%;
	color: #406b7e;
	padding: 4pt 0;	
}
span.wVTabText {

}
div.wVTabContentGroup {
	overflow: auto;
}
div.wVTabContent {
	margin: 10pt 15pt;
	display: none;
}

/****** Loading ******/
div.wLoadingIcon {
	text-align: center;
	width: 100%;
}
div.loadingicon {

}
img.wLoadingIcon {
	border: none;
}
div.wLoadingText {
	text-align: center;
	width: 100%;
}
div.loadingtext {

}

/****** Internal widget styles ******/
.unclickable {/*Modifies the cursor on hover to default*/
	cursor: default;
}
.handcursor {/*Modifies the cursor on hover to hand*/
	cursor: pointer;
	cursor: hand;
}
.unselectable {/*Modifies the content unselectable by mouse*/
	-webkit-user-select: none;
	-moz-user-select: none;
}
div.treeitem {/*Used by TOC Tree widget*/
	clear: both;
	margin: 0px;
	padding: 0px;
}
li.hlist {/*Used to display horizontal list of page numbers in search results */
	display: inline;
}
a.nolink {/*Used to remove default styling of a hyperlink*/
	text-decoration: none;
	background-color: transparent;
	color: inherit;
}
a.nolink:hover {
	background-color: transparent;
}