
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora REST API - Update Account</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "2.0_2";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../Tuebora_API.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../Tuebora_API.htm" class="homelink"><span>Tuebora REST API</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="296">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../Tuebora_API.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


<br style="page-break-before: always;" />

     <h1>Update Account</h1>
     <p style="font-family: Verdana, sans-serif;"><span>Update an existing account. 
 <b style="mso-bidi-font-weight: normal;">&#160;</b></span></p>
     <table class="Table" cellspacing="0" width="100%">
	<col style="width: 23.424%;" />
	<col style="width: 35.536%;" />
	<col style="width: 41.04%;" />
	<tr class="t1st" style="height: 26px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter" style="color: #000000; font-family: Verdana, sans-serif;">URL</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
			 style="font-weight: bold;">/api/v1/accounts/&lt;Id of the 
		 Account&gt;</p></td>
		
	</tr>
	<tr class="t2Row" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#FFFFFF">
  <p class="APIParameter" style="font-family: Verdana, sans-serif;">HTTP 
		 Method</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#FFFFFF">
  <p 
			 class="TableText">PUT</p></td>
		
	</tr>
	<tr class="t1Row" style="height: 54px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="APIParameter" style="font-family: Verdana, sans-serif;">Headers</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <ul 
				 style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">Content-Type</span>: application/json</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">Authorization</span>: Basic Authorization. 
			 Use Tuebora API Authentication Credentials as Basic Authorization 
			 Credentials.</p></li>
		</ul></td>
		
	</tr>
	<tr class="t2Row" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#FFFFFF">
  <p class="APIParameter" style="font-family: Verdana, sans-serif;">Data 
		 Type</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#FFFFFF">
  <p 
			 class="TableText" style="font-family: Verdana, sans-serif;">Request 
		 Body</p></td>
		
	</tr>
	<tr class="t1Row" style="height: 270px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="APIParameter" style="font-family: Verdana, sans-serif;">Data 
		 Parameters</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText" style="font-family: Verdana, sans-serif;"><span 
		 style="font-family: Verdana, sans-serif;">{</span></p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;name&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;emailAddress&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;department&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;displayName&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;firstName&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;lastName&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;password&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;type&quot;: 
		 &quot;&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;asset&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">&quot;id&quot;:</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&quot;user&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">&quot;id&quot;: 
		 </p>
		<p class="TableText" style="font-family: Verdana, sans-serif; margin-left: 47px;">}</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">}</p></td>
		
	</tr>
	<tr class="t2Row" style="height: 38px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#FFFFFF">
  <p class="APIParameter" style="font-family: Verdana, sans-serif;">Success 
		 Response Code and Response Data</p></td>
		<td colspan="2" style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#FFFFFF">
  <p 
			 class="TableText" style="color: #000000; font-family: Verdana, sans-serif;">200 
		 OK</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">All 
		 responses return the details of the account updated.</p></td>
		
	</tr>
	<tr class="t1Row" style="height: 36px;">
		<td rowspan="4" style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="APIParameter" style="font-family: Verdana, sans-serif;">Error 
		 Response</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="color: #000000; 
									 font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 font-size: 10pt;">For data passed without specifying account name</span> 
		 </p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">{&quot;errorCode&quot;: &quot;missing_name&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Value is not provided for mandatory property: name&quot;}</p></td>
	</tr>
	<tr class="t2Row" style="height: 42px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For data passed by 
		 specifying invalid user id</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">{&quot;errorCode&quot;: &quot;invalid_user&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;User information doesn't exists&quot;}</p></td>
	</tr>
	<tr class="t1Row" style="height: 38px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">For data passed by 
		 specifying invalid asset id</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">{&quot;errorCode&quot;: &quot;asset_not_exists&quot;,</p>
		<p class="TableText">&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;There is no asset configured with the given value&quot;}</p></td>
	</tr>
	<tr class="t2Row" style="height: 46px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="TableText"><span lang="EN-IN" 
															 xml:lang="EN-IN" 
															 style="mso-fareast-font-family: 'Times New Roman'; 
															 mso-ansi-language: EN-IN; 
															 mso-fareast-language: EN-IN; 
															 mso-bidi-language: AR-SA; 
															 font-size: 10pt;">For 
		 data passed without specifying password for the account</span><span 
		 style="font-family: Verdana, sans-serif;"> </span></p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="TableText">{&quot;errorCode&quot;: &quot;missing_password&quot;,</p>
		<p class="TableText">&#160;&#160;&#160;&#160;&quot;errorDescription&quot;: 
		 &quot;Value is not provided for mandatory property: password&quot;}</p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h3 class="Request">Details of Data Parameters</h3>
 <table class="Table" cellspacing="0" width="100%">
	<col style="width: 22.502%;" />
	<col style="width: 18.336%;" />
	<col style="width: 59.162%;" />
	<tr class="t1st">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Parameter</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText" style="font-weight: bold;">Is Mandatory</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">Description</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">name</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the name for the account.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">emailAddress</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 email address for the account.</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">department</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the department for the account, if required.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">displayName</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the display name for the account.</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">firstName</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the first name for the account.</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">lastName</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the last name for the account.</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">password</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the password for the account. </p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">type</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">No</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the type of account as &quot;Account&quot;</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">asset id</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the id of the Asset under which the account must be created</p></td>
	</tr>
	<tr class="t1Row">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">user id</p></td>
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Yes</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText">Specify 
		 the id of the active user for whom the account must be created 
		 in the specified Asset.</p></td>
	</tr>
 </table>
 <p class="Request" style="font-family: Verdana, sans-serif;"><img src="../Images/Image_left.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> 
 &#160;Request Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
				 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
				 font-family: Verdana, sans-serif;"><span lang="EN-IN" 
															 xml:lang="EN-IN">curl 
		 -v -X PUT\</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;"><span lang="EN-IN" xml:lang="EN-IN">-H 
		 &quot;Accept: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;"><span lang="EN-IN" xml:lang="EN-IN">-H 
		 &quot;Content-Type: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;"><span lang="EN-IN" xml:lang="EN-IN">-H 
		 &quot;Authorization: Basic ${basic_authentication_header}&quot; 
		 \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;"><span lang="EN-IN" xml:lang="EN-IN">-d 
		 '</span><span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; 
						 mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-IN; 
						 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">{</span></p>
		<p class="TableText"><span style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;name&quot;: 
		 &quot;AdamGill&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;">&quot;emailAddress&quot;: 
		 &quot;adam.gill@xanadufinancials.com&quot;,</p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;">&quot;department&quot;: 
		 &quot;Equity Capital Markets&quot;,</p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;">&quot;displayName&quot;: 
		 &quot;Adam Gill&quot;,</p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;">&quot;firstName&quot;: 
		 &quot;Adam&quot;,</p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;">&quot;lastName&quot;: &quot;Gill&quot;,</p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;">&quot;password&quot;: &quot;Test@123&quot;,</p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;">&quot;type&quot;: &quot;Account&quot;,</p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;">&quot;asset&quot;: {</p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;">&quot;id&quot;: 2</p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;">},</p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;">&quot;user&quot;: {</p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;">&quot;id&quot;: 898</p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold; 
			 font-family: Verdana, sans-serif;">}</p>
		<p class="TableText"><span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; 
									 mso-fareast-font-family: 'Times New Roman'; 
									 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
									 mso-bidi-language: AR-SA; mso-bidi-font-weight: bold; 
									 font-family: Verdana, sans-serif;"><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">}</span>' 
		 &quot;</span><span lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
							 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
							 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
							 mso-bidi-language: AR-SA;">https://</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">{</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">yourTenantURL</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold; 
		 font-family: Verdana, sans-serif; font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">}</span><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif; 
		 mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-IN; 
		 mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">/api/v1/accounts/4938</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;">&quot;</span><span 
		 style="mso-bidi-font-weight: bold; font-family: Verdana, sans-serif;"> 
		 </span></p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <p class="Request" style="font-family: Verdana, sans-serif;"><img src="../Images/Image_Right.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> 
 &#160;Response Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText" style="font-family: Verdana, sans-serif;"><span 
		 style="font-family: Verdana, sans-serif;">{</span></p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;lastName&quot;: 
		 &quot;Gill&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;commonName&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;passwordNeverExpires&quot;: 
		 false,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;initialMenu&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;city&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;displayName&quot;: 
		 &quot;AdamGill&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;passwordExpirationDate&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;departmentId&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;alternateEmailAddress&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;description&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;lastLoginDate&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;manager&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 null</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;title&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;type&quot;: 
		 &quot;Account&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;primaryId&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;mailServer&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;employeeNumber&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;mailFile&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;passwordRequired&quot;: 
		 false,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;emailAddress&quot;: 
		 &quot;adam.gill@xanadufinancials.com&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;owner3&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 null</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;owner&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 null</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;isLocked&quot;: 
		 false,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;owner1&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 null</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;state&quot;: 
		 &quot;A&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;isDisabled&quot;: 
		 false,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 &quot;4938&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;department&quot;: 
		 &quot;Equity Capital Markets&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;specialAuthority&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;userAccountControl&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;expirationDate&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;passwordLastSet&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;homeDirectory&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;mobile&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;isAdmin&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;creationDate&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;referenceID&quot;: 
		 &quot;{\&quot;Account\&quot;:\&quot;AdamGill\&quot;}&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;tags&quot;: 
		 [],</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;firstName&quot;: 
		 &quot;Adam&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;owner2&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 null</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;meta&quot;: 
		 {</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&quot;resourceType&quot;: 
		 &quot;Account&quot;</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;},</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;name&quot;: 
		 &quot;AdamGill&quot;,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;securityIdentifier&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;passwordExpired&quot;: 
		 true,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;applicationInternalId&quot;: 
		 null,</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">&#160;&#160;&#160;&#160;&quot;uniqueId&quot;: 
		 null</p>
		<p class="TableText" style="font-family: Verdana, sans-serif;">}</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
