﻿#rh_default_topic_placeholder_id {
                                  font-family:Arial;
                                  background-color:#ffffff;
}
#rh_default_topic_placeholder_id h1 {
                                     font-weight:bold;
                                     font-size:24.0pt;
                                     color:#023b6d;
                                     font-family:Verdana;
                                     x-next-type:p;
}
#rh_default_topic_placeholder_id h2 {
                                     font-weight:bold;
                                     font-size:18.0pt;
                                     color:#023b6d;
                                     font-family:Verdana;
                                     x-next-type:p;
}
#rh_default_topic_placeholder_id h3 {
                                     font-weight:bold;
                                     font-size:14.0pt;
                                     color:#023b6d;
                                     font-family:Verdana;
                                     x-next-type:p;
}
#rh_default_topic_placeholder_id h4 {
                                     font-weight:bold;
                                     font-size:12.0pt;
                                     color:#023b6d;
                                     font-family:Verdana;
                                     x-next-type:p;
}
#rh_default_topic_placeholder_id h5 {
                                     font-weight:bold;
                                     color:#003a6b;
                                     font-size:10pt;
                                     font-family:Verdana;
                                     x-next-type:p;
}
#rh_default_topic_placeholder_id h6 {
                                     font-weight:bold;
                                     font-size:8.0pt;
                                     font-family:Verdana;
                                     x-next-type:p;
}
#rh_default_topic_placeholder_id p {
                                    font-size:10pt;
                                    margin-top:9pt;
                                    margin-left:18pt;
                                    margin-bottom:9pt;
                                    font-family:Verdana;
}
#rh_default_topic_placeholder_id a {
                                    color:#0000ff;
                                    font-family:Verdana;
                                    display:inline;
                                    text-decoration:underline;
}
@media only print{
#rh_default_topic_placeholder_id a {
                                    display:inline;
                                    font-size:10pt;
                                    color:#161cce;
                                    text-decoration:none;
}
}
#rh_default_topic_placeholder_id a.expandspot {
                                               color:#008000;
                                               cursor:hand;
                                               font-style:italic;
                                               font-family:Verdana;
                                               display:inline;
                                               text-decoration:none;
}
#rh_default_topic_placeholder_id span.expandtext {
                                                  font-style:italic;
                                                  font-weight:normal;
                                                  color:#ff0000;
}
#rh_default_topic_placeholder_id a.dropspot {
                                             cursor:hand;
                                             color:#003a6b;
                                             font-weight:bold;
                                             display:inline;
                                             font-family:Verdana;
                                             text-decoration:none;
}
#rh_default_topic_placeholder_id a.glossterm {
                                              color:#800000;
                                              cursor:hand;
                                              font-style:italic;
                                              font-family:Verdana;
                                              display:inline;
                                              text-decoration:none;
}
#rh_default_topic_placeholder_id span.glosstext {
                                                 font-style:italic;
                                                 font-weight:normal;
                                                 color:#0000ff;
}
#rh_default_topic_placeholder_id ol {
                                     margin-bottom:0px;
                                     font-family:Arial;
                                     font-size:11pt;
                                     margin-top:12px;
                                     list-style:decimal;
                                     margin-left:73px;
}
#rh_default_topic_placeholder_id ul {
                                     margin-bottom:0px;
                                     font-family:Arial;
                                     font-size:11pt;
                                     margin-top:12px;
                                     list-style:decimal;
                                     margin-left:73px;
}
#rh_default_topic_placeholder_id p.ProductName {
                                                margin-left:0pt;
                                                color:#003a6b;
                                                font-size:36pt;
                                                font-weight:normal;
}
#rh_default_topic_placeholder_id p.DocTitle {
                                             font-weight:bold;
                                             font-size:18pt;
                                             margin-left:0pt;
}
#rh_default_topic_placeholder_id p.Module {
                                           font-weight:bold;
                                           font-size:18pt;
                                           color:#a5c6e0;
                                           margin-top:13.5pt;
                                           x-next-type:p;
                                           margin-left:0pt;
}
#rh_default_topic_placeholder_id p.FAQ {
                                        color:#003a6b;
                                        font-weight:bold;
                                        font-size:10pt;
                                        margin-left:18pt;
}
#rh_default_topic_placeholder_id a.TwistyTuebora {
                                                  color:#003a6b;
                                                  display:inline;
                                                  font-weight:bold;
                                                  text-decoration:none;
}
#rh_default_topic_placeholder_id p.TableText {
                                              margin-left:5pt;
                                              margin-top:2pt;
                                              margin-bottom:2pt;
}
#rh_default_topic_placeholder_id table.Note {
                                             font-size:11pt;
                                             x-border-spacing:0px;
                                             border-left-style:Solid;
                                             border-left-width:1px;
                                             border-left-color:#a5c6e0;
                                             border-right-style:Solid;
                                             border-right-width:1px;
                                             border-right-color:#a5c6e0;
                                             border-top-style:Solid;
                                             border-top-width:1px;
                                             border-top-color:#a5c6e0;
                                             border-bottom-style:Solid;
                                             border-bottom-width:1px;
                                             border-bottom-color:#a5c6e0;
                                             font-family:Verdana;
}
#rh_default_topic_placeholder_id table.Note td {
                                                padding-left:5px;
                                                padding-right:0px;
                                                padding-top:0px;
                                                padding-bottom:9px;
                                                @media:only "print{"   p.ProductName "{"   "font-size:"   30pt;
}
@media only print {
#rh_default_topic_placeholder_id Narrow; font-weight:normal; font-size:24pt; x-next-type:p; table.note:"{"     "border-left-color:"     #007fff; border-right-color:#007fff; border-top-color:#007fff; border-bottom-color:#007fff; margin-left:0.25in; margin-right:0.25in; p.tabletext:"{"     "border-left-style:"     none; border-right-style:none; border-top-style:none; border-bottom-style:none; margin-right:5pt; margin-bottom:0pt; margin-top:0pt; line-height:12pt; p.list {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         margin-left:2pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         margin-top:8.5pt;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         line-height:Normal;
}
}
@media only print{
#rh_default_topic_placeholder_id h1 {
}
}
@media only print{
#rh_default_topic_placeholder_id h2 {
                                     color:#000080;
                                     x-next-type:p;
                                     margin-left:0pt;
}
}
@media only print{
#rh_default_topic_placeholder_id h3 {
                                     color:#000080;
                                     x-next-type:p;
}
}
@media only print{
#rh_default_topic_placeholder_id h4 {
                                     color:#007fff;
                                     x-next-type:p;
}
}
@media only print{
#rh_default_topic_placeholder_id p {
                                    font-size:10pt;
                                    line-height:150%;
}
}
#rh_default_topic_placeholder_id p.TueboraGlossaryText {
                                                        font-weight:bold;
}
@media only print{
#rh_default_topic_placeholder_id p.TueboraGlossaryText {
                                                        font-size:10pt;
                                                        margin-left:0pt;
}
}
#rh_default_topic_placeholder_id li.Unordered {
                                               font-size:10pt;
                                               margin-left:1px;
                                               list-style:disc;
}
@media only print{
#rh_default_topic_placeholder_id li.Unordered {
                                               font-size:10pt;
                                               margin-bottom:9px;
                                               line-height:Normal;
                                               list-style:disc;
                                               margin-left:1px;
                                               margin-top:0;
}
}
#rh_default_topic_placeholder_id p.GlossaryHeading {
                                                    p.glossaryheading:"{"   "font-size:"   11pt;
                                                    margin-left:0pt;
                                                    font-weight:bold;
                                                    font-size:11pt;
                                                    font-family:Verdana;
                                                    x-next-class:TueboraGlossaryText;
                                                    x-next-type:p;
}
#rh_default_topic_placeholder_id p.GlossaryAlphabet {
                                                     p.glossaryalphabet:"{"   "font-size:"   18pt;
                                                     color:#003a6b;
                                                     margin-left:0pt;
                                                     font-weight:bold;
                                                     margin-left:0pt;
                                                     font-size:18pt;
                                                     color:#003a6b;
                                                     font-weight:bold;
                                                     x-next-class:GlossaryHeading;
                                                     x-next-type:p;
}
#rh_default_topic_placeholder_id rh-list.basicnumber {
                                                      x-lvl-2-type:lower-alpha;
                                                      x-lvl-6-type:lower-roman;
                                                      x-lvl-6-format:&o<x>&c;
                                                      x-lvl-7-margin:120px;
                                                      x-lvl-7-p-tag:P;
                                                      x-lvl-8-type:lower-alpha;
                                                      x-lvl-8-margin:140px;
                                                      x-lvl-9-type:lower-roman;
                                                      x-lvl-9-margin:160px;
                                                      x-lvl-2-format:<x>.;
                                                      x-lvl-2-pfx-class:rls-2-BasicNumber;
                                                      x-lvl-1-pfx-class:rls-1-BasicNumber;
                                                      x-lvl-1-format:<x>.;
                                                      x-lvl-1-margin:50px;
                                                      x-lvl-1-text-indent:-20px;
                                                      x-lvl-1-p-class:list;
                                                      x-lvl-1-p-tag:p;
                                                      x-lvl-2-margin:80px;
                                                      x-lvl-2-text-indent:-20px;
                                                      x-lvl-2-p-class:list;
                                                      x-lvl-2-p-tag:p;
                                                      x-lvl-3-format:<x>;
                                                      x-lvl-3-type:square;
                                                      x-lvl-3-margin:100px;
                                                      x-lvl-3-text-indent:-20px;
                                                      x-lvl-3-p-tag:p;
                                                      x-lvl-4-type:circle;
                                                      x-lvl-4-format:<x>;
                                                      x-lvl-5-format:<x>;
                                                      x-lvl-5-type:square;
                                                      x-lvl-5-margin:140px;
                                                      x-lvl-5-text-indent:-20px;
                                                      x-lvl-5-p-tag:p;
                                                      x-lvl-4-margin:130px;
                                                      x-lvl-4-text-indent:-30px;
                                                      x-lvl-4-p-tag:p;
                                                      x-level-count:9;
                                                      x-lvl-6-margin:100px;
                                                      x-lvl-6-text-indent:-20px;
                                                      x-lvl-6-p-tag:p;
}
#rh_default_topic_placeholder_id li.Ordered {
                                             font-size:10pt;
                                             list-style:decimal;
                                             margin-top:7px;
                                             margin-left:1px;
                                             line-height:Normal;
}
@media only print{
#rh_default_topic_placeholder_id span.rls-2-BasicNumber {
                                                         font-family:Arial;
                                                         font-size:10pt;
}
}
@media only print{
#rh_default_topic_placeholder_id span.rls-1-BasicNumber {
                                                         font-size:10pt;
}
}
@media only print{
#rh_default_topic_placeholder_id p.list {
                                         line-height:Normal;
                                         margin-left:18pt;
                                         margin-top:4.5pt;
                                         margin-bottom:4.5pt;
}
}
@media only print{
#rh_default_topic_placeholder_id li.Ordered {
}
}
@media only print{
#rh_default_topic_placeholder_id span.rls-1-Test {
                                                  font-family:Arial;
                                                  font-size:10pt;
}
}
@media only print{
#rh_default_topic_placeholder_id span.rls-2-Test {
                                                  font-family:Arial;
                                                  font-size:10pt;
}
}
@media only print{
#rh_default_topic_placeholder_id span.rls-3-Test {
                                                  font-family:Arial;
                                                  font-size:10pt;
}
}
@media only print{
#rh_default_topic_placeholder_id span.rls-1-Style1 {
                                                    font-family:Arial;
                                                    font-size:10pt;
}
}
@media only print{
#rh_default_topic_placeholder_id span.rls-2-Style1 {
                                                    font-family:Arial;
                                                    font-size:10pt;
}
}
@media only print{
#rh_default_topic_placeholder_id p.GlossaryAlphabet {
                                                     font-size:14pt;
                                                     color:#003a6b;
                                                     margin-left:0pt;
                                                     font-weight:bold;
                                                     text-transform:uppercase;
}
}
#rh_default_topic_placeholder_id table.Table {
                                              font-size:10pt;
                                              x-border-spacing:0px;
                                              x-1st-row:1;
                                              x-1st-row-name:t1st;
                                              border-left-style:Solid;
                                              border-left-color:#000000;
                                              border-right-style:Solid;
                                              border-right-color:#000000;
                                              border-top-style:Solid;
                                              border-top-color:#000000;
                                              border-bottom-style:Solid;
                                              border-bottom-color:#000000;
                                              border-left-width:1px;
                                              border-right-width:1px;
                                              border-top-width:1px;
                                              border-bottom-width:1px;
                                              x-row-pat-1:1;
                                              x-row-pat-1-name:t1Row;
                                              x-row-pat-count:2;
                                              x-row-pat-2:1;
                                              x-row-pat-2-name:t2Row;
                                              x-last-row:1;
                                              x-last-row-name:last;
                                              x-col-pat-1:1;
                                              x-col-pat-1-name:t1Col;
                                              x-col-pat-count:2;
                                              x-col-pat-2:1;
                                              x-col-pat-2-name:t2Col;
                                              x-last-col:1;
                                              x-last-col-name:last;
                                              font-family:Verdana;
}
#rh_default_topic_placeholder_id table.Table td {
                                                 padding-left:4px;
                                                 padding-right:0px;
                                                 padding-top:0px;
                                                 padding-bottom:9px;
}
#rh_default_topic_placeholder_id rh-list.Bullets {
                                                  x-lvl-1-type:disc;
                                                  x-lvl-1-format:<x>;
                                                  x-lvl-2-type:square;
                                                  x-lvl-2-format:<x>;
                                                  x-lvl-2-margin:20px;
                                                  x-lvl-3-type:circle;
                                                  x-lvl-3-format:<x>;
                                                  x-lvl-3-margin:40px;
                                                  x-lvl-4-type:diamond;
                                                  x-lvl-4-format:<x>;
                                                  x-lvl-4-margin:60px;
                                                  x-lvl-5-type:disc;
                                                  x-lvl-5-format:<x>;
                                                  x-lvl-5-margin:80px;
                                                  x-lvl-6-type:square;
                                                  x-lvl-6-format:<x>;
                                                  x-lvl-6-margin:100px;
                                                  x-lvl-7-type:circle;
                                                  x-lvl-7-format:<x>;
                                                  x-lvl-7-margin:120px;
                                                  x-lvl-8-type:diamond;
                                                  x-lvl-8-format:<x>;
                                                  x-lvl-8-margin:140px;
                                                  x-level-count:9;
                                                  x-lvl-9-type:disc;
                                                  x-lvl-9-format:<x>;
                                                  x-lvl-9-margin:160px;
                                                  x-lvl-9-pfx-class:rls-9-Bullets;
                                                  x-lvl-1-pfx-class:rls-1-Bullets;
                                                  x-lvl-2-pfx-class:rls-2-Bullets;
                                                  x-lvl-3-pfx-class:rls-3-Bullets;
                                                  x-lvl-4-pfx-class:rls-4-Bullets;
                                                  x-lvl-5-pfx-class:rls-5-Bullets;
                                                  x-lvl-6-pfx-class:rls-6-Bullets;
                                                  x-lvl-7-pfx-class:rls-7-Bullets;
                                                  x-lvl-8-pfx-class:rls-8-Bullets;
}
#rh_default_topic_placeholder_id span.rls-9-Bullets {
                                                     font-size:8pt;
}
#rh_default_topic_placeholder_id span.rls-1-Bullets {
                                                     font-size:12pt;
}
#rh_default_topic_placeholder_id span.rls-2-Bullets {
                                                     font-size:12pt;
}
#rh_default_topic_placeholder_id span.rls-3-Bullets {
                                                     font-size:12pt;
}
#rh_default_topic_placeholder_id span.rls-4-Bullets {
                                                     font-size:12pt;
}
#rh_default_topic_placeholder_id span.rls-5-Bullets {
                                                     font-size:10pt;
}
#rh_default_topic_placeholder_id span.rls-6-Bullets {
                                                     font-size:10pt;
}
#rh_default_topic_placeholder_id span.rls-7-Bullets {
                                                     font-size:10pt;
}
#rh_default_topic_placeholder_id span.rls-8-Bullets {
                                                     font-size:10pt;
}
#rh_default_topic_placeholder_id span.URL {
                                           font-size:10pt;
                                           color:#0000ff;
                                           text-decoration:underline;
}
#rh_default_topic_placeholder_id p.Commands {
                                             margin-top:2pt;
                                             margin-bottom:2pt;
                                             font-style:italic;
}
#rh_default_topic_placeholder_id table.Table tr.t1st td {
                                                         font-family:Arial;
                                                         font-size:10pt;
                                                         color:#ffffff;
                                                         font-weight:bold;
                                                         background-color:#003a6b;
                                                         border-right-style:Solid;
                                                         border-right-width:1px;
                                                         border-right-color:#000000;
}
#rh_default_topic_placeholder_id table.Table tr.t1Row td {
                                                          background-color:#ffffff;
                                                          font-family:Arial;
                                                          font-size:10pt;
                                                          border-top-style:Solid;
                                                          border-top-width:1px;
                                                          border-top-color:#000000;
                                                          border-bottom-style:Solid;
                                                          border-bottom-width:1px;
                                                          border-bottom-color:#000000;
}
#rh_default_topic_placeholder_id table.Table tr.last td {
                                                         background-color:#ffffff;
                                                         font-family:Arial;
                                                         font-size:10pt;
                                                         border-top-style:Solid;
                                                         border-top-width:1px;
                                                         border-top-color:#000000;
}
#rh_default_topic_placeholder_id table.Table td.t1Col {
                                                       border-right-style:Solid;
                                                       border-right-width:1px;
                                                       border-right-color:#000000;
}
#rh_default_topic_placeholder_id table.Table td.t2Col {
                                                       background-color:#ffffff;
                                                       font-family:Arial;
                                                       font-size:10pt;
                                                       border-right-style:Solid;
                                                       border-right-width:1px;
                                                       border-right-color:#000000;
}
#rh_default_topic_placeholder_id table.Table tr.t1Row td.last {
                                                               background-color:#ffffff;
                                                               font-family:Arial;
                                                               font-size:10pt;
}
#rh_default_topic_placeholder_id table.Table tr.t2Row td.last {
                                                               background-color:#ffffff;
                                                               font-family:Arial;
                                                               font-size:10pt;
}
#rh_default_topic_placeholder_id table.Table td.last {
                                                      background-color:#ffffff;
                                                      font-family:Arial;
                                                      font-size:10pt;
}
#rh_default_topic_placeholder_id a.breadcrumbs {
                                                font-family:Verdana;
                                                display:inline;
}
