
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Release Notes - Release Notes V1.11.2</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Release_Notes_1.12.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Release_Notes_1.12.htm" class="homelink"><span>Release Notes</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="728">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Release_Notes_1.12.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1 style="text-align: center;">Tuebora Release Notes</h1>
     <p class="DocTitle" style="text-align: center;">Release Date: July 2018</p>
     <p>&#160;</p>
     <p>This Release Notes is for Tuebora version 1.11.2. It lists the new features, 
 enhancements, and <span style="font-size: 13.3333px; font-variant-ligatures: normal; 
						 font-variant-caps: normal; orphans: 2; widows: 2; 
						 -webkit-text-stroke-width: 0px; background-color: #ffffff; 
						 text-decoration-style: initial; text-decoration-color: initial; 
						 display: inline	 ! important ; float: none;">issues 
 that are fixed in this release</span>.</p>
     <h2>New Features</h2>
     <p class="GlossaryHeading">Patch Management </p>
     <p>Tuebora has introduced patch management mechanism for an efficient patch 
 upgrade experience. The patch management mechanism is implemented for 
 <span style="text-indent: -20px;">Tuebora Version 1.11.2 onwards</span></p>
     <p style="margin-top: 5pt; margin-bottom: 5pt;">Tuebora provides the Installer 
 to install the patch builds. For more information on installing patch 
 builds refer the <span style="font-weight: bold; font-style: italic;">V1.11.2 
 Tuebora Installation and Upgrade Guide</span><span style="font-style: italic;">.</span></p>
     <h3 class="TueboraGlossaryText">Tuebora Installer</h3>
     <ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="list">A new version of Tuebora 
	 Installer <span style="font-weight: bold;">Tuebora-Linux-Installer-1.11.2.tar.bz2 
	 </span>is made available and can be used to install Tuebora versions 
	 starting 1.10. Changes in this installer is:</p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>When 
 Tuebora is installed in multiple legs and MySQL server was down in node 
 1, the MySQL in Node 2 was not servicing the requests. This issue has 
 been fixed. </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Now installer 
 comes with the capability to automatically restart MySQL server, if it 
 goes down.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>When 
 Tuebora process was not using complete RAM, &#160;the free RAM was getting 
 used by System cache. Because of this the system was running Out of memory. 
 This issue has been fixed. <br />
<br />
For more information on configurations to handle restarting MySQL automatically, 
 MySQL failover and clearing the system cache, refer <span style="font-weight: bold; 
															 font-style: italic;">V1.11.2</span> 
 <span style="font-weight: bold; font-style: italic;">Tuebora Installation 
 and Upgrade Guide</span>.</p>
<h2 style="font-size: 14pt;">Enhancements</h2>
<p class="GlossaryHeading">SCIM Server</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="list">New<span style="font-weight: bold;"> 
	 SCIM Server Version 1.4.2</span> is now available. You can download 
	 the new version of the SCIM Server from <span style="font-weight: bold;">https://scim.tuebora.com</span>. 
	 The SCIM Server contains the following changes:</p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>In Scripted 
 Connector's <span style="font-weight: bold;">Edit Connection properties</span> 
 window, a new option - <span style="font-weight: bold;">Execution Timeout 
 in Mins </span>is provided to specify the time for which SCIM Server must 
 wait to get the response from the Target Application while collecting 
 the data from it. The default value set for this field is 5 minutes.</p>
<br style="page-break-before: always;" />

<p class="GlossaryHeading">Tuebora Governance</p>
<p class="TueboraGlossaryText" style="font-weight: bold;">Workflow Management</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText" style="margin-left: 0px;">Capability 
	 to read time component in a <span style="font-weight: bold;">Timer 
	 Step</span> dynamically from a <span style="font-weight: bold;">Variable</span> 
	 defined in the Workfolow or <span style="font-weight: bold;">Event 
	 data</span> is provided. </p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText" style="margin-left: 0px;">Capability 
	 to add an <span style="font-weight: bold;">Error step</span> as a<span 
	 style="font-weight: bold;"> Task (Error Task)</span> is provided. 
	 When an error step is defined as an Error Task, you can reuse the 
	 Error Task across workflows where the error step executed is same.</p></li>
</ul>
<h2 style="font-size: 14pt;">Issues Fixed</h2>
<p class="GlossaryHeading" style="-webkit-text-stroke-width: 0px; text-decoration-style: initial; 
	 text-decoration-color: initial;"><span style="-webkit-text-stroke-width: 0px; 
											 text-decoration-style: initial; 
											 text-decoration-color: initial;">SCIM 
 Server</span></p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="list">When expiration interval 
	 information was not present for an Access Token, the <span style="font-weight: bold;">OAuth 
	 Access Token Authenticator</span> was failing to authenticate the 
	 access token. This issue was observed as the OAuth authenticator was 
	 assuming that <span style="font-weight: bold;">expires in </span>data 
	 must be present while fetching the access token. This issue has been 
	 resolved.</p></li>
	<li style="margin-left: -20px;">
 <p class="list">The execution of an 
	 operation defined in a <span style="font-weight: bold;">REST Connector</span> 
	 was failing with an error when the <span style="font-weight: bold;">value</span> 
	 specified for any object in the <span style="font-weight: bold;">JSON</span> 
	 structure contained <span style="font-weight: bold;">$ sign</span>.</p></li>
</ul>
<p class="GlossaryHeading">Tuebora Governance</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="list">The error - <span style="font-weight: bold; 
	 font-style: italic;">Evaluation of request failed </span>was displayed 
	 for access requests submitted by a user, whose name contained <span 
	 style="font-weight: bold;">apostrophe</span>. Also, Administrator 
	 or Supervisor was not able to open the <span style="font-weight: bold;">User</span> 
	 <span style="font-weight: bold;">Details</span> page of a user whose 
	 name contained apostrophe.</p></li>
	<li style="margin-left: -20px;">
 <p class="list">Workflow execution 
	 was failing due to HTTP Gateway Time out error. This issue is fixed.</p></li>
	<li style="margin-left: -20px;">
 <p class="list" style="font-variant-ligatures: normal; 
										 font-variant-caps: normal; background-color: #ffffff; 
										 display: inline	 ! important ; 
										 font-family: Arial, sans-serif; 
										 orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; 
										 text-decoration-style: initial; 
										 text-decoration-color: initial;">When 
	 a workflow with a timer step was executed and it was waiting to trigger 
	 the timer step, if the Tuebora Main Server was restarted before the 
	 timer step gets executed, then the workflow process was not triggering 
	 the timer step. Because of this, the workflow execution was remaining 
	 in running state.</p></li>
	<li style="margin-left: -20px;">
 <p class="list" style="font-variant-ligatures: normal; 
										 font-variant-caps: normal; background-color: #ffffff; 
										 display: inline	 ! important ; 
										 font-family: Arial, sans-serif;">When 
	 a workflow containing <span style="font-weight: bold;">Two Named Tasks</span> 
	 which have a <span style="font-weight: bold;">step with the same name 
	 </span>was executed,<span style="font-weight: bold;"> </span>the workflow 
	 execution was remaining in <span style="font-weight: bold;">Running</span> 
	 state.</p></li>
	<li style="margin-left: -20px;">
 <p class="list">When a variable is 
	 declared in a Workflow to read from event data and the incoming event 
	 data has Null value for that variable, then Workflow execution was 
	 failing.</p></li>
	<li style="margin-left: -20px;">
 <p class="list">When user or account 
	 attributes are updated, the <span style="font-weight: bold;">Changed 
	 Data event</span> triggers in Tuebora. The data for this event is 
	 stored in JSON format and the JSON contains separate keys to indicate 
	 the <span style="font-weight: bold;">Old Value</span> and <span style="font-weight: bold;">New 
	 Value</span>. For changed data event,&#160;the JSON created was not 
	 including the key - <span style="font-weight: bold;">Old Value</span> 
	 or <span style="font-weight: bold;">New Value </span>for which value 
	 was 'NULL'. This issue has been resolved.</p></li>
	<li style="margin-left: -20px;">
 <p class="list">The error message - 
	 &#160;<span style="font-weight: bold;">connection reset by peer</span> 
	 was displayed while importing data for an asset using scripted connector 
	 when the SCIM Server was running on proxy.</p></li>
</ul>
<br style="page-break-before: always;" />

<h2>Miscellaneous</h2>
<p class="GlossaryHeading">SSH Key for Secure Connection to Systems</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p style="margin-top: 5pt; margin-bottom: 5pt; 
										 margin-left: 0px;">Tuebora Installer 
	 supports installing product on systems in which the <span style="font-weight: bold;">Public 
	 (SSH) Key</span> size is <span style="font-weight: bold;">4096</span>.</p></li>
</ul>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
