
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Release Notes - Release Notes V1.11.9_Old</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Release_Notes_1.12.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Release_Notes_1.12.htm" class="homelink"><span>Release Notes</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="824">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Release_Notes_1.12.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1 style="text-align: center; color: #000000;">Tuebora Release Notes</h1>
     <h2 style="text-align: center; color: #000000;">Release Date: November 
 2018</h2>
     <p>This Release Notes is for Tuebora version 1.11.9. It lists the enhancements 
 and <span style="font-size: 13.3333px; font-variant-ligatures: normal; 
			 font-variant-caps: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; 
			 background-color: #ffffff; text-decoration-style: initial; 
			 text-decoration-color: initial; display: inline	 ! important ; 
			 float: none;">issues that are fixed in this release</span>.</p>
     <h2>Enhancements</h2>
     <p class="GlossaryHeading"><span>Tuebora Governance</span></p>
     <p class="GlossaryHeading">Access Certification</p>
     <ul style="list-style: disc;">
	<li>
 <p class="list">Tuebora offers capability to group the Access Certification 
	 Tasks by accessing <span style="font-weight: bold;">Group by</span> 
	 feature as a <span style="font-weight: bold;">drop-down option</span>. 
	 The <span style="font-weight: bold;">Group by</span> drop-down options 
	 available are<span style="font-weight: bold;"> User</span>, <span 
	 style="font-weight: bold;">Orphaned Account</span>, <span style="font-weight: bold;">Group</span>,<span 
	 style="font-weight: bold;"> Policy</span>, <span style="font-weight: bold;">Asset</span> 
	 and <span style="font-weight: bold;">Initiated From</span>.</p></li>
	<li style="list-style: disc;">
 <p class="list" style="margin-bottom: 0pt;">The 
	 following four additional columns have been added in the exported 
	 CSV/XML files of Certification Recommendations by Administrator.</p></li>
	<ul style="list-style: square;">
		<li>
  <p class="list" style="margin-top: 0pt; margin-bottom: 4.5pt;">User 
		 Email Address and User Employee Id</p></li>
		<li>
  <p class="list" style="margin-top: 0pt;">Certifier Email Address 
		 and Certifier Employee Id</p></li>
	</ul>
</ul>
<p class="GlossaryHeading" style="font-size: 11pt;"><span style="font-size: 11pt;">Orphaned 
 Account Certification</span></p>
<p>Tuebora offers the following capabilities to certify Orphaned Accounts 
 in assets that are integrated in the system -</p>
<ol style="list-style: decimal;">
	<li>
 <p class="list" style="margin-left: -16pt; margin-bottom: 4.5pt;"><span 
	 style="font-weight: bold;">Create Certification Policies for Account 
	 Certification - </span>Administrator is provided with the option to 
	 create a Certification Policy by selecting the Orphaned Accounts for 
	 Account Certification.</p></li>
	<li>
 <p class="list" style="margin-left: -16pt; margin-bottom: 4.5pt;"><span 
	 style="font-weight: bold;">Certify Orphaned Accounts</span> - The 
	 Certifier can certify the Orphaned Account by selecting any one of 
	 the below option that are available for Orphaned Account review</p></li>
</ol>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-bottom: 0pt;">Disable Account</p></li>
	<li>
 <p class="list" style="margin-bottom: 0pt;">Delete Account</p></li>
	<li>
 <p class="list" style="margin-bottom: 0pt;">Link Account</p></li>
	<li>
 <p class="list" style="margin-bottom: 0pt;">Rename Account</p></li>
</ul>
<p>For more information on Creating a Certification Policy for Account 
 Certification, refer to <span style="font-style: italic;">Tuebora Governance 
 Administrator Guide V1.11.9</span>.</p>
<p>For information on Certifying Orphaned Accounts, refer to <span style="font-style: italic;">Tuebora 
 Governance User Guide V1.11.9</span>.</p>
<p class="GlossaryHeading" style="font-size: 11pt;"><span style="font-size: 11pt;">User 
 Picker</span></p>
<p>New User Picker functionality was introduced in <span style="font-style: italic;">Tuebora 
 version 1.11.8 Release</span>. There were some screens where the new User 
 Picker updates were missing.</p>
<p>As part of this release, the enhanced <span style="font-weight: bold;">User 
 Picker</span> has been implemented across Tuebora Governance.</p>
<h2>Bug Fixes</h2>
<p>When the user with First Name or Last Name having an apostrophe was 
 selected from <span style="font-weight: bold;">All Users</span> page, 
 then when the <span style="font-weight: bold;">Edit User</span> button 
 was clicked from <span style="font-weight: bold;">User Details</span> 
 page, the <span style="font-weight: bold;">Edit User</span> window (or 
 pop-up) was not displayed (TSD-569).</p>
<p>When Data Import jobs were in progress, if any user submits an <span 
	 style="font-weight: bold;">Access Request</span>, the request evaluation 
 was waiting for the pending data import to be completed (TSD-682).</p>
<p>While requesting access in one ore more Asset, the Supervisor was able 
 to search and raise a request for the user who was not his direct reportee 
 (TSD-729).</p>
<p>When Active Directory was used as an Authentication Application in Tuebora 
 and when the users password expired in Active Directory due to the defined 
 AD Password Expiration criteria (For Ex: 60 days), then the system was 
 not redirecting to <span style="font-weight: bold;">Reset Password</span> 
 screen to set the new password. Instead the system was displaying &quot;Invalid 
 User name and Password&quot; error (TSD-770).</p>
<p>When the data import was done from Active Directory after initial data 
 import, the group membership of the user in Active Directory was not showing 
 up under <span style="font-weight: bold;">Access</span> tab in the user 
 profile (TSD-791)</p>
<p>If the users name like First Name or Last Name contained an apostrophe, 
 then when selecting the user and navigating to <span style="font-weight: bold;">Access</span> 
 tab, the <span style="font-weight: bold;">Asset</span> band was not getting 
 expanded and thus Access details was not getting displayed for the user 
 (TSD-802).</p>
<p>During enrollment, when resetting password is enforced for new users, 
 system was displaying the Welcome screen without the Password Reset field 
 on it (TSD-830).</p>
<p>During <span style="font-weight: bold;">Access Certification</span> 
 process, when the Recommendations are exported as CSV/XML, the Recommendation 
 type was missing in the exported file (V181-1210).</p>
<p style="font-style: italic;">In<span style="font-weight: bold;"> User</span> 
 <span style="font-weight: bold;">Details</span> page, not able to click 
 the buttons <span style="font-weight: bold;">Edit User</span> and <span 
	 style="font-weight: bold;">Mark User as Terminated</span> when selected 
 the user with First Name or Last Name having an apostrophe from <span 
	 style="font-weight: bold;">All Users</span> page (V181-2273).</p>
<p>When the users name like First Name or Last Name containing an apostrophe 
 was searched, then &quot;Error 500 - Internal Server Error&quot; was displayed 
 on <span style="font-weight: bold;">All Users</span> page (V181-2288).</p>
<h2>Removed</h2>
<p>During Access Certification process, when the certifier certifies an 
 access for a user, there was a section to apply the Access Recommendation 
 for his other team members. This section has been temporarily disabled 
 (V181-1265).</p>
<p>While Creating a new Asset or Editing the available Asset where SCIM 
 server is used for data import, the option to select which uniquely identifiable 
 User Property to be used for User-Account correlation or linking has been 
 removed (V181-2227).</p>
<p>&#160;</p>
<p class="GlossaryHeading" style="font-size: 12pt;">&#160;</p>
<p class="list">&#160;</p>
<p class="list">&#160;</p>
<p class="TueboraGlossaryText">&#160;</p>
<p class="TueboraGlossaryText">&#160;</p>
<p class="TueboraGlossaryText">&#160;</p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
