
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Release Notes - ReleaseNotesV1.9.1</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Release_Notes_1.12.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Release_Notes_1.12.htm" class="homelink"><span>Release Notes</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="920">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Release_Notes_1.12.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1 style="text-align: center;">Tuebora IAM Suite Release Notes</h1>
     <p class="DocTitle" style="text-align: center;">Release Date: June 2017</p>
     <p>This Release Notes is for Tuebora IAM Suite version 1.9.1. It lists 
 the enhancements and <span style="font-size: 13.3333px; font-variant-ligatures: normal; 
							 font-variant-caps: normal; orphans: 2; widows: 2; 
							 -webkit-text-stroke-width: 0px; background-color: #ffffff; 
							 text-decoration-style: initial; text-decoration-color: initial; 
							 display: inline	 ! important ; float: none;">issues 
 that are fixed in this release</span>.</p>
     <h3>Tuebora IAM Suite Installer</h3>
     <p>A new version of Tuebora IAM Suite Installer <span style="font-weight: bold;">Tuebora-Linux-Installer-1.9-2.tar.bz2</span> 
 is made available and can be used to install Tuebora IAM Suite versions 
 starting 1.8. </p>
     <p>The changes in the installer are:</p>
     <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
	 style="font-weight: bold;">Apache Web Server</span> version upgraded 
	 to <span style="font-weight: bold;">2.4.25</span></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Required 
	 <span style="font-weight: bold;">OpenSSL</span> 
	 changed to <span style="font-weight: bold;">1.1.0f</span></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;">Added 
	 support for configurable <span style="font-weight: bold;">Backup Directory</span> 
	 and<span style="font-weight: bold;"> Working Directory</span></p></li>
</ul>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 To upgrade the Tuebora IAM Suite from earlier versions to 1.9.1 
		 release, first upgrade the software stack and then upgrade the 
		 product build. </p></td>
	</tr>
 </table>
 <p>For more information on upgrading<span style="font-weight: bold;"> </span>Tuebora 
 IAM Suite from earlier versions to V1.9.1 Release, refer <span style="font-weight: bold; 
	 font-style: italic;">Tuebora IAM Suite Installation Guide</span>.</p>
 <h3>Enhancements</h3>
 <p class="GlossaryHeading">Tuebora Governance</p>
 <ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText"><span 
	 style="font-weight: bold;">Select Assets from Drop-drown List</span> 
	 - Drop-down list is introduced for selecting Assets in the Specify 
	 Access in Assets window when creating Access Request, Control Definitions, 
	 and Provisioning Rules. Also, added support for search filtering in 
	 drop-down selections.</p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">Access 
	 Grant Details UI of enhanced to show the 
	 <span style="font-weight: bold;">Start </span>and <span style="font-weight: bold;">End</span> 
	 <span style="font-weight: bold;">Date</span> for Group Memberships 
	 granted to User.</p></li>
</ul>
<p class="GlossaryHeading">Tuebora Pass</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText"><span 
	 style="font-weight: bold;">Email</span> <span style="font-weight: bold;">Notifications</span> 
	 - Following new Email Notifications are provided to:</p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">End</span> <span style="font-weight: bold;">Users</span> 
 - Notification about the status of Password Synchronization to Lotus Notes 
 and Domino Server.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Service</span> <span style="font-weight: bold;">Desk</span> 
 <span style="font-weight: bold;">Users</span> - Notifications about the 
 Password Synchronization failure to Lotus Notes and Domino Server and 
 if the private key is missing for users.</p>
<h3>Issues Fixed</h3>
<p class="GlossaryHeading">Tuebora Governance</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">Search 
	 functionality for Administrator and Users with Supervisor Role was 
	 not working as expected.</p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">When 
	 a user requested membership in multiple groups in an Access Request 
	 and these access were approved one at a time by an Access Approver, then duplicate fulfillment tasks were 
	 created for the access that were approved earlier for the Access Request. 
	 </p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">Duplicate 
	 Access Approval Tasks are created, when the First Level Approver and Second Level Approver 
	 are same.</p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">When 
	 a user was marked for termination, an Access which was already revoked 
	 for the user was being displayed with the status p<span style="font-style: italic;">ending 
	 for removal</span> in the <span style="font-weight: bold;">Access 
	 Termination Status</span> shown in <span style="font-weight: bold;">Analysis</span> 
	 section in <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Details</span> 
	 page.</p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">Duplicate 
	 Asset Names were displayed in the Access Granted email notification 
	 sent to Supervisor.</p></li>
</ul>
<p class="GlossaryHeading">Tuebora Pass</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">On<span 
	 style="font-weight: bold;"> </span>the<span style="font-weight: bold;"> 
	 </span>Activity<span style="font-weight: bold;"> </span>History<span 
	 style="font-weight: bold;"> </span>page,<span style="font-weight: bold;"> 
	 </span>for<span style="font-weight: bold;"> </span>all<span style="font-weight: bold;"> 
	 Local Agent Task Failed </span>activities<span style="font-weight: bold;"> 
	 </span>the following was observed:</p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>IP Address was encrypted in the <span style="font-weight: bold;">Client 
 IP Address</span> column.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Hyphen </span>(-)<span style="font-weight: bold;"> 
 </span>was displayed instead of Asset Name in the <span style="font-weight: bold;">Asset 
 </span>column.</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">When a user enrolled in Tuebora Pass by providing 
	 Domino server and lotus notes ID file, the message <span style="font-weight: bold;">The 
	 Parameter is incorrect</span> was observed on local agent console 
	 while reading encrypted passwords and password synchronization in 
	 lotus Notes was failing.</p></li>
	<li>
 <p class="list">The Asset name displayed for Lotus Notes reset 
	 password activities was Domino Server instead of Lotus Notes on the 
	 Activity History page.</p></li>
	<li>
 <p class="list">Local Agent tasks to reset password for Lotus Notes 
	 were not created if the previous reset password operation performed 
	 for Lotus Notes was failed.</p></li>
	<li>
 <p class="list">The error message -<span style="font-weight: bold;"> 
	 Internal server error-500</span> in Local Agent response and <span 
	 style="font-weight: bold;">Null Pointer Exception</span> in Server 
	 Log was observed, when<span style="font-weight: bold;"> </span>the 
	 password synchronization to Lotus Notes Asset was failed and user 
	 performed Synchronize Password operation from the portal.</p></li>
	<li>
 <p class="list">Lotus Notes error messages were not translated 
	 correctly.</p></li>
	<li>
 <p class="list" style="background-color: #ffffff;"><span style="font-weight: bold;">Reset</span> 
	 button is removed from the <span style="font-weight: bold;">Reset 
	 Password</span> page.</p></li>
	<li>
 <p class="list" style="background-color: #ffffff;"><span style="font-weight: bold;">Hyphen 
	 </span>(-)<span style="font-weight: bold;"> </span>was displayed instead 
	 of password expiration date in the <span style="font-weight: bold;">Password</span> 
	 <span style="font-weight: bold;">Expiration</span> field for Domino 
	 Server and Lotus Notes Assets.</p></li>
	<li>
 <p class="list" style="background-color: #ffffff;">Vertical scroll 
	 bar was not working on the <span style="font-weight: bold;">Password 
	 &#160;Requirements</span> window displayed in <span style="font-weight: bold;">New</span> 
	 <span style="font-weight: bold;">Password</span> field on <span style="font-weight: bold;">Reset</span> 
	 Password page.</p></li>
	<li>
 <p class="list" style="background-color: #ffffff;">Domino Server 
	 Service Account, User Old and New password are displayed in plain 
	 text on Local Agent Console.</p></li>
	<li>
 <p class="list" style="background-color: #ffffff;">The exception 
	 Password cannot be null or empty was displayed for some users when 
	 password was changed from the Tuebora Pass portal. This is observed 
	 only When password Filter was configured in the Tuebora Pass Deployment.</p></li>
	<li>
 <p class="list" style="background-color: #ffffff;"><span style="font-weight: bold;">Enter</span> 
	 button functionality was not proper in <span style="font-weight: bold;">Reset</span> 
	 <span style="font-weight: bold;">Password</span> and <span style="font-weight: bold;">Unlock</span> 
	 <span style="font-weight: bold;">Account</span> page. When Enter button 
	 was used, the application was navigating to previous page.</p></li>
</ul>
<ul style="list-style: disc; font-variant-ligatures: normal; font-variant-caps: normal; 
		 orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; 
		 text-decoration-color: initial;">
	<li style="color: #000000;">
 <p class="list" style="font-size: 10pt; 
									 margin-top: 5pt; margin-left: 2pt; 
									 margin-bottom: 5pt; line-height: normal; 
									 text-align: justify;">Reflected Cross-Site 
	 Scripting (XSS) was not handled at cookie 
	 level. Because of this Java script code was executing when it was 
	 at cookie parameter level.</p></li>
	<li style="color: #000000;">
 <p class="list" style="font-size: 10pt; 
									 margin-top: 5pt; margin-left: 2pt; 
									 margin-bottom: 5pt; line-height: normal; 
									 text-align: justify;">TRACE or TRACE 
	 HTTP method on the web server was enabled.</p></li>
	<li style="color: #000000;">
 <p class="list" style="font-size: 10pt; 
									 margin-top: 5pt; margin-left: 2pt; 
									 margin-bottom: 5pt; line-height: normal; 
									 text-align: justify;">Server banner 
	 was verbose and contained sensitive information.</p></li>
	<li style="color: #000000;">
 <p class="list" style="margin-top: 5pt; 
									 margin-left: 2pt; margin-bottom: 5pt; 
									 font-size: 10pt; line-height: normal; 
									 text-align: justify;">Application's 
	 vulnerability to session hijacking attack was observed.</p></li>
	<li style="color: #000000;">
 <p class="list" style="font-size: 10pt; 
									 margin-top: 5pt; margin-left: 2pt; 
									 margin-bottom: 5pt; line-height: normal; 
									 text-align: justify;">Web Browser 
	 URL contained sensitive information.</p></li>
	<li style="color: #000000;">
 <p class="list" style="font-size: 10pt; 
									 margin-top: 5pt; margin-left: 2pt; 
									 margin-bottom: 5pt; line-height: normal; 
									 text-align: justify;">Server path 
	 disclosure issue was observed. </p></li>
	<li style="color: #000000;">
 <p class="list" style="font-size: 10pt; 
									 margin-top: 5pt; margin-left: 2pt; 
									 margin-bottom: 5pt; line-height: normal; 
									 text-align: justify;">tuebora_prefLang parameter was found vulnerable 
	 to SQL injection attack.</p></li>
	<li style="color: #000000;">
 <p class="list" style="margin-top: 5pt; 
									 margin-left: 2pt; margin-bottom: 5pt; 
									 font-size: 10pt; line-height: normal; 
									 text-align: justify;">Tuebora Pass 
	 web interface was vulnerable to Cross Site Request Forgery attack.</p></li>
	<li style="color: #000000;">
 <p class="list" style="font-size: 10pt; 
									 margin-top: 5pt; margin-left: 2pt; 
									 margin-bottom: 5pt; line-height: normal; 
									 text-align: justify;">Tuebora Pass 
	 was vulnerable to Privilege escalation. Because of this a user could 
	 view other user's activities and reset the password.</p></li>
</ul>
<p class="GlossaryHeading">Tuebora SSO</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">The 
	 responses specified for Challenge Questions were not saving for Administrator 
	 and End Users.</p></li>
</ul>
<p class="TueboraGlossaryText">&#160;</p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
