
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Release Notes - Releasr Notes V1.10 Mar</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Release_Notes_1.12.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Release_Notes_1.12.htm" class="homelink"><span>Release Notes</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1016">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Release_Notes_1.12.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1 style="text-align: center;">Tuebora Release Notes</h1>
     <p class="DocTitle" style="text-align: center;">Release Date: April 2018</p>
     <p class="TueboraGlossaryText">This Release Notes is for Tuebora version 
 1.10.1. It lists the enhancements and <span style="font-size: 13.3333px; 
											 font-variant-ligatures: normal; 
											 font-variant-caps: normal; 
											 orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; 
											 background-color: #ffffff; 
											 text-decoration-style: initial; 
											 text-decoration-color: initial; 
											 display: inline	 ! important ; 
											 float: none;">issues that 
 are fixed in this release</span>.</p>
     <h3 class="TueboraGlossaryText">Enhancements</h3>
     <p class="GlossaryHeading">Access Request Form</p>
     <p class="TueboraGlossaryText">A new option <span style="font-weight: bold;">Specify 
 what you want to Request </span>is provided in <span style="font-weight: bold;">Access 
 Request</span> form. This option provides a drop-down list where end users 
 can select what they want to request. Currently, this option supports 
 requesting Access in one or more Asset.</p>
     <p class="GlossaryHeading">Global Search</p>
     <ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">Global 
	 Search (<img src="GlobalSearch.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />) icon added to top-right 
	 corner of Tuebora Portal UI; replaces the old Global Search box.</p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">New 
	 Global Search UI is provided.</p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">Global 
	 Search provides the capability to search the following entities by 
	 Name:</p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Users</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Groups</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Accounts</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Assets 
 </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Resources</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">Global Search feature is not available for Regular 
	 Users in Tuebora.<br />
	<br />
	For more information on Global Search, refer <span style="font-weight: bold; 
														 font-style: italic;">Tuebora 
	 IAM Suite - Administrator or User Guide</span>.</p></li>
</ul>
<p class="GlossaryHeading">The Entity Picker</p>
<p class="TueboraGlossaryText">Entity Picker&#160;experience in User-List 
 field in a form or Select Users window is improved. The new Entity Picker 
 capabilities are:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Displays 
 Meta data for users who you want to select.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Supports 
 Single or Multiple User selection.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>View 
 selected User's information.<span style="text-indent: -20px;"><br />
</span><br />
For more information on Entity Picker, refer <span style="font-weight: bold; 
													 font-style: italic;">Tuebora 
 IAM Suite - Administrator or User Guide</span>.</p>
<br style="page-break-before: always;" />

<p class="GlossaryHeading">SCIM Server</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">New<span 
	 style="font-weight: bold;"> SCIM Server Version 1.4</span> is now 
	 available. You can download the new version of the SCIM Server from 
	 <span style="font-weight: bold;">https://scim.tuebora.com</span>. 
	 </p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText"><span 
	 style="text-indent: -20px;">The following three new operations are 
	 added for out-of-the-box </span><span style="text-indent: -20px; font-weight: bold;">Active 
	 Directory</span><span style="text-indent: -20px;"> connector. You 
	 can download the latest out-of-the-box Active Directory connector 
	 from </span><span style="text-indent: -20px; font-weight: bold;">Tuebora</span><span 
	 style="text-indent: -20px;"> </span><span style="text-indent: -20px; 
												 font-weight: bold;">Connectors</span><span 
	 style="text-indent: -20px;"> page by logging into <a href="https://scim.tuebora.com" 
															 target="_blank">https://scim.tuebora.com</a>.</span></p></li>
</ul>
<p style=" margin-left: 130px; text-indent: -30px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">testConnection</span> - This operation 
 is added to verify the connection between the Target Active Directory 
 and Tuebora.</p>
<p style=" margin-left: 130px; text-indent: -30px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">RemoveallUserGroupMembership</span> &#160;- 
 This operation is added to provide the capability to remove all group 
 memberships granted to users at once.<br />
<br />
This operation does not remove the group membership that is added as primary 
 for the user object.</p>
<p style="margin-left: 130px; 
											 text-indent: -30px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">RemoveMultipleGroupMemberships</span> - 
 This operation is added to provide the capability to remove more than 
 one group memberships granted to users.</p>
<h3 class="TueboraGlossaryText">Issues Fixed</h3>
<p class="GlossaryHeading">SCIM Server</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">In out-of-the-box Windows File Share connector, 
	 the <span style="font-weight: bold;">EnableSharing</span> operation 
	 was not working. This issue has been resolved.</p></li>
</ul>
<p class="GlossaryHeading">Tuebora Governance</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">The 
	 <span style="font-weight: bold;">Create Access Request API</span> 
	 was not working in Version V1.10 latest build. This issue has been 
	 resolved.<br />
	To make the Create Access Request API work, you must re-deploy the 
	 latest <span style="font-weight: bold;">Tuebora</span> connector.</p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">Delegating 
	 Tuebora Portal User Authentication to Active Directory was not working 
	 in Version V1.10 latest build. This issue has been resolved.</p></li>
</ul>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 To make the delegated authentication work in Tuebora, you must:</p>
		<ul style="list-style: circle;">
			<li style="margin-left: -20px; list-style: disc;">
   <p class="TableText">Download 
			 the latest <span style="font-weight: bold;">SCIM Server Version 
			 1.4</span>&#160;from https://scim.tuebora.com</p></li>
			<li style="margin-left: -20px; list-style: disc;">
   <p class="TableText">Re-deploy 
			 the latest <span style="font-weight: bold;">Active Directory 
			 Connector</span> from Tuebora Connectors page on SCIM Server 
			 UI.</p></li>
			<li style="margin-left: -20px; list-style: disc;">
   <p class="TableText">Register 
			 <span style="font-weight: bold;">testconnection</span> operation 
			 for Active Directory connector.<br />
			<br />
			For more information on registering <span style="font-weight: bold;">testconnection</span> 
			 operation, refe<span style="font-weight: bold;">r Asset Integration</span> 
			 chapter in <span style="font-weight: bold;">Deployment Guide</span>.</p></li>
			<li style="margin-left: -20px; list-style: disc;">
   <p class="TableText">Define 
			 the Authentication Source in the Authentication Configuration.<br />
			<br />
			For more information on how to configure the Tuebora portal 
			 delegated authentication, refer <span style="font-weight: bold;">Portal 
			 Security Management</span> chapter in <span style="font-weight: bold;">Deployment</span> 
			 <span style="font-weight: bold;">Guide</span>.</p></li>
		</ul></td>
	</tr>
</table>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">The 
	 following new Events are provided in Tuebora: </p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">RemoveAccessImmediate</span> - This event 
 can be used in workflow to remove access that are marked for immediate 
 removal.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">MarkedTemporaryAccess</span> - This event 
 can be used in workflow to remove access that are marked for retaining 
 temporarily and deleting after the specified period.</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">When new user records were created or edited from 
	 Tuebora Portal, for the following out-of-the-box user attributes value 
	 was not getting updated in Tuebora Database: </p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>last_modified_by_user_id 
 </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>last_modified_by_ac_id</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">Data collection for Windows File share Asset using 
	 out-of-the-box Windows File share connector was failing when the length 
	 of the directory command which is constructed to fetch the share data 
	 was more than 8000 characters. This issue has been resolved.</p></li>
	<li>
 <p class="list">While provisioning new user creation in Target 
	 applications or importing data into Tuebora from the target applications, 
	 Tuebora creates the resource data .csv files in human readable format 
	 and these files were not removed after the task is completed. Now 
	 this issue has been resolved. The resource data files will be removed 
	 after the task is completed.</p></li>
	<li>
 <p class="list">Users terminated from Tuebora portal was able to 
	 login to the system even after the termination status was fulfilled 
	 in the target application. This issue has been resolved</p></li>
</ul>
<h3>Known Issues</h3>
<p class="GlossaryHeading">Asset Management</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">Not 
	 able to create a new Asset by selecting any of the following options 
	 in &#160;<span style="font-weight: bold;">How do you want provisioning/deprovisioning 
	 to be fulfilled or handled for this Asset?</span> field. </p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Done 
 directly in the Asset from Server</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Done 
 directly in Asset from SCIM Server </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Exported 
 as Change Requests/Service Tickets in an External System</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Email 
 to these recipients address</p>
<p style="margin-left: 72px; font-weight: bold;"><span style="text-indent: -20px;">W</span>orkaround</p>
<p style="
font-weight:normal; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select the option <span style="font-weight: bold;">Do 
 Nothing</span> to create a new Asset.</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p style="margin-left: 24px;">Cannot 
	 change the Data Import Method specified while creating an Asset.</p></li>
</ul>
<p class="GlossaryHeading">Global Search</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">Owner 
	 data is not displayed for Accounts and Resources Entity search results.</p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">Pagination 
	 is not available on Global Search page. The All and Entity tabs display 
	 only the top 10 search results.</p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">The 
	 special characters - <span style="font-weight: bold;">&amp;^/' &lt;&gt; 
	 &gt;&lt;</span> are not supported for searching data in Global Search.</p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">Users 
	 created with Future Hire Data are not listed in the search results.</p></li>
	<li style="margin-left: -20px;">
 <p class="TueboraGlossaryText">Cannot 
	 search a newly added Asset in Global Search.</p></li>
</ul>
<br style="page-break-before: always;" />

<p class="GlossaryHeading">Tuebora Installer</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">When you use the latest Tuebora Installer to install 
	 the product using the Two-System deployment strategy in two legs, 
	 the MySQL process is getting automatically terminated in Database 
	 Node 2.<br />
	<br />
	This is observed only in fresh installation of product. After upgrading 
	 the product services are started properly.<br />
	<br />
	<span style="font-weight: bold;">Workaround</span></p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Start 
 the Mysql service manually on Database Node 2.<br />
Use the following command to start the MySQL service - <span style="font-style: italic; 
															 font-weight: bold;">&lt;install 
 base dir&gt;/&lt;mysql install folder&gt;/support-files/mysql.server start</span></p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>After 
 the MySQL service is started successfully in node 2 you must restart:</p>
<p style=" margin-left: 130px; text-indent: -30px;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">ActiveMQ service</span><br />
Run the command - <span style="font-style: italic; font-weight: bold;">&lt;install 
 base dir&gt;/apache-activemq-5.14.1/cluster/broker/bin/broker restart</span></p>
<p style="margin-left: 130px; 
											 text-indent: -30px; font-weight: bold;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Tuebora 
 Main Server service</p>
<p style=" margin-left: 160px;">i.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Run 
 the command - <span style="font-weight: bold; font-style: italic;">&lt;install 
 base dir&gt;/apache-tomee-server/bin/shutdown.sh -force</span></p>
<p style=" margin-left: 160px;">ii.<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Run 
 the command - <span style="font-weight: bold; font-style: italic;">&lt;install 
 base dir&gt;/apache-tomee-server/bin/startup.sh</span></p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
