
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Release Notes - Release 1.11.8_Old</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Release_Notes_1.12.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Release_Notes_1.12.htm" class="homelink"><span>Release Notes</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="152">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Release_Notes_1.12.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1 style="text-align: center; color: #000000;">Tuebora Release Notes</h1>
     <h2 style="text-align: center; color: #000000;">Release Date: October 2018</h2>
     <p>This Release Notes is for Tuebora version 1.11.7. It lists the new features, 
 enhancements, and <span style="font-size: 13.3333px; font-variant-ligatures: normal; 
						 font-variant-caps: normal; orphans: 2; widows: 2; 
						 -webkit-text-stroke-width: 0px; background-color: #ffffff; 
						 text-decoration-style: initial; text-decoration-color: initial; 
						 display: inline	 ! important ; float: none;">issues 
 that are fixed in this release</span>.</p>
     <h2 style="color: #000000;">New Feature</h2>
     <p class="GlossaryHeading">Workflow Management </p>
     <p>The following TWO new elements are supported in the Variable Definition 
 in Workflows (V181-2109):</p>
     <ul style="list-style: disc; color: #000000;">
	<li style="color: #000000;">
 <p class="list" style="margin-top: 4.5pt; 
									 margin-bottom: 0pt;"><span style="font-weight: bold;">nullable</span> 
	 - To set whether the null value can be passed for the variable or 
	 not. The value that can be set for this element is true or false.</p></li>
	<li style="color: #000000;">
 <p class="list" style="margin-top: 4.5pt; 
									 margin-bottom: 0pt;"><span style="font-weight: bold;">defaultValue</span> 
	 - To specify a default value for a variable. For more information 
	 on defining Variables, refer <span style="font-style: italic; font-weight: bold;">Workflow 
	 Developer Guide</span>.</p></li>
</ul>
<h2 style="color: #000000;">Enhancements</h2>
<p>&#160;</p>
<p class="GlossaryHeading" style="font-size: 12pt; color: #000000;">Tuebora 
 Governance</p>
<p class="GlossaryHeading" style="color: #000000;">Service Account Management</p>
<ul style="list-style: disc; color: #000000;">
	<li style="color: #000000;">
 <p class="list" style="margin-bottom: 0px; 
									 margin-top: 6px;">Tuebora offers enhancements 
	 to the current user provisioning and de-provisioning feature by introducing 
	 the following two new features -</p></li>
	<li style="list-style: square; color: #000000;">
 <p class="list" style="margin-bottom: 0px; 
														 margin-top: 6px; 
														 margin-left: 38pt;">Provision 
	 access request for Service accounts.</p></li>
	<li style="list-style: square; color: #000000;">
 <p class="list" style="margin-top: 4.5pt; 
														 margin-bottom: 0pt; 
														 margin-left: 38pt;">De-provision 
	 of Service accounts. &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</p></li>
	<li style="color: #000000;">
 <p class="list" style="margin-top: 13pt;">Tuebora 
	 provides capability to reset the password for Service accounts.</p></li>
</ul>
<p class="GlossaryHeading" style="color: #000000;">Password Policy Enhancements 
 for Service accounts</p>
<p style="color: #000000;">Tuebora provides capability to perform the following:</p>
<ul style="list-style: disc; color: #000000;">
	<li style="color: #000000;">
 <p class="list" style="margin-bottom: 0pt;">Create 
	 Password Policy for Service accounts</p></li>
	<li style="color: #000000;">
 <p class="list" style="margin-bottom: 0pt;">Enforce 
	 Password Policy during Password Reset for Service accounts</p></li>
</ul>
<p class="GlossaryHeading">Global Search</p>
<p style="color: #000000;">Tuebora offers enhancements to the <span style="font-weight: bold;">Global 
 Search</span> capability. You can search any resource (Users, Assets, 
 Accounts) in the system based on search-able attributes, like Email Address, 
 Employee ID, Name, etc.</p>
<p class="GlossaryHeading">Workflow Management</p>
<ul style="list-style: disc; color: #000000;">
	<li style="color: #000000;">
 <p class="list">Tuebora offers <span style="font-weight: bold;">Search</span> 
	 and <span style="font-weight: bold;">Filter</span> option in the <span 
	 style="font-weight: bold;">Workflows &gt; Execution History</span> 
	 page in order to provide convenience to the users to search and find 
	 the required Workflow Execution. </p></li>
	<li style="color: #000000;">
 <p class="list" style="margin-bottom: 6px;">Tuebora 
	 introduces the <span style="font-weight: bold;">Export</span> feature 
	 in the <span style="font-weight: bold;">Workflows &gt; Execution History</span> 
	 page that allows users to Export the following data to .xls or .pdf 
	 format</p></li>
	<li style="list-style: square; color: #000000;">
 <p class="list" style="margin-left: 38pt; 
														 margin-top: 0pt; 
														 margin-bottom: 0px;">Tasks</p></li>
	<li style="list-style: square; color: #000000;">
 <p class="list" style="margin-left: 38pt; 
														 margin-top: 0pt; 
														 margin-bottom: 0px;">Task 
	 Steps</p></li>
</ul>
<p class="GlossaryHeading">User Management</p>
<p style="color: #000000;">Tuebora offers enhancements to the <span style="font-weight: bold;">User 
 Picker</span> capability. You can search any resource (Users, Assets, 
 Accounts) in the system based on search-able attributes, like Email Address, 
 Employee ID, Name, etc.</p>
<p class="GlossaryHeading">Asset Management</p>
<ul style="list-style: disc; color: #000000;">
	<li style="color: #000000;">
 <p class="list" style="margin-top: 12px; 
									 margin-bottom: 0px;"><span style="font-weight: bold;">Delete 
	 Governed Assets -</span> Using this feature, you can delete (V181-765):</p></li>
	<li style="list-style: square; color: #000000;">
 <p class="list" style="margin-left: 38pt; 
														 margin-top: 12px; 
														 margin-bottom: 0px;">Asset 
	 for which data is not imported</p></li>
	<li style="list-style: square; color: #000000;">
 <p class="list" style="margin-bottom: 0pt; 
														 margin-top: 4pt; 
														 margin-left: 38pt;">Asset 
	 for which data is imported</p></li>
	<li style="color: #000000;">
 <p class="list" style="margin-top: 13pt;"><span 
	 style="font-weight: bold;">Edit Governed Asset Details</span> - Tuebora 
	 offers capability to Edit the name of the Asset in the Show Asset 
	 details window of All Assets page.</p></li>
</ul>
<p class="GlossaryHeading">Workflow Management</p>
<p class="list">Tuebora offers <span style="font-weight: bold;">Search</span> 
 and <span style="font-weight: bold;">Filter</span> option in the <span 
	 style="font-weight: bold;">Workflows &gt; Execution History</span> 
 page in order to provide convenience to the users to search and find the 
 required Workflow Execution. </p>
<p class="GlossaryHeading">Bug Fixes</p>
<ul style="list-style: square; color: #000000;">
	<li style="font-size: 10pt; color: #000000;">
 <p class="list">&#160;</p></li>
	<li style="font-size: 10pt; color: #000000;">
 <p class="list">&#160;</p></li>
	<li style="font-size: 10pt; color: #000000;">
 <p class="list">If the 
	 users name like First Name or Last Name contains an apostrophe, then 
	 the Email Address was getting populated as null value (TSD-736).</p></li>
	<li style="font-size: 10pt; color: #000000;">
 <p class="list">When a 
	 workflow task contained a timer step, in some workflow processes the 
	 timer step was re-run even after successful completion (V181-2046).</p></li>
	<li style="font-size: 10pt; color: #000000;">
 <p class="list">The Workflow 
	 Template Step was not able to determine the SCIM call response and 
	 returned an error during resolution, if the response had escape parameters 
	 (\) and double quotes (&quot;&quot;) between the steps definition 
	 JSON array (V181-2164).</p></li>
	<li style="font-size: 10pt; color: #000000;">
 <p class="list">When large 
	 numbers of workflow processes are generated for a workflow, for few 
	 workflow processes one workflow step was getting skipped. Because 
	 of this workflow execution was failing (TSD-668).</p></li>
	<li style="font-size: 10pt; color: #000000;">
 <p class="list">When the 
	 response value of Workflow Step execution contains <span style="font-weight: bold;">'\'</span> 
	 and it is referred in subsequent steps, then JSON evaluation was failing.<br />
	<br />
	Also, if the event data contains '<span style="font-weight: bold;">\\'</span> 
	 for any of the attribute and it is referred in any step, &#160;then 
	 '\' was getting escaped instead of passing the value for the step 
	 execution.(TSD-568)</p></li>
	<li style="font-size: 10pt; color: #000000;">
 <p class="list">In <span 
	 style="font-weight: bold;">Workflow Execution</span> <span style="font-weight: bold;">History</span>, 
	 the status of some Workflow Processes was displayed as <span style="font-weight: bold;">In 
	 Progress</span> for a long time, when the workflow process did not 
	 contain any duplicate Steps or Tasks or no error was observed in the 
	 SCIM Server or Tuebora Main Server.(V181-2110)</p></li>
	<li style="font-size: 10pt; color: #000000;">
 <p class="list">When a 
	 workflow task contained a timer step, in some workflow processes the 
	 timer step was re-run even after successful completion. (V181-2046)</p></li>
	<li style="font-size: 10pt; color: #000000;">
 <p class="list">When a 
	 variable was not defined in the workflow or the value for a variable 
	 is not available in the event data, then the value for that variable 
	 was being passed as <span style="font-weight: bold;">NULL</span>. 
	 (V181-2109)</p></li>
</ul>
<p class="GlossaryHeading">Removed</p>
<p>Edit Layout feature that was available to the Administrator has been 
 temporarily removed.</p>
<p class="GlossaryHeading">&#160;</p>
<p class="GlossaryHeading">Kiosk Installer</p>
<ul style="list-style: disc; color: #000000;">
	<li style="color: #000000;">
 <p class="list">In Tuebora Pass, to Reset 
	 password when users are not using intranet, Kiosk Account can be used. 
	 Kiosk Installer is provided to install the Kiosk account on End User 
	 computers using Local User and Domain User Account. (IPASS-433)</p></li>
</ul>
<p class="GlossaryHeading" style="font-size: 12pt;">Tuebora Pass</p>
<ul style="list-style: disc; color: #000000;">
	<li style="color: #000000;">
 <p class="list">Local Agent was not reading 
	 the user certificate when the language setting in end user machine 
	 is other than &quot;English&quot;. Because of this Password synchronization 
	 was not happening in the Lotus Notes ID file and Domino Server. (IP-294)</p></li>
</ul>
<p class="list">&#160;</p>
<p class="TueboraGlossaryText">&#160;</p>
<p class="TueboraGlossaryText">&#160;</p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
