
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Release Notes - Release 1.16.2</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Release_Notes_1.12.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Release_Notes_1.12.htm" class="homelink"><span>Release Notes</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="344">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Release_Notes_1.12.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1 style="text-align: center; color: #000000; font-family: Verdana, sans-serif;">Tuebora 
 Release Notes</h1>
     <h2 style="text-align: center; color: #000000; font-family: Verdana, sans-serif;">Release 
 Date: November 2019</h2>
     <p style="font-family: Verdana, sans-serif;">This Release Notes is for 
 Tuebora IAM Suite version 1.16.2. It lists the <span style="font-variant-ligatures: normal; 
														 font-variant-caps: normal; 
														 orphans: 2; widows: 2; 
														 -webkit-text-stroke-width: 0px; 
														 background-color: #ffffff; 
														 text-decoration-style: initial; 
														 text-decoration-color: initial; 
														 display: inline	 ! important ; 
														 float: none;">enhancements 
 and issues that are fixed in this release</span>.</p>
     <h2 style="font-family: Verdana, sans-serif;">Enhancements</h2>
     <p class="GlossaryHeading" style="font-family: Verdana, sans-serif;">Tuebora 
 IAM Suite Installer</p>
     <p style="font-weight: normal; font-family: Verdana, sans-serif;"><span 
	 style="text-indent: -20px;">A new version of </span><span style="font-weight: bold;">Tuebora-Linux-Installer-1.16.2.tar.bz2</span> 
 <span style="text-indent: -20px;">and</span> <span style="font-weight: bold;">Tuebora-Linux-Patch-Installer-1.16.2.tar.bz2</span> 
 <span style="text-indent: -20px;">are made available. </span></p>
     <p class="GlossaryHeading" style="font-family: Verdana, sans-serif;">User 
 Session Expiring Message</p>
     <p style="font-family: Verdana, sans-serif;">In <span style="font-weight: bold;">Tuebora 
 Governance</span>, session timeout was not triggering expected UI warning 
 or message. Instead, it was ending the user session and message stating 
 the reason for ending session was being displayed on the Login page. This 
 behavior has been changed.<br />
<br />
In the current release the behavior to capture the browser inactivity has 
 been changed and UI message for session timeout is introduced. If the 
 user session is inactive/idle, then Tuebora portal displays a Session 
 Expiring Message on the UI <span style="font-weight: bold;">ONE</span> 
 minute before the session inactivity timeout interval. User can either 
 choose to stay logged in or allow the session to end.</p>
     <p class="GlossaryHeading" style="font-family: Verdana, sans-serif;">Session 
 Timeout Settings</p>
     <p style="font-family: Verdana, sans-serif;">Now system expects that the 
 <span style="font-weight: bold;">Session Timeout</span> duration defined 
 must be <span style="font-weight: bold;">2</span> or <span style="font-weight: bold;">more 
 than 2</span>. </p>
     <p class="GlossaryHeading" style="font-family: Verdana, sans-serif;">Entity 
 Information (<img src="Images/Icon_info.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" />) UI</p>
     <ul style="list-style: disc;">
	<li style="font-family: Verdana, sans-serif;">
 <p class="list">Entity 
	 Information UI has been given a visual face-lift. </p></li>
	<li style="font-family: Verdana, sans-serif;">
 <p class="list">In the 
	 earlier versions, Information pop-up window was closing only when 
	 you click outside of the window. In this release, Entity Information 
	 Pop-up window closing behavior has been changed. Now the window closes 
	 <span style="text-indent: -20px;">when you click on the window or 
	 outside of the window.</span></p></li>
</ul>
<p class="GlossaryHeading"><span style="font-family: Verdana, sans-serif;">All 
 Requests</span></p>
<ul style="list-style: disc;">
	<li style="font-family: Verdana, sans-serif;">
 <p class="list">Tuebora 
	 provides the capability to export the records in PDF and XLS format 
	 from <span style="font-weight: bold;">All Requests</span> views.</p></li>
	<li style="font-family: Verdana, sans-serif;">
 <p class="list">Options 
	 to <span style="font-weight: bold;">Filter (Limit To)</span> the requests 
	 based on period have been changed.</p></li>
	<li style="font-family: Verdana, sans-serif;">
 <p class="list"><span 
	 style="text-indent: -30px;">A new column </span><span style="text-indent: -30px; 
															 font-weight: bold;">Request 
	 Id </span><span style="text-indent: -30px;">is provided. This column 
	 shows the status of the request.</span></p></li>
	<li style="font-family: Verdana, sans-serif;">
 <p class="list"><span 
	 style="text-indent: -30px;"><img src="EntityInfo.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" /></span> icon is provided 
	 for <span style="font-weight: bold;">Request Id</span> to view the 
	 request details.</p></li>
	<li style="font-family: Verdana, sans-serif;">
 <p class="list"><span 
	 style="text-indent: -30px; font-weight: bold;">Request by </span><span 
	 style="text-indent: -30px;">column is removed.</span></p></li>
	<li style="font-family: Verdana, sans-serif;">
 <p class="list"><span 
	 style="text-indent: -30px;">Capability to filter records based on 
	 request </span><span style="text-indent: -30px; font-weight: bold;">Status</span><span 
	 style="text-indent: -30px;"> is provided.</span></p></li>
</ul>
<br style="page-break-before: always;" />

<p class="GlossaryHeading" style="font-family: Verdana, sans-serif;">My 
 Requests</p>
<ul style="list-style: disc;">
	<li style="font-family: Verdana, sans-serif;">
 <p class="list">Tuebora 
	 provides the capability to export the records from <span style="font-weight: bold;">All 
	 Requests</span> and <span style="font-weight: bold;">My Requests</span> 
	 views.</p></li>
	<li style="font-family: Verdana, sans-serif;">
 <p class="list">Options 
	 to <span style="font-weight: bold;">Filter (Limit To)</span> the requests 
	 based on period have been changed.</p></li>
	<li style="font-family: Verdana, sans-serif;">
 <p class="list"><span 
	 style="text-indent: -30px;">A new column </span><span style="text-indent: -30px; 
															 font-weight: bold;">Request 
	 Id </span><span style="text-indent: -30px;">is provided. This column 
	 shows the status of the request.</span></p></li>
	<li style="font-family: Verdana, sans-serif;">
 <p class="list"><img src="EntityInfo.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" /> icon 
	 is provided for <span style="font-weight: bold;">Request Id</span> 
	 to view the request details.</p></li>
	<li style="font-family: Verdana, sans-serif;">
 <p class="list"><span 
	 style="text-indent: -30px; font-weight: bold;">Request by </span><span 
	 style="text-indent: -30px;">column is removed.</span></p></li>
	<li style="font-family: Verdana, sans-serif;">
 <p class="list"><span 
	 style="text-indent: -30px;">Capability to filter records based on 
	 request </span><span style="text-indent: -30px; font-weight: bold;">Status</span><span 
	 style="text-indent: -30px;"> is provided.</span></p></li>
</ul>
<p class="GlossaryHeading" style="font-family: Verdana, sans-serif;"><span 
	 style="text-indent: -30px;">M</span>y Task History</p>
<ul style="list-style: disc;">
	<li style="font-family: Verdana, sans-serif;">
 <p class="list">For the 
	 following pages, the options to <span style="font-weight: bold;">Filter 
	 (Limit to)</span> the requests have been changed, <span style="font-weight: bold;">Request 
	 Id</span> column is added, <img src="EntityInfo.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" /> icon is provided for 
	 Request Id to view the request details and <span style="font-weight: bold;">Request 
	 by</span> column is removed:</p></li>
</ul>
<p style="
font-weight:bold;
font-family:Verdana, sans-serif; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>My 
 Task History - Rejections</p>
<p style="
font-weight:bold;
font-family:Verdana, sans-serif; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>My 
 Task History - Approvals To be Fulfilled</p>
<p style="
font-weight:bold;
font-family:Verdana, sans-serif; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>My 
 Task History - Approvals Fulfilled</p>
<p class="GlossaryHeading" style="font-family: Verdana, sans-serif;">My 
 Tasks - Approval</p>
<ul style="list-style: disc;">
	<li style="font-family: Verdana, sans-serif;">
 <p class="list">Following 
	 UI changes are made for My Tasks - Approval page:</p></li>
</ul>
<p style="
font-family:Verdana, sans-serif; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Options 
 to <span style="font-weight: bold;">Filter (Limit to)</span> the requests</p>
<p style="
font-family:Verdana, sans-serif; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Request Id</span> column is added</p>
<p style="
font-family:Verdana, sans-serif; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Request by</span> column is removed</p>
<p style="
font-family:Verdana, sans-serif; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><img src="EntityInfo.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" /> icon 
 for <span style="font-weight: bold;">Request Id</span> to view the request 
 details</p>
<h2>Bug Fixed</h2>
<ul style="list-style: disc;">
	<li style="font-family: Verdana, sans-serif;">
 <p class="list">The Entity 
	 Information window was going out of view when the Entity information 
	 icon was clicked in <span style="font-weight: bold;">Select Access</span> 
	 window in Access Request page. This issue has been resolved.</p></li>
	<li style="font-family: Verdana, sans-serif;">
 <p class="list">For <span 
	 style="font-weight: bold;">Terminated Users</span> for whom <span 
	 style="font-weight: bold;">User Accounts were Deleted</span> in Target 
	 applications as part deprovisioning and fulfillment was done in Tuebora, 
	 in <span style="font-weight: bold;">User Details &gt; Assets</span> 
	 tab the <span style="font-weight: bold;">Asset Name</span> was being 
	 displayed even when the accounts were deleted. This issue has been 
	 resolved.</p></li>
	<li style="font-family: Verdana, sans-serif;">
 <p class="list">Data 
	 was not being displayed when the Asset band was expanded on Application 
	 Access report view (User with Administrator Role &gt; MENU &gt; Reports 
	 &gt; clicks the hyperlink provided for Application Access report). 
	 This issue has been resolved.</p></li>
</ul>
<br style="page-break-before: always;" />

<h2>Known Issues</h2>
<p class="GlossaryHeading" style="font-family: Verdana, sans-serif;">Account 
 Linking</p>
<p style="font-family: Verdana, sans-serif;">When you link an Orphaned 
 Account to a User Identity from the <span style="font-weight: bold;">Analysis</span> 
 - <span style="font-weight: bold;">Accounts which don't have a User associated 
 with them (Orphaned Accounts)</span>, the account is getting removed from 
 the list but the total number (count) of Orphaned Accounts does not get 
 refreshed. Orphaned Account count is getting refreshed only when the page 
 is refreshed.</p>
<p class="GlossaryHeading" style="font-family: Verdana, sans-serif;">Asset 
 Management</p>
<ul style="list-style: disc; font-family: Verdana, sans-serif;">
	<li style="margin-left: -20px; font-family: Verdana, sans-serif;">
 <p 
		 class="list">Not able to create a new Asset by selecting any of 
	 the following options in &#160;<span style="font-weight: bold;">How 
	 do you want provisioning/deprovisioning to be fulfilled or handled 
	 for this Asset?</span> field. </p></li>
</ul>
<p style="text-indent: -20px; 
											 margin-left: 100px; font-family: Verdana, sans-serif;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Done 
 directly in the Asset from Server</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; font-family: Verdana, sans-serif;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Done 
 directly in Asset from SCIM Server </p>
<p style="text-indent: -20px; 
											 margin-left: 100px; font-family: Verdana, sans-serif;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Exported 
 as Change Requests/Service Tickets in an External System</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; font-family: Verdana, sans-serif;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Email 
 to these recipients address</p>
<p style="margin-left: 72px; font-weight: bold; font-family: Verdana, sans-serif;"><span 
	 style="text-indent: -20px;">W</span>orkaround</p>
<p style="font-weight: normal; 
	 text-indent: -20px; margin-left: 100px; font-family: Verdana, sans-serif;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the option <span style="font-weight: bold;">Do Nothing</span> to create 
 a new Asset.</p>
<p style="font-weight: normal; 
	 text-indent: -20px; margin-left: 100px; font-family: Verdana, sans-serif;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Cannot 
 change the Data Import Method specified while creating an Asset.</p>
<p class="GlossaryHeading" style="font-family: Verdana, sans-serif;">Global 
 Search</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px; font-family: Verdana, sans-serif;">
 <p 
		 class="list">Owner data is not displayed for Accounts and Resources 
	 Entity search results.</p></li>
	<li style="margin-left: -20px; font-family: Verdana, sans-serif;">
 <p 
		 class="list">Pagination is not available on Global Search page. 
	 The All and Entity tabs display only the top 10 search results.</p></li>
	<li style="margin-left: -20px; font-family: Verdana, sans-serif;">
 <p 
		 class="list">The special characters - <span style="font-weight: bold;">&amp;^/' 
	 &lt;&gt; &gt;&lt;</span> are not supported for searching data in Global 
	 Search.</p></li>
	<li style="margin-left: -20px; font-family: Verdana, sans-serif;">
 <p 
		 class="list">Users created with Future Hire Data are not listed 
	 in the search results.</p></li>
</ul>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
