
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>User_Guide - Browser Extension</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "2_6";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="80">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Tuebora SSO Browser Plugin</h1>
     <p>Tuebora browser plugins enables end users to use Tuebora SSO to automatically 
 log in to <span style="font-weight: bold;">(Password Replay) applications</span> 
 that would otherwise require the users to manually enter their credentials. 
 Tuebora provides plugin for Internet Explorer, Google Chrome and Mozilla 
 Firefox browsers. Chrome and Firefox plugin can be downloaded from the 
 respective App store. </p>
     <p><br />
This section explains the following topics:</p>
     <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Installing 
 and Configuring Plugin</p>
     <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Installing_and_Configuring_Plug-in">Mozilla 
 Firefox</a></p>
     <p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Installing_and_Configuring_Plug-in_on_Google_Chrome">Google 
 Chrome</a> </p>
     <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Configuring_Plugin_on_Internet_Explorer">Internet 
 Explorer (IE)</a></p>
     <p 
	 class="list" style="margin-left: 100px; text-indent: -20px; margin-top: 5pt; 
	 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Safari </p>
     <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Using_the_Plug-in">Using 
 the plugin</a></p>
     <h3><a name="Installing_and_Configuring_Plug-in"></a>Installing and Configuring 
 Plugin on Mozilla Firefox</h3>
     <p>You must install the plugin on your browser to start using it. </p>
     <p style="margin-top: 5pt; margin-bottom: 5pt;">To install the plugin on 
 <span style="font-weight: bold;">Firefox</span>, perform the following:</p>
     <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;">Open the 
 Firefox browser.</p>
     <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;">Type the 
 URL to access the product UI. The <span style="font-weight: bold;">Login</span> 
 page appears.<br />
 If the plugin is not yet installed, the Login page shows a message asking 
 you to install it. </p>
     <p class="list" style="margin-top: 5pt; 
										 margin-bottom: 5pt;">Click the 
 <span style="font-weight: bold; text-decoration: underline; ">click here</span> 
 link.<br />
The download starts.</p>
     <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Open Menu</span> (<img src="Images/Icon_OpenMenu.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />) 
 icon and click <img src="Images/Icon_AddOns.png" alt="" border="0" style="width:100%; max-width:35px" />.</p>
     <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Get Add-ons</span> and search for <span 
	 style="font-weight: bold;">Tuebora Quick Sign in</span>.</p>
     <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 the enable button displayed corresponding to the <span style="font-weight: bold;">Tuebora 
 Quick Sign in </span>add on.<br />
Browser shows the confirmation window.</p>
     <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> to add the <span style="font-weight: bold;">Tuebora 
 Quick Sign in </span>add on. <br />
Browser shows the message that the add on is added. </p>
     <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">OK</span> to close the confirmation message 
 window.</p>
     <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Extensions</span> from the left panel.<br />
The newly added extension is listed on the page.<br />
Also, you can see the add on icon on the top right side of the browser 
 bar.<br />
<br />
<img src="Images/Plugin_Icon.png" alt="" style=" border:none; width:100%; max-width:678px;" border="0" /></p>
     <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To configure 
 the plugin, perform the following:</p>
     <p class="list" style="text-indent: -20px; 
											 margin-left: 80px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Open Menu</span> (<img src="Images/Icon_OpenMenu.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />) 
 icon and click <img src="Images/Icon_AddOns.png" alt="" border="0" style="width:100%; max-width:35px" />.<br />
The <span style="font-weight: bold;">Extensions</span> page opens.</p>
     <p class="list" style="text-indent: -20px; 
											 margin-left: 80px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Options</span> corresponding to the <span 
	 style="font-weight: bold;">Tuebora Quick Sign in </span>extension.<br />
<br />
<img src="Images/Plugin_Options.png" alt="" style=" border:none; width:100%; max-width:681px;" border="0" /><br />
<br />
The page refreshes to show the configuration options.</p>
     <p class="list" style="text-indent: -20px; 
											 margin-left: 80px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the URL to access the portal, in the <span style="font-weight: bold;">Base 
 URL </span>field.<br />
<br />
<img src="Images/Config.png" alt="" style=" border:none; width:100%; max-width:868px;" border="0" /></p>
     <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You must add '<span style="font-weight: bold;">/</span>'at the 
		 end of the base URL. <span style="font-weight: bold;">Example</span> 
		 - http://sso.xanadu.com/</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 80px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> after specifying the base 
 URL.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Open 
 a new tab and click the extension icon (<img src="Images/Icon_Extension.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" />). <br />
A pop up appears showing the fields to log in to the portal.<br />
<br />
<img src="Images/Extn_Signin.png" alt="" style=" border:none; width:100%; max-width:355px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Type 
 your user name in the <span style="font-weight: bold;">User name</span> 
 field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">12.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Type 
 your password in the <span style="font-weight: bold;">Password</span> 
 field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">13.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Sign in</span>. </p>
<br style="page-break-before: always;" />

 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">14.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Provide 
 <a href="Login_Scenarios.htm">multi-factor authentication credentials</a>, 
 if the system prompts you to. <br />
<br />
The home page shows in the extension and you can click the required application 
 to log in to it.<br />
<br />
<img src="Images/Extn_Apps.png" alt="" style=" border:none; width:100%; max-width:322px;" border="0" /></p>
 <h3><a name="Installing_and_Configuring_Plug-in_on_Google_Chrome"></a>Installing 
 and Configuring Plugin on Google Chrome</h3>
 <p>This section provides the information to install and configure Tuebora 
 plugin on Google Chrome version 66.</p>
 <p>To install the plugin on <span style="font-weight: bold;">Google Chrome</span>, 
 perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Open 
 the <span style="font-weight: bold;">Chrome</span> browser.</p>
 <p>Type the URL to access the product 
 UI. The <span style="font-weight: bold;">Login</span> page appears.<br />
 If the plugin is not yet installed, the Login page shows a message asking 
 you to install it.</p>
 <p>Click the <span style="font-weight: bold; 
														 text-decoration: underline; ">click 
 here</span> link.<br />
 The download starts.</p>
 <p>If the system prompts you to confirm 
 the installation, click <span style="font-weight: bold;">Install</span>.<br />
The plugin is installed on the browser and the icon shows up on the top 
 right side of the browser bar.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Customize and control Google Chrome </span>(<img src="Images/Icon_customizechrome.png" alt="" style=" border:none; width:100%; max-width:17px;" border="0" />) icon and click <span style="font-weight: bold;">More 
 Tools</span>.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Extension</span>.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/MainMenu.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> 
 (Main Menu) icon displayed in <span style="font-weight: bold;">Extension</span> 
 page. <br />
Main Menu opens.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Open Chrome Web Store</span> option.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the extension name - <span style="font-weight: bold;">Tuebora SSO</span> 
 in the <span style="font-weight: bold;">Search</span> filed.<br />
Browser displays the matching extension.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">ADD TO CHROME</span> displayed next to 
 Tuebora SSO extension.<br />
Browser shows the confirmation window to add the extension. </p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">extension</span>.<br />
Browser shows the message that the extension is added to the chrome browser.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>To configure 
 the plugin, perform the following:</p>
 <p class="list" style="margin-left: 80px; 
											 margin-top: 5pt; margin-bottom: 5pt; 
											 text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Customize and control Google Chrome </span>(<img src="Images/Icon_customizechrome.png" alt="" style=" border:none; width:100%; max-width:17px;" border="0" />) icon and click <span style="font-weight: bold;">More 
 Tools</span>.</p>
 <p class="list" style="margin-left: 80px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Select </span><span style="text-indent: -20px; 
													 font-weight: bold;">Extension</span><span 
	 style="text-indent: -20px;">. The </span><span style="text-indent: -20px; 
													 font-weight: bold;">Extensions</span><span 
	 style="text-indent: -20px;"> page opens.</span></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 80px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Details</span> button displayed for Tuebora 
 SSO extension.<br />
The extension details page opens.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 80px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Extension</span> <span style="font-weight: bold;">Options</span>. 
 <br />
<br />
Tuebora SSO window opens to specify the URL to access the Tuebora Single 
 Sign-on application.<br />
You must specify the URL that you are using to access the Tuebora Single 
 Sign-on application</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 80px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 the URL to access the portal, in the <span style="font-weight: bold;">URL 
 </span>field.<br />
<br />
<img src="Images/Chrome_Settings1.png" alt="" style=" border:none; width:100%; max-width:298px;" border="0" /></p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You must add '<span style="font-weight: bold;">/</span>'at the 
		 end of the base URL.</p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 80px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-2-BasicNumber">f.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span>. The <span style="font-weight: bold;">Options 
 Saved</span> message appears. Click <span style="font-weight: bold;">X</span> 
 to close the window.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Open a 
 new tab and click the extension icon (<img src="Images/Icon_Extension.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" />) displayed on 
 the browser. <br />
A pop up appears showing the fields to log in to the portal.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Type your 
 user name in the <span style="font-weight: bold;">User name</span> field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">12.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Type 
 your password in the <span style="font-weight: bold;">Password</span> 
 field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">13.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Sign in</span>.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">14.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Provide 
 <a href="Login_Scenarios.htm">multi-factor authentication credentials</a>, 
 if the system prompts you to.<br />
The home page shows in the extension and you can click the required application 
 to log in to it.</p>
<span style="text-indent: -20px;"><br style="page-break-before: always;" />
</span> 
 <h3><span style="text-indent: -20px;"><a name="Configuring_Plugin_on_Internet_Explorer"></a>C</span>onfiguring 
 Plugin on Internet Explorer</h3>
 <p>When Tuebora plugin is installed, a new tab - <span style="font-weight: bold;">Tuebora</span> 
 is displayed on the IE Browser as shown in the following figure:<br />
<br />
<img src="Images/IEPlugin1.png" alt="" style=" border:none; width:100%; max-width:685px;" border="0" /></p>
 <p>To configure IE plugin, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Open IE 
 browser.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">drop-down icon</span> displayed in <span 
	 style="font-weight: bold;">Tuebora</span> <span style="font-weight: bold;">plugin 
 tab</span> to view the options.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Settings</span>. <br />
A window opens to define the Tuebora SSO Base URL to access the application.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type the 
 Tuebora SSO URL to access the portal, in the <span style="font-weight: bold;">URL 
 </span>field.<br />
<br />
<img src="IEPlugin2.png" alt="" style=" border:none; width:100%; max-width:422px;" border="0" /></p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You must add '<span style="font-weight: bold;">/</span>'at the 
		 end of the base URL. <span style="font-weight: bold;">Example</span> 
		 - http://sso.xanadu.com/</p></td>
	</tr>
 </table>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span>. The URL is saved and subwindow 
 will close.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Sign In</span> from the Tuebora plugin 
 tab drop-down button.<br />
The Tuebora Plugin login page opens in new tab.</p>
 <p class="list" style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type your 
 user name in the <span style="font-weight: bold;">User name</span> field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 your password in the <span style="font-weight: bold;">Password</span> 
 field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Sign in</span>.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Provide 
 <a href="Login_Scenarios.htm">multi-factor authentication credentials</a>, 
 if the system prompts you to.<br />
The home page shows in the extension and you can click the required application 
 to log in to it.</p>
<br style="page-break-before: always;" />

 <h3><a name="Using_the_Plug-in"></a>Using the Google Chrome and Firefox 
 Plugin</h3>
 <p>After logging in to the Tuebora SSO Plugin from Google Chrome or Firefox, 
 you can perform the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">Click the required application icons to navigate 
	 to the application pages.</p></li>
	<li>
 <p class="list">Click <img src="Images/icon_Home.png" alt="" style=" border:none; width:100%; max-width:24px;" border="0" /> to open the portal in 
	 the browser window. </p></li>
	<li>
 <p class="list">Click <img src="Images/Icon_Logout.png" alt="" style=" border:none; width:100%; max-width:24px;" border="0" /> 
	 to log out from the account.</p></li>
</ul>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note: 
		 </span>You can use the Plugin to log in to your added applications. 
		 To add/remove applications or set/manage credentials, you must 
		 open the portal in a browser window. Clicking <img src="Images/icon_Home.png" alt="" style=" border:none; width:100%; max-width:24px;" border="0" /> 
		 in the Plugin opens the portal in a browser window.</p></td>
	</tr>
 </table>
 <h3>Using the IE Plugin</h3>
 <p>To view the information about the plugin click the option <span style="font-weight: bold;">About</span> 
 from the Tuebora plugin tab drop-down list.<br />
<br />
<img src="Images/IEPlugin3.png" alt="" style=" border:none; width:100%; max-width:293px;" border="0" /></p>
 <p>After logging in to the Tuebora SSO Plugin from IE, you can perform 
 the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">Click the required application icons to navigate 
	 to the application pages.</p></li>
	<li>
 <p class="list">Click <span style="font-weight: bold;">Applications</span> 
	 option from the Tuebora plugin tab drop-down list to open an active/already 
	 logged in session. <br />
	The option <span style="font-weight: bold;">Applications</span> is 
	 displayed in the plugin drop-down list only after a user logs in to 
	 the plugin.<br />
	<br />
	<img src="Images/IEPlugin4.png" alt="" style=" border:none; width:100%; max-width:317px;" border="0" /></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;">Click 
	 <span style="font-weight: bold;">Signout</span> option from the Tuebora 
	 plugin tab drop-down list to log out from the account.</p></li>
</ul>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
