
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>User_Guide - Getting Started</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "0_2";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="200">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Getting Started</h1>
     <p><span style="font-size: 13.3333px; line-height: normal; orphans: auto; 
		 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
		 float: none; background-color: #ffffff;">Users can log in to Tuebora 
 SSO when they get a communication to enroll to the portal.</span> You 
 can log in to the portal by specifying the appropriate credentials. For 
 more information, see User Enrollment.</p>
     <p>This chapter details the following:</p>
     <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Accessing_Tuebora_SSO">Accessing Tuebora SSO User Interface</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Tuebora_SSO_UI_Overview">Tuebora SSO Portal Overview</a></p></li>
</ul>
<h2><a name="Accessing_Tuebora_SSO"></a>Accessing Tuebora SSO</h2>
<p>Tubora SSO is a web-based product and you can access the User Interface 
 (UI) from a web browser. Supported web browsers are as follows:</p>
<ul style="list-style: disc;">
	<li class="Unordered">
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Internet 
	 Explorer (Version 9 and above)</p></li>
	<li class="Unordered">
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Mozilla 
	 Firefox (Version 49 and above)</p></li>
	<li class="Unordered">
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Google 
	 Chrome (Version 16 and above)</p></li>
	<li class="Unordered">
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Safari 
	 (Version 5 and above)</p></li>
</ul>
<table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Java script must be enabled on the web browser to use all the 
		 product features.</p></td>
	</tr>
 </table>
 <h3>Logging In</h3>
 <p>To log in to the portal for enrollment or to use the product features, 
 you must be a registered user on the portal. </p>
 <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 If your profile is imported into or created in the portal by the 
		 Administrator, then you can directly login and enroll in the portal. 
		 You can skip the registration process as your profile is already 
		 registered in the portal. </p></td>
	</tr>
 </table>
 <p>The steps to start accessing the portal are as follows:</p>
 <p class="list" style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="User_Self_Registration.htm">Self 
 Registration</a></p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="User_Self_Registration.htm#Registering_from_Login_Page">Register 
 from Portal Login page</a></p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="User_Self_Registration.htm#Registering_Through_Social_Logins">Register 
 through Social Logins</a></p>
 <p class="list" style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>&#160;<a href="Portal_Login.htm">Portal Login</a></p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="Portal_Login.htm#Logging_In">Login from Portal Login page</a></p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="Portal_Login.htm#Logging_In_Through_Social_Logins">Login through 
 Social Logins</a></p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="Browser_Extension.htm">Login through Extension</a></p>
 <p class="list" style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>User Enrollment</p>
 <h3>Password Management from Login Page</h3>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Tuebora SSO 
 provides the functionality to reset a forgotten password from the Login 
 page. If you forget your Account password to login to Tuebora SSO, you 
 can use the <span style="font-weight: bold;">Forgot Password</span> link, 
 from the Login page, to reset the password </p>
 <p class="list">For more information, see <a href="Password_Management.htm">Resetting 
 a Forgotten Password</a>.</p>
 <h3>Unlock Account from Login Page</h3>
 <p style="color: #ff0000;">Your Tuebora 
 SSO portal account gets locked if you cannot provide the correct account 
 password for a predefined number of login attempts. This is to secure 
 your account from any unwanted users accessing it. You can use the <span 
	 style="font-weight: bold;">Unlock Account</span> feature, from the 
 <span style="font-weight: bold;">Login</span> page, to unlock the Account.</p>
 <p><span style="color: #ff0000;">For 
 more information, see</span> <span style="color: #ff0000;">Unlocking Account 
 from Portal Login page</span>. </p>
<br style="page-break-before: always;" />

 <h3 style="margin-top: 8pt; margin-bottom: 8pt;">SSO-Enabled Applications</h3>
 <p>SSO-Enabled Applications are those applications which are integrated 
 with Tuebora SSO for single sing-on. In Tuebora SSO, the following category 
 of applications can be integrated for single sign-on:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Thick Client Application</span> 
	 - These applications run on <span style="font-weight: bold;">Microsoft 
	 Windows Operating System</span>. To single sign-on to these applications 
	 from the portal, users must specify the login credentials to the applications, 
	 such as Username and Password in Tuebora SSO.<br />
	<br />
	Users can access the Applications integrated as Thick Client from Tuebora 
	 SSO portal or from the Windows. When user accesses the application, 
	 Tuebora SSO retrieves the user credentials from the database, and 
	 populates into the application's sign in page.<br />
	<br />
	The applications integrated with Tuebora SSO as Thick Client are <span 
	 style="font-weight: bold;">Windows Remote Desktop Protocol, Skype 
	 for Business, GoToMeeting, and SAP</span>. </p></li>
	<li>
 <p class="list"><span style="font-weight: bold;"><a name="Password_Replay_applications"></a>Password 
	 Replay Application</span> - These are Web applications. To single 
	 sign-on to these applications from the portal, users must specify 
	 the login credentials (Username and Password) to the applications, 
	 in Tuebora SSO.<br />
	<br />
	For applications integrated using Password Replay, when a user accesses 
	 the application from the portal, system securely retrieves the user 
	 credentials from the database, and populates these credentials into 
	 the application’s sign in page on behalf of the user.<br />
	<br />
	Some examples of applications integrated with Tuebora SSO using Password 
	 Replay are Box, Facebook, LinkedIn, and DropBox.<br />
	<br />
	To access the Password Replay applications from Tuebora SSO, you must 
	 install the <a href="Browser_Extension.htm">SSO Browser Plugin</a>.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">SAML Application</span> 
	 - These are Web applications and Federation applications that support 
	 <span style="font-weight: bold;">Security Assertion Markup Language 
	 (</span>SAML) 2.0 standards for integrating with Tuebora SSO. <br />
	<br />
	For applications integrated with Tuebora SSO, using SAML, users are 
	 allowed to access these applications without being prompted to enter 
	 separate login credentials. When a user accesses the SAML application 
	 from the portal, the system sends the user identity response in the 
	 form of assertion (message) to the application. The application receives 
	 the identity information and based on the trust created, the users 
	 are logged in to the application.<br />
	<br />
	Some example of applications integrated with Tuebora SSO using SAML 
	 2.0 are Salesforce, DropBox, and ServiceNow</p></li>
</ul>
<h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Multi_Factor_Authentication"></a>Multi 
 Factor Authentication</h3>
<p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">Multi 
 Factor Authentication (MFA) is an enhanced security system where a user 
 must authenticate in more than one form of authentication to prove the 
 user identity. For example, to access an application from the portal, 
 a user must answer the challenge questions presented as well as provide 
 the One Time Password (OTP) generated and sent to the user's registered 
 email address. This reduces chances of unwanted user accessing the application 
 to which they don't have access. </p>
<br style="page-break-before: always;" />

<p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">Tuebora 
 SSO provides four MFA options. Organizations can choose the required options 
 for the corresponding operations (Reset Password, Portal Login, Application 
 Access). The provided options are as follows:</p>
<p style="line-height: normal; 
											 orphans: auto; widows: 1; 
											 -webkit-text-stroke-width: 0px; 
											 text-indent: -20px; margin-left: 100px; 
											 margin-top: 4px; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Challenge_Questions">Challenge Questions</a></p>
<p style="line-height: normal; 
											 orphans: auto; widows: 1; 
											 -webkit-text-stroke-width: 0px; 
											 text-indent: -20px; margin-left: 100px; 
											 margin-top: 4px; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Google_Key">Google Key</a></p>
<p style="line-height: normal; 
											 orphans: auto; widows: 1; 
											 -webkit-text-stroke-width: 0px; 
											 text-indent: -20px; margin-left: 100px; 
											 margin-top: 4px; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#OTP">Email OTP</a></p>
<p style="line-height: normal; 
											 orphans: auto; widows: 1; 
											 -webkit-text-stroke-width: 0px; 
											 text-indent: -20px; margin-left: 100px; 
											 margin-top: 4px; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#OTP">SMS OTP</a></p>
<h4 style="margin-top: 6pt; margin-bottom: 6pt;"><a name="Challenge_Questions"></a>Challenge 
 Questions</h4>
<p>Challenge Questions enhance your secured access to the portal Account 
 or application access. It is mandatory to set answers for the Challenge 
 Questions during enrollment, as these are required to perform single sign-on 
 (SSO) activities in the portal.</p>
<h4 style="margin-top: 6pt; margin-bottom: 6pt;"><a name="Google_Key"></a>Google 
 Key</h4>
<p>Google Key authentication is a method to secure SSO activities in the 
 portal. Google Authenticatos application must be downloaded on your smartphone 
 and registered with the portal Account. While performing SSO activities, 
 you may need to provide the application-generated key in the system to 
 verify your identity. The system proceeds with the activity only if the 
 keys match. For more information on registering with Google Authenticator, 
 see Google 
 Authenticator Registration.</p>
<h4 style="margin-top: 6pt; margin-bottom: 6pt;"><a name="OTP"></a>OTP</h4>
<p>One Time Password is a unique code sent to your registered email address/mobile 
 when you are performing SSO activities. This code helps to validate your 
 identity in the system to complete the activity being performed. <br />
<br />
<img src="Images/OTP.png" alt="" style=" border:none; width:100%; max-width:885px;" border="0" /></p>
<p>If you do not receive an &#160;SMS OTP, click <span style="font-weight: bold;">Didn't 
 get the code?</span> and system sends you the OTP.</p>
<br style="page-break-before: always;" />

<h2><a name="Tuebora_SSO_UI_Overview"></a>Tuebora SSO UI Overview</h2>
<p>End users can log in to Tuebora SSO and can start using the portal features 
 after Enrollment. 
 The My Applications page shows the application icons, of which, the user 
 can log in to from the portal. </p>
<p style="font-size: 13.3333px; line-height: normal; orphans: auto; display: inline	 ! important ; 
	 background-color: #ffffff; widows: 1; -webkit-text-stroke-width: 0px;">Following 
 figure shows an overview of the <span style="font-weight: bold;">My Applications 
 </span>for an End User login. </p>
<p style="font-size: 13.3333px; line-height: normal; orphans: auto; display: inline	 ! important ; 
	 background-color: #ffffff; widows: 1; -webkit-text-stroke-width: 0px;"><img src="Images/LaunchPad1.png" alt="" style=" border:none; width:100%; max-width:509px;" border="0" /></p>
<p><span style="font-size: 13.3333px; line-height: normal; orphans: auto; 
		 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
		 float: none; background-color: #ffffff;">F</span>ollowing table 
 lists the UI features and descriptions. </p>
<table style="border: Solid 1px #000000; left: 0px; top: 293px; margin-left: 24px;" 
		 cellspacing="0">
	<col width="175" />
	<col width="646" />
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold; margin-top: 3pt; 
									 margin-bottom: 3pt;">Tab/Feature</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Description</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="My_Applications.htm">My Applications</a></p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Click 
		 to add and remove applications to access from the portal. From 
		 this tab you can access the following features:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Add_Application_to_the_Favorites_List.htm" 
			 style="font-weight: normal;">Favorites</a> - To add and remove 
			 applications the Favorites list. </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Create_Custom_Application_Lists.htm" 
			 style="font-weight: normal;">Lists</a> - To add list, add 
			 applications to list, remove applications from the list, modify 
			 name of the list, and delete custom application lists.</p></li>
		</ul></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="Activity_History.htm">My Activities</a></p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Click 
		 to view the single sign-on activities performed by you, in Tuebora 
		 SSO.</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="Profile_Management.htm">User Profile</a> 
		 (<img src="Images/Icon_Profile.png" alt="" style=" border:none; width:100%; max-width:44px;" border="0" />)</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">From 
		 this tab you can access the following features:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Profile_Management.htm">View 
			 Profile</a> - Click to view and edit your profile details</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><a href="Preference_Management.htm">My 
			 Preferences</a> - To set or update the following:</p></li>
		</ul>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Language</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Time 
		 Zone</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Multi-Factor 
		 Authentication - Update responses to the challenge questions, 
		 email ID, mobile number or manage Google key provided during enrollment.</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Tuebora 
		 Portal Homepage</p>
		<p style="text-indent: -20px; 
													 margin-left: 100px; 
													 margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Notifications</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">Logout</span> - Click to logout 
			 from the Tuebora SSO Portal.</p></li>
		</ul></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">Tuebora 
		 Logo</p></td>
		<td>
  <p class="TableText">Click to view Tuebora Homepage.</p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h2>Session Expiring Message</h2>
 <p>Tuebora SSO displays a session expiring message to the user, if the 
 session is inactive/idle for 15 minutes. User can either choose to stay 
 logged in or allow the session to logout.<br />
<br />
Following figure shows the message before logging out the inactive session.</p>
 <p><img src="Images/SessionExpiringMessage.png" alt="" style=" border:none; width:100%; max-width:799px;" border="0" /></p>
 <p>If you see the session expiring message on the Tuebora SSO UI and want 
 to stay logged in, then click <span style="font-weight: bold;">STAY LOGGED 
 IN</span> on the <span style="font-weight: bold;">Need More Time</span> 
 window.</p>
 <p>If you ignore this message and do not click on <span style="font-weight: bold;">STAY 
 LOGGED IN</span> on the <span style="font-weight: bold;">Need More Time</span> 
 window, then session will time out and you will be redirected to login 
 page.</p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
