
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>User_Guide - Preference Management</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "2_9";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction.htm" class="homelink"><span>User_Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="344">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Preference Management</h1>
     <p>Tuebora SSO portal provides the option to configure the preferences. 
 The preferences configured applies to your profile in the portal. You 
 can configure the your preferences in <span style="font-weight: bold;">My 
 Preferences</span> page</p>
     <p>Following figure shows the My Preference page. </p>
     <p><img src="Images/MyPreferencepage.png" alt="" style=" border:none; width:100%; max-width:673px;" border="0" /></p>
     <h2>Using the My Preference Feature</h2>
     <p>You can perform the following from <span style="font-weight: bold;">My</span> 
 <span style="font-weight: bold;">Preferences</span> page:</p>
     <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Updating_Language_Preferences">Update Language Preference</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Specifying_Time_Zone">Specify Time Zone</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Update_Multi-Factor_Authentication">Update Multi-Factor Authentication</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Specify_Tuebora_Portal_Homepage">Specify Tuebora Portal Homepage</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; 
												 margin-bottom: 4pt;"><a 
	 href="#Setting__Notifications">Set Notifications</a></p></li>
</ul>
<h3><a name="Updating_Language_Preferences"></a>Updating Language Preferences</h3>
<p>As an End User, you may want Tuebora SSO to show pages in a specific 
 language. Tuebora SSO allows you to set the language preference to any 
 of the supported languages. Currently, the supported language is English. 
 </p>
<p>To update the language preference, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Profile icon &gt; My Preferences</span><br />
The <span style="font-weight: bold;">My Preferences</span> page appears.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;"><img src="Images/Icon_update.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> </span>corresponding 
 to<span style="font-weight: bold;"> Language</span>.<span style="font-weight: bold;"> 
 </span><br />
The <span style="font-weight: bold;">Language</span> section opens in edit 
 mode.<br />
<br />
<img src="Images/My_Preference_Language.png" alt="" style=" border:none; width:100%; max-width:739px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the required language from the values available in the drop-down list.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>. 
 </p>
<h3><a name="Specifying_Time_Zone"></a>Specifying Time Zone</h3>
<p>Tuebora SSO captures time for all the single sign-on activity performed 
 in the portal. Users who perform single sign-on operations from different 
 time zones can set the current times zones to ensure the portal captures 
 the time accurately. In the portal, Asia (GMT +5:30) Bombay, Calcutta, 
 Madras, New Delhi is set as the default time zone.</p>
<p>To specify Time Zone, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Profile icon &gt; My Preferences</span><br />
The <span style="font-weight: bold;">My Preferences</span> page appears.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;"><img src="Images/Icon_update.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> </span>corresponding 
 to<span style="font-weight: bold;"> Time Zone</span>.<span style="font-weight: bold;"> 
 </span><br />
The <span style="font-weight: bold;">Time Zone </span>section opens in 
 edit mode.<br />
<br />
<img src="Images/MyPreference_Timezone.png" alt="" style=" border:none; width:100%; max-width:881px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the required <span style="font-weight: bold;">Region</span> and the <span 
	 style="font-weight: bold;">Time</span> <span style="font-weight: bold;">Zone</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>. 
 The updated time zone is displayed for Time Zone.</p>
<h3><a name="Update_Multi-Factor_Authentication"></a>Update Multi-Factor 
 Authentication</h3>
<p>Users who wants to perform single sign-on activities in Tuebora SSO 
 must enroll to the portal. The data specified for different forms of authentication 
 during the enrollment can be updated in Tubora SSO from <span style="font-weight: bold;">Multi-Factor 
 Authentication</span> section in My Preferences page. </p>
<p>In Multi-Factor Authentication<span style="font-weight: bold;"> </span>options<span 
	 style="font-weight: bold;"> </span>available to end users of Tuebora 
 SSO depends on the MFA policy defined in the system for authenticating 
 users during SSO activities in the portal.</p>
<p>For example, a Tuebora SSO Administrator has defined MFA policy by selecting 
 THREE forms of authentication - Challenge Questions, Google Key, and Email 
 OTP. In this case, system displays only three options - Challenge Questions, 
 Google Key, and Email OTP to end users.</p>
<p>From <span style="font-weight: bold;">Multi-Factor Authentication </span>section, 
 users can also update data for an MFA which they had skipped during portal 
 enrollment. For example, while enrolling to the portal, Eric Hill had 
 specified data only for Challenge Questions and Email OTP and had skipped 
 registering Google Key. In this scenario, Eric can register the Google 
 key from My Preferences page.</p>
<p>You can perform the following from <span style="font-weight: bold;">Multi-Factor 
 Authentication </span>section:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Updating_Responses_to_Challenge_Questions">Update Response 
	 to Challenge Questions</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Manage_Google_Key">Manage Google Key</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Select_the_Email_Address">Select the Email Address</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Select_the_Mobile_Number">Select Mobile Number</a></p></li>
</ul>
<h4><a name="Updating_Responses_to_Challenge_Questions"></a>Updating Responses 
 to Challenge Questions</h4>
<p>The system prompts you to set answers for the Challenge Questions during 
 User Enrollment. You can change answers provided for the challenge questions 
 at a later point of time from the portal.</p>
<p>To update responses provided for the challenge questions, perform the 
 following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Profile icon &gt; select My Preferences</span>.<br />
The My Preferences page appears.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_update.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> corresponding to Multi-Factor Authentication.<br />
The Multi-Factor Authentication opens.<br />
<br />
<img src="Images/MyPreference_MultiFactorAuthentication.png" alt="" style=" border:none; width:100%; max-width:1002px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Update 
 answers for the required questions.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>. 
 The answers are updated.</p>
<br style="page-break-before: always;" />

<h4 style="margin-top: 4pt; margin-bottom: 4pt;"><a name="Manage_Google_Key"></a>Manage 
 Google Key</h4>
<p style="margin-top: 4pt; margin-bottom: 4pt;">From the portal, you can 
 unregister the key registered with the Google Authenticator, during User 
 Enrollment, if required.</p>
<p style="margin-top: 4pt; margin-bottom: 4pt;">To unregister Google key, 
 perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Profile icon &gt; select My Preferences</span>.<br />
The <span style="font-weight: bold;">My Preferences</span> page appears.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_update.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> corresponding to <span style="font-weight: bold;">Multi-Factor 
 Authentication</span>.<br />
The Multi-Factor Authentication opens.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Unregister</span> corresponding to Google 
 Authenticator. <br />
System asks for confirmation to unregister the Google key.<br />
<br />
<span style="color: #ff0000;"><img src="Images/ManageGoogleKey_Confirmation.png" alt="" style=" border:none; width:100%; max-width:540px;" border="0" /></span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Yes</span> to unregister the Google Auth 
 key. After unregistering the Google key, the page refreshes to display 
 the new Key and QR Code.<br />
<br />
<img src="Images/ManageGoogleKey_NewKey.png" alt="" style=" border:none; width:100%; max-width:618px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the Google key or scan the bar code to enroll in the Google Authenticator 
 installed on your smartphone.<br />
<br />
For more information on registering Google Key, see Registering 
 in Google Authenticator Application.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Specify 
 the verification code generated in the Google Authenticator application 
 in the <span style="font-weight: bold;">Enter verification code</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>. 
 System verifies the code against the Google key registered for the user.</p>
<h4><a name="Specify_Tuebora_Portal_Homepage"></a>Specify Tuebora Portal 
 Homepage</h4>
<p>By default, My Applications is the home page of the Tuebora SSO Portal. 
 Tuebora SSO allows you to set the portal home page to any of the supported 
 home pages. The supported home pages are as follows:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;">My 
	 Applications</p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;">My 
	 Favorites</p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;">My 
	 Lists</p></li>
</ul>
<p>To specify the Tuebora Portal Homepage, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Profile icon &gt; My Preferences</span><br />
The <span style="font-weight: bold;">My Preferences</span> page appears.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;"><img src="Images/Icon_update.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> </span>corresponding 
 to<span style="font-weight: bold;"> Tuebora Portal Homepage</span>.<span 
	 style="font-weight: bold;"> </span><br />
The <span style="font-weight: bold;">Tuebora Portal Homepage </span>section 
 opens in edit mode.<br />
<br />
<img src="Images/My_Preference_Tuborahomepage.png" alt="" style=" border:none; width:100%; max-width:717px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the required home page.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>. 
 </p>
<h4 style="margin-top: 4pt; margin-bottom: 4pt;"><a name="Select_the_Email_Address"></a>Selecting 
 the Email Address</h4>
<p style="margin-top: 4pt; margin-bottom: 4pt;">From the portal, you can 
 select the new email address to which the email OTP should be sent. </p>
<p style="margin-top: 4pt; margin-bottom: 4pt;">To select the email address, 
 perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Profile icon &gt; select My Preferences</span>.<br />
The <span style="font-weight: bold;">My Preferences</span> page appears.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_update.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> corresponding to <span style="font-weight: bold;">Multi-Factor 
 Authentication</span>.<br />
The Multi-Factor Authentication opens.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the Email address to which the OTP should be sent from the drop-down list 
 in the <span style="font-weight: bold;">Email OTP</span> field. </p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>.</p>
<h4 style="margin-top: 4pt; margin-bottom: 4pt;"><a name="Select_the_Mobile_Number"></a>Selecting 
 the Mobile Number</h4>
<p style="margin-top: 4pt; margin-bottom: 4pt;">From the portal, you can 
 select the new mobile number to which the email OTP should be sent. </p>
<p style="margin-top: 4pt; margin-bottom: 4pt;">To select the mobile number, 
 perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Profile icon &gt; select My Preferences</span>.<br />
The <span style="font-weight: bold;">My Preferences</span> page appears.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_update.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> corresponding to <span style="font-weight: bold;">Multi-Factor 
 Authentication</span>.<br />
The Multi-Factor Authentication opens.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the mobile number to which the OTP should be sent from the drop-down list 
 in the <span style="font-weight: bold;">SMS OTP</span> field. </p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>.</p>
<h3><a name="Setting__Notifications"></a>Setting 
 &#160;Notifications</h3>
<p>Tuebora SSO portal send notifications 
 to users when they perform SSO operation in the system. You can configure 
 the operations for which notifications to be sent, mode of notification, 
 and the frequency of notification.</p>
<p>&#160;To spe</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Profile icon &gt; My Preferences</span><br />
 The <span style="font-weight: bold;">My Preferences</span> page appears.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;"><img src="Images/Icon_update.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> </span>corresponding 
 to<span style="font-weight: bold;"> Notifications</span>.<span style="font-weight: bold;"> 
 </span><br />
 The <span style="font-weight: bold;">Notifications </span>section opens 
 in edit mode.<br />
 <br />
 <img src="Images/My_Preference_Notifications.png" alt="" style=" border:none; width:100%; max-width:906px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/icon_edit1.png" alt="" style=" border:none; width:100%; max-width:17px;" border="0" />. 
 The Update Notification subwindow opens.<br />
 <br />
 <img src="Images/UpdateNotification.png" alt="" style=" border:none; width:100%; max-width:879px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the operation for which the notification should be sent in <span style="font-weight: bold;">What 
 to Notify</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the mode of notification - Email and/or SMS in the Mode of Notification 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the frequency of notification in the Frequency of Notification field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;</span>(Optional) 
 Click <span style="font-weight: bold;">Reset</span> if you want to clear 
 the values provided in all the fields at once.</p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
