
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Available Control Definitions</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="272">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <h1>Available Control Definitions</h1>
     <p>Tuebora Portal provides Access Control definitions in four major categories 
 on the <span style="font-weight: bold;">Access Controls - Available Control 
 Definitions</span> page. These categories have further subcategories. 
 You can create Control Definitions in each of these subcategories. </p>
     <p>Following figure shows the <span style="font-weight: bold;">Access Controls 
 - Available Control Definitions</span> page.</p>
     <p><img src="Images/Access_Controls.gif" alt="" style=" border:none; width:100%; max-width:904px;" border="0" /></p>
     <p>Following table lists the Access Control categories and subcategories.</p>
     <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 19.238%;" />
	<col style="width: 32.24%;" />
	<col style="width: 48.522%;" />
	<tr class="t1st">
		<td>
  <p class="TableText" style="font-weight: bold; margin-top: 3pt; 
				 margin-bottom: 3pt;">Access Control Category</p></td>
		<td>
  <p style="text-align: left; font-weight: bold;">Subcategories</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Description</p></td>
	</tr>
	<tr class="t2Row">
		<td rowspan="5">
  <p class="TableText">Segregation of Duties (SOD)</p></td>
		<td>
  <p class="TableText">SOD on Access to Assets</p></td>
		<td>
  <p class="TableText">All or some users must not have Access 
		 to a combination of specific Assets.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">SOD on Roles</p></td>
		<td>
  <p class="TableText">All or some users must not have a combination 
		 of specific Roles.</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">SOD on Access</p></td>
		<td>
  <p class="TableText">All or some users must not have a combination 
		 of specific Access.</p></td>
	</tr>
	<tr class="t1Row" style="height: 0px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">SOD 
		 on Actions on Resource</p></td>
		<td>
  <p class="TableText">All or some users must not be allowed 
		 to perform a combination of specific Actions on a Resource.</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">SOD 
		 on Group Membership</p></td>
		<td>
  <p class="TableText">All or some users must not be a member 
		 of a combination of specific Groups.</p></td>
	</tr>
	<tr class="t1Row">
		<td rowspan="6" style="background-color: Transparent; border-bottom-width: 1px;">
  <p 
			 class="TableText">Access</p></td>
		<td style="border-bottom-width: 1px;">
  <p class="TableText">Restriction 
		 on Access to Assets</p></td>
		<td>
  <p class="TableText">Some users must not have Access to specific 
		 Assets.</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Restriction on Access to Assets</p></td>
		<td>
  <p class="TableText">Only specific users must have Access to 
		 certain Assets.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Restriction on Access to Assets for Group 
		 Members</p></td>
		<td>
  <p class="TableText">Users who are members of certain Groups 
		 must not have Access to certain Assets.</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Restriction on Access to Assets for Group 
		 Members</p></td>
		<td>
  <p class="TableText">Only those users who are members of certain 
		 Groups must have Access to certain Assets.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Restriction on Access</p></td>
		<td>
  <p class="TableText">Only some users must have certain Access.</p></td>
	</tr>
	<tr class="t2Row" style="height: 0px;">
		<td>
  <p class="TableText">Restriction on Access for Group Members</p></td>
		<td>
  <p class="TableText">Only those users who are members of certain 
		 Groups must have certain Access.</p></td>
	</tr>
	<tr class="t1Row">
		<td rowspan="2" style="background-color: Transparent; border-bottom-width: 1px;">
  <p 
			 class="TableText">Group Membership</p></td>
		<td>
  <p class="TableText">Restriction on Membership</p></td>
		<td>
  <p class="TableText">Some users cannot be members of certain 
		 Groups.</p></td>
	</tr>
	<tr class="t2Row" style="height: 0px;">
		<td>
  <p class="TableText">Restriction on Membership Count</p></td>
		<td>
  <p class="TableText">Groups cannot have more than certain number 
		 of users.</p></td>
	</tr>
	<tr class="t1Row">
		<td rowspan="2" style="background-color: Transparent; border-bottom-width: 1px;">
  <p 
			 class="TableText">Access Activity</p></td>
		<td>
  <p class="TableText">IP Restriction</p></td>
		<td>
  <p class="TableText">Users must not be able to access certain 
		 Assets that are assigned a specific range of IP addresses.</p></td>
	</tr>
	<tr class="t2Row" style="height: 0px;">
		<td>
  <p class="TableText">Time Restriction</p></td>
		<td>
  <p class="TableText">Users must not be able to access certain 
		 Assets outside a specific time interval.</p></td>
	</tr>
 </table>
 <p>You can perform the following tasks on the <span style="font-weight: bold;">Access 
 Controls - Available Control Definitions</span> page:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Creating_an_Access_Control_Definition">Creating 
	 an Access Control Definition</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_Access_Control_Definition_Example">Viewing 
	 Examples for Control Definitions</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_Existing_Definitions">Viewing 
	 the Existing Definitions</a></p></li>
	<li>
 <p class="list"><a href="#Testing_Controls">Testing the Control 
	 Definitions</a></p></li>
	<li>
 <p class="list"><a href="#Running_Control_Definitions">Running 
	 the Controls</a></p></li>
	<li>
 <p class="list"><a href="#Disabling_Control_Definitions">Disabling 
	 the Control Definitions</a></p></li>
	<li>
 <p class="list"><a href="#Deleting_Control_Definitions">Deleting 
	 the Control Definitions</a></p></li>
	<li>
 <p class="list"><a href="#Reviewing_Violations">Reviewing the Access 
	 Violations</a></p></li>
	<li>
 <p class="list"><a href="#Exporting_Reports_in_PDF_and_XLS_Formats">Exporting 
	 Reports in PDF and XLS Formats</a></p></li>
</ul>
<p style="font-weight: bold; color: #003a6b; margin-left: 0pt;">Navigation</p>
<table class="Navigation" style="margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">Access 
		 Controls - Available Control Definitions </span>page, select &#160;<span 
		 style="font-weight: bold;">MENU &gt; Access Controls &gt;</span> 
		 <span style="font-weight: bold;">Available Control Definitions</span></p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h3><a name="Creating_an_Access_Control_Definition"></a>Creating an Access 
 Control Definition</h3>
 <p>To create an Access Control Definition, perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the required Control tab.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Create Access Control</span> corresponding 
 to the required subcategory.<br />
<br />
<img alt="" src="Images/Control_Create.png" style=" border:none; width:100%; max-width:715px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 name for the Control in the <span style="font-weight: bold;">Control Name</span> 
 field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 description for the Control in the <span style="font-weight: bold;">Control 
 Objective</span> field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the users and other criteria (such as Access, Assets, or Roles based on 
 the category) for which you are creating the Control Definition).</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Create Access Control</span>.</p>
 <h3><a name="Viewing_Access_Control_Definition_Example"></a>Viewing Examples 
 for Control Definitions</h3>
 <p>The examples provided for the Access Control Definitions can help you 
 decide the category where the Control Definition you want to create would 
 fit best.</p>
 <p>To view an example of a Control Definition:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold;">Show Example</span> hyperlink corresponding 
 to a Access Control Definition subcategory.<br />
<br />
An example scenario is displayed. This gives you more information on the 
 type of subcategory. </p>
 <h3><a name="Viewing_Existing_Definitions"></a>Viewing the Existing Definitions</h3>
 <p>To view the existing Control Definitions:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Show Enabled/Disabled (x)</span> to view 
 the existing Control Definitions corresponding to a category. <br />
<br />
<span style="font-style: italic; font-weight: bold;">x</span> indicates 
 the number of Control Definitions available for that category.</p>
<br style="page-break-before: always;" />

 <h3><a name="Testing_the_Control_Definitions"></a>Testing the Control Definitions</h3>
 <p>After creating a Control Definition, you can test it to check if there 
 are any violations in the environment. Testing a Control Definition shows 
 you only the violations that are detected. Testing a Control Definition 
 does not create a Remediation Task when a violation is detected.</p>
 <p>To test a Control Definition, perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Control Definition to be tested. <br />
<br />
The Control Definition is highlighted.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Test Control</span>. <br />
<br />
A subwindow opens displaying the information about the test and displays 
 if any violations are detected.<br />
<br />
<img src="Images/Control_Test.png" alt="" style=" border:none; width:100%; max-width:647px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close</span> to close the subwindow.</p>
 <h3><a name="Running_Control_Definitions"></a>Running the Control Definitions</h3>
 <p>After creating a Control Definition, you can run it to check for violations. 
 In case of violations, appropriate Remediation Tasks are created and assigned 
 to the authorized users.</p>
 <p>To run a Control Definition, perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Control Definition to be run. <br />
<br />
The Control Definition is highlighted.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Run Now</span>. <br />
<br />
The <span style="font-weight: bold;">Run Access Control</span> subwindow 
 opens.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Run Access Control</span>. <br />
<br />
The Control Definition runs in the background and displays a message on 
 completion.<br />
<br />
<img src="Images/Control_Run_Notification.png" alt="" style=" border:none; width:100%; max-width:398px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the bar in the <span style="font-weight: bold;">Remediation Actions</span> 
 column on the page, to view the details.</p>
 <h3><a name="Disabling_Control_Definitions"></a>Disabling the Control Definitions</h3>
 <p>If you do not want to run a Control Definition&#160;for some time in 
 the future, you can choose to disable it. </p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 If the Control Definition is already run and there are open tasks 
		 for remediation, all those Remediation Tasks are deleted when 
		 you disable the Control Definition.</p></td>
	</tr>
 </table>
 <p>To disable a Control Definition, perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Control Definition to be disabled. <br />
<br />
The Control Definition is highlighted.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Disable</span>. <br />
<br />
The <span style="font-weight: bold;">Disable Control</span> subwindow opens.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Disable Control</span>. <br />
<br />
The Control Definition moves to the list of disabled Control Definitions.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 When an Access Control Definition is disabled, it moves to the 
		 <span style="font-weight: bold;">Access Controls - Disabled</span> 
		 page. To enable a disabled Access Control definition, select the 
		 Control Definition and click <span style="font-weight: bold;">Enable</span>. 
		 The enabled definition moves back to the <span style="font-weight: bold;">Access 
		 Controls - Enabled</span> page.</p></td>
	</tr>
 </table>
 <h3><a name="Deleting_Control_Definitions"></a>Deleting the Control Definitions</h3>
 <p>If a Control Definition is not applicable or not required, you can choose 
 to delete it. If the Control Definition is already run and there are open 
 or closed tasks for remediation, all those Remediation Tasks are deleted 
 when you delete the Control Definition.</p>
 <p>To delete a Control Definition, perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Control Definition to be deleted. <br />
<br />
The Control is highlighted.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Delete</span>. <br />
<br />
The <span style="font-weight: bold;">Delete Control</span> subwindow opens.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Delete Control</span> to delete the Control.</p>
<br style="page-break-before: always;" />

 <h3><a name="Reviewing_Violations"></a>Reviewing the Access Violations</h3>
 <p>While running Control Definitions, if <span style="color: #000000; line-height: normal; 
												 orphans: auto; widows: auto; 
												 -webkit-text-stroke-width: 0px;">Tuebora 
 Portal </span>detects any Access violations, it automatically creates 
 Remediation Tasks and assigns them to the authorized users.</p>
 <p>In most cases, Remediation Tasks are assigned to the Supervisors of 
 the users who have the violating Access. If there is no Supervisor for 
 the user, then the task is assigned to the owner of the Asset in which 
 the user has the violating Access.</p>
 <p>Alerts are created for these tasks and Supervisors and Asset Owners 
 receive the alerts. The next step is to take Remediation Action against 
 the violations. The <span style="font-weight: bold;">Remediation</span> 
 Action can be to <span style="font-weight: bold;">Remove the Access</span> 
 or <span style="font-weight: bold;">Retain the Access Temporarily</span> 
 till required.</p>
 <p style="font-weight: bold;"><span style="font-weight: bold;">Example</span></p>
 <p>An organizational policy is that the users who will be terminated must 
 not have Access to Microsoft SharePoint. Governance Team Member creates 
 a Control Definition for this policy. While running the Control Definition, 
 <span style="line-height: normal; orphans: auto; widows: auto; -webkit-text-stroke-width: 0px;">Tuebora 
 Portal </span>detects a violation and some users who will be terminated 
 have Access to Microsoft SharePoint. So <span style="line-height: normal; 
												 orphans: auto; widows: auto; 
												 -webkit-text-stroke-width: 0px;">Tuebora 
 Portal </span>creates Remediation Tasks and assigns them to the respective 
 Supervisors and Asset Owners.</p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Viewing_Remediation_Tasks"></a>Viewing 
 the Remediation Tasks</h3>
 <p>As an <span style="font-weight: bold;">Asset Owner</span> or <span style="font-weight: bold;">Supervisor</span>, 
 you get a Remediation Task, if there is an applicable Access Violation. 
 You can view the Alert in your Home page. </p>
 <p><img src="Images/UseCase_Control_Dashboard.png" alt="" style=" border:none; width:100%; max-width:769px;" border="0" /><br />
To view all Remediation Tasks:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; My Tasks &gt; Remediation</span>.</p>
 <p>An Access Remediation Task can involve the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Request_More_Information">Request More 
	 Information</a></p></li>
	<li>
 <p class="list"><a href="#Reassign_Task">Reassign Task</a></p></li>
	<li>
 <p class="list"><a href="My_Tasks_-_Remediation.htm">Remediate 
	 an Access Violation</a></p></li>
</ul>
<h4 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Request_More_Information"></a>Request 
 More Information</h4>
<p>As an authorized user remediating an Access violation, if you need more 
 information before remediation, you can use the <span style="font-weight: bold;">Request 
 More Info</span> button on the <span style="font-weight: bold;">My Tasks 
 - Remediation </span>page. You can request more information to understand 
 why the Access is needed. For example, a user's job responsibility may 
 require the Access. You can also request information about the duration 
 for which the Access is needed. For more information, see <a href="Requesting_for_More_Information.htm">Requesting 
 More Information</a>.</p>
<br style="page-break-before: always;" />

<h4 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Reassign_Task"></a>Reassign 
 a Task</h4>
<p>As an authorized user, you may receive Access Remediation tasks. There 
 may be scenarios when you need to reassign the task to a peer or another 
 user. You can use the Reassign Task button on the <span style="font-weight: bold;">My 
 Tasks - Remediation </span>page. For more information, see <a href="Assigning_for_Certification.htm">Reassigning 
 Task</a>.</p>
<p style="font-weight: bold;">Example</p>
<p>One of your team member has moved to a different department, but the 
 data is not updated in the Assets or made official. When you receive Access 
 Remediation tasks for the team member, you may want to reassign the Remediation 
 tasks to the new Supervisor for the user.</p>
<h3><a name="Exporting_Reports_in_PDF_and_XLS_Formats"></a>Exporting Reports 
 in PDF and XLS Formats</h3>
<p>You can export the details of the Access Controls created in the portal, 
 in PDF and Excel formats. For more information, refer to <a href="Exporting_Reports_to_PDF_or_Excel_Format.htm">Exporting 
 Reports to PDF or Excel Format</a></p>
<br style="page-break-before: always;" />


</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
