
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Common Tasks</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="464">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Working_With_iGovernance_360_UI.htm" style="color: #008000;">Working 
		 With Tuebora Portal UI</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Adding_Notes.htm" 
														 style="color: #008000;">Adding 
		 Notes</a></p></td>
	</tr>
 </table>

 <h1>Common Tasks</h1>
 <p>Tuebora features comprise of common tasks that can be performed from 
 multiple pages. You will see these tasks as buttons or menu items. These 
 tasks can be classified as View Information tasks and Operational tasks.</p>
 <p>Following table lists the classification, common tasks, and their description.</p>
 <table class="Table" style="margin-left: 12px;" cellspacing="0px" width="100%">
	<col style="width: 13.771%;" />
	<col style="width: 25.557%;" />
	<col style="width: 60.672%;" />
	<tr class="t1st" style="height: 30px;">
		<td>
  <p class="TableText" style="font-weight: bold;">Classification</p></td>
		<td>
  <p class="TableText" 
														 style="font-weight: bold;">Task/Button</p></td>
		<td>
  <p class="TableText" 
														 style="font-weight: bold;">Description</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td rowspan="5" style="border-left: Solid 1px #c0c0c0; border-right: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Operational</p></td>
		<td>
  <p 
			 class="TableText"><a 
		 href="Adding_Notes.htm#Adding_Notes">Add Notes</a></p></td>
		<td>
  <p class="TableText">Add 
		 notes or details for an Access</p></td>
	</tr>
	<tr class="t1Row" style="height: 17px;">
		<td>
  <p class="TableText"><a 
		 href="Reassigning_a_Task.htm#Reassigning_a_Task">Reassign Task</a></p></td>
		<td>
  <p class="TableText">Reassign 
		 a task to another user</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Requesting_for_More_Information.htm#Requesting_for_More_Information">Request 
		 More Info</a></p></td>
		<td>
  <p class="TableText">Request 
		 for more information on an Access from a user in Tuebora Portal</p></td>
	</tr>
	<tr class="t1Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Assigning_for_Certification.htm#Assigning_for_Certification">Assign 
		 for Certification</a></p></td>
		<td>
  <p class="TableText">Assign 
		 an Access to be certified</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Exporting_Reports_to_PDF_or_Excel_Format.htm#Exporting_Reports_to_PDF_or_Excel_Format">Export 
		 Reports</a></p></td>
		<td>
  <p class="TableText">Export 
		 reports in PDF and Excel format</p></td>
	</tr>
	<tr class="t1Row" style="height: 31px;">
		<td rowspan="7" style="border-left: Solid 1px #c0c0c0; border-right: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="TableText">View 
		 Information</p></td>
		<td>
  <p 
			 class="TableText"><a 
		 href="Viewing_the_Analysis_of_Access.htm#Viewing_the_Analysis_of_Access">View 
		 Access Analysis</a></p></td>
		<td>
  <p class="TableText">View 
		 the details of a user/Access</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Viewing_the_Request.htm#Viewing_the_Request">View Request</a></p></td>
		<td>
  <p class="TableText">View 
		 the Access Request</p></td>
	</tr>
	<tr class="t1Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Viewing_the_Task_History.htm#Viewing_the_Task_History">View 
		 Task History</a></p></td>
		<td>
  <p class="TableText">View 
		 the history of a task</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Viewing_the_Task_Details.htm#Viewing_the_Task_Details">View 
		 Details</a></p></td>
		<td>
  <p class="TableText">View 
		 the details of a user/Access</p></td>
	</tr>
	<tr class="t1Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Viewing_the_Role_Access.htm#Viewing_the_Role_Who_Requested_the_Access">View 
		 Role Access</a></p></td>
		<td>
  <p class="TableText">View 
		 the role of the user who requested Access</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Viewing_the_Escalation_History.htm#Viewing_the_Escalation_History">View 
		 Escalation History</a></p></td>
		<td>
  <p class="TableText">View 
		 the escalation history of an Access</p></td>
	</tr>
	<tr class="t1Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Viewing_the_Escalation_History.htm#Viewing_the_Escalation_History">View 
		 Governance History</a></p></td>
		<td>
  <p class="TableText">View 
		 the details of governance history of an Access</p></td>
	</tr>
 </table>
&#160;&#160;<br />
<br />


<br />

 <table class="Table" style="margin-left: 12px;" cellspacing="0px" width="100%">
	<col style="width: 13.771%;" />
	<col style="width: 25.557%;" />
	<col style="width: 60.672%;" />
	<tr class="t1st" style="height: 30px;">
		<td>
  <p class="TableText" style="font-weight: bold;">Classification</p></td>
		<td>
  <p class="TableText" 
			 style="font-weight: bold;">Task/Button</p></td>
		<td>
  <p class="TableText" 
			 style="font-weight: bold;">Description</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td rowspan="4" style="border-left: Solid 1px #c0c0c0; border-right: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">Operational</p></td>
		<td>
  <p 
			 class="TableText"><a 
		 href="Adding_Notes.htm#Adding_Notes">Add Notes</a></p></td>
		<td>
  <p class="TableText">Add 
		 notes or details for an Access</p></td>
	</tr>
	<tr class="t1Row" style="height: 17px;">
		<td>
  <p class="TableText"><a 
		 href="Reassigning_a_Task.htm#Reassigning_a_Task">Reassign Task</a></p></td>
		<td>
  <p class="TableText">Reassign 
		 a task to another user</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Requesting_for_More_Information.htm#Requesting_for_More_Information">Request 
		 More Info</a></p></td>
		<td>
  <p class="TableText">Request 
		 for more information on an Access from a user in Tuebora Portal</p></td>
	</tr>
	<tr class="t1Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Assigning_for_Certification.htm#Assigning_for_Certification">Assign 
		 for Certification</a></p></td>
		<td>
  <p class="TableText">Assign 
		 an Access to be certified</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td rowspan="5" style="border-left: Solid 1px #c0c0c0; border-right: Solid 1px #c0c0c0;">
  <p 
			 class="TableText">View Information</p></td>
		<td>
  <p 
			 class="TableText"><a 
		 href="Viewing_the_Analysis_of_Access.htm#Viewing_the_Analysis_of_Access">View 
		 Access Analysis</a></p></td>
		<td>
  <p class="TableText">View 
		 the details of a user/Access</p></td>
	</tr>
	<tr class="t1Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Viewing_the_Request.htm#Viewing_the_Request">View Request</a></p></td>
		<td>
  <p class="TableText">View 
		 the Access Request</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Viewing_the_Task_Details.htm#Viewing_the_Task_Details">View 
		 Details</a></p></td>
		<td>
  <p class="TableText">View 
		 the details of a user/Access</p></td>
	</tr>
	<tr class="t1Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Viewing_the_Escalation_History.htm#Viewing_the_Escalation_History">View 
		 Escalation History</a></p></td>
		<td>
  <p class="TableText">View 
		 the escalation history of an Access</p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td>
  <p class="TableText"><a 
		 href="Viewing_the_Escalation_History.htm#Viewing_the_Escalation_History">View 
		 Governance History</a></p></td>
		<td>
  <p class="TableText">View 
		 the details of governance history of an Access</p></td>
	</tr>
 </table>
&#160; 
<br /><br style="page-break-before: always;" />

 <p>Following figure shows a page where few of the buttons listed in the 
 preceding table are displayed.</p>
 <p><img src="Images/Tasks_Certification_Details.png" alt="" style=" border:none; width:100%; max-width:1008px;" border="0" /></p>
<br style="page-break-before: always;" />

 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Working_With_iGovernance_360_UI.htm" style="color: #008000;">Working 
		 With Tuebora Portal UI</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Adding_Notes.htm" style="color: #008000;">Adding Notes</a></p></td>
	</tr>
 </table>

</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
