
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Delegation</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "7_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="632">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Certification_Policies_-_Disabled.htm" style="color: #008000;">Certification 
		 Policies - Disabled</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="My_Activities.htm" 
														 style="color: #008000;">My 
		 Activities</a></p></td>
	</tr>
 </table>

 <h1>Delegation</h1>
 <p>To ensure business continuity, users in an organization delegate their 
 tasks to authorized user(s), in case of planned 
 personal time-off, when tasks are repetitive or when tasks need immediate 
 actions. You can use the <span style="font-weight: bold;">Delegation</span> 
 feature in Tuebora Portal to set Task Delegation. Using this feature you 
 can delegate Approval Tasks, Certification Tasks, and Remediation Tasks 
 to other authorized users. These Task Delegations can be specified for 
 a time period.</p>
 <table class="Note" style="margin-left: 12px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="TableText"><span lang="EN-US" xml:lang="EN-US" 
													 style="mso-add-space: auto;"><b 
		 style="mso-bidi-font-weight: normal;">Note</b>: W</span>hen a 
		 user to whom the tasks are delegated is terminated, Tuebora Portal 
		 assigns all the pending tasks to authorized users configured in 
		 the <span style="font-weight: bold;">Terminated User Task Reassignment 
		 Settings. </span>By default, the tasks are delegated to <span 
		 style="font-weight: bold;">supervisors</span>.</p></td>
	</tr>
 </table>
 <h4>Flow of Operations</h4>
 <p style="font-weight: bold;">Scenario</p>
 <p>Eric Hill is taking a personal time-off for 15 days. Eric wants to delegate 
 all his pending tasks and tasks that need to be performed during his time-off 
 to his team member Carla Grant. Eric can delegate tasks using Tuebora 
 Portal.</p>
 <p>Flow of operations for task delegation is as follows:</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Eric 
 Hill sets a delegation by selecting Carla Grant as the user to whom tasks 
 must be delegated and specifies the period of delegation.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>On the 
 day when the delegation starts, all pending tasks are assigned to Carla.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Eric 
 Hill's team member creates an Access Request in Tuebora Portal.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; widows: 1;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="-webkit-text-stroke-width: 0px;">Access Request workflow triggers 
 Access Approval Tasks and Alerts.</span></p>
 <p class="list" style="margin-left: 50px; 
											 widows: 1; text-indent: -20px; 
											 -webkit-text-stroke-width: 0px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="orphans: auto;">Tuebora Portal sends an Access Request alert 
 to Eric Hill.</span></p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; widows: 1; 
											 -webkit-text-stroke-width: 0px; 
											 orphans: auto;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Approval Tasks 
 are created and assigned to Carla.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; widows: 1; 
											 -webkit-text-stroke-width: 0px; 
											 orphans: auto;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Alert and 
 email is sent to Carla, notifying that the Access and Approval Tasks are 
 assigned.</p>
 <p class="list" style="margin-left: 50px; 
											 text-indent: -20px; widows: 1;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="-webkit-text-stroke-width: 0px; orphans: auto;">Carla Grant 
 approves or rejects the Access Request.</span></p>
 <p>Following figure shows the graphical representation for the flow of 
 operations for Task Delegation.</p>
 <p><img src="Images/Task_Delegation.png" alt="" style=" border:none; width:100%; max-width:789px;" border="0" /></p>
<br style="page-break-before: always;" />

 <p>You can perform the following tasks from the <span style="font-weight: bold;">My 
 Settings - Delegation</span> page:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Setting_a_Task_Delegation">Setting 
 a Task Delegation</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Editing_a_Task_Delegation">Editing 
 a Task Delegation</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Deleting_a_Task_Delegation">Deleting 
 a Task Delegation</a></p>
 <h5 style="font-weight: bold;">Navigation</h5>
 <table class="Navigation" style="margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To set Task Delegation, select <span style="font-weight: bold;">MENU 
		 &gt; My Settings &gt; Delegation</span>.</p></td>
	</tr>
 </table>
 <h3><a name="Setting_a_Task_Delegation"></a>Setting a Task Delegation</h3>
 <p>For delegating tasks in Tuebora Portal, you must set task delegation. 
 Based on the delegation set in Tuebora Portal, tasks are assigned to the 
 authorized user for the specified period. To set Task Delegation, use 
 the <span style="font-weight: bold;">Set</span> <span style="font-weight: bold;">Delegation</span> 
 feature. </p>
 <p>To set Task Delegation, perform the following:</p>
 <ol>
	<li>
 <p class="list" style="margin-left: 0px;">Click <span style="font-weight: bold;">Set 
	 Delegation </span>in the<span style="font-weight: bold;"> My Settings 
	 - Delegation </span>page. <br />
	<br />
	The <span style="font-weight: bold;">Set</span> <span style="font-weight: bold;">Delegation</span> 
	 subwindow opens.<br />
	<span style="color: #ff0000; font-weight: bold;"><br />
	</span><img src="Images/Task_Delegation_1.png" alt="" style=" border:none; width:100%; max-width:450px;" border="0" /></p></li>
	<li>
 <p class="list" style="margin-left: 0px;">Specify the task delegation 
	 details in the <span style="font-weight: bold;">Set</span> <span style="font-weight: bold;">Delegation</span> 
	 subwindow. <br />
	<br />
	To specify the details, perform the following:</p></li>
</ol>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 name of the person to whom the tasks must be delegated, in the <span style="font-weight: bold;">Tasks</span> 
 <span style="font-weight: bold;">Delegated</span> <span style="font-weight: bold;">to</span> 
 field and click <span style="font-weight: bold;">Search</span> icon. <br />
<br />
Tuebora displays the user names that match the text you entered. </p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the required user name from the list and click <span style="font-weight: bold;">Add</span> 
 <span style="font-weight: bold;">Selected</span>.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Specify the delegation start date and 
 time, in the <b style="mso-bidi-font-weight: normal;">From</b> field. 
 <br />
</span><br />
<span lang="EN-US" xml:lang="EN-US">To do so:</span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click the field to view the calendar. 
 </span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US" style="mso-bidi-font-weight: normal;">S</span><span 
	 lang="EN-US" xml:lang="EN-US"><b style="mso-bidi-font-weight: normal; 
										 font-weight: normal;">elect</b></span><span 
	 lang="EN-US" xml:lang="EN-US"> the d<b style="mso-bidi-font-weight: normal; 
											 font-weight: normal;">ate</b> 
 and time from when the tasks must be delegated.</span></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Specify the delegation end date and 
 time, in the </span><span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">To</span><span 
	 lang="EN-US" xml:lang="EN-US"> field. The options available are:</span></p>
<p style="text-indent: -20px; 
											 margin-left: 120px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Forever</span><span 
	 lang="EN-US" xml:lang="EN-US">: Select this option if you want to 
 delegate tasks for an indefinite period.</span></p>
<p style="text-indent: -20px; 
											 margin-left: 120px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Date</span><span 
	 lang="EN-US" xml:lang="EN-US">: Select this option to delegate tasks 
 for a specified time period. <br />
<br />
If you select </span><span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Date</span><span 
	 lang="EN-US" xml:lang="EN-US">, you must specify the end date and 
 time. To do so:</span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click the field next to the option </span><span 
	 lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Date</span><span 
	 lang="EN-US" xml:lang="EN-US"> to view the calendar. </span></p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US" style="mso-bidi-font-weight: normal;">S</span><span 
	 lang="EN-US" xml:lang="EN-US"><b style="mso-bidi-font-weight: normal; 
										 font-weight: normal;">elect</b></span><span 
	 lang="EN-US" xml:lang="EN-US"> the d<b style="mso-bidi-font-weight: normal; 
											 font-weight: normal;">ate</b> 
 and time when the task delegation must end.</span></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Specify the reason for delegating tasks 
 in the </span><span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Reason 
 for Delegation</span><span lang="EN-US" xml:lang="EN-US"> field.</span></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click </span><span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Set</span><span 
	 lang="EN-US" xml:lang="EN-US"> </span><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold;">Delegation 
 </span><span lang="EN-US" xml:lang="EN-US">to save the configuration. 
 </span><br />
<br />
<span lang="EN-US" xml:lang="EN-US">The subwindow closes and the set delegation 
 is listed in </span><span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">My 
 Settings - Delegation</span><span lang="EN-US" xml:lang="EN-US"> page.</span><br />
<br />
Following figure shows an example for Task Delegation.<br />
<br />
<span style="font-weight: bold;"><img src="Images/Task_Delegation_2.png" alt="" style=" border:none; width:100%; max-width:781px;" border="0" /></span></p>
<p>For each Task Delegation set in Tuebora Portal, you can view the name 
 of the user to whom the tasks must be delegated, delegation period, reason 
 for delegation, and status of the task delegation.</p>
<table class="Note" style="margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="TableText"><span lang="EN-US" xml:lang="EN-US" 
													 style="mso-add-space: auto;"><b 
		 style="mso-bidi-font-weight: normal;">Note</b>: You can view the 
		 status for each task delegation set in Tuebora Portal. The values 
		 available for the </span><span lang="EN-US" xml:lang="EN-US" style="mso-add-space: auto; 
										 font-weight: bold;">Status</span><span 
		 lang="EN-US" xml:lang="EN-US" style="mso-add-space: auto;"> column 
		 are:</span></p>
		<ul style="list-style: disc;">
			<li>
   <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
			 style="font-weight: bold;">Waiting</span>: Tuebora Portal 
			 is waiting to delegate the tasks. Delegation start date is 
			 in future.</p></li>
			<li>
   <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
			 style="font-weight: bold;">Running</span>: Delegation has 
			 started and the tasks are delegated actively.</p></li>
			<li>
   <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
			 style="font-weight: bold;">Completed</span>:<span style="font-weight: bold;"> 
			 </span>The delegation period set for a delegation is complete.</p></li>
		</ul></td>
	</tr>
</table>
<p>After setting task delegation, if you want to update it, you can use 
 <a href="#Editing_a_Task_Delegation">Edit Delegation</a> option. If a 
 task delegation is not required, you can use <a href="#Deleting_a_Task_Delegation">Delete 
 Delegation</a> option to delete it.</p>
<h3><a name="Editing_a_Task_Delegation"></a>Editing a Task Delegation</h3>
<p>You can update Task Delegation in Tuebora Portal if delegation has not 
 started.</p>
<p>Use the <span style="font-weight: bold;">Edit</span> <span style="font-weight: bold;">Delegation</span> 
 option to update the Task Delegation details. In Tuebora Portal, you can 
 edit only those Task Delegations that display the status as <span style="font-weight: bold;">Waiting</span>. 
 You cannot update the Task Delegations that display the status as <span 
	 style="font-weight: bold;">Completed</span> or <span style="font-weight: bold;">Running</span>. 
 </p>
<ol>
	<li>
 <p class="list">Select the check box corresponding to the Task 
	 Delegation that you want to edit, in the <span style="font-weight: bold;">My 
	 Settings - Delegation</span> page. <br />
	<br />
	The Task Delegation is highlighted.</p></li>
	<li>
 <p class="list">Click <span style="font-weight: bold;">Edit</span>. 
	 The <span style="font-weight: bold;">Edit</span> <span style="font-weight: bold;">Delegation</span> 
	 subwindow opens. <br />
	<br />
	Update the required details.</p></li>
	<li>
 <p class="list">Click <span style="font-weight: bold;">Edit Delegation</span> 
	 to save the configuration. <br />
	<br />
	The subwindow closes and the updated values are displayed for the corresponding 
	 Task Delegation on the <span style="font-weight: bold;">My Settings 
	 - Delegation</span> page.<br />
	<br />
	Based on the update, Tuebora Portal assigns the tasks to the user from 
	 the specified start date.</p></li>
</ol>
<h3><a name="Deleting_a_Task_Delegation"></a>Deleting a Task Delegation</h3>
<p>You cannot delete a Task Delegation that display the status as <span 
	 style="font-weight: bold;">Running</span> or <span style="font-weight: bold;">Completed</span>.</p>
<p>You can delete a Task Delegation in <span style="font-weight: bold;">W</span><span 
	 style="font-weight: bold;">aiting</span> status in Tuebora Portal, 
 if it is not required. Use the <span style="font-weight: bold;">Delete 
 Delegation</span> option to delete a Task Delegation from the system. 
 </p>
<p>To delete Task Delegation, perform the following:</p>
<ol>
	<li>
 <p class="list">Select the check box corresponding to the Task 
	 Delegation that you want to edit, in the <span style="font-weight: bold;">My 
	 Settings - Delegation</span> page. <br />
	<br />
	The Task Delegation is highlighted.</p></li>
	<li>
 <p class="list">Click <span style="font-weight: bold;">Delete</span>. 
	 <br />
	<br />
	A subwindow opens asking for confirmation to delete the Task Delegation.</p></li>
	<li>
 <p class="list">Click <span style="font-weight: bold;">Delete</span>. 
	 <br />
	<br />
	The&#160;<span style="font-weight: bold;">My Settings - Delegation</span> 
	 page refreshes and the deleted Task Delegation is removed from the 
	 list.<br />
	<br />
	When you delete a Task Delegation, Tuebora Portal does not assign any 
	 tasks to the delegated user. The tasks are now assigned to the original 
	 user.</p></li>
</ol>
<table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Certification_Policies_-_Disabled.htm" style="color: #008000;">Certification 
		 Policies - Disabled</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="My_Activities.htm" style="color: #008000;">My Activities</a></p></td>
	</tr>
 </table>

</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
