
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Email Notifications</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "7_6";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="656">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Reports.htm" style="color: #008000;">Reports</a></p></td>
		<td>
  <p class="TableText" 
														 style="text-align: right;">&#160;</p></td>
	</tr>
 </table>
 <h1>Email Notifications</h1>
 <p>You can configure Tuebora Portal to send email notifications to inform 
 users about events triggered in Tuebora Portal. If required, you can also 
 enable users to act on these events. This helps users to be aware of happenings 
 in the environment and also act on the tasks, even if they do not have 
 access to the Tuebora Portal UI.</p>
 <p>Following table lists the types of email notifications sent from Tuebora 
 Portal.</p>
 <table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
		 top: 7285px;" cellspacing="0">
	<col width="186" />
	<col width="292" />
	<col width="309" />
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: bottom;" bgcolor="#003A6B">
  <p class="TableText" 
															 style="color: #ffffff; 
															 font-weight: bold;">Email 
		 Notification</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Description</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Recipient</p></td>
	</tr>
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#New_Joinee_-__User_Name__Access_Provisioning____">New 
		 Joinee Access Provisioning</a> </p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When the new user's Access is provisioned</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Supervisor</p></td>
	</tr>
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#New_Joinee_Access_Provisioning_Failure">New 
		 Joinee Access Provisioning Failure</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When the new user's Access is not provisioned 
		 or partially provisioned</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Supervisor</p></td>
	</tr>
	<tr style="height: 91px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="mso-ansi-language: EN-US; mso-fareast-language: EN-US; 
			 font-family: Verdana, sans-serif;"><span style="mso-bidi-language: AR-SA;"><a 
		 href="#Access_Request" style="font-family: Verdana, sans-serif;">Access 
		 Request</a></span></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When a user requests additional Access</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">First 
		 level Approver </p>
		<p class="TableText">(Multiple Levels of Approval - After the first 
		 level approval,</p>
		<p class="TableText">Second Level Approver receives the Access 
		 Request email)</p></td>
	</tr>
	<tr style="height: 62px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Unapproved_Access_is_Granted">Access 
		 Request (Unapproved Access, Privileged Access, Owner Access granted)</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When an Unapproved Access, Privileged Access 
		 or Owner Access</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Supervisor, 
		 to retain or remove the Access granted </p></td>
	</tr>
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><span style="mso-bidi-language: AR-SA;"><a 
		 href="#Access_Requested_Rejected">Access Request Rejected</a></span></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When the requested Access is rejected by 
		 the approver</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">End 
		 User who had requested the Access</p></td>
	</tr>
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Access_Requested_is_Granted__Your_Access_Provisioning_details_">Access 
		 Request Granted</a> - Email to End User</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When an Access requested is granted</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">End 
		 User who had requested the Access</p></td>
	</tr>
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Access_Requested_is_Granted_-_Supervisor">Access 
		 Request Granted</a> - Email to Supervisor</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When an Access requested is granted</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Supervisor 
		 of the user &#160;who had requested the Access</p></td>
	</tr>
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Access_Requested_is_Deleted">Access 
		 Request Deleted</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When an Access requested is deleted by the 
		 Access Requestor</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Access 
		 Approver (First/Second/Third level Approver)</p></td>
	</tr>
	<tr style="height: 54px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#User_Change">User Terminated</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When a user is marked terminated or user 
		 properties - Location/ Job Title/Department is updated in HR sources 
		 and data is imported </p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Supervisor</p></td>
	</tr>
	<tr style="height: 62px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Account_Change">Account Change</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When a User account in an Asset is created, 
		 deleted, disabled or any changes to the Account properties in 
		 Applications and data is imported </p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Asset 
		 Owner</p></td>
	</tr>
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a 
		 href="#Access_Certification_-_Policy_Started">Access Certification 
		 - Policy Started</a></p></td>
		<td style="border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">When 
		 Certification Policy is started</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Authorized users who must certify the Access</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a 
		 href="#Access_Certification_-_My_Policy_Status_Report">Access 
		 Certification - My Policy Status Report</a></p></td>
		<td style="border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">Certification 
		 status report for Certification Policy when it is run. A PDF with 
		 the details of the Certification Policy is attached with this 
		 email. This email is sent daily to the user.</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Governance Team Member(s)</p></td>
	</tr>
	<tr style="height: 54px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Comment_Requested">Comment Requested</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When the additional information is requested 
		 by the Access Approver/Certifier for approving/certifying Access</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">User 
		 from who the comment is requested </p></td>
	</tr>
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Comment_Provided">Comment Provided</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When the addition information is provided 
		 to the information requestor</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Access 
		 Approver/Certifier to who the comment is provided </p></td>
	</tr>
	
		
		
	
	<tr style="height: 86px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Notification_Rule_-_Access_Certification_Reminder">Notification 
		 Rule – Access Certification Reminder</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When an reminder rule is triggered and if 
		 there<span> are Certification Tasks which are unattended for specified 
		 period a notification is sent to Authorized users to remind that 
		 the Access must be certified</span></p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Authorized 
		 users who must certify the Access</p></td>
	</tr>
	<tr style="height: 90px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a 
		 href="#Notification_Rule_-_Access_Certification_Escalation">Notification 
		 Rule – Access Certification Escalation</a></p></td>
		<td style="border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">When 
		 an reminder rule is triggered and if there are Certification Tasks 
		 which are unattended for specified period a notification is sent 
		 to Authorized user's Supervisor to reminder the user to certify 
		 the pending tasks</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Supervisors of Authorized users who must 
		 certify the Access</p></td>
	</tr>
	<tr style="height: 95px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a 
		 href="#Notification_Rule_-_Access_Certification">Notification 
		 Rule – Access Certification</a></p></td>
		<td style="border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">When 
		 an reminder rule is triggered and if there are Certification Tasks 
		 which are</p>
		<p class="TableText">unattended for specified period a notification 
		 is sent to Asset Owner or any other</p>
		<p class="TableText">User to remind the user to certify the pending 
		 tasks</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Asset Owner or Any other users who must 
		 remind the Authorized users to certify the</p>
		<p class="TableText">Access</p></td>
	</tr>
	<tr style="height: 95px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Notification_Rule_-_Access_Certification_Reminder">Notification 
		 Rule – Access Approval Reminder</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When an reminder rule is triggered and if 
		 there are Approval Tasks which are unattended</p>
		<p class="TableText">for specified period a notification is sent 
		 to Authorized users to remind that the</p>
		<p class="TableText">Access must be approved</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Authorized 
		 users who must certify the Access</p></td>
	</tr>
	<tr style="height: 95px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Notification_Rule_-_Access_Certification_Escalation">Notification 
		 Rule – Access Approval Escalation</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When an reminder rule is triggered and if 
		 there are Approval Tasks which are unattended</p>
		<p class="TableText">for specified period a notification is sent 
		 to Authorized user's Supervisor to reminder</p>
		<p class="TableText">the user to approve the pending tasks</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Supervisors 
		 of Authorized users who must certify the Access</p></td>
	</tr>
	<tr style="height: 95px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Notification_Rule_-_Access_Certification">Notification 
		 Rule – Access Approval</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When an reminder rule is triggered and if 
		 there are Approval Tasks which are unattended for specified period 
		 a notification is sent to Asset Owner or any other User to remind 
		 the user to approve the pending tasks</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Asset 
		 Owner or Any other users who must remind the Authorized users 
		 to certify the</p>
		<p class="TableText">Access</p></td>
	</tr>
	<tr style="height: 48px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-family: Verdana, sans-serif;"><a 
		 href="#_X__Days_Left_for_Termination" style="font-family: Verdana, sans-serif;">'X' 
		 Days Left for Termination</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Notification sent at regular intervals (Example: 
		 14, 7, 3 days') prior to user termination</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText"><span 
		 style="mso-ascii-theme-font: minor-latin; mso-fareast-font-family: Calibri; 
		 mso-fareast-theme-font: minor-latin; mso-hansi-theme-font: minor-latin; 
		 mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: minor-bidi; 
		 mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;">User 
		 who is marked for termination and the user's Supervisor</span> 
		 </p></td>
	</tr>
	<tr style="height: 38px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#_X__Days_Left_for_Termination">Last 
		 Day of Termination</a> </p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">On the last day of termination or tenure 
		 at the organization.</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText"><span 
		 style="mso-ascii-theme-font: minor-latin; mso-fareast-font-family: Calibri; 
		 mso-fareast-theme-font: minor-latin; mso-hansi-theme-font: minor-latin; 
		 mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: minor-bidi; 
		 mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;">User 
		 who is terminated</span> </p></td>
	</tr>
	<tr style="height: 48px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Provisioning_Failure_for_Access_Request_-_Email_to_Requestor">Provisioning 
		 Failure for Access Request</a> - Email to Requestor</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When the fulfillment of an approved Access 
		 Request fails</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">&#160;User 
		 who requested the Access</p></td>
	</tr>
	<tr style="height: 48px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Provisioning_Failure_for_Access_Request_-_Email_to_Requestee">Provisioning 
		 Failure for Access Request</a> - Email to Requestee</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When the fulfillment of an approved Access 
		 Request fails</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">&#160;User 
		 for who the Access was requested</p></td>
	</tr>
	<tr style="height: 54px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Access_Provisioning_Deprovisioning_Failure_Email">Access 
		 Provisioning/Deprovisioning Failure Email</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When the provisioning or deprovisioning 
		 tasks fulfillment fails</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Owner 
		 of the Asset</p></td>
	</tr>
	<tr style="height: 64px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Asset_Health_Report">Asset Health 
		 Report</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><span style="mso-fareast-font-family: Calibri;">A 
		 PDF with the summary and detailed information about health of 
		 the Asset is attached with this email. </span></p>
		<p class="TableText"><span style="mso-ascii-theme-font: minor-latin; 
									 mso-fareast-theme-font: minor-latin; 
									 mso-hansi-theme-font: minor-latin; 
									 mso-fareast-font-family: Calibri;">T</span>his 
		 email is sent Daily.</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Owner 
		 of the Asset</p></td>
	</tr>
	<tr style="height: 62px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-family: Verdana, sans-serif;"><a 
		 href="#Consolidated_Email__Multiple_Alerts_" style="font-family: Verdana, sans-serif;">Consolidated 
		 Email (Multiple Alerts)</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">When data is imported and Tuebora Portal 
		 detects the Unpapproved Access, Privileged Access, Control Violation 
		 Access granted to users</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Supervisor 
		 of the users to whom the Unpapproved Access, Privileged Access, 
		 Control Violation Access is granted</p></td>
	</tr>
	<tr style="height: 34px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText"><a href="#Tuebora_Alert">Tuebora Alert</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Summary of all recent emails</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">User 
		 who has received tasks and not acted on them</p></td>
	</tr>
	<tr style="height: 47px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText"><a 
		 href="#Service_Account_Created_in_Asset">Service Account Created</a></p></td>
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">When 
		 a new service account request is approved and service account 
		 is created in the Asset</p></td>
		<td>
  <p class="TableText">Owners of the Service Account</p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <p>Following figures display the email notifications sent from Tuebora 
 Portal.</p>
 <h3><a name="New_Joinee_-__User_Name__Access_Provisioning____"></a>New 
 Joinee Access Provisioning</h3>
 <p><img src="Images/NewJoineeAccesProvisioingEmail.png" alt="" style=" border:none; width:100%; max-width:776px;" border="0" /></p>
 <h3 style="mso-fareast-font-family: Calibri; mso-bidi-font-family: 'Times New Roman'; 
	 mso-bidi-theme-font: minor-bidi;"><a name="New_Joinee_Access_Provisioning_Failure"></a>New 
 Joinee Access Provisioning Failure</h3>
 <p style="mso-fareast-font-family: Calibri;"><span style="mso-bidi-font-family: 'Times New Roman'; 
													 mso-bidi-theme-font: minor-bidi;"><img src="Images/NewJoinee_Access_ProvisioningFailureEmail.png" alt="" style=" border:none; width:100%; max-width:882px;" border="0" /></span></p>
<br style="page-break-before: always;" />

 <h3><a name="Access_Request"></a>Access Request</h3>
 <p><img src="Images/EmailNotification.png" alt="" style=" border:none; width:100%; max-width:915px;" border="0" /></p>
 <h3><a name="Unapproved_Access_is_Granted"></a>Unapproved Access is Granted</h3>
 <p><img src="Images/Unapproved_Access_Granted.png" alt="" style=" border:none; width:100%; max-width:842px;" border="0" /></p>
 <h3 style="mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;"><a 
	 name="Access_Requested_Rejected"></a>Access Requested is Rejected</h3>
 <p><img src="Images/Request_Access_Rejected.png" alt="" style=" border:none; width:100%; max-width:1316px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h3 style="mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;"><a 
	 name="Access_Requested_is_Granted__Your_Access_Provisioning_details_"></a>Access 
 Requested is Granted (Your Access Provisioning details) - End User</h3>
 <p><img src="Images/AccessRequestGrantedEmail.png" alt="" style=" border:none; width:100%; max-width:796px;" border="0" /></p>
 <h3><span style="mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: minor-bidi; 
			 mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;"><a 
	 name="Access_Requested_is_Granted_-_Supervisor"></a>A</span><span 
	 style="mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;">ccess 
 Requested is Granted - Supervisor</span></h3>
 <p style="mso-ansi-language: EN-US; mso-fareast-language: EN-US;"><span 
	 style="mso-bidi-language: AR-SA;"><img src="Images/AccessRequestGranted_Supervisor.png" alt="" style=" border:none; width:100%; max-width:846px;" border="0" /></span> </p>
 <h3 style="mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: minor-bidi; 
	 mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;"><a 
	 name="Access_Requested_is_Deleted"></a>A<span style="font-family: Arial, sans-serif;">ccess 
 Requested is Deleted</span></h3>
 <p style="font-family: Arial, sans-serif;"><img src="Images/AccessRequestedisDeletedEamil.png" alt="" style=" border:none; width:100%; max-width:1325px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h3><a name="User_Change"></a>User Terminated</h3>
 <p><img src="Images/User_Change.png" alt="" style=" border:none; width:100%; max-width:682px;" border="0" /></p>
 <h3><a name="Account_Change"></a>Account Change</h3>
 <p><img src="Images/Account_Change.png" alt="" style=" border:none; width:100%; max-width:799px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Access_Certification_-_Policy_Started"></a>Access 
 Certification - Policy Started</h3>
 <p><img src="Images/AccessCertification_PolicyStarted.png" alt="" style=" border:none; width:100%; max-width:615px;" border="0" /></p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Access_Certification_-_My_Policy_Status_Report"></a>Access 
 Certification - My Policy Status Report</h3>
 <p><img src="Images/AccessCertification_MyPolicyStatusReport.png" alt="" style=" border:none; width:100%; max-width:989px;" border="0" /></p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Comment_Requested"></a>Comment 
 Requested</h3>
 <p><img src="Images/Task_Actions_Comment_Requested.png" alt="" style=" border:none; width:100%; max-width:1017px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h3><a name="Comment_Provided"></a>Comment Provided</h3>
 <p><img src="Images/Comment_provided.png" alt="" style=" border:none; width:100%; max-width:922px;" border="0" /></p>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Access_Control_Violation_Detected"></a>Access 
 Control Violation Detected</h3>
 <p><img src="Images/Control_Violations.png" alt="" style=" border:none; width:100%; max-width:918px;" border="0" /></p>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Notification_Rule_-_Access_Certification_Reminder"></a>Notification 
 Rule - Access Certification Task Reminder</h3>
 <p><img src="Images/Access_Certification_Reminder.png" alt="" style=" border:none; width:100%; max-width:730px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Notification_Rule_-_Access_Certification_Escalation"></a>Notification 
 Rule - Access Certification Escalation</h3>
 <p><img src="Images/Access_Certification_Escalations.png" alt="" style=" border:none; width:100%; max-width:1109px;" border="0" /></p>
 <h3><a name="Notification_Rule_-_Access_Certification"></a>Notification 
 Rule - Access Certification</h3>
 <p><img src="Images/Access_Certification_Email.png" alt="" style=" border:none; width:100%; max-width:916px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h3><a name="Notification_Rule_-_Access_Approval_Task_Reminder"></a>Notification 
 Rule - Access Approval Task Reminder</h3>
 <p><img src="Images/AccessApprovalReminderEmail.png" alt="" style=" border:none; width:100%; max-width:831px;" border="0" /></p>
 <h3><a name="Notification_Rule_-_Access_Approval_Escalation"></a>Notification 
 Rule - Access Approval Escalation</h3>
 <p><img src="Images/AccessApprovalEscalationEmail.png" alt="" style=" border:none; width:100%; max-width:913px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h3><a name="Notification_Rule_-_Access_Approval_"></a>Notification Rule 
 - Access Approval</h3>
 <p><img src="Images/AccessApprovalEamil.png" alt="" style=" border:none; width:100%; max-width:976px;" border="0" /></p>
 <h3 style="mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; mso-fareast-language: EN-US; 
	 mso-bidi-language: AR-SA; mso-bidi-font-family: 'Times New Roman';"><a 
	 name="_X__Days_Left_for_Termination"></a>'X' Days Left for Termination 
 Or Last Day of Termination</h3>
 <p><img src="Images/last_day_of_termination.png" alt="" style=" border:none; width:100%; max-width:632px;" border="0" /></p>
 <h3 style="mso-fareast-font-family: Calibri;"><a name="Provisioning_Failure_for_Access_Request_-_Email_to_Requestor"></a>Provisioning 
 Failure for Access Request - Email to Requestor</h3>
 <p><img src="Images/ProvisioningFailure_AccessRequest_Requestor_email.png" alt="" style=" border:none; width:100%; max-width:912px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h3><a name="Provisioning_Failure_for_Access_Request_-_Email_to_Requestee"></a>Provisioning 
 Failure for Access Request - Email to Requestee</h3>
 <p><img src="Images/ProvisioningFailure_AccessRequest_Requestee_email.png" alt="" style=" border:none; width:100%; max-width:801px;" border="0" /></p>
 <h3><a name="Access_Provisioning_Deprovisioning_Failure_Email"></a>Access 
 Provisioning/Deprovisioning Failure</h3>
 <p><img src="Images/AccessProviDeprovifailure_email.png" alt="" style=" border:none; width:100%; max-width:839px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h3><a name="Asset_Health_Report"></a>Asset Health Report</h3>
 <p><img src="Images/AssetHealthReportEmail.png" alt="" style=" border:none; width:100%; max-width:877px;" border="0" /> </p>
 <h3><span style="mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; 
			 mso-fareast-language: EN-US; mso-bidi-language: AR-SA;"><a 
	 name="Consolidated_Email__Multiple_Alerts_"></a></span><span style="mso-fareast-font-family: Calibri; 
	 mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; mso-fareast-language: EN-US; 
	 mso-bidi-language: AR-SA;">C</span><span style="mso-ascii-theme-font: minor-latin; 
												 mso-fareast-theme-font: minor-latin; 
												 mso-hansi-theme-font: minor-latin; 
												 mso-fareast-font-family: Calibri; 
												 font-family: Arial, sans-serif; 
												 mso-bidi-font-family: 'Times New Roman'; 
												 mso-bidi-theme-font: minor-bidi; 
												 mso-ansi-language: EN-US; 
												 mso-fareast-language: EN-US; 
												 mso-bidi-language: AR-SA;">onsolidated 
 Email (Multiple Alerts)</span></h3>
 <p><img src="Images/Multiple_Alerts.png" alt="" style=" border:none; width:100%; max-width:961px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h3><a name="Tuebora_Alert"></a>Tuebora Alert</h3>
 <p><img src="Images/Tuebora_Alter.png" alt="" style=" border:none; width:100%; max-width:942px;" border="0" /></p>
 <h3><a name="Service_Account_Created_in_Asset"></a>Service Account Created 
 in Asset</h3>
 <p><img src="Images/ServiceAccountCreation_email.png" alt="" style=" border:none; width:100%; max-width:591px;" border="0" /></p>
 <p>&#160;</p>
 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Reports.htm" style="color: #008000;">Reports</a></p></td>
		<td>
  <p class="TableText" 
														 style="text-align: right;">&#160;</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
