
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Escalations</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="704">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <h1>Escalations</h1>
     <h2>What is Escalation</h2>
     <p>Escalation is the process of reassigning the governance tasks that are 
 unattended by users, to another user. Escalation helps organizations to 
 reduce the time required to complete governance tasks. It is important 
 to set an efficient escalation mechanism to identify governance tasks 
 that are unattended by original assignees and reassign these tasks to 
 new assignees who will complete these tasks.</p>
     <p>Tasks such as Access Requests, Certification Tasks generated when Certification 
 Policies are run, and Remediation Tasks generated when Access Control 
 Definitions are run may be escalated from you to a new user when you do 
 not address these tasks by the due date. You can view </p>
     <p>Tasks may be escalated to you from the original approvers, certifiers 
 or authorized users to you if the Tuebora Governance Administrator has chosen 
 you as the new assignee. Typically, you may receive escalations if you 
 are the owner of an Asset, Administrator of an Asset, or owner of the 
 Access. You can view </p>
     <p style="color: #ff0000;">Using Tuebora Governance, the process of escalating 
 unattended governance tasks can be automated by configuring <span style="font-style: italic;">Escalation 
 Rules</span>. Escalation rule can be applied to specific governance tasks 
 such as Access Requests, Certification Policies, or Remediation Tasks 
 when the Access Control Definitions are run. Escalation rule can be applied 
 to all or specific users, all or specific Assets, and all or specific 
 types of Access and with multiple levels of escalation.<br />
<br />
You can create an escalation rule for Access Requests, Certification Tasks 
 generated when the Certification Policies are run, or Remediation Tasks 
 generated when the Access Control Definitions are run. When you create 
 an escalation rule for an Access Request, all Access Requests that are 
 not addressed by approvers are escalated to the user assigned in the escalation 
 rule. When you create an escalation rule for a Certification Policy, all 
 Certification Tasks that are not addressed by certifiers when the Certification 
 Policy is run, are escalated to the user assigned in the escalation rule. 
 When you create an escalation rule for a Remediation Tasks, all Remediation 
 Tasks that are not addressed by authorized users when an Access Control 
 Definition is run, are escalated to the user assigned in the escalation 
 rule.</p>
     <p><br />
<span style="color: #ff0000;">By default, an escalation rule with one level 
 is made available with the following options: escalate </span><span style="font-style: italic; 
	 color: #ff0000;">all governance tasks </span><span style="color: #ff0000;">related 
 to</span><span style="font-style: italic; color: #ff0000;"> all types 
 of access </span><span style="color: #ff0000;">in</span><span style="font-style: italic; 
	 color: #ff0000;"> all assets </span><span style="color: #ff0000;">for 
 </span><span style="font-style: italic; color: #ff0000;">all users, 7 
 days after the start date,</span><span style="color: #ff0000;"> where 
 the tasks are escalated to the </span><span style="font-style: italic; 
											 color: #ff0000;">Supervisor 
 of the Supervisor</span><span style="color: #ff0000;">. You can also create 
 custom escalation rules by specifying the following: users, Assets, type 
 of tasks, types of Access, when to escalate, numbers of levels in the 
 escalation rule and whom to escalate at each level. You can set a maximum 
 of </span><span style="font-style: italic; color: #ff0000;">three</span><span 
	 style="color: #ff0000;"> levels for a escalation rule.</span> </p>
     <p>For example, an organization can create an escalation rule which specifies 
 that Access Requests to Finance applications (Assets) that are unattended 
 for 24 hours from the time the Access was requested, are escalated from 
 the Access approver (original assignee) to the Asset owner (new assignee).</p>
     <p style="color: #ff0000;">To create an escalation rule in Tuebora Governance, 
 go to the <span style="font-weight: bold;">System &gt; Settings</span> 
 page and click the <span style="font-weight: bold;">Escalations</span> 
 tab.</p>
     <h3>How Escalation Works</h3>
     <p>Following figure shows a graphical representation of a scenario where 
 an escalation rule is created to address unattended Access Requests. </p>
     <p><img src="escalations.png" alt="" style=" border:none; width:100%; max-width:570px;" border="0" /></p>
     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>The organization 
 has added a new business application APP1 that helps users create financial 
 reports for the organization's clients. Some users have been asked to 
 request Access to the application and start using the application within 
 28th December, 2016. <br />
<br />
Selected users have requested Access to APP1 through Tuebora Governance on 
 the 24th of December. </p>
     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Administrator 
 for Tuebora Governance has created an escalation rule where Access Requests 
 that are not attended by supervisors by 9 AM of 27th December (1 day before 
 the end date) are escalated to the owner of the Asset to approve the Access 
 Requests.</p>
     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>These 
 Access Requests have been delegated to the users' supervisors. The supervisor 
 for USER 1 and USER 2 have approved the request on the 27th of December 
 and these users can access APP1.<br />
<br />
However USER 3's Access Request is not approved by the supervisor. </p>
     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>At 9 AM, 
 27th of December the Access Request from USER 3 is escalated from the 
 supervisor to the Asset owner.</p>
     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>The Asset 
 owner approved the request immediately and USER 3 can access APP1. <br />
<br />
This escalation rule saved time and ensured that USER 3 has access to APP1.</p>
     <h3>Configuring an Escalation Rule</h3>
     <p>You create an escalation rule by specifying the Assets for which Access 
 is required, type of Access for different tasks that must be escalated 
 within a timeframe, number of levels of escalation and to who the tasks 
 must be escalated at each level. This escalation rule is applied to the 
 governance tasks as per the escalation schedule specified in the escalation 
 rule. </p>
 <p>To create an escalation rule, perform the 
 following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; System &gt; Settings</span>. 
 <br />
<br />
The <span style="font-weight: bold;">System - Settings</span> page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold;">Escalations</span> tab.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Configuration</span> 
 icon <span style="font-size: 12pt;">(</span><span 
	 style="font-size: 12pt;">)</span> next to the escalation rule you 
 last created.<br />
<br />
A new escalation rule is added to the list of escalation rules, below the 
 existing escalation rules. Be default, this escalation rule is named New 
 Rule and is applicable to all types of Access for all users and all tasks 
 related to all Assets.<br />
<br />
You must specify the users, Access, Assets, tasks, number of levels of 
 escalations, and the escalation schedule as per your requirements.<br />
<br />
</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To rename 
 the escalation rule:</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the name of the escalation rule. </p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Enter 
 the new name of the escalation rule.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the tick mark icon below the name.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the users for who the escalation rule is applicable, in the <span style="font-weight: bold;">For 
 Whom to Escalate </span>column. Select one of the following options:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All Users</span> - Select this option if 
 you want to set this escalation rule for all users. Be default, this option 
 is checked. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Users matching </span><span style="font-weight: bold; 
															 text-decoration: underline; ">this 
 criteria</span><span style="font-weight: bold;"> - </span>Select this 
 option if you want to set<span style="font-weight: bold;"> </span>the 
 escalation rule for specific users.<br />
<br />
To specify the users based on a criteria, perform the following:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold; text-decoration: underline; ">this 
 criteria</span> hyperlink.<br />
<br />
The Select Users subwindow is displayed.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop-down list available in <span 
	 style="font-weight: bold;">Include Users that match All/Any of the 
 following criteria</span>:</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All</span> - Select this option to include 
 users who match all the defined criteria.</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Select this option to include 
 users who match any of the defined criteria.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom</span> <span style="font-weight: bold;">Filter</span>. 
 <br />
<br />
The fields to define the criteria appear.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop-down and create the filter.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To add 
 rows, click .</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(vi)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>. 
 <br />
<br />
The subwindow closes and the selected criteria is shown under the <span 
	 style="font-weight: bold;">Users matching </span><span style="font-weight: bold; 
															 text-decoration: underline; ">this 
 criteria</span><span style="font-weight: bold;"> </span>option.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the type of task you want to escalate, in the <span style="font-weight: bold;">What 
 to Escalate </span>column. Select one of the following options:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">all</span>, if you want to apply the 
 escalation rule to all types of task. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">these</span>, if you want to apply the 
 escalation rule to a specific type of task. <br />
<br />
To select the task:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold; text-decoration: underline; ">Task</span> 
 hyperlink.<br />
<br />
The <span style="font-weight: bold;">What to Escalate </span>subwindow 
 opens. It shows the type of tasks to which the escalation rule can be 
 applied. </p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 an appropriate option button. The options available are <span style="font-weight: bold;">Approval 
 Task</span>, <span style="font-weight: bold;">Certification Task</span>, 
 and <span style="font-weight: bold;">Remediation Task</span>.<br />
<br />
Select the appropriate option from the list.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>If you 
 selected <span style="font-weight: bold;">Certification Task</span> or 
 <span style="font-weight: bold;">Remediation Task</span>, you must specify 
 the policy or controls. </p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>If you 
 selected <span style="font-weight: bold;">Certification Task</span>, by 
 default the escalation rule is applicable to all Certification Policies 
 for selected users, Access, and Assets. <br />
<br />
If you want to apply the rule to specific policies, refer <a href="#_Optional__If_you_selected_a_certification_task__select_the_names_of_the_certification_policies_to_which_this_escalation_rule_is_applicable__in_the_What_to_Escalate_column._Select_one_of_the_following_options:">Step 
 9</a>.</p>
 <p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>If you 
 selected <span style="font-weight: bold;">Remediation Task</span>, by 
 default the escalation rule is applicable to Remediation Tasks generated 
 by all Access Control Definitions for selected users, Access, and Assets. 
 <br />
<br />
If you want to apply the rule to specific Access Control Definitions, refer 
 <a href="#_Optional__If_you_selected_a_remediation_task__select_the_type_of_control_to_which_this_escalation_rule_is_applicable__in_the_What_to_Escalate_column._Select_one_of_the_following_options:">Step10</a>. 
 </p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>. 
 <br />
<br />
The subwindow closes and the task you selected is shown under the <span 
	 style="font-weight: bold; text-decoration: underline; ">Task</span><span 
	 style="font-weight: bold;"> </span>hyperlink.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the type of access you want to escalate, in the <span style="font-weight: bold;">What 
 to Escalate </span>column. Select one of the following options:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">all</span>, if you want to apply the 
 escalation rule to all types of Access. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">these</span>, if you want to apply the 
 escalation rule to a specific type of Access. <br />
<br />
To select the access:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold; text-decoration: underline; ">Access</span> 
 hyperlink.<br />
<br />
The <span style="font-weight: bold;">What to Escalate </span>subwindow 
 opens. It shows the type of tasks to which the escalation rule can be 
 applied. </p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 an appropriate option button. The options available are <span style="font-weight: bold;">Administrator</span>, 
 <span style="font-weight: bold;">Access that has</span> <span style="font-weight: bold;">Control 
 Violation</span>, <span style="font-weight: bold;">Exception Access</span>, 
 <span style="font-weight: bold;">Owner Access</span>, <span style="font-weight: bold;">Privileged 
 Access</span>, <span style="font-weight: bold;">Regular Access</span>, 
 <span style="font-weight: bold;">Temporary Access</span>, and <span style="font-weight: bold;">Unapproved 
 Access</span>.<br />
<br />
Select the appropriate option from the list.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>. 
 <br />
<br />
The subwindow closes and the Access you selected are shown under the <span 
	 style="font-weight: bold; text-decoration: underline; ">Access</span><span 
	 style="font-weight: bold;"> </span>hyperlink.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the asset to which this escalation rule is applicable, in the <span style="font-weight: bold;">What 
 to Escalate </span>column. Select one of the following options:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">all</span>, if you want to apply the 
 escalation rule to all Assets. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">these</span>, if you want to apply the 
 escalation rule to specific Assets. <br />
<br />
To select the Assets:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold; text-decoration: underline; ">Asset</span> 
 hyperlink.<br />
<br />
The <span style="font-weight: bold;">Select Assets </span>subwindow opens. 
 </p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Enter 
 the name of the Asset in the <span style="font-weight: bold;">Enter Name 
 of Asset you want to add </span>field and click <span style="font-weight: bold;">Add</span>.<br />
<br />
The escalation rule is now applicable to the Asset.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 step (ii) to add multiple Assets.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>. 
 <br />
<br />
The subwindow closes and the Assets you selected are shown under the <span 
	 style="font-weight: bold; text-decoration: underline; ">Asset</span><span 
	 style="font-weight: bold;"> </span>hyperlink.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a name="_Optional__If_you_selected_a_certification_task__select_the_names_of_the_certification_policies_to_which_this_escalation_rule_is_applicable__in_the_What_to_Escalate_column._Select_one_of_the_following_options:"></a>(Optional) 
 If you selected a Certification Task, select the names of the Certification 
 Policies to which this escalation rule is applicable, in the <span style="font-weight: bold;">What 
 to Escalate </span>column. Select one of the following options:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">all</span>, if you want to apply the 
 escalation rule to all Certification Policies. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">these</span>, if you want to apply the 
 escalation rule to all Certification Policies. <br />
<br />
To select the Certification Policies:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold; text-decoration: underline; ">Policies</span> 
 hyperlink.<br />
<br />
The <span style="font-weight: bold;">Select Controls </span>subwindow opens. 
 </p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Enter 
 the name of the Certification Policy in the <span style="font-weight: bold;">Enter 
 Name of Control you want to add </span>field and click <span style="font-weight: bold;">Add</span>.<br />
<br />
The escalation rule is now applicable to the Certification Policy.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 step (ii) to add Certification Policies.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>. 
 <br />
<br />
The subwindow closes and the Certification Policies you selected are shown 
 under the <span style="font-weight: bold; text-decoration: underline; ">Policies</span><span 
	 style="font-weight: bold;"> </span>hyperlink.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><a name="_Optional__If_you_selected_a_remediation_task__select_the_type_of_control_to_which_this_escalation_rule_is_applicable__in_the_What_to_Escalate_column._Select_one_of_the_following_options:"></a>(Optional) 
 If you selected a Remediation Task, select the Access Control Definition 
 to which this escalation rule is applicable, in the <span style="font-weight: bold;">What 
 to Escalate </span>column. Select one of the following options:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">all</span>, if you want to apply the 
 escalation rule to all Access Control Definitions. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">these</span>, if you want to apply the 
 escalation rule to specific Access Control Definitions. <br />
<br />
To select the Access Control Definitions:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold; text-decoration: underline; ">Controls</span> 
 hyperlink.<br />
<br />
The <span style="font-weight: bold;">Select Controls </span>subwindow opens. 
 </p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Enter 
 the name of the Access Control Definition in the <span style="font-weight: bold;">Enter 
 Name of Control you want to add </span>field and click <span style="font-weight: bold;">Add</span>.<br />
<br />
The escalation rule is now applicable to the Access Control Definition.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 step (ii) to add multiple Access Control Definitions.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>. 
 <br />
<br />
The subwindow closes and the Access Control Definitions you selected are 
 shown under the <span style="font-weight: bold; text-decoration: underline; ">Controls</span><span 
	 style="font-weight: bold;"> </span>hyperlink.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the number of levels of escalation from the <span style="font-weight: bold;">Number 
 of Levels of Escalation</span> drop-down list in the <span style="font-weight: bold;">Escalate 
 to</span> column. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">12.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 who the task should be escalated to, in the <span style="font-weight: bold;">Escalate 
 to</span> column. To do so, perform the following:</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> next to the <span style="font-weight: bold;">First 
 Level Escalation will be done by</span> field.<br />
<br />
The First Level Escalation subwindow is displayed as follows: <br />
<br />
</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 when to escalate the task in the <span style="font-weight: bold;">When 
 to Escalate</span> area. You can escalate the task after the task was 
 created or before an action is due for the task.<br />
<br />
Select one of the following options: </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">after Start Date</span>: Select this option 
 if you want to escalate the task immediately after the task was created. 
 To do so, perform the following:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Enter 
 a value next to the option button to specify the number of days or hours 
 after which the task is escalated. </p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Days</span> or <span style="font-weight: bold;">Hours</span> 
 from the drop-down list.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">before End Date</span>: Select this option 
 if you want to escalate the task before an action is due. To do so, perform 
 the following:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Enter 
 a value next to the option button to specify the number of days or hours 
 before which the task must be escalated. </p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Days</span> or <span style="font-weight: bold;">Hours</span> 
 from the drop-down list.</p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 who to escalate the task to, in the <span style="font-weight: bold;">Whom 
 to Escalate</span> area. The options available are <span style="font-weight: bold;">Owner 
 of the Access</span>, <span style="font-weight: bold;">Any Administrator 
 of the Asset</span>, <span style="font-weight: bold;">Owner of the Resource</span>, 
 <span style="font-weight: bold;">Any Owner of Asset</span>, <span style="font-weight: bold;">Supervisor</span>, 
 and <span style="font-weight: bold;">Supervisor or Supervisor</span>.<br />
<br />
You can also escalate the tasks to Tuebora groups and other users. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To escalate 
 the tasks to Tuebora groups:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Enter 
 the name of the Tuebora group in the <span style="font-weight: bold;">Users 
 belonging to these Tuebora Groups</span> field.<br />
<br />
When you start typing, the system shows the list of Tuebora groups that 
 match the text entered.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 the appropriate Tuebora group. &#160;<br />
<br />
Groups are added.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 step (i) and (ii) to add more Tuebora groups. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To escalate 
 the tasks to other users:</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Enter 
 the name of the user in the <span style="font-weight: bold;">These Users</span> 
 field.<br />
<br />
When you start typing, the system shows the list of users who match the 
 text entered.</p>
 <p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 the appropriate user. &#160;<br />
<br />
Users are added. </p>
 <p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 step (i) and (ii) to add more users. </p>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Escalation</span>. <br />
<br />
The subwindow closes and the assignee for the escalation is selected under 
 the <span style="font-weight: bold;">First Level Escalation will be done 
 by</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">13.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 step 10 next to the <span style="font-weight: bold;">Second Level Escalation 
 will be done by</span> field if you added a second level of escalation.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">14.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Repeat 
 step 10 next to the <span style="font-weight: bold;">Third Level Escalation 
 will be done by</span> field if you added a third level of escalation. 
 </p>
 <h3>Editing an Escalation Rule</h3>
 <p>You edit an escalation rule when the parameters of the current escalation 
 rule must be changed. To edit an escalation rule, perform the following:</p>
 <h3>Deleting an Escalation Rule</h3>
 <p>You delete an escalation rule when all unattended governance tasks have 
 been addressed through escalation or when you no longer want the rule 
 on the Tuebora Governance setup. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>To delete 
 an escalation rule, click the  icon next to the escalation 
 rule you want to delete.</p>
 <p>&#160;</p>
 <p>&#160;</p>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
//]]></script>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
