
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Product Overview</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1304">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Product Overview</h1>
     <p>You can navigate to all features of Tuebora Governance from the home page. 
 The page is optimized for easy access to all features and the Dashboard 
 provides an overview of the environment at a glance.</p>
     <p>As an end user, you must configure the Dashboard to show widgets, based 
 on your requirement. For more information, see <a href="Dashboard.htm">Dashboard</a>.</p>
     <p>Following figure shows an overview of Tuebora Governance home page for an 
 end user log in.</p>
     <p><img src="Images/HomePage.png" alt="" style=" border:Solid 1px #808080; width:100%; max-width:664px;" border="1" /></p>

     <table class="Note" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="TableText"><span style="font-weight: bold;">Note:</span> 
		 The Home Page and <a href="Dashboard.htm#Available_Widgets">widgets</a> 
		 on the Dashboard vary for the different users logged. For example, 
		 an Asset Owner may see the <span style="font-weight: bold;">My 
		 Assets</span> widget on the Dashboard, which is not available 
		 for a Regular User.</p></td>
	</tr>
 </table>
 <p><br style="page-break-before: always;" />
</p>
 <h2>Using Tuebora Governance Home Page</h2>
 <p>Following table lists the UI features and corresponding descriptions.</p>
 <table style="border: Solid 1px #000000; left: 0px; top: 293px;" cellspacing="0">
	<col width="262" />
	<col width="547" />
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="font-size: 10pt; 
									 margin-top: 2pt; margin-left: 5pt; 
									 margin-bottom: 2pt; font-weight: bold; 
									 color: #ffffff;">UI Item</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; font-weight: bold; color: #ffffff;">Description</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; color: #000000; font-weight: normal;"><a 
		 name="Search_Box" id="Search_Box"></a>Search Box</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="font-size: 10pt; 
														 margin-top: 2pt; 
														 margin-left: 5pt; 
														 margin-bottom: 2pt; 
														 color: #000000;">Use 
		 the box to search for users and resources.</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; color: #000000; font-weight: normal;"><a 
		 href="#Quick_Access">Quick Access</a> (<img src="Images/Icon_QuickAccess.gif" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />)</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="font-size: 10pt; 
														 margin-top: 4pt; 
														 margin-left: 5pt; 
														 margin-bottom: 4pt; 
														 color: #000000;">Click 
		 to access the top features available for your profile.</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; color: #000000; font-weight: normal;"><a 
		 href="Dashboard.htm" style="font-weight: normal;">Dashboard</a></p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="font-size: 10pt; 
														 margin-top: 2pt; 
														 margin-left: 5pt; 
														 margin-bottom: 2pt; 
														 color: #000000;">Provides 
		 widgets and graphical representation of certain reports for quick 
		 analysis of the environment. You can click the clickable items 
		 to navigate to the corresponding detailed pages.</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; color: #000000; font-weight: normal;">MENU</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="font-size: 13px; 
														 margin-top: 2pt; 
														 margin-left: 5pt; 
														 margin-bottom: 3pt; 
														 line-height: normal; 
														 orphans: auto; 
														 widows: auto; 
														 -webkit-text-stroke-width: 0px; 
														 color: #000000; 
														 display: inline	 ! important ; 
														 background-color: #ffffff;">Select 
		 to view and access the features available for your profile.</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; color: #000000; font-weight: normal;">Logout 
		 (<img src="Images/Icon_Logout.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" />)</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="font-size: 13px; 
														 margin-top: 2pt; 
														 margin-left: 5pt; 
														 margin-bottom: 3pt; 
														 line-height: normal; 
														 orphans: auto; 
														 widows: auto; 
														 -webkit-text-stroke-width: 0px; 
														 color: #000000; 
														 display: inline	 ! important ; 
														 background-color: #ffffff;">Click 
		 to log out from the system.</p></td>
	</tr>
 </table>
 <h2><a name="Quick_Access"></a>Quick Access</h2>
 <p>Quick Access allows you to quickly navigate to the top features of your 
 profile. The available options differ based on the end user login. For 
 more information on the users in Tuebora Governance, see <a href="User_Roles.htm">Users 
 and Tasks</a>.</p>
 <p>Following table lists the Quick Access options for the different user 
 login in Tuebora Governance.</p>
 <table style="border: Solid 1px #000000; left: 0px; top: 293px;" cellspacing="0">
	<col />
	<col />
	<col />
	<col />
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="font-size: 10pt; 
									 margin-top: 2pt; margin-left: 5pt; 
									 margin-bottom: 2pt; font-weight: bold; 
									 color: #ffffff;">Asset Owner/Regular 
		 User &#160;</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="font-size: 10pt; 
									 margin-top: 2pt; margin-left: 5pt; 
									 margin-bottom: 2pt; font-weight: bold; 
									 color: #ffffff;">Governance Team Member 
		 &#160;</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; font-weight: bold; color: #ffffff;">Supervisor</p></td>
	</tr>
	<tr style="height: 13px;">
		<td rowspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; color: #000000;">Request 
		 Access</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; color: #000000; font-weight: normal;">Create 
		 Certification Policy</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="font-size: 10pt; 
														 margin-top: 2pt; 
														 margin-left: 5pt; 
														 margin-bottom: 2pt; 
														 color: #000000;">Create 
		 User</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; color: #000000; font-weight: normal;">Create 
		 Access Control</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="font-size: 10pt; 
														 margin-top: 2pt; 
														 margin-left: 5pt; 
														 margin-bottom: 2pt; 
														 color: #000000;">Request 
		 Access</p></td>
	</tr>
	<tr style="height: 13px;">
		<td rowspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; color: #000000;">View 
		 Task Delegation</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 2pt; 
			 margin-left: 5pt; margin-bottom: 2pt; color: #000000;">Request 
		 Access</p></td>
		<td rowspan="2" style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
			 style="font-size: 10pt; margin-top: 4pt; margin-left: 5pt; 
			 margin-bottom: 4pt; color: #000000;">View Task Delegation 
		 &#160;</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 10pt; margin-top: 4pt; 
			 margin-left: 5pt; margin-bottom: 4pt; color: #000000;">View 
		 Task Delegation</p></td>
		
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
