
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Alerts</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "2_4";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="104">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Unlocking_Account.htm" style="color: #008000;">Unlocking 
		 Account from Login Page</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="My_Access.htm" 
													 style="color: #008000;">My 
		 Access</a> &#160;</p></td>
	</tr>
 </table>
 <h1>Alerts</h1>
 <p><span style="font-weight: bold;">Alerts</span> are system-generated 
 notifications sent to authorized users, informing them about the actions 
 and events pertaining to Access and Assets in Tuebora Portal. Tuebora 
 displays these alerts on the <span style="font-weight: bold;">Dashboard</span>, 
 in the <span style="font-weight: bold;">My</span> <span style="font-weight: bold;">Alerts</span> 
 widget.</p>
 <p>Following table lists some Alerts sent to authorized users.</p>
 <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 33.333%;" />
	<col style="width: 33.333%;" />
	<col style="width: 33.333%;" />
	<tr class="t1st">
		<td>
  <p class="TableText" style="font-size: 10pt; font-weight: bold;">Scenario</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">User</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Task Which 
		 Generates an Alert</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Access Control Violation</p></td>
		<td>
  <p class="TableText">Supervisor/Asset Owner</p></td>
		<td>
  <p class="TableText">To remediate the violation by certifying 
		 the Access.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Access Request</p></td>
		<td>
  <p class="TableText">Access Approvers (based on System Setting)</p></td>
		<td>
  <p class="TableText">To approve or reject the request.</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Access Request Approved/Rejected</p></td>
		<td>
  <p class="TableText">Access Requestor</p></td>
		<td>
  <p class="TableText">No task to perform, but alerting the requestor.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Provide Info for Access Request</p></td>
		<td>
  <p class="TableText">Access Requestor/other user from whom 
		 information is requested</p></td>
		<td>
  <p class="TableText">Provide information as requested by the 
		 Access Approver.</p></td>
	</tr>
 </table>
 <p style="font-weight: bold;">Example</p>
 <p>When an Access is requested and the Approver has requested for some 
 additional information, the requestor is notified with an alert. This 
 notifies the requestor that the Requested Access is not yet approved and 
 the Approver needs more information to approve the Access.</p>
 <p>Following figure shows an example for the <span style="font-weight: bold;">My 
 Alerts</span> widget on the dashboard.<br />
<br />
<img src="Images/Widget.png" alt="" style=" border:none; width:100%; max-width:628px;" border="0" /></p>
 <h4>Alert Types</h4>
 <p>Following table lists the <span style="font-weight: bold;">Alert Types</span> 
 available for different Tuebora Portal user roles.</p>
 <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 15.837%;" />
	<col style="width: 84.163%;" />
	<tr class="t1st">
		<td>
  <p class="TableText" style="font-weight: bold;">Alert Type</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Description</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Custom Alert</p></td>
		<td>
  <p class="TableText">View custom alerts received</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Administrator Access Change</p></td>
		<td>
  <p class="TableText">View alerts related to Administrator Access 
		 changes</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Privileged Access Change</p></td>
		<td>
  <p class="TableText">View alerts related to Privileged Access 
		 changes</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Account Change</p></td>
		<td>
  <p class="TableText">View alerts related to Account changes, 
		 such as new Account Created and Account Deleted</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">User Change</p></td>
		<td>
  <p class="TableText">View alerts related to Terminated Users</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Policy</p></td>
		<td>
  <p class="TableText">View alerts related to running Certification 
		 Policies</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Access Activity</p></td>
		<td>
  <p class="TableText">View alerts of activities for Inoperative 
		 Accounts, Unauthorized Access, Orphaned Accounts, To Be Terminated 
		 Users, Expired Accounts, and Temporary Accounts</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">New Asset Added</p></td>
		<td>
  <p class="TableText">View alerts related to new Assets added</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Control Violation</p></td>
		<td>
  <p class="TableText">View alerts for Access Violations detected 
		 when Access Control Definitions are run.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Access Request</p></td>
		<td>
  <p class="TableText">View alerts for Access Requests submitted 
		 by users.</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Task Assignment</p></td>
		<td>
  <p class="TableText">View alerts when the existing Access for 
		 a user must be certified by the new supervisor when the supervisor 
		 has changed.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Task Actions</p></td>
		<td>
  <p class="TableText"><span style="font-size: 10pt; color: #000000;">View 
		 alerts for the following:</span></p>
		<ul style="list-style: disc;">
			<li>
   <p class="TableText" style="margin-left: 0px; text-indent: -48px;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Provide 
			 Info requested by Approver for Access Approval.</p></li>
			<li>
   <p class="TableText" style="margin-left: 0px; text-indent: -48px;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Information 
			 provided by Access Requestor/any user from whom information 
			 was requested.</p></li>
		</ul></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Delegation</p></td>
		<td>
  <p class="TableText">View alerts related to Task Delegation.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Access to Asset</p></td>
		<td>
  <p class="TableText">View alerts related to Access granted 
		 and removed across Assets.</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Task Escalation</p></td>
		<td>
  <p class="TableText"><span style="font-size: 10pt;">View alerts 
		 related to the tasks that are escalated when escalation rules 
		 are</span> run. Both the original approver and the new assignee 
		 as per the escalation rule receive this alert.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Analysis</p></td>
		<td>
  <p class="TableText">View alerts related to anomalous Access 
		 granted to users.</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Provision</p></td>
		<td>
  <p class="TableText">View alerts related to failed provisioning 
		 of approved Access Requests.</p></td>
	</tr>
 </table>
 <h2>Using the My Alerts Widget</h2>
 <p>You can perform the following tasks by using the <span style="font-weight: bold;">My 
 Alerts</span> widget:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Filtering_Alerts">Filtering Alerts</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Archiving_Alerts">Archiving Alerts</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Deleting_Alerts">Deleting Alerts</a></p></li>
</ul>
<h5 style="font-weight: bold;">Navigation</h5>
<table class="Navigation" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="list">To access the <span style="font-weight: bold;">My 
		 Alerts</span> <span style="font-size: 13px; line-height: normal; 
							 orphans: auto; widows: auto; display: inline	 ! important ; 
							 float: none; background-color: #ffffff;">widget, 
		 browse to the widget on the</span> <span style="font-size: 13px; 
													 line-height: normal; 
													 orphans: auto; widows: auto; 
													 display: inline	 ! important ; 
													 float: none; background-color: #ffffff; 
													 font-weight: bold;">Dashboard</span></p></td>
	</tr>
 </table>
 <h3><a name="Filtering_Alerts" id="Filtering_Alerts"></a>Filtering Alerts</h3>
 <p>You may want to refer a specific alert or group of alerts to view details 
 or perform some actions. Tuebora Portal provides the filter functionality 
 to sort alerts based on the Alert Type. The availability of alert types 
 depend on your user role in Tuebora Portal.</p>
 <p>To filter alerts based on the Alert Types, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the required value from the drop-down list available in the <span style="font-weight: bold;">Alert 
 Type</span> field.<br />
<br />
The page refreshes to show only those alerts belonging to the selected 
 type.<br />
<br />
Following figure an example where the Alerts are filtered by Alert Type 
 'Access Request'.<br />
<br />
<img src="Images/Alert_Filtered.png" alt="" style=" border:none; width:100%; max-width:608px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>View the 
 alerts and take actions if required.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To view 
 all the alerts again, click <span style="font-weight: bold;">Select</span> 
 from the drop-down list available in the <span style="font-weight: bold;">Alert 
 Type</span> field.<br />
<br />
The page refreshes to show all the alerts.</p>
 <h3 class="list"><a name="Archiving_Alerts" id="Archiving_Alerts"></a>Archiving 
 Alerts</h3>
 <p>When you have taken the necessary action for an alert, you may want 
 to remove it from the <span style="font-weight: bold;">My</span> <span 
	 style="font-weight: bold;">Alerts</span> widget. This helps in keeping 
 the <span style="font-weight: bold;">My</span> <span style="font-weight: bold;">Alerts</span> 
 widget organized and up-to-date. You can archive the alerts, if you require 
 them in the future.</p>
 <p>To archive alerts, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check boxes corresponding to the alerts that must be archived.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Archive</span>.<br />
<br />
The alerts are archived and the page refreshes to show the remaining alerts.</p>
 <h3><a name="Deleting_Alerts" id="Deleting_Alerts"></a>Deleting Alerts</h3>
 <p>To delete unwanted alerts, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check boxes corresponding to the alerts that must be deleted from 
 the <span style="font-weight: bold;">My Alerts</span> widget.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Delete</span>.<br />
<br />
The alerts are deleted and the page refreshes to show the remaining alerts.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 To delete or archive all alerts on the page at once, select the 
		 check box to the left of the <span style="font-weight: bold;">Alert 
		 Date</span> column and click <span style="font-weight: bold;">Delete</span>.</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Unlocking_Account.htm" style="color: #008000;">Unlocking 
		 Account from Login Page</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="My_Access.htm" 
													 style="color: #008000;">My 
		 Access</a> &#160;</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
