
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Approvals To Be Fulfilled</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="176">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Previous</span>: 
		 <a href="Rejections.htm" style="color: #008000;">Rejections</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Approvals_Fulfilled.htm" style="color: #008000;">Approvals 
		 Fulfilled</a></p></td>
	</tr>
 </table>
 <h1>Approvals To be Fulfilled</h1>
 <p>The <span style="font-weight: bold;">My Task History - Approvals To 
 be Fulfilled</span> page displays the Access Approval tasks which you 
 approved in Tuebora Portal and this change needs to be updated in the 
 Asset. When this change is updated in the Asset, the Access Approval task 
 entry is moved to the <span style="font-weight: bold;">My Task History 
 - Approvals Fulfilled</span> page.</p>
 <p>You can perform the following tasks on the <span style="font-weight: bold;">My 
 Task History - Approvals To be Fulfilled</span> page:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Viewing_the_List_of_Access_Request_Tasks_That_Must_be_Fulfilled">Viewing 
	 the List of Access Approval Tasks that must be Fulfilled</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Details_of_an_Access_Request_Task_That_Must_be_Fulfilled">Viewing 
	 the Details of an Access Approval Task that must be Fulfilled</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Access_Analysis_of_an_Access_Request_Task_That_Must_be_Fulfilled">Viewing 
	 the Access Analysis of an Access Approval Task that must be Fulfilled</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Escalation_History_of_an_Access_Request_Task_That_Must_be_Fulfilled">Viewing 
	 the Escalation History of an Access Approval Task that must be Fulfilled</a></p></li>
	<li style="color: #000000;">
 <p class="list"><a href="#Viewing_the_Role_of_an_Access_Request_Task_That_Must_be_Fulfilled">Viewing 
	 the Details of the Role Access Approval Task that must be Fulfilled</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_History_of_an_Access_Request_Task_That_Must_be_Fulfilled">Viewing 
	 the History of an Access Approval Task that must be Fulfilled</a></p></li>
	<li>
 <p class="list"><a href="Approvals_Fulfilled.htm#Exporting_Access_Request_Tasks_That_are_Fulfilled_in_PDF_and_Excel_Formats">Exporting 
	 Access Request Approval Tasks that must be Fulfilled in PDF and Excel 
	 formats</a></p></li>
</ul>
<p class="list" style="margin-left: 0pt; font-weight: bold; color: #003a6b;"><span><span 
	 style="font-weight: bold; color: #003a6b;"><span><span><span><span><span 
	 style="font-weight: bold;">N</span></span></span></span></span>avigation</span></span></p>
<table class="Navigation" style="border: Solid 1px #000000; margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access <span style="font-weight: bold;">Approvals 
		 To be Fulfilled</span> feature, select <span style="font-weight: bold;">MENU 
		 &gt; My Task History &gt; Approvals To be Fulfilled</span>.</p></td>
	</tr>
 </table>
 <h3><a name="Viewing_the_List_of_Access_Request_Tasks_That_Must_be_Fulfilled" 
		 id="Viewing_the_List_of_Access_Request_Tasks_That_Must_be_Fulfilled"></a>Viewing 
 the List of Access Approval Tasks that must be Fulfilled</h3>
 <p>Click the '<span style="font-weight: bold;">+</span>' icon to the right 
 of an Access group to view the details of the Access approval tasks that 
 must be fulfilled. A table appears displaying the columns such as Approval 
 Summary, Request For, Task Action - Access To Be Approved, and Analysis. 
 The Access approval tasks are displayed as rows.</p>
 <p>Click the <span style="font-weight: bold; text-decoration: underline; ">more</span> 
 hyperlink in the Analysis column to view the analysis of an Access approval 
 task.</p>
 <h3><a name="Viewing_the_Details_of_an_Access_Request_Task_That_Must_be_Fulfilled" 
		 id="Viewing_the_Details_of_an_Access_Request_Task_That_Must_be_Fulfilled"></a>Viewing 
 the Details of an Access Approval Task that must be Fulfilled</h3>
 <p>You can view the details of an Access Request task that you rejected, 
 from the <span style="font-weight: bold;">View &gt; View Request</span> 
 menu. The resultant <span style="font-weight: bold;">Request Details</span> 
 page displays the details of the Access Request task, the Access requested 
 and the activity history of the Access.</p>
 <p>In <span style="font-weight: bold;">Request</span> <span style="font-weight: bold;">Details</span> 
 page, you can view additional information only for the Service Account 
 requests made in the system.</p>
 <p>To view the additional information, select the requested Access and 
 click <span style="font-weight: bold;">View &gt; View Additional Info</span>.</p>
 <h3><a name="Viewing_the_Access_Analysis_of_an_Access_Request_Task_That_Must_be_Fulfilled" 
		 id="Viewing_the_Access_Analysis_of_an_Access_Request_Task_That_Must_be_Fulfilled"></a>Viewing 
 the Access Analysis of an Access Request Task that must be Fulfilled</h3>
 <p>You can view the analysis of an Access Request task that must be fulfilled, 
 from the <span style="font-weight: bold;">View &gt; View Access Analysis</span> 
 menu. The resultant <span style="font-weight: bold;">Analysis</span> subwindow 
 displays the analysis of the Access.</p>
 <p>&#160;For more information, refer to <a href="Viewing_the_Analysis_of_Access.htm">Viewing 
 the Access Analysis of an Access Approval Task</a>.</p>
 <h3><a name="Viewing_the_Escalation_History_of_an_Access_Request_Task_That_Must_be_Fulfilled" 
		 id="Viewing_the_Escalation_History_of_an_Access_Request_Task_That_Must_be_Fulfilled"></a>Viewing 
 the Escalation History of an Access Request Task that must be Fulfilled</h3>
 <p>You can view the escalation history of an Access Request task that must 
 be fulfilled, from the <span style="font-weight: bold;">View &gt; View 
 Escalation History</span> menu. The resultant <span style="font-weight: bold;">Escalation 
 History</span> subwindow displays all escalations related to this task.</p>
 <p>&#160;For more information, refer to <a href="Viewing_the_Escalation_History.htm">Viewing 
 the Escalation History of an Access Approval Task</a>.</p>
 <h3><a name="Viewing_the_Role_of_an_Access_Request_Task_That_Must_be_Fulfilled" 
		 id="Viewing_the_Role_of_an_Access_Request_Task_That_Must_be_Fulfilled"></a>Viewing 
 the Details of Role Access Approval Task that must be Fulfilled</h3>
 <p style="color: #000000;"><span style="color: #000000;">You can view the 
 details of Role Access approval task that must be fulfilled, from the</span> 
 <span style="color: #000000; font-weight: bold;">View &gt; View Role Access</span> 
 <span style="color: #000000;">menu. The resultant</span> <span style="color: #000000; 
	 font-weight: bold;">Role Access</span> <span style="color: #000000;">page 
 displays the Accesses that are requested through a Role access.</span></p>
 <p style="color: #000000;">&#160;For more information, refer to <a href="Viewing_the_Role_Access.htm">Viewing 
 the Role Access of an Access Approval Task</a>.</p>
 <h3><a name="Viewing_the_History_of_an_Access_Request_Task_That_Must_be_Fulfilled" 
		 id="Viewing_the_History_of_an_Access_Request_Task_That_Must_be_Fulfilled"></a>Viewing 
 the History of an Access Request Task that must be Fulfilled</h3>
 <p>You can view the history of the Access Request task must be fulfilled, 
 from the <span style="font-weight: bold;">View &gt; View Task History</span> 
 menu. The resultant <span style="font-weight: bold;">Task History</span> 
 subwindow displays the history related to this Access Request task.</p>
 <p>&#160;For more information, refer to <a href="Viewing_the_Task_History.htm">Viewing 
 the Task History of an Access Approval Task</a>.</p>
 <h3><a name="Exporting_Access_Request_Approval_Tasks_That_Must_be_Fulfilled_in_PDF_and_Excel_Formats" 
		 id="Exporting_Access_Request_Approval_Tasks_That_Must_be_Fulfilled_in_PDF_and_Excel_Formats"></a>Exporting 
 Access Request Approval Tasks that must be Fulfilled in PDF and Excel 
 Formats</h3>
 <p>You can export the details of the Access Request approval tasks that 
 must be fulfilled, in PDF and Excel formats. </p>
 <p>For more information, refer to <a href="Common_Tasks.htm#Exporting_Reports_to_PDF_or_Excel_Format">Exporting 
 Reports to PDF or Excel Format</a>.</p>
 <p>For more information about Access Request and Access Approval, refer 
 to <a href="Access_Request.htm">Access Request</a>.&#160; </p>
 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Previous</span>: 
		 <a href="Rejections.htm" style="color: #008000;">Rejections</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Approvals_Fulfilled.htm" style="color: #008000;">Approvals 
		 Fulfilled</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
