
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Certification Policies - Enabled</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "6.0_3";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="344">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Previous</span>: 
		 <a href="Certification_Policies_-_Running.htm" style="color: #008000;">Certification 
		 Policies - Running</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Certification_Policies_-_Disabled.htm" style="color: #008000;">Certification 
		 Policies - Disabled</a></p></td>
	</tr>
 </table>
 <h1>Certification Policies - Enabled</h1>
 <p>You can view all the certification policies that are created and which 
 are enabled state from the <span style="font-weight: bold;">Certification 
 Policies - Enabled</span> page.</p>
 <p>After running a Certification Policy, Tuebora Portal creates Certification 
 Tasks and assigns it against <span style="font-weight: bold;">Certifiers</span> 
 for each User, Account, or Group. You can view the overall status and 
 detailed summary of the policy from the <span style="font-weight: bold;">Certification 
 Policies - Enabled</span> page.</p>
 <p>You can view the details of the Certification Status and Action for 
 current as well as completed policies.</p>
 <p>You can perform the following tasks from the <span style="font-weight: bold;">Certification 
 Policies - Enabled</span> page.</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Editing_a_Certification_Policy">Editing 
	 a Certification Policy</a></p></li>
	
	
	<li>
 <p class="list"><a href="#Running_a_Certification_Policy">Running 
	 a Certification Policy</a></p></li>
	<li>
 <p class="list"><a href="#Change_Policy_Run_Due_Date">Change Policy 
	 Run Due Date</a></p></li>
	<li>
 <p class="list"><a href="#Creating_a_Schedule_to_Run_a_Certification_Policy">Creating 
	 a Schedule to Run a Certification Policy</a></p></li>
	<li>
 <p class="list"><a href="#Changing_or_Removing_the_Run_Schedule_of_a_Certification_Policy">Changing 
	 or Removing the Run Schedule of a Certification Policy</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Certification_Status_Details">Viewing 
	 the Certification Status Details</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Certification_Action_Details">Viewing 
	 the Certification Action Details</a></p></li>
</ul>
<ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Certification_Tasks_Page">Viewing Certification 
	 Tasks Page</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Summary_of_a_Certification_Policy">Viewing 
	 the Summary of a Certification Policy</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Escalation_History">Viewing 
	 the Escalation History</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Open_Tasks_for_a_Certification_Policy">Viewing 
	 the Open Tasks for a Certification Policy</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Completed_Tasks_for_a_Certification_Policy">Viewing 
	 the Completed Tasks for a Certification Policy</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Closed_Tasks_for_a_Certification_Policy">Viewing 
	 the Closed Tasks for a Certification Policy</a></p></li>
	<li>
 <p class="list"><a href="#Exporting_the_Recommendations_as_a_CSV_File">Exporting 
	 the Recommendations as a CSV File</a></p></li>
	<li>
 <p class="list"><a href="#Exporting_the_Recommendations_as_an_XML_File">Exporting 
	 the Recommendations as an XML File</a></p></li>
	<li>
 <p class="list"><a href="#Exporting_the_Status_of_a_Certification_Policy_as_a_PDF_File">Exporting 
	 the Status of a Certification Policy as a PDF File</a></p></li>
	<li>
 <p class="list"><a href="#Mark_Certification_Policy_Run_as_Completed">Marking 
	 Certification Policy Run as Completed</a></p></li>
	<li>
 <p class="list"><a href="#Disable_a_Certification_Policy">Disabling 
	 a Certification Policy</a></p></li>
	<li>
 <p class="list"><a href="#Deleting_a_Certification_Policy">Deleting 
	 a Certification Policy</a></p></li>
	<li>
 <p class="list"><a href="#Deleting_the_Run_Schedule_of_a_Certification_Policy">Deleting 
	 the Certification Policy Run</a></p></li>
	<li>
 <p class="list"><a href="#Exporting_Reports_in_PDF_and_XLS_Formats">Exporting 
	 Reports in PDF and XLS Formats</a></p></li>
</ul>
<p style="margin-left: 0pt; font-weight: bold; color: #003a6b;">Navigation</p>
<table class="Navigation" style="margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">Certification 
		 Polices - Enabled</span> page, select &#160;<span style="font-weight: bold;">MENU 
		 &gt; Governance &gt; Certification Policies</span> and click <span 
		 style="font-weight: bold;">Enabled Policies</span> tab.</p></td>
	</tr>
 </table>
 <h3 class="list"><a name="Editing_a_Certification_Policy" id="Editing_a_Certification_Policy"></a>Editing 
 a Certification Policy</h3>
 <p>To edit a Certification Policy, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required policy.<br />
<br />
The policy is highlighted.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Actions &gt; Edit</span>.<br />
<br />
The <span style="font-weight: bold;">Edit Certification Policy</span> page 
 opens.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Make the 
 required changes to the policy and click <span style="font-weight: bold;">Save 
 changes</span>.<br />
<br />
The tab closes after saving the changes.</p>












 <h3><a name="Running_a_Certification_Policy" id="Running_a_Certification_Policy"></a>Running 
 a Certification Policy</h3>
 <p>After creating Certification Policies, you must run the policies to 
 trigger Certification Tasks in the system. You can run the policies immediately 
 after creating it. If you want to have Access Certifications at regular 
 intervals, you can create schedules. If you want to Certify the Access 
 on a need-basis, you can run it when you need to certify the Access. <span 
	 style="color: #000000; line-height: normal; orphans: auto; widows: auto; 
	 -webkit-text-stroke-width: 0px;">Tuebora Portal</span> also provides 
 the option to define recurring schedules for policies.</p>
 <p>When you run the policies, system creates Certification Tasks against 
 the authorized users to certify the Access.</p>
 <p style="font-weight: bold;"><span style="font-weight: bold;">Example</span></p>
 <p>In an organization, some Finance Team Members have Administrator access 
 to the Finance application in the environment. Sometimes, internal job 
 transfers happen and users change departments. So the access to the application 
 must be certified frequently. A Certifier must keep certifying the User 
 Access to the Asset once every month. A Certification Policy is created 
 to certify the Access and it is scheduled to run once a month, so that 
 the Certification Tasks are created against the Certifiers.</p>
 <h4>Running Certification Policies Immediately</h4>
 <p>To run Certification Policies immediately, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required policy.<br />
<br />
The policy is highlighted.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Actions &gt; Run Now.</span><br />
<br />
The <span style="font-weight: bold;">Run Policy Now</span> subwindow opens.<br />
<br />
<img src="Images/Cert_RunPolicy.png" alt="" style=" border:none; width:100%; max-width:625px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the date and time by when the Certification Task must be completed in 
 the available field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Run Policy Now</span> to run the policy 
 immediately.<br />
<br />
The subwindow closes. The policy runs in the background and displays a 
 message on completion.<br />
<br />
The fields corresponding to the policy are updated with details about the 
 <span style="font-weight: bold;">Due date</span>, <span style="font-weight: bold;">Certification 
 Status</span>, and <span style="font-weight: bold;">Certification Recommendation</span>.</p>
 <h3><a name="Change_Policy_Run_Due_Date" id="Change_Policy_Run_Due_Date"></a>Change 
 Policy Run Due Date</h3>
 <p>You can change the Policy Run Due Date selected when the policy was 
 run. The Change in Policy Run due date will change the due date for all 
 tasks generated for this Policy Run.</p>
 <p>To change the due date for the tasks generated for a policy run, perform 
 the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required policy.<br />
<br />
The policy is highlighted.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Actions &gt; Change Run Due Date</span>.<br />
<br />
<img src="Images/Changerunduedate.png" alt="" style=" border:none; width:100%; max-width:546px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the new due date in the <span style="font-weight: bold;">Due</span> <span 
	 style="font-weight: bold;">Date</span> field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Change Policy Run Due Date</span>.<br />
The due date for all the certification tasks will change to the new due 
 date set for the policy run.</p>
 <h3><a name="Creating_a_Schedule_to_Run_a_Certification_Policy" id="Creating_a_Schedule_to_Run_a_Certification_Policy"></a>Creating 
 a Schedule to Run a Certification Policy</h3>
 <p>To create a schedule to run a Certification Policy, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required policy.<br />
<br />
The policy is highlighted.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Actions &gt; Create Run Schedule</span>.<br />
<br />
The <span style="font-weight: bold;">Create Run Schedule</span> subwindow 
 opens.<br />
<br />
<img src="Images/Certification_CreateRunSchedule.png" alt="" style=" border:none; width:100%; max-width:535px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the frequency at which the policy must run, in the <span style="font-weight: bold;">Recurrence 
 Pattern</span> section:</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 2pt; 
											 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Daily</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 2pt; 
											 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Weekly</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 2pt; 
											 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Monthly</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the date and time from when the policy must run, in the <span style="font-weight: bold;">Start 
 Date</span> field.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 till when the policy must run.<br />
<br />
Select the appropriate option from the list:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">No End Date</span> - Select this option 
 if the policy must keep running for an indefinite period.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">End After:</span> <span style="font-style: italic;">x</span> 
 <span style="font-weight: bold;">occurrences</span> - Type the number 
 of occurrences after which the policy must end, in the field provided.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">End by</span> - Specify the date and time 
 till when the policy must run.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Create Schedule</span>.<br />
<br />
The subwindow closes and the <span style="font-weight: bold;">Certification 
 Policies</span> page refreshes to show the schedule icon (<img src="Images/Icon_Schedule.gif" alt="" style=" border:none; width:100%; max-width:18px;" border="0" />) next to the policy.<br />
<br />
Bring the cursor over the icon to view summary of the schedule.<br />
<br />
<img src="Images/RunSchedule_Cursor.png" alt="" style=" border:none; width:100%; max-width:503px;" border="0" /></p>
 <h3><a name="Changing_or_Removing_the_Run_Schedule_of_a_Certification_Policy" 
		 id="Changing_or_Removing_the_Run_Schedule_of_a_Certification_Policy"></a>Changing 
 or Removing the Run Schedule of a Certification Policy</h3>
 <p>Certification policies might change based on organizational or policy 
 changes. Similarly, the run schedules also can change. Tuebora Portal 
 provides the option to change an existing schedule for a Certification 
 Policy.</p>
 <p>To change the schedule to run a policy, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the policy for which you have an existing 
 schedule.<br />
<br />
The policy is highlighted.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Actions &gt; Change Run Policy Schedule.</span><br />
<br />
The <span style="font-weight: bold;">Change</span> <span style="font-weight: bold;">Run 
 Policy Schedule</span> subwindow opens.<br />
<br />
<img src="Images/ChangeCertRunSchedule.png" alt="" style=" border:none; width:100%; max-width:514px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 one of the following:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Change Schedule</span>, to change the run 
 schedule of the policy.<br />
<br />
Make the required changes.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Remove Schedule</span>, to remove the run 
 schedule created for the policy.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Apply Changes</span>.</p>
 <h3><a name="Viewing_the_Certification_Status_Details" id="Viewing_the_Certification_Status_Details"></a>Viewing 
 the Certification Status Details</h3>
 <p>To view the certification status of the policies:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-bidi-font-weight: normal;">Select</span> <span style="font-weight: bold;">MENU 
 &gt; Governance &gt; Certification Policies &gt; Enabled Policies</span><span 
	 style="mso-bidi-font-weight: normal;">.</span><br />
<br />
The <span style="font-weight: bold;">Certification Policies - Enabled</span> 
 page opens.</p>
 <p>Following figure shows an example for the <span style="font-weight: bold;">Certification 
 Policies - Enabled</span> page with an Certification Status of the policies.</p>
 <p><img src="Images/Cert_Status.png" alt="" style=" border:none; width:100%; max-width:771px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>(Optional) 
 Move the cursor over the bars to view details corresponding to the status.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>(Optional) 
 Click on the required color bars to navigate to the respective pages with 
 the details.</p>
 <p style="font-weight: bold;">Example</p>
 <p>If you want to view details of the Access that are not certified, click 
 the <span style="font-weight: bold;">Orange</span> bar. The page refreshes 
 to show the <a href="#Certification_Tasks_Page" style="font-weight: normal;">Certification 
 Tasks</a> page for those items that are not certified.</p>
 <h3><a name="Viewing_the_Certification_Action_Details" id="Viewing_the_Certification_Action_Details"></a>Viewing 
 the Certification Recommendation Details</h3>
 <p>The <span style="font-weight: bold;">Certification Policies - Enabled</span> 
 page also shows the Certification recommendation for the policies.<br />
<br />
To view the summary of actions performed on a Certification Policy:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Move 
 the cursor over the color bars corresponding to each policy.<br />
<br />
A summary of the Certification Actions taken for the tasks is displayed.</p>
 <p>To view the details of actions performed on a Certification Policy:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 the color bars.<br />
<br />
The page refreshes to show the <a href="#Certification_Tasks_Page" style="font-weight: normal;">Certification 
 Tasks</a> page.</p>
 <h3><a name="Certification_Tasks_Page" id="Certification_Tasks_Page"></a>Viewing 
 Certification Tasks Page</h3>
 <p>The <span style="font-weight: bold;">Certification Tasks</span> page 
 shows the Certification Status and details&#160;of the actions performed. 
 To access the page, click on a required bar in the <span style="font-weight: bold;">Certification 
 Status</span> column in the <span style="font-weight: bold;">Certification 
 Policies - Enabled</span> page.</p>
 <p>Following figure shows an example for the <span style="font-weight: bold;">Certification 
 Tasks</span> page with the <span style="font-weight: bold;">status</span> 
 as <span style="font-weight: bold;">To be Certified</span>.</p>
 <p><img src="Images/Cert_TasksPage.gif" alt="" style=" border:none; width:100%; max-width:974px;" border="0" /></p>
 <p class="list">From the <span style="font-weight: bold;">Certification 
 Tasks</span> page, you can view the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-bottom: 4.5pt;">User for whom the 
	 Access must be certified</p></li>
	<li>
 <p class="list" style="margin-bottom: 4.5pt;">Details of the Task</p></li>
	<li>
 <p class="list" style="margin-bottom: 4.5pt;">Detailed analysis 
	 of the Access for the user</p></li>
	<li>
 <p class="list" style="margin-bottom: 4.5pt;">Access Governance 
	 History</p></li>
</ul>
<h3><a name="Viewing_the_Summary_of_a_Certification_Policy" id="Viewing_the_Summary_of_a_Certification_Policy"></a>Viewing 
 the Summary of a Certification Policy</h3>
<p>You can view a graphical representation of the summary of Certification 
 Policies. The summary is represented in the form of different types of 
 charts, such as bar, linear, and pie. This graphical representation helps 
 you to get an overview of the policy summary quickly.</p>
<p>To view the <span style="font-weight: bold;">Policy Summary</span> page:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the required Certification Policy and select <span style="font-weight: bold;">View 
 &gt; View Summary</span>.</p>
<p>Following figure shows an example for the <span style="font-weight: bold;">Policy 
 Summary</span> page.</p>
<p><img src="Images/Cert_Pol_Summary.gif" alt="" style=" border:none; width:100%; max-width:636px;" border="0" /></p>
<h4>Understanding the Summary</h4>
<p>Following table describes the different charts used and the details 
 represented.</p>
<table class="Table" cellspacing="0px" width="100%">
	<col style="width: 27.501%;" />
	<col style="width: 31.633%;" />
	<col style="width: 40.866%;" />
	<tr class="t1st" style="height: 13px;">
		<td bgcolor="#003A6B">
  <p class="TableText" style="font-weight: bold;">Attribute</p></td>
		<td bgcolor="#003A6B">
  <p class="TableText" style="font-weight: bold;">Details</p></td>
		<td bgcolor="#003A6B">
  <p class="TableText" style="font-weight: bold;">Action</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText"><span>Overall Certification Policy Status</span></p></td>
		<td>
  <p class="TableText">Represents the number of Certification 
		 Tasks, based on the following:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">To be 
			 Certified</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Certified 
			 but not Fulfilled</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Certified 
			 and Fulfilled</p></li>
		</ul></td>
		<td>
  <p class="TableText">Click on the legend items to enable or 
		 disable the attributes in the pie chart.<br />
		<br />
		For example, if you want to see the pie chart that represents only 
		 the Certifications Tasks that are <span style="font-weight: bold;">To 
		 be Certified</span> and <span style="font-weight: bold;">Certified 
		 but not Fulfilled,</span> click and disable <span style="font-weight: bold;">Certified 
		 and Fulfilled</span>. The chart refreshes to show data only for 
		 the enabled attributes.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText"><span>Certification Details</span></p></td>
		<td>
  <p class="TableText">Represents the Certification Action, based 
		 on numbers.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">For example, it&#160;shows the number of User 
		 Access that are removed temporarily and retained indefinitely.</p></td>
		<td>
  <p class="TableText"><span>Click on the legend items to enable 
		 or disable the attributes in the pie chart.</span></p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Retain Justification Details</p></td>
		<td>
  <p class="TableText">Represents the number of Certification 
		 Actions to retain the Access based on the justification provided.</p></td>
		<td>
  <p class="TableText">Click the bars to navigate to the <span 
		 style="font-weight: bold;">Certification Tasks</span> page and 
		 view the details of the Certification tasks.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Daily Certification Trend</p></td>
		<td>
  <p class="TableText">Shows the daily trend of Certification 
		 Actions performed.</p></td>
		<td>
  <p class="TableText">Move the cursor over the points to view 
		 the number of Certification Actions performed for the particular 
		 day.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Click to navigate to the <span style="font-weight: bold;">Certification 
		 Tasks</span> page.</p></td>
	</tr>
 </table>
 <h3><a name="Viewing_the_Escalation_History" id="Viewing_the_Escalation_History"></a>Viewing 
 the Escalation History</h3>
 <p>You can view the escalations triggered for a Certification Policy. To 
 do so:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">Select the required Certification Policy and select 
	 <span style="font-weight: bold;">View &gt; View Escalation History</span>.<br />
	<br />
	The <span style="font-weight: bold;">Escalation History</span> page 
	 displays the escalations. You can search for specific escalations 
	 by entering a search criteria in the Search box. You can view the 
	 escalations as follows:</p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Group 
 by Escalated From, Escalated to, and Escalation Level</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Filtered 
 by 24 hours, 1 day, 1 week, 15 days, 30 days, 60 days, and 90 days</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Filtered 
 by Daily, Monthly, and Yearly escalations</p>
<h3><a name="Viewing_the_Open_Tasks_for_a_Certification_Policy" id="Viewing_the_Open_Tasks_for_a_Certification_Policy"></a>Viewing 
 the Open Tasks for a Certification Policy</h3>
<p>You can view the tasks of a Certification Policy, that are still not 
 addressed by certifiers. To do so:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">Select the required Certification Policy and select 
	 <span style="font-weight: bold;">View &gt; Open Tasks</span>.<br />
	<br />
	The <span style="font-weight: bold;">View Open Tasks - &lt;policy name&gt;</span> 
	 page displays the open tasks for the Certification Policy. <span style="font-weight: bold;"><br />
	</span><br />
	You can view the open tasks as follows:</p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Group 
 by Assignee, User, Orphaned Account, Group, Justification, and Recommendation</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Filtered 
 by Access Category, Certification Age, and Access Life.<br />
<br />
The following table displays the options available under each filter category.<br />
</p>
<table class="Table" cellspacing="0px" width="100%">
	<col style="width: 34.933%;" />
	<col style="width: 65.067%;" />
	<tr class="t1st">
		<td>
  <p class="TableText" style="font-weight: bold;">Filter Category</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Available Options</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Access Category</p></td>
		<td>
  <p class="TableText">- Administrator Access<br />
		- Privileged Access<br />
		- Owner Access<br />
		- Anomaly Access<br />
		- Exceptional Access<br />
		- Violation Access<br />
		- Regular Access</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Certification Age</p></td>
		<td>
  <p class="TableText">- Less than 30 days<br />
		- Between 30 and 60 days<br />
		- More than 30 days<br />
		- Never Certified</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Access Life</p></td>
		<td>
  <p class="TableText">- Indefinite Access<br />
		- Temporary Access<br />
		- Expired Access</p></td>
	</tr>
 </table>
 <h3><a name="Viewing_the_Completed_Tasks_for_a_Certification_Policy" id="Viewing_the_Completed_Tasks_for_a_Certification_Policy"></a>Viewing 
 the Completed Tasks for a Certification Policy</h3>
 <p>You can view the tasks of a Certification Policy, that are still not 
 addressed by certifiers. To do so:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">Select the required Certification Policy and select 
	 <span style="font-weight: bold;">View &gt; Completed Tasks</span>.<br />
	<br />
	The <span style="font-weight: bold;">View Completed Tasks - &lt;policy 
	 name&gt;</span> page displays the completed tasks for the Certification 
	 Policy.<br />
	You can view the completed tasks as follows:</p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Group 
 by Assignee, User, Orphaned Account, Group, Justification, and Recommendation</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Filtered 
 by Access Category, Certification Age, and Access Life.</p>
<h3><a name="Viewing_the_Closed_Tasks_for_a_Certification_Policy" id="Viewing_the_Closed_Tasks_for_a_Certification_Policy"></a>Viewing 
 the Closed Tasks for a Certification Policy</h3>
<p>You can view the tasks of a Certification Policy, that are still not 
 addressed by certifiers. To do so:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">Select the required Certification Policy and select 
	 <span style="font-weight: bold;">View &gt; Closed Tasks</span>.<br />
	<br />
	The <span style="font-weight: bold;">View Closed Tasks - &lt;policy 
	 name&gt;</span> page displays the closed tasks for the Certification 
	 Policy. <span style="font-weight: bold;"><br />
	</span><br />
	You can view the closed tasks as follows:</p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Group 
 by Assignee, User, Orphaned Account, Group, Justification, and Recommendation</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Filtered 
 by Access Category, Certification Age, and Access Life.</p>
<h3><a name="Exporting_the_Recommendations_as_a_CSV_File" id="Exporting_the_Recommendations_as_a_CSV_File"></a>Exporting 
 the Recommendations as a CSV File</h3>
<p>You can export the recommendations from certifiers as a CSV file. To 
 do so:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the required Certification Policy and select <span style="font-weight: bold;">Export 
 &gt; Recommendations as CSV.</span> Save the CSV file on your computer.</p>
<h3><a name="Exporting_the_Recommendations_as_an_XML_File" id="Exporting_the_Recommendations_as_an_XML_File"></a>Exporting 
 the Recommendations as an XML File</h3>
<p>You can export the recommendations from certifiers as an XML file. To 
 do so:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the required Certification Policy and select <span style="font-weight: bold;">Export 
 &gt; Recommendations as XML.<br />
<br />
</span>Save the XML file on your computer.</p>
<h3><a name="Exporting_the_Status_of_a_Certification_Policy_as_a_PDF_File" 
		 id="Exporting_the_Status_of_a_Certification_Policy_as_a_PDF_File"></a>Exporting 
 the Status of a Certification Policy as a PDF File</h3>
<p>You can export the Policy Summary as a <span style="font-weight: bold;">PDF</span> 
 file, if required. This can be used for analysis and sharing within the 
 organization.</p>
<p>To export the details to a PDF file:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the required Certification Policy and select <span style="font-weight: bold;">Export 
 &gt; Policy Status as PDF</span>. <span style="font-style: italic;">OR</span></p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Export Policy Status as PDF</span> available 
 at the top-right corner of the <span style="font-weight: bold;">Policy 
 Summary</span> page.</p>
<h3><a name="Mark_Certification_Policy_Run_as_Completed" id="Mark_Certification_Policy_Run_as_Completed"></a>Mark 
 Certification Policy Run as Completed</h3>
<p>As a Governance Team Member, you may be required to keep the historic 
 data of Certification Policy Run carried out at different time period 
 for further reference, based on the organizational policy. You can mark 
 the Certification Policy Run as Completed for:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Marking_Run_as_Completed__for_Certification_Policy_where_all_Tasks_Completed">Certification 
	 Policy where all Tasks Completed</a></p></li>
	<li>
 <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a 
	 href="#Marking_Run_as_Completed_for_a_Certification_Policy_with_Open_Tasks">Certification 
	 Policy with Open Tasks</a></p></li>
</ul>
<h4><a name="Marking_Run_as_Completed__for_Certification_Policy_where_all_Tasks_Completed" 
		 id="Marking_Run_as_Completed__for_Certification_Policy_where_all_Tasks_Completed"></a>Marking 
 Run as Completed &#160;for Certification Policy where all Tasks Completed</h4>
<p>To mark run as completed for a certification policy where all tasks 
 completed, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required policy. The policy is highlighted.<br />
You must select a running policy to mark as completed.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Actions &gt; Mark Run as Completed</span>.<br />
The <span style="font-weight: bold;">Mark Run as Completed - &lt; Policy 
 Name&gt;</span> subwindow opens.<br />
<br />
<img src="Images/MarkRunasCompleted_CompletedPolicy.png" alt="" style=" border:none; width:100%; max-width:670px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 comment in the <span style="font-weight: bold;">Comments</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Mark Run as Completed</span>. The subwindow 
 closes and Certification Polices - Enabled page refreshes.<br />
<br />
The details of certification tasks displayed in <span style="font-weight: bold;">Certification 
 Status</span> and <span style="font-weight: bold;">Certification Recommendation</span> 
 column is cleared and shows the policy status as <span style="font-weight: bold;">Not</span> 
 <span style="font-weight: bold;">Running</span>.</p>
<h4><a name="Marking_Run_as_Completed_for_a_Certification_Policy_with_Open_Tasks" 
		 id="Marking_Run_as_Completed_for_a_Certification_Policy_with_Open_Tasks"></a>Marking 
 Run as Completed for a Certification Policy with Open Tasks</h4>
<p>When marking a Certification Policy with Open Tasks as completed, you 
 can select the appropriate recommendation - <span style="font-weight: bold;">Remove 
 Access Immediately</span>, <span style="font-weight: bold;">Retain Access 
 Indefinitely</span>, or <span style="font-weight: bold;">Retain Access 
 Temporarily and remove after X days</span> to mark the open tasks.</p>
<p>To mark run as completed for a certification policy with open tasks, 
 perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required policy. The policy is highlighted.<br />
You must select a running policy to mark as completed.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Actions &gt; Mark Run as Completed</span>.<br />
The <span style="font-weight: bold;">Mark Run as Completed - &lt; Policy 
 Name&gt;</span> subwindow opens.<br />
<br />
<img src="Images/MarkRunasCompleted_withOpenTasks.png" alt="" style=" border:none; width:100%; max-width:668px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the appropriate recommendation that must be marked for the open tasks. 
 The available recommendations are:</p>
<p class="list" style="margin-left: 100px; 
											 text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Remove 
 Access Immediately</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Retain 
 Access Temporarily and remove after X days</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Retain 
 Access Indefinitely</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 comment in the <span style="font-weight: bold;">Comments</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Mark Run as Completed</span>. The subwindow 
 closes and Certification Polices - Enabled page refreshes.<br />
<br />
The details of certification tasks displayed in <span style="font-weight: bold;">Certification 
 Status</span> and <span style="font-weight: bold;">Certification Recommendation</span> 
 column is cleared and shows the policy status as <span style="font-weight: bold;">Not</span> 
 <span style="font-weight: bold;">Running</span>.<br />
<br />
You can view the recommendation made for the open tasks in <span style="font-weight: bold;">Governance</span> 
 <span style="font-weight: bold;">History</span> of an Access.<br />
<br />
<img src="Images/MarkRunasCompleted_GovernanceHistory.png" alt="" style=" border:none; width:100%; max-width:670px;" border="0" /><br />
<br />
Also, email notifications are sent to all assignees of Open Tasks notifying 
 that the open tasks are marked as completed.</p>
<h3><a name="Disable_a_Certification_Policy" id="Disable_a_Certification_Policy"></a>Disabling 
 a Certification Policy</h3>
<p>You can disable Certification Policies in Tuebora Portal when the policy 
 is no longer required. &#160;To do so:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the Certification Policy and select <span style="font-weight: bold;">Actions 
 &gt; Disable</span>.</p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You can disable only those Certification Policies that are not 
		 in the <span style="font-weight: bold;">Running</span> state and 
		 do not have any corresponding open tasks. If you want to disable 
		 a policy that is already run, you must first delete the run, using 
		 the <a href="#Deleting_a_Certification_Policy_Run">Delete Run</a> 
		 option to delete any corresponding open tasks. Then disable the 
		 policy.</p></td>
	</tr>
 </table>
 <h3><a name="Deleting_a_Certification_Policy" id="Deleting_a_Certification_Policy"></a>Deleting 
 a Certification Policy</h3>
 <p>Some Certification Policies might be run only for a specific period 
 of time. After that period, you can remove it from <span style="color: #000000; 
															 line-height: normal; 
															 orphans: auto; 
															 widows: auto; 
															 -webkit-text-stroke-width: 0px;">Tuebora 
 Portal</span>. You can either remove the policy completely from the system 
 or delete the Certification Tasks that were created as part of the policy, 
 and reuse the policy.</p>
 <p style="font-weight: bold;">Example - <span style="font-weight: normal;">An 
 organization has migrated all data from Office365 to Microsoft Exchange 
 Server and does not want to certify Access in Office365 anymore. So you 
 can delete the obsolete policies.</span></p>
 <p>To delete a Certification Policy, perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required policy.<br />
<br />
The policy is highlighted.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Actions &gt; Delete</span>.<br />
<br />
A subwindow opens asking for confirmation to delete the policy.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Delete</span>.</p>
 <h3><a name="Deleting_a_Certification_Policy_Run" id="Deleting_a_Certification_Policy_Run"></a>Deleting 
 a Certification Policy Run</h3>
 <p>To delete a certification policy run (delete the certification tasks 
 created), perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required policy.<br />
<br />
The policy is highlighted.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Actions &gt; Delete Run</span>.<br />
<br />
A subwindow opens asking for confirmation to delete the policy run.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Delete Run.</span><br />
<br />
The subwindow closes and the page refreshes to display the Certification 
 Status and Certification Action against the policy as <span style="font-weight: bold;">Not 
 Running</span>. <span style="orphans: auto; widows: auto; -webkit-text-stroke-width: 0px;">Tuebora 
 Portal</span> also deletes any pending tasks against the policy from the 
 Certification Tasks list of the Certifiers.</p>
<br />
 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Previous</span>: 
		 <a href="Certification_Policies_-_Running.htm" style="color: #008000;">Certification 
		 Policies - Running</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Certification_Policies_-_Disabled.htm" style="color: #008000;">Certification 
		 Policies - Disabled</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
