
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Dashboard</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="512">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Dashboard</h1>
     <p>Tuebora Governance dashboard shows a snapshot of the current and historical trends of activities and key performance indicators. It provides data at-a-glance to the user; this data can be used for analysis and taking required actions. Dashboard is the first screen you see when you log in to Tuebora Governance. The graphical elements on the dashboard are called as widgets. For more information, refer to <a href="#Widgets">Widgets</a>.</p>
     <p>Data in the widgets is presented in tables and graphs. You can customize your dashboard based on your requirements. You can hide or show the widgets, change color themes, and create multiple dashboards.</p>
     <table class="Note" cellspacing="0px" width="100%">
      <col style="width: 7.014%;" />
      <col style="width: 92.986%;" />
      <tr class="t1Row">
      <td class="t1st" style="vertical-align: top;"><img src="Images/Icon_Note.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
      <td class="t2Col">
      <p><span style="font-weight: bold;">Note:</span> The home page and widgets on the dashboard vary for the different users logged.<br />
<br />
For example, an Asset Owner may see the <span style="font-weight: bold;">My Assets</span> widget on the dashboard, which is not available for a Regular User.</p>
      <p>The dashboard does not have all widgets added by default. You can add widgets to your dashboard, as required.</p>
</td>
</tr>
     </table>
     <p>Following figure shows a sample dashboard.</p>
     <p style="font-weight: bold; font-style: italic; color: #ff0000;"><img src="Images/Home_Page.png" alt="" style=" border:none; width:100%; max-width:598px;" border="0" /></p>
     <h3><a name="Widgets" id="Widgets"></a>Widgets</h3>
     <p>The dashboard provides widgets for quick and easy data representation on the dashboard. These widgets pull applicable data from the database and displays it in a table for the user to quickly analyze and take action, if required.<br />
<br />
Following figure shows an example <span style="font-weight: bold;">My Alerts</span> widget.</p>
     <p><img src="Images/Widget.png" alt="" style=" border:none; width:100%; max-width:628px;" border="0" /></p>
     <h4>Using Graphical Widgets</h4>
     <p>The graphical widgets use different bars for easy distinction of the different data represented. You can move the cursor over the colored area to see the numerical value or more data, if applicable.</p>
     <table class="Note" cellspacing="0px" width="100%">
      <col style="width: 7.014%;" />
      <col style="width: 92.986%;" />
      <tr class="t1Row">
      <td class="t1st"><img src="Images/Icon_Note.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
      <td class="t2Col"><span style="font-weight: bold;">Note:</span> Only a Governance Team Member has graphical widgets - <span style="font-weight: bold;">Overall Certification Policy Status</span> and <span style="font-weight: bold;">Overall Certification Age</span>.</td>
</tr>
     </table>
     <p>You can click on the bars to navigate to pages detailing the represented data. For example, if you click <span style="font-weight: bold;">To be Certified</span> bar on the <span style="font-weight: bold;">Overall Certification Policy Status</span> graph, the <span style="font-weight: bold;">Certification Tasks</span> page opens, listing all the tasks that are not yet certified in Tuebora Governance.</p>
     <h4>Using Tabular Widgets</h4>
     <p>Some data are represented as tabular data on the Dashboard. Most of the tabular widgets are representations of the feature pages to be quickly accessed from the Dashboard. You can perform actions from some of these widgets and also navigate to the detailed pages by clicking on the clickable underlined items.</p>
     <p>For example, you initiate an Access Request from the <span style="font-weight: bold;">My Request Open</span> widget by clicking the <span style="font-weight: bold;">Request Access</span> button. The <span style="font-weight: bold;">Request Access</span> page opens.</p>
     <p>Some widgets have more number of columns and you can use navigation buttons (<img src="Images/Icon_Navigation.png" alt="" style=" border:none; width:100%; max-width:56px;" border="0" />) to view the columns to the left or right.</p>
     <h4>Available Widgets</h4>
     <p>Following table lists the widgets available for the corresponding user roles in Tuebora Governance.</p>
     <table style="border: Solid 1px #000000; left: 0px; top: 293px;" cellspacing="0">
      <col />
      <col />
      <col />
      <tr style="height: 13px;">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
      <p class="TableText" style="color: #ffffff; font-weight: bold; margin-top: 3pt; margin-bottom: 3pt;">User Role</p>
</td>
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
      <p class="TableText" style="color: #ffffff; font-weight: bold; margin-top: 3pt; margin-bottom: 3pt;">Widget</p>
</td>
      <td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
      <p class="TableText" style="color: #ffffff; font-weight: bold;">Description</p>
</td>
</tr>
      <tr style="height: 13px;">
      <td rowspan="7" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText">Regular User</p>
</td>
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText"><a href="Alerts.htm">My Alerts</a></p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Lists all alerts applicable to you</p>
</td>
</tr>
      <tr style="height: 13px;">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText"><a href="My_Access.htm">My Access</a></p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Lists all Access you have across Assets</p>
</td>
</tr>
      <tr style="height: 13px;">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText"><a href="Access_Request.htm#Viewing_Status_of_Requested_Access">My Requests Open</a></p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText" style="color: #000000;">Lists all Access requests made by you, which are in the Open state</p>
</td>
</tr>
      <tr style="height: 13px;">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText"><a href="Certification_Policies.htm#Certifying_Access">My Tasks Certification</a></p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Lists all tasks assigned to you to certify Access of users</p>
</td>
</tr>
      <tr style="height: 13px;">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText" style="color: #ff0000; font-weight: normal;"><a href="Certification_Policies.htm#Provide_Info_Tasks" style="font-weight: normal;">My Tasks Provide Info</a></p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Lists all tasks for which you must provide more information</p>
</td>
</tr>
      <tr style="height: 13px;">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText"><a href="Access_Approval.htm#Viewing_Access_Approval_Tasks">My Tasks Approval</a></p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Lists all Access Approval tasks assigned to you</p>
</td>
</tr>
      <tr style="height: 13px;">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText"><a href="Access_Controls.htm#Taking_Remediation_Action">My Tasks Remediation</a></p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Lists the Access Violation tasks for which you must take Remediation action</p>
</td>
</tr>
      <tr style="height: 13px;">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText">Supervisor</p>
</td>
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText"><a href="Team_Management.htm#Viewing_Members_in_Your_Team">My Team Users</a></p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Lists all users reporting to you</p>
</td>
</tr>
      <tr style="height: 13px;">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText">Asset Owner</p>
</td>
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText" style="color: #ff0000; font-weight: normal;"><a href="My_Assets.htm" style="font-weight: normal;">My Assets</a></p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Lists all Assets added in Tuebora Governance, for which you are the owner.</p>
</td>
</tr>
      <tr style="height: 13px;">
      <td rowspan="3" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText">Governance Team Member</p>
</td>
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText"><a href="Certification_Policies.htm">Certification Policies Enabled</a></p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Lists all Enabled Certification Policies</p>
</td>
</tr>
      <tr style="height: 13px;">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText">Overall Certification Policy Status</p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Shows the distribution of Certification Policy Status across Assets</p>
</td>
</tr>
      <tr style="height: 13px;">
      <td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
      <p class="TableText">Overall Certification Age</p>
</td>
      <td style="border-bottom: Solid 1px #000000;">
      <p class="TableText">Shows the Certification Age of Access across Assets</p>
</td>
</tr>
     </table>
     <p>The widgets listed for a Regular User is available for all other user roles in Tuebora Governance.</p>
     <p style="color: Transparent;"><span style="color: Transparent;">You can perform the following actions on your Dashboard:</span></p>
     <ul style="list-style: disc;">
      <li style="color: Transparent;">
      <p class="list" style="color: Transparent;"><a href="#Setting_up_Your_Dashboard">Setting up Dashboard</a></p>
</li>
      <li style="color: Transparent;">
      <p class="list" style="color: Transparent;"><a href="#Manage_Dashboards">Managing Dashboards</a></p>
</li>
      <li style="color: Transparent;">
      <p class="list" style="color: Transparent;"><a href="#Customizing_Dashboard_Widgets">Customizing Dashboard Widgets</a></p>
</li>
     </ul>
     <h2><a name="Setting_up_Your_Dashboard" id="Setting_up_Your_Dashboard"></a>Setting up the Dashboard</h2>
     <p>Dashboard is the first page you see when you log in to Tuebora Governance. It is recommended to set it up in a manner to provide you the most important and relevant information at a glance. You can create multiple dashboards and group the widgets in each, based on your priorities.</p>
     <p>To set up your dashboard, perform the following tasks:</p>
     <ol>
      <li>
      <p class="list"><a href="#Creating_a_Dashboard">Creating a Dashboard</a></p>
</li>
      <li>
      <p class="list"><a href="#Adding_Widgets_to_Dashboard">Adding Widgets</a></p>
</li>
      <li>
      <p class="list"><a href="#Setting_up_Dashboard_Layout">Setting Dashboard Layout</a></p>
</li>
     </ol>
     <h4><a name="Creating_a_Dashboard" id="Creating_a_Dashboard"></a>Creating a Dashboard</h4>
     <p>To create a dashboard, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Tools &gt; Create Dashboard</span>.<br />
<br />
The <span style="font-weight: bold;">Create New Dashboard</span> subwindow opens.<br />
<br />
<img src="Images/CreateDashboard.png" alt="" style=" border:none; width:100%; max-width:384px;" border="0" /></p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a name for the dashboard in the <span style="font-weight: bold;">Name</span> field.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a description to identify the dashboard, in the <span style="font-weight: bold;">Description</span> field.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Create Dashboard</span>.<br />
<br />
The subwindow closes and the newly created dashboard appears on the UI.<br />
<br />
You can create multiple dashboards, as required.</p>

     <h5>Viewing Dashboards</h5>
     <p>You can view the different dashboards created, from the <span style="font-weight: bold;">Dashboard</span> drop-down list.</p>
     <p>To view a dashboard:</p>

     <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>click <span style="font-weight: bold;">Dashboard</span> and select the required dashboard name to view it.</p>

     <h4><a name="Adding_Widgets_to_Dashboard" id="Adding_Widgets_to_Dashboard"></a>Adding Widgets to Dashboard</h4>
     <p>To add widgets to a dashboard, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the required dashboard by selecting the required dashboard name from the <span style="font-weight: bold;">Dashboard</span> drop-down list.<br />
The page refreshes to open the selected dashboard.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Add Widget</span>.<br />
<br />
The <span style="font-weight: bold;">Widget Directory</span> subwindow opens.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the required widget from the list of available widgets and click <span style="font-weight: bold;">+ Add Widget.</span><br />
<br />
The subwindow closes and the selected widget is added to the dashboard.</p>

     <h4><a name="Setting_up_Dashboard_Layout" id="Setting_up_Dashboard_Layout"></a>Setting up Dashboard Layout</h4>
     <p>You can set up the required layout to display the widgets on the dashboard.</p>
     <p>To set up the required layout, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Edit Layout</span>.<br />
<br />
The <span style="font-weight: bold;">Change Layout Settings&#160;for Dashboard</span> subwindow opens.</p>

     <p><img src="Images/Dashboard_LayoutSettings.png" alt="" style=" border:none; width:100%; max-width:474px;" border="0" /></p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the required layout.<br />
<br />
The dashboard refreshes in the background to display widgets in the selected layout.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;"><img src="Images/Icon_Close.png" alt="" style=" border:none; width:100%; max-width:17px;" border="0" /> &#160;</span>to close the subwindow.</p>

     <h2><a name="Manage_Dashboards" id="Manage_Dashboards"></a>Manage Dashboards</h2>
     <p>Tuebora Governance provides you the option to manage your dashboards from the <span style="font-weight: bold;">Tools</span> drop-down list. You can perform the following actions to manage your dashboards:</p>
     <ul style="list-style: disc;">
      <li style="color: #000000;">
      <p class="list"><a href="#Creating_a_Dashboard_Copy">Creating a Copy of the Dashboard</a></p>
</li>
      <li>
      <p class="list"><a href="#Editing_Dashboard_Details">Editing Dashboard Details</a></p>
</li>
      <li>
      <p class="list"><a href="#Clearing_Dashboard_Widgets">Clearing Dashboard Widgets</a></p>
</li>
      <li>
      <p class="list"><a href="#Deleting_Dashboard">Deleting Dashboard</a></p>
</li>
     </ul>
     <h4><a name="Creating_a_Dashboard_Copy" id="Creating_a_Dashboard_Copy"></a>Creating a Copy of the Dashboard</h4>
     <p>If you want to create a new dashboard with same widgets as that on an existing dashboard, you can use the <span style="font-weight: bold;">Copy Dashboard</span> option. You can add other required widgets to the newly created dashboard copy.</p>
     <p>To create copy of a dashboard, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the required dashboard by selecting the required dashboard name from the <span style="font-weight: bold;">Dashboard</span> drop-down list.<br />
<br />
The page refreshes to open the selected dashboard.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Tools &gt; Copy Dashboard</span>.<br />
<br />
The <span style="font-weight: bold;">Copy Dashboard</span> subwindow opens.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a name for the dashboard in the <span style="font-weight: bold;">Name</span> field.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a description for the dashboard in the <span style="font-weight: bold;">Description</span> field.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Copy Dashboard</span>.<br />
<br />
The dashboard copy is created.</p>

     <h4><a name="Editing_Dashboard_Details" id="Editing_Dashboard_Details"></a>Editing Dashboard Details</h4>
     <p>To edit details of a dashboard, perform the following:</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px; margin-top: 4pt; margin-bottom: 4pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open a required dashboard by selecting the dashboard name from the <span style="font-weight: bold;">Dashboard</span> drop-down list.<br />
<br />
The page refreshes to open the selected dashboard.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px; margin-top: 4pt; margin-bottom: 4pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Tools &gt; Edit Dashboard</span>.<br />
<br />
The <span style="font-weight: bold;">Edit Dashboard</span> subwindow opens.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px; margin-top: 4pt; margin-bottom: 4pt;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Edit the details as required.</p>

     <p class="list" style="text-indent: -20px; margin-left: 50px; margin-top: 4pt; margin-bottom: 4pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Edit Dashboard</span>.<br />
<br />
The dashboard details are updated.</p>

     <h4><span style="color: #000000;"><a name="Clearing_Dashboard_Widgets" id="Clearing_Dashboard_Widgets"></a></span>Clearing Dashboard Widgets</h4>
     <p style="color: #000000;">If you want to clear all widgets on a dashboard and start adding new ones, you can use the <span style="font-weight: bold;">Clear Dashboard</span> option.</p>
     <p style="color: #000000;">To clear widgets from a dashboard, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the required dashboard and click <span style="font-weight: bold;">Tools &gt; Clear Dashboard</span>.<br />
<br />
Tuebora Governance asks for confirmation to clear the widgets on the dashboard.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Clear Dashboard</span>.<br />
<br />
All the widgets on the dashboard are deleted and you get an empty dashboard.<br />
<br />
You can now start <a href="#Adding_Widgets_to_Dashboard" style="color: #000000;"><span class="URL">adding new widgets</span></a> to the dashboard.</p>

     <h4><span style="color: #000000;"><a name="Deleting_Dashboard" id="Deleting_Dashboard"></a></span>Deleting Dashboard</h4>
     <p style="color: #000000;">If you are no longer using a dashboard, you can delete it from Tuebora Governance.</p>
     <p style="color: #000000;">To delete a dashboard, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the required dashboard and click <span style="font-weight: bold;">Tools &gt; Delete Dashboard</span>.<br />
<br />
Tuebora Governance asks for confirmation to delete the dashboard.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Delete Dashboard</span>.<br />
<br />
The dashboard is deleted.</p>

     <h2><a name="Customizing_Dashboard_Widgets" id="Customizing_Dashboard_Widgets"></a>Customizing Dashboard Widgets</h2>
     <p>Tuebora Governance provides you the option to customize widgets on the dashboard. This helps to set a dashboard based on your preference. You can perform the following tasks to customize widgets:</p>
     <ul style="list-style: disc;">
      <li>
      <p class="list" style="margin-top: 2pt; margin-bottom: 2pt;"><a href="#Arranging_Widgets_">Arranging Widgets</a></p>
</li>
      <li>
      <p class="list" style="margin-top: 2pt; margin-bottom: 2pt;"><a href="#Deleting_Widgets">Deleting Widgets</a></p>
</li>
      <li>
      <p class="list" style="margin-top: 2pt; margin-bottom: 2pt;"><a href="#Resize_Widgets">Resizing Widgets</a></p>
</li>
      <li>
      <p class="list" style="margin-top: 2pt; margin-bottom: 2pt;"><a href="#Setting_Widget_Colors">Setting Widget Colors</a></p>
</li>
     </ul>
     <h4><a name="Arranging_Widgets_" id="Arranging_Widgets_"></a>Arranging Widgets</h4>
     <p>You can drag and rearrange widget positions on the dashboard in the order of importance or the priority in which you want to see the data. For example, you can arrange the <span style="font-weight: bold;">My Alerts</span> and <span style="font-weight: bold;">All Assets</span> widgets to appear as the first two widgets on the Dashboard. To arrange widgets, click the widgets, and drag and drop it in the required positions.</p>
     <h4><a name="Deleting_Widgets" id="Deleting_Widgets"></a>Deleting Widgets</h4>
     <p>You can delete widgets that are not required.</p>
     <p>To delete a widget, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <img src="Images/Icon_Delete_Widget.png" alt="" style=" border:none; width:100%; max-width:18px;" border="0" /> on the top bar of the widget.<br />
<br />
Tuebora Governance asks for confirmation on deleting the widget.</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Remove Widget</span> and the widget is deleted from the dashboard.</p>

     <h4 style="margin-bottom: 3pt;"><a name="Resize_Widgets" id="Resize_Widgets"></a>Resizing Widgets</h4>
     <p style="margin-top: 3pt;">You can maximize and restore the size of a widget as required.</p>
     <p style="margin-top: 3pt;">To maximize a widget and view the details:</p>

     <p style="
margin-top:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click <img src="Images/Icon_Max_Widget.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> available on the top bar of the widget.<br />
<br />
The widget maximizes to fit the screen.</p>

     <p>To restore the widget to the original size, click <img src="Images/Icon_Resize_Widget.png" alt="" style=" border:none; width:100%; max-width:22px;" border="0" />.</p>
     <h4 style="margin-top: 8pt; margin-bottom: 3pt;"><a name="Setting_Widget_Colors" id="Setting_Widget_Colors"></a>Setting Widget Colors</h4>
     <p style="margin-top: 3pt;">You can set desired colors to the different widgets on the dashboard. This helps to quickly identify and give your dashboard a personalized color theme.<br />
<br />
To set color for a widget, perform the following:</p>

     <p class="list" style="
margin-top:3pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <img src="Images/Icon_Color_Widget.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> available on the top bar of the widget.<br />
<br />
A color bar appears.</p>

     <p class="list" style="
margin-top:3pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the required color and the widget top bar is updated to the selected color.</p>

     <p><img src="Images/Colorbar.png" alt="" style=" border:none; width:100%; max-width:168px;" border="0" /></p>
    </div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
