
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - My Requests - Open</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="920">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Previous</span>: 
		 <a href="Request_Access_for_Other_Users.htm" style="color: #008000;">Request 
		 Access for Other Users</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="My_Requests_-_Rejected.htm" style="color: #008000;">My 
		 Requests - Rejected</a></p></td>
	</tr>
 </table>
 <h1>My Requests - Open</h1>
 <p>The <span style="font-weight: bold;">My Requests - Open</span> page 
 lists the Access Requests on which the Access Approver has not taken any 
 action or taken partial action (for example, approved two access out of 
 three requested access and one is pending).</p>
 <p style="color: Transparent;">You can perform the following tasks from 
 the <span style="font-weight: bold;">My Requests - Open</span> page:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_the_List_of_Open_Access_Requests">Viewing 
 the List of Open Access Requests</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Deleting_an_Open_Access_Request_Task">Deleting 
 an Open Access Request</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_the_Access_Analysis_of_an_Open_Access_Request_Task">Viewing 
 the Access Analysis of an Open Access Request</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_the_Escalation_History_of_an_Open_Access_Request_Task">Viewing 
 the Escalation History of an Open Access Request</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_the_Role_of_an_Open_Access_Request_Task">Viewing 
 the detail of Role Access Request</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_the_Access_History_of_an_Open_Access_Request_Task_">Viewing 
 the Access History of an Open Access Request</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_the_Activity_History">Viewing 
 the Activity History</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Exporting_Open_Access_Request_Tasks_in_PDF_and_Excel_Formats">Exporting 
 Open Access Request Tasks in PDF and Excel Formats</a></p>
 <p style="margin-left: 0pt; font-weight: bold; color: #003a6b;">Navigation</p>
 <table class="Navigation" style="margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">My 
		 Requests - Open</span> feature, select &#160;<span style="font-weight: bold;">MENU 
		 &gt; My Requests &gt;</span> <span style="font-weight: bold;">Open</span>.</p></td>
	</tr>
 </table>
 <h3><a name="Viewing_the_List_of_Open_Access_Requests" id="Viewing_the_List_of_Open_Access_Requests"></a>Viewing 
 the List of Open Access Requests</h3>
 <p>Click the '<span style="font-weight: bold;">+</span>' icon to the right 
 of an Access group to view the details of the Access Request tasks that 
 are not yet addressed by the approver. The page displays two tabs - <span 
	 style="font-weight: bold;">Requested Access</span> and <span style="font-weight: bold;">Activity 
 History</span>.<br />
<br />
The Requested History tab contains a table with columns such as Approval 
 Summary, Request For, Access To Be Approved, and Analysis. The Access 
 Request tasks are displayed as rows.</p>
 <p>You can view the following details on the page:</p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Date 
 on which the Access Request is created.</p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Access 
 Request Description</p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Action 
 Summary count based on the number of actions that must be taken by the 
 Approver on an Access Request.</p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Approver 
 to whom the Approval tasks are assigned.</p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Status 
 - To view the status, move the cursor on the color band shown in the <span 
	 style="font-weight: bold;">Action</span> <span style="font-weight: bold;">Summary</span> 
 column of a requested Access.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Approver 
 details - To view Approver details, click the color band displayed in 
 the <span style="font-weight: bold;">Action</span> <span style="font-weight: bold;">Summary</span> 
 column.</p>
 <p>Click the Approver Level (<img src="Images/Icon_ApproverLevel.png" alt="" style=" border:none; width:100%; max-width:34px;" border="0" /> 
 ) icon displayed in <span style="font-weight: bold;">Approvals</span> 
 column to view the name of the Approver.<br />
<br />
Following figure shows the <span style="font-weight: bold;">Requested Access 
 Details</span> and <span style="font-weight: bold;">Approver</span> for 
 the task.<br />
<br />
<img src="Images/AccessRequest_11.png" alt="" style=" border:none; width:100%; max-width:1324px;" border="0" /></p>
 <p>Select an Access Request task and click the <span style="text-decoration: underline; ">more</span> 
 hyperlink to view the analysis of the Access.</p>
 <h3><a name="Deleting_an_Open_Access_Request_Task" id="Deleting_an_Open_Access_Request_Task"></a>Deleting 
 an Open Access Request</h3>
 <p>After requesting Access in the system, user's job responsibilities are 
 changed and does not need the Access requested by the user. In this case 
 user must delete the Access Request and submit a new request for Access 
 required for performing the newly assigned responsibility.</p>
 <p>Tuebora Portal provides an option to delete an Access Request, if it 
 is not required. You can delete only the Access Requests that are in the 
 Open state. To delete an Access Request, you can use <span style="font-weight: bold;">Delete</span> 
 <span style="font-weight: bold;">Request</span> option.<br />
<br />
<span style="font-weight: bold;">Example</span></p>
 <p>Carla Grant has submitted an Access request from Tuebora Portal, in 
 which she has requested four Access in two different Assets (Active Directory 
 and Microsoft SharePoint). Approval Tasks are assigned to the Approver, 
 for the Access Request and Approver has approved two Access. At this point, 
 Carla finds that her job responsibilities changed and wants to delete 
 the Access Request. Carla can delete the Access Request in Tuebora Portal 
 using <span style="font-weight: bold;">Delete</span> <span style="font-weight: bold;">Request</span> 
 option.</p>
 <p>To delete an Access Request, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold;">Access Request</span> bar or <img src="Images/Expand_icon.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" /> 
 corresponding to the request that you want to delete, in the <span style="font-weight: bold;">My 
 Requests</span> page.<br />
<br />
The bar expands to show the details.<br />
<br />
<img src="Images/AccessRequest_12.png" alt="" style=" border:none; width:100%; max-width:1146px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Delete</span> <span style="font-weight: bold;">Request</span>.<br />
<br />
The <span style="font-weight: bold;">Delete</span> <span style="font-weight: bold;">Request</span> 
 subwindow opens asking for confirmation on deleting the request.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Delete</span> <span style="font-weight: bold;">Request</span>.<br />
<br />
The Access Request is deleted from Tuebora Portal.</p>
 <h3><a name="Viewing_the_Access_Analysis_of_an_Open_Access_Request_Task" 
		 id="Viewing_the_Access_Analysis_of_an_Open_Access_Request_Task"></a>Viewing 
 the Access Analysis of an Open Access Request</h3>
 <p>You can view the analysis of an Access requested that is not yet approved 
 by the approver, from the <span style="font-weight: bold;">View &gt; View 
 Access Analysis</span> menu. The resultant <span style="font-weight: bold;">Analysis</span> 
 subwindow displays the analysis of the Access.</p>
 <p>&#160;For more information, refer to <a href="Common_Tasks.htm#Viewing_the_Analysis_of_Access">Viewing 
 the Access Analysis</a>.</p>
 <h3><a name="Viewing_the_Escalation_History_of_an_Open_Access_Request_Task" 
		 id="Viewing_the_Escalation_History_of_an_Open_Access_Request_Task"></a>Viewing 
 the Escalation History of an Open Access Request</h3>
 <p>You can view the escalation history of an Access requested that is not 
 yet addressed by the approver, from the <span style="font-weight: bold;">View 
 &gt; View Escalation History</span> menu. The resultant <span style="font-weight: bold;">Escalation 
 History</span> subwindow displays all escalations related to this task.</p>
 <p>&#160;For more information, refer to <a href="Common_Tasks.htm#Viewing_the_Escalation_History">Viewing 
 the Escalation History</a>.</p>
 <h3><a name="Viewing_the_Role_of_an_Open_Access_Request_Task" id="Viewing_the_Role_of_an_Open_Access_Request_Task"></a>Viewing 
 the Details of Role Access Requested</h3>
 <p>You can view the details of Role Access requested that is not yet addressed 
 by the approver, from the <span style="font-weight: bold;">View &gt; View 
 Role Access</span> menu. The resultant <span style="font-weight: bold;">Role 
 Access</span> page displays the Accesses that are requested through a 
 Role access.</p>
 <p>&#160;For more information, refer to <a href="Common_Tasks.htm#Viewing_the_Role_Who_Requested_the_Access">Viewing 
 the Role Access</a>.</p>
 <h3><a name="Viewing_the_Access_History_of_an_Open_Access_Request_Task_" 
		 id="Viewing_the_Access_History_of_an_Open_Access_Request_Task_"></a>Viewing 
 the Access History of an Open Access Request</h3>
 <p>You can view the history of an Access Request task that is not yet addressed 
 by the approver, from the <span style="font-weight: bold;">View &gt; View 
 Access History</span> menu. The resultant <span style="font-weight: bold;">Access 
 History</span> subwindow displays the history related to this open Access 
 Request task.</p>
 <p>&#160;For more information, refer to <a href="Common_Tasks.htm#Viewing_the_Task_History">Viewing 
 the Task History</a>.</p>
 <h3><a name="Viewing_the_Activity_History" id="Viewing_the_Activity_History"></a>Viewing 
 the Activity History</h3>
 <p>You can view the activity history of the open Access Request. To do 
 so, click the <span style="font-weight: bold;">Activity History</span> 
 tab. The <span style="font-weight: bold;">Activity History</span> page 
 displays a table with the following information-Activity Date, Access, 
 and Activity.</p>
 <h3><a name="Exporting_Open_Access_Request_Tasks_in_PDF_and_Excel_Formats" 
		 id="Exporting_Open_Access_Request_Tasks_in_PDF_and_Excel_Formats"></a>Exporting 
 Open Access Requests in PDF and Excel Formats</h3>
 <p>You can export the details of the open Access Requests that are not 
 yet addressed by the approver, in PDF and Excel formats. For more information, 
 refer to <a href="Common_Tasks.htm#Exporting_Reports_to_PDF_or_Excel_Format">Exporting 
 Reports to PDF or Excel Format</a>.</p>
<br />
 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Previous</span>: 
		 <a href="Access_Request.htm" style="color: #008000;">Access Request</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="My_Requests_-_Rejected.htm" style="color: #008000;">My 
		 Requests - Rejected</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
