
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - My Team - Access By Asset</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "5.0_3";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1040">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="My_Team_-_Access_By_User.htm" style="color: #008000;">My 
		 Team - Access By User</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="My_Team_-_Assets.htm" 
													 style="color: #008000;">My 
		 Team - Assets</a> &#160;</p></td>
	</tr>
 </table>
 <h1>My Team - Access by Asset</h1>
 <p>Supervisors can view the Access granted to team members in different 
 Assets from <span style="font-weight: bold;">My Team - Access by Asset</span> 
 page. In this page, Access granted to team members is grouped and displayed 
 based on the Assets. You can also view the count of Access granted to 
 team members in each Asset. The Access count is displayed next to the 
 name of the Asset.</p>
 <p>You can perform the following tasks on the <span style="font-weight: bold;">My 
 Team &gt; Access by Asset</span> page:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_the_Team_Members_Who_Have_Access_in_an_Asset">Viewing 
 the Team Members Who Have Access in an Asset</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Filtering_Team_Members__Access_in_Different_Assets">Filtering 
 Team Members' Access in Different Assets</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_the_Details_of_a_Team_Member_s_Access_in_an_Asset">Viewing 
 the Details of a Team Member's Access in an Asset</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_the_Analysis_of_a_Team_Member_s_Access_in_an_Asset">Viewing 
 the Analysis of a Team Member's Access in an Asset</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_the_Governance_History_of_a_Team_Member_s_Access_in_an_Asset">Viewing 
 the Governance History of a Team Member's Access in an Asset</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a 
	 href="#Certifying_the_Access_Granted_to_the_Team_Members_in_an_Asset">Certifying 
 the Access Granted to the Team Members in an Asset</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Adding_Notes_for_an_Access">Adding 
 Notes for an Access</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Requesting_for_More_Information">Requesting 
 for More Information</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Assigning_Access_for_Certification">Assigning 
 Access for Certification</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Exporting_the_Details_of_a_Team_Member_s_Access_in_an_Asset">Exporting 
 the Details of a Team Member's Access in an Asset</a></p>
 <p style="margin-left: 0pt; font-weight: bold; color: #003a6b;">Navigation</p>
 <table class="Navigation" style="margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">My 
		 Team - Access by Asset</span> page, select &#160;<span style="font-weight: bold;">MENU 
		 &gt; My Team &gt;</span> <span style="font-weight: bold;">Access 
		 by Asset</span></p></td>
	</tr>
 </table>
 <h3><a name="Viewing_the_Team_Members_Who_Have_Access_in_an_Asset" id="Viewing_the_Team_Members_Who_Have_Access_in_an_Asset"></a>Viewing 
 the Team Members Who Have Access in an Asset</h3>
 <p>To view the Access granted to team members in an Asset:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="mso-bidi-font-weight: normal;">In the M</span><span style="font-weight: bold;">y 
 Team - Access by Assets</span> page Click on the <span style="font-weight: bold;">Asset</span> 
 <span style="font-weight: bold;">Name</span> or &#160;<img src="Images/Expand_icon.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" />.<br />
<br />
The bar expands to show the team members and the Access granted to them.<br />
<br />
<br style="page-break-before: always;" />
Following figure shows an example for the <span style="font-weight: bold;">My 
 Team - Access by Assets</span> page.<br />
<br />
<span style="color: #ff0000;"><img src="Images/MyTeam_AccessByAsset.png" alt="" style=" border:none; width:100%; max-width:542px;" border="0" /></span></p>
 <h3><a name="Filtering_Team_Members__Access_in_Different_Assets" id="Filtering_Team_Members__Access_in_Different_Assets"></a>Filtering 
 Team Members' Access in Different Assets</h3>
 <p>You can use the <span style="font-weight: bold;">Filter</span> feature 
 to filter the Access for your team members in different Assets. You can 
 filter based on the categories such as - Access Category, Certification 
 Age, and Access Life.</p>
 <p>The following table displays the options available under each filter 
 category.</p>
 <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 34.933%;" />
	<col style="width: 65.067%;" />
	<tr class="t1st">
		<td>
  <p class="TableText" style="font-weight: bold;">Filter Category</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Available Options</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Access Category</p></td>
		<td>
  <p class="TableText">- Administrator Access<br />
		- Privileged Access<br />
		- Owner Access<br />
		- Anomaly Access<br />
		- Exceptional Access<br />
		- Violation Access<br />
		- Regular Access</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Certification Age</p></td>
		<td>
  <p class="TableText">- Less than 30 days<br />
		- Between 30 and 60 days<br />
		- More than 30 days<br />
		- Never Certified</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Access Life</p></td>
		<td>
  <p class="TableText">- Indefinite Access<br />
		- Temporary Access<br />
		- Expired Access</p></td>
	</tr>
 </table>
 <p>To filter the Access:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the appropriate Filter option.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check boxes corresponding to the appropriate categories, in the Filter 
 option you selected.</p>
 <h3><a name="Viewing_the_Details_of_a_Team_Member_s_Access_in_an_Asset" 
		 id="Viewing_the_Details_of_a_Team_Member_s_Access_in_an_Asset"></a>Viewing 
 the Details of a Team Member's Access in an Asset</h3>
 <p>You can use the <span style="font-weight: bold;">View &gt;</span> <span 
	 style="font-weight: bold;">View</span> <span style="font-weight: bold;">Details</span> 
 option on the <span style="font-weight: bold;">My Team</span> - <span 
	 style="font-weight: bold;">Access by Asset</span> page&#160;to view 
 the Access Details of an Access granted to a team member in an Asset.</p>
 <p>To view the Access details, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the name of the Asset or <img src="Images/Expand_icon.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" />.<br />
<br />
The bar expands to show the list of team members who are granted Access 
 in the Asset.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the Access for which you want to view the 
 details.<br />
<br />
The Access is highlighted.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">View</span> and select <span style="font-weight: bold;">View</span> 
 <span style="font-weight: bold;">Details</span>.<br />
<br />
The <span style="font-weight: bold;">Selected User - Grant Details</span> 
 page opens.<br />
<br />
You can view Access details, such as Access Grant Path, Access Category, 
 Access Life, Last Certification details, Access Analysis, and Governance 
 History, if available.</p>
 <h3 class="list"><a name="Viewing_the_Analysis_of_a_Team_Member_s_Access_in_an_Asset" 
					 id="Viewing_the_Analysis_of_a_Team_Member_s_Access_in_an_Asset"></a>Viewing 
 the Analysis of a Team Member's Access in an Asset</h3>
 <p>You can use the <span style="font-weight: bold;">View</span> &gt; <span 
	 style="font-weight: bold;">View Analysis</span> option on the <span 
	 style="font-weight: bold;">My Team</span> - <span style="font-weight: bold;">Access 
 by Asset</span> page&#160;to view the analysis of the Access granted to 
 team members in an Asset.</p>
 <p>For more information, refer to <a href="Viewing_the_Analysis_of_Access.htm">Viewing 
 the Analysis of Access</a>.</p>
 <h3><a name="Viewing_the_Governance_History_of_a_Team_Member_s_Access_in_an_Asset" 
		 id="Viewing_the_Governance_History_of_a_Team_Member_s_Access_in_an_Asset"></a>Viewing 
 the Governance History of a Team Member's Access in an Asset</h3>
 <p>You can use the <span style="font-weight: bold;">View</span> &gt; <span 
	 style="font-weight: bold;">View Governance History</span> option on 
 the <span style="font-weight: bold;">My Team</span> - <span style="font-weight: bold;">Access 
 by Asset</span> page&#160;to view the governance history of the Access 
 granted to team members in an Asset.</p>
 <p>For more information, refer to <a href="Viewing_the_Governance_History_of_an_Access.htm">Viewing 
 the Governance History of an Access</a>.</p>
 <h3><a name="Certifying_the_Access_Granted_to_the_Team_Members_in_an_Asset" 
														 id="Certifying_the_Access_Granted_to_the_Team_Members_in_an_Asset"></a>Certifying 
 the Access Granted to a Team Member in an Asset</h3>
 <p><span lang="EN-US" 
															 xml:lang="EN-US">You 
 can certify an Access for a team member from the</span> <span style="font-weight: bold;">My 
 Team</span> - <span style="font-weight: bold;">Access by Asset</span> 
 page by clicking the <span style="font-weight: bold;">Certify</span> button.</p>
 <p>For more information, 
 refer to <a href="Certification.htm#Certifying_Access">Certifying Access</a>.</p>
 <h3><a name="Adding_Notes_for_an_Access" id="Adding_Notes_for_an_Access"></a>Adding 
 Notes for an Access</h3>
 <p>You can use the <span style="font-weight: bold;">Add Notes</span> option 
 on the <span style="font-weight: bold;">My Team - Access by Asset</span> 
 page to specify additional information for any Access granted to the team 
 members.</p>
 <p>For more information, refer to <a href="Adding_Notes.htm">Adding Notes 
 for an Access</a>.</p>
 <h3><a name="Requesting_for_More_Information" id="Requesting_for_More_Information"></a>Requesting 
 for More Information</h3>
 <p>You can request for information from the team member when you need to 
 know why the Access is granted to an Asset. The team member receives an 
 alert and must send you appropriate information. To request more information, 
 click the <span style="font-weight: bold;">Request More Info</span> button.</p>
 <p>For more information, refer to <a href="Requesting_for_More_Information.htm">Requesting 
 for More Information</a>.</p>
 <h3 class="list"><a name="Assigning_Access_for_Certification" 
	 id="Assigning_Access_for_Certification"></a>Assigning Access for Certification</h3>
 <p>You can use the <span 
	 style="font-weight: bold;">Assign for Certification</span> option 
 on the <span style="font-weight: bold;">My Team - Access by Asset</span> 
 page to assign an Access for certification.</p>
 <p>For more information, 
 refer to <a href="Assigning_for_Certification.htm">Assigning Access for 
 Certification</a>.</p>
 <h3><a name="Exporting_the_Details_of_a_Team_Member_s_Access_in_an_Asset" 
		 id="Exporting_the_Details_of_a_Team_Member_s_Access_in_an_Asset"></a>Exporting 
 the Details of a Team Member's Access in an Asset</h3>
 <p>You can export the details of a team member's Access in an Asset, in 
 PDF and Excel formats. For more information, refer to <a href="Common_Tasks.htm#Exporting_Reports_to_PDF_or_Excel_Format">Exporting 
 Reports to PDF or Excel Format</a>.</p>
<br />
 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="My_Team_-_Access_By_User.htm" style="color: #008000;">My 
		 Team - Access By User</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="My_Team_-_Assets.htm" 
													 style="color: #008000;">My 
		 Team - Assets</a> &#160;</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
