
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - User Roles</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1568">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Viewing_the_Escalation_History.htm"><span style="color: #008000;">Viewing 
		 the Escalation History</span></a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="User_Enrollment.htm" 
													 style="color: #008000;">User 
		 Enrollment</a></p></td>
	</tr>
 </table>
 <h1>User Roles in Tuebora Portal</h1>
 <p>All users who access Tuebora Portal are assigned a specific role, based 
 on&#160;their roles and responsibilities in the organization and how they 
 use Tuebora Portal. Tuebora Portal features are displayed to users based 
 on the roles assigned to them.<br />
<br />
Following table lists the roles in Tuebora Portal.</p>
 <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 31.674%;" />
	<col style="width: 68.326%;" />
	<tr class="t1st" style="height: 30px;">
		<td>
  <p class="TableText"><span style="font-weight: bold;">Role</span></p></td>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Description</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 22px;">
		<td>
  <p class="TableText">Regular User</p></td>
		<td>
  <p class="TableText">Has specific job responsibilities in the 
		 organization which do not include managing Tuebora Portal.</p></td>
	</tr>
	<tr class="t1Row" style="height: 31px;">
		<td>
  <p class="TableText"><span>Supervisor</span></p></td>
		<td>
  <p class="TableText"><span style="font-weight: normal;">Manages 
		 a team of regular users with defined job responsibilities.</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 59px;">
		<td>
  <p class="TableText"><span>Asset Owner</span></p></td>
		<td>
  <p class="TableText"><span>Identified as the owner of an Asset 
		 in your Tuebora setup.<br />
		<br />
		Responsible for all information available in the Asset and manages 
		 the Asset.</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 31px;">
		<td>
  <p class="TableText"><span style="font-weight: normal;">Governance 
		 Team Member</span></p></td>
		<td>
  <p class="TableText"><span>Manages governance initiatives in 
		 your organization.</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 31px;">
		<td>
  <p class="TableText">Administrator</p></td>
		<td>
  <p class="TableText"><span>Global Administrator. Manages the 
		 Tuebora setup in your organization.</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 45px;">
		<td>
  <p class="TableText">Customer Administrator</p></td>
		<td>
  <p class="TableText">A user to whom the Administrator privileges 
		 are be assigned through this role. Manages the Tuebora setup.</p></td>
	</tr>
 </table>
 <h2>Availability of Features by Role</h2>
 <p>Following table lists the features and tasks available for different 
 roles.</p>
 <p>Click the underlined and blue colored items to navigate to the respective 
 topics.</p>
 <table style="left: 0px; top: 293px;" cellspacing="0">
	<col />
	<col />
	<col />
	<col />
	<col />
	<col />
	<tr style="height: 13px;">
		<td colspan="2" style="border: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Features</p></td>
		<td style="border-top: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p class="TableText" 
			 style="color: #ffffff; font-weight: bold;">Regular User</p></td>
		<td style="border-top: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p class="TableText" 
			 style="color: #ffffff; font-weight: bold;">Supervisor</p></td>
		<td style="border-top: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p class="TableText" 
			 style="color: #ffffff; font-weight: bold;">Asset Owner</p></td>
		<td style="border-top: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p class="TableText" 
			 style="color: #ffffff; font-weight: bold;">Governance Team 
		 Member</p></td>
	</tr>
	<tr style="height: 13px;">
		<td colspan="2" style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p class="TableText" 
			 style="color: #000000; font-weight: bold; text-decoration: underline; ">My 
		 Accounts</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#FFFFFF">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#FFFFFF">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#FFFFFF">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#FFFFFF">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td colspan="2" style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p class="TableText" 
			 style="color: #000000; font-weight: bold; text-decoration: underline; ">Archived 
		 <a href="Alerts.htm" style="color: #000000; font-weight: bold; 
			 text-decoration: underline; ">Alerts</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td colspan="2" style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p class="TableText" 
			 style="color: #000000; font-weight: bold; text-decoration: underline; "><a 
		 href="My_Access.htm" style="color: #000000; font-weight: bold; 
		 text-decoration: underline; ">My Access</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td colspan="2" style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p class="TableText" 
			 style="font-weight: bold; color: #000000; text-decoration: underline; "><a 
		 href="My_Groups.htm" style="color: #000000; text-decoration: underline; ">My 
		 Groups</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
	</tr>
	<tr style="bgcolor=: ; height: 26px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p style="font-weight: bold;">My 
		 Settings</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText" style="font-weight: normal;"><a 
		 href="Delegation_of_Task.htm">Task Delegation</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center; 
			 background-color: Transparent;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td colspan="2" style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p class="TableText" 
			 style="font-weight: bold; color: #000000; text-decoration: underline; "><a 
		 href="My_Assets.htm" style="color: #000000; text-decoration: underline; ">My 
		 Assets</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">-</p></td>
	</tr>
	<tr style="height: 13px;">
		<td colspan="2" style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p class="TableText" 
			 style="color: #000000; font-weight: bold; text-decoration: underline; "><a 
		 href="Team_Management.htm" style="color: #000000; font-weight: bold; 
		 text-decoration: underline; ">My Team</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">-</p></td>
	</tr>
	<tr style="height: 13px;">
		<td rowspan="4" style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p class="TableText" 
			 style="font-weight: bold; text-decoration: none; ">My &#160;Requests</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText" style="text-decoration: none; "><a 
		 href="Access_Request.htm#Requesting_Access_for_Self" style="text-decoration: none; ">Request 
		 Access for Self</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText" style="text-decoration: none; "><a 
		 href="Access_Request.htm#Requesting_Access_for_Self">Request Access 
		 for Other Users</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="text-align: center; font-size: 10pt;">Can 
		 request Access for all Team members</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="text-align: center; font-size: 10pt;">Can 
		 request Access for all users in the system to the Asset, of which, 
		 requestor is the Owner.</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">-</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText" style="color: #000000;"><a 
		 href="Creating_Service_Account_in_Assets.htm">Request Access for 
		 Service Account</a></p></td>
		<td colspan="4" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText">User who are the Owners 
		 of the Service Accounts can request additional access for Service 
		 Accounts.</p></td>
		
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText"><a href="Access_Request.htm#Viewing_Status_of_Requested_Access">View 
		 Status of Requested Access</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#FFFFFF">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#FFFFFF">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;"><span style="font-size: 12pt;">✔</span></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#FFFFFF">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#FFFFFF">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
	</tr>
 </table>
<br />

 <table style="left: 0px; top: 293px;" cellspacing="0" width="100%">
	<col style="width: 7.873%;" />
	<col style="width: 14.621%;" />
	<col style="width: 7.157%;" />
	<col style="width: 17.894%;" />
	<col style="width: 39.676%;" />
	<col style="width: 12.779%;" />
	<tr style="height: 13px;">
		<td colspan="2" style="border: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Features</p></td>
		<td style="border-top: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p class="TableText" 
			 style="color: #ffffff; font-weight: bold;">Regular User</p></td>
		<td style="border-top: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p class="TableText" 
			 style="color: #ffffff; font-weight: bold;">Supervisor</p></td>
		<td style="border-top: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p class="TableText" 
			 style="color: #ffffff; font-weight: bold;">Asset Owner</p></td>
		<td style="border-top: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p class="TableText" 
			 style="color: #ffffff; font-weight: bold;">Governance Team 
		 Member</p></td>
	</tr>
	<tr style="height: 13px;">
		<td rowspan="4" style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p class="TableText" 
			 style="font-weight: bold;">My Tasks</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText" style="color: #ff0000;"><a 
		 href="My_Tasks.htm#ProvideInfoTask">Provide Info</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText" style="text-decoration: none; ">Approve 
		 Access</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">-</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText" style="text-decoration: none; "><a 
		 href="Certification_Policies.htm#Access_Certification">Certification</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText"><a href="Access_Controls.htm#Reviewing_Violations">Remediation</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td rowspan="4" style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p class="TableText" 
			 style="font-weight: bold;">My Task History</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText"><a href="Certification_Policies.htm#Provide_Info_Tasks">Provide 
		 Info</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText">Approve Access</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="text-align: center;"><span 
		 style="font-size: 12pt;">-</span></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">-</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText"><a href="Certification_Policies.htm#Certifications_to_be_Fulfilled">Certification</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText"><a href="Certification_Policies.htm#Remediations">Remediation</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="text-align: center;"><span 
		 style="font-size: 12pt;">-</span></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td rowspan="2" style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p class="TableText" 
			 style="font-weight: bold;">Reports</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText" style="font-weight: normal;"><a 
		 href="Reports.htm#Supervisor">View reports of Team Members' Access</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">-</p></td>
	</tr>
	<tr style="height: 13px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#DDDDDD">
  <p class="TableText" style="font-weight: normal;"><a 
		 href="Reports.htm#Asset_Health">View Asset Health Report</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td colspan="2" style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p class="TableText" 
			 style="font-weight: bold; color: #000000; text-decoration: underline; "><a 
		 href="Certification_Policies.htm" style="color: #000000; text-decoration: underline; ">Access 
		 Certification</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="font-size: 12pt; text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td colspan="2" style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p class="TableText" 
			 style="font-weight: bold; color: #000000; text-decoration: underline; "><a 
		 href="Access_Controls.htm" style="color: #000000; text-decoration: underline; ">Access 
		 Controls</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">-</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#A5C6E0">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
	</tr>
	<tr style="height: 13px;">
		<td colspan="2" style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#C0C0C0">
  <p class="TableText" 
			 style="color: #000000; font-weight: bold; text-decoration: none; "><a 
		 href="My_Activities.htm" style="color: #000000; font-weight: bold;">My 
		 Activities</a></p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#FFFFFF">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#FFFFFF">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#FFFFFF">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#FFFFFF">
  <p class="TableText" style="font-size: 12pt; 
									 text-align: center;">✔</p></td>
	</tr>
 </table>
&#160;&#160;<br />

 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <span 
		 style="color: #008000;"><a href="Viewing_the_Escalation_History.htm">Viewing 
		 the Escalation History</a></span></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="User_Enrollment.htm" style="color: #008000;">User Enrollment</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
