
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Certification Service - Working With Tuebora Governance UI</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Certification Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1736">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Getting_Started.htm" style="color: #008000;">Getting Started</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Adding_Notes.htm"><span 
		 style="color: #008000;">Adding Notes</span></a></p></td>
	</tr>
 </table>

 <h1>Working with Tuebora Portal UI</h1>
 <p>Tuebora is a web-based software and all features and tasks can be viewed 
 from the user interface. Tuebora can be accessed through a web browser.</p>
 <p>This topic explains the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Tuebora Governance_Home_Page">Tuebora 
	 Portal Home Page</a></p></li>
	<li>
 <p class="list"><a href="#Global_Search">Global Search</a></p></li>
	<li>
 <p class="list"><a href="#Quick_Access">Quick Access</a></p></li>
	<li>
 <p class="list"><a href="#Pagination_to_Access_Tabular_Data">Pagination 
	 to Access Tabular Data</a></p></li>
</ul>
<ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Column_Navigation_to_View_Columns">Column 
	 Navigation to View Columns</a></p></li>
	<li>
 <p class="list"><a href="#Sorting_and_Filtering_Data_in_Tables">Sorting 
	 and Filtering Data in Tables</a></p></li>
	<li style="color: #000000;">
 <p class="list"><a href="#The_User_Picker">The 
	 Entity Picker</a></p></li>
</ul>
<h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Tuebora Governance_Home_Page"></a>Tuebora 
 Portal Home Page</h3>
<p>You can navigate to all features of Tuebora from the home page. The 
 home page is optimized for easy access to all features and the dashboard 
 provides an overview of your account at a glance.</p>
<p>Following figure shows the Tuebora home page that appears when you log 
 in.</p>
<p><img src="Images/HomePage.png" alt="" style=" border:Solid 1px #808080; width:100%; max-width:608px;" border="1" /></p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The widgets displayed on the dashboard vary based on the role 
		 with which you are logged in.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">For example, an Asset Owner will be able to 
		 view the <span style="font-weight: bold;">My Assets</span> widget 
		 on the dashboard, but a Regular User may not be able to view the 
		 widget.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">End User cannot delete the default widgets 
		 provided based on the role or add new widgets to the Dashboard.</p></td>
	</tr>
 </table>
 <p>Following table lists the UI features and their description.</p>
 <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 22.419%;" />
	<col style="width: 77.581%;" />
	<tr class="t1st">
		<td style="border-top: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">UI 
		 Item</p></td>
		<td style="border-top: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">Description</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText"><a href="#Global_Search">Global Search</a> 
		 <img src="Images/GlobalSearch.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /></p></td>
		<td>
  <p class="TableText"><span>Search for users, groups, accounts, 
		 assets, and resources by name.</span></p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText"><a href="#Quick_Access">Quick Access</a> 
		 <img src="Images/Icon_QuickAccess.gif" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /></p></td>
		<td>
  <p class="TableText">Access the most important Tuebora features.</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText"><span>Dashboard</span></p></td>
		<td>
  <p class="TableText">View widgets to quickly analyze new alerts 
		 and access granted in different managed Assets.</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText"><span>MENU</span></p></td>
		<td>
  <p class="TableText">View and access Tuebora features.</p></td>
	</tr>
	<tr class="t2Row">
		<td style="border-bottom-width: 1px;">
  <p class="TableText"><span 
		 style="font-size: 10pt;">Logout <img src="Images/Icon_Logout.png" alt="" style=" border:none; width:100%; max-width:27px;" border="0" /></span></p></td>
		<td style="border-bottom-width: 1px;">
  <p class="TableText">Log 
		 out from Tuebora Portal.</p></td>
	</tr>
 </table>
 <h3><a name="Global_Search" id="Global_Search"></a>Global Search</h3>
 <p><span style="font-weight: bold;">Global</span> <span style="font-weight: bold;">Search</span> 
 allows you to search any entity on the Tuebora portal that you have permission 
 to view.<br />
<br />
Global Search feature is available for the Users with the following Roles 
 in Tuebora Portal:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">Supervisor - Can Search for their team Members.</p></li>
	<li>
 <p class="list">Asset Owner - Can search for the Assets that they 
	 own and the accounts and groups, resources (application roles, mailboxes, 
	 file or folder) that belong to the Assets that they own.</p></li>
</ul>
<p>Following figure shows the Global Search icon available on the top-right 
 corner of the Tuebora Portal UI.</p>
<p><img src="Images/GlobalSearch1.png" alt="" style=" border:none; width:100%; max-width:237px;" border="0" /></p>
<h4>What can I search for?</h4>
<p>You can search for <span style="font-weight: bold;">Users, Accounts, 
 Groups, Resources,</span> and <span style="font-weight: bold;">Assets</span> 
 based on the permission you have to view the details of different entities 
 in Tuebora Portal.</p>
<p>You can search these entities by their <span style="font-weight: bold;">Name</span>. 
 For example, if a Supervisor wants to search a specific user in his team, 
 then supervisor must mention the name of the team member. The search lists 
 the matching results.</p>
<h4 style="margin-top: 5pt; margin-bottom: 5pt;">How does Global Search 
 work?</h4>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the <span style="font-weight: bold;">Global</span> <span style="font-weight: bold;">Search</span> 
 icon displayed next to the name of the user logged in on the top-right 
 corner of the Tuebora Portal UI.<br />
The <span style="font-weight: bold;">Global Search</span> page opens.<br />
<br />
<img src="Images/GlobalSearch2.png" alt="" style=" border:none; width:100%; max-width:691px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 search term into the box that appears on the Global Search page and click 
 <img src="Images/GlobalSearch.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> (search) icon or press <span style="font-weight: bold;">Enter</span> 
 key on the keyboard.<br />
You will then see results displayed from all entities (users, accounts, 
 groups, assets, and resources) of Tuebora Portal that you have permission 
 to view.<br />
<br />
Following figure shows the results for search term <span style="font-weight: bold;">'AD'</span>. 
 The user who has searched the term AD is the <span style="font-weight: bold;">Owner 
 of an Asset and a Supervisor</span>. The result displayed are the Users, 
 Assets, Accounts, and Groups that match the searched term.<br />
<br />
<img src="Images/GlobalSearch3.png" alt="" style=" border:none; width:100%; max-width:700px;" border="0" /><br />
On the Global Search page, the results displayed will be grouped based 
 on <span style="font-weight: bold;">Entities</span>. The <span style="font-weight: bold;">All</span> 
 tab lists the top 10 results across all the entities.<br />
<br />
To view the results specific to an entity click the required hyperlink. 
 The page refreshes to show the search records corresponding to the entity 
 selected. Under each entity, top 10 results are displayed. To further 
 refine the search results, you must use the appropriate search term.<br />
<br />
Following figure shows the search results for the user account entity.<br />
<br />
<img src="Images/GlobalSearch4.png" alt="" style=" border:none; width:100%; max-width:700px;" border="0" /><br />
<br />
In search results, the data displayed for each entity depends on the data 
 collected for entities in your Tuebora deployment.<br />
<br />
The search results can also include the terminated users and disabled accounts 
 that match the searched term.<br />
<br />
If the search term contains Multiple Words and there is space between them, 
 then Tuebora considers this search term as <span style="font-weight: bold;">AND</span> 
 condition and displays the entities that match the search term. For example, 
 the search term specified is <span style="font-weight: bold;">alan butler</span>. 
 Tuebora searches all entities and if it finds entities containing both 
 the words then that record will be displayed as search result. &#160;<br />
<br />
Click on the underlined clickable items to navigate to pages showing details 
 of the searched records.</p>
<h3><a name="Quick_Access" id="Quick_Access"></a>Quick Access</h3>
<p>Quick Access allows you to quickly navigate to the most important features 
 for your profile. The available options differ based on the end user login. 
 For more information on the users in Tuebora Portal, see <a href="User_Roles.htm">User 
 Roles</a>.</p>
<p>Following table lists the Quick Access options for the different user 
 login in Tuebora Portal.</p>
<table class="Table" cellspacing="0px" width="100%">
	<col style="width: 35.419%;" />
	<col style="width: 64.581%;" />
	<tr class="t1st" style="height: 42px;">
		<td>
  <p class="TableText" style="color: #ffffff; font-weight: bold;">Quick 
		 Access options</p></td>
		<td>
  <p class="TableText" style="color: #ffffff; font-weight: bold;">Roles 
		 that can use this Feature</p></td>
	</tr>
	
		
	
	<tr class="t2Row" style="height: 32px;">
		<td>
  <p class="TableText">Create Certification Policy</p></td>
		<td>
  <p class="TableText">Governance 
		 Team Member</p></td>
	</tr>
	<tr class="t1Row" style="height: 29px;">
		<td>
  <p class="TableText">Create User</p></td>
		<td>
  <p class="TableText">Supervisor</p></td>
	</tr>
	
		
	
	<tr class="t2Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText" style="color: #000000;">View 
		 Task Delegation</p></td>
		<td style="background-color: Transparent; border-bottom-width: 1px;">
  <p 
			 class="TableText" style="color: #000000;">Asset Owner, Governance 
		 Team Member, Supervisor, Regular User</p></td>
	</tr>
	<tr class="t1Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">Tuebora 
		 Administrator Console</p></td>
		<td style="border-bottom-width: 1px;">
  <p class="TableText" style="color: #000000;">Asset 
		 Owner, Governance Team Member, Supervisor, Regular User</p></td>
	</tr>
 </table>
 <h3><a name="Pagination_to_Access_Tabular_Data" id="Pagination_to_Access_Tabular_Data"></a>Pagination 
 to Access Tabular Data</h3>
 <p>Most Tuebora Portal pages display data in tables with a predefined number 
 of records displayed per page. For example, if a workflow has 30 records, 
 it is displayed across 3 pages with 10 records per page. You can click 
 the Previous, Next, and buttons displaying the page numbers at the lower-right 
 corner of the page to navigate to different pages.</p>
 <p>Following figure shows an example of navigation icons at the end of 
 a table.</p>
 <p><img src="Images/Navigation.png" alt="" style=" border:none; width:100%; max-width:547px;" border="0" /></p>
 <h3><a name="Column_Navigation_to_View_Columns" id="Column_Navigation_to_View_Columns"></a>Column 
 Navigation to View Columns</h3>
 <p>Tuebora Portal displays data in multiple columns across pages. The columns 
 may be wide and this may hide some data from the columns on the right 
 of the page. In such instances, you can use the column navigation buttons 
 located at the top right corner of the columns to view data in the column 
 that are hidden.</p>
 <p>Click the '<span style="font-weight: bold;">&gt;</span>' icon to move 
 the columns to the left and click the '<span style="font-weight: bold;">&lt;</span>' 
 to move the columns to the right. &#160;</p>
 <h3><a name="Sorting_and_Filtering_Data_in_Tables" id="Sorting_and_Filtering_Data_in_Tables"></a>Sorting 
 and Filtering Data in Tables</h3>
 <p>When there are a large number of records spread across multiple pages, 
 you may want to sort data in a specific order or filter out only required 
 records.</p>
 <p>To sort data:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_Sort.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" /> 
 <img src="Images/Icon_Sort_1.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" /> 
 corresponding to column names.<br />
<br />
The data in the column is arranged in ascending or descending order.</p>
 <p>To filter data:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Type 
 a value by which you want to filter the records in the search box provided 
 at the top of the appropriate columns, and press the <span style="font-weight: bold;">Enter</span> 
 key.<br />
<br style="page-break-before: always;" />
<br />
The data in the columns is filtered by the criteria you specified.<br />
<br />
<img src="Images/Search.png" alt="" style=" border:none; width:100%; max-width:262px;" border="0" /></p>
 <h2><a name="The_User_Picker" id="The_User_Picker"></a>The Entity Picker</h2>
 <p>The <span style="font-weight: bold;">Entity Picker</span> is the drop-down 
 that appears in the <span style="font-weight: bold;">List-User</span> 
 field of a <span style="font-weight: bold;">Form</span>. For example, 
 you can find the List-User field in <a href="My_Team_-_Users.htm#Creating_a_Record_for_a_New_Team_Member">Create 
 User/Edit User</a> form to specify the Supervisor, <a href="Access_Request.htm#SelectUser">Create 
 Asset</a> form to specify Asset owner and in many more forms.</p>
 <p>Following figure shows the List-User field in a Form.<br />
<br />
<img src="Images/UserPicker1.png" alt="" style=" border:none; width:100%; max-width:500px;" border="0" /></p>
 <h4>Which Users Appear in a List-User field of a Form</h4>
 <p>All <span style="font-weight: bold;">Active</span> <span style="font-weight: bold;">Users</span> 
 available in Tuebora application appear in the List-User field of a form.</p>
 <h4>Finding Users in the User Picker</h4>
 <p>Just start typing a first or last name to show matching users.</p>
 <p>If the user you are searching for is available then system shows the 
 users in the list. If a user search returns multiple matching users then 
 the system shows the additional attributes for users based on which you 
 can select the appropriate user.</p>
 <p style="color: #000000;"><img src="Images/UserPicker2.png" alt="" style=" border:none; width:100%; max-width:808px;" border="0" /></p>
 <p>If the user you are searching for is not available then the system show 
 the message - <span style="font-weight: bold;">No data available with 
 search criteria</span>.</p>
 <h4>Selecting Users from Entity Picker and Viewing Selected User Information</h4>
 <p>To select a user and view user information perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 first or last name in the <span style="font-weight: bold;">User-List</span> 
 field in a Form.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Search</span> (<img src="Images/GlobalSearch.png" alt="" style=" border:none; width:100%; max-width:27px;" border="0" />) 
 icon.<br />
<br />
The users matching the keyword is listed.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required user(s).</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Selected</span>.<br />
The User list gets closed.<br />
<br />
The selected users are listed for the user-list field.<br />
<br />
<img src="Images/UserPicker3.png" alt="" style=" border:none; width:100%; max-width:309px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the <img src="Images/Icon_info.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" /> 
 (Info) icon displayed next to the selected user name to view the user 
 information.<br />
<br />
Following figure shows the information displayed for a selected user.<br />
<br />
<img src="Images/UserPicker4.png" alt="" style=" border:none; width:100%; max-width:784px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close</span> (<img src="Images/icon_infoclose.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" />) icon 
 after viewing the information.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To remove 
 a selected user click Remove (<img src="Images/icon_infoclose.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" />) 
 icon displayed for the selected user. The selected user is removed.</p>
 <h4 class="list">Viewing Information related to an Entity</h4>
 <p>In Tuebora portal, <span style="font-weight: bold;">Information</span> 
 (<img src="Images/Icon_info.png" alt="" style=" border:none; width:100%; max-width:14px;" border="0" />) 
 icon is displayed for all Entities, such as - Users, Groups, Assets, Tuebora 
 Groups.<br />
<br />
Following figure shows the My Team User Access page where information icon 
 is displayed for your team members.<br />
<img src="Images/MyTeamUserAccess.png" alt="" style=" border:none; width:100%; max-width:919px;" border="0" /><br />
To view information, click the <span style="font-weight: bold;">Information</span> 
 icon displayed for the entity. Information for entities that are collected 
 from different Assets is displayed based on the data collected for that 
 entity in a particular deployment environment. For example, in a deployment, 
 for User entity 5 attributes - First Name, Last Name, Supervisor, Email 
 Address, and Mobile number are collected. In this case, when you view 
 information for a User, Tuebora displays data for 5 attributes collected.</p>
<br />
 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Getting_Started.htm" style="color: #008000;">Getting Started</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <span><a href="Adding_Notes.htm" style="color: #008000;">Adding 
		 Notes</a></span></p></td>
	</tr>
 </table>

</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
