
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Tuebora REST API - Create an Authentication IDP</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "7.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../Tuebora_API.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../Tuebora_API.htm" class="homelink"><span>Tuebora REST API</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1952">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../Tuebora_API.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>Create Authentication IDP</h1>
     <p><span lang="EN-IN" xml:lang="EN-IN">Create an authentication IDP.</span></p>
     <table class="Table" cellspacing="0" width="100%">
	<col style="width: 23.424%;" />
	<col style="width: 76.576%;" />
	<tr class="t1st" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;">
  <p 
			 class="APIParameter" style="color: #000000;">URL</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;">
  <p class="TableText" 
														 style="font-weight: bold;">/api/v1/authenticationidps</p></td>
	</tr>
	<tr class="t2Row" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="APIParameter">HTTP 
		 Method</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText">POST</p></td>
	</tr>
	<tr class="t1Row" style="height: 10px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="APIParameter">Headers</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <ul 
				 style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">Content-Type</span>: application/json</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">Authorization</span>: Basic Authorization. 
			 Use Tuebora API Authentication Credentials as Basic Authorization 
			 Credentials.</p></li>
		</ul></td>
	</tr>
	<tr class="t2Row" style="height: 22px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="APIParameter">Data 
		 Type</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText">Request Body</p></td>
	</tr>
	<tr class="t1Row" style="height: 149px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0;" 
			 bgcolor="#A5C6E0">
  <p class="APIParameter">Data Parameters</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0;" bgcolor="#A5C6E0">
  <p 
			 class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000;">{</span></p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000;">&quot;name&quot;:&quot;&quot;,</span></p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000;">&quot;issuer&quot;:&quot;&quot;,</span></p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000;">&quot;certificate&quot;:&quot;&quot;,</span></p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000;">&quot;nameIdAttribute&quot;:&quot;&quot;,</span></p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000;">&quot;otherAttrs&quot;:&quot;&quot;,</span></p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000;">&quot;loginURL&quot;:&quot;&quot;,</span></p>
		<p class="tabletext" style="margin-top: 1.5pt; margin-right: 0in; 
			 margin-bottom: 1.5pt; margin-left: 5.1pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000;">&quot;logoutURL&quot;:&quot;&quot;</span></p>
		<span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; font-family: Arial, sans-serif; 
				 mso-fareast-font-family: 'Times New Roman'; color: #000000; 
				 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
				 mso-bidi-language: AR-SA;">}</span></td>
	</tr>
	<tr class="t2Row" style="height: 38px;">
		<td style="border-right: Solid 1px #c0c0c0; border-bottom: Solid 1px #c0c0c0; 
			 background-color: Transparent;">
  <p class="APIParameter">Success 
		 Response Code and Response Data</p></td>
		<td style="border-bottom: Solid 1px #c0c0c0; background-color: Transparent;">
  <p 
			 class="TableText">200 OK</p>
		<p class="TableText">All success responses return the details of 
		 the authentication IDP created in Tuebora.</p></td>
	</tr>
 </table>
 <p class="Request"><img src="../Images/Image_left.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Request 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
				 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">curl 
		 -v -X POST \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Accept: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Content-Type: application/json&quot; \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-H 
		 &quot;Authorization: Basic ${basic_authentication_header}&quot; 
		 \</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">-d 
		 '{</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">&quot;name&quot;:&quot;Tuebora 
		 Test IDP&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">&quot;issuer&quot;:&quot;TueboraTest&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">&quot;certificate&quot;:&quot;MIIFCTCCA/GgAwIBAgIQBFfkfJZzNYdJPi1bnPDi4TANBgkqhkiG9w0BAQsFADB</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">BMQswCQYDVQQGEwJVUzESMBAGA1UEChMJQWV0bmEgSW5jMR4wHAYDVQQDExVBZXR</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">uYSBJbmMuIFNlY3VyZSBDQTIwHhcNMTcxMTA2MDAwMDAwWhcNMjAwMzEwMTIwMDAwW</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">jBlMQswCQYDVQQGEwJVUzEUMBIGA1UECBMLQ29ubmVjdGljdXQxETAPBgNVBAcTCEhhcnR</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">mb3JkMRMwEQYDVQQKEwpBZXRuYSBJbmMuMRgwFgYDVQQDEw9mc3EyMC5hZXRuYS5jb2</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">0wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDKbMQhqwcV1UdVQ8tvpQqOnG</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">wjvHzpvQq1ToiHhaQOwn69BzFIPg0iHQ337sVUDlvIDQEtAs4aLnDB8T+MDPghuGewceDPIF</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">brnHFcdsSTT6mRePLZw8mAMOP0D/9733EZ72qfSancIddklQ/Fz4WGtbJgbzQ/sWzS5GSUCn</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">ONuNYfNTLmlfvfG4a8lTVMI1z2nl8WNzSY8QV73g8+7OPvsmi7vNM635FEfvfmnjRYGwmZNJeh</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">IWlTnnq0JSkzdjb9kO8ohonfXzAOUKMUzqw6RcE8zGc0uBWieNApE7W6sh9CbrDPpBAsZnMd</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">F/NrUlHoIFKNZ9o7JoI4tudYzoPZAgMBAAGjggHXMIIB0zAfBgNVHSMEGDAWgBS5q0R6/NpiGw</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">kfzzuvEEuJgRRjIzAdBgNVHQ4EFgQUwQxdu1TMIrgvyzlySFQIa2JC6RkwGgYDVR0RBBMwEYIP</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">ZnNxMjAuYWV0bmEuY29tMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQ</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">YIKwYBBQUHAwIwdQYDVR0fBG4wbDA0oDKgMIYuaHR0cDovL2NybDMuZGlnaWNlcnQuY29tL</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">0FldG5hSW5jU2VjdXJlQ0EyLmNybDA0oDKgMIYuaHR0cDovL2NybDQuZGlnaWNlcnQuY29tL0F</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">ldG5hSW5jU2VjdXJlQ0EyLmNybDBMBgNVHSAERTBDMDcGCWCGSAGG/WwBATAqMCgGCCsG</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">AQUFBwIBFhxodHRwczovL3d3dy5kaWdpY2VydC5jb20vQ1BTMAgGBmeBDAECAjBzBggrBgEF</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">BQcBAQRnMGUwJAYIKwYBBQUHMAGGGGh0dHA6Ly9vY3NwLmRpZ2ljZXJ0LmNvbTA9BggrBg</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">EFBQcwAoYxaHR0cDovL2NhY2VydHMuZGlnaWNlcnQuY29tL0FldG5hSW5jU2VjdXJlQ0EyLmN</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">ydDAMBgNVHRMBAf8EAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQANw3zcj+7Z5E14U4fCGlSFGH</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">8L7StzxkZhnVAotrFsbnNJyvIKe/dIPi6Lo+eRq4Ktr00RVXUaukuuA51y4d26DDhXUzBLsLg5H5</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">B+GDJfUc0JlCNzjOTtYzkkttDtMj6bqjTaad9bFmLGqKDa/Na26FsuqT6kc9/cNsimobuHlkxj4yGhv</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">Wiu5by1Ljc01pjSXv0l6gUuDN57qBOFhSrN3bnEr3AXw/4zMdQIqH1nho6yGPYXEugfQi1NjISSH</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt; 
			 mso-bidi-font-weight: bold;"><span lang="EN-IN" xml:lang="EN-IN">KxziXHoaenCZ3i+CwSdzGDkBKwp9vPpYxYLAbyDSOs8vqCx+M4fbVl1Hdabq4bKfevR4F3dDglP</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">AgrEcsrKefgF&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">&quot;nameIdAttribute&quot;:&quot;Email 
		 Address&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">&quot;otherAttrs&quot;:&quot;Email 
		 Address&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">&quot;loginURL&quot;:&quot;https://apq.xanadu.com/affwebservices/public/saml2sso&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; text-indent: 14.5pt;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">&quot;logoutURL&quot;:&quot;&quot;</span></p>
		<p class="TableText" style="font-family: Verdana, sans-serif;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 mso-bidi-font-weight: bold;">}' &quot;https://{yourTenantURL}</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA;">/api/v1/authenticationidps</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-fareast-font-family: 'Times New Roman'; 
		 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; mso-bidi-language: AR-SA; 
		 mso-bidi-font-weight: bold;">&quot;</span></p></td>
	</tr>
 </table>
 <p class="Request"><img src="../Images/Image_Right.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> &#160;Response 
 Example</p>
 <table class="RequestTable" cellspacing="0" width="100%" bgcolor="#EBDAEB">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
				 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">{</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">&#160;&#160;&#160;&#160;&quot;id&quot;: 
		 5,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;name&quot;: 
		 &quot;Tuebora Test IDP&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;issuer&quot;: 
		 &quot;TueboraTest&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;requestSignatureAlgo&quot;: 
		 null,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span style="mso-spacerun: yes;">&#160;&#160;&#160;</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">&#160;&quot;certificate&quot;: 
		 &quot;-----BEGIN CERTIFICATE-----\nMIIFCTCCA/GgAwIBAgIQBFfkfJZzNYdJPi1bnPDi4T</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">ANBgkqhkiG9w0BAQsFADBB\nMQswCQYDVQQGEwJVUzESMBAGA1UEChMJQWV0bmEgSW5jMR</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">4wHAYDVQ</span><span lang="EN-IN" 
															 xml:lang="EN-IN" 
															 style="mso-bidi-font-weight: bold;">QDExVBZXRu\nYSBJbmMuIFNlY3VyZSBDQTIwHhcNMTcxMTA2MDAwMDAwWhcNMjAwMz</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">EwMTIw</span><span lang="EN-IN" 
															 xml:lang="EN-IN" 
															 style="mso-bidi-font-weight: bold;">MDAw\nWjBlMQswCQYDVQQGEwJVUzEUMBIGA1UECBMLQ29ubmVjdGljdXQx</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">ETAPBgNVBAcT\nCEhhcnRmb3J</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">kMRMwEQYDVQQKEwpBZXRuYSBJbmMuMRgwFgYDVQQDEw9mc</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">3EyMC5h\nZXRuYS5jb20wggEiMA0GC</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">SqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDKbMQ</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">hqwcV\n1UdVQ8tvpQqOnGwjvHzpvQq1ToiHhaQO</span><span 
		 lang="EN-IN" xml:lang="EN-IN">wn69BzFIPg0iHQ337sVUDlvIDQEtAs4</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">a\nLnDB8T+MDPghuGewceDPIFbrnHFcdsSTT6mRePLZw8mAMOP0D/9733E</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">Z72qfSanc\nIddklQ/Fz4WGtbJgbzQ/sWzS5GSUCnONuNYfNTLmlfvfG4a8lTVMI1z2nl8WNzSY</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">\n8QV73g8+7OPvsmi7vNM635FEfvfmnjRYGwmZNJehIWlTnnq0JSkzdjb9kO8ohonf\nXzAO</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">UKMUzqw6R</span><span lang="EN-IN" 
															 xml:lang="EN-IN" 
															 style="mso-bidi-font-weight: bold;">cE8zGc0uBWieNApE7W6sh9CbrDPpBAsZnMdF/NrUlHoIFKNZ9o7\nJoI4tudYz</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">oPZAgMBAAGjggHXMIIB0</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">zAfBgNVHSMEGDAWgBS5q0R6/NpiGwkfzzuv\nEEuJgRRjIzAdBg</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">NVHQ4EFgQUwQxdu1TMIrgvyzlySFQIa</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">2JC6RkwGgYDVR0RBBMw\nEYIPZnNxMjAuYWV0bm</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">EuY29tMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUE</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">FjAUBggr\nBgEFBQcDAQYIKwY</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">BBQUHAwIwdQYDVR0fBG4wbDA0oDKgMIYuaHR0cDovL2NybDMu\nZGln</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">aWNlcnQuY29tL0FldG5hSW5jU2VjdXJlQ0EyLmNybDA0oDKgMIYuaHR0c</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">Dov\nL2NybDQuZGlnaWNlcnQu</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">Y29tL0FldG5hSW5jU2VjdXJlQ0EyLmNybDBMBgNV</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">HSAE\nRTBDMDcGCWCGSAGG/WwBATAqMCgGCCsGA</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">QUFBwIBFhxod</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">HRwczovL3d3dy5kaWdp\nY2VydC5jb20vQ1BTMAgGBmeBDAECAjBzBggrBgEFBQcBAQR</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">nMGUwJAYIKwYBBQUH\nMAGGGGh0dHA6Ly9vY3NwLmRpZ2ljZXJ0LmNvbTA9BggrBgEFB</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">QcwAoYxaHR0c</span><span lang="EN-IN" 
		 xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">Dov\nL2NhY2VydHMuZGlnaWNlcnQuY29tL0FldG5hSW5j</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">U2VjdXJlQ0EyLmNydDAMBgNV\nHRMBAf8EAjAA</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">MA0GCSqGSIb3D</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">QEBCwUAA4IBAQANw3zcj+7Z5E14U4fCGlSFGH8L\n7StzxkZhnVAotrFsbnNJyvIKe/dIPi</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">6Lo+eRq4Ktr00RVXUaukuuA51y4d26DDhX\nUzBLsLg5H5B+GDJfUc0JlCNzjOTtYzkkttD</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">tMj6bqjTaad9bFm</span><span lang="EN-IN" 
		 xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">LGqKDa/Na26Fsu\nqT6kc9/cNsimobuHlkxj4yGh</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">vWiu5by1Ljc01pjSXv0l6gUuDN57qBOFhSrN3bnE\nr3AX</span><span 
		 lang="EN-IN" xml:lang="EN-IN" style="mso-bidi-font-weight: bold;">w/4zMdQIqH1nho</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt; mso-bidi-font-weight: bold;"><span 
		 lang="EN-IN" xml:lang="EN-IN">6yGPYXEugfQi1NjISSHKxziXHoaenCZ3i+CwSdzGDkBKwp\n9vPpYxYLAbyDSOs8vqCx</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;">+M4fbVl1Hdabq4bKfevR4F3dDglPAgrEcsrKefgF-----END 
		 CERTIFICATE-----&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;nameIdAttribute&quot;: 
		 &quot;Email Address&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;otherAttrs&quot;: 
		 &quot;Email Address&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;loginURL&quot;: 
		 &quot;https://apq.xanadu.com/affwebservices/public/saml2sso&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;logoutURL&quot;: 
		 &quot;&quot;,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;spInitiatedRequestType&quot;: 
		 null,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;isAssertionEncrypted&quot;: 
		 null,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;assertionCertificate&quot;: 
		 null,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;createdBy&quot;: 
		 999999999,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;createdOn&quot;: 
		 null,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;lastModifiedBy&quot;: 
		 999999999,</span></p>
		<p class="tabletext" style="margin-top: 4.0pt; margin-right: 0in; 
			 margin-bottom: 4.0pt; margin-left: 5.0pt;"><span lang="EN-IN" 
		 xml:lang="EN-IN" style="color: #000000; mso-bidi-font-weight: bold;"><span 
		 style="mso-spacerun: yes;">&#160;&#160;&#160;</span>&#160;&quot;lastModifiedOn&quot;: 
		 null</span></p>
		<span lang="EN-IN" xml:lang="EN-IN" style="font-size: 10.0pt; font-family: Arial, sans-serif; 
				 mso-fareast-font-family: 'Times New Roman'; color: #000000; 
				 mso-ansi-language: EN-IN; mso-fareast-language: EN-IN; 
				 mso-bidi-language: AR-SA; mso-bidi-font-weight: bold;">}</span></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
