
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Deployment Guide - Appendix</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default_-_Copy.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "10_5";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><span>Deployment Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="104">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_Tuebora_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 72.898%;" />
	<col style="width: 27.102%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <span style="color: #008000;"><a 
		 href="Images/Steps_for_Upgrading_the_Product_Build.htm" style="color: #008000;">Steps 
		 for Upgrading the Customization after Product Build</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;">&#160;</p></td>
	</tr>
 </table>
 <h1>Appendix</h1>
 <h2><a name="XML_Schema_of_Active_Directory_feed.xml"></a>XML Schema of 
 Active Directory feed.xml</h2>
 <p>An XML Schema is a rule definition of XML structure. It defines the 
 interrelationship between the attributes and elements of an XML object. 
 In Active Directory feed.xml file you can view the XML elements and the 
 mapping.</p>
 <p>Following figure shows the structure of Active Directory XML file.</p>
 <p><img src="XML_Schema.png" alt="" style=" border:none; width:100%; max-width:345px;" border="0" /></p>
<br style="page-break-before: always;" />

 <p>Following table lists the XML elements available in the Active Directory 
 XML file and the description.</p>

 <table style=" margin-left:24px; left:0px; top:12186px; width:100%; max-width:815px;" cellspacing="0">
	<col style="width: 22.471%;" />
	<col style="width: 77.529%;" />
	<tr style="height: 28px;">
		<td style="border: Solid 1px #000000;" bgcolor="#003A6B">
  <p class="TableText" 
			 style="color: #ffffff; font-weight: bold;">XML Element</p></td>
		<td style="border-top: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p class="TableText" 
			 style="color: #ffffff; font-weight: bold;">Description</p></td>
	</tr>
	<tr style="height: 27px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">feeds</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Defines the mechanism to collect the data. 
		 </p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">feed 
		 name </p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Tag to identify different sections in the 
		 XML file. <span style="font-weight: bold;">Example -</span> feed 
		 name = &quot;user&quot; </p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">initialize-specs 
		 (Initialize Specifications)</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Defines how to retrieve data from an Asset. 
		 Data can be retrieved by querying, connecting to a URL, or reading 
		 the data in CSV file. </p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">arg 
		 (Arguments)</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Depending on the Asset type, you can find 
		 one or multiple arg syntax provided under Entities. </p>
		<p class="TableText"><span style="font-weight: bold;">Example</span>: 
		 For <span style="font-weight: bold;">User</span> Entity 2 arg 
		 syntax are provided. </p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">arg key = &quot;filter&quot;</span> 
			 - It specifies what data to be collected based on the filters 
			 set for the Asset.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">arg key = &quot;csvfilename&quot;</span> 
			 &#160;- It specifies the name of the file that must be read 
			 to import data for Active Directory Asset.</p></li>
		</ul></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">entities</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Specifies Entities - such as User, Account, 
		 Account Group, Group Membership, and Activity for which data must 
		 be collected.</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">relationship 
		 name</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Defines the relationship between User and 
		 Account.</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">Src 
		 (Source)</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Specifies the source of relationship. <span 
		 style="font-weight: bold;">Example</span> - User.Unique Id</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">trg 
		 (Target)</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Specifies the target of relationship. &#160;<span 
		 style="font-weight: bold;">Example</span> - Account.Unique Id</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">feed-def 
		 (Feed Definition)</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Defines the relationship between the Active 
		 Directory attributes available in CSV file to Tuebora Governance 
		 properties.</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">asset-attr 
		 name (Asset Attribute Name)</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Specifies the Active Directory Attribute 
		 Name.</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">property-info 
		 (Property Information)</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Identifies Tuebora Governance properties 
		 that are mapped with the Active Directory attributes.</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">prop-name 
		 (Property Name)</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Specifies Tuebora Governance Property Name.</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">date-format</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Specifies the Date Format that must be considered 
		 for importing data from Active Directory date attributes. &#160;</p></td>
	</tr>
	<tr style="height: 21px;">
		<td style="border-left: Solid 1px #000000; border-right: Solid 1px #000000; 
			 border-bottom: Solid 1px #000000;">
  <p class="TableText">refers-to</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">If data for a Tuebora Governance property 
		 must be obtained from another Tuebora Governance property, then 
		 such references are specified against this tag.</p></td>
	</tr>
 </table>

&#160; 
 <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 72.898%;" />
	<col style="width: 27.102%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Images/Steps_for_Upgrading_the_Product_Build.htm" style="color: #008000;"><span>Steps 
		 for Upgrading the Customization after Product Build</span></a></p></td>
		<td>
  <p class="TableText" style="text-align: right;">&#160;</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
