
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Deployment Guide - Asset Integration</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default_-_Copy.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "4_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><span>Deployment Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="128">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_Tuebora_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Governance_Specification.htm" style="color: #008000;">Governance 
		 Specification</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span style="color: #008000;"><a 
		 href="Registering_Custom_Workflows.htm" style="color: #008000;">Registering 
		 Custom Workflow</a></span></p></td>
	</tr>
 </table>
 <h1>Asset Integration</h1>
 <p>All Assets to be monitored by Tuebora Portal must be integrated with 
 the system to import the data and complete the provisioning and deprovisioning 
 in the Assets. You can configure the integration and data import methods 
 during while creating a new Asset in the system. </p>
 <p>The integration method with the Assets differ based on the type of Asset. 
 Specific Asset Connectors are created to integrate Assets with the product. 
 For information on integrating different Assets with Tuebora Portal, refer 
 the respective Integration Guide.</p>
 <p>This chapter explains the following topics:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Connectors">Connectors</a></p></li>
	<li>
 <p class="list"><a href="#Downloading_Connector_from_SCIM_Designer_Portal">Download 
	 Connector from SCIM Designer Portal</a></p></li>
	<li>
 <p class="list"><a href="#Deploying_SCIM_Connectors_on_SCIM_Server">Deploy 
	 SCIM Connectors on SCIM Server</a></p></li>
	<li>
 <p class="list"><a href="#Update_the_Connection_Properties_for_Deployed_Connectors">Update 
	 the Connection Properties for Deployed Connectors</a></p></li>
	<li>
 <p class="list"><a href="#Inserting_SCIM_Connectors_Manually">Register 
	 SCIM Connectors with Tuebora</a></p></li>
	<li>
 <p class="list"><a href="#Associating_SCIM_Connector_to_Asset">Associate 
	 Assets with SCIM Server in Tuebora Portal</a></p></li>
	<li>
 <p class="list"><a href="#Registering_SCIM_Operation">Register 
	 SCIM Connector Operations</a></p></li>
</ul>
<h2><a name="Connectors"></a>Connectors</h2>
<p>Connectors are elements in a product architecture that can interact 
 with external products. These elements can be modules within the product, 
 programs, or a small piece of code. Connectors perform predefined actions 
 and obtain results, based on defined rules. Actions can be push/pull or 
 route data, and enable communication between components.</p>
<p>Connectors are designed to interact with external systems and the interaction 
 method depends on the type of target and communication protocol it supports. 
 Different types of connectors are used to connect with different Assets. 
 Each Asset can have a specific connector defined, based on the protocol 
 supported. The commonly supported protocols for interaction are as follows:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">Web Services (REST)</p></li>
	<li>
 <p class="list">Database connection</p></li>
	<li>
 <p class="list">Proprietary Scripts and APIs</p></li>
</ul>
<h2><a name="Downloading_Connector_from_SCIM_Designer_Portal"></a>Downloading 
 Connector from SCIM Designer Portal</h2>
<p>You can develop SCIM Connector Designer Portal. After creating a SCIM 
 connector, you can download it.</p>
<p>To download the connector from SCIM Designer Portal, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the URL - <a href="https://scim.tuebora.com" target="_blank" id="a41" 
				 style="font-weight: normal; position: relative;">https://scim.tuebora.com</a> 
 in your web browser.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Sign</span> <span style="font-weight: bold;">In</span> 
 available on the top navigation bar.<br />
<br />
The Tuebora SCIM Designer Tool Sign In page opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 email address in the <span style="font-weight: bold;">Email Address</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 password in the <span style="font-weight: bold;">Password</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Sign In</span>. <br />
The Tuebora SCIM Designer Portal opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 My Connectors &gt; Completed.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>The <span 
	 style="font-weight: bold;">My Connectors</span> page appears. </p>
<p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold;">Connector</span> that you want to 
 download.</p>
<p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Settings (<img src="Icon_Action.png" alt="" style=" border:none; width:100%; max-width:21px;" border="0" />)</span> 
 icon<span style="font-weight: bold;"> &gt; Download Connector</span>.</p>
<p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>SCIM 
 Portal prompts you to save or open the file.</p>
<p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">File</span>. 
 File downloads on your computer. Copy the ZIP file to the required location.</p>
<p>For more information on creating connectors, refer <span style="font-weight: bold; 
															 font-style: italic;">Tuebora 
 SCIM Designer Tool Documentation</span>.</p>
<h2><a name="Deploying_SCIM_Connectors_on_SCIM_Server"></a>Deploying SCIM 
 Connectors on SCIM Server</h2>
<p>From SCIM Server UI, you can deploy the following SCIM Connectors</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Deploying_Custom_Connector">Connector 
	 that you developed (Custom Connectors)</a> and downloaded from the 
	 Tuebora SCIM Designer Portal.</p></li>
	<li>
 <p class="list"><a href="#Deploying_Tuebora_Connectors">Out-of-the-box 
	 Connectors (Tuebora Connectors)</a> - These are free connectors provided 
	 by Tuebora.</p></li>
</ul>
<h4>Prerequisites</h4>
<p>Prerequisites to deploy connector on SCIM Server are as follows:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You must 
 have downloaded the SCIM Server from the Tuebora SCIM Designer Portal 
 and have setup the server for connector deployment.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>You must 
 have developed and downloaded the Connector, if you want to deploy custom 
 connector.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Tuebora 
 SCIM Server must be running.</p>
<h4><a name="Deploying_Custom_Connector" id="Deploying_Custom_Connector" 
		 style="position: relative;"></a>Deploying Custom Connector </h4>
<p>To deploy a custom connector on SCIM Server, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Log in 
 to SCIM Server UI by specifying the URL <span style="font-weight: bold;">http://&lt;ip 
 address or host name of the computer where the scim server is running&gt;:&lt;Port 
 Number&gt;/scimportal/</span> in the address bar of a supported web browser.<br />
<span style="font-weight: bold;">Example</span><br />
http://192.168.2.138:9090/scimportal/<br />
http://xanadu.tuebora.com:9090/scimportal/</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the password in the <span style="font-weight: bold;">Password</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select<span 
	 style="font-weight: bold;"> Deployed</span> <span style="font-weight: bold;">Connectors</span>.<br />
The <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span> 
 page appears.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;"><img src="Images/Icon_DeployConnector.png" alt="" style=" border:none; width:100%; max-width:164px;" border="0" /></span>. 
 <br />
The <span style="font-weight: bold;">Deploy</span> <span style="font-weight: bold;">Connector</span> 
 subwindow opens.<br />
<br />
<img src="Images/AssetIntegration1.png" alt="" style=" border:none; width:100%; max-width:477px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Browse</span> to select the connector 
 zip file downloaded from the Tuebora SCIM Designer Portal.<br />
<br />
Browse to the location where the connector zip file is available, select 
 the file, and click <span style="font-weight: bold;">Open</span>. <br />
<br />
Name of the connector file selected for deployment is displayed next to 
 the <span style="font-weight: bold;">Browse</span> button.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Deploy</span> <span style="font-weight: bold;">Connector</span>. 
 <br />
<br />
Portal displays a message that the connector is deployed successfully on 
 the SCIM Server.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Ok</span> to close the subwindow.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>If you 
 want to deploy multiple custom connectors on SCIM Server, then repeat 
 the <span style="font-weight: bold;">Step 4 to Step 7</span>.</p>
<h4><a name="Deploying_Tuebora_Connectors"></a>Deploying Tuebora Connectors</h4>
<p>To deploy a Tuebora connector on SCIM Server, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Log in 
 to SCIM Server UI by specifying the URL <span style="font-weight: bold;">http://&lt;ip 
 address or host name of the computer where the scim server is running&gt;:&lt;Port 
 Number&gt;/scimportal/</span> in the address bar of a supported web browser.<br />
<span style="font-weight: bold;">Example</span> <br />
http://192.168.2.138:9090/scimportal/<br />
http://xanadu.tuebora.com:9090/scimportal/</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the password in the <span style="font-weight: bold;">Password</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Tuebora</span> <span style="font-weight: bold;">Connectors</span>.<br />
The <span style="font-weight: bold;">Tuebora</span> <span style="font-weight: bold;">Connectors</span> 
 page appears.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the connector for the application that you want to deploy on SCIM Server.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Settings</span> (<img src="Images/Icon_Settings.png" alt="" style=" border:none; width:100%; max-width:22px;" border="0" />) 
 icon and select <span style="font-weight: bold;">Deploy Connector</span>.<br />
The <span style="font-weight: bold;">Deploy Connector - &lt;Application 
 Name&gt;</span> window opens asking for confirmation to deploy the connector.<br />
<img src="Images/DeployTueboraConnector.png" alt="" style=" border:none; width:100%; max-width:470px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Yes</span>. The connector gets deployed 
 to the SCIM Server.<br />
You can view the connectors that was deployed on the SCIM Server from <span 
	 style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span> 
 page.</p>
<h2><a name="Update_the_Connection_Properties_for_Deployed_Connectors"></a>Update 
 the Connection Properties for Deployed Connectors</h2>
<p>After deploying the connector, you may have to update the connection 
 properties for the connectors, if the connection details provided in the 
 connector are not correct.</p>
<p>To update the connection properties for a deployed connector, perform 
 the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Log in 
 to SCIM Server UI by specifying the URL <span style="font-weight: bold;">http://&lt;ip 
 address or host name of the computer where the scim server is running&gt;:&lt;Port 
 Number&gt;/scimportal/</span> in the address bar of a supported web browser.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the password in the <span style="font-weight: bold;">Password</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Deployed</span> <span style="font-weight: bold;">Connectors</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the connector for which you want to update the connection properties.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Settings</span> (<img src="Images/Icon_Settings.png" alt="" style=" border:none; width:100%; max-width:22px;" border="0" />) 
 icon and select <span style="font-weight: bold;">Edit Connection Properties</span>.<br />
The <span style="font-weight: bold;">Edit Connection Properties - Tuebora</span> 
 window opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Update 
 the connection details as required. </p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The Connection Properties displayed for connectors differ based 
		 on the Integration Method selected for a connector.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">Changes</span>.<br />
The updated connection properties are saved for the connector.</p>
 <h2><a name="Inserting_SCIM_Connectors_Manually"></a>Register SCIM Connectors 
 with Tuebora</h2>
 <p>After deploying the connector on SCIM Server, you must register the 
 SCIM Connectors with Tuebora.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Before registering SCIM connectors with Tuebora, ensure that the 
		 <a href="Deploy_Connector_Developed_for_Tuebora.htm">connectors 
		 developed for Tuebora</a> are deployed on the SCIM Server.</p></td>
	</tr>
 </table>
 <p>To register the SCIM connectors with Tuebora Database:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers 
 </span>tab. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the <span style="font-weight: bold;"><a 
	 href="Generate_Client_Key.htm">Client ID</a></span> generated for 
 the client.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the <span style="font-weight: bold;"><a 
	 href="Register_SCIM_Server.htm">Client Secret</a></span> generated 
 for the client.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Post</span> in the <span style="font-weight: bold;">Method</span> 
 field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to register a SCIM Server in the <span style="font-weight: bold;">URL</span> 
 field:<br />
<br />
<span style="font-style: italic; font-weight: bold;">http://&lt;IP Address 
 or host name of the system where SCIM Server is running&gt;:&lt;SCIM Server 
 Port number&gt;/scim/v2/tuebora/connectors</span><br />
<br />
<span style="font-weight: bold;">Example</span><br />
http://192.168.1.124:9090/scim/v2/tuebora/connectors<br />
http://xanadu.tuebora.com:9090/scim/v2/tuebora/connectors</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section:<br />
</p>
 <table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:102.956%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p style="margin-top: 5pt; margin-bottom: 5pt; 
							 margin-left: 0px;">{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;name&quot;: 
		 &quot;&lt;Connector Name&gt;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;version&quot;: 
		 &quot;&lt;Connector Version Number&gt;&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Images/Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:36px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Specify the following details for JSON specified to insert connector 
		 in Tuebora Database:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">name</span>: Name of the SCIM Connector 
			 deployed on SCIM Server.<br />
			Example: <span style="font-weight: bold;">Active Directory</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">version</span>: Specify the version 
			 number.<br />
			Example: <span style="font-weight: bold;">1.0</span></p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>. <br />
The RestClient shows <span style="font-weight: bold;">Status Code 201 Created 
 </span>if the request is processed successfully.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a name="Connector_ID"></a>In 
 the <span style="font-weight: bold;">Response</span> section, the RESTClient 
 displays the <span style="font-weight: bold;">ID</span> for the connector 
 registered with Tuebora Database. Make a note of this ID. <span style="font-weight: bold;">ID</span> 
 is required to re-register the connector in Tuebora Database if there 
 are any updates to it.</p>
<h2><a name="Associating_SCIM_Connector_to_Asset"></a>Associating Assets 
 with SCIM Server in Tuebora Portal</h2>
<p>After deploying SCIM Connectors on SCIM Server and registering the SCIM 
 Connector with Tuebora, you must associate the Assets with SCIM Server 
 from the Tuebora Portal UI.</p>
<p>To Associate the Assets with the SCIM Connectors deployed on SCIM Server:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Log in 
 Tuebora Portal using Administrator credentials.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Asset Management &gt; Scim Servers</span>.<br />
The <span style="font-weight: bold;">Scim Servers</span> page opens. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the required SCIM Server to associate the assets with the SCIM Connector.<br />
The selected SCIM Server is highlighted.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Associate</span> <span style="font-weight: bold;">Asset</span>.<br />
The Associate Asset subwindow opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Assets from the drop-down list available in <span style="font-weight: bold;">Asset</span> 
 field.<br />
You must select only those Assets for which the connectors are deployed 
 on SCIM Server and inserted in Tuebora Database.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Associate</span>.<br />
The selected Asset is associated with the SCIM Server and displayed in 
 <span style="font-weight: bold;">Associated</span> <span style="font-weight: bold;">Assets</span> 
 column in Scim Servers page.</p>
<h2><a name="Registering_SCIM_Operation"></a>Registering SCIM Connector 
 Operations</h2>
<p>After associating the SCIM Connectors with the Assets added in Tuebora 
 portal, you must register all the SCIM Operations that the connector must 
 perform.</p>
<p>For Example, operations such as <a href="#Registering_SCIM_Operation_-_Data_Import">Data 
 Import</a>, <a href="#Registering_SCIM_Operation_-_Reset_Password">Password 
 Reset</a>, <a href="#Registering_SCIM_Operation_-_Test_Connection">Test 
 Connection</a>, <a href="#Registering_SCIM_Operation_-_Unlock_Account">Unlock 
 Account</a> must be registered with Tuebora.</p>
<h3><a name="Registering_SCIM_Operation_-_Data_Import"></a>Register SCIM 
 Operation - Data Import</h3>
<p>Data Import operation is used for collecting data from the target application 
 into Tuebora.</p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 For Data Import operation to work, the connector used for integrating 
		 the Asset must have Data collection details defined in it.</p></td>
	</tr>
 </table>
 <p>To register data import SCIM operation, firstly you must identify the 
 ID of the Asset for which this operation must be registered. </p>
 <p>This topic explains the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a href="#Obtaining_Asset_ID">Obtain 
 ID of the Asset</a></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a href="#Registering_Data_Import_Operation">Register 
 Data Import Operation</a> </p>
 <h4><a name="Obtaining_Asset_ID"></a>Obtaining Asset ID</h4>
 <p>To obtain the Asset ID, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open a 
 Browser.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the URL - <span style="font-weight: bold;">http://&lt;IP Address or Host 
 name of the system where the scim server is running&gt;:&lt;SCIM Server 
 Port&gt;/scim/v2/tuebora/alldata.zip </span>in browser address bar and 
 press enter key.<br />
Browser displays the Authentication window.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 <span style="font-weight: bold;"><a href="Generate_Client_Key.htm">Client 
 ID</a> </span>generated for the client, in the <span style="font-weight: bold;">User</span> 
 <span style="font-weight: bold;">Name</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 <span style="font-weight: bold;"><a href="Generate_Client_Key.htm">Client 
 Secret</a></span> generated for the client, in the <span style="font-weight: bold;">Password</span> 
 field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">OK</span>. The <span style="font-weight: bold;">alldata.zip</span> 
 file gets downloaded from Tuebora.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Extract 
 the contents of alldata.zip file and check the <span style="font-weight: bold;">asset.csv</span> 
 file.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Ascertain 
 the <span style="font-weight: bold;">Id</span> of the <span style="font-weight: bold;">Asset</span> 
 for which data import operation must be registered.</p>
 <h4><a name="Registering_Data_Import_Operation"></a>Registering Data Import 
 Operation</h4>
 <p>To register data import SCIM operation, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers 
 </span>tab. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
 ID</a> </span>generated for your deployment.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
 Secret</a> </span>generated for your deployment.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">PUT </span>in the <span style="font-weight: bold;">Method</span> 
 field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 URL <span style="font-weight: bold;">http://&lt;Tuebora Application URL&gt;/api/v1/assets/&lt;Asset 
 ID&gt;/addoperationmapping</span><br />
<br />
Example: <span style="font-weight: bold;">http://xanadu.tuebora.com/api/v1/assets/9/addoperationmapping</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section:</p>
 <table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:67.241%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p style="margin-top: 5pt; margin-bottom: 5pt; 
							 margin-left: 0px;">{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 24px;">&quot;assetOperation&quot;: 
		 &quot;datacollection&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 24px;">&quot;connectorName&quot;: 
		 &quot;&lt;Connector Name&gt;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 24px;">&quot;operationType&quot;: 
		 &quot;datacollection&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 24px;">&quot;connectorURL&quot;: 
		 &quot;/&lt;ConnectorName&gt;/alldata.zip&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Update the value for the following details JSON specified to register 
		 the SCIM operation:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-weight: bold;">&quot;assetOperation&quot;<span 
			 style="font-weight: normal;">: Retain the value &quot;datacollection&quot;.</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;connectorName&quot;</span>: 
			 Specify the connector name. <br />
			<br />
			The name specified for this property must match the connector 
			 name (name specified here is not case sensitive). If the connector 
			 name contains space, then you must specify the name that matches 
			 the connector name.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;operationType&quot;</span>: 
			 Retain the value &quot;datacollection&quot;.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;connectorURL&quot;</span>: 
			 Replace &lt;ConnectorName&gt; with the name of the connector.<br />
			<br />
			If the connector name contains space, while specifying the 
			 connector name for this property you must truncate the space 
			 in the connector name. Name specified for this element is 
			 not case sensitive. &#160;</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>. <br />
The RestClient shows the processing message. <br />
<span style="text-indent: -20px;"><br />
After the request is processed, you can see the response in the </span><span 
	 style="text-indent: -20px; font-weight: bold;">Response</span><span 
	 style="text-indent: -20px;"> section. The </span><span style="text-indent: -20px; 
															 font-weight: bold;">Response</span><span 
	 style="text-indent: -20px;"> </span><span style="text-indent: -20px; 
												 font-weight: bold;">Header</span><span 
	 style="text-indent: -20px;"> shows the response. If you get the Status 
 Code</span><span style="text-indent: -20px; font-weight: bold;"> 200 OK</span><span 
	 style="text-indent: -20px;">, it means the request is successfully 
 processed.</span></p>
<h3><a name="Registering_SCIM_Operation_-_Reset_Password"></a>Register 
 SCIM Operation - Reset Password</h3>
<p>If you want to use the Password Reset functionality available in Tuebora 
 for an Asset, you must register Reset Password operation for that specific 
 Asset. Reset Password operation is used for synchronizing the passwords 
 that are reset from Tuebora Portal into user accounts in the target applications.</p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 For Reset operation to work, the connector used for integrating 
		 the Asset for which Reset operation is registered must contain 
		 Reset Password operation defined in it.</p></td>
	</tr>
 </table>
 <p>To register reset password SCIM operation, firstly you must identify 
 the ID of the Asset for which this operation must be registered. </p>
 <p>This topic explains the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a href="#Obtaining_Asset_ID">Obtain 
 ID of the Asset</a></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a href="#Registering_Reset_Password_Operation">Register 
 Reset Password Operation</a> </p>
 <h4><a name="Registering_Reset_Password_Operation"></a>Registering Reset 
 Password Operation</h4>
 <p>To register Reset Password SCIM operation for an Asset, perform the 
 following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers 
 </span>tab. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
 ID</a></span> generated for your deployment.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
 Secret</a></span> generated for your deployment.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">PUT </span>in the <span style="font-weight: bold;">Method</span> 
 field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 URL <span style="font-weight: bold;">http://&lt;Tuebora Application URL&gt;/api/v1/assets/&lt;Asset 
 ID&gt;/addoperationmapping</span><br />
<br />
Example: <span style="font-weight: bold;">http://xanadu.tuebora.com/api/v1/assets/9/addoperationmapping</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section:</p>
 <table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:67.241%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p style="margin-top: 5pt; margin-bottom: 5pt; 
							 margin-left: 0px;">{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;assetOperation&quot;:&quot;resetpwd&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;connectorName&quot;:&quot;&lt;Connector 
		 Name&gt;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;operationType&quot;:&quot;resetpwd&quot; 
		 ,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&#160;&quot;connectorURL&quot;:&quot;/&lt;ConnectorName&gt;/Users/&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;resource&quot;:&quot;Account&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Update the value for the following details JSON specified to register 
		 the SCIM operation:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-weight: bold;">&quot;assetOperation&quot;<span 
			 style="font-weight: normal;">: Retain the value &quot;resetpwd&quot;.</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;connectorName&quot;</span>: 
			 Specify the connector name. <br />
			<br />
			The name specified for this property must match the connector 
			 name (name specified here is not case sensitive). If the connector 
			 name contains space, then you must specify the name that matches 
			 the connector name.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;operationType&quot;</span>: 
			 Retain the value &quot;resetpwd&quot;.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;connectorURL&quot;</span>: 
			 Replace &lt;ConnectorName&gt; with the name of the connector.<br />
			<br />
			If the connector name contains space, while specifying the 
			 connector name for this property you must truncate the space 
			 in the connector name. Name specified for this element is 
			 not case sensitive. </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;resource&quot;</span>: Retain 
			 the value &quot;Account&quot;.</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>. <br />
The RestClient shows the processing message. <br />
<br />
After the request is processed, you see the response <span style="font-weight: bold;">Status 
 Code 200 OK</span>.</p>
<br style="page-break-before: always;" />

<h3 class="list"><a name="Registering_SCIM_Operation_-_Test_Connection"></a>Registering 
 SCIM Operation - Test Connection</h3>
<p>Test Connection operation is used for testing the connection with the 
 target applications. This operation must be registered for those applications 
 that are used as authentication source in Tuebora and all other applications 
 in which access or user attribute changes must be updated. </p>
<p>After registering the Test Connection operation for an Authentication 
 application, you must define the Authentication configuration in the Tuebora 
 Portal. For more information on how to configure the delegated authentication, 
 see <a href="Tuebora_Authentication.htm#DirectorybasedAuthentication">Enabling 
 Directory-based Delegated Authentication</a>.</p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 For Test Connection to work, the connector used for integrating 
		 an Asset must have Test Connection operation defined in it.</p></td>
	</tr>
 </table>
 <p>To register test connection SCIM operation, firstly you must identify 
 the ID of the Asset for which this operation must be registered. </p>
 <p>This topic explains the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a href="#Obtaining_Asset_ID">Obtain 
 ID of the Asset</a></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a href="#Registering_Test_Connection_Operation">Register 
 Test Connection Operation</a> </p>
 <h4><a name="Registering_Test_Connection_Operation"></a>Registering Test 
 Connection Operation</h4>
 <p>To register Test Connection scim operation for an Asset:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers 
 </span>tab. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
 ID</a></span> generated for your deployment.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
 Secret</a></span> generated for your deployment.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Select </span><span style="text-indent: -20px; 
													 font-weight: bold;">PUT 
 </span><span style="text-indent: -20px;">in the </span><span style="text-indent: -20px; 
	 font-weight: bold;">Method</span><span style="text-indent: -20px;"> 
 field.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 URL <span style="font-weight: bold;">http://&lt;Tuebora Application URL&gt;/api/v1/assets/&lt;Asset 
 ID&gt;/addoperationmapping</span><br />
<br />
Example: <span style="font-weight: bold;">http://xanadu.tuebora.com/api/v1/assets/9/addoperationmapping</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section:</p>
 <table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:67.241%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p style="margin-top: 5pt; margin-bottom: 5pt; 
							 margin-left: 0px;">{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;assetOperation&quot;:&quot;testconnection&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;connectorName&quot;:&quot;&lt;Connector 
		 Name&gt;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;operationType&quot;:&quot;testconnection&quot; 
		 ,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;connectorURL&quot;:&quot;/&lt;ConnectorName&gt;/users/&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;resource&quot;:&quot;Account&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Update the value for the following details JSON specified to register 
		 the SCIM operation:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-weight: bold;">&quot;assetOperation&quot;<span 
			 style="font-weight: normal;">: Retain the value &quot;testconnection&quot;.</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;connectorName&quot;</span>: 
			 Specify the connector name. <br />
			<br />
			The name specified for this property must match the connector 
			 name (name specified here is not case sensitive). If the connector 
			 name contains space, then you must specify the name that matches 
			 the connector name.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;operationType&quot;</span>: 
			 Retain the value &quot;testconnection&quot;.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;connectorURL&quot;</span>: 
			 Replace &lt;ConnectorName&gt; with the name of the connector.<br />
			<br />
			If the connector name contains space, while specifying the 
			 connector name for this property you must truncate the space 
			 in the connector name. Name specified for this element is 
			 not case sensitive. &#160;</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;resource&quot;</span>: Retain 
			 the value &quot;Account&quot;.</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>. <br />
The RestClient shows the processing message. <br />
<br />
After the request is processed, you see the response <span style="font-weight: bold;">Status 
 Code 200 OK</span>.</p>
<h3 class="list"><a name="Registering_SCIM_Operation_-_Unlock_Account"></a>Registering 
 SCIM Operation - Unlock Account</h3>
<p>In any deployment, if you have delegated user authentication on Tuebora 
 portal to an external application and that external application has a 
 password policy to lock the account when any user provides wrong login 
 credentials for certain number of attempts. In this scenario, if you want 
 the user to use the Unlock Account functionality available in Tuebora, 
 you must register the unlock account operation for the Asset to which 
 Tuebora portal authentication is delegated.</p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 For Unlock Account operation to work, the connector used for integrating 
		 an Asset must have Unlock Account operation defined in it.</p></td>
	</tr>
 </table>
 <p>To register unlock account SCIM operation, firstly you must identify 
 the ID of the Asset for which this operation must be registered. </p>
 <p>This topic explains the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a href="#Obtaining_Asset_ID">Obtain 
 ID of the Asset</a></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><a href="#Registering_Unlock_Account_Operation">Register 
 Unlock Account Operation</a> </p>
 <h4><a name="Registering_Unlock_Account_Operation"></a>Registering Unlock 
 Account Operation</h4>
 <p>To register Test Connection scim operation for an Asset:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers 
 </span>tab. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
 ID</a></span> generated for your deployment.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;"><a href="Generate_Tuebora_Authentication_API_Credentials.htm">Client 
 Secret</a></span> generated for your deployment.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Select </span><span style="text-indent: -20px; 
													 font-weight: bold;">PUT 
 </span><span style="text-indent: -20px;">in the </span><span style="text-indent: -20px; 
	 font-weight: bold;">Method</span><span style="text-indent: -20px;"> 
 field.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 URL <span style="font-weight: bold;">http://&lt;Tuebora Application URL&gt;/api/v1/assets/&lt;Asset 
 ID&gt;/addoperationmapping</span><br />
<br />
Example: <span style="font-weight: bold;">http://xanadu.tuebora.com/api/v1/assets/9/addoperationmapping</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section:</p>
 <table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:67.241%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p style="margin-top: 5pt; margin-bottom: 5pt; 
							 margin-left: 0px;">{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;assetOperation&quot;:&quot;UnlockAccount&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;connectorName&quot;:&quot;&lt;Connector 
		 Name&gt;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;operationType&quot;:&quot;unlockaccount&quot; 
		 ,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;connectorURL&quot;:&quot;/&lt;ConnectorName&gt;/users/&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;resource&quot;:&quot;Account&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Update the value for the following details JSON specified to register 
		 the SCIM operation:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText" style="font-weight: bold;">&quot;assetOperation&quot;<span 
			 style="font-weight: normal;">: Retain the value &quot;UnlockAccount&quot;.</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;connectorName&quot;</span>: 
			 Specify the connector name. <br />
			<br />
			The name specified for this property must match the connector 
			 name (name specified here is not case sensitive). If the connector 
			 name contains space, then you must specify the name that matches 
			 the connector name.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;operationType&quot;</span>: 
			 Retain the value &quot;unlockaccount&quot;.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;connectorURL&quot;</span>: 
			 Replace &lt;ConnectorName&gt; with the name of the connector.<br />
			<br />
			<span style="font-weight: bold;">Example</span>: &quot;/ActiveDirectoy/users/&quot;<br />
			<br />
			If the connector name contains space, while specifying the 
			 connector name for this property you must truncate the space 
			 in the connector name. Name specified for this element is 
			 not case sensitive. &#160;</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;resource&quot;</span>: Retain 
			 the value &quot;Account&quot;.</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>. <br />
The RestClient shows the processing message. <br />
<br />
After the request is processed, you see the response <span style="font-weight: bold;">Status 
 Code 200 OK</span>.</p>
<p class="list">&#160;</p>
<table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span 
		 style="color: #008000;"> <a 
		 href="Governance_Specification.htm" style="color: #008000;">Governance 
		 Specification</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Registering_Custom_Workflows.htm" style="color: #008000;"><span>Registering 
		 Custom Workflow</span></a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
