
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Deployment Guide - Certification</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default_-_Copy.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "9.1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><span>Deployment Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="224">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_Tuebora_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Request_Access_Workflow.htm" style="color: #008000;">Request 
		 Access Setting</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span style="color: #008000;"><a 
		 href="Access_Certification_Workflow.htm" style="color: #008000;">Access 
		 Certification Setting</a></span></p></td>
	</tr>
 </table>
 <h1>Certification</h1>
 <p>Certification is the process of certifying the Access of users in different 
 Governed Assets. It is important to certify Access as it helps to identify 
 if users have any Access they are not entitled to have. A Certifier can 
 take appropriate action and certify the Access as Required, Required for 
 a time period, or Remove, if not required. </p>
 <p>You can use <span style="font-style: italic; font-weight: bold;">Tuebora 
 </span>to certify Access, by creating Certification Policies. These policies 
 can be run on a schedule or on a requirement basis. </p>
 <p>Additionally, you can create escalation rules that escalate all Certification 
 Tasks or tasks related to specific Certification Policy to different users. 
 An escalation rule can ensure that certification tasks are attended by 
 the new certifier if the original certifier is unavailable or does not 
 attend the certification tasks within a specified period.</p>
 <h2>Using Certification Feature</h2>
 <p>You can use the Certification feature to perform the following actions:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Creating_a_Certification_Policy">Create Certification Policies</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Creating_a_Schedule_for_Certification">Create Schedules for 
	 Certification Policies</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;"><a 
	 href="#Running_Certification_Policies_Immediately">Run the Policies</a></p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;">Edit 
	 and Delete Policies</p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;">View 
	 Certification Status and Actions</p></li>
	<li>
 <p class="list" style="margin-top: 4pt; margin-bottom: 4pt;">View 
	 Certification Policy Details</p></li>
</ul>
<p>For more information on performing all the preceding functions, refer 
 the <span style="font-style: italic; font-weight: bold;">Tuebora IMA Suite 
 Administrator Guide</span>.</p>
<h3><a name="Creating_a_Certification_Policy"></a>Creating a Certification 
 Policy</h3>
<p>You can create a Certification Policy from the<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Create Certification Policy</span><span 
	 class="Apple-converted-space">&#160;</span>page.</p>
<p>To create a Certification Policy, perform the following:</p>
<p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <img src="Images/Icon_QuickAccess.gif" alt="" style=" border:none; width:100%; max-width:20px;" border="0" /> 
 (<span style="font-weight: bold;">Quick Access</span>) <span style="font-weight: bold;">&gt; 
 Create Certification Policy</span>. The <span style="font-weight: bold;">Create 
 Certification Policy</span> page opens.<br />
<br />
Alternatively, you can also select <span style="font-weight: bold;">MENU 
 &gt;</span> <span style="font-size: 13.3333px; text-indent: 0px; font-weight: bold; 
					 background-color: #ffffff;">Governance &gt; Certification 
 Policies &gt; Enabled &#160;Policies/Disabled Policies</span><span style="font-size: 13.3333px; 
	 text-indent: 0px; display: inline	 ! important ; float: none; background-color: #ffffff;">.</span> 
 The Certification Policies page opens. Click<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Create Certification Policy</span>.<br />
<br />
<img src="Images/Certification_Create.png" alt="" style=" border:none; width:100%; max-width:407px;" border="0" /></p>
<p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type 
 a name to identify the policy in the<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Name</span><span class="Apple-converted-space">&#160;</span>field.</p>
<p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type 
 a description for the policy in the<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Description</span><span class="Apple-converted-space">&#160;</span>field.</p>
<p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the category, of which, the Access needs to be certified using this policy, 
 in the<span class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Specify 
 whose Access needs to be Certified</span><span class="Apple-converted-space">&#160;</span>section:</p>
<p class="list" 
	 style="orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; margin-left: 100px; 
	 text-indent: -20px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">&#160;Account</span><span 
	 class="Apple-converted-space">&#160;</span>- Select this option if 
 the policy is for certifying Access of Accounts.<br />
You can apply the policy for all Accounts or selected Accounts.</p>
<p style="widows: 1; 
	 -webkit-text-stroke-width: 0px; line-height: normal; orphans: auto; 
	 font-weight: bold; margin-left: 120px; text-indent: -20px; margin-top: 4pt; 
	 margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>All Accounts</p>
<p style="widows: 1; 
	 -webkit-text-stroke-width: 0px; font-weight: bold; line-height: normal; 
	 orphans: auto; margin-left: 120px; text-indent: -20px; margin-top: 4pt; 
	 margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Accounts matching<span class="Apple-converted-space">&#160;</span><span 
	 style="text-decoration: underline; ">this criteria</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: normal;">- Select this criteria to specify the 
 filters for the Accounts.</span></p>
<p style="line-height: normal; 
	 orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; margin-left: 100px; 
	 text-indent: -20px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&#160;<span 
	 style="font-weight: bold;">Users</span><span class="Apple-converted-space">&#160;</span>- 
 Select this option if the policy is for certifying Access for Users.<br />
You can apply the policy for All Users or selected Users.</p>
<p style="widows: 1; 
	 -webkit-text-stroke-width: 0px; line-height: normal; orphans: auto; 
	 font-weight: bold; margin-left: 120px; text-indent: -20px; margin-top: 4pt; 
	 margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>All Users</p>
<p style="widows: 1; 
	 -webkit-text-stroke-width: 0px; font-weight: bold; line-height: normal; 
	 orphans: auto; margin-left: 120px; text-indent: -20px; margin-top: 4pt; 
	 margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Users matching<span class="Apple-converted-space">&#160;</span><span 
	 style="text-decoration: underline; ">this criteria</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: normal;">- Select this criteria to specify the 
 filters for the Users.</span> </p>
<br style="page-break-before: always;" />

<p style="
line-height:normal;
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px;
margin-top:4pt;
margin-bottom:4pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&#160;<span 
	 style="font-weight: bold;">Groups</span><span class="Apple-converted-space">&#160;</span>- 
 Select this option if the policy is for certifying Access for User Groups 
 in the environment.<br />
You can apply the policy for All Groups or selected Groups.</p>
<p style="line-height: normal; 
	 orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; font-weight: bold; 
	 margin-left: 120px; text-indent: -20px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>All 
 Groups</p>
<p style="line-height: normal; 
	 orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; font-weight: bold; 
	 margin-left: 120px; text-indent: -20px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:'Courier New'">o</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Groups 
 matching<span class="Apple-converted-space">&#160;</span><span style="text-decoration: underline; ">this 
 criteria</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: normal;">- Select this criteria to specify the 
 filters for the Groups.</span></p>
<p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Assets that must be certified using this policy, in the<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Specify what Assets you want to be Certified</span><span 
	 class="Apple-converted-space">&#160;</span>section.<br />
All Assets available in the system are listed.</p>
<p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the attribute that must be certified using this policy, in the<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Specify what you want to Certify</span><span 
	 class="Apple-converted-space">&#160;</span>section:</p>
<p class="list" 
	 style="orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; margin-left: 100px; 
	 text-indent: -20px; font-weight: bold; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Accounts</p>
<p class="list" 
	 style="widows: 1; -webkit-text-stroke-width: 0px; margin-left: 100px; 
	 orphans: auto; text-indent: -20px; font-weight: bold; margin-top: 4pt; 
	 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Group Membership</p>
<p class="list" 
	 style="orphans: auto; widows: 1; -webkit-text-stroke-width: 0px; font-weight: bold; 
	 margin-left: 100px; text-indent: -20px; margin-top: 4pt; margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Access 
 -<span class="Apple-converted-space" style="font-weight: normal;">&#160;</span><span 
	 style="font-weight: normal;">When you select this option, the system 
 displays the filters for the Access, based on which you can apply the 
 policy.</span><br />
<br />
<img src="Images/CertPol_Create_Access.gif" alt="" style=" border:none; width:100%; max-width:509px;" border="0" /></p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="font-size: 10pt;">If you selected Groups in the</span><span 
		 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Specify 
		 whose Access needs to be Certified</span><span class="Apple-converted-space">&#160;</span><span 
		 style="font-size: 10pt;">section, only</span><span class="Apple-converted-space">&#160;</span><span 
		 style="font-weight: bold;">Access</span><span class="Apple-converted-space">&#160;</span><span 
		 style="font-size: 10pt;">is available in the</span><span class="Apple-converted-space">&#160;</span><span 
		 style="font-weight: bold;">Specify what you want to Certify</span><span 
		 class="Apple-converted-space">&#160;</span><span style="font-size: 10pt;">section.</span></p></td>
	</tr>
 </table>
 <p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click<span 
	 class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Create 
 Certification Policy</span>. The page refreshes to display the<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Certification Policies - Enabled</span><span 
	 class="Apple-converted-space">&#160;</span>page and lists the created 
 policy.</p>
 <h3><a name="Creating_a_Schedule_for_Certification"></a>Creating Schedule 
 for a Certification Policy</h3>
 <p>After creating a required Certification Policy, you can create a schedule 
 to specify when the Certification Policy must be run. If you create a 
 schedule for a policy, the policy would automatically run at the specified 
 schedule and create the Certification Tasks against the Certifiers.</p>
 <p>For example, an Insurance Company has an internal Transaction and Billing 
 Application and wants all Access to the Application to be certified once 
 every month, as it contains confidential data. As an Administrator or 
 Governance Team Member, you can create a policy for this. And then you 
 can create a schedule to run the policy on a specified date each month.</p>
<br style="page-break-before: always;" />

 <p>To create a schedule to run a Certification Policy, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; Governance &gt; Certification 
 Policies &gt; Enabled Policies</span>.<br />
The <span style="font-weight: bold;">Certification Policies - Enabled</span> 
 page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required policy. The policy is highlighted.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Actions &gt; Create Run Schedule</span>. 
 The <span style="font-weight: bold;">Create Run Schedule</span> subwindow 
 opens.<br />
<br />
<img src="Images/CertPol_RunSchedule.png" alt="" style=" border:none; width:100%; max-width:566px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the frequency at which the policy must run, in the <span style="font-weight: bold;">Recurrence 
 Pattern</span> section:</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Daily</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Weekly</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Monthly</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the date and time from when the policy must run, in the <span style="font-weight: bold;">Start 
 Date</span> field. By default, the field displays the current date. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 till when the policy must run. Select the appropriate option from the 
 list:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">No End Date</span> - Select this option 
 if the policy must keep running for an indefinite period.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">End After:</span> <span style="font-style: italic;">x</span> 
 <span style="font-weight: bold;">occurrences</span> - Type the number 
 of occurrences after which the policy must end, in the field provided.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 4pt; 
											 margin-bottom: 4pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">End by</span> - Specify the date and time 
 till when the policy must run.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Create Schedule</span>. The subwindow 
 closes and the <span style="font-weight: bold;">Certification Policies</span> 
 page refreshes to show the schedule icon (<img src="Images/Icon_Schedule.gif" alt="" style=" border:none; width:100%; max-width:18px;" border="0" />) next to 
 the policy.<br />
Bring the cursor over the icon to view the summary of the schedule.</p>
<br style="page-break-before: always;" />

 <h3><a name="Running_Certification_Policies_Immediately"></a>Running Certification 
 Policies Immediately</h3>
 <p>To run Certification Policies immediately, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; Governance &gt; Certification 
 Policies &gt; Enabled Policies</span>.<br />
The <span style="font-weight: bold;">Certification Policies - Enabled</span> 
 page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required policy. The policy is highlighted.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Actions &gt; Run Now.</span> The <span 
	 style="font-weight: bold;">Run Policy Now</span> subwindow opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the date by which the Certification Task must be completed in the available 
 field. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Run Policy Now</span> to run the policy 
 immediately. The subwindow closes. The policy runs in the background and 
 displays a message on completion.<br />
<br />
The fields corresponding to the policy are updated with details on the 
 <span style="font-weight: bold;">Due date</span>, <span style="font-weight: bold;">Certification 
 Status</span>, and <span style="font-weight: bold;">Certification Recommendations</span>.</p>
 <p class="list">&#160;</p>
 <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span 
		 style="color: #008000;"> <a 
		 href="Request_Access_Workflow.htm" style="color: #008000;">Request 
		 Access Setting</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Access_Certification_Workflow.htm" style="color: #008000;"><span>Access 
		 Certification Setting</span></a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
