
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Deployment Guide - Data Synchronization</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default_-_Copy.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "7.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><span>Deployment Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="368">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_Tuebora_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Workflows.htm" style="color: #008000;">Workflows Management</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span style="color: #008000;"><a 
		 href="Password_Synchronization_Rules.htm" style="color: #008000;">Password 
		 Synchronization Rules</a></span></p></td>
	</tr>
 </table>
&#160;
 <h1>Data Synchronization</h1>
 <p>Data Synchronization is the process of synchronizing data in one or 
 multiple target Assets, based on updates in a source Asset. You may want 
 to update details of a user in Tuebora Portal. So this updated data must 
 be reflected in other Assets in the environment. If it is not updated, 
 there can be a data mismatch when the next data load happens.</p>
 <p>Tuebora Portal supports <span style="font-weight: bold;">User</span> 
 and <span style="font-weight: bold;">Account</span> data synchronization. 
 It uses Synchronization Rules to define the source and target properties 
 for data synchronization. You can define User and Account Synchronization 
 Rules from the <span style="font-weight: bold;">Data Synchronization Rules</span> 
 page.</p>
 <h3>User Data Synchronization</h3>
 <p>User data imported from the User Repository is mapped to corresponding 
 Accounts in other added Assets. Other Assets also maintain some user properties 
 of the Accounts. So if a user property, mapped with a user as well as 
 Account is updated in any Asset, it must be reflected in the other Assets 
 as well. If the user data synchronization does not happen, next time a 
 data load is done, there would be a mismatch of the properties and it 
 may result in errors.</p>
 <p>Tuebora Portal uses <span style="font-weight: bold;">User Synchronization 
 Rules</span> to define the <span style="font-size: 13.3333px; orphans: auto; 
									 widows: 1; -webkit-text-stroke-width: 0px; 
									 display: inline	 ! important ; 
									 float: none; background-color: #ffffff;">propertie</span>s 
 and Assets mapping for user data synchronization.</p>
 <p>User Synchronization Rules define the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Target 
	 Asset(s) and corresponding <span style="font-size: 13.3333px; orphans: auto; 
										 widows: 1; -webkit-text-stroke-width: 0px; 
										 display: inline	 ! important ; 
										 float: none; background-color: #ffffff;">property</span> 
	 that must be updated</p></li>
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">User 
	 or set of users for whom the rule is applicable</p></li>
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Target 
	 value that must be updated</p></li>
</ul>
<h3>Account Data Synchronization</h3>
<p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;"><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; font-weight: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-transform: none; white-space: normal; 
	 widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">Account 
 data imported from one Asset is mapped to corresponding user Accounts 
 in other Assets. For example, if a property, mapped with an Account is 
 updated in an Active Directory, it must be reflected for the corresponding 
 Account in Microsoft SharePoint as well. If the Account data synchronization 
 does not happen, next time a data load is done, there would be a mismatch 
 of the properties and it may result in errors.</span></p>
<p>Tuebora Portal uses <span style="font-weight: bold;">Account Synchronization 
 Rules</span> to define the <span style="font-size: 13.3333px; orphans: auto; 
									 widows: 1; -webkit-text-stroke-width: 0px; 
									 display: inline	 ! important ; 
									 float: none; background-color: #ffffff;">propertie</span>s 
 and Assets mapping for Account data synchronization.</p>
<p style="font-size: 10pt; margin-top: 9pt; margin-left: 18pt; margin-bottom: 9pt; 
	 color: #000000; font-family: Arial; font-style: normal; font-variant: normal; 
	 font-weight: normal; letter-spacing: normal; line-height: normal; 
	 orphans: auto; text-align: start; text-indent: 0px; text-transform: none; 
	 white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;"><span 
	 style="font-size: 10pt; color: #000000; font-family: Arial; font-style: normal; 
	 font-variant: normal; font-weight: normal; letter-spacing: normal; 
	 line-height: normal; orphans: auto; text-transform: none; white-space: normal; 
	 widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">Account 
 Synchronization Rules define the following:</span></p>
<ul style="list-style: disc;">
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Target 
	 Asset(s) and corresponding <span style="font-size: 13.3333px; orphans: auto; 
										 widows: 1; -webkit-text-stroke-width: 0px; 
										 display: inline	 ! important ; 
										 float: none; background-color: #ffffff;">property 
	 </span>that must be updated</p></li>
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Account(s) 
	 for which the rule is applicable</p></li>
	<li>
 <p class="list" style="margin-top: 3pt; margin-bottom: 3pt;">Target 
	 value that must be updated</p></li>
</ul>
<p>For more information on using the Data Synchronization Rules feature, 
 refer <span style="font-weight: bold; font-style: italic;">Tuebora IAM 
 Suite Administrator Guide</span>.</p>
<br style="page-break-before: always;" />

<h2>Using Data Synchronization Feature</h2>
<p style="color: #000000; font-weight: normal; font-style: normal;">You 
 can perform the following operations on the Data Synchronization Rules 
 page:</p>
<ul style="list-style: disc;">
	<li style="color: #000000;">
 <p class="list" style="margin-top: 4pt; 
									 margin-bottom: 4pt;"><a href="#Creating_User_Synchronization_Rule">Create 
	 User Synchronization Rule</a></p></li>
	<li style="color: #000000;">
 <p class="list" style="margin-top: 4pt; 
									 margin-bottom: 4pt;"><a href="#Creating_Account_Synchronization_Rule">Create 
	 Account Synchronization Rule</a></p></li>
	<li style="color: #000000;">
 <p class="list" style="margin-top: 4pt; 
									 margin-bottom: 4pt;">Edit Data Synchronization 
	 Rule</p></li>
	<li style="color: #000000;">
 <p class="list" style="margin-top: 4pt; 
									 margin-bottom: 4pt;">Delete Data Synchronization 
	 Rule</p></li>
</ul>
<h3><a name="Creating_User_Synchronization_Rule" id="Creating_User_Synchronization_Rule"></a>Creating 
 User Synchronization Rule</h3>
<p>To create a new rule, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Go to 
 <span style="font-weight: bold;">MENU &gt; Workflows &gt; Data Synchronization 
 Rules</span>. The <span style="font-weight: bold;">Data Synchronization 
 Rules</span> page opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">User Synchronization Rule</span> from 
 the drop-down list available in the <span style="font-weight: bold;">Create</span> 
 field, on the right-hand side of the page. <br />
<br />
The <span style="font-weight: bold;">Create User Synchronization Rule</span> 
 page opens.<br />
<br />
<img src="Images/User_Synch_Rules.png" alt="" style=" border:none; width:100%; max-width:424px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 name for the rule in the <span style="font-weight: bold;">Rule Name</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 description for the rule in the <span style="font-weight: bold;">Rule 
 Description</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the users for whom the rule is applicable in the <span style="font-weight: bold;">Specify 
 Users for whom this Rule Applies</span> section. Available options are 
 as follows:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All Users</span> - Rule is applicable for 
 all users in the system.</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 3pt; 
											 margin-bottom: 3pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User(s) matching</span> <span style="font-weight: bold; 
	 text-decoration: underline; ">this criteria</span> - You can specify 
 the users for whom the rule is applicable. Click <span style="font-weight: bold; 
														 text-decoration: underline; ">this 
 criteria</span> to specify.<br />
The <span style="font-weight: bold;">Select Users</span> subwindow opens.<br />
<br />
<img src="Images/User_Synch_Rules_Select_User.png" alt="" style=" border:none; width:100%; max-width:435px;" border="0" /></p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop-down list available in <span 
	 style="font-weight: bold;">Include Users that match All/Any of the 
 following criteria:</span></p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All</span> - Applies the rule to users 
 who match all the defined criteria.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Applies the rule to users 
 who match any of the defined criteria.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom Filter</span>. The fields to define 
 the criteria appear.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop-down and create the filter.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To add 
 rows, click <img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>. The subwindow closes.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Criteria</span> in the <span style="font-weight: bold;">Specify 
 Synchronization Targets and Conditions</span> section.<br />
<br />
The <span style="font-weight: bold;">Add Synchronization Targets and Conditions</span> 
 subwindow opens.<br />
<br />
<img src="Images/User_Synch_Rules_Add.png" alt="" style=" border:none; width:100%; max-width:260px;" border="0" /></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the source user <span style="font-size: 13.3333px; orphans: auto; text-indent: 0px; 
						 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
						 float: none; background-color: #ffffff;">property</span> 
 in the <span style="font-weight: bold;">Specify Source</span> field. When 
 value for this <span style="font-size: 13.3333px; orphans: auto; text-indent: 0px; 
						 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
						 float: none; background-color: #ffffff;">property</span> 
 is updated, it must be reflected for the corresponding <span style="font-size: 13.3333px; 
	 orphans: auto; text-indent: 0px; widows: 1; -webkit-text-stroke-width: 0px; 
	 display: inline	 ! important ; float: none; background-color: #ffffff;">property</span> 
 in the Target Assets.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 Asset Name of the Target Asset in the <span style="font-weight: bold;">Specify 
 Target</span> field. The field displays matching values as you start typing. 
 Select the required value.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the <span style="font-weight: bold;">target value</span> that must be 
 updated in the target Asset. Available options are as follows:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Target value is same as source</span> - 
 The same value as in the source Asset is reflected in the target Asset.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Target value is an expression</span> - 
 A modified value is reflected in the target Asset, based on an expression 
 specified. Select this value to specify the expression. A field appears 
 where you can provide the expression.<br />
<br />
For example, i<span style="font-size: 13.3333px; orphans: auto; text-indent: 0px; 
					 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
					 float: none; background-color: #ffffff;">f you want 
 to append</span><span class="Apple-converted-space">&#160;</span><span 
	 class="Apple-converted-space" style="font-size: 13.3333px; orphans: auto; 
	 text-indent: 0px; widows: 1; -webkit-text-stroke-width: 0px; font-weight: bold; 
	 background-color: #ffffff;">_New</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-size: 13.3333px; orphans: auto; text-indent: 0px; widows: 1; 
	 -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
	 float: none; background-color: #ffffff;">to a property value, when 
 defining the rule, specify the expression -</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-size: 13.3333px; orphans: auto; text-indent: 0px; widows: 1; 
	 -webkit-text-stroke-width: 0px; font-weight: bold; background-color: #ffffff;">entity.getPropertyValue(entProperty)+&quot;_New&quot;</span><span 
	 style="font-size: 13.3333px; orphans: auto; text-indent: 0px; widows: 1; 
	 -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
	 float: none; background-color: #ffffff;">.</span></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span>. The subwindow closes.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To add 
 more criteria to the rule, click <span style="font-weight: bold;">Add 
 Criteria</span> and specify the next set.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Create</span>. The rule is created and 
 it appears on the <span style="font-weight: bold;">Data Synchronization 
 Rules</span> page.</p>
<h3><a name="Creating_Account_Synchronization_Rule" id="Creating_Account_Synchronization_Rule"></a>Creating 
 Account Synchronization Rule</h3>
<p>To create a new rule, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Go to 
 <span style="font-weight: bold;">MENU &gt; Workflows &gt; Data Synchronization 
 Rules</span>. The <span style="font-weight: bold;">Data Synchronization 
 Rules</span> page opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Account Synchronization Rule</span> from 
 the drop-down list available in the <span style="font-weight: bold;">Create</span> 
 field, on the right-hand side of the page.<br />
<br />
The <span style="font-weight: bold;">Create Account Synchronization Rule</span> 
 page opens.<br />
<br />
<img src="Images/AccSyncRule_Create.png" alt="" style=" border:none; width:100%; max-width:658px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 name for the rule in the <span style="font-weight: bold;">Rule Name</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 description for the rule in the <span style="font-weight: bold;">Rule 
 Description</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Start 
 typing the name of the Asset which is the Source Asset in the <span style="font-weight: bold;">Specify 
 Asset Source for which this Rule Applies</span> field.<br />
As you type the field lists the Assets matching the value typed. Select 
 the required Asset.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Accounts for which the rule is applicable in the <span style="font-weight: bold;">Specify 
 Accounts for whom this Rule Applies</span> section. Available options 
 are as follows:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All Accounts</span> - Applies the rule 
 for all Accounts in the target Asset.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All Accounts belonging to Users</span> 
 - Applies the rule to all Accounts which have users associated.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Accounts belonging to Users matching</span> 
 <span style="font-weight: bold; text-decoration: underline; ">this criteria</span> 
 - Applies the rule to Accounts of users matching a set filter. To set 
 the filter for the users, click <span style="font-weight: bold; text-decoration: underline; ">this 
 criteria</span>.<br />
The <span style="font-weight: bold;">Select Users</span> subwindow opens. 
 Perform the following:</p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop-down list available in <span 
	 style="font-weight: bold;">Include Users that match All/Any of the 
 following criteria:</span></p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All</span> - Applies the rule to users 
 who match all the defined criteria.</p>
<p style=" margin-left: 140px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Applies the rule to users 
 who match any of the defined criteria.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom Filter</span>. The fields to define 
 the criteria appear.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop-down and create the filter.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To add 
 rows, click <img src="Images/Add_Icon.png" alt="" style=" border:none; width:100%; max-width:20px;" border="0" />.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save Changes</span>. The subwindow closes.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Accounts matching</span> <span style="font-weight: bold; 
	 text-decoration: underline; ">this criteria</span> - Applies the rule 
 to Accounts matching a set filter. To specify the filter for the Accounts, 
 click <span style="font-weight: bold; text-decoration: underline; ">this 
 criteria</span>.<br />
The <span style="font-weight: bold;">Select Accounts</span> subwindow opens. 
 Set the filter for the Accounts.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold; text-decoration: underline; ">these</span> 
 <span style="font-weight: bold;">Accounts</span> - Applies the rule to 
 specific Accounts. To specify the Accounts, click <span style="font-weight: bold; 
														 text-decoration: underline; ">these</span>.<br />
<br />
The <span style="font-weight: bold;">Select Accounts</span> subwindow opens. 
 Perform the following:</p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Start 
 typing the required Account name in the field. The field lists the Account 
 names matching the typed values.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the required Account name.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span>. The Account is added to the 
 <span style="font-weight: bold;">Selected Accounts</span> section.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save Changes</span>. The subwindow closes.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add Criteria</span>. The <span style="font-weight: bold;">Add 
 Synchronization Targets and Conditions</span> subwindow opens.<br />
<br />
<img src="Images/DataSyncRule_Create.png" alt="" style=" border:none; width:100%; max-width:375px;" border="0" /></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="orphans: auto; widows: 1; -webkit-text-stroke-width: 0px;">Specify 
 the source Account</span> <span style="font-size: 13.3333px; orphans: auto; 
								 text-indent: 0px; widows: 1; -webkit-text-stroke-width: 0px; 
								 float: none; display: inline	 ! important ; 
								 background-color: #ffffff;">property</span> 
 <span style="orphans: auto; widows: 1; -webkit-text-stroke-width: 0px;">in 
 the</span><span class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Specify 
 Source</span><span class="Apple-converted-space">&#160;</span><span style="orphans: auto; 
	 widows: 1; -webkit-text-stroke-width: 0px;">field. The field displays 
 matching values as you start typing. Select the required value. When value 
 for this</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-size: 13.3333px; orphans: auto; text-indent: 0px; widows: 1; 
	 -webkit-text-stroke-width: 0px; float: none; display: inline	 ! important ; 
	 background-color: #ffffff;">property</span><span class="Apple-converted-space">&#160;</span><span 
	 style="orphans: auto; widows: 1; -webkit-text-stroke-width: 0px;">is 
 updated, it is reflected for the corresponding</span><span class="Apple-converted-space">&#160;target</span> 
 <span style="font-size: 13.3333px; orphans: auto; text-indent: 0px; widows: 1; 
		 -webkit-text-stroke-width: 0px; float: none; display: inline	 ! important ; 
		 background-color: #ffffff;">property</span><span class="Apple-converted-space">&#160;</span><span 
	 style="orphans: auto; widows: 1; -webkit-text-stroke-width: 0px;">in 
 the Target Assets.</span></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="orphans: auto; widows: 1; -webkit-text-stroke-width: 0px;">Specify 
 the target Account property in the</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Specify Target</span><span class="Apple-converted-space">&#160;</span><span 
	 style="orphans: auto; widows: 1; -webkit-text-stroke-width: 0px;">field. 
 The field displays matching values as you start typing. Select the required 
 value.</span></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="orphans: auto; widows: 1; -webkit-text-stroke-width: 0px;">S</span><span 
	 style="orphans: auto; widows: 1; -webkit-text-stroke-width: 0px;">pecify 
 the</span><span class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">target 
 value</span><span class="Apple-converted-space">&#160;</span><span style="orphans: auto; 
	 widows: 1; -webkit-text-stroke-width: 0px;">that must be updated in 
 the target Asset. Available options are as follows:</span></p>
<p style="
line-height:normal;
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Target value is same as source</span><span 
	 class="Apple-converted-space">&#160;</span>- Same value as in the 
 source Asset is reflected in the target Asset.</p>
<p style="
line-height:normal;
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Target value is an expression</span><span 
	 class="Apple-converted-space">&#160;</span>- A modified value is reflected 
 in the target Asset, based on an expression specified. Select this value 
 to specify the expression. A field appears where you can provide the expression.</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the correlation between the source and target Accounts. Available options 
 are as follows:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Associated User is same</span> - Both Accounts 
 have the same associated user name.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Account name is same</span> - Account name 
 is the same in both the Assets.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 80px; orphans: auto; 
											 widows: 1; font-family: Verdana, sans-serif;"><span class="rls-2-BasicNumber">e.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="-webkit-text-stroke-width: 0px;">Click</span><span class="Apple-converted-space" 
	 style="-webkit-text-stroke-width: 0px;">&#160;</span><span style="-webkit-text-stroke-width: 0px; 
	 font-weight: bold;">Save</span><span style="-webkit-text-stroke-width: 0px;">. 
 The subwindow closes.</span></p>
<p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>To add more criteria to the 
 rule, click<span class="Apple-converted-space">&#160;</span><span style="font-weight: bold;">Add 
 Criteria</span><span class="Apple-converted-space">&#160;</span>and specify 
 the next set.</p>
<p class="list" style="
orphans:auto;
widows:1;
-webkit-text-stroke-width:0px; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Create</span>. The rule is created and 
 it appears on the<span class="Apple-converted-space">&#160;</span><span 
	 style="font-weight: bold;">Data Synchronization Rules</span><span 
	 class="Apple-converted-space">&#160;</span>page.</p>
<p class="list" style="orphans: auto; widows: 1; -webkit-text-stroke-width: 0px;">&#160;</p>
<table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span 
		 style="color: #008000;"> <a 
		 href="Workflows.htm" style="color: #008000;">Workflows Management</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Password_Synchronization_Rules.htm" style="color: #008000;"><span>Password 
		 Synchronization Rules</span></a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
