
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Deployment Guide - Load Balancing</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default_-_Copy.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "0_5";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><span>Deployment Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="776">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_Tuebora_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <span style="color: #008000;"><a 
		 href="Edit_Hosts_File.htm" style="color: #008000;">Edit Hosts 
		 File</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a href="SSL_Setup_for_Tomee,_Apache_and_Tuebora_Agent.htm" style="color: #008000;">SSL 
		 Setup for Tomee and Apache</a></p></td>
	</tr>
 </table>
 <h1>Load Balancing, High Availability, and Disaster Recovery</h1>
 <p>Load Balancing, High Availability, and Disaster Recovery are required 
 for most organizations to ensure business continuity. </p>
 <h4>Load Balancing</h4>
 <p>In most deployment scenarios for web applications, a web server is used 
 to handle the traffic (load). When the traffic becomes high, and the web 
 server is not able to fulfill all the requests, it can result in failures 
 or unavailability of the service. To avoid this, Load Balancing is introduced 
 and it employs two or more servers to balance the load. This method improves 
 the reliability and flexibility of the service.</p>
 <h4>High Availability</h4>
 <p>High Availability is the ability of a system to be available during 
 a component or network failure. The deployment architecture focusses on 
 the availability of the system and when properly configured, if one system 
 goes down, the other configured system is immediately available.</p>
 <h4>Disaster Recovery</h4>
 <p>Disaster Recovery is used as a preventive measure from losing data. 
 It means that if a natural or human-triggered disaster happens, the data 
 and technology vital to the continuity of the business must be available 
 or recoverable.</p>
 <h3>Load Balancing and Disaster Recovery in Tuebora</h3>
 <p>Following figure shows the deployment setup for Load Balancing, High 
 Availability, and Disaster Recovery for Tuebora.</p>
 <p>Disaster Recovery site needs to be brought up manually and Global Load 
 Balancer needs to be configured to route the requests to Disaster Recovery 
 site until the main site is up and running.<br />
<br />
<img src="Images/HighAvailability1.png" alt="" style=" border:none; width:100%; max-width:1290px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h2>Configuring Health Check on Load Balancer for High Availability</h2>
 <p>To discover the availability of your Tuebora servers (on which Tuebora 
 product components are installed), the load balancer continuously pings 
 the servers. These tries are called as <span style="font-weight: bold;">health</span> 
 <span style="font-weight: bold;">checks</span>. The load balancer performs 
 health check on all the registered servers, to ensure whether the server 
 is in healthy state or not.</p>
 <p>The load balancer routes the requests only to the healthy servers. When 
 the load balancer finds that a server is unhealthy, it stops routing requests 
 to that server and it resumes routing the requests to a server only when 
 it has been restored to healthy state. </p>
 <p>The load balancer checks the health of the registered servers based 
 on the health check configuration that you have configured.</p>
 <p>You must perform the following at Load Balancer to configure Health 
 check for Tuebora components:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">Register the Web Server Nodes in the Load Balancer 
	 configuration as the listeners for routing requests.<br />
	<br />
	You may be required to specify the following details to configure the 
	 web servers at Load Balancer:</p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Computer 
 name/IP address of the Web Server Nodes</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Ping 
 Protocol - HTTP/HTTPS 
 protocol used to connect with the Web Server Nodes.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Ping 
 Port - 80, 443 used to connect with the Web Server Nodes.</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">Specify the Health Check URL - <span style="font-weight: bold;">/systemhealth/issystemready</span> 
	 in the Load Balancer configuration as the ping path.</p></li>
	<li>
 <p class="list">Configure load balancer for &#160;Round Robin algorithm 
	 with session <span style="font-size: 10.0pt; font-family: Arial, sans-serif; 
						 mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-US; 
						 mso-fareast-language: EN-US; mso-bidi-language: AR-SA;">stickiness</span>.</p></li>
</ul>
<h3>Servers Health Check/Availability Monitoring by the Load Balancer</h3>
<p>After the health check is configured on the load balancer, it checks 
 the health of the following Tuebora components:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">Web Server</p></li>
	<li>
 <p class="list">Tuebora Main Server</p></li>
	<li>
 <p class="list">Tuebora Integration Server</p></li>
	<li>
 <p class="list">ActiveMQ Message 
	 Broker</p></li>
	<li>
 <p class="list">SCIM Server</p></li>
	<li>
 <p class="list">Database Server</p></li>
</ul>
<p>If all the above components are up and running and response is satisfactory, 
 then the health check call returns the response 200. If the response is 
 other than 200 then the load balancer detects the failure/unavailability 
 of a server to divert the requests to other active server nodes. </p>
<p>The deployment topology supported has Load Balancer only at the Web 
 layer and on any leg if any of the components goes down, the entire leg 
 is non-functional and other Leg serves the requests. This is the preferred 
 deployment topology vs having Load Balancer at each component layer.</p>
<p>Please note, the Health Check URL checks only Tuebora components availability. 
 It does not check for Server performance, CPU usage, memory degradation. 
 Also it does not have capability to notify the administrators about component 
 going down, etc.</p>
<p>For these, you should use standard monitoring tools and monitor certain 
 parameters on each of the Tuebora servers and have appropriate alerting/notification 
 mechanism.</p>
<p><span style="text-indent: .25in;">See </span>the <a href="#Monitor_Tuebora_Servers_and_Applications">Monitoring 
 Tuebora Servers and Applications</a> to know what processes, parameters 
 needs to be monitored on each of the Tuebora components deployed on different 
 servers.</p>
<h2><a name="Monitor_Tuebora_Servers_and_Applications"></a>Monitoring Tuebora 
 Servers and Applications</h2>
<p>Tuebora Servers and Applications must be monitored using &#160;standard 
 Monitoring Tool. You must configure the monitoring tool with Tuebora components 
 by specifying the parameters and threshold values that needs to be monitored. 
 </p>
<p>Following table provides the details of parameters that must be monitored 
 for Tuebora components.</p>
<table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
		 top: 472px;" cellspacing="0" width="100%">
	<col style="width: 18.736%;" />
	<col style="width: 18.957%;" />
	<col style="width: 25.549%;" />
	<col style="width: 36.758%;" />
	<tr style="height: 23px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Tuebora Component</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Monitoring Mechanism</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p class="TableText" style="color: #ffffff; 
									 font-weight: bold;">Monitoring Mechanism 
		 Details</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 class="TableText" style="color: #ffffff; font-weight: bold;">Example 
		 Monitoring Policy Settings on the Monitoring Tool</p></td>
	</tr>
	<tr style="height: 42px;">
		<td rowspan="4" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Web/Service Node</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">System Monitoring</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <ul 
				 style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">CPU usage</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Memory 
			 utilization</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Available 
			 free disk space</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Page file 
			 size</p></li>
		</ul></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Generate 
		 email alerts to the specified users, if the following events occur:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">CPU usage: 
			 Reaches 80% utilization</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Memory 
			 utilization: Reaches 80% utilization</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Available 
			 free disk space: Reaches 10% of available free disk space</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Page file 
			 size: Reaches 80% </p></li>
		</ul></td>
	</tr>
	<tr style="height: 23px;">
		<td rowspan="3" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="list">Application Monitoring</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Apache-HTTP</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">Apache 
		 httpd process availability</p>
		<p class="TableText">Configure email notifications to the specified 
		 users, if the following events occur:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Number 
			 of 404 responses &gt; 0</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Number 
			 of 500 responses &gt; 0</p></li>
		</ul></td>
	</tr>
	<tr style="height: 5px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;">
  <p class="TableText">ToMEE</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">JAVA process for Tuebora Main Server availability</p>
		<p class="TableText">JAVA process for Tuebora Integration Server 
		 availability.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Configure email notifications to the specified 
		 users, if the following events occur:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Heap Memory 
			 used is &gt; 80%</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Heap Memory 
			 free is &lt; 20%</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Perm Generation 
			 space used is &gt; 80%</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Perm Generation 
			 space free is &lt; 20%</p></li>
		</ul></td>
	</tr>
	<tr style="height: 5px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;">
  <p class="TableText">ActiveMQ</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">Java process for Main Server</p>
		<p class="TableText">Configure email notifications to the specified 
		 users, if the following events occur:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Memory 
			 Usage percentage is &#160;&gt; 80%)</p></li>
		</ul></td>
	</tr>
	<tr style="height: 5px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">SCIM Server Node</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;">
  <p class="TableText">Application Monitoring</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;">
  <p class="TableText">Tuebora Agent Service</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">Configure email notifications to the specified 
		 users, if the SCIM Server Service is down.</p></td>
	</tr>
	<tr style="height: 5px;">
		<td rowspan="2" style="border-right: Solid 1px #000000;">
  <p class="TableText">Database 
		 Node</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;">
  <p class="TableText">System Monitoring</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;">
  <ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">CPU usage</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Memory 
			 utilization</p></li>
		</ul></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">Generate email alerts to the specified users, 
		 if the following events occur:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">CPU usage: 
			 Reaches 80% utilization</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText">Memory 
			 utilization: Reaches 80% utilization</p></li>
		</ul></td>
	</tr>
	<tr style="height: 5px;">
		<td style="border-right: Solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">Application Monitoring</p></td>
		<td style="border-right: Solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">MySQL DB</p></td>
		<td style="vertical-align: top;">
  <p class="TableText">Mysqld process 
		 availability</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Configure email notifications to the specified 
		 users, if the following event occurs:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText">Max used 
			 connections /Max connections is &gt; 80%</p></li>
		</ul></td>
	</tr>
</table>
<p>&#160;</p>
<table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Edit_Hosts_File.htm" style="color: #008000;"><span>Edit 
		 Hosts File</span></a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a href="SSL_Setup_for_Tomee,_Apache_and_Tuebora_Agent.htm" style="color: #008000;">SSL 
		 Setup for Tomee and Apache</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
