
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Deployment Guide - On-Boarding a New Managed Asset Type</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default_-_Copy.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "3_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><span>Deployment Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="896">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_Tuebora_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 </span><a href="On-boarding_a_New_Asset.htm" style="color: #008000;">Creating 
		 an Asset after on-boarding a new Managed Asset</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span style="color: #008000;"><a 
		 href="Create_a_New_Asset.htm" style="color: #008000;">Create a 
		 New Asset</a></span></p></td>
	</tr>
 </table>
 <h1><span style="color: #e54f00;">Beta Feature:</span> On-Boarding a New 
 Managed Asset Type</h1>
 <p>You can on-board a new managed Asset Type using <span style="font-weight: bold;">Create 
 Asset Type API</span>. On-boarding Asset Type using the API is a <span 
	 style="font-weight: bold;">Beta feature</span>. </p>
 <p>Currently, Using different Asset Management APIs you can:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">On-board a new Asset Type</p></li>
	<li>
 <p class="list">Get the details of the Asset Type based Asset Type 
	 Name</p></li>
	<li>
 <p class="list">Update the details for a Asset Type based on the 
	 Asset Type ID</p></li>
</ul>
<p>Asset Management API does not provide the capability to delete an Asset 
 Type and it does not provide error handling for existing APIs.</p>
<p><span style="font-weight: bold;">Scenario</span></p>
<p>ABC Company wants to on-board a New Asset Type for integrating Odoo 
 application. Odoo is an all-in-one management software that offers a range 
 of business applications including Sales, Customer Relationship Management 
 (CRM), Project Management, Warehouse Management, Manufacturing, Financial 
 Management, and Human Resources.</p>
<p>To on-board a New Asset Type, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers 
 </span>tab. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the <span style="font-weight: bold;"><a 
	 href="Generate_Client_Key.htm">Client ID</a></span> generated for 
 the client.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the <span style="font-weight: bold;"><a 
	 href="Generate_Client_Key.htm">Client Secret</a></span> generated 
 for the client.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Post</span> in the <span style="font-weight: bold;">Method</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to create a New Asset Type in Tuebora application in the 
 <span style="font-weight: bold;">URL</span> field:<br />
<br />
<span style="font-weight: bold;">http://&lt;IP Address or Host name of 
 the system where scim server is running&gt;:&lt;SCIM Server Port&gt;/scim/v2/tuebora/</span><span 
	 style="font-weight: bold; font-style: italic;">AssetTypes</span><br />
<br />
<span style="font-weight: bold;">Example</span><br />
http://192.168.2.154:9090/scim/v2/tuebora/AssetTypes<br />
http://xanadu.tuebora.com:9090/scim/v2/tuebora/AssetTypes</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Specify the following request body in 
 the </span><span style="text-indent: -20px; font-weight: bold;">Body</span><span 
	 style="text-indent: -20px;"> section:<br />
</span></p>
<table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:102.956%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p style="margin-top: 5pt; margin-bottom: 5pt; 
							 margin-left: 0px;">{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;name&quot;: 
		 &quot;&lt;Managed Asset Name&gt;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;sourceType&quot;: 
		 &quot;&lt;Managed Asset Type&gt;&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;config&quot;: 
		 &quot;&lt;?xml version=\&quot;1.0\&quot; encoding=\&quot;UTF-8\&quot; 
		 standalone=\&quot;yes\&quot;?&gt;&lt;feeds&gt;&lt;feed name = 
		 \&quot;account\&quot;&gt;&lt;initialize-specs&gt;&lt;arg key = 
		 \&quot;query\&quot;&gt;&lt;![CDATA[]]&gt;&lt;/arg&gt;&lt;arg key 
		 = \&quot;csvfilename\&quot;&gt;account.csv&lt;/arg&gt;&lt;/initialize-specs&gt;&lt;entities&gt;Account&lt;/entities&gt;&lt;relationship 
		 name = \&quot;UserAcct\&quot;&gt;&lt;src defaultUnique=\&quot;User.Email 
		 Address\&quot;&gt;User&lt;/src&gt;&lt;trg defaultUnique=\&quot;Account.Email 
		 Address\&quot;&gt;Account&lt;/trg&gt;&lt;/relationship&gt;&lt;feed-def&gt;&lt;asset-attr 
		 name = \&quot;email\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;Account.Name&lt;/prop-name&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;asset-attr 
		 name = \&quot;unique_id\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;Account.Application 
		 Internal Id&lt;/prop-name&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;asset-attr 
		 name = \&quot;unique_id\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;Account.Unique 
		 Id&lt;/prop-name&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;asset-attr 
		 name = \&quot;email\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;Account.Email 
		 Address&lt;/prop-name&gt;&lt;/property-info&gt;&lt;property-info&gt;&lt;prop-name&gt;User.Email 
		 Address&lt;/prop-name&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;asset-attr 
		 name = \&quot;first_name\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;Account.First 
		 Name&lt;/prop-name&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;asset-attr 
		 name = \&quot;last_name\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;Account.Last 
		 Name&lt;/prop-name&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;asset-attr 
		 name = \&quot;status\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;Account.Is 
		 Disabled&lt;/prop-name&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;asset-attr 
		 name = \&quot;job_title\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;Account.Job 
		 Title&lt;/prop-name&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;asset-attr 
		 name = \&quot;location\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;Account.Location&lt;/prop-name&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;asset-attr 
		 name = \&quot;created_on\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;Account.Creation 
		 Date&lt;/prop-name&gt;&lt;date-format&gt;%Y-%m-%d&lt;/date-format&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;/feed-def&gt;&lt;/feed&gt;&lt;feed 
		 name = \&quot;accountgroup\&quot;&gt;&lt;initialize-specs&gt;&lt;arg 
		 key = \&quot;query\&quot;&gt;&lt;![CDATA[]]&gt;&lt;/arg&gt;&lt;arg 
		 key = \&quot;csvfilename\&quot;&gt;accountgroup.csv&lt;/arg&gt;&lt;/initialize-specs&gt;&lt;entities&gt;AcctGrp&lt;/entities&gt;&lt;feed-def&gt;&lt;asset-attr 
		 name = \&quot;unique_id\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;AcctGrp.Unique 
		 Id&lt;/prop-name&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;asset-attr 
		 name = \&quot;name\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;AcctGrp.Name&lt;/prop-name&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;asset-attr 
		 name = \&quot;description\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;AcctGrp.Description&lt;/prop-name&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;/feed-def&gt;&lt;/feed&gt;&lt;feed 
		 name = \&quot;groupmember\&quot;&gt;&lt;initialize-specs&gt;&lt;arg 
		 key = \&quot;query\&quot;&gt;&lt;![CDATA[]]&gt;&lt;/arg&gt;&lt;arg 
		 key = \&quot;csvfilename\&quot;&gt;groupmember.csv&lt;/arg&gt;&lt;/initialize-specs&gt;&lt;relationship 
		 name = \&quot;AGAG\&quot; &gt;&lt;src defaultUnique=\&quot;AcctGrp.Unique 
		 Id\&quot;&gt;AcctGrp&lt;/src&gt;&lt;trg defaultUnique=\&quot;AcctGrp.Unique 
		 Id\&quot;&gt;AcctGrp&lt;/trg&gt;&lt;/relationship&gt;&lt;relationship 
		 name = \&quot;AGAcct\&quot; &gt;&lt;src defaultUnique=\&quot;AcctGrp.Unique 
		 Id\&quot;&gt;AcctGrp&lt;/src&gt;&lt;trg defaultUnique=\&quot;Account.Unique 
		 Id\&quot;&gt;Account&lt;/trg&gt;&lt;/relationship&gt;&lt;feed-def&gt;&lt;asset-attr 
		 name = \&quot;gid\&quot;&gt;&lt;property-info&gt;&lt;prop-name&gt;AcctGrp.Unique 
		 Id&lt;/prop-name&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;asset-attr 
		 name = \&quot;uid\&quot;&gt;&lt;property-info member = \&quot;true\&quot;&gt;&lt;prop-name&gt;AcctGrp.Unique 
		 Id&lt;/prop-name&gt;&lt;delim&gt;;&lt;/delim&gt;&lt;/property-info&gt;&lt;property-info&gt;&lt;prop-name&gt;Account.Unique 
		 Id&lt;/prop-name&gt;&lt;delim&gt;;&lt;/delim&gt;&lt;/property-info&gt;&lt;/asset-attr&gt;&lt;/feed-def&gt;&lt;/feed&gt;&lt;/feeds&gt;&quot;</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 Specify the following details for JSON specified to on-board a 
		 new Asset Type:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;name&quot;</span>: Specify 
			 a name for the Asset Type. The name specified must be unique.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&#160;&quot;sourceType&quot;</span>: 
			 Specify &#160;primary purpose/method of integration of Managed 
			 Asset Type. You can specify the following for an Asset Type 
			 </p></li>
		</ul>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Business_Source: 
		 To ingrate an application as business Asset to monitor Access 
		 in the Asset.</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>User_Source: 
		 To integrate an application as User repository.</p>
		<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Authentication_Source: 
		 To integrate an application as Authentication Application.</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&#160;&quot;config</span>&quot;: 
			 For integrating an Application with Tuebora, <span style="font-weight: bold;">feed.xml</span> 
			 file is created by defining entities, attributes for each 
			 entity, and Asset attributes are mapped with appropriate Tuebora 
			 properties. After creating an integrated Asset in Tuebora 
			 Portal, if you import data, the data is imported based on 
			 the mapping defined in feed.xml file. In <span style="font-weight: bold;">config</span> 
			 field specify the contents of the feed.xml file.<br />
			<br />
			For more information on defining feed.xml for on-boarding new 
			 Asset Type, see <a href="Appendix.htm#XML_Schema_of_Active_Directory_feed.xml">XML 
			 Schema of Active Directory feed.xml</a></p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>.<br />
The RestClient shows <span style="font-weight: bold;">Status Code 201 Created</span> 
 if the request is processed successfully.<br />
<br />
The new Asset Type is created in Tuebora. To view the new Asset Type created 
 in Tuebora Portal, log in to Tuebora. Select <span style="font-weight: bold;">MENU 
 &gt; Asset Management &gt; All Assets</span>. Click <span style="font-weight: bold;">Create</span> 
 <span style="font-weight: bold;">Asset</span>. In Create Asset page, click 
 the drop-down list available in <span style="font-weight: bold;">This 
 is an implementation/deployment</span> <span style="font-weight: bold;">of</span> 
 field to view the newly added Asset Type. </p>
<p class="list">&#160;</p>
<table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span 
		 style="color: #008000;"> </span><a 
		 href="On-boarding_a_New_Asset.htm" style="color: #008000;">Creating 
		 an Asset after on-boarding a new Managed Asset</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Create_a_New_Asset.htm" style="color: #008000;"><span>Create 
		 a New Asset</span></a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
