
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Deployment Guide - On-boarding Assets in Tuebora Portal</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default_-_Copy.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "3";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><span>Deployment Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="944">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_Tuebora_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Deploy_Connector_Developed_for_Tuebora.htm">Deploy Connector 
		 Developed for Tuebora</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span style="color: #008000;"><a 
		 href="On-boarding_an_OOTB_Asset.htm" style="color: #008000;">Creating 
		 an Asset using OOTB Managed Asset</a></span> </p></td>
	</tr>
 </table>
 <h1>Managed Assets in Tuebora Portal</h1>
 <p>Organizations use different applications, directories, and services 
 to manage business processes. These are collectively termed as <span style="font-weight: bold;">Assets</span> 
 in Tuebora Portal. Each Asset that you want to monitor must be integrated 
 with Tuebora Portal to import data and complete the provisioning and deprovisioning 
 in the Asset. &#160;</p>
 <p style="margin-top: 5pt; margin-bottom: 5pt;">Following types of Assets 
 can be integrated with Tuebora Portal:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User</span> <span style="font-weight: bold;">Repository</span> 
 - To import details of all users.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Authentication</span> <span style="font-weight: bold;">Application</span> 
 - To authenticate users for Access Management.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Governed</span> <span style="font-weight: bold;">Asset</span> 
 - Assets in which Access or Password Management must be done.</p>
 <h3><a name="Managed_Assets"></a>Managed Assets</h3>
 <p>An Asset that is integrated with Tuebora Portal is called a <span style="font-weight: bold;">Managed</span> 
 <span style="font-weight: bold;">Asset</span>. If an Asset is integrated 
 with Tuebora Portal, then the system collects Asset-specific information 
 such as users, accounts, resources, administrator permissions, and high 
 risk conditions from Managed Assets.</p>
 <p>In Tuebora Portal some of the Assets are integrated out-of-the box (OOTB). 
 Following table lists the OOTB Managed Assets provided in Tuebora Portal.</p>
 <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 29.353%;" />
	<col style="width: 37.313%;" />
	<col style="width: 33.333%;" />
	<tr class="t1st">
		<td>
  <p class="TableText">OOTB Managed Assets</p></td>
		<td>
  <p class="TableText">Integration Mode Used</p></td>
		<td>
  <p class="TableText">Type of Connector</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Microsoft Active Directory</p></td>
		<td>
  <p class="TableText">LDAP</p></td>
		<td>
  <p class="TableText">LDAP Connector</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Office 365</p></td>
		<td>
  <p class="TableText">Windows Powershell APIs</p></td>
		<td>
  <p class="TableText">Powershell Script Connector</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">AS400</p></td>
		<td>
  <p class="TableText">AS400 Cmdlets</p></td>
		<td>
  <p class="TableText">Script Connector</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Windows File Sharing</p></td>
		<td>
  <p class="TableText">Windows Powershell APIs</p></td>
		<td>
  <p class="TableText">Powershell Script Connector</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Odoo</p></td>
		<td>
  <p class="TableText">JDBC Driver for PostgreSQL</p></td>
		<td>
  <p class="TableText">Postgres Database Connector</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Okta</p></td>
		<td>
  <p class="TableText">HTTP REST (Okta REST APIs)</p></td>
		<td>
  <p class="TableText">REST Connector</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">PingOne</p></td>
		<td>
  <p class="TableText">HTTP REST (PingOne REST APIs)</p></td>
		<td>
  <p class="TableText">REST Connector</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">OneLogin</p></td>
		<td>
  <p class="TableText">HTTP REST (OneLogin REST API Version/1)</p></td>
		<td>
  <p class="TableText">REST Connector</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Azure Active Directory</p></td>
		<td>
  <p class="TableText">Azure Active Directory PowerShell Module 
		 Version 2</p></td>
		<td>
  <p class="TableText">Powershell Script Connector</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Novell eDirectory</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
		<td>
  <p class="TableText">&#160;</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Microsoft Exchange Server</p></td>
		<td>
  <p class="TableText">Remote Exchange</p>
		<p class="TableText">Management Shell</p></td>
		<td>
  <p class="TableText">Script Connector</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">OrangeHRM</p></td>
		<td>
  <p class="TableText">JDBC Driver for MySQL</p></td>
		<td>
  <p class="TableText">MySQL Database Connector</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Lotus Notes</p></td>
		<td>
  <p class="TableText">LDAP</p></td>
		<td>
  <p class="TableText">Script Connector</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Salesforce</p></td>
		<td>
  <p class="TableText">HTTP REST (REST API V40.0)</p></td>
		<td>
  <p class="TableText">REST Connector</p></td>
	</tr>
 </table>
 <p>To integrate an Asset in Tuebora Portal, the following details are configured:</p>
 <table style="border: Solid 1px #000000;" cellspacing="0" width="100%">
	<col style="width: 27.805%;" />
	<col style="width: 72.195%;" />
	<tr>
		<td rowspan="2" style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Managed Asset Specification</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">1. 
		 Name of the Managed Asset</p></td>
	</tr>
	<tr style="height: 0px;">
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">2. 
		 The primary purpose/method of integration of Managed Asset</p>
		<ul style="list-style: disc;">
			<li>
   <p class="TableText">User_Source</p></li>
			<li>
   <p class="TableText">Authentication_Application</p></li>
			<li>
   <p class="TableText">Business_Source</p></li>
		</ul>
		<p class="TableText">You can integrate an Asset to serve all the 
		 above three purposes, if required.</p></td>
	</tr>
	<tr>
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">Inbound 
		 specification</p></td>
		<td>
  <p class="TableText">To import required data for Managed Assets, 
		 the<span style="font-weight: bold;"> Asset entities and attributes</span> 
		 must be mapped to <span style="font-weight: bold;">Tuebora properties</span>, 
		 and these properties are defined in the <span style="font-weight: bold;">feed.xml</span> 
		 file.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">The XML file is available for each Managed 
		 Asset and is prefixed with the Asset name.</p></td>
	</tr>
 </table>
 <p>For more information on adding new Managed Assets, peruse <a href="On-Boarding_a_New_Managed_Asset_Type.htm">On-boarding 
 a New Managed Asset Type</a>.</p>
 <p>Using the OOTB managed Assets, you can create an Asset in Tuebora Portal 
 for Access or password management.</p>
 <h2>Topics covered in this chapter</h2>
 <p>The following topics are covered in this chapter:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="On-boarding_an_OOTB_Asset.htm">Create 
	 an Asset using the OOTB Asset Type</a></p></li>
	<li>
 <p class="list"><a href="On-boarding_a_New_Asset.htm">Create an 
	 Asset after on-boarding a New Asset Type</a></p></li>
</ul>
<p class="list">&#160;</p>
<table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Deploy_Connector_Developed_for_Tuebora.htm" style="color: #008000;">Deploy 
		 Connector Developed for Tuebora</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="On-boarding_an_OOTB_Asset.htm" style="color: #008000;"><span>Creating 
		 an Asset using OOTB Managed Asset</span></a> </p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
