
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Deployment Guide - Registering Workflow Bindings</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default_-_Copy.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "5.0_2";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><span>Deployment Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1112">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_Tuebora_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Registering_Task_Templates.htm" style="color: #008000;">Registering 
		 Task Templates</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a href="Manual_Data_Import.htm" 
													 style="color: #008000;">Data 
		 Collection</a></p></td>
	</tr>
 </table>
&#160;
 <h1>Registering Workflow Bindings</h1>
 <h4>Bindings</h4>
 <p>Most Workflow steps require to pass some common configuration data/information 
 to Tuebora or SCIM Server as part of Workflow execution. Such data can 
 be constant and is used across workflows. Instead of coding a variable 
 in each workflow, you can add it as Binding Variable.</p>
 <p><span style="font-weight: bold;">Bind Variable or Binding</span> is 
 a placeholder/Name in the workflow definition that must be replaced with 
 valid Name and Value for the workflow step to execute successfully. Bindings 
 are an alternative way to pass data to execute workflow. Instead of putting 
 the values directly into the workflow, you just use a place holder and 
 actual values are passed at runtime. </p>
 <p>Variables defined as <span style="font-weight: bold;">Bindings</span> 
 cab be used <span style="font-weight: bold;">across workflows</span>. 
 </p>
 <p>You must register all the bind variables defined in a custom workflow. 
 You can register a binding variable before or after developing a connector.</p>
 <ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p class="TableText">If you are registering 
	 a binding after a workflow is developed, you must mention the value 
	 specified for the binding variable as the name of the binding while 
	 registering the binding.</p></li>
	<li style="margin-left: -20px;">
 <p class="TableText">If you are registering 
	 the binding variable before developing the connector, then ensure 
	 that the <span style="font-weight: bold;">binding variable's value 
	 </span>specified in workflow must match the binding name that is being 
	 registered with Tuebora.<br />
	<br />
	<span style="font-weight: bold;">Scenario</span>:<br />
	<br />
	A developer has registered a binding to register AD Domain. The name 
	 of the binding provided during registration is <span style="font-weight: bold;">ad-domain</span>. 
	 Following is the key value pair used to register the binding</p></li>
</ul>
<table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row" style="height: 98px;">
		<td class="t1st">
  <p class="TableText">{</p>
		<p class="TableText">&quot;name&quot;: &quot;<span style="font-weight: bold; 
															 background-color: #c0c0c0;">ad-domain</span>&quot;,</p>
		<p class="TableText">&quot;value&quot;: &quot;<span style="background-color: #ffffff;">xanadufinancials.com</span>&quot;</p>
		<p class="TableText">}</p></td>
	</tr>
 </table>
 <p>Now, developer must specify the binding variable in a workflow as shown 
 in the code snippet:</p>
 <table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row" style="height: 98px;">
		<td class="t1st">
  <p class="TableText">{</p>
		<p class="TableText">&quot;name&quot;: &quot;adDomain&quot;,</p>
		<p class="TableText">&quot;value&quot;: &quot;<span style="font-weight: bold; 
															 background-color: #c0c0c0;">$.bindings.ad-domain</span>&quot;</p>
		<p class="TableText">}</p></td>
	</tr>
 </table>
 <p><br />
<span style="text-indent: -20px;">I</span>n this topic we are showing registering 
 the following sample bind variables:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#SCIM_Server_Endpoint_Registration">SCIM 
	 Server Endpoint List</a> </p></li>
	<li>
 <p class="list"><a href="#Tuebora_Endpoint_Registration">Tuebora 
	 Endpoint</a> </p></li>
	<li>
 <p class="list">Key Value Pair Binding </p></li>
</ul>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Active_Directory_Base_Distinguished_Name_">Active 
 Directory Base Distinguished Name</a> </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Active_Directory_Domain_Name_">Active 
 Directory Domain Name</a> </p>
<h3><a name="SCIM_Server_Endpoint_Registration"></a>SCIM Server Endpoint 
 Registration</h3>
<p>Tuebora sends and receives events/data only through authorised SCIM 
 Servers. Hence, You need to register SCIM Server(s) endpoint to represent 
 that the specified SCIM Server(s) will be used for processing requests 
 in your Tuebora deployment environment. While Registering the SCIM Server, 
 you must use the <span style="font-weight: bold;">Client API credentials</span> 
 created on the SICM Server.</p>
<p>Endpoints provide a way to define and reuse configuration required to 
 communicate to SCIM Server service. Endpoints specify a base URL, default 
 headers and authorization information.</p>
<p>In your deployment, if multiple SCIM Servers are installed, you can 
 register all SCIM Server endpoints in one binding as <a href="../../../Tuebora Workflows Developer Guide/Workflow_Definition.htm#Endpoint_List">Endpoint 
 List</a>.</p>
<p>Workflows may have steps that needs to be performed through SCIM Server 
 when a request is received from Tuebora. In this case, SCIM Server authenticates 
 all the requests received from Tuebora. To execute a workflow step, SCIM 
 Server will use Client API Credentials to authenticate the requests and 
 after successful authentication task is processed.</p>
<p>To register SCIM Server Endpoint, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers 
 </span>tab. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;">Client ID</span> generated for your 
 deployment.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;">Client Secret</span> generated for 
 your deployment.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.<br />
<br />
For more information on generating <span style="font-weight: bold;">Tuebora 
 Authentication API Credentials</span>, refer <span style="font-weight: bold; 
													 font-style: italic;">Tuebora 
 Deployment Guide</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Post</span> in the <span style="font-weight: bold;">Method</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to register a workflow bindings in the <span style="font-weight: bold;">URL</span> 
 field:<br />
<br />
<span style="font-weight: bold; font-style: italic;">http://&lt;Tuebora 
 Portal URL&gt;/api/v1/workflowbindings</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://xanadu.tuebora.com/api/v1/workflowbindings</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section:</p>
<table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="TableText">{</p>
		<p class="TableText" style="margin-left: 24px;">&quot;name&quot;: 
		 &quot;Name of the SCIM Server Endpoint&quot;,</p>
		<p class="TableText" style="margin-left: 24px;">&quot;description&quot;: 
		 &quot;Description to SCIM Server endpoint&quot;,</p>
		<p class="TableText" style="margin-left: 24px;">&quot;type&quot;: 
		 &quot;com.tuebora.scim.common.http.EndpointList&quot;,</p>
		<p class="TableText" style="margin-left: 24px;">&quot;class&quot;: 
		 &quot;com.tuebora.scim.common.http.EndpointList&quot;,</p>
		<p class="TableText" style="margin-left: 24px;">&quot;data&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 36px;">&quot;lbStrategy&quot;: 
		 &quot;Specify the load balancer strategy for the SCIM Server&quot;,</p>
		<p class="TableText" style="margin-left: 36px;">&quot;endPoints&quot;: 
		 [{</p>
		<p class="TableText" style="margin-left: 48px;">&quot;baseURL&quot;: 
		 &quot;http://<span lang="EN-IN" xml:lang="EN-IN"><b style="mso-bidi-font-weight: normal; 
															 font-weight: normal;">&lt;IP 
		 Address or Host Name of the system on which SCIM Server is running&gt;</b></span><span 
		 lang="EN-IN" xml:lang="EN-IN">:&lt;SCIM Portal Port Number&gt;</span>/scim/v2&quot;,</p>
		<p class="TableText" style="margin-left: 48px;">&quot;authenticatorClass&quot;: 
		 &quot;com.tuebora.scim.common.http.APIKeyAuthenticator&quot;,</p>
		<p class="TableText" style="margin-left: 48px;">&quot;authenticatorData&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px;">&quot;headers&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px;">&quot;Authorization&quot;: 
		 &quot;&lt;Base 64 encoded value of Client ID and Secret generated 
		 for the Client added on SCIM Server&gt;&quot;</p>
		<p class="TableText" style="margin-left: 60px;">}</p>
		<p class="TableText" style="margin-left: 48px;">}</p>
		<p class="TableText" style="margin-left: 36px;">}]</p>
		<p class="TableText" style="margin-left: 24px;">}</p>
		<p class="TableText">}</p></td>
	</tr>
 </table>
 <p class="list">The above request body can be used when you have one SCIM 
 Server installed and want to register that SCIM Server's endpoint. If 
 there are <span style="font-weight: bold;">three </span>SCIM Server installed 
 in your environment, you can use the following sample:</p>
 <table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row" style="height: 98px;">
		<td class="t1st">
  <p class="TableText">{</p>
		<p class="TableText" style="margin-left: 24px;">&quot;name&quot;: 
		 &quot;Name of the SCIM Server Endpoint&quot;,</p>
		<p class="TableText" style="margin-left: 24px;">&quot;description&quot;: 
		 &quot;Description to SCIM Server endpoint&quot;,</p>
		<p class="TableText" style="margin-left: 24px;">&quot;type&quot;: 
		 &quot;com.tuebora.scim.common.http.EndpointList&quot;,</p>
		<p class="TableText" style="margin-left: 24px;">&quot;class&quot;: 
		 &quot;com.tuebora.scim.common.http.EndpointList&quot;,</p>
		<p class="TableText" style="margin-left: 24px;">&quot;data&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 36px;">&quot;lbStrategy&quot;: 
		 &quot;Specify the load balancer strategy for the SCIM Server&quot;,</p>
		<p class="TableText" style="margin-left: 36px;">&quot;endPoints&quot;: 
		 [{</p>
		<p class="TableText" style="margin-left: 48px;">&quot;baseURL&quot;: 
		 &quot;http://<span lang="EN-IN" xml:lang="EN-IN"><b style="mso-bidi-font-weight: normal; 
															 font-weight: normal;">&lt;IP 
		 Address or Host Name of the system on which SCIM Server is running&gt;</b></span><span 
		 lang="EN-IN" xml:lang="EN-IN">:&lt;SCIM Portal Port Number&gt;</span>/scim/v2&quot;,</p>
		<p class="TableText" style="margin-left: 48px;">&#160;&quot;authenticatorClass&quot;: 
		 &quot;com.tuebora.scim.common.http.APIKeyAuthenticator&quot;,</p>
		<p class="TableText" style="margin-left: 48px;">&#160;&quot;authenticatorData&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px;">&#160;&#160;&quot;headers&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px;">&quot;Authorization&quot;: 
		 &quot;&lt;Base 64 encoded value of Client ID and Secret generated 
		 for the Client added on SCIM Server&gt;&quot;</p>
		<p class="TableText" style="margin-left: 60px;">}</p>
		<p class="TableText" style="margin-left: 48px;">}</p>
		<p class="TableText">},{</p>
		<p class="TableText" style="margin-left: 48px;">&quot;baseURL&quot;: 
		 &quot;http://<span lang="EN-IN" xml:lang="EN-IN"><b style="mso-bidi-font-weight: normal; 
															 font-weight: normal;">&lt;IP 
		 Address or Host Name of the system on which SCIM Server is running&gt;</b></span><span 
		 lang="EN-IN" xml:lang="EN-IN">:&lt;SCIM Portal Port Number&gt;</span>/scim/v2&quot;,</p>
		<p class="TableText" style="margin-left: 48px;">&#160;&quot;authenticatorClass&quot;: 
		 &quot;com.tuebora.scim.common.http.APIKeyAuthenticator&quot;,</p>
		<p class="TableText" style="margin-left: 48px;">&#160;&quot;authenticatorData&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px;">&quot;headers&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px;">&quot;Authorization&quot;: 
		 &quot;&lt;Base 64 encoded value of Client ID and Secret generated 
		 for the Client added on SCIM Server&gt;&quot;</p>
		<p class="TableText" style="margin-left: 60px;">}</p>
		<p class="TableText" style="margin-left: 48px;">}</p>
		<p class="TableText">},{</p>
		<p class="TableText" style="margin-left: 48px;">&quot;baseURL&quot;: 
		 &quot;http://<span lang="EN-IN" xml:lang="EN-IN"><b style="mso-bidi-font-weight: normal; 
															 font-weight: normal;">&lt;IP 
		 Address or Host Name of the system on which SCIM Server is running&gt;</b></span><span 
		 lang="EN-IN" xml:lang="EN-IN">:&lt;SCIM Portal Port Number&gt;</span>/scim/v2&quot;,</p>
		<p class="TableText" style="margin-left: 48px;">&#160;&quot;authenticatorClass&quot;: 
		 &quot;com.tuebora.scim.common.http.APIKeyAuthenticator&quot;,</p>
		<p class="TableText" style="margin-left: 48px;">&#160;&quot;authenticatorData&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px;">&quot;headers&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px;">&quot;Authorization&quot;: 
		 &quot;&lt;Base 64 encoded value of Client ID and Secret generated 
		 for the Client added on SCIM Server&gt;&quot;</p>
		<p class="TableText" style="margin-left: 60px;">}</p>
		<p class="TableText" style="margin-left: 36px;">}]</p>
		<p class="TableText" style="margin-left: 24px;">}</p>
		<p class="TableText">}</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <table style="left: 0px; top: 2518px;" width="100%">
	<col style="width: 5%;" />
	<col style="width: 95%;" />
	<tr style="height: 297px;">
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:36px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;name&quot;</span>: Specify 
			 the name of the binding. Binding name should not contain space 
			 and special characters. You can user hypen (-) in the binding 
			 name. <br />
			<span style="font-weight: bold;">Example</span>: tueborascimservers</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;description&quot;</span>: 
			 Specify the description to identify the scim server endpoint. 
			 </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;type&quot;</span> and <span 
			 style="font-weight: bold;">&quot;class&quot;</span>: Retain 
			 value as shown in the above sample.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;<a href="../../../Tuebora Workflows Developer Guide/Workflow_Definition.htm#Load_Balance_Strategy" 
												 style="font-weight: normal;">lbStrategy</a>&quot;</span>: 
			 Specify the load balancer strategy. The potions that can be 
			 specified is - <span style="font-weight: bold;">’fallThru’</span> 
			 </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;baseURL&quot;</span>: Replace 
			 &lt;IP Address or Host Name of the system on which SCIM Server 
			 is running&gt; with the IP Address of the Host Name of the 
			 system where the SCIM Server is running. Replace &lt;SCIM 
			 Portal Port Number&gt; with the appropriate Port Number.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;authenticatorClass&quot;</span>: 
			 Retain value as shown in the above sample.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;Authorization&quot;</span>: 
			 Specify the Base64 encoded value of Client ID and Client Secret 
			 generated for the client.<br />
			To get the Base 64 encoded value of Client ID and Client Secret 
			 generated for the client in RESTClient:</p></li>
		</ul>
		<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
		 <span style="font-weight: bold;">Authorization &gt; &#160;Type 
		 &gt; Basic Auth</span>.</p>
		<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
		 the <span style="font-weight: bold;">Client ID</span> generated 
		 for the client in the User Name field.</p>
		<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">c.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
		 the <span style="font-weight: bold;">Client Secret</span> generated 
		 for the client in the Password field.</p>
		<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">d.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Update Request</span>.<br />
		In <span style="font-weight: bold;">Headers</span> section the 
		 Base 64 encoded value will be displayed. Specify this value for 
		 Authorization key.<br />
		<br />
		<span style="font-weight: bold;">Example</span>: &quot;Basic NjRjOWFkYWJjZjI5ODkwYjE1YTI4M2E5ZDVkZjc1Nj</p>
		<p class="list" style="margin-left: 80px; text-indent: -20px;">A6SkVrV0M2QVR2bVM5U2Y5NHdxMk42V1NFbGFEdFVPYjlYYlhEVDJ</p>
		<p class="list" style="margin-left: 80px; text-indent: -20px;">tcXdMQnBjT21KV05iK3Z3UThzR0YwZ</p>
		<p class="list" style="margin-left: 80px; text-indent: -20px;">FR6WUcwRnpKOFlMK1VZUFB6 
		 MjlUQ2JaOGc9PQ==&quot;</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>.<br />
The RestClient shows the processing message. <br />
<br />
After the request is processed, you can see the response in the <span style="font-weight: bold;">Response</span> 
 section. The <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
 shows the response. If you get the Status Code<span style="font-weight: bold;"> 
 200 OK</span>, it means the request is successfully processed.</p>
 <h3><a name="Tuebora_Endpoint_Registration"></a>Tuebora Endpoint Registration</h3>
 <p>Workflows may have steps that execute APIs to perform actions in Tuebora. 
 In this case, when Tuebora receives requests from a workflow to execute 
 a API then it will use Tuebora Authentication API credentials to authenticate 
 the requests and process it.</p>
 <p>The <span style="font-weight: bold;">Tuebora Endpoint </span>binding, 
 is used to define the <span style="font-weight: bold;">Tuebora Authentication 
 API Key</span> associated with your deployment. In this binding the ID 
 and Secret of the Tuebora Authentication API that will be used by Tuebora 
 for authorizing the requests is registered.</p>
 <p>To register Tuebora Endpoint registration, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers 
 </span>tab. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;">Client ID</span> generated for your 
 deployment.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;">Client Secret</span> generated for 
 your deployment.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.<br />
For more information on generating <span style="font-weight: bold;">Tuebora 
 Authentication API Credentials</span>, refer <span style="font-weight: bold; 
													 font-style: italic;">Tuebora 
 Deployment Guide</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Post</span> in the <span style="font-weight: bold;">Method</span> 
 field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to register a workflow bindings in the <span style="font-weight: bold;">URL</span> 
 field:<br />
<br />
<span style="font-weight: bold; font-style: italic;">http://&lt;Tuebora 
 Portal URL&gt;/api/v1/workflowbindings</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://xanadu.tuebora.com/api/v1/workflowbindings</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section:</p>
 <table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="TableText">{</p>
		<p class="TableText" style="margin-left: 24px;">&quot;name&quot;: 
		 &quot;Name of the Tuebora EndPoint&quot;,</p>
		<p class="TableText" style="margin-left: 24px;">&quot;description&quot;: 
		 &quot;Description to Tuebora endpoint&quot;,</p>
		<p class="TableText" style="margin-left: 24px;">&quot;type&quot;: 
		 &quot;com.tuebora.scim.common.http.EndpointList&quot;,</p>
		<p class="TableText" style="margin-left: 24px;">&quot;class&quot;: 
		 &quot;com.tuebora.scim.common.http.EndpointList&quot;,</p>
		<p class="TableText" style="margin-left: 24px;">&quot;data&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 36px;">&quot;lbStrategy&quot;: 
		 &quot;Specify the load balancer strategy for the Tuebora Server&quot;,</p>
		<p class="TableText" style="margin-left: 36px;">&quot;endPoints&quot;: 
		 [{</p>
		<p class="TableText" style="margin-left: 48px;">&quot;baseURL&quot;: 
		 &quot;http://<span style="font-weight: bold;">&lt;tenant.tuebora.com&gt;</span>/api/v1&quot;,</p>
		<p class="TableText" style="margin-left: 48px;">&quot;authenticatorClass&quot;: 
		 &quot;com.tuebora.scim.common.http.APIKeyAuthenticator&quot;,</p>
		<p class="TableText" style="margin-left: 48px;">&quot;authenticatorData&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px;">&quot;headers&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px;">&quot;Authorization&quot;: 
		 &quot;<span style="background-color: #ffffff;">&quot;</span>&lt;Base 
		 64 encoded value of Tuebora Authentication API Client ID and Secret 
		 generated for your deployment&gt;&quot;</p>
		<p class="TableText" style="margin-left: 60px;">}</p>
		<p class="TableText" style="margin-left: 48px;">}</p>
		<p class="TableText" style="margin-left: 36px;">}]</p>
		<p class="TableText" style="margin-left: 24px;">}</p>
		<p class="TableText">}</p></td>
	</tr>
 </table>
 <p class="list">The above request body can be used when Tuebora is installed 
 in single leg or multiple legs with one Tuebora Authentication API credentials, 
 where the API credentials in replicated in databases in all legs.</p>
 <p class="list">&#160;</p>
 <p class="list">In case, Tuebora is installed in multiple legs and separate 
 Tuebora Authentication API credentials is created for each leg then you 
 can you can use the following sample:</p>
 <table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row" style="height: 98px;">
		<td class="t1st">
  <p class="TableText" style="color: #000000;">{</p>
		<p class="TableText" style="margin-left: 24px; color: #000000;">&quot;name&quot;: 
		 &quot;Name of the Tuebora Server Endpoint&quot;,</p>
		<p class="TableText" style="margin-left: 24px; color: #000000;">&quot;description&quot;: 
		 &quot;Description to Tuebora Server endpoint&quot;,</p>
		<p class="TableText" style="margin-left: 24px; color: #000000;">&quot;type&quot;: 
		 &quot;com.tuebora.scim.common.http.EndpointList&quot;,</p>
		<p class="TableText" style="margin-left: 24px; color: #000000;">&quot;class&quot;: 
		 &quot;com.tuebora.scim.common.http.EndpointList&quot;,</p>
		<p class="TableText" style="margin-left: 24px; color: #000000;">&quot;data&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 36px; color: #000000;">&quot;lbStrategy&quot;: 
		 &quot;Specify the load balancer strategy for the Tuebora Server&quot;,</p>
		<p class="TableText" style="margin-left: 36px; color: #000000;">&quot;endPoints&quot;: 
		 [{</p>
		<p class="TableText" style="margin-left: 48px; color: #000000;">&quot;baseURL&quot;: 
		 &quot;http://<span style="font-weight: bold;">&lt;tenant.tuebora.com&gt;</span>/api/v1&quot;,</p>
		<p class="TableText" style="margin-left: 48px; color: #000000;">&#160;&quot;authenticatorClass&quot;: 
		 &quot;com.tuebora.scim.common.http.APIKeyAuthenticator&quot;,</p>
		<p class="TableText" style="margin-left: 48px; color: #000000;">&#160;&quot;authenticatorData&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px; color: #000000;">&#160;&#160;&quot;headers&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px; color: #000000;">&quot;Authorization&quot;: 
		 &quot;&lt;Base 64 encoded value of Tuebora Authentication API 
		 Client ID and Secret generated for Tuebora Server&gt;&quot;</p>
		<p class="TableText" style="margin-left: 60px; color: #000000;">}</p>
		<p class="TableText" style="margin-left: 48px; color: #000000;">}</p>
		<p class="TableText" style="color: #000000;">},{</p>
		<p class="TableText" style="margin-left: 48px; color: #000000;">&quot;baseURL&quot;: 
		 &quot;http://<span style="font-weight: bold;">&lt;tenant1.tuebora.com&gt;</span>/api/v1&quot;,</p>
		<p class="TableText" style="margin-left: 48px; color: #000000;">&#160;&quot;authenticatorClass&quot;: 
		 &quot;com.tuebora.scim.common.http.APIKeyAuthenticator&quot;,</p>
		<p class="TableText" style="margin-left: 48px; color: #000000;">&#160;&quot;authenticatorData&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px; color: #000000;">&quot;headers&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px; color: #000000;">&quot;Authorization&quot;: 
		 &quot;&lt;Base 64 encoded value of Tuebora Authentication API 
		 Client ID and Secret generated for Tuebora Server&gt;&quot;</p>
		<p class="TableText" style="margin-left: 60px; color: #000000;">}</p>
		<p class="TableText" style="margin-left: 48px; color: #000000;">}</p>
		<p class="TableText" style="color: #000000;">},{</p>
		<p class="TableText" style="margin-left: 48px; color: #000000;">&quot;baseURL&quot;: 
		 &quot;http://<span style="font-weight: bold;">&lt;tenant2.tuebora.com&gt;</span>/api/v1&quot;,</p>
		<p class="TableText" style="margin-left: 48px; color: #000000;">&#160;&quot;authenticatorClass&quot;: 
		 &quot;com.tuebora.scim.common.http.APIKeyAuthenticator&quot;,</p>
		<p class="TableText" style="margin-left: 48px; color: #000000;">&#160;&quot;authenticatorData&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px; color: #000000;">&quot;headers&quot;: 
		 {</p>
		<p class="TableText" style="margin-left: 60px; color: #000000;">&quot;Authorization&quot;: 
		 &quot;&lt;Base 64 encoded value of Tuebora Authentication API 
		 Client ID and Secret generated for Tuebora Server&gt;&quot;</p>
		<p class="TableText" style="margin-left: 60px; color: #000000;">}</p>
		<p class="TableText" style="margin-left: 36px; color: #000000;">}]</p>
		<p class="TableText" style="margin-left: 24px; color: #000000;">}</p>
		<p class="TableText" style="color: #000000;">}</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <table width="100%">
	<col style="width: 4.386%;" />
	<col style="width: 95.614%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:36px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;name&quot;</span>: Specify 
			 the name of the binding. Binding name should not contain space 
			 and special characters. You can user hypen (-) in the binding 
			 name. <br />
			<span style="font-weight: bold;">Example</span>: tueboraserver</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;description&quot;</span>: 
			 Specify the description to identify the Tuebora endpoint. 
			 </p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;type&quot;</span> and <span 
			 style="font-weight: bold;">&quot;class&quot;</span>: Retain 
			 value as shown in the above sample.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;</span><a href="../../../Tuebora Workflows Developer Guide/Workflow_Definition.htm#Load_Balance_Strategy">lbStrategy</a><span 
			 style="font-weight: bold;">&quot;</span>: Specify the load 
			 balancer strategy. The otions that can be specified are - 
			 <span style="font-weight: bold;">’fallThru’</span></p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;baseURL&quot;</span>: Replace 
			 &lt;IP Address or Host Name of the system on which SCIM Server 
			 is running&gt; with the IP Address of the Host Name of the 
			 system where the SCIM Server is running. Replace &lt;SCIM 
			 Portal Port Number&gt; with the appropriate Port Number.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;authenticatorClass&quot;</span>: 
			 Retain value as shown in the above sample.</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;Authorization&quot;</span>: 
			 Specify the Base64 encoded value of Tuebora Authentication 
			 API Client ID and Client Secret generated for your deployment. 
			 <br />
			<br />
			To specify <span style="background-color: #ffffff;">value for 
			 </span><span style="background-color: #ffffff; font-weight: bold;">Authorization</span><span 
			 style="background-color: #ffffff;"> key,</span> copy the value 
			 displayed for Authorization Header in the RESTClient.</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>.<br />
The RestClient shows the processing message. <br />
<br />
After the request is processed, you can see the response in the <span style="font-weight: bold;">Response</span> 
 section. The <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
 shows the response. If you get the Status Code<span style="font-weight: bold;"> 
 200 OK</span>, it means the request is successfully processed.</p>
<h3 class="list"><a name="Active_Directory_Base_Distinguished_Name_"></a>Key 
 Value Pair Binding - Active Directory Base Distinguished Name </h3>
<p>To register a key value pair binding, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers 
 </span>tab. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;">Client ID</span> generated for your 
 deployment.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;">Client Secret</span> generated for 
 your deployment.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.<br />
For more information on generating <span style="font-weight: bold;">Tuebora 
 Authentication API Credentials</span>, refer <span style="font-weight: bold; 
													 font-style: italic;">Tuebora 
 Deployment Guide</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Post</span> in the <span style="font-weight: bold;">Method</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to register a workflow bindings in the <span style="font-weight: bold;">URL</span> 
 field:<br />
<br />
<span style="font-weight: bold; font-style: italic;">http://&lt;Tuebora 
 Portal URL&gt;/api/v1/workflowbindings</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://xanadu.tuebora.com/api/v1/workflowbindings</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section:<br />
</p>
<table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:102.956%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="MsoNormal">{</p>
		<p class="MsoNormal">&quot;name&quot;: &quot;&lt;Name of the Binding&gt;&quot;,</p>
		<p class="MsoNormal">&quot;value&quot;: &quot;&lt;Binding Value&gt;&quot;</p>
		<p class="MsoNormal">}</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <table width="100%">
	<col style="width: 4.386%;" />
	<col style="width: 95.614%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:36px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;name&quot;</span>: Specify 
			 the name for the binding. Binding name should not contain 
			 space and special characters. You can user hypen (-) in the 
			 binding name. <br />
			<span style="font-weight: bold;">Example</span>: ADBase-Distinguished-Name</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;value&quot;</span>: Specify 
			 the value that must be replaced for the binding.<br />
			<span style="font-weight: bold;">Example</span>: dc=xanadufinancials,dc=com</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>.<br />
The RestClient shows the processing message. <br />
<br />
After the request is processed, you can see the response in the <span style="font-weight: bold;">Response</span> 
 section. The <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
 shows the response. If you get the Status Code<span style="font-weight: bold;"> 
 200 OK</span>, it means the request is successfully processed.</p>
<h3><a name="Active_Directory_Domain_Name_"></a>Key Value Pair Binding 
 - Active Directory Domain Name </h3>
<p>To register a key value pair binding, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers 
 </span>tab. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;">Client ID</span> generated for your 
 deployment.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the Tuebora Authentication 
 API <span style="font-weight: bold;">Client Secret</span> generated for 
 your deployment.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.<br />
For more information on generating <span style="font-weight: bold;">Tuebora 
 Authentication API Credentials</span>, refer <span style="font-weight: bold; 
													 font-style: italic;">Tuebora 
 Deployment Guide</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Post</span> in the <span style="font-weight: bold;">Method</span> 
 field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to register a workflow bindings in the <span style="font-weight: bold;">URL</span> 
 field:<br />
<br />
<span style="font-weight: bold; font-style: italic;">http://&lt;Tuebora 
 Portal URL&gt;/api/v1/workflowbindings</span><br />
<br />
<span style="font-weight: bold;">Example</span>: http://xanadu.tuebora.com/api/v1/workflowbindings</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section:<br />
</p>
<table class="Note" style=" border:Solid 1px #000000; width:100%; max-width:102.956%;" cellspacing="0px">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="MsoNormal">{</p>
		<p class="MsoNormal">&quot;name&quot;: &quot;&lt;Name of the Binding&gt;&quot;,</p>
		<p class="MsoNormal">&quot;value&quot;: &quot;&lt;Binding Value&gt;&quot;</p>
		<p class="MsoNormal">}</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <table width="100%">
	<col style="width: 4.386%;" />
	<col style="width: 95.614%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:36px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>:</p>
		<ul style="list-style: disc;">
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;name&quot;</span>: Specify 
			 the name for the binding. Binding name should not contain 
			 space and special characters. You can user hypen (-) in the 
			 binding name. <br />
			<span style="font-weight: bold;">Example</span>: adDomain</p></li>
			<li style="margin-left: -20px;">
   <p class="TableText"><span 
			 style="font-weight: bold;">&quot;value&quot;</span>: Specify 
			 the value that must be replaced for the binding.<br />
			<span style="font-weight: bold;">Example</span>: xanadufinancials.com</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>.<br />
The RestClient shows the processing message. <br />
<br />
After the request is processed, you can see the response in the <span style="font-weight: bold;">Response</span> 
 section. The <span style="font-weight: bold;">Response</span> <span style="font-weight: bold;">Header</span> 
 shows the response. If you get the Status Code<span style="font-weight: bold;"> 
 200 OK</span>, it means the request is successfully processed.</p>
<p class="list">&#160;</p>
<table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span 
		 style="color: #008000;"> <a 
		 href="Registering_Task_Templates.htm" style="color: #008000;">Registering 
		 Task Templates</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Manual_Data_Import.htm" style="color: #008000;">Data Collection</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
