
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Deployment Guide - Role Management</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default_-_Copy.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "6_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><span>Deployment Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1184">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_Tuebora_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="System_Groups.htm" style="color: #008000;">Tuebora Groups</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span style="color: #008000;"><a 
		 href="Workflows.htm" style="color: #008000;">Workflows Management</a></span></p></td>
	</tr>
 </table>
 <h1>Role Management</h1>
 <p>Roles describe user's functions in an organization. For example, in 
 an organization, user Roles can be Stock Brokers, Finance Managers, Software 
 Testing Engineers, and so on. Based on the organizational roles, users 
 have different capabilities in different applications, to perform the 
 job functions.</p>
 <p>In Tuebora Portal, you can use roles to add the required Access, based 
 on users' job function. These roles can be assigned to users instead of 
 managing individual Access.</p>
 <p>For example, in an organization, a Finance Manager role must have the 
 following Access: </p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">Access to audit the recorded transactions, approve 
	 Purchase Orders, approve Cash Receipts of more than Rs.150000, and 
	 access to Data Entry and Editing of Transactions in Accounting Application.</p></li>
	<li>
 <p class="list">Read and Write permission for Finance related documents 
	 in Microsoft SharePoint.</p></li>
	<li>
 <p class="list">Supervisor Role in Tuebora Portal.<br />
	<br />
	In Tuebora Portal, Administrator can create a Finance Manager Role 
	 and add all Access listed in the preceding paragraph and assign it 
	 to the users who are recruited for Finance Manager position, instead 
	 of granting individual Access.</p></li>
</ul>
<p>You can use the<span style="font-weight: bold;"> Org Roles</span> Asset 
 to manage Organization Roles in Tuebora Portal.</p>
<p>After completing the System Setup, the system shows <span style="font-weight: bold;">Org 
 Roles</span> Asset, along with the other Assets in <span style="font-weight: bold;">All</span> 
 <span style="font-weight: bold;">Assets</span> page. <span style="font-weight: bold;">Org</span> 
 <span style="font-weight: bold;">Roles</span> is a system-generated Asset. 
 <span style="font-weight: bold;">Org</span> <span style="font-weight: bold;">Roles</span> 
 is a Roles Repository. Organization Roles imported or created in Tuebora 
 Portal are stored in this Asset.</p>
<p>You can use the <span style="font-weight: bold;">Org Roles</span> Asset 
 to perform the following:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Importing_Organization_Roles_Data">Import 
	 Organization Roles Data</a> </p></li>
	<li>
 <p class="list"><a href="#Creating_Roles_in_iGovernance_360">Add 
	 Roles in Tuebora Portal</a></p></li>
	<li>
 <p class="list"><a href="#Adding_Access_to_a_Role">Add Access to 
	 a Role</a></p></li>
	<li>
 <p class="list"><a href="#Adding_Users_to_Role">Add Users to Role</a> 
	 </p></li>
</ul>
<br style="page-break-before: always;" />

<h2><a name="Importing_Organization_Roles_Data"></a>Importing Organization 
 Roles Data</h2>
<p>You can import the Role details into Tuebora Portal, if your organization 
 is already maintaining the user roles. </p>
<p>To import the organization roles data, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; Asset Management &gt; All Assets</span>. 
 <br />
The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Assets</span> 
 page appears.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to <span style="font-weight: bold;">Org Roles</span> 
 Asset. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Import</span> <span style="font-weight: bold;">Data</span>. 
 <br />
The <span style="font-weight: bold;">Select Type of data to Import for 
 Asset - Org Roles</span> subwindow opens. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the type of data that must be imported. The Role import options are as 
 follows:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Role Data</span>: Select this option to 
 import the <span style="font-weight: bold;">Role</span> <span style="font-weight: bold;">Name</span> 
 and <span style="font-weight: bold;">Role</span> <span style="font-weight: bold;">Description</span> 
 data. </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Role Access Data</span>: Select this option 
 to import data related to <span style="font-weight: bold;">sub-roles</span>, 
 <span style="font-weight: bold;">Access</span> and other <span style="font-weight: bold;">permissions</span> 
 granted to Roles in different Applications. </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Role Owner Data</span>: Select this option 
 to import the <span style="font-weight: bold;">Role</span> <span style="font-weight: bold;">Owner</span> 
 data. </p>
<p style="
margin-bottom:2pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Role Member Data</span>: Select this option 
 to import the data regarding those Accounts (Users) having membership 
 in Roles. <br />
<br />
Following table lists the details to be extracted in CSV file format for 
 importing Role Data into Tuebora Portal.</p>

<table style="border: Solid 1px #000000; left: 0px; top: 527px; margin-left: 96px;" 
		 cellspacing="0" width="100%">
	<col style="width: 22.75%;" />
	<col style="width: 25.559%;" />
	<col style="width: 51.691%;" />
	<tr style="height: 22px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p style="color: #ffffff; font-weight: bold; 
									 margin-left: 12px;">Type of Data</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p style="font-weight: bold; color: #ffffff; 
									 margin-left: 12px;">CSV File Format</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 style="font-weight: bold; color: #ffffff; margin-left: 12px;">Example</p></td>
	</tr>
	<tr style="height: 47px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="margin-left: 12px;">Role Data</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="margin-top: 4.5pt; margin-bottom: 4.5pt;">- 
		 Role Name</p>
		<p class="TableText" style="margin-top: 4.5pt; margin-bottom: 4.5pt;">- 
		 Role Description</p></td>
		<td style="border-bottom: Solid 1px #000000; vertical-align: top;">
  <p 
			 class="TableText">- Senior Sales Manager</p>
		<p class="TableText">- Head of Sales Team</p></td>
	</tr>
	<tr style="height: 71px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000; 
			 vertical-align: top;">
  <p style="margin-left: 12px;">Role Access 
		 Data</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="margin-top: 5pt; margin-bottom: 5pt;">- 
		 Role Name</p>
		<p class="TableText" style="margin-top: 5pt; margin-bottom: 5pt;">- 
		 Asset Name</p>
		<p class="TableText" style="margin-top: 5pt; margin-bottom: 5pt;">- 
		 Access Granted</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="margin-top: 5pt; 
														 margin-bottom: 5pt;">- 
		 Senior Sales Manager</p>
		<p class="TableText" style="margin-top: 5pt; margin-bottom: 5pt;">- 
		 Corporate Dynamics CRM</p>
		<p class="TableText" style="margin-top: 5pt; margin-bottom: 5pt;">- 
		 Sales Manager</p></td>
	</tr>
	<tr style="height: 48px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="margin-left: 12px;">Role Owner Data</p></td>
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText" style="margin-top: 5pt; margin-bottom: 5pt;">- 
		 Role Name</p>
		<p class="TableText" style="margin-top: 5pt; margin-bottom: 5pt;">- 
		 Email ID of the Role Owner</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="margin-top: 5pt; 
														 margin-bottom: 5pt;">- 
		 Senior Sales Manager</p>
		<p class="TableText" style="margin-top: 5pt; margin-bottom: 5pt;">- 
		 robert.williams@xanadufinancials.com</p></td>
	</tr>
	<tr style="height: 47px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText" 
														 style="margin-left: 12px;">Role 
		 Member Data</p></td>
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText" 
														 style="margin-top: 5pt; 
														 margin-bottom: 5pt;">- 
		 Role Name</p>
		<p class="TableText" style="margin-top: 5pt; margin-bottom: 5pt;">- 
		 Email ID of the Role Member</p></td>
		<td>
  <p class="TableText" style="margin-top: 5pt; margin-bottom: 5pt;">- 
		 Senior Sales Manager</p>
		<p class="TableText" style="margin-top: 5pt; margin-bottom: 5pt;">- 
		 eric.hill@xanadufinancials.com</p></td>
	</tr>
 </table>

 <p style="margin-bottom: 2pt; margin-top: 4pt;">&#160;</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr style="height: 14px;">
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You can import only one type of data at a time.</p></td>
	</tr>
 </table>
 <p class="list" style="
margin-top:9pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the type of data from the options available in the <span style="font-weight: bold;">Select 
 Type of data to Import for Asset - Org Roles</span> subwindow.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Start</span> <span style="font-weight: bold;">Import</span>. 
 based on the type of data selected, the system shows the <span style="font-weight: bold;">Data 
 Import Status</span> page. <br />
<br />
For example, if the <span style="font-weight: bold;">Import Role Access 
 Data</span> option is selected, then the system shows <span style="font-weight: bold;">Import 
 Role Access data for Org Roles</span> page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Browse</span> <span style="font-weight: bold;">File</span> 
 to select the file to import Org Roles data. The system supports only 
 <span style="font-weight: bold;">CSV</span> file format to import Org 
 Roles data.<br />
<br />
Browse to the location where the CSV file is available, select the file, 
 and click <span style="font-weight: bold;">Open</span>. The page refreshes 
 to show the <span style="font-weight: bold;">Data</span> <span style="font-weight: bold;">Mapping</span> 
 section and the details of the file selected.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the labels from the lists to map the corresponding field values.<br />
<br />
Following figure shows an example user data mapping.<br />
<br />
<img src="Images/Import_OrgRoles.png" alt="" style=" border:none; width:100%; max-width:983px;" border="0" /><br />
In the preceding figure, the field label for Field 3 is not mapped.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to <span style="font-weight: bold;">Do Not 
 Delete the existing User Data</span> if it is not present in the file 
 to ensure that the existing user data is not deleted from the system.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Ignore</span> <span style="font-weight: bold;">Header</span> 
 if you want to ignore the header values in the CSV file. These values 
 can be the field labels which need not be imported.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <img src="Images/Refresh_button.png" alt="" style=" border:none; width:100%; max-width:25px;" border="0" />if 
 you want to load the next rows from the CSV file to verify if you are 
 mapping the correct field labels.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">12.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 style="text-indent: -20px;">Use the navigation icons (<img src="Images/navigation_icon.png" alt="" style=" border:none; width:100%; max-width:42px;" border="0" /> ) to view the next and 
 previous fields in the file.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">13.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Continue</span> to import data after 
 mapping all the field labels and values. Data import starts. After data 
 import is completed, the <span style="font-weight: bold;">Imported</span> 
 <span style="font-weight: bold;">Data</span> <span style="font-weight: bold;">Details</span> 
 page shows the details of the import.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">14.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 the underlined numbers to view more details corresponding to records. 
 When you click the numbers in the report, a pop-up opens displaying the 
 corresponding details. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">15.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Publish</span> <span style="font-weight: bold;">Data</span> 
 to publish data to Tuebora Portal. <br />
Data publish starts. After the data is published, you can view the details 
 of Roles imported from All Roles page.<br />
<br />
You must import <span style="font-weight: bold;">Role Data,</span> <span 
	 style="font-weight: bold;">Role Access Data, Role Owner Data, </span>and<span 
	 style="font-weight: bold;"> Role Member Data </span>by selecting the 
 required CSV files and mapping the appropriate fields in the source file 
 to the properties in the system.</p>
 <h2><a name="Creating_Roles_in_iGovernance_360"></a>Adding Roles in Tuebora 
 Portal</h2>
 <p>If your organization does not have a Role Repository, you can use Tuebora 
 Portal as a Role Repository and define organizational roles in Tuebora 
 Portal for managing user Access, based on roles.</p>
 <p>To add roles, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; Role Management &gt; All Roles</span>.<br />
The <span style="font-weight: bold;">All</span> <span style="font-weight: bold;">Roles</span> 
 page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Role</span>. 
 <br />
The <span style="font-weight: bold;">Create New Role</span> subwindow opens.<br />
<br />
<img src="Images/Create_New_Role.png" alt="" style=" border:none; width:100%; max-width:538px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 name for the role in the <span style="font-weight: bold;">Role</span> 
 <span style="font-weight: bold;">Name</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type a 
 description to identify the role in the <span style="font-weight: bold;">Role</span> 
 <span style="font-weight: bold;">Description</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 role owner(s) name in the <span style="font-weight: bold;">Role</span> 
 <span style="font-weight: bold;">Owners</span> field and click Search 
 icon.<br style="page-break-before: always;" />
System shows the users matching the criteria. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the user name from the list and click <span style="font-weight: bold;">Add</span> 
 <span style="font-weight: bold;">Selected</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Owners</span>.<br />
You can add multiple owners for a role. The system shows the First and 
 Last Name, Job Title, Department, and Location for the user(s) added as 
 Role Owner(s).</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Create New Role</span>. The Role is added 
 and you can view it in the <span style="font-weight: bold;">All</span> 
 <span style="font-weight: bold;">Roles</span> page.</p>
<br style="page-break-before: always;" />

 <h2><a name="Adding_Access_to_a_Role"></a>Adding Access to a Role</h2>
 <p>In Tuebora Portal, you can use roles to add the required Access, based 
 on users' job functions. These roles can be assigned to users instead 
 of managing individual Access.</p>
 <p>To add Access to a role, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; Role Management &gt; All Roles</span>. 
 The <span style="font-weight: bold;">All Roles</span> page opens. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the required <span style="font-weight: bold;">Role</span> <span style="font-weight: bold;">Name</span>. 
 The <span style="font-weight: bold;">Role</span> <span style="font-weight: bold;">Details</span> 
 page opens.<br />
You can add Access to a role from <span style="font-weight: bold;">Access</span> 
 tab.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Access 
 </span>in the Access tab. The <span style="font-weight: bold;">Add</span> 
 <span style="font-weight: bold;">Access</span> subwindow opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the <span style="font-weight: bold;">Asset Name</span>,<span style="font-weight: bold;"> 
 </span>of<span style="font-weight: bold;"> </span>which you want to add 
 the Access to the selected role, in the <span style="font-weight: bold;">Asset</span> 
 field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span>. <br />
Asset Access is grouped based on Access type and Access category. You can 
 view the groups of Access in the <span style="font-weight: bold;">Select</span> 
 <span style="font-weight: bold;">Access</span> field.<span style="text-indent: -20px; 
															 font-weight: bold;"> 
 &#160;</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Access Group to view the Access grouped under it.<br />
<br />
<img src="Images/Role.png" alt="" style=" border:none; width:100%; max-width:746px;" border="0" /> </p>
<br style="page-break-before: always;" />

 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr style="height: 14px;">
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText" style="margin-left: 12px;"><span style="font-weight: bold;">Note</span>: 
		 In <span style="font-weight: bold;">Select</span> <span style="font-weight: bold;">Access 
		 </span>section, the grouping of Access is based on the data collected 
		 from different Assets. Use the following options to add Access 
		 to a Role:</p>
		<ul style="list-style: disc;">
			<li>
   <p class="list" style="margin-bottom: 3pt;"><span style="font-weight: bold;">Add 
			 All Access</span> – Use this button to add all the Access 
			 at once.</p></li>
			<li>
   <p class="list" style="margin-bottom: 3pt;"><span style="font-weight: bold;">Add 
			 Selected Access</span> – Use this button to add a selected 
			 Access. This button is enabled only when an Access is selected.</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Access and click <span style="font-weight: bold;">Add</span> <span 
	 style="font-weight: bold;">Selected</span> <span style="font-weight: bold;">Access</span>. 
 The added Access is displayed in <span style="font-weight: bold;">Selected</span> 
 <span style="font-weight: bold;">Access </span>section.</p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr style="height: 14px;">
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>:</p>
		<ul style="list-style: disc;">
			<li>
   <p class="list" style="margin-top: 4pt;">To remove a selected 
			 Access, click the <span style="font-weight: bold;">Remove</span> 
			 icon next to the added Access.</p></li>
			<li>
   <p class="list" style="margin-bottom: 3pt;">To remove all 
			 the Access at once, click the <span style="font-weight: bold;">Remove</span> 
			 icon next to <span style="font-weight: bold;">Access</span> 
			 column.</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style="margin-left: 50px; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>. 
 The Access is added and you can view it in <span style="font-weight: bold;">Access</span> 
 tab in <span style="font-weight: bold;">Roles</span> <span style="font-weight: bold;">Details</span> 
 page.</p>
<h2><a name="Adding_Users_to_Role"></a>Adding Users to Role</h2>
<p class="list">To add to users/members directly to a role, perform the 
 following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; Role Management &gt; All Roles</span>.<br />
The <span style="font-weight: bold;">All Roles</span> page opens. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the required <span style="font-weight: bold;">Role</span> <span style="font-weight: bold;">Name</span>. 
 The <span style="font-weight: bold;">Role</span> <span style="font-weight: bold;">Details</span> 
 page opens.<br />
You can add Users/Members to a role from <span style="font-weight: bold;">Users 
 </span>tab.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Members 
 </span>in the <span style="font-weight: bold;">Users</span> tab. <br />
The <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Members</span> 
 subwindow opens.<br />
<br />
<img src="AddMembers.png" alt="" style=" border:none; width:100%; max-width:455px;" border="0" /></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 user name in the <span style="font-weight: bold;">Members</span> field.<br />
As you start typing the user name, system lists the matching users.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the User from the list and click <span style="font-weight: bold;">Add</span> 
 <span style="font-weight: bold;">Member</span>.<br />
The selected user are listed on the <span style="font-weight: bold;">Add</span> 
 <span style="font-weight: bold;">Members</span> window.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Similarly 
 add multiple members.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Add</span> <span style="font-weight: bold;">Members</span>.<br />
The subwindow closes. The User is added and you can view it in the <span 
	 style="font-weight: bold;">Users </span>tab in <span style="font-weight: bold;">Role</span> 
 <span style="font-weight: bold;">Details</span> page.</p>
<p>For more information on the All Roles feature, refer the <span style="font-style: italic; 
	 font-weight: bold;">Tuebora Administrator Guide</span>.</p>
<p>&#160;</p>
<table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span 
		 style="color: #008000;"> <a 
		 href="System_Groups.htm" style="color: #008000;">Tuebora Groups</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Workflows.htm" style="color: #008000;"><span>Workflows Management</span></a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
