
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Deployment Guide - Splunk Queries and Reporting</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default_-_Copy.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "1.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><span>Deployment Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1280">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_Tuebora_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a href="Event_Logging_and_Auditing.htm" 
														 style="color: #008000;">Event 
		 Logging and Auditing</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span style="color: #008000;"><a 
		 href="Accessing_Tuebora_Portal_User_Interface.htm" style="color: #008000;">Accessing 
		 Tuebora Portal User Interface</a></span> &#160;</p></td>
	</tr>
 </table>
&#160;
 <h1>Splunk Queries and Reporting</h1>
 <p>You can use the Splunk UI to search for events performed on Accounts 
 in integrated Assets from Tuebora Portal. The UI presents the searched 
 events in a readable format and you can drill down to view further details.</p>
 <p>For more information on using the Splunk UI for detailed analysis of 
 results, refer the <span style="font-style: italic; font-weight: bold;">Splunk 
 Documentation</span><span style="font-style: italic;">.</span></p>
 <h2>Searching Events</h2>
 <p>To search for events from the Splunk UI, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Log in 
 to <span style="font-weight: bold;">Splunk Web UI</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Search &amp; Reporting</span>, available 
 on the left side of the page.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Provide 
 the event query in the <span style="font-weight: bold;">Search</span> 
 box provided.<br />
<br />
If there are multiple systems configured for event logging, click Data 
 Summary and select the required host from the list.<br />
<br />
Following figure shows an example of records for the user Login/Logout 
 events in Tuebora Governance.<br />
<br />
<img src="Images/Splunk.png" alt="" style=" border:none; width:100%; max-width:841px;" border="0" /></p>
<br style="page-break-before: always;" />

 <h2>Queries</h2>
 <p>Following table lists the queries to search for different events performed 
 in Tuebora Portal for Active Directory Asset.</p>

 <table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
		 top: 647px;" cellspacing="0" width="100%">
	<col style="width: 23.64%;" />
	<col style="width: 76.36%;" />
	<tr style="height: 36px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;" 
			 bgcolor="#003A6B">
  <p style="color: #ffffff; font-weight: bold;">Event</p></td>
		<td style="border-bottom: Solid 1px #000000;" bgcolor="#003A6B">
  <p 
			 style="font-weight: bold; color: #ffffff;">Query</p></td>
	</tr>
	<tr style="height: 134px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Login and Logout</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">| 
		 dbxquery query=&quot;SELECT%20*%20FROM%20%60bturdb%60.%60t_audit_info%60&quot; 
		 connection=splunkconnection maxrows=1500 | fields - _raw | spath 
		 | search &quot;(004) t_audit_info.audit_type.VARCHAR&quot;=Login 
		 OR &quot;(004) t_audit_info.audit_type.VARCHAR&quot;=Logout | 
		 rename &quot;(001) t_audit_info.id.INT UNSIGNED&quot; as id, &quot;(002) 
		 t_audit_info.performed_by.VARCHAR&quot; as performedBy, &quot;(003) 
		 t_audit_info.performed_on.TIMESTAMP&quot; as performedOn, &quot;(004) 
		 t_audit_info.audit_type.VARCHAR&quot; as auditType, &quot;(007) 
		 t_audit_info.asset_name.VARCHAR&quot; as assetName, &quot;(009) 
		 t_audit_info.performed_on_user.VARCHAR&quot; as performedOnUser, 
		 &quot;(005) t_audit_info.status.CHAR&quot; as status, &quot;(006) 
		 t_audit_info.metadata.VARCHAR&quot; as metadata| eval errors=spath(metadata,&quot;errors{0}&quot;)| 
		 table &#160;id, performedBy, performedOn, auditType, assetName, 
		 performedOnUser, status, errors</p></td>
	</tr>
	<tr style="height: 134px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Create Account</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText">| 
		 dbxquery query=&quot;SELECT%20*%20FROM%20%60bturdb%60.%60t_audit_info%60&quot; 
		 connection=splunkconnection maxrows=1500 | fields - _raw | spath 
		 | search &quot;(004) t_audit_info.audit_type.VARCHAR&quot;=CreateUser 
		 | rename &quot;(001) t_audit_info.id.INT UNSIGNED&quot; as id, 
		 &quot;(002) t_audit_info.performed_by.VARCHAR&quot; as performedBy, 
		 &quot;(003) t_audit_info.performed_on.TIMESTAMP&quot; as performedOn, 
		 &quot;(004) t_audit_info.audit_type.VARCHAR&quot; as auditType, 
		 &quot;(007) t_audit_info.asset_name.VARCHAR&quot; as assetName, 
		 &quot;(009) t_audit_info.performed_on_user.VARCHAR&quot; as performedOnUser, 
		 &quot;(005) t_audit_info.status.CHAR&quot; as status, &quot;(006) 
		 t_audit_info.metadata.VARCHAR&quot; as metadata|table &#160;id, 
		 performedBy, performedOn, auditType, assetName, performedOnUser, 
		 status</p></td>
	</tr>
	<tr style="height: 138px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">Terminate 
		 User</p></td>
		<td>
  <p class="TableText" style="margin-top: 5pt; margin-bottom: 5pt;">| 
		 dbxquery query=&quot;SELECT%20*%20FROM%20%60bturdb%60.%60t_audit_info%60&quot; 
		 connection=splunkconnection maxrows=1500 | fields - _raw | spath 
		 | search &quot;(004) t_audit_info.audit_type.VARCHAR&quot;=TerminateUser 
		 | rename &quot;(001) t_audit_info.id.INT UNSIGNED&quot; as id, 
		 &quot;(002) t_audit_info.performed_by.VARCHAR&quot; as performedBy, 
		 &quot;(003) t_audit_info.performed_on.TIMESTAMP&quot; as performedOn, 
		 &quot;(004) t_audit_info.audit_type.VARCHAR&quot; as auditType, 
		 &quot;(007) t_audit_info.asset_name.VARCHAR&quot; as assetName, 
		 &quot;(009) t_audit_info.performed_on_user.VARCHAR&quot; as performedOnUser, 
		 &quot;(005) t_audit_info.status.CHAR&quot; as status, &quot;(006) 
		 t_audit_info.metadata.VARCHAR&quot; as metadata|table &#160;id, 
		 performedBy, performedOn, auditType, assetName, performedOnUser, 
		 status </p></td>
	</tr>
 </table>

<br style="page-break-before: always;" />
 

 <table style="border: Solid 1px #000000; margin-left: 24px; left: 0px; 
		 top: 647px;" cellspacing="0" width="100%">
	<col style="width: 15.985%;" />
	<col style="width: 84.015%;" />
	<tr style="height: 136px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Create Asset</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="margin-top: 5pt; 
														 margin-bottom: 5pt;">| 
		 dbxquery query=&quot;SELECT%20*%20FROM%20%60bturdb%60.%60t_audit_info%60&quot; 
		 connection=splunkconnection maxrows=1500 | fields - _raw | spath 
		 | search &quot;(004) t_audit_info.audit_type.VARCHAR&quot;=CreateAsset 
		 | rename &quot;(001) t_audit_info.id.INT UNSIGNED&quot; as id, 
		 &quot;(002) t_audit_info.performed_by.VARCHAR&quot; as performedBy, 
		 &quot;(003) t_audit_info.performed_on.TIMESTAMP&quot; as performedOn, 
		 &quot;(004) t_audit_info.audit_type.VARCHAR&quot; as auditType, 
		 &quot;(007) t_audit_info.asset_name.VARCHAR&quot; as assetName, 
		 &quot;(009) t_audit_info.performed_on_user.VARCHAR&quot; as performedOnUser, 
		 &quot;(005) t_audit_info.status.CHAR&quot; as status, &quot;(006) 
		 t_audit_info.metadata.VARCHAR&quot; as metadata|table &#160;id, 
		 performedBy, performedOn, auditType, assetName, performedOnUser, 
		 status </p></td>
	</tr>
	<tr style="height: 136px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Data Import</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="margin-top: 5pt; 
														 margin-bottom: 5pt;">| 
		 dbxquery query=&quot;SELECT%20*%20FROM%20%60xanadu%60.%60t_audit_info%60&quot; 
		 connection=Tuebora_Audit maxrows=500 | fields - _raw | spath | 
		 search &quot;(004) t_audit_info.audit_type.VARCHAR&quot;=DataImport 
		 | rename &quot;(001) t_audit_info.id.INT UNSIGNED&quot; as id, 
		 &quot;(002) t_audit_info.performed_by.VARCHAR&quot; as performedBy, 
		 &quot;(003) t_audit_info.performed_on.TIMESTAMP&quot; as performedOn, 
		 &quot;(004) t_audit_info.audit_type.VARCHAR&quot; as auditType, 
		 &quot;(007) t_audit_info.asset_name.VARCHAR&quot; as assetName, 
		 &quot;(009) t_audit_info.performed_on_user.VARCHAR&quot; as performedOnUser, 
		 &quot;(005) t_audit_info.status.CHAR&quot; as status, &quot;(006) 
		 t_audit_info.metadata.VARCHAR&quot; as metadata| eval errors=spath(metadata,&quot;errors{0}&quot;)|table 
		 &#160;id, performedBy, performedOn, auditType, assetName, performedOnUser, 
		 status, errors</p></td>
	</tr>
	<tr style="height: 136px;">
		<td style="border-right: Solid 1px #000000; border-bottom: Solid 1px #000000;">
  <p 
			 class="TableText">Change Password</p></td>
		<td style="border-bottom: Solid 1px #000000;">
  <p class="TableText" 
														 style="margin-top: 5pt; 
														 margin-bottom: 5pt;">| 
		 dbxquery query=&quot;SELECT%20*%20FROM%20%60xanadu%60.%60t_audit_info%60&quot; 
		 connection=Tuebora_Audit maxrows=500 | fields - _raw | spath | 
		 search &quot;(004) t_audit_info.audit_type.VARCHAR&quot;=ChangePassword 
		 | rename &quot;(001) t_audit_info.id.INT UNSIGNED&quot; as id, 
		 &quot;(002) t_audit_info.performed_by.VARCHAR&quot; as performedBy, 
		 &quot;(003) t_audit_info.performed_on.TIMESTAMP&quot; as performedOn, 
		 &quot;(004) t_audit_info.audit_type.VARCHAR&quot; as auditType, 
		 &quot;(007) t_audit_info.asset_name.VARCHAR&quot; as assetName, 
		 &quot;(009) t_audit_info.performed_on_user.VARCHAR&quot; as performedOnUser, 
		 &quot;(005) t_audit_info.status.CHAR&quot; as status, &quot;(006) 
		 t_audit_info.metadata.VARCHAR&quot; as metadata| eval errors=spath(metadata,&quot;errors{0}&quot;)|table 
		 &#160;id, performedBy, performedOn, auditType, assetName, performedOnUser, 
		 status, errors</p></td>
	</tr>
	<tr style="height: 69px;">
		<td style="border-right: Solid 1px #000000;">
  <p class="TableText">Reset 
		 Password</p></td>
		<td>
  <p class="TableText" style="margin-top: 5pt; margin-bottom: 5pt;">| 
		 dbxquery query=&quot;SELECT%20*%20FROM%20%60xanadu%60.%60t_audit_info%60&quot; 
		 connection=Tuebora_Audit maxrows=500 | fields - _raw | spath | 
		 search &quot;(004) t_audit_info.audit_type.VARCHAR&quot;=ResetPassword 
		 | rename &quot;(001) t_audit_info.id.INT UNSIGNED&quot; as id, 
		 &quot;(002) t_audit_info.performed_by.VARCHAR&quot; as performedBy, 
		 &quot;(003) t_audit_info.performed_on.TIMESTAMP&quot; as performedOn, 
		 &quot;(004) t_audit_info.audit_type.VARCHAR&quot; as auditType, 
		 &quot;(007) t_audit_info.asset_name.VARCHAR&quot; as assetName, 
		 &quot;(009) t_audit_info.performed_on_user.VARCHAR&quot; as performedOnUser, 
		 &quot;(005) t_audit_info.status.CHAR&quot; as status, &quot;(006) 
		 t_audit_info.metadata.VARCHAR&quot; as metadata| eval errors=spath(metadata,&quot;errors{0}&quot;)|table 
		 &#160;id, performedBy, performedOn, auditType, assetName, performedOnUser, 
		 status, errors</p></td>
	</tr>
 </table>

&#160;
<br /><br />
 <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Event_Logging_and_Auditing.htm" style="color: #008000;">Event 
		 Logging and Auditing</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Accessing_Tuebora_Portal_User_Interface.htm" style="color: #008000;"><span>Accessing 
		 Tuebora Portal User Interface</span></a> &#160;</p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
