
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Deployment Guide - Tuebora Authentication</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default_-_Copy.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "8.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="Introduction_to_Tuebora_iGovernance_360.htm" class="homelink"><span>Deployment Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1448">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="Introduction_to_Tuebora_iGovernance_360.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span style="color: #008000;"> 
		 <a href="Security.htm" style="color: #008000;">Portal Security 
		 Management</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <span style="color: #008000;"><a 
		 href="Multi_Factor_Authentication.htm" style="color: #008000;">Multi 
		 Factor Authentication</a></span> </p></td>
	</tr>
 </table>
 <h1 class="list">Tuebora Portal User Authentication</h1>
 <p>Authentication is the process by which a software or a Web application 
 validates end user's login information. Authentication is required to 
 ensure only authorized users can log in to the software or Web application. 
 </p>
 <h5 style="font-weight: bold;">Tuebora Portal supports the following types 
 of Authentication:</h5>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Self_Authentication">Self Authentication</a></p></li>
	<li>
 <p class="list"><a href="#Delegated_Authentication">Delegated Authentication</a></p></li>
	<li>
 <p class="list"><a href="#Web_SSO-based_Delegated_Authentication">Web 
	 SSO-based Authentication</a></p></li>
</ul>
<h3><a name="Self_Authentication"></a>Self Authentication</h3>
<p>Most Web applications store the list of users with their usernames, 
 passwords and other attributes such as email address, first name, last 
 name, and contact details in the internal database. Applications may also 
 choose what attributes a user must enter during the login process, to 
 authenticate the login by comparing the values stored in the database. 
 This mode of authentication is called <span style="font-weight: bold;">self 
 authentication</span>. </p>
<p>Tuebora Portal supports self authentication by validating the Tuebora 
 Portal user credentials that the user enters during the login process.</p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 In a fresh Tuebora Portal deployment, by default, self authentication 
		 is configured.</p></td>
	</tr>
 </table>
 <p>To enable authentication through Tuebora Portal, refer to <a href="#Enabling_Authentication_by_Tuebora Governance">Enabling 
 Authentication by Tuebora Portal</a>. </p>
 <h3><a name="Delegated_Authentication"></a>Delegated Authentication</h3>
 <p>Organizations may sometimes use a directory service such as Windows 
 Active Directory to authenticate users to most of the applications they 
 use. This provides organizations the ease of using the same login credentials 
 across applications.</p>
 <p>For organizations that want to integrate Tuebora Portal into a Web Single 
 Sign-on solution, Tuebora Portal can delegate the authentication process 
 to the Web Single Sign-on solution to allow a Single SignOn to Tuebora 
 Portal. This means logging into your Web Single Sign-on application logs 
 you into Tuebora Portal.</p>
 <p>Tuebora Portal supports delegated authentication both through a directory 
 services such as Windows Active Directory or Web Single SignOn applications. 
 Delegated authentication is the process where users specify the login 
 credentials in Tuebora Portal but the authentication is done by an external 
 application.</p>
 <h4>Directory-based Delegated Authentication</h4>
 <p>With Directory-based delegated authentication, users are authenticated 
 by validating the user credentials stored in the Directory service. Tuebora 
 Portal supports delegated authentication through Windows Active Directory 
 only. </p>
 <p>You can select more than one Active Directory to authenticate users. 
 For example, an organization Uses AD -1 to maintain Regular Users and 
 AD - 2 to maintain Contract Employees. Both AD - 1 and AD - 2 are added 
 as Assets in Tuebora Portal. The Organization wants to delegate Tuebora 
 Portal authentication to both these Active Directories. You must select 
 both AD - 1 and AD - 2 as authentication applications when you enable 
 Directory-based delegated authentication.</p>
 <p>To enable delegated authentication through a Windows Active Directory, 
 refer to <a href="#DirectorybasedAuthentication">Enabling Directory-based 
 Delegated Authentication</a>. </p>
 <h4><a name="Web_SSO-based_Delegated_Authentication"></a>Web SSO-based 
 Delegated Authentication</h4>
 <p>With Web SSO-based delegated authentication, users are authenticated 
 through an authentication token. When Tuebora Portal receives the authentication 
 token from Web Single Sign-on application, it validates the token. If 
 it is valid, the user is logged in to Tuebora Portal. As Tuebora Portal 
 administrator, you can <span style="text-indent: -20px;">configure the 
 name of the </span><span style="text-indent: -20px; font-weight: bold;">Request 
 Header</span><span style="text-indent: -20px;"> used to send the authentication 
 token and the </span><span style="text-indent: -20px; font-weight: bold;">User 
 Unique Property</span><span style="text-indent: -20px;"> (sent in the 
 Request Header that uniquely identifies the user) that is sent by the 
 Web Single Sign-on application. If Tuebora Portal authenticates the user's 
 login credentials and the unique user property, the user is logged into 
 Tuebora Portal</span>.</p>
 <p>When the prerequisites to enable Web Single Sign-on to Tuebora Portal 
 through a Web Single Sign-on application is complete, Tuebora Portal administrator 
 can enable Web SSO-based delegated authentication from the <span style="font-weight: bold;">Tuebora 
 Authentication</span> page.</p>

 <p>The following sections explain how to enable the different forms of 
 authentication:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Enabling_Authentication_by_Tuebora_Portal">Enabling 
 Authentication by Tuebora Portal</a></p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#DirectorybasedAuthentication">Enabling 
 Directory-based Delegated Authentication</a></p>

 <h3 class="list"><a name="Enabling_Authentication_by_Tuebora_Portal"></a>Enabling 
 Authentication by Tuebora Portal</h3>
 <p>You enable authentication from Tuebora Portal to authenticate users 
 from Tuebora Portal. If you enable self-authentication or authentication 
 by Tuebora Portal, you must use the Tuebora Portal credentials to log 
 in to Tuebora Portal. </p>
 <p>To enable authentication from Tuebora Portal, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; Security &gt; Authentication</span>. 
 <br />
<br />
The <span style="font-weight: bold;">Authentication</span> page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>From the 
 <span style="font-weight: bold;">Authentication Type</span> drop-down 
 list, select <span style="font-weight: bold;">Authentication by Directory</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>In the 
 <span style="font-weight: bold;">Authentication Sources</span> field, 
 type <span style="font-weight: bold;">Tuebora</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Press 
 <span style="font-weight: bold;">Enter </span>key.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save changes</span>.</p>
<br style="page-break-before: always;" />

 <h3 class="list"><a name="DirectorybasedAuthentication"></a>Enabling Directory-based 
 Delegated Authentication</h3>
 <p>You enable Directory-based delegated authentication to authenticate 
 Tuebora Portal from a Directory service such as Windows Active Directory. 
 </p>
 <p>Before you enable Directory-based delegated authentication, ensure that 
 you have added the Directory service (Asset) to Tuebora Portal. For more 
 information, see <a href="Create_a_New_Asset.htm">Create a New Asset</a>.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr style="height: 14px;">
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 After delegating the authentication to a Directory Service, users 
		 must use the login credentials of the newly</p>
		<p class="TableText">specified Directory Service to log in to Tuebora 
		 Portal.</p></td>
	</tr>
 </table>
 <p>To configure directory-based delegated authentication, along with the 
 configuration done in the <span style="font-weight: bold;">Authentication</span> 
 page as described below, you must also register Test Connection operation 
 for the Asset that your are going to assign as the directory used for 
 delegated authentication. For more information on registering the Test 
 Connection operation for the Asset, see <a href="Asset_Integration.htm#Registering_SCIM_Operation_-_Test_Connection">Registering 
 SCIM Operation - Test Connection</a>.</p>
 <p>To enable Directory-based delegated authentication for Tuebora Portal, 
 perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; Security &gt; Authentication</span>. 
 <br />
<br />
The <span style="font-weight: bold;">Authentication</span> page opens.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>From the 
 <span style="font-weight: bold;">Authentication Type</span> drop-down 
 list, select <span style="font-weight: bold;">Authentication by Directory</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>In the 
 <span style="font-weight: bold;">Authentication Sources</span> field, 
 type the name of the Active Directory (authentication source) to which 
 the authentication must be delegated.<br />
<br />
As you start typing the name, the authentication sources that match the 
 text are displayed.<br />
<br />
Following figure displays the Tuebora Authentication page with options 
 to enable Directory-based delegated authentication.<br />
<br />
<img src="Images/delauthdirectoryservice.png" alt="" style=" border:none; width:100%; max-width:748px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Active Directory (authentication source) to which you want to delegate 
 the authentication.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>(Optional) 
 Select multiple Active Directories if you want to delegate authentication 
 to multiple Active Directories.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span>Click 
 </span><span style="font-weight: bold;">Save changes</span><span>. </span></p>













 <h2>Creating Authentication IDP and Authentication Rules</h2>
 <p>In this topic, the following authentication configurations will be covered:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Creating_a_Authentication_IDP">Create 
	 Authentication IDP</a></p></li>
	<li>
 <p class="list"><a href="#Creating_Authentication_Rule_for_Directory">Create 
	 Authentication Rule for Directory</a></p></li>
	<li>
 <p class="list"><a href="#Creating_Authentication_Rule_for_SSO">Create 
	 Authentication Rule for SSO</a></p></li>
</ul>
<h2><a name="Creating_a_Authentication_IDP"></a>Creating a Authentication 
 IDP</h2>
<p>Authentication IDP is used to delegate Tuebora Portal authentication 
 to a Web SSO.</p>
<p>To create Authentication IDP:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Open the 
 <span style="font-weight: bold;">RESTClient</span> and select <span style="font-weight: bold;">Headers 
 </span>tab. </p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the following Headers Key and Value:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the <span style="font-weight: bold;"><a 
	 href="Generate_Client_Key.htm">Client ID</a></span> generated for 
 the client.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the <span style="font-weight: bold;"><a 
	 href="Generate_Client_Key.htm">Client Secret</a></span> generated 
 for the client.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">POST </span>as the <span style="font-weight: bold;">HTTP</span> 
 <span style="font-weight: bold;">Method</span>.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 following URL to register an Authentication IDP in the <span style="font-weight: bold;">URL</span> 
 field:<br />
<br />
<span style="font-style: italic;">http://&lt;Tuebora Application URL&gt;/api/v1/authenticationidps</span> 
 <br />
<br />
<span style="font-weight: bold;">Example</span>: http://tenant.tuebora.com/api/v1/authenticationidps</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the <span style="font-weight: bold;">Body</span> 
 section:</p>
<table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p class="MsoNormal">{</p>
		<p class="MsoNormal">&quot;name&quot;:&quot;Tuebora Authentication 
		 IDP&quot;,</p>
		<p class="MsoNormal">&quot;issuer&quot;:&quot;Tuebora&quot;,</p>
		<p class="MsoNormal">&quot;certificate&quot;:&quot;MIIFCTCCA/GgAwIBAgIQBFfkfJZzNYdJPi1bnPDi4TANBgkqhkiG9w0B</p>
		<p class="MsoNormal">AQsFADBBMQswCQYDVQQGEwJVUzESMBAGA1UEChMJQWV0bmEgSW5jMR4wHA</p>
		<p class="MsoNormal">YDVQQDExVBZXRuYSBJbmMuIFNlY3VyZSBDQTIwHhcNMTcxMTA2MDAwMDAwWh</p>
		<p class="MsoNormal">cNMjAwMzEwMTIwMDAwWjBlMQswCQYDVQQGEwJVUzEUMBIGA1UECBMLQ29ubm</p>
		<p class="MsoNormal">VjdGljdXQxETAPBgNVBAcTCEhhcnRmb3JkMRMwEQYDVQQKEwpBZXRuYSBJbmMuM</p>
		<p class="MsoNormal">RgwFgYDVQQDEw9mc3EyMC5hZXRuYS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IB</p>
		<p class="MsoNormal">DwAwggEKAoIBAQDKbMQhqwcV1UdVQ8tvpQqOnGwjvHzpvQq1ToiHhaQOwn69BzFI</p>
		<p class="MsoNormal">Pg0iHQ337sVUDlvIDQEtAs4aLnDB8T+MDPghuGewceDPIFbrnHFcdsSTT6mRePLZw8m</p>
		<p class="MsoNormal">AMOP0D/9733EZ72qfSancIddklQ/Fz4WGtbJgbzQ/sWzS5GSUCnONuNYfNTLmlfvfG4a</p>
		<p class="MsoNormal">8lTVMI1z2nl8WNzSY8QV73g8+7OPvsmi7vNM635FEfvfmnjRYGwmZNJehIWlTnnq0JSk</p>
		<p class="MsoNormal">zdjb9kO8ohonfXzAOUKMUzqw6RcE8zGc0uBWieNApE7W6sh9CbrDPpBAsZnMdF/NrUlH</p>
		<p class="MsoNormal">oIFKNZ9o7JoI4tudYzoPZAgMBAAGjggHXMIIB0zAfBgNVHSMEGDAWgBS5q0R6/NpiGwk</p>
		<p class="MsoNormal">fzzuvEEuJgRRjIzAdBgNVHQ4EFgQUwQxdu1TMIrgvyzlySFQIa2JC6RkwGgYDVR0RBBMw</p>
		<p class="MsoNormal">EYIPZnNxMjAuYWV0bmEuY29tMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgE</p>
		<p class="MsoNormal">FBQcDAQYIKwYBBQUHAwIwdQYDVR0fBG4wbDA0oDKgMIYuaHR0cDovL2NybDMuZGlna</p>
		<p class="MsoNormal">WNlcnQuY29tL0FldG5hSW5jU2VjdXJlQ0EyLmNybDA0oDKgMIYuaHR0cDovL2NybDQuZG</p>
		<p class="MsoNormal">lnaWNlcnQuY29tL0FldG5hSW5jU2VjdXJlQ0EyLmNybDBMBgNVHSAERTBDMDcGCWCGSA</p>
		<p class="MsoNormal">GG/WwBATAqMCgGCCsGAQUFBwIBFhxodHRwczovL3d3dy5kaWdpY2VydC5jb20vQ1BT</p>
		<p class="MsoNormal">MAgGBmeBDAECAjBzBggrBgEFBQcBAQRnMGUwJAYIKwYBBQUHMAGGGGh0dHA6Ly9vY3</p>
		<p class="MsoNormal">NwLmRpZ2ljZXJ0LmNvbTA9BggrBgEFBQcwAoYxaHR0cDovL2NhY2VydHMuZGlnaWNlcnQ</p>
		<p class="MsoNormal">uY29tL0FldG5hSW5jU2VjdXJlQ0EyLmNydDAMBgNVHRMBAf8EAjAAMA0GCSqGSIb3DQEB</p>
		<p class="MsoNormal">CwUAA4IBAQANw3zcj+7Z5E14U4fCGlSFGH8L7StzxkZhnVAotrFsbnNJyvIKe/dIPi6Lo+eR</p>
		<p class="MsoNormal">q4Ktr00RVXUaukuuA51y4d26DDhXUzBLsLg5H5B+GDJfUc0JlCNzjOTtYzkkttDtMj6bqjTaa</p>
		<p class="MsoNormal">d9bFmLGqKDa/Na26FsuqT6kc9/cNsimobuHlkxj4yGhvWiu5by1Ljc01pjSXv0l6gUuDN57qB</p>
		<p class="MsoNormal">OFhSrN3bnEr3AXw/4zMdQIqH1nho6yGPYXEugfQi1NjISSHKxziXHoaenCZ3i+CwSdzGDkB</p>
		<p class="MsoNormal">Kwp9vPpYxYLAbyDSOs8vqCx+M4fbVl1Hdabq4bKfevR4F3dDglPAgrEcsrKefgF&quot;,</p>
		<p class="MsoNormal">&quot;nameIdAttribute&quot;:&quot;Email Address&quot;,</p>
		<p class="MsoNormal">&quot;otherAttrs&quot;:&quot;Email Address&quot;,</p>
		<p class="MsoNormal">&quot;loginURL&quot;:&quot;https://apq.aetna.com/affwebservices/public/saml2sso&quot;,</p>
		<p class="MsoNormal">&quot;logoutURL&quot;:&quot;&quot;</p>
		<p class="MsoNormal">}</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>. <br />
The RestClient shows <span style="font-weight: bold;">Status Code 201 Created</span><span 
	 style="font-weight: bold; color: #ff0000;"> </span>if the request 
 is processed successfully.</p>
<br style="page-break-before: always;" />

 <h2><a name="Creating_Authentication_Rule_for_Directory"></a>Creating Authentication 
 Rule for Directory</h2>
 <p>The directory can be Tuebora or external application like Active Directory. 
 You can create the Rule to authenticate the users by defining the conditions. 
 For example, Users located in Boston are authenticated by Tuebora and 
 users located in all other locations are authenticated by Active Directory.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>In <span 
	 style="font-weight: bold;">RESTClient</span>, define the following 
 Headers Key and Value:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the <span style="font-weight: bold;">Client 
 ID</span> generated for the client.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the <span style="font-weight: bold;">Client 
 Secret</span> generated for the client.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">POST </span>as the <span style="font-weight: bold;">HTTP</span> 
 <span style="font-weight: bold;">Method</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the Body section:</p>
 <table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p style="margin-top: 5pt; margin-bottom: 5pt; 
							 margin-left: 0px;">{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;userFltrType&quot;: 
		 &quot;specific&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;userFilter&quot;: 
		 {</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;entityName&quot;: 
		 &quot;User&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;joinOperator&quot;: 
		 &quot;and&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;joinOperatorDisplay&quot;: 
		 &quot;AND&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;filters&quot;: 
		 [{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;type&quot;: 
		 &quot;propfilter&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;entityName&quot;: 
		 &quot;User&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;prop&quot;: 
		 &quot;estr6&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;propDispName&quot;: 
		 <span style="background-color: #ffff00;">&quot;Location&quot;</span>,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;dataType&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;oper&quot;: 
		 &quot;seq&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;operDispName&quot;: 
		 &quot;Is&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;values&quot;: 
		 <span style="background-color: #ffff00;">&quot;Frankfurt&quot;</span>,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;valueids&quot;: 
		 <span style="background-color: #ffff00;">&quot;Frankfurt&quot;</span></p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}],</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;bitmaskFilters&quot;: 
		 null</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">},</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;authType&quot;: 
		 <span style="background-color: #ffff00;">&quot;delegatedauth&quot;,</span></p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;authDataId&quot;: 
		 <span style="background-color: #ffff00;">6</span> </p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 As per the JSON the users of belonging to Frankfurt Location will 
		 be authenticated by an external directory and the Authentication 
		 Directory Asset ID in Tuebora is 6.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Tuebora Authentication delegated to Directory 
		 is indicated by the key &quot;<span style="font-weight: bold;">authType</span>&quot; 
		 - <span style="font-weight: bold;">&quot;delegatedauth&quot;</span></p>
		<p class="TableText">&#160;</p>
		<p class="TableText">You can specify the Authentication Directory 
		 by specifying the Asset ID for the &quot;<span style="font-weight: bold;">authDataId</span>&quot;</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>. <br />
The RestClient shows <span style="font-weight: bold;">Status Code 201 Created</span><span 
	 style="font-weight: bold; color: #ff0000;"> </span>if the request 
 is processed successfully.</p>
 <h2><a name="Creating_Authentication_Rule_for_SSO"></a>Creating Authentication 
 Rule for SSO</h2>
 <p>You can create the Rule to authenticate the users by defining the conditions 
 when the portal authentication is delegated to a web SSO. For example, 
 Users located in Austin are authenticated by SSO. </p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>In <span 
	 style="font-weight: bold;">RESTClient</span>, define the following 
 Headers Key and Value:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Content-Type</span>: Select <span style="font-weight: bold;">application/json</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Define 
 the Authorization</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Type</span>: Basic Auth</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">User Name</span>: Specify the <span style="font-weight: bold;">Client 
 ID</span> generated for the client.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Password</span>: Specify the <span style="font-weight: bold;">Client 
 Secret</span> generated for the client.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Update</span> <span style="font-weight: bold;">Request</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">POST </span>as the <span style="font-weight: bold;">HTTP</span> 
 <span style="font-weight: bold;">Method</span>.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Specify 
 the following request body in the Body section:</p>
 <table class="Note" style="border: Solid 1px #000000;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr class="t1Row">
		<td class="t1st">
  <p style="margin-top: 5pt; margin-bottom: 5pt; 
							 margin-left: 0px;">{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;userFltrType&quot;: 
		 &quot;specific&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;userFilter&quot;: 
		 {</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;entityName&quot;: 
		 &quot;User&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;joinOperator&quot;: 
		 &quot;and&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;joinOperatorDisplay&quot;: 
		 &quot;AND&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;filters&quot;: 
		 [{</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;type&quot;: 
		 &quot;propfilter&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;entityName&quot;: 
		 &quot;User&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;prop&quot;: 
		 &quot;estr6&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;propDispName&quot;: 
		 &quot;<span style="background-color: #ffff00;">Location</span>&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;dataType&quot;: 
		 &quot;string&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;oper&quot;: 
		 &quot;seq&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;operDispName&quot;: 
		 &quot;Is&quot;,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;values&quot;: 
		 <span style="background-color: #ffff00;">&quot;Austin&quot;</span>,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;valueids&quot;: 
		 <span style="background-color: #ffff00;">&quot;Austin&quot;</span></p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}],</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;bitmaskFilters&quot;: 
		 null</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">},</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;authType&quot;: 
		 <span style="background-color: #ffff00;">&quot;saml&quot;</span>,</p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">&quot;authDataId&quot;: 
		 <span style="background-color: #ffff00;">2</span></p>
		<p style="margin-top: 5pt; margin-bottom: 5pt; margin-left: 0px;">}</p></td>
	</tr>
 </table>
 <p class="list">&#160;</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 &#160;As per the JSON the users of belonging to Austin Location 
		 will be authenticated by Single Sign-on (SSO).</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">Tuebora Authentication through SSO is indicated 
		 by the key &quot;<span style="font-weight: bold;">authType</span>&quot; 
		 - &quot;<span style="font-weight: bold;">saml&quot;</span></p>
		<p class="TableText">&#160;</p>
		<p class="TableText">You can specify the Authentication application 
		 by specifying the Asset ID for the &quot;<span style="font-weight: bold;">authDataId</span>&quot;</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Send</span>. <br />
The RestClient shows <span style="font-weight: bold;">Status Code 201 Created</span><span 
	 style="font-weight: bold; color: #ff0000;"> </span>if the request 
 is processed successfully.</p>
 <p class="list">&#160;</p>
 <table class="navigationhyperlink" cellspacing="0" 
											 width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>:<span 
		 style="color: #008000;"> <a 
		 href="Security.htm" style="color: #008000;">Portal Security Management</a></span></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span 
		 style="font-weight: bold;">Next</span>: <a 
		 href="Multi_Factor_Authentication.htm" style="color: #008000;"><span>Multi 
		 Factor Authentication</span></a> </p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
