
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Use Case Based User Guide - I have created Delegation Rule. How do I view my Delegated Certification Tasks?</title>
<link href="../../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "../..";
gCommonRootRelPath = "../..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../../First_Topic.htm" class="homelink"><img src="../../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../../First_Topic.htm" class="homelink"><span>Use Case Based User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1328">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../../First_Topic.htm"><img src="../../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>I have created Delegation Rule. How do I view my Delegated Certification 
 Tasks?</h1>
     <p>Your Certification Tasks, gets delegated if you have created Delegation 
 Rule to delegate Certification tasks and the rule must be currently running. 
 </p>
     <p>The delegated tasks are displayed in <span style="font-weight: bold;">Delegated 
 Tasks</span> page. This page will display tasks only for the <span style="font-weight: bold;">Delegator</span>. 
 </p>
     <p class="list" style="color: VeryDarkBlue; font-weight: bold; margin-left: 0pt;"><span><span 
	 style="color: VeryDarkBlue; font-weight: bold;">Navigation</span></span></p>
     <table class="Navigation" style="border: Solid 1px #000000; margin-left: 24px; 
		 left: 0px; top: 1222px; height: 27px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 26px;">
		<td>
  <p class="TableText" style="mso-bidi-font-weight: normal; font-style: normal; 
				 font-weight: normal;">You can navigate to <span style="font-weight: bold;">Delegated 
		 Tasks </span>page by selecting <span style="font-weight: bold;">My 
		 Tasks &gt; Delegated Tasks</span></p></td>
	</tr>
 </table>
 <p><br />
Following figure shows an example <span style="font-weight: bold;">Delegated 
 Tasks</span> page.</p>
 <p><span style="color: #ff0000;">&lt;image&gt;<br />
</span><br />
From Delegated Tasks page, you can view the following:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Delegated 
 Task Type</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Details 
 of the Task delegated</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Name 
 of the delegatee to whom the tasks are delegated<br />
<br />
If the Delegator has delegated the tasks to 2 users, then in this view 
 you will see entry for tasks assigned to different delegates. For example, 
 if 20 tasks are assigned to 2 Users, then you will see 40 tasks in this 
 view. <br />
<br />
Displaying delegated tasks based on delegates is useful, if you want to 
 cancel delegation for one user and retain for another user. </p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Data 
 on which the tasks are delegated</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Delegation 
 rule due to which the tasks are delegated</p>
 <h2>Using the Delegated Tasks page</h2>
 <p>Delegator can use the Delegated Tasks page to perform the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Search_required_Delegated_Tasks">Search 
	 Delegated Task</a></p></li>
	<li>
 <p class="list"><a href="../../../../IAM Suite 1.14/Governance UserGuide/Delegation.htm#Filter_the_records_by_Period">Filter 
	 Delegated Tasks by Period</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_Task_Details">View Task Details</a></p></li>
	<li>
 <p class="list"><a href="#View_Delegation_Rule_Details">View Delegation 
	 Rule Details</a></p></li>
	<li>
 <p class="list"><a href="#Exporting_Delegated_Tasks_to_PDF_or_XLS">Generate 
	 Delegated Tasks report in PDF or XLS</a></p></li>
</ul>
<h3><a name="Search_required_Delegated_Tasks"></a>Search required Delegated 
 Tasks</h3>
<p>The <span style="font-weight: bold;">Delegated Tasks</span> page lists 
 all the tasks delegated from a delegator. At times, if delegation rules 
 are created for long duration or all types of tasks are delegated, then 
 it may be difficult to browse through all the tasks to find the task you 
 require. The portal provides the functionality to search for required 
 delegated task in the system. The page has a <span style="font-weight: bold;">Search</span> 
 box, where you can provide the search criteria. When a valid search criteria 
 is provided, the page refreshes to display only those tasks matching the 
 search criteria. </p>
<p>The portal supports to following criteria for task search: </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Task 
 Type</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Task 
 Details - specify the entity (User, Group, Role, Asset) name</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Name 
 of the Delegatee<span style="text-indent: -20px;"> </span></p>
<h3><a name="Filter_Delegated_Tasks_by_Period"></a>Filter Delegated Tasks 
 by Period</h3>
<p>When you search delegated tasks, it may display too many records, based 
 on the number of records to display. You may want to further drill down 
 and view only the required tasks. The portal provides the <span style="font-weight: bold;">Limit 
 To </span>functionality to narrow down results. </p>
<p>The supported options to filter delegated tasks are as follows:</p>
<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Blank 
 Selection - Indicates all delegated tasks</p>
<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Last 
 24 Hours - Lists tasks delegated in last 24 hours</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Last 
 1 Week - Lists tasks delegated in last 1 week</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Last 
 15 Days - Lists tasks delegated in last 15 days</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Last 
 30 Days - Lists tasks delegated in last 30 days</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Last 
 60 Days - Lists tasks delegated in last 60 days</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Beyond 
 60 Days - Lists tasks delegated beyond 60 days.</p>
<h3><a name="Viewing_Task_Details"></a>Viewing Task Details</h3>
<p>Delegator can view the details of the tasks that are delegated using 
 the <span style="font-weight: bold;">View Tasks</span> option.<br />
<br />
To view the task details, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; My Tasks &gt; Delegated Tasks</span>.<br />
The <span style="font-weight: bold;">Delegated Tasks</span> page opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the task for which you want to view details.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>The Tasks 
 Details page opens.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>For Certification 
 tasks, details page displayed is <span style="font-weight: bold;">Task 
 Details</span>. You can view the how the task is assigned, whether directly 
 as certifier or through delegation from Access Governance History tab.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>For Comment 
 tasks you can view the <span style="font-weight: bold;">Task Details</span>.</p>
<h3><a name="View_Delegation_Rule_Details"></a>View Delegation Rule Details</h3>
<p>You can view the information of delegation rule due to which the task 
 is delegated. To view the delegation rule information, click <span style="font-weight: bold;">View 
 Rule </span>corresponding to the required delegated task. The <span style="font-weight: bold;">Delegation 
 Rule Details</span> sub-window opens.<br />
<br />
Following figure shows an example <span style="font-weight: bold;">Delegation 
 Rule Details</span> sub-window displayed for one of the delegated task.<br />
<br />
<span style="color: #ff0000;">&lt;&lt;Image&gt;&gt;</span></p>
<h3><a name="Exporting_Delegated_Tasks_to_PDF_or_XLS"></a>Exporting Delegated 
 Tasks to PDF or XLS</h3>
<p>You can generate a PDF/Excel report of all your delegated tasks from 
 the My Tasks - Delegated Tasks page.</p>
<p>To generate the report, perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; My Tasks &gt; Delegated Tasks</span>.<span 
	 style="font-weight: bold;"> </span><br />
The <span style="font-weight: bold;">Delegated Tasks </span>page opens.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="../../Request/Images/Icon_PDF.png" alt="" style=" border:none; width:100%; max-width:24px;" border="0" />or <img src="../../Request/Images/Icon_XLS.png" alt="" style=" border:none; width:100%; max-width:24px;" border="0" /> to generate 
 a PDF or Excel version of the report, respectively. <br />
System displays a message that the report is being generated.<br />
After generating the report, it is saved on your system .</p>
<table class="TwoColumnNOTETable" style="left: 0px; top: 9330px; height: 20px;" 
		 cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="../../Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="mso-bidi-font-weight: normal; mso-add-space: auto;">If 
		 the report size exceeds the </span><span style="font-weight: bold;">Export</span><span 
		 style="mso-bidi-font-weight: normal; mso-add-space: auto;"> </span><span 
		 style="font-weight: bold;">Limit</span><span style="mso-bidi-font-weight: normal; 
														 mso-add-space: auto;">, 
		 a message appears suggesting to refine the search to export the 
		 data.</span></p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 50px; 
											 margin-top: 7pt; margin-bottom: 7pt; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close</span> in the pop-up that appears 
 stating that the report is generated.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span>Open 
 the report to view the contents.</span></p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
