
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Use Case Based User Guide - How do I view the Request Tasks assigned for taking action?</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../First_Topic.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../First_Topic.htm" class="homelink"><span>Use Case Based User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="3872">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../First_Topic.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>How do I view the Request Tasks assigned for taking action?</h1>
     <p>Request Approval Tasks will be assigned for approval if request approval 
 is configured in your deployment and you are one of the approver.</p>
     <p>You can view all the request approval tasks assigned to you from <span 
	 style="font-weight: bold;">My Tasks - Approvals</span> page.</p>
     <p class="list" style="color: VeryDarkBlue; font-weight: bold; margin-left: 0pt;"><span 
	 style="color: VeryDarkBlue; font-weight: bold;"><span style="color: VeryDarkBlue; 
															 font-weight: bold;">Navigation</span></span></p>
     <table class="Navigation" style="border: Solid 1px #000000; margin-left: 24px; 
		 left: 0px; top: 1222px; height: 27px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 26px;">
		<td>
  <p class="TableText" style="mso-bidi-font-weight: normal; font-style: normal; 
				 font-weight: normal;">You can navigate to <span style="font-weight: bold;">Request 
		 Approval Tasks</span> page by selecting <span style="font-weight: bold;">My 
		 Tasks &gt; Approvals</span></p></td>
	</tr>
 </table>
 <p>From this page you can perform the following:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Viewing_Access_Approval_Tasks">Viewing 
	 Access Approval Tasks</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_details_of_an_Access_Request">Viewing 
	 details of an Access Request</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_Approval_Task_History">View Approval 
	 Task History</a></p></li>
	<li>
 <p class="list"><a href="#Search_required_Requests">Search Requests</a></p></li>
	<li>
 <p class="list"><a href="#Filtering_Requests_by_Period">Filter 
	 Requests by Period</a></p></li>
	<li>
 <p class="list"><a href="#Grouping_Displayed_Results">Group Results 
	 Displayed</a></p></li>
</ul>
<h2 class="list"><a name="Viewing_Access_Approval_Tasks" id="Viewing_Access_Approval_Tasks"></a>Viewing 
 Access Approval Tasks</h2>
<p>&#160;If you are an approver who must approve the Access Requests, the 
 Access Approval tasks are listed on the <span style="font-weight: bold;">My 
 Tasks - Approval</span> page.</p>
<p>Following figure shows an example <span style="font-weight: bold;">My 
 Tasks</span> - <span style="font-weight: bold;">Approval</span> page.</p>
<p><img src="Images/RequestApproval2.png" alt="" style=" border:none; width:100%; max-width:750px;" border="0" /></p>
<p>From the <span style="font-weight: bold;">My Tasks - Approval</span> 
 page, you view the following:</p>
<p style="
margin-top:5pt;
margin-bottom:5pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 the Approver Level (<img src="Images/Icon_ApproverLevel.png" alt="" style=" border:none; width:100%; max-width:34px;" border="0" /> ) icon displayed in <span style="font-weight: bold;">Approvals</span> 
 column to view the name of the Approver.</p>
<p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Request 
 ID. You can click the <img src="Images/Icon_Info.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" /> icon to view <a href="#Viewing_details_of_an_Access_Request">details 
 of an Access request</a>. </p>
<p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Summary 
 of the Request. Shows the access that is being requested</p>
<p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Request 
 creation Date and time</p>
<p>An Approver for an Access Request can Approve or Reject the request 
 after validation. Sometimes, before approving or rejecting the Access 
 requested, Approver can request additional information from the Access 
 Requestor or any other user to validate the request. </p>
<h2><a name="Viewing_details_of_an_Access_Request"></a>Viewing details 
 of an Access Request</h2>
<p>In My Tasks - Approval page, a user can view the details for each request 
 assigned for approval.</p>
<p style="margin-top: 3pt; margin-bottom: 3pt;">To view the request details, 
 click the information (<img src="Images/Icon_Info.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" />) icon displayed for <span style="font-weight: bold;">Request 
 ID</span>. System opens the <span style="font-weight: bold;">Request Details</span> 
 window and displays the following details: </p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p style="margin-top: 3pt; margin-bottom: 3pt;"><span 
	 style="font-weight: bold;">Request item</span> for which the request 
	 details is being viewed</p></li>
	<li style="margin-left: -20px; font-weight: bold;">
 <p style="margin-top: 3pt; 
															 margin-bottom: 3pt;">Type 
	 <span style="font-weight: normal;">of the Request</span></p></li>
	<li style="margin-left: -20px;">
 <p style="margin-top: 3pt; margin-bottom: 3pt;"><span 
	 style="font-weight: bold;">Status</span> of the request</p></li>
	<li style="margin-left: -20px;">
 <p style="margin-top: 3pt; margin-bottom: 3pt;"><span 
	 style="font-weight: bold;">Request Date</span> </p></li>
	<li style="font-weight: bold; margin-left: -20px;">
 <p style="margin-top: 3pt; 
															 margin-bottom: 3pt;">Name 
	 of the Requestor</p></li>
	<li style="font-weight: bold; margin-left: -20px;">
 <p style="margin-top: 3pt; 
															 margin-bottom: 3pt;">Duration 
	 <span style="font-weight: normal;">for which the access is requested</span></p></li>
	<li style="margin-left: -20px;">
 <p style="margin-top: 3pt; margin-bottom: 3pt;"><span 
	 style="font-weight: bold;">Justification</span> provided for the request</p></li>
	<li style="margin-left: -20px;">
 <p style="margin-top: 3pt; margin-bottom: 3pt;"><span 
	 style="font-weight: bold;">Additional information</span>, if provided 
	 while requesting the access. </p></li>
</ul>
<h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Viewing_Approval_Task_History" 
													 id="Viewing_Approval_Task_History"></a>Viewing 
 Approval Task History</h3>
<p>In Tuebora Portal, details of actions taken on Approval Tasks are logged 
 for future reference. Use the <span style="font-weight: bold;">Task</span> 
 <span style="font-weight: bold;">History</span> option, to view the details 
 of actions taken on the requested Access. For more information, refer 
 to <a href="../Generic/Governnce_Common_UI/Viewing_the_Task_History.htm">Viewing 
 the Task History of a Approval Task</a>. <span style="text-indent: -20px;">Following 
 figure shows an example Task History window displayed for an Access<br />
<br />
<br />
In the </span><span style="text-indent: -20px; font-weight: bold;">Task</span><span 
	 style="text-indent: -20px;"> </span><span style="text-indent: -20px; 
												 font-weight: bold;">History</span><span 
	 style="text-indent: -20px;"> subwindow, you can view details, such 
 as name of the Final Approver, Approver Level, date, and time of approving 
 or rejecting the Access. For an Access Request that is approved or rejected 
 through email, the </span><span style="text-indent: -20px; font-weight: bold;">Task</span><span 
	 style="text-indent: -20px;"> </span><span style="text-indent: -20px; 
												 font-weight: bold;">History</span><span 
	 style="text-indent: -20px;"> also shows a </span><span style="text-indent: -20px; 
															 font-weight: bold;">Comment</span><span 
	 style="text-indent: -20px;"> that the action is taken through email.</span></p>
<h3><a name="Search_required_Requests"></a>Search required Requests</h3>
<p>The <span style="font-weight: bold;">My Tasks - Approval </span>page 
 lists all pending approval tasks. It may be difficult to browse through 
 all records to find the task details you require. <span style="line-height: normal; 
														 orphans: auto; 
														 widows: 1; -webkit-text-stroke-width: 0px;">Tuebora 
 portal</span> provides the functionality to search for required task in 
 the system. The page has a <span style="font-weight: bold;">Search</span> 
 box, where you can provide the search criteria. When a valid search criteria 
 is provided, the page refreshes to display only those tasks matching the 
 search criteria. You can also choose to search requests created in a specific 
 time period.</p>
<p>The following criteria are supported to search requests:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">Requestor</p></li>
	<li>
 <p class="list">Requestee</p></li>
	<li>
 <p class="list">Requested data</p></li>
</ul>
<h3><a name="Filtering_Requests_by_Period"></a>Filtering Requests by Period</h3>
<p>When you filter, search, group requests, it may display too many records. 
 In this case you can filter the data by specifying the period. The feature 
 provides the <span style="font-weight: bold;">Limit To </span>functionality 
 to narrow down results. Supported option to filter requests by period 
 are:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Today</span> - 
	 Filters the requests that are submitted on that day.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Yesterday</span> 
	 - Filters the requests that are submitted a day before the current 
	 day.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Last 7 Days</span> 
	 - Filters the requests that are submitted in last 7 days (including 
	 current day).</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Last 30 Days</span> 
	 - Filters the requests that are submitted in last 30 days (including 
	 current day).</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Current Month</span> 
	 - Filters the requests that are submitted in the current month.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Last Month</span> 
	 - Filters the requests that are submitted in previous month. </p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Year to Date</span> 
	 - Filters the requests that are submitted in the current year till 
	 the current date</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Custom Range</span> 
	 - Filters the records based on the custom period defined.<br />
	<br />
	<span style="font-weight: bold;">Example</span> - You want to view 
	 all requests submitted between 4 and 21 November 2019. Click Custom 
	 Range and specify the date range and click <span style="font-weight: bold;">Apply</span>.</p></li>
</ul>
<h3><a name="Grouping_Displayed_Results"></a>Grouping Displayed Results</h3>
<p>The <span style="font-weight: bold;">All Requests</span> page displays 
 all requests created in the system in chronological order. You may want 
 to view requests grouped by some criteria. For example, you may want to 
 group the requests based on the user who has created the request (Requested 
 by) in the system. You can select the required <span style="font-weight: bold;">Group 
 by</span> option to view the grouped results on the page.</p>
<p>The supported options to group requests are as follows:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">None</span> - 
	 By default this option is selected. This option lists all requests 
	 created in the system &#160;in chronological order.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Asset</span> - 
	 Grouped based on the Asset in which the access is requested.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Requested by</span> 
	 - Grouped based on the user who has created the request in the portal.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Request</span> 
	 <span style="font-weight: bold;">Type</span> - Grouped based on the 
	 type of access requested. Request type can be - Access in one or more 
	 Asset</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Requested</span> 
	 <span style="font-weight: bold;">on</span> - Grouped based on the 
	 date on which the request is created in the portal.</p></li>
</ul>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
