
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Use Case Based User Guide - How do I request access on someone's behalf?</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../First_Topic.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../First_Topic.htm" class="homelink"><span>Use Case Based User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="3824">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../First_Topic.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>How do I request access on someone's behalf?</h1>
     <p>If you are an owner for any application integrated for Access management 
 in Tuebora, then you can request access for any user in the system.</p>
     <p style="font-weight: bold;"><span style="font-weight: bold;">Scenario</span></p>
     <p style="font-weight: bold;">Eric Hill <span style="font-weight: normal;">is 
 Asset Owner for Corporate Active Directory Asset. Eric is requesting membership 
 in </span>Account Operators<span style="font-weight: normal;"> for </span>Adam<span 
	 style="font-weight: normal;"> </span>Grey<span style="font-weight: normal;">. 
 In Corporate Active Directory, Adam has 2 accounts and access is being 
 requested for </span>AGREYEMP01 <span style="font-weight: normal;">account. 
 </span></p>
     <p style="margin-top: 6pt; margin-bottom: 6pt; margin-left: 0pt; font-weight: bold; 
	 color: VeryDarkBlue;">Navigation</p>
     <table class="Navigation" style="margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 106px;">
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">Access</span> 
		 <span style="font-weight: bold;">Request</span> feature, select 
		 any <span style="font-weight: bold;">ONE</span><span style="font-style: italic;"> 
		 </span>of the following:</p>
		<ul style="list-style: disc;">
			<li>
   <p class="list" style="margin-top: 5pt; margin-bottom: 5pt; 
					 font-weight: bold;">Quick Access (<img src="Images/Icon_QuickAccess.png" alt="" style=" border:none; width:100%; max-width:30px;" border="0" />) 
			 &gt; New Request</p></li>
			<li>
   <p class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><span 
			 style="font-weight: bold;">My Requests &gt; </span><span style="font-weight: bold;">New 
			 Request</span></p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style="margin-top: 6pt; margin-bottom: 6pt;">&#160;</p>
<p class="list" style="margin-top: 6pt; margin-bottom: 6pt;">To create 
 new request, perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 6pt; 
											 margin-bottom: 6pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">New Request </span>at the top right corner 
 of the page. <br />
<br />
<b style="font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" style="mso-bidi-font-weight: normal; 
										 font-weight: normal;">The</span> 
 <span style="font-weight: bold;">New Request</span> <span lang="EN-US" 
															 xml:lang="EN-US" 
															 style="mso-bidi-font-weight: normal; 
															 font-weight: normal;">page 
 opens and displays the first step in New Request wizard flow.</span></b></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 what you want to request, in the <span style="font-weight: bold;">Step 
 1 - Request Type</span>.<br />
<br />
Tuebora provides one out of the box request type - <span style="font-weight: bold;">Access 
 in one or more Assets</span>. <br />
<br />
In you deployment, if custom request types are added and allowed to request 
 access of that type, then this page lists those request types.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">S</span>elect the type of Access to 
 be requested, in the <span style="font-weight: bold;">Specify Access you 
 want to Request</span> section. <br />
<br />
Based on the request type selected, system loads the next Wizard steps.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>.<br />
The <span style="font-weight: bold;">Step 2 - User Selection</span> UI 
 is displayed.</p>
<p class="list" style="
margin-top:6pt;
margin-bottom:6pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the Users for whom the access must be requested in the <span style="font-weight: bold;">Specify 
 for whom Request is being made</span> section.<br />
<br />
To select the user you can:</p>
<p style="
margin-top:6pt;
margin-bottom:6pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 Users using <span style="font-weight: bold;">These Users</span> option.</p>
<p style="
margin-top:6pt;
margin-bottom:6pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 Users matching certain criteria using <span style="font-weight: bold;">User(s) 
 matching this criteria</span> </p>
<p class="list" style="
margin-top:6pt;
margin-bottom:6pt; margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold; text-decoration: underline; ">These</span><span 
	 style="text-decoration: underline; "> </span><span style="font-weight: bold; 
														 text-decoration: underline; ">Users</span>. 
 The <span style="font-weight: bold;">Select Users</span> sub-window opens.<br />
<br />
To select users, perform the following:</p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Type 
 the search criteria in the <span style="font-weight: bold;">Search by 
 Name, Department, Email Address, Employee ID, Employee Type, Job Title 
 </span>field and click <span style="font-weight: bold;">Search</span> 
 icon.<br />
The users matching the criteria are listed.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 check box corresponding to the required User and click <span style="font-weight: bold;">Add</span> 
 <span style="font-weight: bold;">Selected</span>.</p>
<p style=" margin-left: 120px; text-indent: -20px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Save</span> <span style="font-weight: bold;">changes</span>.<br />
The selected users are added and displayed for<span style="font-weight: bold;"> 
 These Users </span><span lang="EN-US" xml:lang="EN-US">option.</span></p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click </span><span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">this 
 criteria</span><span lang="EN-US" xml:lang="EN-US">. The </span><span 
	 lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Select Users</span><span 
	 lang="EN-US" xml:lang="EN-US"> sub-window opens.</span><br />
<br />
To select users matching the criteria, perform the following:</p>
<p style="text-indent: -20px; 
											 margin-left: 120px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 how the criteria is applied, from the drop-down list available in <span 
	 style="font-weight: bold;">Include Accounts that match</span> <span 
	 style="font-weight: bold;">All/Any</span> <span style="font-weight: bold;">of 
 the following criteria:</span></p>
<p style="text-indent: -20px; 
											 margin-left: 140px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">All</span> - Select this option to include 
 the users that match all the defined criteria.</p>
<p style="text-indent: -20px; 
											 margin-left: 140px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Any</span> - Select this option to include 
 the users that match any of the defined criteria.</p>
<p style="text-indent: -20px; 
											 margin-left: 120px;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">Custom Filter</span>. <br />
<br />
The fields to define the criteria appear.</p>
<p style="text-indent: -20px; 
											 margin-left: 120px;">(iii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Define 
 the criteria by specifying values from the drop-down list and create the 
 filter.</p>
<p style="text-indent: -20px; 
											 margin-left: 120px;">(iv)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>To add 
 rows, click <img src="Images/Icon_Add.png" alt="" style=" border:none; width:100%; max-width:17px;" border="0" />.</p>
<p style="text-indent: -20px; 
											 margin-left: 120px;">(v)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>After 
 selecting the criteria, click <span style="font-weight: bold;">Save changes</span>.<br />
The selected criteria are added and displayed for<span style="font-weight: bold;"> 
 User(s) which match following criteria </span><span lang="EN-US" xml:lang="EN-US">option.</span></p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>.<br />
The <span style="font-weight: bold;">Step 3 - Access Selection</span> UI 
 is displayed.<br />
</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><b style="mso-bidi-font-weight: normal;"><span 
	 lang="EN-US" xml:lang="EN-US" style="font-weight: normal;">Click</span></b> 
 <b style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold;">These 
 Access in these Assets </span><span lang="EN-US" xml:lang="EN-US" style="font-weight: normal;">hyperlink.</span> 
 <br />
<br />
<span lang="EN-US" xml:lang="EN-US" style="font-weight: normal;">The</span></b> 
 <span lang="EN-US" xml:lang="EN-US"><b style="mso-bidi-font-weight: normal;">Specify 
 Access in Assets</b> sub-window opens.</span><br />
<br />
This sub-window lists all access in all assets that are integrated with 
 Tuebora Portal and access details are imported for those Assets. <br />
<br />
To select the required Access perform the following:</p>
<p style=" margin-left: 120px; text-indent: -20px;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required Access and click <span style="font-weight: bold;">Add 
 Selected Access</span>. <br />
<br />
Added access are displayed in <span style="font-weight: bold;">Selected 
 Access</span> section.</p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="../Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 To remove an added Access, click <img src="Images/Icon_Remove.png" alt="" style=" border:none; width:100%; max-width:13px;" border="0" /> displayed 
		 next to the added Access. If you want to remove all the added 
		 Access at once, click <img src="Images/Icon_Delete.png" alt="" style=" border:none; width:100%; max-width:15px;" border="0" /> 
		 displayed next to <span style="font-weight: bold;">Access</span> 
		 column.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Save</span> 
 <span style="font-weight: bold;">c</span><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold;">hanges</span> 
 <b style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: normal;">to 
 save the configuration</span></b><span lang="EN-US" xml:lang="EN-US">. 
 The sub-window closes.</span><br />
The Access is added and displayed for <span lang="EN-US" xml:lang="EN-US" 
											 style="font-weight: bold;">These 
 Access in these Assets</span> <span lang="EN-US" xml:lang="EN-US">option.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Next</span>.<br />
The <span style="font-weight: bold;">Step 4 - Additional Information UI</span> 
 is displayed.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the justification for the Access 
 requested in the</span> <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Specify 
 Justification for this Request</span> <span lang="EN-US" xml:lang="EN-US">section. 
 </span></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Required to perform Job Function</span> 
 - Select this option, if the Access is required for performing job functions.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="../Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>:<span 
		 style="font-weight: bold;"> Required to perform tasks on behalf 
		 of these Users -</span> Select this option, if the Access is required 
		 to perform tasks on behalf of specific users. To specify users, 
		 click <span style="font-weight: bold; text-decoration: underline; ">these 
		 Users</span>.<br />
		<br />
		The selected users are displayed for <span style="font-weight: bold;">Required 
		 to perform tasks on behalf of someone these Users</span> option.</p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 the duration for which the Access in required in the <span style="font-weight: bold;">Specify 
 Duration for which this Access is Requested</span> field.<br />
You can request Access for <span style="font-weight: bold;">Indefinite</span> 
 or <span style="font-weight: bold;">Temporary</span> period.</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Indefinite period</span> - If you want 
 the Access for a very long period or always, perform the following:</p>
 <p style="text-indent: -20px; 
											 margin-left: 130px; margin-top: 5pt; 
											 margin-bottom: 5pt;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;"><b 
	 style="mso-bidi-font-weight: normal; font-weight: bold;">Now</b>/</span><b 
	 style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold;">Date</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: normal;">in</span> 
 </b><span lang="EN-US" xml:lang="EN-US">the <b style="mso-bidi-font-weight: normal;">From</b> 
 field.</span><br />
<span lang="EN-US" xml:lang="EN-US">If you select <b style="mso-bidi-font-weight: normal;">Date</b></span><b 
	 style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: normal;">, 
 a</span></b> <span lang="EN-US" xml:lang="EN-US">field appears. Click 
 the field to view the calendar.</span> <span lang="EN-US" xml:lang="EN-US" 
												 style="mso-bidi-font-weight: normal;">S</span><span 
	 lang="EN-US" xml:lang="EN-US"><b style="mso-bidi-font-weight: normal; 
										 font-weight: normal;">elect</b></span> 
 <span lang="EN-US" xml:lang="EN-US">the d<b style="mso-bidi-font-weight: normal; 
											 font-weight: normal;">ate</b> 
 and time</span> <span lang="EN-US" xml:lang="EN-US">from when the Access 
 is required.</span></p>
 <p style="text-indent: -20px; 
											 margin-left: 130px; margin-top: 5pt; 
											 margin-bottom: 5pt;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US" style="mso-list: l0 level1 lfo1;">Select 
 <b style="mso-bidi-font-weight: normal;">Indefinite</b></span> <b style="mso-bidi-font-weight: normal;"><span 
	 lang="EN-US" xml:lang="EN-US" style="mso-list: l0 level1 lfo1; font-weight: normal;">in 
 the</span> <span lang="EN-US" xml:lang="EN-US" style="mso-list: l0 level1 lfo1; 
					 font-weight: bold;">until</span> <span lang="EN-US" 
															 xml:lang="EN-US" 
															 style="mso-list: l0 level1 lfo1; 
															 font-weight: normal;">field.</span> 
 </b></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Temporary period</span> - If you want the 
 Access for few days, perform the following:</p>
 <p style="text-indent: -20px; 
											 margin-left: 130px; margin-top: 5pt; 
											 margin-bottom: 5pt;">(i)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;"><b 
	 style="mso-bidi-font-weight: normal; font-weight: bold;">Now</b>/</span><b 
	 style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold;">Date</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: normal;">in</span> 
 </b><span lang="EN-US" xml:lang="EN-US">the <b style="mso-bidi-font-weight: normal;">From</b> 
 field.</span><br />
<span lang="EN-US" xml:lang="EN-US">If you select <b style="mso-bidi-font-weight: normal;">Date</b></span><b 
	 style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: normal;">, 
 a</span></b> <span lang="EN-US" xml:lang="EN-US">field appears. Click 
 the field to view the calendar.</span> <span lang="EN-US" xml:lang="EN-US" 
												 style="mso-bidi-font-weight: normal;">S</span><span 
	 lang="EN-US" xml:lang="EN-US"><b style="mso-bidi-font-weight: normal; 
										 font-weight: normal;">elect</b></span> 
 <span lang="EN-US" xml:lang="EN-US">the d<b style="mso-bidi-font-weight: normal; 
											 font-weight: normal;">ate</b> 
 and time from when the Access is required.</span></p>
 <p style="text-indent: -20px; 
											 margin-left: 130px; margin-top: 5pt; 
											 margin-bottom: 5pt;">(ii)<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Date</span> 
 <span lang="EN-US" xml:lang="EN-US">in the</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">until</span> 
 <span lang="EN-US" xml:lang="EN-US">filed.</span><br />
<span lang="EN-US" xml:lang="EN-US">If you select <b style="mso-bidi-font-weight: normal;">Date</b></span><b 
	 style="mso-bidi-font-weight: normal;"><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: normal;">, 
 a</span></b> <span lang="EN-US" xml:lang="EN-US">field appears. Click 
 the field to view the calendar.</span> <span lang="EN-US" xml:lang="EN-US" 
												 style="mso-bidi-font-weight: normal;">S</span><span 
	 lang="EN-US" xml:lang="EN-US"><b style="mso-bidi-font-weight: normal; 
										 font-weight: normal;">elect</b></span> 
 <span lang="EN-US" xml:lang="EN-US">the d<b style="mso-bidi-font-weight: normal; 
											 font-weight: normal;">ate</b> 
 and time till when the Access is required.</span></p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="../Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 <span style="mso-add-space: auto;">In</span> <span style="mso-add-space: auto; 
															 font-weight: bold;">From</span> 
		 <span style="mso-add-space: auto; font-weight: bold;">Date</span> 
		 <span style="mso-add-space: auto;">field, if you select the option:</span></p>
		<ul style="list-style: disc;">
			<li style="font-size: 9pt;">
   <p class="list" style="margin-top: 2pt; 
											 margin-bottom: 2pt; font-size: 9pt;"><span 
			 style="font-weight: bold;">Now</span> - System grants Access 
			 to user immediately after the Access is approved.</p></li>
			<li style="font-size: 9pt;">
   <p class="list" style="margin-top: 2pt; 
											 margin-bottom: 2pt; font-size: 9pt;"><span 
			 style="font-weight: bold;">Date</span> - System grants Access 
			 to the user on the specified date.</p></li>
		</ul></td>
	</tr>
</table>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Provide 
 additional information, if required, in <span style="font-weight: bold;">Specify 
 Additional Info for this Request</span> field.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">12.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>C<span 
	 lang="EN-US" xml:lang="EN-US">lick </span><span lang="EN-US" xml:lang="EN-US" 
													 style="mso-bidi-font-weight: normal; 
													 font-weight: bold;">Submit</span><span 
	 lang="EN-US" xml:lang="EN-US" style="mso-bidi-font-weight: normal;"> 
 </span><span lang="EN-US" xml:lang="EN-US" style="mso-bidi-font-weight: normal; 
				 font-weight: bold;">Request</span><span lang="EN-US" xml:lang="EN-US">.</span> 
 <br />
When user has only one account in Governed Asset in which Access is being 
 requested, the system submits the request for evaluation.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">13.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>A pop-up 
 appears stating that the system is evaluating the request.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">14.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>After 
 evaluating the request, system creates the Access Request.</p>
<h2>What Happens?</h2>
<p class="list">If approval process is set in Tuebora, after creating the 
 request the following will happen:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Created 
 Request is displayed in <span style="font-weight: bold;">My Requests</span> 
 page.<br />
<br />
If a request contains more than one request item then for each request 
 item is signed with a request Id and request items are displayed as flat 
 list.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>System 
 create Request Approval Tasks and assigns to Level 1 approvers</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Two alerts 
 are sent to Level 1 approvers: &#160;</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Access 
 Request Alert - Gives information about who has created the request. </p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Access 
 Approval Tasks Alert - Gives information about the tasks assigned for 
 approval.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Two emails 
 are sent to Level 1 approvers:</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Access 
 Request email - Gives information about request who has created the request.</p>
<p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Access 
 Approval Tasks email - Gives information about the task assigned for approving.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Alert 
 is sent to the user on whose behalf you have requested the access, notifying 
 that a request is made on his/her behalf.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Approver 
 rejects or approves the request. </p>
<p class="list">If auto approval is set in Tuebora, after creating the 
 request the following will happen:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Newly 
 Created Request is displayed in My Requests page.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Request 
 gets auto approved.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Alert 
 is sent to the team member on whose behalf you have requested the access, 
 notifying that a request is made on his/her behalf.</p>
<h2 class="list">Related Topics</h2>
<ul style="list-style: disc;">
	<li>
 <p class="list"><a href="How_do_I_request_for_Self_.htm">How do 
	 I request for Self?</a></p></li>
	<li>
 <p class="list"><a href="How_do_I_request_access_on_behalf_of_peer_.htm">How 
	 do I request access on behalf of peer?</a></p></li>
	<li>
 <p class="list"><a href="How_do_I_request_access_on_behalf_of_Team_Member_.htm">How 
	 do I request access on behalf of Team Member?</a></p></li>
	<li>
 <p class="list"><a href="How_do_I_request_access_by_selecting_the_specific_account_in_an_Asset_.htm">How 
	 do I request access by selecting the specific account in an Asset?</a></p></li>
	<li>
 <p class="list"><a href="How_to_view_all_the_Requests_made_by_me_.htm">How 
	 to view the requests made by me?</a></p></li>
	<li>
 <p class="list"><a href="How_to_view_the_requests_made_by_others_onbehalf_of_me_.htm">How 
	 to view the requests made by others onbehalf of me?</a></p></li>
	<li>
 <p class="list"><a href="Request_Approval.htm">Request Approval</a></p></li>
</ul>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
