
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Use Case Based User Guide - How to view the Provide Info tasks assigned to me?</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../First_Topic.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../First_Topic.htm" class="homelink"><span>Use Case Based User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="4232">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../First_Topic.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>How to I view the Provide Info tasks assigned to me?</h1>
     <p>While acting on an <span lang="EN-US" xml:lang="EN-US">Access Request/Certifying 
 an Access, if Access Approver/Certifier is not able to decide, the approver/certifier 
 can</span> request more information <span lang="EN-US" xml:lang="EN-US">(justification 
 or comment) from users.</span> <span lang="EN-US" xml:lang="EN-US">You 
 must provide additional information, so that approver/certifier can act 
 on the Access Request or Certification Task.</span></p>
     <p><span lang="EN-US" xml:lang="EN-US">When the approver/certifier requests 
 for more information, Tuebora Portal creates </span><span lang="EN-US" 
															 xml:lang="EN-US" 
															 style="font-weight: bold;">Provide</span><span 
	 lang="EN-US" xml:lang="EN-US"> </span><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold;">Info</span><span 
	 lang="EN-US" xml:lang="EN-US"> tasks for users from whom the additional 
 information is requested.</span></p>
     <p><span lang="EN-US" xml:lang="EN-US">When the approver/certifier requests 
 additional information, you receive the </span><span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Comment</span><span 
	 lang="EN-US" xml:lang="EN-US"> </span><span lang="EN-US" xml:lang="EN-US" 
												 style="font-weight: bold;">Requested</span><span 
	 lang="EN-US" xml:lang="EN-US"> alert and an email. </span>For more 
 information about email received for providing additional information, 
 see <a href="../../../IAM Suite 1.14/Governance UserGuide/Email_Notifications.htm" 
		 style="color: Transparent;"><span class="URL">Email Notifications</span></a><span 
	 style="color: #ff0000;">.</span></p>
     <p>After receiving a <span style="font-weight: bold;">Comment</span> <span 
	 style="font-weight: bold;">Requested</span> alert, you must provide 
 information so that approver/certifier can take the required action. </p>
     <p><img src="Images/RequestApproval4.png" alt="" style=" border:none; width:100%; max-width:750px;" border="0" /></p>
     <p>The <span style="font-weight: bold;">My Tasks - Provide Info </span>page 
 displays the Certification and Access Approval tasks for which the certifier 
 or approver has requested additional information to make a decision.</p>
     <p>You can perform the following tasks on the <span style="font-weight: bold;">My 
 Tasks - Provide Info</span> page:</p>
     <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Viewing_the_Task_Details_of_a_Provide_Info_Task">Viewing 
	 the Task Details of a Provide Info Task</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Access_Analysis_of_a_Provide_Info_Task">Viewing 
	 the Access Analysis of a Provide Info Task</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_History_of_an_Access_Request_Task_That_Must_be_Fulfilled">Viewing 
	 the History of a Provide Info Task</a></p></li>
	<li>
 <p class="list"><a href="#Reassigning_a_Provide_Info_Task">Reassigning 
	 a Provide Info Task</a></p></li>
	<li>
 <p class="list"><a href="#Exporting_Provide_Info_Tasks_">Exporting 
	 Provide Info Tasks</a></p></li>
</ul>
<p style="margin-left: 0pt; font-weight: bold; color: VeryDarkBlue; margin-top: 5pt; 
	 margin-bottom: 5pt;">Navigation</p>
<table class="Navigation" style="margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">Provide 
		 Info </span>feature, select <span style="font-weight: bold;">MENU 
		 &gt; My Tasks &gt; Provide Info</span></p></td>
	</tr>
 </table>
<br style="page-break-before: always;" />

 <h3 style="margin-top: 6pt; margin-bottom: 6pt;"><a name="Viewing_the_Task_Details_of_a_Provide_Info_Task"></a>Viewing 
 the Task Details of a Provide Info Task</h3>
 <p style="margin-top: 5pt; margin-bottom: 5pt;">You can view the details 
 of a Provide Info task from the <span style="font-weight: bold;">View 
 &gt; View Task Detail</span> menu. The resultant <span style="font-weight: bold;">Provide 
 Info Task</span> page displays the details of task.&#160;&#160;For more 
 information, refer to <a href="../Generic/Governnce_Common_UI/Viewing_the_Task_Details.htm">Viewing 
 the Task Details of a Provide Info Task</a>.</p>
 <p style="margin-top: 5pt; margin-bottom: 5pt;">You can also provide the 
 requested information in the <b>Please provide relevant info here <span 
	 style="font-weight: normal;">field and click the </span><span style="font-weight: bold;">Submit 
 Info</span><span style="font-weight: normal;"> button.</span></b></p>
 <h3><a name="Viewing_the_Access_Analysis_of_a_Provide_Info_Task"></a>Viewing 
 the Access Analysis of a Provide Info Task</h3>
 <p>You can view the analysis of a Provide Info task from the <span style="font-weight: bold;">View 
 &gt; View Access Analysis</span> menu. The resultant <span style="font-weight: bold;">Analysis</span> 
 subwindow displays the analysis of the Provide Info task.</p>
 <p>&#160;For more information, refer to <a href="../Generic/Governnce_Common_UI/Viewing_the_Analysis_of_Access.htm">Viewing 
 the Analysis of a Provide Info Task</a>.</p>
 <h3><a name="Viewing_the_History_of_an_Access_Request_Task_That_Must_be_Fulfilled"></a>Viewing 
 the History of a Provide Info Task</h3>
 <p>You can view the history of a Provide Info task from the <span style="font-weight: bold;">View 
 &gt; View Requested Access History</span> menu. The resultant <span style="font-weight: bold;">Requested 
 Access History</span> subwindow displays the history related to this Provide 
 Info task.</p>
 <p>&#160;<img src="Images/RequestApproval6.png" alt="" style=" border:none; width:100%; max-width:757px;" border="0" /></p>
 <h3><a name="Reassigning_a_Provide_Info_Task"></a>Reassigning a Provide 
 Info Task</h3>
 <p>You can reassign a Provide Info task to another user. To do so, click 
 the <span style="font-weight: bold;">Reassign Task</span> button. The 
 resultant <span style="font-weight: bold;">Reassign Task</span> subwindow 
 allows you to reassign the Provide Info task.</p>
 <p>For more information, refer to <a href="../Generic/Governnce_Common_UI/Reassigning_a_Task.htm">Reassigning 
 a Provide Info Task</a>.</p>
 <h3><a name="Exporting_Provide_Info_Tasks_"></a>Exporting Provide Info 
 Tasks </h3>
 <p>You can export the details of the Provide Info tasks in PDF and Excel 
 formats. For more information, refer to <a href="../Generic/Governnce_Common_UI/Exporting_Reports_to_PDF_or_Excel_Format.htm">Exporting 
 Reports to PDF or Excel Format</a>. </p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
