
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Use Case Based User Guide - How to view the Requests that are Rejected?</title>
<link href="../template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="../template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="../default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="../template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "../template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "../template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "../template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "../template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "../template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "../template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "../template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "../template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "../template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "../template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "../template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "../template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = "..";
gCommonRootRelPath = "..";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="../ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="../First_Topic.htm" class="homelink"><img src="../template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="../First_Topic.htm" class="homelink"><span>Use Case Based User Guide</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="../template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="../template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="../template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="4328">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="../template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="../First_Topic.htm"><img src="../template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="../template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="../template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="../template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <h1>How to view the Rejected Request Approval Tasks?</h1>
     <p>The <span style="font-weight: bold;">My Task History - Rejections </span>page 
 displays all the Access Requests that you rejected. The rejected Access 
 Requests are displayed grouped by the user whose Access Requests you rejected.</p>
     <p>You can perform the following tasks on the <span style="font-weight: bold;">My 
 Task History - Rejections </span>page:</p>
     <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Viewing_the_Access_Analysis_of_an_Access_Approval_Task_That_was_Rejected">Viewing 
	 the Access Analysis of an Access Approval Task that was Rejected</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Escalation_History_of_an_Access_Approval_Task_That_was_Rejected">Viewing 
	 the Escalation History of an Access Approval Task that was Rejected</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_History_of_an_Access_Approval_Task_That_was_Rejected">Viewing 
	 the History of an Access Approval Task that was Rejected</a></p></li>
	<li style="color: #000000;">
 <p class="list"><a href="#View_details_for_the_Access_Approval_Task_that_was_Rejected">Viewing 
	 details of the task that was Rejected</a></p></li>
	<li>
 <p class="list"><a href="#Search_required_Requests">Search Requests</a></p></li>
	<li>
 <p class="list"><a href="#Filtering_Requests_by_Period">Filter 
	 Requests by Period</a></p></li>
	<li>
 <p class="list"><a href="#Grouping_Displayed_Results">Group Results 
	 Displayed</a></p></li>
	<li>
 <p class="list"><a href="#Generating_Requests_Rejections_Report">Generate 
	 Request Rejections Report</a></p></li>
</ul>
<p style="margin-left: 0pt;"><span><span style="font-weight: bold; color: VeryDarkBlue;"><span><span><span><span><span 
	 style="font-weight: bold;">N</span></span></span></span></span>avigation</span></span></p>
<table class="Navigation" style="border: Solid 1px #000000; margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access <span style="font-weight: bold;">Rejections 
		 </span>feature, select <span style="font-weight: bold;">My Task 
		 History &gt; Rejections</span>.</p></td>
	</tr>
 </table>
 <h3><a name="Viewing_the_Access_Analysis_of_an_Access_Approval_Task_That_was_Rejected"></a>Viewing 
 the Access Analysis of an Access Approval Task that was Rejected</h3>
 <p>You can view the analysis of an Access Requests that you rejected, from 
 the <span style="font-weight: bold;">View &gt; View Access Analysis</span> 
 menu. The resultant <span style="font-weight: bold;">Analysis</span> subwindow 
 displays the analysis of the Access.</p>
 <p>&#160;For more information, refer to <a href="../Generic/Governnce_Common_UI/Viewing_the_Analysis_of_Access.htm">Viewing 
 the Access Analysis of an Access Approval Task</a>.</p>
<br style="page-break-before: always;" />

 <h3><a name="Viewing_the_Escalation_History_of_an_Access_Approval_Task_That_was_Rejected"></a>Viewing 
 the Escalation History of an Access Approval Task That was Rejected</h3>
 <p>You can view the escalation history of an Access Requests that you rejected, 
 from the <span style="font-weight: bold;">View &gt; View Escalation History</span> 
 menu. The resultant <span style="font-weight: bold;">Escalation History</span> 
 subwindow displays all escalations related to this task.</p>
 <p>&#160;For more information, refer to <a href="../Generic/Governnce_Common_UI/Viewing_the_Escalation_History.htm">Viewing 
 the Escalation History of an Access Approval Task</a>.</p>
 <h3><a name="Viewing_the_History_of_an_Access_Approval_Task_That_was_Rejected"></a>Viewing 
 the History of an Access Approval Task that was Rejected</h3>
 <p>You can view the history of the Access Requests that you rejected, from 
 the <span style="font-weight: bold;">View &gt; View Task History</span> 
 menu. The resultant <span style="font-weight: bold;">Task History</span> 
 subwindow displays the history related to the Access Approval task.</p>
 <p>&#160;For more information, refer to <a href="../Generic/Governnce_Common_UI/Viewing_the_Task_History.htm">Viewing 
 the Task History of an Access Approval Task</a>.</p>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="View_details_for_the_Access_Approval_Task_that_was_Rejected"></a>View 
 details for the Access Approval Task that was Rejected</h3>
 <p style="margin-top: 5pt; margin-bottom: 5pt;">In <span style="font-weight: bold;">My 
 Task History - Rejections </span>page, request approvers can view the 
 details for requests that are rejected by them.</p>
 <p style="margin-top: 5pt; margin-bottom: 5pt;">You can view the following 
 details on the page:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Number 
 of Approvals for a request. Click the Approver Level (<img src="Images/Icon_RejectLevel.png" alt="" style=" border:none; width:100%; max-width:34px;" border="0" />) 
 icon displayed in <span style="font-weight: bold;">Approvals</span> column 
 to view the name of the Approver.</p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>ID 
 Associated with the request item. </p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Summary 
 of the Request. Shows the access that is being requested.</p>
 <p style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Date 
 and time at which the request is created.</p>
 <p style="margin-top: 3pt; margin-bottom: 3pt;">To view further details 
 related to a request, perform the following:</p>
 <p class="list" style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the information (<img src="Images/Icon_Info.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" />) icon displayed for <span style="font-weight: bold;">Request 
 ID</span>. System opens the <span style="font-weight: bold;">Request Details</span> 
 window and displays the following details:</p>
 <ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p style="margin-top: 3pt; margin-bottom: 3pt;"><span 
	 style="font-weight: bold;">Request item</span> for which the request 
	 details is being viewed</p></li>
	<li style="margin-left: -20px;">
 <p style="margin-top: 3pt; margin-bottom: 3pt;"><span 
	 style="font-weight: bold;">Type </span>of the request</p></li>
	<li style="margin-left: -20px;">
 <p style="margin-top: 3pt; margin-bottom: 3pt;"><span 
	 style="font-weight: bold;">Status</span> of the request</p></li>
	<li style="margin-left: -20px;">
 <p style="margin-top: 3pt; margin-bottom: 3pt;"><span 
	 style="font-weight: bold;">Request Date</span> </p></li>
	<li style="font-weight: bold; margin-left: -20px;">
 <p style="margin-top: 3pt; 
															 margin-bottom: 3pt;">Name 
	 of the Requestor</p></li>
	<li style="font-weight: bold; margin-left: -20px;">
 <p style="margin-top: 3pt; 
															 margin-bottom: 3pt;">Duration 
	 <span style="font-weight: normal;">for which the access is requested</span></p></li>
	<li style="margin-left: -20px;">
 <p style="margin-top: 3pt; margin-bottom: 3pt;"><span 
	 style="font-weight: bold;">Justification</span> provided for the request</p></li>
	<li style="margin-left: -20px;">
 <p style="margin-top: 3pt; margin-bottom: 3pt;"><span 
	 style="font-weight: bold;">Additional information</span>, if provided 
	 while requesting the access. </p></li>
</ul>
<p class="list" style="
margin-top:3pt;
margin-bottom:3pt; margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>After viewing the details, click <span style="font-weight: bold;">Close</span>.</p>
<h3><span><a name="Search_required_Requests"></a></span>Search required 
 Requests</h3>
<p>The <span style="font-weight: bold;">My Task History - Rejections </span>lists 
 all rejected requests. It may be difficult to browse through all records 
 to find details for a specific rejected request. <span style="line-height: normal; 
														 orphans: auto; 
														 widows: 1; -webkit-text-stroke-width: 0px;">Tuebora 
 portal</span> provides the functionality to search for required rejected 
 request in the system. The page has a <span style="font-weight: bold;">Search</span> 
 box, where you can provide the search criteria. When a valid search criteria 
 is provided, the page refreshes to display only those activities matching 
 the search criteria. You can also choose to search requests created in 
 a specific time period.</p>
<p>The following criteria are supported to search requests:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">Requestor</p></li>
	<li>
 <p class="list">Requestee</p></li>
	<li>
 <p class="list">Requested data</p></li>
</ul>
<h3><a name="Filtering_Requests_by_Period"></a>Filtering Requests by Period</h3>
<p>When you filter, search, group requests, it may display too many records. 
 In this case you can filter the data by specifying the period. The feature 
 provides the <span style="font-weight: bold;">Limit To </span>functionality 
 to narrow down results. Supported option to filter requests by period 
 are:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">Today</span> - 
	 Filters the requests that are rejected on that day.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Yesterday</span> 
	 - Filters the requests that are rejected a day before the current 
	 day.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Last 7 Days</span> 
	 - Filters the requests that are rejected in last 7 days (including 
	 current day).</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Last 30 Days</span> 
	 - Filters the requests that are rejected in last 30 days (including 
	 current day).</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Current Month</span> 
	 - Filters the requests that are rejected in the current month.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Last Month</span> 
	 - Filters the requests that are rejected in previous month. </p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Year to Date</span> 
	 - Filters the requests that are rejected in the current year till 
	 the current date</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Custom Range</span> 
	 - Filters the records based on the custom period defined.<br />
	<br />
	<span style="font-weight: bold;">Example</span> - You want to view 
	 requests rejected between 4 and 10 November 2019. Click Custom Range 
	 and specify the date range and click <span style="font-weight: bold;">Apply</span>.<br />
	<br />
	The <span style="font-weight: bold;">My Task History - Rejections </span>page<span 
	 style="font-weight: bold;"> </span>lists requests submitted during 
	 4 and 10 November, 2019.</p></li>
</ul>
<h3><a name="Grouping_Displayed_Results"></a>Grouping Displayed Results</h3>
<p>The <span style="font-weight: bold;">All Requests</span> page displays 
 all requests created in the system in chronological order. You may want 
 to view requests grouped by some criteria. For example, you may want to 
 group the requests based on the user who has created the request (Requested 
 by) in the system. You can select the required <span style="font-weight: bold;">Group 
 by</span> option to view the grouped results on the page.</p>
<p>The supported options to group requests are as follows:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list"><span style="font-weight: bold;">None</span> - 
	 By default this option is selected. This option lists all requests 
	 created in the system &#160;in chronological order.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Asset</span> - 
	 Grouped based on the Asset in which the access is requested.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Requested by</span> 
	 - Grouped based on the user who has created the request in the portal.</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Request</span> 
	 <span style="font-weight: bold;">Type</span> - Grouped based on the 
	 type of access requested. Request type can be - Access in one or more 
	 Asset</p></li>
	<li>
 <p class="list"><span style="font-weight: bold;">Requested</span> 
	 <span style="font-weight: bold;">on</span> - Grouped based on the 
	 date on which the request is created in the portal.</p></li>
</ul>
<h3 class="list"><a name="Generating_Requests_Rejections_Report"></a>Generating 
 Request Rejections Report</h3>
<p>You can generate a PDF/Excel report of all requests rejected by you 
 from the <span style="font-weight: bold;">My Task History - Rejections 
 </span>page.</p>
<p>To generate the report, perform the following:</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; My Task History &gt; Rejections</span>.<span 
	 style="font-weight: bold;"> </span><br />
The <span style="font-weight: bold;">My Task History - Rejections</span> 
 page opens.</p>
<p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <img src="Images/Icon_PDF.png" alt="" style=" border:none; width:100%; max-width:24px;" border="0" />or <img src="Images/Icon_XLS.png" alt="" style=" border:none; width:100%; max-width:24px;" border="0" /> 
 to generate a PDF or Excel version of the report, respectively. <br />
System displays a message that the report is being generated.<br />
After generating the report, it is saved on your system .</p>
<table class="TwoColumnNOTETable" style="left: 0px; top: 9330px; height: 20px;" 
		 cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="../Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note: </span><span 
		 style="mso-bidi-font-weight: normal; mso-add-space: auto;">If 
		 the report size exceeds the </span><span style="font-weight: bold;">Export</span><span 
		 style="mso-bidi-font-weight: normal; mso-add-space: auto;"> </span><span 
		 style="font-weight: bold;">Limit</span><span style="mso-bidi-font-weight: normal; 
														 mso-add-space: auto;">, 
		 system shows the message that maximum records allowed to export 
		 is 1000. If you want to export, you have to further filter the 
		 data reduce the records size is less than 1000.</span></p></td>
	</tr>
 </table>
 <p class="list" style="margin-left: 50px; 
											 margin-top: 7pt; margin-bottom: 7pt; 
											 text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Close</span> in the pop-up that appears 
 stating that the report is generated.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px; margin-top: 7pt; 
											 margin-bottom: 7pt;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span>Open 
 the report to view the contents.</span></p>
 <p>&#160;</p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="../table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="../index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="../glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="../searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="../template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="../template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
