
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Request Service - Certification</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Request Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="272">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Previous</span>: 
		 <a href="My_Tasks.htm" style="color: #008000;">My Tasks</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Provide_Info.htm" style="color: #008000;">Provide Info</a></p></td>
	</tr>
 </table>
 <h1>Certification</h1>
 <p>Access Certification is the process of certifying the Access of users 
 in the Governed Assets. The process of certifying Access granted to users 
 may vary in organizations. Some organizations&#160;may periodically certify 
 Access through Certification Policies created in Tuebora Portal and some 
 other organizations may ask supervisors to certify the Access of team 
 members when required.<br />
<br />
When you run a Certification Policy or Assign Access of users for Certification, 
 system creates Certification Tasks against the authorized users responsible 
 to certify the Access. The tasks displayed here may also include Certification 
 Tasks that are escalated to you as per an escalation rule.</p>
 <p>If your Tuebora Portal administrator has enabled <span style="font-weight: bold;">Supervisor</span> 
 <span style="font-weight: bold;">Change</span> <span style="font-weight: bold;">Certification</span>, 
 as a new supervisor, you can view all the certification tasks created 
 to certify your new team members' Access. These Access that your team 
 members' have, must be approved or rejected within the number of days 
 displayed in the certification task.</p>
 <p>For more information about certifying the Access of users, see <a href="#Certifying_Access">Certifying 
 Access</a>.</p>
 <p>The <span style="font-weight: bold;">My Tasks - Certifications</span> 
 page displays the Access Certification tasks that you need to act on.</p>
 <p>You can perform the following tasks on the <span style="font-weight: bold;">My 
 Tasks - Certifications</span> page:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list"><a href="#Grouping_the_Access_Certification_Tasks_That_You_Must_Act_on">Grouping 
	 the Access Certification Tasks</a></p></li>
	<li>
 <p class="list"><a href="#Sorting_the_Access_Certification_Tasks_That_You_Must_Act_on">Sorting 
	 the Access Certification Tasks</a></p></li>
	<li>
 <p class="list"><a href="#Filtering_the_Access_Certification_Tasks_That_You_Must_Act_on">Filtering 
	 the Access Certification Tasks</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_List_of_Access_Certification_Tasks_That_You_Must_Act_on">Viewing 
	 the List of Access Certification Tasks</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Task_Details_of_an_Access_Certification_Task_You_Must_Act_on">Viewing 
	 the Task Details of an Access Certification Task</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Access_Analysis_of_an_Access_Certification_Task_You_Must_Act_on">Viewing 
	 the Access Analysis of an Access Certification Task</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Governance_History_of_an_Access_Certification_Task_You_Must_Act_on">Viewing 
	 the Governance History of an Access Certification Task</a></p></li>
	<li>
 <p class="list"><a href="#Viewing_the_Escalation_History_of_an_Access_Certification_Task_You_Must_Act_on">Viewing 
	 the Escalation History of an Access Certification Task</a></p></li>
	<li>
 <p class="list"><a href="#Adding_Notes_for_an_Access_Certification_Task_You_Must_Act_on">Adding 
	 Notes for an Access Certification Task</a></p></li>
	<li>
 <p class="list"><a href="#Requesting_More_Information_for_an_Access_Certification_Task_You_Must_Act_on">Requesting 
	 More Information for an Access Certification Task</a></p></li>
	<li>
 <p class="list"><a href="#Reassigning_an_Access_Certification_Task_You_Must_Act_on">Reassigning 
	 an Access Certification Task</a></p></li>
	<li>
 <p class="list"><a href="#Certifying_Access">Certifying Access</a></p></li>
	<li>
 <p class="list"><a href="#Exporting_Access_Certification_Tasks_That_You_Must_Act_on">Exporting 
	 Access Certification Tasks</a></p></li>
</ul>
<p style="margin-left: 0pt; font-weight: bold; color: #003a6b;">Navigation</p>
<table class="Navigation" style="margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">My 
		 Tasks - Certification</span> feature, select &#160;<span style="font-weight: bold;">MENU 
		 &gt; My Tasks &gt;</span> <span style="font-weight: bold;">Certification</span>.</p></td>
	</tr>
 </table>
 <h3><a name="Grouping_the_Access_Certification_Tasks_That_You_Must_Act_on" 
		 id="Grouping_the_Access_Certification_Tasks_That_You_Must_Act_on"></a>Grouping 
 the Access Certification Tasks</h3>
 <p>You can use the <span style="font-weight: bold;">Group by</span> feature 
 to group the Access Certification tasks that you must act on. The <span 
	 style="font-weight: bold;">Group by</span> options available are <span 
	 style="font-weight: bold;">User, Orphaned Account, Group, Policy, 
 Asset</span> and <span style="font-weight: bold;">Initiated</span> F<span 
	 style="font-weight: bold;">rom</span>.</p>
 <p>To group the Access Certification tasks:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the appropriate <span style="font-weight: bold;">Group by</span> option.</p>
 <h3><a name="Sorting_the_Access_Certification_Tasks_That_You_Must_Act_on" 
		 id="Sorting_the_Access_Certification_Tasks_That_You_Must_Act_on"></a>Sorting 
 the Access Certification Tasks</h3>
 <p>You can use the <span style="font-weight: bold;">Sort by</span> feature 
 to sort the Access Certification tasks that you must act on, in the ascending 
 or descending order. The <span style="font-weight: bold;">Sort by</span> 
 feature is available only when you group the Access Certification tasks 
 by using any of the Group by options.</p>
 <p>To sort the Access Certification tasks:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold;">Sort by</span> option on the top-right 
 corner of the page.<br />
<br />
For example, when you grouped the page by Policy, click the <span style="font-weight: bold;">Sort 
 by</span> option to sort the Access Certification tasks in the ascending 
 or descending order of alphabets.</p>
 <h3><a name="Filtering_the_Access_Certification_Tasks_That_You_Must_Act_on" 
		 id="Filtering_the_Access_Certification_Tasks_That_You_Must_Act_on"></a>Filtering 
 the Access Certification Tasks</h3>
 <p>You can use the <span style="font-weight: bold;">Filter</span> feature 
 to filter the Access Certification tasks that you must act on. You can 
 filter based on the categories such as - Access Category, Certification 
 Age, and Access Life.</p>
 <p>The following table displays the options available under each filter 
 category.</p>
 <table class="Table" cellspacing="0px" width="100%">
	<col style="width: 34.933%;" />
	<col style="width: 65.067%;" />
	<tr class="t1st">
		<td>
  <p class="TableText" style="font-weight: bold;">Filter Category</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Available Options</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Access Category</p></td>
		<td>
  <p class="TableText">- Administrator Access<br />
		- Privileged Access<br />
		- Owner Access<br />
		- Anomaly Access<br />
		- Exceptional Access<br />
		- Violation Access<br />
		- Regular Access</p></td>
	</tr>
	<tr class="t1Row">
		<td>
  <p class="TableText">Certification Age</p></td>
		<td>
  <p class="TableText">- Less than 30 days<br />
		- Between 30 and 60 days<br />
		- More than 30 days<br />
		- Never Certified</p></td>
	</tr>
	<tr class="t2Row">
		<td>
  <p class="TableText">Access Life</p></td>
		<td>
  <p class="TableText">- Indefinite Access<br />
		- Temporary Access<br />
		- Expired Access</p></td>
	</tr>
 </table>
 <p>To filter the Access Certification tasks:</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the appropriate Filter option.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the check boxes corresponding to the appropriate categories, in the <span 
	 style="font-weight: bold;">Filter</span> option you selected.</p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Viewing_the_List_of_Access_Certification_Tasks_That_You_Must_Act_on" 
													 id="Viewing_the_List_of_Access_Certification_Tasks_That_You_Must_Act_on"></a>Viewing 
 the List of Access Certification Tasks</h3>
 <p>Click the '<span style="font-weight: bold;">+</span>' icon to the right 
 of an Access group to view the details of the Access Certification tasks 
 that you must act on. A table appears displaying the columns such as Task 
 Action - Access To be Certified, and Analysis. The Access Certification 
 tasks are displayed as rows. To view more details on the Access that &#160;must 
 be certified, click the <span style="font-weight: bold; text-decoration: underline; ">more</span> 
 hyperlink to view the analysis of an Access.</p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Viewing_the_Task_Details_of_an_Access_Certification_Task_You_Must_Act_on" 
													 id="Viewing_the_Task_Details_of_an_Access_Certification_Task_You_Must_Act_on"></a>Viewing 
 the Task Details of an Access Certification Task</h3>
 <p>You can view the details of an Access Certification task that you must 
 act on, from the <span style="font-weight: bold;">View &gt; View Task 
 Detail</span> menu. The resultant <span style="font-weight: bold;">Certification 
 Task</span> page displays the details of task, when the Access that must 
 be certified, Access Analysis, governance history, and escalation history. 
 For more information, refer to <a href="Viewing_the_Task_Details.htm">Viewing 
 the Task Details of a Certification Task</a>.</p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Viewing_the_Access_Analysis_of_an_Access_Certification_Task_You_Must_Act_on" 
													 id="Viewing_the_Access_Analysis_of_an_Access_Certification_Task_You_Must_Act_on"></a>Viewing 
 the Access Analysis of an Access Certification Task</h3>
 <p>You can view the analysis of an Access Certification task that you must 
 act on, from the <span style="font-weight: bold;">View &gt; View Access 
 Analysis</span> menu. The resultant <span style="font-weight: bold;">Analysis</span> 
 subwindow displays the analysis of the Access. &#160;For more information, 
 refer to <a href="Viewing_the_Analysis_of_Access.htm">Viewing the Analysis 
 of a Certification Task</a>.</p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Viewing_the_Governance_History_of_an_Access_Certification_Task_You_Must_Act_on" 
													 id="Viewing_the_Governance_History_of_an_Access_Certification_Task_You_Must_Act_on"></a>Viewing 
 the Governance History of an Access Certification Task</h3>
 <p>You can view the governance history of an Access Certification task 
 that you must act on, from the <span style="font-weight: bold;">View &gt; 
 View Access Governance History</span> menu. The resultant <span style="font-weight: bold;">Governance 
 History</span> subwindow displays the governance history of the Access. 
 For more information, refer to <a href="Viewing_the_Governance_History_of_an_Access.htm">Viewing 
 the Governance History of a Certification Task</a>.</p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Viewing_the_Escalation_History_of_an_Access_Certification_Task_You_Must_Act_on" 
													 id="Viewing_the_Escalation_History_of_an_Access_Certification_Task_You_Must_Act_on"></a>Viewing 
 the Escalation History of an Access Certification Task</h3>
 <p>You can view the escalation history of an Access Certification task 
 that you must act on, from the <span style="font-weight: bold;">View &gt; 
 View Escalation History</span> menu. The resultant <span style="font-weight: bold;">Escalation 
 History</span> subwindow displays all escalations related to this Certification 
 task. For more information, refer to <a href="Viewing_the_Escalation_History.htm">Viewing 
 the Escalation History of a Certification Task</a>.</p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Adding_Notes_for_an_Access_Certification_Task_You_Must_Act_on" 
													 id="Adding_Notes_for_an_Access_Certification_Task_You_Must_Act_on"></a>Adding 
 Notes for an Access Certification Task</h3>
 <p>You can add notes for an Access Certification task that you must act 
 on, by clicking the <span style="font-weight: bold;">Add Notes</span> 
 button. The resultant <span style="font-weight: bold;">Add Notes</span> 
 subwindow allows you to add you comments.</p>
 <p>For more information, refer to <a href="Adding_Notes.htm">Adding Notes 
 for a Certification Task</a>.</p>
 <h3><a name="Requesting_More_Information_for_an_Access_Certification_Task_You_Must_Act_on" 
		 id="Requesting_More_Information_for_an_Access_Certification_Task_You_Must_Act_on"></a>Requesting 
 More Information for an Access Certification Task</h3>
 <p>You can request more information for an Access Certification task that 
 you must act on, to decide whether you need to retain or remove the Access. 
 To do so, click the <span style="font-weight: bold;">Request More Info</span> 
 button. The resultant <span style="font-weight: bold;">Request More Info</span> 
 subwindow allows you to request the information you need.</p>
 <p>For more information, refer to <a href="Requesting_for_More_Information.htm">Requesting 
 More Information for a Certification Task</a>.</p>
 <h3><a name="Reassigning_an_Access_Certification_Task_You_Must_Act_on" 
		 id="Reassigning_an_Access_Certification_Task_You_Must_Act_on"></a>Reassigning 
 an Access Certification Task</h3>
 <p>You can reassign an Access Certification task that you must act on, 
 to another user. To do so, click the <span style="font-weight: bold;">Reassign 
 Task</span> button. The resultant <span style="font-weight: bold;">Reassign 
 Task</span> subwindow allows you to reassign the Certification task.</p>
 <p>For more information, refer to <a href="Reassigning_a_Task.htm">Reassigning 
 an Access Certification Task</a>.</p>
 <h3><a name="Certifying_Access" id="Certifying_Access"></a>Certifying Access</h3>
 <p>When a Certification Task is created, you must take appropriation action 
 to retain or remove&#160;(certify) the Access and prevent any Access violations 
 in the environment.</p>
 <p>To certify an Access, perform the following:</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Go to 
 <span style="font-weight: bold;">MENU &gt; My Tasks &gt; Certification</span>.<br />
<br />
The <span style="font-weight: bold;">My Tasks - Certification</span> page 
 opens.<br />
<br />
<img src="Images/Tasks_Certification.png" alt="" style=" border:none; width:100%; max-width:700px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click/expand 
 a required task.<br />
<br />
The task details appear.<br />
<br />
<img src="Images/Tasks_Certification_Details.png" alt="" style=" border:none; width:100%; max-width:700px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the required task pertaining to the Accces you want to certify and click 
 <span style="font-weight: bold;">Certify</span>.<br />
<br />
The list displays the following Certification Actions that you can perform:</p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Retain 
 Access Temporarily <span style="font-weight: normal;">- Retain the Access 
 for a temporary period.</span></p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Retain 
 Access Indefinitely <span style="font-weight: normal;">- Retain the Access 
 for an indefinite period.</span></p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Remove 
 Access <span style="font-weight: normal;">&#160;- Remove the Access.</span></p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Retain 
 Access to Asset Temporarily <span style="font-weight: normal;">- Retain 
 all Access of the user to the Asset for a temporary period.</span></p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Retain 
 Access to Asset Indefinitely <span style="font-weight: normal;">- Retain 
 all Access of the user to the Asset for an indefinite period.</span></p>
 <p class="list" style="margin-left: 100px; 
											 text-indent: -20px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Remove 
 Access to Asset <span style="font-weight: normal;">- Remove all Access 
 of the user to the Asset.</span></p>
 <p class="list" style="margin-left: 43px;">A subwindow opens asking the 
 reason and other information for the Certification Action:</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 The options in the subwindow vary based on the Certifying option 
		 selected.</p></td>
	</tr>
 </table>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Access Expires on</span> - If you want 
 to retain the Access temporarily, specify the period for which it must 
 be retained.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">What do you want to do after Access expires?</span> 
 - Specify what must be done after the temporary Access expires.<br />
<br />
The options available are <span style="font-weight: bold;">Remove Access</span> 
 and <span style="font-weight: bold;">Certify Access</span>.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Reason for recommendation</span> - If you 
 want to retain the Access temporarily, specify the reason for retaining 
 the Access.<br />
<br />
The options available are <span style="font-weight: bold;">Required to 
 perform tasks on behalf of someone</span> and <span style="font-weight: bold;">Other</span>.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Reason for Retain Recommendation</span> 
 - If you want to retain the Access indefinitely, select why the Access 
 must be retained.<br />
<br />
The options available are <span style="font-weight: bold;">Required to 
 perform Job Function</span> and <span style="font-weight: bold;">Other</span>.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Reason for Removal Recommendation</span> 
 - If you want to remove the Access, select why the Access must be removed.<br />
<br />
The options available are <span style="font-weight: bold;">Not required 
 for Job Function</span>, and <span style="font-weight: bold;">Other</span>.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Please apply the same recommendation to 
 the following users</span> - Select the other users in your team (if you 
 are a Supervisor) to whom the same remediation must be applied, if they 
 have the same violating Access in the future.</p>
 <p style=" margin-left: 100px; text-indent: -20px;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Comments</span> - Provides the comments 
 for the remediation action.<br />
<br />
Following figure shows an example subwindow to retain Access temporarily.<span 
	 style="color: #ff0000;"><br />
</span><br />
<img src="Images/Tasks_Certify_Retain.png" alt="" style=" border:none; width:100%; max-width:669px;" border="0" /></p>
 <p class="list" 
	 style="margin-left: 50px; text-indent: -20px; font-weight: normal;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Submit Recommendation</span>.<br />
<br />
The page refreshes and the Certification task is no longer available on 
 the page.</p>
 <h3><a name="Exporting_Access_Certification_Tasks_That_You_Must_Act_on" 
		 id="Exporting_Access_Certification_Tasks_That_You_Must_Act_on"></a>Exporting 
 Access Certification Tasks</h3>
 <p>You can export the details of the Access Certification Tasks in PDF 
 and Excel formats. For more information, refer to <a href="Common_Tasks.htm#Exporting_Reports_to_PDF_or_Excel_Format">Exporting 
 Reports to PDF or Excel Format</a>.</p>
<br />

 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span style="font-weight: bold;">Previous</span>: 
		 <a href="My_Tasks.htm" style="color: #008000;">My Tasks</a></p></td>
		<td>
  <p class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="Provide_Info.htm" style="color: #008000;">Provide Info</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
