
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Request Service - My Access</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "2_5";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Request Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="728">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Alerts.htm" style="color: #008000;">Alerts</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="My_Accounts.htm" 
													 style="color: #008000;">My 
		 Accounts</a></p></td>
	</tr>
 </table>
 <h1>My Access</h1>
 <p>Users are granted Access in different Assets depending on their roles 
 and responsibilities in the organization. Tuebora Portal maintains a record 
 of all Access granted to users in various Assets. From the <span style="font-weight: bold;">My</span> 
 <span style="font-weight: bold;">Access</span> page, you can view the 
 details of Access granted to you in different governed Assets.</p>
 <p>Following figure shows an example <span style="font-weight: bold;">My 
 Access</span> page.</p>
 <p style="color: #ff0000;"><img src="Images/MyAccess_1.png" alt="" style=" border:none; width:100%; max-width:983px;" border="0" /></p>
 <h2>Using the My Access Page</h2>
 <p style="color: #000000;">You can perform the following tasks from the 
 <span style="font-weight: bold;">My Access</span> page:</p>
 <ul style="list-style: disc;">
	<li style="color: #000000;">
 <p class="list"><a href="#Viewing_the_Access_Granted_in_Different_Assets">Viewing 
	 the Access granted in different Assets</a></p></li>
	<li style="color: #000000;">
 <p class="list"><a href="#Grouping_Your_Access">Grouping 
	 your Access</a></p></li>
	<li style="color: #000000;">
 <p class="list"><a href="#Sorting_Your_Access">Sorting 
	 your Access</a></p></li>
	<li style="color: #000000;">
 <p class="list"><a href="#Filtering_the_Access">Filtering 
	 your Access</a></p></li>
	<li style="color: #000000;">
 <p class="list"><a href="#Searching_Your_Access">Searching 
	 your Access</a></p></li>
	<li style="color: #000000;">
 <p class="list"><a href="#Viewing_the_Details_of_Your_Access">Viewing 
	 the details of your Access</a></p></li>
	<li style="color: #000000;">
 <p class="list"><a href="#Viewing_the_Governance_History_of_Your_Access">Viewing 
	 the Governance History of your Access</a></p></li>
	<li style="color: #000000;">
 <p class="list"><a href="#Exporting_Reports_in_PDF_and_Excel_Formats">Exporting 
	 Reports in PDF and Excel formats</a></p></li>
</ul>
<h5 style="font-weight: bold;">Navigation</h5>
<table class="Navigation" style="border: Solid 1px #000000; margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr style="height: 10px;">
		<td>
  <p class="TableText" style="mso-bidi-font-weight: normal; font-style: normal; 
				 font-weight: normal;">To access <span style="font-weight: bold;">My</span> 
		 <span style="font-weight: bold;">Access</span> feature, select 
		 <span style="mso-bidi-font-weight: normal; font-style: normal; 
				 font-weight: bold;">MENU &gt; My Access</span></p></td>
	</tr>
 </table>
&#160;
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Viewing_the_Access_Granted_in_Different_Assets" 
													 id="Viewing_the_Access_Granted_in_Different_Assets"></a>Viewing 
 the Access Granted in Different Assets</h3>
 <p style="margin-top: 5pt; margin-bottom: 5pt;">The <span style="font-weight: bold;">My</span> 
 <span style="font-weight: bold;">Access</span> page lists all the Access 
 that you have in different Assets. By default, the Access is grouped and 
 displayed based on Asset(s) in which you have Access. You can view the 
 number and details of the Access granted in each Asset.</p>
 <p style="margin-top: 5pt; margin-bottom: 5pt;">To view the Access granted 
 in an Asset:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 on the required <span style="font-weight: bold;">Asset</span> <span style="font-weight: bold;">Name</span> 
 or <img src="Images/Expand_icon.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" /> 
 corresponding to the Asset name.<br />
<br />
The bar expands to display the Access granted in that Asset. Icons are 
 displayed against each Access to represent the properties of the Access.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>(Optional) 
 Move the cursor over the icons to view more information about the Access 
 property.</p>
 <p style="color: #ff0000;"><img src="Images/MyAccess_2.png" alt="" style=" border:none; width:100%; max-width:944px;" border="0" /></p>
 <p>The <span style="font-weight: bold;">Access</span> column lists all 
 the Access granted in the Asset. The <span style="font-weight: bold;">Analysis</span> 
 column provides further information on your Access in the Asset.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold; text-decoration: underline; ">more...</span> 
 to view the complete information.<br />
<br />
For example, it shows the following information:</p>
 <ul style="list-style: disc;">
	<li>
 <p class="list">How the Access is granted to the user</p></li>
	<li>
 <p class="list">Groups or Roles, based on which the Access is granted</p></li>
	<li>
 <p class="list">Team Members to whom the Access is granted</p></li>
</ul>
<h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Grouping_Your_Access" 
													 id="Grouping_Your_Access"></a>Grouping 
 Your Access</h3>
<p style="margin-top: 5pt; margin-bottom: 5pt;">You can use the <span style="font-weight: bold;">Group 
 by</span> feature provided in <span style="font-weight: bold;">My</span> 
 <span style="font-weight: bold;">Access</span> page to group your Access 
 as per your requirement. The Group by options available are - &#160;Asset, 
 Access Category, Certification Age, Access Life, and Access Type.</p>
<p style="margin-top: 5pt; margin-bottom: 5pt;">To group the Access:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the appropriate <span style="font-weight: bold;">Group by</span> option.</p>
<h3 class="list" style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Sorting_Your_Access" 
	 id="Sorting_Your_Access"></a>Sorting Your Access</h3>
<p>You can use the <span style="font-weight: bold;">Sort by</span> feature 
 to sort your Access in the ascending or descending order. The <span style="font-weight: bold;">Sort 
 by</span> feature is available on when you group the Access by using any 
 of the Group by options.</p>
<p>To sort the Access:</p>
<p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the <span style="font-weight: bold;">Sort by</span> option on the top-right 
 corner of the page.<br />
<br />
For example, when you grouped the page by Access Type, click the <span 
	 style="font-weight: bold;">Sort by</span> option to sort your Access 
 in the ascending or descending order of alphabets.</p>
<h3><a name="Filtering_the_Access" id="Filtering_the_Access"></a>Filtering 
 the Access</h3>
<p>You can filter the Access on the <span style="font-weight: bold;">My 
 Access</span> page, based on the categories such as&#160;Access Category, 
 Certification Age, and Access Life.</p>
<p>The following table displays the options available under each filter 
 category.</p>
<table class="Table" cellspacing="0px" width="100%">
	<col style="width: 40.158%;" />
	<col style="width: 59.842%;" />
	<tr class="t1st" style="height: 30px;">
		<td>
  <p class="TableText" style="font-weight: bold;">Filter Category</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Available Options</p></td>
	</tr>
	<tr class="t2Row" style="height: 115px;">
		<td>
  <p class="TableText">Access Category</p></td>
		<td>
  <p class="TableText">- Administrator Access<br />
		- Privileged Access<br />
		- Owner Access<br />
		- Anomaly Access<br />
		- Exceptional Access<br />
		- Violation Access<br />
		- Regular Access</p></td>
	</tr>
	<tr class="t1Row" style="height: 73px;">
		<td>
  <p class="TableText">Certification Age</p></td>
		<td>
  <p class="TableText">- Less than 30 days<br />
		- Between 30 and 60 days<br />
		- More than 30 days<br />
		- Never Certified</p></td>
	</tr>
	<tr class="t2Row" style="height: 30px;">
		<td>
  <p class="TableText">Access Life</p></td>
		<td>
  <p class="TableText">- Indefinite Access<br />
		- Temporary Access<br />
		- Expired Access</p></td>
	</tr>
 </table>
 <p style="margin-top: 5pt; margin-bottom: 5pt;">To filter the Access:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the required category and options based on which the Access must be filtered.<br />
<br />
For example, if you want to view Regular Access granted in all Assets, 
 click <span style="font-weight: bold;">Access</span> <span style="font-weight: bold;">Category</span> 
 and select <span style="font-weight: bold;">Regular</span> <span style="font-weight: bold;">Access</span>.<br />
<br />
The page refreshes to display only those Assets in which Regular Access 
 is granted.<br />
<br />
<img src="Images/MyAccess_3.png" alt="" style=" border:none; width:100%; max-width:687px;" border="0" /></p>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Searching_Your_Access" 
													 id="Searching_Your_Access"></a>Searching 
 Your Access</h3>
 <p>You can search for specific records from the Access list displayed on 
 the <span style="font-weight: bold;">My Access</span> page. For example, 
 if you want to view the Access that provides membership in&#160;the <span 
	 style="font-weight: bold;">All Employees Group</span> in the Active 
 Directory, type the name of the Group in the search box available in <span 
	 style="font-weight: bold;">Access</span> column. The page refreshes 
 to displays the search results.<br />
</p>
 <p>Following figure shows an example for the <span style="font-weight: bold;">My</span> 
 <span style="font-weight: bold;">Access</span> page, where the Access 
 is searched based on a Group name.<br />
<br />
<img src="Images/MyAccess_4.png" alt="" style=" border:none; width:100%; max-width:866px;" border="0" /></p>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Viewing_the_Details_of_Your_Access" 
													 id="Viewing_the_Details_of_Your_Access"></a>Viewing 
 the Details of Your Access</h3>
 <p style="margin-top: 5pt; margin-bottom: 5pt;">You can view the details 
 of an Access such as the controls violated by the Access, and the last 
 time the Access was certified.</p>
 <p style="margin-top: 5pt; margin-bottom: 5pt;">To view the details of 
 an Access:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 the required Access and click <span style="font-weight: bold;">View</span> 
 <span style="font-weight: bold;">Details</span>.<br />
<br />
The <span style="font-weight: bold;">Selected User - Grant Details</span> 
 page opens. The page shows the Access details.<br />
<br />
<img src="Images/MyAccess_5.png" alt="" style=" border:none; width:100%; max-width:627px;" border="0" /></p>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Viewing_the_Governance_History_of_Your_Access" 
													 id="Viewing_the_Governance_History_of_Your_Access"></a>Viewing 
 the Governance History of Your Access</h3>
 <p>You can view the governance history of your Access from the <span style="font-weight: bold;">View 
 Governance History</span> menu. The resultant <span style="font-weight: bold;">Governance 
 History</span> subwindow displays the governance history of the Access 
 such as Access Approved and Access Removed. For more information, refer 
 to <a href="Viewing_the_Governance_History_of_an_Access.htm">Viewing the 
 Governance History of an Access</a>.</p>
 <h3><a name="Exporting_Reports_in_PDF_and_Excel_Formats" id="Exporting_Reports_in_PDF_and_Excel_Formats"></a>Exporting 
 Reports in PDF and Excel Formats</h3>
 <p>You can export data from the My Access page as reports in PDF and Excel 
 formats. For more information, refer to <a href="Exporting_Reports_to_PDF_or_Excel_Format.htm">Exporting 
 Reports to PDF or Excel Format</a>.</p>
 <p>&#160;</p>
 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Alerts.htm" style="color: #008000;">Alerts</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="My_Accounts.htm" 
													 style="color: #008000;">My 
		 Accounts</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
