
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Request Service - Remediation</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Request Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="992">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">



     <h1>Remediation</h1>
     <p>To regulate Access violations, you can define Access Controls in Tuebora Portal. These control definitions are checked and verified against user's Access. To eliminate any risk to Assets in the environment, if any Access violations are detected, these are notified to authorized users. These authorized users must certify to retain Access permanently, retain Access for a period, or remove the Access.</p>
     <p>When you run a Control Definition, if Tuebora Portal detects any Access violations, it creates Remediation Tasks for the authorized users on the <span style="font-weight: bold;">My Tasks - Remediation</span> page.</p>
     <p>You can perform the following tasks on the <span style="font-weight: bold;">My Tasks - Remediation</span> page:</p>
     <ul style="list-style: disc;">
      <li>
      <p class="list"><a href="My_Actions_-_Remediation.htm#Viewing_the_List_of_Remediation_Tasks">Viewing the List of Remediation Tasks</a></p>
</li>
      <li>
      <p class="list"><a href="#Viewing_the_Task_Details_of_a_Remediation_Task_That_You_Must_Act_on">Viewing the Task Details of a Remediation Task</a></p>
</li>
      <li>
      <p class="list"><a href="#Viewing_the_Governance_History_of_an_Remediation_Task_You_Must_Act_on">Viewing the Governance History of a Remediation Task</a></p>
</li>
      <li>
      <p class="list"><a href="#Taking_Remediation_Action">Taking Remediation Action</a></p>
</li>
      <li>
      <p class="list"><a href="#Exporting_the_Remediation_Tasks_">Exporting the Remediation Tasks</a></p>
</li>
     </ul>
     <p class="list" style="color: #003a6b; font-weight: bold; margin-left: 0pt;"><span style="color: #003a6b; font-weight: bold;">Navigation</span></p>
     <table class="Navigation" style="border: Solid 1px #000000; margin-left: 24px; left: 0px; top: 1222px; height: 27px;" cellspacing="0px" width="100%">
      <col style="width: 100%;" />
      <tr style="height: 26px;">
      <td>
      <p class="TableText" style="mso-bidi-font-weight: normal; font-style: normal; font-weight: normal;">You can navigate to <span style="font-weight: bold;">Remediation</span> <span style="font-weight: bold;">Tasks</span> page by selecting <span style="font-weight: bold;">MENU &gt; My Tasks &gt; Remediation</span>.</p>
</td>
</tr>
     </table>
     <h3 class="list"><a name="Viewing_the_List_of_Remediation_Tasks_That_You_Must_Act_on" id="Viewing_the_List_of_Remediation_Tasks_That_You_Must_Act_on"></a>Viewing the List of Remediation Tasks</h3>
     <p>Click the '<span style="font-weight: bold;">+</span>' icon to the right of an Access group to view the details of the Remediation tasks that you must act on. A table appears displaying the columns such as Task Action - Access To be Certified, and Analysis. The Access Certification tasks are displayed as rows.</p>
     <p>Select a Remediation task and click the <span style="font-weight: bold; text-decoration: underline;">more</span> hyperlink to view the analysis of an Access.</p>
     <h3><a name="Viewing_the_Task_Details_of_a_Remediation_Task_That_You_Must_Act_on" id="Viewing_the_Task_Details_of_a_Remediation_Task_That_You_Must_Act_on"></a>Viewing the Task Details of a Remediation Task</h3>
     <p>You can view the details of a Remediation task. To view details select the task and click the <span style="font-weight: bold;">View Task Detail</span> button. The resultant <span style="font-weight: bold;">Task Details</span> page displays the details of remediation task, when the access violation was detected, due date to remediate the violation, the control definition which detected the access violation.</p>
     <h3><a name="Viewing_the_Governance_History_of_an_Remediation_Task_You_Must_Act_on" id="Viewing_the_Governance_History_of_an_Remediation_Task_You_Must_Act_on"></a>Viewing the Governance History of an Remediation Task You Must Act on</h3>
     <p>You can view the governance history of Remediation task that you must act on. To view governance history select the task and click View Task Details. The <span style="font-weight: bold;">Task Details</span> page opens. Click select the access and click <span style="font-weight: bold;">View Access Governance History</span> button. The resultant <span style="font-weight: bold;">Governance History</span> subwindow displays the governance history of the Access.</p>
     <h3><a name="Taking_Remediation_Action" id="Taking_Remediation_Action"></a>Taking Remediation Action</h3>
     <p>When a Remediation Task is created against an authorized user, the user must take appropriation action to remediate the violation.</p>
     <p>To take a Remediation Action, perform the following:</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>In the <span style="font-weight: bold;">My Tasks - Remediation</span> page, click or expand the task. .<br />
<br />
<img src="Images/MyTasks.png" alt="" style=" border:none; width:100%; max-width:659px;" border="0" /><br />
The task details appear.<br />
<br />
</p>

     <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select the task and click <span style="font-weight: bold;">Remediate</span>. The list displays the following Remediation Actions:</p>

     <p class="list" style="margin-left: 100px; text-indent: -20px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Retain Access Temporarily <span style="font-weight: normal;">- Retain the violating Access to the Asset for a temporary period.</span></p>

     <p class="list" style="margin-left: 100px; text-indent: -20px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Retain Access Indefinitely <span style="font-weight: normal;">- Retain the violating Access to the Asset for an indefinite period.</span></p>

     <p class="list" style="margin-left: 100px; text-indent: -20px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Remove Access <span style="font-weight: normal;">&#160;- Remove the violating Access.</span></p>

     <p class="list" style="margin-left: 100px; text-indent: -20px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Retain Access to Asset Temporarily <span style="font-weight: normal;">- Retain all Access of the user to the Asset for a temporary period.</span></p>

     <p class="list" style="margin-left: 100px; text-indent: -20px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Retain Access to Asset Indefinitely <span style="font-weight: normal;">- Retain all Access of the user to the Asset for an indefinite period.</span></p>

     <p class="list" style="margin-left: 100px; text-indent: -20px; font-weight: bold;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Remove Access to Asset <span style="font-weight: normal;">- Remove all Access of the user to the Asset.</span></p>

     <p class="list" style="margin-left: 43px;">A subwindow opens asking the reason and other information for the Remediation Action:</p>
     <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
      <col style="width: 4.082%;" />
      <col style="width: 95.918%;" />
      <tr>
      <td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
      <td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
      <p class="TableText"><span style="font-weight: bold;">Note</span>: The options in the subwindow vary based on the Remediation option selected.</p>
</td>
</tr>
     </table>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Access Expires on</span> - If you want to retain the Access temporarily, specify the period for which it must be retained.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">What do you want to do after Access expires?</span> - Specify what must be done after the temporary Access expires.<br />
<br />
The options available are <span style="font-weight: bold;">Remove Access</span> and <span style="font-weight: bold;">Certify Access</span>.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Reason for recommendation</span> - If you want to retain the Access temporarily, specify the reason for retaining the Access.<br />
<br />
The options available are <span style="font-weight: bold;">Required to perform tasks on behalf of someone</span> and <span style="font-weight: bold;">Other</span>.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Reason for Retain Recommendation</span> - If you want to retain the Access indefinitely, select why the Access must be retained.<br />
The options available are <span style="font-weight: bold;">Required to perform Job Function</span> and <span style="font-weight: bold;">Other</span>.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Reason for Removal Recommendation</span> - If you want to remove the Access, select why the Access must be removed.<br />
<br />
The options available are <span style="font-weight: bold;">Access violates an Access Control</span>, <span style="font-weight: bold;">Not required for Job Function</span>, and <span style="font-weight: bold;">Other</span>.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Please apply the same recommendation to the following users</span> - Select the other users in your team (if you are a Supervisor) to whom the same remediation must be applied, if they have the same violating Access in the future.</p>

     <p style="text-indent: -20px; margin-left: 100px; margin-top: 5pt; margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-weight: bold;">Comments</span> - Provides the comments for the remediation action.<br />
<br />
Following figure shows an example subwindow to retain Access indefinitely.<br />
<br />
<img src="Images/Retain_Access.png" alt="" style=" border:none; width:100%; max-width:475px;" border="0" /></p>

     <p class="list" style="margin-left: 50px; text-indent: -20px; font-weight: normal;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click <span style="font-weight: bold;">Submit Recommendation</span>.<br />
<br />
The page refreshes and the remediation task is no longer available on the page.<br />
<br />
After acting on the remediation task, you can view the status of the action by selecting <span style="font-weight: bold;">MENU &gt; My Task History &gt; Remediation</span>.</p>

     <h3><a name="Exporting_the_Remediation_Tasks_" id="Exporting_the_Remediation_Tasks_"></a>Exporting the Remediation Tasks</h3>
     <p>You can export the details of the Remediation tasks in PDF and Excel formats. For more information, refer to <a href="Common_Tasks.htm#Exporting_Reports_to_PDF_or_Excel_Format">Exporting Reports to PDF or Excel Format</a>.</p>
<br style="page-break-before: always;" />

    </div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
