
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Request Service - My Team - Users</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "6.0_1";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Request Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1112">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Team_Management.htm" style="color: #008000;">Team Management</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="My_Team_-_Access_By_User.htm" 
													 style="color: #008000;">My 
		 Team - Access By User</a></p></td>
	</tr>
 </table>
 <h1>My Team - Users</h1>
 <p>In Tuebora Portal, supervisors can view the list of users who are directly 
 reporting to them from the <span style="font-weight: bold;">My Team - 
 Users</span> page.</p>
 <p>You can perform the following tasks from the <span style="font-weight: bold;">My 
 Team - Users</span> page:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_Members_in_Your_Team">Viewing 
 the Members in your Team</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Searching_for_Records_of_Your_Team">Searching 
 for Records of your Team</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Filtering_the_Records_of_Your_Team">Filtering 
 the Records of your Team</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Switching_the_UI_to_view_Access_or_Attributes_of_Users">Switch 
 the UI to view Access or Attributes of Users</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Viewing_the_Profile_Details_of_Your_Team">Viewing 
 the Profile Details of a Team Member</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Updating_Team_Member_Profile_Details">Updating 
 the Profile Details of a Team Member</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Creating_a_Record_for_a_New_Team_Member">Creating 
 a Record for a New Team Member</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Terminating_a_Team_Member">Terminating 
 a Team Member</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#UnTerminating_a_Team_Member">UnTerminating 
 a Team Member</a></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Exporting_the_Details_of_a_Team_Member_s_Access">Exporting 
 the Team Members Details</a></p>
 <p style="margin-left: 0pt; font-weight: bold; color: #003a6b;">Navigation</p>
 <table class="Navigation" style="margin-left: 24px;" cellspacing="0px" width="100%">
	<col style="width: 100%;" />
	<tr>
		<td>
  <p class="TableText">To access the <span style="font-weight: bold;">My 
		 Team - User</span> page, select &#160;<span style="font-weight: bold;">MENU 
		 &gt; My Team &gt;</span> <span style="font-weight: bold;">Users</span></p></td>
	</tr>
 </table>
 <h3 style="margin-top: 5pt; margin-bottom: 5pt;"><a name="Viewing_Members_in_Your_Team" 
													 id="Viewing_Members_in_Your_Team"></a>Viewing 
 the Members in your Team</h3>
 <p>To view the members in your team, go to the <span style="font-weight: bold;">My 
 Team - Users</span> page. In <span style="font-weight: bold;">My Team 
 - Users</span> page, you can view the names of team members, Employee 
 IDs, Assets in which their Access is granted, and classification of Access 
 based on attributes such as Access Category, Certification Age, and Access 
 Life.</p>
 <p>Following figure shows an example for the <span style="font-weight: bold;">My 
 Team</span> - <span style="font-weight: bold;">Users</span> page where 
 the UI view select is <span style="font-weight: bold;">Access View</span>.</p>
 <p><img src="Images/MyTeamUserAccess.png" alt="" style=" border:none; width:100%; max-width:700px;" border="0" /></p>
 <h3><a name="Searching_for_Records_of_Your_Team" id="Searching_for_Records_of_Your_Team"></a>Searching 
 for Records of your Team</h3>
 <p>You can search a team member's details from the <span style="font-weight: bold;">My 
 Team&#160;- Users</span> page. To do so:</p>
 <ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p>Type the <span style="font-weight: bold;">User</span> 
	 <span style="font-weight: bold;">Name</span> or <span style="font-weight: bold;">Employee</span> 
	 <span style="font-weight: bold;">Id</span> in the <span style="font-weight: bold;">Search</span> 
	 boxes provided in the respective columns.</p></li>
</ul>
<h3><a name="Filtering_the_Records_of_Your_Team" id="Filtering_the_Records_of_Your_Team"></a>Filtering 
 the Records of your Team</h3>
<p>You can filter the user records based on the <span style="font-weight: bold;">User</span> 
 <span style="font-weight: bold;">Status</span>, such as <span style="font-weight: bold;">Active</span> 
 or <span style="font-weight: bold;">Terminated</span> in the <span style="font-weight: bold;">My 
 Team - Users</span> page. To filter user records, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 the field corresponding to <span style="font-weight: bold;">Filter</span>, 
 available at the top-left corner of the <span style="font-weight: bold;">My 
 Team - Users</span> page.<br />
<br />
The filter options - <span style="font-weight: bold;">Active</span> and 
 <span style="font-weight: bold;">Terminated</span> are displayed.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the required filter option.<br />
<br />
The page refreshes to show the user records that match the specified filter.</p>
<h2><a name="Switching_the_UI_to_view_Access_or_Attributes_of_Users" id="Switching_the_UI_to_view_Access_or_Attributes_of_Users"></a>Switching 
 the UI to view Access or Attributes of Users</h2>
<p>In All Users page, to switch the UI <span style="font-weight: bold;">Switch 
 to</span> option is provided in All User page. You can switch the User 
 Interface to view:</p>
<ul style="list-style: disc;">
	<li>
 <p class="list">User Profile Attributes</p></li>
	<li>
 <p class="list">User Access Details like Access Category, Access 
	 Life and Certification Age</p></li>
</ul>
<p>To switch the UI, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the following options available in the drop-down list in <span style="font-weight: bold;">Switch 
 to</span> field:</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">a.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Access 
 View</p>
<p class="list" style=" margin-left: 80px; text-indent: -20px;"><span class="rls-2-BasicNumber">b.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Attribute 
 View<br />
<br />
The page reloads to show the details based on the option selected.</p>
<h3><a name="Viewing_the_Profile_Details_of_Your_Team" id="Viewing_the_Profile_Details_of_Your_Team"></a>Viewing 
 the Profile Details of a Team Member</h3>
<p>As a Supervisor, you can view the profile details of team members, such 
 as First Name, Last Name, Job Title, Department, Email Address, Location, 
 Employee ID, and Access granted in different Assets from the <span style="font-weight: bold;">User</span> 
 <span style="font-weight: bold;">Details</span> page. You can also update 
 the profile details of team members, if it is changed. For more information 
 on updating the profile details, see <a href="#Updating_Team_Member_Profile_Details">Updating 
 Team Member Profile Details</a>.</p>
<p>To view profile details of a team member:</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p>Click the team member, whose profile 
	 or details you want to view, in the <span style="font-weight: bold;">My 
	 Team - Users</span> page.<br />
	<br />
	The <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Details</span> 
	 page opens.</p></li>
</ul>
<p>&#160;&#160;&#160;&#160;Following figure shows an example for the <span 
	 style="font-weight: bold;">User Details</span> page.</p>
<p style="color: #000000;"><img src="Images/MyTeam_UserDetails.png" alt="" style=" border:none; width:100%; max-width:717px;" border="0" /></p>
<p>The <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Details</span> 
 page displays details specific to the selected team member. You can view 
 the following details:</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Analysis_of_Team_Member_Access">Analysis 
 of Team Member Access</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Assets_to_which_Team_Member_has_access">Assets 
 where Team Member has access</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Access_Granted_in_the_Different_Assets">Access 
 Granted in Different Assets</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Governance_History">Governance 
 History</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Change_History_">Change 
 History</a></p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#Escalation_History">Escalation 
 History</a></p>
<h4><a name="Analysis_of_Team_Member_Access" id="Analysis_of_Team_Member_Access"></a>Analysis 
 of Team Member Access</h4>
<p>In Tuebora Portal, you can analyze the Access granted to team members 
 in different integrated Assets. This <span style="font-weight: bold;">Analysis</span> 
 feature can be used to analyze Access granted and to take corrective measures, 
 if required.</p>
<p>After integrating an Asset with Tuebora Portal, Tuebora performs an 
 analysis on the Access that each user has in the Asset and presents it 
 to the Supervisor.<br />
<br />
Data is categorized based on the <span style="font-weight: bold;">Assets</span> 
 in which the team member has Access and the type of Access (Privileged 
 Access, Owner Access, Temporary Access, or Expired Access) granted to 
 the team member.</p>
<p>Following figure shows an example Analysis for a Team Member Access.</p>
<p><img src="Images/MyTeam_AccessAnalysis.png" alt="" style=" border:none; width:100%; max-width:680px;" border="0" /></p>
<p style="color: #000000;">To view details corresponding to an analysis:</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p style="color: #000000;">Click the 
	 analysis bar or <img src="Images/Expand_icon.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" />.<br />
	<br />
	The bar expands to show the details. &#160;</p></li>
</ul>
<h4><a name="Assets_to_which_Team_Member_has_access" id="Assets_to_which_Team_Member_has_access"></a>Assets 
 where Team Member has access</h4>
<p>You can view the Assets where your team member has access from the <span 
	 style="font-weight: bold;">Asset</span> tab in the <span style="font-weight: bold;">User</span> 
 <span style="font-weight: bold;">Details</span> page.</p>
<p>Following figure shows an example of Assets to which team member has 
 access.</p>
<p><img src="Images/Assets_to_which_user_has_access.png" alt="" style=" border:none; width:100%; max-width:794px;" border="0" /></p>
<h4><a name="Access_Granted_in_the_Different_Assets" id="Access_Granted_in_the_Different_Assets"></a>Access 
 Granted in the Different Assets</h4>
<p>Access refers to permission granted in the Assets. You can view the 
 Access granted to a team member from the <span style="font-weight: bold;">Access</span> 
 tab in the <span style="font-weight: bold;">User</span> <span style="font-weight: bold;">Details</span> 
 page.</p>
<p>Following figure shows an example for Access granted to a team member.<br />
<br />
<img src="Images/MyTeam_Access.png" alt="" style=" border:none; width:100%; max-width:715px;" border="0" /></p>
<p style="color: #000000;">To view details of Access granted in Microsoft 
 SharePoint:</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p style="color: #000000;">Click the 
	 <span style="font-weight: bold;">Asset Name</span> or <img src="Images/Expand_icon.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" />.<br />
	<br />
	It expands to show the details. &#160;</p></li>
</ul>
<p>By default, the Access is grouped by <span style="font-weight: bold;">Asset</span>. 
 You can group it by using the following options:</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 2pt; 
											 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Access 
 Category</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 2pt; 
											 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Certification 
 Age</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 2pt; 
											 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Access 
 Life</p>
<p style="margin-left: 100px; 
											 text-indent: -20px; margin-top: 2pt; 
											 margin-bottom: 2pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Access 
 Type</p>
<p>You can <span style="font-weight: bold;">Filter</span> the results on 
 the page based on the attribute values <span class="_Tgc">–</span> <span 
	 style="font-weight: bold;">Access Category, Certification Age</span>, 
 and <span style="font-weight: bold;">Access Life</span>.</p>
<h4><a name="Governance_History" id="Governance_History"></a>Governance 
 History</h4>
<p>Governance History is a record of all Access Management activities, 
 such as Access Granted, More Info Requested for approving Access, User 
 Termination, and Access Removed that is performed against a team member 
 in Tuebora Portal.</p>
<p>You can view all Access management activities performed against a team 
 member from the <span style="font-weight: bold;">Governance</span> <span 
	 style="font-weight: bold;">History</span> tab in the <span style="font-weight: bold;">User 
 Details</span> page. By default,&#160;the records are grouped and displayed 
 based on the <span style="font-weight: bold;">Asset</span> for which the 
 team member has Access. It can be grouped by Orphaned Account, Asset, 
 Justification, and Performed By.</p>
<p>To view the Governance History corresponding to a team member in a specific 
 Asset:</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">Click the required <span style="font-weight: bold;">Asset 
	 Name</span> or <img src="Images/Expand_icon.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" />.<br />
	<br />
	History record expands to show the details. &#160;</li>
</ul>
<p>Following figure shows an example for Governance History.<br />
<br />
<img src="Images/MyTeam_Governance_History.png" alt="" style=" border:none; width:100%; max-width:924px;" border="0" /></p>
<h4><a name="Change_History_" id="Change_History_"></a>Change History</h4>
<p>Change History is the record of all Access changes for a user. It shows 
 the details of new Access granted, Access modification (Indefinite Access 
 changed to Temporary Access), Access removal, and Privileged and Administrator 
 Access related changes.</p>
<p>You can view the Access changes for a user from the <span style="font-weight: bold;">Change</span> 
 <span style="font-weight: bold;">History</span> tab in the <span style="font-weight: bold;">User 
 Details</span> page.</p>
<p>Access Change History records of a user is grouped and displayed based 
 on <span style="font-weight: bold;">Assets</span>. You can select the 
 <span style="font-weight: bold;">Asset</span> and <span style="font-weight: bold;">Category</span>, 
 based on which you want to view the Access changes. For example, if you 
 select the Asset - <span style="font-weight: bold;">Active</span> <span 
	 style="font-weight: bold;">Directory</span> and Category - <span style="font-weight: bold;">New</span> 
 <span style="font-weight: bold;">Access</span>, shows all new Access granted 
 to the user in the Active Directory.</p>
<p>To view the Change History corresponding to a team member in a specific 
 Asset:</p>
<ul style="list-style: disc;">
	<li style="margin-left: -20px;">
 <p>Click the required <span style="font-weight: bold;">Asset 
	 Name</span> or <img src="Images/Expand_icon.png" alt="" style=" border:none; width:100%; max-width:16px;" border="0" />.<br />
	<br />
	History record expands to show the details. &#160;</p></li>
</ul>
<p>Following figure shows an example for Change History of a team member.<br />
<br />
<img src="Images/MyTeam_ChangeHistory.png" alt="" style=" border:none; width:100%; max-width:745px;" border="0" /></p>
<p><span style="font-weight: bold;">Change</span> <span style="font-weight: bold;">History</span> 
 records are displayed only when the Asset has an updated Access data that 
 is specific to a user and the data is reimported into Tuebora Portal. 
 After data reimport, Tuebora Portal compares the data to verify Access 
 changes. If there are Access changes, those are recorded for as Change 
 History for further reference.</p>
<h4><a name="Escalation_History" id="Escalation_History"></a>Escalation 
 History</h4>
<p style="color: #000000;"><span style="color: #000000;">Escalation History 
 is the record of all escalations from a user and to who the tasks were 
 escalated. You can view the escalations from a user from the <span style="font-weight: bold;">Escalation</span> 
 <span style="font-weight: bold;">History</span> tab in the User Details 
 page.</span></p>
<p style="orphans: auto; widows: 1; color: #000000; line-height: normal; 
	 -webkit-text-stroke-width: 0px;">Managers or supervisors can use the 
 Escalation History tab to view the number of tasks escalated from a user. 
 This way if the tasks exceed a allowed threshold, managers can inform 
 their team members to ensure that they attend their pending tasks on-time 
 to avoid escalations.</p>
<p style="orphans: auto; widows: 1; color: #000000; line-height: normal; 
	 -webkit-text-stroke-width: 0px;">Following figure shows an example 
 for Escalation History for a team member.</p>
<p style="orphans: auto; widows: 1; color: #000000; line-height: normal; 
	 -webkit-text-stroke-width: 0px;"><img src="Images/MyTeam_EscalationHistory.png" alt="" style=" border:none; width:100%; max-width:963px;" border="0" /></p>
<h3><a name="Updating_Team_Member_Profile_Details" id="Updating_Team_Member_Profile_Details"></a>Updating 
 Team Member Profile Details</h3>
<p>After creating user records or importing user data, you can edit the 
 records, if any updates are required.</p>
<p>To modify the profile details of a team member, perform the following:</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the team member, <span style="font-weight: bold;">My 
 Team &#160;- &#160;Users</span> page.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Edit User</span>.<br />
<br />
The <span style="font-weight: bold;">Edit User - Name of the User</span> 
 subwindow opens.</p>
<p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Edit the 
 required details and click <span style="font-weight: bold;">Edit User</span>.<br />
<br />
The changes are updated to the profile of the team member.</p>
<p style="font-weight: bold;">Example</p>
<p>Gerald Bell is a member of Eric Hill's team and is transferred from 
 Detroit to Boston and this transfer must be updated in Tuebora Portal. 
 In Tuebora Portal, Eric Hill can search for the user and update the name 
 of the location with the new location in the user profile.</p>
<table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You cannot update user profile properties such as <span style="font-weight: bold;">Hire 
		 Date, Start Date,</span> and <span style="font-weight: bold;">Termination</span> 
		 <span style="font-weight: bold;">Date</span> using the <span style="font-weight: bold;">Edit</span> 
		 <span style="font-weight: bold;">User</span> option.</p>
		<p class="TableText">&#160;</p>
		<p class="TableText">The <span style="font-weight: bold;">Edit</span> 
		 <span style="font-weight: bold;">Profile</span> functionality 
		 is not applicable for a Terminated user.</p></td>
	</tr>
 </table>
 <p>Supervisors can view their team members' updated profiles in the <span 
	 style="font-weight: bold;">User</span> <span style="font-weight: bold;">Details</span> 
 page. For more information about viewing user details, see <a href="#Viewing_Team_Member_Profile_Details">Viewing 
 Team Member Profile Details</a>.</p>
 <h3><a name="Creating_a_Record_for_a_New_Team_Member" id="Creating_a_Record_for_a_New_Team_Member"></a>Creating 
 a Record for a New Team Member</h3>
 <p>User data is imported into Tuebora Portal from a User Repository. As 
 a Supervisor, you may have to create user records for new employees joining 
 your team. The new team members can be added by creating the user records 
 in Tuebora Portal directly. You can add a new team member in Tuebora Portal, 
 by using the <span style="font-weight: bold;">Create User</span> option.</p>
 <p>If Provisioning Rules are created in Tuebora Portal to grant specific 
 Access to new users, Provisioning Rules trigger Provisioning Tasks, which 
 does the Access provisioning automatically when new users are detected.</p>
 <p><span lang="EN-US" xml:lang="EN-US">To create a new user record, perform 
 the following:</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Create</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">User</span> 
 <span lang="EN-US" xml:lang="EN-US">in the</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">My 
 Team - Users</span> <span lang="EN-US" xml:lang="EN-US">page.<br />
<br />
The</span> <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">New 
 User</span> <span lang="EN-US" xml:lang="EN-US">page opens.</span><br />
<br />
<br style="page-break-before: always;" />
Following figure shows the <span style="font-weight: bold;">New User</span> 
 page.<br />
<br />
<img src="Images/Create_New_User.png" alt="" style=" border:none; width:100%; max-width:955px;" border="0" /></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Type the first name of the user, in 
 the</span> <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">First</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Name</span> 
 <span lang="EN-US" xml:lang="EN-US">field.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Type the middle name of the user, in 
 the</span> <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Middle</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Name</span> 
 <span lang="EN-US" xml:lang="EN-US">field.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Type the last name of the user, in the</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Last</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Name</span> 
 <span lang="EN-US" xml:lang="EN-US">field.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">6.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Type the unique identifier of the user 
 in the</span> <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Employee</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">ID</span> 
 <span lang="EN-US" xml:lang="EN-US">field.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">7.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Type the 
 email address of the user, in the <span style="font-weight: bold;">Email</span> 
 <span style="font-weight: bold;">Address</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">8.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Type the alternate email address of 
 the user if any, in the</span> <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Alternate 
 Email Address</span> <span lang="EN-US" xml:lang="EN-US">field.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">9.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Type the name of the Supervisor, in 
 the</span> <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Supervisor</span> 
 <span lang="EN-US" xml:lang="EN-US">field.<br />
<br />
As you begin typing, this field lists the names that match the text you 
 entered.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">10.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US" style="text-indent: -20px;">Select the 
 correct name.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the organizational department 
 to which the user belongs, from the list available or type the department 
 name in the</span> <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Department</span> 
 <span lang="EN-US" xml:lang="EN-US">field.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">11.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the designation of the user, 
 from the list available or type the designation in the</span> <span lang="EN-US" 
	 xml:lang="EN-US" style="font-weight: bold;">Job</span> <span lang="EN-US" 
	 xml:lang="EN-US" style="font-weight: bold;">Title</span> <span lang="EN-US" 
	 xml:lang="EN-US">field.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">12.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select where the user is located, from 
 the list available or type the location in the</span> <span lang="EN-US" 
															 xml:lang="EN-US" 
															 style="font-weight: bold;">Location</span> 
 <span lang="EN-US" xml:lang="EN-US">field.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">13.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click the</span> <span lang="EN-US" 
															 xml:lang="EN-US" 
															 style="font-weight: bold;">Hire</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Date</span> 
 <span lang="EN-US" xml:lang="EN-US">field to display the calender and 
 select the hire date and time (1 February 2016 9:00 AM).</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">14.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click the</span> <span lang="EN-US" 
															 xml:lang="EN-US" 
															 style="font-weight: bold;">Start 
 Date</span> <span lang="EN-US" xml:lang="EN-US">field to display the calender 
 and select the start date and time.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">15.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the employee category to which 
 the user belongs, from the list available in the</span> <span lang="EN-US" 
	 xml:lang="EN-US" style="font-weight: bold;">Employee</span> <span 
	 lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Type</span> 
 <span lang="EN-US" xml:lang="EN-US">field.</span></p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">16.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Specify 
 the mobile number of the user in the <span style="font-weight: bold;">Mobile</span> 
 field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">17.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span>Select 
 the role of the user in Tuebora Portal in the <span style="font-weight: bold;">Tuebora</span> 
 <span style="font-weight: bold;">Role</span> field.</p>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">18.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Add 
 New User</span><span lang="EN-US" xml:lang="EN-US">.<br />
<br />
A pop-up appears stating that the user record is successfully created.</span><br />
<br />
<img src="Images/Message_After_Creating_User.png" alt="" style=" border:none; width:100%; max-width:382px;" border="0" /></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">18.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">(Optional) Click</span> <span lang="EN-US" 
	 xml:lang="EN-US" style="font-weight: bold;">Add Another User</span><span 
	 lang="EN-US" xml:lang="EN-US">, if you want to create another user 
 or click</span> <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Go 
 to My Team Users</span> <span lang="EN-US" xml:lang="EN-US">to view the 
 user you created on the</span> <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">My 
 Team - Users</span> <span lang="EN-US" xml:lang="EN-US">page.</span></p>
 <h3><a name="Terminating_a_Team_Member" id="Terminating_a_Team_Member"></a>Terminating 
 a Team Member</h3>
 <p>Users can quit from their positions in the company due on personal reasons 
 or be terminated immediately from the organization based on organizational 
 policies. <span lang="EN-US" xml:lang="EN-US">When a team member is marked 
 for termination in Tuebora Portal, the Termination process starts and 
 a</span>ll Access granted to team member <span lang="EN-US" xml:lang="EN-US">are 
 revoked.</span></p>
 <p>In Tuebora Portal, supervisors can use the <span style="font-weight: bold;">Mark 
 User as Terminated</span> option to specify the last working date of a 
 team member and initiate the termination activities. After setting the 
 termination date, Tuebora Portal considers the specified date to mark 
 the user as terminated, revokes all Access, and disables the user account 
 in the different Assets.</p>
 <p>In Tuebora Portal, this process of removing Access after termination 
 is automated. To remove Access, a deprovisioning rule is used in Tuebora 
 Portal. When you terminate a user, Access granted to the user is revoked 
 based on the Deprovisioning Rule defined in Tuebora Portal.</p>
 <p>If a team member who is terminated has not completed some tasks before 
 termination,&#160;Tuebora Portal automatically reassigns the tasks to 
 authorized users who are configured to be reassigned the tasks &#160;of 
 the terminated user.</p>
 <p>In Tuebora Portal, a supervisor can use the following methods to terminate 
 a team member:</p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Terminate a Team Member Immediately</span> 
 - To revoke <span style="font-size: 13.3333px; line-height: normal; orphans: auto; 
					 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
					 float: none; background-color: #ffffff;">all Access 
 granted in the different Assets immediately and to disable the user accounts. 
 To terminate a team member immediately, you must select the current date 
 and time.</span></p>
 <p style="text-indent: -20px; 
											 margin-left: 100px; margin-top: 5pt; 
											 margin-bottom: 5pt;"><span style="font-family:Wingdings">&#167;</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span 
	 style="font-weight: bold;">Terminate a Team Member on Future Date</span> 
 - To revoke all Access and privileges granted to the team member in different 
 Assets on a specified future date.</p>
 <p>To terminate a team member, perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the check box corresponding to 
 the team member whom</span> you want to terminate, in the <span style="font-weight: bold;">My 
 Team - Users</span> page.<br />
<br />
The team member is highlighted.<br />
<br />
You can also use the <a href="Product_Overview.htm#Search_Box" style="font-weight: normal;"><span 
	 class="URL">Search Box</span></a> provided on the top of the page, 
 to search for the required user.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Mark User as Terminated</span>.<br />
<br />
The <span style="font-weight: bold;">Mark User as Terminated</span> page 
 opens.<br />
<br />
<span lang="EN-US" xml:lang="EN-US">Alternatively, you can click the</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Team Member 
 Name</span> <span lang="EN-US" xml:lang="EN-US">to open the</span> <span 
	 lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">User Details</span> 
 <span lang="EN-US" xml:lang="EN-US">page and then click</span> <span lang="EN-US" 
	 xml:lang="EN-US" style="font-weight: bold;">Mark User as Terminated</span><span 
	 lang="EN-US" xml:lang="EN-US">.</span></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Select the Termination Date and Time, 
 in the</span> <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Termination</span> 
 <span lang="EN-US" xml:lang="EN-US" style="font-weight: bold;">Date</span> 
 <span lang="EN-US" xml:lang="EN-US">field.</span></p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">4.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">S</span>pecify the reason for terminating 
 the user in the <span style="font-weight: bold;">Reason for Termination</span> 
 field.<br />
<br />
<img src="Images/MyTeam_UserTermination.png" alt="" style=" border:none; width:100%; max-width:539px;" border="0" /></p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>:&#160;<span 
		 lang="EN-US" xml:lang="EN-US">If the Termination Date selected 
		 is in the future, then the user will be marked Terminated on the 
		 specified date and time.</span></p></td>
	</tr>
 </table>
 <p class="list" style=" margin-left: 50px; text-indent: -20px;"><span class="rls-1-BasicNumber">5.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span><span 
	 lang="EN-US" xml:lang="EN-US">Click</span> <span lang="EN-US" xml:lang="EN-US" 
														 style="font-weight: bold;">Mark 
 User as Terminated</span> <span lang="EN-US" xml:lang="EN-US">to save 
 the termination date.</span></p>
 <p>If you have selected the current date and time for terminating a team 
 member, Tuebora Portal revokes all Access immediately and the <span style="font-weight: bold;">Terminated</span> 
 icon (<img src="Images/terminated_user.png" alt="" style=" border:none; width:100%; max-width:17px;" border="0" />) is displayed next to username in the <span 
	 style="font-weight: bold;">User</span> column <span style="text-indent: -20px;">on 
 the</span> <span style="text-indent: -20px; font-weight: bold;">My Team 
 - Users</span> <span style="text-indent: -20px;">page</span>.</p>
 <p>If the termination date specified is a future date, Tuebora Portal displays 
 the <span style="font-weight: bold;">To Be Terminated</span> icon (<img src="Images/Icon_ToBeTerminated.png" alt="" style=" border:none; width:100%; max-width:21px;" border="0" />) next to the user name in the <span style="font-weight: bold;">User</span> 
 column <span style="text-indent: -20px;">on the</span> <span style="text-indent: -20px; 
	 font-weight: bold;">My Team - Users</span> <span style="text-indent: -20px;">page</span>. 
 On the specified termination date, team member is <span lang="EN-US" xml:lang="EN-US">marked 
 terminated in Tuebora Portal and all the Access granted to the team member 
 is revoked.</span></p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="UnTerminating_a_Team_Member" 
													 id="UnTerminating_a_Team_Member"></a>UnTerminating 
 a Team Member</h3>
 <p>Supervisor can Unterminate a team member who was marked for termination 
 in the future date.</p>
 <p>To Untermiate a team member, perform the following:</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Select 
 the check box corresponding to the user marked for termination in the 
 future date.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">UnTerminate User</span>.<br />
<br />
A subwindow opens asking for confirmation to unterminate the user.</p>
 <p class="list" style="text-indent: -20px; 
											 margin-left: 50px;"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;</span>Click 
 <span style="font-weight: bold;">Yes, Unterminate User</span> button.<br />
User will be displayed as Active User.</p>
 <h3 style="margin-top: 8pt; margin-bottom: 8pt;"><a name="Exporting_the_Details_of_a_Team_Member_s_Access" 
													 id="Exporting_the_Details_of_a_Team_Member_s_Access"></a>Exporting 
 the Team Members Details</h3>
 <p>You can export the details of a team members in PDF and Excel formats. 
 For more information, refer to <a href="Common_Tasks.htm#Exporting_Reports_to_PDF_or_Excel_Format">Exporting 
 Reports to PDF or Excel Format</a>.</p>
<br />
 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Team_Management.htm" style="color: #008000;">Team Management</a></p></td>
		<td>
  <p 
			 class="TableText" style="text-align: right;"><span style="font-weight: bold;">Next</span>: 
		 <a href="My_Team_-_Access_By_User.htm" 
													 style="color: #008000;">My 
		 Team - Access By User</a></p></td>
	</tr>
 </table>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
