
<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=100%, initial-scale=1" />
<meta name="generator" content="Adobe RoboHelp 11" />
<title>Access Request Service - Reports</title>
<link href="template/Theme1_Standard/main.css" type="text/css" rel="stylesheet" />
<link href="template/Theme1_Standard/jqueryui-custom.css" type="text/css" rel="stylesheet" />
 <link rel="StyleSheet" href="default.css" type="text/css" />
 <link rel="StyleSheet" href="default.css" type="text/css" /><script type="text/javascript" language="JavaScript">//<![CDATA[
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//]]></script><style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute;
left:0px;
top:0px;
z-index:4;
visibility:hidden; }
p.WebHelpNavBar { text-align:right; }
-->
</style>
<script type="text/javascript" src="template/scripts/constants.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/utils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhutils.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhlang.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhver.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/settings.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/pageloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/toctreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextree.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/mhtopic.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/searchfield.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/scripts/tabpanels.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTocPageHtml = "{%ICON%}<span  class=\"wTOCTreePageText\">{%LINK_NAME%}</span>";
gTocBookClosedHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocBookOpenHtml = "{%ICON%}<span  class=\"wTOCTreeCloseBookText\">{%LINK_NAME%}</span>";
gTocUrlHtml = "{%ICON%}<span  class=\"wTOCTreeLinkText\">{%LINK_NAME%}</span>";
gTocPageIconSrc = "template/Theme1_Standard/TOCTreePage.png";
gTocPageIconHoverSrc = "template/Theme1_Standard/TOCTreePageHover.png";
gTocPageIconSelSrc = "template/Theme1_Standard/TOCTreePageSelected.png";
gTocPageIconClass = "wTOCTreePageIcon";
gTocPageIconStyle = "";
gTocBookClosedIconSrc = "template/Theme1_Standard/TOCTreeCloseBook.png";
gTocBookClosedIconHoverSrc = "template/Theme1_Standard/TOCTreeCloseBookHover.png";
gTocBookClosedIconSelSrc = "template/Theme1_Standard/TOCTreeCloseBookSelected.png";
gTocBookClosedIconClass = "wTOCTreeCloseBookIcon";
gTocBookClosedIconStyle = "";
gTocBookOpenIconSrc = "template/Theme1_Standard/TOCTreeOpenBook.png";
gTocBookOpenIconHoverSrc = "template/Theme1_Standard/TOCTreeOpenBookHover.png";
gTocBookOpenIconSelSrc = "template/Theme1_Standard/TOCTreeOpenBookSelected.png";
gTocBookOpenIconClass = "wTOCTreeOpenBookIcon";
gTocBookOpenIconStyle = "";
gTocUrlIconSrc = "template/Theme1_Standard/TOCTreeLink.png";
gTocUrlIconHoverSrc = "template/Theme1_Standard/TOCTreeLinkHover.png";
gTocUrlIconSelSrc = "template/Theme1_Standard/TOCTreeLinkSelected.png";
gTocUrlIconClass = "wTOCTreeLinkIcon";
gTocUrlIconStyle = "";
</script>
<script type="text/javascript" language="JavaScript1.2">
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" language="JavaScript1.2">
gTopicId = "6_3";
</script>
<script type="text/javascript" language="JavaScript1.2">
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body>
<script type="text/javascript" src="ehlpdhtm.js"></script>



<div class="floatholder">
	<div class="phone_scrollarea overthrow">
		<div class="header">
			<table class="headertable">
				<tr>
					<td class="logo"><a href="iGovernance360_Overview.htm" class="homelink"><img src="template/Theme1_Standard/logo.png" alt="Logo" id="wLogoImage" style=" border:none; width:100%; max-width:50px;" border="0" /></a> </td>
					<td class="title"><div>
						<a href="iGovernance360_Overview.htm" class="homelink"><span>Access Request Service</span></a> 
						 
					</div></td>
					<td class="brsBack"> </td>
					<td class="brsNext"> </td>
				</tr>
			</table>
		</div>
		<div class="sidebar">
			<div data-showin="Always" class="wTabbedPanel" id="tabbedpanel">
				<ul class="wTabGroup" id="tab" data-tabid="tocTabButton" style="margin: 0px;">
					<li class="wTab" id="tocTabButton" data-contentid="tocTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/toc.png" class="normal" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/toc_hover.png" class="hover" alt="Table of Contents" title="Table of Contents" id="xmlEditorTOCSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="idxTabButton" data-contentid="idxTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/index.png" class="normal" alt="Index" title="Index" id="xmlEditorIDXSidebarButton" style=" border:none; width:100%; max-width:30px;" border="0" /><img src="template/Theme1_Standard/index_hover.png" class="hover" alt="Index" title="Index" id="xmlEditorIDXSidebarButtonHover" style=" border:none; width:100%; max-width:30px;" border="0" /></li>
					<li class="wTab" id="gloTabButton" data-contentid="gloTabPane" onmouseout="onTabHoverOut(this, 'tab')" data-class="wTab" ontouchend="onTabHoverOut(this, 'tab')" onclick="selectTab(this, 'tab')" ontouchstart="onTabHover(this, 'tab')" data-classhover="wTabHover" style="display: inline;" ontouchmove="onTabHoverOut(this, 'tab')" data-classsel="wTabSelected" onmouseover="onTabHover(this, 'tab')"><img src="template/Theme1_Standard/glo.png" class="normal" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButton" style=" border:none; width:100%; max-width:34px;" border="0" /><img src="template/Theme1_Standard/glo_hover.png" class="hover" alt="Glossary" title="Glossary" id="xmlEditorGLOSidebarButtonHover" style=" border:none; width:100%; max-width:34px;" border="0" /></li>
				</ul>
				<div class="wTabContentGroup">
					<div id="tocTabPane" class="wTabContent">
						<div id="toc" class="wTOCTree" tabindex="1352">
							
							
							
							
						</div>
					</div>
					<div id="idxTabPane" class="wTabContent">
						<div id="idx" class="wIndex">
							<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()"></input>
							
							
							
						</div>
					</div>
					<div id="gloTabPane" class="wTabContent">
						<div id="glo" class="wGlossary">
							<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()"></input>
							
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="closebutton buttonOpened">
				&#160; 
			</div>
		</div>
		<div class="content">
			<div class="desktop_functionholder">
				<div class="searchholder">
					<div class="wSearchField">
						<input id="searchBox" class="wSearchField" type="search" data-placeholder="-Search-" onkeydown="searchHelp(event, 'searchBox')" data-search="true" /><a class="wSearchLink" onclick="searchHelp(null, 'searchBox')" href="#"><img src="template/Theme1_Standard/Search.png" alt="" id="xmlEditwSearchLink" class="wSearchLink" border="0" style="width:100%; max-width:24px" /></a> 
						 
					</div>
				</div>
				<div class="home">
					<a href="iGovernance360_Overview.htm"><img src="template/Theme1_Standard/home.png" alt="" class="homebutton normal" id="xmlEditorHomeButton" border="0" style="width:100%; max-width:27px" /><img src="template/Theme1_Standard/home_hover.png" alt="" class="homebutton hover" id="xmlEditorHomeButtonHover" border="0" style="width:100%; max-width:27px" /></a> 
				</div>
				<div class="print">
					<a href="javascript:window.print()" class="wPrintButton"><img src="template/Theme1_Standard/Print.png" alt="" class="wPrintButton normal" id="xmlEditorPrintButton" border="0" style="width:100%; max-width:30px" /><img src="template/Theme1_Standard/Print_hover.png" alt="" class="wPrintButton hover" id="xmlEditorPrintButtonHover" border="0" style="width:100%; max-width:30px" /></a> 
				</div>
				<div class="brsBack">
					 
					 
				</div>
				<div class="brsNext">
					 
					 
				</div>
			</div>
			<div class="contentholder">
				<a name="content_top_placeholder"></a> 
				<div class="wTopic" id="rh_default_topic_placeholder_id">


     <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <span><a href="Archived_Alerts.htm" 
		 style="color: #008000;">Archived Alerts</a></span></p></td>
		<td>
  <p class="TableText" 
														 style="text-align: right;">&#160;</p></td>
	</tr>
 </table>
 <h1>Reports</h1>
 <p style="font-size: 13.3333px; line-height: normal; orphans: auto; display: inline	 ! important ; 
	 background-color: #ffffff;"><span style="widows: 1; -webkit-text-stroke-width: 0px;">Reports 
 are usually generated to provide detailed information that can be shared 
 across managers, business groups, or other stakeholders. Graphical reports 
 can also be used for presentations.</span></p>
 <p><span style="font-size: 13.3333px; line-height: normal; orphans: auto; 
		 widows: 1; -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
		 float: none; background-color: #ffffff;">Tuebora Portal generates 
 different types of reports based on the data collected from the Assets. 
 The reports available to you depend on the user role you are assigned 
 in Tuebora Portal. You can save these reports&#160;to your local computer 
 in</span> <span style="font-size: 13.3333px; line-height: normal; orphans: auto; 
				 widows: 1; -webkit-text-stroke-width: 0px; font-weight: bold; 
				 background-color: #ffffff;">PDF</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-size: 13.3333px; line-height: normal; orphans: auto; widows: 1; 
	 -webkit-text-stroke-width: 0px; display: inline	 ! important ; 
	 float: none; background-color: #ffffff;">and</span><span class="Apple-converted-space">&#160;</span><span 
	 style="font-size: 13.3333px; line-height: normal; orphans: auto; widows: 1; 
	 -webkit-text-stroke-width: 0px; font-weight: bold; background-color: #ffffff;">XLS</span><span 
	 class="Apple-converted-space">&#160;</span><span style="font-size: 13.3333px; 
														 line-height: normal; 
														 orphans: auto; 
														 widows: 1; -webkit-text-stroke-width: 0px; 
														 display: inline	 ! important ; 
														 float: none; background-color: #ffffff;">formats.</span></p>
 <p>Following table lists the Tuebora Portal reports that are available 
 to you based on the role you are assigned.</p>
 <table class="Table" style="margin-left: 12px;" cellspacing="0px" width="100%">
	<col style="width: 12.232%;" />
	<col style="width: 38.639%;" />
	<col style="width: 49.129%;" />
	<tr class="t1st" style="height: 41px;">
		<td>
  <p class="TableText" style="font-weight: bold; margin-top: 3pt; 
				 margin-bottom: 3pt;">End User Role</p></td>
		<td>
  <p style="text-align: left; font-weight: bold;">Reports</p></td>
		<td>
  <p class="TableText" style="font-weight: bold;">Description</p></td>
	</tr>
	<tr class="t2Row" style="height: 34px;">
		<td style="border-left: Solid 1px #808080; border-right: Solid 1px #808080; 
			 border-bottom-color: #808080; border-bottom-width: 1px;">
  <p 
			 class="TableText">Asset Owner</p></td>
		<td style="border-bottom-width: 1px;">
  <p class="TableText"><a name="Asset_Health" 
		 id="Asset_Health"></a>Asset Health</p></td>
		<td>
  <p class="TableText">Summary and detailed information about 
		 the health of the Asset that the Asset Onwer owns..</p></td>
	</tr>
	<tr class="t1Row" style="height: 30px;">
		<td rowspan="10" style="border-left: Solid 1px #808080; border-right: Solid 1px #808080; 
			 background-color: Transparent; border-bottom-color: #808080; 
			 border-bottom-width: 1px;">
  <p class="TableText"><a name="Supervisor1" 
		 id="Supervisor1"></a>Supervisor</p></td>
		<td style="border-bottom-width: 1px;">
  <p class="TableText">My Team 
		 - Access</p></td>
		<td>
  <p class="TableText">Access granted to your Team Members across 
		 all the Assets.</p></td>
	</tr>
	<tr class="t2Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">My Team 
		 - Privileged Access</p></td>
		<td>
  <p class="TableText">Privileged Access granted to your Team 
		 Members across all the Assets.</p></td>
	</tr>
	<tr class="t1Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">My Team 
		 - Never Certified Access</p></td>
		<td>
  <p class="TableText">Access that have never been certified 
		 but granted to your Team Members across all the Assets .</p></td>
	</tr>
	<tr class="t2Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">My Team 
		 - Access Control Violations to-date</p></td>
		<td>
  <p class="TableText">Access Control Violations (and the corresponding 
		 Remediation Status) to this date, for your Team Members across 
		 all the Assets.</p></td>
	</tr>
	<tr class="t1Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">My Team 
		 - Unapproved Access</p></td>
		<td>
  <p class="TableText">Access that is not approved for your Team 
		 Members, across all the Assets.</p></td>
	</tr>
	<tr class="t2Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">My Team 
		 - Temporary Access</p></td>
		<td>
  <p class="TableText">Temporary Access granted to your Team 
		 Members, across all the Assets.</p></td>
	</tr>
	<tr class="t1Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">My Team 
		 - Expired Access</p></td>
		<td>
  <p class="TableText">Access that has expired for your Team 
		 Members, across all the Assets.</p></td>
	</tr>
	<tr class="t2Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText"><span>My 
		 Team - Access Request Report</span></p></td>
		<td>
  <p class="TableText"><span>Lists all the Access Requests requested 
		 from your Team Members.</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText"><span>My 
		 Team User Asset Report: Group By - Asset</span></p></td>
		<td>
  <p class="TableText"><span>Lists all your team members who 
		 have Access across different Assets. Data is grouped by Asset.</span></p></td>
	</tr>
	<tr class="t2Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText"><span>My 
		 Team User Asset Report: Group By - User</span></p></td>
		<td>
  <p class="TableText"><span>Lists all your team members who 
		 have Access across different Assets. Data is grouped by Users.</span></p></td>
	</tr>
	<tr class="t1Row" style="height: 30px;">
		<td rowspan="7" style="border-left: Solid 1px #808080; border-right: Solid 1px #808080; 
			 background-color: Transparent; border-bottom-color: #808080; 
			 border-bottom-width: 1px;">
  <p class="TableText">Governance 
		 Team Member</p></td>
		<td style="border-bottom-width: 1px;">
  <p class="TableText">Orphaned 
		 Account Access</p></td>
		<td>
  <p class="TableText">Access granted to Orphaned Accounts across 
		 all the Assets.</p></td>
	</tr>
	<tr class="t2Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">Privileged 
		 Access</p></td>
		<td>
  <p class="TableText">Privileged Access granted to all users 
		 across all the Assets.</p></td>
	</tr>
	<tr class="t1Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">Orphaned 
		 Privileged Access</p></td>
		<td>
  <p class="TableText">Privileged Access granted to all Orphaned 
		 Accounts, across all the Assets.</p></td>
	</tr>
	<tr class="t2Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">Terminated 
		 User Access</p></td>
		<td>
  <p class="TableText">Access granted to Terminated Users across 
		 all the Assets.</p></td>
	</tr>
	<tr class="t1Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">Access 
		 Certification</p></td>
		<td>
  <p class="TableText">Summary of Access Certification recommendations 
		 for the last 180 days.</p></td>
	</tr>
	<tr class="t2Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">Control 
		 Execution</p></td>
		<td>
  <p class="TableText">Access Control Violations (and corresponding 
		 Remediation Status) to this date, for all users across all the 
		 Assets.</p></td>
	</tr>
	<tr class="t1Row" style="height: 30px;">
		<td style="border-bottom-width: 1px;">
  <p class="TableText">Certification 
		 Policy Execution Status</p></td>
		<td>
  <p class="TableText">Summary and status of Certification for 
		 a specific Certification Policy. This report is available only 
		 in <span style="font-weight: bold;">PDF</span> format.<br />
		<br />
		To view this report:</p>
		<p 
			 class="TableText"><span class="rls-1-BasicNumber">1.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Go to <span style="font-weight: bold;">MENU 
		 &gt; Certification Policies &gt; Enabled</span>.</p>
		<p class="TableText"><span class="rls-1-BasicNumber">2.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
		 the required policy and click <span style="font-weight: bold;">View 
		 &gt; View Summary</span>.<br />
		<br />
		The Policy Summary page opens.</p>
		<p class="TableText"><span class="rls-1-BasicNumber">3.</span><span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
		 <span style="font-weight: bold;">Export Policy Status as PDF</span> 
		 button.</p></td>
	</tr>
 </table>
 <p>To view the reports that are available for your user role:</p>
 <p>1<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Select 
 <span style="font-weight: bold;">MENU &gt; Reports</span>.<br />
<br />
The <span style="font-weight: bold;">Reports</span> page opens.</p>
 <p>2<span style='word-spacing:normal; font:6.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Click 
 the required report name or the corresponding <span style="font-weight: bold;">PDF</span> 
 or <span style="font-weight: bold;">XLS</span> icon to generate a report 
 in that format.</p>
 <table class="TwoColumnNOTETable" cellspacing="0" width="100%">
	<col style="width: 4.082%;" />
	<col style="width: 95.918%;" />
	<tr>
		<td style="vertical-align: top;"><img src="Button-info-icon.png" alt="" style=" border:none; width:100%; max-width:32px;" border="0" /></td>
		<td style="border-top: Solid 1px #808080; border-bottom: Solid 1px #808080;">
  <p 
			 class="TableText"><span style="font-weight: bold;">Note</span>: 
		 You can create PDF and/or XLS reports from the data available 
		 on most pages if it is displayed as data lists. You can create 
		 reports from these pages for your reference.<br />
		<br />
		All end users can create these reports if the Reports feature is 
		 available on a page they can access. For more information about 
		 generating reports, see <a href="Exporting_Reports_to_PDF_or_Excel_Format.htm">Generating 
		 Reports from Pages</a>.</p></td>
	</tr>
 </table>
 <p>&#160;</p>
 <table class="navigationhyperlink" cellspacing="0" width="100%">
	<col style="width: 50%;" />
	<col style="width: 50%;" />
	<tr>
		<td>
  <p class="TableText"><span 
		 style="font-weight: bold;">Previous</span>: <a 
		 href="Archived_Alerts.htm" style="color: #008000;"><span>Archived 
		 Alerts</span></a></p></td>
		<td>
  <p class="TableText" 
														 style="text-align: right;">&#160;</p></td>
	</tr>
 </table>
 <p>&#160;</p>
</div>
				
			</div>
			<div class="content_top_link">
				<span class="desktop"><a>&#160;</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="buttonbar">
	<div class="buttonbarholder topic_page_holder">
		<div class="bar_toc topic_page" id="xmlEditorButtonBarTOC" title="Table of Contents">
			<a href="table_of_contents.htm">&#160;</a> 
		</div>
		<div class="bar_index topic_page" id="xmlEditorButtonBarIDX" title="Index">
			<a href="index1.htm">&#160;</a> 
		</div>
		<div class="bar_glossary topic_page" id="xmlEditorButtonBarGLO" 
			 title="Glossary">
			<a href="glossary.htm">&#160;</a> 
		</div>
		<div class="bar_search topic_page" title="Search">
			<a href="searchresults.htm">&#160;</a> 
		</div>
	</div>
</div>
<div id="localisation">
	<p id="localisation_toc"><span>Table of Contents</span></p>
	<p id="localisation_idx"><span>Index</span></p>
	<p id="localisation_glo"><span>Glossary</span></p>
	<p id="localisation_fts"><span>-Search-</span></p>
	<p id="localisation_back"><span>Back</span></p>
</div>
<script type="text/javascript" src="template/Theme1_Standard/jquery.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/jqueryui-custom.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/overthrow.sidescroller.min.js" language="JavaScript1.2"></script>
<script type="text/javascript" src="template/Theme1_Standard/layout.js" language="JavaScript1.2"></script>
<script type="text/javascript" language="JavaScript1.2">//<![CDATA[
$(function(){
	addRhLoadCompleteEvent(setTopic);
});
//]]></script>
</body>
</html>
